---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:ALvCQtLO8gr1oWnd83lc8w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:ALvCQtLO8gr1oWnd83lc8w:EYM1MyJXdPAvCrpu
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/ldm?thumbnail=1","self":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a","clearCaches":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/clearCaches","invitations":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/invitations","users":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/uploads/","ldm":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/ldm","metadata":"/gdc/md/apwx2b3dramrent7l9evkyc1n2vgbv8a","publicartifacts":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/publicartifacts","roles":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/roles","userRoles":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/dataload","connectors":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/connectors","execute":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/execute","config":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/config","projectFeatureFlags":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/projectFeatureFlags","schedules":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/schedules","templates":"/gdc/md/apwx2b3dramrent7l9evkyc1n2vgbv8a/templates","eventstores":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        09:09:22","summary":"No summary","updated":"2018-06-05 09:09:22","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Test
        MASTER project for a344c2a4-3d08-44d3-8dfa-2e7bf27cf76c","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:09:23 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:FLAZSYO2ik9IQRAK7C2rHA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:FLAZSYO2ik9IQRAK7C2rHA:UiJEChPzbigEnJfV
      X-Gdc-Request-Time:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/ldm?thumbnail=1","self":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a","clearCaches":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/clearCaches","invitations":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/invitations","users":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/apwx2b3dramrent7l[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-a344c2a4-3d08-44d3-8dfa-2e7bf27cf76c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:ngkPO8eng3eBzSangn2l0A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:ngkPO8eng3eBzSangn2l0A:eX2wwiqCg3CMhx0t
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"segment":{"id":"segment-a344c2a4-3d08-44d3-8dfa-2e7bf27cf76c","masterProject":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a","links":{"self":"/gdc/domains/staging2-lcm-prod/segments/segment-a344c2a4-3d08-44d3-8dfa-2e7bf27cf76c","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/clients?segment=segment-a344c2a4-3d08-44d3-8dfa-2e7bf27cf76c&limit=1000"}}}'
  recorded_at: Tue, 05 Jun 2018 07:09:31 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients?segment=segment-a344c2a4-3d08-44d3-8dfa-2e7bf27cf76c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:yikb5INn_LH_wH4Gd1vb8g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:yikb5INn_LH_wH4Gd1vb8g:FkWYrKUDnKIAX3fm
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"clients":{"items":[],"paging":{"next":null}}}'
  recorded_at: Tue, 05 Jun 2018 07:09:32 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-a344c2a4-3d08-44d3-8dfa-2e7bf27cf76c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:IIQZSHM5I82poSb8u1Tn7g
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '28'
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:IIQZSHM5I82poSb8u1Tn7g:DJgQOGL8O3YDISGA
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 07:09:33 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/kcwct3bxu70okvmuoece7jbtijo6t2gq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:wJLegEjWpweSJ-3drxJ2rQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:wJLegEjWpweSJ-3drxJ2rQ:PyN9K3OvgAnsFHgJ
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPA[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/q7fjb8oan6xfnd426qmlmgdqez8cq23j
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - dC31Fwqi21EOD7DcCZxdHA:kYqgxezzIlp_X0yLuYNoDw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - dC31Fwqi21EOD7DcCZxdHA:kYqgxezzIlp_X0yLuYNoDw:wThMMkLaFoj37p2G
      X-Gdc-Request-Time:
      - '82'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPA[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Test MASTER project
        for 8b543f63-a290-40c0-af2a-caf832915864"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"PRODUCTION","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:4NG33q6nHclu9_w0MbDsIA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:4NG33q6nHclu9_w0MbDsIA:efDtuLO5WzuLeHIR
      X-Gdc-Request-Time:
      - '490'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/tq1c5txz6ryc3cunskwvgd1sel2g45l4"}'
  recorded_at: Wed, 10 Oct 2018 11:44:20 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/tq1c5txz6ryc3cunskwvgd1sel2g45l4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:rwL4rK6T_JZqUVeR_xRmkQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments
    body:
      encoding: UTF-8
      string: '{"segment":{"id":"segment-8b543f63-a290-40c0-af2a-caf832915864","masterProject":"/gdc/projects/tq1c5txz6ryc3cunskwvgd1sel2g45l4"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:4UlvtCWuLK9StwpA-xu7iQ
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments/segment-8b543f63-a290-40c0-af2a-caf832915864"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:4UlvtCWuLK9StwpA-xu7iQ:LVcuPAbNhmSA82sZ
      X-Gdc-Request-Time:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"segment":{"id":"segment-8b543f63-a290-40c0-af2a-caf832915864","masterProject":"/gdc/projects/tq1c5txz6ryc3cunskwvgd1sel2g45l4","links":{"self":"/gdc/domains/staging2-lcm-prod/segments/segment-8b543f63-a290-40c0-af2a-caf832915864","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/clients?segment=segment-8b543f63-a290-40c0-af2a-caf832915864&limit=1000"}}}'
  recorded_at: Wed, 10 Oct 2018 11:44:28 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:kAQJAIbuyE0KF7zsJ3phJw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:kAQJAIbuyE0KF7zsJ3phJw:uXZa805FNo6dO7Q1
      X-Gdc-Request-Time:
      - '13'
    body:
      encoding: ASCII-8BIT
      string: '{"dataProduct":{"id":"default","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default","domain":"/gdc/domains/staging2-lcm-prod","segments":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients"}}}'
  recorded_at: Wed, 10 Oct 2018 11:44:29 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-8b543f63-a290-40c0-af2a-caf832915864
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:AwZ-c8hLerlrXZmjq6KuJg
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '21'
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:AwZ-c8hLerlrXZmjq6KuJg:vofD42LmnlcmUEEP
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 11:44:31 GMT
recorded_with: VCR 4.0.0
