---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:T9jgtCC1Ou-TjFCqy5Pukg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:T9jgtCC1Ou-TjFCqy5Pukg:vlgcPiSkp7HRpHxx
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/ldm?thumbnail=1","self":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk","clearCaches":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/clearCaches","invitations":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/invitations","users":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/uploads/","ldm":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/ldm","metadata":"/gdc/md/xe0rb0a7rrjorv1omum0p5hryym9bzsk","publicartifacts":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/publicartifacts","roles":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/roles","userRoles":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/dataload","connectors":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/connectors","execute":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/execute","config":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/config","projectFeatureFlags":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/projectFeatureFlags","schedules":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/schedules","templates":"/gdc/md/xe0rb0a7rrjorv1omum0p5hryym9bzsk/templates","eventstores":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        09:09:10","summary":"No summary","updated":"2018-06-05 09:09:10","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Test
        MASTER project for ec8e1d8e-8a93-4d66-a44e-5db161f1510a","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:09:11 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:5vd01PRi0-1Ra3pq1uHjUg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:5vd01PRi0-1Ra3pq1uHjUg:nyKiksmL68AXPaB3
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/ldm?thumbnail=1","self":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk","clearCaches":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/clearCaches","invitations":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/invitations","users":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/xe0rb0a7rrjorv1om[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients?segment=segment-ec8e1d8e-8a93-4d66-a44e-5db161f1510a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:_O9TmeABke3ZNiAFjoMtpw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:_O9TmeABke3ZNiAFjoMtpw:OCydBvCD2GCgCcKp
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"clients":{"items":[],"paging":{"next":null}}}'
  recorded_at: Tue, 05 Jun 2018 07:09:21 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-ec8e1d8e-8a93-4d66-a44e-5db161f1510a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:cU-Lp5dY-FX10WoRTXhppw
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '22'
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:cU-Lp5dY-FX10WoRTXhppw:Tu0vwynLKjWYlGw1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 07:09:21 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Test MASTER project
        for 61207222-4f3c-46cc-85cd-48dc1715bfa6"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"PRODUCTION","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:ZF1JF7HVD5ZILZduKHmwkg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:ZF1JF7HVD5ZILZduKHmwkg:95sb43bbkA71VQRs
      X-Gdc-Request-Time:
      - '414'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/acy79m1hz0r1494mt13sntc8gh8mf5dl"}'
  recorded_at: Tue, 05 Jun 2018 07:13:22 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/acy79m1hz0r1494mt13sntc8gh8mf5dl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:zs2ey0hnLTLGS7QmDqYtLQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments
    body:
      encoding: UTF-8
      string: '{"segment":{"id":"segment-61207222-4f3c-46cc-85cd-48dc1715bfa6","masterProject":"/gdc/projects/acy79m1hz0r1494mt13sntc8gh8mf5dl"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:3ertak3qJ6KBxT9o8ALqug
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments/segment-61207222-4f3c-46cc-85cd-48dc1715bfa6"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:3ertak3qJ6KBxT9o8ALqug:A3YJEGreaqq3MNUM
      X-Gdc-Request-Time:
      - '46'
    body:
      encoding: ASCII-8BIT
      string: '{"segment":{"id":"segment-61207222-4f3c-46cc-85cd-48dc1715bfa6","masterProject":"/gdc/projects/acy79m1hz0r1494mt13sntc8gh8mf5dl","links":{"self":"/gdc/domains/staging2-lcm-prod/segments/segment-61207222-4f3c-46cc-85cd-48dc1715bfa6","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/clients?segment=segment-61207222-4f3c-46cc-85cd-48dc1715bfa6&limit=1000"}}}'
  recorded_at: Tue, 05 Jun 2018 07:13:30 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:ZLAnCagxlaRchg2XOwxe2A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:ZLAnCagxlaRchg2XOwxe2A:ql5TXcy7epcILBND
      X-Gdc-Request-Time:
      - '63'
    body:
      encoding: ASCII-8BIT
      string: '{"segments":{"items":[{"segment":{"id":"CAR_DEMO_PREMIUM_jan-zdrahal_local_20180502174216","masterProject":"/gdc/projects/ydu16jmfcrn2oc3cwtqd37vzdjlwlh5a","links":{"self":"/gdc/domains/staging2-lcm-prod/segments/CAR_DEMO_PREMIUM_jan-zdrahal_local_20180502174216","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/clients?segment=CAR_DEMO_PREMIUM_jan-zdrahal_local_20180502174216&limit=1000"}}},{"segment":{"id[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:tbe3SDKynSk7QHAFr832WA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:tbe3SDKynSk7QHAFr832WA:JCzGKllvxERta7C0
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"dataProduct":{"id":"default","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default","domain":"/gdc/domains/staging2-lcm-prod","segments":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients"}}}'
  recorded_at: Tue, 05 Jun 2018 07:13:32 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-61207222-4f3c-46cc-85cd-48dc1715bfa6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:KZzzhnChDM13PSVGvsXDhQ
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '24'
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:KZzzhnChDM13PSVGvsXDhQ:4AdavD7W4NWE6Xur
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 07:13:33 GMT
recorded_with: VCR 4.0.0
