---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:ALvCQtLO8gr1oWnd83lc8w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:ALvCQtLO8gr1oWnd83lc8w:EYM1MyJXdPAvCrpu
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/ldm?thumbnail=1","self":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a","clearCaches":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/clearCaches","invitations":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/invitations","users":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/uploads/","ldm":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/ldm","metadata":"/gdc/md/apwx2b3dramrent7l9evkyc1n2vgbv8a","publicartifacts":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/publicartifacts","roles":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/roles","userRoles":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/dataload","connectors":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/connectors","execute":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/execute","config":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/config","projectFeatureFlags":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/projectFeatureFlags","schedules":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/schedules","templates":"/gdc/md/apwx2b3dramrent7l9evkyc1n2vgbv8a/templates","eventstores":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        09:09:22","summary":"No summary","updated":"2018-06-05 09:09:22","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Test
        MASTER project for a344c2a4-3d08-44d3-8dfa-2e7bf27cf76c","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:09:23 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:FLAZSYO2ik9IQRAK7C2rHA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:FLAZSYO2ik9IQRAK7C2rHA:UiJEChPzbigEnJfV
      X-Gdc-Request-Time:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/ldm?thumbnail=1","self":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a","clearCaches":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/clearCaches","invitations":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/invitations","users":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/apwx2b3dramrent7l[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-a344c2a4-3d08-44d3-8dfa-2e7bf27cf76c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:ngkPO8eng3eBzSangn2l0A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:ngkPO8eng3eBzSangn2l0A:eX2wwiqCg3CMhx0t
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"segment":{"id":"segment-a344c2a4-3d08-44d3-8dfa-2e7bf27cf76c","masterProject":"/gdc/projects/apwx2b3dramrent7l9evkyc1n2vgbv8a","links":{"self":"/gdc/domains/staging2-lcm-prod/segments/segment-a344c2a4-3d08-44d3-8dfa-2e7bf27cf76c","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/clients?segment=segment-a344c2a4-3d08-44d3-8dfa-2e7bf27cf76c&limit=1000"}}}'
  recorded_at: Tue, 05 Jun 2018 07:09:31 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients?segment=segment-a344c2a4-3d08-44d3-8dfa-2e7bf27cf76c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:yikb5INn_LH_wH4Gd1vb8g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:yikb5INn_LH_wH4Gd1vb8g:FkWYrKUDnKIAX3fm
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"clients":{"items":[],"paging":{"next":null}}}'
  recorded_at: Tue, 05 Jun 2018 07:09:32 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-a344c2a4-3d08-44d3-8dfa-2e7bf27cf76c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:IIQZSHM5I82poSb8u1Tn7g
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '28'
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:IIQZSHM5I82poSb8u1Tn7g:DJgQOGL8O3YDISGA
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 07:09:33 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Test MASTER project
        for e49fd171-0540-4e03-8166-e4e5e57b8a1a"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"PRODUCTION","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:a4O2LjYezdsCo1jNM2nqwg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:a4O2LjYezdsCo1jNM2nqwg:xlBgLEdejKRZlQ0C
      X-Gdc-Request-Time:
      - '399'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/kcwct3bxu70okvmuoece7jbtijo6t2gq"}'
  recorded_at: Tue, 05 Jun 2018 07:13:35 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/kcwct3bxu70okvmuoece7jbtijo6t2gq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:wJLegEjWpweSJ-3drxJ2rQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments
    body:
      encoding: UTF-8
      string: '{"segment":{"id":"segment-e49fd171-0540-4e03-8166-e4e5e57b8a1a","masterProject":"/gdc/projects/kcwct3bxu70okvmuoece7jbtijo6t2gq"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:M_EutaL_OcmsVWOGp4rflQ
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments/segment-e49fd171-0540-4e03-8166-e4e5e57b8a1a"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:M_EutaL_OcmsVWOGp4rflQ:p2mNIcw9Foqe7Ni2
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"segment":{"id":"segment-e49fd171-0540-4e03-8166-e4e5e57b8a1a","masterProject":"/gdc/projects/kcwct3bxu70okvmuoece7jbtijo6t2gq","links":{"self":"/gdc/domains/staging2-lcm-prod/segments/segment-e49fd171-0540-4e03-8166-e4e5e57b8a1a","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/clients?segment=segment-e49fd171-0540-4e03-8166-e4e5e57b8a1a&limit=1000"}}}'
  recorded_at: Tue, 05 Jun 2018 07:13:43 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:NSxf0L_2_4r8m2k4F8lCGg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:NSxf0L_2_4r8m2k4F8lCGg:OfklcyHaLUmsH51q
      X-Gdc-Request-Time:
      - '15'
    body:
      encoding: ASCII-8BIT
      string: '{"dataProduct":{"id":"default","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default","domain":"/gdc/domains/staging2-lcm-prod","segments":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients"}}}'
  recorded_at: Tue, 05 Jun 2018 07:13:45 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-e49fd171-0540-4e03-8166-e4e5e57b8a1a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:2fau7-8mWZMXvdYqg0L06w
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '23'
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:2fau7-8mWZMXvdYqg0L06w:O5BmsO8UvCws9Dkq
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 07:13:46 GMT
recorded_with: VCR 4.0.0
