---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:T9jgtCC1Ou-TjFCqy5Pukg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:T9jgtCC1Ou-TjFCqy5Pukg:vlgcPiSkp7HRpHxx
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/ldm?thumbnail=1","self":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk","clearCaches":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/clearCaches","invitations":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/invitations","users":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/uploads/","ldm":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/ldm","metadata":"/gdc/md/xe0rb0a7rrjorv1omum0p5hryym9bzsk","publicartifacts":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/publicartifacts","roles":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/roles","userRoles":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/dataload","connectors":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/connectors","execute":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/execute","config":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/config","projectFeatureFlags":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/projectFeatureFlags","schedules":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/schedules","templates":"/gdc/md/xe0rb0a7rrjorv1omum0p5hryym9bzsk/templates","eventstores":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        09:09:10","summary":"No summary","updated":"2018-06-05 09:09:10","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Test
        MASTER project for ec8e1d8e-8a93-4d66-a44e-5db161f1510a","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:09:11 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:5vd01PRi0-1Ra3pq1uHjUg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:5vd01PRi0-1Ra3pq1uHjUg:nyKiksmL68AXPaB3
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/ldm?thumbnail=1","self":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk","clearCaches":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/clearCaches","invitations":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/invitations","users":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/xe0rb0a7rrjorv1om[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients?segment=segment-ec8e1d8e-8a93-4d66-a44e-5db161f1510a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:_O9TmeABke3ZNiAFjoMtpw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:_O9TmeABke3ZNiAFjoMtpw:OCydBvCD2GCgCcKp
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"clients":{"items":[],"paging":{"next":null}}}'
  recorded_at: Tue, 05 Jun 2018 07:09:21 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-ec8e1d8e-8a93-4d66-a44e-5db161f1510a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:cU-Lp5dY-FX10WoRTXhppw
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '22'
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:cU-Lp5dY-FX10WoRTXhppw:Tu0vwynLKjWYlGw1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 07:09:21 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/acy79m1hz0r1494mt13sntc8gh8mf5dl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:zs2ey0hnLTLGS7QmDqYtLQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:zs2ey0hnLTLGS7QmDqYtLQ:svFlWejh2tSRTV5b
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPA[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ys4mvlhkh3ori49gokiu9e20jtxqtq0n
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - dC31Fwqi21EOD7DcCZxdHA:jzgRw_5gVOZBq1LvXmTWww
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - dC31Fwqi21EOD7DcCZxdHA:jzgRw_5gVOZBq1LvXmTWww:qmvU1N5ctRc0zuul
      X-Gdc-Request-Time:
      - '90'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPA[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/sw42taizurl9wd7oiyidxawn59stduoc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:PcAXcd1X1VbQfnQ4vnkdPQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:PcAXcd1X1VbQfnQ4vnkdPQ:MeRVysTYycz48Fei
      X-Gdc-Request-Time:
      - '71'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADI[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Test MASTER project
        for 721400be-a088-4716-9406-d68d47b6dc54"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"PRODUCTION","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":UF0TYHa-j4yLI4zEcaJmtw:b-CuUO2KlNcaDJzWtE_0Rw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":UF0TYHa-j4yLI4zEcaJmtw:b-CuUO2KlNcaDJzWtE_0Rw:2P9bdJh078KZtlUS"
      X-Gdc-Request-Time:
      - '868'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/hkkuqw1dhxbhg7iajbqn09nr0tkz3a34"}'
  recorded_at: Thu, 24 Jan 2019 13:30:18 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/hkkuqw1dhxbhg7iajbqn09nr0tkz3a34
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":UF0TYHa-j4yLI4zEcaJmtw:FPGFb0B2tnVVRyjPv1nCjA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments
    body:
      encoding: UTF-8
      string: '{"segment":{"id":"segment-721400be-a088-4716-9406-d68d47b6dc54","masterProject":"/gdc/projects/hkkuqw1dhxbhg7iajbqn09nr0tkz3a34"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":UF0TYHa-j4yLI4zEcaJmtw:bqBOjXAncyy7mRox7nYNJQ"
      Stats-On:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments/segment-721400be-a088-4716-9406-d68d47b6dc54"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":UF0TYHa-j4yLI4zEcaJmtw:bqBOjXAncyy7mRox7nYNJQ:LXjLA1p9WTAHf5zY"
      X-Gdc-Request-Time:
      - '69'
    body:
      encoding: ASCII-8BIT
      string: '{"segment":{"id":"segment-721400be-a088-4716-9406-d68d47b6dc54","masterProject":"/gdc/projects/hkkuqw1dhxbhg7iajbqn09nr0tkz3a34","links":{"self":"/gdc/domains/staging2-lcm-prod/segments/segment-721400be-a088-4716-9406-d68d47b6dc54","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/clients?segment=segment-721400be-a088-4716-9406-d68d47b6dc54&limit=1000"}}}'
  recorded_at: Thu, 24 Jan 2019 13:30:27 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":UF0TYHa-j4yLI4zEcaJmtw:5psu4e2XZG9bz8qPQTY3tA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":UF0TYHa-j4yLI4zEcaJmtw:5psu4e2XZG9bz8qPQTY3tA:X8XdJq3JTEm7rItK"
      X-Gdc-Request-Time:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"segments":{"items":[{"segment":{"id":"CamSegment","masterProject":"/gdc/projects/aodrs4wo7pdka5hmnv6ukn3qu4nz3zag","links":{"self":"/gdc/domains/staging2-lcm-prod/segments/CamSegment","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/clients?segment=CamSegment&limit=1000"}}},{"segment":{"id":"CAR_DEMO_PREMIUM_jan-zdrahal_local_20180503221910","masterProject":"/gdc/projects/ce5m8zxubyur4o5j1cfpfuy78rdbfvzx[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":UF0TYHa-j4yLI4zEcaJmtw:Sey96KXCoCH4wMcqi-x4kA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":UF0TYHa-j4yLI4zEcaJmtw:Sey96KXCoCH4wMcqi-x4kA:FkStJ71jKFo91bFK"
      X-Gdc-Request-Time:
      - '13'
    body:
      encoding: ASCII-8BIT
      string: '{"dataProduct":{"id":"default","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default","domain":"/gdc/domains/staging2-lcm-prod","segments":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients"}}}'
  recorded_at: Thu, 24 Jan 2019 13:30:30 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-721400be-a088-4716-9406-d68d47b6dc54
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":UF0TYHa-j4yLI4zEcaJmtw:WQnzi5a46DEdH1MIhO5L6Q"
      Stats-On:
      - ''
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - ":UF0TYHa-j4yLI4zEcaJmtw:WQnzi5a46DEdH1MIhO5L6Q:6PGdVDTd2vEG9pya"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Jan 2019 13:30:31 GMT
recorded_with: VCR 4.0.0
