---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:T9jgtCC1Ou-TjFCqy5Pukg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:T9jgtCC1Ou-TjFCqy5Pukg:vlgcPiSkp7HRpHxx
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/ldm?thumbnail=1","self":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk","clearCaches":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/clearCaches","invitations":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/invitations","users":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/uploads/","ldm":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/ldm","metadata":"/gdc/md/xe0rb0a7rrjorv1omum0p5hryym9bzsk","publicartifacts":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/publicartifacts","roles":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/roles","userRoles":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/dataload","connectors":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/connectors","execute":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/execute","config":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/config","projectFeatureFlags":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/projectFeatureFlags","schedules":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/schedules","templates":"/gdc/md/xe0rb0a7rrjorv1omum0p5hryym9bzsk/templates","eventstores":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        09:09:10","summary":"No summary","updated":"2018-06-05 09:09:10","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Test
        MASTER project for ec8e1d8e-8a93-4d66-a44e-5db161f1510a","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:09:11 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:5vd01PRi0-1Ra3pq1uHjUg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:5vd01PRi0-1Ra3pq1uHjUg:nyKiksmL68AXPaB3
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/ldm?thumbnail=1","self":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk","clearCaches":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/clearCaches","invitations":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/invitations","users":"/gdc/projects/xe0rb0a7rrjorv1omum0p5hryym9bzsk/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/xe0rb0a7rrjorv1om[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients?segment=segment-ec8e1d8e-8a93-4d66-a44e-5db161f1510a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:_O9TmeABke3ZNiAFjoMtpw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:_O9TmeABke3ZNiAFjoMtpw:OCydBvCD2GCgCcKp
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"clients":{"items":[],"paging":{"next":null}}}'
  recorded_at: Tue, 05 Jun 2018 07:09:21 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-ec8e1d8e-8a93-4d66-a44e-5db161f1510a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:cU-Lp5dY-FX10WoRTXhppw
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '22'
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:cU-Lp5dY-FX10WoRTXhppw:Tu0vwynLKjWYlGw1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 07:09:21 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/acy79m1hz0r1494mt13sntc8gh8mf5dl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:zs2ey0hnLTLGS7QmDqYtLQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:zs2ey0hnLTLGS7QmDqYtLQ:svFlWejh2tSRTV5b
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPA[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ys4mvlhkh3ori49gokiu9e20jtxqtq0n
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - dC31Fwqi21EOD7DcCZxdHA:jzgRw_5gVOZBq1LvXmTWww
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - dC31Fwqi21EOD7DcCZxdHA:jzgRw_5gVOZBq1LvXmTWww:qmvU1N5ctRc0zuul
      X-Gdc-Request-Time:
      - '90'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPA[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/sw42taizurl9wd7oiyidxawn59stduoc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:PcAXcd1X1VbQfnQ4vnkdPQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:PcAXcd1X1VbQfnQ4vnkdPQ:MeRVysTYycz48Fei
      X-Gdc-Request-Time:
      - '71'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADI[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/hkkuqw1dhxbhg7iajbqn09nr0tkz3a34
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":UF0TYHa-j4yLI4zEcaJmtw:FPGFb0B2tnVVRyjPv1nCjA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":UF0TYHa-j4yLI4zEcaJmtw:FPGFb0B2tnVVRyjPv1nCjA:GLFuH13K2rrroD5N"
      X-Gdc-Request-Time:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADING"},"li[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Test MASTER project
        for 9c24d981-4502-4330-8805-f57344f22005"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"PRODUCTION","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:JZaFP1X4sP-xQ0Tcx4ACvQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '382'
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:JZaFP1X4sP-xQ0Tcx4ACvQ:N7eiFXmkk3ls5ZCO"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/v2dum2buailexadlg6k7wffdf84qy4bl"}'
  recorded_at: Wed, 15 Jan 2020 06:17:45 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/v2dum2buailexadlg6k7wffdf84qy4bl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:As4SIsdcY814iam4h9EKJQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '94'
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:As4SIsdcY814iam4h9EKJQ:xGGzL8Ft6vg9fl3O"
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADING"},"links":{"ldm_thumbnail":"/gdc/projects/v2dum2buailexadlg6k7wffdf84qy4bl/ldm?thumbnail=1","self":"/gdc/projects/v2dum2buailexadlg6k7wffdf84qy4bl","clearCaches":"/gdc/projects/v2dum2buailexadlg6k7wffdf84qy4bl/clearCaches","invitations":"/gdc/projects/v2dum2buailexadlg6k7wffdf84qy4bl/invitations","users":"/gdc/projects/v2dum2buailexadlg6k7wffdf84qy4bl/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/v2dum2buailexadlg6k7wffdf84qy4bl/checkXaeCompatibility","uploads":"/gdc/projects/v2dum2buailexadlg6k7wffdf84qy4bl/uploads/","ldm":"/gdc/projects/v2dum2buailexadlg6k7wffdf84qy4bl/ldm","metadata":"/gdc/md/v2dum2buailexadlg6k7wffdf84qy4bl","publicartifacts":"/gdc/projects/v2dum2buailexadlg6k7wffdf84qy4bl/publicartifacts","roles":"/gdc/projects/v2dum2buailexadlg6k7wffdf84qy4bl/roles","userRoles":"/gdc/projects/v2dum2buailexadlg6k7wffdf84qy4bl/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/v2dum2buailexadlg6k7wffdf84qy4bl/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/v2dum2buailexadlg6k7wffdf84qy4bl/dataload","connectors":"/gdc/projects/v2dum2buailexadlg6k7wffdf84qy4bl/connectors","execute":"/gdc/projects/v2dum2buailexadlg6k7wffdf84qy4bl/execute","config":"/gdc/projects/v2dum2buailexadlg6k7wffdf84qy4bl/config","projectFeatureFlags":"/gdc/projects/v2dum2buailexadlg6k7wffdf84qy4bl/projectFeatureFlags","schedules":"/gdc/projects/v2dum2buailexadlg6k7wffdf84qy4bl/schedules","templates":"/gdc/md/v2dum2buailexadlg6k7wffdf84qy4bl/templates"},"meta":{"created":"2020-01-15
        07:17:45","summary":"No summary","updated":"2020-01-15 07:17:46","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Test
        MASTER project for 9c24d981-4502-4330-8805-f57344f22005","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 15 Jan 2020 06:17:46 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments
    body:
      encoding: UTF-8
      string: '{"segment":{"id":"segment-9c24d981-4502-4330-8805-f57344f22005","masterProject":"/gdc/projects/v2dum2buailexadlg6k7wffdf84qy4bl"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:HChHLGd-wVBz-rc8wdoVEA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments/segment-9c24d981-4502-4330-8805-f57344f22005"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '54'
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:HChHLGd-wVBz-rc8wdoVEA:S3899i2b3D4rxSfV"
    body:
      encoding: ASCII-8BIT
      string: '{"segment":{"id":"segment-9c24d981-4502-4330-8805-f57344f22005","masterProject":"/gdc/projects/v2dum2buailexadlg6k7wffdf84qy4bl","links":{"self":"/gdc/domains/staging2-lcm-prod/segments/segment-9c24d981-4502-4330-8805-f57344f22005","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/clients?segment=segment-9c24d981-4502-4330-8805-f57344f22005&limit=1000"}}}'
  recorded_at: Wed, 15 Jan 2020 06:17:54 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:TPmy13kF_1lGSQwwX5CcuA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '47'
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:TPmy13kF_1lGSQwwX5CcuA:2Tn7UhsgmNqyKaeR"
    body:
      encoding: ASCII-8BIT
      string: '{"segments":{"items":[{"segment":{"id":"BichR178","masterProject":"/gdc/projects/tlinhadqemivywhuf3ud95m2gudzz5d4","links":{"self":"/gdc/domains/staging2-lcm-prod/segments/BichR178","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/clients?segment=BichR178&limit=1000"}}},{"segment":{"id":"BichR178-HLL","masterProject":"/gdc/projects/h9ix1f7f2851u500xjc3khwc7cf87gz6","links":{"self":"/gdc/domains/staging2-lc[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:mQxpcBAenvZ5DNGQWiOwTA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '13'
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:mQxpcBAenvZ5DNGQWiOwTA:seqKYRoXnxD0J2qj"
    body:
      encoding: ASCII-8BIT
      string: '{"dataProduct":{"id":"default","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default","domain":"/gdc/domains/staging2-lcm-prod","segments":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients"}}}'
  recorded_at: Wed, 15 Jan 2020 06:17:57 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-9c24d981-4502-4330-8805-f57344f22005
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:aHkSEsyn2Hd6Bv6cU4AnNg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '26'
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:aHkSEsyn2Hd6Bv6cU4AnNg:VGR7H89MxZDRnQSY"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 15 Jan 2020 06:17:58 GMT
recorded_with: VCR 5.0.0
