---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/bav7wral7tm7r4ha3b633bow6knpvsts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jXXK8Ai8DxkrxNgS67robg:Oc0t1rIE58gBsNvj0t1aaw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - jXXK8Ai8DxkrxNgS67robg:Oc0t1rIE58gBsNvj0t1aaw:mrjpg4YIMTn4bKJw
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/bav7wral7tm7r4ha3b633bow6knpvsts/ldm?thumbnail=1","self":"/gdc/projects/bav7wral7tm7r4ha3b633bow6knpvsts","clearCaches":"/gdc/projects/bav7wral7tm7r4ha3b633bow6knpvsts/clearCaches","invitations":"/gdc/projects/bav7wral7tm7r4ha3b633bow6knpvsts/invitations","users":"/gdc/projects/bav7wral7tm7r4ha3b633bow6knpvsts/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/bav7wral7tm7r4ha3b633bow6knpvsts/uploads/","ldm":"/gdc/projects/bav7wral7tm7r4ha3b633bow6knpvsts/ldm","metadata":"/gdc/md/bav7wral7tm7r4ha3b633bow6knpvsts","publicartifacts":"/gdc/projects/bav7wral7tm7r4ha3b633bow6knpvsts/publicartifacts","roles":"/gdc/projects/bav7wral7tm7r4ha3b633bow6knpvsts/roles","userRoles":"/gdc/projects/bav7wral7tm7r4ha3b633bow6knpvsts/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/bav7wral7tm7r4ha3b633bow6knpvsts/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/bav7wral7tm7r4ha3b633bow6knpvsts/dataload","connectors":"/gdc/projects/bav7wral7tm7r4ha3b633bow6knpvsts/connectors","execute":"/gdc/projects/bav7wral7tm7r4ha3b633bow6knpvsts/execute","config":"/gdc/projects/bav7wral7tm7r4ha3b633bow6knpvsts/config","projectFeatureFlags":"/gdc/projects/bav7wral7tm7r4ha3b633bow6knpvsts/projectFeatureFlags","schedules":"/gdc/projects/bav7wral7tm7r4ha3b633bow6knpvsts/schedules","templates":"/gdc/md/bav7wral7tm7r4ha3b633bow6knpvsts/templates"},"meta":{"created":"2018-10-09
        18:10:33","summary":"No summary","updated":"2018-10-09 18:10:33","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 09 Oct 2018 16:10:34 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/bav7wral7tm7r4ha3b633bow6knpvsts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jXXK8Ai8DxkrxNgS67robg:KqecNXf6N7uEcKFf1BOcPg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - jXXK8Ai8DxkrxNgS67robg:KqecNXf6N7uEcKFf1BOcPg:jpk8vEfzxYtKZxCj
      X-Gdc-Request-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/bav7wral7tm7r4ha3b633bow6knpvsts/ldm?thumbnail=1","self":"/gdc/projects/bav7wral7tm7r4ha3b633bow6knpvsts","clearCaches":"/gdc/projects/bav7wral7tm7r4ha3b633bow6knpvsts/clearCaches","invitations":"/gdc/projects/bav7wral7tm7r4ha3b633bow6knpvsts/invitations","users":"/gdc/projects/bav7wral7tm7r4ha3b633bow6knpvsts/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/bav7wral7tm7r4ha3[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/1539101440/abc-16:55:29+ha%23he.csv20181009-59344-fg3zhb
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/uploads/1539101440/abc-16%3A55%3A29%2Bha%23he.csv20181009-59344-fg3zhb
      Content-Type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/uploads/1539101440/abc-16%3A55%3A29%2Bha%23he.csv20181009-59344-fg3zhb has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 16:10:42 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/1539101440/abc-16:55:29+ha%23he.csv20181009-59344-fg3zhb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 09 Oct 2018 16:10:42 GMT
      Etag:
      - '"44-577cdfac6f7df"'
    body:
      encoding: UTF-8
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
  recorded_at: Tue, 09 Oct 2018 16:10:44 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/hubmb2fcvdwh7wp4y05xe7xsx3c65c3i
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - TNvGvV3gL6AvlZTDs6E6xQ:Y4AQDV-V1Am7ycBrgFjyNQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - TNvGvV3gL6AvlZTDs6E6xQ:Y4AQDV-V1Am7ycBrgFjyNQ:coKK2HbzPk4KFeJ8
      X-Gdc-Request-Time:
      - '79'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/1539104994/abc-16:55:29+ha%23he.csv20181009-60999-1jqrdkz
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/uploads/1539104994/abc-16%3A55%3A29%2Bha%23he.csv20181009-60999-1jqrdkz
      Content-Type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/uploads/1539104994/abc-16%3A55%3A29%2Bha%23he.csv20181009-60999-1jqrdkz has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:09:56 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/vibgymiisisy9id0dwfqstpl1akunvnj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - xBDeAwc58oPejFmj6hJXVQ:791Up_0EwClIr4A3e-hD1w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - xBDeAwc58oPejFmj6hJXVQ:791Up_0EwClIr4A3e-hD1w:9oXC6wR7wkXnHYHb
      X-Gdc-Request-Time:
      - '68'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/1539106547/abc-16:55:29+ha%23he.csv20181009-62241-glg5lu
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/uploads/1539106547/abc-16%3A55%3A29%2Bha%23he.csv20181009-62241-glg5lu
      Content-Type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/uploads/1539106547/abc-16%3A55%3A29%2Bha%23he.csv20181009-62241-glg5lu has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:35:49 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/nbkedc08zvq08et5x22oe7kmmpdighe3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - S3oH1u4qTb6jLxvCmdGg-g:KJlW9pvr6PwmjpWrLjs2yQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - S3oH1u4qTb6jLxvCmdGg-g:KJlW9pvr6PwmjpWrLjs2yQ:7bN8pm3wD3wxPsJg
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/abc-16:55:29+ha%23he.csv20181010-67137-1w3cd5n
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/abc-16%3A55%3A29%2Bha%23he.csv20181010-67137-1w3cd5n
      Content-Type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/uploads/testdir/abc-16%3A55%3A29%2Bha%23he.csv20181010-67137-1w3cd5n has been created.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 07:41:20 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z29hwdnksry9cw2ze93mkq6f3d293gl4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - HydzbXIWN1AUlEH1hFZL3g:C9OFbwZCLcq25MnUndi0uQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - HydzbXIWN1AUlEH1hFZL3g:C9OFbwZCLcq25MnUndi0uQ:Y5j1tVbjN2p22WRD
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.2 Final//EN\">\n<html>\n
        <head>\n  <title>Index of /gdc/uploads/testdir</title>\n </head>\n <body>\n<h1>Index
        of /gdc/uploads/testdir</h1>\n<pre>      <a href=\"?C=N;O=D\">Name</a>                    <a
        href=\"?C=M;O=A\">Last modified</a>      <a href=\"?C=S;O=A\">Size</a>  <a
        href=\"?C=D;O=A\">Description</a><hr>      <a href=\"/gdc/uploads/\">Parent
        Directory</a>                             -   \n      <a href=\"./abc-16:55:29+ha%23he.csv20181010-67137-1w3cd5n\">abc-16:55:29+ha#he.c..&gt;</a>
        2018-10-10 09:41   68   \n      <a href=\"test-ci-data.csv\">test-ci-data.csv</a>
        \       2018-10-10 09:41   68   \n      <a href=\"testdir/\">testdir/</a>
        \               2018-10-10 09:39    -   \n<hr></pre>\n</body></html>\n"
  recorded_at: Wed, 10 Oct 2018 08:27:30 GMT
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/abc-16:55:29+ha%23he.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/abc-16%3A55%3A29%2Bha%23he.csv
      Content-Type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/uploads/testdir/abc-16%3A55%3A29%2Bha%23he.csv has been created.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 08:27:31 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - HydzbXIWN1AUlEH1hFZL3g:ZKviQ2iHaxGYosy5kXYVFA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - HydzbXIWN1AUlEH1hFZL3g:ZKviQ2iHaxGYosy5kXYVFA:t9eQgv2dItkKOTFz
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Wed, 10 Oct 2018 08:27:32 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - PI2bywrQ2RlIeoUsqzU_Qw:bItNOnsdiAdjBxsfCzYvBg
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - PI2bywrQ2RlIeoUsqzU_Qw:bItNOnsdiAdjBxsfCzYvBg:Od9E9lyNsmGsMkgQ
      X-Gdc-Request-Time:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 11:08:21 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - PI2bywrQ2RlIeoUsqzU_Qw:r6r4HuckM7ylnl7t0R9wdA
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - PI2bywrQ2RlIeoUsqzU_Qw:r6r4HuckM7ylnl7t0R9wdA:ck3dq7JTudQz6VO6
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 11:08:22 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - PI2bywrQ2RlIeoUsqzU_Qw:5ce501Qkua2G1c9a2k6MbA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - PI2bywrQ2RlIeoUsqzU_Qw:5ce501Qkua2G1c9a2k6MbA:L8B7s2ig353JbxHU
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-10-10
        10:25:03","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","language":"en-US","timezone":null,"ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Wed, 10 Oct 2018 11:08:22 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Project for schedule
        testing"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - PI2bywrQ2RlIeoUsqzU_Qw:OX4YDw9AGbOW6rae8fcrtw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - PI2bywrQ2RlIeoUsqzU_Qw:OX4YDw9AGbOW6rae8fcrtw:4oOM1jgAdAQZziFq
      X-Gdc-Request-Time:
      - '465'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/ef6z51qdyvm0sh62oo65d85irlzvm8a2"}'
  recorded_at: Wed, 10 Oct 2018 11:08:24 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ef6z51qdyvm0sh62oo65d85irlzvm8a2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - PI2bywrQ2RlIeoUsqzU_Qw:WzUg5pxb0rqto41W6HoR0A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Basic realm="GoodData project data staging area"
      - GoodData realm="GoodData project data staging area" cookie=GDCAuthTT location=https://staging2.intgdc.com/gdc/account/token
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>401 Unauthorized</title>
        </head><body>
        <h1>Unauthorized</h1>
        <p>This server could not verify that you
        are authorized to access the document
        requested.  Either you supplied the wrong
        credentials (e.g., bad password), or your
        browser doesn't understand how to supply
        the credentials required.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 11:39:45 GMT
[...]
- request:
    method: mkcol
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 405
      message: Method Not Allowed
    headers:
      Allow:
      - ''
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>405 Method Not Allowed</title>
        </head><body>
        <h1>Method Not Allowed</h1>
        <p>The requested method MKCOL is not allowed for the URL /gdc/uploads/testdir/.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 11:39:48 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 2XhFGG3Jk4Poa9KXSaI-zQ:AOfVRRxAlm0-6LRI3h1KBA
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '21'
      X-Gdc-Request:
      - 2XhFGG3Jk4Poa9KXSaI-zQ:AOfVRRxAlm0-6LRI3h1KBA:N59eVHblN6N44UZ1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 11:39:51 GMT
recorded_with: VCR 4.0.0
