---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - BsTowwP3cHmM36VMbwlvpQ:sGziLFtqKZ7DzoVemC8dEg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - BsTowwP3cHmM36VMbwlvpQ:sGziLFtqKZ7DzoVemC8dEg:RFrCbT55JTS4TI7E
      X-Gdc-Request-Time:
      - '57'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/ldm?thumbnail=1","self":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo","clearCaches":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/clearCaches","invitations":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/invitations","users":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/uploads/","ldm":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/ldm","metadata":"/gdc/md/qyaflwbyrf88unw5jzmba1hjlfy6wnqo","publicartifacts":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/publicartifacts","roles":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/roles","userRoles":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/dataload","connectors":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/connectors","execute":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/execute","config":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/config","projectFeatureFlags":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/projectFeatureFlags","schedules":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/schedules","templates":"/gdc/md/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/templates"},"meta":{"created":"2018-10-09
        18:10:16","summary":"No summary","updated":"2018-10-09 18:10:17","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 09 Oct 2018 16:10:17 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - BsTowwP3cHmM36VMbwlvpQ:tqRBa-IF8bYEqKDZQjMykg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - BsTowwP3cHmM36VMbwlvpQ:tqRBa-IF8bYEqKDZQjMykg:t0D1oJ9U1JSee6RP
      X-Gdc-Request-Time:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/ldm?thumbnail=1","self":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo","clearCaches":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/clearCaches","invitations":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/invitations","users":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/qyaflwbyrf88unw5j[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/dnh9spiq2eog0wucat42wp4zojqmqdig
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - eIBC71aFjAg-LaghxppG0Q:yBTAjICBsYCBXbFZmNEhjw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - eIBC71aFjAg-LaghxppG0Q:yBTAjICBsYCBXbFZmNEhjw:cFTTxvvfx2qIEmy4
      X-Gdc-Request-Time:
      - '72'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/pxps9q6wtbx3sjf6a89zm2u10ki9g97e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - MiLTR7iL_rimXr8y9kWLTw:cqozEh0d3-rZeV_YthFpfQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - MiLTR7iL_rimXr8y9kWLTw:cqozEh0d3-rZeV_YthFpfQ:JZiycb3TOoklLRAc
      X-Gdc-Request-Time:
      - '61'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: mkcol
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/1539106532/
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/uploads/1539106532/
      Content-Type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Collection /gdc/uploads/1539106532/ has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:35:33 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/iyrsqpksqycyvpf7ighq1gfhi3b6ky1l
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - PP-9cmYJ7YtR8nKGjBk_aw:-OHplHaYKxkeOGfNEjpSeA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - PP-9cmYJ7YtR8nKGjBk_aw:-OHplHaYKxkeOGfNEjpSeA:aoOuffTsVQqK530Q
      X-Gdc-Request-Time:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/g5h6ptblww322l3q0hfjxwtrfnx9csu1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gWv_Fu6ltGHxkta8f2HE2A:BccDerc1xWkBbKYPtLtAug
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - gWv_Fu6ltGHxkta8f2HE2A:BccDerc1xWkBbKYPtLtAug:POUPnSoeSoGzFb60
      X-Gdc-Request-Time:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Siycee91Rkw5Zylb8CSKog:d4uGgXAIErDU4g_TPOkzMg"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - GoodData realm="GoodData API" cookie=GDCAuthSST location=/gdc/account/login
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '15'
      X-Gdc-Request:
      - ":Siycee91Rkw5Zylb8CSKog:d4uGgXAIErDU4g_TPOkzMg:sdWyXQA6h1IkhEgW"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 24 Jan 2019 12:32:23 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":0-evqK58khM-3ooce2AuVw:whsG6LgY292QY2TRpZTtfg"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - ":0-evqK58khM-3ooce2AuVw:whsG6LgY292QY2TRpZTtfg:9PmtbkQ0hdu9OVBo"
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 24 Jan 2019 13:22:23 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/sk961e6w77eb9u8kl2d842ohabmfovm1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":0-evqK58khM-3ooce2AuVw:jelbB7fvR-a2UyVV52Kymg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":0-evqK58khM-3ooce2AuVw:jelbB7fvR-a2UyVV52Kymg:wF4bEFIRzUxk0f1y"
      X-Gdc-Request-Time:
      - '88'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"lin[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":wpBh2r1UV7llL1tv5tIMsA:Cyr0Ve-vgOSvUg9GE2D86w"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request-Time:
      - '19'
      X-Gdc-Request:
      - ":wpBh2r1UV7llL1tv5tIMsA:Cyr0Ve-vgOSvUg9GE2D86w:Q0VPzmju73fAgZPI"
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 06:13:11 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/t0qynznnd8w8mydnjv4y3uk1iani53qs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":wpBh2r1UV7llL1tv5tIMsA:b6QgWPIyiLAuwASM8I2MBg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '59'
      X-Gdc-Request:
      - ":wpBh2r1UV7llL1tv5tIMsA:b6QgWPIyiLAuwASM8I2MBg:ndgpG5nqgHYigKB1"
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADING"},"links":{"ldm_thumbnail":"/gdc/projects/t0qynznnd8w8mydnjv4y3uk1iani53qs/ldm?thumbnail=1","self":"/gdc/projects/t0qynznnd8w8mydnjv4y3uk1iani53qs","clearCaches":"/gdc/projects/t0qynznnd8w8mydnjv4y3uk1iani53qs/clearCaches","invitations":"/gdc/projects/t0qynznnd8w8mydnjv4y3uk1iani53qs/invitations","users":"/gdc/projects/t0qynznnd8w8mydnjv4y3uk1iani53qs/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/t0qynznnd8w8mydnjv4y3uk1iani53qs/checkXaeCompatibility","uploads":"/gdc/projects/t0qynznnd8w8mydnjv4y3uk1iani53qs/uploads/","ldm":"/gdc/projects/t0qynznnd8w8mydnjv4y3uk1iani53qs/ldm","metadata":"/gdc/md/t0qynznnd8w8mydnjv4y3uk1iani53qs","publicartifacts":"/gdc/projects/t0qynznnd8w8mydnjv4y3uk1iani53qs/publicartifacts","roles":"/gdc/projects/t0qynznnd8w8mydnjv4y3uk1iani53qs/roles","userRoles":"/gdc/projects/t0qynznnd8w8mydnjv4y3uk1iani53qs/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/t0qynznnd8w8mydnjv4y3uk1iani53qs/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/t0qynznnd8w8mydnjv4y3uk1iani53qs/dataload","connectors":"/gdc/projects/t0qynznnd8w8mydnjv4y3uk1iani53qs/connectors","execute":"/gdc/projects/t0qynznnd8w8mydnjv4y3uk1iani53qs/execute","config":"/gdc/projects/t0qynznnd8w8mydnjv4y3uk1iani53qs/config","projectFeatureFlags":"/gdc/projects/t0qynznnd8w8mydnjv4y3uk1iani53qs/projectFeatureFlags","schedules":"/gdc/projects/t0qynznnd8w8mydnjv4y3uk1iani53qs/schedules","templates":"/gdc/md/t0qynznnd8w8mydnjv4y3uk1iani53qs/templates"},"meta":{"created":"2020-01-15
        07:13:14","summary":"No summary","updated":"2020-01-15 07:13:15","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 15 Jan 2020 06:13:15 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.2 Final//EN\">\n<html>\n\
        \ <head>\n  <title>Index of /gdc/uploads/testdir</title>\n </head>\n <body>\n\
        <h1>Index of /gdc/uploads/testdir</h1>\n<pre>      <a href=\"?C=N;O=D\">Name</a>\
        \                    <a href=\"?C=M;O=A\">Last modified</a>      <a href=\"\
        ?C=S;O=A\">Size</a>  <a href=\"?C=D;O=A\">Description</a><hr>      <a href=\"\
        /gdc/uploads/\">Parent Directory</a>                             -   \n  \
        \    <a href=\"./abc-16:55:29+ha%23he.csv\">abc-16:55:29+ha#he.csv</a>  2020-01-15\
        \ 04:38   68   \n      <a href=\"test-ci-data.csv\">test-ci-data.csv</a> \
        \       2020-01-15 07:13   68   \n      <a href=\"testdir/\">testdir/</a>\
        \                2020-01-15 07:11    -   \n<hr></pre>\n</body></html>\n"
  recorded_at: Wed, 15 Jan 2020 06:13:24 GMT
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/csv
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 15 Jan 2020 06:13:25 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/test-ci-data.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 15 Jan 2020 06:13:25 GMT
      Etag:
      - '"44-59c279b37216a"'
      Content-Type:
      - text/csv
    body:
      encoding: UTF-8
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
  recorded_at: Wed, 15 Jan 2020 06:13:27 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":l_hHJ41l7pCpPkpIq128pQ:Ahxp6xko3QN6GvAe9LI4zw"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '29'
      X-Gdc-Request:
      - ":l_hHJ41l7pCpPkpIq128pQ:Ahxp6xko3QN6GvAe9LI4zw:nmDIrpCUnmCU2zmT"
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 07:07:35 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":l_hHJ41l7pCpPkpIq128pQ:GR3iQIlUYgnZgamxPU9-3A"
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '10'
      X-Gdc-Request:
      - ":l_hHJ41l7pCpPkpIq128pQ:GR3iQIlUYgnZgamxPU9-3A:BN3lSy7yuOUxU8mc"
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2019-03-15 10:00:00","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Wed, 15 Jan 2020 07:07:37 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":l_hHJ41l7pCpPkpIq128pQ:HA1K-w9B0CG6Hc0PXH3Rvg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '32'
      X-Gdc-Request:
      - ":l_hHJ41l7pCpPkpIq128pQ:HA1K-w9B0CG6Hc0PXH3Rvg:qm9qLlqUAwec4rU3"
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Wed, 15 Jan 2020 07:07:38 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Project for schedule
        testing"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":l_hHJ41l7pCpPkpIq128pQ:Ec11DG4r8l9RE9nzn5_qIg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '371'
      X-Gdc-Request:
      - ":l_hHJ41l7pCpPkpIq128pQ:Ec11DG4r8l9RE9nzn5_qIg:kRUMFRzxymzFcPYX"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/h3q8z8fklraaur74dw8yr88g0iqvu7vz"}'
  recorded_at: Wed, 15 Jan 2020 07:07:39 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/h3q8z8fklraaur74dw8yr88g0iqvu7vz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":l_hHJ41l7pCpPkpIq128pQ:5s6seW2OaH_k8NGBhQwbYg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-H[...]
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":EQlJlnm4qOET_ZOpo0fS_Q:Q_q0raLpcGW7zSH5pVAroA"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Tries:
      - '0'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '19'
      X-Gdc-Request:
      - ":EQlJlnm4qOET_ZOpo0fS_Q:Q_q0raLpcGW7zSH5pVAroA:SfweSRjCulE3KUPA"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 15 Jan 2020 07:07:54 GMT
recorded_with: VCR 5.0.0
