---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - BsTowwP3cHmM36VMbwlvpQ:sGziLFtqKZ7DzoVemC8dEg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - BsTowwP3cHmM36VMbwlvpQ:sGziLFtqKZ7DzoVemC8dEg:RFrCbT55JTS4TI7E
      X-Gdc-Request-Time:
      - '57'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/ldm?thumbnail=1","self":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo","clearCaches":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/clearCaches","invitations":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/invitations","users":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/uploads/","ldm":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/ldm","metadata":"/gdc/md/qyaflwbyrf88unw5jzmba1hjlfy6wnqo","publicartifacts":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/publicartifacts","roles":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/roles","userRoles":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/dataload","connectors":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/connectors","execute":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/execute","config":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/config","projectFeatureFlags":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/projectFeatureFlags","schedules":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/schedules","templates":"/gdc/md/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/templates"},"meta":{"created":"2018-10-09
        18:10:16","summary":"No summary","updated":"2018-10-09 18:10:17","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 09 Oct 2018 16:10:17 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - BsTowwP3cHmM36VMbwlvpQ:tqRBa-IF8bYEqKDZQjMykg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - BsTowwP3cHmM36VMbwlvpQ:tqRBa-IF8bYEqKDZQjMykg:t0D1oJ9U1JSee6RP
      X-Gdc-Request-Time:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/ldm?thumbnail=1","self":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo","clearCaches":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/clearCaches","invitations":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/invitations","users":"/gdc/projects/qyaflwbyrf88unw5jzmba1hjlfy6wnqo/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/qyaflwbyrf88unw5j[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/dnh9spiq2eog0wucat42wp4zojqmqdig
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - eIBC71aFjAg-LaghxppG0Q:yBTAjICBsYCBXbFZmNEhjw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - eIBC71aFjAg-LaghxppG0Q:yBTAjICBsYCBXbFZmNEhjw:cFTTxvvfx2qIEmy4
      X-Gdc-Request-Time:
      - '72'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/pxps9q6wtbx3sjf6a89zm2u10ki9g97e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - MiLTR7iL_rimXr8y9kWLTw:cqozEh0d3-rZeV_YthFpfQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - MiLTR7iL_rimXr8y9kWLTw:cqozEh0d3-rZeV_YthFpfQ:JZiycb3TOoklLRAc
      X-Gdc-Request-Time:
      - '61'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: mkcol
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/1539106532/
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/uploads/1539106532/
      Content-Type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Collection /gdc/uploads/1539106532/ has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:35:33 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/iyrsqpksqycyvpf7ighq1gfhi3b6ky1l
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - PP-9cmYJ7YtR8nKGjBk_aw:-OHplHaYKxkeOGfNEjpSeA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - PP-9cmYJ7YtR8nKGjBk_aw:-OHplHaYKxkeOGfNEjpSeA:aoOuffTsVQqK530Q
      X-Gdc-Request-Time:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.2 Final//EN\">\n<html>\n
        <head>\n  <title>Index of /gdc/uploads/testdir</title>\n </head>\n <body>\n<h1>Index
        of /gdc/uploads/testdir</h1>\n<pre>      <a href=\"?C=N;O=D\">Name</a>                    <a
        href=\"?C=M;O=A\">Last modified</a>      <a href=\"?C=S;O=A\">Size</a>  <a
        href=\"?C=D;O=A\">Description</a><hr>      <a href=\"/gdc/uploads/\">Parent
        Directory</a>                             -   \n      <a href=\"test-ci-data.csv\">test-ci-data.csv</a>
        \       2018-10-10 09:40   68   \n      <a href=\"testdir/\">testdir/</a>
        \               2018-10-10 09:39    -   \n<hr></pre>\n</body></html>\n"
  recorded_at: Wed, 10 Oct 2018 07:41:02 GMT
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/csv
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 07:41:03 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/test-ci-data.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 10 Oct 2018 07:41:03 GMT
      Etag:
      - '"44-577daf9f2386d"'
      Content-Type:
      - text/csv
    body:
      encoding: UTF-8
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
  recorded_at: Wed, 10 Oct 2018 07:41:04 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - gWv_Fu6ltGHxkta8f2HE2A:6Nsk2zJz_dJTofX9bUDr4g
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - gWv_Fu6ltGHxkta8f2HE2A:6Nsk2zJz_dJTofX9bUDr4g:4Se4NCI0gl8ktdAW
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 11:08:06 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gWv_Fu6ltGHxkta8f2HE2A:w5q09h4kx3i3GQwTnesaHA
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - gWv_Fu6ltGHxkta8f2HE2A:w5q09h4kx3i3GQwTnesaHA:lt221NtPcuSsC2EW
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 11:08:06 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gWv_Fu6ltGHxkta8f2HE2A:LCuyrkInH6tYi7zrxCIwsg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - gWv_Fu6ltGHxkta8f2HE2A:LCuyrkInH6tYi7zrxCIwsg:sfqAXPzE32L12Y3A
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-10-10
        10:25:03","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","timezone":null,"language":"en-US","ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Wed, 10 Oct 2018 11:08:07 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gWv_Fu6ltGHxkta8f2HE2A:z6yBbBEnI6ycteRWlSyLQg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - gWv_Fu6ltGHxkta8f2HE2A:z6yBbBEnI6ycteRWlSyLQg:5xaOClizZ4c6rqjy
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Wed, 10 Oct 2018 11:08:07 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Project for schedule
        testing"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gWv_Fu6ltGHxkta8f2HE2A:SZUsKFiSRRDZijIarGbtIA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - gWv_Fu6ltGHxkta8f2HE2A:SZUsKFiSRRDZijIarGbtIA:I76e37pi4OqcnrnM
      X-Gdc-Request-Time:
      - '525'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/g5h6ptblww322l3q0hfjxwtrfnx9csu1"}'
  recorded_at: Wed, 10 Oct 2018 11:08:09 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/g5h6ptblww322l3q0hfjxwtrfnx9csu1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gWv_Fu6ltGHxkta8f2HE2A:BccDerc1xWkBbKYPtLtAug
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - nZQMJ0vBj8xDRLPBJEumVw:hnNtH-e055Rbj_F7BDpR0Q
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - nZQMJ0vBj8xDRLPBJEumVw:hnNtH-e055Rbj_F7BDpR0Q:poUDy2rpWrU30VlM
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 11:08:20 GMT
recorded_with: VCR 4.0.0
