---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/enl2ex2hguhzbeajuxgf6385nfimsymk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 3CRVQNX0qv-fIj_deNuqdA:8ew5UBG0ChdttemhAq5R_w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 3CRVQNX0qv-fIj_deNuqdA:8ew5UBG0ChdttemhAq5R_w:J1IGbU503AXYk1Ua
      X-Gdc-Request-Time:
      - '54'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/enl2ex2hguhzbeajuxgf6385nfimsymk/ldm?thumbnail=1","self":"/gdc/projects/enl2ex2hguhzbeajuxgf6385nfimsymk","clearCaches":"/gdc/projects/enl2ex2hguhzbeajuxgf6385nfimsymk/clearCaches","invitations":"/gdc/projects/enl2ex2hguhzbeajuxgf6385nfimsymk/invitations","users":"/gdc/projects/enl2ex2hguhzbeajuxgf6385nfimsymk/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/enl2ex2hguhzbeajuxgf6385nfimsymk/uploads/","ldm":"/gdc/projects/enl2ex2hguhzbeajuxgf6385nfimsymk/ldm","metadata":"/gdc/md/enl2ex2hguhzbeajuxgf6385nfimsymk","publicartifacts":"/gdc/projects/enl2ex2hguhzbeajuxgf6385nfimsymk/publicartifacts","roles":"/gdc/projects/enl2ex2hguhzbeajuxgf6385nfimsymk/roles","userRoles":"/gdc/projects/enl2ex2hguhzbeajuxgf6385nfimsymk/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/enl2ex2hguhzbeajuxgf6385nfimsymk/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/enl2ex2hguhzbeajuxgf6385nfimsymk/dataload","connectors":"/gdc/projects/enl2ex2hguhzbeajuxgf6385nfimsymk/connectors","execute":"/gdc/projects/enl2ex2hguhzbeajuxgf6385nfimsymk/execute","config":"/gdc/projects/enl2ex2hguhzbeajuxgf6385nfimsymk/config","projectFeatureFlags":"/gdc/projects/enl2ex2hguhzbeajuxgf6385nfimsymk/projectFeatureFlags","schedules":"/gdc/projects/enl2ex2hguhzbeajuxgf6385nfimsymk/schedules","templates":"/gdc/md/enl2ex2hguhzbeajuxgf6385nfimsymk/templates"},"meta":{"created":"2018-10-09
        18:10:02","summary":"No summary","updated":"2018-10-09 18:10:02","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 09 Oct 2018 16:10:03 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/enl2ex2hguhzbeajuxgf6385nfimsymk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 3CRVQNX0qv-fIj_deNuqdA:HAaZykIf29wJDZEda6Ou7g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 3CRVQNX0qv-fIj_deNuqdA:HAaZykIf29wJDZEda6Ou7g:dCiH31aYU505l2fE
      X-Gdc-Request-Time:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/enl2ex2hguhzbeajuxgf6385nfimsymk/ldm?thumbnail=1","self":"/gdc/projects/enl2ex2hguhzbeajuxgf6385nfimsymk","clearCaches":"/gdc/projects/enl2ex2hguhzbeajuxgf6385nfimsymk/clearCaches","invitations":"/gdc/projects/enl2ex2hguhzbeajuxgf6385nfimsymk/invitations","users":"/gdc/projects/enl2ex2hguhzbeajuxgf6385nfimsymk/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/enl2ex2hguhzbeaju[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/y7s5i3iauovs34o1wurfcuwp7l220e04
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - w_lkBXNyRQmoDH2zzs1eMw:CS3wryFhwosf7_uGGn3Plw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - w_lkBXNyRQmoDH2zzs1eMw:CS3wryFhwosf7_uGGn3Plw:S6flexOLpos4DGts
      X-Gdc-Request-Time:
      - '74'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/t4xlyor7ersdsfpxm7khqlskk7v66l18
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - aAg8YjBelunB48V3PqtAEQ:q7DMifF4U2UTl3s4cARf2g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - aAg8YjBelunB48V3PqtAEQ:q7DMifF4U2UTl3s4cARf2g:TZv08CDFuvGVPvuF
      X-Gdc-Request-Time:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: mkcol
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/1539106517/
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/uploads/1539106517/
      Content-Type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Collection /gdc/uploads/1539106517/ has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:35:18 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/xx35l0mjucuqs09bpps390yoalwrrukz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LMHUE8Axu_oCxvOG7lq7FQ:cCUTj7c5ST3beR6DG9EE8w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LMHUE8Axu_oCxvOG7lq7FQ:cCUTj7c5ST3beR6DG9EE8w:1loq4Z7CdrjiGZ2U
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.2 Final//EN\">\n<html>\n
        <head>\n  <title>Index of /gdc/uploads/testdir</title>\n </head>\n <body>\n<h1>Index
        of /gdc/uploads/testdir</h1>\n<pre>      <a href=\"?C=N;O=D\">Name</a>                    <a
        href=\"?C=M;O=A\">Last modified</a>      <a href=\"?C=S;O=A\">Size</a>  <a
        href=\"?C=D;O=A\">Description</a><hr>      <a href=\"/gdc/uploads/\">Parent
        Directory</a>                             -   \n      <a href=\"test-ci-data.csv\">test-ci-data.csv</a>
        \       2018-10-10 09:38   68   \n      <a href=\"testdir/\">testdir/</a>
        \               2018-10-10 09:39    -   \n<hr></pre>\n</body></html>\n"
  recorded_at: Wed, 10 Oct 2018 07:40:46 GMT
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/csv
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 07:40:47 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/test-ci-data.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 10 Oct 2018 07:40:47 GMT
      Etag:
      - '"44-577daf8fd9b06"'
      Content-Type:
      - text/csv
    body:
      encoding: UTF-8
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
  recorded_at: Wed, 10 Oct 2018 07:40:49 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - Y4uqw7vC3smIQhaDY_j8cQ:kLfucXxkGT01CFHQxv3obw
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Y4uqw7vC3smIQhaDY_j8cQ:kLfucXxkGT01CFHQxv3obw:wgnFNOObNYqS90jp
      X-Gdc-Request-Time:
      - '56'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 11:07:50 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Y4uqw7vC3smIQhaDY_j8cQ:VJPOgcVTdXLk1jduhMXWQQ
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - Y4uqw7vC3smIQhaDY_j8cQ:VJPOgcVTdXLk1jduhMXWQQ:R7Nw28l3IfBx10ZT
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 11:07:51 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Y4uqw7vC3smIQhaDY_j8cQ:VxfpX3j5GI5KPHnElDPmCQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Y4uqw7vC3smIQhaDY_j8cQ:VxfpX3j5GI5KPHnElDPmCQ:jAf3upOwoCziWMfi
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-10-10
        10:25:03","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","language":"en-US","timezone":null,"ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Wed, 10 Oct 2018 11:07:51 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Y4uqw7vC3smIQhaDY_j8cQ:ulz60jj8HVJj_HBXBzdg6Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Y4uqw7vC3smIQhaDY_j8cQ:ulz60jj8HVJj_HBXBzdg6Q:3M0hXGxroFCrmSKf
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Wed, 10 Oct 2018 11:07:52 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Project for schedule
        testing"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Y4uqw7vC3smIQhaDY_j8cQ:AbCddLjkQI0emaCORYo8Ug
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Y4uqw7vC3smIQhaDY_j8cQ:AbCddLjkQI0emaCORYo8Ug:3gWhopgMk7CoZvFt
      X-Gdc-Request-Time:
      - '413'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/o81nmwzd6i7bay48x2mzdtkaa6xlasrf"}'
  recorded_at: Wed, 10 Oct 2018 11:07:53 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/o81nmwzd6i7bay48x2mzdtkaa6xlasrf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Y4uqw7vC3smIQhaDY_j8cQ:NAtvpeVX9Qsw-tq4ky8dBA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0yWXO7Q9xDOK5rzLjI1iIQ:SNmtKXz6xCf4ALNNHrEcjQ
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '26'
      X-Gdc-Request:
      - 0yWXO7Q9xDOK5rzLjI1iIQ:SNmtKXz6xCf4ALNNHrEcjQ:aMwIpjLRsOAA1My3
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 11:08:05 GMT
recorded_with: VCR 4.0.0
