---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:knQlQTzDvZvt1K8eNOFsIg
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:knQlQTzDvZvt1K8eNOFsIg:I5sQu4zTmZFvYath
      X-Gdc-Request-Time:
      - '62'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Tue, 05 Jun 2018 06:06:40 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:UdO-EcYaGwzYUckmcDuEdg
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:UdO-EcYaGwzYUckmcDuEdg:CAKVrdHuwzYfFZCu
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Tue, 05 Jun 2018 06:06:40 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:aYpihFaCfKrCkNTYsI1lAQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:aYpihFaCfKrCkNTYsI1lAQ:ISWTgzC11rGwQitT
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-06-04
        11:38:25","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","timezone":null,"language":"en-US","ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Tue, 05 Jun 2018 06:06:41 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:obDchtLQONI23zXRaAb6KA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:obDchtLQONI23zXRaAb6KA:6y6emckxEpfvDZOm
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Tue, 05 Jun 2018 06:06:41 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"RubyGem Dev Week
        test"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:BS1dm9PCEwLAwgftrGGFzg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:BS1dm9PCEwLAwgftrGGFzg:YkUYaj5R2b9Jwfi0
      X-Gdc-Request-Time:
      - '628'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc"}'
  recorded_at: Tue, 05 Jun 2018 06:06:43 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:eK9CoBfCKYsOe5epW0DoSw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:eK9CoBfCKYsOe5epW0DoSw:noewYbZ1NxV9wdXX
      X-Gdc-Request-Time:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/ldm?thumbnail=1","self":"/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc","clearCaches":"/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/clearCaches","invitations":"/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/invitations","users":"/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/uploads/","ldm":"/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/ldm","metadata":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc","publicartifacts":"/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/publicartifacts","roles":"/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/roles","userRoles":"/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/dataload","connectors":"/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/connectors","execute":"/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/execute","config":"/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/config","projectFeatureFlags":"/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/projectFeatureFlags","schedules":"/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/schedules","templates":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/templates","eventstores":"/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        08:06:42","summary":"No summary","updated":"2018-06-05 08:06:43","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"RubyGem
        Dev Week test","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 06:06:43 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"This is
        anchor description","defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"some_attr_id","title":"Repository
        Name","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_attr_label_id","title":"Repository
        Name","type":"GDC.text","dataType":"VARCHAR(10000)"}}],"defaultLabel":"some_attr_label_id"}}],"facts":[],"references":[]}},{"dataset":{"identifier":"dataset.devs","title":"Developers","anchor":{"attribute":{"identifier":"attr.devs.dev_id","title":"Dev","folder":"Anchor
        folder","labels":[{"label":{"identifier":"label.devs.dev_id.id","title":"Id","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.devs.dev_id.email","title":"Email","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.devs.dev_id.email"}},"attributes":[],"facts":[],"references":[]}},{"dataset":{"identifier":"dataset.commits","title":"Commits","anchor":{"attribute":{"identifier":"attr.commits.factsof","title":"Attr.Commits.Factsof","folder":"Commits"}},"attributes":[],"facts":[{"fact":{"identifier":"fact.commits.lines_changed","title":"Lines
        Changed","folder":"Commits","dataType":"DECIMAL(12,2)","type":"fact","description":"Fact
        description"}}],"references":["committed_on","dataset.devs","dataset.repos"]}}],"dateDimensions":[{"dateDimension":{"name":"committed_on","title":"Committed
        On"}}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:J3SP0KvculeZvfkoVPT8dA
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/model/diff/1615ba8da146916246ec1c644d98961801cd73acdb31a3360000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:J3SP0KvculeZvfkoVPT8dA:5JLGjPJwwN1kzeMI
      X-Gdc-Request-Time:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/model/diff/1615ba8da146916246ec1c644d98961801cd73acdb31a3360000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 06:06:51 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/model/diff/1615ba8da146916246ec1c644d98961801cd73acdb31a3360000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:WYAZoFA5oYQeiqZP442Fxg
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/model/diff/1615ba8da146916246ec1c644d98961801cd73acdb31a3360000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:WYAZoFA5oYQeiqZP442Fxg:fqULmNJhTrP8d026
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/model/diff/1615ba8da146916246ec1c644d98961801cd73acdb31a3360000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 06:06:51 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/model/diff/1615ba8da146916246ec1c644d98961801cd73acdb31a3360000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:PP2nJGo5AWIwyZ13r9Vu0w
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:PP2nJGo5AWIwyZ13r9Vu0w:cXDeFJuxwcVLeBx5
      X-Gdc-Request-Time:
      - '55'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"dataset.create","dataset":"dataset.repos","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Repositories"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.devs","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Developers"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.commits","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Commits"]}},{"updateOperation":{"type":"date-dimension.create","destructive":false,"description":"Create
        date dimension ''%s''","parameters":["Committed On[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:zPK9yjSUdj8fGYxHcmnWAA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:zPK9yjSUdj8fGYxHcmnWAA:jb79vEIZDNI6RcOv
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''z5iop7sasguqdc9rlkmgmsrc1shtepkc''","category":"project","instance":"z5iop7sasguqdc9rlkmgmsrc1shtepkc","links":[{"link":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","ca[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:PGLqdUc8cYPlT4ZDoMqqbg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.repos} VISUAL(TITLE \"Repositories\");\nCREATE
        DATASET {dataset.devs} VISUAL(TITLE \"Developers\");\nCREATE DATASET {dataset.commits}
        VISUAL(TITLE \"Commits\");\nINCLUDE TEMPLATE \"URN:GOODDATA:DATE\" MODIFY
        (IDENTIFIER \"committed_on\", TITLE \"Committed On\");\nCREATE FOLDER {dim.folderedrepos}
        VISUAL(TITLE \"Foldered Repos\") TYPE ATTRIBUTE;\nCREATE ATTRIBUTE {attr.repos.repo_id}
        VISUAL(TITLE \"Repository Id\", DESCRIPTION \"Thi[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/tasks/77e0e2d908c4ba9a102f7f46998a63290000002a/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:ATmbwfvUWpJh4lYaBbSTsw
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:ATmbwfvUWpJh4lYaBbSTsw:IRRic1PDh6k3oTuC
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/tasks/77e0e2d908c4ba9a102f7f46998a63290000002a/status","status":"RUNNING","links":{"poll":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/tasks/77e0e2d908c4ba9a102f7f46998a63290000002a/status"}}}'
  recorded_at: Tue, 05 Jun 2018 06:07:05 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - D7rHoRVWsi_EPRMJK6ZoXg:8L-ryv-M2txh_mvXbYbNAQ
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '24'
      X-Gdc-Request:
      - D7rHoRVWsi_EPRMJK6ZoXg:8L-ryv-M2txh_mvXbYbNAQ:trDZSaWkK9X86P0Q
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 06:09:49 GMT
recorded_with: VCR 4.0.0
