---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:Fi3H3nF_AohwXjydT12pdQ"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:Fi3H3nF_AohwXjydT12pdQ:0FFn2JTnVxVdmQ4l"
      X-Gdc-Request-Time:
      - '75'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Tue, 02 Apr 2019 12:37:45 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:MpvQcKgWA2pCoc6mUyBQYA"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:MpvQcKgWA2pCoc6mUyBQYA:LxyglHrqqd1NtUTW"
      X-Gdc-Request-Time:
      - '16'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Tue, 02 Apr 2019 12:37:46 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:yOfwKJQ4VkwQ9bV1AAbl7w"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:yOfwKJQ4VkwQ9bV1AAbl7w:xr1IGsdxCmgJjiC5"
      X-Gdc-Request-Time:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2019-03-15 10:00:00","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Tue, 02 Apr 2019 12:37:46 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:K954ZW3dMXzGUdMsQRJERQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:K954ZW3dMXzGUdMsQRJERQ:uMy8tohQBvEJSPoK"
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Tue, 02 Apr 2019 12:37:47 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"RubyGem Dev Week
        test"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:ZFQZPx-qCBdP7r3BMKeUXw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:ZFQZPx-qCBdP7r3BMKeUXw:y3MgkkBFQiUNZ4HL"
      X-Gdc-Request-Time:
      - '545'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/rakn8r1j0jkko753ktiicz89xz6p3ddl"}'
  recorded_at: Tue, 02 Apr 2019 12:37:48 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rakn8r1j0jkko753ktiicz89xz6p3ddl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:UN5MKsTNMZ6bbktJC-pSdA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:UN5MKsTNMZ6bbktJC-pSdA:gsPkZDOjNyX8kR5m"
      X-Gdc-Request-Time:
      - '54'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/rakn8r1j0jkko753ktiicz89xz6p3ddl/ldm?thumbnail=1","self":"/gdc/projects/rakn8r1j0jkko753ktiicz89xz6p3ddl","clearCaches":"/gdc/projects/rakn8r1j0jkko753ktiicz89xz6p3ddl/clearCaches","invitations":"/gdc/projects/rakn8r1j0jkko753ktiicz89xz6p3ddl/invitations","users":"/gdc/projects/rakn8r1j0jkko753ktiicz89xz6p3ddl/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/rakn8r1j0jkko753ktiicz89xz6p3ddl/checkXaeCompatibility","uploads":"/gdc/projects/rakn8r1j0jkko753ktiicz89xz6p3ddl/uploads/","ldm":"/gdc/projects/rakn8r1j0jkko753ktiicz89xz6p3ddl/ldm","metadata":"/gdc/md/rakn8r1j0jkko753ktiicz89xz6p3ddl","publicartifacts":"/gdc/projects/rakn8r1j0jkko753ktiicz89xz6p3ddl/publicartifacts","roles":"/gdc/projects/rakn8r1j0jkko753ktiicz89xz6p3ddl/roles","userRoles":"/gdc/projects/rakn8r1j0jkko753ktiicz89xz6p3ddl/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/rakn8r1j0jkko753ktiicz89xz6p3ddl/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/rakn8r1j0jkko753ktiicz89xz6p3ddl/dataload","connectors":"/gdc/projects/rakn8r1j0jkko753ktiicz89xz6p3ddl/connectors","execute":"/gdc/projects/rakn8r1j0jkko753ktiicz89xz6p3ddl/execute","config":"/gdc/projects/rakn8r1j0jkko753ktiicz89xz6p3ddl/config","projectFeatureFlags":"/gdc/projects/rakn8r1j0jkko753ktiicz89xz6p3ddl/projectFeatureFlags","schedules":"/gdc/projects/rakn8r1j0jkko753ktiicz89xz6p3ddl/schedules","templates":"/gdc/md/rakn8r1j0jkko753ktiicz89xz6p3ddl/templates"},"meta":{"created":"2019-04-02
        14:37:51","summary":"No summary","updated":"2019-04-02 14:37:51","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"RubyGem
        Dev Week test","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 02 Apr 2019 12:37:49 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rakn8r1j0jkko753ktiicz89xz6p3ddl/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"This is
        anchor description","defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"some_attr_id","title":"Repository
        Name","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_attr_label_id","title":"Repository
        Name","type":"GDC.text","dataType":"VARCHAR(10000)"}}],"defaultLabel":"some_attr_label_id"}}],"facts":[],"references":[],"bridges":[]}},{"dataset":{"identifier":"dataset.devs","title":"Developers","anchor":{"attribute":{"identifier":"attr.devs.dev_id","title":"Dev","folder":"Anchor
        folder","labels":[{"label":{"identifier":"label.devs.dev_id.id","title":"Id","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.devs.dev_id.email","title":"Email","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.devs.dev_id.email"}},"attributes":[],"facts":[],"references":[],"bridges":["dataset.commits"]}},{"dataset":{"identifier":"dataset.commits","title":"Commits","anchor":{"attribute":{"identifier":"attr.commits.factsof","title":"Attr.Commits.Factsof","folder":"Commits"}},"attributes":[],"facts":[{"fact":{"identifier":"fact.commits.lines_changed","title":"Lines
        Changed","folder":"Commits","dataType":"DECIMAL(12,2)","type":"fact","description":"Fact
        description"}}],"references":["committed_on","dataset.devs","dataset.repos"],"bridges":[]}}],"dateDimensions":[{"dateDimension":{"name":"committed_on","title":"Committed
        On","bridges":[]}}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:YEIg7mFMj-7PTKj8DtJQBw"
      Stats-On:
      - ''
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/rakn8r1j0jkko753ktiicz89xz6p3ddl/model/diff/6ad92fc750e6609418e635813134f67da911b61c8662c6e300000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:YEIg7mFMj-7PTKj8DtJQBw:GbuSkwRVIqKjmKie"
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/rakn8r1j0jkko753ktiicz89xz6p3ddl/model/diff/6ad92fc750e6609418e635813134f67da911b61c8662c6e300000018"}}}'
  recorded_at: Tue, 02 Apr 2019 12:37:57 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rakn8r1j0jkko753ktiicz89xz6p3ddl/model/diff/6ad92fc750e6609418e635813134f67da911b61c8662c6e300000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:YomhFVqE9XujZ4RA7mVQGQ"
      Process:
      - 'false'
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:YomhFVqE9XujZ4RA7mVQGQ:bCFAhzkMpJCyuRJS"
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"dataset.create","dataset":"dataset.repos","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Repositories"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.devs","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Developers"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.commits","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Commits"]}},{"updateOperation":{"type":"date-dimension.create","destructive":false,"description":"Create
        date dimension ''%s''","parameters":["Committed On[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/rakn8r1j0jkko753ktiicz89xz6p3ddl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:j09DZKdDk-7ppabFWJ8eLQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:j09DZKdDk-7ppabFWJ8eLQ:L4EwZy9QwXo8y9bP"
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''rakn8r1j0jkko753ktiicz89xz6p3ddl''","category":"project","instance":"rakn8r1j0jkko753ktiicz89xz6p3ddl","links":[{"link":"/gdc/md/rakn8r1j0jkko753ktiicz89xz6p3ddl/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/rakn8r1j0jkko753ktiicz89xz6p3ddl/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/rakn8r1j0jkko753ktiicz89xz6p3ddl/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","ca[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/rakn8r1j0jkko753ktiicz89xz6p3ddl/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:8yl2xfme3tLudcIrJEnhIQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Typ[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/rakn8r1j0jkko753ktiicz89xz6p3ddl/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.repos} VISUAL(TITLE \"Repositories\");\nCREATE
        DATASET {dataset.devs} VISUAL(TITLE \"Developers\");\nCREATE DATASET {dataset.commits}
        VISUAL(TITLE \"Commits\");\nINCLUDE TEMPLATE \"URN:GOODDATA:DATE\" MODIFY
        (IDENTIFIER \"committed_on\", TITLE \"Committed On\");\nCREATE FOLDER {dim.commits}
        VISUAL(TITLE \"Commits\") TYPE ATTRIBUTE;\nCREATE ATTRIBUTE {attr.commits.factsof}
        VISUAL(TITLE \"Attr.Commits.Factsof\", FOLDER {dim.commits})[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/rakn8r1j0jkko753ktiicz89xz6p3ddl/tasks/2ba4bc1643ca10e4ffbe89d1b22fa08900000007/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:xpg2ucU8q-3VBrQ_OaZBew"
      Process:
      - 'true'
      Stats-On:
      - ''
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:xpg2ucU8q-3VBrQ_OaZBew:s8KGCmgI0W5dM7xT"
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/rakn8r1j0jkko753ktiicz89xz6p3ddl/tasks/2ba4bc1643ca10e4ffbe89d1b22fa08900000007/status","status":"RUNNING","links":{"poll":"/gdc/md/rakn8r1j0jkko753ktiicz89xz6p3ddl/tasks/2ba4bc1643ca10e4ffbe89d1b22fa08900000007/status"}}}'
  recorded_at: Tue, 02 Apr 2019 12:38:03 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ooU4A9bfksGaP7IVNaPQwQ:Pm2AwvtxGx7RP8kYyULXDQ"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Tries:
      - '0'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '24'
      X-Gdc-Request:
      - ":ooU4A9bfksGaP7IVNaPQwQ:Pm2AwvtxGx7RP8kYyULXDQ:O5z9SToyx0qeQteJ"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 02 Apr 2019 12:40:16 GMT
recorded_with: VCR 4.0.0
