---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:Lep4C8toyrNXMz3psX9Uww"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:Lep4C8toyrNXMz3psX9Uww:mb9Jwp8U0WgtMhE2"
      X-Gdc-Request-Time:
      - '51'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/ldm?thumbnail=1","self":"/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe","clearCaches":"/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/clearCaches","invitations":"/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/invitations","users":"/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/checkXaeCompatibility","uploads":"/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/uploads/","ldm":"/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/ldm","metadata":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe","publicartifacts":"/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/publicartifacts","roles":"/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/roles","userRoles":"/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/dataload","connectors":"/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/connectors","execute":"/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/execute","config":"/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/config","projectFeatureFlags":"/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/projectFeatureFlags","schedules":"/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/schedules","templates":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/templates"},"meta":{"created":"2019-04-10
        10:57:01","summary":"No summary","updated":"2019-04-10 10:57:02","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"RubyGem
        Dev Week test","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 10 Apr 2019 08:57:03 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:qN9QqdbEmGtKijQN85GFmA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:qN9QqdbEmGtKijQN85GFmA:GIAGSUkyHMoBwFAK"
      X-Gdc-Request-Time:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/ldm?thumbnail=1","self":"/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe","clearCaches":"/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/clearCaches","invitations":"/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/invitations","users":"/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/z73[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"This is
        anchor description","defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"some_attr_id","title":"Repository
        Name","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_attr_label_id","title":"Repository
        Name","type":"GDC.text","dataType":"VARCHAR(10000)"}}],"defaultLabel":"some_attr_label_id"}}],"facts":[],"references":[],"bridges":[]}},{"dataset":{"identifier":"dataset.devs","title":"Developers","anchor":{"attribute":{"identifier":"attr.devs.dev_id","title":"Dev","folder":"Anchor
        folder","labels":[{"label":{"identifier":"label.devs.dev_id.id","title":"Id","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.devs.dev_id.email","title":"Email","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.devs.dev_id.email"}},"attributes":[],"facts":[],"references":[],"bridges":["dataset.commits"]}},{"dataset":{"identifier":"dataset.commits","title":"Commits","anchor":{"attribute":{"identifier":"attr.commits.factsof","title":"Attr.Commits.Factsof","folder":"Commits"}},"attributes":[],"facts":[{"fact":{"identifier":"fact.commits.lines_changed","title":"Lines
        Changed","folder":"Commits","dataType":"DECIMAL(12,2)","type":"fact","description":"Fact
        description"}}],"references":["committed_on","dataset.devs","dataset.repos"],"bridges":[]}}],"dateDimensions":[{"dateDimension":{"name":"committed_on","title":"Committed
        On","bridges":[]}}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:CWg0SD-hZDWc0qLtegfmxg"
      Stats-On:
      - ''
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/model/diff/3de62c0f2cb8833d2bc4490b9bfb73d681e297d65c127c2500000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:CWg0SD-hZDWc0qLtegfmxg:vcYLd51rlTZo0kpk"
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/model/diff/3de62c0f2cb8833d2bc4490b9bfb73d681e297d65c127c2500000018"}}}'
  recorded_at: Wed, 10 Apr 2019 08:57:10 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/model/diff/3de62c0f2cb8833d2bc4490b9bfb73d681e297d65c127c2500000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:gRo_KYhs_tJ3XKBOntUJcA"
      Process:
      - 'false'
      Stats-On:
      - ''
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/model/diff/3de62c0f2cb8833d2bc4490b9bfb73d681e297d65c127c2500000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:gRo_KYhs_tJ3XKBOntUJcA:nBcXvxRdi929DDpK"
      X-Gdc-Request-Time:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/model/diff/3de62c0f2cb8833d2bc4490b9bfb73d681e297d65c127c2500000018"}}}'
  recorded_at: Wed, 10 Apr 2019 08:57:10 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/model/diff/3de62c0f2cb8833d2bc4490b9bfb73d681e297d65c127c2500000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:bAX1n0PwVfztbaXWsbtR1g"
      Process:
      - 'false'
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:bAX1n0PwVfztbaXWsbtR1g:BJD6ajt4qYmQ7ExQ"
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"dataset.create","dataset":"dataset.repos","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Repositories"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.devs","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Developers"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.commits","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Commits"]}},{"updateOperation":{"type":"date-dimension.create","destructive":false,"description":"Create
        date dimension ''%s''","parameters":["Committed On[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:8a_b2hLOhAaSmA6Gh3bf8w"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:8a_b2hLOhAaSmA6Gh3bf8w:NTWSfYLoDunNtGik"
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''z731txz55xvey6djylkrjsgyq178qhbe''","category":"project","instance":"z731txz55xvey6djylkrjsgyq178qhbe","links":[{"link":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","ca[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:p3RWrNbaNf1evwHCXhqWAQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Typ[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.repos} VISUAL(TITLE \"Repositories\");\nCREATE
        DATASET {dataset.devs} VISUAL(TITLE \"Developers\");\nCREATE DATASET {dataset.commits}
        VISUAL(TITLE \"Commits\");\nINCLUDE TEMPLATE \"URN:GOODDATA:DATE\" MODIFY
        (IDENTIFIER \"committed_on\", TITLE \"Committed On\");\nCREATE FOLDER {dim.folderedrepos}
        VISUAL(TITLE \"Foldered Repos\") TYPE ATTRIBUTE;\nCREATE ATTRIBUTE {attr.repos.repo_id}
        VISUAL(TITLE \"Repository Id\", DESCRIPTION \"Thi[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/tasks/8b46e9811af309fbe149e437937b9acf00000007/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:yqxLGzkkJkJdL-pOvR9opw"
      Process:
      - 'true'
      Stats-On:
      - ''
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:yqxLGzkkJkJdL-pOvR9opw:hxmAmerXra9tdqAP"
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/tasks/8b46e9811af309fbe149e437937b9acf00000007/status","status":"RUNNING","links":{"poll":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/tasks/8b46e9811af309fbe149e437937b9acf00000007/status"}}}'
  recorded_at: Wed, 10 Apr 2019 08:57:15 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":7zIWnhZrlv8FZjfM6-eXbg:7YOnm9pHvBzYCocXmCr14w"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '60'
      X-Gdc-Request:
      - ":7zIWnhZrlv8FZjfM6-eXbg:7YOnm9pHvBzYCocXmCr14w:TVAftcP7Cu2mCZSb"
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 04:27:39 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7zIWnhZrlv8FZjfM6-eXbg:JvpX_TicZCwMigVKGccMKQ"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request-Time:
      - '19'
      X-Gdc-Request:
      - ":7zIWnhZrlv8FZjfM6-eXbg:JvpX_TicZCwMigVKGccMKQ:KN8gvogrnXeykp6a"
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 04:27:40 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7zIWnhZrlv8FZjfM6-eXbg:GRDk9JxyUisKySoUR0hvWw"
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '11'
      X-Gdc-Request:
      - ":7zIWnhZrlv8FZjfM6-eXbg:GRDk9JxyUisKySoUR0hvWw:29wJwxN6E3xvU8Y0"
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2019-03-15 10:00:00","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Wed, 15 Jan 2020 04:27:41 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7zIWnhZrlv8FZjfM6-eXbg:H5CQ3pI0CGzyZyaWezzIAQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
    [...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"RubyGem Dev Week
        test"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7zIWnhZrlv8FZjfM6-eXbg:XS8y8gEGviLHJgbUcV3FYA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '357'
      X-Gdc-Request:
      - ":7zIWnhZrlv8FZjfM6-eXbg:XS8y8gEGviLHJgbUcV3FYA:9KaUHQqH3xnmzflI"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/h729cndwufz85shs6zcp6b7m3tcikise"}'
  recorded_at: Wed, 15 Jan 2020 04:27:43 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/h729cndwufz85shs6zcp6b7m3tcikise
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7zIWnhZrlv8FZjfM6-eXbg:h2k1INnhwJUuk2mSCloulg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-H[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/h729cndwufz85shs6zcp6b7m3tcikise/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/h729cndwufz85shs6zcp6b7m3tcikise/model/diff/67aae1a238acd04262060302d6cb7eecb440f7489fb58fc700000015
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7zIWnhZrlv8FZjfM6-eXbg:n5BR_HuvsBx8LFLNz06yGg"
      Process:
      - 'false'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/h729cndwufz85shs6zcp6b7m3tcikise/model/diff/67aae1a238acd04262060302d6cb7eecb440f7489fb58fc700000015"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '18'
      X-Gdc-Request:
      - ":7zIWnhZrlv8FZjfM6-eXbg:n5BR_HuvsBx8LFLNz06yGg:1XllN9vsQXAbOudx"
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/h729cndwufz85shs6zcp6b7m3tcikise/model/diff/67aae1a238acd04262060302d6cb7eecb440f7489fb58fc700000015"}}}'
  recorded_at: Wed, 15 Jan 2020 04:27:52 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/h729cndwufz85shs6zcp6b7m3tcikise
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7zIWnhZrlv8FZjfM6-eXbg:UvJaL6vSAOqGJpy8Lhl1eA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/h729cndwufz85shs6zcp6b7m3tcikise/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7zIWnhZrlv8FZjfM6-eXbg:eaD4_EZKIHO474bZuRQecw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Hea[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/h729cndwufz85shs6zcp6b7m3tcikise/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.repos} VISUAL(TITLE \"Repositories\");\nCREATE
        DATASET {dataset.devs} VISUAL(TITLE \"Developers\");\nCREATE DATASET {dataset.commits}
        VISUAL(TITLE \"Commits\");\nINCLUDE TEMPLATE \"URN:GOODDATA:DATE\" MODIFY
        (IDENTIFIER \"committed_on\", TITLE \"Committed On\"[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/h729cndwufz85shs6zcp6b7m3tcikise/tasks/e223f8909f7e6251d8f44ff45921056400000088/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7zIWnhZrlv8FZjfM6-eXbg:ovqM3elbYZA8-Lm0VKr1Ag"
      Process:
      - 'true'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '33'
      X-Gdc-Request:
      - ":7zIWnhZrlv8FZjfM6-eXbg:ovqM3elbYZA8-Lm0VKr1Ag:CwG5gN1oHFU4VKrv"
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/h729cndwufz85shs6zcp6b7m3tcikise/tasks/e223f8909f7e6251d8f44ff45921056400000088/status","status":"RUNNING","links":{"poll":"/gdc/md/h729cndwufz85shs6zcp6b7m3tcikise/tasks/e223f8909f7e6251d8f44ff45921056400000088/status"}}}'
  recorded_at: Wed, 15 Jan 2020 04:27:59 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":RkzarEgA_vXaFoaQowtL3Q:wu2XWDQtEryNUnWsbetddQ"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Tries:
      - '0'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '20'
      X-Gdc-Request:
      - ":RkzarEgA_vXaFoaQowtL3Q:wu2XWDQtEryNUnWsbetddQ:E41SL15HdEaC8gHh"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 15 Jan 2020 04:30:16 GMT
recorded_with: VCR 5.0.0
