---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/model/view?includeCA=true&includeDeprecated=true&includeGrain=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:GzUTW4nJc16JP1nWI_J8VA
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/model/view/af840d39114d4207fb33e2c8b65ad67901cd73afe161af370000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:GzUTW4nJc16JP1nWI_J8VA:u7YvfI8qoCRaJa4W
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/model/view/af840d39114d4207fb33e2c8b65ad67901cd73afe161af370000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 06:08:35 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/model/view/af840d39114d4207fb33e2c8b65ad67901cd73afe161af370000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:wVXL4cPNUtO2WoyLUfn0Mw
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/model/view/af840d39114d4207fb33e2c8b65ad67901cd73afe161af370000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:wVXL4cPNUtO2WoyLUfn0Mw:3r3YJwY2R4KXFNFo
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/model/view/af840d39114d4207fb33e2c8b65ad67901cd73afe161af370000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 06:08:35 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/model/view/af840d39114d4207fb33e2c8b65ad67901cd73afe161af370000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:FCtWp7aFf-4XH32hvF3NfQ
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:FCtWp7aFf-4XH32hvF3NfQ:v3tgT3emJyx3zyQ4
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelView":{"model":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","description":"This is anchor description","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"some_attr_id","title":"Repository
        Name","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_attr_label_id","title":"Repository
        Name","type":"GDC.text","dataType":"VARCHAR(10000)"}}],"defaultLabel":"some_attr_label_id"}}],"production":true}},{"dataset":{"identifier":"dataset.devs","title":"Developers","anchor":{"attribute":{"identifier":"attr.devs.dev_id","title":"Dev","folder":"Anchor
        folder","labels":[{"label":{"identifier":"label.devs.dev_id.email","title":"Email","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.devs.dev_id.id","title":"Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.devs.dev_id.email"}},"production":true}},{"dataset":{"identifier":"dataset.commits","title":"Commits","anchor":{"attribute":{"identifier":"attr.commits.factsof","title":"Attr.Commits.Factsof","folder":"Commits","labels":[{"label":{"identifier":"label.commits.factsof.id","title":"Label.Commits.Factsof.Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.commits.factsof.id"}},"facts":[{"fact":{"identifier":"fact.commits.lines_changed","title":"Lines
        Changed","description":"Fact description","folder":"Commits","dataType":"DECIMAL(12,2)","restricted":false}}],"references":["dataset.repos","dataset.devs","committed_on"],"production":true}}],"dateDimensions":[{"dateDimension":{"name":"committed_on","title":"Committed
        On","production":true,"urn":"urn:gooddata:date","identifier":"committed_on.dataset.dt","identifierPrefix":"committed_on","bridges":[]}}]}}}}'
  recorded_at: Tue, 05 Jun 2018 06:08:46 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"This is
        anchor description","defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"som[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/model/diff/99f8b76e5232b12a94b2400711df353801cd73afe21f1feb0000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:WEbnFQkAV8FEjFc7L-Lw5g
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/model/diff/99f8b76e5232b12a94b2400711df353801cd73afe21f1feb0000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:WEbnFQkAV8FEjFc7L-Lw5g:YBRssxfZ4eKly2AI
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/model/diff/99f8b76e5232b12a94b2400711df353801cd73afe21f1feb0000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 06:08:47 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/model/diff/99f8b76e5232b12a94b2400711df353801cd73afe21f1feb0000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:-mZPGbY0Zap4M2pASMwY3Q
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:-mZPGbY0Zap4M2pASMwY3Q:Fdnb4BLDqvUlAjGj
      X-Gdc-Request-Time:
      - '55'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"label.drop","dataset":"dataset.commits","destructive":true,"description":"Drop
        label ''%s'' for ''%s''","parameters":["Label.Commits.Factsof.Id","Attr.Commits.Factsof"]}}],"updateScripts":[{"updateScript":{"maqlDdl":"DROP
        {label.commits.factsof.id};\nSYNCHRONIZE {dataset.commits} PRESERVE DATA;","maqlDdlChunks":["DROP
        {label.commits.factsof.id};\nSYNCHRONIZE {dataset.commits} PRESERVE DATA;"],"preserveData":true,"cascadeDrops":false}},{"updateScript":{"maqlDdl":"DROP
        {label.commits.factsof.id};\nSYNCHRONIZE {dataset.commits};","maqlDdlChunks":["DROP
        {label.commits.factsof.id};\nSYNCHRONIZE {dataset.commits};"],"preserveData":false,"cascadeDrops":false}}]}}'
  recorded_at: Tue, 05 Jun 2018 06:08:58 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:FEp4cCRlxtjRh2oar18kvQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:FEp4cCRlxtjRh2oar18kvQ:ZdbvPL2vDhVhdeDo
      X-Gdc-Request-Time:
      - '74'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Resources for logical data model (LDM) manipulation
        within project ''z5iop7sasguqdc9rlkmgmsrc1shtepkc''","category":"ldm","instance":"z5iop7sasguqdc9rlkmgmsrc1shtepkc","links":[{"link":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/ldm/manage2","summary":"Resources
        for model manipulation with categorized result.","category":"ldm-manage2","title":"manage2"},{"link":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/ldm/singleloadinterface","summary":"Single
        interface for data loading.","category":"singleloadinterface","title":"singleloadinterface"},{"link":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/ldm/attributeupperbound","summary":"Attribute
        upper bounds for LDM.","category":"attributeupperbound","title":"attributeupperbound"}]}}'
  recorded_at: Tue, 05 Jun 2018 06:09:00 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"DROP {label.commits.factsof.id};\nSYNCHRONIZE {dataset.commits}
        PRESERVE DATA;"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:5-GnZQhvqWWHANvOXC0G4A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:5-GnZQhvqWWHANvOXC0G4A:kVeLzPuTjDHd4sQi
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"entries":[{"link":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/tasks/6d2789e8320aa5e35fde5cfd862447730000002a/status","category":"tasks-status"}]}'
  recorded_at: Tue, 05 Jun 2018 06:09:00 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/tasks/6d2789e8320aa5e35fde5cfd862447730000002a/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:UPQmoOc5JQcqkm1ic9latw
      Process:
      - 'true'
  response:
    status:
      code: 303
      message: See Other
    headers:
      Location:
      - "/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/tasks/d144d6c07ad1548f80c6b6318e1d7d620000002a/status"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:UPQmoOc5JQcqkm1ic9latw:nAOsF5WETIKa5Nfc
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/tasks/d144d6c07ad1548f80c6b6318e1d7d620000002a/status","status":"OK","links":{"poll":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/tasks/d144d6c07ad1548f80c6b6318e1d7d620000002a/status"}}}'
  recorded_at: Tue, 05 Jun 2018 06:09:01 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["label.commits.factsof.id"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:pQ4lDGAg1LlS1-HagQICCg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:pQ4lDGAg1LlS1-HagQICCg:gyELtmTKS9BBG4S0
      X-Gdc-Request-Time:
      - '64'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[]}'
  recorded_at: Tue, 05 Jun 2018 06:09:14 GMT
recorded_with: VCR 4.0.0
