---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rakn8r1j0jkko753ktiicz89xz6p3ddl/model/view?includeCA=true&includeDeprecated=true&includeGrain=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:o4XDjyZkKwZC8C6YoL80dw"
      Stats-On:
      - ''
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/rakn8r1j0jkko753ktiicz89xz6p3ddl/model/view/65bc44cbbc25f0ae77cd5ee3c6eede78f7875461007ce34000000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:o4XDjyZkKwZC8C6YoL80dw:XjH5FeOPCVOMZUJH"
      X-Gdc-Request-Time:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/rakn8r1j0jkko753ktiicz89xz6p3ddl/model/view/65bc44cbbc25f0ae77cd5ee3c6eede78f7875461007ce34000000018"}}}'
  recorded_at: Tue, 02 Apr 2019 12:38:48 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rakn8r1j0jkko753ktiicz89xz6p3ddl/model/view/65bc44cbbc25f0ae77cd5ee3c6eede78f7875461007ce34000000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:sBKysQROLqE1QWMX23490Q"
      Process:
      - 'false'
      Stats-On:
      - ''
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/rakn8r1j0jkko753ktiicz89xz6p3ddl/model/view/65bc44cbbc25f0ae77cd5ee3c6eede78f7875461007ce34000000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:sBKysQROLqE1QWMX23490Q:tHzb3NHLeyKNVlcH"
      X-Gdc-Request-Time:
      - '11'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/rakn8r1j0jkko753ktiicz89xz6p3ddl/model/view/65bc44cbbc25f0ae77cd5ee3c6eede78f7875461007ce34000000018"}}}'
  recorded_at: Tue, 02 Apr 2019 12:38:49 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rakn8r1j0jkko753ktiicz89xz6p3ddl/model/view/65bc44cbbc25f0ae77cd5ee3c6eede78f7875461007ce34000000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:aCYRQ0K3xF5I-7qeXpLSzg"
      Process:
      - 'false'
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:aCYRQ0K3xF5I-7qeXpLSzg:aKZrjcceMKbrk7PU"
      X-Gdc-Request-Time:
      - '16'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelView":{"model":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","description":"This is anchor description","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"some_attr_id","title":"Repository
        Name","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_attr_label_id","title":"Repository
        Name","type":"GDC.text","dataType":"VARCHAR(10000)"}}],"defaultLabel":"some_attr_label_id"}}],"production":true}},{"dataset":{"identifier":"dataset.devs","title":"Developers","anchor":{"attribute":{"identifier":"attr.devs.dev_id","title":"Dev","folder":"Anchor
        folder","labels":[{"label":{"identifier":"label.devs.dev_id.email","title":"Email","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.devs.dev_id.id","title":"Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.devs.dev_id.email"}},"bridges":["dataset.commits"],"production":true}},{"dataset":{"identifier":"dataset.commits","title":"Commits","anchor":{"attribute":{"identifier":"attr.commits.factsof","title":"Attr.Commits.Factsof","folder":"Commits","labels":[{"label":{"identifier":"label.commits.factsof.id","title":"Label.Commits.Factsof.Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.commits.factsof.id"}},"facts":[{"fact":{"identifier":"fact.commits.lines_changed","title":"Lines
        Changed","description":"Fact description","folder":"Commits","dataType":"DECIMAL(12,2)","restricted":false}}],"references":["dataset.repos","dataset.devs","committed_on"],"production":true}}],"dateDimensions":[{"dateDimension":{"name":"committed_on","title":"Committed
        On","production":true,"urn":"urn:gooddata:date","identifier":"committed_on.dataset.dt","identifierPrefix":"committed_on","bridges":[]}}]}}}}'
  recorded_at: Tue, 02 Apr 2019 12:38:51 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rakn8r1j0jkko753ktiicz89xz6p3ddl/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"This is
        anchor description","defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"som[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rakn8r1j0jkko753ktiicz89xz6p3ddl/model/diff/d84b87096f3b62d225d81e4025bdff43b3bbe908853096a900000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:-G8OrcyVDfWVpwy2CmJvvg"
      Process:
      - 'false'
      Stats-On:
      - ''
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/rakn8r1j0jkko753ktiicz89xz6p3ddl/model/diff/d84b87096f3b62d225d81e4025bdff43b3bbe908853096a900000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:-G8OrcyVDfWVpwy2CmJvvg:NRcdJQbftXwiqzdR"
      X-Gdc-Request-Time:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/rakn8r1j0jkko753ktiicz89xz6p3ddl/model/diff/d84b87096f3b62d225d81e4025bdff43b3bbe908853096a900000018"}}}'
  recorded_at: Tue, 02 Apr 2019 12:38:53 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rakn8r1j0jkko753ktiicz89xz6p3ddl/model/diff/d84b87096f3b62d225d81e4025bdff43b3bbe908853096a900000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:BoHmuLKLiPnJmxtcJxseuQ"
      Process:
      - 'false'
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:BoHmuLKLiPnJmxtcJxseuQ:wwB6hNCl33QuAgPj"
      X-Gdc-Request-Time:
      - '15'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"label.drop","dataset":"dataset.commits","destructive":true,"description":"Drop
        label ''%s'' for ''%s''","parameters":["Label.Commits.Factsof.Id","Attr.Commits.Factsof"]}}],"updateScripts":[{"updateScript":{"maqlDdl":"DROP
        {label.commits.factsof.id};\nSYNCHRONIZE {dataset.commits} PRESERVE DATA;","maqlDdlChunks":["DROP
        {label.commits.factsof.id};\nSYNCHRONIZE {dataset.commits} PRESERVE DATA;"],"preserveData":true,"cascadeDrops":false}},{"updateScript":{"maqlDdl":"DROP
        {label.commits.factsof.id};\nSYNCHRONIZE {dataset.commits};","maqlDdlChunks":["DROP
        {label.commits.factsof.id};\nSYNCHRONIZE {dataset.commits};"],"preserveData":false,"cascadeDrops":false}}]}}'
  recorded_at: Tue, 02 Apr 2019 12:38:56 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/rakn8r1j0jkko753ktiicz89xz6p3ddl/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:sYm7F8lqYX2gkGi6BP6czw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:sYm7F8lqYX2gkGi6BP6czw:1pBogYiX2DXGUf0g"
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Resources for logical data model (LDM) manipulation
        within project ''rakn8r1j0jkko753ktiicz89xz6p3ddl''","category":"ldm","instance":"rakn8r1j0jkko753ktiicz89xz6p3ddl","links":[{"link":"/gdc/md/rakn8r1j0jkko753ktiicz89xz6p3ddl/ldm/manage2","summary":"Resources
        for model manipulation with categorized result.","category":"ldm-manage2","title":"manage2"},{"link":"/gdc/md/rakn8r1j0jkko753ktiicz89xz6p3ddl/ldm/singleloadinterface","summary":"Single
        interface for data loading.","category":"singleloadinterface","title":"singleloadinterface"},{"link":"/gdc/md/rakn8r1j0jkko753ktiicz89xz6p3ddl/ldm/attributeupperbound","summary":"Attribute
        upper bounds for LDM.","category":"attributeupperbound","title":"attributeupperbound"}]}}'
  recorded_at: Tue, 02 Apr 2019 12:38:58 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/rakn8r1j0jkko753ktiicz89xz6p3ddl/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"DROP {label.commits.factsof.id};\nSYNCHRONIZE {dataset.commits}
        PRESERVE DATA;"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:5QxOVrtLJKVEDQGqwJvvMw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:5QxOVrtLJKVEDQGqwJvvMw:6sOApWiM97nU6HdG"
      X-Gdc-Request-Time:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"entries":[{"link":"/gdc/md/rakn8r1j0jkko753ktiicz89xz6p3ddl/tasks/45ce36a8a170eca4513f71e3a00b5c7d00000007/status","category":"tasks-status"}]}'
  recorded_at: Tue, 02 Apr 2019 12:38:59 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/rakn8r1j0jkko753ktiicz89xz6p3ddl/tasks/45ce36a8a170eca4513f71e3a00b5c7d00000007/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:QVPZAz0HBhL0r1FNwtNikg"
      Process:
      - 'true'
      Stats-On:
      - ''
  response:
    status:
      code: 303
      message: See Other
    headers:
      Location:
      - "/gdc/md/rakn8r1j0jkko753ktiicz89xz6p3ddl/tasks/d0c48195ca97970a48554c25fba127f100000007/status"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:QVPZAz0HBhL0r1FNwtNikg:XQgvIIwvZrbOX8pN"
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/rakn8r1j0jkko753ktiicz89xz6p3ddl/tasks/d0c48195ca97970a48554c25fba127f100000007/status","status":"OK","links":{"poll":"/gdc/md/rakn8r1j0jkko753ktiicz89xz6p3ddl/tasks/d0c48195ca97970a48554c25fba127f100000007/status"}}}'
  recorded_at: Tue, 02 Apr 2019 12:38:59 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/rakn8r1j0jkko753ktiicz89xz6p3ddl/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["label.commits.factsof.id"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:nY9BrY_bz6nXT4_YKBwYjA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":-4v4KKV2xiq0FfHi9nnv3g:nY9BrY_bz6nXT4_YKBwYjA:FA1zel45K5uFj0mp"
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[]}'
  recorded_at: Tue, 02 Apr 2019 12:39:06 GMT
recorded_with: VCR 4.0.0
