---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/model/view?includeCA=true&includeDeprecated=true&includeGrain=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:JPh_NCJSycvLVXCy1GTRYQ"
      Stats-On:
      - ''
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/model/view/955aa1bf6130a6dfe1c77e6eff4e7a45c93924668b80997d00000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:JPh_NCJSycvLVXCy1GTRYQ:ultc1REYnWosgBRk"
      X-Gdc-Request-Time:
      - '15'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/model/view/955aa1bf6130a6dfe1c77e6eff4e7a45c93924668b80997d00000018"}}}'
  recorded_at: Wed, 10 Apr 2019 08:58:02 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/model/view/955aa1bf6130a6dfe1c77e6eff4e7a45c93924668b80997d00000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:uvf2yEjl7CDAP7GQHc92wA"
      Process:
      - 'false'
      Stats-On:
      - ''
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/model/view/955aa1bf6130a6dfe1c77e6eff4e7a45c93924668b80997d00000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:uvf2yEjl7CDAP7GQHc92wA:gUjeIsP4X7oxwYNO"
      X-Gdc-Request-Time:
      - '11'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/model/view/955aa1bf6130a6dfe1c77e6eff4e7a45c93924668b80997d00000018"}}}'
  recorded_at: Wed, 10 Apr 2019 08:58:03 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/model/view/955aa1bf6130a6dfe1c77e6eff4e7a45c93924668b80997d00000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:iZKXlOz3Gfp4J522VPJz6Q"
      Process:
      - 'false'
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:iZKXlOz3Gfp4J522VPJz6Q:c9EHIYuYADuhLSsN"
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelView":{"model":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","description":"This is anchor description","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"some_attr_id","title":"Repository
        Name","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_attr_label_id","title":"Repository
        Name","type":"GDC.text","dataType":"VARCHAR(10000)"}}],"defaultLabel":"some_attr_label_id"}}],"production":true}},{"dataset":{"identifier":"dataset.devs","title":"Developers","anchor":{"attribute":{"identifier":"attr.devs.dev_id","title":"Dev","folder":"Anchor
        folder","labels":[{"label":{"identifier":"label.devs.dev_id.email","title":"Email","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.devs.dev_id.id","title":"Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.devs.dev_id.email"}},"bridges":["dataset.commits"],"production":true}},{"dataset":{"identifier":"dataset.commits","title":"Commits","anchor":{"attribute":{"identifier":"attr.commits.factsof","title":"Attr.Commits.Factsof","folder":"Commits","labels":[{"label":{"identifier":"label.commits.factsof.id","title":"Label.Commits.Factsof.Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.commits.factsof.id"}},"facts":[{"fact":{"identifier":"fact.commits.lines_changed","title":"Lines
        Changed","description":"Fact description","folder":"Commits","dataType":"DECIMAL(12,2)","restricted":false}}],"references":["dataset.repos","dataset.devs","committed_on"],"production":true}}],"dateDimensions":[{"dateDimension":{"name":"committed_on","title":"Committed
        On","production":true,"urn":"urn:gooddata:date","identifier":"committed_on.dataset.dt","identifierPrefix":"committed_on","bridges":[]}}]}}}}'
  recorded_at: Wed, 10 Apr 2019 08:58:04 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"This is
        anchor description","defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"som[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/model/diff/f5e040b3db4b3d852ef781b9b769b0c05728b24de200853800000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:Zanum68jKoqqT5ugDbFWXA"
      Process:
      - 'false'
      Stats-On:
      - ''
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/model/diff/f5e040b3db4b3d852ef781b9b769b0c05728b24de200853800000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:Zanum68jKoqqT5ugDbFWXA:4ovrVD2tcDoXVc3b"
      X-Gdc-Request-Time:
      - '13'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/model/diff/f5e040b3db4b3d852ef781b9b769b0c05728b24de200853800000018"}}}'
  recorded_at: Wed, 10 Apr 2019 08:58:06 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/model/diff/f5e040b3db4b3d852ef781b9b769b0c05728b24de200853800000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:HLtt1aQMXi7PRHc-szRDAg"
      Process:
      - 'false'
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:HLtt1aQMXi7PRHc-szRDAg:maGBO1AMXwRzJPWt"
      X-Gdc-Request-Time:
      - '14'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"label.drop","dataset":"dataset.commits","destructive":true,"description":"Drop
        label ''%s'' for ''%s''","parameters":["Label.Commits.Factsof.Id","Attr.Commits.Factsof"]}}],"updateScripts":[{"updateScript":{"maqlDdl":"DROP
        {label.commits.factsof.id};\nSYNCHRONIZE {dataset.commits} PRESERVE DATA;","maqlDdlChunks":["DROP
        {label.commits.factsof.id};\nSYNCHRONIZE {dataset.commits} PRESERVE DATA;"],"preserveData":true,"cascadeDrops":false}},{"updateScript":{"maqlDdl":"DROP
        {label.commits.factsof.id};\nSYNCHRONIZE {dataset.commits};","maqlDdlChunks":["DROP
        {label.commits.factsof.id};\nSYNCHRONIZE {dataset.commits};"],"preserveData":false,"cascadeDrops":false}}]}}'
  recorded_at: Wed, 10 Apr 2019 08:58:08 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:D86xVPFYq2I1Khjlv8XiAA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:D86xVPFYq2I1Khjlv8XiAA:TrBlufG0rPjowyFH"
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Resources for logical data model (LDM) manipulation
        within project ''z731txz55xvey6djylkrjsgyq178qhbe''","category":"ldm","instance":"z731txz55xvey6djylkrjsgyq178qhbe","links":[{"link":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/ldm/manage2","summary":"Resources
        for model manipulation with categorized result.","category":"ldm-manage2","title":"manage2"},{"link":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/ldm/singleloadinterface","summary":"Single
        interface for data loading.","category":"singleloadinterface","title":"singleloadinterface"},{"link":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/ldm/attributeupperbound","summary":"Attribute
        upper bounds for LDM.","category":"attributeupperbound","title":"attributeupperbound"}]}}'
  recorded_at: Wed, 10 Apr 2019 08:58:10 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"DROP {label.commits.factsof.id};\nSYNCHRONIZE {dataset.commits}
        PRESERVE DATA;"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:GGV3li0l8RuAbXWztvTF-Q"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:GGV3li0l8RuAbXWztvTF-Q:jqrxxnb2OzrE7v1E"
      X-Gdc-Request-Time:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"entries":[{"link":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/tasks/e972c096b426e1f2b308cc79dd3c9b8d00000007/status","category":"tasks-status"}]}'
  recorded_at: Wed, 10 Apr 2019 08:58:11 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/tasks/e972c096b426e1f2b308cc79dd3c9b8d00000007/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:GXjBS5qLoZZYlSRvWvAzJA"
      Process:
      - 'true'
      Stats-On:
      - ''
  response:
    status:
      code: 303
      message: See Other
    headers:
      Location:
      - "/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/tasks/fb1b26a34617868a0c3239c4b260f7a700000007/status"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:GXjBS5qLoZZYlSRvWvAzJA:yGlPFyeyA1PltzjB"
      X-Gdc-Request-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/tasks/fb1b26a34617868a0c3239c4b260f7a700000007/status","status":"OK","links":{"poll":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/tasks/fb1b26a34617868a0c3239c4b260f7a700000007/status"}}}'
  recorded_at: Wed, 10 Apr 2019 08:58:12 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["label.commits.factsof.id"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:8nJYyX_JqQczus4ENtsl0w"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:8nJYyX_JqQczus4ENtsl0w:hbbED0y61Hxqk7Hx"
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[]}'
  recorded_at: Wed, 10 Apr 2019 08:58:16 GMT
recorded_with: VCR 4.0.0
