---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:p-gYwxGeNkRqBN_zTpS0UQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:p-gYwxGeNkRqBN_zTpS0UQ:bqupA6xJaLROnchL"
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"fact":{"content":{"folders":["/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/obj/222"],"expr":[{"type":"col","data":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/obj/32"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/obj/223","tags":"","created":"2019-04-10
        10:57:16","identifier":"fact.commits.lines_changed","deprecated":"0","summary":"Fact
        description","isProduction":1,"title":"Lines Changed","category":"fact","updated":"2019-04-10
        10:57:16","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Wed, 10 Apr 2019 08:58:17 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT SUM([/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/obj/223])"},"meta":{"tags":"","summary":null,"title":"sum
        of Lines Changed"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:K0jWUMY0RuYw0CyC7ZA-Ow"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:K0jWUMY0RuYw0CyC7ZA-Ow:B5stAVdTq2MD2a6F"
      X-Gdc-Request-Time:
      - '51'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/obj/266"}'
  recorded_at: Wed, 10 Apr 2019 08:58:17 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/obj/266
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:-KYsjOGj9NWuhBu7yaei8Q"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:-KYsjOGj9NWuhBu7yaei8Q:r5OTniEwoRpftuZw"
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"SUM","content":[{"value":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/obj/223","position":{"column":25,"line":1},"type":"fact
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        SUM([/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/obj/223])"},"links":{"explain2":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/obj/266/explain2"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/obj/266","tags":"","created":"2019-04-10
        10:58:17","identifier":"aalojsOaiy7i","deprecated":"0","summary":"","isProduction":1,"title":"sum
        of Lines Changed","category":"metric","updated":"2019-04-10 10:58:17","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 10 Apr 2019 08:58:18 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["label.devs.dev_id.email"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:YigT84ntMd295QYrO0JILw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:YigT84ntMd295QYrO0JILw:hOojzPK3WnYNAMIn"
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"label.devs.dev_id.email","uri":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/obj/219"}]}'
  recorded_at: Wed, 10 Apr 2019 08:58:19 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/obj/219
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:q383gWG-VloYxAjo7JfOvA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:q383gWG-VloYxAjo7JfOvA:okRDPITExAzIlci2"
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/obj/217","expression":"[/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/obj/16]","default":1},"links":{"elements":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/obj/219/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/obj/219","tags":"","created":"2019-04-10
        10:57:16","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2019-04-10
        10:57:16","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 10 Apr 2019 08:58:19 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/obj
    body:
      encoding: UTF-8
      string: '{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":["metricGroup"],"metrics":[{"alias":"sum
        of Lines Changed","uri":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/obj/266"}],"rows":[{"attribute":{"alias":"","totals":[],"uri":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/obj/219"}}]},"format":"grid","filters":[]},"meta":{"tags":"","summary":"","title":"Untitled
        report definition"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:taFO5AH1F-ES6cT40odvdw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:taFO5AH1F-ES6cT40odvdw:SX8N0IYUwQfMPraz"
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/obj/267"}'
  recorded_at: Wed, 10 Apr 2019 08:58:20 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/obj
    body:
      encoding: UTF-8
      string: '{"report":{"content":{"domains":[],"definitions":["/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/obj/267"]},"meta":{"tags":"","deprecated":"0","summary":"","title":"Test
        report"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:J27FGUDfFA0hsDou5PIKSg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:J27FGUDfFA0hsDou5PIKSg:JjAEpsCT49jpOI7k"
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/obj/268"}'
  recorded_at: Wed, 10 Apr 2019 08:58:21 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"definitionContent":{"content":{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[],"metrics":[{"alias":"sum
        of Lines Changed","uri":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/obj/266"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"meta":{"tags":"","summary":"","title":"Untitled
        report definition"}}},"projectMetadata":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:XB3-X6ZrTr2R3ygfwlIRmg"
      Stats-On:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/dataResult/5153544494443068416"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:XB3-X6ZrTr2R3ygfwlIRmg:vmXrqS0tsrm8g1Zz"
      X-Gdc-Request-Time:
      - '123'
    body:
      encoding: ASCII-8BIT
      string: '{"execResult":{"reportView":{"reportName":"Untitled report definition","columnWidths":[],"filters":[],"rows":["metricGroup"],"sort":{"columns":[],"rows":[]},"format":"grid","columns":[],"metrics":[{"format":"#,##0","summary":"","title":"sum
        of Lines Changed","metricId":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/obj/266"}]},"dataResult":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/dataResult/5153544494443068416"}}'
  recorded_at: Wed, 10 Apr 2019 08:58:23 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/dataResult/5153544494443068416
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:cxu4LFEkfn2FTJXEIPJVmw"
      Process:
      - 'true'
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Execution-Time:
      - '158'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:cxu4LFEkfn2FTJXEIPJVmw:78ifKLUwk6sXEB2R"
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"xtab_data":{"columns":{"tree":{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"root","id":null},"lookups":[{"0":"sum
        of Lines Changed"}]},"data":[["6"]],"overall_size":{"columns":1,"rows":1},"rows":{"tree":{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"root","id":null},"lookups":[{"0":"sum
        of Lines Changed"}]},"offset":{"columns":0,"rows":0},"size":{"columns":1,"rows":1}}}'
  recorded_at: Wed, 10 Apr 2019 08:58:23 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"report":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/obj/268"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:uv-j9ZIyxWsh616Gq-8DQw"
      Stats-On:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/dataResult/5719516725303442432"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:uv-j9ZIyxWsh616Gq-8DQw:1yNv7nFWMMuZ0d74"
      X-Gdc-Request-Time:
      - '154'
    body:
      encoding: ASCII-8BIT
      string: '{"execResult":{"reportView":{"reportName":"Test report","columnWidths":[],"filters":[],"rows":[{"attributeTitle":"Dev","summary":"","displayFormId":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/obj/219","baseElementURI":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/obj/217/elements?id=","title":"Dev","attributeId":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/obj/217","totals":[[]]}],"sort":{"columns":[],"rows":[]},"format":"grid","columns":["metricGroup"],"metrics":[{"format":"#,##0","summary":"","title":"sum
        of Lines Changed","metricId":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/obj/266"}]},"reportDefinition":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/obj/267","dataResult":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/dataResult/5719516725303442432"}}'
  recorded_at: Wed, 10 Apr 2019 08:58:24 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"This is
        anchor description","defaultLabel":"some_label_id"}},"attributes":[],"facts":[],"references":[],"bridges":[]}},{"dataset":{"identifier":"dataset.devs","title":"Developers","anchor":{"attribute":{"identifier":"attr.devs.dev_id","title":"Dev","folder":"Anchor
        folder","labels":[{"label":{"identifier":"label.devs.dev_id.id","title":"Id","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.devs.dev_id.email","title":"Email","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.devs.dev_id.email"}},"attributes":[],"facts":[],"references":[],"bridges":["dataset.commits"]}},{"dataset":{"identifier":"dataset.commits","title":"Commits","anchor":{"attribute":{"identifier":"attr.commits.factsof","title":"Attr.Commits.Factsof","folder":"Commits"}},"attributes":[{"attribute":{"identifier":"some_attr_id","title":"Repository
        Name","folder":"Commits","labels":[{"label":{"identifier":"some_attr_label_id","title":"Repository
        Name","type":"GDC.text","dataType":"VARCHAR(10000)"}}],"defaultLabel":"some_attr_label_id"}}],"facts":[{"fact":{"identifier":"fact.commits.lines_changed","title":"Lines
        Changed","folder":"Commits","dataType":"DECIMAL(12,2)","type":"fact","description":"Fact
        description"}}],"references":["committed_on","dataset.devs","dataset.repos"],"bridges":[]}}],"dateDimensions":[{"dateDimension":{"name":"committed_on","title":"Committed
        On","bridges":[]}}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:Q6Vqen2UPKIOPH74sVQNag"
      Stats-On:
      - ''
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/model/diff/1e03c9325f7ccac313d7bb8f901843e77e13907d7b66af7700000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:Q6Vqen2UPKIOPH74sVQNag:0zgYFZDXHfqL9n0n"
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/model/diff/1e03c9325f7ccac313d7bb8f901843e77e13907d7b66af7700000018"}}}'
  recorded_at: Wed, 10 Apr 2019 08:58:25 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/model/diff/1e03c9325f7ccac313d7bb8f901843e77e13907d7b66af7700000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:CUaFeSYAqtBT_nTVyYWfcA"
      Process:
      - 'false'
      Stats-On:
      - ''
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/model/diff/1e03c9325f7ccac313d7bb8f901843e77e13907d7b66af7700000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:CUaFeSYAqtBT_nTVyYWfcA:y3sXa9N377LOUEUJ"
      X-Gdc-Request-Time:
      - '15'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/model/diff/1e03c9325f7ccac313d7bb8f901843e77e13907d7b66af7700000018"}}}'
  recorded_at: Wed, 10 Apr 2019 08:58:27 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z731txz55xvey6djylkrjsgyq178qhbe/model/diff/1e03c9325f7ccac313d7bb8f901843e77e13907d7b66af7700000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:qyQ-TVmPztxWyJj3C2YX5w"
      Process:
      - 'false'
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:qyQ-TVmPztxWyJj3C2YX5w:Sm2CysulK73jeMjp"
      X-Gdc-Request-Time:
      - '15'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"attribute.update.folder","dataset":"dataset.commits","destructive":false,"description":"Update
        attribute - ''%s'' is set to be moved to folder ''%s''","parameters":["Repository
        Name","Commits"]}},{"updateOperation":{"type":"attribute.move","dataset":"dataset.repos","destructive":true,"description":"Move
        attribute ''%s'' to dataset ''%s''","parameters":["Repository Name","Commits"]}}],"updateScripts":[{"updateScript":{"maqlDdl":"ALTER
        ATTRIBUTE {some_attr_id} VISUAL(FOLDER {dim.commits});\nALTER DATASET {dataset.repos}
        DROP {some_attr_id};\nALTER ATTRIBUTE {some_attr_id} DROP KEYS {f_repos.some_attr_id_id};\nALTER
        ATTRIBUTE {some_attr_id} ADD KEYS {f_commits.some_attr_id_id};\nALTER DATASET
        {dataset.commits} ADD {some_attr_id};\nSYNCHRONIZE {dataset.repos}, {dataset.commits}
        PRESERVE DATA;","maqlDdlChunks":["ALTER ATTRIBUTE {some_attr_id} VISUAL(FOLDER
        {dim.commits});\nALTER DATASET {dataset.repos} DROP {some_attr_id};\nALTER
        ATTRIBUTE {some_attr_id} DROP KEYS {f_repos.some_attr_id_id};\nALTER ATTRIBUTE
        {some_attr_id} ADD KEYS {f_commits.some_attr_id_id};\nALTER DATASET {dataset.commits}
        ADD {some_attr_id};\nSYNCHRONIZE {dataset.repos}, {dataset.commits} PRESERVE
        DATA;"],"preserveData":true,"cascadeDrops":false}},{"updateScript":{"maqlDdl":"ALTER
        ATTRIBUTE {some_attr_id} VISUAL(FOLDER {dim.commits});\nALTER DATASET {dataset.repos}
        DROP {some_attr_id};\nALTER ATTRIBUTE {some_attr_id} DROP KEYS {f_repos.some_attr_id_id};\nALTER
        ATTRIBUTE {some_attr_id} ADD KEYS {f_commits.some_attr_id_id};\nALTER DATASET
        {dataset.commits} ADD {some_attr_id};\nSYNCHRONIZE {dataset.repos}, {dataset.commits};","maqlDdlChunks":["ALTER
        ATTRIBUTE {some_attr_id} VISUAL(FOLDER {dim.commits});\nALTER DATASET {dataset.repos}
        DROP {some_attr_id};\nALTER ATTRIBUTE {some_attr_id} DROP KEYS {f_repos.some_attr_id_id};\nALTER
        ATTRIBUTE {some_attr_id} ADD KEYS {f_commits.some_attr_id_id};\nALTER DATASET
        {dataset.commits} ADD {some_attr_id};\nSYNCHRONIZE {dataset.repos}, {dataset.commits};"],"preserveData":false,"cascadeDrops":false}}]}}'
  recorded_at: Wed, 10 Apr 2019 08:58:28 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:NtZm09zVQBeDls6F1oLdzg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:NtZm09zVQBeDls6F1oLdzg:dJfuna721ia7HQDI"
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Resources for logical data model (LDM) manipulation
        within project ''z731txz55xvey6djylkrjsgyq178qhbe''","category":"ldm","instance":"z731txz55xvey6djylkrjsgyq178qhbe","links":[{"link":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/ldm/manage2","summary":"Resources
        for model manipulation with categorized result.","category":"ldm-manage2","title":"manage2"},{"link":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/ldm/singleloadinterface","summary":"Single
        interface for data loading.","category":"singleloadinterface","title":"singleloadinterface"},{"link":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/ldm/attributeupperbound","summary":"Attribute
        upper bounds for LDM.","category":"attributeupperbound","title":"attributeupperbound"}]}}'
  recorded_at: Wed, 10 Apr 2019 08:58:30 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"ALTER ATTRIBUTE {some_attr_id} VISUAL(FOLDER {dim.commits});\nALTER
        DATASET {dataset.repos} DROP {some_attr_id};\nALTER ATTRIBUTE {some_attr_id}
        DROP KEYS {f_repos.some_attr_id_id};\nALTER ATTRIBUTE {some_attr_id} ADD KEYS
        {f_commits.some_attr_id_id};\nALTER DATASET {dataset.commits} ADD {some_attr_id};\nSYNCHRONIZE
        {dataset.repos}, {dataset.commits} PRESERVE DATA;"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:M7u0bnWYcJrfxGIha-L5og"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:M7u0bnWYcJrfxGIha-L5og:eVe16F7aMPBjUGPP"
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"entries":[{"link":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/tasks/e1887f37a5b032764b16d86f071d683d00000007/status","category":"tasks-status"}]}'
  recorded_at: Wed, 10 Apr 2019 08:58:30 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/tasks/e1887f37a5b032764b16d86f071d683d00000007/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:Rv8_lUb_k-5qz1RMGCkJuQ"
      Process:
      - 'true'
      Stats-On:
      - ''
  response:
    status:
      code: 303
      message: See Other
    headers:
      Location:
      - "/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/tasks/47533ec0d798e799919ce5c4e93b662b00000007/status"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:Rv8_lUb_k-5qz1RMGCkJuQ:PyRWUuZlLrZ8oPnD"
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/tasks/47533ec0d798e799919ce5c4e93b662b00000007/status","status":"OK","links":{"poll":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/tasks/47533ec0d798e799919ce5c4e93b662b00000007/status"}}}'
  recorded_at: Wed, 10 Apr 2019 08:58:31 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/etl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:InxSSRzDmQHj3WrLiG7Hww"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:InxSSRzDmQHj3WrLiG7Hww:yN6ug6lwrXitzFQp"
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Extract, transform and load services for project
        ''z731txz55xvey6djylkrjsgyq178qhbe''","category":"etl","instance":"z731txz55xvey6djylkrjsgyq178qhbe","links":[{"link":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/etl/pull2","summary":"Provides
        service of pull2.","category":"pull2","title":"pull2"},{"link":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/etl/task","summary":"Provides
        service of task.","category":"task","title":"task"},{"link":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/etl/mode","summary":"Provides
        service of mode.","category":"mode","title":"mode"}]}}'
  recorded_at: Wed, 10 Apr 2019 08:58:36 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/etl/pull2
    body:
      encoding: UTF-8
      string: '{"pullIntegration":"d20190410-9741-11xs438"}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:NIoPtJo1YbavQB8N8b2phQ"
      Info-Message:
      - Starting the data load from user storage to dataset.
      Stats-On:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/tasks/6d998b465ba9544d1e5bcedd3b3e453200000013/status"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:NIoPtJo1YbavQB8N8b2phQ:ZbF98kl2Fa2WsOe2"
      X-Gdc-Request-Time:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"pull2Task":{"links":{"poll":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/tasks/6d998b465ba9544d1e5bcedd3b3e453200000013/status"}}}'
  recorded_at: Wed, 10 Apr 2019 08:58:37 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/tasks/6d998b465ba9544d1e5bcedd3b3e453200000013/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:si3MecoSjrGEto1NBn68Rg"
      Process:
      - 'true'
      Stats-On:
      - ''
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":O4addbUIap8JiJn0P6Q-rg:si3MecoSjrGEto1NBn68Rg:7c7vwcIODZ9TIHgJ"
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/tasks/6d998b465ba9544d1e5bcedd3b3e453200000013/status","status":"RUNNING","links":{"poll":"/gdc/md/z731txz55xvey6djylkrjsgyq178qhbe/tasks/6d998b465ba9544d1e5bcedd3b3e453200000013/status"}}}'
  recorded_at: Wed, 10 Apr 2019 08:58:37 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/h729cndwufz85shs6zcp6b7m3tcikise/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7zIWnhZrlv8FZjfM6-eXbg:Q-SqQqmIUEbVP0PQXdMePQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '54'
      X-Gdc-Request:
      - ":7zIWnhZrlv8FZjfM6-eXbg:Q-SqQqmIUEbVP0PQXdMePQ:j8v0slHWvkDe9i7b"
    body:
      encoding: ASCII-8BIT
[...]
