---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:JNcTEV2aGz3POUi38E6tbQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:JNcTEV2aGz3POUi38E6tbQ:RXnf3O7lwzmXmUjb
      X-Gdc-Request-Time:
      - '100'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"fact":{"content":{"folders":["/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/219"],"expr":[{"type":"col","data":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/29"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/220","tags":"","created":"2018-06-05
        08:07:08","identifier":"fact.commits.lines_changed","deprecated":"0","summary":"Fact
        description","isProduction":1,"title":"Lines Changed","category":"fact","updated":"2018-06-05
        08:07:08","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Tue, 05 Jun 2018 06:09:15 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT SUM([/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/220])"},"meta":{"tags":"","summary":null,"title":"sum
        of Lines Changed"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:f2sCTfSHpsbWKEP55lOqnA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:f2sCTfSHpsbWKEP55lOqnA:DPhh5yOUrYm8AUG8
      X-Gdc-Request-Time:
      - '93'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/263"}'
  recorded_at: Tue, 05 Jun 2018 06:09:16 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/263
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:tB8-9JZ4m-Z8QuJhABIF6w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:tB8-9JZ4m-Z8QuJhABIF6w:4BW2QZMF5adiHUSs
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"SUM","content":[{"value":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/220","position":{"column":25,"line":1},"type":"fact
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        SUM([/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/220])"},"links":{"explain2":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/263/explain2"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/263","tags":"","created":"2018-06-05
        08:09:16","identifier":"aabeRkiPc5KY","deprecated":"0","summary":"","isProduction":1,"title":"sum
        of Lines Changed","category":"metric","updated":"2018-06-05 08:09:16","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 06:09:16 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["label.devs.dev_id.email"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:mclwqo1pmGe3QnulkY6pBw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:mclwqo1pmGe3QnulkY6pBw:XfF10rT9jRTUx7gP
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"label.devs.dev_id.email","uri":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/216"}]}'
  recorded_at: Tue, 05 Jun 2018 06:09:17 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/216
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:XxZgaw0Ga7wro06o2wykJA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:XxZgaw0Ga7wro06o2wykJA:aQbetfqI17xNDz4k
      X-Gdc-Request-Time:
      - '65'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/214","expression":"[/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/13]","default":1},"links":{"elements":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/216/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/216","tags":"","created":"2018-06-05
        08:07:07","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2018-06-05
        08:07:07","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 06:09:18 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj
    body:
      encoding: UTF-8
      string: '{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":["metricGroup"],"metrics":[{"alias":"sum
        of Lines Changed","uri":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/263"}],"rows":[{"attribute":{"alias":"","totals":[],"uri":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/216"}}]},"format":"grid","filters":[]},"meta":{"tags":"","summary":"","title":"Untitled
        report definition"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:d_FpMrtQLOWESZI8HyPSEA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:d_FpMrtQLOWESZI8HyPSEA:7KClNFCS2XipqiX3
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/264"}'
  recorded_at: Tue, 05 Jun 2018 06:09:18 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj
    body:
      encoding: UTF-8
      string: '{"report":{"content":{"domains":[],"definitions":["/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/264"]},"meta":{"tags":"","deprecated":"0","summary":"","title":"Test
        report"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:K-CZJz76GCBuwVxAFCKpVg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:K-CZJz76GCBuwVxAFCKpVg:AUgeBH2QXkaP2RuY
      X-Gdc-Request-Time:
      - '62'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/265"}'
  recorded_at: Tue, 05 Jun 2018 06:09:19 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"definitionContent":{"content":{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[],"metrics":[{"alias":"sum
        of Lines Changed","uri":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/263"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"meta":{"tags":"","summary":"","title":"Untitled
        report definition"}}},"projectMetadata":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:rW432sD214A-UUNrNxXKLQ
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/dataResult/6150879231201704960"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:rW432sD214A-UUNrNxXKLQ:M1BIfza9ZY4TyS6G
      X-Gdc-Request-Time:
      - '172'
    body:
      encoding: ASCII-8BIT
      string: '{"execResult":{"reportView":{"reportName":"Untitled report definition","columnWidths":[],"filters":[],"rows":["metricGroup"],"sort":{"columns":[],"rows":[]},"format":"grid","columns":[],"metrics":[{"format":"#,##0","summary":"","title":"sum
        of Lines Changed","metricId":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/263"}]},"dataResult":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/dataResult/6150879231201704960"}}'
  recorded_at: Tue, 05 Jun 2018 06:09:21 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/dataResult/6150879231201704960
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:VmEKLRwvWVIWBEg1PwnQOQ
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Execution-Time:
      - '200'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:VmEKLRwvWVIWBEg1PwnQOQ:DXcKMdy8f1c8xxc4
      X-Gdc-Request-Time:
      - '56'
    body:
      encoding: ASCII-8BIT
      string: '{"xtab_data":{"columns":{"tree":{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"root","id":null},"lookups":[{"0":"sum
        of Lines Changed"}]},"data":[["6"]],"overall_size":{"columns":1,"rows":1},"rows":{"tree":{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"root","id":null},"lookups":[{"0":"sum
        of Lines Changed"}]},"offset":{"columns":0,"rows":0},"size":{"columns":1,"rows":1}}}'
  recorded_at: Tue, 05 Jun 2018 06:09:21 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"report":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/265"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:4M-GebXzdfSNm9uRGbPF8A
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/dataResult/2750946807178362368"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:4M-GebXzdfSNm9uRGbPF8A:oIMh5LURxNsj0W3F
      X-Gdc-Request-Time:
      - '567'
    body:
      encoding: ASCII-8BIT
      string: '{"execResult":{"reportView":{"reportName":"Test report","columnWidths":[],"filters":[],"rows":[{"attributeTitle":"Dev","summary":"","displayFormId":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/216","baseElementURI":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/214/elements?id=","title":"Dev","attributeId":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/214","totals":[[]]}],"sort":{"columns":[],"rows":[]},"format":"grid","columns":["metricGroup"],"metrics":[{"format":"#,##0","summary":"","title":"sum
        of Lines Changed","metricId":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/263"}]},"reportDefinition":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/264","dataResult":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/dataResult/2750946807178362368"}}'
  recorded_at: Tue, 05 Jun 2018 06:09:23 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"This is
        anchor description","defaultLabel":"some_label_id"}},"attributes":[],"facts":[],"references":[]}},{"dataset":{"identifier":"dataset.devs","title":"Developers","anchor":{"attribute":{"identifier":"attr.devs.dev_id","title":"Dev","folder":"Anchor
        folder","labels":[{"label":{"identifier":"label.devs.dev_id.id","title":"Id","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.devs.dev_id.email","title":"Email","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.devs.dev_id.email"}},"attributes":[],"facts":[],"references":[]}},{"dataset":{"identifier":"dataset.commits","title":"Commits","anchor":{"attribute":{"identifier":"attr.commits.factsof","title":"Attr.Commits.Factsof","folder":"Commits"}},"attributes":[{"attribute":{"identifier":"some_attr_id","title":"Repository
        Name","folder":"Commits","labels":[{"label":{"identifier":"some_attr_label_id","title":"Repository
        Name","type":"GDC.text","dataType":"VARCHAR(10000)"}}],"defaultLabel":"some_attr_label_id"}}],"facts":[{"fact":{"identifier":"fact.commits.lines_changed","title":"Lines
        Changed","folder":"Commits","dataType":"DECIMAL(12,2)","type":"fact","description":"Fact
        description"}}],"references":["committed_on","dataset.devs","dataset.repos"]}}],"dateDimensions":[{"dateDimension":{"name":"committed_on","title":"Committed
        On"}}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:T3P0QHY1UXEVpisbHbNmzA
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/model/diff/c286a4c9795871391c81a1b17d8daaae01cd73ace45902880000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:T3P0QHY1UXEVpisbHbNmzA:tgcFlPGK6OHGko3y
      X-Gdc-Request-Time:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/model/diff/c286a4c9795871391c81a1b17d8daaae01cd73ace45902880000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 06:09:24 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/model/diff/c286a4c9795871391c81a1b17d8daaae01cd73ace45902880000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:q6Ax_T903PkYQyfUlSV0XQ
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:q6Ax_T903PkYQyfUlSV0XQ:ujn3lc0Dh2oUV4SE
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"attribute.update.folder","dataset":"dataset.commits","destructive":false,"description":"Update
        attribute - ''%s'' is set to be moved to folder ''%s''","parameters":["Repository
        Name","Commits"]}},{"updateOperation":{"type":"attribute.move","dataset":"dataset.repos","destructive":true,"description":"Move
        attribute ''%s'' to dataset ''%s''","parameters":["Repository Name","Commits"]}}],"updateScripts":[{"updateScript":{"maqlDdl":"ALTER
        ATTRIBUTE {some_attr_id} VISUAL(FOLDER {dim.commits});\nALTER DATASET {dataset.repos}
        DROP {some_attr_id};\nALTER ATTRIBUTE {some_attr_id} DROP KEYS {f_repos.some_attr_id_id};\nALTER
        ATTRIBUTE {some_attr_id} ADD KEYS {f_commits.some_attr_id_id};\nALTER DATASET
        {dataset.commits} ADD {some_attr_id};\nSYNCHRONIZE {dataset.repos}, {dataset.commits}
        PRESERVE DATA;","maqlDdlChunks":["ALTER ATTRIBUTE {some_attr_id} VISUAL(FOLDER
        {dim.commits});\nALTER DATASET {dataset.repos} DROP {some_attr_id};\nALTER
        ATTRIBUTE {some_attr_id} DROP KEYS {f_repos.some_attr_id_id};\nALTER ATTRIBUTE
        {some_attr_id} ADD KEYS {f_commits.some_attr_id_id};\nALTER DATASET {dataset.commits}
        ADD {some_attr_id};\nSYNCHRONIZE {dataset.repos}, {dataset.commits} PRESERVE
        DATA;"],"preserveData":true,"cascadeDrops":false}},{"updateScript":{"maqlDdl":"ALTER
        ATTRIBUTE {some_attr_id} VISUAL(FOLDER {dim.commits});\nALTER DATASET {dataset.repos}
        DROP {some_attr_id};\nALTER ATTRIBUTE {some_attr_id} DROP KEYS {f_repos.some_attr_id_id};\nALTER
        ATTRIBUTE {some_attr_id} ADD KEYS {f_commits.some_attr_id_id};\nALTER DATASET
        {dataset.commits} ADD {some_attr_id};\nSYNCHRONIZE {dataset.repos}, {dataset.commits};","maqlDdlChunks":["ALTER
        ATTRIBUTE {some_attr_id} VISUAL(FOLDER {dim.commits});\nALTER DATASET {dataset.repos}
        DROP {some_attr_id};\nALTER ATTRIBUTE {some_attr_id} DROP KEYS {f_repos.some_attr_id_id};\nALTER
        ATTRIBUTE {some_attr_id} ADD KEYS {f_commits.some_attr_id_id};\nALTER DATASET
        {dataset.commits} ADD {some_attr_id};\nSYNCHRONIZE {dataset.repos}, {dataset.commits};"],"preserveData":false,"cascadeDrops":false}}]}}'
  recorded_at: Tue, 05 Jun 2018 06:09:25 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:B_6Lz8wV6j8_ElnvAXrASQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:B_6Lz8wV6j8_ElnvAXrASQ:2vxuPXO5TN2NtOvn
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Resources for logical data model (LDM) manipulation
        within project ''z5iop7sasguqdc9rlkmgmsrc1shtepkc''","category":"ldm","instance":"z5iop7sasguqdc9rlkmgmsrc1shtepkc","links":[{"link":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/ldm/manage2","summary":"Resources
        for model manipulation with categorized result.","category":"ldm-manage2","title":"manage2"},{"link":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/ldm/singleloadinterface","summary":"Single
        interface for data loading.","category":"singleloadinterface","title":"singleloadinterface"},{"link":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/ldm/attributeupperbound","summary":"Attribute
        upper bounds for LDM.","category":"attributeupperbound","title":"attributeupperbound"}]}}'
  recorded_at: Tue, 05 Jun 2018 06:09:26 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"ALTER ATTRIBUTE {some_attr_id} VISUAL(FOLDER {dim.commits});\nALTER
        DATASET {dataset.repos} DROP {some_attr_id};\nALTER ATTRIBUTE {some_attr_id}
        DROP KEYS {f_repos.some_attr_id_id};\nALTER ATTRIBUTE {some_attr_id} ADD KEYS
        {f_commits.some_attr_id_id};\nALTER DATASET {dataset.commits} ADD {some_attr_id};\nSYNCHRONIZE
        {dataset.repos}, {dataset.commits} PRESERVE DATA;"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:vgNie208SBQGNHsy51xyyA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:vgNie208SBQGNHsy51xyyA:9vgdCQsewgeYzxxY
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"entries":[{"link":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/tasks/6ae0ce7e25f88d4b6ceac646558e8d0e0000002a/status","category":"tasks-status"}]}'
  recorded_at: Tue, 05 Jun 2018 06:09:27 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/tasks/6ae0ce7e25f88d4b6ceac646558e8d0e0000002a/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:agHXIv4OSGQ2vmwXijGBwA
      Process:
      - 'true'
  response:
    status:
      code: 303
      message: See Other
    headers:
      Location:
      - "/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/tasks/da2ce6a5d23576608f0d9af27f27a2910000002a/status"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:agHXIv4OSGQ2vmwXijGBwA:jqglWoFsf8tstCMz
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/tasks/da2ce6a5d23576608f0d9af27f27a2910000002a/status","status":"OK","links":{"poll":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/tasks/da2ce6a5d23576608f0d9af27f27a2910000002a/status"}}}'
  recorded_at: Tue, 05 Jun 2018 06:09:27 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/etl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:e9XucB8psFiB_zwVcspNHg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:e9XucB8psFiB_zwVcspNHg:MySfzsZONRJF0EiT
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Extract, transform and load services for project
        ''z5iop7sasguqdc9rlkmgmsrc1shtepkc''","category":"etl","instance":"z5iop7sasguqdc9rlkmgmsrc1shtepkc","links":[{"link":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/etl/pull2","summary":"Provides
        service of pull2.","category":"pull2","title":"pull2"},{"link":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/etl/task","summary":"Provides
        service of task.","category":"task","title":"task"},{"link":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/etl/mode","summary":"Provides
        service of mode.","category":"mode","title":"mode"}]}}'
  recorded_at: Tue, 05 Jun 2018 06:09:31 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/etl/pull2
    body:
      encoding: UTF-8
      string: '{"pullIntegration":"d20180605-24964-1t0a9pu"}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:mgJnNBxcEnFwCA33casrZw
      Info-Message:
      - Starting the data load from user storage to dataset.
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/tasks/6128b652841c8987d3c1cdc03c8821fb00000009/status"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:mgJnNBxcEnFwCA33casrZw:GKNPOCakf01cd6Py
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"pull2Task":{"links":{"poll":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/tasks/6128b652841c8987d3c1cdc03c8821fb00000009/status"}}}'
  recorded_at: Tue, 05 Jun 2018 06:09:32 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/tasks/6128b652841c8987d3c1cdc03c8821fb00000009/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:us_T7SO15wYuh9Lqt2avPQ
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:us_T7SO15wYuh9Lqt2avPQ:pQMjYjOFN2a2WNoI
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/tasks/6128b652841c8987d3c1cdc03c8821fb00000009/status","status":"RUNNING","links":{"poll":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/tasks/6128b652841c8987d3c1cdc03c8821fb00000009/status"}}}'
  recorded_at: Tue, 05 Jun 2018 06:09:33 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/sifstxhfta0mm4bny4cfxg0n0wmnxffh/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - o3G2kRZInu0mxXNhT6e5VA:osplxM7NI9euPX6Ee74png
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - o3G2kRZInu0mxXNhT6e5VA:osplxM7NI9euPX6Ee74png:It1hWcs03qOiGQW4
      X-Gdc-Request-Time:
      - '113'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"fact":{"content":{"folders":["/gdc/md/sifstxhfta0mm4bny4cfxg0n0wmnxffh/obj/222"],"expr":[{"type":"col","data":"/gdc/md/sifstxhfta0mm4bny4cfxg0n0wmnxffh/obj/32"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/sifstxhfta0mm4bny4cfxg0n0wmnxffh/obj/223","tags":"","created":"2018-10-05
        14:28:35","identifier":"fact.commits.lines_changed","deprecated":"0","summary":"Fact
        description","isProduction":1,"title":"Lines Changed","category":"fact","updated":"2018-10-05
        14:28:35","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Fri, 05 Oct 2018 12:29:26 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/sifstxhfta0mm4bny4cfxg0n0wmnxffh/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT SUM([/gdc/md/sifstxhfta0mm4bny4cfxg0n0wmnxffh/obj/223])"},"meta":{"tags":"","summary":null,"title":"sum
        of Lines Changed"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - o3G2kRZInu0mxXNhT6e5VA:ZMx7R7mVFcoqSpBR1Selsw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - o3G2kRZInu0mxXNhT6e5VA:ZMx7R7mVFcoqSpBR1Selsw:xvRbeauC2l65YmwM
      X-Gdc-Request-Time:
      - '152'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/sifstxhfta0mm4bny4cfxg0n0wmnxffh/obj/266"}'
  recorded_at: Fri, 05 Oct 2018 12:29:26 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/sifstxhfta0mm4bny4cfxg0n0wmnxffh/obj/266
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
[...]
