---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/model/view?includeCA=true&includeDeprecated=true&includeGrain=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:0DJzj7iMXCzpZi_k3uAjSw
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/model/view/c50658a15bdc3673fca70c3391e9f68b01cd73afdf17995c0000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:0DJzj7iMXCzpZi_k3uAjSw:99f0G3Pi2u87cGto
      X-Gdc-Request-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/model/view/c50658a15bdc3673fca70c3391e9f68b01cd73afdf17995c0000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 06:07:56 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/model/view/c50658a15bdc3673fca70c3391e9f68b01cd73afdf17995c0000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:E4dEM2WfNr6wCTt-ReEp1g
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/model/view/c50658a15bdc3673fca70c3391e9f68b01cd73afdf17995c0000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:E4dEM2WfNr6wCTt-ReEp1g:dv58kyvPOfJ4rjnz
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/model/view/c50658a15bdc3673fca70c3391e9f68b01cd73afdf17995c0000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 06:07:57 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/model/view/c50658a15bdc3673fca70c3391e9f68b01cd73afdf17995c0000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:Y_PcxkFRpxLRHnskxHj1DQ
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:Y_PcxkFRpxLRHnskxHj1DQ:6MhzoRio75Eln3bc
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelView":{"model":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","description":"This is anchor description","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"some_attr_id","title":"Repository
        Name","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_attr_label_id","title":"Repository
        Name","type":"GDC.text","dataType":"VARCHAR(10000)"}}],"defaultLabel":"some_attr_label_id"}}],"production":true}},{"dataset":{"identifier":"dataset.devs","title":"Developers","anchor":{"attribute":{"identifier":"attr.devs.dev_id","title":"Dev","folder":"Anchor
        folder","labels":[{"label":{"identifier":"label.devs.dev_id.email","title":"Email","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.devs.dev_id.id","title":"Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.devs.dev_id.email"}},"production":true}},{"dataset":{"identifier":"dataset.commits","title":"Commits","anchor":{"attribute":{"identifier":"attr.commits.factsof","title":"Attr.Commits.Factsof","folder":"Commits"}},"facts":[{"fact":{"identifier":"fact.commits.lines_changed","title":"Lines
        Changed","description":"Fact description","folder":"Commits","dataType":"DECIMAL(12,2)","restricted":false}}],"references":["dataset.repos","dataset.devs","committed_on"],"production":true}}],"dateDimensions":[{"dateDimension":{"name":"committed_on","title":"Committed
        On","production":true,"urn":"urn:gooddata:date","identifier":"committed_on.dataset.dt","identifierPrefix":"committed_on","bridges":[]}}]}}}}'
  recorded_at: Tue, 05 Jun 2018 06:08:07 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"This is
        anchor description","defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"som[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/model/diff/5b611340c0d6293ab2aa79073ebb3f4901cd73afdfd959cf0000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:nQjWLB_L3VHeHd1YgRfB5Q
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:nQjWLB_L3VHeHd1YgRfB5Q:N6nFxR2LQefoj22K
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"label.create","dataset":"dataset.commits","destructive":false,"description":"Create
        label ''%s'' for ''%s''","parameters":["Label.Commits.Factsof.Id","Attr.Commits.Factsof"]}},{"updateOperation":{"type":"attribute.update.defaultLabel","dataset":"dataset.commits","destructive":false,"description":"Update
        attribute - set ''%s'' as default label for ''%s''","parameters":["Label.Commits.Factsof.Id","Attr.Commits.Factsof"]}}],"updateScripts":[{"updateScript":{"maqlDdl":"ALTER
        ATTRIBUTE {attr.commits.factsof} ADD LABELS {label.commits.factsof.id} VISUAL(TITLE
        \"Label.Commits.Factsof.Id\") AS {f_commits.nm_id};\nALTER ATTRIBUTE {attr.commits.factsof}
        DEFAULT LABEL {label.commits.factsof.id};\nSYNCHRONIZE {dataset.commits} PRESERVE
        DATA;","maqlDdlChunks":["ALTER ATTRIBUTE {attr.commits.factsof} ADD LABELS
        {label.commits.factsof.id} VISUAL(TITLE \"Label.Commits.Factsof.Id\") AS {f_commits.nm_id};\nALTER
        ATTRIBUTE {attr.commits.factsof} DEFAULT LABEL {label.commits.factsof.id};\nSYNCHRONIZE
        {dataset.commits} PRESERVE DATA;"],"preserveData":true,"cascadeDrops":false}},{"updateScript":{"maqlDdl":"ALTER
        ATTRIBUTE {attr.commits.factsof} ADD LABELS {label.commits.factsof.id} VISUAL(TITLE
        \"Label.Commits.Factsof.Id\") AS {f_commits.nm_id};\nALTER ATTRIBUTE {attr.commits.factsof}
        DEFAULT LABEL {label.commits.factsof.id};\nSYNCHRONIZE {dataset.commits};","maqlDdlChunks":["ALTER
        ATTRIBUTE {attr.commits.factsof} ADD LABELS {label.commits.factsof.id} VISUAL(TITLE
        \"Label.Commits.Factsof.Id\") AS {f_commits.nm_id};\nALTER ATTRIBUTE {attr.commits.factsof}
        DEFAULT LABEL {label.commits.factsof.id};\nSYNCHRONIZE {dataset.commits};"],"preserveData":false,"cascadeDrops":false}}]}}'
  recorded_at: Tue, 05 Jun 2018 06:08:10 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:AlDes1ClK-6iFf0JzAqV2g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:AlDes1ClK-6iFf0JzAqV2g:5u9tEkTbi54lLPIJ
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Resources for logical data model (LDM) manipulation
        within project ''z5iop7sasguqdc9rlkmgmsrc1shtepkc''","category":"ldm","instance":"z5iop7sasguqdc9rlkmgmsrc1shtepkc","links":[{"link":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/ldm/manage2","summary":"Resources
        for model manipulation with categorized result.","category":"ldm-manage2","title":"manage2"},{"link":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/ldm/singleloadinterface","summary":"Single
        interface for data loading.","category":"singleloadinterface","title":"singleloadinterface"},{"link":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/ldm/attributeupperbound","summary":"Attribute
        upper bounds for LDM.","category":"attributeupperbound","title":"attributeupperbound"}]}}'
  recorded_at: Tue, 05 Jun 2018 06:08:12 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"ALTER ATTRIBUTE {attr.commits.factsof} ADD LABELS
        {label.commits.factsof.id} VISUAL(TITLE \"Label.Commits.Factsof.Id\") AS {f_commits.nm_id};\nALTER
        ATTRIBUTE {attr.commits.factsof} DEFAULT LABEL {label.commits.factsof.id};\nSYNCHRONIZE
        {dataset.commits} ;"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:iAVZK9TWtHHrbpFgnl4U0Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:iAVZK9TWtHHrbpFgnl4U0Q:K4rmrPz8BqU1t55X
      X-Gdc-Request-Time:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"entries":[{"link":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/tasks/cfa979bc832aae6517da57a04025234a0000002a/status","category":"tasks-status"}]}'
  recorded_at: Tue, 05 Jun 2018 06:08:13 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/tasks/cfa979bc832aae6517da57a04025234a0000002a/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:O0c3N17i44SYyawZ0dm66g
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:O0c3N17i44SYyawZ0dm66g:Uan7dE7gqN2Uuz03
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/tasks/cfa979bc832aae6517da57a04025234a0000002a/status","status":"OK","links":{"poll":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/tasks/cfa979bc832aae6517da57a04025234a0000002a/status"}}}'
  recorded_at: Tue, 05 Jun 2018 06:08:13 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/etl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:o_cigTkHnxyQPyz8BrTw0g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:o_cigTkHnxyQPyz8BrTw0g:KARsltZXOdg6jTvJ
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Extract, transform and load services for project
        ''z5iop7sasguqdc9rlkmgmsrc1shtepkc''","category":"etl","instance":"z5iop7sasguqdc9rlkmgmsrc1shtepkc","links":[{"link":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/etl/pull2","summary":"Provides
        service of pull2.","category":"pull2","title":"pull2"},{"link":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/etl/task","summary":"Provides
        service of task.","category":"task","title":"task"},{"link":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/etl/mode","summary":"Provides
        service of mode.","category":"mode","title":"mode"}]}}'
  recorded_at: Tue, 05 Jun 2018 06:08:17 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/etl/pull2
    body:
      encoding: UTF-8
      string: '{"pullIntegration":"d20180605-24964-15n6rye"}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:sL9JhZvFf4KNZKeeSivN6w
      Info-Message:
      - Starting the data load from user storage to dataset.
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/tasks/40409ff3962ce5586637ab0d8d61f80300000009/status"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:sL9JhZvFf4KNZKeeSivN6w:k8OYNZUWzH8DSaBh
      X-Gdc-Request-Time:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"pull2Task":{"links":{"poll":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/tasks/40409ff3962ce5586637ab0d8d61f80300000009/status"}}}'
  recorded_at: Tue, 05 Jun 2018 06:08:17 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/tasks/40409ff3962ce5586637ab0d8d61f80300000009/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:yzXIbqYYJ_EG5TY232U0mQ
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:yzXIbqYYJ_EG5TY232U0mQ:HWbkl8km6rNjiOuO
      X-Gdc-Request-Time:
      - '80'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/tasks/40409ff3962ce5586637ab0d8d61f80300000009/status","status":"RUNNING","links":{"poll":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/tasks/40409ff3962ce5586637ab0d8d61f80300000009/status"}}}'
  recorded_at: Tue, 05 Jun 2018 06:08:18 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:IUWa3BRmax48tmABnKj5qg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:IUWa3BRmax48tmABnKj5qg:dBn9WhNmSXzkYTlU
      X-Gdc-Request-Time:
      - '117'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"fact":{"content":{"folders":["/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/219"],"expr":[{"type":"col","data":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/29"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/220","tags":"","created":"2018-06-05
        08:07:08","identifier":"fact.commits.lines_changed","deprecated":"0","summary":"Fact
        description","isProduction":1,"title":"Lines Changed","category":"fact","updated":"2018-06-05
        08:07:08","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Tue, 05 Jun 2018 06:08:29 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT SUM([/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/220])"},"meta":{"tags":"","summary":null,"title":"sum
        of Lines Changed"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:m1l1Fs5ShthoaVqzMeQz-g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:m1l1Fs5ShthoaVqzMeQz-g:yu0hGjyW8SEuZeYP
      X-Gdc-Request-Time:
      - '70'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/260"}'
  recorded_at: Tue, 05 Jun 2018 06:08:30 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/260
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:yAIXiJ1hj-7yIuYfi_VXvQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:yAIXiJ1hj-7yIuYfi_VXvQ:hxGBcl3bmyVT31d3
      X-Gdc-Request-Time:
      - '65'
    body:
      encoding: ASCII-8BIT
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"SUM","content":[{"value":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/220","position":{"column":25,"line":1},"type":"fact
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        SUM([/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/220])"},"links":{"explain2":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/260/explain2"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/260","tags":"","created":"2018-06-05
        08:08:30","identifier":"aabeQ8k1c9S9","deprecated":"0","summary":"","isProduction":1,"title":"sum
        of Lines Changed","category":"metric","updated":"2018-06-05 08:08:30","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 06:08:30 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["label.commits.factsof.id"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:D1zlFkrd7QiZ05pUMWD7Zw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:D1zlFkrd7QiZ05pUMWD7Zw:MRexRpsEBVHfigQj
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"label.commits.factsof.id","uri":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/255"}]}'
  recorded_at: Tue, 05 Jun 2018 06:08:31 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/255
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:1KsQ2pZ2r6eImDCxbvh4jQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:1KsQ2pZ2r6eImDCxbvh4jQ:goeUtGkSWkoEJqqt
      X-Gdc-Request-Time:
      - '86'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/218","expression":"[/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/253]","default":1},"links":{"elements":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/255/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/255","tags":"","created":"2018-06-05
        08:08:13","identifier":"label.commits.factsof.id","deprecated":"0","summary":"","isProduction":1,"title":"Label.Commits.Factsof.Id","category":"attributeDisplayForm","updated":"2018-06-05
        08:08:13","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 06:08:32 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z5iop7sasguqdc9rlkmgmsrc1shtepkc/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"definitionContent":{"content":{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":["metricGroup"],"metrics":[{"alias":"sum
        of Lines Changed","uri":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/260"}],"rows":[{"attribute":{"alias":"","totals":[],"uri":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/255"}}]},"format":"grid","filters":[]},"meta":{"tags":"","summary":"","title":"Untitled
        report definition"}}},"projectMetadata":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:JQXq_yrPNu5pIuQzgQmN-Q
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/dataResult/6452148313915653120"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:JQXq_yrPNu5pIuQzgQmN-Q:2ACpXsgjZlF3UdDi
      X-Gdc-Request-Time:
      - '342'
    body:
      encoding: ASCII-8BIT
      string: '{"execResult":{"reportView":{"reportName":"Untitled report definition","columnWidths":[],"filters":[],"rows":[{"attributeTitle":"Attr.Commits.Factsof","summary":"","displayFormId":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/255","baseElementURI":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/218/elements?id=","title":"Attr.Commits.Factsof","attributeId":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/218","totals":[[]]}],"sort":{"columns":[],"rows":[]},"format":"grid","columns":["metricGroup"],"metrics":[{"format":"#,##0","summary":"","title":"sum
        of Lines Changed","metricId":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/obj/260"}]},"dataResult":"/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/dataResult/6452148313915653120"}}'
  recorded_at: Tue, 05 Jun 2018 06:08:33 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z5iop7sasguqdc9rlkmgmsrc1shtepkc/dataResult/6452148313915653120
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:7QIPMY2iTFQ-8K-UdE39Yg
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Execution-Time:
      - '155'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _K5iQzwh4M6obPYDDWOFng:7QIPMY2iTFQ-8K-UdE39Yg:UJCjumxhnlnWncmH
      X-Gdc-Request-Time:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"xtab_data":{"columns":{"tree":{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"root","id":null},"lookups":[{"0":"sum
        of Lines Changed"}]},"data":[["1"],["2"],["3"]],"overall_size":{"columns":1,"rows":3},"rows":{"tree":{"index":{"8":[1],"7":[0],"9":[2]},"first":0,"last":2,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"normal","id":"7"},{"index":{},"first":1,"last":1,"children":[],"type":"normal","id":"8"},{"index":{},"first":2,"last":2,"children":[],"type":"normal","id":"9"}],"type":"root","id":null},"lookups":[{"8":"222","7":"111","9":"333"}]},"offset":{"columns":0,"rows":0},"size":{"columns":1,"rows":3}}}'
  recorded_at: Tue, 05 Jun 2018 06:08:33 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/sifstxhfta0mm4bny4cfxg0n0wmnxffh/model/view?includeCA=true&includeDeprecated=true&includeGrain=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - o3G2kRZInu0mxXNhT6e5VA:wAppO6oOg3n1kad_U-rLmg
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/sifstxhfta0mm4bny4cfxg0n0wmnxffh/model/view/77529dcdad6fb4eabb3a7c5fec0a3911d68ce5937412004500000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - o3G2kRZInu0mxXNhT6e5VA:wAppO6oOg3n1kad_U-rLmg:dSomMOYZdpbLQEZ1
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/sifstxhfta0mm4bny4cfxg0n0wmnxffh/model/view/77529dcdad6fb4eabb3a7c5fec0a3911d68ce5937412004500000018"}}}'
  recorded_at: Fri, 05 Oct 2018 12:28:55 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/sifstxhfta0mm4bny4cfxg0n0wmnxffh/model/view/77529dcdad6fb4eabb3a7c5fec0a3911d68ce5937412004500000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - o3G2kRZInu0mxXNhT6e5VA:XvfcFghl1mTtDhrr2YlP0Q
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/sifstxhfta0mm4bny4cfxg0n0wmnxffh/model/view/77529dcdad6fb4eabb3a7c5fec0a3911d68ce5937412004500000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - o3G2kRZInu0mxXNhT6e5VA:XvfcFghl1mTtDhrr2YlP0Q:TyWqrQKMVIwhs0Wy
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/sifstxhfta0mm4bny4cfxg0n0wmnxffh/model/view/77529dcdad6fb4eabb3a7c5fec0a3911d68ce5937412004500000018"}}}'
  recorded_at: Fri, 05 Oct 2018 12:28:55 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/sifstxhfta0mm4bny4cfxg0n0wmnxffh/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/sifstxhfta0mm4bny4cfxg0n0wmnxffh/model/diff/5d7739c6f917c4b4d34614cb8b0763df34ec83d04070d09000000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - o3G2kRZInu0mxXNhT6e5VA:KVtDiOdkh-8BFiL90xkwHw
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/sifstxhfta0mm4bny4cfxg0n0wmnxffh/model/diff/5d7739c6f917c4b4d34614cb8b0763df34ec83d04070d09000000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - o3G2kRZInu0mxXNhT6e5VA:KVtDiOdkh-8BFiL90xkwHw:oMA29IJ3P3RNwSLR
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/sifstxhfta0mm4bny4cfxg0n0wmnxffh/model/diff/5d7739c6f917c4b4d34614cb8b0763df34ec83d04070d09000000018"}}}'
  recorded_at: Fri, 05 Oct 2018 12:28:59 GMT
[...]
- request:
[...]
