---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - UCyVsnFzNaUqga8LwoG0Zw:vyxveKPaHAaWV0EAE86Rng
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - UCyVsnFzNaUqga8LwoG0Zw:vyxveKPaHAaWV0EAE86Rng:z7OLGVfZe8QfX7W0
      X-Gdc-Request-Time:
      - '63'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 28 Nov 2018 16:58:15 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - UCyVsnFzNaUqga8LwoG0Zw:-v6KYQg1UvLC4beKRAoeRw
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - UCyVsnFzNaUqga8LwoG0Zw:-v6KYQg1UvLC4beKRAoeRw:nkPrvjvw1BO17osF
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 28 Nov 2018 16:58:16 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - UCyVsnFzNaUqga8LwoG0Zw:Noq0cS6q42UeoZnzzqg8xw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - UCyVsnFzNaUqga8LwoG0Zw:Noq0cS6q42UeoZnzzqg8xw:2eYUxVpIBH1WjBbn
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-11-28
        17:51:11","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","timezone":null,"language":"en-US","ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Wed, 28 Nov 2018 16:58:16 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - UCyVsnFzNaUqga8LwoG0Zw:jIg1aTz_cCLlb2FCbByTew
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - UCyVsnFzNaUqga8LwoG0Zw:jIg1aTz_cCLlb2FCbByTew:tvnDAmBTrebWTxwN
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Wed, 28 Nov 2018 16:58:17 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ulqqp5kx5q1q01gwwdg6qfzt838w8qop
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - UCyVsnFzNaUqga8LwoG0Zw:c415frOpdhaSHzwrzJzLrQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - UCyVsnFzNaUqga8LwoG0Zw:c415frOpdhaSHzwrzJzLrQ:TAJJCW7WsaZwJ4xU
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/ulqqp5kx5q1q01gwwdg6qfzt838w8qop/ldm?thumbnail=1","self":"/gdc/projects/ulqqp5kx5q1q01gwwdg6qfzt838w8qop","clearCaches":"/gdc/projects/ulqqp5kx5q1q01gwwdg6qfzt838w8qop/clearCaches","invitations":"/gdc/projects/ulqqp5kx5q1q01gwwdg6qfzt838w8qop/invitations","users":"/gdc/projects/ulqqp5kx5q1q01gwwdg6qfzt838w8qop/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/ulqqp5kx5q1q01gwwdg6qfzt838w8qop/uploads/","ldm":"/gdc/projects/ulqqp5kx5q1q01gwwdg6qfzt838w8qop/ldm","metadata":"/gdc/md/ulqqp5kx5q1q01gwwdg6qfzt838w8qop","publicartifacts":"/gdc/projects/ulqqp5kx5q1q01gwwdg6qfzt838w8qop/publicartifacts","roles":"/gdc/projects/ulqqp5kx5q1q01gwwdg6qfzt838w8qop/roles","userRoles":"/gdc/projects/ulqqp5kx5q1q01gwwdg6qfzt838w8qop/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/ulqqp5kx5q1q01gwwdg6qfzt838w8qop/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/ulqqp5kx5q1q01gwwdg6qfzt838w8qop/dataload","connectors":"/gdc/projects/ulqqp5kx5q1q01gwwdg6qfzt838w8qop/connectors","execute":"/gdc/projects/ulqqp5kx5q1q01gwwdg6qfzt838w8qop/execute","config":"/gdc/projects/ulqqp5kx5q1q01gwwdg6qfzt838w8qop/config","projectFeatureFlags":"/gdc/projects/ulqqp5kx5q1q01gwwdg6qfzt838w8qop/projectFeatureFlags","schedules":"/gdc/projects/ulqqp5kx5q1q01gwwdg6qfzt838w8qop/schedules","templates":"/gdc/md/ulqqp5kx5q1q01gwwdg6qfzt838w8qop/templates"},"meta":{"created":"2018-11-28
        17:58:18","summary":"No summary","updated":"2018-11-28 17:58:19","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"DailyUse
        Project for gooddata-ruby integration tests - DO NOT DELETE","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 28 Nov 2018 16:58:32 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Che3QC3DTszoogxq0vMREQ:-Ss8YpEY5a98V6TlKvH4Iw
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '23'
      X-Gdc-Request:
      - Che3QC3DTszoogxq0vMREQ:-Ss8YpEY5a98V6TlKvH4Iw:AxGf5DniNurD9H9Z
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 28 Nov 2018 17:02:33 GMT
recorded_with: VCR 4.0.0
