---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ofzungmvlxxnnj5lwtvphj65rgq2fswb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - SFe9KYu-EwEJMoECagfurA:ugqA8TTvOwK2KZeMhDEAcg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - SFe9KYu-EwEJMoECagfurA:ugqA8TTvOwK2KZeMhDEAcg:5WFDuYFo0r2qwizY
      X-Gdc-Request-Time:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/ofzungmvlxxnnj5lwtvphj65rgq2fswb/ldm?thumbnail=1","self":"/gdc/projects/ofzungmvlxxnnj5lwtvphj65rgq2fswb","clearCaches":"/gdc/projects/ofzungmvlxxnnj5lwtvphj65rgq2fswb/clearCaches","invitations":"/gdc/projects/ofzungmvlxxnnj5lwtvphj65rgq2fswb/invitations","users":"/gdc/projects/ofzungmvlxxnnj5lwtvphj65rgq2fswb/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/ofzungmvlxxnnj5lwtvphj65rgq2fswb/uploads/","ldm":"/gdc/projects/ofzungmvlxxnnj5lwtvphj65rgq2fswb/ldm","metadata":"/gdc/md/ofzungmvlxxnnj5lwtvphj65rgq2fswb","publicartifacts":"/gdc/projects/ofzungmvlxxnnj5lwtvphj65rgq2fswb/publicartifacts","roles":"/gdc/projects/ofzungmvlxxnnj5lwtvphj65rgq2fswb/roles","userRoles":"/gdc/projects/ofzungmvlxxnnj5lwtvphj65rgq2fswb/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/ofzungmvlxxnnj5lwtvphj65rgq2fswb/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/ofzungmvlxxnnj5lwtvphj65rgq2fswb/dataload","connectors":"/gdc/projects/ofzungmvlxxnnj5lwtvphj65rgq2fswb/connectors","execute":"/gdc/projects/ofzungmvlxxnnj5lwtvphj65rgq2fswb/execute","config":"/gdc/projects/ofzungmvlxxnnj5lwtvphj65rgq2fswb/config","projectFeatureFlags":"/gdc/projects/ofzungmvlxxnnj5lwtvphj65rgq2fswb/projectFeatureFlags","schedules":"/gdc/projects/ofzungmvlxxnnj5lwtvphj65rgq2fswb/schedules","templates":"/gdc/md/ofzungmvlxxnnj5lwtvphj65rgq2fswb/templates"},"meta":{"created":"2018-11-28
        18:03:20","summary":"No summary","updated":"2018-11-28 18:03:21","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"DailyUse
        Project for gooddata-ruby integration tests - DO NOT DELETE","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 28 Nov 2018 17:03:35 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":l-DWZAqH6jqsVQUwejenFQ:vOe79F-xutXERV8uze64_A"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - GoodData realm="GoodData API" cookie=GDCAuthSST location=/gdc/account/login
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - ":l-DWZAqH6jqsVQUwejenFQ:vOe79F-xutXERV8uze64_A:6ad7TJroKtASLJC6"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 24 Jan 2019 12:31:13 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":i0bcshokcE8-dV6gQVn1BQ:P0ZXwe-xAngWXM_gH02JxQ"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - ":i0bcshokcE8-dV6gQVn1BQ:P0ZXwe-xAngWXM_gH02JxQ:23AgS1rKWLO7Kxmo"
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 24 Jan 2019 13:14:15 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/fanw3gqnpv87lmocwqj0x79k8i9zfepd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":i0bcshokcE8-dV6gQVn1BQ:IZvjGYkyMpIuylDU6eOfGg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":i0bcshokcE8-dV6gQVn1BQ:IZvjGYkyMpIuylDU6eOfGg:mhbVaDvTQb8LqmZZ"
      X-Gdc-Request-Time:
      - '55'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPub[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":IO4RYjgpvymGCPpH00Xd2A:SzgjPrk4tNkB6C5qidGa_w"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '59'
      X-Gdc-Request:
      - ":IO4RYjgpvymGCPpH00Xd2A:SzgjPrk4tNkB6C5qidGa_w:myNfdGKZBGKbsRSl"
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 06:03:41 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":IO4RYjgpvymGCPpH00Xd2A:UFUF9a2G8I3QJEIznSUPtQ"
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '14'
      X-Gdc-Request:
      - ":IO4RYjgpvymGCPpH00Xd2A:UFUF9a2G8I3QJEIznSUPtQ:WM5Ae9vP9Pxtkt47"
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2019-03-15 10:00:00","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Wed, 15 Jan 2020 06:03:43 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":IO4RYjgpvymGCPpH00Xd2A:0mnqBCiNc18SANsvAPHYIw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '31'
      X-Gdc-Request:
      - ":IO4RYjgpvymGCPpH00Xd2A:0mnqBCiNc18SANsvAPHYIw:8t8ZJLV4GVAebN5z"
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Wed, 15 Jan 2020 06:03:44 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":IO4RYjgpvymGCPpH00Xd2A:zAkA4lYCX4Ym2tU149Hbyg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '41'
      X-Gdc-Request:
      - ":IO4RYjgpvymGCPpH00Xd2A:zAkA4lYCX4Ym2tU149Hbyg:ewiYKRYkibdpTFbY"
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/ldm?thumbnail=1","self":"/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir","clearCaches":"/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/clearCaches","invitations":"/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/invitations","users":"/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/checkXaeCompatibility","uploads":"/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/uploads/","ldm":"/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/ldm","metadata":"/gdc/md/ckggg1kn1hwetn3giedb8i2g7em2ykir","publicartifacts":"/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/publicartifacts","roles":"/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/roles","userRoles":"/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/dataload","connectors":"/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/connectors","execute":"/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/execute","config":"/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/config","projectFeatureFlags":"/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/projectFeatureFlags","schedules":"/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/schedules","templates":"/gdc/md/ckggg1kn1hwetn3giedb8i2g7em2ykir/templates"},"meta":{"created":"2020-01-15
        05:32:40","summary":"No summary","updated":"2020-01-15 05:32:41","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"DailyUse
        Project for gooddata-ruby integration tests - DO NOT DELETE","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 15 Jan 2020 06:03:45 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":FEIX1qIEn_Luuf5cTRi1Rw:U4WlJf1QLbEZmP3vMxd7Cw"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Tries:
      - '0'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '22'
      X-Gdc-Request:
      - ":FEIX1qIEn_Luuf5cTRi1Rw:U4WlJf1QLbEZmP3vMxd7Cw:cC8kR6VNwJxRHoWI"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 15 Jan 2020 06:04:51 GMT
recorded_with: VCR 5.0.0
