---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - SFe9KYu-EwEJMoECagfurA:si-pyDrcRozUwjv1dXWbNw
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - SFe9KYu-EwEJMoECagfurA:si-pyDrcRozUwjv1dXWbNw:xHFguKBjWoHEs8n9
      X-Gdc-Request-Time:
      - '72'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 28 Nov 2018 17:03:18 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - SFe9KYu-EwEJMoECagfurA:T9DWPhcdHuWQLyDkqf9fHQ
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - SFe9KYu-EwEJMoECagfurA:T9DWPhcdHuWQLyDkqf9fHQ:kzYcPxbnbSOYJMUb
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 28 Nov 2018 17:03:18 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - SFe9KYu-EwEJMoECagfurA:ojbbuRHpj0r0FFczjiooVQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - SFe9KYu-EwEJMoECagfurA:ojbbuRHpj0r0FFczjiooVQ:XemAPU9IwIpu8ruZ
      X-Gdc-Request-Time:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-11-28
        17:51:11","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","language":"en-US","timezone":null,"ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Wed, 28 Nov 2018 17:03:19 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - SFe9KYu-EwEJMoECagfurA:Ng9BIa1MCfl2u6hPLAr63w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - SFe9KYu-EwEJMoECagfurA:Ng9BIa1MCfl2u6hPLAr63w:O8SfTjiIvGXvBPHf
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Wed, 28 Nov 2018 17:03:19 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ofzungmvlxxnnj5lwtvphj65rgq2fswb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - SFe9KYu-EwEJMoECagfurA:ugqA8TTvOwK2KZeMhDEAcg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - SFe9KYu-EwEJMoECagfurA:ugqA8TTvOwK2KZeMhDEAcg:5WFDuYFo0r2qwizY
      X-Gdc-Request-Time:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/ofzungmvlxxnnj5lwtvphj65rgq2fswb/ldm?thumbnail=1","self":"/gdc/projects/ofzungmvlxxnnj5lwtvphj65rgq2fswb","clearCaches":"/gdc/projects/ofzungmvlxxnnj5lwtvphj65rgq2fswb/clearCaches","invitations":"/gdc/projects/ofzungmvlxxnnj5lwtvphj65rgq2fswb/invitations","users":"/gdc/projects/ofzungmvlxxnnj5lwtvphj65rgq2fswb/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/ofzungmvlxxnnj5lwtvphj65rgq2fswb/uploads/","ldm":"/gdc/projects/ofzungmvlxxnnj5lwtvphj65rgq2fswb/ldm","metadata":"/gdc/md/ofzungmvlxxnnj5lwtvphj65rgq2fswb","publicartifacts":"/gdc/projects/ofzungmvlxxnnj5lwtvphj65rgq2fswb/publicartifacts","roles":"/gdc/projects/ofzungmvlxxnnj5lwtvphj65rgq2fswb/roles","userRoles":"/gdc/projects/ofzungmvlxxnnj5lwtvphj65rgq2fswb/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/ofzungmvlxxnnj5lwtvphj65rgq2fswb/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/ofzungmvlxxnnj5lwtvphj65rgq2fswb/dataload","connectors":"/gdc/projects/ofzungmvlxxnnj5lwtvphj65rgq2fswb/connectors","execute":"/gdc/projects/ofzungmvlxxnnj5lwtvphj65rgq2fswb/execute","config":"/gdc/projects/ofzungmvlxxnnj5lwtvphj65rgq2fswb/config","projectFeatureFlags":"/gdc/projects/ofzungmvlxxnnj5lwtvphj65rgq2fswb/projectFeatureFlags","schedules":"/gdc/projects/ofzungmvlxxnnj5lwtvphj65rgq2fswb/schedules","templates":"/gdc/md/ofzungmvlxxnnj5lwtvphj65rgq2fswb/templates"},"meta":{"created":"2018-11-28
        18:03:20","summary":"No summary","updated":"2018-11-28 18:03:21","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"DailyUse
        Project for gooddata-ruby integration tests - DO NOT DELETE","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 28 Nov 2018 17:03:35 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - vG8OAfYmWUM_eF5epbEHiA:urDUYEjhT0K7XBD8W-wluQ
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '22'
      X-Gdc-Request:
      - vG8OAfYmWUM_eF5epbEHiA:urDUYEjhT0K7XBD8W-wluQ:E4ohl4u1k8sBjJEc
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 28 Nov 2018 17:04:21 GMT
recorded_with: VCR 4.0.0
