---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/el0gpmmw9z3svvdihvk8b5idiit19j3p
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6rCRmc3QqAoP00YA2zUpyQ:ZCp_giPf7sVtZeZMp-Nl3g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6rCRmc3QqAoP00YA2zUpyQ:ZCp_giPf7sVtZeZMp-Nl3g:sZHKa8oU7PiMP7vp
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/el0gpmmw9z3svvdihvk8b5idiit19j3p/ldm?thumbnail=1","self":"/gdc/projects/el0gpmmw9z3svvdihvk8b5idiit19j3p","clearCaches":"/gdc/projects/el0gpmmw9z3svvdihvk8b5idiit19j3p/clearCaches","invitations":"/gdc/projects/el0gpmmw9z3svvdihvk8b5idiit19j3p/invitations","users":"/gdc/projects/el0gpmmw9z3svvdihvk8b5idiit19j3p/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/el0gpmmw9z3svvdihvk8b5idiit19j3p/uploads/","ldm":"/gdc/projects/el0gpmmw9z3svvdihvk8b5idiit19j3p/ldm","metadata":"/gdc/md/el0gpmmw9z3svvdihvk8b5idiit19j3p","publicartifacts":"/gdc/projects/el0gpmmw9z3svvdihvk8b5idiit19j3p/publicartifacts","roles":"/gdc/projects/el0gpmmw9z3svvdihvk8b5idiit19j3p/roles","userRoles":"/gdc/projects/el0gpmmw9z3svvdihvk8b5idiit19j3p/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/el0gpmmw9z3svvdihvk8b5idiit19j3p/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/el0gpmmw9z3svvdihvk8b5idiit19j3p/dataload","connectors":"/gdc/projects/el0gpmmw9z3svvdihvk8b5idiit19j3p/connectors","execute":"/gdc/projects/el0gpmmw9z3svvdihvk8b5idiit19j3p/execute","config":"/gdc/projects/el0gpmmw9z3svvdihvk8b5idiit19j3p/config","projectFeatureFlags":"/gdc/projects/el0gpmmw9z3svvdihvk8b5idiit19j3p/projectFeatureFlags","schedules":"/gdc/projects/el0gpmmw9z3svvdihvk8b5idiit19j3p/schedules","templates":"/gdc/md/el0gpmmw9z3svvdihvk8b5idiit19j3p/templates"},"meta":{"created":"2018-11-13
        18:51:05","summary":"No summary","updated":"2018-11-13 18:51:07","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"DailyUse
        Project for gooddata-ruby integration tests - DO NOT DELETE","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 13 Nov 2018 17:51:20 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/mrkxenlz4bildtlj6bq8c4w1v1kpqsip
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1ZwgCwlOCJqn03YGwnGzRg:2UCWVFSjZerMCx1Dc4DAQA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - aA3bC5PTyeEwh5M6wEOSUg:DK9xHbB9YQyGXq_PXJ1N7A
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - aA3bC5PTyeEwh5M6wEOSUg:DK9xHbB9YQyGXq_PXJ1N7A:f8cOzGOMPM2vCk7j
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Tue, 13 Nov 2018 18:07:23 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - aA3bC5PTyeEwh5M6wEOSUg:Ueha0kOBqk2dvU10lMmTag
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - aA3bC5PTyeEwh5M6wEOSUg:Ueha0kOBqk2dvU10lMmTag:wqY0u86ntOUOKTjl
      X-Gdc-Request-Time:
      - '16'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Tue, 13 Nov 2018 18:07:24 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - aA3bC5PTyeEwh5M6wEOSUg:_WM3BQDG8EqyvfH4jGQnyQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - aA3bC5PTyeEwh5M6wEOSUg:_WM3BQDG8EqyvfH4jGQnyQ:xXoYMDIb2x4bkwFI
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-11-13
        18:40:36","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","language":"en-US","timezone":null,"ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Tue, 13 Nov 2018 18:07:24 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - aA3bC5PTyeEwh5M6wEOSUg:n_NUas_ZmOmjKDHuPcNmOw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - aA3bC5PTyeEwh5M6wEOSUg:n_NUas_ZmOmjKDHuPcNmOw:gPrU26bOi2NXhjV4
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Tue, 13 Nov 2018 18:07:25 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/dw13f9ezv1fjribwjsixl0zx7vqmedft
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - aA3bC5PTyeEwh5M6wEOSUg:QN7tqSDSqKSNPCMKfrN_5w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - czk3bjTFdLQy-Rf5y7TApQ:nyXWF6gh3a1m3IHEAhG3Vg
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '35'
      X-Gdc-Request:
      - czk3bjTFdLQy-Rf5y7TApQ:nyXWF6gh3a1m3IHEAhG3Vg:nNjOWkfD2RquKh2F
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 13 Nov 2018 18:07:43 GMT
recorded_with: VCR 4.0.0
