---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1,"crossDataCenterExport":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:yTQ7k5hg-XR1rK8WOmJDQQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:yTQ7k5hg-XR1rK8WOmJDQQ:WUk5VtChV4ohJWdC"
      X-Gdc-Request-Time:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/etltask/48c54aa5123f30ec13abf01da2a2824a00000032"},"token":"<TOKEN>"}}'
  recorded_at: Thu, 18 Apr 2019 14:02:41 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/etltask/48c54aa5123f30ec13abf01da2a2824a00000032
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:MgzV8B_iUI_tIZYYoBDQFg"
      Process:
      - 'true'
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:MgzV8B_iUI_tIZYYoBDQFg:71NEZBlyEBVtpKNQ"
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Thu, 18 Apr 2019 14:02:42 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/etltask/48c54aa5123f30ec13abf01da2a2824a00000032
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:On3qQqec6iLk4RFdBBz4Gw"
      Process:
      - 'true'
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:On3qQqec6iLk4RFdBBz4Gw:5kjVGH7iaTnhQBcs"
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"OK"}}'
  recorded_at: Thu, 18 Apr 2019 14:02:46 GMT
recorded_with: VCR 4.0.0
