---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1,"crossDataCenterExport":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:yTQ7k5hg-XR1rK8WOmJDQQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:yTQ7k5hg-XR1rK8WOmJDQQ:WUk5VtChV4ohJWdC"
      X-Gdc-Request-Time:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/etltask/48c54aa5123f30ec13abf01da2a2824a00000032"},"token":"<TOKEN>"}}'
  recorded_at: Thu, 18 Apr 2019 14:02:41 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/etltask/48c54aa5123f30ec13abf01da2a2824a00000032
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:MgzV8B_iUI_tIZYYoBDQFg"
      Process:
      - 'true'
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:MgzV8B_iUI_tIZYYoBDQFg:71NEZBlyEBVtpKNQ"
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Thu, 18 Apr 2019 14:02:42 GMT
[...]
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/zll541cvcwzy1k5vrkgospgyvi4bgdvn/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1,"crossDataCenterExport":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":lzDPYM8slG6VArlLa39eVg:6IolLm-Ul90sA4tcOK5LHw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '39'
      X-Gdc-Request:
      - ":lzDPYM8slG6VArlLa39eVg:6IolLm-Ul90sA4tcOK5LHw:8CgilYdz4OHHBJxR"
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/zll541cvcwzy1k5vrkgospgyvi4bgdvn/etltask/cbf6297027f5d927c7b0bbbba8e1e30d00000018"},"token":"<TOKEN>"}}'
  recorded_at: Tue, 14 Jan 2020 07:26:25 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/zll541cvcwzy1k5vrkgospgyvi4bgdvn/etltask/cbf6297027f5d927c7b0bbbba8e1e30d00000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":lzDPYM8slG6VArlLa39eVg:VAoZ1GNmRxXrxvhU4E5OmQ"
      Process:
      - 'true'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '28'
      X-Gdc-Request:
      - ":lzDPYM8slG6VArlLa39eVg:VAoZ1GNmRxXrxvhU4E5OmQ:4XzrgvPp6jL6kK4E"
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Tue, 14 Jan 2020 07:26:26 GMT
[...]
- request:
    method: post
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/pjgwueshacis9n1f0uwmc4oqufek0lty/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1,"crossDataCenterExport":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":YLaC2DmAer5vP0lsxLym0g:AiBsrmGt8poI5enIPjskqw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '34'
      X-Gdc-Request:
      - ":YLaC2DmAer5vP0lsxLym0g:AiBsrmGt8poI5enIPjskqw:9a6xRgcNpJ2QU4CX"
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/pjgwueshacis9n1f0uwmc4oqufek0lty/etltask/3ac01293f2b08c61ccc77f4568a6c89d0000004b"},"token":"<TOKEN>"}}'
  recorded_at: Tue, 14 Jan 2020 10:15:52 GMT
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/pjgwueshacis9n1f0uwmc4oqufek0lty/etltask/3ac01293f2b08c61ccc77f4568a6c89d0000004b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":YLaC2DmAer5vP0lsxLym0g:u19z6I4-LE0DTY6kn4PaVA"
      Process:
      - 'true'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '30'
      X-Gdc-Request:
      - ":YLaC2DmAer5vP0lsxLym0g:u19z6I4-LE0DTY6kn4PaVA:AsCiiJlLPfiYHbd5"
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Tue, 14 Jan 2020 10:15:54 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/jgka8uojpnb0ofe4yxwya0mfm8cno3g0/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1,"crossDataCenterExport":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":2wedXgL3GW4vHyak4Et1MA:yQjbjMdRBGgn7NxfcRGRzQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '67'
      X-Gdc-Request:
      - ":2wedXgL3GW4vHyak4Et1MA:yQjbjMdRBGgn7NxfcRGRzQ:gZoDgiPlKY1K40xm"
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/jgka8uojpnb0ofe4yxwya0mfm8cno3g0/etltask/6fb2535c68bec72de905d1cae69164bf00000089"},"token":"<TOKEN>"}}'
  recorded_at: Tue, 14 Jan 2020 10:32:58 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/jgka8uojpnb0ofe4yxwya0mfm8cno3g0/etltask/6fb2535c68bec72de905d1cae69164bf00000089
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":2wedXgL3GW4vHyak4Et1MA:5djJDYgutKbm_47WPqb_OQ"
      Process:
      - 'true'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '29'
      X-Gdc-Request:
      - ":2wedXgL3GW4vHyak4Et1MA:5djJDYgutKbm_47WPqb_OQ:oUH68sSXxQoJDio7"
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Tue, 14 Jan 2020 10:32:59 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ckggg1kn1hwetn3giedb8i2g7em2ykir/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1,"crossDataCenterExport":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":rdwPwqw9TPMJaSAGLH2tLA:QYSywX8Ki-JMakwMCs7qxQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '38'
      X-Gdc-Request:
      - ":rdwPwqw9TPMJaSAGLH2tLA:QYSywX8Ki-JMakwMCs7qxQ:Pl9hpWs2HPseJE0c"
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/ckggg1kn1hwetn3giedb8i2g7em2ykir/etltask/2f48f7b040849c02352b61b567d2980a00000089"},"token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 06:01:09 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ckggg1kn1hwetn3giedb8i2g7em2ykir/etltask/2f48f7b040849c02352b61b567d2980a00000089
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":rdwPwqw9TPMJaSAGLH2tLA:2_UNAko6xNfrga1x7STjKw"
      Process:
      - 'true'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '33'
      X-Gdc-Request:
      - ":rdwPwqw9TPMJaSAGLH2tLA:2_UNAko6xNfrga1x7STjKw:upk9SZs6QWxvwKvS"
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Wed, 15 Jan 2020 06:01:10 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m6j94r8h9s0d8gma8gk5tcwbohebc5mt/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1,"crossDataCenterExport":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7qH3nI0ngNiwX1cO99I8QA:nlo2R7vQvXoA4nNZunxqLg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '48'
      X-Gdc-Request:
      - ":7qH3nI0ngNiwX1cO99I8QA:nlo2R7vQvXoA4nNZunxqLg:2KbBxOvhUj5fXh60"
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/m6j94r8h9s0d8gma8gk5tcwbohebc5mt/etltask/e6ce855e9b1823a79217c0f90ef170c900000089"},"token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 07:39:42 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m6j94r8h9s0d8gma8gk5tcwbohebc5mt/etltask/e6ce855e9b1823a79217c0f90ef170c900000089
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7qH3nI0ngNiwX1cO99I8QA:YwLBeSXJkWahLyH_8PPcTg"
      Process:
      - 'true'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '29'
      X-Gdc-Request:
      - ":7qH3nI0ngNiwX1cO99I8QA:YwLBeSXJkWahLyH_8PPcTg:WABVajB6kZcIoQPV"
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Wed, 15 Jan 2020 07:39:43 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m6j94r8h9s0d8gma8gk5tcwbohebc5mt/etltask/e6ce855e9b1823a79217c0f90ef170c900000089
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7qH3nI0ngNiwX1cO99I8QA:sXWXa7MlXu2MmRBx8u0Jgw"
      Process:
      - 'true'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '37'
      X-Gdc-Request:
      - ":7qH3nI0ngNiwX1cO99I8QA:sXWXa7MlXu2MmRBx8u0Jgw:mb3KHpxY9AtvYG8C"
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"OK"}}'
  recorded_at: Wed, 15 Jan 2020 07:39:47 GMT
recorded_with: VCR 5.0.0
