---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1,"crossDataCenterExport":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:DgEFJuWEnAXWWAAwy0SWSQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:DgEFJuWEnAXWWAAwy0SWSQ:Nt922oIDv1CbHKHI
      X-Gdc-Request-Time:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/etltask/f65cb9f5efde3607eb241b7e9dca6bdc00000040"},"token":"<TOKEN>"}}'
  recorded_at: Fri, 07 Sep 2018 08:32:50 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/etltask/f65cb9f5efde3607eb241b7e9dca6bdc00000040
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:0O9IZ4Mu7jwRNCNoHJT8nQ
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:0O9IZ4Mu7jwRNCNoHJT8nQ:Lz8yhll6Be1Xma0u
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Fri, 07 Sep 2018 08:32:50 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zyoflmgyrszp8cjur3x271h18fgu8ikz/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1,"crossDataCenterExport":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RTtYVDo0e7zVQqjXh6rkLQ:DgyqFlQtgf1D2uAvx4Fm2Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - RTtYVDo0e7zVQqjXh6rkLQ:DgyqFlQtgf1D2uAvx4Fm2Q:Hm1Vze7myVWJ9RmS
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/zyoflmgyrszp8cjur3x271h18fgu8ikz/etltask/f2d63fb9872a847bdc8fa782e7d15dbf00000032"},"token":"<TOKEN>"}}'
  recorded_at: Fri, 05 Oct 2018 12:59:34 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zyoflmgyrszp8cjur3x271h18fgu8ikz/etltask/f2d63fb9872a847bdc8fa782e7d15dbf00000032
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RTtYVDo0e7zVQqjXh6rkLQ:2MZVmvMKGWPNjDBSTLVGSQ
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - RTtYVDo0e7zVQqjXh6rkLQ:2MZVmvMKGWPNjDBSTLVGSQ:rTxjRlHoDN5ZgkyW
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Fri, 05 Oct 2018 12:59:34 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/x61hr057hl6zofam5vsgltg92ozkbtyc/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1,"crossDataCenterExport":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - GDNKUMmSE7CBKcSRg1IUdw:aGnFJbMZ4i-u4ItO6b9NYA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - GDNKUMmSE7CBKcSRg1IUdw:aGnFJbMZ4i-u4ItO6b9NYA:QGMEZqJQ7TdXCT12
      X-Gdc-Request-Time:
      - '102'
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/x61hr057hl6zofam5vsgltg92ozkbtyc/etltask/bb731bdf8e68a17f8d64c5fccc65748700000032"},"token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 11:00:17 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/x61hr057hl6zofam5vsgltg92ozkbtyc/etltask/bb731bdf8e68a17f8d64c5fccc65748700000032
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - GDNKUMmSE7CBKcSRg1IUdw:WDvWiaog7Egm2p4caME13Q
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - GDNKUMmSE7CBKcSRg1IUdw:WDvWiaog7Egm2p4caME13Q:XHutVaEWylVkyf2C
      X-Gdc-Request-Time:
      - '46'
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Wed, 10 Oct 2018 11:00:18 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/x61hr057hl6zofam5vsgltg92ozkbtyc/etltask/bb731bdf8e68a17f8d64c5fccc65748700000032
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - GDNKUMmSE7CBKcSRg1IUdw:jXPOVTf20HOr2WThDU1rLQ
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - GDNKUMmSE7CBKcSRg1IUdw:jXPOVTf20HOr2WThDU1rLQ:3q6p3L5LuUTKKXwi
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"OK"}}'
  recorded_at: Wed, 10 Oct 2018 11:00:28 GMT
recorded_with: VCR 4.0.0
