---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:0CusCbtfcCnlMGHv-KVXvA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:0CusCbtfcCnlMGHv-KVXvA:0DjJwud4zFYRiaKd
      X-Gdc-Request-Time:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/ldm?thumbnail=1","self":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj","clearCaches":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/clearCaches","invitations":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/invitations","users":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/uploads/","ldm":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/ldm","metadata":"/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj","publicartifacts":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/publicartifacts","roles":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/roles","userRoles":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/dataload","connectors":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/connectors","execute":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/execute","config":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/config","projectFeatureFlags":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/projectFeatureFlags","schedules":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/schedules","templates":"/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/templates","eventstores":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        09:19:16","summary":"No summary","updated":"2018-06-05 09:19:17","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"My
        project from blueprint","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:19:18 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:LAOyWMpJygzyTWaELFnVmg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:LAOyWMpJygzyTWaELFnVmg:alWVvycevhK8t5yq
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/ldm?thumbnail=1","self":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj","clearCaches":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/clearCaches","invitations":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/invitations","users":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/gukitosskabcqym1m[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[],"dateDimensions":[{"dateDimension":{"name":"created_on","urn":"urn:pe:date","title":"Created
        On"}}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:mq2iSJF-Wmaxfx6UZTteSQ
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/model/diff/f5686af78a311888c63896519039fad901cd73addec9bdd80000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:mq2iSJF-Wmaxfx6UZTteSQ:w4FIuiC1nz3vuDRZ
      X-Gdc-Request-Time:
      - '55'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/model/diff/f5686af78a311888c63896519039fad901cd73addec9bdd80000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 07:19:26 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/model/diff/f5686af78a311888c63896519039fad901cd73addec9bdd80000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:XCVeYfXajaIy1pTS3vfWgA
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/model/diff/f5686af78a311888c63896519039fad901cd73addec9bdd80000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:XCVeYfXajaIy1pTS3vfWgA:O5fpSwcewXJKGCK0
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/model/diff/f5686af78a311888c63896519039fad901cd73addec9bdd80000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 07:19:27 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/model/diff/f5686af78a311888c63896519039fad901cd73addec9bdd80000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:Z3Lg45q7CfvUNX2d-1E9EQ
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:Z3Lg45q7CfvUNX2d-1E9EQ:cZCYe5ztuW5EPGFY
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"date-dimension.create","destructive":false,"description":"Create
        date dimension ''%s''","parameters":["Created On"]}}],"updateScripts":[{"updateScript":{"maqlDdl":"INCLUDE
        TEMPLATE \"urn:pe:date\" MODIFY (IDENTIFIER \"created_on\", TITLE \"Created
        On\");\n","maqlDdlChunks":["INCLUDE TEMPLATE \"urn:pe:date\" MODIFY (IDENTIFIER
        \"created_on\", TITLE \"Created On\");\n"],"preserveData":true,"cascadeDrops":false}},{"updateScript":{"maqlDdl":"INCLUDE
        TEMPLATE \"urn:pe:date\" MODIFY (IDENTIFIER \"created_on\", TITLE \"Created
        On\");\n","maqlDdlChunks":["INCLUDE TEMPLATE \"urn:pe:date\" MODIFY (IDENTIFIER
        \"created_on\", TITLE \"Created On\");\n"],"preserveData":false,"cascadeDrops":false}}]}}'
  recorded_at: Tue, 05 Jun 2018 07:19:37 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:oGl3fRZ1ZguMjVq2zdezWg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:oGl3fRZ1ZguMjVq2zdezWg:RJDvjlSyfi3UL8Cb
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''gukitosskabcqym1mefzbs0v4fdtfxjj''","category":"project","instance":"gukitosskabcqym1mefzbs0v4fdtfxjj","links":[{"link":"/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","ca[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:rYdFz5hUKcb9OY0QEGy_Vg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"INCLUDE TEMPLATE \"urn:pe:date\" MODIFY (IDENTIFIER
        \"created_on\", TITLE \"Created On\");\n"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:XumroF87IzFBMnZmKhQyHQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:XumroF87IzFBMnZmKhQyHQ:pMKDN3HIIzLIBoVj
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"entries":[{"link":"/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/tasks/2855464ebfe1e388afd391ac650812460000002a/status","category":"tasks-status"}]}'
  recorded_at: Tue, 05 Jun 2018 07:19:40 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/tasks/2855464ebfe1e388afd391ac650812460000002a/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:zC2VD2Gy9BYwM8VTre1xcA
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:zC2VD2Gy9BYwM8VTre1xcA:X8HVN3HI1TXdD2Ux
      X-Gdc-Request-Time:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/tasks/2855464ebfe1e388afd391ac650812460000002a/status","status":"RUNNING","links":{"poll":"/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/tasks/2855464ebfe1e388afd391ac650812460000002a/status"}}}'
  recorded_at: Tue, 05 Jun 2018 07:19:40 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/olb1czsjwud6roi22uynk5u5dxogy0ia
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - "-xb92qNIZbdWoASIKVxRqg:wNJCkkWy81nm2Moxb-603A"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/olb1czsjwud6roi22uynk5u5dxogy0ia/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[],"dateDimensions":[{"dateDimension":{"name":"created_on","urn":"urn:pe:date","title":"Created
        On","bridges":[]}}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - "-xb92qNIZbdWoASIKVxRqg:2XQ13Yy8hfM45F32bFf8pQ"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/olb1czsjwud6roi22uynk5u5dxogy0ia/model/diff/94c0dad1222e55f9c47ee72a07ac4c4427fa77cbf832248a00000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - "-xb92qNIZbdWoASIKVxRqg:2XQ13Yy8hfM45F32bFf8pQ:omzpn5NREGJECSff"
      X-Gdc-Request-Time:
      - '95'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/olb1czsjwud6roi22uynk5u5dxogy0ia/model/diff/94c0dad1222e55f9c47ee72a07ac4c4427fa77cbf832248a00000018"}}}'
  recorded_at: Fri, 05 Oct 2018 13:16:29 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/olb1czsjwud6roi22uynk5u5dxogy0ia/model/diff/94c0dad1222e55f9c47ee72a07ac4c4427fa77cbf832248a00000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - "-xb92qNIZbdWoASIKVxRqg:kkrb0TzKlbefbf9Y4PkcXQ"
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/olb1czsjwud6roi22uynk5u5dxogy0ia/model/diff/94c0dad1222e55f9c47ee72a07ac4c4427fa77cbf832248a00000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - "-xb92qNIZbdWoASIKVxRqg:kkrb0TzKlbefbf9Y4PkcXQ:lq5N18qODhJ0jLYs"
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/olb1czsjwud6roi22uynk5u5dxogy0ia/model/diff/94c0dad1222e55f9c47ee72a07ac4c4427fa77cbf832248a00000018"}}}'
  recorded_at: Fri, 05 Oct 2018 13:16:30 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/olb1czsjwud6roi22uynk5u5dxogy0ia
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - "-xb92qNIZbdWoASIKVxRqg:iD6ewXCzwQ7Y9wxqTH46Jw"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;char[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/olb1czsjwud6roi22uynk5u5dxogy0ia/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - "-xb92qNIZbdWoASIKVxRqg:XT4zT3C1hwdzjcrqv7qoVw"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/olb1czsjwud6roi22uynk5u5dxogy0ia/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"INCLUDE TEMPLATE \"urn:pe:date\" MODIFY (IDENTIFIER
        \"created_on\", TITLE \"Created On\");\n"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - "-xb92qNIZbdWoASIKVxRqg:8Hp75ea8l5M9EufDcbrmqw"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - "-xb92qNIZbdWoASIKVxRqg:8Hp75ea8l5M9EufDcbrmqw:tSwyyiVGaR7QGVJV"
      X-Gdc-Request-Time:
      - '63'
    body:
      encoding: ASCII-8BIT
      string: '{"entries":[{"link":"/gdc/md/olb1czsjwud6roi22uynk5u5dxogy0ia/tasks/2aa8d6dd9aa636fc7bd129de3927c2e800000007/status","category":"tasks-status"}]}'
  recorded_at: Fri, 05 Oct 2018 13:16:34 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/olb1czsjwud6roi22uynk5u5dxogy0ia/tasks/2aa8d6dd9aa636fc7bd129de3927c2e800000007/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - "-xb92qNIZbdWoASIKVxRqg:0TyMwlVDndj51EEgGr5S-g"
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - "-xb92qNIZbdWoASIKVxRqg:0TyMwlVDndj51EEgGr5S-g:aNsJxMFJfrsq0hca"
      X-Gdc-Request-Time:
      - '88'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/olb1czsjwud6roi22uynk5u5dxogy0ia/tasks/2aa8d6dd9aa636fc7bd129de3927c2e800000007/status","status":"RUNNING","links":{"poll":"/gdc/md/olb1czsjwud6roi22uynk5u5dxogy0ia/tasks/2aa8d6dd9aa636fc7bd129de3927c2e800000007/status"}}}'
  recorded_at: Fri, 05 Oct 2018 13:16:35 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - z_T_aTHUJpPtBTCmLKSTtA:ZCYfGNkKN3ash-Uw6TKAzg
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z_T_aTHUJpPtBTCmLKSTtA:ZCYfGNkKN3ash-Uw6TKAzg:yWKpZzNH0OGkdTqs
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 11:46:22 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z_T_aTHUJpPtBTCmLKSTtA:f6dDsB5Wa8Nzox1pMYEnMQ
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - z_T_aTHUJpPtBTCmLKSTtA:f6dDsB5Wa8Nzox1pMYEnMQ:zPq7jishNp1pWjze
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 11:46:23 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z_T_aTHUJpPtBTCmLKSTtA:45bJM9QjdoHwwdSLSgDXug
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z_T_aTHUJpPtBTCmLKSTtA:45bJM9QjdoHwwdSLSgDXug:1mmy2rgkrfVbV8nv
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-10-10
        10:25:03","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","timezone":null,"language":"en-US","ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Wed, 10 Oct 2018 11:46:23 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z_T_aTHUJpPtBTCmLKSTtA:5cXMrEs260Sm-j4qWdO4_A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      -[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"My project from
        blueprint"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z_T_aTHUJpPtBTCmLKSTtA:64PxxEUDCnv_knplwqTCKA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z_T_aTHUJpPtBTCmLKSTtA:64PxxEUDCnv_knplwqTCKA:P34tt5772iy0qUX7
      X-Gdc-Request-Time:
      - '433'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/tq4xg3ijigjd7zqp3si5m2kokn8dsvm9"}'
  recorded_at: Wed, 10 Oct 2018 11:46:25 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/tq4xg3ijigjd7zqp3si5m2kokn8dsvm9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z_T_aTHUJpPtBTCmLKSTtA:6RSK1uc-lle1-WGGc7kboA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/tq4xg3ijigjd7zqp3si5m2kokn8dsvm9/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[],"dateDimensions":[{"dateDimension":{"name":"created_on","urn":"urn:pe:date","title":"Created
        On","bridges":[]}}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z_T_aTHUJpPtBTCmLKSTtA:yP-XiytyVpHEdKmcBXTqnQ
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/tq4xg3ijigjd7zqp3si5m2kokn8dsvm9/model/diff/13e5246863a8a25bd9bd1c671d647f7e1591ff8cddd1e98100000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z_T_aTHUJpPtBTCmLKSTtA:yP-XiytyVpHEdKmcBXTqnQ:73xxlm3FJSdTpUTT
      X-Gdc-Request-Time:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/tq4xg3ijigjd7zqp3si5m2kokn8dsvm9/model/diff/13e5246863a8a25bd9bd1c671d647f7e1591ff8cddd1e98100000018"}}}'
  recorded_at: Wed, 10 Oct 2018 11:46:33 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/tq4xg3ijigjd7zqp3si5m2kokn8dsvm9/model/diff/13e5246863a8a25bd9bd1c671d647f7e1591ff8cddd1e98100000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z_T_aTHUJpPtBTCmLKSTtA:3LuEmh8VbMbQHpKZwnYHiA
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/tq4xg3ijigjd7zqp3si5m2kokn8dsvm9/model/diff/13e5246863a8a25bd9bd1c671d647f7e1591ff8cddd1e98100000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z_T_aTHUJpPtBTCmLKSTtA:3LuEmh8VbMbQHpKZwnYHiA:P8mCx8GO9HofqUrz
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/tq4xg3ijigjd7zqp3si5m2kokn8dsvm9/model/diff/13e5246863a8a25bd9bd1c671d647f7e1591ff8cddd1e98100000018"}}}'
  recorded_at: Wed, 10 Oct 2018 11:46:34 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/tq4xg3ijigjd7zqp3si5m2kokn8dsvm9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z_T_aTHUJpPtBTCmLKSTtA:wM895DFSEU3gGQV5QP1HxQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charse[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/tq4xg3ijigjd7zqp3si5m2kokn8dsvm9/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z_T_aTHUJpPtBTCmLKSTtA:dREZQJVbgTatgkx36fanzg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/tq4xg3ijigjd7zqp3si5m2kokn8dsvm9/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"INCLUDE TEMPLATE \"urn:pe:date\" MODIFY (IDENTIFIER
        \"created_on\", TITLE \"Created On\");\n"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z_T_aTHUJpPtBTCmLKSTtA:WCwmLfij6Aby4Cr1eA3lOA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z_T_aTHUJpPtBTCmLKSTtA:WCwmLfij6Aby4Cr1eA3lOA:VmcePCuRCNo94dJP
      X-Gdc-Request-Time:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"entries":[{"link":"/gdc/md/tq4xg3ijigjd7zqp3si5m2kokn8dsvm9/tasks/10cb1f1c0e2c70d73fc62959eef857a700000007/status","category":"tasks-status"}]}'
  recorded_at: Wed, 10 Oct 2018 11:46:38 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/tq4xg3ijigjd7zqp3si5m2kokn8dsvm9/tasks/10cb1f1c0e2c70d73fc62959eef857a700000007/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z_T_aTHUJpPtBTCmLKSTtA:LJqZFocqr0gJTGjiVIqBFA
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z_T_aTHUJpPtBTCmLKSTtA:LJqZFocqr0gJTGjiVIqBFA:MEGwT66rYIW6OgIr
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/tq4xg3ijigjd7zqp3si5m2kokn8dsvm9/tasks/10cb1f1c0e2c70d73fc62959eef857a700000007/status","status":"RUNNING","links":{"poll":"/gdc/md/tq4xg3ijigjd7zqp3si5m2kokn8dsvm9/tasks/10cb1f1c0e2c70d73fc62959eef857a700000007/status"}}}'
  recorded_at: Wed, 10 Oct 2018 11:46:38 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - lo_ULe_zf7bbfN0EGTjfSw:qsNCmCeM4XD-tW58cSUnEA
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '21'
      X-Gdc-Request:
      - lo_ULe_zf7bbfN0EGTjfSw:qsNCmCeM4XD-tW58cSUnEA:5txpZsPVv6Cdsdgz
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 11:46:47 GMT
recorded_with: VCR 4.0.0
