---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:sUGaJE8kHfi7h4us4VwhoQ
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:sUGaJE8kHfi7h4us4VwhoQ:bdtlafiAeThyyo4O
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Tue, 05 Jun 2018 07:19:14 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:PoWV6wCVDj-vMAZ_x5lpDw
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:PoWV6wCVDj-vMAZ_x5lpDw:wI1VUdFkbiK95GHF
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Tue, 05 Jun 2018 07:19:14 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:DZCzvaBNm_-wi5CFdPyBGA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:DZCzvaBNm_-wi5CFdPyBGA:Ba1jYgWkDdwtkNca
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-06-04
        11:38:25","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","language":"en-US","timezone":null,"ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Tue, 05 Jun 2018 07:19:15 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:IjoTcuXv3CDeTXi2nMtI5A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:IjoTcuXv3CDeTXi2nMtI5A:0mEeN7d5bcuBVKcW
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Tue, 05 Jun 2018 07:19:15 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"My project from
        blueprint"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:oyK-3SKB7y3umdwJEKeEdQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:oyK-3SKB7y3umdwJEKeEdQ:juo46nXti53BRgJ5
      X-Gdc-Request-Time:
      - '852'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj"}'
  recorded_at: Tue, 05 Jun 2018 07:19:17 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:0CusCbtfcCnlMGHv-KVXvA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:0CusCbtfcCnlMGHv-KVXvA:0DjJwud4zFYRiaKd
      X-Gdc-Request-Time:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/ldm?thumbnail=1","self":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj","clearCaches":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/clearCaches","invitations":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/invitations","users":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/uploads/","ldm":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/ldm","metadata":"/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj","publicartifacts":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/publicartifacts","roles":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/roles","userRoles":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/dataload","connectors":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/connectors","execute":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/execute","config":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/config","projectFeatureFlags":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/projectFeatureFlags","schedules":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/schedules","templates":"/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/templates","eventstores":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        09:19:16","summary":"No summary","updated":"2018-06-05 09:19:17","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"My
        project from blueprint","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:19:18 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[],"dateDimensions":[{"dateDimension":{"name":"created_on","urn":"urn:pe:date","title":"Created
        On"}}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:mq2iSJF-Wmaxfx6UZTteSQ
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/model/diff/f5686af78a311888c63896519039fad901cd73addec9bdd80000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:mq2iSJF-Wmaxfx6UZTteSQ:w4FIuiC1nz3vuDRZ
      X-Gdc-Request-Time:
      - '55'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/model/diff/f5686af78a311888c63896519039fad901cd73addec9bdd80000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 07:19:26 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/model/diff/f5686af78a311888c63896519039fad901cd73addec9bdd80000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:XCVeYfXajaIy1pTS3vfWgA
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/model/diff/f5686af78a311888c63896519039fad901cd73addec9bdd80000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:XCVeYfXajaIy1pTS3vfWgA:O5fpSwcewXJKGCK0
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/model/diff/f5686af78a311888c63896519039fad901cd73addec9bdd80000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 07:19:27 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gukitosskabcqym1mefzbs0v4fdtfxjj/model/diff/f5686af78a311888c63896519039fad901cd73addec9bdd80000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:Z3Lg45q7CfvUNX2d-1E9EQ
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:Z3Lg45q7CfvUNX2d-1E9EQ:cZCYe5ztuW5EPGFY
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"date-dimension.create","destructive":false,"description":"Create
        date dimension ''%s''","parameters":["Created On"]}}],"updateScripts":[{"updateScript":{"maqlDdl":"INCLUDE
        TEMPLATE \"urn:pe:date\" MODIFY (IDENTIFIER \"created_on\", TITLE \"Created
        On\");\n","maqlDdlChunks":["INCLUDE TEMPLATE \"urn:pe:date\" MODIFY (IDENTIFIER
        \"created_on\", TITLE \"Created On\");\n"],"preserveData":true,"cascadeDrops":false}},{"updateScript":{"maqlDdl":"INCLUDE
        TEMPLATE \"urn:pe:date\" MODIFY (IDENTIFIER \"created_on\", TITLE \"Created
        On\");\n","maqlDdlChunks":["INCLUDE TEMPLATE \"urn:pe:date\" MODIFY (IDENTIFIER
        \"created_on\", TITLE \"Created On\");\n"],"preserveData":false,"cascadeDrops":false}}]}}'
  recorded_at: Tue, 05 Jun 2018 07:19:37 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:oGl3fRZ1ZguMjVq2zdezWg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:oGl3fRZ1ZguMjVq2zdezWg:RJDvjlSyfi3UL8Cb
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''gukitosskabcqym1mefzbs0v4fdtfxjj''","category":"project","instance":"gukitosskabcqym1mefzbs0v4fdtfxjj","links":[{"link":"/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","ca[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:rYdFz5hUKcb9OY0QEGy_Vg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"INCLUDE TEMPLATE \"urn:pe:date\" MODIFY (IDENTIFIER
        \"created_on\", TITLE \"Created On\");\n"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:XumroF87IzFBMnZmKhQyHQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:XumroF87IzFBMnZmKhQyHQ:pMKDN3HIIzLIBoVj
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"entries":[{"link":"/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/tasks/2855464ebfe1e388afd391ac650812460000002a/status","category":"tasks-status"}]}'
  recorded_at: Tue, 05 Jun 2018 07:19:40 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/tasks/2855464ebfe1e388afd391ac650812460000002a/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:zC2VD2Gy9BYwM8VTre1xcA
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:zC2VD2Gy9BYwM8VTre1xcA:X8HVN3HI1TXdD2Ux
      X-Gdc-Request-Time:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/tasks/2855464ebfe1e388afd391ac650812460000002a/status","status":"RUNNING","links":{"poll":"/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/tasks/2855464ebfe1e388afd391ac650812460000002a/status"}}}'
  recorded_at: Tue, 05 Jun 2018 07:19:40 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4QkXxH4FtvJxqaBzFDcVdg:ebwTF0epx4GVt0it9Y2dxA
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '27'
      X-Gdc-Request:
      - 4QkXxH4FtvJxqaBzFDcVdg:ebwTF0epx4GVt0it9Y2dxA:gOWTdTHfPU92UiPU
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 07:20:06 GMT
recorded_with: VCR 4.0.0
