---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/b68p3VCYfyYX-67OyFGKy8w/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 5EkHAK9Aigx1Fdt0ONHEKw:PEMK2wxillvD94gT7hYZTg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 5EkHAK9Aigx1Fdt0ONHEKw:PEMK2wxillvD94gT7hYZTg:oJjVPqDhc8Uipjxb
      X-Gdc-Request-Time:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroupMembers":{"paging":{"offset":null,"limit":1000,"next":null},"items":[]}}'
  recorded_at: Mon, 28 May 2018 15:38:37 GMT
recorded_with: VCR 4.0.0
