---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bLUrfsF7kWLeDzHZvQr3tCg/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:V-WQDScIEl7Wt4xyA16eBw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:V-WQDScIEl7Wt4xyA16eBw:VaERGACpTMUalPff
      X-Gdc-Request-Time:
      - '16'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroupMembers":{"paging":{"offset":null,"limit":1000,"next":null},"items":[]}}'
  recorded_at: Thu, 31 May 2018 15:21:24 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bYht_3jsC3p73mhemtw3L-Q/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Ti3R5nc8b1s2KH2uRjMqrA:VFAwGDKzxVha33Xd14zaig
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Ti3R5nc8b1s2KH2uRjMqrA:VFAwGDKzxVha33Xd14zaig:WK11ynGJui2mMCKr
      X-Gdc-Request-Time:
      - '16'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroupMembers":{"paging":{"offset":null,"limit":1000,"next":null},"items":[]}}'
  recorded_at: Wed, 10 Oct 2018 09:04:40 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bhxOVVNgzAPW9jUtv-eJmTA/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - IVWNGeM56YxdR03xNdm9uQ:vPRwRkg2BAG0tTt8fgq-hw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - IVWNGeM56YxdR03xNdm9uQ:vPRwRkg2BAG0tTt8fgq-hw:675cEt4P8TypDVIA
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroupMembers":{"paging":{"offset":null,"limit":1000,"next":null},"items":[]}}'
  recorded_at: Wed, 10 Oct 2018 11:54:21 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bPzgfviBztA-U8ztc0aKuew/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":wMIPo2Igg4Z8Ex-_svFoTA:m2nMc6nzqij4NsoSWZx0Hg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":wMIPo2Igg4Z8Ex-_svFoTA:m2nMc6nzqij4NsoSWZx0Hg:fk5sPLfz5sK3QwTy"
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroupMembers":{"paging":{"offset":null,"limit":1000,"next":null},"items":[]}}'
  recorded_at: Thu, 24 Jan 2019 13:42:40 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bw1TZSB3oV5NqSMeQ7PwfPA/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":9ayKUMlzPr99oJjqtlKSVA:2-B5Jc4zPCP82ajX0NMCYQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '22'
      X-Gdc-Request:
      - ":9ayKUMlzPr99oJjqtlKSVA:2-B5Jc4zPCP82ajX0NMCYQ:AaVMLYzva3We7FdK"
    body:
      encoding: ASCII-8BIT
      string: '{"userGroupMembers":{"paging":{"offset":null,"limit":1000,"next":null},"items":[]}}'
  recorded_at: Wed, 15 Jan 2020 06:38:02 GMT
recorded_with: VCR 5.0.0
