---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - oTcKo3v63KR_5D8pM_6UwQ:Gcnoz0rZRVmWPj0Jl7cIFw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - oTcKo3v63KR_5D8pM_6UwQ:Gcnoz0rZRVmWPj0Jl7cIFw:QFgETzym9cQ80ayy
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/ldm?thumbnail=1","self":"/gdc/projects/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34","clearCaches":"/gdc/projects/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/clearCaches","invitations":"/gdc/projects/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/invitations","users":"/gdc/projects/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/uploads/","ldm":"/gdc/projects/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/ldm","metadata":"/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34","publicartifacts":"/gdc/projects/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/publicartifacts","roles":"/gdc/projects/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/roles","userRoles":"/gdc/projects/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/dataload","connectors":"/gdc/projects/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/connectors","execute":"/gdc/projects/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/execute","config":"/gdc/projects/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/config","projectFeatureFlags":"/gdc/projects/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/projectFeatureFlags","schedules":"/gdc/projects/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/schedules","templates":"/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/templates","eventstores":"/gdc/projects/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/dataload/eventstore/stores"},"meta":{"created":"2018-05-04
        11:38:31","summary":"No summary","updated":"2018-05-04 11:38:31","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for id to uri spec ash_20180504113830","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Fri, 04 May 2018 09:38:32 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - oTcKo3v63KR_5D8pM_6UwQ:KdcWQdcXMHhNReaE-jfjuQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - oTcKo3v63KR_5D8pM_6UwQ:KdcWQdcXMHhNReaE-jfjuQ:lY4rqBGd1L1vOCMU
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/ldm?thumbnail=1","self":"/gdc/projects/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34","clearCaches":"/gdc/projects/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/clearCaches","invitations":"/gdc/projects/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/invitations","users":"/gdc/projects/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/fmsa7k9ty8tvwg6h9[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.csv_policies","title":"Policies","anchor":{"attribute":{"identifier":"attr.csv_policies.factsof","title":"Records
        of Policies","folder":"Policies"}},"attributes":[{"attribute":{"identifier":"attr.csv_policies.customer","title":"Customer","folder":"Policies","labels":[{"label":{"identifier":"label.csv_policies.customer","title":"Customer","type":"GDC.text","dataType":"VARCHAR(255)"}}],"defaultLabel":"label.csv_policies.customer"}},{"attribute":{"identifier":"attr.csv_policies.state","title":"State","folder":"Policies","labels":[{"label":{"identifier":"label.csv_policies.state","title":"State","type":"GDC.text","dataType":"VARCHAR(255)"}}],"defaultLabel":"label.csv_policies.state"}},{"attribute":{"identifier":"attr.csv_policies.coverage","title":"Coverage","folder":"Policies","labels":[{"label":{"identifier":"label.csv_policies.coverage","title":"Coverage","type":"GDC.text","dataType":"VARCH[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/model/diff/edd06db33cbac3a1085d7308cb31aaa001cd752f15bde1170000004a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - oTcKo3v63KR_5D8pM_6UwQ:xNmuVazVUsW5KDw8Pj11KA
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/model/diff/edd06db33cbac3a1085d7308cb31aaa001cd752f15bde1170000004a"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - oTcKo3v63KR_5D8pM_6UwQ:xNmuVazVUsW5KDw8Pj11KA:MCJtuOH9uXOiPIgO
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/model/diff/edd06db33cbac3a1085d7308cb31aaa001cd752f15bde1170000004a"}}}'
  recorded_at: Fri, 04 May 2018 09:38:40 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/model/diff/edd06db33cbac3a1085d7308cb31aaa001cd752f15bde1170000004a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - oTcKo3v63KR_5D8pM_6UwQ:is2bGFJZpSW3ydLsadelgg
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - oTcKo3v63KR_5D8pM_6UwQ:is2bGFJZpSW3ydLsadelgg:ioO7IRxcTi7Qpn28
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"dataset.create","dataset":"dataset.csv_policies","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Policies"]}},{"updateOperation":{"type":"date-dimension.create","destructive":false,"description":"Create
        date dimension ''%s''","parameters":["Effective To Date"]}},{"updateOperation":{"type":"anchor.create","dataset":"dataset.csv_policies","destructive":false,"description":"Create
        anchor ''%s''","parameters":["Records of Policies"]}},{"updateOperation":{"type":"attribute.create","dataset":"dataset.csv_policies","destructive":false,"description":"Create
        attribute ''%s'[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - oTcKo3v63KR_5D8pM_6UwQ:qxIa4aoWdmS1d-iH4AZfjw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - oTcKo3v63KR_5D8pM_6UwQ:qxIa4aoWdmS1d-iH4AZfjw:Qh96zdTrF3MAIx22
      X-Gdc-Request-Time:
      - '98'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''fmsa7k9ty8tvwg6h9v4o0nvg071kjd34''","category":"project","instance":"fmsa7k9ty8tvwg6h9v4o0nvg071kjd34","links":[{"link":"/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","ca[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - oTcKo3v63KR_5D8pM_6UwQ:Tl3wZU5hjHvXwl3JiYOvXg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE FOLDER {dim.policies} VISUAL(TITLE \"Policies\")
        TYPE ATTRIBUTE;\nCREATE FOLDER {ffld.policies} VISUAL(TITLE \"Policies\")
        TYPE FACT;\nCREATE DATASET {dataset.csv_policies} VISUAL(TITLE \"Policies\");\nINCLUDE
        TEMPLATE \"URN:GOODDATA:DATE\" MODIFY (IDENTIFIER \"effective_to_date\", TITLE
        \"Effective To Date\");\nCREATE ATTRIBUTE {attr.csv_policies.factsof} VISUAL(TITLE
        \"Records of Policies\", FOLDER {dim.policies}) AS KEYS {f_csv_policies.id}
    [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/tasks/e45b139004192bb4a3b2b9d4733106bc00000014/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - oTcKo3v63KR_5D8pM_6UwQ:KioJm-W5Vu2D7T0hkz1cyA
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - oTcKo3v63KR_5D8pM_6UwQ:KioJm-W5Vu2D7T0hkz1cyA:2j4grRU67x9OCwUZ
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/tasks/e45b139004192bb4a3b2b9d4733106bc00000014/status","status":"RUNNING","links":{"poll":"/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/tasks/e45b139004192bb4a3b2b9d4733106bc00000014/status"}}}'
  recorded_at: Fri, 04 May 2018 09:38:55 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/model/view?includeCA=true&includeDeprecated=true&includeGrain=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - oTcKo3v63KR_5D8pM_6UwQ:coSEqiBVJn0Ze1bDI-d9qg
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/model/view/856ba1dacaa8b9f5d6c66c9a0b0cbb8c01cd752c176cd5d60000004a"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - oTcKo3v63KR_5D8pM_6UwQ:coSEqiBVJn0Ze1bDI-d9qg:zfzckwG2vpCdPqzj
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/model/view/856ba1dacaa8b9f5d6c66c9a0b0cbb8c01cd752c176cd5d60000004a"}}}'
  recorded_at: Fri, 04 May 2018 09:39:07 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/model/view/856ba1dacaa8b9f5d6c66c9a0b0cbb8c01cd752c176cd5d60000004a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - oTcKo3v63KR_5D8pM_6UwQ:h6gd8UJTyWR-xsIeIUb1GQ
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/model/view/856ba1dacaa8b9f5d6c66c9a0b0cbb8c01cd752c176cd5d60000004a"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - oTcKo3v63KR_5D8pM_6UwQ:h6gd8UJTyWR-xsIeIUb1GQ:ekMkIJ4bPh81uLz7
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/model/view/856ba1dacaa8b9f5d6c66c9a0b0cbb8c01cd752c176cd5d60000004a"}}}'
  recorded_at: Fri, 04 May 2018 09:39:08 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/model/view/856ba1dacaa8b9f5d6c66c9a0b0cbb8c01cd752c176cd5d60000004a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - oTcKo3v63KR_5D8pM_6UwQ:eoBCpgMXs9x4jU_RvlnrbA
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - oTcKo3v63KR_5D8pM_6UwQ:eoBCpgMXs9x4jU_RvlnrbA:W60fcOYGO8l2EoGY
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelView":{"model":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.csv_policies","title":"Policies","anchor":{"attribute":{"identifier":"attr.csv_policies.factsof","title":"Records
        of Policies","folder":"Policies","flags":[]}},"attributes":[{"attribute":{"identifier":"attr.csv_policies.customer","title":"Customer","folder":"Policies","labels":[{"label":{"identifier":"label.csv_policies.customer","title":"Customer","type":"GDC.text","dataType":"VARCHAR(255)"}}],"defaultLabel":"label.csv_policies.customer","flags":[]}},{"attribute":{"identifier":"attr.csv_policies.state","title":"State","folder":"Policies","labels":[{"label":{"identifier":"label.csv_policies.state","title":"State","type":"GDC.text","dataType":"VARC[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/etl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - oTcKo3v63KR_5D8pM_6UwQ:eNG1G0KZ2SZqzzw67kZWEg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - oTcKo3v63KR_5D8pM_6UwQ:eNG1G0KZ2SZqzzw67kZWEg:OJkuRFLn0AWrxewv
      X-Gdc-Request-Time:
      - '71'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Extract, transform and load services for project
        ''fmsa7k9ty8tvwg6h9v4o0nvg071kjd34''","category":"etl","instance":"fmsa7k9ty8tvwg6h9v4o0nvg071kjd34","links":[{"link":"/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/etl/pull2","summary":"Provides
        service of pull2.","category":"pull2","title":"pull2"},{"link":"/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/etl/task","summary":"Provides
        service of task.","category":"task","title":"task"},{"link":"/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/etl/mode","summary":"Provides
        service of mode.","category":"mode","title":"mode"}]}}'
  recorded_at: Fri, 04 May 2018 09:39:24 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/etl/pull2
    body:
      encoding: UTF-8
      string: '{"pullIntegration":"d20180504-28712-cdpmin"}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - oTcKo3v63KR_5D8pM_6UwQ:fcI28s3o4DbVDP7Cr-1iow
      Info-Message:
      - Starting the data load from user storage to dataset.
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/tasks/67b994414259eca74388232d3364e11800000012/status"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - oTcKo3v63KR_5D8pM_6UwQ:fcI28s3o4DbVDP7Cr-1iow:bgYV9sGFrNYgq7Yu
      X-Gdc-Request-Time:
      - '57'
    body:
      encoding: ASCII-8BIT
      string: '{"pull2Task":{"links":{"poll":"/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/tasks/67b994414259eca74388232d3364e11800000012/status"}}}'
  recorded_at: Fri, 04 May 2018 09:39:25 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/whivt0qwovx2lkc4b97ykqq8z5qqkkh2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - TaaGkE5H7m7hMN9WWNiwKw:ISNQBUhAmBm_5DOm7RzBqQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - TaaGkE5H7m7hMN9WWNiwKw:ISNQBUhAmBm_5DOm7RzBqQ:5kvzAAjricHaJtA1
      X-Gdc-Request-Time:
      - '51'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/whivt0qwovx2lkc4b97ykqq8z5qqkkh2/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.csv_policies","title":"Policies","anchor":{"attribute":{"identifier":"attr.csv_policies.factsof","title":"Records
        of Policies","folder":"Policies"}},"attributes":[{"att[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/whivt0qwovx2lkc4b97ykqq8z5qqkkh2/model/diff/63cf0cf6fb2a57ed3e5c54d7f1621515f793617bfcde873500000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - TaaGkE5H7m7hMN9WWNiwKw:8U4FCWUz-JaznDLEYpBVww
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/whivt0qwovx2lkc4b97ykqq8z5qqkkh2/model/diff/63cf0cf6fb2a57ed3e5c54d7f1621515f793617bfcde873500000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - TaaGkE5H7m7hMN9WWNiwKw:8U4FCWUz-JaznDLEYpBVww:YZsS95lokEvnkDnQ
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/whivt0qwovx2lkc4b97ykqq8z5qqkkh2/model/diff/63cf0cf6fb2a57ed3e5c54d7f1621515f793617bfcde873500000018"}}}'
  recorded_at: Fri, 05 Oct 2018 12:46:58 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/whivt0qwovx2lkc4b97ykqq8z5qqkkh2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - TaaGkE5H7m7hMN9WWNiwKw:d5k3EW8YcSYWGnQ_NqTszg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charse[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/whivt0qwovx2lkc4b97ykqq8z5qqkkh2/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - TaaGkE5H7m7hMN9WWNiwKw:tufSQW332jtXfdLaDlueMg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/whivt0qwovx2lkc4b97ykqq8z5qqkkh2/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.csv_policies} VISUAL(TITLE
        \"Policies\");\nINCLUDE TEMPLATE \"URN:GOODDATA:DATE\" MODIFY (IDENTIFIER
        \"effective_to_date\", TITLE \"Effective To Date\");\nCREATE FOLDER {dim.policies}
        VISUAL(TITLE \"Policies\") TYPE ATTRIBUTE;\nCREATE ATTRIBUTE {attr.csv_polic[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/whivt0qwovx2lkc4b97ykqq8z5qqkkh2/tasks/74a33a10e32c2f4a9cb704e67c76ad1200000007/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - TaaGkE5H7m7hMN9WWNiwKw:ol_koDDosytbaYcR5qj9qQ
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - TaaGkE5H7m7hMN9WWNiwKw:ol_koDDosytbaYcR5qj9qQ:upRU9i9ruPlZV6Yz
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/whivt0qwovx2lkc4b97ykqq8z5qqkkh2/tasks/74a33a10e32c2f4a9cb704e67c76ad1200000007/status","status":"RUNNING","links":{"poll":"/gdc/md/whivt0qwovx2lkc4b97ykqq8z5qqkkh2/tasks/74a33a10e32c2f4a9cb704e67c76ad1200000007/status"}}}'
  recorded_at: Fri, 05 Oct 2018 12:47:02 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/whivt0qwovx2lkc4b97ykqq8z5qqkkh2/model/view?includeCA=true&includeDeprecated=true&includeGrain=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - TaaGkE5H7m7hMN9WWNiwKw:uf03j5ufx50ZvxbW0OHQ1g
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/whivt0qwovx2lkc4b97ykqq8z5qqkkh2/model/view/db509848a2ab246dea53e773606f1194e51bb42050ae2df500000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - TaaGkE5H7m7hMN9WWNiwKw:uf03j5ufx50ZvxbW0OHQ1g:WNt1dPsEERNoT7Jd
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/whivt0qwovx2lkc4b97ykqq8z5qqkkh2/model/view/db509848a2ab246dea53e773606f1194e51bb42050ae2df500000018"}}}'
  recorded_at: Fri, 05 Oct 2018 12:47:10 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/whivt0qwovx2lkc4b97ykqq8z5qqkkh2/model/view/db509848a2ab246dea53e773606f1194e51bb42050ae2df500000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - TaaGkE5H7m7hMN9WWNiwKw:OoSlMaZXuxcbyrdrrzLwTA
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/whivt0qwovx2lkc4b97ykqq8z5qqkkh2/model/view/db509848a2ab246dea53e773606f1194e51bb42050ae2df500000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - TaaGkE5H7m7hMN9WWNiwKw:OoSlMaZXuxcbyrdrrzLwTA:EvbvimBUOZQEVHp6
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/whivt0qwovx2lkc4b97ykqq8z5qqkkh2/model/view/db509848a2ab246dea53e773606f1194e51bb42050ae2df500000018"}}}'
  recorded_at: Fri, 05 Oct 2018 12:47:11 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/whivt0qwovx2lkc4b97ykqq8z5qqkkh2/etl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - TaaGkE5H7m7hMN9WWNiwKw:QvpwZTh_K9W6gK-CwZ7pAQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - TaaGkE5H7m7hMN9WWNiwKw:QvpwZTh_K9W6gK-CwZ7pAQ:ALUqmnCyiYhXWEWw
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Extract, transform and load services for project
        ''whivt0qwovx2lkc4b97ykqq8z5qqkkh2''","category":"etl","instance":"whivt0qwovx2lkc4b97ykqq8z5qqkkh2","links":[{"link":"/gdc/md/whivt0qwovx2lkc4b97ykqq8z5qqkkh2/etl/pull2","summary":"Provides
        service of pull2.","category":"pull2","title":"pull2"},{"link":"/gdc/md/whivt0qwovx2lkc4b97ykqq8z5qqkkh2/etl/task","summary":"Provides
        service of task.","category":"task","title":"task"},{"link":"/gdc/md/whivt0qwovx2lkc4b97ykqq8z5qqkkh2/etl/mode","summary":"Provides
        service of mode.","category":"mode","title":"mode"}]}}'
  recorded_at: Fri, 05 Oct 2018 12:47:17 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/whivt0qwovx2lkc4b97ykqq8z5qqkkh2/etl/pull2
    body:
      encoding: UTF-8
      string: '{"pullIntegration":"d20181005-54175-tznf9o"}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - TaaGkE5H7m7hMN9WWNiwKw:AcoPpxroWE18CwltH9Pubw
      Info-Message:
      - Starting the data load from user storage to dataset.
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/whivt0qwovx2lkc4b97ykqq8z5qqkkh2/tasks/21471f6ce1d9da7f36eebfec1e42c0c100000013/status"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - TaaGkE5H7m7hMN9WWNiwKw:AcoPpxroWE18CwltH9Pubw:CyIYoS62piUPaTby
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"pull2Task":{"links":{"poll":"/gdc/md/whivt0qwovx2lkc4b97ykqq8z5qqkkh2/tasks/21471f6ce1d9da7f36eebfec1e42c0c100000013/status"}}}'
  recorded_at: Fri, 05 Oct 2018 12:47:18 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/e6x0fosm33185kr1djfbtm95x4u3q4ti
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RzUQv35oJVsvSogWaEf5vA:9S9_FrW1gJg-nfmY2TWV9Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - RzUQv35oJVsvSogWaEf5vA:9S9_FrW1gJg-nfmY2TWV9Q:sT7GT5qGMMKYMuvj
      X-Gdc-Request-Time:
      - '56'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/e6x0fosm33185kr1djfbtm95x4u3q4ti/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.csv_policies","title":"Policies","anchor":{"attribute":{"identifier":"attr.csv_policies.factsof","title":"Records
        of Policies","folder":"Policies"}},"attributes":[{"att[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/e6x0fosm33185kr1djfbtm95x4u3q4ti/model/diff/1f9cc3631e5b0fcfab789fea41a645d992485822639049a700000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RzUQv35oJVsvSogWaEf5vA:vTFUDCdouQ8dWyP2Bv2i3g
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/e6x0fosm33185kr1djfbtm95x4u3q4ti/model/diff/1f9cc3631e5b0fcfab789fea41a645d992485822639049a700000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - RzUQv35oJVsvSogWaEf5vA:vTFUDCdouQ8dWyP2Bv2i3g:gHcag4T082ijbEUE
      X-Gdc-Request-Time:
      - '39'
    body:
[...]
