---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - oTcKo3v63KR_5D8pM_6UwQ:oAYKBObtx9vR4rJfQijsTw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - oTcKo3v63KR_5D8pM_6UwQ:oAYKBObtx9vR4rJfQijsTw:NjA75StoUuVxuzVV
      X-Gdc-Request-Time:
      - '126'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":4,"offset":0},"items":[{"fact":{"content":{"folders":["/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/obj/106"],"expr":[{"type":"col","data":"/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/obj/29"}]},"meta":{"flags":["restricted"],"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/obj/298","tags":"","created":"2018-05-04
        11:38:58","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2018-05-04 11:38:58","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"fact":{"content":{"folders":["/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/obj/106"],"expr":[{"type":"col","data":"/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/obj/31"}]},"meta":{"flags":["restricted"],"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/obj/299","tags":"","created":"2018-05-04
        11:38:58","identifier":"fact.csv_policies.income","deprecated":"0","summary":"","is[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["fact.csv_policies.customer_lifetime_value"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - oTcKo3v63KR_5D8pM_6UwQ:RYgalX_25VHpwes1fLw0Bg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - oTcKo3v63KR_5D8pM_6UwQ:RYgalX_25VHpwes1fLw0Bg:g9YWhfPXaMEH4Zmk
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"fact.csv_policies.customer_lifetime_value","uri":"/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/obj/298"}]}'
  recorded_at: Fri, 04 May 2018 09:39:39 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/obj/298
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - oTcKo3v63KR_5D8pM_6UwQ:JSuNIOiICYGZlJCCi63Gqg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - oTcKo3v63KR_5D8pM_6UwQ:JSuNIOiICYGZlJCCi63Gqg:DoSKrs8HcBCtXu06
      X-Gdc-Request-Time:
      - '113'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/obj/106"],"expr":[{"type":"col","data":"/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/obj/29"}]},"meta":{"flags":["restricted"],"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/obj/298","tags":"","created":"2018-05-04
        11:38:58","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2018-05-04 11:38:58","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Fri, 04 May 2018 09:39:40 GMT
recorded_with: VCR 4.0.0
