---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["-1"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - oTcKo3v63KR_5D8pM_6UwQ:1VdVUM7AnY2IQ3zooU9wDg
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - oTcKo3v63KR_5D8pM_6UwQ:1VdVUM7AnY2IQ3zooU9wDg:gst7erITqf5aGuJu
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"parameters":["identifierToUri","STRUCTURE INVALID - name
        of structure:''IdentifierToUri''(tag:identifierToUri),  /identifierToUri/<list:1>/Identifier:
        STRING|(?^:^[a-zA-Z0-9_\\.]{1,255}$)| does not match with value ''-1''"],"requestId":"oTcKo3v63KR_5D8pM_6UwQ:1VdVUM7AnY2IQ3zooU9wDg:gst7erITqf5aGuJu:elHSgs9ll5ThgK4n:3quju50eyy8d98hv","component":"Apache::REST","errorClass":"GDC::Exception::User","message":"Checking
        ''%s'', result %s"}}'
  recorded_at: Fri, 04 May 2018 09:39:37 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/whivt0qwovx2lkc4b97ykqq8z5qqkkh2/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["-1"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - TaaGkE5H7m7hMN9WWNiwKw:lKKtHefgGMuJhXYRWp_QLA
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - TaaGkE5H7m7hMN9WWNiwKw:lKKtHefgGMuJhXYRWp_QLA:Qm5WavILl5GBJjpu
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"parameters":["identifierToUri","STRUCTURE INVALID - name
        of structure:''IdentifierToUri''(tag:identifierToUri),  /identifierToUri/<list:1>/Identifier:
        STRING|(?^:^[a-zA-Z0-9_\\.]{1,255}$)| does not match with value ''-1''"],"requestId":"TaaGkE5H7m7hMN9WWNiwKw:lKKtHefgGMuJhXYRWp_QLA:Qm5WavILl5GBJjpu:4PnC5Ly1Js6yUkxt:atpqfu8cj6bqjf6o","component":"Apache::REST","errorClass":"GDC::Exception::User","message":"Checking
        ''%s'', result %s"}}'
  recorded_at: Fri, 05 Oct 2018 12:47:23 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e6x0fosm33185kr1djfbtm95x4u3q4ti/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["-1"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RzUQv35oJVsvSogWaEf5vA:-yp2zruUF7bb05xZCyvq_Q
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - RzUQv35oJVsvSogWaEf5vA:-yp2zruUF7bb05xZCyvq_Q:MtGEG1tlHZZXjoDy
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"parameters":["identifierToUri","STRUCTURE INVALID - name
        of structure:''IdentifierToUri''(tag:identifierToUri),  /identifierToUri/<list:1>/Identifier:
        STRING|(?^:^[a-zA-Z0-9_\\.]{1,255}$)| does not match with value ''-1''"],"requestId":"RzUQv35oJVsvSogWaEf5vA:-yp2zruUF7bb05xZCyvq_Q:MtGEG1tlHZZXjoDy:nlBXYxwFG6sNPiaL:sfygw8jwpzjt6rlv","component":"Apache::REST","errorClass":"GDC::Exception::User","message":"Checking
        ''%s'', result %s"}}'
  recorded_at: Wed, 10 Oct 2018 10:45:43 GMT
recorded_with: VCR 4.0.0
