---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - oTcKo3v63KR_5D8pM_6UwQ:oAYKBObtx9vR4rJfQijsTw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - oTcKo3v63KR_5D8pM_6UwQ:oAYKBObtx9vR4rJfQijsTw:NjA75StoUuVxuzVV
      X-Gdc-Request-Time:
      - '126'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":4,"offset":0},"items":[{"fact":{"content":{"folders":["/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/obj/106"],"expr":[{"type":"col","data":"/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/obj/29"}]},"meta":{"flags":["restricted"],"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/obj/298","tags":"","created":"2018-05-04
        11:38:58","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2018-05-04 11:38:58","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"fact":{"content":{"folders":["/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/obj/106"],"expr":[{"type":"col","data":"/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/obj/31"}]},"meta":{"flags":["restricted"],"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/obj/299","tags":"","created":"2018-05-04
        11:38:58","identifier":"fact.csv_policies.income","deprecated":"0","summary":"","is[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["fact.csv_policies.customer_lifetime_value"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - oTcKo3v63KR_5D8pM_6UwQ:RYgalX_25VHpwes1fLw0Bg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - oTcKo3v63KR_5D8pM_6UwQ:RYgalX_25VHpwes1fLw0Bg:g9YWhfPXaMEH4Zmk
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"fact.csv_policies.customer_lifetime_value","uri":"/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/obj/298"}]}'
  recorded_at: Fri, 04 May 2018 09:39:39 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/obj/298
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - oTcKo3v63KR_5D8pM_6UwQ:JSuNIOiICYGZlJCCi63Gqg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - oTcKo3v63KR_5D8pM_6UwQ:JSuNIOiICYGZlJCCi63Gqg:DoSKrs8HcBCtXu06
      X-Gdc-Request-Time:
      - '113'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/obj/106"],"expr":[{"type":"col","data":"/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/obj/29"}]},"meta":{"flags":["restricted"],"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/fmsa7k9ty8tvwg6h9v4o0nvg071kjd34/obj/298","tags":"","created":"2018-05-04
        11:38:58","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2018-05-04 11:38:58","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Fri, 04 May 2018 09:39:40 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/whivt0qwovx2lkc4b97ykqq8z5qqkkh2/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - TaaGkE5H7m7hMN9WWNiwKw:DxLDHcQEgpouroHhrHbThA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - TaaGkE5H7m7hMN9WWNiwKw:DxLDHcQEgpouroHhrHbThA:KwIPiG9GOs0kl034
      X-Gdc-Request-Time:
      - '84'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":4,"offset":0},"items":[{"fact":{"content":{"folders":["/gdc/md/whivt0qwovx2lkc4b97ykqq8z5qqkkh2/obj[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/whivt0qwovx2lkc4b97ykqq8z5qqkkh2/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["fact.csv_policies.customer_lifetime_value"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - TaaGkE5H7m7hMN9WWNiwKw:FkG6cNXq-sHFHtOJpsgL3w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - TaaGkE5H7m7hMN9WWNiwKw:FkG6cNXq-sHFHtOJpsgL3w:vJUZmuw0ItxxfxQa
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"fact.csv_policies.customer_lifetime_value","uri":"/gdc/md/whivt0qwovx2lkc4b97ykqq8z5qqkkh2/obj/303"}]}'
  recorded_at: Fri, 05 Oct 2018 12:47:24 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/whivt0qwovx2lkc4b97ykqq8z5qqkkh2/obj/303
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - TaaGkE5H7m7hMN9WWNiwKw:q1tDckfRhXHLZI9HLITrWw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - TaaGkE5H7m7hMN9WWNiwKw:q1tDckfRhXHLZI9HLITrWw:9UeZFoGeTEbQAV0C
      X-Gdc-Request-Time:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/whivt0qwovx2lkc4b97ykqq8z5qqkkh2/obj/302"],"expr":[{"type":"col","data":"/gdc/md/whivt0qwovx2lkc4b97ykqq8z5qqkkh2/obj/34"}]},"meta":{"flags":["restricted"],"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/whivt0qwovx2lkc4b97ykqq8z5qqkkh2/obj/303","tags":"","created":"2018-10-05
        14:47:05","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2018-10-05 14:47:05","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Fri, 05 Oct 2018 12:47:25 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e6x0fosm33185kr1djfbtm95x4u3q4ti/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RzUQv35oJVsvSogWaEf5vA:kQZ2XvJO3_mfJkRvRNzG8A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - RzUQv35oJVsvSogWaEf5vA:kQZ2XvJO3_mfJkRvRNzG8A:oqCAuoGvHmmKxbG7
      X-Gdc-Request-Time:
      - '102'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":4,"offset":0},"items":[{"fact":{"content":{"folders":["/gdc/md/e6x0fosm33185kr1djfbtm95x4u3q4ti/ob[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e6x0fosm33185kr1djfbtm95x4u3q4ti/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["fact.csv_policies.customer_lifetime_value"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RzUQv35oJVsvSogWaEf5vA:bqjNuMMJ5chN605WvzGr9Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - RzUQv35oJVsvSogWaEf5vA:bqjNuMMJ5chN605WvzGr9Q:O80eBew0KmS5JDAQ
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"fact.csv_policies.customer_lifetime_value","uri":"/gdc/md/e6x0fosm33185kr1djfbtm95x4u3q4ti/obj/303"}]}'
  recorded_at: Wed, 10 Oct 2018 10:45:45 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e6x0fosm33185kr1djfbtm95x4u3q4ti/obj/303
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RzUQv35oJVsvSogWaEf5vA:AJv1YjUZ_tS04aFACNuaqw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - RzUQv35oJVsvSogWaEf5vA:AJv1YjUZ_tS04aFACNuaqw:fTDCQs4LdT242Gxc
      X-Gdc-Request-Time:
      - '110'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/e6x0fosm33185kr1djfbtm95x4u3q4ti/obj/302"],"expr":[{"type":"col","data":"/gdc/md/e6x0fosm33185kr1djfbtm95x4u3q4ti/obj/34"}]},"meta":{"flags":["restricted"],"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/e6x0fosm33185kr1djfbtm95x4u3q4ti/obj/303","tags":"","created":"2018-10-10
        12:45:26","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2018-10-10 12:45:26","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 10 Oct 2018 10:45:46 GMT
recorded_with: VCR 4.0.0
