---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:G3C1uYub7YdnRqq9GSkPvQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:G3C1uYub7YdnRqq9GSkPvQ:4KOG53WH5A6ovVgI
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/ldm?thumbnail=1","self":"/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur","clearCaches":"/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/clearCaches","invitations":"/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/invitations","users":"/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/uploads/","ldm":"/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/ldm","metadata":"/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur","publicartifacts":"/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/publicartifacts","roles":"/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/roles","userRoles":"/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/dataload","connectors":"/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/connectors","execute":"/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/execute","config":"/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/config","projectFeatureFlags":"/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/projectFeatureFlags","schedules":"/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/schedules","templates":"/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/templates","eventstores":"/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/dataload/eventstore/stores"},"meta":{"created":"2018-05-22
        09:29:58","summary":"No summary","updated":"2018-05-22 09:29:59","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"My
        project from blueprint","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 22 May 2018 07:30:00 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:nk_RJ6PTpIEj2JntaqjrIQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:nk_RJ6PTpIEj2JntaqjrIQ:EFMdAdYdQB8hAs8R
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/ldm?thumbnail=1","self":"/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur","clearCaches":"/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/clearCaches","invitations":"/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/invitations","users":"/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/f3qk90mtxs0h32c2y[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.users","title":"Dataset.Users","anchor":{"attribute":{"identifier":"attr.users.id","title":"Attr.Users.Id","folder":"Dataset.Users","grain":[{"dateDimension":"created_on"},{"attribute":"attribute.user"}]}},"attributes":[{"attribute":{"identifier":"attribute.user","title":"Attribute.User","folder":"Dataset.Users","labels":[{"label":{"identifier":"label.user.email","title":"Label.User.Email","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.user.email"}}],"facts":[{"fact":{"identifier":"fact.users.some_number","title":"Fact.Users.Some
        Number","folder":"Dataset.Users","dataType":"DECIMAL(12,2)","type":"fact"}}],"references":["created_on"]}}],"dateDimensions":[{"dateDimension":{"name":"created_on","title":"Created
        On"}}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:7zvSuXrpv1hrSYf3MzoEZg
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/model/diff/64758ab2c46c21a9040912ce0a30298a01cd72b7634159040000006e"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:7zvSuXrpv1hrSYf3MzoEZg:ulmQ8dk0fQQqtMAi
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/model/diff/64758ab2c46c21a9040912ce0a30298a01cd72b7634159040000006e"}}}'
  recorded_at: Tue, 22 May 2018 07:30:08 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/model/diff/64758ab2c46c21a9040912ce0a30298a01cd72b7634159040000006e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:sb2jaKu9tbA0owSbyjT5uQ
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/model/diff/64758ab2c46c21a9040912ce0a30298a01cd72b7634159040000006e"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:sb2jaKu9tbA0owSbyjT5uQ:3MzAa9t9nvYSmvgK
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/model/diff/64758ab2c46c21a9040912ce0a30298a01cd72b7634159040000006e"}}}'
  recorded_at: Tue, 22 May 2018 07:30:08 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/model/diff/64758ab2c46c21a9040912ce0a30298a01cd72b7634159040000006e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:R5Nf7bb6l49detbA8K8nNg
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:R5Nf7bb6l49detbA8K8nNg:dUwdQhS7EZSb7K5B
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"dataset.create","dataset":"dataset.users","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Dataset.Users"]}},{"updateOperation":{"type":"date-dimension.create","destructive":false,"description":"Create
        date dimension ''%s''","parameters":["Created On"]}},{"updateOperation":{"type":"attribute.create","dataset":"dataset.users","destructive":false,"description":"Create
        attribute ''%s''","parameters":["Attribute.User"]}},{"updateOperation":{"type":"fact.create","dataset":"dataset.users","destructive":false,"description":"Create
        fact ''%s''","parameters":["Fact.Users.Some Number"]}},{"updateOperation":{"type":"dataset.references.add.dd","dataset":"dataset.users","destructive":false,"description":"Add
        reference to date dimension ''%s''","parameters":["Created On"]}},{"updateOperation":{"type":"attribute.grain.create","dataset":"dataset.users","destructive":false,"description":"Create
        attribute with grain ''%s''","parameters":["Attr.Users.Id"]}}],"updateScripts":[{"updateScript":{"maqlDdl":"CREATE
        FOLDER {dim.datasetusers} VISUAL(TITLE \"Dataset.Users\") TYPE ATTRIBUTE;\nCREATE
        FOLDER {ffld.datasetusers} VISUAL(TITLE \"Dataset.Users\") TYPE FACT;\nCREATE
        DATASET {dataset.users} VISUAL(TITLE \"Dataset.Users\");\nINCLUDE TEMPLATE
        \"URN:GOODDATA:DATE\" MODIFY (IDENTIFIER \"created_on\", TITLE \"Created On\");\nCREATE
        ATTRIBUTE {attribute.user} VISUAL(TITLE \"Attribute.User\", FOLDER {dim.datasetusers})
        AS KEYS {d_users_user.id} FULLSET, {f_users.user_id};\nALTER DATASET {dataset.users}
        ADD {attribute.user};\nALTER ATTRIBUTE {attribute.user} ADD LABELS {label.user.email}
        VISUAL(TITLE \"Label.User.Email\") AS {d_users_user.nm_email};\nALTER ATTRIBUTE
        {attribute.user} DEFAULT LABEL {label.user.email};\nCREATE FACT {fact.users.some_number}
        VISUAL(TITLE \"Fact.Users.Some Number\", FOLDER {ffld.datasetusers}) AS {f_users.f_some_number};\nALTER
        DATASET {dataset.users} ADD {fact.users.some_number};\nALTER ATTRIBUTE {created_on.date}
        ADD KEYS {f_users.dt_created_on_id};\nCREATE ATTRIBUTE {attr.users.id} VISUAL(TITLE
        \"Attr.Users.Id\", FOLDER {dim.datasetusers}) AS KEYS {f_users.id_id} PRIMARY
        SET GRAIN {created_on.date}, {attribute.user};\nALTER DATASET {dataset.users}
        ADD {attr.users.id};\nSYNCHRONIZE {dataset.users};","maqlDdlChunks":["CREATE
        FOLDER {dim.datasetusers} VISUAL(TITLE \"Dataset.Users\") TYPE ATTRIBUTE;\nCREATE
        FOLDER {ffld.datasetusers} VISUAL(TITLE \"Dataset.Users\") TYPE FACT;\nCREATE
        DATASET {dataset.users} VISUAL(TITLE \"Dataset.Users\");\nINCLUDE TEMPLATE
        \"URN:GOODDATA:DATE\" MODIFY (IDENTIFIER \"created_on\", TITLE \"Created On\");\nCREATE
        ATTRIBUTE {attribute.user} VISUAL(TITLE \"Attribute.User\", FOLDER {dim.datasetusers})
        AS KEYS {d_users_user.id} FULLSET, {f_users.user_id};\nALTER DATASET {dataset.users}
        ADD {attribute.user};\nALTER ATTRIBUTE {attribute.user} ADD LABELS {label.user.email}
        VISUAL(TITLE \"Label.User.Email\") AS {d_users_user.nm_email};\nALTER ATTRIBUTE
        {attribute.user} DEFAULT LABEL {label.user.email};\nCREATE FACT {fact.users.some_number}
        VISUAL(TITLE \"Fact.Users.Some Number\", FOLDER {ffld.datasetusers}) AS {f_users.f_some_number};\nALTER
        DATASET {dataset.users} ADD {fact.users.some_number};\nALTER ATTRIBUTE {created_on.date}
        ADD KEYS {f_users.dt_created_on_id};\nCREATE ATTRIBUTE {attr.users.id} VISUAL(TITLE
        \"Attr.Users.Id\", FOLDER {dim.datasetusers}) AS KEYS {f_users.id_id} PRIMARY
        SET GRAIN {created_on.date}, {attribute.user};\nALTER DATASET {dataset.users}
        ADD {attr.users.id};\nSYNCHRONIZE {dataset.users};"],"preserveData":true,"cascadeDrops":false}},{"updateScript":{"maqlDdl":"CREATE
        FOLDER {dim.datasetusers} VISUAL(TITLE \"Dataset.Users\") TYPE ATTRIBUTE;\nCREATE
        FOLDER {ffld.datasetusers} VISUAL(TITLE \"Dataset.Users\") TYPE FACT;\nCREATE
        DATASET {dataset.users} VISUAL(TITLE \"Dataset.Users\");\nINCLUDE TEMPLATE
        \"URN:GOODDATA:DATE\" MODIFY (IDENTIFIER \"created_on\", TITLE \"Created On\");\nCREATE
        ATTRIBUTE {attribute.user} VISUAL(TITLE \"Attribute.User\", FOLDER {dim.datasetusers})
       [...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:iKYGc8cfDtBi9sBU2EZymA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:iKYGc8cfDtBi9sBU2EZymA:8c4oEXqfO9CTt4ZN
      X-Gdc-Request-Time:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''f3qk90mtxs0h32c2yx0w6nha2c9so3ur''","category":"project","instance":"f3qk90mtxs0h32c2yx0w6nha2c9so3ur","links":[{"link":"/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","ca[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:i0v2QrzVFQv44HKb4sSI9g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE FOLDER {dim.datasetusers} VISUAL(TITLE \"Dataset.Users\")
        TYPE ATTRIBUTE;\nCREATE FOLDER {ffld.datasetusers} VISUAL(TITLE \"Dataset.Users\")
        TYPE FACT;\nCREATE DATASET {dataset.users} VISUAL(TITLE \"Dataset.Users\");\nINCLUDE
        TEMPLATE \"URN:GOODDATA:DATE\" MODIFY (IDENTIFIER \"created_on\", TITLE \"Created
        On\");\nCREATE ATTRIBUTE {attribute.user} VISUAL(TITLE \"Attribute.User\",
        FOLDER {dim.datasetusers}) AS KEYS {d_users_user.id} FULLSET, {f_user[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/tasks/8aebbe62d61fc8571b933d2779d489340000002d/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:CjDpJEFpItmrmXtiQbQC_w
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:CjDpJEFpItmrmXtiQbQC_w:vqq1P7CUMwqm1XqT
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/tasks/8aebbe62d61fc8571b933d2779d489340000002d/status","status":"RUNNING","links":{"poll":"/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/tasks/8aebbe62d61fc8571b933d2779d489340000002d/status"}}}'
  recorded_at: Tue, 22 May 2018 07:30:23 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gmtwwdc9qt4eud235qzn77r58859cvr4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - HLNF5AMq4hSQQswuhVEVrw:GrGHj0uV6Nvk0YTtLrvRhA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - HLNF5AMq4hSQQswuhVEVrw:GrGHj0uV6Nvk0YTtLrvRhA:fbfzRwVWD7lEgs7c
      X-Gdc-Request-Time:
      - '713'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREP[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gmtwwdc9qt4eud235qzn77r58859cvr4/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.users","title":"Dataset.Users","anchor":{"attribute":{"identifier":"attr.users.id","title":"Attr.Users.Id","folder":"Dataset.Users","grain":[{"dateDimension":"created_on"},{"attribute":"attribute.user"}]}},"attributes":[{"attribute":{"identifier":"attribute.user","title":"Attribute.User","folder":"Dataset.Users","labels":[{"label":{"identifier":"label.user.email","title":"Label.User.Email","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.user.email"}}],"facts":[{"fact":{"identifier":"fact.users.some_number","title":"Fact.Users.Some
        Number","folder":"Dataset.Users","dataType":"DECIMAL(12,2)","type":"fact"}}],"references":["created_on"],"bridges":[]}}],"dateDimensions":[{"dateDimension":{"name":"created_on","title":"Created
        On","bridges":[]}}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - HLNF5AMq4hSQQswuhVEVrw:Z9JzRSq0gvfI2tTK_a_PKQ
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/gmtwwdc9qt4eud235qzn77r58859cvr4/model/diff/b470e84cf0743fc3222ca068972d9b8d80cbb2295c89dc9f00000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - HLNF5AMq4hSQQswuhVEVrw:Z9JzRSq0gvfI2tTK_a_PKQ:8vFt6RNbVsk0cyPF
      X-Gdc-Request-Time:
      - '73'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/gmtwwdc9qt4eud235qzn77r58859cvr4/model/diff/b470e84cf0743fc3222ca068972d9b8d80cbb2295c89dc9f00000018"}}}'
  recorded_at: Fri, 05 Oct 2018 12:30:31 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gmtwwdc9qt4eud235qzn77r58859cvr4/model/diff/b470e84cf0743fc3222ca068972d9b8d80cbb2295c89dc9f00000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - HLNF5AMq4hSQQswuhVEVrw:ynASd54M9UuEGf3v6oNNvQ
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/gmtwwdc9qt4eud235qzn77r58859cvr4/model/diff/b470e84cf0743fc3222ca068972d9b8d80cbb2295c89dc9f00000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - HLNF5AMq4hSQQswuhVEVrw:ynASd54M9UuEGf3v6oNNvQ:p33kabqQ5FEDbf9J
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/gmtwwdc9qt4eud235qzn77r58859cvr4/model/diff/b470e84cf0743fc3222ca068972d9b8d80cbb2295c89dc9f00000018"}}}'
  recorded_at: Fri, 05 Oct 2018 12:30:32 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gmtwwdc9qt4eud235qzn77r58859cvr4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - HLNF5AMq4hSQQswuhVEVrw:aaHrZuKzuhL8oXrXtEiAKA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charse[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gmtwwdc9qt4eud235qzn77r58859cvr4/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - HLNF5AMq4hSQQswuhVEVrw:EimEVZHWFjh0Xs-TBWy97w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gmtwwdc9qt4eud235qzn77r58859cvr4/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.users} VISUAL(TITLE \"Dataset.Users\");\nINCLUDE
        TEMPLATE \"URN:GOODDATA:DATE\" MODIFY (IDENTIFIER \"created_on\", TITLE \"Created
        On\");\nCREATE FOLDER {dim.datasetusers} VISUAL(TITLE \"Dataset.Users\") TYPE
        ATTRIBUTE;\nCREATE ATTRIBUTE {attribute.user} VISUA[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gmtwwdc9qt4eud235qzn77r58859cvr4/tasks/5a1acb0ad24738e7faef573239dda67900000007/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - HLNF5AMq4hSQQswuhVEVrw:2OCgrn_1ynSaEYvLjB-LVg
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - HLNF5AMq4hSQQswuhVEVrw:2OCgrn_1ynSaEYvLjB-LVg:2aGNS1UJyH2PSg6s
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/gmtwwdc9qt4eud235qzn77r58859cvr4/tasks/5a1acb0ad24738e7faef573239dda67900000007/status","status":"RUNNING","links":{"poll":"/gdc/md/gmtwwdc9qt4eud235qzn77r58859cvr4/tasks/5a1acb0ad24738e7faef573239dda67900000007/status"}}}'
  recorded_at: Fri, 05 Oct 2018 12:30:36 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - a4HvtQ0Zg2Krpftx2l-k6Q:JtXGRi7Qyyt2asV51W35GQ
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - a4HvtQ0Zg2Krpftx2l-k6Q:JtXGRi7Qyyt2asV51W35GQ:LkeEdliSDDTqxHsw
      X-Gdc-Request-Time:
      - '54'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 10:25:52 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - a4HvtQ0Zg2Krpftx2l-k6Q:8mQSr0liIjEB-POt8TrqEQ
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - a4HvtQ0Zg2Krpftx2l-k6Q:8mQSr0liIjEB-POt8TrqEQ:FhTqNWZAWVIcqs0B
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 10:25:52 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - a4HvtQ0Zg2Krpftx2l-k6Q:9TLXbl1SyqGv32z2DlwGVw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - a4HvtQ0Zg2Krpftx2l-k6Q:9TLXbl1SyqGv32z2DlwGVw:5rAS23uVNNJRoyzF
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-10-10
        10:25:03","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","timezone":null,"language":"en-US","ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Wed, 10 Oct 2018 10:25:53 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - a4HvtQ0Zg2Krpftx2l-k6Q:9ClRj7TqRJeb6aA7h891JQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      -[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"My project from
        blueprint"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"PRODUCTION","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - a4HvtQ0Zg2Krpftx2l-k6Q:o60g7UGE5t6ts2ICQtlvbQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - a4HvtQ0Zg2Krpftx2l-k6Q:o60g7UGE5t6ts2ICQtlvbQ:TOoYo5mGwjOWsKKW
      X-Gdc-Request-Time:
      - '568'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/yk7hwoocgk8ac60qg9hczdb96dhamycb"}'
  recorded_at: Wed, 10 Oct 2018 10:25:55 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/yk7hwoocgk8ac60qg9hczdb96dhamycb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - a4HvtQ0Zg2Krpftx2l-k6Q:UFbsFU9xK4MpV4LO04yQPA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/yk7hwoocgk8ac60qg9hczdb96dhamycb/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.users","title":"Dataset.Users","anchor":{"attribute":{"identifier":"attr.users.id","title":"Attr.Users.Id","folder":"Dataset.Users","grain":[{"dateDimension":"created_on"},{"at[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/yk7hwoocgk8ac60qg9hczdb96dhamycb/model/diff/e28adff41039e5731854d7eeb98eb6f68cd0a97d4a72864800000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - a4HvtQ0Zg2Krpftx2l-k6Q:Lwu9fpDHIkbFBKJ4Ihcc9g
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/yk7hwoocgk8ac60qg9hczdb96dhamycb/model/diff/e28adff41039e5731854d7eeb98eb6f68cd0a97d4a72864800000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - a4HvtQ0Zg2Krpftx2l-k6Q:Lwu9fpDHIkbFBKJ4Ihcc9g:3jcqpLh9tY3oaZRs
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/yk7hwoocgk8ac60qg9hczdb96dhamycb/model/diff/e28adff41039e5731854d7eeb98eb6f68cd0a97d4a72864800000018"}}}'
  recorded_at: Wed, 10 Oct 2018 10:26:08 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/yk7hwoocgk8ac60qg9hczdb96dhamycb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - a4HvtQ0Zg2Krpftx2l-k6Q:pbKXKed-_P2ARSnaQBs1fA
  response:
    status:
[...]
