---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.users","title":"Dataset.Users","anchor":{"attribute":{"identifier":"attr.users.id","title":"Attr.Users.Id","folder":"Dataset.Users"}},"attributes":[{"attribute":{"identifier":"attribute.user","title":"Attribute.User","folder":"Dataset.Users","labels":[{"label":{"identifier":"label.user.email","title":"Label.User.Email","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.user.email"}}],"facts":[{"fact":{"identifier":"fact.users.some_number","title":"Fact.Users.Some
        Number","folder":"Dataset.Users","dataType":"DECIMAL(12,2)","type":"fact"}}],"references":["created_on"]}}],"dateDimensions":[{"dateDimension":{"name":"created_on","title":"Created
        On"}}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:itU6erm8GKTSiSnIp7R5SA
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/model/diff/c9db926a8e41e06d9916432b42bd8d4501cd72b4666f2f1d0000006e"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:itU6erm8GKTSiSnIp7R5SA:ejoHupBTZCBWdSS8
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/model/diff/c9db926a8e41e06d9916432b42bd8d4501cd72b4666f2f1d0000006e"}}}'
  recorded_at: Tue, 22 May 2018 07:31:01 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/model/diff/c9db926a8e41e06d9916432b42bd8d4501cd72b4666f2f1d0000006e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:TcWPahSlv3F3WsWr0TgErA
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:TcWPahSlv3F3WsWr0TgErA:mHJXmEV6rPM8ls1j
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"attribute.unset_grain","dataset":"dataset.users","destructive":true,"description":"Unset
        grain from attribute ''%s''","parameters":["attr.users.id"]}}],"updateScripts":[{"updateScript":{"maqlDdl":"ALTER
        ATTRIBUTE {attr.users.id} UNSET GRAIN;\nSYNCHRONIZE {dataset.users} PRESERVE
        DATA;","maqlDdlChunks":["ALTER ATTRIBUTE {attr.users.id} UNSET GRAIN;\nSYNCHRONIZE
        {dataset.users} PRESERVE DATA;"],"preserveData":true,"cascadeDrops":false}},{"updateScript":{"maqlDdl":"ALTER
        ATTRIBUTE {attr.users.id} UNSET GRAIN;\nSYNCHRONIZE {dataset.users};","maqlDdlChunks":["ALTER
        ATTRIBUTE {attr.users.id} UNSET GRAIN;\nSYNCHRONIZE {dataset.users};"],"preserveData":false,"cascadeDrops":false}}]}}'
  recorded_at: Tue, 22 May 2018 07:31:03 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:kjJYcHvi6suFCA5ijviDBQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:kjJYcHvi6suFCA5ijviDBQ:oalDcxJrfHwwFLcZ
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Resources for logical data model (LDM) manipulation
        within project ''f3qk90mtxs0h32c2yx0w6nha2c9so3ur''","category":"ldm","instance":"f3qk90mtxs0h32c2yx0w6nha2c9so3ur","links":[{"link":"/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/ldm/manage2","summary":"Resources
        for model manipulation with categorized result.","category":"ldm-manage2","title":"manage2"},{"link":"/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/ldm/singleloadinterface","summary":"Single
        interface for data loading.","category":"singleloadinterface","title":"singleloadinterface"},{"link":"/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/ldm/attributeupperbound","summary":"Attribute
        upper bounds for LDM.","category":"attributeupperbound","title":"attributeupperbound"}]}}'
  recorded_at: Tue, 22 May 2018 07:31:04 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"ALTER ATTRIBUTE {attr.users.id} UNSET GRAIN;\nSYNCHRONIZE
        {dataset.users} PRESERVE DATA;"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:3BDCfiBFWxyBIo5roSBXHg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:3BDCfiBFWxyBIo5roSBXHg:HGCpqAqz3HaQxQms
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"entries":[{"link":"/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/tasks/a443e004195bf50a2d9c162e4989f2490000002d/status","category":"tasks-status"}]}'
  recorded_at: Tue, 22 May 2018 07:31:05 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/tasks/a443e004195bf50a2d9c162e4989f2490000002d/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:5ZuMgwanMdieaKCgWsyHgA
      Process:
      - 'true'
  response:
    status:
      code: 303
      message: See Other
    headers:
      Location:
      - "/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/tasks/7b61615399f384e69eaa8595cd9d12740000002d/status"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:5ZuMgwanMdieaKCgWsyHgA:8zBe93p7JXdk933b
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/tasks/7b61615399f384e69eaa8595cd9d12740000002d/status","status":"OK","links":{"poll":"/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/tasks/7b61615399f384e69eaa8595cd9d12740000002d/status"}}}'
  recorded_at: Tue, 22 May 2018 07:31:06 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/etl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:Aqoi-yFgeVkGT7M0KbNJzA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:Aqoi-yFgeVkGT7M0KbNJzA:ISYmDFGJnJcPgU8C
      X-Gdc-Request-Time:
      - '16'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Extract, transform and load services for project
        ''f3qk90mtxs0h32c2yx0w6nha2c9so3ur''","category":"etl","instance":"f3qk90mtxs0h32c2yx0w6nha2c9so3ur","links":[{"link":"/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/etl/pull2","summary":"Provides
        service of pull2.","category":"pull2","title":"pull2"},{"link":"/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/etl/task","summary":"Provides
        service of task.","category":"task","title":"task"},{"link":"/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/etl/mode","summary":"Provides
        service of mode.","category":"mode","title":"mode"}]}}'
  recorded_at: Tue, 22 May 2018 07:31:12 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/etl/pull2
    body:
      encoding: UTF-8
      string: '{"pullIntegration":"d20180522-5239-1x9m5ll"}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:VcLvpmg_c5aZWMWD5tId7A
      Info-Message:
      - Starting the data load from user storage to dataset.
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/tasks/acc5c39110e108f074c86a27066a323a0000004e/status"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:VcLvpmg_c5aZWMWD5tId7A:BiZDz1GFuxPFO5S0
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"pull2Task":{"links":{"poll":"/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/tasks/acc5c39110e108f074c86a27066a323a0000004e/status"}}}'
  recorded_at: Tue, 22 May 2018 07:31:13 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/model/view?includeCA=true&includeDeprecated=true&includeGrain=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:Tmmp5jqKU5yyxILTQj0C8A
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/model/view/10af40e54c3e2792053ff34be894921601cd72b76737681d0000006e"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:Tmmp5jqKU5yyxILTQj0C8A:mcgtekKakl2BwUzK
      X-Gdc-Request-Time:
      - '46'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/model/view/10af40e54c3e2792053ff34be894921601cd72b76737681d0000006e"}}}'
  recorded_at: Tue, 22 May 2018 07:31:14 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/model/view/10af40e54c3e2792053ff34be894921601cd72b76737681d0000006e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:5D59ZJ1eubx6iX72nr5f2Q
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/model/view/10af40e54c3e2792053ff34be894921601cd72b76737681d0000006e"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:5D59ZJ1eubx6iX72nr5f2Q:SfMslHTL1dxLF5ee
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/model/view/10af40e54c3e2792053ff34be894921601cd72b76737681d0000006e"}}}'
  recorded_at: Tue, 22 May 2018 07:31:15 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/model/view/10af40e54c3e2792053ff34be894921601cd72b76737681d0000006e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:hxvhDKMMQdIWROtFj-fqxg
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:hxvhDKMMQdIWROtFj-fqxg:RL1YHwjQJXP2TGog
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelView":{"model":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.users","title":"Dataset.Users","anchor":{"attribute":{"identifier":"attr.users.id","title":"Attr.Users.Id","folder":"Dataset.Users"}},"attributes":[{"attribute":{"identifier":"attribute.user","title":"Attribute.User","folder":"Dataset.Users","labels":[{"label":{"identifier":"label.user.email","title":"Label.User.Email","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.user.email"}}],"facts":[{"fact":{"identifier":"fact.users.some_number","title":"Fact.Users.Some
        Number","folder":"Dataset.Users","dataType":"DECIMAL(12,2)","restricted":false}}],"references":["created_on"],"production":true}}],"dateDimensions":[{"dateDimension":{"name":"created_on","title":"Created
        On","production":true,"urn":"urn:gooddata:date","identifier":"created_on.dataset.dt","identifierPrefix":"created_on","bridges":[]}}]}}}}'
  recorded_at: Tue, 22 May 2018 07:31:26 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.users.id"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:KKSovrn3Y3XjhMBa0vC1uA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:KKSovrn3Y3XjhMBa0vC1uA:RSKDMS3Q6Zp24D3h
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.users.id","uri":"/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/obj/193"}]}'
  recorded_at: Tue, 22 May 2018 07:31:27 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/obj/193
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:t-fTiuZhJUVqyUFji-pSmA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:t-fTiuZhJUVqyUFji-pSmA:cSg9C9yMXS5MGffx
      X-Gdc-Request-Time:
      - '189'
    body:
      encoding: ASCII-8BIT
      string: '{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/obj/13"}],"dimension":"/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/obj/22","displayForms":[]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/obj/193","tags":"","created":"2018-05-22
        09:30:25","identifier":"attr.users.id","deprecated":"0","summary":"","isProduction":1,"title":"Attr.Users.Id","category":"attribute","updated":"2018-05-22
        09:31:05","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 22 May 2018 07:31:28 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT COUNT([/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/obj/193])"},"meta":{"tags":"","summary":null,"title":"count
        of Attr.Users.Id"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:xpMeOenDBbfabJV5Z0a1Sw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:xpMeOenDBbfabJV5Z0a1Sw:caGxY1pTHPVoZuYG
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/obj/224"}'
  recorded_at: Tue, 22 May 2018 07:31:29 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/obj/224
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:q651bPNwrSmsbUQU6CxudQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:q651bPNwrSmsbUQU6CxudQ:byasmBogUscpkIOU
      X-Gdc-Request-Time:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"COUNT","content":[{"value":"/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/obj/193","position":{"column":27,"line":1},"type":"attribute
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        COUNT([/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/obj/193])"},"links":{"explain2":"/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/obj/224/explain2"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/obj/224","tags":"","created":"2018-05-22
        09:31:29","identifier":"aabVkFnPeHyd","deprecated":"0","summary":"","isProduction":1,"title":"count
        of Attr.Users.Id","category":"metric","updated":"2018-05-22 09:31:29","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 22 May 2018 07:31:30 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"definitionContent":{"content":{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[],"metrics":[{"alias":"count
        of Attr.Users.Id","uri":"/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/obj/224"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"meta":{"tags":"","summary":"","title":"Untitled
        report definition"}}},"projectMetadata":"/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:VWyElmzCS7F23ut91Loy1A
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/dataResult/1992989736239365888"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:VWyElmzCS7F23ut91Loy1A:9XsgKiTR3iiZtPgF
      X-Gdc-Request-Time:
      - '160'
    body:
      encoding: ASCII-8BIT
      string: '{"execResult":{"reportView":{"reportName":"Untitled report definition","columnWidths":[],"filters":[],"rows":["metricGroup"],"sort":{"columns":[],"rows":[]},"format":"grid","columns":[],"metrics":[{"format":"#,##0","summary":"","title":"count
        of Attr.Users.Id","metricId":"/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/obj/224"}]},"dataResult":"/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/dataResult/1992989736239365888"}}'
  recorded_at: Tue, 22 May 2018 07:31:31 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/f3qk90mtxs0h32c2yx0w6nha2c9so3ur/dataResult/1992989736239365888
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:nZzzpEfkYHQOkvAT_m5AyQ
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Execution-Time:
      - '155'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 9HvCeVX-s2zniNYRZ0oatQ:nZzzpEfkYHQOkvAT_m5AyQ:OBusUCFXnFIFzX9Z
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"xtab_data":{"columns":{"tree":{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"root","id":null},"lookups":[{"0":"count
        of Attr.Users.Id"}]},"data":[["5"]],"overall_size":{"columns":1,"rows":1},"rows":{"tree":{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"root","id":null},"lookups":[{"0":"count
        of Attr.Users.Id"}]},"offset":{"columns":0,"rows":0},"size":{"columns":1,"rows":1}}}'
  recorded_at: Tue, 22 May 2018 07:31:32 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gmtwwdc9qt4eud235qzn77r58859cvr4/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.users","title":"Dataset.Users","anchor":{"attribute":{"identifier":"attr.users.id","title":"Attr.Users.Id","folder":"Dataset.Users"}},"attributes":[{"attribute":{"identifier":"attribute.user","title":"Attribute.User","folder":"Dataset.Users","labels":[{"label":{"identifier":"label.user.email","title":"Label.User.Email","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.user.email"}}],"facts":[{"fact":{"identifier":"fact.users.some_number","title":"Fact.Users.Some
        Number","folder":"Dataset.Users","dataType":"DECIMAL(12,2)","type":"fact"}}],"references":["created_on"],"bridges":[]}}],"dateDimensions":[{"dateDimension":{"name":"created_on","title":"Created
        On","bridges":[]}}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - HLNF5AMq4hSQQswuhVEVrw:-omJWIkbkHqNtvsoBnO9TA
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/gmtwwdc9qt4eud235qzn77r58859cvr4/model/diff/5c07665411da900cac9622fac0c18f3e98c122f168d3441700000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - HLNF5AMq4hSQQswuhVEVrw:-omJWIkbkHqNtvsoBnO9TA:DKZDzL8qbwr8Gw24
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/gmtwwdc9qt4eud235qzn77r58859cvr4/model/diff/5c07665411da900cac9622fac0c18f3e98c122f168d3441700000018"}}}'
  recorded_at: Fri, 05 Oct 2018 12:31:02 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gmtwwdc9qt4eud235qzn77r58859cvr4/model/diff/5c07665411da900cac9622fac0c18f3e98c122f168d3441700000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - HLNF5AMq4hSQQswuhVEVrw:artqPFRlcr6Sa91uiwZO5A
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/gmtwwdc9qt4eud235qzn77r58859cvr4/model/diff/5c07665411da900cac9622fac0c18f3e98c122f168d3441700000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - HLNF5AMq4hSQQswuhVEVrw:artqPFRlcr6Sa91uiwZO5A:iee05ktWOcnGOP6t
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/gmtwwdc9qt4eud235qzn77r58859cvr4/model/diff/5c07665411da900cac9622fac0c18f3e98c122f168d3441700000018"}}}'
  recorded_at: Fri, 05 Oct 2018 12:31:03 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gmtwwdc9qt4eud235qzn77r58859cvr4/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - HLNF5AMq4hSQQswuhVEVrw:QihCS0PTW69E_lfDLDn26g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gmtwwdc9qt4eud235qzn77r58859cvr4/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"ALTER ATTRIBUTE {attr.users.id} UNSET GRAIN;\nSYNCHRONIZE
        {dataset.users} PRESERVE DATA;"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - HLNF5AMq4hSQQswuhVEVrw:CdLnDVS4q90KWIDVBGfVgg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - HLNF5AMq4hSQQswuhVEVrw:CdLnDVS4q90KWIDVBGfVgg:ParBdp7dkoGcs6xj
      X-Gdc-Request-Time:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"entries":[{"link":"/gdc/md/gmtwwdc9qt4eud235qzn77r58859cvr4/tasks/8688fe96febc9f64a80f2f8a86de878500000007/status","category":"tasks-status"}]}'
  recorded_at: Fri, 05 Oct 2018 12:31:06 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gmtwwdc9qt4eud235qzn77r58859cvr4/tasks/8688fe96febc9f64a80f2f8a86de878500000007/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - HLNF5AMq4hSQQswuhVEVrw:UruJxshjyGeIiWWzkxmkJg
      Process:
      - 'true'
  response:
    status:
      code: 303
      message: See Other
    headers:
      Location:
      - "/gdc/md/gmtwwdc9qt4eud235qzn77r58859cvr4/tasks/1870a6c03349bb6093115dc98f33b3a500000007/status"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - HLNF5AMq4hSQQswuhVEVrw:UruJxshjyGeIiWWzkxmkJg:DwgleiwtHnVqJBPt
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/gmtwwdc9qt4eud235qzn77r58859cvr4/tasks/1870a6c03349bb6093115dc98f33b3a500000007/status","status":"OK","links":{"poll":"/gdc/md/gmtwwdc9qt4eud235qzn77r58859cvr4/tasks/1870a6c03349bb6093115dc98f33b3a500000007/status"}}}'
  recorded_at: Fri, 05 Oct 2018 12:31:07 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gmtwwdc9qt4eud235qzn77r58859cvr4/etl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - HLNF5AMq4hSQQswuhVEVrw:xPFXD-Yefmpd50vj3pdcpQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - HLNF5AMq4hSQQswuhVEVrw:xPFXD-Yefmpd50vj3pdcpQ:2zv8fsHyVTpzAapm
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Extract, transform and load services for project
        ''gmtwwdc9qt4eud235qzn77r58859cvr4''","category":"etl","instance":"gmtwwdc9qt4eud235qzn77r58859cvr4","links":[{"link":"/gdc/md/gmtwwdc9qt4eud235qzn77r58859cvr4/etl/pull2","summary":"Provides
        service of pull2.","category":"pull2","title":"pull2"},{"link":"/gdc/md/gmtwwdc9qt4eud235qzn77r58859cvr4/etl/task","summary":"Provides
        service of task.","category":"task","title":"task"},{"link":"/gdc/md/gmtwwdc9qt4eud235qzn77r58859cvr4/etl/mode","summary":"Provides
        service of mode.","category":"mode","title":"mode"}]}}'
  recorded_at: Fri, 05 Oct 2018 12:31:10 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gmtwwdc9qt4eud235qzn77r58859cvr4/etl/pull2
    body:
      encoding: UTF-8
      string: '{"pullIntegration":"d20181005-54175-10pb8bj"}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - HLNF5AMq4hSQQswuhVEVrw:uzeGHjjAbws0-BxJk0qYkQ
      Info-Message:
      - Starting the data load from user storage to dataset.
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/gmtwwdc9qt4eud235qzn77r58859cvr4/tasks/306d4ecb7e9fc3399d356a324cc3c25800000013/status"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - HLNF5AMq4hSQQswuhVEVrw:uzeGHjjAbws0-BxJk0qYkQ:XMR8cmCZ1jHo3LMN
      X-Gdc-Request-Time:
      - '40'
    body:
[...]
