---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:RIhRb4p57r6jzIYv5_03_g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:RIhRb4p57r6jzIYv5_03_g:N1OCRITioRObkkwy
      X-Gdc-Request-Time:
      - '330'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":32,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/136"}],"displayForms":[{"content":{"formOf":"/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/220","expression":"[/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/137]","default":1},"links":{"elements":"/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/238/elements"},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/238","tags":"","created":"2010-08-02
        08:13:42","identifier":"effective_to_date.aag81lMifn6q","deprecated":"0","summary":"DisplayForm
        Year.","isProduction":1,"title":"Year (Effective To Date)","category":"attributeDisplayForm","updated":"2018-12-05
        15:20:37","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/270","sort":"pk","dimension":"/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/117","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/184"},{"multivalue":false,"type":"col","data":"/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/192"},{"multivalue":false,"type":"col","data":"/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/207"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/220","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"effective_to_date.year","deprecat[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/i1a3ygobo7o1hy2xx5tqcchw37fibmik/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:gWNy-QV4NF_5T5HyWzLoDQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
[...]
