---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:6wC2PxRHXIXYIDSEm2lVbw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:6wC2PxRHXIXYIDSEm2lVbw:2poS4Tj2aIas11e6
      X-Gdc-Request-Time:
      - '227'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aaDhdnbEiAx5","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/358","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/356","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/360","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}}]},{"identifier":"aaEhdnbEiAx5","title":"Tab
        2","items":[{"reportItem":{"obj":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/358","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/356","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/360","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}}]}],"filters":[]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/361","tags":"dashboard","created":"2018-12-13
        13:59:07","identifier":"dashboard.dashboard.2","deprecated":"0","summary":"","isProduction":1,"title":"Dashboard
        2","category":"projectDashboard","updated":"2018-12-13 13:37:15","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}},{"projectDashboard":{"content":{"tabs":[{"identifier":"aaohee2Gaktn","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/358","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/356","[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:yy5kivyQTOqv_5uuo3WW8w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
    [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/uxied118kzjwc2yzlzufb82fi3gaeuk5/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:v6tZ02Hvi5voGAFs7CKPIw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
    [...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/yq1eo5hkmxcekt7ssuzr1hya0k0ajjc4/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:5qJZ0N4piyvGg5i9NzxsBg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:5qJZ0N4piyvGg5i9NzxsBg:pOZXoqV5Pc3qcFeE
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aagWxmNddcv6","title"[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/b6i9k372fa30zvencu45w82hjhmbxvcd/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:yBq8MUEHxqsZOMcK5KbslQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
     [...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/t2ksyc5wv8h5vr924y4w90r7qly5itzf/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:EWIGAFvKEVipcTWr4k1G5w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/i8awdxa5l529xhf719f5oovw15nvqtv7/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:XLxN31zs6g5P3wtHFsNgag
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:XLxN31zs6g5P3wtHFsNgag:fpsg5WOmBk3AvJ7X
      X-Gdc-Request-Time:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aakXk4f9fmeS","title"[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/e7gdvwe2ozfv3ndhw95a3gu5l568yntu/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:pKVaI5pdVmlmdfGilamRqA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
    [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/usv2plnsajrcvwlxi4ky5fx9fpf25egg/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:dz-PMkQXJ6XKEYgpywEznA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
    [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/nboeb66nif3x7fo0s05b7tc1zszhffnh/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:Xb3vCUXw5qA83uOntTxRIA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:Xb3vCUXw5qA83uOntTxRIA:pHPMWzQiEp8DpKxj"
      X-Gdc-Request-Time:
      - '256'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aak9C3UgcyuQ","title":"Tab
 [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/f9wa9wqeet3vhevii70b0s5gf0osdbim/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:qtZ7ZqRWWCLWbpQbHCguSw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/b31fkm23j7ju9hufo1iy8al6s6v5m6xw/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:3N2gmE--ss1CYyzUNCTNGQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/ljscabwf2rl5qevu3fhzgfr5a4jbqpbo/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:dZSoJguWX49wMA2AU8iVkQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/htve31zh0epe65byr08xkjick364vd2m/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:oRx2mdZJQ6hauSBZqKsOYg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/ivwbovwp6dq6kqf4ilozpnlatk6qhnk1/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:DiD0hXRM89ap3hG1zS4y9Q"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/dcbv0uu7tkzqjjmsfmnrmtsal52m4fvj/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:arby3qtd6s0Ns3_FDcvGxQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/f457svbcjd8qsu3lvdo75qx92mszjh5s/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:dQArL7arv2ph4kkEfZGyWw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/shuxp0mpor74xb0zuxmnwd6fyiemqgfa/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:1NfpU9kJgCCmpgRXNJh4mQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers[...]
