---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:zrBsj3ti4FzEFKYoqJvS_A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:zrBsj3ti4FzEFKYoqJvS_A:7xrIgU2aN59ux7Oj
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aaDhdnbEiAx5","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/358","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/356","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/360","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}}]},{"identifier":"aaEhdnbEiAx5","title":"Tab
        2","items":[{"reportItem":{"obj":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/358","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/356","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/360","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}}]}],"filters":[]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/361","tags":"dashboard","created":"2018-12-13
        13:59:07","identifier":"dashboard.dashboard.2","deprecated":"0","summary":"","isProduction":1,"title":"Dashboard
        2","category":"projectDashboard","updated":"2018-12-13 13:37:15","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}},{"projectDashboard":{"content":{"tabs":[{"identifier":"aaohee2Gaktn","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/358","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/356","[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/358
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:vSq23hkR_07WHUU5YpPa2g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:vSq23hkR_07WHUU5YpPa2g:EQ22YZ1yYbRmY7fb
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"report":{"content":{"domains":[],"definitions":["/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/357"]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/358","tags":"","created":"2018-12-13
        13:59:07","identifier":"report.customers.count.by.gender","deprecated":"0","summary":"","isProduction":1,"title":"Customers
        Count By Gender","category":"report","updated":"2018-12-13 13:36:00","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Thu, 13 Dec 2018 13:08:45 GMT
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/357
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:-XKNXGaj0F1LOQMqzFCTHA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:-XKNXGaj0F1LOQMqzFCTHA:9ktBnmyTm6c5fixC
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[{"attribute":{"alias":"","totals":[[]],"uri":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/298"}}],"metrics":[{"alias":"Customers
        Count","uri":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/354"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"links":{"explain2":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/357/explain2"},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/357","tags":"","created":"2018-12-13
        13:59:07","identifier":"aaChdX1nhVEK","deprecated":"0","summary":"","isProduction":1,"title":"Untitled
        report definition","category":"reportDefinition","updated":"2018-12-13 13:35:57","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Thu, 13 Dec 2018 13:08:55 GMT
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/354
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:K98Aukg6clnNy8HEHHCs9w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:K98Aukg6clnNy8HEHHCs9w:C004Xl1dcVWHa1t0
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"COUNT","content":[{"value":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/286","position":{"column":27,"line":1},"type":"attribute
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        COUNT([/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/286])"},"links":{"explain2":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/354/explain2"},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/354","tags":"","created":"2018-12-13
        13:59:07","identifier":"metric.customers.count","deprecated":"0","summary":"","isProduction":1,"title":"Customers
        Count","category":"metric","updated":"2018-12-13 13:35:32","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Thu, 13 Dec 2018 13:08:59 GMT
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:lYzj4lng-0E48IQV5h01_Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
   [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:30MxyuScSGni1QpA5SmIpA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:30MxyuScSGni1QpA5SmIpA:cQ6pUSx0yrUbiYPz
      X-Gdc-Request-Time:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":3,"offset":0},"items":[{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"MAX","content":[{"value":"/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/obj/315","position":{"column":25,"line":1},"type":"fact
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        MAX([/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/obj/315])"},"links":{"explain2":"/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/obj/350/explain2"},"meta":{"locked":1,"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/obj/350","tags":"_lcm_managed_object
        metric","created":"2018-12-13 13:42:01","identifier":"metric.max.claim.amount","deprecated":"0","summary":"","isProduction":1,"title":"Max
        Claim Amount","category":"metric","updated":"2018-12-13 14:06:35","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}},{"metric":{"content":{"format":"#,##0","tree":{"conten[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/uxied118kzjwc2yzlzufb82fi3gaeuk5/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:u-gEXlGiFjPX17USYIS0KA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
   [...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/yq1eo5hkmxcekt7ssuzr1hya0k0ajjc4/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:C_NHkIPU7afK0Lh6oJm_pA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:C_NHkIPU7afK0Lh6oJm_pA:bFrFB4i33AXWnvoF
      X-Gdc-Request-Time:
      - '221'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aagWxmNddcv6","title[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/yq1eo5hkmxcekt7ssuzr1hya0k0ajjc4/obj/358
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:8k7fpUF9EXEKHdwi21M-aQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:8k7fpUF9EXEKHdwi21M-aQ:EVwhtm9r9FqkdRqe
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"report":{"content":{"domains":[],"definitions":["/gdc/md/yq1eo5hkmxcekt7ssuzr1hya0k0ajjc4/obj/357"]},"meta":{"author":"/gdc/account/profile/e306b64fb4178785c9cf29c29b5e498a","uri":"/gdc/md/yq1eo5hkmxcekt7ssuzr1hya0k0ajjc4/obj/358","tags":"","created":"2019-01-21
        10:50:34","identifier":"report.customers.count.by.gender","deprecated":"0","summary":"","isProduction":1,"title":"Customers
        Count By Gender","category":"report","updated":"2019-01-21 10:33:46","contributor":"/gdc/account/profile/e306b64fb4178785c9cf29c29b5e498a"}}}'
  recorded_at: Mon, 21 Jan 2019 09:57:26 GMT
[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/yq1eo5hkmxcekt7ssuzr1hya0k0ajjc4/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:eep2lyX_7DfjQvkBR4hv3Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
    [...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/b6i9k372fa30zvencu45w82hjhmbxvcd/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:kVl6KAPtrFCu-ufaGoImOA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
    [...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/t2ksyc5wv8h5vr924y4w90r7qly5itzf/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:DxYlKubKLeblJDOcauP93A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
    [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/i8awdxa5l529xhf719f5oovw15nvqtv7/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:YUywO9ZUaglhxZJNJd9CNA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:YUywO9ZUaglhxZJNJd9CNA:Pxp3jabEhFqslKFl
      X-Gdc-Request-Time:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aakXk4f9fmeS","title"[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/i8awdxa5l529xhf719f5oovw15nvqtv7/obj/358
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:FrAENcSd3rL-WTaMmZfMcw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:FrAENcSd3rL-WTaMmZfMcw:jNsZFteoABUzQOnM
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"report":{"content":{"domains":[],"definitions":["/gdc/md/i8awdxa5l529xhf719f5oovw15nvqtv7/obj/357"]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/i8awdxa5l529xhf719f5oovw15nvqtv7/obj/358","tags":"","created":"2019-01-21
        14:06:51","identifier":"report.customers.count.by.gender","deprecated":"0","summary":"","isProduction":1,"title":"Customers
        Count By Gender","category":"report","updated":"2019-01-21 13:49:31","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Mon, 21 Jan 2019 13:14:57 GMT
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/i8awdxa5l529xhf719f5oovw15nvqtv7/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:iHFbvCzyUpoJ4uYMuI0Mgg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
   [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/e7gdvwe2ozfv3ndhw95a3gu5l568yntu/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:aWP5vS9GFPRcP9y0VLwwBw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
   [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/usv2plnsajrcvwlxi4ky5fx9fpf25egg/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:2ikoYxJ8NCWpyX2UBzWqlg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
   [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/nboeb66nif3x7fo0s05b7tc1zszhffnh/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:45yq9z-Xd1Om_UJS_FiHFw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:45yq9z-Xd1Om_UJS_FiHFw:riELhD1QINOFqzbk"
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aak9C3UgcyuQ","title":"Tab
  [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/nboeb66nif3x7fo0s05b7tc1zszhffnh/obj/358
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:KSvIphpLp825ZNNcjLZfwA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:KSvIphpLp825ZNNcjLZfwA:N4OFQGqe0KFBnFxr"
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"report":{"content":{"domains":[],"definitions":["/gdc/md/nboeb66nif3x7fo0s05b7tc1zszhffnh/obj/357"]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/nboeb66nif3x7fo0s05b7tc1zszhffnh/obj/358","tags":"","created":"2019-01-23
        16:37:22","identifier":"report.customers.count.by.gender","deprecated":"0","summary":"","isProduction":1,"title":"Customers
        Count By Gender","category":"report","updated":"2019-01-23 16:17:05","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Wed, 23 Jan 2019 15:45:02 GMT
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/nboeb66nif3x7fo0s05b7tc1zszhffnh/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:CHxvBkMqHptTNZtAlyUcnQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/f9wa9wqeet3vhevii70b0s5gf0osdbim/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:O6THbf6iUojWj8JJh3cp5w"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/b31fkm23j7ju9hufo1iy8al6s6v5m6xw/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:gn3FKOa1If-V0yDrMigARg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/ljscabwf2rl5qevu3fhzgfr5a4jbqpbo/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:KUcjiBD-1JLyTqOyv8vuHA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/ljscabwf2rl5qevu3fhzgfr5a4jbqpbo/obj/358
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:yk4cSPiBkXm47d4RTAbLNw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:yk4cSPiBkXm47d4RTAbLNw:Q8QDvKeufFvvvAz6"
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"report":{"content":{"domains":[],"definitions":["/gdc/md/ljscabwf2rl5qevu3fhzgfr5a4jbqpbo/obj/357"]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/ljscabwf2rl5qevu3fhzgfr5a4jbqpbo/obj/358","tags":"","created":"2019-01-23
        19:04:37","identifier":"report.customers.count.by.gender","deprecated":"0","summary":"","isProduction":1,"title":"Customers
        Count By Gender","category":"report","updated":"2019-01-23 18:47:21","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Wed, 23 Jan 2019 18:12:16 GMT
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/ljscabwf2rl5qevu3fhzgfr5a4jbqpbo/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:8ch67e0vtfIxSaqTiSD2ew"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/htve31zh0epe65byr08xkjick364vd2m/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:mzzmD4p1qZvo4xOE7Vb9Ew"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/ivwbovwp6dq6kqf4ilozpnlatk6qhnk1/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:b497LPwH0CFpTolLfmiEDw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/dcbv0uu7tkzqjjmsfmnrmtsal52m4fvj/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:zMFe7bM5MO3sssgi27kq8g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/dcbv0uu7tkzqjjmsfmnrmtsal52m4fvj/obj/358
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:c29zitWW1ArHsLGEGHrgJw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:c29zitWW1ArHsLGEGHrgJw:sejHtNLqJiOxOFZM"
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"report":{"content":{"domains":[],"definitions":["/gdc/md/dcbv0uu7tkzqjjmsfmnrmtsal52m4fvj/obj/357"]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/dcbv0uu7tkzqjjmsfmnrmtsal52m4fvj/obj/358","tags":"","created":"2019-01-24
        13:30:45","identifier":"report.customers.count.by.gender","deprecated":"0","summary":"","isProduction":1,"title":"Customers
        Count By Gender","category":"report","updated":"2019-01-24 13:13:19","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Thu, 24 Jan 2019 12:38:35 GMT
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/dcbv0uu7tkzqjjmsfmnrmtsal52m4fvj/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:6pYxSTj6P_mPHbXTVc8hKw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/f457svbcjd8qsu3lvdo75qx92mszjh5s/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:U9qHS218EeBMVxxa-lTm7w"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/shuxp0mpor74xb0zuxmnwd6fyiemqgfa/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:wwc_oQUW0n5MO-KGELzg6w"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-[...]
