---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.comp.my_computed_attr"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:FW_GH2vQ3rQUGzq_Ukxj_Q"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:FW_GH2vQ3rQUGzq_Ukxj_Q:AGW16lLq2zkv2V07"
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.comp.my_computed_attr","uri":"/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/283"}]}'
  recorded_at: Thu, 18 Apr 2019 13:07:06 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/283
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:VC91VkHhc2UYlBNwHHh8Wg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:VC91VkHhc2UYlBNwHHh8Wg:Eeq6unAhaTZyne4i"
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"attribute":{"content":{"rel":["to {attr.csv_policies.state} as case
        when {metric.customers.count} <= 1000 then {attr.comp.my_computed_attr?\"Small\"},
        when {metric.customers.count} <= 2000 then {attr.comp.my_computed_attr?\"Medium\"},
        when {metric.customers.count} > 2000 then {attr.comp.my_computed_attr?\"Large\"}
        else {attr.comp.my_computed_attr?\"\"} end"],"drillDownStepAttributeDF":"/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/288","pk":[{"type":"col","data":"/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/101"}],"dimension":"/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/282","displayForms":[{"content":{"formOf":"/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/283","expression":"[/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/103]","default":1},"links":{"elements":"/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/284/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/284","tags":"_lcm_managed_object","created":"2019-04-18
        14:38:11","identifier":"label.comp.my_computed_attr","deprecated":"0","summary":"","isProduction":1,"title":"Label.Comp.My
        Computed Attr","category":"attributeDisplayForm","updated":"2019-04-18 15:04:57","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/283","tags":"_lcm_managed_object","created":"2019-04-18
        14:38:11","identifier":"attr.comp.my_computed_attr","deprecated":"0","summary":"","isProduction":1,"title":"My
        computed attribute","category":"attribute","updated":"2019-04-18 15:04:57","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 18 Apr 2019 13:07:07 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/288
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:Y8BZfh1nCba18px-Hfspiw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:Y8BZfh1nCba18px-Hfspiw:WePJRMhhBbPnYTHW"
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/287","expression":"[/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/88]","default":1},"links":{"elements":"/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/288/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/288","tags":"_lcm_managed_object","created":"2019-04-18
        14:38:11","identifier":"label.csv_policies.customer","deprecated":"0","summary":"","isProduction":1,"title":"Customer","category":"attributeDisplayForm","updated":"2019-04-18
        15:04:57","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 18 Apr 2019 13:07:09 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.comp.my_computed_attr"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:8HV_I2O_jWwSmdsgq5PsEA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:8HV_I2O_jWwSmdsgq5PsEA:hsZHukn0hfBzeBdS"
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.comp.my_computed_attr","uri":"/gdc/md/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/obj/283"}]}'
  recorded_at: Thu, 18 Apr 2019 13:07:09 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/obj/283
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:LSfLd_zWcQpaXswwqhAudg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/u586yv7vl7kcb29a3jw30w37ppng6zue/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.comp.my_computed_attr"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:uO3N6W1yuPw_qeTJ3Dq1cw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:uO3N6W1yuPw_qeTJ3Dq1cw:e3HWuwaSbnHXDE6m"
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.comp.my_computed_attr","uri":"/gdc/md/u586yv7vl7kcb29a3jw30w37ppng6zue/obj/313"}]}'
  recorded_at: Thu, 07 May 2020 11:32:00 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/u586yv7vl7kcb29a3jw30w37ppng6zue/obj/313
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:faSfjNTifnbScTgXN5uG2A"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/oa1tpppehpjcf7s6cxr4cvpp927dhvyf/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.comp.my_computed_attr"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:NNVADVI0rDDCKhW6xbwT4g"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '29'
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:NNVADVI0rDDCKhW6xbwT4g:DNSvBBfM7pWVDXKj"
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.comp.my_computed_attr","uri":"/gdc/md/oa1tpppehpjcf7s6cxr4cvpp927dhvyf/obj/313"}]}'
  recorded_at: Thu, 07 May 2020 11:32:06 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/oa1tpppehpjcf7s6cxr4cvpp927dhvyf/obj/313
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:UKNRQfNYDJVlmCPe6YPBgw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log[...]
[...]
