---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:V2bfPgdLG3fspZpwbsLSDg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:V2bfPgdLG3fspZpwbsLSDg:yrVOtxqdffSNp4ED"
      X-Gdc-Request-Time:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/schedules","items":[{"schedule":{"name":"main.rb","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"main.rb","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"1809831c-6d68-4c77-b6a4-d850c19b95f9"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/schedules/5c6e7859e4b080e255bb801d","executions":"/gdc/projects/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/schedules/5c6e7859e4b080e255bb801d/executions"},"triggerScheduleId":"5c6e7856e4b080e255bb801c"}},{"schedule":{"name":"test.grf","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"graph/test.grf","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"08dd0922-d55f-4967-92d5-2c446f516b99"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2019-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/schedules/5c6e7856e4b080e255bb801c","executions":"/gdc/projects/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/schedules/5c6e7856e4b080e255bb801c/executions"}}}]}}'
  recorded_at: Thu, 21 Feb 2019 10:15:31 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/i57v53e4woqlrddf1qdxywjnr8iinfuv/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:6BUrKhJ0-qbOna37gg0oqw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:6BUrKhJ0-qbOna37gg0oqw:Mhlxrj5Zsr8w3TWL"
      X-Gdc-Request-Time:
      - '11'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/i57v53e4woqlrddf1qdxywjnr8iinfuv/schedules","items":[{"schedule":{"name":"main.rb","type":"MSETL","state":"ENABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","EXECUTABLE":"main.rb","param_2":"b","param_1":"a","print_reverted":"hidden_msg_from_rollout_brick,SECURE_PARAM_2","msg_from_rollout_brick":"Hi,
        I was set by rollout brick","PROCESS_ID":"6ac5307f-0983-4a45-a881-c46a8f6eef65"},"hiddenParams":{"secure_param_2":null,"secure_param_1":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/i57v53e4woqlrddf1qdxywjnr8iinfuv/schedules/5c6e75eee4b01078550aa226","executions":"/gdc/projects/i57v53e4woqlrddf1qdxywjnr8iinfuv/schedules/5c6e75eee4b01078550aa226/executions"},"triggerScheduleId":"5c6e75eee4b01078550aa225"}},{"schedule":{"name":"test.grf","type":"MSETL","state":"ENABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","EXECUTABLE":"graph/test.grf","param_2":"b","param_1":"a","print_reverted":"hidden_msg_from_rollout_brick,SECURE_PARAM_2","msg_from_rollout_brick":"Hi,
        I was set by rollout brick","PROCESS_ID":"dd2cfc72-80c2-43af-ac51-fc8647c9d7ec"},"hiddenParams":{"secure_param_2":null,"secure_param_1":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2019-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/i57v53e4woqlrddf1qdxywjnr8iinfuv/schedules/5c6e75eee4b01078550aa225","executions":"/gdc/projects/i57v53e4woqlrddf1qdxywjnr8iinfuv/schedules/5c6e75eee4b01078550aa225/executions"}}}]}}'
  recorded_at: Thu, 21 Feb 2019 10:15:32 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/roqdh0atnyjbinu96lns32v0k79uhkpe/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:YIx0zvhTW_9qODvu_0ApJA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
