---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/j2t2ojk91789vuczapl74a5z7w5rdtf3/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:4nj024AvCYFT3fq75L1R8Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:4nj024AvCYFT3fq75L1R8Q:VVxQrsNBpzO2e7Tw
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/j2t2ojk91789vuczapl74a5z7w5rdtf3/schedules","items":[{"schedule":{"name":"main.rb","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"main.rb","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"21799b90-406c-43ce-85ce-cf5b2e3bb517"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/j2t2ojk91789vuczapl74a5z7w5rdtf3/schedules/5c1257dae4b0e9d3950de8de","executions":"/gdc/projects/j2t2ojk91789vuczapl74a5z7w5rdtf3/schedules/5c1257dae4b0e9d3950de8de/executions"},"triggerScheduleId":"5c1257d8e4b0e9d3950de8dd"}},{"schedule":{"name":"test.grf","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"graph/test.grf","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"756c00a8-3d04-4ebe-8bad-5812bb256f45"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2019-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/j2t2ojk91789vuczapl74a5z7w5rdtf3/schedules/5c1257d8e4b0e9d3950de8dd","executions":"/gdc/projects/j2t2ojk91789vuczapl74a5z7w5rdtf3/schedules/5c1257d8e4b0e9d3950de8dd/executions"}}}]}}'
  recorded_at: Thu, 13 Dec 2018 13:08:29 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/cn0e66ez01xxl9onyuukb08on756mpqm/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:y5t83nZ5R6NGxRXqNInH-A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:y5t83nZ5R6NGxRXqNInH-A:MEIU3YIw5MQpIuga
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/cn0e66ez01xxl9onyuukb08on756mpqm/schedules","items":[{"schedule":{"name":"test.grf","type":"MSETL","state":"ENABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","EXECUTABLE":"graph/test.grf","param_2":"b","param_1":"a","print_reverted":"hidden_msg_from_rollout_brick,SECURE_PARAM_2","msg_from_rollout_brick":"Hi,
        I was set by rollout brick","PROCESS_ID":"9bb0cb84-e537-4a1f-a534-ba6cfcef015c"},"hiddenParams":{"secure_param_2":null,"secure_param_1":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2019-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/cn0e66ez01xxl9onyuukb08on756mpqm/schedules/5c12550fe4b0e4c306ea2bbb","executions":"/gdc/projects/cn0e66ez01xxl9onyuukb08on756mpqm/schedules/5c12550fe4b0e4c306ea2bbb/executions"}}},{"schedule":{"name":"main.rb","type":"MSETL","state":"ENABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","EXECUTABLE":"main.rb","param_2":"b","param_1":"a","print_reverted":"hidden_msg_from_rollout_brick,SECURE_PARAM_2","msg_from_rollout_brick":"Hi,
        I was set by rollout brick","PROCESS_ID":"033100be-b23a-46ad-8e8e-4cd64601c40f"},"hiddenParams":{"secure_param_2":null,"secure_param_1":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/cn0e66ez01xxl9onyuukb08on756mpqm/schedules/5c12550fe4b0e4c306ea2bbc","executions":"/gdc/projects/cn0e66ez01xxl9onyuukb08on756mpqm/schedules/5c12550fe4b0e4c306ea2bbc/executions"},"triggerScheduleId":"5c12550fe4b0e4c306ea2bbb"}}]}}'
  recorded_at: Thu, 13 Dec 2018 13:08:29 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/uxied118kzjwc2yzlzufb82fi3gaeuk5/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:mVolP-qMZVq_gbogzqs9Hw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applica[...]
