---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:cUIvnxqe2zZuzuGzs8puhQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:cUIvnxqe2zZuzuGzs8puhQ:BYESLiluLqQiAHBp"
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aaiRQJCUeE4w","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/358","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/356","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/360","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}}]},{"identifier":"aajRQJCUeE4w","title":"Tab
        2","items":[{"reportItem":{"obj":"/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/358","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/356","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/360","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}}]}],"filters":[]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/361","tags":"dashboard","created":"2019-02-21
        11:06:16","identifier":"dashboard.dashboard.2","deprecated":"0","summary":"","isProduction":1,"title":"Dashboard
        2","category":"projectDashboard","updated":"2019-02-21 10:47:29","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}},{"projectDashboard":{"content":{"tabs":[{"identifier":"aaiRPz7EapFI","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/358","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/356","[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/358
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:K2v80kfAMn6r7LpKFWaTfQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:K2v80kfAMn6r7LpKFWaTfQ:rS3u62cAE3SKFSLH"
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"report":{"content":{"domains":[],"definitions":["/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/357"]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/358","tags":"","created":"2019-02-21
        11:06:16","identifier":"report.customers.count.by.gender","deprecated":"0","summary":"","isProduction":1,"title":"Customers
        Count By Gender","category":"report","updated":"2019-02-21 10:46:26","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Thu, 21 Feb 2019 10:15:50 GMT
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/357
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:tkyZTRRUGnVSAhBR9cwjRQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:tkyZTRRUGnVSAhBR9cwjRQ:oDAZKqncT0PlKUPw"
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[{"attribute":{"alias":"","totals":[[]],"uri":"/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/295"}}],"metrics":[{"alias":"Customers
        Count","uri":"/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/354"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"links":{"explain2":"/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/357/explain2"},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/357","tags":"","created":"2019-02-21
        11:06:16","identifier":"aabRRaxceHXw","deprecated":"0","summary":"","isProduction":1,"title":"Untitled
        report definition","category":"reportDefinition","updated":"2019-02-21 10:46:23","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Thu, 21 Feb 2019 10:16:00 GMT
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/354
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:2IZeNgjjmKra27f_sLcP5Q"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:2IZeNgjjmKra27f_sLcP5Q:mDtskgHX0kep8pXg"
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"COUNT","content":[{"value":"/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/283","position":{"column":27,"line":1},"type":"attribute
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        COUNT([/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/283])"},"links":{"explain2":"/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/354/explain2"},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/354","tags":"","created":"2019-02-21
        11:06:16","identifier":"metric.customers.count","deprecated":"0","summary":"","isProduction":1,"title":"Customers
        Count","category":"metric","updated":"2019-02-21 10:46:01","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Thu, 21 Feb 2019 10:16:03 GMT
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:RxLpRVLDEf_GA8MPkaNtCA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/i57v53e4woqlrddf1qdxywjnr8iinfuv/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:4zRYUeTyPlINZ7M0S6QJrQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:4zRYUeTyPlINZ7M0S6QJrQ:BMVN4vhbIiwT0xmg"
      X-Gdc-Request-Time:
      - '56'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":3,"offset":0},"items":[{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"MAX","content":[{"value":"/gdc/md/i57v53e4woqlrddf1qdxywjnr8iinfuv/obj/315","position":{"column":25,"line":1},"type":"fact
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        MAX([/gdc/md/i57v53e4woqlrddf1qdxywjnr8iinfuv/obj/315])"},"links":{"explain2":"/gdc/md/i57v53e4woqlrddf1qdxywjnr8iinfuv/obj/350/explain2"},"meta":{"locked":1,"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/i57v53e4woqlrddf1qdxywjnr8iinfuv/obj/350","tags":"_lcm_managed_object
        metric","created":"2019-02-21 10:51:48","identifier":"metric.max.claim.amount","deprecated":"0","summary":"","isProduction":1,"title":"Max
        Claim Amount","category":"metric","updated":"2019-02-21 11:13:34","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}},{"metric":{"content":{"format":"#,##0","tree":{"conten[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/roqdh0atnyjbinu96lns32v0k79uhkpe/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:FEPkUVnBANf6CybDmKUXgg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-[...]
