---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/gtiufzo7uvdel9nostoir4cszfymp9cz/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:eYs94Rs9XoYyepr1dOu1LQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:eYs94Rs9XoYyepr1dOu1LQ:LqN6j2goknS09R0i
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/gtiufzo7uvdel9nostoir4cszfymp9cz/schedules","items":[{"schedule":{"name":"main.rb","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"main.rb","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"ccd82556-18f5-4d2b-be78-884c8a5add0f"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/gtiufzo7uvdel9nostoir4cszfymp9cz/schedules/5c07df71e4b0523aa2a1868e","executions":"/gdc/projects/gtiufzo7uvdel9nostoir4cszfymp9cz/schedules/5c07df71e4b0523aa2a1868e/executions"},"triggerScheduleId":"5c07df6fe4b0523aa2a1868d"}},{"schedule":{"name":"test.grf","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"graph/test.grf","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"e5e19a06-9bc2-432f-bef7-251eadc19c38"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2019-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/gtiufzo7uvdel9nostoir4cszfymp9cz/schedules/5c07df6fe4b0523aa2a1868d","executions":"/gdc/projects/gtiufzo7uvdel9nostoir4cszfymp9cz/schedules/5c07df6fe4b0523aa2a1868d/executions"}}}]}}'
  recorded_at: Wed, 05 Dec 2018 14:33:38 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/i1a3ygobo7o1hy2xx5tqcchw37fibmik/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:k9CzPMVUfbpt_9er-YnsGg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:k9CzPMVUfbpt_9er-YnsGg:VOyPOZjan0NpuljP
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/i1a3ygobo7o1hy2xx5tqcchw37fibmik/schedules","items":[{"schedule":{"name":"test.grf","type":"MSETL","state":"ENABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","EXECUTABLE":"graph/test.grf","param_2":"b","param_1":"a","print_reverted":"hidden_msg_from_rollout_brick,SECURE_PARAM_2","msg_from_rollout_brick":"Hi,
        I was set by rollout brick","PROCESS_ID":"03cab156-153e-4de3-90a1-d65ae8ceb9f4"},"hiddenParams":{"secure_param_2":null,"secure_param_1":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2019-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/i1a3ygobo7o1hy2xx5tqcchw37fibmik/schedules/5c07dd0ae4b0defd4d72faa3","executions":"/gdc/projects/i1a3ygobo7o1hy2xx5tqcchw37fibmik/schedules/5c07dd0ae4b0defd4d72faa3/executions"}}},{"schedule":{"name":"main.rb","type":"MSETL","state":"ENABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","EXECUTABLE":"main.rb","param_2":"b","param_1":"a","print_reverted":"hidden_msg_from_rollout_brick,SECURE_PARAM_2","msg_from_rollout_brick":"Hi,
        I was set by rollout brick","PROCESS_ID":"838fa3ac-b601-43fb-b423-8f6c635952f8"},"hiddenParams":{"secure_param_2":null,"secure_param_1":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/i1a3ygobo7o1hy2xx5tqcchw37fibmik/schedules/5c07dd0ae4b0defd4d72faa4","executions":"/gdc/projects/i1a3ygobo7o1hy2xx5tqcchw37fibmik/schedules/5c07dd0ae4b0defd4d72faa4/executions"},"triggerScheduleId":"5c07dd0ae4b0defd4d72faa3"}}]}}'
  recorded_at: Wed, 05 Dec 2018 14:33:39 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/k1ocfm1di3ddj89nmi3gb1h2xt4qdtt9/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:b68qK2br2bEyGYX93qVqKw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applica[...]
