---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/uf3yirsfhhri8aolvopubymbe4ok8kaa/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:XEpJym4zJyqy5EZAM54OIQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:XEpJym4zJyqy5EZAM54OIQ:ToolRYNUIKTl75j7
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/uf3yirsfhhri8aolvopubymbe4ok8kaa/schedules","items":[{"schedule":{"name":"main.rb","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"main.rb","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"aee82083-065b-4cbe-9c53-5e0b7905fa5f"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/uf3yirsfhhri8aolvopubymbe4ok8kaa/schedules/5c0fc749e4b00d3d558cf731","executions":"/gdc/projects/uf3yirsfhhri8aolvopubymbe4ok8kaa/schedules/5c0fc749e4b00d3d558cf731/executions"},"triggerScheduleId":"5c0fc745e4b00d3d558cf730"}},{"schedule":{"name":"test.grf","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"graph/test.grf","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"015ce1ed-1398-4dca-bb15-fe709a4c624c"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2019-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/uf3yirsfhhri8aolvopubymbe4ok8kaa/schedules/5c0fc745e4b00d3d558cf730","executions":"/gdc/projects/uf3yirsfhhri8aolvopubymbe4ok8kaa/schedules/5c0fc745e4b00d3d558cf730/executions"}}}]}}'
  recorded_at: Tue, 11 Dec 2018 14:27:02 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/m08ab9801uh98cnjdqxt95vmm6vitzsu/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:LO-otAe5y3NlJRgLmZi2Fw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:LO-otAe5y3NlJRgLmZi2Fw:MQJvPAL66bH7Clld
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/m08ab9801uh98cnjdqxt95vmm6vitzsu/schedules","items":[{"schedule":{"name":"test.grf","type":"MSETL","state":"ENABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","EXECUTABLE":"graph/test.grf","param_2":"b","param_1":"a","print_reverted":"hidden_msg_from_rollout_brick,SECURE_PARAM_2","msg_from_rollout_brick":"Hi,
        I was set by rollout brick","PROCESS_ID":"77dacde6-e3a4-4f6d-aa60-8e0f011164a7"},"hiddenParams":{"secure_param_2":null,"secure_param_1":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2019-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/m08ab9801uh98cnjdqxt95vmm6vitzsu/schedules/5c0fc451e4b0f9499eb73409","executions":"/gdc/projects/m08ab9801uh98cnjdqxt95vmm6vitzsu/schedules/5c0fc451e4b0f9499eb73409/executions"}}},{"schedule":{"name":"main.rb","type":"MSETL","state":"ENABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","EXECUTABLE":"main.rb","param_2":"b","param_1":"a","print_reverted":"hidden_msg_from_rollout_brick,SECURE_PARAM_2","msg_from_rollout_brick":"Hi,
        I was set by rollout brick","PROCESS_ID":"262449c0-da93-4874-a8f4-577c3c97ff04"},"hiddenParams":{"secure_param_2":null,"secure_param_1":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/m08ab9801uh98cnjdqxt95vmm6vitzsu/schedules/5c0fc451e4b0f9499eb7340a","executions":"/gdc/projects/m08ab9801uh98cnjdqxt95vmm6vitzsu/schedules/5c0fc451e4b0f9499eb7340a/executions"},"triggerScheduleId":"5c0fc451e4b0f9499eb73409"}}]}}'
  recorded_at: Tue, 11 Dec 2018 14:27:02 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/az2x7ohvxboffe7xxxuuo6fonmja6mle/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:9i1pnINakEa1OUwPGSP9bQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applica[...]
