---
http_interactions:
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/m08ab9801uh98cnjdqxt95vmm6vitzsu/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:lVVbS01HTv_ruVOuwmz2XA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:lVVbS01HTv_ruVOuwmz2XA:Pvki1VV3431OQfT7
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/m08ab9801uh98cnjdqxt95vmm6vitzsu/obj/115"}]}'
  recorded_at: Tue, 11 Dec 2018 14:26:52 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/m08ab9801uh98cnjdqxt95vmm6vitzsu/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:sjBUeAOdfFhbHvPCBMsFVA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:sjBUeAOdfFhbHvPCBMsFVA:n81AytmgBXxdsX7h
      X-Gdc-Request-Time:
      - '85'
    body:
      encoding: ASCII-8BIT
      string: '{"dataSet":{"content":{"mode":"","facts":["/gdc/md/m08ab9801uh98cnjdqxt95vmm6vitzsu/obj/313","/gdc/md/m08ab9801uh98cnjdqxt95vmm6vitzsu/obj/314","/gdc/md/m08ab9801uh98cnjdqxt95vmm6vitzsu/obj/315","/gdc/md/m08ab9801uh98cnjdqxt95vmm6vitzsu/obj/364"],"dataLoadingColumns":["/gdc/md/m08ab9801uh98cnjdqxt95vmm6vitzsu/obj/92","/gdc/md/m08ab9801uh98cnjdqxt95vmm6vitzsu/obj/94","/gdc/md/m08ab9801uh98cnjdqxt95vmm6vitzsu/obj/87","/gdc/md/m08ab9801uh98cnjdqxt95vmm6vitzsu/obj/89","/gdc/md/m08ab9801uh98cnjdqxt95vmm6vitzsu/obj/77","/gdc/md/m08ab9801uh98cnjdqxt95vmm6vitzsu/obj/79","/gdc/md/m08ab9801uh98cnjdqxt95vmm6vitzsu/obj/72","/gdc/md/m08ab9801uh98cnjdqxt95vmm6vitzsu/obj/74","/gdc/md/m08ab9801uh98cnjdqxt95vmm6vitzsu/obj/97","/gdc/md/m08ab9801uh98cnjdqxt95vmm6vitzsu/obj/99"[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/m08ab9801uh98cnjdqxt95vmm6vitzsu/obj/364
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:ZYYqIZCywTNUYLJi4PtNgQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:ZYYqIZCywTNUYLJi4PtNgQ:5Lu58O44SOpXs5Wi
      X-Gdc-Request-Time:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/m08ab9801uh98cnjdqxt95vmm6vitzsu/obj/311"],"expr":[{"type":"col","data":"/gdc/md/m08ab9801uh98cnjdqxt95vmm6vitzsu/obj/362"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/m08ab9801uh98cnjdqxt95vmm6vitzsu/obj/364","tags":"_lcm_managed_object
        fact","created":"2018-12-11 15:23:10","identifier":"fact.csv_policies.customer_lifetime_value.renamed","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2018-12-11 15:25:07","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Tue, 11 Dec 2018 14:26:55 GMT
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:ZZo4jMJbMZ47eyvIzZAXmw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:ZZo4jMJbMZ47eyvIzZAXmw:2OioXfalIKi65Omq
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/115"}]}'
  recorded_at: Tue, 11 Dec 2018 14:26:55 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:DXoseGUp-JS0Aje6gS16jQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/366
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:qVtX3c_8U50aOl5c8FWW_Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:qVtX3c_8U50aOl5c8FWW_Q:7qVZ9m6VYyj1DgDu
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/311"],"expr":[{"type":"col","data":"/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/364"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/366","tags":"_lcm_managed_object
        fact","created":"2018-12-11 15:23:21","identifier":"fact.csv_policies.customer_lifetime_value.renamed","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2018-12-11 15:25:09","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Tue, 11 Dec 2018 14:26:58 GMT
recorded_with: VCR 4.0.0
