---
http_interactions:
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/i1a3ygobo7o1hy2xx5tqcchw37fibmik/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:hFxgEfL4QRObAwfMkVz5Vw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:hFxgEfL4QRObAwfMkVz5Vw:0TzeAFbvXMpHCkhX
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/i1a3ygobo7o1hy2xx5tqcchw37fibmik/obj/115"}]}'
  recorded_at: Wed, 05 Dec 2018 14:33:31 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/i1a3ygobo7o1hy2xx5tqcchw37fibmik/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:9l9K3SNKhyuBKyA9T0BnWA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:9l9K3SNKhyuBKyA9T0BnWA:pWc3NVZXyRFVmNEZ
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"dataSet":{"content":{"mode":"","facts":["/gdc/md/i1a3ygobo7o1hy2xx5tqcchw37fibmik/obj/313","/gdc/md/i1a3ygobo7o1hy2xx5tqcchw37fibmik/obj/314","/gdc/md/i1a3ygobo7o1hy2xx5tqcchw37fibmik/obj/315","/gdc/md/i1a3ygobo7o1hy2xx5tqcchw37fibmik/obj/364"],"dataLoadingColumns":["/gdc/md/i1a3ygobo7o1hy2xx5tqcchw37fibmik/obj/92","/gdc/md/i1a3ygobo7o1hy2xx5tqcchw37fibmik/obj/94","/gdc/md/i1a3ygobo7o1hy2xx5tqcchw37fibmik/obj/87","/gdc/md/i1a3ygobo7o1hy2xx5tqcchw37fibmik/obj/89","/gdc/md/i1a3ygobo7o1hy2xx5tqcchw37fibmik/obj/77","/gdc/md/i1a3ygobo7o1hy2xx5tqcchw37fibmik/obj/79","/gdc/md/i1a3ygobo7o1hy2xx5tqcchw37fibmik/obj/72","/gdc/md/i1a3ygobo7o1hy2xx5tqcchw37fibmik/obj/74","/gdc/md/i1a3ygobo7o1hy2xx5tqcchw37fibmik/obj/97","/gdc/md/i1a3ygobo7o1hy2xx5tqcchw37fibmik/obj/99"[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/i1a3ygobo7o1hy2xx5tqcchw37fibmik/obj/364
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:dYtN4PV92h2ay8RvEx4MyQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:dYtN4PV92h2ay8RvEx4MyQ:OKr5naCVcXKdk5dy
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/i1a3ygobo7o1hy2xx5tqcchw37fibmik/obj/311"],"expr":[{"type":"col","data":"/gdc/md/i1a3ygobo7o1hy2xx5tqcchw37fibmik/obj/362"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/i1a3ygobo7o1hy2xx5tqcchw37fibmik/obj/364","tags":"_lcm_managed_object
        fact","created":"2018-12-05 15:28:02","identifier":"fact.csv_policies.customer_lifetime_value.renamed","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2018-12-05 15:32:08","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Wed, 05 Dec 2018 14:33:33 GMT
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/k1ocfm1di3ddj89nmi3gb1h2xt4qdtt9/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:Hr0GBuhZksXezb0EnOxkNQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:Hr0GBuhZksXezb0EnOxkNQ:Mn1ro1ta5bAVLhea
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/k1ocfm1di3ddj89nmi3gb1h2xt4qdtt9/obj/115"}]}'
  recorded_at: Wed, 05 Dec 2018 14:33:33 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/k1ocfm1di3ddj89nmi3gb1h2xt4qdtt9/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:F8dRyyxOJYEusyue8cp1yw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/k1ocfm1di3ddj89nmi3gb1h2xt4qdtt9/obj/366
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:P_AGrjU2L9379UCIuJhsKw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:P_AGrjU2L9379UCIuJhsKw:ioN7qzo3v9yS2dC9
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/k1ocfm1di3ddj89nmi3gb1h2xt4qdtt9/obj/311"],"expr":[{"type":"col","data":"/gdc/md/k1ocfm1di3ddj89nmi3gb1h2xt4qdtt9/obj/364"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/k1ocfm1di3ddj89nmi3gb1h2xt4qdtt9/obj/366","tags":"_lcm_managed_object
        fact","created":"2018-12-05 15:28:53","identifier":"fact.csv_policies.customer_lifetime_value.renamed","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2018-12-05 15:32:09","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Wed, 05 Dec 2018 14:33:36 GMT
recorded_with: VCR 4.0.0
