---
http_interactions:
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/i57v53e4woqlrddf1qdxywjnr8iinfuv/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:fO6vO88DRLAv3ZTu_tQwUw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:fO6vO88DRLAv3ZTu_tQwUw:a0WVWQoi2OmcHeo6"
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/i57v53e4woqlrddf1qdxywjnr8iinfuv/obj/115"}]}'
  recorded_at: Thu, 21 Feb 2019 10:15:22 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/i57v53e4woqlrddf1qdxywjnr8iinfuv/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:VUN4GpCfmiykVSo3do-ZYg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:VUN4GpCfmiykVSo3do-ZYg:mdwzayJ1VytjcFYp"
      X-Gdc-Request-Time:
      - '87'
    body:
      encoding: ASCII-8BIT
      string: '{"dataSet":{"content":{"mode":"","facts":["/gdc/md/i57v53e4woqlrddf1qdxywjnr8iinfuv/obj/313","/gdc/md/i57v53e4woqlrddf1qdxywjnr8iinfuv/obj/314","/gdc/md/i57v53e4woqlrddf1qdxywjnr8iinfuv/obj/315","/gdc/md/i57v53e4woqlrddf1qdxywjnr8iinfuv/obj/364"],"dataLoadingColumns":["/gdc/md/i57v53e4woqlrddf1qdxywjnr8iinfuv/obj/92","/gdc/md/i57v53e4woqlrddf1qdxywjnr8iinfuv/obj/94","/gdc/md/i57v53e4woqlrddf1qdxywjnr8iinfuv/obj/87","/gdc/md/i57v53e4woqlrddf1qdxywjnr8iinfuv/obj/89","/gdc/md/i57v53e4woqlrddf1qdxywjnr8iinfuv/obj/77","/gdc/md/i57v53e4woqlrddf1qdxywjnr8iinfuv/obj/79","/gdc/md/i57v53e4woqlrddf1qdxywjnr8iinfuv/obj/72","/gdc/md/i57v53e4woqlrddf1qdxywjnr8iinfuv/obj/74","/gdc/md/i57v53e4woqlrddf1qdxywjnr8iinfuv/obj/97","/gdc/md/i57v53e4woqlrddf1qdxywjnr8iinfuv/obj/99"[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/i57v53e4woqlrddf1qdxywjnr8iinfuv/obj/364
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:3FOG0Ri5PZ5gIoPazZTlqw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:3FOG0Ri5PZ5gIoPazZTlqw:XSlEkkW0hxnfYNhq"
      X-Gdc-Request-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/i57v53e4woqlrddf1qdxywjnr8iinfuv/obj/311"],"expr":[{"type":"col","data":"/gdc/md/i57v53e4woqlrddf1qdxywjnr8iinfuv/obj/362"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/i57v53e4woqlrddf1qdxywjnr8iinfuv/obj/364","tags":"_lcm_managed_object
        fact","created":"2019-02-21 11:11:32","identifier":"fact.csv_policies.customer_lifetime_value.renamed","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2019-02-21 11:13:34","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Thu, 21 Feb 2019 10:15:25 GMT
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/roqdh0atnyjbinu96lns32v0k79uhkpe/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:o2BMv7NlhDKWYaf61hQ9EA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:o2BMv7NlhDKWYaf61hQ9EA:FxXhAvifDKBggQR1"
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/roqdh0atnyjbinu96lns32v0k79uhkpe/obj/115"}]}'
  recorded_at: Thu, 21 Feb 2019 10:15:25 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/roqdh0atnyjbinu96lns32v0k79uhkpe/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:-BKGnIZeHdW1sZf1gDrGoA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/roqdh0atnyjbinu96lns32v0k79uhkpe/obj/366
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:dBjKv9xdeq0dIPWlIyR9pA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:dBjKv9xdeq0dIPWlIyR9pA:779lFEmLEa4Uh16A"
      X-Gdc-Request-Time:
      - '79'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/roqdh0atnyjbinu96lns32v0k79uhkpe/obj/311"],"expr":[{"type":"col","data":"/gdc/md/roqdh0atnyjbinu96lns32v0k79uhkpe/obj/364"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/roqdh0atnyjbinu96lns32v0k79uhkpe/obj/366","tags":"_lcm_managed_object
        fact","created":"2019-02-21 11:11:44","identifier":"fact.csv_policies.customer_lifetime_value.renamed","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2019-02-21 11:13:36","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Thu, 21 Feb 2019 10:15:27 GMT
recorded_with: VCR 4.0.0
