---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:yJoNHjqfPnN-5y0K1xefyg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:yJoNHjqfPnN-5y0K1xefyg:GsMxo5eZw8NgT5qH"
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/115"}]}'
  recorded_at: Thu, 18 Apr 2019 13:06:24 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:vvBypR6JGHJ4wttmg4_ZnQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:vvBypR6JGHJ4wttmg4_ZnQ:YNyu2eMFxjs0Z7Bx"
      X-Gdc-Request-Time:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"dataSet":{"content":{"mode":"","facts":["/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/313","/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/314","/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/315","/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/364"],"dataLoadingColumns":["/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/92","/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/94","/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/87","/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/89","/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/77","/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/79","/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/72","/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/74","/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/97","/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/99"[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/364
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:yFLoRTr5W-6gybJYKa_cwg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:yFLoRTr5W-6gybJYKa_cwg:yd2OPFQk4aWkHdo0"
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/311"],"expr":[{"type":"col","data":"/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/362"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/364","tags":"_lcm_managed_object
        fact","created":"2019-04-18 15:03:32","identifier":"fact.csv_policies.customer_lifetime_value.renamed","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2019-04-18 15:04:57","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 18 Apr 2019 13:06:27 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:Kv0YMbAprbeHglf2AlkCnw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:Kv0YMbAprbeHglf2AlkCnw:zCJ9246tJcq6iZzq"
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/obj/115"}]}'
  recorded_at: Thu, 18 Apr 2019 13:06:27 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:B6W__xPf4z2SyA9rmuGNcA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/obj/366
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:kgM3YBhKu7QxK6d-4QX6Wg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:kgM3YBhKu7QxK6d-4QX6Wg:DwiTPpKMGCMklB7Z"
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/obj/311"],"expr":[{"type":"col","data":"/gdc/md/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/obj/364"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/obj/366","tags":"_lcm_managed_object
        fact","created":"2019-04-18 15:03:44","identifier":"fact.csv_policies.customer_lifetime_value.renamed","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2019-04-18 15:05:00","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 18 Apr 2019 13:06:29 GMT
recorded_with: VCR 4.0.0
