---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:yJoNHjqfPnN-5y0K1xefyg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:yJoNHjqfPnN-5y0K1xefyg:GsMxo5eZw8NgT5qH"
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/115"}]}'
  recorded_at: Thu, 18 Apr 2019 13:06:24 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:vvBypR6JGHJ4wttmg4_ZnQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:vvBypR6JGHJ4wttmg4_ZnQ:YNyu2eMFxjs0Z7Bx"
      X-Gdc-Request-Time:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"dataSet":{"content":{"mode":"","facts":["/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/313","/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/314","/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/315","/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/364"],"dataLoadingColumns":["/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/92","/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/94","/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/87","/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/89","/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/77","/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/79","/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/72","/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/74","/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/97","/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/99"[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/364
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:yFLoRTr5W-6gybJYKa_cwg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:yFLoRTr5W-6gybJYKa_cwg:yd2OPFQk4aWkHdo0"
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/311"],"expr":[{"type":"col","data":"/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/362"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/364","tags":"_lcm_managed_object
        fact","created":"2019-04-18 15:03:32","identifier":"fact.csv_policies.customer_lifetime_value.renamed","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2019-04-18 15:04:57","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 18 Apr 2019 13:06:27 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:Kv0YMbAprbeHglf2AlkCnw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:Kv0YMbAprbeHglf2AlkCnw:zCJ9246tJcq6iZzq"
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/obj/115"}]}'
  recorded_at: Thu, 18 Apr 2019 13:06:27 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:B6W__xPf4z2SyA9rmuGNcA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/u586yv7vl7kcb29a3jw30w37ppng6zue/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:lS66ROkIF8j14SDrMcBARw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '27'
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:lS66ROkIF8j14SDrMcBARw:5Qy8F4BSYimJwcme"
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/u586yv7vl7kcb29a3jw30w37ppng6zue/obj/119"}]}'
  recorded_at: Thu, 07 May 2020 11:31:02 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/u586yv7vl7kcb29a3jw30w37ppng6zue/obj/119
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:Ij6gloHXza3V2KTykFHl4g"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/oa1tpppehpjcf7s6cxr4cvpp927dhvyf/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:F1UhnYS9CurI60DLVbojNQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:F1UhnYS9CurI60DLVbojNQ:ow0CU4c0iXpgFbQB"
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/oa1tpppehpjcf7s6cxr4cvpp927dhvyf/obj/119"}]}'
  recorded_at: Thu, 07 May 2020 11:31:07 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/oa1tpppehpjcf7s6cxr4cvpp927dhvyf/obj/119
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:6Tt3Sb5yZ80ojNODqHd1lg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/oa1tpppehpjcf7s6cxr4cvpp927dhvyf/obj/370
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:WeP9cZc0QZFvg6PXo_27ng"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '34'
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:WeP9cZc0QZFvg6PXo_27ng:jjgjhOjiaNLIRIzj"
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/oa1tpppehpjcf7s6cxr4cvpp927dhvyf/obj/315"],"expr":[{"type":"col","data":"/gdc/md/oa1tpppehpjcf7s6cxr4cvpp927dhvyf/obj/368"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/oa1tpppehpjcf7s6cxr4cvpp927dhvyf/obj/370","tags":"_lcm_managed_object
        fact","created":"2020-05-07 13:27:04","identifier":"fact.csv_policies.customer_lifetime_value.renamed","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2020-05-07 13:28:59","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 07 May 2020 11:31:10 GMT
recorded_with: VCR 5.1.0
