---
http_interactions:
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:3fNyuTmDAwbyo7aILhyT9Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:3fNyuTmDAwbyo7aILhyT9Q:C90AIR0582wMXuuj
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/obj/115"}]}'
  recorded_at: Thu, 13 Dec 2018 13:08:22 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:SRxmhesl4wG8OaizJwJ7Ow
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:SRxmhesl4wG8OaizJwJ7Ow:09B1M0m3irWnd4dU
      X-Gdc-Request-Time:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '{"dataSet":{"content":{"mode":"","facts":["/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/obj/313","/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/obj/314","/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/obj/315","/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/obj/364"],"dataLoadingColumns":["/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/obj/92","/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/obj/94","/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/obj/87","/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/obj/89","/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/obj/77","/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/obj/79","/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/obj/72","/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/obj/74","/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/obj/97","/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/obj/99"[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/obj/364
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:7YqTSbfwryIdgj916xrndw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:7YqTSbfwryIdgj916xrndw:bIECpDvP5obqtZq3
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/obj/311"],"expr":[{"type":"col","data":"/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/obj/362"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/obj/364","tags":"_lcm_managed_object
        fact","created":"2018-12-13 14:04:35","identifier":"fact.csv_policies.customer_lifetime_value.renamed","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2018-12-13 14:06:35","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Thu, 13 Dec 2018 13:08:24 GMT
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/uxied118kzjwc2yzlzufb82fi3gaeuk5/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:8P-rUFKZK9YCIo_xADh6sw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:8P-rUFKZK9YCIo_xADh6sw:wDN7GidsZVtkou6k
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/uxied118kzjwc2yzlzufb82fi3gaeuk5/obj/115"}]}'
  recorded_at: Thu, 13 Dec 2018 13:08:24 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/uxied118kzjwc2yzlzufb82fi3gaeuk5/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:XcgjWmvHVEx45R35js9NnQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/uxied118kzjwc2yzlzufb82fi3gaeuk5/obj/366
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:1HGG914kxS2DKGKPVw6Jlg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:1HGG914kxS2DKGKPVw6Jlg:8Kwwd5zphzvVdk2W
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/uxied118kzjwc2yzlzufb82fi3gaeuk5/obj/311"],"expr":[{"type":"col","data":"/gdc/md/uxied118kzjwc2yzlzufb82fi3gaeuk5/obj/364"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/uxied118kzjwc2yzlzufb82fi3gaeuk5/obj/366","tags":"_lcm_managed_object
        fact","created":"2018-12-13 14:04:48","identifier":"fact.csv_policies.customer_lifetime_value.renamed","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2018-12-13 14:06:36","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Thu, 13 Dec 2018 13:08:26 GMT
recorded_with: VCR 4.0.0
