---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/cn0e66ez01xxl9onyuukb08on756mpqm/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:pgMzSKqsr5hGyzdXEiGd1A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:pgMzSKqsr5hGyzdXEiGd1A:q0TSpsYybJy0CznU
      X-Gdc-Request-Time:
      - '99'
    body:
      encoding: ASCII-8BIT
      string: '{"processes":{"items":[{"process":{"type":"GRAPH","name":"Simple CloudConnect
        Process","graphs":["graph/test.grf"],"executables":["graph/test.grf"],"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/cn0e66ez01xxl9onyuukb08on756mpqm/dataload/processes/9bb0cb84-e537-4a1f-a534-ba6cfcef015c","executions":"/gdc/projects/cn0e66ez01xxl9onyuukb08on756mpqm/dataload/processes/9bb0cb84-e537-4a1f-a534-ba6cfcef015c/executions","source":"/gdc/projects/cn0e66ez01xxl9onyuukb08on756mpqm/dataload/processes/9bb0cb84-e537-4a1f-a534-ba6cfcef015c/source"}}},{"process":{"type":"RUBY","name":"Simple
        Ruby Process","path":"${PUBLIC_APPSTORE}:branch/master:/apps/hello_world_brick","graphs":["main.rb"],"executables":["main.rb"],"lastDeployed":"2018-12-13T13:07:13.592Z","ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/cn0e66ez01xxl9onyuukb08on756mpqm/dataload/processes/033100be-b23a-46ad-8e8e-4cd64601c40f","executions":"/gdc/projects/cn0e66ez01xxl9onyuukb08on756mpqm/dataload/processes/033100be-b23a-46ad-8e8e-4cd64601c40f/executions","source":"/gdc/projects/cn0e66ez01xxl9onyuukb08on756mpqm/dataload/processes/033100be-b23a-46ad-8e8e-4cd64601c40f/source"}}},{"process":{"type":"ETL","name":"lcm-end-to-end-csv-download","graphs":[],"executables":[],"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/cn0e66ez01xxl9onyuukb08on756mpqm/dataload/processes/75c1c0a7-8aa8-4c6e-a9f5-6b3261688d06","executions":"/gdc/projects/cn0e66ez01xxl9onyuukb08on756mpqm/dataload/processes/75c1c0a7-8aa8-4c6e-a9f5-6b3261688d06/executions","source":"/gdc/projects/cn0e66ez01xxl9onyuukb08on756mpqm/dataload/processes/75c1c0a7-8aa8-4c6e-a9f5-6b3261688d06/source"},"component":{"name":"gdc-etl-csv-downloader","version":"1","configLocation":{"s3":{"path":"s3://s3_bucket/s3_folder/","accessKey":"s3_access_key","serverSideEncryption":true}}}}},{"process":{"type":"ETL","name":"lcm-end-to-end-sql-exec","graphs":[],"executables":[],"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/cn0e66ez01xxl9onyuukb08on756mpqm/dataload/processes/642d1ff0-aa03-4a54-95c2-3d23a4c78a52","executions":"/gdc/projects/cn0e66ez01xxl9onyuukb08on756mpqm/dataload/processes/642d1ff0-aa03-4a54-95c2-3d23a4c78a52/executions","source":"/gdc/projects/cn0e66ez01xxl9onyuukb08on756mpqm/dataload/processes/642d1ff0-aa03-4a54-95c2-3d23a4c78a52/source"},"component":{"name":"gdc-etl-sql-executor","version":"1","configLocation":{"s3":{"path":"s3://s3_bucket/s3_folder/","accessKey":"s3_access_key","serverSideEncryption":true}}}}}],"links":{"self":"/gdc/projects/cn0e66ez01xxl9onyuukb08on756mpqm/dataload/processes"}}}'
  recorded_at: Thu, 13 Dec 2018 13:07:58 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/cn0e66ez01xxl9onyuukb08on756mpqm/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:M8QQ7e8f_Ji6NSdlaSl9OQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:M8QQ7e8f_Ji6NSdlaSl9OQ:quncYYgyHAcvUnU0
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/cn0e66ez01xxl9onyuukb08on756mpqm/schedules","items":[{"schedule":{"name":"test.grf","type":"MSETL","state":"ENABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","EXECUTABLE":"graph/test.grf","param_2":"b","param_1":"a","print_reverted":"hidden_msg_from_rollout_brick,SECURE_PARAM_2","msg_from_rollout_brick":"Hi,
        I was set by rollout brick","PROCESS_ID":"9bb0cb84-e537-4a1f-a534-ba6cfcef015c"},"hiddenParams":{"secure_param_2":null,"secure_param_1":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2019-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/cn0e66ez01xxl9onyuukb08on756mpqm/schedules/5c12550fe4b0e4c306ea2bbb","executions":"/gdc/projects/cn0e66ez01xxl9onyuukb08on756mpqm/schedules/5c12550fe4b0e4c306ea2bbb/executions"}}},{"schedule":{"name":"main.rb","type":"MSETL","state":"ENABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","EXECUTABLE":"main.rb","param_2":"b","param_1":"a","print_reverted":"hidden_msg_from_rollout_brick,SECURE_PARAM_2","msg_from_rollout_brick":"Hi,
        I was set by rollout brick","PROCESS_ID":"033100be-b23a-46ad-8e8e-4cd64601c40f"},"hiddenParams":{"secure_param_2":null,"secure_param_1":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/cn0e66ez01xxl9onyuukb08on756mpqm/schedules/5c12550fe4b0e4c306ea2bbc","executions":"/gdc/projects/cn0e66ez01xxl9onyuukb08on756mpqm/schedules/5c12550fe4b0e4c306ea2bbc/executions"},"triggerScheduleId":"5c12550fe4b0e4c306ea2bbb"}}]}}'
  recorded_at: Thu, 13 Dec 2018 13:07:58 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/uxied118kzjwc2yzlzufb82fi3gaeuk5/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:etXlYYcSgCgh8uU9uukCHA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/uxied118kzjwc2yzlzufb82fi3gaeuk5/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:9f63629waO0plcqGz5zsmA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applica[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/b6i9k372fa30zvencu45w82hjhmbxvcd/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:kZ8cKxIjykxFrJzg-fqjCw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:kZ8cKxIjykxFrJzg-fqjCw:OhmoCuAzNKW24wSu
      X-Gdc-Request-Time:
      - '94'
    body:
      encoding: ASCII-8BIT
      string: '{"processes":{"items":[{"process":{"type":"GRAPH","name":"Simple CloudConnect
        Process","graphs":["graph/test.grf"],"execu[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/b6i9k372fa30zvencu45w82hjhmbxvcd/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:UN7pvutc-_8uQE6QmgxEEA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applicat[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/t2ksyc5wv8h5vr924y4w90r7qly5itzf/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:NwpjyZNtDQeeFAKl4MVF2A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      -[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/t2ksyc5wv8h5vr924y4w90r7qly5itzf/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:hO9PslG2un6awagQFEOqfg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applicat[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/e7gdvwe2ozfv3ndhw95a3gu5l568yntu/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:caJM4Y_gtS1UnGHS4PbAEQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:caJM4Y_gtS1UnGHS4PbAEQ:ka6zWyOTzIscbJcL
      X-Gdc-Request-Time:
      - '101'
    body:
      encoding: ASCII-8BIT
      string: '{"processes":{"items":[{"process":{"type":"GRAPH","name":"Simple CloudConnect
        Process","graphs":["graph/test.grf"],"exec[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/e7gdvwe2ozfv3ndhw95a3gu5l568yntu/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:UX8VoESoduoyC_qazkMPdQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applica[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/usv2plnsajrcvwlxi4ky5fx9fpf25egg/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:ieQnoqCqBEUDiYMLvLdVLQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/usv2plnsajrcvwlxi4ky5fx9fpf25egg/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:OHpCNaQJ4ez2rAOoty2ENA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applica[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/f9wa9wqeet3vhevii70b0s5gf0osdbim/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:gapeqVmSnhGgqQiwAoz1oQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:gapeqVmSnhGgqQiwAoz1oQ:r54MdiG98MC5tLCG"
      X-Gdc-Request-Time:
      - '80'
    body:
      encoding: ASCII-8BIT
      string: '{"processes":{"items":[{"process":{"type":"GRAPH","name":"Simple CloudConnect
        Process","graphs":["graph/test.grf"],"executables":[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/f9wa9wqeet3vhevii70b0s5gf0osdbim/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:r-B55owma5fyQxJPBsIaoQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/b31fkm23j7ju9hufo1iy8al6s6v5m6xw/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:G0hV1W7U_jJ2w8uqNNNdwQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      -[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/b31fkm23j7ju9hufo1iy8al6s6v5m6xw/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:mPLo8p7gX6SbrOfJ3hsjYA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/htve31zh0epe65byr08xkjick364vd2m/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:LABtqIAmFZrXl6Aazl250w"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      -[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/htve31zh0epe65byr08xkjick364vd2m/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:N1qX7lQuV4ClPZcFopcaPw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/ivwbovwp6dq6kqf4ilozpnlatk6qhnk1/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:RNW7yHj3iYqWR_xSiI0EAQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      -[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/ivwbovwp6dq6kqf4ilozpnlatk6qhnk1/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:jRz6Ty_UMl7buNCO4xH2xw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/f457svbcjd8qsu3lvdo75qx92mszjh5s/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:y6W8KcZvdCEKxtVjDX1-Iw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      -[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/f457svbcjd8qsu3lvdo75qx92mszjh5s/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:6AS1PFZ1c4qK04snMcD-yw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/shuxp0mpor74xb0zuxmnwd6fyiemqgfa/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:51IKSkfBo3cN_p3hkeO0hw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      -[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/shuxp0mpor74xb0zuxmnwd6fyiemqgfa/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:jvucFtx1n22KgetdkfOx_A"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
