---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:wk0gq2nkcM1Xqk1D14sRhw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:wk0gq2nkcM1Xqk1D14sRhw:c8VJR88NvDAXOb9T
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''cn0e66ez01xxl9onyuukb08on756mpqm''","category":"project","instance":"cn0e66ez01xxl9onyuukb08on756mpqm","links":[{"link":"/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","category":"drillcrosspaths","title":"drillcrosspaths"},{"link":"/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/etl","summary":"Resources
        for data ETL.","category":"etl","title":"etl"}[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:eDbd-qvn4ShJ8MA91glw7g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:eDbd-qvn4ShJ8MA91glw7g:cWXOik40V3Rsx6Wo
      X-Gdc-Request-Time:
      - '334'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":32,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/obj/136"}],"displayForms":[{"content":{"formOf":"/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/obj/220","expression":"[/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/obj/137]","default":1},"links":{"elements":"/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/obj/238/elements"},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/obj/238","tags":"_lcm_managed_object","created":"2010-08-02
        08:13:42","identifier":"effective_to_date.aag81lMifn6q","deprecated":"0","summary":"DisplayForm
        Year.","isProduction":1,"title":"Year (Effective To Date)","category":"attributeDisplayForm","updated":"2018-12-13
        14:06:36","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/obj/270","sort":"pk","dimension":"/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/obj/117","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/obj/184"},{"multivalue":false,"type":"col","data":"/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/obj/192"},{"multivalue":false,"type":"col","data":"/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/obj/207"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/obj/220","tags":"_lcm_managed_object
        date year","created":"2010-08-02 08:13:42","identifier":"effective_to_[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/uxied118kzjwc2yzlzufb82fi3gaeuk5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:EZ5RN13oq7CId9aVJu68mg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charse[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/uxied118kzjwc2yzlzufb82fi3gaeuk5/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:K3MeTGu6FdjmkOkZ27IWKQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/b6i9k372fa30zvencu45w82hjhmbxvcd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:30OI6e7Rx2Xi6eKewweqyQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:30OI6e7Rx2Xi6eKewweqyQ:csMIeadByDLa5rbJ
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''b6i9k372fa30zvencu45w82hjhmbxvcd''","category":"project","instance":"b6i9k372[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/b6i9k372fa30zvencu45w82hjhmbxvcd/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:RZNfh49i9aKjQ371bP5zlQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
 [...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/t2ksyc5wv8h5vr924y4w90r7qly5itzf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:d0fwWiba8A_zEy0YQ7Kr6g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/t2ksyc5wv8h5vr924y4w90r7qly5itzf/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:mv2-XZDZ1YNUwCPCWtxCZQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
 [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/e7gdvwe2ozfv3ndhw95a3gu5l568yntu
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:2unoSZdS1kHOIwAcRrfsbw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:2unoSZdS1kHOIwAcRrfsbw:FjgQedKHhgmbXJrC
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''e7gdvwe2ozfv3ndhw95a3gu5l568yntu''","category":"project","instance":"e7gdvwe2[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/e7gdvwe2ozfv3ndhw95a3gu5l568yntu/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:IUb-DGmXnrewKD-iM6g9dg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/usv2plnsajrcvwlxi4ky5fx9fpf25egg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:4P7YLVXXNpN8qePbCtprYQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charse[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/usv2plnsajrcvwlxi4ky5fx9fpf25egg/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:1A5SNFp_SxTdCjkvoCOWXg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/f9wa9wqeet3vhevii70b0s5gf0osdbim
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:M8fMqsCrGAHFOcrSQLw5kA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:M8fMqsCrGAHFOcrSQLw5kA:7mo85ka2acHCpr3Q"
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''f9wa9wqeet3vhevii70b0s5gf0osdbim''","category":"project","instance":"f9wa9wqeet3vhevi[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/f9wa9wqeet3vhevii70b0s5gf0osdbim/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:gz4Kd3dVKC1ayid4iF8iHA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/b31fkm23j7ju9hufo1iy8al6s6v5m6xw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:whqTgRqL5RD6bFMQa0PvAg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
 [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/b31fkm23j7ju9hufo1iy8al6s6v5m6xw/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:YONgOZdJx-0GRzCfKbZjDg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/htve31zh0epe65byr08xkjick364vd2m
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:8p0MkefOHWLUwhkYdGMbcg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
 [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/htve31zh0epe65byr08xkjick364vd2m/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:pAR0Z7SrniPm3u8sl5iRAg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/ivwbovwp6dq6kqf4ilozpnlatk6qhnk1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:eZSvpg-H2KMEJdGuBnle3w"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
 [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/ivwbovwp6dq6kqf4ilozpnlatk6qhnk1/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:P_7Z4nrWQhizwV60Uxitxw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/f457svbcjd8qsu3lvdo75qx92mszjh5s
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:o9kjZ_NlxJZOdjybBWD6Tw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
 [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/f457svbcjd8qsu3lvdo75qx92mszjh5s/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:k-XR-gYvR3bySdWyNLhsWg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/shuxp0mpor74xb0zuxmnwd6fyiemqgfa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:8XvMmXAnHB_lLIjybPsbLA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
 [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/shuxp0mpor74xb0zuxmnwd6fyiemqgfa/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:etbw-RCl6yWNPngiehyxqQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
     [...]
