---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:ToDY82zKpobpOfm0xVOZwA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:ToDY82zKpobpOfm0xVOZwA:rrcv5P0y6aNGWZep"
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''ifu9pf5wu697rww6y7zld524mvkm7zy4''","category":"project","instance":"ifu9pf5wu697rww6y7zld524mvkm7zy4","links":[{"link":"/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","category":"drillcrosspaths","title":"drillcrosspaths"},{"link":"/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/etl","summary":"Resources
        for data ETL.","category":"etl","title":"etl"}[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:meOCPLKPqCQ5l5Is9htpJw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:meOCPLKPqCQ5l5Is9htpJw:uwIpL6EqJgTLQqf3"
      X-Gdc-Request-Time:
      - '313'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":32,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/136"}],"displayForms":[{"content":{"formOf":"/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/220","expression":"[/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/137]","default":1},"links":{"elements":"/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/238/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/238","tags":"_lcm_managed_object","created":"2010-08-02
        08:13:42","identifier":"effective_to_date.aag81lMifn6q","deprecated":"0","summary":"DisplayForm
        Year.","isProduction":1,"title":"Year (Effective To Date)","category":"attributeDisplayForm","updated":"2019-04-18
        15:04:58","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/270","sort":"pk","dimension":"/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/117","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/184"},{"multivalue":false,"type":"col","data":"/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/192"},{"multivalue":false,"type":"col","data":"/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/207"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/obj/220","tags":"_lcm_managed_object
        date year","created":"2010-08-02 08:13:42","identifier":"effective_to_[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:nHrBZOwhR5dW8COeXB3m1Q"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
 [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:I-TdkGyzQj0gvkP-QEVOnw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
     [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/u586yv7vl7kcb29a3jw30w37ppng6zue
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:Ep_fF2sfc5mFs7-sZht-Hw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '35'
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:Ep_fF2sfc5mFs7-sZht-Hw:OhhDECIJXvz9gneS"
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''u586yv7vl7kcb29a3jw30w37ppng6zue''","category":"project","instance":"u586yv7vl7kcb29[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/u586yv7vl7kcb29a3jw30w37ppng6zue/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:PR3GbYVi6gRbKXa8dnV0bg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
   [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/oa1tpppehpjcf7s6cxr4cvpp927dhvyf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:HnMaVKqReTFTw5o5uCM-GA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/oa1tpppehpjcf7s6cxr4cvpp927dhvyf/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:oPriybOaoKUBVJ8JV0xyCA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
   [...]
