---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/fv57rgza7vwmw2owv300fdapp78i49ld/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:mRViXeiYPCuav7bTYtxbFQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '42'
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:mRViXeiYPCuav7bTYtxbFQ:daoEytS7Jht5DbtT"
    body:
      encoding: ASCII-8BIT
      string: '{"internalProjectRoles":{"roles":[{"projectRole":{"meta":{"created":"2022-10-11
        09:14:48","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","summary":"project
        master","identifier":"adminRole","updated":"2022-10-11 09:14:48","title":"Admin","uri":"/gdc/projects/fv57rgza7vwmw2owv300fdapp78i49ld/roles/2"},"permissions":{"canManageIsProduction":"1","canExportDashboard":"1","canExportReport":"1","canManageFolder":"1","canManageProjectDashboard":"1","canCreateHelp":"1","canMaintainUserFilterRelation":"1","canManageProject":"1","canMaintainProject":"1","canManageReportDefinition":"1","canManageCustomDataset":"1","canExportFromADS":"1","canExecute":"1","canCreateReport":"1","canCreateVisualization":"1","canValidateProject":"1","canListInvitationsInProject":"1","canExecuteRaw":"1","canManagePrompt":"1","canAccessWorkbench":"1","canAssignUserWithRole":"1","canCreateVisualizationClass":"1","canCreateTableDataLoad":"1","canCreateReportDefinition":"1","canManageAnalyticalDashboard":"1","canSetStyle":"1","canManageETLFile":"1","canManageAttributeGroup":"1","canCreateColumn":"1","canListUsersInProject":"1","canManageScheduledMail":"1","canManageComment":"1","canCreateFact":"1","canManageColumn":"1","canCreateDomain":"1","canInitData":"1","canMaintainUserFilter":"1","canCreateAnalyticalDashboard":"1","canCreateRole":"0","canCreateFolder":"1","canSuspendUserFromProject":"1","canManageDataSet":"1","canAccessIntegration":"1","canInviteUserToProject":"1","canEnrichData":"1","canManageAttribute":"1","canSetProjectVariables":"1","canManageHelp":"1","canSeeOtherUserDetails":"1","canManageMetric":"1","canManageVisualization":"1","canCreateTable":"1","canManageTableDataLoad":"1","canCreateFilterSettings":"1","canManageTable":"1","canCreateAttribute":"1","canCreateExecutionContext":"1","canSetUserVariables":"1","canManageAttributeLabel":"1","canManageDomain":"1","canSetLocale":"1","canManageFact":"1","canCreatePrompt":"1","canManageACL":"1","canCreateProjectTemplates":"0","canCreateAttributeLabel":"1","canCreateMetric":"1","canRefreshData":"1","canManageFilterSettings":"1","canCreateComment":"1","canCreateAttributeGroup":"1","canManageExecutionContext":"1","canManageIntegration":"1","canCreateETLFile":"1","canCreateProjectDashboard":"1","canUploadNonProductionCSV":"1","canManageReport":"1","canManagePublicAccessCode":"0","canManageTranslations":"1","canSeePublicAccessCode":"0","canCreateDataSet":"1","canCreateScheduledMail":"1"}}},{"projectRole":{"meta":{"title":"Editor
        + Invitations","uri":"/gdc/projects/fv57rgza7vwmw2owv300fdapp78i49ld/roles/10","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","created":"2022-10-11
        09:14:48","identifier":"editorInviteRole","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","summary":"Editor
        + Invitations","updated":"2022-10-11 09:14:48"},"permissions":{"canExportReport":"1","canExportDashboard":"1","canManageIsProduction"[...]
