---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:DdyyZUVibUPv-NYg-kUIXw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:DdyyZUVibUPv-NYg-kUIXw:gFTX58KLTnkWqmCJ"
      X-Gdc-Request-Time:
      - '91'
    body:
      encoding: ASCII-8BIT
      string: '{"internalProjectRoles":{"roles":[{"projectRole":{"permissions":{"canAccessIntegration":"1","canCreateProjectDashboard":"1","canExportDashboard":"1","canManageComment":"1","canExecute":"1","canInitData":"1","canManageIntegration":"1","canCreateExecutionContext":"1","canManageFolder":"1","canInviteUserToProject":"1","canCreateTableDataLoad":"1","canCreateDomain":"1","canSeeOtherUserDetails":"1","canManageACL":"1","canManageAnalyticalDashboard":"1","canCreateRole":"0","canCreateProjectTemplates":"1","canCreateHelp":"1","canManageDomain":"1","canManageAttributeLabel":"1","canManageReport":"1","canExportReport":"1","canCreateColumn":"1","canManageDataSet":"1","canSetUserVariables":"1","canCreateAttributeGroup":"1","canValidateProject":"1","canSetStyle":"1","canMaintainProject":"1","canCreateETLFile":"1","canCreateScheduledMail":"1","canSuspendUserFromProject":"1","canManageIsProduction":"1","canMaintainUserFilterRelation":"1","canManageAttribute":"1","canManageReportDefinition":"1","canManageTranslations":"1","canMaintainUserFilter":"1","canCreateReport":"1","canSetLocale":"1","canEnrichData":"1","canUploadNonProductionCSV":"1","canManageETLFile":"1","canCreateComment":"1","canCreateDataSet":"1","canManageExecutionContext":"1","canCreateTable":"1","canManageTableDataLoad":"1","canRefreshData":"1","canCreateMetric":"1","canManageFilterSettings":"1","canManageProjectDashboard":"1","canManageProject":"1","canManagePrompt":"1","canAccessWorkbench":"1","canCreateAttributeLabel":"1","canCreateVisualizationClass":"1","canManageColumn":"1","canCreatePrompt":"1","canManagePublicAccessCode":"0","canListUsersInProject":"1","canManageAttributeGroup":"1","canManageMetric":"1","canManageHelp":"1","canSetProjectVariables":"1","canManageTable":"1","canCreateVisualization":"1","canCreateFolder":"1","canManageFact":"1","canManageScheduledMail":"1","canListInvitationsInProject":"1","canCreateFilterSettings":"1","canExecuteRaw":"1","canSeePublicAccessCode":"0","canCreateReportDefinition":"1","canManageVisualization":"1","canCreateFact":"1","canCreateAttribute":"1","canAssignUserWithRole":"1","canCreateAnalyticalDashboard":"1"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/roles/6","created":"2019-04-18
        16:53:19","identifier":"superAdminRole","summary":"the ultimate project admin","title":"SuperAdmin","updated":"2019-04-18
        16:53:19","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"projectRole":{"permissions":{"canAccessIntegration":"1","canCreateProjectDashboard":"1","canExportDashboard":"1","canManageComment":"1","canExecute":"1","canInitData":"0","canManageIntegration":"0","canCreateExecutionContext":"1","canManageFolder":"1","canInviteUserToProject":"1","canCreateTableDataLoad":"0","canCreateDomain":"1","canSeeOtherUserDetails":"1","canManageACL":"1","canManageAnalyticalDashboard":"1","canCreateRole":"0","can[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/users
    body:
      encoding: UTF-8
      string: '{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/roles/2"]},"links":{"self":"/gdc/account/profile/gemtest-Adding+user+without+domain+should+fail+if+it+is+not+in+the+domain-0@gooddata.com"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:9F2_p3PYR_BLdDEgFSCcKg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:9F2_p3PYR_BLdDEgFSCcKg:zyHJzljreCCcnrms"
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"projectUsersUpdateResult":{"successful":[],"failed":[{"user":"/gdc/account/profile/gemtest-Adding+user+without+domain+should+fail+if+it+is+not+in+the+domain-0@gooddata.com","message":"Cannot
        add user to project. User doesn''t exist"}]}}'
  recorded_at: Thu, 18 Apr 2019 14:53:26 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/op24jzavrcslcsr2mb7gwaqwqlbpxsu8/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:HkbyStr9llcZTPVPQxhGvg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '111'
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:HkbyStr9llcZTPVPQxhGvg:yyDHbKWdnOiNozO8"
    body:
      encoding: ASCII-8BIT
      string: '{"internalProjectRoles":{"roles":[{"projectRole":{"permissions":{"canAccessIntegration":"1","canCreateProjectDashboard":"1","canExportD[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/op24jzavrcslcsr2mb7gwaqwqlbpxsu8/users
    body:
      encoding: UTF-8
      string: '{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/op24jzavrcslcsr2mb7gwaqwqlbpxsu8/roles/2"]},"links":{"self":"/gdc/account/profile/gemtest-Adding+user+without+domain+should+fail+if+it+is+not+in+the+domain-0@gooddata.com"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:IeIg_Kl9cqNnoPDarIZRmg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '28'
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:IeIg_Kl9cqNnoPDarIZRmg:eUyAycllpI7B2w7c"
    body:
      encoding: ASCII-8BIT
      string: '{"projectUsersUpdateResult":{"successful":[],"failed":[{"user":"/gdc/account/profile/gemtest-Adding+user+without+domain+should+fail+if+it+is+not+in+the+domain-0@gooddata.com","message":"Cannot
        add user to project. User doesn''t exist"}]}}'
  recorded_at: Thu, 07 May 2020 09:38:45 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/efqh4uj0r95jp0dh9qh4exucsu3dklu3/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":j-puMCLbjck-2hCYvC-cJw:-In5qpAlaRcszqF2NX5VgA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '79'
      X-Gdc-Request:
      - ":j-puMCLbjck-2hCYvC-cJw:-In5qpAlaRcszqF2NX5VgA:uaFo5LLZBWiAgeCQ"
    body:
      encoding: ASCII-8BIT
      string: '{"internalProjectRoles":{"links":{"project":"/gdc/projects/efqh4uj0r95jp0dh9qh4exucsu3dklu3"},"roles":[{"projectRole":{"permissions":{"canExportDashboard":"1","canMaintainUserFilter":"1","canManageTableDataLoad":"1","canExportFromADS":"1","canEnrichData":"1","canManageACL":"1","canManageAttribute":"1","canManageIsProduction":"1","canSetStyle":"1","canManageFolder":"1","canAccessWorkbench":"1","canManagePrompt":"1","canCreateAttribute":"1","canCreateDomain":"1","canValidateProject":"1","canManagePublicAccessCode":"0","canManageAttributeGroup":"1","canCreateExecutionContext":"1","canManageFilterSettings":"1","canCreateReport":"1","canInitData":"1","canSetLocale":"1","canManageFact":"1","canManageVisualization":"1","canManageMet[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/efqh4uj0r95jp0dh9qh4exucsu3dklu3/users
    body:
      encoding: UTF-8
      string: '{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/efqh4uj0r95jp0dh9qh4exucsu3dklu3/roles/2"]},"links":{"self":"/gdc/account/profile/gemtest-Adding+user+without+domain+should+fail+if+it+is+not+in+the+domain-0@gooddata.com"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":j-puMCLbjck-2hCYvC-cJw:R3rCmGtNxRRyyzq_Rh_qcQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '28'
      X-Gdc-Request:
      - ":j-puMCLbjck-2hCYvC-cJw:R3rCmGtNxRRyyzq_Rh_qcQ:ck8pW1wRXuaJrxcB"
    body:
      encoding: ASCII-8BIT
      string: '{"projectUsersUpdateResult":{"successful":[],"failed":[{"user":"/gdc/account/profile/gemtest-Adding+user+without+domain+should+fail+if+it+is+not+in+the+domain-0@gooddata.com","message":"Cannot
        add user to project. User doesn''t exist"}]}}'
  recorded_at: Thu, 11 Aug 2022 11:10:07 GMT
recorded_with: VCR 5.0.0
