---
http_interactions:
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/60049a153578a141e440aac6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:zPHrKO6JuJBfZ7f_uApAsQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources"
      X-Gdc-Request-Time:
      - '45'
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:zPHrKO6JuJBfZ7f_uApAsQ:oOScBzryjltRhWJi"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 17 Jan 2021 20:12:08 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources
    body:
      encoding: UTF-8
      string: '{"dataSource":{"name":"GenericDS","connectionInfo":{"generic":{"params":{"param01":"value01","param02":"value02"},"secureParams":{"secureParam01":"secure_value01","secureParam02":"secure_value02"}}},"alias":"u4vp3fCO8Vmfv2cTEumF6Q"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:q0_yYUJxzQ3M7qi0eCLkQQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources/6004f7033578a141e440aaed"
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '22'
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:q0_yYUJxzQ3M7qi0eCLkQQ:gj39omBew06zuGw2"
    body:
      encoding: ASCII-8BIT
      string: '{"dataSource":{"id":"6004f7033578a141e440aaed","owner":"5ad80b895edcc438e5a4418e222733fa","name":"GenericDS","alias":"u4vp3fCO8Vmfv2cTEumF6Q","lastModified":"2021-01-18T02:48:35.949Z","connectionInfo":{"generic":{"params":{"param01":"value01","param02":"value02"},"secureParams":{"secureParam02":"","secureParam01":""}}},"links":{"parent":"/gdc/dataload/dataSources","self":"/gdc/dataload/dataSources/6004f7033578a141e440aaed"}}}'
  recorded_at: Mon, 18 Jan 2021 02:48:36 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/6004f7033578a141e440aaed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:jA-kkHyHaWIN9hYWuiq2YQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources"
      X-Gdc-Request-Time:
      - '27'
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:jA-kkHyHaWIN9hYWuiq2YQ:chfbCEutM6WmEKwG"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 18 Jan 2021 02:48:37 GMT
recorded_with: VCR 5.0.0
