---
http_interactions:
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/60049a19386d7541e4b35fe7
    body:
      encoding: UTF-8
      string: '{"dataSource":{"name":"BigQueryDS_New","connectionInfo":{"generic":{"params":{"param01":"value01","param02":"value02"},"secureParams":{"secureParam02":"","secureParam01":""}}},"alias":"nHmdYz-8Jv6RhuwfCXoPBw"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:n9Qd439ifpxD0GAR0He0AQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '20'
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:n9Qd439ifpxD0GAR0He0AQ:zRVock7kx3hyXXSG"
    body:
      encoding: ASCII-8BIT
      string: '{"dataSource":{"id":"60049a19386d7541e4b35fe7","owner":"5ad80b895edcc438e5a4418e222733fa","name":"BigQueryDS_New","alias":"nHmdYz-8Jv6RhuwfCXoPBw","lastModified":"2021-01-17T20:12:10.761Z","connectionInfo":{"generic":{"params":{"param01":"value01","param02":"value02"},"secureParams":{"secureParam02":"","secureParam01":""}}},"links":{"parent":"/gdc/dataload/dataSources","self":"/gdc/dataload/dataSources/60049a19386d7541e4b35fe7"}}}'
  recorded_at: Sun, 17 Jan 2021 20:12:10 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/60049a19386d7541e4b35fe7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:m-eG-BpRdA0-rJpYJ07L2w"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources"
      X-Gdc-Request-Time:
      - '30'
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:m-eG-BpRdA0-rJpYJ07L2w:PXIOBzed9Cbln87T"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 17 Jan 2021 20:12:11 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources
    body:
      encoding: UTF-8
      string: '{"dataSource":{"name":"GenericDS","connectionInfo":{"generic":{"params":{"param01":"value01","param02":"value02"},"secureParams":{"secureParam01":"secure_value01","secureParam02":"secure_value02"}}},"alias":"c7eCGPB3PkjRAhd_8vywGg"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:O-JKJtWCPlpfIRwu1rF37g"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources/6004f706386d7541e4b36018"
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '20'
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:O-JKJtWCPlpfIRwu1rF37g:6diGW5vrb7vlSQp8"
    body:
      encoding: ASCII-8BIT
      string: '{"dataSource":{"id":"6004f706386d7541e4b36018","owner":"5ad80b895edcc438e5a4418e222733fa","name":"GenericDS","alias":"c7eCGPB3PkjRAhd_8vywGg","lastModified":"2021-01-18T02:48:38.143Z","connectionInfo":{"generic":{"params":{"param01":"value01","param02":"value02"},"secureParams":{"secureParam02":"","secureParam01":""}}},"links":{"parent":"/gdc/dataload/dataSources","self":"/gdc/dataload/dataSources/6004f706386d7541e4b36018"}}}'
  recorded_at: Mon, 18 Jan 2021 02:48:38 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/6004f706386d7541e4b36018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:kJsD225UAkHlA3950Kl4Uw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources"
      X-Gdc-Request-Time:
      - '26'
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:kJsD225UAkHlA3950Kl4Uw:kFYtxLgwh7b3yUy0"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 18 Jan 2021 02:48:40 GMT
recorded_with: VCR 5.0.0
