---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:0QHBgIrH1uDuIiWGJNDEHg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:0QHBgIrH1uDuIiWGJNDEHg:h39hseRJl6YKpa7L
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"internalProjectRoles":{"roles":[{"projectRole":{"permissions":{"canAccessIntegration":"1","canCreateProjectDashboard":"1","canExportDashboard":"1","canManageComment":"1","canExecute":"1","canInitData":"1","canManageIntegration":"1","canCreateExecutionContext":"1","canManageFolder":"1","canInviteUserToProject":"1","canCreateTableDataLoad":"1","canCreateDomain":"1","canSeeOtherUserDetails":"1","canManageACL":"1","canManageAnalyticalDashboard":"1","canCreateRole":"0","canCreateProjectTemplates":"1","canCreateHelp":"1","canManageDomain":"1","canManageAttributeLabel":"1","canManageReport":"1","canExportReport":"1","canCreateColumn":"1","canManageDataSet":"1","canSetUserVariables":"1","canCreateAttributeGroup":"1","canValidateProject":"1","canSetStyle":"1","canMaintainProject":"1","canCreateETLFile":"1","canCreateScheduledMail":"1","canSuspendUserFromProject":"1","canManageIsProduction":"1","canMaintainUserFilterRelation":"1","canManageAttribute":"1","canManageReportDefinition":"1","canManageTranslations":"1","canMaintainUserFilter":"1","canCreateReport":"1","canSetLocale":"1","canEnrichData":"1","canUploadNonProductionCSV":"1","canManageETLFile":"1","canCreateComment":"1","canCreateDataSet":"1","canManageExecutionContext":"1","canCreateTable":"1","canManageTableDataLoad":"1","canRefreshData":"1","canCreateMetric":"1","canManageFilterSettings":"1","canManageProjectDashboard":"1","canManageProject":"1","canManagePrompt":"1","canAccessWorkbench":"1","canCreateAttributeLabel":"1","canCreateVisualizationClass":"1","canManageColumn":"1","canCreatePrompt":"1","canManagePublicAccessCode":"0","canListUsersInProject":"1","canManageAttributeGroup":"1","canManageMetric":"1","canManageHelp":"1","canSetProjectVariables":"1","canManageTable":"1","canCreateVisualization":"1","canCreateFolder":"1","canManageFact":"1","canManageScheduledMail":"1","canListInvitationsInProject":"1","canCreateFilterSettings":"1","canExecuteRaw":"1","canSeePublicAccessCode":"0","canCreateReportDefinition":"1","canManageVisualization":"1","canCreateFact":"1","canCreateAttribute":"1","canAssignUserWithRole":"1","canCreateAnalyticalDashboard":"1"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/roles/6","created":"2018-06-05
        11:14:09","identifier":"superAdminRole","summary":"the ultimate project admin","title":"SuperAdmin","updated":"2018-06-05
        11:14:09","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"projectRole":{"permissions":{"canAccessIntegration":"0","canCreateProjectDashboard":"0","canExportDashboard":"1","canManageComment":"0","canExecute":"1","canInitData":"0","canManageIntegration":"0","canCreateExecutionContext":"1","canManageFolder":"0","canInviteUserToProject":"0","canCreateTableDataLoad":"0","canCreateDomain":"0","canSeeOtherUserDetails":"0","canManageACL":"0","canManageAnalyticalDashboard":"0","canCreateRole":"0","can[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/users
    body:
      encoding: UTF-8
      string: '{"users":[{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/roles/2"]},"links":{"self":"/gdc/account/profile/gemtest-Adding+user+without+domain+should+fail+if+it+is+not+in+the+project-0@gooddata.com"}}},{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/roles/2"]},"links":{"self":"/gdc/account/profile/gemtest-Adding+user+without+domain+should+fail+if+it+is+not+in+the+project-1@gooddata.com"}}},{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/roles/2"]},"links":{"self":"/gdc/account/[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/g01t7pakaiewbhrpx1cbjjxuvnwto9y0/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - yE-LCm26U5U8hzvGL23cfw:MtsE27ACVghs9M2vagroDw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - yE-LCm26U5U8hzvGL23cfw:MtsE27ACVghs9M2vagroDw:UWGcx413RIgRWSYI
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"internalProjectRoles":{"roles":[{"projectRole":{"permissions":{"canAccessIntegration":"1","canCreateProjectDashboard":"1","canE[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/g01t7pakaiewbhrpx1cbjjxuvnwto9y0/users
    body:
      encoding: UTF-8
      string: '{"users":[{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/g01t7pakaiewbhrpx1cbjjxuvnwto9y0/roles/2"]},"links":{"self":"/gdc/account/profile/gemtest-Adding+user+without+domain+should+fail+if+it+is+not+in+the+project-0@gooddata.com"}}},{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/g01t7pa[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/cdd0962rh01umlc6ww7ym6g31eajctbf/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - tYCDJl2o9aMce023wyOyyg:8AULRbPAtRp66kOL_mL6Qg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - tYCDJl2o9aMce023wyOyyg:8AULRbPAtRp66kOL_mL6Qg:PJCzpQPDXsbqaDJN
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"internalProjectRoles":{"roles":[{"projectRole":{"permissions":{"canAccessIntegration":"1","canCreateProjectDashboard":"1","canE[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/cdd0962rh01umlc6ww7ym6g31eajctbf/users
    body:
      encoding: UTF-8
      string: '{"users":[{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/cdd0962rh01umlc6ww7ym6g31eajctbf/roles/2"]},"links":{"self":"/gdc/account/profile/gemtest-Adding+user+without+domain+should+fail+if+it+is+not+in+the+project-0@gooddata.com"}}},{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/cdd0962[...]
