---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:NFM95ntCykAANzqxX6WvQw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:NFM95ntCykAANzqxX6WvQw:Twm9YLvysbxWGdE9"
      X-Gdc-Request-Time:
      - '83'
    body:
      encoding: ASCII-8BIT
      string: '{"internalProjectRoles":{"roles":[{"projectRole":{"permissions":{"canAccessIntegration":"1","canCreateProjectDashboard":"1","canExportDashboard":"1","canManageComment":"1","canExecute":"1","canInitData":"1","canManageIntegration":"1","canCreateExecutionContext":"1","canManageFolder":"1","canInviteUserToProject":"1","canCreateTableDataLoad":"1","canCreateDomain":"1","canSeeOtherUserDetails":"1","canManageACL":"1","canManageAnalyticalDashboard":"1","canCreateRole":"0","canCreateProjectTemplates":"1","canCreateHelp":"1","canManageDomain":"1","canManageAttributeLabel":"1","canManageReport":"1","canExportReport":"1","canCreateColumn":"1","canManageDataSet":"1","canSetUserVariables":"1","canCreateAttributeGroup":"1","canValidateProject":"1","canSetStyle":"1","canMaintainProject":"1","canCreateETLFile":"1","canCreateScheduledMail":"1","canSuspendUserFromProject":"1","canManageIsProduction":"1","canMaintainUserFilterRelation":"1","canManageAttribute":"1","canManageReportDefinition":"1","canManageTranslations":"1","canMaintainUserFilter":"1","canCreateReport":"1","canSetLocale":"1","canEnrichData":"1","canUploadNonProductionCSV":"1","canManageETLFile":"1","canCreateComment":"1","canCreateDataSet":"1","canManageExecutionContext":"1","canCreateTable":"1","canManageTableDataLoad":"1","canRefreshData":"1","canCreateMetric":"1","canManageFilterSettings":"1","canManageProjectDashboard":"1","canManageProject":"1","canManagePrompt":"1","canAccessWorkbench":"1","canCreateAttributeLabel":"1","canCreateVisualizationClass":"1","canManageColumn":"1","canCreatePrompt":"1","canManagePublicAccessCode":"0","canListUsersInProject":"1","canManageAttributeGroup":"1","canManageMetric":"1","canManageHelp":"1","canSetProjectVariables":"1","canManageTable":"1","canCreateVisualization":"1","canCreateFolder":"1","canManageFact":"1","canManageScheduledMail":"1","canListInvitationsInProject":"1","canCreateFilterSettings":"1","canExecuteRaw":"1","canSeePublicAccessCode":"0","canCreateReportDefinition":"1","canManageVisualization":"1","canCreateFact":"1","canCreateAttribute":"1","canAssignUserWithRole":"1","canCreateAnalyticalDashboard":"1"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/roles/6","created":"2019-04-18
        16:53:19","identifier":"superAdminRole","summary":"the ultimate project admin","title":"SuperAdmin","updated":"2019-04-18
        16:53:19","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"projectRole":{"permissions":{"canAccessIntegration":"1","canCreateProjectDashboard":"1","canExportDashboard":"1","canManageComment":"1","canExecute":"1","canInitData":"0","canManageIntegration":"0","canCreateExecutionContext":"1","canManageFolder":"1","canInviteUserToProject":"1","canCreateTableDataLoad":"0","canCreateDomain":"1","canSeeOtherUserDetails":"1","canManageACL":"1","canManageAnalyticalDashboard":"1","canCreateRole":"0","can[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/users
    body:
      encoding: UTF-8
      string: '{"users":[{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/roles/2"]},"links":{"self":"/gdc/account/profile/gemtest-Adding+user+without+domain+should+fail+if+it+is+not+in+the+project-0@gooddata.com"}}},{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/roles/2"]},"links":{"self":"/gdc/account/profile/gemtest-Adding+user+without+domain+should+fail+if+it+is+not+in+the+project-1@gooddata.com"}}},{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/roles/2"]},"links":{"self":"/gdc/account/[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/op24jzavrcslcsr2mb7gwaqwqlbpxsu8/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:vLypaSMwm7QnaU5QRiPJMQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '100'
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:vLypaSMwm7QnaU5QRiPJMQ:YKz5wcwJx5JJI6o5"
    body:
      encoding: ASCII-8BIT
      string: '{"internalProjectRoles":{"roles":[{"projectRole":{"permissions":{"canAccessIntegration":"1","canCreateProjectDashboard":"1","canExportD[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/op24jzavrcslcsr2mb7gwaqwqlbpxsu8/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:giS51ci-S_sabI0w_3rR6Q"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '54'
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:giS51ci-S_sabI0w_3rR6Q:jera7qU8yizB2oZj"
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/op24jzavrcslcsr2mb7gwaqwqlbpxsu8/roles/2"],"phonenumber":"","status":"ENABLED","lastname":"1","login":"rubydev+admin@gooddata.com"},"links":{"roles":"/gdc/projects/op24jzavrcslcsr2mb7gwaqwqlbpxsu8/users/5ad80b895edcc438e5a4418e222733fa/roles","permissions":"/gdc/projects/op24jzavrcslcsr2mb7gwaqwqlbpxsu8/users/5ad80b895edcc438e5a4418e222733fa/permissions","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","projectRelUri":"/gdc/projects/op24jzavrcslcsr2mb7gwaqwqlbpxsu8/users/5ad80b895edcc438e5a4418e222733fa"},"meta":{"created":"2017-02-10
        12:18:01","updated":"2019-03-15 10:00:00","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"the
        1","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"user":{"content":{"email":"gemtest-adding+user+with+domain+should+be+added+to+a+project-0@gooddata.com","firstname":"the","userRoles":["/gdc/projects/op24jzavrcslcsr2m[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/op24jzavrcslcsr2mb7gwaqwqlbpxsu8/users
    body:
      encoding: UTF-8
      string: '{"users":[{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/op24jzavrcslcsr2mb7gwaqwqlbpxsu8/roles/2"]},"links":{"self":"/gdc/account/profile/gemtest-Adding+user+without+domain+should+fail+if+it+is+not+in+the+project-0@gooddata.com"}}},{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/op24jza[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/efqh4uj0r95jp0dh9qh4exucsu3dklu3/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":j-puMCLbjck-2hCYvC-cJw:vG7k_raqKN8iGJH0OtuMJg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '142'
      X-Gdc-Request:
      - ":j-puMCLbjck-2hCYvC-cJw:vG7k_raqKN8iGJH0OtuMJg:VRil28cSFYTR3v88"
    body:
      encoding: ASCII-8BIT
      string: '{"internalProjectRoles":{"links":{"project":"/gdc/projects/efqh4uj0r95jp0dh9qh4exucsu3dklu3"},"roles":[{"projectRole":{"meta":{"created":"2022-08-11
        13:10:06","uri":"/gdc/projects/efqh4uj0r95jp0dh9qh4exucsu3dklu3/roles/10","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Editor
        + Invitations","identifier":"editorInviteRole","updated":"2022-08-11 13:10:06","summary":"Editor
        + Invitations","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"},"permissions":{"canCreateRole":"0","canCreateAttribute":"0","canUploadNonProductionCSV":"1","canManageAttribute":"0","canManageMetric":"1","canRefreshData":"1","canCreateETLFile":"1","canExecute":"1","canManageReport":"1","canCreateTableDataLoad":"0","canAccessWorkbench":"1","canManageScheduledMail":"1","canSetStyle":"0","canAccessIntegration":"1","canSeePublicAccessCode":"0","canCreatePrompt":"0","canManageIntegration":"0","canCreateProjectTemplates":"0","canSetLocale":"0","canManageAttributeGroup":"0","canCreateAttributeLabel":"0","canManagePrompt":"0","canSetProjectVariables":"0","canCreateFilterSettings":"1","canManageFilterSettings":"1","canSuspendUserFromProject":"0","canExportReport":"1","canCreateColumn":"0","canExportFromADS":"0","canManageDomain":"1","canManageACL":"1","canManageProjectDashboard":"1","canManageFact":"0","canListInvitationsInProject":"1","canSetUserVariables":"0","canMaintainProject":"0","canValidateProject":"0","canManageExecutionContext":"1","canManageHelp":"0","canManageTranslations":"0","canCreateHelp":"0","canManageIsProduction":"0","canManageTableDataLoad":"0","canCreateExecutionContext":"1","canManageETLFile":"1","canManageAnalyticalDashboard":"1","canManageDataSet":"0","canMaintainUserFilter"[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/efqh4uj0r95jp0dh9qh4exucsu3dklu3/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":j-puMCLbjck-2hCYvC-cJw:dzNj9I0a_GeChlaI674-QQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: ''
    [...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/efqh4uj0r95jp0dh9qh4exucsu3dklu3/users
    body:
      encoding: UTF-8
      string: '{"users":[{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/efqh4uj0r95jp0dh9qh4exucsu3dklu3/roles/2"]},"links":{"self":"/gdc/account/profile/gemtest-Adding+user+without+domain+should+fail+if+it+is+not+in+the+project-0@gooddata.com"}}},{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/efqh4uj[...]
