---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:n0Fssl6IWId8ZTMU5AyRag
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:n0Fssl6IWId8ZTMU5AyRag:tEiMo7E7h6Ptsp8l
      X-Gdc-Request-Time:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/ldm?thumbnail=1","self":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc","clearCaches":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/clearCaches","invitations":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/invitations","users":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/uploads/","ldm":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/ldm","metadata":"/gdc/md/ic055ixs74xi26b6iw5ii1eu3tmhhmyc","publicartifacts":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/publicartifacts","roles":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/roles","userRoles":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/dataload","connectors":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/connectors","execute":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/execute","config":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/config","projectFeatureFlags":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/projectFeatureFlags","schedules":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/schedules","templates":"/gdc/md/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/templates","eventstores":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        09:09:34","summary":"No summary","updated":"2018-06-05 09:09:34","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Test
        MASTER project for 3660ef55-b704-41d7-ac4f-c5fccf05bedc","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:09:35 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:UCMETVzlJoHmv-lpSYXz1g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:UCMETVzlJoHmv-lpSYXz1g:AfigP72n7UaPa0tn
      X-Gdc-Request-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/ldm?thumbnail=1","self":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc","clearCaches":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/clearCaches","invitations":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/invitations","users":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/ic055ixs74xi26b6i[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-3660ef55-b704-41d7-ac4f-c5fccf05bedc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:R33D0QcLOwr3BoStDseNwg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:R33D0QcLOwr3BoStDseNwg:eZyd7PauhhVBzFF4
      X-Gdc-Request-Time:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"segment":{"id":"segment-3660ef55-b704-41d7-ac4f-c5fccf05bedc","masterProject":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc","links":{"self":"/gdc/domains/staging2-lcm-prod/segments/segment-3660ef55-b704-41d7-ac4f-c5fccf05bedc","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/clients?segment=segment-3660ef55-b704-41d7-ac4f-c5fccf05bedc&limit=1000"}}}'
  recorded_at: Tue, 05 Jun 2018 07:09:43 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-3660ef55-b704-41d7-ac4f-c5fccf05bedc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:BJy9RrMshY7hqPKuu-H1VA
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '22'
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:BJy9RrMshY7hqPKuu-H1VA:q07Ny78f6ypXliAT
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 07:09:44 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/s5bapcgl6i9y74hcmwyhz009f11bywgo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:02XE2NAEA_gu9IcjoBBRGg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:02XE2NAEA_gu9IcjoBBRGg:HjD2isddH7YVxwWr
      X-Gdc-Request-Time:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPA[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/srzvoyf81nqgkn0vmonqdtmcuafp6i7j
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - dC31Fwqi21EOD7DcCZxdHA:XvjMbJF0884_j60zKJnSEg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - dC31Fwqi21EOD7DcCZxdHA:XvjMbJF0884_j60zKJnSEg:iOPUXnnldDgoDGQm
      X-Gdc-Request-Time:
      - '79'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPA[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Test MASTER project
        for 8d9e279d-ce5a-402c-8b51-d13c8d0d198a"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"PRODUCTION","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:YdPtM9aSStLOFYHZn4CFvg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:YdPtM9aSStLOFYHZn4CFvg:eVOl6ad2KCrbD0Ds
      X-Gdc-Request-Time:
      - '518'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/vkxllh62kjii9dl8yrpvygtp1opaoz5m"}'
  recorded_at: Wed, 10 Oct 2018 11:44:32 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/vkxllh62kjii9dl8yrpvygtp1opaoz5m
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:a-JZthbSkyYOjKcwGQdwJg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments
    body:
      encoding: UTF-8
      string: '{"segment":{"id":"segment-8d9e279d-ce5a-402c-8b51-d13c8d0d198a","masterProject":"/gdc/projects/vkxllh62kjii9dl8yrpvygtp1opaoz5m"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:Vw9Z5q-QLJP0d31C6OssgA
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments/segment-8d9e279d-ce5a-402c-8b51-d13c8d0d198a"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:Vw9Z5q-QLJP0d31C6OssgA:RKKwgA3ZDzCHtzXG
      X-Gdc-Request-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"segment":{"id":"segment-8d9e279d-ce5a-402c-8b51-d13c8d0d198a","masterProject":"/gdc/projects/vkxllh62kjii9dl8yrpvygtp1opaoz5m","links":{"self":"/gdc/domains/staging2-lcm-prod/segments/segment-8d9e279d-ce5a-402c-8b51-d13c8d0d198a","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/clients?segment=segment-8d9e279d-ce5a-402c-8b51-d13c8d0d198a&limit=1000"}}}'
  recorded_at: Wed, 10 Oct 2018 11:44:40 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:2hH_H5HpAxTFKmhqNqkhvA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:2hH_H5HpAxTFKmhqNqkhvA:fYfovRa7xGCj76Dh
      X-Gdc-Request-Time:
      - '95'
    body:
      encoding: ASCII-8BIT
      string: '{"segments":{"items":[{"segment":{"id":"CAR_DEMO_PREMIUM_jan-zdrahal_local_20180502174216","masterProject":"/gdc/projects/ydu16jmfcrn2oc3cwtqd37vzdjlwlh5a","links":{"self":"/gdc/domains/staging2-lcm-prod/segments/CAR_DEMO_PREMIUM_jan-zdrahal_local_20180502174216","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/clients?segment=CAR_DEMO_PREMIUM_jan-zdrahal_local_20180502174216&limit=1000"}}},{"segment":{"id":"CAR_DE[...]
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/vkxllh62kjii9dl8yrpvygtp1opaoz5m
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:RPN-GVI4KvqUejxw0IJ3PQ
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '77'
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:RPN-GVI4KvqUejxw0IJ3PQ:cIsJuIEcHSTp8d0b
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 11:44:43 GMT
recorded_with: VCR 4.0.0
