---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:n0Fssl6IWId8ZTMU5AyRag
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:n0Fssl6IWId8ZTMU5AyRag:tEiMo7E7h6Ptsp8l
      X-Gdc-Request-Time:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/ldm?thumbnail=1","self":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc","clearCaches":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/clearCaches","invitations":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/invitations","users":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/uploads/","ldm":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/ldm","metadata":"/gdc/md/ic055ixs74xi26b6iw5ii1eu3tmhhmyc","publicartifacts":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/publicartifacts","roles":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/roles","userRoles":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/dataload","connectors":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/connectors","execute":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/execute","config":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/config","projectFeatureFlags":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/projectFeatureFlags","schedules":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/schedules","templates":"/gdc/md/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/templates","eventstores":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        09:09:34","summary":"No summary","updated":"2018-06-05 09:09:34","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Test
        MASTER project for 3660ef55-b704-41d7-ac4f-c5fccf05bedc","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:09:35 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:UCMETVzlJoHmv-lpSYXz1g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:UCMETVzlJoHmv-lpSYXz1g:AfigP72n7UaPa0tn
      X-Gdc-Request-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/ldm?thumbnail=1","self":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc","clearCaches":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/clearCaches","invitations":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/invitations","users":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/ic055ixs74xi26b6i[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-3660ef55-b704-41d7-ac4f-c5fccf05bedc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:R33D0QcLOwr3BoStDseNwg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:R33D0QcLOwr3BoStDseNwg:eZyd7PauhhVBzFF4
      X-Gdc-Request-Time:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"segment":{"id":"segment-3660ef55-b704-41d7-ac4f-c5fccf05bedc","masterProject":"/gdc/projects/ic055ixs74xi26b6iw5ii1eu3tmhhmyc","links":{"self":"/gdc/domains/staging2-lcm-prod/segments/segment-3660ef55-b704-41d7-ac4f-c5fccf05bedc","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/clients?segment=segment-3660ef55-b704-41d7-ac4f-c5fccf05bedc&limit=1000"}}}'
  recorded_at: Tue, 05 Jun 2018 07:09:43 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-3660ef55-b704-41d7-ac4f-c5fccf05bedc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:BJy9RrMshY7hqPKuu-H1VA
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '22'
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:BJy9RrMshY7hqPKuu-H1VA:q07Ny78f6ypXliAT
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 07:09:44 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/s5bapcgl6i9y74hcmwyhz009f11bywgo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:02XE2NAEA_gu9IcjoBBRGg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:02XE2NAEA_gu9IcjoBBRGg:HjD2isddH7YVxwWr
      X-Gdc-Request-Time:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPA[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/srzvoyf81nqgkn0vmonqdtmcuafp6i7j
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - dC31Fwqi21EOD7DcCZxdHA:XvjMbJF0884_j60zKJnSEg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - dC31Fwqi21EOD7DcCZxdHA:XvjMbJF0884_j60zKJnSEg:iOPUXnnldDgoDGQm
      X-Gdc-Request-Time:
      - '79'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPA[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/vkxllh62kjii9dl8yrpvygtp1opaoz5m
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:a-JZthbSkyYOjKcwGQdwJg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:a-JZthbSkyYOjKcwGQdwJg:sTCkWNNcgo6GvKD3
      X-Gdc-Request-Time:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPA[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/zy8egnkqomajx5v3hipcb0w97kp9mh4n
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":UF0TYHa-j4yLI4zEcaJmtw:JMTBmseGyVhExcugyrBH6w"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":UF0TYHa-j4yLI4zEcaJmtw:JMTBmseGyVhExcugyrBH6w:TDlKZGoCGgrFDkah"
      X-Gdc-Request-Time:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Test MASTER project
        for c3ec0fd3-4187-4c12-842d-090c58d97902"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"PRODUCTION","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:l-p0XYVcOgjsE8CmY9S7Bg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '371'
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:l-p0XYVcOgjsE8CmY9S7Bg:6EiGMtgeqhWosF1b"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/asgtrapym8t5u9za3y6hbhpjgwda95m1"}'
  recorded_at: Wed, 15 Jan 2020 06:18:15 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/asgtrapym8t5u9za3y6hbhpjgwda95m1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:uBOYwRfd_b5xkkr-4arTvA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '63'
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:uBOYwRfd_b5xkkr-4arTvA:YhJ7Hj79J3vrm1E7"
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADING"},"links":{"ldm_thumbnail":"/gdc/projects/asgtrapym8t5u9za3y6hbhpjgwda95m1/ldm?thumbnail=1","self":"/gdc/projects/asgtrapym8t5u9za3y6hbhpjgwda95m1","clearCaches":"/gdc/projects/asgtrapym8t5u9za3y6hbhpjgwda95m1/clearCaches","invitations":"/gdc/projects/asgtrapym8t5u9za3y6hbhpjgwda95m1/invitations","users":"/gdc/projects/asgtrapym8t5u9za3y6hbhpjgwda95m1/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/asgtrapym8t5u9za3y6hbhpjgwda95m1/checkXaeCompatibility","uploads":"/gdc/projects/asgtrapym8t5u9za3y6hbhpjgwda95m1/uploads/","ldm":"/gdc/projects/asgtrapym8t5u9za3y6hbhpjgwda95m1/ldm","metadata":"/gdc/md/asgtrapym8t5u9za3y6hbhpjgwda95m1","publicartifacts":"/gdc/projects/asgtrapym8t5u9za3y6hbhpjgwda95m1/publicartifacts","roles":"/gdc/projects/asgtrapym8t5u9za3y6hbhpjgwda95m1/roles","userRoles":"/gdc/projects/asgtrapym8t5u9za3y6hbhpjgwda95m1/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/asgtrapym8t5u9za3y6hbhpjgwda95m1/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/asgtrapym8t5u9za3y6hbhpjgwda95m1/dataload","connectors":"/gdc/projects/asgtrapym8t5u9za3y6hbhpjgwda95m1/connectors","execute":"/gdc/projects/asgtrapym8t5u9za3y6hbhpjgwda95m1/execute","config":"/gdc/projects/asgtrapym8t5u9za3y6hbhpjgwda95m1/config","projectFeatureFlags":"/gdc/projects/asgtrapym8t5u9za3y6hbhpjgwda95m1/projectFeatureFlags","schedules":"/gdc/projects/asgtrapym8t5u9za3y6hbhpjgwda95m1/schedules","templates":"/gdc/md/asgtrapym8t5u9za3y6hbhpjgwda95m1/templates"},"meta":{"created":"2020-01-15
        07:18:14","summary":"No summary","updated":"2020-01-15 07:18:15","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Test
        MASTER project for c3ec0fd3-4187-4c12-842d-090c58d97902","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 15 Jan 2020 06:18:15 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments
    body:
      encoding: UTF-8
      string: '{"segment":{"id":"segment-c3ec0fd3-4187-4c12-842d-090c58d97902","masterProject":"/gdc/projects/asgtrapym8t5u9za3y6hbhpjgwda95m1"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:Um_9XfPCLcSzSAHs3cnB1A"
      Stats-On:
      - ''
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:3DeNW6doYd0tCgQsD7XAcA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '39'
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:3DeNW6doYd0tCgQsD7XAcA:khYgFKPBXR9CnsDv"
    body:
      encoding: ASCII-8BIT
      string: '{"segments":{"items":[{"segment":{"id":"BichR178","masterProject":"/gdc/projects/tlinhadqemivywhuf3ud95m2gudzz5d4","links":{"self":"/gdc/domains/staging2-lcm-prod/segments/BichR178","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/clients?segment=BichR178&limit=1000"}}},{"segment":{"id":"BichR178-HLL","masterProject":"/gdc/projects/h9ix1f7f2851u500xjc3khwc7cf87gz6","links":{"self":"/gdc/domains/staging2-lcm-prod/se[...]
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/asgtrapym8t5u9za3y6hbhpjgwda95m1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:E7fB6hIcQ12R_ZrQS7R9JA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '58'
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:E7fB6hIcQ12R_ZrQS7R9JA:WsX4JMMpJSadZcEf"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 15 Jan 2020 06:18:28 GMT
recorded_with: VCR 5.0.0
