---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AGCHDaQ3kPoOFP83WPj47g:n_wHs9qhAlgLm3fbhnrFCw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AGCHDaQ3kPoOFP83WPj47g:n_wHs9qhAlgLm3fbhnrFCw:SVMzYTfK05Vejvbs
      X-Gdc-Request-Time:
      - '206'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSettings":{"paging":{"offset":0,"count":1000,"next":"/gdc/account/domains/staging2-lcm-prod/users?offset=1000&limit=1000"},"items":[{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2018-10-10 10:25:03","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}},{"accountSetting":{"links":{"self":"/gdc/account/profile/6f3f51cdcd8352f59252a4be2e6ceb1b","projects":"/gdc/account/profile/6f3f51cdcd8352f59252a4be2e6ceb1b/projects"},"firstName":"eht","lastName":"9056916","companyName":null,"position":null,"created":"2017-02-22
        11:16:37","updated":"2018-10-10 12:48:12","country":null,"phoneNumber":null,"authenticationModes":["PASSWORD"],"login":"rubydev+tester@gooddata.com","timezone":null,"ssoProvider":"","email":"gemtest9056916@gooddata.com","[...]
[...]
