---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=wui586yjfzy44eccxox9loj28xn8bsvx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:6eq_FfPfWbmoT7I-Q0ycbw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:6eq_FfPfWbmoT7I-Q0ycbw:bB9rhElLHoWV59lC
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bLUrfsF7kWLeDzHZvQr3tCg","description":"My Test Description","domain":null,"project":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx"},"meta":{"created":"2018-05-31
        17:20:03","updated":"2018-05-31 17:20:03"},"links":{"self":"/gdc/userGroups/bLUrfsF7kWLeDzHZvQr3tCg","members":"/gdc/userGroups/bLUrfsF7kWLeDzHZvQr3tCg/members","modifyMembers":"/gdc/userGroups/bLUrfsF7kWLeDzHZvQr3tCg/modifyMembers"}}}]}}'
  recorded_at: Thu, 31 May 2018 15:20:05 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=ap35zyp060umrcvx8ltwux0zrsk7raag
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Ti3R5nc8b1s2KH2uRjMqrA:2PbM2EmZP2xWqrT7BUHv-w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Ti3R5nc8b1s2KH2uRjMqrA:2PbM2EmZP2xWqrT7BUHv-w:jSW0tKhUbrGJ8znC
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bYht_3jsC3p73mhemtw3L-Q","description":"My Test Description","domain":null,"project":"/gdc/projects/ap35zyp060umrcvx8ltwux0zrsk7raag"},"meta":{"created":"2018-10-10
        11:04:29","updated":"2018-10-10 11:04:29"},"links":{"self":"/gdc/userGroups/bYht_3jsC3p73mhemtw3L-Q","members":"/gdc/userGroups/bYht_3jsC3p73mhemtw3L-Q/members","modifyMembers":"/gdc/userGroups/bYht_3jsC3p73mhemtw3L-Q/modifyMembers"}}}]}}'
  recorded_at: Wed, 10 Oct 2018 09:04:31 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=zvejmh4faimgxnm545bbotrglh54tes0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - IVWNGeM56YxdR03xNdm9uQ:w_9eQpWkC-YWhAQnTwqVIg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - IVWNGeM56YxdR03xNdm9uQ:w_9eQpWkC-YWhAQnTwqVIg:BESKrFhxL9yjXhVS
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bhxOVVNgzAPW9jUtv-eJmTA","description":"My Test Description","domain":null,"project":"/gdc/projects/zvejmh4faimgxnm545bbotrglh54tes0"},"meta":{"created":"2018-10-10
        13:54:02","updated":"2018-10-10 13:54:02"},"links":{"self":"/gdc/userGroups/bhxOVVNgzAPW9jUtv-eJmTA","members":"/gdc/userGroups/bhxOVVNgzAPW9jUtv-eJmTA/members","modifyMembers":"/gdc/userGroups/bhxOVVNgzAPW9jUtv-eJmTA/modifyMembers"}}}]}}'
  recorded_at: Wed, 10 Oct 2018 11:54:08 GMT
recorded_with: VCR 4.0.0
