---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=uxhj5jneoun7ydkkjjmkgkgdchj6899l
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - BJ7jVkUSVBb_c05Mc5sXfA:oOAoRBpUbwLX1v5Nr5pzaA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - BJ7jVkUSVBb_c05Mc5sXfA:oOAoRBpUbwLX1v5Nr5pzaA:zKqJq55UN78g6ZNH
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bG6Ipk-LvUdC2Wbq5QNtaww","description":"My Test Description","domain":null,"project":"/gdc/projects/uxhj5jneoun7ydkkjjmkgkgdchj6899l"},"meta":{"created":"2018-05-02
        15:51:24","updated":"2018-05-02 15:51:24"},"links":{"self":"/gdc/userGroups/bG6Ipk-LvUdC2Wbq5QNtaww","members":"/gdc/userGroups/bG6Ipk-LvUdC2Wbq5QNtaww/members","modifyMembers":"/gdc/userGroups/bG6Ipk-LvUdC2Wbq5QNtaww/modifyMembers"}}}]}}'
  recorded_at: Wed, 02 May 2018 13:51:26 GMT
recorded_with: VCR 4.0.0
