---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=ob2pjaipm62wfmv0qzxo0z5kx3hat47q
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 5EkHAK9Aigx1Fdt0ONHEKw:EInslebVByq5bf1-eX8axQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 5EkHAK9Aigx1Fdt0ONHEKw:EInslebVByq5bf1-eX8axQ:8OOeJgF9qp7GXlq8
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"b68p3VCYfyYX-67OyFGKy8w","description":"My Test Description","domain":null,"project":"/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q"},"meta":{"created":"2018-05-28
        17:38:27","updated":"2018-05-28 17:38:27"},"links":{"self":"/gdc/userGroups/b68p3VCYfyYX-67OyFGKy8w","members":"/gdc/userGroups/b68p3VCYfyYX-67OyFGKy8w/members","modifyMembers":"/gdc/userGroups/b68p3VCYfyYX-67OyFGKy8w/modifyMembers"}}}]}}'
  recorded_at: Mon, 28 May 2018 15:38:28 GMT
recorded_with: VCR 4.0.0
