---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/iuykw7i9avrd0zf2n9ts5i7c48oeclti
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RuaP0Eu51dppxrAckD6Erg:B72ExWSty4RlmaVYNN2hKQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - RuaP0Eu51dppxrAckD6Erg:B72ExWSty4RlmaVYNN2hKQ:4VvkVib98JVjFefH
      X-Gdc-Request-Time:
      - '148'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/iuykw7i9avrd0zf2n9ts5i7c48oeclti/ldm?thumbnail=1","self":"/gdc/projects/iuykw7i9avrd0zf2n9ts5i7c48oeclti","clearCaches":"/gdc/projects/iuykw7i9avrd0zf2n9ts5i7c48oeclti/clearCaches","invitations":"/gdc/projects/iuykw7i9avrd0zf2n9ts5i7c48oeclti/invitations","users":"/gdc/projects/iuykw7i9avrd0zf2n9ts5i7c48oeclti/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/iuykw7i9avrd0zf2n9ts5i7c48oeclti/uploads/","ldm":"/gdc/projects/iuykw7i9avrd0zf2n9ts5i7c48oeclti/ldm","metadata":"/gdc/md/iuykw7i9avrd0zf2n9ts5i7c48oeclti","publicartifacts":"/gdc/projects/iuykw7i9avrd0zf2n9ts5i7c48oeclti/publicartifacts","roles":"/gdc/projects/iuykw7i9avrd0zf2n9ts5i7c48oeclti/roles","userRoles":"/gdc/projects/iuykw7i9avrd0zf2n9ts5i7c48oeclti/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/iuykw7i9avrd0zf2n9ts5i7c48oeclti/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/iuykw7i9avrd0zf2n9ts5i7c48oeclti/dataload","connectors":"/gdc/projects/iuykw7i9avrd0zf2n9ts5i7c48oeclti/connectors","execute":"/gdc/projects/iuykw7i9avrd0zf2n9ts5i7c48oeclti/execute","config":"/gdc/projects/iuykw7i9avrd0zf2n9ts5i7c48oeclti/config","projectFeatureFlags":"/gdc/projects/iuykw7i9avrd0zf2n9ts5i7c48oeclti/projectFeatureFlags","schedules":"/gdc/projects/iuykw7i9avrd0zf2n9ts5i7c48oeclti/schedules","templates":"/gdc/md/iuykw7i9avrd0zf2n9ts5i7c48oeclti/templates","eventstores":"/gdc/projects/iuykw7i9avrd0zf2n9ts5i7c48oeclti/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        10:09:42","summary":"No summary","updated":"2018-06-05 10:09:42","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 08:09:43 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/iuykw7i9avrd0zf2n9ts5i7c48oeclti
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RuaP0Eu51dppxrAckD6Erg:tpI_B1cYKS_sg9fIhGchWg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - RuaP0Eu51dppxrAckD6Erg:tpI_B1cYKS_sg9fIhGchWg:FtGTDLnt3ZKOqqHd
      X-Gdc-Request-Time:
      - '46'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/iuykw7i9avrd0zf2n9ts5i7c48oeclti/ldm?thumbnail=1","self":"/gdc/projects/iuykw7i9avrd0zf2n9ts5i7c48oeclti","clearCaches":"/gdc/projects/iuykw7i9avrd0zf2n9ts5i7c48oeclti/clearCaches","invitations":"/gdc/projects/iuykw7i9avrd0zf2n9ts5i7c48oeclti/invitations","users":"/gdc/projects/iuykw7i9avrd0zf2n9ts5i7c48oeclti/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/iuykw7i9avrd0zf2n[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/iuykw7i9avrd0zf2n9ts5i7c48oeclti/dataload/processes
    body:
      encoding: UTF-8
      string: '{"process":{"name":"Test ETL Process (Ruby)","path":"/uploads/deploy-graph-archive20180605-3824-e3xuiv.zip","type":"RUBY"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RuaP0Eu51dppxrAckD6Erg:gI1kLKeZAjsWo3EoJr9IJA
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/projects/iuykw7i9avrd0zf2n9ts5i7c48oeclti/dataload/processes/b4d771ca-0909-45b6-ae19-baeba079a733"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - RuaP0Eu51dppxrAckD6Erg:gI1kLKeZAjsWo3EoJr9IJA:YNHX7JOGL0Vttl2R
      X-Gdc-Request-Time:
      - '359'
    body:
      encoding: ASCII-8BIT
      string: '{"process":{"type":"RUBY","name":"Test ETL Process (Ruby)","graphs":["process.rb"],"executables":["process.rb"],"lastDeployed":"2018-06-05T08:09:51.773Z","ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/iuykw7i9avrd0zf2n9ts5i7c48oeclti/dataload/processes/b4d771ca-0909-45b6-ae19-baeba079a733","executions":"/gdc/projects/iuykw7i9avrd0zf2n9ts5i7c48oeclti/dataload/processes/b4d771ca-0909-45b6-ae19-baeba079a733/executions","source":"/gdc/projects/iuykw7i9avrd0zf2n9ts5i7c48oeclti/dataload/processes/b4d771ca-0909-45b6-ae19-baeba079a733/source"}}}'
  recorded_at: Tue, 05 Jun 2018 08:09:51 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/iuykw7i9avrd0zf2n9ts5i7c48oeclti/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RuaP0Eu51dppxrAckD6Erg:Iy-Gc_XgcmwN-LTFMGnENA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - RuaP0Eu51dppxrAckD6Erg:Iy-Gc_XgcmwN-LTFMGnENA:MtEznKzvArdF6tQo
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":0},"schedulesLink":"/gdc/projects/iuykw7i9avrd0zf2n9ts5i7c48oeclti/schedules","items":[]}}'
  recorded_at: Tue, 05 Jun 2018 08:14:53 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/iuykw7i9avrd0zf2n9ts5i7c48oeclti/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RuaP0Eu51dppxrAckD6Erg:VFyDYpxLrNrYdu0-oF28IQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - RuaP0Eu51dppxrAckD6Erg:VFyDYpxLrNrYdu0-oF28IQ:2OOhONSz80JbwmCI
      X-Gdc-Request-Time:
      - '74'
    body:
      encoding: ASCII-8BIT
      string: '{"processes":{"items":[{"process":{"type":"GRAPH","name":"Test ETL
        Process (CC)","graphs":["graph/graph.grf"],"executables":["graph/graph.grf"],"lastDeployed":"2018-06-05T08:09:55.053Z","ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/iuykw7i9avrd0zf2n9ts5i7c48oeclti/dataload/processes/29f5ff74-2e52-4234-be08-22c5dbb7ac99","executions":"/gdc/projects/iuykw7i9avrd0zf2n9ts5i7c48oeclti/dataload/processes/29f5ff74-2e52-4234-be08-22c5dbb7ac99/executions","source":"/gdc/projects/iuy[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/iuykw7i9avrd0zf2n9ts5i7c48oeclti/dataload/processes/29f5ff74-2e52-4234-be08-22c5dbb7ac99
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RuaP0Eu51dppxrAckD6Erg:4OfRCbXnN9G2vMcuwYEQKw
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/projects/iuykw7i9avrd0zf2n9ts5i7c48oeclti/dataload/processes"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '426'
      X-Gdc-Request:
      - RuaP0Eu51dppxrAckD6Erg:4OfRCbXnN9G2vMcuwYEQKw:A1UaBajFXNWfBfvN
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 08:14:55 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/channelConfigurations/5b164660e4b0632137c4d535
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RuaP0Eu51dppxrAckD6Erg:BSAmkri7uS-dLE5onJ6lxQ
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '17'
      X-Gdc-Request:
      - RuaP0Eu51dppxrAckD6Erg:BSAmkri7uS-dLE5onJ6lxQ:MITlwtHxgxENXKPu
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 08:14:58 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4RpOKkCnMdNXtuJJ0TGBhg:N62iR2ZYKqJebkb8utJzuw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4RpOKkCnMdNXtuJJ0TGBhg:N62iR2ZYKqJebkb8utJzuw:VyBpVSnXiMSVXb2R
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-05-30
        07:17:20","lastName":"Oh","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164/auditEvents","domain":"/gdc/domains/staging3-lcm-prod","self":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","projects":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164/projects"},"firstName":"Ruby","country":null,"ssoProvider":"test-ruby","language":"en-US","timezone":null,"ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:16:01"}}'
  recorded_at: Tue, 17 Jul 2018 10:01:31 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/lgx6j8kkugaayoxek5qcg69y1jbqszow
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4RpOKkCnMdNXtuJJ0TGBhg:89tUOggyum3CYoYoEe08LQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/lgx6j8kkugaayoxek5qcg69y1jbqszow/dataload/processes
    body:
      encoding: UTF-8
      string: '{"process":{"name":"Test ETL Process (Ruby)","path":"/uploads/deploy-graph-archive20180717-6653-wr8u3p.zip","type":"RUBY"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4RpOKkCnMdNXtuJJ0TGBhg:-ZRYvMlhz6-3eu6GBRpKbw
  response:[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/lgx6j8kkugaayoxek5qcg69y1jbqszow/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4RpOKkCnMdNXtuJJ0TGBhg:xi7YuVDdyDG5vO_AbAEXzQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4RpOKkCnMdNXtuJJ0TGBhg:xi7YuVDdyDG5vO_AbAEXzQ:qi32niH0YYObfsJo
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":0},"schedulesLink":"/gdc/projects/lgx6j8kkugaayoxek5qcg69y1jbqszow/schedules","items":[]}}'
  recorded_at: Tue, 17 Jul 2018 10:06:23 GMT
[...]
- request:
    method: delete
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/lgx6j8kkugaayoxek5qcg69y1jbqszow/dataload/processes/5c85b8b9-d80f-4ba9-bb8c-9730c61c0d16
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4RpOKkCnMdNXtuJJ0TGBhg:ennCcnKtbgpTA_Tg_8TRyA
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/projects/lgx6j8kkugaayoxek5qcg69y1jbqszow/dataload/processes"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '134'
      X-Gdc-Request:
      - 4RpOKkCnMdNXtuJJ0TGBhg:ennCcnKtbgpTA_Tg_8TRyA:Bvf6BMDdlvlmlAr4
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 17 Jul 2018 10:06:24 GMT
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164/channelConfigurations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4RpOKkCnMdNXtuJJ0TGBhg:THWjkNxZ-inL41S6cN8p2Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4RpOKkCnMdNXtuJJ0TGBhg:THWjkNxZ-inL41S6cN8p2Q:KXoi4z3Ve3ULofDs
      X-Gdc-Request-Time:
      - '16'
    body:
      encoding: ASCII-8BIT
      string: '{"channelConfigurations":{"items":[{"channelConfiguration":{"configuration":{"emailConfiguration":{"to":"rubydev+admin@gooddata.com"}},"meta":{"title":"rubydev+admin@gooddata.com","author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","category":"channelConfiguration","updated":"2018-07-17
        12:05:54","created":"2018-07-17 12:05:54","uri":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164/channelConfigurations/5b4dbf82e4b0d4b8a5c76a10"}}}]}}'
  recorded_at: Tue, 17 Jul 2018 10:06:25 GMT
[...]
- request:
    method: delete
    uri: https://staging3-lcm-prod.intgdc.com/gdc/account/login/a4c644d7b42b65c34e5a0f46809f7164
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - rLUQdFK9EzFTVUMnYoMATw:QHIzYV9Fm7sm_B8R_8zdUw
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '33'
      X-Gdc-Request:
      - rLUQdFK9EzFTVUMnYoMATw:QHIzYV9Fm7sm_B8R_8zdUw:qvsVxX1gNCSva0ae
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 17 Jul 2018 10:06:27 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/aqojx10gucsew0lsksoqwsbdefyikn1p
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - a0VAqWVlTouep8-ovBrz2A:PV8kn1ARYGbrvL_MUt0I7g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - a0VAqWVlTouep8-ovBrz2A:PV8kn1ARYGbrvL_MUt0I7g:uk0y9vZChBAWUSR0
      X-Gdc-Request-Time:
      - '86'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/aqojx10gucsew0lsksoqwsbdefyikn1p/dataload/processes
    body:
      encoding: UTF-8
      string: '{"process":{"name":"Test ETL Process (Ruby)","path":"/uploads/deploy-graph-archive20181005-57340-1imeaz9.zip","type":"RUBY"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - a0VAqWVlTouep8-ovBrz2A:28my9We_rg71ybV1MKpFSA
  respons[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/aqojx10gucsew0lsksoqwsbdefyikn1p/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - a0VAqWVlTouep8-ovBrz2A:qZsCyIAxCOj00HQP1n7NIg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - a0VAqWVlTouep8-ovBrz2A:qZsCyIAxCOj00HQP1n7NIg:SbDr2XK2UX5QINXY
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":0},"schedulesLink":"/gdc/projects/aqojx10gucsew0lsksoqwsbdefyikn1p/schedules","items":[]}}'
  recorded_at: Fri, 05 Oct 2018 13:54:26 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/aqojx10gucsew0lsksoqwsbdefyikn1p/dataload/processes/9ab459b0-4b90-4ee4-bd2d-c3cabfb016d1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - a0VAqWVlTouep8-ovBrz2A:yIdHHUj8PKAe3EkVdQav4g
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/projects/aqojx10gucsew0lsksoqwsbdefyikn1p/dataload/processes"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '135'
      X-Gdc-Request:
      - a0VAqWVlTouep8-ovBrz2A:yIdHHUj8PKAe3EkVdQav4g:g95kwPzju287iuWq
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 05 Oct 2018 13:54:28 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/vwhxk8xzmgsngrdi3eg8zas36chcen1o
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":s-q-JdLzgQtOakwcwEZEFg:0yQt06LD1UjHq6yjHX4BAw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":s-q-JdLzgQtOakwcwEZEFg:0yQt06LD1UjHq6yjHX4BAw:Xy42ULyG1r9Crcdm"
      X-Gdc-Request-Time:
      - '73'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"lin[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/vwhxk8xzmgsngrdi3eg8zas36chcen1o/dataload/processes
    body:
      encoding: UTF-8
      string: '{"process":{"name":"Test ETL Process (Ruby)","path":"/uploads/deploy-graph-archive20190121-21206-32182a.zip","type":"RUBY"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":s-q-JdLzgQtOakwcwEZEFg:xW6zH86wwAp2GkLGI1NY8A"
      S[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/vwhxk8xzmgsngrdi3eg8zas36chcen1o/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":s-q-JdLzgQtOakwcwEZEFg:Y7BK48OvUyTLPV7bI9_mzQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":s-q-JdLzgQtOakwcwEZEFg:Y7BK48OvUyTLPV7bI9_mzQ:3Gpes7gR3jORGE2e"
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":0},"schedulesLink":"/gdc/projects/vwhxk8xzmgsngrdi3eg8zas36chcen1o/schedules","items":[]}}'
  recorded_at: Mon, 21 Jan 2019 18:50:08 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/vwhxk8xzmgsngrdi3eg8zas36chcen1o/dataload/processes/7659f486-5aac-4f0b-8ebb-0b96c3e14749
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":s-q-JdLzgQtOakwcwEZEFg:BQ64_VUVJWVRVb__nlSLMQ"
      Stats-On:
      - ''
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/projects/vwhxk8xzmgsngrdi3eg8zas36chcen1o/dataload/processes"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '228'
      X-Gdc-Request:
      - ":s-q-JdLzgQtOakwcwEZEFg:BQ64_VUVJWVRVb__nlSLMQ:pVcov3fbCBmSZw0f"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 21 Jan 2019 18:50:10 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/d8ez0qbjqgjqigu96vg4att8yubqjhls
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GA7NAcqrxDn2GTAlIsCUcg:TXqPT7kfNNmauSAj_eE4Ag"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/d8ez0qbjqgjqigu96vg4att8yubqjhls/dataload/processes
    body:
      encoding: UTF-8
      string: '{"process":{"name":"Test ETL Process (Ruby)","path":"/uploads/deploy-graph-archive20190121-21915-1pj4vi.zip","type":"RUBY"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GA7NAcqrxDn2GTAlIsCUcg:xx8a51bHcxoOxJxx6SHn1Q"
      S[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/d8ez0qbjqgjqigu96vg4att8yubqjhls/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GA7NAcqrxDn2GTAlIsCUcg:hG8lBU62RLE-HNL2mNM_Pg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":GA7NAcqrxDn2GTAlIsCUcg:hG8lBU62RLE-HNL2mNM_Pg:FYWFPUpvc2H2NxAN"
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":0},"schedulesLink":"/gdc/projects/d8ez0qbjqgjqigu96vg4att8yubqjhls/schedules","items":[]}}'
  recorded_at: Mon, 21 Jan 2019 18:55:39 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/d8ez0qbjqgjqigu96vg4att8yubqjhls/dataload/processes/bae73aa0-a8eb-4190-9c27-6a208ccf8e30
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GA7NAcqrxDn2GTAlIsCUcg:wG5k4toqsmCKnZfjdlMPGw"
      Stats-On:
      - ''
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/projects/d8ez0qbjqgjqigu96vg4att8yubqjhls/dataload/processes"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '176'
      X-Gdc-Request:
      - ":GA7NAcqrxDn2GTAlIsCUcg:wG5k4toqsmCKnZfjdlMPGw:2Xrpebs9mgDkSAmP"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 21 Jan 2019 18:55:42 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":u5n7xXlakrMxOjpPfJMpXQ:t6o4N_IOSx_L990mS3_mFA"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":u5n7xXlakrMxOjpPfJMpXQ:t6o4N_IOSx_L990mS3_mFA:QJf08ALGqNGwy3eO"
      X-Gdc-Request-Time:
      - '109'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Mon, 21 Jan 2019 19:23:06 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":u5n7xXlakrMxOjpPfJMpXQ:GvW-BezNY265CUugzhNvTQ"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - ":u5n7xXlakrMxOjpPfJMpXQ:GvW-BezNY265CUugzhNvTQ:XgxCVGqiC1fcDxRY"
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Mon, 21 Jan 2019 19:23:07 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":u5n7xXlakrMxOjpPfJMpXQ:lX7FYTSmFEOvJGnNWSLwwg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":u5n7xXlakrMxOjpPfJMpXQ:lX7FYTSmFEOvJGnNWSLwwg:nVCt8hwYwu5xZLy2"
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Mon, 21 Jan 2019 19:23:09 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Project for schedule
        testing"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":u5n7xXlakrMxOjpPfJMpXQ:0a-yizs_KvOCRANqrnoNiA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":u5n7xXlakrMxOjpPfJMpXQ:0a-yizs_KvOCRANqrnoNiA:bZotBH8SMq6zbWek"
      X-Gdc-Request-Time:
      - '758'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/piddql29b9lcbf54n2rc5ak8g5pulvfv"}'
  recorded_at: Mon, 21 Jan 2019 19:23:11 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/piddql29b9lcbf54n2rc5ak8g5pulvfv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
[...]
