---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:qCOotFvlymPFtTn1G2PfxQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Deprecated:
      - End-of-life=Fri, 30 Aug 2019 12:00:00 GMT; valid-version=3
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:qCOotFvlymPFtTn1G2PfxQ:NTztz1E3kWJsoBXC"
      X-Gdc-Request-Time:
      - '21817'
    body:
      encoding: ASCII-8BIT
      string: '{"projects":[{"project":{"content":{"state":"ENABLED","cluster":"","environment":"PRODUCTION","driver":"Pg","isPublic":"0","guidedNavigation":"1"},"meta":{"title":"
        MasterProjectC - QA-test - DO NOT DELETE","summary":"","created":"2017-12-11
        07:34:43","updated":"2019-04-15 15:26:37","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"},"links":{"self":"/gdc/projects/tjs1ixbs1q9jyheklrsmvs87g7u0s1tm","roles":"/gdc/projects/tjs1ixbs1q9jyheklrsmvs87g7u0s1tm/roles","users":"/gdc/projects/tjs1ixbs1q9jyheklrsmvs87g7u0s1tm/users?link=1&offset=0&limit=100","userRoles":"/gdc/projects/tjs1ixbs1q9jyheklrsmvs87g7u0s1tm/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/tjs1ixbs1q9jyheklrsmvs87g7u0s1tm/users/5ad80b895edcc438e5a4418e222733fa/permissions","invitations":"/gdc/projects/tjs1ixbs1q9jyheklrsmvs87g7u0s1tm/invitations","ldm":"/gdc/projects/tjs1ixbs1q9jyheklrsmvs87g7u0s1tm/ldm","ldm_thumbnail":"/gdc/projects/tjs1ixbs1q9jyheklrsmvs87g7u0s1tm/ldm?thumbnail=1","publicartifacts":"/gdc/projects/tjs1ixbs1q9jyheklrsmvs87g7u0s1tm/publicartifacts","uploads":"/gdc/projects/tjs1ixbs1q9jyheklrsmvs87g7u0s1tm/uploads/","metadata":"/gdc/md/tjs1ixbs1q9jyheklrsmvs87g7u0s1tm","templates":"/gdc/md/tjs1ixbs1q9jyheklrsmvs87g7u0s1tm/templates","connectors":"/gdc/projects/tjs1ixbs1q9jyheklrsmvs87g7u0s1tm/connectors","schedules":"/gdc/projects/tjs1ixbs1q9jyheklrsmvs87g7u0s1tm/schedules","dataload":"/gdc/projects/tjs1ixbs1q9jyheklrsmvs87g7u0s1tm/dataload","execute":"/gdc/projects/tjs1ixbs1q9jyheklrsmvs87g7u0s1tm/execute","clearCaches":"/gdc/projects/tjs1ixbs1q9jyheklrsmvs87g7u0s1tm/clearCaches","projectFeatureFlags":"/gdc/projects/tjs1ixbs1q9jyheklrsmvs87g7u0s1tm/projectFeatureFlags","config":"/gdc/projects/tjs1ixbs1q9jyheklrsmvs87g7u0s1tm/config"}}},{"project":{"content":{"state":"ENABLED","cluster":"","environment":"TESTING","driver":"Pg","isPublic":"0","guidedNavigation":"1"},"meta":{"title":"#transfer_processes
        and #transfer_schedules test","summary":"No summary","created":"2019-04-05
        09:31:39","updated":"2019-04-15 15:35:10","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"},"lin[...]
