---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/roles/6/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:rq8te2jAnyN8KIWJ1CVEsA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:rq8te2jAnyN8KIWJ1CVEsA:icziSUXH7EaJGahB
      X-Gdc-Request-Time:
      - '66'
    body:
      encoding: ASCII-8BIT
      string: '{"associatedUsers":{"users":[],"links":{"project":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/","role":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/roles/6/"}}}'
  recorded_at: Mon, 04 Jun 2018 12:19:06 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/eyzuoywgecnz569hgq02g3snaev96j6r/roles/6/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - srkXaRqbM8g9CnxYpPXV6Q:kPLfEyAUofkVERyOOQyLMQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - srkXaRqbM8g9CnxYpPXV6Q:kPLfEyAUofkVERyOOQyLMQ:gCOutTrFla0m0leu
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"associatedUsers":{"users":[],"links":{"project":"/gdc/projects/eyzuoywgecnz569hgq02g3snaev96j6r/","role":"/gdc/projects/eyzuoywgecnz569hgq02g3snaev96j6r/roles/6/"}}}'
  recorded_at: Fri, 05 Oct 2018 12:55:13 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/c0ajmerw09sjt5cuyiswrcb7n3mjbg25/roles/6/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - PKOge38xhIWiJotYWtlvhg:vJzAAyYGl2KaX0Itwy3I_w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - PKOge38xhIWiJotYWtlvhg:vJzAAyYGl2KaX0Itwy3I_w:rLiSa9ln3MrsBqjW
      X-Gdc-Request-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"associatedUsers":{"users":[],"links":{"project":"/gdc/projects/c0ajmerw09sjt5cuyiswrcb7n3mjbg25/","role":"/gdc/projects/c0ajmerw09sjt5cuyiswrcb7n3mjbg25/roles/6/"}}}'
  recorded_at: Wed, 10 Oct 2018 10:55:14 GMT
recorded_with: VCR 4.0.0
