---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/roles/6/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:rq8te2jAnyN8KIWJ1CVEsA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:rq8te2jAnyN8KIWJ1CVEsA:icziSUXH7EaJGahB
      X-Gdc-Request-Time:
      - '66'
    body:
      encoding: ASCII-8BIT
      string: '{"associatedUsers":{"users":[],"links":{"project":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/","role":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/roles/6/"}}}'
  recorded_at: Mon, 04 Jun 2018 12:19:06 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/eyzuoywgecnz569hgq02g3snaev96j6r/roles/6/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - srkXaRqbM8g9CnxYpPXV6Q:kPLfEyAUofkVERyOOQyLMQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - srkXaRqbM8g9CnxYpPXV6Q:kPLfEyAUofkVERyOOQyLMQ:gCOutTrFla0m0leu
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"associatedUsers":{"users":[],"links":{"project":"/gdc/projects/eyzuoywgecnz569hgq02g3snaev96j6r/","role":"/gdc/projects/eyzuoywgecnz569hgq02g3snaev96j6r/roles/6/"}}}'
  recorded_at: Fri, 05 Oct 2018 12:55:13 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/c0ajmerw09sjt5cuyiswrcb7n3mjbg25/roles/6/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - PKOge38xhIWiJotYWtlvhg:vJzAAyYGl2KaX0Itwy3I_w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - PKOge38xhIWiJotYWtlvhg:vJzAAyYGl2KaX0Itwy3I_w:rLiSa9ln3MrsBqjW
      X-Gdc-Request-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"associatedUsers":{"users":[],"links":{"project":"/gdc/projects/c0ajmerw09sjt5cuyiswrcb7n3mjbg25/","role":"/gdc/projects/c0ajmerw09sjt5cuyiswrcb7n3mjbg25/roles/6/"}}}'
  recorded_at: Wed, 10 Oct 2018 10:55:14 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ifs1gc5m2iwt26w6sca2z48i7mm9r8od/roles/6/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":k4mI81TOYbU6lXLRYegnlA:n9mn-8gPpNvfs3NIdH4zig"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":k4mI81TOYbU6lXLRYegnlA:n9mn-8gPpNvfs3NIdH4zig:HriD984NnErJD8y1"
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"associatedUsers":{"users":[],"links":{"project":"/gdc/projects/ifs1gc5m2iwt26w6sca2z48i7mm9r8od/","role":"/gdc/projects/ifs1gc5m2iwt26w6sca2z48i7mm9r8od/roles/6/"}}}'
  recorded_at: Thu, 24 Jan 2019 13:12:46 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/oqgeaev5piivkz545c0gqlt9xabpssbb/roles/6/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":3_6feF_y-HaKYTTiZKCfOA:lgHsUWISeicvBsMn-Q0Tkw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '84'
      X-Gdc-Request:
      - ":3_6feF_y-HaKYTTiZKCfOA:lgHsUWISeicvBsMn-Q0Tkw:KEGu7zPfggoabGhE"
    body:
      encoding: ASCII-8BIT
      string: '{"associatedUsers":{"users":[],"links":{"project":"/gdc/projects/oqgeaev5piivkz545c0gqlt9xabpssbb/","role":"/gdc/projects/oqgeaev5piivkz545c0gqlt9xabpssbb/roles/6/"}}}'
  recorded_at: Wed, 15 Jan 2020 05:59:16 GMT
recorded_with: VCR 5.0.0
