---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/roles/6/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:rq8te2jAnyN8KIWJ1CVEsA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:rq8te2jAnyN8KIWJ1CVEsA:icziSUXH7EaJGahB
      X-Gdc-Request-Time:
      - '66'
    body:
      encoding: ASCII-8BIT
      string: '{"associatedUsers":{"users":[],"links":{"project":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/","role":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/roles/6/"}}}'
  recorded_at: Mon, 04 Jun 2018 12:19:06 GMT
recorded_with: VCR 4.0.0
