---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ak57eblpgntiba6btrnsungubnv3onk1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:LjUZJlz-juhOWBixvCFQHA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:LjUZJlz-juhOWBixvCFQHA:OSaxDsexYSgfNmwH
      X-Gdc-Request-Time:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/ak57eblpgntiba6btrnsungubnv3onk1/ldm?thumbnail=1","self":"/gdc/projects/ak57eblpgntiba6btrnsungubnv3onk1","clearCaches":"/gdc/projects/ak57eblpgntiba6btrnsungubnv3onk1/clearCaches","invitations":"/gdc/projects/ak57eblpgntiba6btrnsungubnv3onk1/invitations","users":"/gdc/projects/ak57eblpgntiba6btrnsungubnv3onk1/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/ak57eblpgntiba6btrnsungubnv3onk1/uploads/","ldm":"/gdc/projects/ak57eblpgntiba6btrnsungubnv3onk1/ldm","metadata":"/gdc/md/ak57eblpgntiba6btrnsungubnv3onk1","publicartifacts":"/gdc/projects/ak57eblpgntiba6btrnsungubnv3onk1/publicartifacts","roles":"/gdc/projects/ak57eblpgntiba6btrnsungubnv3onk1/roles","userRoles":"/gdc/projects/ak57eblpgntiba6btrnsungubnv3onk1/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/ak57eblpgntiba6btrnsungubnv3onk1/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/ak57eblpgntiba6btrnsungubnv3onk1/dataload","connectors":"/gdc/projects/ak57eblpgntiba6btrnsungubnv3onk1/connectors","execute":"/gdc/projects/ak57eblpgntiba6btrnsungubnv3onk1/execute","config":"/gdc/projects/ak57eblpgntiba6btrnsungubnv3onk1/config","projectFeatureFlags":"/gdc/projects/ak57eblpgntiba6btrnsungubnv3onk1/projectFeatureFlags","schedules":"/gdc/projects/ak57eblpgntiba6btrnsungubnv3onk1/schedules","templates":"/gdc/md/ak57eblpgntiba6btrnsungubnv3onk1/templates","eventstores":"/gdc/projects/ak57eblpgntiba6btrnsungubnv3onk1/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        09:10:54","summary":"No summary","updated":"2018-06-05 09:10:54","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Test
        MASTER project for 23ae539f-23d8-49da-98a6-18d1de00fb29","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:10:55 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ak57eblpgntiba6btrnsungubnv3onk1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:jCIKSrYzjJHuPx0r8mbM2A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:jCIKSrYzjJHuPx0r8mbM2A:SUEakRU0MgqMaJkw
      X-Gdc-Request-Time:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/ak57eblpgntiba6btrnsungubnv3onk1/ldm?thumbnail=1","self":"/gdc/projects/ak57eblpgntiba6btrnsungubnv3onk1","clearCaches":"/gdc/projects/ak57eblpgntiba6btrnsungubnv3onk1/clearCaches","invitations":"/gdc/projects/ak57eblpgntiba6btrnsungubnv3onk1/invitations","users":"/gdc/projects/ak57eblpgntiba6btrnsungubnv3onk1/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/ak57eblpgntiba6bt[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/provisionClientProjects/results/7f4111c002ca5d18f4e959fc3e6be90707febe4dc0d672300000001b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:X45tAZUj2cmWXk2T1pWFSQ
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:X45tAZUj2cmWXk2T1pWFSQ:EzpNgP36uh1kR2rP
      X-Gdc-Request-Time:
      - '63'
    body:
      encoding: ASCII-8BIT
      string: '{"clientProjectProvisioningResult":{"created":{"count":0},"failed":{"count":0},"links":{"details":"/gdc/domains/staging2-lcm-prod/dataproducts/default/provisionClientProjects/results/7f4111c002ca5d18f4e959fc3e6be90707febe4dc0d672300000001b/details?offset=0&limit=10000"}}}'
  recorded_at: Tue, 05 Jun 2018 07:11:04 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients?segment=segment-23ae539f-23d8-49da-98a6-18d1de00fb29
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:l4fwPe1uqAPhPsuCgwiQVw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:l4fwPe1uqAPhPsuCgwiQVw:toxEgQHNtqMAPIYY
      X-Gdc-Request-Time:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"clients":{"items":[],"paging":{"next":null}}}'
  recorded_at: Tue, 05 Jun 2018 07:11:06 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-23ae539f-23d8-49da-98a6-18d1de00fb29
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:IjL2X0qmLkwjXn25fbqeWQ
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '19'
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:IjL2X0qmLkwjXn25fbqeWQ:wqcRnFy2NbVuWjGs
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 07:11:07 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Test MASTER project
        for 44350680-ffa1-41ea-828c-606ee57a94ba"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"PRODUCTION","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:Hd0msiGaa-q2DdzSJmNy_A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:Hd0msiGaa-q2DdzSJmNy_A:oZ57CRrJq7q7lVr2
      X-Gdc-Request-Time:
      - '582'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/rqoxawzrbgnj1kbdn0q5wnmfjomnpd77"}'
  recorded_at: Tue, 05 Jun 2018 07:15:02 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rqoxawzrbgnj1kbdn0q5wnmfjomnpd77
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:Gi3K8yYhUBlVW5lauOMAyg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments
    body:
      encoding: UTF-8
      string: '{"segment":{"id":"segment-44350680-ffa1-41ea-828c-606ee57a94ba","masterProject":"/gdc/projects/rqoxawzrbgnj1kbdn0q5wnmfjomnpd77"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:P8l9QI5SygmDlhsxuMzmuA
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments/segment-44350680-ffa1-41ea-828c-606ee57a94ba"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:P8l9QI5SygmDlhsxuMzmuA:S4SlFE7yix2tNNAk
      X-Gdc-Request-Time:
      - '46'
    body:
      encoding: ASCII-8BIT
      string: '{"segment":{"id":"segment-44350680-ffa1-41ea-828c-606ee57a94ba","masterProject":"/gdc/projects/rqoxawzrbgnj1kbdn0q5wnmfjomnpd77","links":{"self":"/gdc/domains/staging2-lcm-prod/segments/segment-44350680-ffa1-41ea-828c-606ee57a94ba","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/clients?segment=segment-44350680-ffa1-41ea-828c-606ee57a94ba&limit=1000"}}}'
  recorded_at: Tue, 05 Jun 2018 07:15:10 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:S8Z53l3lsMX2ehSo_qrKWA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:S8Z53l3lsMX2ehSo_qrKWA:8jcbQuXg6K8Zanwm
      X-Gdc-Request-Time:
      - '15'
    body:
      encoding: ASCII-8BIT
      string: '{"dataProduct":{"id":"default","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default","domain":"/gdc/domains/staging2-lcm-prod","segments":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients"}}}'
  recorded_at: Tue, 05 Jun 2018 07:15:10 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/provisionClientProjects
    body:
      encoding: UTF-8
      string: '{"provisionClientProjects":{"segments":["segment-44350680-ffa1-41ea-828c-606ee57a94ba"]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:cdmaSK5LwoQHyZnaTqhK7w
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts/default/provisionClientProjects/results/2971351ae546e9f07263ce066854927b07febe4ecf952f080000001b"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:cdmaSK5LwoQHyZnaTqhK7w:Xp8IOxXjsFMfGr3l
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"links":{"poll":"/gdc/domains/staging2-lcm-prod/dataproducts/default/provisionClientProjects/results/2971351ae546e9f07263ce066854927b07febe4ecf952f080000001b"}}}'
  recorded_at: Tue, 05 Jun 2018 07:15:11 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-44350680-ffa1-41ea-828c-606ee57a94ba
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:-gUi5DsKCww6Ndou9yvZYw
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '19'
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:-gUi5DsKCww6Ndou9yvZYw:1YlfQ65vy5cMITyw
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 07:15:14 GMT
recorded_with: VCR 4.0.0
