---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:Pz1KDRY560S419Hb1HmNuA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:Pz1KDRY560S419Hb1HmNuA:O1UjP1kcNbAeJ5jO
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":2,"offset":0,"items":[{"userFilters":["/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/246"],"user":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"},{"userFilters":["/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/246"],"user":"/gdc/account/profile/f825c27211c28b4d1f47132a4dc66b75"}]}}'
  recorded_at: Tue, 05 Jun 2018 06:40:09 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:_N0oviX8OBx-ciMnj3gC9A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:_N0oviX8OBx-ciMnj3gC9A:3JAwLd2Mk8kxHLmo
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"userFilter":{"content":{"tree":{"content":[{"value":"/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/146","position":{"column":14,"line":1},"type":"attribute
        object"},{"content":[{"value":"/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/146/elements?id=0","position":{"column":69,"line":1},"type":"attributeElement
        object"}],"position":{"column":69,"line":1},"type":"list"}],"position":{"column":65,"line":1},"type":"in"},"expression":"[/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/146]
        IN ([/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/146/elements?id=0])"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/246","tags":"","created":"2018-06-05
        08:40:02","identifier":"aaceYQrFaMh1","deprecated":"0","summary":"","isProduction":1,"title":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","category":"userFilter","updated":"2018-06-05
        08:40:02","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Tue, 05 Jun 2018 06:40:10 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:5yYM91Jnihx5SMkEVyjGug
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:5yYM91Jnihx5SMkEVyjGug:YHzLGVtw9zxItEcI
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-06-04
        11:38:25","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","language":"en-US","timezone":null,"ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Tue, 05 Jun 2018 06:40:11 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/f825c27211c28b4d1f47132a4dc66b75
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:9qBWJNo0CaNsrkD5JqDlJw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:9qBWJNo0CaNsrkD5JqDlJw:lboHufVKvOMll5BF
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"tttt@tttt.est","updated":"2018-05-09
        16:13:05","lastName":"LastName","phoneNumber":null,"links":{"auditEvents":"/gdc/account/profile/f825c27211c28b4d1f47132a4dc66b75/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/f825c27211c28b4d1f47132a4dc66b75","projects":"/gdc/account/profile/f825c27211c28b4d1f47132a4dc66b75/projects"},"firstName":"FirstName","country":null,"ssoProvider":null,"language":"en-US","timezone":null,"ipWhitelist":null,"companyName":null,"authenticationModes":[],"login":"tttt@tttt.est","created":"2018-05-09
        16:13:05"}}'
  recorded_at: Tue, 05 Jun 2018 06:40:12 GMT
recorded_with: VCR 4.0.0
