---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:yU21jxB0sEbfi4tm4BQ-NQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:yU21jxB0sEbfi4tm4BQ-NQ:TtsXf29rDK9qk2Qq
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":2,"offset":0,"items":[{"userFilters":["/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/246"],"user":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"},{"userFilters":["/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/246"],"user":"/gdc/account/profile/f825c27211c28b4d1f47132a4dc66b75"}]}}'
  recorded_at: Tue, 05 Jun 2018 06:40:07 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:AeNGcVOu13Qucja5RAmDqQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:AeNGcVOu13Qucja5RAmDqQ:fjxAvUYw6zXYLfmM
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"userFilter":{"content":{"tree":{"content":[{"value":"/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/146","position":{"column":14,"line":1},"type":"attribute
        object"},{"content":[{"value":"/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/146/elements?id=0","position":{"column":69,"line":1},"type":"attributeElement
        object"}],"position":{"column":69,"line":1},"type":"list"}],"position":{"column":65,"line":1},"type":"in"},"expression":"[/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/146]
        IN ([/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/146/elements?id=0])"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/246","tags":"","created":"2018-06-05
        08:40:02","identifier":"aaceYQrFaMh1","deprecated":"0","summary":"","isProduction":1,"title":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","category":"userFilter","updated":"2018-06-05
        08:40:02","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Tue, 05 Jun 2018 06:40:08 GMT
recorded_with: VCR 4.0.0
