---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:Pz1KDRY560S419Hb1HmNuA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:Pz1KDRY560S419Hb1HmNuA:O1UjP1kcNbAeJ5jO
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":2,"offset":0,"items":[{"userFilters":["/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/246"],"user":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"},{"userFilters":["/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/246"],"user":"/gdc/account/profile/f825c27211c28b4d1f47132a4dc66b75"}]}}'
  recorded_at: Tue, 05 Jun 2018 06:40:09 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:_N0oviX8OBx-ciMnj3gC9A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:_N0oviX8OBx-ciMnj3gC9A:3JAwLd2Mk8kxHLmo
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"userFilter":{"content":{"tree":{"content":[{"value":"/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/146","position":{"column":14,"line":1},"type":"attribute
        object"},{"content":[{"value":"/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/146/elements?id=0","position":{"column":69,"line":1},"type":"attributeElement
        object"}],"position":{"column":69,"line":1},"type":"list"}],"position":{"column":65,"line":1},"type":"in"},"expression":"[/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/146]
        IN ([/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/146/elements?id=0])"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/246","tags":"","created":"2018-06-05
        08:40:02","identifier":"aaceYQrFaMh1","deprecated":"0","summary":"","isProduction":1,"title":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","category":"userFilter","updated":"2018-06-05
        08:40:02","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Tue, 05 Jun 2018 06:40:10 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/f825c27211c28b4d1f47132a4dc66b75
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:lNldnE1zf0i0fumQT55juA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:lNldnE1zf0i0fumQT55juA:imxe4akHVJjPdwWm
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"tttt@tttt.est","updated":"2018-05-09
        16:13:05","lastName":"LastName","phoneNumber":null,"links":{"auditEvents":"/gdc/account/profile/f825c27211c28b4d1f47132a4dc66b75/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/f825c27211c28b4d1f47132a4dc66b75","projects":"/gdc/account/profile/f825c27211c28b4d1f47132a4dc66b75/projects"},"firstName":"FirstName","country":null,"ssoProvider":null,"language":"en-US","timezone":null,"ipWhitelist":null,"companyName":null,"authenticationModes":[],"login":"tttt@tttt.est","created":"2018-05-09
        16:13:05"}}'
  recorded_at: Tue, 05 Jun 2018 06:40:11 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/f8v4df6p70cjtk1nietqg535iagr9mgz/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - c4elkFuVnvd2qGIxpw2DHg:KYjDkRcVdHPXGgd0ssCXzw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - c4elkFuVnvd2qGIxpw2DHg:KYjDkRcVdHPXGgd0ssCXzw:Q9pbaGjieiEPt3Pc
      X-Gdc-Request-Time:
      - '104'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":2,"offset":0,"items":[{"userFilters":["/gdc/md/f8v4df6p70cjtk1nietqg535iagr9mgz/obj/249"],"user":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"},{"userFilters":["/gdc/md/f8v4df6p70cjtk1nietqg535iagr9mgz/obj/249"],"user":"/gdc/account/profile/d4479d046823fec867426820fa4a0a26"}]}}'
  recorded_at: Fri, 05 Oct 2018 12:46:40 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/f8v4df6p70cjtk1nietqg535iagr9mgz/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - c4elkFuVnvd2qGIxpw2DHg:K4sc7A_qSvomTBS1VSXkbA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/c9nr3lvf4sfg5cryz9t3ga3z6v7dbxv9/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - qq1j4Y5munsNUKpsBgRQSg:-izWaLWPoohZtdz5m8wH6A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - qq1j4Y5munsNUKpsBgRQSg:-izWaLWPoohZtdz5m8wH6A:sDhJxwWcCpY2PCGg
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":2,"offset":0,"items":[{"userFilters":["/gdc/md/c9nr3lvf4sfg5cryz9t3ga3z6v7dbxv9/obj/249"],"user":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"},{"userFilters":["/gdc/md/c9nr3lvf4sfg5cryz9t3ga3z6v7dbxv9/obj/249"],"user":"/gdc/account/profile/d4479d046823fec867426820fa4a0a26"}]}}'
  recorded_at: Wed, 10 Oct 2018 10:44:58 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/c9nr3lvf4sfg5cryz9t3ga3z6v7dbxv9/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - qq1j4Y5munsNUKpsBgRQSg:_j973iGBQPOH-0lO-N4t0A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/d4479d046823fec867426820fa4a0a26
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - qq1j4Y5munsNUKpsBgRQSg:uS8X3yt4qKC4qjk3SHYOpg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - qq1j4Y5munsNUKpsBgRQSg:uS8X3yt4qKC4qjk3SHYOpg:IifwxkYiZ5cQ5kwz
      X-Gdc-Request-Time:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"tttt@tttt.est","updated":"2018-06-12
        10:52:02","lastName":"LastName","phoneNumber":null,"links":{"auditEvents":"/gdc/account/profile/d4479d046823fec867426820fa4a0a26/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/d4479d046823fec867426820fa4a0a26","projects":"/gdc/account/profile/d4479d046823fec867426820fa4a0a26/projects"},"firstName":"FirstName","country":null,"ssoProvider":null,"timezone":null,"language":"en-US","ipWhitelist":null,"companyName":null,"authenticationModes":[],"login":"tttt@tttt.est","created":"2018-06-12
        10:52:02"}}'
  recorded_at: Wed, 10 Oct 2018 10:45:02 GMT
recorded_with: VCR 4.0.0
