---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects?limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:jAXzObuVnA2ViOlArEv9Hg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '563'
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:jAXzObuVnA2ViOlArEv9Hg:ghUsY6nQWmr8qrav"
    body:
      encoding: ASCII-8BIT
      string: '{"projects":{"paging":{"offset":0,"limit":100,"count":100,"totalCount":3310,"next":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects?offset=100&limit=100"},"items":[{"project":{"content":{"state":"ENABLED","cluster":"","environment":"PRODUCTION","driver":"Pg","isPublic":"0","guidedNavigation":"1"},"meta":{"title":"
        MasterProjectC - QA-test - DO NOT DELETE","summary":"","created":"2017-12-11
        07:34:43","updated":"2020-05-18 14:33:38","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"},"links":{"self":"/gdc/projects/tjs1ixbs1q9jyheklrsmvs87g7u0s1tm","roles":"/gdc/projects/tjs1ixbs1q9jyheklrsmvs87g7u0s1tm/roles","users":"/gdc/projects/tjs1ixbs1q9jyheklrsmvs87g7u0s1tm/users?link=1&offset=0&limit=100","userRoles":"/gdc/projects/tjs1ixbs1q9jyheklrsmvs87g7u0s1tm/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/tjs1ixbs1q9jyheklrsmvs87g7u0s1tm/users/5ad80b895edcc438e5a4418e222733fa/permissions","invitations":"/gdc/projects/tjs1ixbs1q9jyheklrsmvs87g7u0s1tm/invitations","ldm":"/gdc/projects/tjs1ixbs1q9jyheklrsmvs87g7u0s1tm/ldm","ldm_thumbnail":"/gdc/projects/tjs1ixbs1q9jyheklrsmvs87g7u0s1tm/ldm?thumbnail=1","uploads":"/gdc/projects/tjs1ixbs1q9jyheklrsmvs87g7u0s1tm/uploads/","metadata":"/gdc/md/tjs1ixbs1q9jyheklrsmvs87g7u0s1tm","templates":"/gdc/md/tjs1ixbs1q9jyheklrsmvs87g7u0s1tm/templates","connectors":"/gdc/projects/tjs1ixbs1q9jyheklrsmvs87g7u0s1tm/connectors","schedules":"/gdc/projects/tjs1ixbs1q9jyheklrsmvs87g7u0s1tm/schedules","dataload":"/gdc/projects/tjs1ixbs1q9jyheklrsmvs87g7u0s1tm/dataload","execute":"/gdc/projects/tjs1ixbs1q9jyheklrsmvs87g7u0s1tm/execute","clearCaches":"/gdc/projects/tjs1ixbs1q9jyheklrsmvs87g7u0s1tm/clearCaches","projectFeatureFlags":"/gdc/projects/tjs1ixbs1q9jyheklrsmvs87g7u0s1tm/projectFeatureFlags","config":"/gdc/projects/tjs1ixbs1q9jyheklrsmvs87g7u0s1tm/config"}}},{"project":{"content":{"state":"ENABLED","cluster":"","environment":"PRODUCTION","driver":"Pg","isPublic":"0","guidedNavigation":"1"},"meta":{"title":"[Bich]-SF
        Client1","summary":"","created":"2019-07-18 10:33:01","updated":"2020-05-18
        15:02:51","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"},"links":{"self":"/gdc/projects/ks6d2twm9bi[...]
