microservices:
  lcm-bricks:
    docker:
      dockerfile: './Dockerfile'
      argumentsFromFiles:
        BRICKS_VERSION: 'VERSION'

integratedTests:
  - kind: 'image'
    env: bash
    path: .
    vault:
      GD_SPEC_PASSWORD: "$VAULT_SPECIAL_PREFIX/ruby-test-bia-encryption-key"
    command: ./bin/run_smoke_tests.sh
    image: harbor.intgdc.com/staging/lcm-bricks:GIT_REV
    repo_mount_dir: /src
    microservices:
      - lcm-bricks

configFilesForUpdate:
  - '.gdc-ii-config.yaml'
  - '.gdc-ii-config-chart.yaml'

customConstants:
  pipeline.deploy.testEnvironments: ['stg9', 'stg3', 'stg2', 'stg']
