## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## IDEA
.idea/

## PROJECT::GENERAL
.bundle
coverage
rdoc
pkg

## PROJECT::SPECIFIC
Gemfile.lock

# YARD
.yardoc/
