language: ruby

cache: bundler

sudo: false

branches:
  except:
    - gh-pages
    - next_doc_release

env:
  global:
    - secure: "d/fE2Iuyrf5mfvQPe2nl++a06hpy82mEM5jbmXmS1ttQgMpf955GWTmZ+16VBZa9MU2pJLBXoBXy53tp8P9ADysE4R7YCeI68yE0CZ/OuU+FVADZ9/F6i4nlUESjNNQnlC0mTIjDMO5WI9HbVQiS07HqDHzr6bcS51ZvBzItcn4="  
    - TRAVIS_BUILD=true
  
rvm:
  - 1.9.3
  # - ruby-head
  - jruby-19mode
  # - rbx-2.2.9
  - 2.1
  - 2.2

before_install:
  - gem update --system
  - gem update bundler

before_script:
  - cp spec/data/.gooddata ~/

script: bundle exec rake ci
