--protected
--no-private
--verbose
--markup markdown
--markup-provider redcarpet
--asset doc/images:images
--readme README.md
--hide-void-return
--exclude LICENSE
--output-dir doc/html
lib/**/*.rb
ext/**/*{.m,.c}
-
README.md
