version: '2'
services:
  appstore:
    image: gooddata/appstore
    build:
      context: .
      dockerfile: Dockerfile.jruby
    links:
     - localstack
    environment:
     - GD_ENV
     - GDC_LOG_LEVEL
     - JRUBY_OPTS=-J-Xmx1g
     - GD_SPEC_PASSWORD
     - VCR_ON
     - POSTGRES_DB=gooddata
     - POSTGRES_USER=gooddata
     - POSTGRES_PASSWORD=changeit
    volumes:
      - .:/src
    volumes_from:
      - bundle
    mem_limit: 2500m
  localstack:
    image: hahihula/localstack_dockerfile
    container_name: testbucket.localstack
    expose:
     - "4572"
    environment:
     - SERVICES=s3:4572
  bundle:
    image: busybox
    volumes:
      - /bundle
