---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/px0sugvog1moq0y2pzps4o0cczy6civf/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:WG1_7uoZbT50tI97uScbPg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '48'
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:WG1_7uoZbT50tI97uScbPg:t8nKtOlzT0e5k7Bg"
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/px0sugvog1moq0y2pzps4o0cczy6civf/etltask/5dc1cc03f386479847b13d324478bd3000000089"},"token":"<TOKEN>"}}'
  recorded_at: Thu, 07 May 2020 11:55:29 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/px0sugvog1moq0y2pzps4o0cczy6civf/etltask/5dc1cc03f386479847b13d324478bd3000000089
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:Nqq1tUKYIvGnMmoZxXEBJg"
      Process:
      - 'true'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '34'
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:Nqq1tUKYIvGnMmoZxXEBJg:JcBfhqvY5BS3mKFh"
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Thu, 07 May 2020 11:55:30 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"project clone"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"PRODUCTION","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:UPAXBJOIsyCfZIi4wpubmw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '411'
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:UPAXBJOIsyCfZIi4wpubmw:2ZhFusW6qtIZWlae"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/tby2ibh0ee7r43xckwe8kewrmgmw68ad"}'
  recorded_at: Thu, 07 May 2020 11:55:39 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/tby2ibh0ee7r43xckwe8kewrmgmw68ad
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:mT920D28xMs9z5KEXOwXVw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '56'
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:mT920D28xMs9z5KEXOwXVw:t0Ln7Mo4m7HldeFQ"
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADING"},"links":{"ldm_thumbnail":"/gdc/projects/tby2ibh0ee7r43xckwe8kewrmgmw68ad/ldm?thumbnail=1","self":"/gdc/projects/tby2ibh0ee7r43xckwe8kewrmgmw68ad","clearCaches":"/gdc/projects/tby2ibh0ee7r43xckwe8kewrmgmw68ad/clearCaches","invitations":"/gdc/projects/tby2ibh0ee7r43xckwe8kewrmgmw68ad/invitations","users":"/gdc/projects/tby2ibh0ee7r43xckwe8kewrmgmw68ad/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/tby2ibh0ee7r43xckwe8kewrmgmw68ad/checkXaeCompatibility","uploads":"/gdc/projects/tby2ibh0ee7r43xckwe8kewrmgmw68ad/uploads/","ldm":"/gdc/projects/tby2ibh0ee7r43xckwe8kewrmgmw68ad/ldm","metadata":"/gdc/md/tby2ibh0ee7r43xckwe8kewrmgmw68ad","publicartifacts":"/gdc/projects/tby2ibh0ee7r43xckwe8kewrmgmw68ad/publicartifacts","roles":"/gdc/projects/tby2ibh0ee7r43xckwe8kewrmgmw68ad/roles","userRoles":"/gdc/projects/tby2ibh0ee7r43xckwe8kewrmgmw68ad/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/tby2ibh0ee7r43xckwe8kewrmgmw68ad/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/tby2ibh0ee7r43xckwe8kewrmgmw68ad/dataload","connectors":"/gdc/projects/tby2ibh0ee7r43xckwe8kewrmgmw68ad/connectors","execute":"/gdc/projects/tby2ibh0ee7r43xckwe8kewrmgmw68ad/execute","config":"/gdc/projects/tby2ibh0ee7r43xckwe8kewrmgmw68ad/config","projectFeatureFlags":"/gdc/projects/tby2ibh0ee7r43xckwe8kewrmgmw68ad/projectFeatureFlags","schedules":"/gdc/projects/tby2ibh0ee7r43xckwe8kewrmgmw68ad/schedules","templates":"/gdc/md/tby2ibh0ee7r43xckwe8kewrmgmw68ad/templates"},"meta":{"created":"2020-05-07
        13:55:40","summary":"No summary","updated":"2020-05-07 13:55:41","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"project
        clone","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 07 May 2020 11:55:41 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/tby2ibh0ee7r43xckwe8kewrmgmw68ad/maintenance/import
    body:
      encoding: UTF-8
      string: '{"importProject":{"token":"<TOKEN>"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:tzurgdzgeq_W6G2c_jlnUw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '54'
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:tzurgdzgeq_W6G2c_jlnUw:52yPcSfE9TaueMAX"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/tby2ibh0ee7r43xckwe8kewrmgmw68ad/etltask/3771625778108c747268d4fa2f30924100000089"}'
  recorded_at: Thu, 07 May 2020 11:55:50 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/tby2ibh0ee7r43xckwe8kewrmgmw68ad
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:mBWk121e9l2kUhe_peo_XA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '62'
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:mBWk121e9l2kUhe_peo_XA:72yNrXqiJ2N3udSq"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 07 May 2020 11:55:51 GMT
recorded_with: VCR 5.1.0
