---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fv57rgza7vwmw2owv300fdapp78i49ld/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:1eSYqJT7rBgvJwTEWTVXMA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '24'
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:1eSYqJT7rBgvJwTEWTVXMA:mumTToGy0bNWDtcB"
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/fv57rgza7vwmw2owv300fdapp78i49ld/etltask/cce81035e881b1ddf01bf6d585fea0380000006f"},"token":"<TOKEN>"}}'
  recorded_at: Tue, 11 Oct 2022 07:17:36 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fv57rgza7vwmw2owv300fdapp78i49ld/etltask/cce81035e881b1ddf01bf6d585fea0380000006f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:me9JUhZgWp6St18JxbowMw"
      Process:
      - 'true'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '13'
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:me9JUhZgWp6St18JxbowMw:afctz1QB73PHsEVx"
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"status":"RUNNING","msg":""}}'
  recorded_at: Tue, 11 Oct 2022 07:17:37 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"project clone"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"PRODUCTION","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:f8MXx4tbZ27EXEqvTjXRoA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '196'
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:f8MXx4tbZ27EXEqvTjXRoA:zB4O0InDZ7eaLkIU"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/p0axgv2ziyiefxlugu25lti293h8c8kb"}'
  recorded_at: Tue, 11 Oct 2022 07:17:40 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/p0axgv2ziyiefxlugu25lti293h8c8kb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:dAMqSxpEisFwjoYi7OxabA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '30'
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:dAMqSxpEisFwjoYi7OxabA:qniNizELXRyofNDB"
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","environment":"PRODUCTION","driver":"Pg","state":"ENABLED","isPublic":"0","cluster":""},"meta":{"updated":"2022-10-11
        09:17:41","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"project
        clone","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","created":"2022-10-11
        09:17:40","summary":"No summary"},"links":{"clearCaches":"/gdc/projects/p0axgv2ziyiefxlugu25lti293h8c8kb/clearCaches","userPermissions":"/gdc/projects/p0axgv2ziyiefxlugu25lti293h8c8kb/users/5ad80b895edcc438e5a4418e222733fa/permissions","checkXaeCompatibility":"/gdc/projects/p0axgv2ziyiefxlugu25lti293h8c8kb/checkXaeCompatibility","connectors":"/gdc/projects/p0axgv2ziyiefxlugu25lti293h8c8kb/connectors","ldm_thumbnail":"/gdc/projects/p0axgv2ziyiefxlugu25lti293h8c8kb/ldm?thumbnail=1","uploads":"/gdc/projects/p0axgv2ziyiefxlugu25lti293h8c8kb/uploads/","roles":"/gdc/projects/p0axgv2ziyiefxlugu25lti293h8c8kb/roles","metadata":"/gdc/md/p0axgv2ziyiefxlugu25lti293h8c8kb","templates":"/gdc/md/p0axgv2ziyiefxlugu25lti293h8c8kb/templates","dataload":"/gdc/projects/p0axgv2ziyiefxlugu25lti293h8c8kb/dataload","schedules":"/gdc/projects/p0axgv2ziyiefxlugu25lti293h8c8kb/schedules","invitations":"/gdc/projects/p0axgv2ziyiefxlugu25lti293h8c8kb/invitations","userRoles":"/gdc/projects/p0axgv2ziyiefxlugu25lti293h8c8kb/users/5ad80b895edcc438e5a4418e222733fa/roles","users":"/gdc/projects/p0axgv2ziyiefxlugu25lti293h8c8kb/users?link=1&offset=0&limit=100","self":"/gdc/projects/p0axgv2ziyiefxlugu25lti293h8c8kb","projectFeatureFlags":"/gdc/projects/p0axgv2ziyiefxlugu25lti293h8c8kb/projectFeatureFlags","config":"/gdc/projects/p0axgv2ziyiefxlugu25lti293h8c8kb/config","execute":"/gdc/projects/p0axgv2ziyiefxlugu25lti293h8c8kb/execute","ldm":"/gdc/projects/p0axgv2ziyiefxlugu25lti293h8c8kb/ldm"}}}'
  recorded_at: Tue, 11 Oct 2022 07:17:42 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/p0axgv2ziyiefxlugu25lti293h8c8kb/maintenance/import
    body:
      encoding: UTF-8
      string: '{"importProject":{"token":"<TOKEN>"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:27hAk182frRswwVF5pywJw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '41'
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:27hAk182frRswwVF5pywJw:zufWNXVRSPEFjOw1"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/p0axgv2ziyiefxlugu25lti293h8c8kb/etltask/bc095aa01fbda3f092593238f5fc16620000006f"}'
  recorded_at: Tue, 11 Oct 2022 07:17:46 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/p0axgv2ziyiefxlugu25lti293h8c8kb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:8dxi_mZaWIqlD50FuCgFXQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Request-Time:
      - '30'
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:8dxi_mZaWIqlD50FuCgFXQ:gcW3CyNmlpczfl7N"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Oct 2022 07:17:47 GMT
recorded_with: VCR 5.0.0
