---
http_interactions:
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"first","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:4rR644Yb9lendMIMN2_o1w"
      Stats-On:
      - ''
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:4rR644Yb9lendMIMN2_o1w:0UH5aaFIxfI6iipL"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 18 Apr 2019 15:02:54 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/styleSettings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:l5Nb5T9NFUXkWmvM_461jA"
      Stats-On:
      - ''
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '15'
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:l5Nb5T9NFUXkWmvM_461jA:xhVk9J62gK3yvWM1"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 18 Apr 2019 15:02:56 GMT
recorded_with: VCR 4.0.0
