---
http_interactions:
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"first","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:Ug4G95f4bJRB091Pmxq_lA"
      Stats-On:
      - ''
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '33'
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:Ug4G95f4bJRB091Pmxq_lA:Q4yVEo0x3OUPFpeD"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 18 Apr 2019 15:02:53 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/styleSettings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:AFU6n0heCDJFUMOl4uChEA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:AFU6n0heCDJFUMOl4uChEA:BnNDwPF3NgD6iX23"
      X-Gdc-Request-Time:
      - '15'
    body:
      encoding: ASCII-8BIT
      string: '{"styleSettings":{"chartPalette":[{"guid":"first","fill":{"r":155,"g":255,"b":0}}]}}'
  recorded_at: Thu, 18 Apr 2019 15:02:54 GMT
recorded_with: VCR 4.0.0
