---
http_interactions:
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"first","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:pShZrF1tv56ASmhpckGYXw
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '18'
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:pShZrF1tv56ASmhpckGYXw:oZImydQZaz8dgclE
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 09:30:10 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/g01t7pakaiewbhrpx1cbjjxuvnwto9y0/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"first","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - yE-LCm26U5U8hzvGL23cfw:GcUz8Jo21l0QkBGwRcQ7Qw
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '17'
      X-Gdc-Request:
      - yE-LCm26U5U8hzvGL23cfw:GcUz8Jo21l0QkBGwRcQ7Qw:FEI4Gz2qjULHqgzA
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 05 Oct 2018 14:10:34 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/cdd0962rh01umlc6ww7ym6g31eajctbf/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"first","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - tYCDJl2o9aMce023wyOyyg:5uZ1IasA2-h1zRdX96ZnbA
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '21'
      X-Gdc-Request:
      - tYCDJl2o9aMce023wyOyyg:5uZ1IasA2-h1zRdX96ZnbA:TBjWHXynBAAFRCjw
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 08 Oct 2018 15:27:43 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/i2av1jzqlb0qkifmj2qahvtc93jacud1/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"first","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":C0WhuGerJJq0lIQXJuQj9w:e7oaWaEgBdzNk9mahp5ivg"
      Stats-On:
      - ''
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - ":C0WhuGerJJq0lIQXJuQj9w:e7oaWaEgBdzNk9mahp5ivg:shWZqSjooqWdsouS"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 21 Jan 2019 19:19:28 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/dt0k3vaomqkz5ryjla2kqi787m0xiskt/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"first","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mxVtowWR20XKkTWKivqeow:f4ybp2GfHxk-wD8aMozkSg"
      Stats-On:
      - ''
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '20'
      X-Gdc-Request:
      - ":mxVtowWR20XKkTWKivqeow:f4ybp2GfHxk-wD8aMozkSg:SYAqFsptGJ224Dvq"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 21 Jan 2019 19:55:18 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/dt0k3vaomqkz5ryjla2kqi787m0xiskt/styleSettings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mxVtowWR20XKkTWKivqeow:34XeZGJrRkuEuHNdaQsGTg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mxVtowWR20XKkTWKivqeow:34XeZGJrRkuEuHNdaQsGTg:2sO0fDfc8Ur39ewP"
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"styleSettings":{"chartPalette":[{"guid":"first","fill":{"r":155,"g":255,"b":0}}]}}'
  recorded_at: Mon, 21 Jan 2019 19:55:19 GMT
recorded_with: VCR 4.0.0
