---
http_interactions:
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"first","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:03a3QUeGEjhK0F1wgKcXag
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '36'
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:03a3QUeGEjhK0F1wgKcXag:myBbszVWYRqHVec5
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 09:30:08 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/g01t7pakaiewbhrpx1cbjjxuvnwto9y0/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"first","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - yE-LCm26U5U8hzvGL23cfw:d-h2vhGmbLcONvOYb9DzUg
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '31'
      X-Gdc-Request:
      - yE-LCm26U5U8hzvGL23cfw:d-h2vhGmbLcONvOYb9DzUg:3o1KEtKBh2Tk30H9
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 05 Oct 2018 14:10:32 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/cdd0962rh01umlc6ww7ym6g31eajctbf/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"first","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - tYCDJl2o9aMce023wyOyyg:TZglSlX7dc9u9PwCv2WWUw
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '36'
      X-Gdc-Request:
      - tYCDJl2o9aMce023wyOyyg:TZglSlX7dc9u9PwCv2WWUw:hcCwF6ThYyS17sWv
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 08 Oct 2018 15:27:40 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/i2av1jzqlb0qkifmj2qahvtc93jacud1/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"first","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":C0WhuGerJJq0lIQXJuQj9w:bxxAUp3eo0Fo2VGW3PgliA"
      Stats-On:
      - ''
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '86'
      X-Gdc-Request:
      - ":C0WhuGerJJq0lIQXJuQj9w:bxxAUp3eo0Fo2VGW3PgliA:JqSFFTksZ5Gb81OC"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 21 Jan 2019 19:19:23 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/dt0k3vaomqkz5ryjla2kqi787m0xiskt/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"first","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mxVtowWR20XKkTWKivqeow:VZxKV2UMSxFOFEDh_cQl3A"
      Stats-On:
      - ''
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '36'
      X-Gdc-Request:
      - ":mxVtowWR20XKkTWKivqeow:VZxKV2UMSxFOFEDh_cQl3A:xtCiYcsP64PSfLYQ"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 21 Jan 2019 19:55:13 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/shrnqg4etijnzw681j7shrefot2diq35/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"first","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ufd3SRAmY0JACthDF0wRkg:_ZYwWjaovbgEblghU1qLZQ"
      Stats-On:
      - ''
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '39'
      X-Gdc-Request:
      - ":ufd3SRAmY0JACthDF0wRkg:_ZYwWjaovbgEblghU1qLZQ:zdx4FygzLcsB74DW"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Jan 2019 14:10:42 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/shrnqg4etijnzw681j7shrefot2diq35/styleSettings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ufd3SRAmY0JACthDF0wRkg:WlubxHsmnmULE0qDuGSDiQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ufd3SRAmY0JACthDF0wRkg:WlubxHsmnmULE0qDuGSDiQ:eXbHUfgBc0AI72PX"
      X-Gdc-Request-Time:
      - '16'
    body:
      encoding: ASCII-8BIT
      string: '{"styleSettings":{"chartPalette":[{"guid":"first","fill":{"r":155,"g":255,"b":0}}]}}'
  recorded_at: Thu, 24 Jan 2019 14:10:42 GMT
recorded_with: VCR 4.0.0
