---
http_interactions:
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"first","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:Ug4G95f4bJRB091Pmxq_lA"
      Stats-On:
      - ''
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '33'
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:Ug4G95f4bJRB091Pmxq_lA:Q4yVEo0x3OUPFpeD"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 18 Apr 2019 15:02:53 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/op24jzavrcslcsr2mb7gwaqwqlbpxsu8/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"first","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:z30sX_RuB33cWEFccWTxHA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '38'
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:z30sX_RuB33cWEFccWTxHA:8ln6ZS2W7sZFwv0b"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 07 May 2020 09:53:17 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/op24jzavrcslcsr2mb7gwaqwqlbpxsu8/styleSettings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:qqJUakvoLV7MZYWTl-n3XQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '19'
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:qqJUakvoLV7MZYWTl-n3XQ:2UqzHbSzj0PFV9Bm"
    body:
      encoding: ASCII-8BIT
      string: '{"styleSettings":{"chartPalette":[{"guid":"first","fill":{"r":155,"g":255,"b":0}}]}}'
  recorded_at: Thu, 07 May 2020 09:53:18 GMT
recorded_with: VCR 5.1.0
