---
http_interactions:
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"first","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:-4rszftokOaj1vKPmg1M5w"
      Stats-On:
      - ''
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:-4rszftokOaj1vKPmg1M5w:wWQZyFCwCZzXqUVo"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 18 Apr 2019 15:02:56 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/op24jzavrcslcsr2mb7gwaqwqlbpxsu8/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"first","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:VRUi7HUw_sK-Y1HR1TG3ng"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '17'
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:VRUi7HUw_sK-Y1HR1TG3ng:C4X16GS9941FFJpy"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 07 May 2020 09:53:22 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/efqh4uj0r95jp0dh9qh4exucsu3dklu3/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"first","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":j-puMCLbjck-2hCYvC-cJw:79g22ccsCyeRm3oa8MAEJQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Request-Time:
      - '8'
      X-Gdc-Request:
      - ":j-puMCLbjck-2hCYvC-cJw:79g22ccsCyeRm3oa8MAEJQ:0oyZXNy7Kx2bXtyq"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 11 Aug 2022 11:31:45 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/efqh4uj0r95jp0dh9qh4exucsu3dklu3/styleSettings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":j-puMCLbjck-2hCYvC-cJw:ZAitl-tAZq3z9srYkBVMUw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Gdc-Request-Time:
      - '8'
      X-Gdc-Request:
      - ":j-puMCLbjck-2hCYvC-cJw:ZAitl-tAZq3z9srYkBVMUw:WucwWVeuVG1RdkFn"
    body:
      encoding: ASCII-8BIT
      string: '{"styleSettings":{"chartPalette":[{"guid":"first","fill":{"r":155,"g":255,"b":0}}]}}'
  recorded_at: Thu, 11 Aug 2022 11:31:46 GMT
recorded_with: VCR 5.0.0
