---
http_interactions:
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/qxc8nm6y2yt6c669z4ax4828lpzz1bp2/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"first","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Q5UK46PuV-owGJ7_0P1OTw:Q_-hcnpDZgwHDshvQMioLw
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '26'
      X-Gdc-Request:
      - Q5UK46PuV-owGJ7_0P1OTw:Q_-hcnpDZgwHDshvQMioLw:VmiTYdPraUF5DE9A
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 01 Jun 2018 12:24:04 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/qxc8nm6y2yt6c669z4ax4828lpzz1bp2/styleSettings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Q5UK46PuV-owGJ7_0P1OTw:FddKf--Eo7LpCYaBr1BKPQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Q5UK46PuV-owGJ7_0P1OTw:FddKf--Eo7LpCYaBr1BKPQ:Vz3CzC7xOjfaCclB
      X-Gdc-Request-Time:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"styleSettings":{"chartPalette":[{"guid":"first","fill":{"r":155,"g":255,"b":0}}]}}'
  recorded_at: Fri, 01 Jun 2018 12:24:05 GMT
recorded_with: VCR 4.0.0
