---
http_interactions:
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"first","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:J8OPBKAok8l2IT49WD3ZXw
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '19'
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:J8OPBKAok8l2IT49WD3ZXw:Nm6fom4T6J8DS22l
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 09:30:09 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/g01t7pakaiewbhrpx1cbjjxuvnwto9y0/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"first","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - yE-LCm26U5U8hzvGL23cfw:0uYghXn9_6Bd_nsdw3mFSA
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '15'
      X-Gdc-Request:
      - yE-LCm26U5U8hzvGL23cfw:0uYghXn9_6Bd_nsdw3mFSA:NMuvD9nse5ogxbFI
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 05 Oct 2018 14:10:33 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/cdd0962rh01umlc6ww7ym6g31eajctbf/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"first","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - tYCDJl2o9aMce023wyOyyg:QQ_UGA4_qEfYGq3cJw8jPA
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - tYCDJl2o9aMce023wyOyyg:QQ_UGA4_qEfYGq3cJw8jPA:4QTjAS74A18dH3XG
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 08 Oct 2018 15:27:41 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/i2av1jzqlb0qkifmj2qahvtc93jacud1/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"first","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":C0WhuGerJJq0lIQXJuQj9w:UY0VrzuLjd6_FHSya01zig"
      Stats-On:
      - ''
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '20'
      X-Gdc-Request:
      - ":C0WhuGerJJq0lIQXJuQj9w:UY0VrzuLjd6_FHSya01zig:KOhrtkrlNPM9JIrJ"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 21 Jan 2019 19:19:25 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/dt0k3vaomqkz5ryjla2kqi787m0xiskt/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"first","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mxVtowWR20XKkTWKivqeow:KLAK5WeG31x3kakoiNK-rw"
      Stats-On:
      - ''
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '17'
      X-Gdc-Request:
      - ":mxVtowWR20XKkTWKivqeow:KLAK5WeG31x3kakoiNK-rw:EySI7yY4bAt92gvY"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 21 Jan 2019 19:55:15 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/shrnqg4etijnzw681j7shrefot2diq35/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"first","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ufd3SRAmY0JACthDF0wRkg:2BNtpPzcklz6PTySvd01Pg"
      Stats-On:
      - ''
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '21'
      X-Gdc-Request:
      - ":ufd3SRAmY0JACthDF0wRkg:2BNtpPzcklz6PTySvd01Pg:XkEgVA5GwjNIyYjd"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Jan 2019 14:10:43 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/shrnqg4etijnzw681j7shrefot2diq35/styleSettings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ufd3SRAmY0JACthDF0wRkg:ok5l5vixfLxWfVk9VAmZhw"
      Stats-On:
      - ''
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '14'
      X-Gdc-Request:
      - ":ufd3SRAmY0JACthDF0wRkg:ok5l5vixfLxWfVk9VAmZhw:wCEmoUQZ3CO5uHI3"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Jan 2019 14:10:45 GMT
recorded_with: VCR 4.0.0
