---
http_interactions:
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"first","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:4rR644Yb9lendMIMN2_o1w"
      Stats-On:
      - ''
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:4rR644Yb9lendMIMN2_o1w:0UH5aaFIxfI6iipL"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 18 Apr 2019 15:02:54 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/op24jzavrcslcsr2mb7gwaqwqlbpxsu8/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"first","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:wEoGU_MggLLN8ORZqL-OgA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '19'
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:wEoGU_MggLLN8ORZqL-OgA:zAAwU1AUEazW1yyV"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 07 May 2020 09:53:19 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/efqh4uj0r95jp0dh9qh4exucsu3dklu3/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"first","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":j-puMCLbjck-2hCYvC-cJw:EtBombNvqW47Ee1BKnNYtQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Request-Time:
      - '62'
      X-Gdc-Request:
      - ":j-puMCLbjck-2hCYvC-cJw:EtBombNvqW47Ee1BKnNYtQ:crNm83vYlE5WVqjC"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 11 Aug 2022 11:31:42 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/efqh4uj0r95jp0dh9qh4exucsu3dklu3/styleSettings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":j-puMCLbjck-2hCYvC-cJw:PAMdKROyA8efql4m-I-Dvg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Request-Time:
      - '8'
      X-Gdc-Request:
      - ":j-puMCLbjck-2hCYvC-cJw:PAMdKROyA8efql4m-I-Dvg:Pt88UUzUEVrrNf7G"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 11 Aug 2022 11:31:44 GMT
recorded_with: VCR 5.0.0
