---
http_interactions:
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/qxc8nm6y2yt6c669z4ax4828lpzz1bp2/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"first","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Q5UK46PuV-owGJ7_0P1OTw:z-2DtnCMSbLKO3aDm8JoxA
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '10'
      X-Gdc-Request:
      - Q5UK46PuV-owGJ7_0P1OTw:z-2DtnCMSbLKO3aDm8JoxA:qrdBPOwrhKWD1ycF
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 01 Jun 2018 12:24:05 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/qxc8nm6y2yt6c669z4ax4828lpzz1bp2/styleSettings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Q5UK46PuV-owGJ7_0P1OTw:sfGTQELvD1vv0z5PZmU5Ig
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '8'
      X-Gdc-Request:
      - Q5UK46PuV-owGJ7_0P1OTw:sfGTQELvD1vv0z5PZmU5Ig:tax9Kb0V6dwcjOoI
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 01 Jun 2018 12:24:06 GMT
recorded_with: VCR 4.0.0
