---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/fntyccmdi4qxtuvede52gb9lc4lbbk2t/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:X4gSPwxl1dikoDumg2zIug"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:X4gSPwxl1dikoDumg2zIug:1VCrFRU7TVLKjrnP"
      X-Gdc-Request-Time:
      - '321'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":32,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/fntyccmdi4qxtuvede52gb9lc4lbbk2t/obj/136"}],"displayForms":[{"content":{"formOf":"/gdc/md/fntyccmdi4qxtuvede52gb9lc4lbbk2t/obj/220","expression":"[/gdc/md/fntyccmdi4qxtuvede52gb9lc4lbbk2t/obj/137]","default":1},"links":{"elements":"/gdc/md/fntyccmdi4qxtuvede52gb9lc4lbbk2t/obj/238/elements"},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/fntyccmdi4qxtuvede52gb9lc4lbbk2t/obj/238","tags":"","created":"2010-08-02
        08:13:42","identifier":"effective_to_date.aag81lMifn6q","deprecated":"0","summary":"DisplayForm
        Year.","isProduction":1,"title":"Year (Effective To Date)","category":"attributeDisplayForm","updated":"2019-02-21
        10:49:36","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/fntyccmdi4qxtuvede52gb9lc4lbbk2t/obj/270","sort":"pk","dimension":"/gdc/md/fntyccmdi4qxtuvede52gb9lc4lbbk2t/obj/117","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/fntyccmdi4qxtuvede52gb9lc4lbbk2t/obj/184"},{"multivalue":false,"type":"col","data":"/gdc/md/fntyccmdi4qxtuvede52gb9lc4lbbk2t/obj/192"},{"multivalue":false,"type":"col","data":"/gdc/md/fntyccmdi4qxtuvede52gb9lc4lbbk2t/obj/207"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/fntyccmdi4qxtuvede52gb9lc4lbbk2t/obj/220","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"effective_to_date.year","deprecat[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/cb9v0ygjc58fefdwwscxqcw4jp30wyij/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:G1AwTBUK1ujjM-mO5AZ1ew"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
     [...]
