---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:TS0g0Nr17TL7yq963Ahmfg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:TS0g0Nr17TL7yq963Ahmfg:PJnzVge3KLyOe5br
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/schedules","items":[{"schedule":{"name":"main.rb","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"main.rb","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"598bc287-b915-4dc3-9f4c-061ca6c24d03"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/schedules/5c1253ebe4b0e9d3950de8d6","executions":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/schedules/5c1253ebe4b0e9d3950de8d6/executions"},"triggerScheduleId":"5c1253e9e4b0e9d3950de8d5"}},{"schedule":{"name":"test.grf","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"graph/test.grf","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"ea0900fe-51c2-4b97-a56f-85f65c4532e5"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2019-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/schedules/5c1253e9e4b0e9d3950de8d5","executions":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/schedules/5c1253e9e4b0e9d3950de8d5/executions"}}}]}}'
  recorded_at: Thu, 13 Dec 2018 12:54:25 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/np9cke7ukj3p139o276advdvtwjlin8v/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:HqFlYg-RbudW-X9zGeLjUw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:HqFlYg-RbudW-X9zGeLjUw:UeaCvqXEA20bmCEi
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/np9cke7ukj3p139o276advdvtwjlin8v/schedules","items":[{"schedule":{"name":"test.grf","type":"MSETL","state":"ENABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","EXECUTABLE":"graph/test.grf","param_2":"b","param_1":"a","print_reverted":"hidden_msg_from_rollout_brick,SECURE_PARAM_2","msg_from_rollout_brick":"Hi,
        I was set by rollout brick","PROCESS_ID":"9a28f9ce-b6fc-4249-a518-f3a59652cf57"},"hiddenParams":{"secure_param_2":null,"secure_param_1":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2019-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/np9cke7ukj3p139o276advdvtwjlin8v/schedules/5c12550fe4b0e4c306ea2bb9","executions":"/gdc/projects/np9cke7ukj3p139o276advdvtwjlin8v/schedules/5c12550fe4b0e4c306ea2bb9/executions"}}},{"schedule":{"name":"main.rb","type":"MSETL","state":"ENABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","EXECUTABLE":"main.rb","param_2":"b","param_1":"a","print_reverted":"hidden_msg_from_rollout_brick,SECURE_PARAM_2","msg_from_rollout_brick":"Hi,
        I was set by rollout brick","PROCESS_ID":"9f300806-a629-4eaf-ab1a-a7f3a5f7b82d"},"hiddenParams":{"secure_param_2":null,"secure_param_1":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/np9cke7ukj3p139o276advdvtwjlin8v/schedules/5c12550fe4b0e4c306ea2bba","executions":"/gdc/projects/np9cke7ukj3p139o276advdvtwjlin8v/schedules/5c12550fe4b0e4c306ea2bba/executions"},"triggerScheduleId":"5c12550fe4b0e4c306ea2bb9"}}]}}'
  recorded_at: Thu, 13 Dec 2018 12:54:26 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/cn0e66ez01xxl9onyuukb08on756mpqm/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:vBDkZgDF-0xKRsQ5KUoJUw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applica[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/uxied118kzjwc2yzlzufb82fi3gaeuk5/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:Ijm50zEdBmZnphLhud5Ohw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applica[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/d1tf7paf3eqog4p54ja56pptukxb33lb/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:yk5w3XRFfHjVKS-HmZT_hw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:yk5w3XRFfHjVKS-HmZT_hw:P06uMAFYG4WWbVJn
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/d1tf7paf3eqog4p54ja56pptukxb33lb/schedules","items":[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/syfma5nx5pph2r603kh6y4972r8dleg8/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:VZVsO6koWQXnHwovMqoDPg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applicat[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/b6i9k372fa30zvencu45w82hjhmbxvcd/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:7NuHx5ABsrwwFd7V8aAhaA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applicat[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/t2ksyc5wv8h5vr924y4w90r7qly5itzf/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:rpH0awspos1hHdUZUsiazQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applicat[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/bp7bxi9c0m70blw2enw3rxh8br0m38f9/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:Kj5H7ZIX337eotqfxIpfPg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:Kj5H7ZIX337eotqfxIpfPg:agXDvM3PG04KXq9W
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/bp7bxi9c0m70blw2enw3rxh8br0m38f9/schedules","items":[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/g6og09ase2wmxcu6jz95ndkl54cmbd3x/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:tT66kb9jcsetWwU64jxXzQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applica[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/e7gdvwe2ozfv3ndhw95a3gu5l568yntu/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:Gix_NB4ad_zJMumqKr0o9w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applica[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/usv2plnsajrcvwlxi4ky5fx9fpf25egg/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:XiUInmogT9iALkWQ6jJwgQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applica[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/capadyx6a65yjyl8b7x3op8nkqkd9f43/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:z7UCwd7NeVDw5oOOYYP82g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:z7UCwd7NeVDw5oOOYYP82g:yRlNu39MTwvzbIJZ"
      X-Gdc-Request-Time:
      - '54'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/capadyx6a65yjyl8b7x3op8nkqkd9f43/schedules","items":[{"sched[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/tjxh5yoltw6un996v7h4br75adbohat6/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:jbDUxjifVDGZsZXwf_hBrw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/f9wa9wqeet3vhevii70b0s5gf0osdbim/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:RcDzlwSU2yMZfa9UQuDx-g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/b31fkm23j7ju9hufo1iy8al6s6v5m6xw/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:Ge3uIyidV5-pUDSEyVBADA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/uuyh26ex0hb4qkmelx2raclr75cjeq46/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:6483zvzlfK81kbOePa8CkQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/j5bm98ukfi9ir0e34nby26sfxh1z15of/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:IlYrD3lFHWIvP1Sdl_cU8A"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/htve31zh0epe65byr08xkjick364vd2m/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:lBKH4Ryf64cpmPNQmYfCTA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/ivwbovwp6dq6kqf4ilozpnlatk6qhnk1/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:JOeJc4U-wgDyrUa1J7mVPw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/i6qd25h4at19e6mb7ou9t3kzdyqcyz7l/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:sYypxDFApskJ7ZEt8ycUwg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/bn7g3g2j48mu8bd82mgvoi03fq37wpmc/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:TdQrF0BN484pB-A8lqStrQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/f457svbcjd8qsu3lvdo75qx92mszjh5s/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:FqMQtiMQAQlngCnJ8X1o2Q"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/shuxp0mpor74xb0zuxmnwd6fyiemqgfa/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:Erq9HAeKSBMzVbjbTCYNvg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
