---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:rbITjyCiB1iysvTC7QZH_w"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:rbITjyCiB1iysvTC7QZH_w:d5OB0m0CtxZKLRr0"
      X-Gdc-Request-Time:
      - '16'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/schedules","items":[{"schedule":{"name":"main.rb","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"main.rb","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"142ee5b3-27b6-4290-8aef-5a5f80294aed"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/schedules/5cb8707ae4b0fc1fc980280d","executions":"/gdc/projects/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/schedules/5cb8707ae4b0fc1fc980280d/executions"},"triggerScheduleId":"5cb87078e4b00d861ca485c7"}},{"schedule":{"name":"test.grf","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"graph/test.grf","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"09fedfb7-81b9-4c59-a1c8-7cffe59157b4"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2020-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/schedules/5cb87078e4b00d861ca485c7","executions":"/gdc/projects/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/schedules/5cb87078e4b00d861ca485c7/executions"}}}]}}'
  recorded_at: Thu, 18 Apr 2019 12:54:13 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/c6vxre8nhydx2z6t9716ssfsh19hm3im/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:_I3FcVIJ2ozYMaIJ0X_X2w"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:_I3FcVIJ2ozYMaIJ0X_X2w:p9NJIjkvfzX2CtMu"
      X-Gdc-Request-Time:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/c6vxre8nhydx2z6t9716ssfsh19hm3im/schedules","items":[{"schedule":{"name":"test.grf","type":"MSETL","state":"ENABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","EXECUTABLE":"graph/test.grf","param_2":"b","param_1":"a","print_reverted":"hidden_msg_from_rollout_brick,SECURE_PARAM_2","msg_from_rollout_brick":"Hi,
        I was set by rollout brick","PROCESS_ID":"58ed6aa2-ab58-4995-8758-55a6e898a357"},"hiddenParams":{"secure_param_2":null,"secure_param_1":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2020-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/c6vxre8nhydx2z6t9716ssfsh19hm3im/schedules/5cb8717ae4b0d86679f226a3","executions":"/gdc/projects/c6vxre8nhydx2z6t9716ssfsh19hm3im/schedules/5cb8717ae4b0d86679f226a3/executions"}}},{"schedule":{"name":"main.rb","type":"MSETL","state":"ENABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","EXECUTABLE":"main.rb","param_2":"b","param_1":"a","print_reverted":"hidden_msg_from_rollout_brick,SECURE_PARAM_2","msg_from_rollout_brick":"Hi,
        I was set by rollout brick","PROCESS_ID":"7a1eeff4-8a7b-4827-aac9-9f0d7b1db268"},"hiddenParams":{"secure_param_2":null,"secure_param_1":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/c6vxre8nhydx2z6t9716ssfsh19hm3im/schedules/5cb8717ae4b0d86679f226a4","executions":"/gdc/projects/c6vxre8nhydx2z6t9716ssfsh19hm3im/schedules/5cb8717ae4b0d86679f226a4/executions"},"triggerScheduleId":"5cb8717ae4b0d86679f226a3"}}]}}'
  recorded_at: Thu, 18 Apr 2019 12:54:14 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ifu9pf5wu697rww6y7zld524mvkm7zy4/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:GorEKCw14iGqwZ_Z3XizfQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:E19lJ_hJ2oCsNfBhIjQ6UQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/d3xxd6w9kwd8j9xwgb3289iuotwnnmra/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:j4r5iCZSGwLmqMP_qelqUA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '47'
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:j4r5iCZSGwLmqMP_qelqUA:GsA3i2lO2B5jdszW"
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/d3xxd6w9kwd8j9xwgb3289iuotwnnmra/schedules","items":[{"sche[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/bmj711dbr65hsga7zh5mshxomid5z3sv/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:ipcdeFKU3tf0iBXOf9FXWw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:ipcdeFKU3tf0iBXOf9FXWw:n2Tiel8UaDmULv0A"
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/bmj711dbr65hsga7zh5mshxomid5z3sv/schedules","items":[{"schedule":{"name":"test.grf","type":"MSETL","state":"ENABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","all_dynamic_param":"is_in_every_schedule","EXECUTABLE":"graph/test.grf","param_2":"b","param_1":"a","print_reverted":"hidden_msg_from_rollout_brick,SECURE_PARAM_2","msg_from_rollout_brick":"Hi,
        I was set by rollout brick","PROCESS_ID":"8b257747-c165-4ed1-8a2b-87bfbebc3b5f"},"hiddenParams":{"secure_param_2":null,"secure_param_1":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null,"all_dynamic_hidden_param":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2021-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/bmj711dbr65hsga7zh5mshxomid5z3sv/schedules/5eb3eb5d71a6014624219e96","executions":"/gdc/projects/bmj711dbr65hsga7zh5mshxomid5z3sv/schedules/5eb3eb5d71a6014624219e96/executions"}}},{"schedule":{"name":"SimpleRubySchedule","type":"MSETL","state":"ENABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","all_dynamic_param":"is_in_every_schedule","EXECUTABLE":"main.rb","param_2":"b","dynamic_param":"LCM_SPEC_CLIENT_0","param_1":"a","print_reverted":"hidden_msg_from_rollout_brick,SECURE_PARAM_2","msg_from_rollout_brick":"Hi,
        I was set by rollout brick","PROCESS_ID":"0faf3090-95af-40f3-a038-a5fbf523c9db"},"hiddenParams":{"secure_param_2":null,"secure_param_1":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null,"all_dynamic_hidden_param":null,"dynamic_hidden_param":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/bmj711dbr65hsga7zh5mshxomid5z3sv/schedules/5eb3eb5d71a6014624219e97","executions":"/gdc/projects/bmj711dbr65hsga7zh5mshxomid5z3sv/schedules/5eb3eb5d71a6014624219e97/executions"},"triggerScheduleId":"5eb3eb5d71a6014624219e96"}}]}}'
  recorded_at: Thu, 07 May 2020 11:12:22 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/u586yv7vl7kcb29a3jw30w37ppng6zue/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:nDRZtbNy5BPZdo2rTQ1jfw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/oa1tpppehpjcf7s6cxr4cvpp927dhvyf/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:ZA24YwheMlWbJqlF3q5VmA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X[...]
