---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:3ppjG_v2ZIGW_wOAt2VCyw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:3ppjG_v2ZIGW_wOAt2VCyw:U2XgoOXh3H6VbqwS"
      X-Gdc-Request-Time:
      - '317'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":32,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/136"}],"displayForms":[{"content":{"formOf":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/220","expression":"[/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/137]","default":1},"links":{"elements":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/238/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/238","tags":"","created":"2010-08-02
        08:13:42","identifier":"effective_to_date.aag81lMifn6q","deprecated":"0","summary":"DisplayForm
        Year.","isProduction":1,"title":"Year (Effective To Date)","category":"attributeDisplayForm","updated":"2019-04-18
        14:38:10","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/270","sort":"pk","dimension":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/117","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/184"},{"multivalue":false,"type":"col","data":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/192"},{"multivalue":false,"type":"col","data":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/207"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/220","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"effective_to_date.year","deprecat[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/c6vxre8nhydx2z6t9716ssfsh19hm3im/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:RDrAkoPSnVGxBtWubpi3UA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
     [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/d3xxd6w9kwd8j9xwgb3289iuotwnnmra/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:aUO-sc6YsHdVZZiv41lFqg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '391'
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:aUO-sc6YsHdVZZiv41lFqg:MykqOL5VFOEzgyQm"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":32,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/d3xxd6w9kwd8j9xwgb32[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/bmj711dbr65hsga7zh5mshxomid5z3sv/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:QaRKoYMkjiS8KEjNKgFj0A"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
   [...]
