---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:PjPbRuRs5wFGbl18kPTGAQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:PjPbRuRs5wFGbl18kPTGAQ:DT7WPinhaGz0Zrnm"
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aab9ZlWqgy9M","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/355","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/353","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/357","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}}]},{"identifier":"aac9ZlWqgy9M","title":"Tab
        2","items":[{"reportItem":{"obj":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/355","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/353","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/357","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}}]}],"filters":[]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/358","tags":"dashboard","created":"2019-04-18
        14:40:34","identifier":"dashboard.dashboard.2","deprecated":"0","summary":"","isProduction":1,"title":"Dashboard
        2","category":"projectDashboard","updated":"2019-04-18 14:36:13","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"projectDashboard":{"content":{"tabs":[{"identifier":"aac9ZeDKgyVm","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/355","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/353","[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/c6vxre8nhydx2z6t9716ssfsh19hm3im/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:L5y0YnZcPkzw_zZyzL-C8A"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:B16SOIb5qtPOA3zeMiHnuQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:teOHbDZiTjHPYdbWMSThAA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/d3xxd6w9kwd8j9xwgb3289iuotwnnmra/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:SJjt34uZkdz04vQToz70IQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '68'
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:SJjt34uZkdz04vQToz70IQ:6cMGn3PghLSThJmw"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aacsFoPFgfSY","title":"Tab
 [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/bmj711dbr65hsga7zh5mshxomid5z3sv/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:Vp9wjs-RE_T7DMDpKldv4A"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/u586yv7vl7kcb29a3jw30w37ppng6zue/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:brjKvP8fV-TuNtCk5HOmqQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/oa1tpppehpjcf7s6cxr4cvpp927dhvyf/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:kKtLkBVXhjsnn0P_F2EANQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: [...]
