---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:v-a8F6b0uqNMYiA-mN-KNA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:v-a8F6b0uqNMYiA-mN-KNA:45jXs50iV43htfKT
      X-Gdc-Request-Time:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aag5RjdodnUC","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/355","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/353","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/357","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}}]},{"identifier":"aah5RjdodnUC","title":"Tab
        2","items":[{"reportItem":{"obj":"/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/355","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/353","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/357","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}}]}],"filters":[]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/358","tags":"dashboard","created":"2018-12-11
        14:59:04","identifier":"dashboard.dashboard.2","deprecated":"0","summary":"","isProduction":1,"title":"Dashboard
        2","category":"projectDashboard","updated":"2018-12-11 14:54:29","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}},{"projectDashboard":{"content":{"tabs":[{"identifier":"aad5RjdodnUC","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/355","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/353","[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/355
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:YO0i0kZ0wcADlalL0cegnw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:YO0i0kZ0wcADlalL0cegnw:7QqdhIkjIB641TCG
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"report":{"content":{"domains":[],"definitions":["/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/354"]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/355","tags":"","created":"2018-12-11
        14:59:04","identifier":"report.customers.count.by.gender","deprecated":"0","summary":"","isProduction":1,"title":"Customers
        Count By Gender","category":"report","updated":"2018-12-11 14:53:23","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Tue, 11 Dec 2018 14:12:51 GMT
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/354
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:6YoEkuH7vsnyYcjif2qBSA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:6YoEkuH7vsnyYcjif2qBSA:WujBD64lgEFYLffT
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[{"attribute":{"alias":"","totals":[[]],"uri":"/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/298"}}],"metrics":[{"alias":"Customers
        Count","uri":"/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/351"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"links":{"explain2":"/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/354/explain2"},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/354","tags":"","created":"2018-12-11
        14:59:04","identifier":"aaf5RdZXdTWA","deprecated":"0","summary":"","isProduction":1,"title":"Untitled
        report definition","category":"reportDefinition","updated":"2018-12-11 14:53:20","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Tue, 11 Dec 2018 14:13:03 GMT
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/351
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:oeQTq_T9Q93RxKjvS_gQlg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:oeQTq_T9Q93RxKjvS_gQlg:pFB1S5j77GiNKSjE
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"COUNT","content":[{"value":"/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/286","position":{"column":27,"line":1},"type":"attribute
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        COUNT([/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/286])"},"links":{"explain2":"/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/351/explain2"},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/351","tags":"","created":"2018-12-11
        14:59:04","identifier":"metric.customers.count","deprecated":"0","summary":"","isProduction":1,"title":"Customers
        Count","category":"metric","updated":"2018-12-11 14:52:56","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Tue, 11 Dec 2018 14:13:06 GMT
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:CDPZgZ920v2oMzqcHdeB5Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
   [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/kp4xxjo31v1kblek24we1pc6mkjfugfu/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:TeSn3qLd_bNQ40MOQrR2jA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:TeSn3qLd_bNQ40MOQrR2jA:4HnfJoYRQQiqx4ZY
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"MAX","content":[{"value":"/gdc/md/kp4xxjo31v1kblek24we1pc6mkjfugfu/obj/315","position":{"column":25,"line":1},"type":"fact
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        MAX([/gdc/md/kp4xxjo31v1kblek24we1pc6mkjfugfu/obj/315])"},"links":{"explain2":"/gdc/md/kp4xxjo31v1kblek24we1pc6mkjfugfu/obj/350/explain2"},"meta":{"locked":1,"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/kp4xxjo31v1kblek24we1pc6mkjfugfu/obj/350","tags":"_lcm_managed_object
        metric","created":"2018-12-11 14:59:04","identifier":"metric.max.claim.amount","deprecated":"0","summary":"","isProduction":1,"title":"Max
        Claim Amount","category":"metric","updated":"2018-12-11 15:09:48","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}},{"metric":{"content":{"format":"#,##0","tree":{"conten[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/m08ab9801uh98cnjdqxt95vmm6vitzsu/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:im_n5NAxyzSJhHAgAAtuTA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
   [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:Avwm928_Alx68229nbJjyQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
   [...]
