---
http_interactions:
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.comp.my_computed_attr"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:CbK0IucX1m7jP2DTDl4s_A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:CbK0IucX1m7jP2DTDl4s_A:Om4ehGzy9mDX4WyL
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.comp.my_computed_attr","uri":"/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/obj/283"}]}'
  recorded_at: Wed, 05 Dec 2018 14:19:21 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/obj/283
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:de5oth7a32vb_78EuU1omQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:de5oth7a32vb_78EuU1omQ:rCC1chFUwTgO4INZ
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"attribute":{"content":{"rel":["to {attr.csv_policies.state} as case
        when {metric.customers.count} <= 1000 then {attr.comp.my_computed_attr?\"Small\"},
        when {metric.customers.count} <= 2000 then {attr.comp.my_computed_attr?\"Medium\"},
        when {metric.customers.count} > 2000 then {attr.comp.my_computed_attr?\"Large\"}
        else {attr.comp.my_computed_attr?\"\"} end"],"drillDownStepAttributeDF":"/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/obj/288","pk":[{"type":"col","data":"/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/obj/101"}],"dimension":"/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/obj/282","displayForms":[{"content":{"formOf":"/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/obj/283","expression":"[/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/obj/103]","default":1},"links":{"elements":"/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/obj/284/elements"},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/obj/284","tags":"_lcm_managed_object","created":"2018-12-05
        15:05:44","identifier":"label.comp.my_computed_attr","deprecated":"0","summary":"","isProduction":1,"title":"Label.Comp.My
        Computed Attr","category":"attributeDisplayForm","updated":"2018-12-05 15:16:46","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/obj/283","tags":"_lcm_managed_object","created":"2018-12-05
        15:05:44","identifier":"attr.comp.my_computed_attr","deprecated":"0","summary":"","isProduction":1,"title":"My
        computed attribute","category":"attribute","updated":"2018-12-05 15:16:46","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Wed, 05 Dec 2018 14:19:22 GMT
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/obj/288
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:CoFr7u1vOniGmx0Bq4UxwQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:CoFr7u1vOniGmx0Bq4UxwQ:mZwaEFUvOGPebiXe
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/obj/287","expression":"[/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/obj/88]","default":1},"links":{"elements":"/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/obj/288/elements"},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/obj/288","tags":"_lcm_managed_object","created":"2018-12-05
        15:05:44","identifier":"label.csv_policies.customer","deprecated":"0","summary":"","isProduction":1,"title":"Customer","category":"attributeDisplayForm","updated":"2018-12-05
        15:16:46","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Wed, 05 Dec 2018 14:19:24 GMT
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/i1a3ygobo7o1hy2xx5tqcchw37fibmik/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.comp.my_computed_attr"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:LIjLIcn5vFibUIWt5-meZg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:LIjLIcn5vFibUIWt5-meZg:cEIBV0XVBcex5VaK
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.comp.my_computed_attr","uri":"/gdc/md/i1a3ygobo7o1hy2xx5tqcchw37fibmik/obj/283"}]}'
  recorded_at: Wed, 05 Dec 2018 14:19:24 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/i1a3ygobo7o1hy2xx5tqcchw37fibmik/obj/283
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:ij0t0_cLu7IxokemWyZBEg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
[...]
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/k1ocfm1di3ddj89nmi3gb1h2xt4qdtt9/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.comp.my_computed_attr"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:67q61tWb5Tsc2GD3TlJqIw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:67q61tWb5Tsc2GD3TlJqIw:mEohkzrMnFyCPByW
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.comp.my_computed_attr","uri":"/gdc/md/k1ocfm1di3ddj89nmi3gb1h2xt4qdtt9/obj/283"}]}'
  recorded_at: Wed, 05 Dec 2018 14:19:28 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/k1ocfm1di3ddj89nmi3gb1h2xt4qdtt9/obj/283
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:DiQmJcpxMFr0BEsfrzDOeA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/k1ocfm1di3ddj89nmi3gb1h2xt4qdtt9/obj/288
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:dTN3NY5oolEaIIDW-6OQ5g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:dTN3NY5oolEaIIDW-6OQ5g:5obNP3hPQlOJWxou
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/k1ocfm1di3ddj89nmi3gb1h2xt4qdtt9/obj/287","expression":"[/gdc/md/k1ocfm1di3ddj89nmi3gb1h2xt4qdtt9/obj/88]","default":1},"links":{"elements":"/gdc/md/k1ocfm1di3ddj89nmi3gb1h2xt4qdtt9/obj/288/elements"},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/k1ocfm1di3ddj89nmi3gb1h2xt4qdtt9/obj/288","tags":"_lcm_managed_object","created":"2018-12-05
        15:05:44","identifier":"label.csv_policies.customer","deprecated":"0","summary":"","isProduction":1,"title":"Customer","category":"attributeDisplayForm","updated":"2018-12-05
        15:16:49","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Wed, 05 Dec 2018 14:19:31 GMT
recorded_with: VCR 4.0.0
