---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:7zT-hYndPdnCztZdT9Xlfg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:7zT-hYndPdnCztZdT9Xlfg:4RnbkLFh8gBfHD13
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aaDhdnbEiAx5","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/355","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/353","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/357","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}}]},{"identifier":"aaEhdnbEiAx5","title":"Tab
        2","items":[{"reportItem":{"obj":"/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/355","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/353","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/357","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}}]}],"filters":[]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/358","tags":"dashboard","created":"2018-12-13
        13:42:02","identifier":"dashboard.dashboard.2","deprecated":"0","summary":"","isProduction":1,"title":"Dashboard
        2","category":"projectDashboard","updated":"2018-12-13 13:37:15","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}},{"projectDashboard":{"content":{"tabs":[{"identifier":"aaohee2Gaktn","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/355","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/353","[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/np9cke7ukj3p139o276advdvtwjlin8v/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:Uf45c2bJQshoRYYbOngafg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
    [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/cn0e66ez01xxl9onyuukb08on756mpqm/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:sbTWGKbOQ-3yPH6aVkA84w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
    [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/uxied118kzjwc2yzlzufb82fi3gaeuk5/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:g7Bwk7UeRfpCUQVyfsLqcg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
    [...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/d1tf7paf3eqog4p54ja56pptukxb33lb/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:9XzlxBvaELcDoi9Wq5llog
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:9XzlxBvaELcDoi9Wq5llog:IKKwiU5U9RXBo2Y6
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aagWxmNddcv6","title"[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/syfma5nx5pph2r603kh6y4972r8dleg8/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:m9A8OuCcTlYDY05_tYnvyA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
     [...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/b6i9k372fa30zvencu45w82hjhmbxvcd/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:vfcw2hAl_l9POU3OfLiCXw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
     [...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/t2ksyc5wv8h5vr924y4w90r7qly5itzf/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:mkh6FbZZ1Lb6gP4aPgnK-Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/bp7bxi9c0m70blw2enw3rxh8br0m38f9/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:f9ewkFEalSWx0ezqkg4YPw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:f9ewkFEalSWx0ezqkg4YPw:W4qPPPK3xjr9oRb9
      X-Gdc-Request-Time:
      - '231'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aakXk4f9fmeS","title[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/g6og09ase2wmxcu6jz95ndkl54cmbd3x/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:cOi0wmeD3b6SSide5qx54Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
    [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/e7gdvwe2ozfv3ndhw95a3gu5l568yntu/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:vAS3ZVuej3SmhX7R5S-dug
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
    [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/usv2plnsajrcvwlxi4ky5fx9fpf25egg/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:mQcCH25djdnzBCmYlJETbA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
    [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/capadyx6a65yjyl8b7x3op8nkqkd9f43/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:e6wt3yDFsO0rx70by64fuQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:e6wt3yDFsO0rx70by64fuQ:hvapyvR3HFfm43sR"
      X-Gdc-Request-Time:
      - '209'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aak9C3UgcyuQ","title":"Tab
 [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/tjxh5yoltw6un996v7h4br75adbohat6/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:JWBGdZDxZpR37uEo2LS8jQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/f9wa9wqeet3vhevii70b0s5gf0osdbim/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:9CkUz_OpuQpGKX7JLgZOTg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/b31fkm23j7ju9hufo1iy8al6s6v5m6xw/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:kPtmhz7aJ8CszkdFhZvgLA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/uuyh26ex0hb4qkmelx2raclr75cjeq46/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:f1hysqqWnnhcF-yJ52g9Xw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/j5bm98ukfi9ir0e34nby26sfxh1z15of/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:PeDs2engttt4csYMmBe5kw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/htve31zh0epe65byr08xkjick364vd2m/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:mXgox_TZzRxuep7avtp3sg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/ivwbovwp6dq6kqf4ilozpnlatk6qhnk1/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:TUzM4ujs7flmaSI6FrIu_w"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/i6qd25h4at19e6mb7ou9t3kzdyqcyz7l/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:7i0XJFWx_r0WSkVpS0SIJA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/bn7g3g2j48mu8bd82mgvoi03fq37wpmc/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:62qNaaIp1UkLC5aO0A5VMQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/f457svbcjd8qsu3lvdo75qx92mszjh5s/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:E0Kb3Dbl8WyUnn6iBqZ7qQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/shuxp0mpor74xb0zuxmnwd6fyiemqgfa/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:QbwR5ndGfSptWi6iv_22GQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers[...]
