---
http_interactions:
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:BmjbyBDQr72JiswhfEXV6A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:BmjbyBDQr72JiswhfEXV6A:66SkTdgtY7ZzbOC8
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/obj/115"}]}'
  recorded_at: Wed, 05 Dec 2018 14:18:31 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:MsvZWzIGQdQgBjRIi2OX4w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:MsvZWzIGQdQgBjRIi2OX4w:lYKNvkPqZzhLljXH
      X-Gdc-Request-Time:
      - '76'
    body:
      encoding: ASCII-8BIT
      string: '{"dataSet":{"content":{"mode":"","facts":["/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/obj/312","/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/obj/313","/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/obj/314","/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/obj/315"],"dataLoadingColumns":["/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/obj/92","/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/obj/94","/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/obj/87","/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/obj/89","/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/obj/77","/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/obj/79","/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/obj/72","/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/obj/74","/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/obj/97","/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/obj/99"[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:QuQFvri7BOSdzSDk7c7H0Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:QuQFvri7BOSdzSDk7c7H0Q:0HvrYBeFw3ca0MX6
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/obj/311"],"expr":[{"type":"col","data":"/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/obj/34"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/obj/312","tags":"_lcm_managed_object
        fact","created":"2018-12-05 15:05:45","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2018-12-05 15:16:46","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Wed, 05 Dec 2018 14:18:34 GMT
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/i1a3ygobo7o1hy2xx5tqcchw37fibmik/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:q6S4pRANqswVOdntoYbmsg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:q6S4pRANqswVOdntoYbmsg:oeizBJlxYWyTpKua
      X-Gdc-Request-Time:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/i1a3ygobo7o1hy2xx5tqcchw37fibmik/obj/115"}]}'
  recorded_at: Wed, 05 Dec 2018 14:18:36 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/i1a3ygobo7o1hy2xx5tqcchw37fibmik/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:Wt06B6LwmJetHU5nO_M3tg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
[...]
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/k1ocfm1di3ddj89nmi3gb1h2xt4qdtt9/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:aaH79p8l4UZIz34oXWMk9Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:aaH79p8l4UZIz34oXWMk9Q:awRcIkEVO4gArEVa
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/k1ocfm1di3ddj89nmi3gb1h2xt4qdtt9/obj/115"}]}'
  recorded_at: Wed, 05 Dec 2018 14:18:38 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/k1ocfm1di3ddj89nmi3gb1h2xt4qdtt9/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:bU0snUEfhFt-Ky2mrP5VFg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/k1ocfm1di3ddj89nmi3gb1h2xt4qdtt9/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:p0Dwla1dih-GpWeGhsq57w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:p0Dwla1dih-GpWeGhsq57w:CHYyr57S4n0s3PFK
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/k1ocfm1di3ddj89nmi3gb1h2xt4qdtt9/obj/311"],"expr":[{"type":"col","data":"/gdc/md/k1ocfm1di3ddj89nmi3gb1h2xt4qdtt9/obj/34"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/k1ocfm1di3ddj89nmi3gb1h2xt4qdtt9/obj/312","tags":"_lcm_managed_object
        fact","created":"2018-12-05 15:05:45","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2018-12-05 15:16:49","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Wed, 05 Dec 2018 14:18:40 GMT
recorded_with: VCR 4.0.0
