---
http_interactions:
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/kp4xxjo31v1kblek24we1pc6mkjfugfu/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:HqcXDw5x0-gdOzo1Ya1JSA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:HqcXDw5x0-gdOzo1Ya1JSA:c6ntD6CAhyH7NJcF
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/kp4xxjo31v1kblek24we1pc6mkjfugfu/obj/115"}]}'
  recorded_at: Tue, 11 Dec 2018 14:12:12 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/kp4xxjo31v1kblek24we1pc6mkjfugfu/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:dsyU-06bgySASaV5beY1yQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:dsyU-06bgySASaV5beY1yQ:hMgwJsqe5C0ZbSpL
      X-Gdc-Request-Time:
      - '73'
    body:
      encoding: ASCII-8BIT
      string: '{"dataSet":{"content":{"mode":"","facts":["/gdc/md/kp4xxjo31v1kblek24we1pc6mkjfugfu/obj/312","/gdc/md/kp4xxjo31v1kblek24we1pc6mkjfugfu/obj/313","/gdc/md/kp4xxjo31v1kblek24we1pc6mkjfugfu/obj/314","/gdc/md/kp4xxjo31v1kblek24we1pc6mkjfugfu/obj/315"],"dataLoadingColumns":["/gdc/md/kp4xxjo31v1kblek24we1pc6mkjfugfu/obj/92","/gdc/md/kp4xxjo31v1kblek24we1pc6mkjfugfu/obj/94","/gdc/md/kp4xxjo31v1kblek24we1pc6mkjfugfu/obj/87","/gdc/md/kp4xxjo31v1kblek24we1pc6mkjfugfu/obj/89","/gdc/md/kp4xxjo31v1kblek24we1pc6mkjfugfu/obj/77","/gdc/md/kp4xxjo31v1kblek24we1pc6mkjfugfu/obj/79","/gdc/md/kp4xxjo31v1kblek24we1pc6mkjfugfu/obj/72","/gdc/md/kp4xxjo31v1kblek24we1pc6mkjfugfu/obj/74","/gdc/md/kp4xxjo31v1kblek24we1pc6mkjfugfu/obj/97","/gdc/md/kp4xxjo31v1kblek24we1pc6mkjfugfu/obj/99"[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/kp4xxjo31v1kblek24we1pc6mkjfugfu/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:PY9dgZBm9jCplrA15Bw85g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:PY9dgZBm9jCplrA15Bw85g:CCxOAThwhJxKcc5b
      X-Gdc-Request-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/kp4xxjo31v1kblek24we1pc6mkjfugfu/obj/311"],"expr":[{"type":"col","data":"/gdc/md/kp4xxjo31v1kblek24we1pc6mkjfugfu/obj/34"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/kp4xxjo31v1kblek24we1pc6mkjfugfu/obj/312","tags":"_lcm_managed_object
        fact","created":"2018-12-11 14:56:37","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2018-12-11 15:09:48","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Tue, 11 Dec 2018 14:12:15 GMT
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/m08ab9801uh98cnjdqxt95vmm6vitzsu/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:4l5o-lbJh6QR_2VSwNdDlA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:4l5o-lbJh6QR_2VSwNdDlA:HoADLWh4hrybZG7k
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/m08ab9801uh98cnjdqxt95vmm6vitzsu/obj/115"}]}'
  recorded_at: Tue, 11 Dec 2018 14:12:16 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/m08ab9801uh98cnjdqxt95vmm6vitzsu/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:ux1GSUdRj3kLtvxjWoFIGA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
[...]
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:iDtTuEcxSuRwaCUHVhWtbQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:iDtTuEcxSuRwaCUHVhWtbQ:6ADLUna952v6yIr4
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/115"}]}'
  recorded_at: Tue, 11 Dec 2018 14:12:20 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:yGxDL44g-jr8-ndeMd0uAA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:CwRYsKDC929wSGLsH9gzOA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:CwRYsKDC929wSGLsH9gzOA:xG9S0VUPJIBfqdky
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/311"],"expr":[{"type":"col","data":"/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/34"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/312","tags":"_lcm_managed_object
        fact","created":"2018-12-11 14:56:37","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2018-12-11 15:09:50","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Tue, 11 Dec 2018 14:12:23 GMT
recorded_with: VCR 4.0.0
