---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/np9cke7ukj3p139o276advdvtwjlin8v/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:0Z6FpwVPu_-O6rhyt4h5Cw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:0Z6FpwVPu_-O6rhyt4h5Cw:jzlONeybw22gB0lp
      X-Gdc-Request-Time:
      - '103'
    body:
      encoding: ASCII-8BIT
      string: '{"processes":{"items":[{"process":{"type":"GRAPH","name":"Simple CloudConnect
        Process","graphs":["graph/test.grf"],"executables":["graph/test.grf"],"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/np9cke7ukj3p139o276advdvtwjlin8v/dataload/processes/9a28f9ce-b6fc-4249-a518-f3a59652cf57","executions":"/gdc/projects/np9cke7ukj3p139o276advdvtwjlin8v/dataload/processes/9a28f9ce-b6fc-4249-a518-f3a59652cf57/executions","source":"/gdc/projects/np9cke7ukj3p139o276advdvtwjlin8v/dataload/processes/9a28f9ce-b6fc-4249-a518-f3a59652cf57/source"}}},{"process":{"type":"RUBY","name":"Simple
        Ruby Process","path":"${PUBLIC_APPSTORE}:branch/master:/apps/hello_world_brick","graphs":["main.rb"],"executables":["main.rb"],"lastDeployed":"2018-12-13T12:52:52.047Z","ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/np9cke7ukj3p139o276advdvtwjlin8v/dataload/processes/9f300806-a629-4eaf-ab1a-a7f3a5f7b82d","executions":"/gdc/projects/np9cke7ukj3p139o276advdvtwjlin8v/dataload/processes/9f300806-a629-4eaf-ab1a-a7f3a5f7b82d/executions","source":"/gdc/projects/np9cke7ukj3p139o276advdvtwjlin8v/dataload/processes/9f300806-a629-4eaf-ab1a-a7f3a5f7b82d/source"}}},{"process":{"type":"ETL","name":"lcm-end-to-end-csv-download","graphs":[],"executables":[],"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/np9cke7ukj3p139o276advdvtwjlin8v/dataload/processes/04ed05b2-1171-4207-95cc-5c9a8430036c","executions":"/gdc/projects/np9cke7ukj3p139o276advdvtwjlin8v/dataload/processes/04ed05b2-1171-4207-95cc-5c9a8430036c/executions","source":"/gdc/projects/np9cke7ukj3p139o276advdvtwjlin8v/dataload/processes/04ed05b2-1171-4207-95cc-5c9a8430036c/source"},"component":{"name":"gdc-etl-csv-downloader","version":"1","configLocation":{"s3":{"path":"s3://s3_bucket/s3_folder/","accessKey":"s3_access_key","serverSideEncryption":true}}}}},{"process":{"type":"ETL","name":"lcm-end-to-end-sql-exec","graphs":[],"executables":[],"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/np9cke7ukj3p139o276advdvtwjlin8v/dataload/processes/43b3d148-981c-49c6-af7c-e402ba0512d1","executions":"/gdc/projects/np9cke7ukj3p139o276advdvtwjlin8v/dataload/processes/43b3d148-981c-49c6-af7c-e402ba0512d1/executions","source":"/gdc/projects/np9cke7ukj3p139o276advdvtwjlin8v/dataload/processes/43b3d148-981c-49c6-af7c-e402ba0512d1/source"},"component":{"name":"gdc-etl-sql-executor","version":"1","configLocation":{"s3":{"path":"s3://s3_bucket/s3_folder/","accessKey":"s3_access_key","serverSideEncryption":true}}}}}],"links":{"self":"/gdc/projects/np9cke7ukj3p139o276advdvtwjlin8v/dataload/processes"}}}'
  recorded_at: Thu, 13 Dec 2018 12:53:34 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/np9cke7ukj3p139o276advdvtwjlin8v/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:K3cdOHOMFiTn8tSd-niaCw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:K3cdOHOMFiTn8tSd-niaCw:jYqSebcBw2RmvdfV
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/np9cke7ukj3p139o276advdvtwjlin8v/schedules","items":[{"schedule":{"name":"test.grf","type":"MSETL","state":"ENABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","EXECUTABLE":"graph/test.grf","param_2":"b","param_1":"a","print_reverted":"hidden_msg_from_rollout_brick,SECURE_PARAM_2","msg_from_rollout_brick":"Hi,
        I was set by rollout brick","PROCESS_ID":"9a28f9ce-b6fc-4249-a518-f3a59652cf57"},"hiddenParams":{"secure_param_2":null,"secure_param_1":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2019-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/np9cke7ukj3p139o276advdvtwjlin8v/schedules/5c12550fe4b0e4c306ea2bb9","executions":"/gdc/projects/np9cke7ukj3p139o276advdvtwjlin8v/schedules/5c12550fe4b0e4c306ea2bb9/executions"}}},{"schedule":{"name":"main.rb","type":"MSETL","state":"ENABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","EXECUTABLE":"main.rb","param_2":"b","param_1":"a","print_reverted":"hidden_msg_from_rollout_brick,SECURE_PARAM_2","msg_from_rollout_brick":"Hi,
        I was set by rollout brick","PROCESS_ID":"9f300806-a629-4eaf-ab1a-a7f3a5f7b82d"},"hiddenParams":{"secure_param_2":null,"secure_param_1":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/np9cke7ukj3p139o276advdvtwjlin8v/schedules/5c12550fe4b0e4c306ea2bba","executions":"/gdc/projects/np9cke7ukj3p139o276advdvtwjlin8v/schedules/5c12550fe4b0e4c306ea2bba/executions"},"triggerScheduleId":"5c12550fe4b0e4c306ea2bb9"}}]}}'
  recorded_at: Thu, 13 Dec 2018 12:53:35 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/cn0e66ez01xxl9onyuukb08on756mpqm/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:2dLEvYHiEuUBLotsyfRg4Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/cn0e66ez01xxl9onyuukb08on756mpqm/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:zFw8jNPo9PMO9vdxmZOo5w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applica[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/uxied118kzjwc2yzlzufb82fi3gaeuk5/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:FgXXDwIRbGzkuBpbkG4cEw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/uxied118kzjwc2yzlzufb82fi3gaeuk5/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:xzwguqrA8z3LRa6HPPxZXQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applica[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/syfma5nx5pph2r603kh6y4972r8dleg8/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:FtQHLQzvWFqPHbTImWAD9A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:FtQHLQzvWFqPHbTImWAD9A:NLiPVVZvovDWiDTJ
      X-Gdc-Request-Time:
      - '92'
    body:
      encoding: ASCII-8BIT
      string: '{"processes":{"items":[{"process":{"type":"GRAPH","name":"Simple CloudConnect
        Process","graphs":["graph/test.grf"],"execu[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/syfma5nx5pph2r603kh6y4972r8dleg8/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:E5S4uqtLEs8d6CZ2G4SLCw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applicat[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/b6i9k372fa30zvencu45w82hjhmbxvcd/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:_8QdLbJx7ziIPjLcEOCS8g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      -[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/b6i9k372fa30zvencu45w82hjhmbxvcd/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:3pWJqClnCcSKRRqD2_YbnQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applicat[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/t2ksyc5wv8h5vr924y4w90r7qly5itzf/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:2-Q1LA4bmGiOpHN217UBmg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      -[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/t2ksyc5wv8h5vr924y4w90r7qly5itzf/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:rIfJ3I7tYY86RD5J6_-y7g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applicat[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/g6og09ase2wmxcu6jz95ndkl54cmbd3x/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:_St_QE_90zC4yTBh6rmIDA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:_St_QE_90zC4yTBh6rmIDA:lmEhQDOW7Wt5f5Ar
      X-Gdc-Request-Time:
      - '79'
    body:
      encoding: ASCII-8BIT
      string: '{"processes":{"items":[{"process":{"type":"GRAPH","name":"Simple CloudConnect
        Process","graphs":["graph/test.grf"],"execu[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/g6og09ase2wmxcu6jz95ndkl54cmbd3x/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:WvPcrEIf3p-yraxZHbXPXg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applica[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/e7gdvwe2ozfv3ndhw95a3gu5l568yntu/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:Tg-zFVebAKVhlOfh55OBxA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/e7gdvwe2ozfv3ndhw95a3gu5l568yntu/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:6wfEuEVKFRsUd0LYtONY4A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applica[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/usv2plnsajrcvwlxi4ky5fx9fpf25egg/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:LP9X_qh3A65hBa1dAmnQMg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/usv2plnsajrcvwlxi4ky5fx9fpf25egg/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:_zxu4fQ-s85IKsVGdLZc5Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applica[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/tjxh5yoltw6un996v7h4br75adbohat6/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:gUmPPke9YQELCFD6q3aZog"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:gUmPPke9YQELCFD6q3aZog:vNjjbcnqpwDztM0w"
      X-Gdc-Request-Time:
      - '96'
    body:
      encoding: ASCII-8BIT
      string: '{"processes":{"items":[{"process":{"type":"GRAPH","name":"Simple CloudConnect
        Process","graphs":["graph/test.grf"],"executables":[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/tjxh5yoltw6un996v7h4br75adbohat6/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:kN2d5r-thzw6XQjGJ3HDwg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/f9wa9wqeet3vhevii70b0s5gf0osdbim/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:_Zv2RVPBxRcZd1hH_q2kRw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      -[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/f9wa9wqeet3vhevii70b0s5gf0osdbim/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:xIt4Mr0uYt38ZZBmncVVpg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/b31fkm23j7ju9hufo1iy8al6s6v5m6xw/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:T5IQor-YEVsfBWAIH8EUXQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      -[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/b31fkm23j7ju9hufo1iy8al6s6v5m6xw/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:ZChwjQuCaKGtizj76b7UFw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/j5bm98ukfi9ir0e34nby26sfxh1z15of/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:p_7eSw4KjK48N6scMUeEQA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      -[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/j5bm98ukfi9ir0e34nby26sfxh1z15of/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:SirTjdlOH2ZqwEqMoXliEQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/htve31zh0epe65byr08xkjick364vd2m/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:dH00DNOhbEfOzCzRP5F03g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      -[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/htve31zh0epe65byr08xkjick364vd2m/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:lREjiuunFZws5WzDNtI3LA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/ivwbovwp6dq6kqf4ilozpnlatk6qhnk1/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:pUQURxV3DLYL14Ar2XB7aQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      -[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/ivwbovwp6dq6kqf4ilozpnlatk6qhnk1/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:37r9gycXnhkQWidpXaUo3A"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/bn7g3g2j48mu8bd82mgvoi03fq37wpmc/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:wfaQIALEx_bSROdblvobKg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      -[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/bn7g3g2j48mu8bd82mgvoi03fq37wpmc/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:2uQnSD1_2JvUwBb6TIHWJw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/f457svbcjd8qsu3lvdo75qx92mszjh5s/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:roiTcmdEAi3TYGRaLwRSZg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      -[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/f457svbcjd8qsu3lvdo75qx92mszjh5s/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:X09WBLPBmvVOpiLEF0JY_A"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/shuxp0mpor74xb0zuxmnwd6fyiemqgfa/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:yxDDGDuclkvMZcDl8kJgYg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      -[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/shuxp0mpor74xb0zuxmnwd6fyiemqgfa/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:SmDrb8_8IMY5WY5Hck5nIg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
