---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:V9--_MTaeMEiJf_hdeJwAg
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - GoodData realm="GoodData API" cookie=GDCAuthTT
      Content-Type:
      - application/json; charset=utf-8
      X-Gdc-Request-Time:
      - '1'
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:V9--_MTaeMEiJf_hdeJwAg:CJbQTZgOnTDwOlPP
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "error": {
                "code": 401,
                "message": "Authorization Required",
                "description": "This server could not verify that you are authorized to access the document requested. Either you supplied the wrong credentials (e.g., bad password), or your browser doesn't understand how to supply the credentials required",
                "links": {
                    "documentation": "https://help.gooddata.com/display/developer/API+Reference#/reference/authentication/log-in"
                }
            }
        }
  recorded_at: Thu, 13 Dec 2018 12:55:23 GMT
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:V9--_MTaeMEiJf_hdeJwAg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:V9--_MTaeMEiJf_hdeJwAg:SpbQm4MSfyki7pFe
      X-Gdc-Request-Time:
      - '71'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":4,"offset":0},"items":[{"fact":{"content":{"folders":["/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/302"],"expr":[{"type":"col","data":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/34"}]},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/303","tags":"fact","created":"2018-12-13
        13:34:03","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2018-12-13 13:37:21","contributor":"/gdc/account/profile/04848a0813ded971f3359f63d533c440"}}},{"fact":{"content":{"folders":["/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/302"],"expr":[{"type":"col","data":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/36"}]},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/304","tags":"","created":"2018-12-13
        13:34:03","identifier":"fact.csv_policies.income","deprecated":"0","summary":"","isProduction":1,"title":"[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:xZzb2EkSNVshe_ufEfXIZA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:xZzb2EkSNVshe_ufEfXIZA:nhaIxwzVtPqSetLK
      X-Gdc-Request-Time:
      - '351'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":32,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/130"}],"displayForms":[],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/264","sort":"pk","dimension":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/111","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/178"},{"multivalue":false,"type":"col","data":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/186"},{"multivalue":false,"type":"col","data":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/201"}]},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/214","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"effective_to_date.year","deprecated":"0","summary":"Year","isProduction":1,"title":"Year
        (Effective To Date)","category":"attribute","updated":"2018-12-13 13:34:02","contributor":"/gdc/account/profile/04848a0813ded971f3359f63d533c440"}}},{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/132"}],"displayForms":[{"content":{"formOf":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/215","expression":"[/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/133]","default":1},"links":{"elements":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/233/elements"},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/233","tags":"","created":"2010-08-02
        08:13:42","identifier":"effective_to_date.aam81lMifn6q","deprecated":"0","summary":"DisplayForm
        default.","isProduction":1,"title":"default (Effective To Date)","category":"attributeDisplayForm","updated":"2018-12-13
        13:34:02","contributor":"/gdc/accoun[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:EYRqv6gVKjKACK2rgjNpIA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:EYRqv6gVKjKACK2rgjNpIA:yPY1jlnsvbfwuXrr
      X-Gdc-Request-Time:
      - '72'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":13,"offset":0},"items":[{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"SUM","content":[{"value":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/306","position":{"column":25,"line":1},"type":"fact
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        SUM([/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/306])"},"links":{"explain2":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/353/explain2"},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/353","tags":"","created":"2018-12-13
        13:34:28","identifier":"metric.total.claim.amount","deprecated":"0","summary":"","isProduction":1,"title":"Total
        Claim Amount","category":"metric","updated":"2018-12-13 13:34:30","contributor":"/gdc/account/profile/04848a0813ded971f3359f63d533c440"}}},{"metric"[...]
- request:
    method: post
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["fact.csv_policies.income"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:1nzw94Wx-TFy7K_b_nIDlw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:1nzw94Wx-TFy7K_b_nIDlw:97zRadE3hodOTV11
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"fact.csv_policies.income","uri":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/304"}]}'
  recorded_at: Thu, 13 Dec 2018 12:55:28 GMT
[...]
- request:
    method: post
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT AVG([/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/304])"},"meta":{"tags":"","summary":null,"title":"Average
        Income","identifier":"metric.average.income"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:8gOyLX5Cw0r8F-Ygq-XqRQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:8gOyLX5Cw0r8F-Ygq-XqRQ:MgW2aeb5gql5tnif
      X-Gdc-Request-Time:
      - '77'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/396"}'
  recorded_at: Thu, 13 Dec 2018 12:55:30 GMT
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/396
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:4QkA-I9v0bj-_TjOKBDyaA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:UpXXwlNLobNNoZwdBCWy4g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:UpXXwlNLobNNoZwdBCWy4g:A2RVfQVWHgxDdgvI
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aaohee2Gaktn","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/380","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/382","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/392","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"posi[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/281
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:OrVkmzKqS2G5ezNX1b_FOw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:OrVkmzKqS2G5ezNX1b_FOw:WYDEBg6Yb4sIWe7i
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/280","expression":"[/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/98]","default":1},"links":{"elements":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/281/elements"},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/281","tags":"","created":"2018-12-13
        13:34:02","identifier":"label.csv_policies.state","deprecated":"0","summary":"","isProduction":1,"title":"State","category":"attributeDisplayForm","updated":"2018-12-13
        13:34:02","contributor":"/gdc/account/profile/04848a0813ded971f3359f63d533c440"}}}'
  recorded_at: Thu, 13 Dec 2018 12:55:35 GMT
- request:
    method: post
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj
    body:
      encoding: UTF-8
      string: '{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[{"attribute":{"alias":"","totals":[],"uri":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/281"}}],"metrics":[{"alias":"Average
        Income","uri":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/396"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"meta":{"tags":"","summary":"","title":"Untitled
        report definition"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:rQgtTzz6WACT9Mz_5XtQiw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:rQgtTzz6WACT9Mz_5XtQiw:mY2PaM50RBZZxJ1I
      X-Gdc-Request-Time:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/397"}'
  recorded_at: Thu, 13 Dec 2018 12:55:35 GMT
[...]
- request:
    method: post
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj
    body:
      encoding: UTF-8
      string: '{"report":{"content":{"domains":[],"definitions":["/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/397"]},"meta":{"tags":"","deprecated":"0","summary":"","title":"Awesome
        report"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:Tgfsxdh0skCS9LtnvLy40g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:Tgfsxdh0skCS9LtnvLy40g:G6iXFxuU7llRz4oN
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/398"}'
  recorded_at: Thu, 13 Dec 2018 12:55:37 GMT
[...]
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/uxied118kzjwc2yzlzufb82fi3gaeuk5/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["fact.csv_policies.customer_lifetime_value"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:QTw31D3XeOTIMVP-5ONtaw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:QTw31D3XeOTIMVP-5ONtaw:ZfQbCEz1g3ewzIVA
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"fact.csv_policies.customer_lifetime_value","uri":"/gdc/md/uxied118kzjwc2yzlzufb82fi3gaeuk5/obj/312"}]}'
  recorded_at: Thu, 13 Dec 2018 12:55:44 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/uxied118kzjwc2yzlzufb82fi3gaeuk5/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:wy2AUDR9ELgY8iVOOWmzWw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:wy2AUDR9ELgY8iVOOWmzWw:dXvcqv8sgHSimpIg
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/uxied118kzjwc2yzlzufb82fi3gaeuk5/obj/311"],"expr":[{"type":"col","data":"/gdc/md/uxied118kzjwc2yzlzufb82fi3gaeuk5/obj/34"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/uxied118kzjwc2yzlzufb82fi3gaeuk5/obj/312","tags":"_lcm_managed_object
        fact","created":"2018-12-13 13:39:27","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2018-12-13 13:52:14","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Thu, 13 Dec 2018 12:55:45 GMT
[...]
- request:
    method: get
    uri: https://staging-lcm-dev.intgdc.com/gdc/md/c7umg3cyzaasrmmusg2z9wdf6omp6a6o/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - feKEFEzzd6XoDFuUkzP17w:3uhdXPnzJrcKcTL-LGh1Aw
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - GoodData realm="GoodData API" cookie=GDCAuthTT
      Content-Type:
      - application/json; charset=utf-8
      X-Gdc-Request-Time:
      - '1'
      X-Gdc-Request:
      - feKEFEzzd6XoDFuUkzP17w:3uhdXPnzJrcKcTL-LGh1Aw:zaFy6KCIsDFDiMnf
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "error": {
                "code": 401,
                "message": "Authorization Required",
                "description": "This server could not verify that you are authorized to access the document requested. Either you supplied the wrong credentials (e.g., bad password), or your browser doesn't understand how to supply the credentials required",
                "links": {
                    "documentation": "https://help.gooddata.com/display/developer/API+Reference#/reference/authentication/log-in"
                }
            }
        }
  recorded_at: Mon, 21 Jan 2019 09:47:44 GMT
[...]
- request:
    method: get
    uri: https://staging-lcm-dev.intgdc.com/gdc/md/c7umg3cyzaasrmmusg2z9wdf6omp6a6o/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - feKEFEzzd6XoDFuUkzP17w:azo46OcsnX7JIFiKK9HBRw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
  [...]
- request:
    method: get
    uri: https://staging-lcm-dev.intgdc.com/gdc/md/c7umg3cyzaasrmmusg2z9wdf6omp6a6o/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - feKEFEzzd6XoDFuUkzP17w:P4fQTZDIlLnBig6wtSoSCA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: post
    uri: https://staging-lcm-dev.intgdc.com/gdc/md/c7umg3cyzaasrmmusg2z9wdf6omp6a6o/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["fact.csv_policies.income"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - feKEFEzzd6XoDFuUkzP17w:WzJ9JF2wNx-JPQRKLQAHxg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - feKEFEzzd6XoDFuUkzP17w:WzJ9JF2wNx-JPQRKLQAHxg:MWzmQ9d8PycV91Hz
      X-Gdc-Request-Time:
      - '107'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"fact.csv_policies.income","uri":"/gdc/md/c7umg3cyzaasrmmusg2z9wdf6omp6a6o/obj/304"}]}'
  recorded_at: Mon, 21 Jan 2019 09:47:47 GMT
[...]
- request:
    method: post
    uri: https://staging-lcm-dev.intgdc.com/gdc/md/c7umg3cyzaasrmmusg2z9wdf6omp6a6o/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT AVG([/gdc/md/c7umg3cyzaasrmmusg2z9wdf6omp6a6o/obj/304])"},"meta":{"tags":"","summary":null,"title":"Average
        Income","identifier":"metric.average.income"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - feKEFEzzd6XoDFuUkzP17w:jPSudTHU25NsO9rBQnGNsA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - feKEFEzzd6XoDFuUkzP17w:jPSudTHU25NsO9rBQnGNsA:WMfZ8wMYefQkWH30
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/c7umg3cyzaasrmmusg2z9wdf6omp6a6o/obj/396"}'
  recorded_at: Mon, 21 Jan 2019 09:47:49 GMT
- request:
    method: get
    uri: https://staging-lcm-dev.intgdc.com/gdc/md/c7umg3cyzaasrmmusg2z9wdf6omp6a6o/obj/396
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - feKEFEzzd6XoDFuUkzP17w:wG002iAwJNRltT2QHnoxww
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging-lcm-dev.intgdc.com/gdc/md/c7umg3cyzaasrmmusg2z9wdf6omp6a6o/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - feKEFEzzd6XoDFuUkzP17w:viGb77tEi_-5ikSW2BZ7EA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      [...]
[...]
- request:
    method: post
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/t2ksyc5wv8h5vr924y4w90r7qly5itzf/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["fact.csv_policies.customer_lifetime_value"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:q_w50ks0tEA_exxF0Mcc8w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:q_w50ks0tEA_exxF0Mcc8w:uoUel10o3lxy7a2m
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"fact.csv_policies.customer_lifetime_value","uri":"/gdc/md/t2ksyc5wv8h5vr924y4w90r7qly5itzf/obj/312"}]}'
  recorded_at: Mon, 21 Jan 2019 09:47:58 GMT
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/t2ksyc5wv8h5vr924y4w90r7qly5itzf/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:YcbZZaP3RowLBOjhnLCRRQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:YcbZZaP3RowLBOjhnLCRRQ:ryF3xupm3b8h5aeb
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/t2ksyc5wv8h5vr924y4w90r7qly5itzf/obj/311"],"expr":[{"type":"col","data":"/gdc/md/t2ksyc5wv8h5vr924y4w90r7qly5itzf/obj/34"}]},"meta":{"author":"/gdc/account/profile/e306b64fb4178785c9cf29c29b5e498a","uri":"/gdc/md/t2ksyc5wv8h5vr924y4w90r7qly5itzf/obj/312","tags":"_lcm_managed_object
        fact","created":"2019-01-21 10:36:27","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2019-01-21 10:45:33","contributor":"/gdc/account/profile/e306b64fb4178785c9cf29c29b5e498a"}}}'
  recorded_at: Mon, 21 Jan 2019 09:47:59 GMT
[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/xlp1b9j0fyte8e1cytgcq934c3y8hkrl/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - L8CZHWTmtF5-vx7vsvN9SA:B0TyZTLAVF9Qcj88b-Vlcg
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - GoodData realm="GoodData API" cookie=GDCAuthTT
      Content-Type:
      - application/json; charset=utf-8
      X-Gdc-Request-Time:
      - '1'
      X-Gdc-Request:
      - L8CZHWTmtF5-vx7vsvN9SA:B0TyZTLAVF9Qcj88b-Vlcg:I1Um71xQWOa1Yjq0
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "error": {
                "code": 401,
                "message": "Authorization Required",
                "description": "This server could not verify that you are authorized to access the document requested. Either you supplied the wrong credentials (e.g., bad password), or your browser doesn't understand how to supply the credentials required",
                "links": {
                    "documentation": "https://help.gooddata.com/display/developer/API+Reference#/reference/authentication/log-in"
                }
            }
        }
  recorded_at: Mon, 21 Jan 2019 13:04:01 GMT
[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/xlp1b9j0fyte8e1cytgcq934c3y8hkrl/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - L8CZHWTmtF5-vx7vsvN9SA:QEm17EQBky32UaR0vd2iMw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
 [...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/xlp1b9j0fyte8e1cytgcq934c3y8hkrl/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - L8CZHWTmtF5-vx7vsvN9SA:t7BXdgpL1cWWKJAVMB3N0Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
    [...]
- request:
    method: post
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/xlp1b9j0fyte8e1cytgcq934c3y8hkrl/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["fact.csv_policies.income"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - L8CZHWTmtF5-vx7vsvN9SA:ak6KfUVWDjBj1uRF3-rm3g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - L8CZHWTmtF5-vx7vsvN9SA:ak6KfUVWDjBj1uRF3-rm3g:gTGvnF2buCkRYdjJ
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"fact.csv_policies.income","uri":"/gdc/md/xlp1b9j0fyte8e1cytgcq934c3y8hkrl/obj/304"}]}'
  recorded_at: Mon, 21 Jan 2019 13:04:05 GMT
[...]
- request:
    method: post
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/xlp1b9j0fyte8e1cytgcq934c3y8hkrl/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT AVG([/gdc/md/xlp1b9j0fyte8e1cytgcq934c3y8hkrl/obj/304])"},"meta":{"tags":"","summary":null,"title":"Average
        Income","identifier":"metric.average.income"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - L8CZHWTmtF5-vx7vsvN9SA:bc4rM6ljyZ51xZzJGkF2tg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - L8CZHWTmtF5-vx7vsvN9SA:bc4rM6ljyZ51xZzJGkF2tg:dutlYl2Eqpvo7re8
      X-Gdc-Request-Time:
      - '72'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/xlp1b9j0fyte8e1cytgcq934c3y8hkrl/obj/396"}'
  recorded_at: Mon, 21 Jan 2019 13:04:06 GMT
- request:
    method: get
[...]
