---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":9T_8nX3xOHi4vkQaJF4n7Q:wGe20SQBjKmGEeIqlkph1w"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":9T_8nX3xOHi4vkQaJF4n7Q:wGe20SQBjKmGEeIqlkph1w:oMyUBYSj6TnuaOJw"
      X-Gdc-Request-Time:
      - '101'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":4,"offset":0},"items":[{"fact":{"content":{"folders":["/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/302"],"expr":[{"type":"col","data":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/34"}]},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/303","tags":"fact","created":"2019-02-21
        10:43:06","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2019-02-21 10:47:33","contributor":"/gdc/account/profile/04848a0813ded971f3359f63d533c440"}}},{"fact":{"content":{"folders":["/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/302"],"expr":[{"type":"col","data":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/36"}]},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/304","tags":"","created":"2019-02-21
        10:43:06","identifier":"fact.csv_policies.income","deprecated":"0","summary":"","isProduction":1,"title":"[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":9T_8nX3xOHi4vkQaJF4n7Q:gJ1l26CDFV66VnFeCYv5iw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":9T_8nX3xOHi4vkQaJF4n7Q:gJ1l26CDFV66VnFeCYv5iw:S0kZScwkK40qF2Mo"
      X-Gdc-Request-Time:
      - '309'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":32,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/130"}],"displayForms":[],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/264","sort":"pk","dimension":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/111","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/178"},{"multivalue":false,"type":"col","data":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/186"},{"multivalue":false,"type":"col","data":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/201"}]},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/214","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"effective_to_date.year","deprecated":"0","summary":"Year","isProduction":1,"title":"Year
        (Effective To Date)","category":"attribute","updated":"2019-02-21 10:43:03","contributor":"/gdc/account/profile/04848a0813ded971f3359f63d533c440"}}},{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/132"}],"displayForms":[{"content":{"formOf":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/215","expression":"[/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/133]","default":1},"links":{"elements":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/233/elements"},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/233","tags":"","created":"2010-08-02
        08:13:42","identifier":"effective_to_date.aam81lMifn6q","deprecated":"0","summary":"DisplayForm
        default.","isProduction":1,"title":"default (Effective To Date)","category":"attributeDisplayForm","updated":"2019-02-21
        10:43:03","contributor":"/gdc/accoun[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":9T_8nX3xOHi4vkQaJF4n7Q:wXbmcVdbeKsdTIqhVTUdug"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":9T_8nX3xOHi4vkQaJF4n7Q:wXbmcVdbeKsdTIqhVTUdug:mYstcN69BvZWBVIM"
      X-Gdc-Request-Time:
      - '70'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":13,"offset":0},"items":[{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"SUM","content":[{"value":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/306","position":{"column":25,"line":1},"type":"fact
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        SUM([/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/306])"},"links":{"explain2":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/353/explain2"},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/353","tags":"","created":"2019-02-21
        10:44:50","identifier":"metric.total.claim.amount","deprecated":"0","summary":"","isProduction":1,"title":"Total
        Claim Amount","category":"metric","updated":"2019-02-21 10:44:52","contributor":"/gdc/account/profile/04848a0813ded971f3359f63d533c440"}}},{"metric"[...]
- request:
    method: post
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["fact.csv_policies.income"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":9T_8nX3xOHi4vkQaJF4n7Q:38QDlvMpWcsQZfM_FYRPPA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":9T_8nX3xOHi4vkQaJF4n7Q:38QDlvMpWcsQZfM_FYRPPA:OxlaEaXEm5LImQgR"
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"fact.csv_policies.income","uri":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/304"}]}'
  recorded_at: Thu, 21 Feb 2019 10:03:00 GMT
[...]
- request:
    method: post
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT AVG([/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/304])"},"meta":{"tags":"","summary":null,"title":"Average
        Income","identifier":"metric.average.income"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":9T_8nX3xOHi4vkQaJF4n7Q:AaKNISXGXoDjw8ho9lMcMw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":9T_8nX3xOHi4vkQaJF4n7Q:AaKNISXGXoDjw8ho9lMcMw:A9ngAMtcf4gQhTlD"
      X-Gdc-Request-Time:
      - '46'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/396"}'
  recorded_at: Thu, 21 Feb 2019 10:03:01 GMT
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/396
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":9T_8nX3xOHi4vkQaJF4n7Q:XEFsui8jHAvdp2pJHQesig"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":9T_8nX3xOHi4vkQaJF4n7Q:6Qzt2Dqoco_tozAMvWCZ5g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":9T_8nX3xOHi4vkQaJF4n7Q:6Qzt2Dqoco_tozAMvWCZ5g:egyGStN4wVvrsjWY"
      X-Gdc-Request-Time:
      - '55'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aaiRPz7EapFI","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/380","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/382","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/392","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"posi[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/281
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":9T_8nX3xOHi4vkQaJF4n7Q:m8mlicSVSznDIhiiESdEig"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":9T_8nX3xOHi4vkQaJF4n7Q:m8mlicSVSznDIhiiESdEig:LnaDsPJdV447F5Wp"
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/280","expression":"[/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/98]","default":1},"links":{"elements":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/281/elements"},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/281","tags":"","created":"2019-02-21
        10:43:04","identifier":"label.csv_policies.state","deprecated":"0","summary":"","isProduction":1,"title":"State","category":"attributeDisplayForm","updated":"2019-02-21
        10:43:04","contributor":"/gdc/account/profile/04848a0813ded971f3359f63d533c440"}}}'
  recorded_at: Thu, 21 Feb 2019 10:03:05 GMT
- request:
    method: post
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj
    body:
      encoding: UTF-8
      string: '{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[{"attribute":{"alias":"","totals":[],"uri":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/281"}}],"metrics":[{"alias":"Average
        Income","uri":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/396"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"meta":{"tags":"","summary":"","title":"Untitled
        report definition"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":9T_8nX3xOHi4vkQaJF4n7Q:CDMbNkdXWrHiqKX340MVcA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":9T_8nX3xOHi4vkQaJF4n7Q:CDMbNkdXWrHiqKX340MVcA:DjAJL3RAwfofKpDZ"
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/397"}'
  recorded_at: Thu, 21 Feb 2019 10:03:06 GMT
[...]
- request:
    method: post
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj
    body:
      encoding: UTF-8
      string: '{"report":{"content":{"domains":[],"definitions":["/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/397"]},"meta":{"tags":"","deprecated":"0","summary":"","title":"Awesome
        report"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":9T_8nX3xOHi4vkQaJF4n7Q:5wmBbPRYg2TRUnBwEgL3Og"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":9T_8nX3xOHi4vkQaJF4n7Q:5wmBbPRYg2TRUnBwEgL3Og:QCnCmBMtH1XsPIOk"
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/398"}'
  recorded_at: Thu, 21 Feb 2019 10:03:07 GMT
[...]
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/roqdh0atnyjbinu96lns32v0k79uhkpe/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["fact.csv_policies.customer_lifetime_value"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:CSjVo2NQvECfthCcr1XYqw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:CSjVo2NQvECfthCcr1XYqw:ilPEC8eDJs2jS2Wq"
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"fact.csv_policies.customer_lifetime_value","uri":"/gdc/md/roqdh0atnyjbinu96lns32v0k79uhkpe/obj/312"}]}'
  recorded_at: Thu, 21 Feb 2019 10:03:13 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/roqdh0atnyjbinu96lns32v0k79uhkpe/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:LELtoe_-lhJ1lBxzF4NgpQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:LELtoe_-lhJ1lBxzF4NgpQ:yGgKVxn74y5QJtid"
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/roqdh0atnyjbinu96lns32v0k79uhkpe/obj/311"],"expr":[{"type":"col","data":"/gdc/md/roqdh0atnyjbinu96lns32v0k79uhkpe/obj/34"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/roqdh0atnyjbinu96lns32v0k79uhkpe/obj/312","tags":"_lcm_managed_object
        fact","created":"2019-02-21 10:49:38","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2019-02-21 11:00:10","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Thu, 21 Feb 2019 10:03:13 GMT
- request:
    method: delete
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/roqdh0atnyjbinu96lns32v0k79uhkpe/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:CX21AOSKhPcw7w2ieco4-g"
      Stats-On:
      - ''
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '89'
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:CX21AOSKhPcw7w2ieco4-g:cOFt8EBZUyVdTspN"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 21 Feb 2019 10:03:14 GMT
recorded_with: VCR 4.0.0
