---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-dev.intgdc.com/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:Noju5fNF5aDF4jkQVxcTXQ"
      Stats-On:
      - ''
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - GoodData realm="GoodData API" cookie=GDCAuthTT
      Content-Type:
      - application/json; charset=utf-8
      X-Gdc-Request-Time:
      - '1'
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:Noju5fNF5aDF4jkQVxcTXQ:aoiGdcJSK1Y8Finc"
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "error": {
                "code": 401,
                "message": "Authorization Required",
                "description": "This server could not verify that you are authorized to access the document requested. Either you supplied the wrong credentials (e.g., bad password), or your browser doesn't understand how to supply the credentials required",
                "links": {
                    "documentation": "https://help.gooddata.com/display/developer/API+Reference#/reference/authentication/log-in"
                }
            }
        }
  recorded_at: Thu, 18 Apr 2019 12:54:57 GMT
- request:
    method: get
    uri: https://staging2-lcm-dev.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:xa0UsUKeXRvLbNA0OL9r6Q"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:xa0UsUKeXRvLbNA0OL9r6Q:6L14SgRlzH530Lt0"
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 18 Apr 2019 12:54:58 GMT
- request:
    method: get
    uri: https://staging2-lcm-dev.intgdc.com/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:Noju5fNF5aDF4jkQVxcTXQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:Noju5fNF5aDF4jkQVxcTXQ:xf8yxWDHfKWN683l"
      X-Gdc-Request-Time:
      - '77'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":4,"offset":0},"items":[{"fact":{"content":{"folders":["/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/302"],"expr":[{"type":"col","data":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/34"}]},"meta":{"author":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0","uri":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/303","tags":"fact","created":"2019-04-18
        14:33:08","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2019-04-18 14:36:17","contributor":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0"}}},{"fact":{"content":{"folders":["/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/302"],"expr":[{"type":"col","data":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/36"}]},"meta":{"author":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0","uri":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/304","tags":"","created":"2019-04-18
        14:33:08","identifier":"fact.csv_policies.income","deprecated":"0","summary":"","isProduction":1,"title":"[...]
- request:
    method: get
    uri: https://staging2-lcm-dev.intgdc.com/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:gGI-n5b5PN4FO3v9sk4VuA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:gGI-n5b5PN4FO3v9sk4VuA:OjxGhChZDYNYEtdh"
      X-Gdc-Request-Time:
      - '311'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":32,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/130"}],"displayForms":[],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/264","sort":"pk","dimension":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/111","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/178"},{"multivalue":false,"type":"col","data":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/186"},{"multivalue":false,"type":"col","data":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/201"}]},"meta":{"author":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0","uri":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/214","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"effective_to_date.year","deprecated":"0","summary":"Year","isProduction":1,"title":"Year
        (Effective To Date)","category":"attribute","updated":"2019-04-18 14:33:06","contributor":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0"}}},{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/132"}],"displayForms":[{"content":{"formOf":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/215","expression":"[/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/133]","default":1},"links":{"elements":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/233/elements"},"meta":{"author":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0","uri":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/233","tags":"","created":"2010-08-02
        08:13:42","identifier":"effective_to_date.aam81lMifn6q","deprecated":"0","summary":"DisplayForm
        default.","isProduction":1,"title":"default (Effective To Date)","category":"attributeDisplayForm","updated":"2019-04-18
        14:33:06","contributor":"/gdc/accoun[...]
- request:
    method: get
    uri: https://staging2-lcm-dev.intgdc.com/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:ehBvK0imOCDsUFnib5h2WQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:ehBvK0imOCDsUFnib5h2WQ:NXdMTnaJ6cbRWT1h"
      X-Gdc-Request-Time:
      - '73'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":13,"offset":0},"items":[{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"SUM","content":[{"value":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/306","position":{"column":25,"line":1},"type":"fact
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        SUM([/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/306])"},"links":{"explain2":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/353/explain2"},"meta":{"author":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0","uri":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/353","tags":"","created":"2019-04-18
        14:33:35","identifier":"metric.total.claim.amount","deprecated":"0","summary":"","isProduction":1,"title":"Total
        Claim Amount","category":"metric","updated":"2019-04-18 14:33:37","contributor":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0"}}},{"metric"[...]
- request:
    method: post
    uri: https://staging2-lcm-dev.intgdc.com/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["fact.csv_policies.income"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:f-Jz6JbH42ayghv2V2HAuQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:f-Jz6JbH42ayghv2V2HAuQ:KjIOsplKEfFYiuZY"
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"fact.csv_policies.income","uri":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/304"}]}'
  recorded_at: Thu, 18 Apr 2019 12:55:01 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-dev.intgdc.com/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT AVG([/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/304])"},"meta":{"tags":"","summary":null,"title":"Average
        Income","identifier":"metric.average.income"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:2rchshLA0G6lWE6OXU7yQA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:2rchshLA0G6lWE6OXU7yQA:gQXNdjYVDl3j3XPA"
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/396"}'
  recorded_at: Thu, 18 Apr 2019 12:55:02 GMT
- request:
    method: get
    uri: https://staging2-lcm-dev.intgdc.com/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/396
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:0H6_MdjjIv_SWZSVMOYQsA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-dev.intgdc.com/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:C68hpq2osbcG5AQvaiDjtQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:C68hpq2osbcG5AQvaiDjtQ:kBjXtXZrPrAPJCC3"
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aac9ZeDKgyVm","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/380","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/382","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/392","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"posi[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-dev.intgdc.com/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/281
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:JjycXsrCRMBNuolnye-TqQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:JjycXsrCRMBNuolnye-TqQ:JE8N0Y2Rt6Ys7pjy"
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/280","expression":"[/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/98]","default":1},"links":{"elements":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/281/elements"},"meta":{"author":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0","uri":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/281","tags":"","created":"2019-04-18
        14:33:07","identifier":"label.csv_policies.state","deprecated":"0","summary":"","isProduction":1,"title":"State","category":"attributeDisplayForm","updated":"2019-04-18
        14:33:07","contributor":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0"}}}'
  recorded_at: Thu, 18 Apr 2019 12:55:06 GMT
- request:
    method: post
    uri: https://staging2-lcm-dev.intgdc.com/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj
    body:
      encoding: UTF-8
      string: '{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[{"attribute":{"alias":"","totals":[],"uri":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/281"}}],"metrics":[{"alias":"Average
        Income","uri":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/396"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"meta":{"tags":"","summary":"","title":"Untitled
        report definition"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:iyuqjYu99qnxEZd94EQs4g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:iyuqjYu99qnxEZd94EQs4g:TPFGKPmKECKCNcsV"
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/397"}'
  recorded_at: Thu, 18 Apr 2019 12:55:06 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-dev.intgdc.com/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj
    body:
      encoding: UTF-8
      string: '{"report":{"content":{"domains":[],"definitions":["/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/397"]},"meta":{"tags":"","deprecated":"0","summary":"","title":"Awesome
        report"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:pcsW16GuURkIOT1p_uAUxg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:pcsW16GuURkIOT1p_uAUxg:JO7MSx19VXlNOgg7"
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/398"}'
  recorded_at: Thu, 18 Apr 2019 12:55:08 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["fact.csv_policies.customer_lifetime_value"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:30YtYEOpzRm_MrYIv1XX4Q"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:30YtYEOpzRm_MrYIv1XX4Q:R5Wph239iPbhNqNo"
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"fact.csv_policies.customer_lifetime_value","uri":"/gdc/md/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/obj/312"}]}'
  recorded_at: Thu, 18 Apr 2019 12:55:12 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:Xw65r2gk-jyW0119eJN4ug"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:Xw65r2gk-jyW0119eJN4ug:wNxJN9Ga5T2COsKi"
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/obj/311"],"expr":[{"type":"col","data":"/gdc/md/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/obj/34"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/obj/312","tags":"_lcm_managed_object
        fact","created":"2019-04-18 14:38:12","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2019-04-18 14:52:22","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 18 Apr 2019 12:55:13 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:LIILeLLRuQsMYtw-hg6mpA"
      Stats-On:
      - ''
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '93'
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:LIILeLLRuQsMYtw-hg6mpA:BbjIfgv4XLlKRleq"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 18 Apr 2019 12:55:14 GMT
recorded_with: VCR 4.0.0
