---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:Vlc2y4z9ZAyM9W0_vwHmOQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:Vlc2y4z9ZAyM9W0_vwHmOQ:KntSIhqykDlsqCtS
      X-Gdc-Request-Time:
      - '76'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":4,"offset":0},"items":[{"fact":{"content":{"folders":["/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/302"],"expr":[{"type":"col","data":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/34"}]},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/303","tags":"fact","created":"2018-12-05
        15:00:47","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2018-12-05 15:03:54","contributor":"/gdc/account/profile/04848a0813ded971f3359f63d533c440"}}},{"fact":{"content":{"folders":["/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/302"],"expr":[{"type":"col","data":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/36"}]},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/304","tags":"","created":"2018-12-05
        15:00:47","identifier":"fact.csv_policies.income","deprecated":"0","summary":"","isProduction":1,"title":"[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:c51_u6ob9cVJ1yWAUKKshg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:c51_u6ob9cVJ1yWAUKKshg:Fv0tGYj8hyj7iyaB
      X-Gdc-Request-Time:
      - '354'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":32,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/130"}],"displayForms":[],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/264","sort":"pk","dimension":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/111","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/178"},{"multivalue":false,"type":"col","data":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/186"},{"multivalue":false,"type":"col","data":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/201"}]},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/214","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"effective_to_date.year","deprecated":"0","summary":"Year","isProduction":1,"title":"Year
        (Effective To Date)","category":"attribute","updated":"2018-12-05 15:00:45","contributor":"/gdc/account/profile/04848a0813ded971f3359f63d533c440"}}},{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/132"}],"displayForms":[{"content":{"formOf":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/215","expression":"[/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/133]","default":1},"links":{"elements":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/233/elements"},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/233","tags":"","created":"2010-08-02
        08:13:42","identifier":"effective_to_date.aam81lMifn6q","deprecated":"0","summary":"DisplayForm
        default.","isProduction":1,"title":"default (Effective To Date)","category":"attributeDisplayForm","updated":"2018-12-05
        15:00:45","contributor":"/gdc/accoun[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:YxabKdV_Yf2mhVIvxLPGSg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:YxabKdV_Yf2mhVIvxLPGSg:lUZIcKP8uxIqfKWq
      X-Gdc-Request-Time:
      - '67'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":13,"offset":0},"items":[{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"SUM","content":[{"value":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/306","position":{"column":25,"line":1},"type":"fact
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        SUM([/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/306])"},"links":{"explain2":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/353/explain2"},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/353","tags":"","created":"2018-12-05
        15:01:17","identifier":"metric.total.claim.amount","deprecated":"0","summary":"","isProduction":1,"title":"Total
        Claim Amount","category":"metric","updated":"2018-12-05 15:01:18","contributor":"/gdc/account/profile/04848a0813ded971f3359f63d533c440"}}},{"metric"[...]
- request:
    method: post
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["fact.csv_policies.income"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:snmsiPmstpOO90u3S_vWlg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:snmsiPmstpOO90u3S_vWlg:wMeGkdBNx7qdXxgd
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"fact.csv_policies.income","uri":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/304"}]}'
  recorded_at: Wed, 05 Dec 2018 14:19:36 GMT
[...]
- request:
    method: post
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT AVG([/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/304])"},"meta":{"tags":"","summary":null,"title":"Average
        Income","identifier":"metric.average.income"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:CrZbDOLHah6ZiPKBvgMLTA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:CrZbDOLHah6ZiPKBvgMLTA:3U9APue1yxV2g9FI
      X-Gdc-Request-Time:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/396"}'
  recorded_at: Wed, 05 Dec 2018 14:19:38 GMT
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/396
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:Fa9Rf41UeLoVOw1NgED16g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:OPnxd95GR8KNRSpH_3fplg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:OPnxd95GR8KNRSpH_3fplg:v6Zj4vUIPRfLsQ1E
      X-Gdc-Request-Time:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aaswN8vegPaB","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/380","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/382","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/392","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"posi[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/281
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:Zwn6XZOl7PLQu__Bb8Kh8w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:Zwn6XZOl7PLQu__Bb8Kh8w:ugcxTVMgPzwmUgvb
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/280","expression":"[/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/98]","default":1},"links":{"elements":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/281/elements"},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/281","tags":"","created":"2018-12-05
        15:00:46","identifier":"label.csv_policies.state","deprecated":"0","summary":"","isProduction":1,"title":"State","category":"attributeDisplayForm","updated":"2018-12-05
        15:00:46","contributor":"/gdc/account/profile/04848a0813ded971f3359f63d533c440"}}}'
  recorded_at: Wed, 05 Dec 2018 14:19:42 GMT
- request:
    method: post
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj
    body:
      encoding: UTF-8
      string: '{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[{"attribute":{"alias":"","totals":[],"uri":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/281"}}],"metrics":[{"alias":"Average
        Income","uri":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/396"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"meta":{"tags":"","summary":"","title":"Untitled
        report definition"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:iAchX3H2aX8H2mQeUceMMQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:iAchX3H2aX8H2mQeUceMMQ:wcICrdADyZqCuej7
      X-Gdc-Request-Time:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/397"}'
  recorded_at: Wed, 05 Dec 2018 14:19:43 GMT
[...]
- request:
    method: post
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj
    body:
      encoding: UTF-8
      string: '{"report":{"content":{"domains":[],"definitions":["/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/397"]},"meta":{"tags":"","deprecated":"0","summary":"","title":"Awesome
        report"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:H2EcgzvvTkQjHJst6KOtbQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:H2EcgzvvTkQjHJst6KOtbQ:bHuYsEcgOv6vpQJu
      X-Gdc-Request-Time:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/398"}'
  recorded_at: Wed, 05 Dec 2018 14:19:44 GMT
[...]
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/k1ocfm1di3ddj89nmi3gb1h2xt4qdtt9/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["fact.csv_policies.customer_lifetime_value"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:ggbL_i0j5fOU2MulbacmAQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:ggbL_i0j5fOU2MulbacmAQ:Kt5MRR0SMMC0bQAG
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"fact.csv_policies.customer_lifetime_value","uri":"/gdc/md/k1ocfm1di3ddj89nmi3gb1h2xt4qdtt9/obj/312"}]}'
  recorded_at: Wed, 05 Dec 2018 14:19:49 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/k1ocfm1di3ddj89nmi3gb1h2xt4qdtt9/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:SrqAm05mt8Pxd4FhBDYZcA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:SrqAm05mt8Pxd4FhBDYZcA:6nUz4g67lhCDcj33
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/k1ocfm1di3ddj89nmi3gb1h2xt4qdtt9/obj/311"],"expr":[{"type":"col","data":"/gdc/md/k1ocfm1di3ddj89nmi3gb1h2xt4qdtt9/obj/34"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/k1ocfm1di3ddj89nmi3gb1h2xt4qdtt9/obj/312","tags":"_lcm_managed_object
        fact","created":"2018-12-05 15:05:45","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2018-12-05 15:16:49","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Wed, 05 Dec 2018 14:19:50 GMT
- request:
    method: delete
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/k1ocfm1di3ddj89nmi3gb1h2xt4qdtt9/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:GknoD7_-WT5oU_S7M17Pnw
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '128'
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:GknoD7_-WT5oU_S7M17Pnw:HKRtn9mb1p8KmnAT
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 05 Dec 2018 14:19:50 GMT
recorded_with: VCR 4.0.0
