---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - KCCSJzDml4eTNZK18cMVtQ:TXBjAXPow4CE1i6KSi4-xA
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - GoodData realm="GoodData API" cookie=GDCAuthTT
      Content-Type:
      - application/json; charset=utf-8
      X-Gdc-Request-Time:
      - '0'
      X-Gdc-Request:
      - KCCSJzDml4eTNZK18cMVtQ:TXBjAXPow4CE1i6KSi4-xA:CEZ7cBiiH6Jm7lEQ
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "error": {
                "code": 401,
                "message": "Authorization Required",
                "description": "This server could not verify that you are authorized to access the document requested. Either you supplied the wrong credentials (e.g., bad password), or your browser doesn't understand how to supply the credentials required",
                "links": {
                    "documentation": "https://help.gooddata.com/display/developer/API+Reference#/reference/authentication/log-in"
                }
            }
        }
  recorded_at: Tue, 11 Dec 2018 14:13:29 GMT
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - KCCSJzDml4eTNZK18cMVtQ:cVj2lOZRybTBaquoUGXDBw
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - KCCSJzDml4eTNZK18cMVtQ:cVj2lOZRybTBaquoUGXDBw:EjC52QW83RKBNW7o
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Tue, 11 Dec 2018 14:13:30 GMT
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - KCCSJzDml4eTNZK18cMVtQ:TXBjAXPow4CE1i6KSi4-xA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - KCCSJzDml4eTNZK18cMVtQ:TXBjAXPow4CE1i6KSi4-xA:CbkOUcWHcwZKRUy5
      X-Gdc-Request-Time:
      - '67'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":4,"offset":0},"items":[{"fact":{"content":{"folders":["/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/302"],"expr":[{"type":"col","data":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/34"}]},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/303","tags":"fact","created":"2018-12-11
        14:51:16","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2018-12-11 14:54:34","contributor":"/gdc/account/profile/04848a0813ded971f3359f63d533c440"}}},{"fact":{"content":{"folders":["/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/302"],"expr":[{"type":"col","data":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/36"}]},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/304","tags":"","created":"2018-12-11
        14:51:16","identifier":"fact.csv_policies.income","deprecated":"0","summary":"","isProduction":1,"title":"[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - KCCSJzDml4eTNZK18cMVtQ:grCDC5RVK7e9OLTDvygBKQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - KCCSJzDml4eTNZK18cMVtQ:grCDC5RVK7e9OLTDvygBKQ:suvsZKVphRBIf0m7
      X-Gdc-Request-Time:
      - '347'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":32,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/130"}],"displayForms":[],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/264","sort":"pk","dimension":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/111","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/178"},{"multivalue":false,"type":"col","data":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/186"},{"multivalue":false,"type":"col","data":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/201"}]},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/214","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"effective_to_date.year","deprecated":"0","summary":"Year","isProduction":1,"title":"Year
        (Effective To Date)","category":"attribute","updated":"2018-12-11 14:51:14","contributor":"/gdc/account/profile/04848a0813ded971f3359f63d533c440"}}},{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/132"}],"displayForms":[{"content":{"formOf":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/215","expression":"[/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/133]","default":1},"links":{"elements":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/233/elements"},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/233","tags":"","created":"2010-08-02
        08:13:42","identifier":"effective_to_date.aam81lMifn6q","deprecated":"0","summary":"DisplayForm
        default.","isProduction":1,"title":"default (Effective To Date)","category":"attributeDisplayForm","updated":"2018-12-11
        14:51:14","contributor":"/gdc/accoun[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - KCCSJzDml4eTNZK18cMVtQ:Irg5QY7cvc6IWpoD_Y8Jcg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - KCCSJzDml4eTNZK18cMVtQ:Irg5QY7cvc6IWpoD_Y8Jcg:sv54jADHrwEwEFTU
      X-Gdc-Request-Time:
      - '66'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":13,"offset":0},"items":[{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"SUM","content":[{"value":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/306","position":{"column":25,"line":1},"type":"fact
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        SUM([/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/306])"},"links":{"explain2":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/353/explain2"},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/353","tags":"","created":"2018-12-11
        14:51:42","identifier":"metric.total.claim.amount","deprecated":"0","summary":"","isProduction":1,"title":"Total
        Claim Amount","category":"metric","updated":"2018-12-11 14:51:43","contributor":"/gdc/account/profile/04848a0813ded971f3359f63d533c440"}}},{"metric"[...]
- request:
    method: post
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["fact.csv_policies.income"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - KCCSJzDml4eTNZK18cMVtQ:Sp3lfM-eTe3OpDv4b2VTDw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - KCCSJzDml4eTNZK18cMVtQ:Sp3lfM-eTe3OpDv4b2VTDw:lcAv6GdsIhb2CwSM
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"fact.csv_policies.income","uri":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/304"}]}'
  recorded_at: Tue, 11 Dec 2018 14:13:34 GMT
[...]
- request:
    method: post
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT AVG([/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/304])"},"meta":{"tags":"","summary":null,"title":"Average
        Income","identifier":"metric.average.income"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - KCCSJzDml4eTNZK18cMVtQ:LTCW2ixWW8ZHKnKNfmeV0A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - KCCSJzDml4eTNZK18cMVtQ:LTCW2ixWW8ZHKnKNfmeV0A:ft3We7uyyxpnOlRb
      X-Gdc-Request-Time:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/396"}'
  recorded_at: Tue, 11 Dec 2018 14:13:36 GMT
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/396
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - KCCSJzDml4eTNZK18cMVtQ:apv5RPQ5hTWZN3HU8k8wow
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - KCCSJzDml4eTNZK18cMVtQ:2S8gYkWYclIW_Bc7JR6fpg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - KCCSJzDml4eTNZK18cMVtQ:2S8gYkWYclIW_Bc7JR6fpg:3PwMyWGvQsFYrTTQ
      X-Gdc-Request-Time:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aad5RjdodnUC","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/380","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/382","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/392","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"posi[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/281
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - KCCSJzDml4eTNZK18cMVtQ:5Esm1T4ntggGYRVgIlyLmg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - KCCSJzDml4eTNZK18cMVtQ:5Esm1T4ntggGYRVgIlyLmg:ZpDXXKMNUA43N74r
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/280","expression":"[/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/98]","default":1},"links":{"elements":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/281/elements"},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/281","tags":"","created":"2018-12-11
        14:51:15","identifier":"label.csv_policies.state","deprecated":"0","summary":"","isProduction":1,"title":"State","category":"attributeDisplayForm","updated":"2018-12-11
        14:51:15","contributor":"/gdc/account/profile/04848a0813ded971f3359f63d533c440"}}}'
  recorded_at: Tue, 11 Dec 2018 14:13:42 GMT
- request:
    method: post
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj
    body:
      encoding: UTF-8
      string: '{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[{"attribute":{"alias":"","totals":[],"uri":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/281"}}],"metrics":[{"alias":"Average
        Income","uri":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/396"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"meta":{"tags":"","summary":"","title":"Untitled
        report definition"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - KCCSJzDml4eTNZK18cMVtQ:QbFtvrIN404QSr72C_O2dQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - KCCSJzDml4eTNZK18cMVtQ:QbFtvrIN404QSr72C_O2dQ:McUxhs38COiVsURW
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/397"}'
  recorded_at: Tue, 11 Dec 2018 14:13:43 GMT
[...]
- request:
    method: post
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj
    body:
      encoding: UTF-8
      string: '{"report":{"content":{"domains":[],"definitions":["/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/397"]},"meta":{"tags":"","deprecated":"0","summary":"","title":"Awesome
        report"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - KCCSJzDml4eTNZK18cMVtQ:JlyUznc5ISza-91KokRPTw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - KCCSJzDml4eTNZK18cMVtQ:JlyUznc5ISza-91KokRPTw:NAVTXBN1Wl7SFUUo
      X-Gdc-Request-Time:
      - '56'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/398"}'
  recorded_at: Tue, 11 Dec 2018 14:13:45 GMT
[...]
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["fact.csv_policies.customer_lifetime_value"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:-rbe-P772II2dJi-W-eOig
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:-rbe-P772II2dJi-W-eOig:bmhFtnTI1tBaP5IJ
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"fact.csv_policies.customer_lifetime_value","uri":"/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/312"}]}'
  recorded_at: Tue, 11 Dec 2018 14:13:51 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:E0O0mbK-GWNMQ5UYSD5jug
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:E0O0mbK-GWNMQ5UYSD5jug:qk4tqzLUxS9QGlqa
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/311"],"expr":[{"type":"col","data":"/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/34"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/312","tags":"_lcm_managed_object
        fact","created":"2018-12-11 14:56:37","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2018-12-11 15:09:50","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Tue, 11 Dec 2018 14:13:52 GMT
- request:
    method: delete
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:FMu2UIaoLP8_65jUwePWsA
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '135'
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:FMu2UIaoLP8_65jUwePWsA:0TEOyc6QAiLiIBqf
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Dec 2018 14:13:54 GMT
recorded_with: VCR 4.0.0
