---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:Dxg2zBagc1vWPN0lbBUpUQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:Dxg2zBagc1vWPN0lbBUpUQ:DY5RVINHauPehylv
      X-Gdc-Request-Time:
      - '56'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/ldm?thumbnail=1","self":"/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d","clearCaches":"/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/clearCaches","invitations":"/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/invitations","users":"/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/uploads/","ldm":"/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/ldm","metadata":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d","publicartifacts":"/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/publicartifacts","roles":"/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/roles","userRoles":"/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/dataload","connectors":"/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/connectors","execute":"/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/execute","config":"/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/config","projectFeatureFlags":"/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/projectFeatureFlags","schedules":"/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/schedules","templates":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/templates","eventstores":"/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        08:42:03","summary":"No summary","updated":"2018-06-05 08:42:03","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"GD
        M:N project testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 06:42:05 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:a5qAS8xx7LyqJH8etRe0dg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:a5qAS8xx7LyqJH8etRe0dg:5oahypYgg7KWoSrv
      X-Gdc-Request-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/ldm?thumbnail=1","self":"/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d","clearCaches":"/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/clearCaches","invitations":"/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/invitations","users":"/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/fy2mp4kwklbyr0xup[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.visibility","title":"Dataset.Visibility","anchor":{"attribute":{"identifier":"attr.visibility.id","title":"Attr.Visibility.Id","folder":"Dataset.Visibility","labels":[{"label":{"identifier":"label.visibility.id","title":"Label.Visibility.Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.visibility.id"}},"attributes":[],"facts":[],"references":["dataset.permission_users","dataset.commits"]}},{"dataset":{"identifier":"dataset.users","title":"Dataset.Users","anchor":{"attribute":{"identifier":"attr.users.id","title":"Attr.Users.Id","folder":"Dataset.Users","labels":[{"label":{"identifier":"label.users.id","title":"Label.Users.Id","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.users.id.email","title":"Label.Users.Id.Email","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.users.id.email"}},"attributes":[],"facts":[],"references":[]}},{"dataset":{"identifier":"dataset.permission_users","title":"Dataset.Permission
        Users","anchor":{"attribute":{"identifier":"attr.permission.id","title":"Attr.Permission.Id","folder":"Dataset.Permission
        Users","labels":[{"label":{"identifier":"label.permission.id","title":"Label.Permission.Id","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.permission.id.email","title":"Label.Permission.Id.Email","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.permission.id.email"}},"attributes":[],"facts":[],"references":[]}},{"dataset":{"identifier":"dataset.commits","title":"Dataset.Commits","anchor":{"attribute":{"identifier":"attr.commits.id","title":"Attr.Commits.Id","folder":"Dataset.Commits","labels":[{"label":{"identifier":"label.commits.id","title":"Label.Commits.Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.commits.id"}},"attributes":[],"facts":[{"fact":{"identifier":"fact.commits.lines_changed","title":"Fact.Commits.Lines
        Changed","folder":"Dataset.Commits","dataType":"DECIMAL(12,2)","type":"fact"}}],"references":["dataset.users"]}}],"dateDimensions":[]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:hynSbzrzGbS1Ec6FCKlnEg
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/model/diff/1c292686cf241802d4dd3c89631fc43801cd73ad59a888250000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:hynSbzrzGbS1Ec6FCKlnEg:zDpp1Q6N2oAHG5sW
      X-Gdc-Request-Time:
      - '58'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/model/diff/1c292686cf241802d4dd3c89631fc43801cd73ad59a888250000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 06:42:12 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/model/diff/1c292686cf241802d4dd3c89631fc43801cd73ad59a888250000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:8DzOnWVxuCof00t7VzYodw
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/model/diff/1c292686cf241802d4dd3c89631fc43801cd73ad59a888250000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:8DzOnWVxuCof00t7VzYodw:iGn1OCxa8zXMgy5Y
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/model/diff/1c292686cf241802d4dd3c89631fc43801cd73ad59a888250000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 06:42:13 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/model/diff/1c292686cf241802d4dd3c89631fc43801cd73ad59a888250000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:hqRLTsqBFRKZsTdykwT0zg
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:hqRLTsqBFRKZsTdykwT0zg:iOusgMEfh3bY6wzX
      X-Gdc-Request-Time:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"dataset.create","dataset":"dataset.visibility","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Dataset.Visibility"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.users","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Dataset.Users"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.permission_users","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Dataset.Permission Users"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.commits","destructive":false,"description":"Create
 [...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:_MVofK4vEvZN78akdWDY2w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:_MVofK4vEvZN78akdWDY2w:Al5NHQb3dyh8Y0IE
      X-Gdc-Request-Time:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''fy2mp4kwklbyr0xuponszbx4cxxdrm0d''","category":"project","instance":"fy2mp4kwklbyr0xuponszbx4cxxdrm0d","links":[{"link":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","ca[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:jVoBSdQkHOfWA6yBbNZFOQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.visibility} VISUAL(TITLE
        \"Dataset.Visibility\");\nCREATE DATASET {dataset.users} VISUAL(TITLE \"Dataset.Users\");\nCREATE
        DATASET {dataset.permission_users} VISUAL(TITLE \"Dataset.Permission Users\");\nCREATE
        DATASET {dataset.commits} VISUAL(TITLE \"Dataset.Commits\");\nCREATE FOLDER
        {dim.datasetpermissionusers} VISUAL(TITLE \"Dataset.Permission Users\") TYPE
        ATTRIBUTE;\nCREATE ATTRIBUTE {attr.permission.id} VISUAL(TITLE \"Attr.Pe[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/tasks/951fc0715b5ea77df5700e3b23343b5c0000002a/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:lTvbM8IHn9A043kKU8ctuQ
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:lTvbM8IHn9A043kKU8ctuQ:OUMUrvydzkc20eyX
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/tasks/951fc0715b5ea77df5700e3b23343b5c0000002a/status","status":"RUNNING","links":{"poll":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/tasks/951fc0715b5ea77df5700e3b23343b5c0000002a/status"}}}'
  recorded_at: Tue, 05 Jun 2018 06:42:27 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.permission.id"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:NepzW-AOvwdo7BcDjdnS0Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:NepzW-AOvwdo7BcDjdnS0Q:lS4rSGMFXYKK1F3P
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.permission.id","uri":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/47"}]}'
  recorded_at: Tue, 05 Jun 2018 06:42:38 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/47
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:bVyTWUfkq4onn1IQl7Np2Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:bVyTWUfkq4onn1IQl7Np2Q:4h4XzqPgAQXpfoMM
      X-Gdc-Request-Time:
      - '71'
    body:
      encoding: ASCII-8BIT
      string: '{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/18"}],"dimension":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/46","displayForms":[{"content":{"formOf":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/47","expression":"[/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/20]","default":1},"links":{"elements":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/49/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/49","tags":"","created":"2018-06-05
        08:42:27","identifier":"label.permission.id.email","deprecated":"0","summary":"","isProduction":1,"title":"Label.Permission.Id.Email","category":"attributeDisplayForm","updated":"2018-06-05
        08:42:27","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}},{"content":{"formOf":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/47","expression":"[/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/22]"},"links":{"elements":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/48/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/48","tags":"","created":"2018-06-05
        08:42:27","identifier":"label.permission.id","deprecated":"0","summary":"","isProduction":1,"title":"Label.Permission.Id","category":"attributeDisplayForm","updated":"2018-06-05
        08:42:27","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}],"fk":[{"multivalue":false,"type":"col","data":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/40"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/47","tags":"","created":"2018-06-05
        08:42:27","identifier":"attr.permission.id","deprecated":"0","summary":"","isProduction":1,"title":"Attr.Permission.Id","category":"attribute","updated":"2018-06-05
        08:42:27","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 06:42:39 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/49
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:GMamqZrbHaF50ulEljCwEQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:GMamqZrbHaF50ulEljCwEQ:JBk7mukiNBCF6smi
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/47","expression":"[/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/20]","default":1},"links":{"elements":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/49/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/49","tags":"","created":"2018-06-05
        08:42:27","identifier":"label.permission.id.email","deprecated":"0","summary":"","isProduction":1,"title":"Label.Permission.Id.Email","category":"attributeDisplayForm","updated":"2018-06-05
        08:42:27","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 06:42:39 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/etl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:Hl-AxkylunPLRqNqmRCYTQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:Hl-AxkylunPLRqNqmRCYTQ:sfH1N7yibwGiRKiD
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Extract, transform and load services for project
        ''fy2mp4kwklbyr0xuponszbx4cxxdrm0d''","category":"etl","instance":"fy2mp4kwklbyr0xuponszbx4cxxdrm0d","links":[{"link":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/etl/pull2","summary":"Provides
        service of pull2.","category":"pull2","title":"pull2"},{"link":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/etl/task","summary":"Provides
        service of task.","category":"task","title":"task"},{"link":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/etl/mode","summary":"Provides
        service of mode.","category":"mode","title":"mode"}]}}'
  recorded_at: Tue, 05 Jun 2018 06:42:44 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/etl/pull2
    body:
      encoding: UTF-8
      string: '{"pullIntegration":"d20180605-27954-1wc87jy"}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:8fknYF7vHtu1YKfO6RpP2A
      Info-Message:
      - Starting the data load from user storage to dataset.
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/tasks/1cc9f709b325d918a9ec84a7ca58f7fd00000009/status"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:8fknYF7vHtu1YKfO6RpP2A:rMUWuzlYbR2CHvY4
      X-Gdc-Request-Time:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"pull2Task":{"links":{"poll":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/tasks/1cc9f709b325d918a9ec84a7ca58f7fd00000009/status"}}}'
  recorded_at: Tue, 05 Jun 2018 06:42:44 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj
    body:
      encoding: UTF-8
      string: '{"prompt":{"content":{"attribute":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/47","type":"filter"},"meta":{"tags":"","deprecated":"0","summary":"","title":"uaaa","category":"prompt"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:1sxaDHvuxpGG5r3mBvxUvw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:1sxaDHvuxpGG5r3mBvxUvw:CuNQoYTNFl9LKvAj
      X-Gdc-Request-Time:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/78"}'
  recorded_at: Tue, 05 Jun 2018 06:43:12 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/d03ip1j5jt55xygscre51mf55wzsg3b8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - IyeyRJ-qTytgDlxoU0VXFg:LmIrOzIs1CC0n0vJP7WD2w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - IyeyRJ-qTytgDlxoU0VXFg:LmIrOzIs1CC0n0vJP7WD2w:igJYzZlWDTVxN4U0
      X-Gdc-Request-Time:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/d03ip1j5jt55xygscre51mf55wzsg3b8/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.visibility","title":"Dataset.Visibility","anchor":{"attribute":{"identifier":"attr.visibility.id","title":"Attr.Visibility.Id","folder":"Dataset.Visibility","labels":[{"label":{"identifier":"label.visibility.id","title":"Label.Visibility.Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.visibility.id"}},"attributes":[],"facts":[],"references":["dataset.permission_users","dataset.commits"],"bridges":[]}},{"dataset":{"identifier":"dataset.users","title":"Dataset.Users","anchor":{"attribute":{"identifier":"attr.users.id","title":"Attr.Users.Id","folder":"Dataset.Users","labels":[{"label":{"identifier":"label.users.id","title":"Label.Users.Id","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.users.id.email","title":"Label.Users.Id.Email","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.users.id.email"}},"attributes":[],"facts":[],"references":[],"[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/d03ip1j5jt55xygscre51mf55wzsg3b8/model/diff/cd42d2c552cdabcd628f539f8d7dc1fda94d767b21b1c2a400000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - IyeyRJ-qTytgDlxoU0VXFg:w30S2Hhckt6mFU4KHzfX9A
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/d03ip1j5jt55xygscre51mf55wzsg3b8/model/diff/cd42d2c552cdabcd628f539f8d7dc1fda94d767b21b1c2a400000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - IyeyRJ-qTytgDlxoU0VXFg:w30S2Hhckt6mFU4KHzfX9A:DO8zLBO7cYraGsHt
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/d03ip1j5jt55xygscre51mf55wzsg3b8/model/diff/cd42d2c552cdabcd628f539f8d7dc1fda94d767b21b1c2a400000018"}}}'
  recorded_at: Fri, 05 Oct 2018 13:00:58 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/d03ip1j5jt55xygscre51mf55wzsg3b8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - IyeyRJ-qTytgDlxoU0VXFg:gEpZZpex1lFjUW8II6DcKA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charse[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/d03ip1j5jt55xygscre51mf55wzsg3b8/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - IyeyRJ-qTytgDlxoU0VXFg:DOsKhJUuBIWQltQbkRIQSw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/d03ip1j5jt55xygscre51mf55wzsg3b8/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.visibility} VISUAL(TITLE
        \"Dataset.Visibility\");\nCREATE DATASET {dataset.users} VISUAL(TITLE \"Dataset.Users\");\nCREATE
        DATASET {dataset.permission_users} VISUAL(TITLE \"Dataset.Permission Users\");\nCREATE
        DATASET {dataset.commits} VISUAL(TITLE \"Dataset.C[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/d03ip1j5jt55xygscre51mf55wzsg3b8/tasks/366f4ef759850994066ec1658f9fd59d00000007/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - IyeyRJ-qTytgDlxoU0VXFg:GiWrSrmVwWzz3JOGQUaLvA
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - IyeyRJ-qTytgDlxoU0VXFg:GiWrSrmVwWzz3JOGQUaLvA:bg8nfRMMEcVwRkcT
      X-Gdc-Request-Time:
      - '86'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/d03ip1j5jt55xygscre51mf55wzsg3b8/tasks/366f4ef759850994066ec1658f9fd59d00000007/status","status":"RUNNING","links":{"poll":"/gdc/md/d03ip1j5jt55xygscre51mf55wzsg3b8/tasks/366f4ef759850994066ec1658f9fd59d00000007/status"}}}'
  recorded_at: Fri, 05 Oct 2018 13:01:03 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/d03ip1j5jt55xygscre51mf55wzsg3b8/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.permission.id"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - IyeyRJ-qTytgDlxoU0VXFg:MdkqgijYVPc46QHuOI9gpQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - IyeyRJ-qTytgDlxoU0VXFg:MdkqgijYVPc46QHuOI9gpQ:UTpvtpSdvHqTf1uY
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.permission.id","uri":"/gdc/md/d03ip1j5jt55xygscre51mf55wzsg3b8/obj/50"}]}'
  recorded_at: Fri, 05 Oct 2018 13:01:05 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/d03ip1j5jt55xygscre51mf55wzsg3b8/obj/50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - IyeyRJ-qTytgDlxoU0VXFg:M7_C7uyKiiDDhkU0WK_U7w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/d03ip1j5jt55xygscre51mf55wzsg3b8/etl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - IyeyRJ-qTytgDlxoU0VXFg:QnrQSywlwVDKwedE5I5EPg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
[...]
