---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:EjpgtcGZZgOzul_ztY0fZQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:EjpgtcGZZgOzul_ztY0fZQ:Rzu5SUmzGPs6gbhK
      X-Gdc-Request-Time:
      - '69'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"fact":{"content":{"folders":["/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/60"],"expr":[{"type":"col","data":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/25"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/61","tags":"","created":"2018-06-05
        08:42:27","identifier":"fact.commits.lines_changed","deprecated":"0","summary":"","isProduction":1,"title":"Fact.Commits.Lines
        Changed","category":"fact","updated":"2018-06-05 08:42:27","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Tue, 05 Jun 2018 06:43:25 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:PQ5a0bbI7wLnkRhU-pAfuw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:PQ5a0bbI7wLnkRhU-pAfuw:p8k55GsgFcCKkAQN
      X-Gdc-Request-Time:
      - '73'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":4,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/18"}],"dimension":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/46","displayForms":[{"content":{"formOf":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/47","expression":"[/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/20]","default":1},"links":{"elements":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/49/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/49","tags":"","created":"2018-06-05
        08:42:27","identifier":"label.permission.id.email","deprecated":"0","summary":"","isProduction":1,"title":"Label.Permission.Id.Email","category":"attributeDisplayForm","updated":"2018-06-05
        08:42:27","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}},{"content":{"formOf":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/47","expression":"[/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/22]"},"links":{"elements":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/48/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/48","tags":"","created":"2018-06-05
        08:42:27","identifier":"label.permission.id","deprecated":"0","summary":"","isProduction":1,"title":"Label.Permission.Id","category":"attributeDisplayForm","updated":"2018-06-05
        08:42:27","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}],"fk":[{"multivalue":false,"type":"col","data":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/40"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/47","tags":"","created":"2018-06-05
        08:42:27","identifier":"attr.permission.id","deprecated":"0","summary":"","isProduction":1,"title":"Attr.Permission.Id","category":"attribute","updated":"2018-06-05
        08:42:27","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:xz8CvS7KkW5bVpPGRm1XwQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:xz8CvS7KkW5bVpPGRm1XwQ:kkA5G2BYsqaOnYm2
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Tue, 05 Jun 2018 06:43:26 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT SUM([/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/61])"},"meta":{"tags":"","summary":null,"title":"x"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:IH3EMbcVwVuyy5boU9VRgQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:IH3EMbcVwVuyy5boU9VRgQ:QFlETFMRi8DMsYhk
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/79"}'
  recorded_at: Tue, 05 Jun 2018 06:43:27 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/79
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:No8N_5iWwyg0CuxOVPbvZw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:No8N_5iWwyg0CuxOVPbvZw:QUYjB0k7eQYahH5M
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"SUM","content":[{"value":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/61","position":{"column":25,"line":1},"type":"fact
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        SUM([/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/61])"},"links":{"explain2":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/79/explain2"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/79","tags":"","created":"2018-06-05
        08:43:27","identifier":"aaceZtQTeEzb","deprecated":"0","summary":"","isProduction":1,"title":"x","category":"metric","updated":"2018-06-05
        08:43:27","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 06:43:28 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"definitionContent":{"content":{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[],"metrics":[{"alias":"x","uri":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/79"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"meta":{"tags":"","summary":"","title":"Untitled
        report definition"}}},"projectMetadata":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:1BmIonAJfOQsd81FUjRVLA
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/dataResult/3345514463648153088"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:1BmIonAJfOQsd81FUjRVLA:lD7G6WaTaTfhuU0o
      X-Gdc-Request-Time:
      - '174'
    body:
      encoding: ASCII-8BIT
      string: '{"execResult":{"reportView":{"reportName":"Untitled report definition","columnWidths":[],"filters":[],"rows":["metricGroup"],"sort":{"columns":[],"rows":[]},"format":"grid","columns":[],"metrics":[{"format":"#,##0","summary":"","title":"x","metricId":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/79"}]},"dataResult":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/dataResult/3345514463648153088"}}'
  recorded_at: Tue, 05 Jun 2018 06:43:29 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/dataResult/3345514463648153088
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:Y3yUSdF7JRjIiNwDWp_Kwg
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Execution-Time:
      - '148'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:Y3yUSdF7JRjIiNwDWp_Kwg:JfiCJ6noJ9cpYDdc
      X-Gdc-Request-Time:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"xtab_data":{"columns":{"tree":{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"root","id":null},"lookups":[{"0":"x"}]},"data":[["9"]],"overall_size":{"columns":1,"rows":1},"rows":{"tree":{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"root","id":null},"lookups":[{"0":"x"}]},"offset":{"columns":0,"rows":0},"size":{"columns":1,"rows":1}}}'
  recorded_at: Tue, 05 Jun 2018 06:43:29 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/49
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:bx9J4hBiATDR9PM0ouEdmw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:bx9J4hBiATDR9PM0ouEdmw:dR6XEPg8E3CFvUpY
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/47","expression":"[/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/20]","default":1},"links":{"elements":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/49/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/49","tags":"","created":"2018-06-05
        08:42:27","identifier":"label.permission.id.email","deprecated":"0","summary":"","isProduction":1,"title":"Label.Permission.Id.Email","category":"attributeDisplayForm","updated":"2018-06-05
        08:42:27","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 06:43:30 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/49/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:Qf5wM3E7gBbYhmr1yZQbNw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:Qf5wM3E7gBbYhmr1yZQbNw:gqoX2G4xxwV3owkm
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/47","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/49"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/47/elements?id=3"}}]}}'
  recorded_at: Tue, 05 Jun 2018 06:43:31 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:wVeFYg61ikPsh0u5KhrY3Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:wVeFYg61ikPsh0u5KhrY3Q:hnXxMbqboYPblsoE
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/roles/2"],"phonenumber":"","status":"ENABLED","lastname":"1","login":"rubydev+admin@gooddata.com"},"links":{"roles":"/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/users/5ad80b895edcc438e5a4418e222733fa/roles","permissions":"/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/users/5ad80b895edcc438e5a4418e222733fa/permissions","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","projectRelUri":"/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/users/5ad80b895edcc438e5a4418e222733fa"},"meta":{"created":"2017-02-10
        12:18:01","updated":"2018-06-04 11:38:25","author":"/gdc/account/profile/25b25d6c1cd5816c6de55f95b119d8cc","title":"the
        1","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}'
  recorded_at: Tue, 05 Jun 2018 06:43:35 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:UZOx8RZ1_3TsCO-bgLsPHQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:UZOx8RZ1_3TsCO-bgLsPHQ:mEkhadFnEqOQLSxf
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 05 Jun 2018 06:43:35 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:-ZUbqQep5s-ydVo939ea-w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:-ZUbqQep5s-ydVo939ea-w:iQNchaH34rSBeyhv
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Tue, 05 Jun 2018 06:43:36 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj
    body:
      encoding: UTF-8
      string: '{"userFilter":{"content":{"expression":"([/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/47]
        IN ([/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/47/elements?id=1])) OVER
        [/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/55] TO [/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/58]"},"meta":{"category":"userFilter","title":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:vrZEpdHlQEWIgYn987VoAg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:vrZEpdHlQEWIgYn987VoAg:DxtVzPRa7O3WAXyu
      X-Gdc-Request-Time:
      - '62'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/80"}'
  recorded_at: Tue, 05 Jun 2018 06:43:37 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/userfilters?users=/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:FmXzRdqPfupNMafbmurUXA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:FmXzRdqPfupNMafbmurUXA:jbzJSwfXgWx802WK
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":20,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 05 Jun 2018 06:43:38 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/userfilters
    body:
      encoding: UTF-8
      string: '{"userFilters":{"items":[{"user":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","userFilters":["/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/80"]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:ZTbnX7zZo60moLbi3IXvxw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:ZTbnX7zZo60moLbi3IXvxw:S0bN1qd252CWi0z1
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"userFiltersUpdateResult":{"failed":[],"successful":["/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"]}}'
  recorded_at: Tue, 05 Jun 2018 06:43:39 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["aaceZtQTeEzb"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:o87uATvk_foi4kyEj-PfEQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:o87uATvk_foi4kyEj-PfEQ:DTUUHAPpAePuML5Q
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[]}'
  recorded_at: Tue, 05 Jun 2018 06:43:39 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"definitionContent":{"content":{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[{"attribute":{"alias":"","totals":[],"uri":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/53"}}],"metrics":[{"alias":"x","uri":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/82"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"meta":{"tags":"","summary":"","title":"Untitled
        report definition"}}},"projectMetadata":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:s7UedyAwjXpr3OnH-Qxr0w
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/dataResult/8613834925635009536"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:s7UedyAwjXpr3OnH-Qxr0w:ewnXSA745jAG3TDt
      X-Gdc-Request-Time:
      - '172'
    body:
      encoding: ASCII-8BIT
      string: '{"execResult":{"reportView":{"reportName":"Untitled report definition","columnWidths":[],"filters":[],"rows":["metricGroup"],"sort":{"columns":[],"rows":[]},"format":"grid","columns":[{"attributeTitle":"Attr.Users.Id","summary":"","displayFormId":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/53","baseElementURI":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/51/elements?id=","title":"Attr.Users.Id","attributeId":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/51","totals":[[]]}],"metrics":[{"format":"#,##0","summary":"","title":"x","metricId":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/82"}]},"dataResult":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/dataResult/8613834925635009536"}}'
  recorded_at: Tue, 05 Jun 2018 06:43:48 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/etl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:EzXzeoXGbLjTJ0cp10ts0g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:EzXzeoXGbLjTJ0cp10ts0g:HCdz9YtlfmjeEQEQ
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Extract, transform and load services for project
        ''fy2mp4kwklbyr0xuponszbx4cxxdrm0d''","category":"etl","instance":"fy2mp4kwklbyr0xuponszbx4cxxdrm0d","links":[{"link":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/etl/pull2","summary":"Provides
        service of pull2.","category":"pull2","title":"pull2"},{"link":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/etl/task","summary":"Provides
        service of task.","category":"task","title":"task"},{"link":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/etl/mode","summary":"Provides
        service of mode.","category":"mode","title":"mode"}]}}'
  recorded_at: Tue, 05 Jun 2018 06:43:52 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/etl/pull2
    body:
      encoding: UTF-8
      string: '{"pullIntegration":"d20180605-27954-1h8plf2"}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:sGEtZAJXXa0bOKY1tC5hsA
      Info-Message:
      - Starting the data load from user storage to dataset.
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/tasks/1790cd99fe4ece67c4d7c4c5e99a300b00000009/status"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:sGEtZAJXXa0bOKY1tC5hsA:u7H7OZaWJ4S9mwDu
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"pull2Task":{"links":{"poll":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/tasks/1790cd99fe4ece67c4d7c4c5e99a300b00000009/status"}}}'
  recorded_at: Tue, 05 Jun 2018 06:43:53 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/tasks/1790cd99fe4ece67c4d7c4c5e99a300b00000009/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:F2bt95UBc39vY14WU7Uujw
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:F2bt95UBc39vY14WU7Uujw:rKIwFh3NUNwqMQ6D
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/tasks/1790cd99fe4ece67c4d7c4c5e99a300b00000009/status","status":"OK","links":{"poll":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/tasks/1790cd99fe4ece67c4d7c4c5e99a300b00000009/status"}}}'
  recorded_at: Tue, 05 Jun 2018 06:43:53 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/d03ip1j5jt55xygscre51mf55wzsg3b8/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - IyeyRJ-qTytgDlxoU0VXFg:HKzZKWQsL2vd2GNaHT2kDg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - IyeyRJ-qTytgDlxoU0VXFg:HKzZKWQsL2vd2GNaHT2kDg:qZqOWAYKCJrTrLjV
      X-Gdc-Request-Time:
      - '140'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"fact":{"content":{"folders":["/gdc/md/d03ip1j5jt55xygscre51mf55wzsg3b8/obj/63"],"expr":[{"type":"col","data":"/gdc/md/d03ip1j5jt55xygscre51mf55wzsg3b8/obj/28"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/d03ip1j5jt55xygscre51mf55wzsg3b8/obj/64","tags":"","created":"2018-10-05
        15:01:03","identifier":"fact.commits.lines_changed","deprecated":"0","summary":"","isProduction":1,"title":"Fact.Commits.Lines
        Changed","category":"fact","updated":"2018-10-05 15:01:03","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Fri, 05 Oct 2018 13:01:39 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/d03ip1j5jt55xygscre51mf55wzsg3b8/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - IyeyRJ-qTytgDlxoU0VXFg:siak2-5gWjt9763i2eQTVQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/d03ip1j5jt55xygscre51mf55wzsg3b8/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - IyeyRJ-qTytgDlxoU0VXFg:daxAxRyZRZI2FvJ05LcTLA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - IyeyRJ-qTytgDlxoU0VXFg:daxAxRyZRZI2FvJ05LcTLA:E238eXazOsk3owql
      X-Gdc-Request-Time:
      - '123'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Fri, 05 Oct 2018 13:01:41 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/d03ip1j5jt55xygscre51mf55wzsg3b8/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT SUM([/gdc/md/d03ip1j5jt55xygscre51mf55wzsg3b8/obj/64])"},"meta":{"tags":"","summary":null,"title":"x"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - IyeyRJ-qTytgDlxoU0VXFg:eoVbwlfMYa7BOUdnjMWQXQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - IyeyRJ-qTytgDlxoU0VXFg:eoVbwlfMYa7BOUdnjMWQXQ:uNDxdtYXKYLTkIhI
      X-Gdc-Request-Time:
      - '64'
    body:
      encoding: ASCII-8BIT
[...]
