---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/variables/search
    body:
      encoding: UTF-8
      string: '{"variablesSearch":{"variables":["/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/78"],"context":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:AkVy_ybM6n0_asl9GXqD-Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:AkVy_ybM6n0_asl9GXqD-Q:wlTiHVjmrBJXQ0AT
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"variables":[]}'
  recorded_at: Tue, 05 Jun 2018 06:43:16 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:OMj3U7FrHSRXyigb7Zi-rg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:OMj3U7FrHSRXyigb7Zi-rg:CIOdLz9SWJZgTJhT
      X-Gdc-Request-Time:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/roles/2"],"phonenumber":"","status":"ENABLED","lastname":"1","login":"rubydev+admin@gooddata.com"},"links":{"roles":"/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/users/5ad80b895edcc438e5a4418e222733fa/roles","permissions":"/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/users/5ad80b895edcc438e5a4418e222733fa/permissions","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","projectRelUri":"/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/users/5ad80b895edcc438e5a4418e222733fa"},"meta":{"created":"2017-02-10
        12:18:01","updated":"2018-06-04 11:38:25","author":"/gdc/account/profile/25b25d6c1cd5816c6de55f95b119d8cc","title":"the
        1","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}'
  recorded_at: Tue, 05 Jun 2018 06:43:16 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/49
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:PNtPfCU1iSMQMCswP2TUHg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:PNtPfCU1iSMQMCswP2TUHg:10I2Mky1snZy1ger
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/47","expression":"[/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/20]","default":1},"links":{"elements":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/49/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/49","tags":"","created":"2018-06-05
        08:42:27","identifier":"label.permission.id.email","deprecated":"0","summary":"","isProduction":1,"title":"Label.Permission.Id.Email","category":"attributeDisplayForm","updated":"2018-06-05
        08:42:27","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 06:43:17 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/49/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:OdruJ9-kMZsoARM5IwszWw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:OdruJ9-kMZsoARM5IwszWw:uPuVHcNsDxQ3QlC4
      X-Gdc-Request-Time:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/47","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/49"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/47/elements?id=3"}}]}}'
  recorded_at: Tue, 05 Jun 2018 06:43:17 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/55
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:nDpSX13u-kgjRftyoSKM5w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:nDpSX13u-kgjRftyoSKM5w:BKJF17CqXPbFZnbM
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/36"}],"dimension":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/54","displayForms":[{"content":{"formOf":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/55","expression":"[/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/38]","default":1},"links":{"elements":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/56/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/56","tags":"","created":"2018-06-05
        08:42:27","identifier":"label.visibility.id","deprecated":"0","summary":"","isProduction":1,"title":"Label.Visibility.Id","category":"attributeDisplayForm","updated":"2018-06-05
        08:42:27","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/55","tags":"","created":"2018-06-05
        08:42:27","identifier":"attr.visibility.id","deprecated":"0","summary":"","isProduction":1,"title":"Attr.Visibility.Id","category":"attribute","updated":"2018-06-05
        08:42:27","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 06:43:20 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/variables/user
    body:
      encoding: UTF-8
      string: '{"variables":[{"related":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","level":"user","expression":"([/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/47]
        IN ([/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/47/elements?id=1])) OVER
        [/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/55] TO [/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/58]","type":"filter","prompt":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/78"}]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:KrlLwwrZVtTa0NL4PXvieg
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:KrlLwwrZVtTa0NL4PXvieg:xm1DOIjYCad1kF16
      X-Gdc-Request-Time:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"parameters":["handle_exception","hide_internal"],"requestId":"0NgGSbCoQnNIBmMd91Q4YA:KrlLwwrZVtTa0NL4PXvieg:xm1DOIjYCad1kF16:hqrz199vnC1kEfee:nw7t5g0qkcntaxs1","component":"GDC::AST2SQL","errorClass":"GDC::Exception::Base","message":"Internal
        error [%s, %s]."}}'
  recorded_at: Tue, 05 Jun 2018 06:43:21 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:bxWSMTXim1DZlwlEwG0fWw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:bxWSMTXim1DZlwlEwG0fWw:MTLPcvEs5iwkmkj5
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 05 Jun 2018 06:43:23 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:O_-3ZCWRJbAY_WJrJyO_qA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:O_-3ZCWRJbAY_WJrJyO_qA:JF7oVbIVVJnSLDvZ
      X-Gdc-Request-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Tue, 05 Jun 2018 06:43:24 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/d03ip1j5jt55xygscre51mf55wzsg3b8/variables/search
    body:
      encoding: UTF-8
      string: '{"variablesSearch":{"variables":["/gdc/md/d03ip1j5jt55xygscre51mf55wzsg3b8/obj/81"],"context":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - IyeyRJ-qTytgDlxoU0VXFg:1LapqavDkmBU3vfUh_3EJg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - IyeyRJ-qTytgDlxoU0VXFg:1LapqavDkmBU3vfUh_3EJg:BPQt9f8BJkjXxzcs
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"variables":[]}'
  recorded_at: Fri, 05 Oct 2018 13:01:30 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/d03ip1j5jt55xygscre51mf55wzsg3b8/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - IyeyRJ-qTytgDlxoU0VXFg:50A13jfFygBbksyqFOMdFw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/d03ip1j5jt55xygscre51mf55wzsg3b8/obj/52
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - IyeyRJ-qTytgDlxoU0VXFg:EJMiLH-CJiQrpC7WfDIv4g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - IyeyRJ-qTytgDlxoU0VXFg:EJMiLH-CJiQrpC7WfDIv4g:upYWtApnSxWe8Cff
      X-Gdc-Request-Time:
      - '71'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/d03ip1j5jt55xygscre51mf55wzsg3b8/obj/50","expression":"[/gdc/md/d03ip1j5jt55xygscre51mf55wzsg3b8/obj/23]","default":1},"links":{"elements":"/gdc/md/d03ip1j5jt55xygscre51mf55wzsg3b8/obj/52/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/d03ip1j5jt55xygscre51mf55wzsg3b8/obj/52","tags":"","created":"2018-10-05
        15:01:02","identifier":"label.permission.id.email","deprecated":"0","summary":"","isProduction":1,"title":"Label.Permission.Id.Email","category":"attributeDisplayForm","updated":"2018-10-05
        15:01:02","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Fri, 05 Oct 2018 13:01:31 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/d03ip1j5jt55xygscre51mf55wzsg3b8/obj/52/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - IyeyRJ-qTytgDlxoU0VXFg:YnnjfGDqJ3hG_bg17iUP0Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - IyeyRJ-qTytgDlxoU0VXFg:YnnjfGDqJ3hG_bg17iUP0Q:zzLNGESzfSXSwN7q
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/d03ip1j5jt55xygscre51mf55wzsg3b8/obj/50","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/d03ip1j5jt55xygscre51mf55wzsg3b8/obj/52"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/d03ip1j5jt55xygscre51mf55wzsg3b8/obj/50/elements?id=3"}}]}}'
  recorded_at: Fri, 05 Oct 2018 13:01:32 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/d03ip1j5jt55xygscre51mf55wzsg3b8/variables/user
    body:
      encoding: UTF-8
      string: '{"variables":[{"related":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","level":"user","expression":"([/gdc/md/d03ip1j5jt55xygscre51mf55wzsg3b8/obj/50]
        IN ([/gdc/md/d03ip1j5jt55xygscre51mf55wzsg3b8/obj/50/elements?id=1])) OVER
        [/gdc/md/d03ip1j5jt55xygscre51mf55wzsg3b8/obj/54] TO [/gdc/md/d03ip1j5jt55xygscre51mf55wzsg3b8/obj/61]","type":"filter","prompt":"/gdc/md/d03ip1j5jt55xygscre51mf55wzsg3b8/obj/81"}]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - IyeyRJ-qTytgDlxoU0VXFg:dg8Gjt9t2W1kwRZ8pJ4AoQ
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - IyeyRJ-qTytgDlxoU0VXFg:dg8Gjt9t2W1kwRZ8pJ4AoQ:Iq0yi1qtK3GTqCXm
      X-Gdc-Request-Time:
      - '73'
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"parameters":["handle_exception","hide_internal"],"requestId":"IyeyRJ-qTytgDlxoU0VXFg:dg8Gjt9t2W1kwRZ8pJ4AoQ:Iq0yi1qtK3GTqCXm:8tUTiSWyKniMXjKT:myeh19jz5qlikzk4","component":"GDC::AST2SQL","errorClass":"GDC::Exception::Base","message":"Internal
        error [%s, %s]."}}'
  recorded_at: Fri, 05 Oct 2018 13:01:35 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/d03ip1j5jt55xygscre51mf55wzsg3b8/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - IyeyRJ-qTytgDlxoU0VXFg:qywCmLkjQqv_25IReLJcfQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - IyeyRJ-qTytgDlxoU0VXFg:qywCmLkjQqv_25IReLJcfQ:lyhBKzBDAfO7encH
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":0,"offset":0,"items":[]}}'
  recorded_at: Fri, 05 Oct 2018 13:01:37 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/d03ip1j5jt55xygscre51mf55wzsg3b8/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - IyeyRJ-qTytgDlxoU0VXFg:iMYSgxMwPmeVVxYsBdFJqw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - IyeyRJ-qTytgDlxoU0VXFg:iMYSgxMwPmeVVxYsBdFJqw:Mxgid0CbmOc7hwAJ
      X-Gdc-Request-Time:
      - '66'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Fri, 05 Oct 2018 13:01:38 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/y71ju2xgql2h98wvu1dowcy2av2obevy/variables/search
    body:
      encoding: UTF-8
      string: '{"variablesSearch":{"variables":["/gdc/md/y71ju2xgql2h98wvu1dowcy2av2obevy/obj/81"],"context":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - GAplrZ1bI01FAVJO4TVDUg:9olkhdelfWQ8b3yeUv3IKg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - GAplrZ1bI01FAVJO4TVDUg:9olkhdelfWQ8b3yeUv3IKg:UGqUQAtNOSNxj6EW
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"variables":[]}'
  recorded_at: Wed, 10 Oct 2018 11:02:28 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/y71ju2xgql2h98wvu1dowcy2av2obevy/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - GAplrZ1bI01FAVJO4TVDUg:NkNW2OD3W00FlgLJHTTOGQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/y71ju2xgql2h98wvu1dowcy2av2obevy/obj/55
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - GAplrZ1bI01FAVJO4TVDUg:PepAu2XbKY68XmpnYcWQGw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - GAplrZ1bI01FAVJO4TVDUg:PepAu2XbKY68XmpnYcWQGw:b8cAUF3AcjdzKboo
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/y71ju2xgql2h98wvu1dowcy2av2obevy/obj/53","expression":"[/gdc/md/y71ju2xgql2h98wvu1dowcy2av2obevy/obj/23]","default":1},"links":{"elements":"/gdc/md/y71ju2xgql2h98wvu1dowcy2av2obevy/obj/55/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/y71ju2xgql2h98wvu1dowcy2av2obevy/obj/55","tags":"","created":"2018-10-10
        13:02:00","identifier":"label.permission.id.email","deprecated":"0","summary":"","isProduction":1,"title":"Label.Permission.Id.Email","category":"attributeDisplayForm","updated":"2018-10-10
        13:02:01","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 10 Oct 2018 11:02:30 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/y71ju2xgql2h98wvu1dowcy2av2obevy/obj/55/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - GAplrZ1bI01FAVJO4TVDUg:TkLWLQWZjDLOFkvgwnqu8A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - GAplrZ1bI01FAVJO4TVDUg:TkLWLQWZjDLOFkvgwnqu8A:f1BkrEp4ho06AqJ1
      X-Gdc-Request-Time:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/y71ju2xgql2h98wvu1dowcy2av2obevy/obj/53","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/y71ju2xgql2h98wvu1dowcy2av2obevy/obj/55"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/y71ju2xgql2h98wvu1dowcy2av2obevy/obj/53/elements?id=3"}}]}}'
  recorded_at: Wed, 10 Oct 2018 11:02:30 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/y71ju2xgql2h98wvu1dowcy2av2obevy/variables/user
    body:
      encoding: UTF-8
      string: '{"variables":[{"related":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","level":"user","expression":"([/gdc/md/y71ju2xgql2h98wvu1dowcy2av2obevy/obj/53]
        IN ([/gdc/md/y71ju2xgql2h98wvu1dowcy2av2obevy/obj/53/elements?id=1])) OVER
        [/gdc/md/y71ju2xgql2h98wvu1dowcy2av2obevy/obj/57] TO [/gdc/md/y71ju2xgql2h98wvu1dowcy2av2obevy/obj/50]","type":"filter","prompt":"/gdc/md/y71ju2xgql2h98wvu1dowcy2av2obevy/obj/81"}]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - GAplrZ1bI01FAVJO4TVDUg:Rn1_juT8x0DvohkU9cilSA
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - GAplrZ1bI01FAVJO4TVDUg:Rn1_juT8x0DvohkU9cilSA:Haa6PTdxmdefkmfv
      X-Gdc-Request-Time:
      - '66'
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"parameters":["handle_exception","hide_internal"],"requestId":"GAplrZ1bI01FAVJO4TVDUg:Rn1_juT8x0DvohkU9cilSA:Haa6PTdxmdefkmfv:WJmldJjdB3RBa3Gf:qz2od9g01252rb9s","component":"GDC::AST2SQL","errorClass":"GDC::Exception::Base","message":"Internal
        error [%s, %s]."}}'
  recorded_at: Wed, 10 Oct 2018 11:02:34 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/y71ju2xgql2h98wvu1dowcy2av2obevy/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - GAplrZ1bI01FAVJO4TVDUg:gJRvaodbjVtt2mhkBrZvoA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - GAplrZ1bI01FAVJO4TVDUg:gJRvaodbjVtt2mhkBrZvoA:wMh3K8XGXTjX3Pr0
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":0,"offset":0,"items":[]}}'
  recorded_at: Wed, 10 Oct 2018 11:02:36 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/y71ju2xgql2h98wvu1dowcy2av2obevy/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - GAplrZ1bI01FAVJO4TVDUg:Lc4Sfvb36i-arhl0kXhjMg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - GAplrZ1bI01FAVJO4TVDUg:Lc4Sfvb36i-arhl0kXhjMg:zDAoR9vVzFcjICxV
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Wed, 10 Oct 2018 11:02:37 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/iymnfigveeq8n38w5kfhkdi1gmtpiwyo/variables/search
    body:
      encoding: UTF-8
      string: '{"variablesSearch":{"variables":["/gdc/md/iymnfigveeq8n38w5kfhkdi1gmtpiwyo/obj/81"],"context":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Yd4rYHaCr1HzV-mToLIdag:vFm6PaJQRoxhJKTPq0ldrA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":Yd4rYHaCr1HzV-mToLIdag:vFm6PaJQRoxhJKTPq0ldrA:lHgPzRUmvRqQjY9H"
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"variables":[]}'
  recorded_at: Thu, 24 Jan 2019 13:16:10 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/iymnfigveeq8n38w5kfhkdi1gmtpiwyo/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Yd4rYHaCr1HzV-mToLIdag:oOpokEkg78Ck-7gPlc7SSw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/iymnfigveeq8n38w5kfhkdi1gmtpiwyo/obj/52
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Yd4rYHaCr1HzV-mToLIdag:-YTjTOuQCo4VqonCMLuL2A"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":Yd4rYHaCr1HzV-mToLIdag:-YTjTOuQCo4VqonCMLuL2A:5lgJ5ccN5gYb1OH7"
      X-Gdc-Request-Time:
      - '70'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/iymnfigveeq8n38w5kfhkdi1gmtpiwyo/obj/50","expression":"[/gdc/md/iymnfigveeq8n38w5kfhkdi1gmtpiwyo/obj/23]","default":1},"links":{"elements":"/gdc/md/iymnfigveeq8n38w5kfhkdi1gmtpiwyo/obj/52/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/iymnfigveeq8n38w5kfhkdi1gmtpiwyo/obj/52","tags":"","created":"2019-01-24
        14:15:38","identifier":"label.permission.id.email","deprecated":"0","summary":"","isProduction":1,"title":"Label.Permission.Id.Email","category":"attributeDisplayForm","updated":"2019-01-24
        14:15:38","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 24 Jan 2019 13:16:11 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/iymnfigveeq8n38w5kfhkdi1gmtpiwyo/obj/52/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Yd4rYHaCr1HzV-mToLIdag:1Fvx7FLZgAgU1V0PiX419w"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":Yd4rYHaCr1HzV-mToLIdag:1Fvx7FLZgAgU1V0PiX419w:zb9clpkjSGYUM7MN"
      X-Gdc-Request-Time:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/iymnfigveeq8n38w5kfhkdi1gmtpiwyo/obj/50","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/iymnfigveeq8n38w5kfhkdi1gmtpiwyo/obj/52"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/iymnfigveeq8n38w5kfhkdi1gmtpiwyo/obj/50/elements?id=3"}}]}}'
  recorded_at: Thu, 24 Jan 2019 13:16:12 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/iymnfigveeq8n38w5kfhkdi1gmtpiwyo/variables/user
    body:
      encoding: UTF-8
      string: '{"variables":[{"related":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","level":"user","expression":"([/gdc/md/iymnfigveeq8n38w5kfhkdi1gmtpiwyo/obj/50]
        IN ([/gdc/md/iymnfigveeq8n38w5kfhkdi1gmtpiwyo/obj/50/elements?id=1])) OVER
        [/gdc/md/iymnfigveeq8n38w5kfhkdi1gmtpiwyo/obj/54] TO [/gdc/md/iymnfigvee[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/iymnfigveeq8n38w5kfhkdi1gmtpiwyo/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Yd4rYHaCr1HzV-mToLIdag:AW7pXdybYhJ-2qSUpteAjQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
[...]
