---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/variables/search
    body:
      encoding: UTF-8
      string: '{"variablesSearch":{"variables":["/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/78"],"context":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:AkVy_ybM6n0_asl9GXqD-Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:AkVy_ybM6n0_asl9GXqD-Q:wlTiHVjmrBJXQ0AT
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"variables":[]}'
  recorded_at: Tue, 05 Jun 2018 06:43:16 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:OMj3U7FrHSRXyigb7Zi-rg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:OMj3U7FrHSRXyigb7Zi-rg:CIOdLz9SWJZgTJhT
      X-Gdc-Request-Time:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/roles/2"],"phonenumber":"","status":"ENABLED","lastname":"1","login":"rubydev+admin@gooddata.com"},"links":{"roles":"/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/users/5ad80b895edcc438e5a4418e222733fa/roles","permissions":"/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/users/5ad80b895edcc438e5a4418e222733fa/permissions","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","projectRelUri":"/gdc/projects/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/users/5ad80b895edcc438e5a4418e222733fa"},"meta":{"created":"2017-02-10
        12:18:01","updated":"2018-06-04 11:38:25","author":"/gdc/account/profile/25b25d6c1cd5816c6de55f95b119d8cc","title":"the
        1","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}'
  recorded_at: Tue, 05 Jun 2018 06:43:16 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/49
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:PNtPfCU1iSMQMCswP2TUHg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:PNtPfCU1iSMQMCswP2TUHg:10I2Mky1snZy1ger
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/47","expression":"[/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/20]","default":1},"links":{"elements":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/49/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/49","tags":"","created":"2018-06-05
        08:42:27","identifier":"label.permission.id.email","deprecated":"0","summary":"","isProduction":1,"title":"Label.Permission.Id.Email","category":"attributeDisplayForm","updated":"2018-06-05
        08:42:27","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 06:43:17 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/49/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:OdruJ9-kMZsoARM5IwszWw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:OdruJ9-kMZsoARM5IwszWw:uPuVHcNsDxQ3QlC4
      X-Gdc-Request-Time:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/47","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/49"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/47/elements?id=3"}}]}}'
  recorded_at: Tue, 05 Jun 2018 06:43:17 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/55
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:nDpSX13u-kgjRftyoSKM5w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:nDpSX13u-kgjRftyoSKM5w:BKJF17CqXPbFZnbM
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/36"}],"dimension":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/54","displayForms":[{"content":{"formOf":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/55","expression":"[/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/38]","default":1},"links":{"elements":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/56/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/56","tags":"","created":"2018-06-05
        08:42:27","identifier":"label.visibility.id","deprecated":"0","summary":"","isProduction":1,"title":"Label.Visibility.Id","category":"attributeDisplayForm","updated":"2018-06-05
        08:42:27","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/55","tags":"","created":"2018-06-05
        08:42:27","identifier":"attr.visibility.id","deprecated":"0","summary":"","isProduction":1,"title":"Attr.Visibility.Id","category":"attribute","updated":"2018-06-05
        08:42:27","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 06:43:20 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/variables/user
    body:
      encoding: UTF-8
      string: '{"variables":[{"related":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","level":"user","expression":"([/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/47]
        IN ([/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/47/elements?id=1])) OVER
        [/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/55] TO [/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/58]","type":"filter","prompt":"/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/obj/78"}]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:KrlLwwrZVtTa0NL4PXvieg
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:KrlLwwrZVtTa0NL4PXvieg:xm1DOIjYCad1kF16
      X-Gdc-Request-Time:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"parameters":["handle_exception","hide_internal"],"requestId":"0NgGSbCoQnNIBmMd91Q4YA:KrlLwwrZVtTa0NL4PXvieg:xm1DOIjYCad1kF16:hqrz199vnC1kEfee:nw7t5g0qkcntaxs1","component":"GDC::AST2SQL","errorClass":"GDC::Exception::Base","message":"Internal
        error [%s, %s]."}}'
  recorded_at: Tue, 05 Jun 2018 06:43:21 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:bxWSMTXim1DZlwlEwG0fWw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:bxWSMTXim1DZlwlEwG0fWw:MTLPcvEs5iwkmkj5
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 05 Jun 2018 06:43:23 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fy2mp4kwklbyr0xuponszbx4cxxdrm0d/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:O_-3ZCWRJbAY_WJrJyO_qA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 0NgGSbCoQnNIBmMd91Q4YA:O_-3ZCWRJbAY_WJrJyO_qA:JF7oVbIVVJnSLDvZ
      X-Gdc-Request-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Tue, 05 Jun 2018 06:43:24 GMT
recorded_with: VCR 4.0.0
