---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:wYAVSh8x3rPBQly3nen7UA"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:wYAVSh8x3rPBQly3nen7UA:Ji6K4RXI3iwL2OiD"
      X-Gdc-Request-Time:
      - '62'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Thu, 18 Apr 2019 11:07:49 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:AVf6KJl8uEi3r3IDF_fr9g"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:AVf6KJl8uEi3r3IDF_fr9g:o8N0oFnh7yF7QZlf"
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 18 Apr 2019 11:07:50 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:6f8-b-HQVixJ1yFdYlYeXw"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:6f8-b-HQVixJ1yFdYlYeXw:7m7w5CMzmOd29cv8"
      X-Gdc-Request-Time:
      - '11'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2019-03-15 10:00:00","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Thu, 18 Apr 2019 11:07:50 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:j5OTVvnzo4LJDi9r1QhV7A"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:j5OTVvnzo4LJDi9r1QhV7A:Oj7MXXWdgpsMl7Ci"
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Thu, 18 Apr 2019 11:07:51 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:SMOd3kbXax8EjboilKUhag"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:SMOd3kbXax8EjboilKUhag:YWszWwTiPKHFnz0T"
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"DEVELOPMENT","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/ldm?thumbnail=1","self":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc","clearCaches":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/clearCaches","invitations":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/invitations","users":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/checkXaeCompatibility","uploads":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/uploads/","ldm":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/ldm","metadata":"/gdc/md/pv5dnp356eakikwzd7o18rprn5e77yoc","publicartifacts":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/publicartifacts","roles":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/roles","userRoles":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/dataload","connectors":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/connectors","execute":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/execute","config":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/config","projectFeatureFlags":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/projectFeatureFlags","schedules":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/schedules","templates":"/gdc/md/pv5dnp356eakikwzd7o18rprn5e77yoc/templates"},"meta":{"created":"2019-04-18
        13:07:52","summary":"No summary","updated":"2019-04-18 13:07:53","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"DailyUse
        Project for gooddata-ruby integration tests - DO NOT DELETE","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 18 Apr 2019 11:08:09 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":uC7SCD11s9fpt51FVzL32g:aunIaIU1SwQIOCqb0uMiCw"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Tries:
      - '0'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '23'
      X-Gdc-Request:
      - ":uC7SCD11s9fpt51FVzL32g:aunIaIU1SwQIOCqb0uMiCw:5deBPRua2YdQcrbc"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 18 Apr 2019 11:13:07 GMT
recorded_with: VCR 4.0.0
