---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/bnhcqgjy82sljtye8h1t8y97t1212luh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - aQEfQedyNDu7jtFr6QmHDw:4GpSpcXu3O5p8y5KLFGoqA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - aQEfQedyNDu7jtFr6QmHDw:4GpSpcXu3O5p8y5KLFGoqA:EDebEumM9GnhB2uZ
      X-Gdc-Request-Time:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/bnhcqgjy82sljtye8h1t8y97t1212luh/ldm?thumbnail=1","self":"/gdc/projects/bnhcqgjy82sljtye8h1t8y97t1212luh","clearCaches":"/gdc/projects/bnhcqgjy82sljtye8h1t8y97t1212luh/clearCaches","invitations":"/gdc/projects/bnhcqgjy82sljtye8h1t8y97t1212luh/invitations","users":"/gdc/projects/bnhcqgjy82sljtye8h1t8y97t1212luh/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/bnhcqgjy82sljtye8h1t8y97t1212luh/uploads/","ldm":"/gdc/projects/bnhcqgjy82sljtye8h1t8y97t1212luh/ldm","metadata":"/gdc/md/bnhcqgjy82sljtye8h1t8y97t1212luh","publicartifacts":"/gdc/projects/bnhcqgjy82sljtye8h1t8y97t1212luh/publicartifacts","roles":"/gdc/projects/bnhcqgjy82sljtye8h1t8y97t1212luh/roles","userRoles":"/gdc/projects/bnhcqgjy82sljtye8h1t8y97t1212luh/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/bnhcqgjy82sljtye8h1t8y97t1212luh/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/bnhcqgjy82sljtye8h1t8y97t1212luh/dataload","connectors":"/gdc/projects/bnhcqgjy82sljtye8h1t8y97t1212luh/connectors","execute":"/gdc/projects/bnhcqgjy82sljtye8h1t8y97t1212luh/execute","config":"/gdc/projects/bnhcqgjy82sljtye8h1t8y97t1212luh/config","projectFeatureFlags":"/gdc/projects/bnhcqgjy82sljtye8h1t8y97t1212luh/projectFeatureFlags","schedules":"/gdc/projects/bnhcqgjy82sljtye8h1t8y97t1212luh/schedules","templates":"/gdc/md/bnhcqgjy82sljtye8h1t8y97t1212luh/templates"},"meta":{"created":"2018-11-28
        13:40:27","summary":"No summary","updated":"2018-11-28 13:40:28","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"DailyUse
        Project for gooddata-ruby integration tests - DO NOT DELETE","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 28 Nov 2018 12:40:42 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":jHfRAvlKjgSfXZzK2F5UGg:LNzlk8oMMF85oW79mnohnw"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - GoodData realm="GoodData API" cookie=GDCAuthSST location=/gdc/account/login
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - ":jHfRAvlKjgSfXZzK2F5UGg:LNzlk8oMMF85oW79mnohnw:yjqObHHvLIUF7mNp"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 24 Jan 2019 12:30:58 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":J_ED2nB_9vkgxTACbWoBJw:NQ6eHvLXM6avjh1P7arUWA"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":J_ED2nB_9vkgxTACbWoBJw:NQ6eHvLXM6avjh1P7arUWA:eqr4svlQoVEtqKMQ"
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Thu, 24 Jan 2019 13:05:55 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J_ED2nB_9vkgxTACbWoBJw:1NHUbTNYn0QOtIRn25u9Kw"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - ":J_ED2nB_9vkgxTACbWoBJw:1NHUbTNYn0QOtIRn25u9Kw:g600Npp31T3n2oMu"
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 24 Jan 2019 13:05:56 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J_ED2nB_9vkgxTACbWoBJw:fey8xJhRAxM6rkTWm8W10w"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":J_ED2nB_9vkgxTACbWoBJw:fey8xJhRAxM6rkTWm8W10w:18EjAllxA21isXKg"
      X-Gdc-Request-Time:
      - '11'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2018-12-03 11:09:12","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Thu, 24 Jan 2019 13:05:57 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J_ED2nB_9vkgxTACbWoBJw:baLS4SWVrDvp9aMp2EActA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":J_ED2nB_9vkgxTACbWoBJw:baLS4SWVrDvp9aMp2EActA:EEhB4xPMgHL3HLa6"
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Thu, 24 Jan 2019 13:05:58 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/fanw3gqnpv87lmocwqj0x79k8i9zfepd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J_ED2nB_9vkgxTACbWoBJw:BLL2OiZrCPn8VcXAGSxQMg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":dTIddnNwbDX02tKS_cUu_w:nho7hnzvYC2TiWp4bmGrgA"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '21'
      X-Gdc-Request:
      - ":dTIddnNwbDX02tKS_cUu_w:nho7hnzvYC2TiWp4bmGrgA:MwYlusUERUxb4ET9"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Jan 2019 13:11:17 GMT
recorded_with: VCR 4.0.0
