---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:SMOd3kbXax8EjboilKUhag"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:SMOd3kbXax8EjboilKUhag:YWszWwTiPKHFnz0T"
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"DEVELOPMENT","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/ldm?thumbnail=1","self":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc","clearCaches":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/clearCaches","invitations":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/invitations","users":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/checkXaeCompatibility","uploads":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/uploads/","ldm":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/ldm","metadata":"/gdc/md/pv5dnp356eakikwzd7o18rprn5e77yoc","publicartifacts":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/publicartifacts","roles":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/roles","userRoles":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/dataload","connectors":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/connectors","execute":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/execute","config":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/config","projectFeatureFlags":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/projectFeatureFlags","schedules":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/schedules","templates":"/gdc/md/pv5dnp356eakikwzd7o18rprn5e77yoc/templates"},"meta":{"created":"2019-04-18
        13:07:52","summary":"No summary","updated":"2019-04-18 13:07:53","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"DailyUse
        Project for gooddata-ruby integration tests - DO NOT DELETE","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 18 Apr 2019 11:08:09 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":Cgvqdg819KYjEUW8RB55xA:Y4Is-n08AhdpD4uy8lhxEg"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '64'
      X-Gdc-Request:
      - ":Cgvqdg819KYjEUW8RB55xA:Y4Is-n08AhdpD4uy8lhxEg:7ZP13ucyPZt5HIC1"
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 05:09:44 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Cgvqdg819KYjEUW8RB55xA:HT9ZdmvCuxZ2ih_bYH-fOw"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request-Time:
      - '17'
      X-Gdc-Request:
      - ":Cgvqdg819KYjEUW8RB55xA:HT9ZdmvCuxZ2ih_bYH-fOw:ro7DlJQ9P74BrQHg"
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 05:09:45 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Cgvqdg819KYjEUW8RB55xA:5B8fBi0j8XXjM702vXRk1g"
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '14'
      X-Gdc-Request:
      - ":Cgvqdg819KYjEUW8RB55xA:5B8fBi0j8XXjM702vXRk1g:tn5aEOk7Apsu8KR3"
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2019-03-15 10:00:00","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Wed, 15 Jan 2020 05:09:46 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Cgvqdg819KYjEUW8RB55xA:yFMSBpS_gXCe27TDgOBRgA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '30'
      X-Gdc-Request:
      - ":Cgvqdg819KYjEUW8RB55xA:yFMSBpS_gXCe27TDgOBRgA:Ehdmb5TDZlpchWp3"
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Wed, 15 Jan 2020 05:09:47 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Cgvqdg819KYjEUW8RB55xA:I5Fh-gArbBsHzMHWOa0BsA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-H[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":A4_Qdy1pMoun0FSpdx2F4A:WK-CY5JbG8dCtzmzPHtK3A"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Tries:
      - '0'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - GoodData realm="GoodData API" cookie=GDCAuthTT
      Content-Type:
      - application/json; charset=utf-8
      X-Gdc-Request-Time:
      - '2'
      X-Gdc-Request:
      - ":A4_Qdy1pMoun0FSpdx2F4A:WK-CY5JbG8dCtzmzPHtK3A:k8RQ4acArfxDy7Np"
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "error": {
                "code": 401,
                "message": "Authorization Required",
                "description": "This server could not verify that you are authorized to access the document requested. Either you supplied the wrong credentials (e.g., bad password), or your browser doesn't understand how to supply the credentials required",
                "links": {
                    "documentation": "https://help.gooddata.com/display/developer/API+Reference#/reference/authentication/log-in"
                }
            }
        }
  recorded_at: Wed, 15 Jan 2020 05:57:46 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":A4_Qdy1pMoun0FSpdx2F4A:oRj4ENQeM2WBH1krG8SjAg"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Tries:
      - '0'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '26'
      X-Gdc-Request:
      - ":A4_Qdy1pMoun0FSpdx2F4A:oRj4ENQeM2WBH1krG8SjAg:eTXjFKqtJzywfv9u"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 15 Jan 2020 05:57:49 GMT
recorded_with: VCR 5.0.0
