---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/datawarehouse/executions/d7ce295608f92484467c49e3ae02e8be0371fff4fa9b03f60000001c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - L0R9JF3d8B8bcjcYC10LEw:uOJ5rRCXoRPG90PL2Zu62Q
      Process:
      - 'true'
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Application-Context:
      - datawarehouse-restapi:8080
      Location:
      - "/gdc/datawarehouse/instances/d0e8bad39a662d43eb3e423d85018b97"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - L0R9JF3d8B8bcjcYC10LEw:uOJ5rRCXoRPG90PL2Zu62Q:in6wgp5XLcDIO9NG
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"links":{"instance":"/gdc/datawarehouse/instances/d0e8bad39a662d43eb3e423d85018b97"}}}'
  recorded_at: Mon, 21 May 2018 11:55:37 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/datawarehouse/instances/d0e8bad39a662d43eb3e423d85018b97
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - L0R9JF3d8B8bcjcYC10LEw:8qxG6dVYP4jxSjJ41jsgQg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - datawarehouse-restapi:8080
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - L0R9JF3d8B8bcjcYC10LEw:8qxG6dVYP4jxSjJ41jsgQg:2iQcBZTmdLCfJBzg
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"instance":{"title":"Test ADS","authorizationToken":"<AUTHORIZATION_TOKEN>","description":"No
        summary","created":"2018-05-21T11:55:32.000Z","updated":"2018-05-21T11:55:33.000Z","createdBy":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","updatedBy":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","status":"ENABLED","environment":"TESTING","connectionUrl":"jdbc:gdc:datawarehouse://staging2-lcm-prod.intgdc.com:443/gdc/datawarehouse/instances/d0e8bad39a662d43eb3e423d85018b97","links":{"self":"/gdc/datawarehouse/instances/d0e8bad39a662d43eb3e423d85018b97","parent":"/gdc/datawarehouse/instances","users":"/gdc/datawarehouse/instances/d0e8bad39a662d43eb3e423d85018b97/users","schemas":"/gdc/datawarehouse/instances/d0e8bad39a662d43eb3e423d85018b97/schemas","endpoints":"/gdc/datawarehouse/instances/d0e8bad39a662d43eb3e423d85018b97/endpoints","s3Credentials":"/gdc/datawarehouse/instances/d0e8bad39a662d43eb3e423d85018b97/s3"},"license":"standard"}}'
  recorded_at: Mon, 21 May 2018 11:55:37 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - L0R9JF3d8B8bcjcYC10LEw:IdiUsVCgDN3b2GmFeD0k4g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - L0R9JF3d8B8bcjcYC10LEw:IdiUsVCgDN3b2GmFeD0k4g:uACaOTOck56h8ttW
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/ldm?thumbnail=1","self":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap","clearCaches":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/clearCaches","invitations":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/invitations","users":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/uploads/","ldm":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/ldm","metadata":"/gdc/md/gbpell9ko33yshowqunxn7nmg0krxhap","publicartifacts":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/publicartifacts","roles":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/roles","userRoles":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/dataload","connectors":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/connectors","execute":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/execute","config":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/config","projectFeatureFlags":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/projectFeatureFlags","schedules":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/schedules","templates":"/gdc/md/gbpell9ko33yshowqunxn7nmg0krxhap/templates","eventstores":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/dataload/eventstore/stores"},"meta":{"created":"2018-05-21
        13:55:38","summary":"No summary","updated":"2018-05-21 13:55:40","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Test
        project","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Mon, 21 May 2018 11:55:43 GMT
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/projects/gbpell9ko33yshowqunxn7nmg0krxhap/outputStage
    body:
      encoding: UTF-8
      string: '{"outputStage":{"clientId":"","outputStagePrefix":""}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - L0R9JF3d8B8bcjcYC10LEw:zh-rHq6MYRvo60uut1ynNA
  response:
    status:
      code: 200
      message: OK
    headers:
      Location:
      - "/gdc/dataload/projects/gbpell9ko33yshowqunxn7nmg0krxhap/outputStage"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - L0R9JF3d8B8bcjcYC10LEw:zh-rHq6MYRvo60uut1ynNA:N98s8rm9zcm3Y0R3
      X-Gdc-Request-Time:
      - '109'
    body:
      encoding: ASCII-8BIT
      string: '{"outputStage":{"links":{"self":"/gdc/dataload/projects/gbpell9ko33yshowqunxn7nmg0krxhap/outputStage","outputStageDiff":"/gdc/dataload/projects/gbpell9ko33yshowqunxn7nmg0krxhap/outputStage/sqlDiff","dataloadProcess":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/dataload/processes/77a9a481-2205-49db-b2a2-e17f56ac5442"}}}'
  recorded_at: Mon, 21 May 2018 11:56:14 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/datawarehouse/executions/d7ce295608f92484467c49e3ae02e8bef52d05f7b7ae82c60000006a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - hOBRAs-_bxrHohAQPimamA:RCrAwCZQjxTIXIX640JGbQ
      Process:
      - 'true'
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - "/gdc/datawarehouse/instances/b3737c16f256022a0855dc663ddb76ea"
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - hOBRAs-_bxrHohAQPimamA:RCrAwCZQjxTIXIX640JGbQ:afTiGf7KGWuXTahq
      X-Gdc-Request-Time:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"links":{"instance":"/gdc/datawarehouse/instances/b3737c16f256022a0855dc663ddb76ea"}}}'
  recorded_at: Tue, 02 Oct 2018 15:24:17 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/c7o4u0m5lpl4fxg7q18c5dszfu2156p8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - hOBRAs-_bxrHohAQPimamA:mj5F9m3mrSVNvywwAi6AVg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/projects/c7o4u0m5lpl4fxg7q18c5dszfu2156p8/outputStage
    body:
      encoding: UTF-8
      string: '{"outputStage":{"clientId":"","outputStagePrefix":""}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - hOBRAs-_bxrHohAQPimamA:RzDi9XaSV-eIB5bYMzbLrw
  response:
    status:
      code: 200
      message: OK
    headers:
      Location:
      - "/gdc/dataload/projects/c7o4u0m5lpl4fxg7q18c5dszfu2156p8/outputStage"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - hOBRAs-_bxrHohAQPimamA:RzDi9XaSV-eIB5bYMzbLrw:ygVFiHcPPSHVOrRR
      X-Gdc-Request-Time:
      - '134'
    body:
      encoding: ASCII-8BIT
      string: '{"outputStage":{"links":{"self":"/gdc/dataload/projects/c7o4u0m5lpl4fxg7q18c5dszfu2156p8/outputStage","outputStageDiff":"/gdc/dataload/projects/c7o4u0m5lpl4fxg7q18c5dszfu2156p8/outputStage/sqlDiff","dataloadProcess":"/gdc/projects/c7o4u0m5lpl4fxg7q18c5dszfu2156p8/dataload/processes/96f5f4fd-029b-48f5-8698-644717bdb85e"}}}'
  recorded_at: Tue, 02 Oct 2018 15:24:34 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/datawarehouse/executions/d7ce295608f92484467c49e3ae02e8be220c7235110f7f2e0000006a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - GwPFM0cJ5DEYz6CtZdvp9Q:BH1_32pZWtWg8JZy5dVhzQ
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - GwPFM0cJ5DEYz6CtZdvp9Q:BH1_32pZWtWg8JZy5dVhzQ:Yyv3qbhx26Qr2Nj9
      X-Gdc-Request-Time:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"links":{"poll":"/gdc/datawarehouse/executions/d7ce295608f92484467c49e3ae02e8be220c7235110f7f2e0000006a"}}}'
  recorded_at: Fri, 05 Oct 2018 12:27:55 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/datawarehouse/instances/rf73816866ac7103113c6fb2199d5739
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - GwPFM0cJ5DEYz6CtZdvp9Q:KBANrQQtbCaCwFlDw9Ek1Q
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/dnz6dpsqcr2mvi5y9odaidmn1yqnwsbz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - GwPFM0cJ5DEYz6CtZdvp9Q:pCCVerVT9eUrD-BSGIjO2Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/projects/dnz6dpsqcr2mvi5y9odaidmn1yqnwsbz/outputStage
    body:
      encoding: UTF-8
      string: '{"outputStage":{"clientId":"","outputStagePrefix":""}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - GwPFM0cJ5DEYz6CtZdvp9Q:H-49Ut18-WywcOteQ_PVcw
  response:
    status:
      code: 200
      message: OK
    headers:
      Location:
      - "/gdc/dataload/projects/dnz6dpsqcr2mvi5y9odaidmn1yqnwsbz/outputStage"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - GwPFM0cJ5DEYz6CtZdvp9Q:H-49Ut18-WywcOteQ_PVcw:wMtx5buGIrdZ2tr4
      X-Gdc-Request-Time:
      - '130'
    body:
      encoding: ASCII-8BIT
      string: '{"outputStage":{"links":{"self":"/gdc/dataload/projects/dnz6dpsqcr2mvi5y9odaidmn1yqnwsbz/outputStage","outputStageDiff":"/gdc/dataload/projects/dnz6dpsqcr2mvi5y9odaidmn1yqnwsbz/outputStage/sqlDiff","dataloadProcess":"/gdc/projects/dnz6dpsqcr2mvi5y9odaidmn1yqnwsbz/dataload/processes/bac27830-c973-48c0-b96f-b195ed1725c1"}}}'
  recorded_at: Fri, 05 Oct 2018 12:28:15 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/datawarehouse/executions/d7ce295608f92484467c49e3ae02e8be820f829c254132d10000006a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Csl6lbtj3fSdBR5rQSpzdQ:Brzmr0ltjjHYEszeC4m7gw
      Process:
      - 'true'
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - "/gdc/datawarehouse/instances/q4c1031e6931bd042f69e5791ce0d430"
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Csl6lbtj3fSdBR5rQSpzdQ:Brzmr0ltjjHYEszeC4m7gw:fOYwbJajybzk4r6P
      X-Gdc-Request-Time:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"links":{"instance":"/gdc/datawarehouse/instances/q4c1031e6931bd042f69e5791ce0d430"}}}'
  recorded_at: Wed, 10 Oct 2018 10:23:05 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/datawarehouse/instances/q4c1031e6931bd042f69e5791ce0d430
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Csl6lbtj3fSdBR5rQSpzdQ:vygbwBPoQpG-735SH8dTrg
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/e1k90lkww04romof8yxit42rsd4gqerm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Csl6lbtj3fSdBR5rQSpzdQ:md-J9QBKO9k6I9MESLQcmA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/projects/e1k90lkww04romof8yxit42rsd4gqerm/outputStage
    body:
      encoding: UTF-8
      string: '{"outputStage":{"clientId":"","outputStagePrefix":""}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Csl6lbtj3fSdBR5rQSpzdQ:5DT_9UyN8O51mXYl98TzWw
  response:
    status:
      code: 200
      message: OK
    headers:
      Location:
      - "/gdc/dataload/projects/e1k90lkww04romof8yxit42rsd4gqerm/outputStage"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Csl6lbtj3fSdBR5rQSpzdQ:5DT_9UyN8O51mXYl98TzWw:wyXKJBlCo5mTckWy
      X-Gdc-Request-Time:
      - '139'
    body:
      encoding: ASCII-8BIT
      string: '{"outputStage":{"links":{"self":"/gdc/dataload/projects/e1k90lkww04romof8yxit42rsd4gqerm/outputStage","outputStageDiff":"/gdc/dataload/projects/e1k90lkww04romof8yxit42rsd4gqerm/outputStage/sqlDiff","dataloadProcess":"/gdc/projects/e1k90lkww04romof8yxit42rsd4gqerm/dataload/processes/a93b13e8-c9b5-40f9-9fb7-57d1ebc6e363"}}}'
  recorded_at: Wed, 10 Oct 2018 10:23:22 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":lmuy5wE7R9CO1m5K6XBp_w:umLCn0L5S-4MwFw5_fUm2A"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - GoodData realm="GoodData API" cookie=GDCAuthSST location=/gdc/account/login
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '20'
      X-Gdc-Request:
      - ":lmuy5wE7R9CO1m5K6XBp_w:umLCn0L5S-4MwFw5_fUm2A:vJk0qFHkrHkBv3Xp"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 24 Jan 2019 12:28:28 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":P-pPRoDJo-8bVpVNDaRBLQ:Ag0yWmu-I0llQF2uFtmHww"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - ":P-pPRoDJo-8bVpVNDaRBLQ:Ag0yWmu-I0llQF2uFtmHww:ummGWTysnNCnX6ee"
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 24 Jan 2019 12:35:55 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/datawarehouse/executions/d7ce295608f92484467c49e3ae02e8beec9e4f0fa978d77e0000006a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":P-pPRoDJo-8bVpVNDaRBLQ:ji2GJEzQ3Ypkj1cvzgdcPA"
      Process:
      - 'true'
      Stats-On:
      - ''
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - "/gdc/datawarehouse/instances/w5bcfef7781e6098d3f932aed63477ee"
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":P-pPRoDJo-8bVpVNDaRBLQ:ji2GJEzQ3Ypkj1cvzgdcPA:Xsy09PCaCTW5CPeW"
      X-Gdc-Request-Time:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"links":{"instance":"/gdc/datawarehouse/instances/w5bcfef7781e6098d3f932aed63477ee"}}}'
  recorded_at: Thu, 24 Jan 2019 12:36:03 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/datawarehouse/instances/w5bcfef7781e6098d3f932aed63477ee
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":P-pPRoDJo-8bVpVNDaRBLQ:OAh75YZk_erCl7uSaryfNg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - applica[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/t510cz5fsiwi0f0fh415v8gabqmalqi3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":P-pPRoDJo-8bVpVNDaRBLQ:cGUoq4jkiXKvNqa7iRF7_g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/projects/t510cz5fsiwi0f0fh415v8gabqmalqi3/outputStage
    body:
      encoding: UTF-8
      string: '{"outputStage":{"clientId":"","outputStagePrefix":""}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":P-pPRoDJo-8bVpVNDaRBLQ:m1cUSEkOJ6f4A8H6ul_UYg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Location:
      - "/gdc/dataload/projects/t510cz5fsiwi0f0fh415v8gabqmalqi3/outputStage"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":P-pPRoDJo-8bVpVNDaRBLQ:m1cUSEkOJ6f4A8H6ul_UYg:KmlzdVgzD4mLdrlJ"
      X-Gdc-Request-Time:
      - '166'
    body:
      encoding: ASCII-8BIT
      string: '{"outputStage":{"links":{"self":"/gdc/dataload/projects/t510cz5fsiwi0f0fh415v8gabqmalqi3/outputStage","outputStageDiff":"/gdc/dataload/projects/t510cz5fsiwi0f0fh415v8gabqmalqi3/outputStage/sqlDiff","dataloadProcess":"/gdc/projects/t510cz5fsiwi0f0fh415v8gabqmalqi3/dataload/processes/c41122f2-03e2-4f85-a262-c84f4b3ea7b5"}}}'
  recorded_at: Thu, 24 Jan 2019 12:36:23 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":YBRB10MrBYrEvWf3hgbDGQ:yP596jS-0iOVUoUN7jb2Zw"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '81'
      X-Gdc-Request:
      - ":YBRB10MrBYrEvWf3hgbDGQ:yP596jS-0iOVUoUN7jb2Zw:mpFhbrZKCBkrhzlK"
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 04:27:06 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":YBRB10MrBYrEvWf3hgbDGQ:WmlFpxFcwLltpLT-xQnEcw"
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '17'
      X-Gdc-Request:
      - ":YBRB10MrBYrEvWf3hgbDGQ:WmlFpxFcwLltpLT-xQnEcw:8642KB9ZZAwPXZyN"
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2019-03-15 10:00:00","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Wed, 15 Jan 2020 04:27:08 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":YBRB10MrBYrEvWf3hgbDGQ:TjZRgVnBxl7_vr7kGys9sQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '40'
      X-Gdc-Request:
      - ":YBRB10MrBYrEvWf3hgbDGQ:TjZRgVnBxl7_vr7kGys9sQ:ZBW7u3M4FzFGllDQ"
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Wed, 15 Jan 2020 04:27:09 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/datawarehouse/instances
    body:
      encoding: UTF-8
      string: '{"instance":{"title":"Test ADS","description":"No summary","authorizationToken":"<AUTHORIZATION_TOKEN>","environment":"TESTING"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":YBRB10MrBYrEvWf3hgbDGQ:bV3NkciiESiWlAaOzmYiig"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 202
      message: ''
    headers:
      Location:
      - "/gdc/datawarehouse/executions/d7ce295608f92484467c49e3ae02e8bec9f3894c1a59ce8f00000041"
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - ":YBRB10MrBYrEvWf3hgbDGQ:bV3NkciiESiWlAaOzmYiig:efBVx1qe0hoZnXCX"
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"links":{"poll":"/gdc/datawarehouse/executions/d7ce295608f92484467c49e3ae02e8bec9f3894c1a59ce8f00000041"}}}'
  recorded_at: Wed, 15 Jan 2020 04:27:10 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/datawarehouse/instances/v8a07f18fc07f21db880fc883d73d5cf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":YBRB10MrBYrEvWf3hgbDGQ:U7HP6JUBQZA3pigcyZromg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: ''
    headers:
  [...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Test project"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":YBRB10MrBYrEvWf3hgbDGQ:fYfWzd0wSEG_0nVquvlZ7w"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '468'
      X-Gdc-Request:
      - ":YBRB10MrBYrEvWf3hgbDGQ:fYfWzd0wSEG_0nVquvlZ7w:agebnzrZYjZtDZdl"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/oj5qayx0cnsoop0njpmclelakt2pcte9"}'
  recorded_at: Wed, 15 Jan 2020 04:27:15 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/oj5qayx0cnsoop0njpmclelakt2pcte9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":YBRB10MrBYrEvWf3hgbDGQ:mHAyl9fN_Ddg44sU3f73Eg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '91'
      X-Gdc-Request:
      - ":YBRB10MrBYrEvWf3hgbDGQ:mHAyl9fN_Ddg44sU3f73Eg:KUC5Wwxjuf9V0LOa"
    body:
      encoding: ASCII-8BIT
[...]
