---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/datawarehouse/executions/d7ce295608f92484467c49e3ae02e8be0371fff4fa9b03f60000001c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - L0R9JF3d8B8bcjcYC10LEw:uOJ5rRCXoRPG90PL2Zu62Q
      Process:
      - 'true'
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Application-Context:
      - datawarehouse-restapi:8080
      Location:
      - "/gdc/datawarehouse/instances/d0e8bad39a662d43eb3e423d85018b97"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - L0R9JF3d8B8bcjcYC10LEw:uOJ5rRCXoRPG90PL2Zu62Q:in6wgp5XLcDIO9NG
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"links":{"instance":"/gdc/datawarehouse/instances/d0e8bad39a662d43eb3e423d85018b97"}}}'
  recorded_at: Mon, 21 May 2018 11:55:37 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/datawarehouse/instances/d0e8bad39a662d43eb3e423d85018b97
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - L0R9JF3d8B8bcjcYC10LEw:8qxG6dVYP4jxSjJ41jsgQg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - datawarehouse-restapi:8080
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - L0R9JF3d8B8bcjcYC10LEw:8qxG6dVYP4jxSjJ41jsgQg:2iQcBZTmdLCfJBzg
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"instance":{"title":"Test ADS","authorizationToken":"<AUTHORIZATION_TOKEN>","description":"No
        summary","created":"2018-05-21T11:55:32.000Z","updated":"2018-05-21T11:55:33.000Z","createdBy":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","updatedBy":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","status":"ENABLED","environment":"TESTING","connectionUrl":"jdbc:gdc:datawarehouse://staging2-lcm-prod.intgdc.com:443/gdc/datawarehouse/instances/d0e8bad39a662d43eb3e423d85018b97","links":{"self":"/gdc/datawarehouse/instances/d0e8bad39a662d43eb3e423d85018b97","parent":"/gdc/datawarehouse/instances","users":"/gdc/datawarehouse/instances/d0e8bad39a662d43eb3e423d85018b97/users","schemas":"/gdc/datawarehouse/instances/d0e8bad39a662d43eb3e423d85018b97/schemas","endpoints":"/gdc/datawarehouse/instances/d0e8bad39a662d43eb3e423d85018b97/endpoints","s3Credentials":"/gdc/datawarehouse/instances/d0e8bad39a662d43eb3e423d85018b97/s3"},"license":"standard"}}'
  recorded_at: Mon, 21 May 2018 11:55:37 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - L0R9JF3d8B8bcjcYC10LEw:IdiUsVCgDN3b2GmFeD0k4g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - L0R9JF3d8B8bcjcYC10LEw:IdiUsVCgDN3b2GmFeD0k4g:uACaOTOck56h8ttW
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/ldm?thumbnail=1","self":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap","clearCaches":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/clearCaches","invitations":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/invitations","users":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/uploads/","ldm":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/ldm","metadata":"/gdc/md/gbpell9ko33yshowqunxn7nmg0krxhap","publicartifacts":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/publicartifacts","roles":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/roles","userRoles":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/dataload","connectors":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/connectors","execute":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/execute","config":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/config","projectFeatureFlags":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/projectFeatureFlags","schedules":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/schedules","templates":"/gdc/md/gbpell9ko33yshowqunxn7nmg0krxhap/templates","eventstores":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/dataload/eventstore/stores"},"meta":{"created":"2018-05-21
        13:55:38","summary":"No summary","updated":"2018-05-21 13:55:40","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Test
        project","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Mon, 21 May 2018 11:55:43 GMT
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/projects/gbpell9ko33yshowqunxn7nmg0krxhap/outputStage
    body:
      encoding: UTF-8
      string: '{"outputStage":{"clientId":"","outputStagePrefix":""}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - L0R9JF3d8B8bcjcYC10LEw:zh-rHq6MYRvo60uut1ynNA
  response:
    status:
      code: 200
      message: OK
    headers:
      Location:
      - "/gdc/dataload/projects/gbpell9ko33yshowqunxn7nmg0krxhap/outputStage"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - L0R9JF3d8B8bcjcYC10LEw:zh-rHq6MYRvo60uut1ynNA:N98s8rm9zcm3Y0R3
      X-Gdc-Request-Time:
      - '109'
    body:
      encoding: ASCII-8BIT
      string: '{"outputStage":{"links":{"self":"/gdc/dataload/projects/gbpell9ko33yshowqunxn7nmg0krxhap/outputStage","outputStageDiff":"/gdc/dataload/projects/gbpell9ko33yshowqunxn7nmg0krxhap/outputStage/sqlDiff","dataloadProcess":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/dataload/processes/77a9a481-2205-49db-b2a2-e17f56ac5442"}}}'
  recorded_at: Mon, 21 May 2018 11:56:14 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - hOBRAs-_bxrHohAQPimamA:9An0XueJcSpMbXX61uJ61A
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - hOBRAs-_bxrHohAQPimamA:9An0XueJcSpMbXX61uJ61A:zkCW7jxslw0nDp2c
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Tue, 02 Oct 2018 15:24:14 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - hOBRAs-_bxrHohAQPimamA:0K2ELp-HFKjoxM7kXDZcfQ
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - hOBRAs-_bxrHohAQPimamA:0K2ELp-HFKjoxM7kXDZcfQ:YFK6YUwRO3OnzYHG
      X-Gdc-Request-Time:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Tue, 02 Oct 2018 15:24:14 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - hOBRAs-_bxrHohAQPimamA:GQVT08Lh-jqzef9ro_-HAg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - hOBRAs-_bxrHohAQPimamA:GQVT08Lh-jqzef9ro_-HAg:XJTjz0bnOPgSHrY5
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-10-02
        17:14:21","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","timezone":null,"language":"en-US","ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Tue, 02 Oct 2018 15:24:15 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - hOBRAs-_bxrHohAQPimamA:NVkDCtKtIhPUymwqP9gctg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - hOBRAs-_bxrHohAQPimamA:NVkDCtKtIhPUymwqP9gctg:CHCU3vKyTehR1V8U
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Tue, 02 Oct 2018 15:24:15 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/datawarehouse/instances
    body:
      encoding: UTF-8
      string: '{"instance":{"title":"Test ADS","description":"No summary","authorizationToken":"<AUTHORIZATION_TOKEN>","environment":"TESTING"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - hOBRAs-_bxrHohAQPimamA:OiunxZ9pjoLwcv8JUcPznA
  response:
    status:
      code: 202
      message: ''
    headers:
      Location:
      - "/gdc/datawarehouse/executions/d7ce295608f92484467c49e3ae02e8bef52d05f7b7ae82c60000006a"
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - hOBRAs-_bxrHohAQPimamA:OiunxZ9pjoLwcv8JUcPznA:ujymu9WlBePOXzXS
      X-Gdc-Request-Time:
      - '11'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"links":{"poll":"/gdc/datawarehouse/executions/d7ce295608f92484467c49e3ae02e8bef52d05f7b7ae82c60000006a"}}}'
  recorded_at: Tue, 02 Oct 2018 15:24:16 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Test project"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - hOBRAs-_bxrHohAQPimamA:c9_AyShPGTQxhX-x-5fORA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - hOBRAs-_bxrHohAQPimamA:c9_AyShPGTQxhX-x-5fORA:D4SJON0OBkJTwrss
      X-Gdc-Request-Time:
      - '411'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/c7o4u0m5lpl4fxg7q18c5dszfu2156p8"}'
  recorded_at: Tue, 02 Oct 2018 15:24:18 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/c7o4u0m5lpl4fxg7q18c5dszfu2156p8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - hOBRAs-_bxrHohAQPimamA:mj5F9m3mrSVNvywwAi6AVg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/projects/c7o4u0m5lpl4fxg7q18c5dszfu2156p8/outputStage
    body:
      encoding: UTF-8
      string: '{"outputStage":{"clientId":"","outputStagePrefix":""}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - hOBRAs-_bxrHohAQPimamA:RzDi9XaSV-eIB5bYMzbLrw
  response:
    status:
      code: 200
      message: OK
    headers:
      Location:
      - "/gdc/dataload/projects/c7o4u0m5lpl4fxg7q18c5dszfu2156p8/outputStage"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - hOBRAs-_bxrHohAQPimamA:RzDi9XaSV-eIB5bYMzbLrw:ygVFiHcPPSHVOrRR
      X-Gdc-Request-Time:
      - '134'
    body:
      encoding: ASCII-8BIT
      string: '{"outputStage":{"links":{"self":"/gdc/dataload/projects/c7o4u0m5lpl4fxg7q18c5dszfu2156p8/outputStage","outputStageDiff":"/gdc/dataload/projects/c7o4u0m5lpl4fxg7q18c5dszfu2156p8/outputStage/sqlDiff","dataloadProcess":"/gdc/projects/c7o4u0m5lpl4fxg7q18c5dszfu2156p8/dataload/processes/96f5f4fd-029b-48f5-8698-644717bdb85e"}}}'
  recorded_at: Tue, 02 Oct 2018 15:24:34 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0067QHKpMLp5xAU7MugP_A:wk6YxTqbYes3RJO-rYiQKg
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - 0067QHKpMLp5xAU7MugP_A:wk6YxTqbYes3RJO-rYiQKg:RBndr11KjikuXplX
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 02 Oct 2018 15:24:36 GMT
recorded_with: VCR 4.0.0
