---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/datawarehouse/executions/d7ce295608f92484467c49e3ae02e8be0371fff4fa9b03f60000001c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - L0R9JF3d8B8bcjcYC10LEw:uOJ5rRCXoRPG90PL2Zu62Q
      Process:
      - 'true'
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Application-Context:
      - datawarehouse-restapi:8080
      Location:
      - "/gdc/datawarehouse/instances/d0e8bad39a662d43eb3e423d85018b97"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - L0R9JF3d8B8bcjcYC10LEw:uOJ5rRCXoRPG90PL2Zu62Q:in6wgp5XLcDIO9NG
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"links":{"instance":"/gdc/datawarehouse/instances/d0e8bad39a662d43eb3e423d85018b97"}}}'
  recorded_at: Mon, 21 May 2018 11:55:37 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/datawarehouse/instances/d0e8bad39a662d43eb3e423d85018b97
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - L0R9JF3d8B8bcjcYC10LEw:8qxG6dVYP4jxSjJ41jsgQg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - datawarehouse-restapi:8080
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - L0R9JF3d8B8bcjcYC10LEw:8qxG6dVYP4jxSjJ41jsgQg:2iQcBZTmdLCfJBzg
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"instance":{"title":"Test ADS","authorizationToken":"<AUTHORIZATION_TOKEN>","description":"No
        summary","created":"2018-05-21T11:55:32.000Z","updated":"2018-05-21T11:55:33.000Z","createdBy":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","updatedBy":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","status":"ENABLED","environment":"TESTING","connectionUrl":"jdbc:gdc:datawarehouse://staging2-lcm-prod.intgdc.com:443/gdc/datawarehouse/instances/d0e8bad39a662d43eb3e423d85018b97","links":{"self":"/gdc/datawarehouse/instances/d0e8bad39a662d43eb3e423d85018b97","parent":"/gdc/datawarehouse/instances","users":"/gdc/datawarehouse/instances/d0e8bad39a662d43eb3e423d85018b97/users","schemas":"/gdc/datawarehouse/instances/d0e8bad39a662d43eb3e423d85018b97/schemas","endpoints":"/gdc/datawarehouse/instances/d0e8bad39a662d43eb3e423d85018b97/endpoints","s3Credentials":"/gdc/datawarehouse/instances/d0e8bad39a662d43eb3e423d85018b97/s3"},"license":"standard"}}'
  recorded_at: Mon, 21 May 2018 11:55:37 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - L0R9JF3d8B8bcjcYC10LEw:IdiUsVCgDN3b2GmFeD0k4g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - L0R9JF3d8B8bcjcYC10LEw:IdiUsVCgDN3b2GmFeD0k4g:uACaOTOck56h8ttW
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/ldm?thumbnail=1","self":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap","clearCaches":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/clearCaches","invitations":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/invitations","users":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/uploads/","ldm":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/ldm","metadata":"/gdc/md/gbpell9ko33yshowqunxn7nmg0krxhap","publicartifacts":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/publicartifacts","roles":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/roles","userRoles":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/dataload","connectors":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/connectors","execute":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/execute","config":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/config","projectFeatureFlags":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/projectFeatureFlags","schedules":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/schedules","templates":"/gdc/md/gbpell9ko33yshowqunxn7nmg0krxhap/templates","eventstores":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/dataload/eventstore/stores"},"meta":{"created":"2018-05-21
        13:55:38","summary":"No summary","updated":"2018-05-21 13:55:40","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Test
        project","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Mon, 21 May 2018 11:55:43 GMT
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/projects/gbpell9ko33yshowqunxn7nmg0krxhap/outputStage
    body:
      encoding: UTF-8
      string: '{"outputStage":{"clientId":"","outputStagePrefix":""}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - L0R9JF3d8B8bcjcYC10LEw:zh-rHq6MYRvo60uut1ynNA
  response:
    status:
      code: 200
      message: OK
    headers:
      Location:
      - "/gdc/dataload/projects/gbpell9ko33yshowqunxn7nmg0krxhap/outputStage"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - L0R9JF3d8B8bcjcYC10LEw:zh-rHq6MYRvo60uut1ynNA:N98s8rm9zcm3Y0R3
      X-Gdc-Request-Time:
      - '109'
    body:
      encoding: ASCII-8BIT
      string: '{"outputStage":{"links":{"self":"/gdc/dataload/projects/gbpell9ko33yshowqunxn7nmg0krxhap/outputStage","outputStageDiff":"/gdc/dataload/projects/gbpell9ko33yshowqunxn7nmg0krxhap/outputStage/sqlDiff","dataloadProcess":"/gdc/projects/gbpell9ko33yshowqunxn7nmg0krxhap/dataload/processes/77a9a481-2205-49db-b2a2-e17f56ac5442"}}}'
  recorded_at: Mon, 21 May 2018 11:56:14 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/datawarehouse/executions/d7ce295608f92484467c49e3ae02e8bef52d05f7b7ae82c60000006a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - hOBRAs-_bxrHohAQPimamA:RCrAwCZQjxTIXIX640JGbQ
      Process:
      - 'true'
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - "/gdc/datawarehouse/instances/b3737c16f256022a0855dc663ddb76ea"
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - hOBRAs-_bxrHohAQPimamA:RCrAwCZQjxTIXIX640JGbQ:afTiGf7KGWuXTahq
      X-Gdc-Request-Time:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"links":{"instance":"/gdc/datawarehouse/instances/b3737c16f256022a0855dc663ddb76ea"}}}'
  recorded_at: Tue, 02 Oct 2018 15:24:17 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/c7o4u0m5lpl4fxg7q18c5dszfu2156p8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - hOBRAs-_bxrHohAQPimamA:mj5F9m3mrSVNvywwAi6AVg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/projects/c7o4u0m5lpl4fxg7q18c5dszfu2156p8/outputStage
    body:
      encoding: UTF-8
      string: '{"outputStage":{"clientId":"","outputStagePrefix":""}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - hOBRAs-_bxrHohAQPimamA:RzDi9XaSV-eIB5bYMzbLrw
  response:
    status:
      code: 200
      message: OK
    headers:
      Location:
      - "/gdc/dataload/projects/c7o4u0m5lpl4fxg7q18c5dszfu2156p8/outputStage"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - hOBRAs-_bxrHohAQPimamA:RzDi9XaSV-eIB5bYMzbLrw:ygVFiHcPPSHVOrRR
      X-Gdc-Request-Time:
      - '134'
    body:
      encoding: ASCII-8BIT
      string: '{"outputStage":{"links":{"self":"/gdc/dataload/projects/c7o4u0m5lpl4fxg7q18c5dszfu2156p8/outputStage","outputStageDiff":"/gdc/dataload/projects/c7o4u0m5lpl4fxg7q18c5dszfu2156p8/outputStage/sqlDiff","dataloadProcess":"/gdc/projects/c7o4u0m5lpl4fxg7q18c5dszfu2156p8/dataload/processes/96f5f4fd-029b-48f5-8698-644717bdb85e"}}}'
  recorded_at: Tue, 02 Oct 2018 15:24:34 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/datawarehouse/executions/d7ce295608f92484467c49e3ae02e8be220c7235110f7f2e0000006a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - GwPFM0cJ5DEYz6CtZdvp9Q:BH1_32pZWtWg8JZy5dVhzQ
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - GwPFM0cJ5DEYz6CtZdvp9Q:BH1_32pZWtWg8JZy5dVhzQ:Yyv3qbhx26Qr2Nj9
      X-Gdc-Request-Time:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"links":{"poll":"/gdc/datawarehouse/executions/d7ce295608f92484467c49e3ae02e8be220c7235110f7f2e0000006a"}}}'
  recorded_at: Fri, 05 Oct 2018 12:27:55 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/datawarehouse/instances/rf73816866ac7103113c6fb2199d5739
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - GwPFM0cJ5DEYz6CtZdvp9Q:KBANrQQtbCaCwFlDw9Ek1Q
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/dnz6dpsqcr2mvi5y9odaidmn1yqnwsbz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - GwPFM0cJ5DEYz6CtZdvp9Q:pCCVerVT9eUrD-BSGIjO2Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/projects/dnz6dpsqcr2mvi5y9odaidmn1yqnwsbz/outputStage
    body:
      encoding: UTF-8
      string: '{"outputStage":{"clientId":"","outputStagePrefix":""}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - GwPFM0cJ5DEYz6CtZdvp9Q:H-49Ut18-WywcOteQ_PVcw
  response:
    status:
      code: 200
      message: OK
    headers:
      Location:
      - "/gdc/dataload/projects/dnz6dpsqcr2mvi5y9odaidmn1yqnwsbz/outputStage"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - GwPFM0cJ5DEYz6CtZdvp9Q:H-49Ut18-WywcOteQ_PVcw:wMtx5buGIrdZ2tr4
      X-Gdc-Request-Time:
      - '130'
    body:
      encoding: ASCII-8BIT
      string: '{"outputStage":{"links":{"self":"/gdc/dataload/projects/dnz6dpsqcr2mvi5y9odaidmn1yqnwsbz/outputStage","outputStageDiff":"/gdc/dataload/projects/dnz6dpsqcr2mvi5y9odaidmn1yqnwsbz/outputStage/sqlDiff","dataloadProcess":"/gdc/projects/dnz6dpsqcr2mvi5y9odaidmn1yqnwsbz/dataload/processes/bac27830-c973-48c0-b96f-b195ed1725c1"}}}'
  recorded_at: Fri, 05 Oct 2018 12:28:15 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - Csl6lbtj3fSdBR5rQSpzdQ:3CSz48HLp3amvszoogqTWw
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Csl6lbtj3fSdBR5rQSpzdQ:3CSz48HLp3amvszoogqTWw:y749zrbsx385GIhl
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 10:23:02 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Csl6lbtj3fSdBR5rQSpzdQ:8UHQG2nS5lefo_8JgTdWkA
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - Csl6lbtj3fSdBR5rQSpzdQ:8UHQG2nS5lefo_8JgTdWkA:5YIB02YE9YWlZMqL
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 10:23:03 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Csl6lbtj3fSdBR5rQSpzdQ:8T1yosQgUicq26pXliPy0w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Csl6lbtj3fSdBR5rQSpzdQ:8T1yosQgUicq26pXliPy0w:zfW0MrdLS1eHfmmW
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-10-10
        10:25:03","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","timezone":null,"language":"en-US","ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Wed, 10 Oct 2018 10:23:03 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Csl6lbtj3fSdBR5rQSpzdQ:XZ5U2e0O1PYxh_Xt-2s2oQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Csl6lbtj3fSdBR5rQSpzdQ:XZ5U2e0O1PYxh_Xt-2s2oQ:WViDxSbaivi2hYVp
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Wed, 10 Oct 2018 10:23:04 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/datawarehouse/instances
    body:
      encoding: UTF-8
      string: '{"instance":{"title":"Test ADS","description":"No summary","authorizationToken":"<AUTHORIZATION_TOKEN>","environment":"TESTING"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Csl6lbtj3fSdBR5rQSpzdQ:kYX1osQ5Vn4ub7jiirk7zg
  response:
    status:
      code: 202
      message: ''
    headers:
      Location:
      - "/gdc/datawarehouse/executions/d7ce295608f92484467c49e3ae02e8be820f829c254132d10000006a"
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Csl6lbtj3fSdBR5rQSpzdQ:kYX1osQ5Vn4ub7jiirk7zg:lRa8akqdVNVGoeY8
      X-Gdc-Request-Time:
      - '11'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"links":{"poll":"/gdc/datawarehouse/executions/d7ce295608f92484467c49e3ae02e8be820f829c254132d10000006a"}}}'
  recorded_at: Wed, 10 Oct 2018 10:23:04 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/datawarehouse/instances/q4c1031e6931bd042f69e5791ce0d430
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Csl6lbtj3fSdBR5rQSpzdQ:vygbwBPoQpG-735SH8dTrg
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      [...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Test project"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Csl6lbtj3fSdBR5rQSpzdQ:7L2PBzWJRotD3PKAdKCRkg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Csl6lbtj3fSdBR5rQSpzdQ:7L2PBzWJRotD3PKAdKCRkg:T4kHCp5U39VWxoSo
      X-Gdc-Request-Time:
      - '650'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/e1k90lkww04romof8yxit42rsd4gqerm"}'
  recorded_at: Wed, 10 Oct 2018 10:23:07 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/e1k90lkww04romof8yxit42rsd4gqerm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Csl6lbtj3fSdBR5rQSpzdQ:md-J9QBKO9k6I9MESLQcmA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/projects/e1k90lkww04romof8yxit42rsd4gqerm/outputStage
    body:
      encoding: UTF-8
      string: '{"outputStage":{"clientId":"","outputStagePrefix":""}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Csl6lbtj3fSdBR5rQSpzdQ:5DT_9UyN8O51mXYl98TzWw
  response:
    status:
      code: 200
      message: OK
    headers:
      Location:
      - "/gdc/dataload/projects/e1k90lkww04romof8yxit42rsd4gqerm/outputStage"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Csl6lbtj3fSdBR5rQSpzdQ:5DT_9UyN8O51mXYl98TzWw:wyXKJBlCo5mTckWy
      X-Gdc-Request-Time:
      - '139'
    body:
      encoding: ASCII-8BIT
      string: '{"outputStage":{"links":{"self":"/gdc/dataload/projects/e1k90lkww04romof8yxit42rsd4gqerm/outputStage","outputStageDiff":"/gdc/dataload/projects/e1k90lkww04romof8yxit42rsd4gqerm/outputStage/sqlDiff","dataloadProcess":"/gdc/projects/e1k90lkww04romof8yxit42rsd4gqerm/dataload/processes/a93b13e8-c9b5-40f9-9fb7-57d1ebc6e363"}}}'
  recorded_at: Wed, 10 Oct 2018 10:23:22 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - eD9KlL7GfRLjl3xdF3JmCA:yUV8W6P3LoVKVEB0pUtbWA
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '27'
      X-Gdc-Request:
      - eD9KlL7GfRLjl3xdF3JmCA:yUV8W6P3LoVKVEB0pUtbWA:jESDHsKLv8JqEZC4
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 10:23:24 GMT
recorded_with: VCR 4.0.0
