---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:V5jfukVVflMlESXJF3V1SA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:V5jfukVVflMlESXJF3V1SA:DuGhWYOie1X7ssgr"
      X-Gdc-Request-Time:
      - '78'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/roles/2"],"phonenumber":"","status":"ENABLED","lastname":"1","login":"rubydev+admin@gooddata.com"},"links":{"roles":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/users/5ad80b895edcc438e5a4418e222733fa/roles","permissions":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/users/5ad80b895edcc438e5a4418e222733fa/permissions","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","projectRelUri":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/users/5ad80b895edcc438e5a4418e222733fa"},"meta":{"created":"2017-02-10
        12:18:01","updated":"2019-03-15 10:00:00","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"the
        1","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"user":{"content":{"email":"gemtest-updates+user%27s+name+and+surname+and+removes+the+users-0@gooddata.com","firstname":"the","userRoles":["/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/roles/4"],"phonenumber":null,"status":"DISABLED","lastname":"gemtest-Updates+user%27s+name+and+surname+and+removes+the+users-0","login":"gemtest-updates+user%27s+name+and+surname+and+removes+the+users-0@gooddata.com"},"links":{"roles":"/gdc/projects/uo9[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=uo936nolw6v5bbk89e2cyxv3bhns2frn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:zwKUPS8s_vFYkLOYRBSfiQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:zwKUPS8s_vFYkLOYRBSfiQ:4mCjhuciseRBJ2I2"
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"group_1","id":"bXIkhfSGnnWM8_koXvmC0CA","description":null,"domain":null,"project":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn"},"meta":{"created":"2019-04-18
        17:00:12","updated":"2019-04-18 17:00:12"},"links":{"self":"/gdc/userGroups/bXIkhfSGnnWM8_koXvmC0CA","members":"/gdc/userGroups/bXIkhfSGnnWM8_koXvmC0CA/members","modifyMembers":"/gdc/userGroups/bXIkhfSGnnWM8_koXvmC0CA/modifyMembers"}}},{"userGroup":{"content":{"name":"group_2","id":"bXa0M5YTYKAv6P5IMEdFXEQ","description":null,"domain":null,"project":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn"},"meta":{"created":"2019-04-18
        17:00:14","updated":"2019-04-18 17:00:14"},"links":{"self":"/gdc/userGroups/bXa0M5YTYKAv6P5IMEdFXEQ","members":"/gdc/userGroups/bXa0M5YTYKAv6P5IMEdFXEQ/members","modifyMembers":"/gdc/userGroups/bXa0M5YTYKAv6P5IMEdFXEQ/modifyMembers"}}}]}}'
  recorded_at: Thu, 18 Apr 2019 15:02:15 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:kXGYdH8f5j-8v0faE9hLIw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:kXGYdH8f5j-8v0faE9hLIw:a5EeXyXAEMFTTkuS"
      X-Gdc-Request-Time:
      - '81'
    body:
      encoding: ASCII-8BIT
      string: '{"internalProjectRoles":{"roles":[{"projectRole":{"permissions":{"canAccessIntegration":"1","canCreateProjectDashboard":"1","canExportDashboard":"1","canManageComment":"1","canExecute":"1","canInitData":"1","canManageIntegration":"1","canCreateExecutionContext":"1","canManageFolder":"1","canInviteUserToProject":"1","canCreateTableDataLoad":"1","canCreateDomain":"1","canSeeOtherUserDetails":"1","canManageACL":"1","canManageAnalyticalDashboard":"1","canCreateRole":"0","canCreateProjectTemplates":"1","canCreateHelp":"1","canManageDomain":"1","canManageAttributeLabel":"1","canManageReport":"1","canExportReport":"1","canCreateColumn":"1","canManageDataSet":"1","canSetUserVariables":"1","canCreateAttributeGroup":"1","canValidateProject":"1","canSetStyle":"1","canMaintainProject":"1","canCreateETLFile":"1","canCreateScheduledMail":"1","canSuspendUserFromProject":"1","canManageIsProduction":"1","canMaintainUserFilterRelation":"1","canManageAttribute":"1","canManageReportDefinition":"1","canManageTranslations":"1","canMaintainUserFilter":"1","canCreateReport":"1","canSetLocale":"1","canEnrichData":"1","canUploadNonProductionCSV":"1","canManageETLFile":"1","canCreateComment":"1","canCreateDataSet":"1","canManageExecutionContext":"1","canCreateTable":"1","canManageTableDataLoad":"1","canRefreshData":"1","canCreateMetric":"1","canManageFilterSettings":"1","canManageProjectDashboard":"1","canManageProject":"1","canManagePrompt":"1","canAccessWorkbench":"1","canCreateAttributeLabel":"1","canCreateVisualizationClass":"1","canManageColumn":"1","canCreatePrompt":"1","canManagePublicAccessCode":"0","canListUsersInProject":"1","canManageAttributeGroup":"1","canManageMetric":"1","canManageHelp":"1","canSetProjectVariables":"1","canManageTable":"1","canCreateVisualization":"1","canCreateFolder":"1","canManageFact":"1","canManageScheduledMail":"1","canListInvitationsInProject":"1","canCreateFilterSettings":"1","canExecuteRaw":"1","canSeePublicAccessCode":"0","canCreateReportDefinition":"1","canManageVisualization":"1","canCreateFact":"1","canCreateAttribute":"1","canAssignUserWithRole":"1","canCreateAnalyticalDashboard":"1"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/roles/6","created":"2019-04-18
        16:53:19","identifier":"superAdminRole","summary":"the ultimate project admin","title":"SuperAdmin","updated":"2019-04-18
        16:53:19","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"projectRole":{"permissions":{"canAccessIntegration":"1","canCreateProjectDashboard":"1","canExportDashboard":"1","canManageComment":"1","canExecute":"1","canInitData":"0","canManageIntegration":"0","canCreateExecutionContext":"1","canManageFolder":"1","canInviteUserToProject":"1","canCreateTableDataLoad":"0","canCreateDomain":"1","ca[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bZpM6p5Pji0mtAPQA3eetsg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:Koa9DlPfi0BOvJKORt3a6g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:Koa9DlPfi0BOvJKORt3a6g:mofaHl1JhnrFXzaa"
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroup":{"content":{"name":"new_group","id":"bZpM6p5Pji0mtAPQA3eetsg","description":"new_group","domain":null,"project":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn"},"meta":{"created":"2019-04-18
        17:02:20","updated":"2019-04-18 17:02:20"},"links":{"self":"/gdc/userGroups/bZpM6p5Pji0mtAPQA3eetsg","members":"/gdc/userGroups/bZpM6p5Pji0mtAPQA3eetsg/members","modifyMembers":"/gdc/userGroups/bZpM6p5Pji0mtAPQA3eetsg/modifyMembers"}}}'
  recorded_at: Thu, 18 Apr 2019 15:02:21 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/users
    body:
      encoding: UTF-8
      string: '{"users":[{"user":{"content":{"status":"DISABLED"},"links":{"self":"/gdc/account/profile/gemtest-transfers+groups+from+hashes-4@gooddata.com"}}},{"user":{"content":{"status":"DISABLED"},"links":{"self":"/gdc/account/profile/gemtest-transfers+groups+from+hashes-1@gooddata.com"}}},{"user":{"content":{"status":"DISABLED"},"links":{"self":"/gdc/account/profile/gemtest-transfers+groups+from+hashes-0@gooddata.com"}}},{"user":{"content":{"status":"DISABLED"},"links":{"self":"/gdc/account/profile/gemtest-transfers+groups+from+hashes-3@gooddata.com"}}},{"user":{"content":{"status":"DISABLED"},"links":{"self":"/gdc/account/profile/gemtest-transfers+groups+from+hashes-2@gooddata.com"}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:dGRzXXkgvx87qvpBDZ81vA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:dGRzXXkgvx87qvpBDZ81vA:LxXAzIIf3I5XoP2w"
      X-Gdc-Request-Time:
      - '73'
    body:
      encoding: ASCII-8BIT
      string: '{"projectUsersUpdateResult":{"successful":["/gdc/account/profile/gemtest-transfers+groups+from+hashes-4@gooddata.com","/gdc/account/profile/gemtest-transfers+groups+from+hashes-1@gooddata.com","/gdc/account/profile/gemtest-transfers+groups+from+hashes-2@gooddata.com","/gdc/account/profile/gemtest-transfers+groups+from+hashes-3@gooddata.com","/gdc/account/profile/gemtest-transfers+groups+from+hashes-0@gooddata.com"],"failed":[]}}'
  recorded_at: Thu, 18 Apr 2019 15:02:21 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bZpM6p5Pji0mtAPQA3eetsg/modifyMembers
    body:
      encoding: UTF-8
      string: '{"modifyMembers":{"operation":"SET","items":["/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:9GszRdnd-eGQrC8ejxzAnQ"
      Stats-On:
      - ''
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:9GszRdnd-eGQrC8ejxzAnQ:rangaEcCmNf3y6a6"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 18 Apr 2019 15:02:23 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bXIkhfSGnnWM8_koXvmC0CA/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:vbYPW2zTWvE1g0_7veDTJA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:vbYPW2zTWvE1g0_7veDTJA:gZhbn9tUomyKW7c6"
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroupMembers":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"user":{"content":{"firstName":"the","lastName":"gemtest-transfers+groups+from+hashes-4"},"links":{"self":"/gdc/account/profile/4fa2035a8bf52eb45bea95ad1fc39928"}}},{"user":{"content":{"firstName":"the","lastName":"gemtest-transfers+groups+from+hashes-1"},"links":{"self":"/gdc/account/profile/63147b98878d793960de2d266d93f7df"}}},{"user":{"content":{"firstName":"the","lastName":"gemtest-transfers+groups+from+hashes-0"},"links":{"self":"/gdc/account/profile/049456831a79e28b7f8584713547392a"}}},{"user":{"content":{"firstName":"the","lastName":"gemtest-transfers+groups+from+hashes-3"},"links":{"self":"/gdc/account/profile/b2c1c6c6c74ec4634b161ccba0a4bd22"}}},{"user":{"content":{"firstName":"the","lastName":"gemtest-transfers+groups+from+hashes-2"},"links":{"self":"/gdc/account/profile/9e295a6b584d90f80df412979ea19e82"}}}]}}'
  recorded_at: Thu, 18 Apr 2019 15:02:24 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bXIkhfSGnnWM8_koXvmC0CA/modifyMembers
    body:
      encoding: UTF-8
      string: '{"modifyMembers":{"operation":"SET","items":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:bc4GL89ENyJN7Qj3ahG9kw"
      Stats-On:
      - ''
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '22'
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:bc4GL89ENyJN7Qj3ahG9kw:Am0jh6AtuLOiG26r"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 18 Apr 2019 15:02:28 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bXa0M5YTYKAv6P5IMEdFXEQ/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:x9ISyJBtLhnREqCv7a14jw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:x9ISyJBtLhnREqCv7a14jw:Ro0H0k62r1Jpwjju"
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroupMembers":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"user":{"content":{"firstName":"the","lastName":"gemtest-transfers+groups+from+hashes-4"},"links":{"self":"/gdc/account/profile/4fa2035a8bf52eb45bea95ad1fc39928"}}}]}}'
  recorded_at: Thu, 18 Apr 2019 15:02:29 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bXa0M5YTYKAv6P5IMEdFXEQ/modifyMembers
    body:
      encoding: UTF-8
      string: '{"modifyMembers":{"operation":"SET","items":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:xTsTp6ClL5LzG45LMssckA"
      Stats-On:
      - ''
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '29'
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:xTsTp6ClL5LzG45LMssckA:pjsd7wn0WS5TFCn9"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 18 Apr 2019 15:02:30 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bZpM6p5Pji0mtAPQA3eetsg/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:TlNY9N_1E6XVyInejf6_KQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:TlNY9N_1E6XVyInejf6_KQ:HiTLLjKuoUR6ws5x"
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroupMembers":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"user":{"content":{"firstName":"the","lastName":"1"},"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Thu, 18 Apr 2019 15:02:32 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/op24jzavrcslcsr2mb7gwaqwqlbpxsu8/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:i-MlzFSffr70RcPO5jigWQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '65'
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:i-MlzFSffr70RcPO5jigWQ:AFMiV4RGe3W2ztpX"
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/op24jzavrcslcsr2mb7gwaq[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=op24jzavrcslcsr2mb7gwaqwqlbpxsu8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:3wKjv9qBbL1g7UCm_oHC5A"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/op24jzavrcslcsr2mb7gwaqwqlbpxsu8/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:eDuCLtxgIDUn8u9Lms-Yhw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
  [...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups
    body:
      encoding: UTF-8
      string: '{"userGroup":{"content":{"name":"new_group","description":"new_group","project":"/gdc/projects/op24jzavrcslcsr2mb7gwaqwqlbpxsu8"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:VSyqvbsRNqnzbs-kDhq_Hg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '27'
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:VSyqvbsRNqnzbs-kDhq_Hg:NMJLqe1ChmoQvnds"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/userGroups/bDlX-owL9XGU88BU4M0f4Sg"}'
  recorded_at: Thu, 07 May 2020 09:52:29 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bDlX-owL9XGU88BU4M0f4Sg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:E04YOeDE8RZG63WYHM8PuQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '20'
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:E04YOeDE8RZG63WYHM8PuQ:eZiWcoxaHeCDhSQH"
    body:
      encoding: ASCII-8BIT
      string: '{"userGroup":{"content":{"name":"new_group","id":"bDlX-owL9XGU88BU4M0f4Sg","description":"new_group","domain":null,"project":"/gdc/projects/op24jzavrcslcsr2mb7gwaqwqlbpxsu8"},"meta":{"created":"2020-05-07
        11:52:29","updated":"2020-05-07 11:52:29"},"links":{"self":"/gdc/userGroups/bDlX-owL9XGU88BU4M0f4Sg","members":"/gdc/userGroups/bDlX-owL9XGU88BU4M0f4Sg/members","modifyMembers":"/gdc/userGroups/bDlX-owL9XGU88BU4M0f4Sg/modifyMembers"}}}'
  recorded_at: Thu, 07 May 2020 09:52:30 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/op24jzavrcslcsr2mb7gwaqwqlbpxsu8/users
    body:
      encoding: UTF-8
      string: '{"users":[{"user":{"content":{"status":"DISABLED"},"links":{"self":"/gdc/account/profile/gemtest-transfers+groups+from+hashes-4@gooddata.com"}}},{"user":{"content":{"status":"DISABLED"},"links":{"self":"/gdc/account/profile/gemtest-transfers+groups+from+hashes-1@gooddata.com"}}},{"user":{"content":{"status":"DISABLED"},"links[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bDlX-owL9XGU88BU4M0f4Sg/modifyMembers
    body:
      encoding: UTF-8
      string: '{"modifyMembers":{"operation":"SET","items":["/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:gddki6v8UHIEnVXUcpaG_Q"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '29'
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:gddki6v8UHIEnVXUcpaG_Q:JhvdhNeGpPSHznA4"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 07 May 2020 09:52:34 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bAeREo8R25s5zB76_TIDIgw/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:NdLL3ekqWnWyKW92s2eV5Q"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:NdLL3ekqWnWyKW92s2eV5Q:33of4BgeWaoioJC9"
    body:
      encoding: ASCII-8BIT
      string: '{"userGroupMembers":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"user":{"content":{"firstName":"the","lastName":"gemtest-transfers+groups+from+hashes-4"},"links":{"self":"/gdc/account/profile/4fa2035a8bf52eb45bea95ad1fc39928"}}}]}}'
  recorded_at: Thu, 07 May 2020 09:52:35 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/4fa2035a8bf52eb45bea95ad1fc39928
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:jvFfC_joPMixZclYp52C7g"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '13'
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:jvFfC_joPMixZclYp52C7g:U6miCRA2ocyuO94d"
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/4fa2035a8bf52eb45bea95ad1fc39928","projects":"/gdc/account/profile/4fa2035a8bf52eb45bea95ad1fc39928/projects","auditEvents":"/gdc/account/profile/4fa2035a8bf52eb45bea95ad1fc39928/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"gemtest-transfers+groups+from+hashes-4","companyName":null,"position":null,"created":"2018-06-26
        00:21:01","updated":"2018-07-16 01:42:35","country":null,"phoneNumber":null,"authenticationModes":[],"login":"gemtest-transfers+groups+from+hashes-4@gooddata.com","timezone":null,"ssoProvider":null,"email":"gemtest-transfers+groups+from+hashes-4@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Thu, 07 May 2020 09:52:36 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bAeREo8R25s5zB76_TIDIgw/modifyMembers
    body:
      encoding: UTF-8
      string: '{"modifyMembers":{"operation":"SET","items":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:cqEa0w-TQt0ItdrszlnXcw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '28'
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:cqEa0w-TQt0ItdrszlnXcw:QvyKBhdbS1TQV6OW"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 07 May 2020 09:52:36 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bN5GNkG4AVNYiJglY_3jTWw/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:LCGGsqDaODA2CsbbeJj6mA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bN5GNkG4AVNYiJglY_3jTWw/modifyMembers
    body:
      encoding: UTF-8
      string: '{"modifyMembers":{"operation":"SET","items":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:e_weKEnamywSPUF3O4Zn8A"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '26'
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:e_weKEnamywSPUF3O4Zn8A:1RMCU8jlbKaTz0UE"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 07 May 2020 09:52:43 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bDlX-owL9XGU88BU4M0f4Sg/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:X6lc4NYSJWHsQlq6CYiILw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '23'
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:X6lc4NYSJWHsQlq6CYiILw:6a61PileV1pFy0Dm"
    body:
      encoding: ASCII-8BIT
      string: '{"userGroupMembers":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"user":{"content":{"firstName":"the","lastName":"1"},"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Thu, 07 May 2020 09:52:46 GMT
[...]
