---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:Sd1K9b8SBi0Z1jdV7uyVyg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:Sd1K9b8SBi0Z1jdV7uyVyg:HcdWgmWiBXG4YGK5
      X-Gdc-Request-Time:
      - '72'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/roles/2"],"phonenumber":"","status":"ENABLED","lastname":"1","login":"rubydev+admin@gooddata.com"},"links":{"roles":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/users/5ad80b895edcc438e5a4418e222733fa/roles","permissions":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/users/5ad80b895edcc438e5a4418e222733fa/permissions","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","projectRelUri":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/users/5ad80b895edcc438e5a4418e222733fa"},"meta":{"created":"2017-02-10
        12:18:01","updated":"2018-06-05 11:23:01","author":"/gdc/account/profile/25b25d6c1cd5816c6de55f95b119d8cc","title":"the
        1","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"user":{"content":{"email":"gemtest-updates+user%27s+name+and+surname+and+removes+the+users-0@gooddata.com","firstname":"the","userRoles":["/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/roles/4"],"phonenumber":null,"status":"DISABLED","lastname":"gemtest-Updates+user%27s+name+and+surname+and+removes+the+users-0","login":"gemtest-updates+user%27s+name+and+surname+and+removes+the+users-0@gooddata.com"},"links":{"roles":"/gdc/projects/lq8[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=lq82awsu0rql6v3zb6eq1oin0n6otxdp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:H_9yHUNqepaLwcz_d4K3Lg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:H_9yHUNqepaLwcz_d4K3Lg:MZCgh4GCI3QfKDqv
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"group_2","id":"b9-4IzENomEZUYTTT4UzxRg","description":null,"domain":null,"project":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp"},"meta":{"created":"2018-06-05
        11:27:02","updated":"2018-06-05 11:27:02"},"links":{"self":"/gdc/userGroups/b9-4IzENomEZUYTTT4UzxRg","members":"/gdc/userGroups/b9-4IzENomEZUYTTT4UzxRg/members","modifyMembers":"/gdc/userGroups/b9-4IzENomEZUYTTT4UzxRg/modifyMembers"}}},{"userGroup":{"content":{"name":"group_1","id":"bYE8sYzPifuoa-VOTJDPCHg","description":null,"domain":null,"project":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp"},"meta":{"created":"2018-06-05
        11:27:01","updated":"2018-06-05 11:27:01"},"links":{"self":"/gdc/userGroups/bYE8sYzPifuoa-VOTJDPCHg","members":"/gdc/userGroups/bYE8sYzPifuoa-VOTJDPCHg/members","modifyMembers":"/gdc/userGroups/bYE8sYzPifuoa-VOTJDPCHg/modifyMembers"}}}]}}'
  recorded_at: Tue, 05 Jun 2018 09:29:06 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:RZCO2PXtFZLzHxNcxgKYIw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:RZCO2PXtFZLzHxNcxgKYIw:Mog4U111uKWCGeVe
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"internalProjectRoles":{"roles":[{"projectRole":{"permissions":{"canAccessIntegration":"1","canCreateProjectDashboard":"1","canExportDashboard":"1","canManageComment":"1","canExecute":"1","canInitData":"1","canManageIntegration":"1","canCreateExecutionContext":"1","canManageFolder":"1","canInviteUserToProject":"1","canCreateTableDataLoad":"1","canCreateDomain":"1","canSeeOtherUserDetails":"1","canManageACL":"1","canManageAnalyticalDashboard":"1","canCreateRole":"0","canCreateProjectTemplates":"1","canCreateHelp":"1","canManageDomain":"1","canManageAttributeLabel":"1","canManageReport":"1","canExportReport":"1","canCreateColumn":"1","canManageDataSet":"1","canSetUserVariables":"1","canCreateAttributeGroup":"1","canValidateProject":"1","canSetStyle":"1","canMaintainProject":"1","canCreateETLFile":"1","canCreateScheduledMail":"1","canSuspendUserFromProject":"1","canManageIsProduction":"1","canMaintainUserFilterRelation":"1","canManageAttribute":"1","canManageReportDefinition":"1","canManageTranslations":"1","canMaintainUserFilter":"1","canCreateReport":"1","canSetLocale":"1","canEnrichData":"1","canUploadNonProductionCSV":"1","canManageETLFile":"1","canCreateComment":"1","canCreateDataSet":"1","canManageExecutionContext":"1","canCreateTable":"1","canManageTableDataLoad":"1","canRefreshData":"1","canCreateMetric":"1","canManageFilterSettings":"1","canManageProjectDashboard":"1","canManageProject":"1","canManagePrompt":"1","canAccessWorkbench":"1","canCreateAttributeLabel":"1","canCreateVisualizationClass":"1","canManageColumn":"1","canCreatePrompt":"1","canManagePublicAccessCode":"0","canListUsersInProject":"1","canManageAttributeGroup":"1","canManageMetric":"1","canManageHelp":"1","canSetProjectVariables":"1","canManageTable":"1","canCreateVisualization":"1","canCreateFolder":"1","canManageFact":"1","canManageScheduledMail":"1","canListInvitationsInProject":"1","canCreateFilterSettings":"1","canExecuteRaw":"1","canSeePublicAccessCode":"0","canCreateReportDefinition":"1","canManageVisualization":"1","canCreateFact":"1","canCreateAttribute":"1","canAssignUserWithRole":"1","canCreateAnalyticalDashboard":"1"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/roles/6","created":"2018-06-05
        11:14:09","identifier":"superAdminRole","summary":"the ultimate project admin","title":"SuperAdmin","updated":"2018-06-05
        11:14:09","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"projectRole":{"permissions":{"canAccessIntegration":"0","canCreateProjectDashboard":"0","canExportDashboard":"1","canManageComment":"0","canExecute":"1","canInitData":"0","canManageIntegration":"0","canCreateExecutionContext":"1","canManageFolder":"0","canInviteUserToProject":"0","canCreateTableDataLoad":"0","canCreateDomain":"0","ca[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups
    body:
      encoding: UTF-8
      string: '{"userGroup":{"content":{"name":"new_group","description":"new_group","project":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:q6oLnsIH8YWE4XV34afW6w
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:q6oLnsIH8YWE4XV34afW6w:wnYkQNOidOETlNWT
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/userGroups/bSpe3m9-e5PVgyqqDkptO3A"}'
  recorded_at: Tue, 05 Jun 2018 09:29:10 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bSpe3m9-e5PVgyqqDkptO3A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:WfF5Tih2YBtoxoyyPwHoVg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:WfF5Tih2YBtoxoyyPwHoVg:o1By7GZcP5bput3a
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroup":{"content":{"name":"new_group","id":"bSpe3m9-e5PVgyqqDkptO3A","description":"new_group","domain":null,"project":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp"},"meta":{"created":"2018-06-05
        11:29:10","updated":"2018-06-05 11:29:10"},"links":{"self":"/gdc/userGroups/bSpe3m9-e5PVgyqqDkptO3A","members":"/gdc/userGroups/bSpe3m9-e5PVgyqqDkptO3A/members","modifyMembers":"/gdc/userGroups/bSpe3m9-e5PVgyqqDkptO3A/modifyMembers"}}}'
  recorded_at: Tue, 05 Jun 2018 09:29:11 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/users
    body:
      encoding: UTF-8
      string: '{"users":[{"user":{"content":{"status":"DISABLED"},"links":{"self":"/gdc/account/profile/gemtest-transfers+groups+from+hashes-4@gooddata.com"}}},{"user":{"content":{"status":"DISABLED"},"links":{"self":"/gdc/account/profile/gemtest-transfers+groups+from+hashes-3@gooddata.com"}}},{"user":{"content":{"status":"DISABLED"},"links":{"self":"/gdc/account/profile/gemtest-transfers+groups+from+hashes-0@gooddata.com"}}},{"user":{"content":{"status":"DISABLED"},"links":{"self":"/gdc/account/profile/gemtest-transfers+groups+from+hashes-2@gooddata.com"}}},{"user":{"content":{"status":"DISABLED"},"links":{"self":"/gdc/account/profile/gemtest-transfers+groups+from+hashes-1@gooddata.com"}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:KhpcteHZ3TN_I3K9pRuGcw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:KhpcteHZ3TN_I3K9pRuGcw:Q5omOq6tpM9RvL32
      X-Gdc-Request-Time:
      - '180'
    body:
      encoding: ASCII-8BIT
      string: '{"projectUsersUpdateResult":{"successful":["/gdc/account/profile/gemtest-transfers+groups+from+hashes-4@gooddata.com","/gdc/account/profile/gemtest-transfers+groups+from+hashes-0@gooddata.com","/gdc/account/profile/gemtest-transfers+groups+from+hashes-1@gooddata.com","/gdc/account/profile/gemtest-transfers+groups+from+hashes-3@gooddata.com","/gdc/account/profile/gemtest-transfers+groups+from+hashes-2@gooddata.com"],"failed":[]}}'
  recorded_at: Tue, 05 Jun 2018 09:29:11 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bSpe3m9-e5PVgyqqDkptO3A/modifyMembers
    body:
      encoding: UTF-8
      string: '{"modifyMembers":{"operation":"SET","items":["/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:KZPfPnAOyLkgYBEDtekoMQ
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '29'
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:KZPfPnAOyLkgYBEDtekoMQ:PqSLFSOTVLMQCXN3
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 09:29:13 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/b9-4IzENomEZUYTTT4UzxRg/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:ZPP37hH466Qaxku9qpS2OQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:ZPP37hH466Qaxku9qpS2OQ:OFy2IaiTxWvH7aVX
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroupMembers":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"user":{"content":{"firstName":"the","lastName":"gemtest-transfers+groups+from+hashes-4"},"links":{"self":"/gdc/account/profile/ae76f195a3ad7c221d1881d81f3d54da"}}}]}}'
  recorded_at: Tue, 05 Jun 2018 09:29:14 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/ae76f195a3ad7c221d1881d81f3d54da
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:MAJ7cIrKYS1oz7s5l6nBzw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:MAJ7cIrKYS1oz7s5l6nBzw:qv5IU8ElcZ39I8Bs
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"gemtest-transfers+groups+from+hashes-4@gooddata.com","updated":"2018-06-05
        11:27:40","lastName":"gemtest-transfers+groups+from+hashes-4","phoneNumber":null,"links":{"auditEvents":"/gdc/account/profile/ae76f195a3ad7c221d1881d81f3d54da/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/ae76f195a3ad7c221d1881d81f3d54da","projects":"/gdc/account/profile/ae76f195a3ad7c221d1881d81f3d54da/projects"},"firstName":"the","country":null,"ssoProvider":null,"language":"en-US","timezone":null,"ipWhitelist":null,"companyName":null,"authenticationModes":[],"login":"gemtest-transfers+groups+from+hashes-4@gooddata.com","created":"2018-05-30
        12:25:07"}}'
  recorded_at: Tue, 05 Jun 2018 09:29:15 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/b9-4IzENomEZUYTTT4UzxRg/modifyMembers
    body:
      encoding: UTF-8
      string: '{"modifyMembers":{"operation":"SET","items":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:d5r4vMQueeingcNA06A6fg
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '27'
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:d5r4vMQueeingcNA06A6fg:RlNbFwUBQhgjMtMI
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 09:29:15 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bYE8sYzPifuoa-VOTJDPCHg/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:mVufo0OfoAGjprBw1VIxoQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bYE8sYzPifuoa-VOTJDPCHg/modifyMembers
    body:
      encoding: UTF-8
      string: '{"modifyMembers":{"operation":"SET","items":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:9UEL8YbeQjvRgpb8a7ZT0g
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '29'
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:9UEL8YbeQjvRgpb8a7ZT0g:lYrOFEJzfXqsdUVE
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 09:29:19 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bSpe3m9-e5PVgyqqDkptO3A/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:Lr-r2W3I11_BUJ1VbaxhEQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:Lr-r2W3I11_BUJ1VbaxhEQ:jx3NNYHeEgQKzJKz
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroupMembers":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"user":{"content":{"firstName":"the","lastName":"1"},"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Tue, 05 Jun 2018 09:29:20 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:vMIcuMU94GTHm0E0Nun88A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:vMIcuMU94GTHm0E0Nun88A:kCbXXilnpgnr6fjt
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-06-05
        11:23:01","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","language":"en-US","timezone":null,"ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Tue, 05 Jun 2018 09:29:21 GMT
recorded_with: VCR 4.0.0
