---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:Sd1K9b8SBi0Z1jdV7uyVyg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:Sd1K9b8SBi0Z1jdV7uyVyg:HcdWgmWiBXG4YGK5
      X-Gdc-Request-Time:
      - '72'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/roles/2"],"phonenumber":"","status":"ENABLED","lastname":"1","login":"rubydev+admin@gooddata.com"},"links":{"roles":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/users/5ad80b895edcc438e5a4418e222733fa/roles","permissions":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/users/5ad80b895edcc438e5a4418e222733fa/permissions","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","projectRelUri":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/users/5ad80b895edcc438e5a4418e222733fa"},"meta":{"created":"2017-02-10
        12:18:01","updated":"2018-06-05 11:23:01","author":"/gdc/account/profile/25b25d6c1cd5816c6de55f95b119d8cc","title":"the
        1","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"user":{"content":{"email":"gemtest-updates+user%27s+name+and+surname+and+removes+the+users-0@gooddata.com","firstname":"the","userRoles":["/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/roles/4"],"phonenumber":null,"status":"DISABLED","lastname":"gemtest-Updates+user%27s+name+and+surname+and+removes+the+users-0","login":"gemtest-updates+user%27s+name+and+surname+and+removes+the+users-0@gooddata.com"},"links":{"roles":"/gdc/projects/lq8[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=lq82awsu0rql6v3zb6eq1oin0n6otxdp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:H_9yHUNqepaLwcz_d4K3Lg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:H_9yHUNqepaLwcz_d4K3Lg:MZCgh4GCI3QfKDqv
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"group_2","id":"b9-4IzENomEZUYTTT4UzxRg","description":null,"domain":null,"project":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp"},"meta":{"created":"2018-06-05
        11:27:02","updated":"2018-06-05 11:27:02"},"links":{"self":"/gdc/userGroups/b9-4IzENomEZUYTTT4UzxRg","members":"/gdc/userGroups/b9-4IzENomEZUYTTT4UzxRg/members","modifyMembers":"/gdc/userGroups/b9-4IzENomEZUYTTT4UzxRg/modifyMembers"}}},{"userGroup":{"content":{"name":"group_1","id":"bYE8sYzPifuoa-VOTJDPCHg","description":null,"domain":null,"project":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp"},"meta":{"created":"2018-06-05
        11:27:01","updated":"2018-06-05 11:27:01"},"links":{"self":"/gdc/userGroups/bYE8sYzPifuoa-VOTJDPCHg","members":"/gdc/userGroups/bYE8sYzPifuoa-VOTJDPCHg/members","modifyMembers":"/gdc/userGroups/bYE8sYzPifuoa-VOTJDPCHg/modifyMembers"}}}]}}'
  recorded_at: Tue, 05 Jun 2018 09:29:06 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:RZCO2PXtFZLzHxNcxgKYIw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:RZCO2PXtFZLzHxNcxgKYIw:Mog4U111uKWCGeVe
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"internalProjectRoles":{"roles":[{"projectRole":{"permissions":{"canAccessIntegration":"1","canCreateProjectDashboard":"1","canExportDashboard":"1","canManageComment":"1","canExecute":"1","canInitData":"1","canManageIntegration":"1","canCreateExecutionContext":"1","canManageFolder":"1","canInviteUserToProject":"1","canCreateTableDataLoad":"1","canCreateDomain":"1","canSeeOtherUserDetails":"1","canManageACL":"1","canManageAnalyticalDashboard":"1","canCreateRole":"0","canCreateProjectTemplates":"1","canCreateHelp":"1","canManageDomain":"1","canManageAttributeLabel":"1","canManageReport":"1","canExportReport":"1","canCreateColumn":"1","canManageDataSet":"1","canSetUserVariables":"1","canCreateAttributeGroup":"1","canValidateProject":"1","canSetStyle":"1","canMaintainProject":"1","canCreateETLFile":"1","canCreateScheduledMail":"1","canSuspendUserFromProject":"1","canManageIsProduction":"1","canMaintainUserFilterRelation":"1","canManageAttribute":"1","canManageReportDefinition":"1","canManageTranslations":"1","canMaintainUserFilter":"1","canCreateReport":"1","canSetLocale":"1","canEnrichData":"1","canUploadNonProductionCSV":"1","canManageETLFile":"1","canCreateComment":"1","canCreateDataSet":"1","canManageExecutionContext":"1","canCreateTable":"1","canManageTableDataLoad":"1","canRefreshData":"1","canCreateMetric":"1","canManageFilterSettings":"1","canManageProjectDashboard":"1","canManageProject":"1","canManagePrompt":"1","canAccessWorkbench":"1","canCreateAttributeLabel":"1","canCreateVisualizationClass":"1","canManageColumn":"1","canCreatePrompt":"1","canManagePublicAccessCode":"0","canListUsersInProject":"1","canManageAttributeGroup":"1","canManageMetric":"1","canManageHelp":"1","canSetProjectVariables":"1","canManageTable":"1","canCreateVisualization":"1","canCreateFolder":"1","canManageFact":"1","canManageScheduledMail":"1","canListInvitationsInProject":"1","canCreateFilterSettings":"1","canExecuteRaw":"1","canSeePublicAccessCode":"0","canCreateReportDefinition":"1","canManageVisualization":"1","canCreateFact":"1","canCreateAttribute":"1","canAssignUserWithRole":"1","canCreateAnalyticalDashboard":"1"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/roles/6","created":"2018-06-05
        11:14:09","identifier":"superAdminRole","summary":"the ultimate project admin","title":"SuperAdmin","updated":"2018-06-05
        11:14:09","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"projectRole":{"permissions":{"canAccessIntegration":"0","canCreateProjectDashboard":"0","canExportDashboard":"1","canManageComment":"0","canExecute":"1","canInitData":"0","canManageIntegration":"0","canCreateExecutionContext":"1","canManageFolder":"0","canInviteUserToProject":"0","canCreateTableDataLoad":"0","canCreateDomain":"0","ca[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bSpe3m9-e5PVgyqqDkptO3A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:WfF5Tih2YBtoxoyyPwHoVg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:WfF5Tih2YBtoxoyyPwHoVg:o1By7GZcP5bput3a
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroup":{"content":{"name":"new_group","id":"bSpe3m9-e5PVgyqqDkptO3A","description":"new_group","domain":null,"project":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp"},"meta":{"created":"2018-06-05
        11:29:10","updated":"2018-06-05 11:29:10"},"links":{"self":"/gdc/userGroups/bSpe3m9-e5PVgyqqDkptO3A","members":"/gdc/userGroups/bSpe3m9-e5PVgyqqDkptO3A/members","modifyMembers":"/gdc/userGroups/bSpe3m9-e5PVgyqqDkptO3A/modifyMembers"}}}'
  recorded_at: Tue, 05 Jun 2018 09:29:11 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/users
    body:
      encoding: UTF-8
      string: '{"users":[{"user":{"content":{"status":"DISABLED"},"links":{"self":"/gdc/account/profile/gemtest-transfers+groups+from+hashes-4@gooddata.com"}}},{"user":{"content":{"status":"DISABLED"},"links":{"self":"/gdc/account/profile/gemtest-transfers+groups+from+hashes-3@gooddata.com"}}},{"user":{"content":{"status":"DISABLED"},"links":{"self":"/gdc/account/profile/gemtest-transfers+groups+from+hashes-0@gooddata.com"}}},{"user":{"content":{"status":"DISABLED"},"links":{"self":"/gdc/account/profile/gemtest-transfers+groups+from+hashes-2@gooddata.com"}}},{"user":{"content":{"status":"DISABLED"},"links":{"self":"/gdc/account/profile/gemtest-transfers+groups+from+hashes-1@gooddata.com"}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:KhpcteHZ3TN_I3K9pRuGcw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:KhpcteHZ3TN_I3K9pRuGcw:Q5omOq6tpM9RvL32
      X-Gdc-Request-Time:
      - '180'
    body:
      encoding: ASCII-8BIT
      string: '{"projectUsersUpdateResult":{"successful":["/gdc/account/profile/gemtest-transfers+groups+from+hashes-4@gooddata.com","/gdc/account/profile/gemtest-transfers+groups+from+hashes-0@gooddata.com","/gdc/account/profile/gemtest-transfers+groups+from+hashes-1@gooddata.com","/gdc/account/profile/gemtest-transfers+groups+from+hashes-3@gooddata.com","/gdc/account/profile/gemtest-transfers+groups+from+hashes-2@gooddata.com"],"failed":[]}}'
  recorded_at: Tue, 05 Jun 2018 09:29:11 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bSpe3m9-e5PVgyqqDkptO3A/modifyMembers
    body:
      encoding: UTF-8
      string: '{"modifyMembers":{"operation":"SET","items":["/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:KZPfPnAOyLkgYBEDtekoMQ
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '29'
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:KZPfPnAOyLkgYBEDtekoMQ:PqSLFSOTVLMQCXN3
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 09:29:13 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/b9-4IzENomEZUYTTT4UzxRg/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:ZPP37hH466Qaxku9qpS2OQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:ZPP37hH466Qaxku9qpS2OQ:OFy2IaiTxWvH7aVX
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroupMembers":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"user":{"content":{"firstName":"the","lastName":"gemtest-transfers+groups+from+hashes-4"},"links":{"self":"/gdc/account/profile/ae76f195a3ad7c221d1881d81f3d54da"}}}]}}'
  recorded_at: Tue, 05 Jun 2018 09:29:14 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/ae76f195a3ad7c221d1881d81f3d54da
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:MAJ7cIrKYS1oz7s5l6nBzw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:MAJ7cIrKYS1oz7s5l6nBzw:qv5IU8ElcZ39I8Bs
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"gemtest-transfers+groups+from+hashes-4@gooddata.com","updated":"2018-06-05
        11:27:40","lastName":"gemtest-transfers+groups+from+hashes-4","phoneNumber":null,"links":{"auditEvents":"/gdc/account/profile/ae76f195a3ad7c221d1881d81f3d54da/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/ae76f195a3ad7c221d1881d81f3d54da","projects":"/gdc/account/profile/ae76f195a3ad7c221d1881d81f3d54da/projects"},"firstName":"the","country":null,"ssoProvider":null,"language":"en-US","timezone":null,"ipWhitelist":null,"companyName":null,"authenticationModes":[],"login":"gemtest-transfers+groups+from+hashes-4@gooddata.com","created":"2018-05-30
        12:25:07"}}'
  recorded_at: Tue, 05 Jun 2018 09:29:15 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/b9-4IzENomEZUYTTT4UzxRg/modifyMembers
    body:
      encoding: UTF-8
      string: '{"modifyMembers":{"operation":"SET","items":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:d5r4vMQueeingcNA06A6fg
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '27'
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:d5r4vMQueeingcNA06A6fg:RlNbFwUBQhgjMtMI
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 09:29:15 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bYE8sYzPifuoa-VOTJDPCHg/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:mVufo0OfoAGjprBw1VIxoQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bYE8sYzPifuoa-VOTJDPCHg/modifyMembers
    body:
      encoding: UTF-8
      string: '{"modifyMembers":{"operation":"SET","items":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:9UEL8YbeQjvRgpb8a7ZT0g
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '29'
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:9UEL8YbeQjvRgpb8a7ZT0g:lYrOFEJzfXqsdUVE
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 09:29:19 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bSpe3m9-e5PVgyqqDkptO3A/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:Lr-r2W3I11_BUJ1VbaxhEQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:Lr-r2W3I11_BUJ1VbaxhEQ:jx3NNYHeEgQKzJKz
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroupMembers":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"user":{"content":{"firstName":"the","lastName":"1"},"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Tue, 05 Jun 2018 09:29:20 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/g01t7pakaiewbhrpx1cbjjxuvnwto9y0/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - yE-LCm26U5U8hzvGL23cfw:bKW8-WMmuu396X4HcGRt4A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - yE-LCm26U5U8hzvGL23cfw:bKW8-WMmuu396X4HcGRt4A:lV3Yyv4uvFsQBsqd
      X-Gdc-Request-Time:
      - '111'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/g01t7pakaiewbhr[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=g01t7pakaiewbhrpx1cbjjxuvnwto9y0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - yE-LCm26U5U8hzvGL23cfw:s9gkSXMv6vRpQ0r6f7ZN7A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applica[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/g01t7pakaiewbhrpx1cbjjxuvnwto9y0/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - yE-LCm26U5U8hzvGL23cfw:A3mEfz91bTjxivHmVTDv0w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - ap[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/b6m93m1pmu3dMbBuZ9uP7zg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - yE-LCm26U5U8hzvGL23cfw:W4PQ6q8poK1MVf_jO_WryQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - yE-LCm26U5U8hzvGL23cfw:W4PQ6q8poK1MVf_jO_WryQ:iIbaS9WsnV6CEaE1
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroup":{"content":{"name":"new_group","id":"b6m93m1pmu3dMbBuZ9uP7zg","description":"new_group","domain":null,"project":"/gdc/projects/g01t7pakaiewbhrpx1cbjjxuvnwto9y0"},"meta":{"created":"2018-10-05
        16:10:00","updated":"2018-10-05 16:10:00"},"links":{"self":"/gdc/userGroups/b6m93m1pmu3dMbBuZ9uP7zg","members":"/gdc/userGroups/b6m93m1pmu3dMbBuZ9uP7zg/members","modifyMembers":"/gdc/userGroups/b6m93m1pmu3dMbBuZ9uP7zg/modifyMembers"}}}'
  recorded_at: Fri, 05 Oct 2018 14:10:01 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/g01t7pakaiewbhrpx1cbjjxuvnwto9y0/users
    body:
      encoding: UTF-8
      string: '{"users":[{"user":{"content":{"status":"DISABLED"},"links":{"self":"/gdc/account/profile/gemtest-transfers+groups+from+hashes-4@gooddata.com"}}},{"user":{"content":{"status":"DISABLED"},"links":{"self":"/gdc/account/profile/gemtest-transfers+groups+from+hashes-1@gooddata.com"}}},{"user":{"content":{"status":"DISABLED"},"links[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/b6m93m1pmu3dMbBuZ9uP7zg/modifyMembers
    body:
      encoding: UTF-8
      string: '{"modifyMembers":{"operation":"SET","items":["/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - yE-LCm26U5U8hzvGL23cfw:teoVm_zNfEHc0-8GWinjxQ
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '24'
      X-Gdc-Request:
      - yE-LCm26U5U8hzvGL23cfw:teoVm_zNfEHc0-8GWinjxQ:vD27jvp40aZK1fwi
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 05 Oct 2018 14:10:04 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bUl5MYS0UP14MRjEBJW_tNw/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - yE-LCm26U5U8hzvGL23cfw:1DvcDMXYi7Pokv1iv1jAkw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - yE-LCm26U5U8hzvGL23cfw:1DvcDMXYi7Pokv1iv1jAkw:1d4quTc2eRQhT9JJ
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroupMembers":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"user":{"content":{"firstName":"the","lastName":"gemtest-transfers+groups+from+hashes-4"},"links":{"self":"/gdc/account/profile/4fa2035a8bf52eb45bea95ad1fc39928"}}}]}}'
  recorded_at: Fri, 05 Oct 2018 14:10:05 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bUl5MYS0UP14MRjEBJW_tNw/modifyMembers
    body:
      encoding: UTF-8
      string: '{"modifyMembers":{"operation":"SET","items":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - yE-LCm26U5U8hzvGL23cfw:6yVE23gyZelW-qRmsKeAvw
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '23'
      X-Gdc-Request:
      - yE-LCm26U5U8hzvGL23cfw:6yVE23gyZelW-qRmsKeAvw:XKK3wmBadyufILEf
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 05 Oct 2018 14:10:07 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bvwCEZJ4OSDgdvnsf5nyKjg/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - yE-LCm26U5U8hzvGL23cfw:Vb2za8-m3vn-SUhrdwQCtA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bvwCEZJ4OSDgdvnsf5nyKjg/modifyMembers
    body:
      encoding: UTF-8
      string: '{"modifyMembers":{"operation":"SET","items":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - yE-LCm26U5U8hzvGL23cfw:iX8Zu-c-MbCPdTENsHzfQg
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '22'
      X-Gdc-Request:
      - yE-LCm26U5U8hzvGL23cfw:iX8Zu-c-MbCPdTENsHzfQg:AxikB4mQoPNq1XUn
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 05 Oct 2018 14:10:11 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/b6m93m1pmu3dMbBuZ9uP7zg/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - yE-LCm26U5U8hzvGL23cfw:6OhprDXD3LwGiqKjTL8mmA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - yE-LCm26U5U8hzvGL23cfw:6OhprDXD3LwGiqKjTL8mmA:z3tI8SK5DQzg2oPJ
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroupMembers":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"user":{"content":{"firstName":"the","lastName":"1"},"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Fri, 05 Oct 2018 14:10:12 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/cdd0962rh01umlc6ww7ym6g31eajctbf/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - tYCDJl2o9aMce023wyOyyg:_yoemwiWb0j6j-Bdt_bodQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - tYCDJl2o9aMce023wyOyyg:_yoemwiWb0j6j-Bdt_bodQ:eRXLxK30mPJkDfm5
      X-Gdc-Request-Time:
      - '63'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/cdd0962rh01umlc6[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=cdd0962rh01umlc6ww7ym6g31eajctbf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - tYCDJl2o9aMce023wyOyyg:IlEp9P8uWJSXIJvnFaxE9A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applica[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/cdd0962rh01umlc6ww7ym6g31eajctbf/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - tYCDJl2o9aMce023wyOyyg:zMBgFDtUECR82M_-Akl4sA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - ap[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/b2-yI4JXz2o604cEVvw_CqQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - tYCDJl2o9aMce023wyOyyg:XWqffYAZBzDQCgYDU-HNnw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - tYCDJl2o9aMce023wyOyyg:XWqffYAZBzDQCgYDU-HNnw:dgi2R0F307Dw5hFC
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroup":{"content":{"name":"new_group","id":"b2-yI4JXz2o604cEVvw_CqQ","description":"new_group","domain":null,"project":"/gdc/projects/cdd0962rh01umlc6ww7ym6g31eajctbf"},"meta":{"created":"2018-10-08
        17:27:08","updated":"2018-10-08 17:27:08"},"links":{"self":"/gdc/userGroups/b2-yI4JXz2o604cEVvw_CqQ","members":"/gdc/userGroups/b2-yI4JXz2o604cEVvw_CqQ/members","modifyMembers":"/gdc/userGroups/b2-yI4JXz2o604cEVvw_CqQ/modifyMembers"}}}'
  recorded_at: Mon, 08 Oct 2018 15:27:09 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/cdd0962rh01umlc6ww7ym6g31eajctbf/users
    body:
      encoding: UTF-8
      string: '{"users":[{"user":{"content":{"status":"DISABLED"},"links":{"self":"/gdc/account/profile/gemtest-transfers+groups+from+hashes-4@gooddata.com"}}},{"user":{"content":{"status":"DISABLED"},"links":{"self":"/gdc/account/profile/gemtest-transfers+groups+from+hashes-1@gooddata.com"}}},{"user":{"content":{"status":"DISABLED"},"links[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/b2-yI4JXz2o604cEVvw_CqQ/modifyMembers
    body:
      encoding: UTF-8
      string: '{"modifyMembers":{"operation":"SET","items":["/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - tYCDJl2o9aMce023wyOyyg:258bumY1VAwslFRk0Y0Q-w
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '24'
      X-Gdc-Request:
      - tYCDJl2o9aMce023wyOyyg:258bumY1VAwslFRk0Y0Q-w:JnI5O6tHEuA72JBw
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 08 Oct 2018 15:27:11 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bcZiyWrEjmx2LOzMbRpWJUg/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - tYCDJl2o9aMce023wyOyyg:C1IXqQ-LN_DMs9mZIxD1pw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
[...]
