---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:bomwRGsIimSUl6003uoSYw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:bomwRGsIimSUl6003uoSYw:irPSPN8evhONYZay
      X-Gdc-Request-Time:
      - '57'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/roles/2"],"phonenumber":"","status":"ENABLED","lastname":"1","login":"rubydev+admin@gooddata.com"},"links":{"roles":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/users/5ad80b895edcc438e5a4418e222733fa/roles","permissions":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/users/5ad80b895edcc438e5a4418e222733fa/permissions","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","projectRelUri":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/users/5ad80b895edcc438e5a4418e222733fa"},"meta":{"created":"2017-02-10
        12:18:01","updated":"2018-06-05 11:23:01","author":"/gdc/account/profile/25b25d6c1cd5816c6de55f95b119d8cc","title":"the
        1","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"user":{"content":{"email":"gemtest-updates+user%27s+name+and+surname+and+removes+the+users-0@gooddata.com","firstname":"the","userRoles":["/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/roles/4"],"phonenumber":null,"status":"DISABLED","lastname":"gemtest-Updates+user%27s+name+and+surname+and+removes+the+users-0","login":"gemtest-updates+user%27s+name+and+surname+and+removes+the+users-0@gooddata.com"},"links":{"roles":"/gdc/projects/lq8[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/users/4b734bca5001a4003c50e719e2b22aa0/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:hJIvejbpY6RWw7NH-CwPnw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:hJIvejbpY6RWw7NH-CwPnw:pDPFE9uoHVUWHIWX
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"associatedRoles":{"roles":["/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/roles/2"],"links":{"project":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/","user":"/gdc/account/profile/4b734bca5001a4003c50e719e2b22aa0"}}}'
  recorded_at: Tue, 05 Jun 2018 09:25:13 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/roles/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:2Cc_wgWKYwF25YqnzAXs3w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:2Cc_wgWKYwF25YqnzAXs3w:38FMpFSLx3bQYuqT
      X-Gdc-Request-Time:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '{"projectRole":{"permissions":{"canAccessIntegration":"1","canCreateProjectDashboard":"1","canExportDashboard":"1","canManageComment":"1","canExecute":"1","canInitData":"1","canManageIntegration":"1","canCreateExecutionContext":"1","canManageFolder":"1","canInviteUserToProject":"1","canCreateTableDataLoad":"1","canCreateDomain":"1","canSeeOtherUserDetails":"1","canManageACL":"1","canManageAnalyticalDashboard":"1","canCreateRole":"0","canCreateProjectTemplates":"0","canCreateHelp":"1","canManageDomain":"1","canManageAttributeLabel":"1","canManageReport":"1","canExportReport":"1","canCreateColumn":"1","canManageDataSet":"1","canSetUserVariables":"1","canCreateAttributeGroup":"1","canValidateProject":"1","canSetStyle":"1","canMaintainProject":"1","canCreateETLFile":"1","canCreateScheduledMail":"1","canSuspendUserFromProject":"1","canManageIsProduction":"1","canMaintainUserFilterRelation":"1","canManageAttribute":"1","canManageReportDefinition":"1","canManageTranslations":"1","canMaintainUserFilter":"1","canCreateReport":"1","canSetLocale":"1","canEnrichData":"1","canUploadNonProductionCSV":"1","canManageETLFile":"1","canCreateComment":"1","canCreateDataSet":"1","canManageExecutionContext":"1","canCreateTable":"1","canManageTableDataLoad":"1","canRefreshData":"1","canCreateMetric":"1","canManageFilterSettings":"1","canManageProjectDashboard":"1","canManageProject":"1","canManagePrompt":"1","canAccessWorkbench":"1","canCreateAttributeLabel":"1","canCreateVisualizationClass":"1","canManageColumn":"1","canCreatePrompt":"1","canManagePublicAccessCode":"0","canListUsersInProject":"1","canManageAttributeGroup":"1","canManageMetric":"1","canManageHelp":"1","canSetProjectVariables":"1","canManageTable":"1","canCreateVisualization":"1","canCreateFolder":"1","canManageFact":"1","canManageScheduledMail":"1","canListInvitationsInProject":"1","canCreateFilterSettings":"1","canExecuteRaw":"1","canSeePublicAccessCode":"0","canCreateReportDefinition":"1","canManageVisualization":"1","canCreateFact":"1","canCreateAttribute":"1","canAssignUserWithRole":"1","canCreateAnalyticalDashboard":"1"},"links":{"roleUsers":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/roles/2/users"},"meta":{"created":"2018-06-05
        11:14:09","identifier":"adminRole","summary":"project master","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","updated":"2018-06-05
        11:14:09","title":"Admin","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 09:25:13 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:gtxm69r636sKQZ_3C6ZZow
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:gtxm69r636sKQZ_3C6ZZow:HGjuqDtOCoXTGb4z
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"internalProjectRoles":{"roles":[{"projectRole":{"permissions":{"canAccessIntegration":"1","canCreateProjectDashboard":"1","canExportDashboard":"1","canManageComment":"1","canExecute":"1","canInitData":"1","canManageIntegration":"1","canCreateExecutionContext":"1","canManageFolder":"1","canInviteUserToProject":"1","canCreateTableDataLoad":"1","canCreateDomain":"1","canSeeOtherUserDetails":"1","canManageACL":"1","canManageAnalyticalDashboard":"1","canCreateRole":"0","canCreateProjectTemplates":"1","canCreateHelp":"1","[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/users
    body:
      encoding: UTF-8
      string: '{"users":[{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/roles/5"]},"links":{"self":"/gdc/account/profile/gemtest-properly+updates+user+roles+as+needed-2@gooddata.com"}}},{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/rol[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/g01t7pakaiewbhrpx1cbjjxuvnwto9y0/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - yE-LCm26U5U8hzvGL23cfw:mI_SkFjeeDvUbfFp1NYKbA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - yE-LCm26U5U8hzvGL23cfw:mI_SkFjeeDvUbfFp1NYKbA:VkxJsXypwwFm4C5b
      X-Gdc-Request-Time:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/g01t7pakaiewbhrp[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/g01t7pakaiewbhrpx1cbjjxuvnwto9y0/users/f67ab9ed91aa1a98e9cf735185bf695a/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - yE-LCm26U5U8hzvGL23cfw:0YwckIN47uVIbal2JBIuKQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - yE-LCm26U5U8hzvGL23cfw:0YwckIN47uVIbal2JBIuKQ:e4i7xIIPEBLQj0S7
      X-Gdc-Request-Time:
      - '80'
    body:
      encoding: ASCII-8BIT
      string: '{"associatedRoles":{"roles":["/gdc/projects/g01t7pakaiewbhrpx1cbjjxuvnwto9y0/roles/2"],"links":{"project":"/gdc/projects/g01t7pakaiewbhrpx1cbjjxuvnwto9y0/","user":"/gdc/account/profile/f67ab9ed91aa1a98e9cf735185bf695a"}}}'
  recorded_at: Fri, 05 Oct 2018 14:06:26 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/g01t7pakaiewbhrpx1cbjjxuvnwto9y0/roles/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - yE-LCm26U5U8hzvGL23cfw:vps8pub2S6qjRtJbIOOV9g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applicati[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/g01t7pakaiewbhrpx1cbjjxuvnwto9y0/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - yE-LCm26U5U8hzvGL23cfw:nunxzMmHrisx9jrGJ0VMeg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - ap[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/g01t7pakaiewbhrpx1cbjjxuvnwto9y0/users
    body:
      encoding: UTF-8
      string: '{"users":[{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/g01t7pakaiewbhrpx1cbjjxuvnwto9y0/roles/5"]},"links":{"self":"/gdc/account/profile/gemtest-properly+updates+user+roles+as+needed-4@gooddata.com"}}},{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/g01t7pakaiewbhrpx1cbjjxuvnwto9y0/rol[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/cdd0962rh01umlc6ww7ym6g31eajctbf/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - tYCDJl2o9aMce023wyOyyg:AL9GbaQd1ayJWaHgNuNzZg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - tYCDJl2o9aMce023wyOyyg:AL9GbaQd1ayJWaHgNuNzZg:7vXgEytw1k17AekT
      X-Gdc-Request-Time:
      - '58'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/cdd0962rh01umlc6[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/cdd0962rh01umlc6ww7ym6g31eajctbf/users/f67ab9ed91aa1a98e9cf735185bf695a/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - tYCDJl2o9aMce023wyOyyg:naZ1alXvxAmagD9yJuiZVQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - tYCDJl2o9aMce023wyOyyg:naZ1alXvxAmagD9yJuiZVQ:jkpkFyiQg6P1oI1S
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"associatedRoles":{"roles":["/gdc/projects/cdd0962rh01umlc6ww7ym6g31eajctbf/roles/2"],"links":{"project":"/gdc/projects/cdd0962rh01umlc6ww7ym6g31eajctbf/","user":"/gdc/account/profile/f67ab9ed91aa1a98e9cf735185bf695a"}}}'
  recorded_at: Mon, 08 Oct 2018 15:22:57 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/cdd0962rh01umlc6ww7ym6g31eajctbf/roles/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - tYCDJl2o9aMce023wyOyyg:y9-h9qFKCK5zQNtMA9xZiA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applicati[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/cdd0962rh01umlc6ww7ym6g31eajctbf/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - tYCDJl2o9aMce023wyOyyg:GqpdKIveLxt_LNwnbsHYrA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - ap[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/cdd0962rh01umlc6ww7ym6g31eajctbf/users
    body:
      encoding: UTF-8
      string: '{"users":[{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/cdd0962rh01umlc6ww7ym6g31eajctbf/roles/5"]},"links":{"self":"/gdc/account/profile/gemtest-properly+updates+user+roles+as+needed-4@gooddata.com"}}},{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/cdd0962rh01umlc6ww7ym6g31eajctbf/rol[...]
[...]
