---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:GoOek3NM5P8cih6NBzcEzw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:GoOek3NM5P8cih6NBzcEzw:vB0W5FK2eJyzCCVM"
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/roles/2"],"phonenumber":"","status":"ENABLED","lastname":"1","login":"rubydev+admin@gooddata.com"},"links":{"roles":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/users/5ad80b895edcc438e5a4418e222733fa/roles","permissions":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/users/5ad80b895edcc438e5a4418e222733fa/permissions","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","projectRelUri":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/users/5ad80b895edcc438e5a4418e222733fa"},"meta":{"created":"2017-02-10
        12:18:01","updated":"2019-03-15 10:00:00","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"the
        1","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"user":{"content":{"email":"gemtest-updates+user%27s+name+and+surname+and+removes+the+users-0@gooddata.com","firstname":"the","userRoles":["/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/roles/4"],"phonenumber":null,"status":"DISABLED","lastname":"gemtest-Updates+user%27s+name+and+surname+and+removes+the+users-0","login":"gemtest-updates+user%27s+name+and+surname+and+removes+the+users-0@gooddata.com"},"links":{"roles":"/gdc/projects/uo9[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/users/f67ab9ed91aa1a98e9cf735185bf695a/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:JgiLBAJBWLfV7Ril-mGWgg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:JgiLBAJBWLfV7Ril-mGWgg:myhwktYuNfNgPvho"
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"associatedRoles":{"roles":["/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/roles/5"],"links":{"project":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/","user":"/gdc/account/profile/f67ab9ed91aa1a98e9cf735185bf695a"}}}'
  recorded_at: Thu, 18 Apr 2019 14:59:11 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/roles/5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:rtE-hPYR7tqmBQqXDGzMBw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:rtE-hPYR7tqmBQqXDGzMBw:OTpulLK7Sp7RcSXp"
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"projectRole":{"permissions":{"canAccessIntegration":"1","canCreateProjectDashboard":"1","canExportDashboard":"1","canManageComment":"1","canExecute":"1","canInitData":"0","canManageIntegration":"0","canCreateExecutionContext":"1","canManageFolder":"1","canInviteUserToProject":"0","canCreateTableDataLoad":"0","canCreateDomain":"1","canSeeOtherUserDetails":"1","canManageACL":"1","canManageAnalyticalDashboard":"1","canCreateRole":"0","canCreateProjectTemplates":"0","canCreateHelp":"0","canManageDomain":"1","canManageAttributeLabel":"0","canManageReport":"1","canExportReport":"1","canCreateColumn":"0","canManageDataSet":"0","canSetUserVariables":"0","canCreateAttributeGroup":"0","canValidateProject":"0","canSetStyle":"0","canMaintainProject":"0","canCreateETLFile":"1","canCreateScheduledMail":"1","canSuspendUserFromProject":"0","canManageIsProduction":"0","canMaintainUserFilterRelation":"0","canManageAttribute":"0","canManageReportDefinition":"1","canManageTranslations":"0","canMaintainUserFilter":"0","canCreateReport":"1","canSetLocale":"0","canEnrichData":"1","canUploadNonProductionCSV":"1","canManageETLFile":"1","canCreateComment":"1","canCreateDataSet":"0","canManageExecutionContext":"1","canCreateTable":"0","canManageTableDataLoad":"0","canRefreshData":"1","canCreateMetric":"1","canManageFilterSettings":"1","canManageProjectDashboard":"1","canManageProject":"0","canManagePrompt":"0","canAccessWorkbench":"1","canCreateAttributeLabel":"0","canCreateVisualizationClass":"0","canManageColumn":"0","canCreatePrompt":"0","canManagePublicAccessCode":"0","canListUsersInProject":"1","canManageAttributeGroup":"0","canManageMetric":"1","canManageHelp":"0","canSetProjectVariables":"0","canManageTable":"0","canCreateVisualization":"1","canCreateFolder":"1","canManageFact":"0","canManageScheduledMail":"1","canListInvitationsInProject":"0","canCreateFilterSettings":"1","canExecuteRaw":"1","canSeePublicAccessCode":"0","canCreateReportDefinition":"1","canManageVisualization":"1","canCreateFact":"0","canCreateAttribute":"0","canAssignUserWithRole":"0","canCreateAnalyticalDashboard":"1"},"links":{"roleUsers":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/roles/5/users"},"meta":{"created":"2019-04-18
        16:53:19","identifier":"editorRole","summary":"invited user","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","updated":"2019-04-18
        16:53:19","title":"Editor","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 18 Apr 2019 14:59:12 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:k21HjHAb1q66ENrcViPmrQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:k21HjHAb1q66ENrcViPmrQ:nGXB5FaJJVtS1bSA"
      X-Gdc-Request-Time:
      - '81'
    body:
      encoding: ASCII-8BIT
      string: '{"internalProjectRoles":{"roles":[{"projectRole":{"permissions":{"canAccessIntegration":"1","canCreateProjectDashboard":"1","canExportDashboard":"1","canManageComment":"1","canExecute":"1","canInitData":"1","canManageIntegration":"1","canCreateExecutionContext":"1","canManageFolder":"1","canInviteUserToProject":"1","canCreateTableDataLoad":"1","canCreateDomain":"1","canSeeOtherUserDetails":"1","canManageACL":"1","canManageAnalyticalDashboard":"1","canCreateRole":"0","canCreateProjectTemplates":"1","canCreateHelp":"1","[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/users
    body:
      encoding: UTF-8
      string: '{"users":[{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/roles/2"]},"links":{"self":"/gdc/account/profile/gemtest-properly+updates+user+roles+as+needed-3@gooddata.com"}}},{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/rol[...]
[...]
