---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:fUArUeIiUVQo2PRG1jvi4g
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:fUArUeIiUVQo2PRG1jvi4g:68JNiUTEFEoh2dVD
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Mon, 04 Jun 2018 11:50:58 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:U9CFKhxc6krSo6SJA8vJ4g
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:U9CFKhxc6krSo6SJA8vJ4g:rwTkkIBaJgVdCz0B
      X-Gdc-Request-Time:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Mon, 04 Jun 2018 11:50:58 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:ansshbBp8XHZbkt8F2-iAg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:ansshbBp8XHZbkt8F2-iAg:8eTpXANRolZOOz7e
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-06-04
        11:38:25","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","language":"en-US","timezone":null,"ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Mon, 04 Jun 2018 11:50:59 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:58oFETqtlyXVswW2b9rKig
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:58oFETqtlyXVswW2b9rKig:HZxIrqxFVsnmVn1j
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Mon, 04 Jun 2018 11:51:00 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Project for label
        spec ash_20180604135100"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:ltSK0vUuG0YDvKyi3tNq3g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:ltSK0vUuG0YDvKyi3tNq3g:XqVC5QWSI07B4zCs
      X-Gdc-Request-Time:
      - '462'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e"}'
  recorded_at: Mon, 04 Jun 2018 11:51:01 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:we4F2gLL_VepbH4u3z5gwA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:we4F2gLL_VepbH4u3z5gwA:GAo421zsLHzKV0HR
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/ldm?thumbnail=1","self":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e","clearCaches":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/clearCaches","invitations":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/invitations","users":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/uploads/","ldm":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/ldm","metadata":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e","publicartifacts":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/publicartifacts","roles":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/roles","userRoles":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/dataload","connectors":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/connectors","execute":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/execute","config":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/config","projectFeatureFlags":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/projectFeatureFlags","schedules":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/schedules","templates":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/templates","eventstores":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/dataload/eventstore/stores"},"meta":{"created":"2018-06-04
        13:51:01","summary":"No summary","updated":"2018-06-04 13:51:01","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for label spec ash_20180604135100","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Mon, 04 Jun 2018 11:51:02 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.csv_policies","title":"Policies","anchor":{"attribute":{"identifier":"attr.csv_policies.factsof","title":"Records
        of Policies","folder":"Policies"}},"attributes":[{"attribute":{"identifier":"attr.csv_policies.customer","title":"Customer","folder":"Policies","labels":[{"label":{"identifier":"label.csv_policies.customer","title":"Customer","type":"GDC.text","dataType":"VARCHAR(255)"}}],"defaultLabel":"label.csv_policies.customer"}},{"attribute":{"identifier":"attr.csv_policies.state","title":"State","folder":"Policies","labels":[{"label":{"identifier":"label.csv_policies.state","title":"State","type":"GDC.text","dataType":"VARCHAR(255)"}}],"defaultLabel":"label.csv_policies.state"}},{"attribute":{"identifier":"attr.csv_policies.coverage","title":"Coverage","folder":"Policies","labels":[{"label":{"identifier":"label.csv_policies.coverage","title":"Coverage","type":"GDC.text","dataType":"VARCH[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/model/diff/154dabd25d1988fded378c3a5147df3601cd73bd8cae53f60000006e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:EjJWjr60uB7aw4AnVGrntw
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/model/diff/154dabd25d1988fded378c3a5147df3601cd73bd8cae53f60000006e"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:EjJWjr60uB7aw4AnVGrntw:CqozD8N8Jv1MfQ0x
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/model/diff/154dabd25d1988fded378c3a5147df3601cd73bd8cae53f60000006e"}}}'
  recorded_at: Mon, 04 Jun 2018 11:51:10 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/model/diff/154dabd25d1988fded378c3a5147df3601cd73bd8cae53f60000006e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:NNqMzOXl1hu6ak7wiIA0qQ
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:NNqMzOXl1hu6ak7wiIA0qQ:5WVIsZ2nzfmvuWaD
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"dataset.create","dataset":"dataset.csv_policies","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Policies"]}},{"updateOperation":{"type":"date-dimension.create","destructive":false,"description":"Create
        date dimension ''%s''","parameters":["Effective To Date"]}},{"updateOperation":{"type":"anchor.create","dataset":"dataset.csv_policies","destructive":false,"description":"Create
        anchor ''%s''","parameters":["Records of Policies"]}},{"updateOperation":{"type":"attribute.create","dataset":"dataset.csv_policies","destructive":false,"description":"Create
        attribute ''%s'[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:cq29OAipfKRf2RtbaUugqg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:cq29OAipfKRf2RtbaUugqg:ioCKv0VEGCGVpTCs
      X-Gdc-Request-Time:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''lduuu6u0fopc2yfukfbtv57tc0257m4e''","category":"project","instance":"lduuu6u0fopc2yfukfbtv57tc0257m4e","links":[{"link":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","ca[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:XDDtRTWmsZHmqbxpCyMetw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE FOLDER {dim.policies} VISUAL(TITLE \"Policies\")
        TYPE ATTRIBUTE;\nCREATE FOLDER {ffld.policies} VISUAL(TITLE \"Policies\")
        TYPE FACT;\nCREATE DATASET {dataset.csv_policies} VISUAL(TITLE \"Policies\");\nINCLUDE
        TEMPLATE \"URN:GOODDATA:DATE\" MODIFY (IDENTIFIER \"effective_to_date\", TITLE
        \"Effective To Date\");\nCREATE ATTRIBUTE {attr.csv_policies.factsof} VISUAL(TITLE
        \"Records of Policies\", FOLDER {dim.policies}) AS KEYS {f_csv_policies.id}
    [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/tasks/8fcf2f54f01f2031f253c81ec6bd80330000002d/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:rYXjHT-B-8Stgn2vBdGFYQ
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:rYXjHT-B-8Stgn2vBdGFYQ:Mj3OpeJQALSS23ij
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/tasks/8fcf2f54f01f2031f253c81ec6bd80330000002d/status","status":"RUNNING","links":{"poll":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/tasks/8fcf2f54f01f2031f253c81ec6bd80330000002d/status"}}}'
  recorded_at: Mon, 04 Jun 2018 11:51:24 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/model/view?includeCA=true&includeDeprecated=true&includeGrain=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:Of75dc5u9AuWGqxzP4M5Nw
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/model/view/bb2f0fa3e004e429fa3f4775715fc7ad01cd73bd8e4ee92e0000006e"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:Of75dc5u9AuWGqxzP4M5Nw:gps4xZqJaoVJnQeT
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/model/view/bb2f0fa3e004e429fa3f4775715fc7ad01cd73bd8e4ee92e0000006e"}}}'
  recorded_at: Mon, 04 Jun 2018 11:51:36 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/model/view/bb2f0fa3e004e429fa3f4775715fc7ad01cd73bd8e4ee92e0000006e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:YOdJjS5Y7LmhK86Cekrc_Q
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/model/view/bb2f0fa3e004e429fa3f4775715fc7ad01cd73bd8e4ee92e0000006e"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:YOdJjS5Y7LmhK86Cekrc_Q:WBmewnmsq7PICok3
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/model/view/bb2f0fa3e004e429fa3f4775715fc7ad01cd73bd8e4ee92e0000006e"}}}'
  recorded_at: Mon, 04 Jun 2018 11:51:37 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/model/view/bb2f0fa3e004e429fa3f4775715fc7ad01cd73bd8e4ee92e0000006e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:eviIARwajiKGXEEdgmdAEw
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:eviIARwajiKGXEEdgmdAEw:O2MpKrEAK5I6SxVJ
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelView":{"model":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.csv_policies","title":"Policies","anchor":{"attribute":{"identifier":"attr.csv_policies.factsof","title":"Records
        of Policies","folder":"Policies"}},"attributes":[{"attribute":{"identifier":"attr.csv_policies.customer","title":"Customer","folder":"Policies","labels":[{"label":{"identifier":"label.csv_policies.customer","title":"Customer","type":"GDC.text","dataType":"VARCHAR(255)"}}],"defaul[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/d20180604-14834-cigtil/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/uploads/d20180604-14834-cigtil/ was not found on this server.</p>
        </body></html>
  recorded_at: Mon, 04 Jun 2018 11:51:50 GMT
- request:
    method: mkcol
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/d20180604-14834-cigtil/
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/uploads/d20180604-14834-cigtil/
      Content-Type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Collection /gdc/uploads/d20180604-14834-cigtil/ has been created.</p>
        </body></html>
  recorded_at: Mon, 04 Jun 2018 11:51:51 GMT
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/d20180604-14834-cigtil/upload.zip
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        UEsDBBQAAAAIAHhuxEwYdc+0AwIAALMQAAAQAAAAdXBsb2FkX2luZm8uanNvbsWXzYrbMBSF93kKo3XI0G23hUKp0xaGrjqDuJWvJwL9uNKVixvy7pU9ZLCd2C3TSM3CUbhH5+hTbMk6boqCVUBwj3RfftiDkTV6KqUn9rb4FqtFcRyuV3VRc67GegOO/Eu3589x1I4ShzU6NAI/YheVb7bTcmOboIBw7jIUFXxHtRO+5Y1VUkj0OxE8WY2OTbSPM1dtK4yG7P3XsmSzmrAqaPMJ9KD4y4jTNhuhpyhOiHfhn5FN2BYdPKX[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/etl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:ZMf89l7OCN8DlqJevog5Xw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:ZMf89l7OCN8DlqJevog5Xw:FofBvJQFt3FEWJjw
      X-Gdc-Request-Time:
      - '16'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Extract, transform and load services for project
        ''lduuu6u0fopc2yfukfbtv57tc0257m4e''","category":"etl","instance":"lduuu6u0fopc2yfukfbtv57tc0257m4e","links":[{"link":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/etl/pull2","summary":"Provides
        service of pull2.","category":"pull2","title":"pull2"},{"link":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/etl/task","summary":"Provides
        service of task.","category":"task","title":"task"},{"link":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/etl/mode","summary":"Provides
        service of mode.","category":"mode","title":"mode"}]}}'
  recorded_at: Mon, 04 Jun 2018 11:51:53 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/etl/pull2
    body:
      encoding: UTF-8
      string: '{"pullIntegration":"d20180604-14834-cigtil"}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:w-aw8ZAMIE8xCgvvBhD4Jw
      Info-Message:
      - Starting the data load from user storage to dataset.
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/tasks/7d74e2915690ba926e6693aa588e87bf0000004e/status"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:w-aw8ZAMIE8xCgvvBhD4Jw:atqpfpLCvyy3nvhR
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"pull2Task":{"links":{"poll":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/tasks/7d74e2915690ba926e6693aa588e87bf0000004e/status"}}}'
  recorded_at: Mon, 04 Jun 2018 11:51:53 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["label.csv_policies.customer"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:9SWq-ScMZ8SJUGh7VRSrQA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:9SWq-ScMZ8SJUGh7VRSrQA:DBcYbglAiiUvUTXC
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"label.csv_policies.customer","uri":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/obj/275"}]}'
  recorded_at: Mon, 04 Jun 2018 11:52:05 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/obj/275
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:o_vPu1Lusw3Xm5YBqx6GlA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:o_vPu1Lusw3Xm5YBqx6GlA:XfmeDTBdWGEdj3HS
      X-Gdc-Request-Time:
      - '65'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/obj/274","expression":"[/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/obj/83]","default":1},"links":{"elements":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/obj/275/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/obj/275","tags":"","created":"2018-06-04
        13:51:26","identifier":"label.csv_policies.customer","deprecated":"0","summary":"","isProduction":1,"title":"Customer","category":"attributeDisplayForm","updated":"2018-06-04
        13:51:26","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Mon, 04 Jun 2018 11:52:06 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _EOFVxRKQO3r1oFKHnW5hw:RU36UQWjVMb8AOF-jhyiFg
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - _EOFVxRKQO3r1oFKHnW5hw:RU36UQWjVMb8AOF-jhyiFg:iZH3ufZPXz4Hq1i2
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 04 Jun 2018 11:52:10 GMT
recorded_with: VCR 4.0.0
