---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:we4F2gLL_VepbH4u3z5gwA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:we4F2gLL_VepbH4u3z5gwA:GAo421zsLHzKV0HR
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/ldm?thumbnail=1","self":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e","clearCaches":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/clearCaches","invitations":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/invitations","users":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/uploads/","ldm":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/ldm","metadata":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e","publicartifacts":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/publicartifacts","roles":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/roles","userRoles":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/dataload","connectors":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/connectors","execute":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/execute","config":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/config","projectFeatureFlags":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/projectFeatureFlags","schedules":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/schedules","templates":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/templates","eventstores":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/dataload/eventstore/stores"},"meta":{"created":"2018-06-04
        13:51:01","summary":"No summary","updated":"2018-06-04 13:51:01","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for label spec ash_20180604135100","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Mon, 04 Jun 2018 11:51:02 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:Ge9xnGS79jvBOuyTPY2bIg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:Ge9xnGS79jvBOuyTPY2bIg:uf50yi0xirOMA0WA
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/ldm?thumbnail=1","self":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e","clearCaches":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/clearCaches","invitations":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/invitations","users":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/lduuu6u0fopc2yfuk[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.csv_policies","title":"Policies","anchor":{"attribute":{"identifier":"attr.csv_policies.factsof","title":"Records
        of Policies","folder":"Policies"}},"attributes":[{"attribute":{"identifier":"attr.csv_policies.customer","title":"Customer","folder":"Policies","labels":[{"label":{"identifier":"label.csv_policies.customer","title":"Customer","type":"GDC.text","dataType":"VARCHAR(255)"}}],"defaultLabel":"label.csv_policies.customer"}},{"attribute":{"identifier":"attr.csv_policies.state","title":"State","folder":"Policies","labels":[{"label":{"identifier":"label.csv_policies.state","title":"State","type":"GDC.text","dataType":"VARCHAR(255)"}}],"defaultLabel":"label.csv_policies.state"}},{"attribute":{"identifier":"attr.csv_policies.coverage","title":"Coverage","folder":"Policies","labels":[{"label":{"identifier":"label.csv_policies.coverage","title":"Coverage","type":"GDC.text","dataType":"VARCH[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/model/diff/154dabd25d1988fded378c3a5147df3601cd73bd8cae53f60000006e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:EjJWjr60uB7aw4AnVGrntw
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/model/diff/154dabd25d1988fded378c3a5147df3601cd73bd8cae53f60000006e"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:EjJWjr60uB7aw4AnVGrntw:CqozD8N8Jv1MfQ0x
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/model/diff/154dabd25d1988fded378c3a5147df3601cd73bd8cae53f60000006e"}}}'
  recorded_at: Mon, 04 Jun 2018 11:51:10 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/model/diff/154dabd25d1988fded378c3a5147df3601cd73bd8cae53f60000006e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:NNqMzOXl1hu6ak7wiIA0qQ
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:NNqMzOXl1hu6ak7wiIA0qQ:5WVIsZ2nzfmvuWaD
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"dataset.create","dataset":"dataset.csv_policies","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Policies"]}},{"updateOperation":{"type":"date-dimension.create","destructive":false,"description":"Create
        date dimension ''%s''","parameters":["Effective To Date"]}},{"updateOperation":{"type":"anchor.create","dataset":"dataset.csv_policies","destructive":false,"description":"Create
        anchor ''%s''","parameters":["Records of Policies"]}},{"updateOperation":{"type":"attribute.create","dataset":"dataset.csv_policies","destructive":false,"description":"Create
        attribute ''%s'[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:cq29OAipfKRf2RtbaUugqg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:cq29OAipfKRf2RtbaUugqg:ioCKv0VEGCGVpTCs
      X-Gdc-Request-Time:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''lduuu6u0fopc2yfukfbtv57tc0257m4e''","category":"project","instance":"lduuu6u0fopc2yfukfbtv57tc0257m4e","links":[{"link":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","ca[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:XDDtRTWmsZHmqbxpCyMetw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE FOLDER {dim.policies} VISUAL(TITLE \"Policies\")
        TYPE ATTRIBUTE;\nCREATE FOLDER {ffld.policies} VISUAL(TITLE \"Policies\")
        TYPE FACT;\nCREATE DATASET {dataset.csv_policies} VISUAL(TITLE \"Policies\");\nINCLUDE
        TEMPLATE \"URN:GOODDATA:DATE\" MODIFY (IDENTIFIER \"effective_to_date\", TITLE
        \"Effective To Date\");\nCREATE ATTRIBUTE {attr.csv_policies.factsof} VISUAL(TITLE
        \"Records of Policies\", FOLDER {dim.policies}) AS KEYS {f_csv_policies.id}
    [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/tasks/8fcf2f54f01f2031f253c81ec6bd80330000002d/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:rYXjHT-B-8Stgn2vBdGFYQ
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:rYXjHT-B-8Stgn2vBdGFYQ:Mj3OpeJQALSS23ij
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/tasks/8fcf2f54f01f2031f253c81ec6bd80330000002d/status","status":"RUNNING","links":{"poll":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/tasks/8fcf2f54f01f2031f253c81ec6bd80330000002d/status"}}}'
  recorded_at: Mon, 04 Jun 2018 11:51:24 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/model/view?includeCA=true&includeDeprecated=true&includeGrain=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:Of75dc5u9AuWGqxzP4M5Nw
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/model/view/bb2f0fa3e004e429fa3f4775715fc7ad01cd73bd8e4ee92e0000006e"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:Of75dc5u9AuWGqxzP4M5Nw:gps4xZqJaoVJnQeT
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/model/view/bb2f0fa3e004e429fa3f4775715fc7ad01cd73bd8e4ee92e0000006e"}}}'
  recorded_at: Mon, 04 Jun 2018 11:51:36 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/model/view/bb2f0fa3e004e429fa3f4775715fc7ad01cd73bd8e4ee92e0000006e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:YOdJjS5Y7LmhK86Cekrc_Q
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/model/view/bb2f0fa3e004e429fa3f4775715fc7ad01cd73bd8e4ee92e0000006e"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:YOdJjS5Y7LmhK86Cekrc_Q:WBmewnmsq7PICok3
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/model/view/bb2f0fa3e004e429fa3f4775715fc7ad01cd73bd8e4ee92e0000006e"}}}'
  recorded_at: Mon, 04 Jun 2018 11:51:37 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lduuu6u0fopc2yfukfbtv57tc0257m4e/model/view/bb2f0fa3e004e429fa3f4775715fc7ad01cd73bd8e4ee92e0000006e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:eviIARwajiKGXEEdgmdAEw
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:eviIARwajiKGXEEdgmdAEw:O2MpKrEAK5I6SxVJ
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelView":{"model":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.csv_policies","title":"Policies","anchor":{"attribute":{"identifier":"attr.csv_policies.factsof","title":"Records
        of Policies","folder":"Policies"}},"attributes":[{"attribute":{"identifier":"attr.csv_policies.customer","title":"Customer","folder":"Policies","labels":[{"label":{"identifier":"label.csv_policies.customer","title":"Customer","type":"GDC.text","dataType":"VARCHAR(255)"}}],"defaul[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/etl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:ZMf89l7OCN8DlqJevog5Xw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:ZMf89l7OCN8DlqJevog5Xw:FofBvJQFt3FEWJjw
      X-Gdc-Request-Time:
      - '16'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Extract, transform and load services for project
        ''lduuu6u0fopc2yfukfbtv57tc0257m4e''","category":"etl","instance":"lduuu6u0fopc2yfukfbtv57tc0257m4e","links":[{"link":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/etl/pull2","summary":"Provides
        service of pull2.","category":"pull2","title":"pull2"},{"link":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/etl/task","summary":"Provides
        service of task.","category":"task","title":"task"},{"link":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/etl/mode","summary":"Provides
        service of mode.","category":"mode","title":"mode"}]}}'
  recorded_at: Mon, 04 Jun 2018 11:51:53 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/etl/pull2
    body:
      encoding: UTF-8
      string: '{"pullIntegration":"d20180604-14834-cigtil"}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:w-aw8ZAMIE8xCgvvBhD4Jw
      Info-Message:
      - Starting the data load from user storage to dataset.
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/tasks/7d74e2915690ba926e6693aa588e87bf0000004e/status"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:w-aw8ZAMIE8xCgvvBhD4Jw:atqpfpLCvyy3nvhR
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"pull2Task":{"links":{"poll":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/tasks/7d74e2915690ba926e6693aa588e87bf0000004e/status"}}}'
  recorded_at: Mon, 04 Jun 2018 11:51:53 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["label.csv_policies.customer"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:9SWq-ScMZ8SJUGh7VRSrQA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:9SWq-ScMZ8SJUGh7VRSrQA:DBcYbglAiiUvUTXC
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"label.csv_policies.customer","uri":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/obj/275"}]}'
  recorded_at: Mon, 04 Jun 2018 11:52:05 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/obj/275
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:o_vPu1Lusw3Xm5YBqx6GlA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:o_vPu1Lusw3Xm5YBqx6GlA:XfmeDTBdWGEdj3HS
      X-Gdc-Request-Time:
      - '65'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/obj/274","expression":"[/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/obj/83]","default":1},"links":{"elements":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/obj/275/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/obj/275","tags":"","created":"2018-06-04
        13:51:26","identifier":"label.csv_policies.customer","deprecated":"0","summary":"","isProduction":1,"title":"Customer","category":"attributeDisplayForm","updated":"2018-06-04
        13:51:26","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Mon, 04 Jun 2018 11:52:06 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/m9iysa7r3iuh6oomxcu1208i4wic0cok
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 62hVUQbxei85z1B-_tHQNg:7Sed1YU7xZzb1QA8eNHYBA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/m9iysa7r3iuh6oomxcu1208i4wic0cok/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.csv_policies","title":"Policies","anchor":{"attribute":{"identifier":"attr.csv_policies.factsof","title":"Records
        of Policies","folder":"Policies"}},"attributes":[{"att[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/m9iysa7r3iuh6oomxcu1208i4wic0cok/model/diff/65bacc756fb52440e82f9043f325499b4780dd725719e3e100000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 62hVUQbxei85z1B-_tHQNg:LVVS2-0mfKenQyMI0HxUXA
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/m9iysa7r3iuh6oomxcu1208i4wic0cok/model/diff/65bacc756fb52440e82f9043f325499b4780dd725719e3e100000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 62hVUQbxei85z1B-_tHQNg:LVVS2-0mfKenQyMI0HxUXA:aZp8Tkcr8d9ryEe1
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/m9iysa7r3iuh6oomxcu1208i4wic0cok/model/diff/65bacc756fb52440e82f9043f325499b4780dd725719e3e100000018"}}}'
  recorded_at: Fri, 05 Oct 2018 12:49:35 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m9iysa7r3iuh6oomxcu1208i4wic0cok
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 62hVUQbxei85z1B-_tHQNg:zSv3DLNJixl9zEl6UKHl5Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charse[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m9iysa7r3iuh6oomxcu1208i4wic0cok/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 62hVUQbxei85z1B-_tHQNg:pImTXaiKon0aqPrft9A3OQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m9iysa7r3iuh6oomxcu1208i4wic0cok/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.csv_policies} VISUAL(TITLE
        \"Policies\");\nINCLUDE TEMPLATE \"URN:GOODDATA:DATE\" MODIFY (IDENTIFIER
        \"effective_to_date\", TITLE \"Effective To Date\");\nCREATE FOLDER {dim.policies}
        VISUAL(TITLE \"Policies\") TYPE ATTRIBUTE;\nCREATE ATTRIBUTE {attr.csv_polic[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m9iysa7r3iuh6oomxcu1208i4wic0cok/tasks/4c6a1f0913f3c8e3f57db15540e5c62000000007/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 62hVUQbxei85z1B-_tHQNg:8TQTjyf5UpXOiCa9pKhDtQ
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 62hVUQbxei85z1B-_tHQNg:8TQTjyf5UpXOiCa9pKhDtQ:j8WjQ57Pzm41Kvpt
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/m9iysa7r3iuh6oomxcu1208i4wic0cok/tasks/4c6a1f0913f3c8e3f57db15540e5c62000000007/status","status":"RUNNING","links":{"poll":"/gdc/md/m9iysa7r3iuh6oomxcu1208i4wic0cok/tasks/4c6a1f0913f3c8e3f57db15540e5c62000000007/status"}}}'
  recorded_at: Fri, 05 Oct 2018 12:49:40 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/m9iysa7r3iuh6oomxcu1208i4wic0cok/model/view?includeCA=true&includeDeprecated=true&includeGrain=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 62hVUQbxei85z1B-_tHQNg:K9X2E4aFkN7l6sqGJgLWxQ
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/m9iysa7r3iuh6oomxcu1208i4wic0cok/model/view/26bed088a22067cd3312582ccdbd40fa51f4aae2b4f593a700000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 62hVUQbxei85z1B-_tHQNg:K9X2E4aFkN7l6sqGJgLWxQ:z5aJGXGdw4y9VUyB
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/m9iysa7r3iuh6oomxcu1208i4wic0cok/model/view/26bed088a22067cd3312582ccdbd40fa51f4aae2b4f593a700000018"}}}'
  recorded_at: Fri, 05 Oct 2018 12:49:48 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/m9iysa7r3iuh6oomxcu1208i4wic0cok/model/view/26bed088a22067cd3312582ccdbd40fa51f4aae2b4f593a700000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 62hVUQbxei85z1B-_tHQNg:kssMImp1gCy9VurKSOg00g
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/m9iysa7r3iuh6oomxcu1208i4wic0cok/model/view/26bed088a22067cd3312582ccdbd40fa51f4aae2b4f593a700000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 62hVUQbxei85z1B-_tHQNg:kssMImp1gCy9VurKSOg00g:G6yklBJZfY4gXHR7
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/m9iysa7r3iuh6oomxcu1208i4wic0cok/model/view/26bed088a22067cd3312582ccdbd40fa51f4aae2b4f593a700000018"}}}'
  recorded_at: Fri, 05 Oct 2018 12:49:49 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m9iysa7r3iuh6oomxcu1208i4wic0cok/etl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 62hVUQbxei85z1B-_tHQNg:aNgtq5mOk0RUUHhof6nfHw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 62hVUQbxei85z1B-_tHQNg:aNgtq5mOk0RUUHhof6nfHw:eCKP0xbUCBSWOBee
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Extract, transform and load services for project
        ''m9iysa7r3iuh6oomxcu1208i4wic0cok''","category":"etl","instance":"m9iysa7r3iuh6oomxcu1208i4wic0cok","links":[{"link":"/gdc/md/m9iysa7r3iuh6oomxcu1208i4wic0cok/etl/pull2","summary":"Provides
        service of pull2.","category":"pull2","title":"pull2"},{"link":"/gdc/md/m9iysa7r3iuh6oomxcu1208i4wic0cok/etl/task","summary":"Provides
        service of task.","category":"task","title":"task"},{"link":"/gdc/md/m9iysa7r3iuh6oomxcu1208i4wic0cok/etl/mode","summary":"Provides
        service of mode.","category":"mode","title":"mode"}]}}'
  recorded_at: Fri, 05 Oct 2018 12:49:55 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m9iysa7r3iuh6oomxcu1208i4wic0cok/etl/pull2
    body:
      encoding: UTF-8
      string: '{"pullIntegration":"d20181005-54175-m6fcg9"}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 62hVUQbxei85z1B-_tHQNg:9gOsD7R98B-jnz7zbR77tw
      Info-Message:
      - Starting the data load from user storage to dataset.
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/m9iysa7r3iuh6oomxcu1208i4wic0cok/tasks/15cf313ba17e765f9ddc6b720c4d397400000013/status"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 62hVUQbxei85z1B-_tHQNg:9gOsD7R98B-jnz7zbR77tw:HHD2LvKjfHK5SGSn
      X-Gdc-Request-Time:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"pull2Task":{"links":{"poll":"/gdc/md/m9iysa7r3iuh6oomxcu1208i4wic0cok/tasks/15cf313ba17e765f9ddc6b720c4d397400000013/status"}}}'
  recorded_at: Fri, 05 Oct 2018 12:49:55 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m9iysa7r3iuh6oomxcu1208i4wic0cok/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["label.csv_policies.customer"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 62hVUQbxei85z1B-_tHQNg:9SxjfLisTFpGqucETtTX5g
  response:
    status:
      code: 200
      message: OK
    headers:
[...]
