---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:tTRIv_1g3aoogvOO2F8a1A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:tTRIv_1g3aoogvOO2F8a1A:XTZFE1zVCecCsXQ0
      X-Gdc-Request-Time:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/ldm?thumbnail=1","self":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj","clearCaches":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/clearCaches","invitations":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/invitations","users":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/uploads/","ldm":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/ldm","metadata":"/gdc/md/uvfbujpvr7st64nugfkerdx9ugo29efj","publicartifacts":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/publicartifacts","roles":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/roles","userRoles":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/dataload","connectors":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/connectors","execute":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/execute","config":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/config","projectFeatureFlags":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/projectFeatureFlags","schedules":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/schedules","templates":"/gdc/md/uvfbujpvr7st64nugfkerdx9ugo29efj/templates","eventstores":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        09:09:46","summary":"No summary","updated":"2018-06-05 09:09:46","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Test
        MASTER project for b672fd46-ef71-471f-bfa0-39b8229292f2","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:09:47 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:X48jfkfiluCUjpFc2EJDtw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:X48jfkfiluCUjpFc2EJDtw:sZpdAYdl4e6n3hJn
      X-Gdc-Request-Time:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/ldm?thumbnail=1","self":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj","clearCaches":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/clearCaches","invitations":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/invitations","users":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/uvfbujpvr7st64nug[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/q8qx2qtbkdfixgpy186udu9g5l7u4p2y
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:u2fWv5Z16Fewedj5otceCw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-b672fd46-ef71-471f-bfa0-39b8229292f2
    body:
      encoding: UTF-8
      string: '{"segment":{"id":"segment-b672fd46-ef71-471f-bfa0-39b8229292f2","masterProject":"/gdc/projects/q8qx2qtbkdfixgpy186udu9g5l7u4p2y","links":{"self":"/gdc/domains/staging2-lcm-prod/segments/segment-b672fd46-ef71-471f-bfa0-39b8229292f2","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/clients?segment=segment-b672fd46-ef71-471f-bfa0-39b8229292f2&limit=1000"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:y_q5HbhtY4yb3Vyb1tLhOg
  response:
    status:
      code: 200
      message: OK
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments/segment-b672fd46-ef71-471f-bfa0-39b8229292f2"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:y_q5HbhtY4yb3Vyb1tLhOg:EpjDZF4GPwSMDU2D
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"segment":{"id":"segment-b672fd46-ef71-471f-bfa0-39b8229292f2","masterProject":"/gdc/projects/q8qx2qtbkdfixgpy186udu9g5l7u4p2y","links":{"self":"/gdc/domains/staging2-lcm-prod/segments/segment-b672fd46-ef71-471f-bfa0-39b8229292f2","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/clients?segment=segment-b672fd46-ef71-471f-bfa0-39b8229292f2&limit=1000"}}}'
  recorded_at: Tue, 05 Jun 2018 07:10:03 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients?segment=segment-b672fd46-ef71-471f-bfa0-39b8229292f2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:X2NJdIEmZfl6MZ63RQ9A_Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:X2NJdIEmZfl6MZ63RQ9A_Q:vui3uXehuhLYPT5U
      X-Gdc-Request-Time:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"clients":{"items":[],"paging":{"next":null}}}'
  recorded_at: Tue, 05 Jun 2018 07:10:07 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/qf1muunr158z9b10micaj6n460e7oxrr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:vmawomw15CR1V3B7UyC9kQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:vmawomw15CR1V3B7UyC9kQ:rkkYwg02hWyXhXWt
      X-Gdc-Request-Time:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPA[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/pibxadaedxqn9tkkckza6upeeg38mn5c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:sjAvpA-w848DpWyu_9J_1Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lymag4uyfi2vntb0mkun44o16s5sm6in
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - dC31Fwqi21EOD7DcCZxdHA:dPIuOHedDE_8EJP4wWpfbg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - dC31Fwqi21EOD7DcCZxdHA:dPIuOHedDE_8EJP4wWpfbg:OIkKvaSEpakHVs65
      X-Gdc-Request-Time:
      - '82'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPA[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/t9sou2e9a41b8t16uwlekigmn6q5d77d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - dC31Fwqi21EOD7DcCZxdHA:LzbFLI0rf7fbo13JydDcEA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z5j7dbcd09mbxhsw2r8xswmi83faesu4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:jAxPQGhMPVpd82FvVXfIFA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:jAxPQGhMPVpd82FvVXfIFA:S2wseZB8fc07Ci30
      X-Gdc-Request-Time:
      - '54'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADI[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ruc2ra4ouhipdg6lhry1xi18boltghkz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:9XvYy_iCXo5KE67fKj2b1g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/oedh8cxeoe3wygunwzkhm4v76bhek8k2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":UF0TYHa-j4yLI4zEcaJmtw:zbliZ72Zf3jV4IPqDFcIgQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":UF0TYHa-j4yLI4zEcaJmtw:zbliZ72Zf3jV4IPqDFcIgQ:ohKFoalODT6s2udV"
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADING"},"li[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/inw5a0ofkwwspwxax6oxqxybgs1hnodv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":UF0TYHa-j4yLI4zEcaJmtw:CSu19cqU1hZQYGnxYFN5WA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Test MASTER project
        for c26d34af-b0f3-4e12-83f5-6bd66683c090"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"PRODUCTION","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:oqyDcdHYHYiyF8OnSyTZJA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '386'
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:oqyDcdHYHYiyF8OnSyTZJA:t9pXdQEppcM1cJMF"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/clxk4zrlvlyc8feesdjbnhej68kax43g"}'
  recorded_at: Wed, 15 Jan 2020 06:18:29 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/clxk4zrlvlyc8feesdjbnhej68kax43g
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:kGvJclA58EVuj6L3dlQJ4w"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '52'
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:kGvJclA58EVuj6L3dlQJ4w:xhGSfkdb1EktwJaC"
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADING"},"links":{"ldm_thumbnail":"/gdc/projects/clxk4zrlvlyc8feesdjbnhej68kax43g/ldm?thumbnail=1","self":"/gdc/projects/clxk4zrlvlyc8feesdjbnhej68kax43g","clearCaches":"/gdc/projects/clxk4zrlvlyc8feesdjbnhej68kax43g/clearCaches","invitations":"/gdc/projects/clxk4zrlvlyc8feesdjbnhej68kax43g/invitations","users":"/gdc/projects/clxk4zrlvlyc8feesdjbnhej68kax43g/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/clxk4zrlvlyc8feesdjbnhej68kax43g/checkXaeCompatibility","uploads":"/gdc/projects/clxk4zrlvlyc8feesdjbnhej68kax43g/uploads/","ldm":"/gdc/projects/clxk4zrlvlyc8feesdjbnhej68kax43g/ldm","metadata":"/gdc/md/clxk4zrlvlyc8feesdjbnhej68kax43g","publicartifacts":"/gdc/projects/clxk4zrlvlyc8feesdjbnhej68kax43g/publicartifacts","roles":"/gdc/projects/clxk4zrlvlyc8feesdjbnhej68kax43g/roles","userRoles":"/gdc/projects/clxk4zrlvlyc8feesdjbnhej68kax43g/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/clxk4zrlvlyc8feesdjbnhej68kax43g/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/clxk4zrlvlyc8feesdjbnhej68kax43g/dataload","connectors":"/gdc/projects/clxk4zrlvlyc8feesdjbnhej68kax43g/connectors","execute":"/gdc/projects/clxk4zrlvlyc8feesdjbnhej68kax43g/execute","config":"/gdc/projects/clxk4zrlvlyc8feesdjbnhej68kax43g/config","projectFeatureFlags":"/gdc/projects/clxk4zrlvlyc8feesdjbnhej68kax43g/projectFeatureFlags","schedules":"/gdc/projects/clxk4zrlvlyc8feesdjbnhej68kax43g/schedules","templates":"/gdc/md/clxk4zrlvlyc8feesdjbnhej68kax43g/templates"},"meta":{"created":"2020-01-15
        07:18:29","summary":"No summary","updated":"2020-01-15 07:18:30","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Test
        MASTER project for c26d34af-b0f3-4e12-83f5-6bd66683c090","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 15 Jan 2020 06:18:30 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments
    body:
      encoding: UTF-8
      string: '{"segment":{"id":"segment-c26d34af-b0f3-4e12-83f5-6bd66683c090","masterProject":"/gdc/projects/clxk4zrlvlyc8feesdjbnhej68kax43g"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:rTOEsxprbZXsVEejewU0qA"
      Stats-On:
      - ''
[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/pg7w15rokhahkd09h4t98gokd322yejk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:RrZtYGN7K2hm36bkRzX61w"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-H[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:bh8MrbqyvwtFavkzYDsPfQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '14'
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:bh8MrbqyvwtFavkzYDsPfQ:mWv7QoB5iIOB45j3"
    body:
      encoding: ASCII-8BIT
      string: '{"dataProduct":{"id":"default","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default","domain":"/gdc/domains/staging2-lcm-prod","segments":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients"}}}'
  recorded_at: Wed, 15 Jan 2020 06:18:51 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-c26d34af-b0f3-4e12-83f5-6bd66683c090
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:hUlempk0jhQ7oiTCSf2mWg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '22'
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:hUlempk0jhQ7oiTCSf2mWg:mUp8rMnZgVXuNdHq"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 15 Jan 2020 06:18:53 GMT
recorded_with: VCR 5.0.0
