---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:tTRIv_1g3aoogvOO2F8a1A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:tTRIv_1g3aoogvOO2F8a1A:XTZFE1zVCecCsXQ0
      X-Gdc-Request-Time:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/ldm?thumbnail=1","self":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj","clearCaches":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/clearCaches","invitations":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/invitations","users":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/uploads/","ldm":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/ldm","metadata":"/gdc/md/uvfbujpvr7st64nugfkerdx9ugo29efj","publicartifacts":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/publicartifacts","roles":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/roles","userRoles":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/dataload","connectors":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/connectors","execute":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/execute","config":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/config","projectFeatureFlags":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/projectFeatureFlags","schedules":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/schedules","templates":"/gdc/md/uvfbujpvr7st64nugfkerdx9ugo29efj/templates","eventstores":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        09:09:46","summary":"No summary","updated":"2018-06-05 09:09:46","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Test
        MASTER project for b672fd46-ef71-471f-bfa0-39b8229292f2","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:09:47 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:X48jfkfiluCUjpFc2EJDtw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:X48jfkfiluCUjpFc2EJDtw:sZpdAYdl4e6n3hJn
      X-Gdc-Request-Time:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/ldm?thumbnail=1","self":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj","clearCaches":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/clearCaches","invitations":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/invitations","users":"/gdc/projects/uvfbujpvr7st64nugfkerdx9ugo29efj/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/uvfbujpvr7st64nug[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/q8qx2qtbkdfixgpy186udu9g5l7u4p2y
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:u2fWv5Z16Fewedj5otceCw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-b672fd46-ef71-471f-bfa0-39b8229292f2
    body:
      encoding: UTF-8
      string: '{"segment":{"id":"segment-b672fd46-ef71-471f-bfa0-39b8229292f2","masterProject":"/gdc/projects/q8qx2qtbkdfixgpy186udu9g5l7u4p2y","links":{"self":"/gdc/domains/staging2-lcm-prod/segments/segment-b672fd46-ef71-471f-bfa0-39b8229292f2","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/clients?segment=segment-b672fd46-ef71-471f-bfa0-39b8229292f2&limit=1000"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:y_q5HbhtY4yb3Vyb1tLhOg
  response:
    status:
      code: 200
      message: OK
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments/segment-b672fd46-ef71-471f-bfa0-39b8229292f2"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:y_q5HbhtY4yb3Vyb1tLhOg:EpjDZF4GPwSMDU2D
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"segment":{"id":"segment-b672fd46-ef71-471f-bfa0-39b8229292f2","masterProject":"/gdc/projects/q8qx2qtbkdfixgpy186udu9g5l7u4p2y","links":{"self":"/gdc/domains/staging2-lcm-prod/segments/segment-b672fd46-ef71-471f-bfa0-39b8229292f2","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/clients?segment=segment-b672fd46-ef71-471f-bfa0-39b8229292f2&limit=1000"}}}'
  recorded_at: Tue, 05 Jun 2018 07:10:03 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients?segment=segment-b672fd46-ef71-471f-bfa0-39b8229292f2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:X2NJdIEmZfl6MZ63RQ9A_Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:X2NJdIEmZfl6MZ63RQ9A_Q:vui3uXehuhLYPT5U
      X-Gdc-Request-Time:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"clients":{"items":[],"paging":{"next":null}}}'
  recorded_at: Tue, 05 Jun 2018 07:10:07 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Test MASTER project
        for 4b98f2be-f9dd-4a53-b0e0-70d06213cab0"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"PRODUCTION","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:S9-hQ_TWwDhbRJKPhTGDzg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:S9-hQ_TWwDhbRJKPhTGDzg:sb5IYWSMJC5Q37iw
      X-Gdc-Request-Time:
      - '406'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/qf1muunr158z9b10micaj6n460e7oxrr"}'
  recorded_at: Tue, 05 Jun 2018 07:14:00 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/qf1muunr158z9b10micaj6n460e7oxrr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:vmawomw15CR1V3B7UyC9kQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments
    body:
      encoding: UTF-8
      string: '{"segment":{"id":"segment-4b98f2be-f9dd-4a53-b0e0-70d06213cab0","masterProject":"/gdc/projects/qf1muunr158z9b10micaj6n460e7oxrr"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:78NqHUzhgqWwV7aOOyyibQ
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments/segment-4b98f2be-f9dd-4a53-b0e0-70d06213cab0"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:78NqHUzhgqWwV7aOOyyibQ:9181Q3UaTu9jrTzF
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"segment":{"id":"segment-4b98f2be-f9dd-4a53-b0e0-70d06213cab0","masterProject":"/gdc/projects/qf1muunr158z9b10micaj6n460e7oxrr","links":{"self":"/gdc/domains/staging2-lcm-prod/segments/segment-4b98f2be-f9dd-4a53-b0e0-70d06213cab0","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/clients?segment=segment-4b98f2be-f9dd-4a53-b0e0-70d06213cab0&limit=1000"}}}'
  recorded_at: Tue, 05 Jun 2018 07:14:08 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/pibxadaedxqn9tkkckza6upeeg38mn5c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:sjAvpA-w848DpWyu_9J_1Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:lBXIGStQ1dClvtmh2OTfzA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:lBXIGStQ1dClvtmh2OTfzA:OmXSsw6H5tWpFF1D
      X-Gdc-Request-Time:
      - '13'
    body:
      encoding: ASCII-8BIT
      string: '{"dataProduct":{"id":"default","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default","domain":"/gdc/domains/staging2-lcm-prod","segments":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients"}}}'
  recorded_at: Tue, 05 Jun 2018 07:14:20 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-4b98f2be-f9dd-4a53-b0e0-70d06213cab0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:0L7d667bqkaWu3vy2dsc2A
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '24'
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:0L7d667bqkaWu3vy2dsc2A:Wt7NCDaDiNa4tFad
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 07:14:21 GMT
recorded_with: VCR 4.0.0
