---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/eufnzw3kkwi58ltn9ubd2nl4z7t4h6yc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:bwYON-ntO1g8UMQyj-2_vg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:bwYON-ntO1g8UMQyj-2_vg:Rk85MgDXH0E3ItHC
      X-Gdc-Request-Time:
      - '51'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/eufnzw3kkwi58ltn9ubd2nl4z7t4h6yc/ldm?thumbnail=1","self":"/gdc/projects/eufnzw3kkwi58ltn9ubd2nl4z7t4h6yc","clearCaches":"/gdc/projects/eufnzw3kkwi58ltn9ubd2nl4z7t4h6yc/clearCaches","invitations":"/gdc/projects/eufnzw3kkwi58ltn9ubd2nl4z7t4h6yc/invitations","users":"/gdc/projects/eufnzw3kkwi58ltn9ubd2nl4z7t4h6yc/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/eufnzw3kkwi58ltn9ubd2nl4z7t4h6yc/uploads/","ldm":"/gdc/projects/eufnzw3kkwi58ltn9ubd2nl4z7t4h6yc/ldm","metadata":"/gdc/md/eufnzw3kkwi58ltn9ubd2nl4z7t4h6yc","publicartifacts":"/gdc/projects/eufnzw3kkwi58ltn9ubd2nl4z7t4h6yc/publicartifacts","roles":"/gdc/projects/eufnzw3kkwi58ltn9ubd2nl4z7t4h6yc/roles","userRoles":"/gdc/projects/eufnzw3kkwi58ltn9ubd2nl4z7t4h6yc/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/eufnzw3kkwi58ltn9ubd2nl4z7t4h6yc/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/eufnzw3kkwi58ltn9ubd2nl4z7t4h6yc/dataload","connectors":"/gdc/projects/eufnzw3kkwi58ltn9ubd2nl4z7t4h6yc/connectors","execute":"/gdc/projects/eufnzw3kkwi58ltn9ubd2nl4z7t4h6yc/execute","config":"/gdc/projects/eufnzw3kkwi58ltn9ubd2nl4z7t4h6yc/config","projectFeatureFlags":"/gdc/projects/eufnzw3kkwi58ltn9ubd2nl4z7t4h6yc/projectFeatureFlags","schedules":"/gdc/projects/eufnzw3kkwi58ltn9ubd2nl4z7t4h6yc/schedules","templates":"/gdc/md/eufnzw3kkwi58ltn9ubd2nl4z7t4h6yc/templates","eventstores":"/gdc/projects/eufnzw3kkwi58ltn9ubd2nl4z7t4h6yc/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        09:10:09","summary":"No summary","updated":"2018-06-05 09:10:09","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Test
        MASTER project for 0f64d92e-8d90-42c8-870b-2fc348101513","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:10:10 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/eufnzw3kkwi58ltn9ubd2nl4z7t4h6yc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:uQVvfrIYlIFiutPyQwR3Wg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:uQVvfrIYlIFiutPyQwR3Wg:4cXF8kduunkpIy4k
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/eufnzw3kkwi58ltn9ubd2nl4z7t4h6yc/ldm?thumbnail=1","self":"/gdc/projects/eufnzw3kkwi58ltn9ubd2nl4z7t4h6yc","clearCaches":"/gdc/projects/eufnzw3kkwi58ltn9ubd2nl4z7t4h6yc/clearCaches","invitations":"/gdc/projects/eufnzw3kkwi58ltn9ubd2nl4z7t4h6yc/invitations","users":"/gdc/projects/eufnzw3kkwi58ltn9ubd2nl4z7t4h6yc/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/eufnzw3kkwi58ltn9[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-0f64d92e-8d90-42c8-870b-2fc348101513
    body:
      encoding: UTF-8
      string: '{"segment":{"id":"different_id","masterProject":"/gdc/projects/eufnzw3kkwi58ltn9ubd2nl4z7t4h6yc","links":{"self":"/gdc/domains/staging2-lcm-prod/segments/segment-0f64d92e-8d90-42c8-870b-2fc348101513","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/clients?segment=segment-0f64d92e-8d90-42c8-870b-2fc348101513&limit=1000"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:P5F_U49_UJyetslEBHGBGQ
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:P5F_U49_UJyetslEBHGBGQ:OkOQOjo1jLK54Ums
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"errorClass":"com.gooddata.webapp.rest.resource.lifecycle.ClientException","trace":"","message":"Changing
        segment ''%s'' to ''%s'' is not allowed","component":"Webapp","errorId":"3e3d098d-bdb6-45ae-b5f6-b76be18564af","errorCode":"gdc.c4.bad_request.dataproduct.segment_id.mismatch","parameters":["segment-0f64d92e-8d90-42c8-870b-2fc348101513","different_id"]}}'
  recorded_at: Tue, 05 Jun 2018 07:10:25 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-0f64d92e-8d90-42c8-870b-2fc348101513
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:Ff9b8h_3v53or-ayJcs2bA
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '21'
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:Ff9b8h_3v53or-ayJcs2bA:9t6Rrrw97jaU579z
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 07:10:27 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/r992waxcutuq1oo5h84xrx46sgdhn2ol
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:6CutuV7sW2IbqTmvVEOcnQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:6CutuV7sW2IbqTmvVEOcnQ:b4UFpalgtdWvEEME
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPA[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/i9dl4y2j5fqma9dja44d2pwz28nmyohs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - dC31Fwqi21EOD7DcCZxdHA:mrQWwTHhmRfQN6hiRyTCWg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - dC31Fwqi21EOD7DcCZxdHA:mrQWwTHhmRfQN6hiRyTCWg:G6Z5pBAZ03tiOvqc
      X-Gdc-Request-Time:
      - '81'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPA[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Test MASTER project
        for 68bfab64-77eb-4ada-8ac5-be064c4c5456"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"PRODUCTION","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:erBNzbagpJwTRtHUvWGPlg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:erBNzbagpJwTRtHUvWGPlg:a53e4aZ0tQJfl2t1
      X-Gdc-Request-Time:
      - '467'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/ymv8uwrf0e03xwjw89ghtmcy6yts866o"}'
  recorded_at: Wed, 10 Oct 2018 11:45:07 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ymv8uwrf0e03xwjw89ghtmcy6yts866o
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:vD_N2uScbGc6NvyEwc-gJw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments
    body:
      encoding: UTF-8
      string: '{"segment":{"id":"segment-68bfab64-77eb-4ada-8ac5-be064c4c5456","masterProject":"/gdc/projects/ymv8uwrf0e03xwjw89ghtmcy6yts866o"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:V6W2AeNsbraPv3_f6x4xKw
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments/segment-68bfab64-77eb-4ada-8ac5-be064c4c5456"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:V6W2AeNsbraPv3_f6x4xKw:6qHsBKnjhcKKiaC4
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"segment":{"id":"segment-68bfab64-77eb-4ada-8ac5-be064c4c5456","masterProject":"/gdc/projects/ymv8uwrf0e03xwjw89ghtmcy6yts866o","links":{"self":"/gdc/domains/staging2-lcm-prod/segments/segment-68bfab64-77eb-4ada-8ac5-be064c4c5456","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/clients?segment=segment-68bfab64-77eb-4ada-8ac5-be064c4c5456&limit=1000"}}}'
  recorded_at: Wed, 10 Oct 2018 11:45:15 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:ji6P1ByWIDw1lfm1Zzsrow
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:ji6P1ByWIDw1lfm1Zzsrow:ZCvKBGiNKt4jAt7R
      X-Gdc-Request-Time:
      - '14'
    body:
      encoding: ASCII-8BIT
      string: '{"dataProduct":{"id":"default","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default","domain":"/gdc/domains/staging2-lcm-prod","segments":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients"}}}'
  recorded_at: Wed, 10 Oct 2018 11:45:17 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients?segment=different_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:n40I9wPlE3E9kezPL6yOVw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:n40I9wPlE3E9kezPL6yOVw:RSr16pD0cwh5k5vr
      X-Gdc-Request-Time:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"clients":{"items":[],"paging":{"next":null}}}'
  recorded_at: Wed, 10 Oct 2018 11:45:17 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-68bfab64-77eb-4ada-8ac5-be064c4c5456
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:mFsti3uaVSnWG7rzEIHzpA
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '23'
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:mFsti3uaVSnWG7rzEIHzpA:kVRI7BGo4HaW9Gzm
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 11:45:18 GMT
recorded_with: VCR 4.0.0
