---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - 5EkHAK9Aigx1Fdt0ONHEKw:Q32RquYH5mFnVUIUckuT8w
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 5EkHAK9Aigx1Fdt0ONHEKw:Q32RquYH5mFnVUIUckuT8w:RYrNVyOB9GVyIzi7
      X-Gdc-Request-Time:
      - '57'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Mon, 28 May 2018 15:38:15 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 5EkHAK9Aigx1Fdt0ONHEKw:woQov0Hr7RC6RBzInA3JaQ
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - 5EkHAK9Aigx1Fdt0ONHEKw:woQov0Hr7RC6RBzInA3JaQ:45ppvMiAndaIW6QX
      X-Gdc-Request-Time:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Mon, 28 May 2018 15:38:16 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 5EkHAK9Aigx1Fdt0ONHEKw:9odXrlXy4Vhp_4t-pgRNeQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 5EkHAK9Aigx1Fdt0ONHEKw:9odXrlXy4Vhp_4t-pgRNeQ:GmxX7LD3KHTsWaoF
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-05-28
        16:53:22","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","language":"en-US","timezone":null,"ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Mon, 28 May 2018 15:38:16 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 5EkHAK9Aigx1Fdt0ONHEKw:Sbc5_j9ENUp01O_3B5-NMg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 5EkHAK9Aigx1Fdt0ONHEKw:Sbc5_j9ENUp01O_3B5-NMg:Akn6fAWDnXWmmIRQ
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Mon, 28 May 2018 15:38:17 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"UserGroup Testing
        Project"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 5EkHAK9Aigx1Fdt0ONHEKw:srln1_x5ddXdVe-bLFR6Qw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 5EkHAK9Aigx1Fdt0ONHEKw:srln1_x5ddXdVe-bLFR6Qw:KKOjyxDGqbvIzYiH
      X-Gdc-Request-Time:
      - '605'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q"}'
  recorded_at: Mon, 28 May 2018 15:38:18 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 5EkHAK9Aigx1Fdt0ONHEKw:fk1Adupr8BcdDGWDjSq7UA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 5EkHAK9Aigx1Fdt0ONHEKw:fk1Adupr8BcdDGWDjSq7UA:W6lvlwwNzgkPO5Wq
      X-Gdc-Request-Time:
      - '46'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q/ldm?thumbnail=1","self":"/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q","clearCaches":"/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q/clearCaches","invitations":"/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q/invitations","users":"/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q/uploads/","ldm":"/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q/ldm","metadata":"/gdc/md/ob2pjaipm62wfmv0qzxo0z5kx3hat47q","publicartifacts":"/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q/publicartifacts","roles":"/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q/roles","userRoles":"/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q/dataload","connectors":"/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q/connectors","execute":"/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q/execute","config":"/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q/config","projectFeatureFlags":"/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q/projectFeatureFlags","schedules":"/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q/schedules","templates":"/gdc/md/ob2pjaipm62wfmv0qzxo0z5kx3hat47q/templates","eventstores":"/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q/dataload/eventstore/stores"},"meta":{"created":"2018-05-28
        17:38:18","summary":"No summary","updated":"2018-05-28 17:38:18","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"UserGroup
        Testing Project","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Mon, 28 May 2018 15:38:19 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 5EkHAK9Aigx1Fdt0ONHEKw:L8Ts_kAsxMAO2hr1X26HAQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 5EkHAK9Aigx1Fdt0ONHEKw:L8Ts_kAsxMAO2hr1X26HAQ:lkN1erI6LeUzz1Iu
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"internalProjectRoles":{"roles":[{"projectRole":{"permissions":{"canAccessIntegration":"1","canCreateProjectDashboard":"1","canExportDashboard":"1","canManageComment":"1","canExecute":"1","canInitData":"1","canManageIntegration":"1","canCreateExecutionContext":"1","canManageFolder":"1","canInviteUserToProject":"1","canCreateTableDataLoad":"1","canCreateDomain":"1","canSeeOtherUserDetails":"1","canManageACL":"1","canManageAnalyticalDashboard":"1","canCreateRole":"0","canCreateProjectTemplates":"1","canCreateHelp":"1","canManageDomain":"1","canManageAttributeLabel":"1","canManageReport":"1","canExportReport":"1","canCreateColumn":"1","canManageDataSet":"1","canSetUserVariables":"1","canCreateAttributeGroup":"1","canValidateProject":"1","canSetStyle":"1","canMaintainProject":"1","canCreateETLFile":"1","canCreateScheduledMail":"1","canSuspendUserFromProject":"1","canManageIsProduction":"1","canMaintainUserFilterRelation":"1","canManageAttribute":"1","canManageReportDefinition":"1","canManageTranslations":"1","canMaintainUserFilter":"1","canCreateReport":"1","canSetLocale":"1","canEnrichData":"1","canUploadNonProductionCSV":"1","canManageETLFile":"1","canCreateComment":"1","canCreateDataSet":"1","canManageExecutionContext":"1","canCreateTable":"1","canManageTableDataLoad":"1","canRefreshData":"1","canCreateMetric":"1","canManageFilterSettings":"1","canManageProjectDashboard":"1","canManageProject":"1","canManagePrompt":"1","canAccessWorkbench":"1","canCreateAttributeLabel":"1","canCreateVisualizationClass":"1","canManageColumn":"1","canCreatePrompt":"1","canManagePublicAccessCode":"0","canListUsersInProject":"1","canManageAttributeGroup":"1","canManageMetric":"1","canManageHelp":"1","canSetProjectVariables":"1","canManageTable":"1","canCreateVisualization":"1","canCreateFolder":"1","canManageFact":"1","canManageScheduledMail":"1","canListInvitationsInProject":"1","canCreateFilterSettings":"1","canExecuteRaw":"1","canSeePublicAccessCode":"0","canCreateReportDefinition":"1","canManageVisualization":"1","canCreateFact":"1","canCreateAttribute":"1","canAssignUserWithRole":"1","canCreateAnalyticalDashboard":"1"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q/roles/6","created":"2018-05-28
        17:38:20","identifier":"superAdminRole","summary":"the ultimate project admin","title":"SuperAdmin","updated":"2018-05-28
        17:38:20","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"projectRole":{"permissions":{"canAccessIntegration":"0","canCreateProjectDashboard":"0","canExportDashboard":"1","canManageComment":"0","canExecute":"1","canInitData":"0","canManageIntegration":"0","canCreateExecutionContext":"1","canManageFolder":"0","canInviteUserToProject":"0","canCreateTableDataLoad":"0[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q/users
    body:
      encoding: UTF-8
      string: '{"users":[{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q/roles/2"]},"links":{"self":"/gdc/account/profile/gemtest7044566@gooddata.com"}}},{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q/roles/2"]},"links":{"self":"/gdc/account/profile/gemtest307430@gooddata.com"}}},{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q/roles/2"]},"links":{"self":"/gdc/account/profile/gemtest856817@gooddata.com"}}},{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q/roles/2"]},"links":{"self":"/gdc/account/profile/gemtest4806538@gooddata.com"}}},{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q/roles/2"]},"links":{"self":"/gdc/account/profile/gemtest854508@gooddata.com"}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 5EkHAK9Aigx1Fdt0ONHEKw:PSFlVqQd2bgBUb6CDWYksw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 5EkHAK9Aigx1Fdt0ONHEKw:PSFlVqQd2bgBUb6CDWYksw:lQc6Rv2WLrY5wfP0
      X-Gdc-Request-Time:
      - '57'
    body:
      encoding: ASCII-8BIT
      string: '{"projectUsersUpdateResult":{"successful":[],"failed":[{"user":"/gdc/account/profile/gemtest7044566@gooddata.com","message":"Cannot
        add user to project. User doesn''t exist"},{"user":"/gdc/account/profile/gemtest307430@gooddata.com","message":"Cannot
        add user to project. User doesn''t exist"},{"user":"/gdc/account/profile/gemtest856817@gooddata.com","message":"Cannot
        add user to project. User doesn''t exist"},{"user":"/gdc/account/profile/gemtest4806538@gooddata.com","message":"Cannot
        add user to project. User doesn''t exist"},{"user":"/gdc/account/profile/gemtest854508@gooddata.com","message":"Cannot
        add user to project. User doesn''t exist"}]}}'
  recorded_at: Mon, 28 May 2018 15:38:26 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 5EkHAK9Aigx1Fdt0ONHEKw:1n18CQTlKb4SjBoqvkPDXw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 5EkHAK9Aigx1Fdt0ONHEKw:1n18CQTlKb4SjBoqvkPDXw:krBwcDBvKHCPqDDB
      X-Gdc-Request-Time:
      - '46'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q/roles/2"],"phonenumber":"","status":"ENABLED","lastname":"1","login":"rubydev+admin@gooddata.com"},"links":{"roles":"/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q/users/5ad80b895edcc438e5a4418e222733fa/roles","permissions":"/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q/users/5ad80b895edcc438e5a4418e222733fa/permissions","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","projectRelUri":"/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q/users/5ad80b895edcc438e5a4418e222733fa"},"meta":{"created":"2017-02-10
        12:18:01","updated":"2018-05-28 16:53:22","author":"/gdc/account/profile/25b25d6c1cd5816c6de55f95b119d8cc","title":"the
        1","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}'
  recorded_at: Mon, 28 May 2018 15:38:27 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups
    body:
      encoding: UTF-8
      string: '{"userGroup":{"content":{"name":"My Test Group","description":"My Test
        Description","project":"/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 5EkHAK9Aigx1Fdt0ONHEKw:_1FQNOWHpB9mMO8MyFklNg
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 5EkHAK9Aigx1Fdt0ONHEKw:_1FQNOWHpB9mMO8MyFklNg:uHU8W3RZo569E4XW
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/userGroups/b68p3VCYfyYX-67OyFGKy8w"}'
  recorded_at: Mon, 28 May 2018 15:38:27 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/b68p3VCYfyYX-67OyFGKy8w
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 5EkHAK9Aigx1Fdt0ONHEKw:vJGTeVwEw7eZBAH1n4b18g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 5EkHAK9Aigx1Fdt0ONHEKw:vJGTeVwEw7eZBAH1n4b18g:M846dG0p24TgGne8
      X-Gdc-Request-Time:
      - '15'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroup":{"content":{"name":"My Test Group","id":"b68p3VCYfyYX-67OyFGKy8w","description":"My
        Test Description","domain":null,"project":"/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q"},"meta":{"created":"2018-05-28
        17:38:27","updated":"2018-05-28 17:38:27"},"links":{"self":"/gdc/userGroups/b68p3VCYfyYX-67OyFGKy8w","members":"/gdc/userGroups/b68p3VCYfyYX-67OyFGKy8w/members","modifyMembers":"/gdc/userGroups/b68p3VCYfyYX-67OyFGKy8w/modifyMembers"}}}'
  recorded_at: Mon, 28 May 2018 15:38:28 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jv9DZZby3110S7K9lv9Rpg:jhJUQ9fAvGkuzWNCMANZlA
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '20'
      X-Gdc-Request:
      - jv9DZZby3110S7K9lv9Rpg:jhJUQ9fAvGkuzWNCMANZlA:XpTPKM32Umi1NYAz
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 28 May 2018 15:38:39 GMT
recorded_with: VCR 4.0.0
