---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:oVFvf5-qe2E2fAR51wBIUg
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:oVFvf5-qe2E2fAR51wBIUg:WMOXvtDmwUyDq7Al
      X-Gdc-Request-Time:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Thu, 31 May 2018 15:19:50 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:E_wq-zBGUGmiE0ijAcyLXw
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:E_wq-zBGUGmiE0ijAcyLXw:YAXQfWvL42TOJ5Cf
      X-Gdc-Request-Time:
      - '11'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 31 May 2018 15:19:50 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:AVR1NRC29_9amzJ4y_YPxg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:AVR1NRC29_9amzJ4y_YPxg:TM8VQovHe1Bsz32t
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-05-31
        16:30:09","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","timezone":null,"language":"en-US","ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Thu, 31 May 2018 15:19:51 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:Fa4DFHihHPowlY6wlNZsSQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:Fa4DFHihHPowlY6wlNZsSQ:EaPH7ePf6aKaUp0D
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Thu, 31 May 2018 15:19:52 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"UserGroup Testing
        Project"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:ARR_3Psf8fy0CD6b1PkjiA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:ARR_3Psf8fy0CD6b1PkjiA:63VmzTaIP3mFrlTS
      X-Gdc-Request-Time:
      - '579'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx"}'
  recorded_at: Thu, 31 May 2018 15:19:53 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:t6ifKIUsljOXLhaYK1jr1g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:t6ifKIUsljOXLhaYK1jr1g:SnvlcLQwPIiJjo3W
      X-Gdc-Request-Time:
      - '46'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/ldm?thumbnail=1","self":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx","clearCaches":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/clearCaches","invitations":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/invitations","users":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/uploads/","ldm":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/ldm","metadata":"/gdc/md/wui586yjfzy44eccxox9loj28xn8bsvx","publicartifacts":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/publicartifacts","roles":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/roles","userRoles":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/dataload","connectors":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/connectors","execute":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/execute","config":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/config","projectFeatureFlags":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/projectFeatureFlags","schedules":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/schedules","templates":"/gdc/md/wui586yjfzy44eccxox9loj28xn8bsvx/templates","eventstores":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/dataload/eventstore/stores"},"meta":{"created":"2018-05-31
        17:19:53","summary":"No summary","updated":"2018-05-31 17:19:53","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"UserGroup
        Testing Project","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 31 May 2018 15:19:54 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/wui586yjfzy44eccxox9loj28xn8bsvx/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:MJzL2z2VqcLfbitVDwpuVQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:MJzL2z2VqcLfbitVDwpuVQ:1f1FF3ED3p3ozBRT
      X-Gdc-Request-Time:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"internalProjectRoles":{"roles":[{"projectRole":{"permissions":{"canAccessIntegration":"1","canCreateProjectDashboard":"1","canExportDashboard":"1","canManageComment":"1","canExecute":"1","canInitData":"1","canManageIntegration":"1","canCreateExecutionContext":"1","canManageFolder":"1","canInviteUserToProject":"1","canCreateTableDataLoad":"1","canCreateDomain":"1","canSeeOtherUserDetails":"1","canManageACL":"1","canManageAnalyticalDashboard":"1","canCreateRole":"0","canCreateProjectTemplates":"1","canCreateHelp":"1","canManageDomain":"1","canManageAttributeLabel":"1","canManageReport":"1","canExportReport":"1","canCreateColumn":"1","canManageDataSet":"1","canSetUserVariables":"1","canCreateAttributeGroup":"1","canValidateProject":"1","canSetStyle":"1","canMaintainProject":"1","canCreateETLFile":"1","canCreateScheduledMail":"1","canSuspendUserFromProject":"1","canManageIsProduction":"1","canMaintainUserFilterRelation":"1","canManageAttribute":"1","canManageReportDefinition":"1","canManageTranslations":"1","canMaintainUserFilter":"1","canCreateReport":"1","canSetLocale":"1","canEnrichData":"1","canUploadNonProductionCSV":"1","canManageETLFile":"1","canCreateComment":"1","canCreateDataSet":"1","canManageExecutionContext":"1","canCreateTable":"1","canManageTableDataLoad":"1","canRefreshData":"1","canCreateMetric":"1","canManageFilterSettings":"1","canManageProjectDashboard":"1","canManageProject":"1","canManagePrompt":"1","canAccessWorkbench":"1","canCreateAttributeLabel":"1","canCreateVisualizationClass":"1","canManageColumn":"1","canCreatePrompt":"1","canManagePublicAccessCode":"0","canListUsersInProject":"1","canManageAttributeGroup":"1","canManageMetric":"1","canManageHelp":"1","canSetProjectVariables":"1","canManageTable":"1","canCreateVisualization":"1","canCreateFolder":"1","canManageFact":"1","canManageScheduledMail":"1","canListInvitationsInProject":"1","canCreateFilterSettings":"1","canExecuteRaw":"1","canSeePublicAccessCode":"0","canCreateReportDefinition":"1","canManageVisualization":"1","canCreateFact":"1","canCreateAttribute":"1","canAssignUserWithRole":"1","canCreateAnalyticalDashboard":"1"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/roles/6","created":"2018-05-31
        17:19:55","identifier":"superAdminRole","summary":"the ultimate project admin","title":"SuperAdmin","updated":"2018-05-31
        17:19:55","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"projectRole":{"permissions":{"canAccessIntegration":"0","canCreateProjectDashboard":"0","canExportDashboard":"1","canManageComment":"0","canExecute":"1","canInitData":"0","canManageIntegration":"0","canCreateExecutionContext":"1","canManageFolder":"0","canInviteUserToProject":"0","canCreateTableDataLoad":"0[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/users
    body:
      encoding: UTF-8
      string: '{"users":[{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/roles/2"]},"links":{"self":"/gdc/account/profile/gemtest-user+group+spec-0@gooddata.com"}}},{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/roles/2"]},"links":{"self":"/gdc/account/profile/gemtest-user+group+spec-1@gooddata.com"}}},{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/roles/2"]},"links":{"self":"/gdc/account/profile/gemtest-user+group+spec-2@gooddata.com"}}},{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/roles/2"]},"links":{"self":"/gdc/account/profile/gemtest-user+group+spec-3@gooddata.com"}}},{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/roles/2"]},"links":{"self":"/gdc/account/profile/gemtest-user+group+spec-4@gooddata.com"}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:roXiM1cn47G2LRgm14mGJA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:roXiM1cn47G2LRgm14mGJA:dn1Fb2PcwLDy1eyj
      X-Gdc-Request-Time:
      - '65'
    body:
      encoding: ASCII-8BIT
      string: '{"projectUsersUpdateResult":{"successful":[],"failed":[{"user":"/gdc/account/profile/gemtest-user+group+spec-0@gooddata.com","message":"Cannot
        add user to project. User doesn''t exist"},{"user":"/gdc/account/profile/gemtest-user+group+spec-1@gooddata.com","message":"Cannot
        add user to project. User doesn''t exist"},{"user":"/gdc/account/profile/gemtest-user+group+spec-2@gooddata.com","message":"Cannot
        add user to project. User doesn''t exist"},{"user":"/gdc/account/profile/gemtest-user+group+spec-3@gooddata.com","message":"Cannot
        add user to project. User doesn''t exist"},{"user":"/gdc/account/profile/gemtest-user+group+spec-4@gooddata.com","message":"Cannot
        add user to project. User doesn''t exist"}]}}'
  recorded_at: Thu, 31 May 2018 15:20:02 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:KLOirqvxsZcviD4jQAIMjQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:KLOirqvxsZcviD4jQAIMjQ:BRF1StRxrJfIUDQ3
      X-Gdc-Request-Time:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/roles/2"],"phonenumber":"","status":"ENABLED","lastname":"1","login":"rubydev+admin@gooddata.com"},"links":{"roles":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/users/5ad80b895edcc438e5a4418e222733fa/roles","permissions":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/users/5ad80b895edcc438e5a4418e222733fa/permissions","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","projectRelUri":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/users/5ad80b895edcc438e5a4418e222733fa"},"meta":{"created":"2017-02-10
        12:18:01","updated":"2018-05-31 16:30:09","author":"/gdc/account/profile/25b25d6c1cd5816c6de55f95b119d8cc","title":"the
        1","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}'
  recorded_at: Thu, 31 May 2018 15:20:02 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups
    body:
      encoding: UTF-8
      string: '{"userGroup":{"content":{"name":"My Test Group","description":"My Test
        Description","project":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:wg0Wohtv-OSrK_8LXfg7oA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:wg0Wohtv-OSrK_8LXfg7oA:jMSm5lclcafFPqXQ
      X-Gdc-Request-Time:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/userGroups/bLUrfsF7kWLeDzHZvQr3tCg"}'
  recorded_at: Thu, 31 May 2018 15:20:03 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bLUrfsF7kWLeDzHZvQr3tCg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:rb2fhg_RIXWmYF-hOKrMpw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:rb2fhg_RIXWmYF-hOKrMpw:HDI9xXoDSWBwGtn6
      X-Gdc-Request-Time:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroup":{"content":{"name":"My Test Group","id":"bLUrfsF7kWLeDzHZvQr3tCg","description":"My
        Test Description","domain":null,"project":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx"},"meta":{"created":"2018-05-31
        17:20:03","updated":"2018-05-31 17:20:03"},"links":{"self":"/gdc/userGroups/bLUrfsF7kWLeDzHZvQr3tCg","members":"/gdc/userGroups/bLUrfsF7kWLeDzHZvQr3tCg/members","modifyMembers":"/gdc/userGroups/bLUrfsF7kWLeDzHZvQr3tCg/modifyMembers"}}}'
  recorded_at: Thu, 31 May 2018 15:20:04 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users?login=gemtest-user%2Bgroup%2Bspec-0@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:cwPc-Z4GcXQdWgVbf1Zzmw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:cwPc-Z4GcXQdWgVbf1Zzmw:zqkXARK4OKmMZ61d
      X-Gdc-Request-Time:
      - '13'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSettings":{"paging":{"offset":0,"count":0},"items":[]}}'
  recorded_at: Thu, 31 May 2018 15:21:27 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users?login=gemtest-user%2Bgroup%2Bspec-4@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:O-MySJugavOrVfadIlNUkg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:O-MySJugavOrVfadIlNUkg:mHqmXBmQnZNCEnK8
      X-Gdc-Request-Time:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSettings":{"paging":{"offset":0,"count":0},"items":[]}}'
  recorded_at: Thu, 31 May 2018 15:21:31 GMT
recorded_with: VCR 4.0.0
