---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:t6ifKIUsljOXLhaYK1jr1g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:t6ifKIUsljOXLhaYK1jr1g:SnvlcLQwPIiJjo3W
      X-Gdc-Request-Time:
      - '46'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/ldm?thumbnail=1","self":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx","clearCaches":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/clearCaches","invitations":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/invitations","users":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/uploads/","ldm":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/ldm","metadata":"/gdc/md/wui586yjfzy44eccxox9loj28xn8bsvx","publicartifacts":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/publicartifacts","roles":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/roles","userRoles":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/dataload","connectors":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/connectors","execute":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/execute","config":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/config","projectFeatureFlags":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/projectFeatureFlags","schedules":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/schedules","templates":"/gdc/md/wui586yjfzy44eccxox9loj28xn8bsvx/templates","eventstores":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/dataload/eventstore/stores"},"meta":{"created":"2018-05-31
        17:19:53","summary":"No summary","updated":"2018-05-31 17:19:53","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"UserGroup
        Testing Project","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 31 May 2018 15:19:54 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:y75pTE_X9YARlJyGSorsGQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:y75pTE_X9YARlJyGSorsGQ:v6RB8YqyXJIkShj2
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/ldm?thumbnail=1","self":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx","clearCaches":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/clearCaches","invitations":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/invitations","users":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/wui586yjfzy44eccx[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/wui586yjfzy44eccxox9loj28xn8bsvx/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:MJzL2z2VqcLfbitVDwpuVQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:MJzL2z2VqcLfbitVDwpuVQ:1f1FF3ED3p3ozBRT
      X-Gdc-Request-Time:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"internalProjectRoles":{"roles":[{"projectRole":{"permissions":{"canAccessIntegration":"1","canCreateProjectDashboard":"1","canExportDashboard":"1","canManageComment":"1","canExecute":"1","canInitData":"1","canManageIntegration":"1","canCreateExecutionContext":"1","canManageFolder":"1","canInviteUserToProject":"1","canCreateTableDataLoad":"1","canCreateDomain":"1","canSeeOtherUserDetails":"1","canManageACL":"1","canManageAnalyticalDashboard":"1","canCreateRole":"0","canCreateProjectTemplates":"1","canCreateHelp":"1","canManageDomain":"1","canManageAttributeLabel":"1","canManageReport":"1","canExportReport":"1","canCreateColumn":"1","canManageDataSet":"1","canSetUserVariables":"1","canCreateAttributeGroup":"1","canValidateProject":"1","canSetStyle":"1","canMaintainProject":"1","canCreateETLFile":"1","canCreateScheduledMail":"1","canSuspendUserFromProject":"1","canManageIsProduction":"1","canMaintainUserFilterRelation":"1","canManageAttribute":"1","canManageReportDefinition":"1","canManageTranslations":"1","canMaintainUserFilter":"1","canCreateReport":"1","canSetLocale":"1","canEnrichData":"1","canUploadNonProductionCSV":"1","canManageETLFile":"1","canCreateComment":"1","canCreateDataSet":"1","canManageExecutionContext":"1","canCreateTable":"1","canManageTableDataLoad":"1","canRefreshData":"1","canCreateMetric":"1","canManageFilterSettings":"1","canManageProjectDashboard":"1","canManageProject":"1","canManagePrompt":"1","canAccessWorkbench":"1","canCreateAttributeLabel":"1","canCreateVisualizationClass":"1","canManageColumn":"1","canCreatePrompt":"1","canManagePublicAccessCode":"0","canListUsersInProject":"1","canManageAttributeGroup":"1","canManageMetric":"1","canManageHelp":"1","canSetProjectVariables":"1","canManageTable":"1","canCreateVisualization":"1","canCreateFolder":"1","canManageFact":"1","canManageScheduledMail":"1","canListInvitationsInProject":"1","canCreateFilterSettings":"1","canExecuteRaw":"1","canSeePublicAccessCode":"0","canCreateReportDefinition":"1","canManageVisualization":"1","canCreateFact":"1","canCreateAttribute":"1","canAssignUserWithRole":"1","canCreateAnalyticalDashboard":"1"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/roles/6","created":"2018-05-31
        17:19:55","identifier":"superAdminRole","summary":"the ultimate project admin","title":"SuperAdmin","updated":"2018-05-31
        17:19:55","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"projectRole":{"permissions":{"canAccessIntegration":"0","canCreateProjectDashboard":"0","canExportDashboard":"1","canManageComment":"0","canExecute":"1","canInitData":"0","canManageIntegration":"0","canCreateExecutionContext":"1","canManageFolder":"0","canInviteUserToProject":"0","canCreateTableDataLoad":"0[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/users
    body:
      encoding: UTF-8
      string: '{"users":[{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/roles/2"]},"links":{"self":"/gdc/account/profile/gemtest-user+group+spec-0@gooddata.com"}}},{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/roles/2"]},"links":{"self":"/gdc/account/profile/gemtest-user+group+spec-1@gooddata.com"}}},{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/roles/2"]},"links":{"self":"/gdc/account/profile/gemtest-user+group+spec-2@gooddata.com"}}},{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/roles/2"]},"links":{"self":"/gdc/account/profile/gemtest-user+group+spec-3@gooddata.com"}}},{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/roles/2"]},"links":{"self":"/gdc/account/profile/gemtest-user+group+spec-4@gooddata.com"}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:roXiM1cn47G2LRgm14mGJA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:roXiM1cn47G2LRgm14mGJA:dn1Fb2PcwLDy1eyj
      X-Gdc-Request-Time:
      - '65'
    body:
      encoding: ASCII-8BIT
      string: '{"projectUsersUpdateResult":{"successful":[],"failed":[{"user":"/gdc/account/profile/gemtest-user+group+spec-0@gooddata.com","message":"Cannot
        add user to project. User doesn''t exist"},{"user":"/gdc/account/profile/gemtest-user+group+spec-1@gooddata.com","message":"Cannot
        add user to project. User doesn''t exist"},{"user":"/gdc/account/profile/gemtest-user+group+spec-2@gooddata.com","message":"Cannot
        add user to project. User doesn''t exist"},{"user":"/gdc/account/profile/gemtest-user+group+spec-3@gooddata.com","message":"Cannot
        add user to project. User doesn''t exist"},{"user":"/gdc/account/profile/gemtest-user+group+spec-4@gooddata.com","message":"Cannot
        add user to project. User doesn''t exist"}]}}'
  recorded_at: Thu, 31 May 2018 15:20:02 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:KLOirqvxsZcviD4jQAIMjQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:KLOirqvxsZcviD4jQAIMjQ:BRF1StRxrJfIUDQ3
      X-Gdc-Request-Time:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/roles/2"],"phonenumber":"","status":"ENABLED","lastname":"1","login":"rubydev+admin@gooddata.com"},"links":{"roles":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/users/5ad80b895edcc438e5a4418e222733fa/roles","permissions":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/users/5ad80b895edcc438e5a4418e222733fa/permissions","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","projectRelUri":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx/users/5ad80b895edcc438e5a4418e222733fa"},"meta":{"created":"2017-02-10
        12:18:01","updated":"2018-05-31 16:30:09","author":"/gdc/account/profile/25b25d6c1cd5816c6de55f95b119d8cc","title":"the
        1","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}'
  recorded_at: Thu, 31 May 2018 15:20:02 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bLUrfsF7kWLeDzHZvQr3tCg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:rb2fhg_RIXWmYF-hOKrMpw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:rb2fhg_RIXWmYF-hOKrMpw:HDI9xXoDSWBwGtn6
      X-Gdc-Request-Time:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroup":{"content":{"name":"My Test Group","id":"bLUrfsF7kWLeDzHZvQr3tCg","description":"My
        Test Description","domain":null,"project":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx"},"meta":{"created":"2018-05-31
        17:20:03","updated":"2018-05-31 17:20:03"},"links":{"self":"/gdc/userGroups/bLUrfsF7kWLeDzHZvQr3tCg","members":"/gdc/userGroups/bLUrfsF7kWLeDzHZvQr3tCg/members","modifyMembers":"/gdc/userGroups/bLUrfsF7kWLeDzHZvQr3tCg/modifyMembers"}}}'
  recorded_at: Thu, 31 May 2018 15:20:04 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users?login=gemtest-user%2Bgroup%2Bspec-0@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:cwPc-Z4GcXQdWgVbf1Zzmw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:cwPc-Z4GcXQdWgVbf1Zzmw:zqkXARK4OKmMZ61d
      X-Gdc-Request-Time:
      - '13'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSettings":{"paging":{"offset":0,"count":0},"items":[]}}'
  recorded_at: Thu, 31 May 2018 15:21:27 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ap35zyp060umrcvx8ltwux0zrsk7raag
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Ti3R5nc8b1s2KH2uRjMqrA:2JVoRCvOvrYsS0ChUF_Vsw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Ti3R5nc8b1s2KH2uRjMqrA:2JVoRCvOvrYsS0ChUF_Vsw:BG1GkckvCUkfpLq7
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/ap35zyp060umrcvx8ltwux0zrsk7raag/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Ti3R5nc8b1s2KH2uRjMqrA:WAGhrPiwEfhUUoyq37euVw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - ap[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ap35zyp060umrcvx8ltwux0zrsk7raag/users
    body:
      encoding: UTF-8
      string: '{"users":[{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/ap35zyp060umrcvx8ltwux0zrsk7raag/roles/2"]},"links":{"self":"/gdc/account/profile/gemtest-user+group+spec-0@gooddata.com"}}},{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/ap35zyp060umrcvx8ltwux0zrsk7raag/roles/2"]},"links":{"self[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ap35zyp060umrcvx8ltwux0zrsk7raag/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Ti3R5nc8b1s2KH2uRjMqrA:mbStYeuv8W9P7BFGfbuqNg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bYht_3jsC3p73mhemtw3L-Q
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Ti3R5nc8b1s2KH2uRjMqrA:gjrNtDLRs0hgl5vTwovZFw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Ti3R5nc8b1s2KH2uRjMqrA:gjrNtDLRs0hgl5vTwovZFw:MGMqC2nWTBG81Zi4
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroup":{"content":{"name":"My Test Group","id":"bYht_3jsC3p73mhemtw3L-Q","description":"My
        Test Description","domain":null,"project":"/gdc/projects/ap35zyp060umrcvx8ltwux0zrsk7raag"},"meta":{"created":"2018-10-10
        11:04:29","updated":"2018-10-10 11:04:29"},"links":{"self":"/gdc/userGroups/bYht_3jsC3p73mhemtw3L-Q","members":"/gdc/userGroups/bYht_3jsC3p73mhemtw3L-Q/members","modifyMembers":"/gdc/userGroups/bYht_3jsC3p73mhemtw3L-Q/modifyMembers"}}}'
  recorded_at: Wed, 10 Oct 2018 09:04:30 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/zvejmh4faimgxnm545bbotrglh54tes0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - IVWNGeM56YxdR03xNdm9uQ:FBZFdBkFrFU7rAoZhxBQow
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - IVWNGeM56YxdR03xNdm9uQ:FBZFdBkFrFU7rAoZhxBQow:msCB5oMPBIlgIX70
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/zvejmh4faimgxnm545bbotrglh54tes0/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - IVWNGeM56YxdR03xNdm9uQ:K5cjkWJZg1B0npbMi0ThlA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - ap[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/zvejmh4faimgxnm545bbotrglh54tes0/users
    body:
      encoding: UTF-8
      string: '{"users":[{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/zvejmh4faimgxnm545bbotrglh54tes0/roles/2"]},"links":{"self":"/gdc/account/profile/gemtest-user+group+spec-0@gooddata.com"}}},{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/zvejmh4faimgxnm545bbotrglh54tes0/roles/2"]},"links":{"self[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/zvejmh4faimgxnm545bbotrglh54tes0/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - IVWNGeM56YxdR03xNdm9uQ:4KyDOAClvr9HLUP8f2TETA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bhxOVVNgzAPW9jUtv-eJmTA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - IVWNGeM56YxdR03xNdm9uQ:w4F-RgAM8fKu0Dr61-LdRA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - IVWNGeM56YxdR03xNdm9uQ:w4F-RgAM8fKu0Dr61-LdRA:n7SkjODhfiAmy8Xb
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroup":{"content":{"name":"My Test Group","id":"bhxOVVNgzAPW9jUtv-eJmTA","description":"My
        Test Description","domain":null,"project":"/gdc/projects/zvejmh4faimgxnm545bbotrglh54tes0"},"meta":{"created":"2018-10-10
        13:54:02","updated":"2018-10-10 13:54:02"},"links":{"self":"/gdc/userGroups/bhxOVVNgzAPW9jUtv-eJmTA","members":"/gdc/userGroups/bhxOVVNgzAPW9jUtv-eJmTA/members","modifyMembers":"/gdc/userGroups/bhxOVVNgzAPW9jUtv-eJmTA/modifyMembers"}}}'
  recorded_at: Wed, 10 Oct 2018 11:54:08 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":agjAxF0Tol3OSJTLczaLQg:DESSJQlFmoDbw7FB2Uddiw"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - GoodData realm="GoodData API" cookie=GDCAuthSST location=/gdc/account/login
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '15'
      X-Gdc-Request:
      - ":agjAxF0Tol3OSJTLczaLQg:DESSJQlFmoDbw7FB2Uddiw:GviGb0j9ZN0tOQsJ"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 24 Jan 2019 12:32:51 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":wMIPo2Igg4Z8Ex-_svFoTA:xqZFK_fYtROTnkuEfp8BEw"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - ":wMIPo2Igg4Z8Ex-_svFoTA:xqZFK_fYtROTnkuEfp8BEw:GxtKonSdaKC8BQ2o"
      X-Gdc-Request-Time:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 24 Jan 2019 13:42:14 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/guyx3nopmd2l4e2jhbzkmqgl5z4lryt5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":wMIPo2Igg4Z8Ex-_svFoTA:GjbFJ7VaS2Zrvi2SnRVFJQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":wMIPo2Igg4Z8Ex-_svFoTA:GjbFJ7VaS2Zrvi2SnRVFJQ:4vJRE6CAbieiwFfo"
      X-Gdc-Request-Time:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"lin[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/guyx3nopmd2l4e2jhbzkmqgl5z4lryt5/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":wMIPo2Igg4Z8Ex-_svFoTA:CTjLYShexSyxISZfAtVQCg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/guyx3nopmd2l4e2jhbzkmqgl5z4lryt5/users
    body:
      encoding: UTF-8
      string: '{"users":[{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/guyx3nopmd2l4e2jhbzkmqgl5z4lryt5/roles/2"]},"links":{"self":"/gdc/account/profile/gemtest-user+group+spec-0@gooddata.com"}}},{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/guyx3nopmd2l4e2jhbzkmqgl5z4lryt5/roles/2"]},"links":{"self[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/guyx3nopmd2l4e2jhbzkmqgl5z4lryt5/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":wMIPo2Igg4Z8Ex-_svFoTA:Nm2D2qKaAJO4bTdnukGDjw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bPzgfviBztA-U8ztc0aKuew
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":wMIPo2Igg4Z8Ex-_svFoTA:FnKIu3OXxVIFdjMTQeWFGw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":wMIPo2Igg4Z8Ex-_svFoTA:FnKIu3OXxVIFdjMTQeWFGw:m2gYFlo7ggGlhYTS"
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroup":{"content":{"name":"My Test Group","id":"bPzgfviBztA-U8ztc0aKuew","description":"My
        Test Description","domain":null,"project":"/gdc/projects/guyx3nopmd2l4e2jhbzkmqgl5z4lryt5"},"meta":{"created":"2019-01-24
        14:42:27","updated":"2019-01-24 14:42:27"},"links":{"self":"/gdc/userGroups/bPzgfviBztA-U8ztc0aKuew","members":"/gdc/userGroups/bPzgfviBztA-U8ztc0aKuew/members","modifyMembers":"/gdc/userGroups/bPzgfviBztA-U8ztc0aKuew/modifyMembers"}}}'
  recorded_at: Thu, 24 Jan 2019 13:42:28 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":9ayKUMlzPr99oJjqtlKSVA:XnhlCGjgFzRfBOXsDpR_qg"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '240'
      X-Gdc-Request:
      - ":9ayKUMlzPr99oJjqtlKSVA:XnhlCGjgFzRfBOXsDpR_qg:tONp13qBMgihKnQw"
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 06:37:32 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":9ayKUMlzPr99oJjqtlKSVA:p6YS4WcMJ0zIANHW-My4wQ"
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '11'
      X-Gdc-Request:
      - ":9ayKUMlzPr99oJjqtlKSVA:p6YS4WcMJ0zIANHW-My4wQ:6YXNTY9tqTwHInmo"
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2019-03-15 10:00:00","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Wed, 15 Jan 2020 06:37:34 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":9ayKUMlzPr99oJjqtlKSVA:hzCnOIEmvHTGg4ay4hAglw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '40'
      X-Gdc-Request:
      - ":9ayKUMlzPr99oJjqtlKSVA:hzCnOIEmvHTGg4ay4hAglw:aMJjZQVSEWtrfxsr"
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
[...]
