---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WfzPL5CIPKW5St-iDzhqlQ:iVMa3bL0JtOPuWN8kEsXtA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - WfzPL5CIPKW5St-iDzhqlQ:iVMa3bL0JtOPuWN8kEsXtA:U8RqZGBV1cxpLSG8
      X-Gdc-Request-Time:
      - '93'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/ldm?thumbnail=1","self":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad","clearCaches":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/clearCaches","invitations":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/invitations","users":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/uploads/","ldm":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/ldm","metadata":"/gdc/md/abilovib4jnsb2f9prkno649dgqk9rad","publicartifacts":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/publicartifacts","roles":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/roles","userRoles":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/dataload","connectors":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/connectors","execute":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/execute","config":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/config","projectFeatureFlags":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/projectFeatureFlags","schedules":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/schedules","templates":"/gdc/md/abilovib4jnsb2f9prkno649dgqk9rad/templates"},"meta":{"created":"2018-10-09
        19:31:31","summary":"No summary","updated":"2018-10-09 19:31:32","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 09 Oct 2018 17:31:33 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WfzPL5CIPKW5St-iDzhqlQ:C7s5vptBJsp65eBcuqMLmg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - WfzPL5CIPKW5St-iDzhqlQ:C7s5vptBJsp65eBcuqMLmg:1TAGbLskK63tyzWs
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/ldm?thumbnail=1","self":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad","clearCaches":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/clearCaches","invitations":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/invitations","users":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/abilovib4jnsb2f9p[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ldhpzdqoxr7igij7osj95a28166khgtg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0LcnusnIXy5kJWXS_N1LEg:vBxkdkIivbHogl1lx2XNKQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ftghpjy43gnlnuvs9o78usdtqpx6097l
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - L2XpgFbe84lvKENPWdM5YQ:BtJ6xXeOISNVBplSQlp1WA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - L2XpgFbe84lvKENPWdM5YQ:BtJ6xXeOISNVBplSQlp1WA:sD1amADoHorXYiU9
      X-Gdc-Request-Time:
      - '57'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/etfuenumji8sx2o2ew7sd6etesa852ny
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jA-r2LDbFqKGUd4A6dxLGA:OszJfrdgCSQOrfLAuyuvNQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - jA-r2LDbFqKGUd4A6dxLGA:OszJfrdgCSQOrfLAuyuvNQ:SjZP96IdpVYcc1kR
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":m7xfAo_OVmXXq9FKhLhIdg:laJ-24fn0vd57iJABLTaHg"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - GoodData realm="GoodData API" cookie=GDCAuthSST location=/gdc/account/login
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - ":m7xfAo_OVmXXq9FKhLhIdg:laJ-24fn0vd57iJABLTaHg:urI3sWNKjpi1eHsc"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 24 Jan 2019 12:31:29 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":51bf5eIlqOIen2l0_f7Naw:THtnYnLXPoRXAzYnvexEBA"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - ":51bf5eIlqOIen2l0_f7Naw:THtnYnLXPoRXAzYnvexEBA:3PrblZXyxewTjyMP"
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 24 Jan 2019 13:18:19 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lnvfvbr3wemfi9pslczunxvu0c6ma2vw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":51bf5eIlqOIen2l0_f7Naw:qfmwC2qtg_9OCVABqCjvFQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":51bf5eIlqOIen2l0_f7Naw:qfmwC2qtg_9OCVABqCjvFQ:9LGwePshZJGmK0HL"
      X-Gdc-Request-Time:
      - '55'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADING"},"links[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":B_PeK5Si5aGVoE569Wziuw:RBb9b22Sv9Fu1Zul7QH4mw"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request-Time:
      - '18'
      X-Gdc-Request:
      - ":B_PeK5Si5aGVoE569Wziuw:RBb9b22Sv9Fu1Zul7QH4mw:gY9o1BDpXKKId6xS"
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 06:08:30 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":B_PeK5Si5aGVoE569Wziuw:_RhY47IKCBgNA8yOIKF38g"
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '11'
      X-Gdc-Request:
      - ":B_PeK5Si5aGVoE569Wziuw:_RhY47IKCBgNA8yOIKF38g:IH6jjDSF5kWfdZfd"
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2019-03-15 10:00:00","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Wed, 15 Jan 2020 06:08:31 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":B_PeK5Si5aGVoE569Wziuw:H8GKISD40xyeFGVmKUKjug"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '37'
      X-Gdc-Request:
      - ":B_PeK5Si5aGVoE569Wziuw:H8GKISD40xyeFGVmKUKjug:FKMBCHmMI6PmS7tn"
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Wed, 15 Jan 2020 06:08:31 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z32ukgbhaufbagg5ctn1hb54d4w3hxnn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":B_PeK5Si5aGVoE569Wziuw:wTSEOjBp8Rsu0X7UsLVvNA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '54'
      X-Gdc-Request:
      - ":B_PeK5Si5aGVoE569Wziuw:wTSEOjBp8Rsu0X7UsLVvNA:1SWoV9HzoJbmbJn1"
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADING"},"links":{"ldm_thumbnail":"/gdc/projects/z32ukgbhaufbagg5ctn1hb54d4w3hxnn/ldm?thumbnail=1","self":"/gdc/projects/z32ukgbhaufbagg5ctn1hb54d4w3hxnn","clearCaches":"/gdc/projects/z32ukgbhaufbagg5ctn1hb54d4w3hxnn/clearCaches","invitations":"/gdc/projects/z32ukgbhaufbagg5ctn1hb54d4w3hxnn/invitations","users":"/gdc/projects/z32ukgbhaufbagg5ctn1hb54d4w3hxnn/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/z32ukgbhaufbagg5ctn1hb54d4w3hxnn/checkXaeCompatibility","uploads":"/gdc/projects/z32ukgbhaufbagg5ctn1hb54d4w3hxnn/uploads/","ldm":"/gdc/projects/z32ukgbhaufbagg5ctn1hb54d4w3hxnn/ldm","metadata":"/gdc/md/z32ukgbhaufbagg5ctn1hb54d4w3hxnn","publicartifacts":"/gdc/projects/z32ukgbhaufbagg5ctn1hb54d4w3hxnn/publicartifacts","roles":"/gdc/projects/z32ukgbhaufbagg5ctn1hb54d4w3hxnn/roles","userRoles":"/gdc/projects/z32ukgbhaufbagg5ctn1hb54d4w3hxnn/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/z32ukgbhaufbagg5ctn1hb54d4w3hxnn/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/z32ukgbhaufbagg5ctn1hb54d4w3hxnn/dataload","connectors":"/gdc/projects/z32ukgbhaufbagg5ctn1hb54d4w3hxnn/connectors","execute":"/gdc/projects/z32ukgbhaufbagg5ctn1hb54d4w3hxnn/execute","config":"/gdc/projects/z32ukgbhaufbagg5ctn1hb54d4w3hxnn/config","projectFeatureFlags":"/gdc/projects/z32ukgbhaufbagg5ctn1hb54d4w3hxnn/projectFeatureFlags","schedules":"/gdc/projects/z32ukgbhaufbagg5ctn1hb54d4w3hxnn/schedules","templates":"/gdc/md/z32ukgbhaufbagg5ctn1hb54d4w3hxnn/templates"},"meta":{"created":"2020-01-15
        07:08:32","summary":"No summary","updated":"2020-01-15 07:08:33","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 15 Jan 2020 06:08:34 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":TeDzxkvUsI3ITap4SDcnOw:e4D6knBNQ8_ne6ztZIc0AQ"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Tries:
      - '0'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '19'
      X-Gdc-Request:
      - ":TeDzxkvUsI3ITap4SDcnOw:e4D6knBNQ8_ne6ztZIc0AQ:nA6U2kY3VSlecj4V"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 15 Jan 2020 06:08:42 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":mdGN8gRO581nKNWLSPYDfw:gCXejvSBisJgNwjUEBPBhg"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '68'
      X-Gdc-Request:
      - ":mdGN8gRO581nKNWLSPYDfw:gCXejvSBisJgNwjUEBPBhg:Ej8KHuBpnpLb3iwv"
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 07:02:53 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Project for schedule
        testing"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mdGN8gRO581nKNWLSPYDfw:ytTtkg0MAegVvYM6C1aOKQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '432'
      X-Gdc-Request:
      - ":mdGN8gRO581nKNWLSPYDfw:ytTtkg0MAegVvYM6C1aOKQ:L3PwiCgq33IyXiVT"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/xi8ug796dorv1yp2xqutsrqvvbx1v1ti"}'
  recorded_at: Wed, 15 Jan 2020 07:02:57 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/xi8ug796dorv1yp2xqutsrqvvbx1v1ti
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mdGN8gRO581nKNWLSPYDfw:AYSr4reDYQByDsAcHHLDxg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-H[...]
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":RA3wdqoa6VL3zeyV_EHY8w:Y-eOVJbCeUexXSE1Qz5E2Q"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Tries:
      - '0'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '21'
      X-Gdc-Request:
      - ":RA3wdqoa6VL3zeyV_EHY8w:Y-eOVJbCeUexXSE1Qz5E2Q:o9AwADDS7VwQIDDd"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 15 Jan 2020 07:03:07 GMT
recorded_with: VCR 5.0.0
