---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WfzPL5CIPKW5St-iDzhqlQ:iVMa3bL0JtOPuWN8kEsXtA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - WfzPL5CIPKW5St-iDzhqlQ:iVMa3bL0JtOPuWN8kEsXtA:U8RqZGBV1cxpLSG8
      X-Gdc-Request-Time:
      - '93'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/ldm?thumbnail=1","self":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad","clearCaches":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/clearCaches","invitations":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/invitations","users":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/uploads/","ldm":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/ldm","metadata":"/gdc/md/abilovib4jnsb2f9prkno649dgqk9rad","publicartifacts":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/publicartifacts","roles":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/roles","userRoles":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/dataload","connectors":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/connectors","execute":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/execute","config":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/config","projectFeatureFlags":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/projectFeatureFlags","schedules":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/schedules","templates":"/gdc/md/abilovib4jnsb2f9prkno649dgqk9rad/templates"},"meta":{"created":"2018-10-09
        19:31:31","summary":"No summary","updated":"2018-10-09 19:31:32","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 09 Oct 2018 17:31:33 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WfzPL5CIPKW5St-iDzhqlQ:C7s5vptBJsp65eBcuqMLmg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - WfzPL5CIPKW5St-iDzhqlQ:C7s5vptBJsp65eBcuqMLmg:1TAGbLskK63tyzWs
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/ldm?thumbnail=1","self":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad","clearCaches":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/clearCaches","invitations":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/invitations","users":"/gdc/projects/abilovib4jnsb2f9prkno649dgqk9rad/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/abilovib4jnsb2f9p[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ldhpzdqoxr7igij7osj95a28166khgtg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 0LcnusnIXy5kJWXS_N1LEg:vBxkdkIivbHogl1lx2XNKQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - L2XpgFbe84lvKENPWdM5YQ:3Z7UGw6fuYDSHwrvWf93oQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - L2XpgFbe84lvKENPWdM5YQ:3Z7UGw6fuYDSHwrvWf93oQ:v6jefWwJjKVbVKbf
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-10-10
        01:48:34","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","timezone":null,"language":"en-US","ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Wed, 10 Oct 2018 07:36:43 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - L2XpgFbe84lvKENPWdM5YQ:hkSkhlZTxwZLE2QjRMkwSQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - L2XpgFbe84lvKENPWdM5YQ:hkSkhlZTxwZLE2QjRMkwSQ:5vPjIFVet3k14XfH
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Wed, 10 Oct 2018 07:36:43 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ftghpjy43gnlnuvs9o78usdtqpx6097l
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - L2XpgFbe84lvKENPWdM5YQ:BtJ6xXeOISNVBplSQlp1WA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - KOklBGscDwhYnxDnX6zU6A:YPqDlX3puNY6tsjNGsZ8Yw
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '24'
      X-Gdc-Request:
      - KOklBGscDwhYnxDnX6zU6A:YPqDlX3puNY6tsjNGsZ8Yw:qT8ZoWo75PXFVrfr
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 07:36:53 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - jA-r2LDbFqKGUd4A6dxLGA:8JBoMG0_x5uaOqZRBexFdg
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - jA-r2LDbFqKGUd4A6dxLGA:8JBoMG0_x5uaOqZRBexFdg:MQj4TsG08R9Rzj27
      X-Gdc-Request-Time:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 11:04:21 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jA-r2LDbFqKGUd4A6dxLGA:4_3g_3-6N4IUb-JCmF1_bA
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - jA-r2LDbFqKGUd4A6dxLGA:4_3g_3-6N4IUb-JCmF1_bA:zRPBrwfZHao1tgXH
      X-Gdc-Request-Time:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 11:04:22 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Project for schedule
        testing"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jA-r2LDbFqKGUd4A6dxLGA:OYI_CX1GsdgD-x1qnnH5Ww
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - jA-r2LDbFqKGUd4A6dxLGA:OYI_CX1GsdgD-x1qnnH5Ww:pZIuU00KueoJVLnw
      X-Gdc-Request-Time:
      - '536'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/etfuenumji8sx2o2ew7sd6etesa852ny"}'
  recorded_at: Wed, 10 Oct 2018 11:04:24 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/etfuenumji8sx2o2ew7sd6etesa852ny
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jA-r2LDbFqKGUd4A6dxLGA:OszJfrdgCSQOrfLAuyuvNQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - CnQuAb1w1roDYRI2m_jj8A:irfVqoYhuFsL7-A_BsdO1A
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '27'
      X-Gdc-Request:
      - CnQuAb1w1roDYRI2m_jj8A:irfVqoYhuFsL7-A_BsdO1A:PowYn79mTkCY9yPY
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 11:04:33 GMT
recorded_with: VCR 4.0.0
