---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bG6Ipk-LvUdC2Wbq5QNtaww/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - BJ7jVkUSVBb_c05Mc5sXfA:eJbIqp8983ksya6OVwLjDA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - BJ7jVkUSVBb_c05Mc5sXfA:eJbIqp8983ksya6OVwLjDA:uyov9S9u2m1Ll3Vt
      X-Gdc-Request-Time:
      - '13'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroupMembers":{"paging":{"offset":null,"limit":1000,"next":null},"items":[]}}'
  recorded_at: Wed, 02 May 2018 13:51:27 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bG6Ipk-LvUdC2Wbq5QNtaww/modifyMembers
    body:
      encoding: UTF-8
      string: '{"modifyMembers":{"operation":"ADD","items":["/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - BJ7jVkUSVBb_c05Mc5sXfA:TN2C2kSiRdDM1pl8yimTqw
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '15'
      X-Gdc-Request:
      - BJ7jVkUSVBb_c05Mc5sXfA:TN2C2kSiRdDM1pl8yimTqw:OfjN1gT0v0aHbWrQ
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 02 May 2018 13:51:28 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bG6Ipk-LvUdC2Wbq5QNtaww/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - BJ7jVkUSVBb_c05Mc5sXfA:WGEDri2v9CJLovnkvKis1A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - BJ7jVkUSVBb_c05Mc5sXfA:WGEDri2v9CJLovnkvKis1A:tT7EWHYi2Z8Sv5Eq
      X-Gdc-Request-Time:
      - '13'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroupMembers":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"user":{"content":{"firstName":"the","lastName":"1"},"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Wed, 02 May 2018 13:51:28 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - BJ7jVkUSVBb_c05Mc5sXfA:0Qq2RoaKz9hKCd_oyGwGdA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - BJ7jVkUSVBb_c05Mc5sXfA:0Qq2RoaKz9hKCd_oyGwGdA:8Tr4cibiaiaJGKqy
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-05-02
        15:47:16","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","language":"en-US","timezone":null,"ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Wed, 02 May 2018 13:51:29 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - BJ7jVkUSVBb_c05Mc5sXfA:CUAC7Mmt5tAL3ijZTxyiPw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - BJ7jVkUSVBb_c05Mc5sXfA:CUAC7Mmt5tAL3ijZTxyiPw:altV9jmQPurdjbwd
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-05-02
        15:47:16","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","timezone":null,"language":"en-US","ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Wed, 02 May 2018 13:51:31 GMT
recorded_with: VCR 4.0.0
