---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:7bbvoU2N5BnFWmqyCkT2bg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:7bbvoU2N5BnFWmqyCkT2bg:J10uInvraAt5n7Kw
      X-Gdc-Request-Time:
      - '51'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/ldm?thumbnail=1","self":"/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6","clearCaches":"/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/clearCaches","invitations":"/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/invitations","users":"/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/uploads/","ldm":"/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/ldm","metadata":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6","publicartifacts":"/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/publicartifacts","roles":"/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/roles","userRoles":"/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/dataload","connectors":"/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/connectors","execute":"/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/execute","config":"/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/config","projectFeatureFlags":"/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/projectFeatureFlags","schedules":"/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/schedules","templates":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/templates","eventstores":"/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        08:23:50","summary":"No summary","updated":"2018-06-05 08:23:51","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"My
        project from blueprint","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 06:23:51 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:XfqSGAKhDzEcEV9uWfoTHA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:XfqSGAKhDzEcEV9uWfoTHA:65bHWWdOn4gBc7cu
      X-Gdc-Request-Time:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/ldm?thumbnail=1","self":"/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6","clearCaches":"/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/clearCaches","invitations":"/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/invitations","users":"/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/r7xe9mposi3tl8twq[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.users","title":"Dataset.Users","anchor":{"attribute":{"identifier":"attr.users.id","title":"Attr.Users.Id","folder":"Dataset.Users","labels":[{"label":{"identifier":"label.users.id","title":"Label.Users.Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.users.id"}},"attributes":[],"facts":[{"fact":{"identifier":"fact.users.some_number","title":"Fact.Users.Some
        Number","folder":"Dataset.Users","dataType":"DECIMAL(12,2)","type":"fact"}}],"references":["created_on"]}}],"dateDimensions":[{"dateDimension":{"name":"created_on","title":"Created
        On"}},{"dateDimension":{"name":"created_on_2","title":"Created On 2"}}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:DI6kiRgD0aOLwOy3CrkVEQ
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/model/diff/d195cee1607f6c117348c62ef410ffd501cd73ae18745fa40000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:DI6kiRgD0aOLwOy3CrkVEQ:yCXAo85twawAws5e
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/model/diff/d195cee1607f6c117348c62ef410ffd501cd73ae18745fa40000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 06:23:59 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/model/diff/d195cee1607f6c117348c62ef410ffd501cd73ae18745fa40000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:ScXRJg4WzsP7YGWT3ZN5_w
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/model/diff/d195cee1607f6c117348c62ef410ffd501cd73ae18745fa40000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:ScXRJg4WzsP7YGWT3ZN5_w:x55Btl69yG2tXjnO
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/model/diff/d195cee1607f6c117348c62ef410ffd501cd73ae18745fa40000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 06:23:59 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/model/diff/d195cee1607f6c117348c62ef410ffd501cd73ae18745fa40000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:tGBZGs490VGx9zN8CN9poA
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:tGBZGs490VGx9zN8CN9poA:kFyJ2CZG83SKIZ1Z
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"dataset.create","dataset":"dataset.users","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Dataset.Users"]}},{"updateOperation":{"type":"date-dimension.create","destructive":false,"description":"Create
        date dimension ''%s''","parameters":["Created On"]}},{"updateOperation":{"type":"date-dimension.create","destructive":false,"description":"Create
        date dimension ''%s''","parameters":["Created On 2"]}},{"updateOperation":{"type":"anchor.create","dataset":"dataset.users","destructive":false,"description":"Create
        anchor ''%s''","parameters":["Attr.Users.Id"]}},{"updateOperation":{"type":"fact.create","dataset":"dataset.users","destructive":false,"description":"Create
        fact ''%s''","parameters":["Fact.Users.Some Number"]}},{"updateOperation":{"type":"dataset.references.add.dd","dataset":"dataset.users","destructive":false,"description":"Add
        reference to date dimension ''%s''","parameters":["Created On"]}}],"updateScripts":[{"updateScript":{"maqlDdl":"CREATE
        DATASET {dataset.users} VISUAL(TITLE \"Dataset.Users\");\nINCLUDE TEMPLATE
        \"URN:GOODDATA:DATE\" MODIFY (IDENTIFIER \"created_on\", TITLE \"Created On\");\nINCLUDE
        TEMPLATE \"URN:GOODDATA:DATE\" MODIFY (IDENTIFIER \"created_on_2\", TITLE
        \"Created On 2\");\nCREATE FOLDER {dim.datasetusers} VISUAL(TITLE \"Dataset.Users\")
        TYPE ATTRIBUTE;\nCREATE ATTRIBUTE {attr.users.id} VISUAL(TITLE \"Attr.Users.Id\",
        FOLDER {dim.datasetusers}) AS KEYS {f_users.id} FULLSET;\nALTER DATASET {dataset.users}
        ADD {attr.users.id};\nALTER ATTRIBUTE {attr.users.id} ADD LABELS {label.users.id}
        VISUAL(TITLE \"Label.Users.Id\") AS {f_users.nm_id};\nALTER ATTRIBUTE {attr.users.id}
        DEFAULT LABEL {label.users.id};\nCREATE FOLDER {ffld.datasetusers} VISUAL(TITLE
        \"Dataset.Users\") TYPE FACT;\nCREATE FACT {fact.users.some_number} VISUAL(TITLE
        \"Fact.Users.Some Number\", FOLDER {ffld.datasetusers}) AS {f_users.f_some_number};\nALTER
        DATASET {dataset.users} ADD {fact.users.some_number};\nALTER ATTRIBUTE {created_on.date}
        ADD KEYS {f_users.dt_created_on_id};\nSYNCHRONIZE {dataset.users};","maqlDdlChunks":["CREATE
        DATASET {dataset.users} VISUAL(TITLE \"Dataset.Users\");\nINCLUDE TEMPLATE
        \"URN:GOODDATA:DATE\" MODIFY (IDENTIFIER \"created_on\", TITLE \"Created On\");\nINCLUDE
        TEMPLATE \"URN:GOODDATA:DATE\" MODIFY (IDENTIFIER \"created_on_2\", TITLE
        \"Created On 2\");\nCREATE FOLDER {dim.datasetusers} VISUAL(TITLE \"Dataset.Users\")
        TYPE ATTRIBUTE;\nCREATE ATTRIBUTE {attr.users.id} VISUAL(TITLE \"Attr.Users.Id\",
        FOLDER {dim.datasetusers}) AS KEYS {f_users.id} FULLSET;\nALTER DATASET {dataset.users}
        ADD {attr.users.id};\nALTER ATTRIBUTE {attr.users.id} ADD LABELS {label.users.id}
        VISUAL(TITLE \"Label.Users.Id\") AS {f_users.nm_id};\nALTER ATTRIBUTE {attr.users.id}
        DEFAULT LABEL {label.users.id};\nCREATE FOLDER {ffld.datasetusers} VISUAL(TITLE
        \"Dataset.Users\") TYPE FACT;\nCREATE FACT {fact.users.some_number} VISUAL(TITLE
        \"Fact.Users.Some Number\", FOLDER {ffld.datasetusers}) AS {f_users.f_some_number};\nALTER
        DATASET {dataset.users} ADD {fact.users.some_number};\nALTER ATTRIBUTE {created_on.date}
        ADD KEYS {f_users.dt_created_on_id};\nSYNCHRONIZE {dataset.users};"],"preserveData":true,"cascadeDrops":false}},{"updateScript":{"maqlDdl":"CREATE
        DATASET {dataset.users} VISUAL(TITLE \"Dataset.Users\");\nINCLUDE TEMPLATE
        \"URN:GOODDATA:DATE\" MODIFY (IDENTIFIER \"created_on\", TITLE \"Created On\");\nINCLUDE
        TEMPLATE \"URN:GOODDATA:DATE\" MODIFY (IDENTIFIER \"created_on_2\", TITLE
        \"Created On 2\");\nCREATE FOLDER {dim.datasetusers} VISUAL(TITLE \"Dataset.Users\")
        TYPE ATTRIBUTE;\nCREATE ATTRIBUTE {attr.users.id} VISUAL(TITLE \"Attr.Users.Id\",
        FOLD[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:Pd6E_PRfa2DZa5meOKzEDA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:Pd6E_PRfa2DZa5meOKzEDA:XohsdkG2aR7p5u7w
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''r7xe9mposi3tl8twqz0mr6zcv8hxduk6''","category":"project","instance":"r7xe9mposi3tl8twqz0mr6zcv8hxduk6","links":[{"link":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","ca[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:0jkNUMcwXTAnedPds12t4w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.users} VISUAL(TITLE \"Dataset.Users\");\nINCLUDE
        TEMPLATE \"URN:GOODDATA:DATE\" MODIFY (IDENTIFIER \"created_on\", TITLE \"Created
        On\");\nINCLUDE TEMPLATE \"URN:GOODDATA:DATE\" MODIFY (IDENTIFIER \"created_on_2\",
        TITLE \"Created On 2\");\nCREATE FOLDER {dim.datasetusers} VISUAL(TITLE \"Dataset.Users\")
        TYPE ATTRIBUTE;\nCREATE ATTRIBUTE {attr.users.id} VISUAL(TITLE \"Attr.Users.Id\",
        FOLDER {dim.datasetusers}) AS KEYS {f_users.id}[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/tasks/acde8aa7e810183b42674c7bd5bb03fe0000002a/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:9_LOYVHnEFblp32aX_4GGA
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:9_LOYVHnEFblp32aX_4GGA:QHbRi0JBG92xJW7M
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/tasks/acde8aa7e810183b42674c7bd5bb03fe0000002a/status","status":"RUNNING","links":{"poll":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/tasks/acde8aa7e810183b42674c7bd5bb03fe0000002a/status"}}}'
  recorded_at: Tue, 05 Jun 2018 06:24:13 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/etl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:aKAw2kZdbHdSRYTeu-xAhg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:aKAw2kZdbHdSRYTeu-xAhg:l6HYsTC3VQTG3Gcr
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Extract, transform and load services for project
        ''r7xe9mposi3tl8twqz0mr6zcv8hxduk6''","category":"etl","instance":"r7xe9mposi3tl8twqz0mr6zcv8hxduk6","links":[{"link":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/etl/pull2","summary":"Provides
        service of pull2.","category":"pull2","title":"pull2"},{"link":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/etl/task","summary":"Provides
        service of task.","category":"task","title":"task"},{"link":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/etl/mode","summary":"Provides
        service of mode.","category":"mode","title":"mode"}]}}'
  recorded_at: Tue, 05 Jun 2018 06:24:28 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/etl/pull2
    body:
      encoding: UTF-8
      string: '{"pullIntegration":"d20180605-25817-jy79kw"}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:hptt9dJMUNm0YrNRP3GXhQ
      Info-Message:
      - Starting the data load from user storage to dataset.
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/tasks/2970a51f16e5db9235df9d8d3f27f82300000009/status"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:hptt9dJMUNm0YrNRP3GXhQ:DgWLLQUoPw8Rutzj
      X-Gdc-Request-Time:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"pull2Task":{"links":{"poll":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/tasks/2970a51f16e5db9235df9d8d3f27f82300000009/status"}}}'
  recorded_at: Tue, 05 Jun 2018 06:24:28 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/iuhske32nkyrac6qzcbxg46d8as6t0h0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Ok1X4HxZieGkDOjr08cWVw:deI6QJTiFg02ZFjHBy1KIA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Ok1X4HxZieGkDOjr08cWVw:deI6QJTiFg02ZFjHBy1KIA:Lfi2iwfDGdBdMzoF
      X-Gdc-Request-Time:
      - '84'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/iuhske32nkyrac6qzcbxg46d8as6t0h0/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.users","title":"Dataset.Users","anchor":{"attribute":{"identifier":"attr.users.id","title":"Attr.Users.Id","folder":"Dataset.Users","labels":[{"label":{"identifier":"label.users.id","title":"Label.Users.Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.users.id"}},"attributes":[],"facts":[{"fact":{"identifier":"fact.users.some_number","title":"Fact.Users.Some
        Number","folder":"Dataset.Users","dataType":"DECIMAL(12,2)","type":"fact"}}],"references":["created_on"],"bridges":[]}}],"dateDimensions":[{"dateDimension":{"name":"created_on","title":"Created
        On","bridges":[]}},{"dateDimension":{"name":"created_on_2","title":"Created
        On 2","bridges":[]}}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Ok1X4HxZieGkDOjr08cWVw:XmpjWgfD0z0dX4kHIHJh6Q
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/iuhske32nkyrac6qzcbxg46d8as6t0h0/model/diff/2894e9d31d1896b030e0e379028d44725062ad304974f75300000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Ok1X4HxZieGkDOjr08cWVw:XmpjWgfD0z0dX4kHIHJh6Q:cIc3EKYzrCK4pwJJ
      X-Gdc-Request-Time:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/iuhske32nkyrac6qzcbxg46d8as6t0h0/model/diff/2894e9d31d1896b030e0e379028d44725062ad304974f75300000018"}}}'
  recorded_at: Fri, 05 Oct 2018 12:36:04 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/iuhske32nkyrac6qzcbxg46d8as6t0h0/model/diff/2894e9d31d1896b030e0e379028d44725062ad304974f75300000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Ok1X4HxZieGkDOjr08cWVw:XYzUHVUDgS8UuFzSNOn85w
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/iuhske32nkyrac6qzcbxg46d8as6t0h0/model/diff/2894e9d31d1896b030e0e379028d44725062ad304974f75300000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Ok1X4HxZieGkDOjr08cWVw:XYzUHVUDgS8UuFzSNOn85w:IrS42MghXvtcTW7s
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/iuhske32nkyrac6qzcbxg46d8as6t0h0/model/diff/2894e9d31d1896b030e0e379028d44725062ad304974f75300000018"}}}'
  recorded_at: Fri, 05 Oct 2018 12:36:05 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/iuhske32nkyrac6qzcbxg46d8as6t0h0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Ok1X4HxZieGkDOjr08cWVw:AXMxA5RheNyBpsbrAM2Fbg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charse[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/iuhske32nkyrac6qzcbxg46d8as6t0h0/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Ok1X4HxZieGkDOjr08cWVw:D61gPPOkr74iufdtYEVgoQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/iuhske32nkyrac6qzcbxg46d8as6t0h0/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.users} VISUAL(TITLE \"Dataset.Users\");\nINCLUDE
        TEMPLATE \"URN:GOODDATA:DATE\" MODIFY (IDENTIFIER \"created_on\", TITLE \"Created
        On\");\nINCLUDE TEMPLATE \"URN:GOODDATA:DATE\" MODIFY (IDENTIFIER \"created_on_2\",
        TITLE \"Created On 2\");\nCREATE FOLDER {dim.[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/iuhske32nkyrac6qzcbxg46d8as6t0h0/tasks/83c6279877595b4b1152a7f858b8ca0f00000007/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Ok1X4HxZieGkDOjr08cWVw:KIHDWi1otAAA_mJfYgKLEA
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Ok1X4HxZieGkDOjr08cWVw:KIHDWi1otAAA_mJfYgKLEA:181Moq9IcaRB8sOi
      X-Gdc-Request-Time:
      - '99'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/iuhske32nkyrac6qzcbxg46d8as6t0h0/tasks/83c6279877595b4b1152a7f858b8ca0f00000007/status","status":"RUNNING","links":{"poll":"/gdc/md/iuhske32nkyrac6qzcbxg46d8as6t0h0/tasks/83c6279877595b4b1152a7f858b8ca0f00000007/status"}}}'
  recorded_at: Fri, 05 Oct 2018 12:36:12 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/iuhske32nkyrac6qzcbxg46d8as6t0h0/etl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Ok1X4HxZieGkDOjr08cWVw:IjUutXtjxcS1ZVGYNsMRSQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Ok1X4HxZieGkDOjr08cWVw:IjUutXtjxcS1ZVGYNsMRSQ:wjnT4AwRFzBRFLmg
      X-Gdc-Request-Time:
      - '80'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Extract, transform and load services for project
        ''iuhske32nkyrac6qzcbxg46d8as6t0h0''","category":"etl","instance":"iuhske32nkyrac6qzcbxg46d8as6t0h0","links":[{"link":"/gdc/md/iuhske32nkyrac6qzcbxg46d8as6t0h0/etl/pull2","summary":"Provides
        service of pull2.","category":"pull2","title":"pull2"},{"link":"/gdc/md/iuhske32nkyrac6qzcbxg46d8as6t0h0/etl/task","summary":"Provides
        service of task.","category":"task","title":"task"},{"link":"/gdc/md/iuhske32nkyrac6qzcbxg46d8as6t0h0/etl/mode","summary":"Provides
        service of mode.","category":"mode","title":"mode"}]}}'
  recorded_at: Fri, 05 Oct 2018 12:36:24 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/iuhske32nkyrac6qzcbxg46d8as6t0h0/etl/pull2
    body:
      encoding: UTF-8
      string: '{"pullIntegration":"d20181005-54175-bbqlrs"}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Ok1X4HxZieGkDOjr08cWVw:wAASBiKB1VUCptA7cFNA7Q
      Info-Message:
      - Starting the data load from user storage to dataset.
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/iuhske32nkyrac6qzcbxg46d8as6t0h0/tasks/427db7a43a237abaf407a594ec0b13bf00000013/status"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Ok1X4HxZieGkDOjr08cWVw:wAASBiKB1VUCptA7cFNA7Q:AqS8eno38DczE6c9
      X-Gdc-Request-Time:
      - '130'
    body:
      encoding: ASCII-8BIT
      string: '{"pull2Task":{"links":{"poll":"/gdc/md/iuhske32nkyrac6qzcbxg46d8as6t0h0/tasks/427db7a43a237abaf407a594ec0b13bf00000013/status"}}}'
  recorded_at: Fri, 05 Oct 2018 12:36:24 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/s10gvd9kscbk48pu908q7pz814294x7j
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - q7FRSkwyZmQvyEEkqMvbtA:AcxSJ-H3_mpxo6KVQOlZNA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - q7FRSkwyZmQvyEEkqMvbtA:AcxSJ-H3_mpxo6KVQOlZNA:zbPdSvCBZ5pmMZQA
      X-Gdc-Request-Time:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/s10gvd9kscbk48pu908q7pz814294x7j/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.users","title":"Dataset.Users","anchor":{"attribute":{"identifier":"attr.users.id","title":"Attr.Users.Id","folder":"Dataset.Users","labels":[{"label":{"identifier":"label.user[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/s10gvd9kscbk48pu908q7pz814294x7j/model/diff/f42a7538edaa9d8109593bcdd9e48d810954b897312303f300000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - q7FRSkwyZmQvyEEkqMvbtA:OSGjJYgc8sgNCNBKCPUmxg
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/s10gvd9kscbk48pu908q7pz814294x7j/model/diff/f42a7538edaa9d8109593bcdd9e48d810954b897312303f300000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - q7FRSkwyZmQvyEEkqMvbtA:OSGjJYgc8sgNCNBKCPUmxg:x3pf6FY82zshy1So
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/s10gvd9kscbk48pu908q7pz814294x7j/model/diff/f42a7538edaa9d8109593bcdd9e48d810954b897312303f300000018"}}}'
  recorded_at: Wed, 10 Oct 2018 10:32:02 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/s10gvd9kscbk48pu908q7pz814294x7j
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - q7FRSkwyZmQvyEEkqMvbtA:qwQuleCF6FVpo74EPyPh9g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charse[...]
- request:
    method: get
[...]
