---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["created_on.date"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:XDdQ4vmnmfyw29YM3JSuNg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:XDdQ4vmnmfyw29YM3JSuNg:DNEw0VNtS0aTWu8N
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"created_on.date","uri":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/140"}]}'
  recorded_at: Tue, 05 Jun 2018 06:24:52 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/140
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:RvhHoVDxhQxyMijxQY-OmQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:RvhHoVDxhQxyMijxQY-OmQ:IHGxBdL7C5DFlPIU
      X-Gdc-Request-Time:
      - '63'
    body:
      encoding: ASCII-8BIT
      string: '{"attribute":{"content":{"direction":"asc","sort":"pk","pk":[{"type":"col","data":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/99"}],"dimension":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/20","type":"GDC.time.date","displayForms":[{"content":{"formOf":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/140","expression":"[/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/119]","default":1,"type":"GDC.time.day_us"},"links":{"elements":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/179/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/179","tags":"","created":"2010-08-02
        08:13:42","identifier":"created_on.date.mmddyyyy","deprecated":"0","summary":"DisplayForm
        mm/dd/yyyy.","isProduction":1,"title":"mm/dd/yyyy (Created On)","category":"attributeDisplayForm","updated":"2018-06-05
        08:24:14","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}},{"content":{"formOf":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/140","expression":"[/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/118]","default":2,"type":"GDC.time.day"},"links":{"elements":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/178/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/178","tags":"","created":"2010-08-02
        08:13:42","identif[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT COUNT([/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/140])"},"meta":{"tags":"","summary":null,"title":"Count
        of days in DD"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:Rg432-HHs4ypPo9Rq3-lYg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:Rg432-HHs4ypPo9Rq3-lYg:OZXWIo7ZFPXSzHQH
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/398"}'
  recorded_at: Tue, 05 Jun 2018 06:24:53 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/398
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:3OdCf3OKb5fQhnVRiz4M1g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:3OdCf3OKb5fQhnVRiz4M1g:J4aGYKuVj7Flrpy7
      X-Gdc-Request-Time:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"COUNT","content":[{"value":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/140","position":{"column":27,"line":1},"type":"attribute
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        COUNT([/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/140])"},"links":{"explain2":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/398/explain2"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/398","tags":"","created":"2018-06-05
        08:24:53","identifier":"aadeVc3QdNQy","deprecated":"0","summary":"","isProduction":1,"title":"Count
        of days in DD","category":"metric","updated":"2018-06-05 08:24:53","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 06:24:54 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/179
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:ZtXa0y9t2COdzSB2EvLiUA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:ZtXa0y9t2COdzSB2EvLiUA:RbsZ2ZPlivhf7tSX
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/140","expression":"[/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/119]","default":1,"type":"GDC.time.day_us"},"links":{"elements":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/179/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/179","tags":"","created":"2010-08-02
        08:13:42","identifier":"created_on.date.mmddyyyy","deprecated":"0","summary":"DisplayForm
        mm/dd/yyyy.","isProduction":1,"title":"mm/dd/yyyy (Created On)","category":"attributeDisplayForm","updated":"2018-06-05
        08:24:14","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 06:24:56 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj
    body:
      encoding: UTF-8
      string: '{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[{"attribute":{"alias":"","totals":[],"uri":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/179"}}],"metrics":[{"alias":"Count
        of days in DD","uri":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/398"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"meta":{"tags":"","summary":"","title":"Untitled
        report definition"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:j28Jj0iq06Jks4JyE0x-jg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:j28Jj0iq06Jks4JyE0x-jg:4MASbkpNgbOUVYeZ
      X-Gdc-Request-Time:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/399"}'
  recorded_at: Tue, 05 Jun 2018 06:25:00 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj
    body:
      encoding: UTF-8
      string: '{"report":{"content":{"domains":[],"definitions":["/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/399"]},"meta":{"tags":"","deprecated":"0","summary":"","title":"Beautiful
        report"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:_GX-LlrtIzJe1RrOVP3RVA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:_GX-LlrtIzJe1RrOVP3RVA:MvFdMKEn9HqLWZDI
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/400"}'
  recorded_at: Tue, 05 Jun 2018 06:25:01 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT COUNT([/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/140])"},"meta":{"tags":"","summary":null,"title":"Count
        of days in DD Secret","deprecated":"1","flags":["deprecated"]}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:SuAVYb2vLKdT3qdPTFSvwg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:SuAVYb2vLKdT3qdPTFSvwg:s2Nju816XFk3VTJ5
      X-Gdc-Request-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/401"}'
  recorded_at: Tue, 05 Jun 2018 06:25:04 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/141/validElements?filter=2015&limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:pq3GKUyTepp08w6TmKFBCg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:pq3GKUyTepp08w6TmKFBCg:4STAXAKQJHhe8tBb
      X-Gdc-Request-Time:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/123","filter":"2015","order":"asc","attributeDisplayForm":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/141"},"paging":{"count":1,"total":"1","offset":"0"},"items":[{"element":{"title":"2015","uri":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/123/elements?id=2015"}}]}}'
  recorded_at: Tue, 05 Jun 2018 06:25:15 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj
    body:
      encoding: UTF-8
      string: '{"prompt":{"content":{"attribute":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/123","type":"filter"},"meta":{"tags":"","deprecated":"0","summary":"","title":"uaaa","category":"prompt"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:DaQd4DrWeXfDEBrwl_EWVQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:DaQd4DrWeXfDEBrwl_EWVQ:BGSAUytDVo95hqRf
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/406"}'
  recorded_at: Tue, 05 Jun 2018 06:25:23 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/variables/search
    body:
      encoding: UTF-8
      string: '{"variablesSearch":{"variables":["/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/406"],"context":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:gTvM8Vl5rR5qFHEw1om9NQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:gTvM8Vl5rR5qFHEw1om9NQ:0lZ81vRDUUk4zsWe
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"variables":[]}'
  recorded_at: Tue, 05 Jun 2018 06:25:24 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:tF9TdaKEXWNomuurP-o_1g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:tF9TdaKEXWNomuurP-o_1g:AmqScnkyqA21ur5B
      X-Gdc-Request-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/roles/2"],"phonenumber":"","status":"ENABLED","lastname":"1","login":"rubydev+admin@gooddata.com"},"links":{"roles":"/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/users/5ad80b895edcc438e5a4418e222733fa/roles","permissions":"/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/users/5ad80b895edcc438e5a4418e222733fa/permissions","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","projectRelUri":"/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/users/5ad80b895edcc438e5a4418e222733fa"},"meta":{"created":"2017-02-10
        12:18:01","updated":"2018-06-04 11:38:25","author":"/gdc/account/profile/25b25d6c1cd5816c6de55f95b119d8cc","title":"the
        1","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}'
  recorded_at: Tue, 05 Jun 2018 06:25:25 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/141/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:FwdRHZHNoY1KmIVWBvTQCQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:FwdRHZHNoY1KmIVWBvTQCQ:j4AXxLltFaUy0YpZ
      X-Gdc-Request-Time:
      - '127'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/123","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/141"},"paging":{"count":1,"total":"152","offset":"0"},"items":[{"element":{"title":"","uri":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/123/elements?id=0"}}]}}'
  recorded_at: Tue, 05 Jun 2018 06:25:26 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/variables/user
    body:
      encoding: UTF-8
      string: '{"variables":[{"related":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","level":"user","expression":"[/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/123]
        IN ([/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/123/elements?id=2015], [/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/123/elements?id=2016])","type":"filter","prompt":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/406"}]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:3k8edKZ0CWjVURnKjs0rdw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:3k8edKZ0CWjVURnKjs0rdw:2ZXfVsEsyx6rGLwx
      X-Gdc-Request-Time:
      - '79'
    body:
      encoding: ASCII-8BIT
      string: '{"uris":["/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/variables/item/1"]}'
  recorded_at: Tue, 05 Jun 2018 06:25:29 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:_o-oPaDBgcwcTzBkDefa7Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:_o-oPaDBgcwcTzBkDefa7Q:o8iN5PuS5OKxsh8N
      X-Gdc-Request-Time:
      - '596'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":37,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/39"}],"displayForms":[{"content":{"formOf":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/123","expression":"[/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/40]","default":1},"links":{"elements":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/141/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/141","tags":"","created":"2010-08-02
        08:13:42","identifier":"created_on.aag81lMifn6q","deprecated":"0","summary":"DisplayForm
        Year.","isProduction":1,"title":"Year (Created On)","category":"attributeDisplayForm","updated":"2018-06-05
        08:24:14","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/173","sort":"pk","dimension":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/20","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/87"},{"multivalue":false,"type":"col","data":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/95"},{"multivalue":false,"type":"col","data":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/110"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/123","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"created_on.year","deprecated":"0","[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/usedby2/288
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:mj6NQ2qoVtXgUrBGvf57vA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:mj6NQ2qoVtXgUrBGvf57vA:hDFGXEFyoUczubMF
      X-Gdc-Request-Time:
      - '271'
    body:
      encoding: ASCII-8BIT
      string: '{"entries":[{"link":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/348","locked":0,"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","created":"2010-08-02
        08:13:42","identifier":"created_on_2.dataset.dt","deprecated":"0","summary":"DataSet
        Date","unlisted":0,"title":"Date (Created On 2)","category":"dataSet","updated":"2018-06-05
        08:24:16","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"},{"link":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/306","locked":0,"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","created":"2010-08-02
        08:13:42","identifier":"created_on_2.aag81lMifn6q","deprecated":"0","summary":"DisplayForm
        Year.","unlisted":0,"title":"Year (Created On 2)","category":"attributeDisplayForm","updated":"2018-06-05
        08:24:16","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}]}'
  recorded_at: Tue, 05 Jun 2018 06:25:31 GMT
[...]
