---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["created_on.date"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:nTSDVgOxu245Qy4YafsTSA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:nTSDVgOxu245Qy4YafsTSA:B7T3138tIOy1NIc9
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"created_on.date","uri":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/140"}]}'
  recorded_at: Tue, 05 Jun 2018 06:24:40 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/140
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:C3pbXrqEFw2AyRw9zKv2gg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:C3pbXrqEFw2AyRw9zKv2gg:PnE52I4tihvCHi4f
      X-Gdc-Request-Time:
      - '151'
    body:
      encoding: ASCII-8BIT
      string: '{"attribute":{"content":{"direction":"asc","sort":"pk","pk":[{"type":"col","data":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/99"}],"dimension":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/20","type":"GDC.time.date","displayForms":[{"content":{"formOf":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/140","expression":"[/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/119]","default":1,"type":"GDC.time.day_us"},"links":{"elements":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/179/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/179","tags":"","created":"2010-08-02
        08:13:42","identifier":"created_on.date.mmddyyyy","deprecated":"0","summary":"DisplayForm
        mm/dd/yyyy.","isProduction":1,"title":"mm/dd/yyyy (Created On)","category":"attributeDisplayForm","updated":"2018-06-05
        08:24:14","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}},{"content":{"formOf":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/140","expression":"[/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/118]","default":2,"type":"GDC.time.day"},"links":{"elements":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/178/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/178","tags":"","created":"2010-08-02
        08:13:42","identif[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT COUNT([/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/140])"},"meta":{"tags":"","summary":null,"title":"test_metric"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:vhJ9xv94l_O9Qzw-n-Muqg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:vhJ9xv94l_O9Qzw-n-Muqg:yTPLxbcwT6HUqWEL
      X-Gdc-Request-Time:
      - '80'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/395"}'
  recorded_at: Tue, 05 Jun 2018 06:24:41 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/395
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:0OxLkI2RS9GjvlcvVz5TqQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:0OxLkI2RS9GjvlcvVz5TqQ:OsxiDb4mw0jpptgb
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"COUNT","content":[{"value":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/140","position":{"column":27,"line":1},"type":"attribute
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        COUNT([/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/140])"},"links":{"explain2":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/395/explain2"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/395","tags":"","created":"2018-06-05
        08:24:41","identifier":"aabeVc3QdNQy","deprecated":"0","summary":"","isProduction":1,"title":"test_metric","category":"metric","updated":"2018-06-05
        08:24:41","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 06:24:42 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/173
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:2XOqV6D3xCC37ZIbqlFPIA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:2XOqV6D3xCC37ZIbqlFPIA:MmhL7fdzMYHQ3Rjs
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/138","expression":"[/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/89]","default":1},"links":{"elements":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/173/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/173","tags":"","created":"2010-08-02
        08:13:42","identifier":"created_on.aci81lMifn6q","deprecated":"0","summary":"DisplayForm
        US Short.","isProduction":1,"title":"US Short (Created On)","category":"attributeDisplayForm","updated":"2018-06-05
        08:24:14","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 06:24:44 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/141/validElements?filter=2015&limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:yuweIxysQSph7nkTQx0i5w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:yuweIxysQSph7nkTQx0i5w:7BVhSGHJZBqOWsHD
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/123","filter":"2015","order":"asc","attributeDisplayForm":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/141"},"paging":{"count":1,"total":"1","offset":"0"},"items":[{"element":{"title":"2015","uri":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/123/elements?id=2015"}}]}}'
  recorded_at: Tue, 05 Jun 2018 06:24:46 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj
    body:
      encoding: UTF-8
      string: '{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[{"attribute":{"alias":"","totals":[],"uri":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/173"}}],"metrics":[{"alias":"test_metric","uri":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/395"}],"rows":["metricGroup"]},"format":"grid","filters":[{"expression":"[/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/123]
        IN ([/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/123/elements?id=2015], [/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/123/elements?id=2016])"}]},"meta":{"tags":"","summary":"","title":"Untitled
        report definition"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:OsWtBTDn84viTW_Zin25kQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:OsWtBTDn84viTW_Zin25kQ:Qke3vOGZCZbyZld6
      X-Gdc-Request-Time:
      - '46'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/396"}'
  recorded_at: Tue, 05 Jun 2018 06:24:48 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj
    body:
      encoding: UTF-8
      string: '{"report":{"content":{"domains":[],"definitions":["/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/396"]},"meta":{"tags":"","deprecated":"0","summary":"","title":"test_report"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:CtDllLdC2knpYgFQYOCb6w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:CtDllLdC2knpYgFQYOCb6w:yn0jTCUrLClx377a
      X-Gdc-Request-Time:
      - '63'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/397"}'
  recorded_at: Tue, 05 Jun 2018 06:24:49 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"report":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/397","timestamp":1528179890}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:6nSrf7_fgkSpTVy7FeB_4g
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/dataResult/8106174132945484800"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:6nSrf7_fgkSpTVy7FeB_4g:g1gwK08AuOmypiAm
      X-Gdc-Request-Time:
      - '574'
    body:
      encoding: ASCII-8BIT
      string: '{"execResult":{"reportView":{"reportName":"test_report","columnWidths":[],"filters":[{"tree":{"content":[{"value":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/123","position":{"column":14,"line":1},"type":"attribute
        object"},{"content":[{"value":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/123/elements?id=2015","position":{"column":69,"line":1},"type":"attributeElement
        object"},{"value":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/123/elements?id=2016","position":{"column":138,"line":1},"type":"attributeElement
        object"}],"position":{"column":69,"line":1},"type":"list"}],"position":{"column":65,"line":1},"type":"in"},"expression":"[/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/123]
        IN ([/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/123/elements?id=2015], [/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/123/elements?id=2016])"}],"rows":["metricGroup"],"sort":{"columns":[],"rows":[]},"format":"grid","columns":[{"displayFormId":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/173","baseElementURI":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/138/elements?id=","attributeId":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/138","drillDownStepAttributeDF":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/174","sort":"pk","summary":"Quarter
        and Year (Q1/2010)","attributeTitle":"Quarter/Year (Created On)","title":"Quarter/Year
        (Created On)","totals":[[]]}],"metrics":[{"format":"#,##0","summary":"","title":"test_metric","metricId":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/395"}]},"reportDefinition":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/obj/396","dataResult":"/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/dataResult/8106174132945484800"}}'
  recorded_at: Tue, 05 Jun 2018 06:24:51 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/r7xe9mposi3tl8twqz0mr6zcv8hxduk6/dataResult/8106174132945484800
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:56hD1jug5EOUhlkoHK9BQQ
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Execution-Time:
      - '181'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wEYDmxESxrPT-HTi4AN9wg:56hD1jug5EOUhlkoHK9BQQ:ViC4nviQ8u3eQfoX
      X-Gdc-Request-Time:
      - '66'
    body:
      encoding: ASCII-8BIT
      string: '{"xtab_data":{"columns":{"tree":{"index":{"8065":[4],"8066":[5],"8062":[1],"8063":[2],"8068":[7],"8067":[6],"8061":[0],"8064":[3]},"first":0,"last":7,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"normal","id":"8061"},{"index":{},"first":1,"last":1,"children":[],"type":"normal","id":"8062"},{"index":{},"first":2,"last":2,"children":[],"type":"normal","id":"8063"},{"index":{},"first":3,"last":3,"children":[],"type":"normal","id":"8064"},{"index":{},"first":4,"last":4,"children":[],"type":"normal","id":"8065"},{"index":{},"first":5,"last":5,"children":[],"type":"normal","id":"8066"},{"index":{},"first":6,"last":6,"children":[],"type":"normal","id":"8067"},{"index":{},"first":7,"last":7,"children":[],"type":"normal","id":"8068"}],"type":"root","id":null},"lookups":[{"8065":"Q1/2016","8066":"Q2/2016","8062":"Q2/2015","8063":"Q3/2015","8068":"Q4/2016","8067":"Q3/2016","8061":"Q1/2015","8064":"Q4/2015"}]},"data":[["90","91","92","92","91","91","92","92"]],"overall_size":{"columns":8,"rows":1},"rows":{"tree":{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"root","id":null},"lookups":[{"0":"test_metric"}]},"offset":{"columns":0,"rows":0},"size":{"columns":8,"rows":1}}}'
  recorded_at: Tue, 05 Jun 2018 06:24:51 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/iuhske32nkyrac6qzcbxg46d8as6t0h0/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["created_on.date"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Ok1X4HxZieGkDOjr08cWVw:pFdqmKfDrh-yPasrIiuFrw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Ok1X4HxZieGkDOjr08cWVw:pFdqmKfDrh-yPasrIiuFrw:lF6ga9niVosuft2p
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"created_on.date","uri":"/gdc/md/iuhske32nkyrac6qzcbxg46d8as6t0h0/obj/143"}]}'
  recorded_at: Fri, 05 Oct 2018 12:36:26 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/iuhske32nkyrac6qzcbxg46d8as6t0h0/obj/143
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Ok1X4HxZieGkDOjr08cWVw:Svis7kbzqG_o5KbhJAXHpg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/iuhske32nkyrac6qzcbxg46d8as6t0h0/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT COUNT([/gdc/md/iuhske32nkyrac6qzcbxg46d8as6t0h0/obj/143])"},"meta":{"tags":"","summary":null,"title":"test_metric"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Ok1X4HxZieGkDOjr08cWVw:7wwtsrF18t13ZmWhTaBh-Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Ok1X4HxZieGkDOjr08cWVw:7wwtsrF18t13ZmWhTaBh-Q:2V7zJnnRc758hEEj
      X-Gdc-Request-Time:
      - '98'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/iuhske32nkyrac6qzcbxg46d8as6t0h0/obj/398"}'
  recorded_at: Fri, 05 Oct 2018 12:36:27 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/iuhske32nkyrac6qzcbxg46d8as6t0h0/obj/144/validElements?filter=2015&limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Ok1X4HxZieGkDOjr08cWVw:QC8QV_BffQvhp5XiD-9WbA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Ok1X4HxZieGkDOjr08cWVw:QC8QV_BffQvhp5XiD-9WbA:XX8QuWCHt8cv2HDH
      X-Gdc-Request-Time:
      - '197'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/iuhske32nkyrac6qzcbxg46d8as6t0h0/obj/126","filter":"2015","order":"asc","attributeDisplayForm":"/gdc/md/iuhske32nkyrac6qzcbxg46d8as6t0h0/obj/144"},"paging":{"count":1,"total":"1","offset":"0"},"items":[{"element":{"title":"2015","uri":"/gdc/md/iuhske32nkyrac6qzcbxg46d8as6t0h0/obj/126/elements?id=2015"}}]}}'
  recorded_at: Fri, 05 Oct 2018 12:36:32 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/iuhske32nkyrac6qzcbxg46d8as6t0h0/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"report":"/gdc/md/iuhske32nkyrac6qzcbxg46d8as6t0h0/obj/400","timestamp":1538742996}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Ok1X4HxZieGkDOjr08cWVw:1CKm4IKTsFC1GquuRNgfCA
  response:
    status:
      code: 201
      [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/iuhske32nkyrac6qzcbxg46d8as6t0h0/dataResult/7742953653614967808
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Ok1X4HxZieGkDOjr08cWVw:wJAYiy-xChBvwetHXwxRXg
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Execution-Tim[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/s10gvd9kscbk48pu908q7pz814294x7j/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["created_on.date"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - q7FRSkwyZmQvyEEkqMvbtA:AqUnV_EbxABRwious-PI2w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - q7FRSkwyZmQvyEEkqMvbtA:AqUnV_EbxABRwious-PI2w:y9VZxVqDzoQ2i9e2
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"created_on.date","uri":"/gdc/md/s10gvd9kscbk48pu908q7pz814294x7j/obj/143"}]}'
  recorded_at: Wed, 10 Oct 2018 10:32:22 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/s10gvd9kscbk48pu908q7pz814294x7j/obj/143
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - q7FRSkwyZmQvyEEkqMvbtA:CDZbVG8gs4E9KM1n41EkTQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/s10gvd9kscbk48pu908q7pz814294x7j/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT COUNT([/gdc/md/s10gvd9kscbk48pu908q7pz814294x7j/obj/143])"},"meta":{"tags":"","summary":null,"title":"test_metric"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - q7FRSkwyZmQvyEEkqMvbtA:kYyZoai3IL08JMatj-vnsA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - q7FRSkwyZmQvyEEkqMvbtA:kYyZoai3IL08JMatj-vnsA:oVw6JBIg9cGrOMjR
      X-Gdc-Request-Time:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/s10gvd9kscbk48pu908q7pz814294x7j/obj/398"}'
  recorded_at: Wed, 10 Oct 2018 10:32:23 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/s10gvd9kscbk48pu908q7pz814294x7j/obj/144/validElements?filter=2015&limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - q7FRSkwyZmQvyEEkqMvbtA:KTmtzooyphRjSJzY_DFGzw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - q7FRSkwyZmQvyEEkqMvbtA:KTmtzooyphRjSJzY_DFGzw:pSLgzQ9PAgPJoW1F
      X-Gdc-Request-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/s10gvd9kscbk48pu908q7pz814294x7j/obj/126","filter":"2015","order":"asc","attributeDisplayForm":"/gdc/md/s10gvd9kscbk48pu908q7pz814294x7j/obj/144"},"paging":{"count":1,"total":"1","offset":"0"},"items":[{"element":{"title":"2015","uri":"/gdc/md/s10gvd9kscbk48pu908q7pz814294x7j/obj/126/elements?id=2015"}}]}}'
  recorded_at: Wed, 10 Oct 2018 10:32:29 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/s10gvd9kscbk48pu908q7pz814294x7j/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"report":"/gdc/md/s10gvd9kscbk48pu908q7pz814294x7j/obj/400","timestamp":1539167553}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - q7FRSkwyZmQvyEEkqMvbtA:t-T2bZDpg20CNkzEMEXt1w
  response:
    status:
      code: 201
      [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/s10gvd9kscbk48pu908q7pz814294x7j/dataResult/1946004427986009856
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - q7FRSkwyZmQvyEEkqMvbtA:53QIeM3wnGcEaho2QeLQbg
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Execution-Tim[...]
