---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:8KaSKKbsiVGz7wdQK5cnhQ
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:8KaSKKbsiVGz7wdQK5cnhQ:Oc7IMBTSewzATa5r
      X-Gdc-Request-Time:
      - '51'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Mon, 21 May 2018 12:05:32 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:u1Srv7Nm5jCR4X_6sG50Bg
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:u1Srv7Nm5jCR4X_6sG50Bg:VCmOOqOvwf2VSpZD
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Mon, 21 May 2018 12:05:32 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:OIekc6l-Y_sawYbf4PHtUw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:OIekc6l-Y_sawYbf4PHtUw:PZdlN3xi7iW3QIj1
      X-Gdc-Request-Time:
      - '56'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-05-21
        13:45:05","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","timezone":null,"language":"en-US","ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Mon, 21 May 2018 12:05:33 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:Q-19Jh23MM2dU6gM2-oD_A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:Q-19Jh23MM2dU6gM2-oD_A:tHU9AVJnv1vbgXMm
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Mon, 21 May 2018 12:05:34 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"RubyGem Dev Week
        test"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:CVkGxnGtFU8WnSFfzmpfqw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:CVkGxnGtFU8WnSFfzmpfqw:g8nUlIyGDR6rNU6c
      X-Gdc-Request-Time:
      - '538'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/sdixw5jc8mwtffse2og3edop2jtrrpki"}'
  recorded_at: Mon, 21 May 2018 12:05:35 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/sdixw5jc8mwtffse2og3edop2jtrrpki
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:Uo1u6D3tWIJaliiMAHbXiA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:Uo1u6D3tWIJaliiMAHbXiA:oZLe0ic8q8aNdIKR
      X-Gdc-Request-Time:
      - '101'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/sdixw5jc8mwtffse2og3edop2jtrrpki/ldm?thumbnail=1","self":"/gdc/projects/sdixw5jc8mwtffse2og3edop2jtrrpki","clearCaches":"/gdc/projects/sdixw5jc8mwtffse2og3edop2jtrrpki/clearCaches","invitations":"/gdc/projects/sdixw5jc8mwtffse2og3edop2jtrrpki/invitations","users":"/gdc/projects/sdixw5jc8mwtffse2og3edop2jtrrpki/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/sdixw5jc8mwtffse2og3edop2jtrrpki/uploads/","ldm":"/gdc/projects/sdixw5jc8mwtffse2og3edop2jtrrpki/ldm","metadata":"/gdc/md/sdixw5jc8mwtffse2og3edop2jtrrpki","publicartifacts":"/gdc/projects/sdixw5jc8mwtffse2og3edop2jtrrpki/publicartifacts","roles":"/gdc/projects/sdixw5jc8mwtffse2og3edop2jtrrpki/roles","userRoles":"/gdc/projects/sdixw5jc8mwtffse2og3edop2jtrrpki/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/sdixw5jc8mwtffse2og3edop2jtrrpki/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/sdixw5jc8mwtffse2og3edop2jtrrpki/dataload","connectors":"/gdc/projects/sdixw5jc8mwtffse2og3edop2jtrrpki/connectors","execute":"/gdc/projects/sdixw5jc8mwtffse2og3edop2jtrrpki/execute","config":"/gdc/projects/sdixw5jc8mwtffse2og3edop2jtrrpki/config","projectFeatureFlags":"/gdc/projects/sdixw5jc8mwtffse2og3edop2jtrrpki/projectFeatureFlags","schedules":"/gdc/projects/sdixw5jc8mwtffse2og3edop2jtrrpki/schedules","templates":"/gdc/md/sdixw5jc8mwtffse2og3edop2jtrrpki/templates","eventstores":"/gdc/projects/sdixw5jc8mwtffse2og3edop2jtrrpki/dataload/eventstore/stores"},"meta":{"created":"2018-05-21
        14:05:34","summary":"No summary","updated":"2018-05-21 14:05:36","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"RubyGem
        Dev Week test","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Mon, 21 May 2018 12:05:39 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/sdixw5jc8mwtffse2og3edop2jtrrpki/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"This is
        anchor description","defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"some_attr_id","title":"Repository
        Name","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_attr_label_id","title":"Repository
        Name","type":"GDC.text","dataType":"VARCHAR(10000)"}}],"defaultLabel":"some_attr_label_id"}}],"facts":[],"references":[]}},{"dataset":{"identifier":"dataset.devs","title":"Developers","anchor":{"attribute":{"identifier":"attr.devs.dev_id","title":"Dev","folder":"Anchor
        folder","labels":[{"label":{"identifier":"label.devs.dev_id.id","title":"Id","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.devs.dev_id.email","title":"Email","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.devs.dev_id.email"}},"attributes":[],"facts":[],"references":[]}},{"dataset":{"identifier":"dataset.commits","title":"Commits","anchor":{"attribute":{"identifier":"attr.commits.factsof","title":"Attr.Commits.Factsof","folder":"Commits"}},"attributes":[],"facts":[{"fact":{"identifier":"fact.commits.lines_changed","title":"Lines
        Changed","folder":"Commits","dataType":"DECIMAL(12,2)","type":"fact","description":"Fact
        description"}}],"references":["committed_on","dataset.devs","dataset.repos"]}}],"dateDimensions":[{"dateDimension":{"name":"committed_on","title":"Committed
        On"}}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:G2-UrL0lfy2Lh8zRHODNpg
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/sdixw5jc8mwtffse2og3edop2jtrrpki/model/diff/0682252c0480c17120d7fba1ff5a789601cd72c41efeff090000006e"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:G2-UrL0lfy2Lh8zRHODNpg:R7HlMU4RIgj93Zen
      X-Gdc-Request-Time:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/sdixw5jc8mwtffse2og3edop2jtrrpki/model/diff/0682252c0480c17120d7fba1ff5a789601cd72c41efeff090000006e"}}}'
  recorded_at: Mon, 21 May 2018 12:05:43 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/sdixw5jc8mwtffse2og3edop2jtrrpki/model/diff/0682252c0480c17120d7fba1ff5a789601cd72c41efeff090000006e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:WLeXw4AHXHS_HdM4Fvy5ag
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:WLeXw4AHXHS_HdM4Fvy5ag:ckbClBUGBv4Sa0eN
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"dataset.create","dataset":"dataset.repos","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Repositories"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.devs","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Developers"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.commits","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Commits"]}},{"updateOperation":{"type":"date-dimension.create","destructive":false,"description":"Create
        date dimension ''%s''","parameters":["Committed On[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/sdixw5jc8mwtffse2og3edop2jtrrpki
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:OxFKGViaVL8D0SwUNh6IiA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:OxFKGViaVL8D0SwUNh6IiA:2VR4uOKWQsoDdbFE
      X-Gdc-Request-Time:
      - '72'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''sdixw5jc8mwtffse2og3edop2jtrrpki''","category":"project","instance":"sdixw5jc8mwtffse2og3edop2jtrrpki","links":[{"link":"/gdc/md/sdixw5jc8mwtffse2og3edop2jtrrpki/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/sdixw5jc8mwtffse2og3edop2jtrrpki/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/sdixw5jc8mwtffse2og3edop2jtrrpki/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","ca[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/sdixw5jc8mwtffse2og3edop2jtrrpki/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:wrevvdIjVXK0R7mdzJp3rA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/sdixw5jc8mwtffse2og3edop2jtrrpki/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE FOLDER {dim.commits} VISUAL(TITLE \"Commits\")
        TYPE ATTRIBUTE;\nCREATE FOLDER {dim.folderedrepos} VISUAL(TITLE \"Foldered
        Repos\") TYPE ATTRIBUTE;\nCREATE FOLDER {dim.anchorfolder} VISUAL(TITLE \"Anchor
        folder\") TYPE ATTRIBUTE;\nCREATE FOLDER {ffld.commits} VISUAL(TITLE \"Commits\")
        TYPE FACT;\nCREATE DATASET {dataset.repos} VISUAL(TITLE \"Repositories\");\nCREATE
        DATASET {dataset.devs} VISUAL(TITLE \"Developers\");\nCREATE DATASET {dataset.commit[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/sdixw5jc8mwtffse2og3edop2jtrrpki/tasks/88de97aca15f683ae12481132b9acb0a0000002d/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:vnWBW0mvCUFp1dE8y8Wa8w
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:vnWBW0mvCUFp1dE8y8Wa8w:cJfzltdaCAdoSL5k
      X-Gdc-Request-Time:
      - '71'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/sdixw5jc8mwtffse2og3edop2jtrrpki/tasks/88de97aca15f683ae12481132b9acb0a0000002d/status","status":"RUNNING","links":{"poll":"/gdc/md/sdixw5jc8mwtffse2og3edop2jtrrpki/tasks/88de97aca15f683ae12481132b9acb0a0000002d/status"}}}'
  recorded_at: Mon, 21 May 2018 12:05:59 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LF2-myJxAO7wrpqve766ww:l472nQ4HbE8-yrMHOduGig
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '17'
      X-Gdc-Request:
      - LF2-myJxAO7wrpqve766ww:l472nQ4HbE8-yrMHOduGig:p7qL8eau13J2ujHB
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 21 May 2018 12:08:28 GMT
recorded_with: VCR 4.0.0
