---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/sdixw5jc8mwtffse2og3edop2jtrrpki/model/view?includeCA=true&includeDeprecated=true&includeGrain=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:TwPtHvwCzq7YaQGKvGw81w
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/sdixw5jc8mwtffse2og3edop2jtrrpki/model/view/5881fc9b61d0307a3f80f1304a14f5f101cd72c7246ad3010000006e"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:TwPtHvwCzq7YaQGKvGw81w:wfT1Fh2eWsnrzmha
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/sdixw5jc8mwtffse2og3edop2jtrrpki/model/view/5881fc9b61d0307a3f80f1304a14f5f101cd72c7246ad3010000006e"}}}'
  recorded_at: Mon, 21 May 2018 12:07:14 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/sdixw5jc8mwtffse2og3edop2jtrrpki/model/view/5881fc9b61d0307a3f80f1304a14f5f101cd72c7246ad3010000006e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:n7wgBRSjhJ74kdLZ2PP5TA
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/sdixw5jc8mwtffse2og3edop2jtrrpki/model/view/5881fc9b61d0307a3f80f1304a14f5f101cd72c7246ad3010000006e"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:n7wgBRSjhJ74kdLZ2PP5TA:LCTPX0HkbLoFfqea
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/sdixw5jc8mwtffse2og3edop2jtrrpki/model/view/5881fc9b61d0307a3f80f1304a14f5f101cd72c7246ad3010000006e"}}}'
  recorded_at: Mon, 21 May 2018 12:07:15 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/sdixw5jc8mwtffse2og3edop2jtrrpki/model/view/5881fc9b61d0307a3f80f1304a14f5f101cd72c7246ad3010000006e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:Wbx7SvdfdaQcizNGFCuyhw
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:Wbx7SvdfdaQcizNGFCuyhw:E7BLN1eFERNMkFk3
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelView":{"model":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","description":"This is anchor description","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"some_label_id","flags":[]}},"attributes":[{"attribute":{"identifier":"some_attr_id","title":"Repository
        Name","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_attr_label_id","title":"Repository
        Name","type":"GDC.text","dataType":"VARCHAR(10000)"}}],"defaultLabel":"some_attr_label_id","flags":[]}}],"production":true}},{"dataset":{"identifier":"dataset.devs","title":"Developers","anchor":{"attribute":{"identifier":"attr.devs.dev_id","title":"Dev","folder":"Anchor
        folder","labels":[{"label":{"identifier":"label.devs.dev_id.email","title":"Email","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.devs.dev_id.id","title":"Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.devs.dev_id.email","flags":[]}},"production":true}},{"dataset":{"identifier":"dataset.commits","title":"Commits","anchor":{"attribute":{"identifier":"attr.commits.factsof","title":"Attr.Commits.Factsof","folder":"Commits","labels":[{"label":{"identifier":"label.commits.factsof.id","title":"Label.Commits.Factsof.Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.commits.factsof.id","flags":[]}},"facts":[{"fact":{"identifier":"fact.commits.lines_changed","title":"Lines
        Changed","description":"Fact description","folder":"Commits","dataType":"DECIMAL(12,2)","type":"numeric","restricted":false,"flags":[]}}],"references":["dataset.repos","dataset.devs","committed_on"],"production":true}}],"dateDimensions":[{"dateDimension":{"name":"committed_on","title":"Committed
        On","production":true,"urn":"urn:gooddata:date","identifier":"committed_on.dataset.dt","identifierPrefix":"committed_on"}}]}}}}'
  recorded_at: Mon, 21 May 2018 12:07:25 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/sdixw5jc8mwtffse2og3edop2jtrrpki/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"This is
        anchor description","defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"som[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/sdixw5jc8mwtffse2og3edop2jtrrpki/model/diff/e2d1f3adcb08cb82f2094307980f1a5f01cd72c4252beef50000006e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:n5zQKtWf620RySxqUhlHQA
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/sdixw5jc8mwtffse2og3edop2jtrrpki/model/diff/e2d1f3adcb08cb82f2094307980f1a5f01cd72c4252beef50000006e"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:n5zQKtWf620RySxqUhlHQA:c3Gn6joO9ZMEErPf
      X-Gdc-Request-Time:
      - '16'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/sdixw5jc8mwtffse2og3edop2jtrrpki/model/diff/e2d1f3adcb08cb82f2094307980f1a5f01cd72c4252beef50000006e"}}}'
  recorded_at: Mon, 21 May 2018 12:07:27 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/sdixw5jc8mwtffse2og3edop2jtrrpki/model/diff/e2d1f3adcb08cb82f2094307980f1a5f01cd72c4252beef50000006e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:Ygl6DJW75fzu50U2zHE2Ag
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:Ygl6DJW75fzu50U2zHE2Ag:3kL30nq0Af8zxd4D
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"label.drop","dataset":"dataset.commits","destructive":true,"description":"Drop
        label ''%s'' for ''%s''","parameters":["Label.Commits.Factsof.Id","Attr.Commits.Factsof"]}}],"updateScripts":[{"updateScript":{"maqlDdl":"DROP
        {label.commits.factsof.id};\nSYNCHRONIZE {dataset.commits} PRESERVE DATA;","maqlDdlChunks":["DROP
        {label.commits.factsof.id};\nSYNCHRONIZE {dataset.commits} PRESERVE DATA;"],"preserveData":true,"cascadeDrops":false}},{"updateScript":{"maqlDdl":"DROP
        {label.commits.factsof.id};\nSYNCHRONIZE {dataset.commits};","maqlDdlChunks":["DROP
        {label.commits.factsof.id};\nSYNCHRONIZE {dataset.commits};"],"preserveData":false,"cascadeDrops":false}}]}}'
  recorded_at: Mon, 21 May 2018 12:07:38 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/sdixw5jc8mwtffse2og3edop2jtrrpki/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:EUDW2r1qIBHxLlSB7Oap-g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:EUDW2r1qIBHxLlSB7Oap-g:4NOYb6rFwV71kGOf
      X-Gdc-Request-Time:
      - '14'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Resources for logical data model (LDM) manipulation
        within project ''sdixw5jc8mwtffse2og3edop2jtrrpki''","category":"ldm","instance":"sdixw5jc8mwtffse2og3edop2jtrrpki","links":[{"link":"/gdc/md/sdixw5jc8mwtffse2og3edop2jtrrpki/ldm/manage2","summary":"Resources
        for model manipulation with categorized result.","category":"ldm-manage2","title":"manage2"},{"link":"/gdc/md/sdixw5jc8mwtffse2og3edop2jtrrpki/ldm/singleloadinterface","summary":"Single
        interface for data loading.","category":"singleloadinterface","title":"singleloadinterface"},{"link":"/gdc/md/sdixw5jc8mwtffse2og3edop2jtrrpki/ldm/attributeupperbound","summary":"Attribute
        upper bounds for LDM.","category":"attributeupperbound","title":"attributeupperbound"}]}}'
  recorded_at: Mon, 21 May 2018 12:07:39 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/sdixw5jc8mwtffse2og3edop2jtrrpki/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"DROP {label.commits.factsof.id};\nSYNCHRONIZE {dataset.commits}
        PRESERVE DATA;"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:Lk0A8N69-uUsNc6V-_7dGA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:Lk0A8N69-uUsNc6V-_7dGA:mgAtijewFfudK1SI
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"entries":[{"link":"/gdc/md/sdixw5jc8mwtffse2og3edop2jtrrpki/tasks/ec54e950292583665453268b9fc974480000002d/status","category":"tasks-status"}]}'
  recorded_at: Mon, 21 May 2018 12:07:40 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/sdixw5jc8mwtffse2og3edop2jtrrpki/tasks/ec54e950292583665453268b9fc974480000002d/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:hXXV9rUrSD2ESB5D2D83EQ
      Process:
      - 'true'
  response:
    status:
      code: 303
      message: See Other
    headers:
      Location:
      - "/gdc/md/sdixw5jc8mwtffse2og3edop2jtrrpki/tasks/ecb7b945f60e1dbb897538eb01d2c81d0000002d/status"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:hXXV9rUrSD2ESB5D2D83EQ:TnEBkSQzE0fR2GYJ
      X-Gdc-Request-Time:
      - '76'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/sdixw5jc8mwtffse2og3edop2jtrrpki/tasks/ecb7b945f60e1dbb897538eb01d2c81d0000002d/status","status":"OK","links":{"poll":"/gdc/md/sdixw5jc8mwtffse2og3edop2jtrrpki/tasks/ecb7b945f60e1dbb897538eb01d2c81d0000002d/status"}}}'
  recorded_at: Mon, 21 May 2018 12:07:41 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/sdixw5jc8mwtffse2og3edop2jtrrpki/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["label.commits.factsof.id"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:BIgWkoa_05psQ9Dt7t9mBg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Uh8UrgpkqvBAnpOSpfCivQ:BIgWkoa_05psQ9Dt7t9mBg:jxFO7Tm0cWSAA2VQ
      X-Gdc-Request-Time:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[]}'
  recorded_at: Mon, 21 May 2018 12:07:55 GMT
recorded_with: VCR 4.0.0
