---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Test #create_project"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cUpiRDpctjSNTDMSbaZkRA:VT6IgbZWG7nz_FgLh6A8Tw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cUpiRDpctjSNTDMSbaZkRA:VT6IgbZWG7nz_FgLh6A8Tw:kUJV16Jg7ZrbsgpS
      X-Gdc-Request-Time:
      - '575'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a"}'
  recorded_at: Tue, 05 Jun 2018 06:05:25 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cUpiRDpctjSNTDMSbaZkRA:3HtX-tuBv1P5nt_2Ff5W5w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cUpiRDpctjSNTDMSbaZkRA:3HtX-tuBv1P5nt_2Ff5W5w:dYql90hEYXlVsbQk
      X-Gdc-Request-Time:
      - '51'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/ldm?thumbnail=1","self":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a","clearCaches":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/clearCaches","invitations":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/invitations","users":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/uploads/","ldm":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/ldm","metadata":"/gdc/md/b4eirrn931gngjwymucm0nvpg1ltby2a","publicartifacts":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/publicartifacts","roles":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/roles","userRoles":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/dataload","connectors":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/connectors","execute":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/execute","config":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/config","projectFeatureFlags":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/projectFeatureFlags","schedules":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/schedules","templates":"/gdc/md/b4eirrn931gngjwymucm0nvpg1ltby2a/templates","eventstores":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        08:05:24","summary":"No summary","updated":"2018-06-05 08:05:25","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Test
        #create_project","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 06:05:25 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cUpiRDpctjSNTDMSbaZkRA:7pLSMCx_bapS0WhnSLlpLg
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '56'
      X-Gdc-Request:
      - cUpiRDpctjSNTDMSbaZkRA:7pLSMCx_bapS0WhnSLlpLg:HPrsAxjWD06YU7xR
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 06:05:33 GMT
recorded_with: VCR 4.0.0
