---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cUpiRDpctjSNTDMSbaZkRA:3HtX-tuBv1P5nt_2Ff5W5w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cUpiRDpctjSNTDMSbaZkRA:3HtX-tuBv1P5nt_2Ff5W5w:dYql90hEYXlVsbQk
      X-Gdc-Request-Time:
      - '51'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/ldm?thumbnail=1","self":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a","clearCaches":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/clearCaches","invitations":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/invitations","users":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/uploads/","ldm":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/ldm","metadata":"/gdc/md/b4eirrn931gngjwymucm0nvpg1ltby2a","publicartifacts":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/publicartifacts","roles":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/roles","userRoles":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/dataload","connectors":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/connectors","execute":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/execute","config":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/config","projectFeatureFlags":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/projectFeatureFlags","schedules":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/schedules","templates":"/gdc/md/b4eirrn931gngjwymucm0nvpg1ltby2a/templates","eventstores":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        08:05:24","summary":"No summary","updated":"2018-06-05 08:05:25","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Test
        #create_project","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 06:05:25 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cUpiRDpctjSNTDMSbaZkRA:b01knpOm_DRQg3H2MKEL8g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cUpiRDpctjSNTDMSbaZkRA:b01knpOm_DRQg3H2MKEL8g:WZWwKZOPJ0PaSubF
      X-Gdc-Request-Time:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/ldm?thumbnail=1","self":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a","clearCaches":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/clearCaches","invitations":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/invitations","users":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/b4eirrn931gngjwym[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/miu9kjqbqj99561wn5qghr72k0geuico
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - lJtiBErg6f03t4KE1XvF9A:4vGZ5oOcfk64YByUeXt-xQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - lJtiBErg6f03t4KE1XvF9A:4vGZ5oOcfk64YByUeXt-xQ:fhnB62wiPKvzbas5
      X-Gdc-Request-Time:
      - '825'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARI[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/zecy7ukuirc9q2i72rrazotinqw8f60c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RGjlqG3r4JcTLEkZZfUdBw:UwIrW6D6MQlt7N_FooSZ0A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - RGjlqG3r4JcTLEkZZfUdBw:UwIrW6D6MQlt7N_FooSZ0A:K4WY1Pj2h3uHq3MC
      X-Gdc-Request-Time:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/urgebinwtjxd1gkbvgsjtzackmtecpvh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":jLJFp0r4YGpjslD66CCyvg:xeP8NHoPCxYZXM_MZ8iQDg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":jLJFp0r4YGpjslD66CCyvg:xeP8NHoPCxYZXM_MZ8iQDg:YfpjHkMIIQWJEcdG"
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"lin[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Test #create_project"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":fEjlTx4V-VWPtqnEaoo2FQ:Iuk4N7al5XU885MRbkrYKQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '399'
      X-Gdc-Request:
      - ":fEjlTx4V-VWPtqnEaoo2FQ:Iuk4N7al5XU885MRbkrYKQ:o3VqARIvcSF8A0eZ"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/z3pszlob5l5tbrelm5pnu6gk4rylxmpi"}'
  recorded_at: Wed, 15 Jan 2020 04:38:15 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z3pszlob5l5tbrelm5pnu6gk4rylxmpi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":fEjlTx4V-VWPtqnEaoo2FQ:SmnGTki-mUa5q5shEQdyYA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '57'
      X-Gdc-Request:
      - ":fEjlTx4V-VWPtqnEaoo2FQ:SmnGTki-mUa5q5shEQdyYA:Bc63Ceosnr90wN4v"
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADING"},"links":{"ldm_thumbnail":"/gdc/projects/z3pszlob5l5tbrelm5pnu6gk4rylxmpi/ldm?thumbnail=1","self":"/gdc/projects/z3pszlob5l5tbrelm5pnu6gk4rylxmpi","clearCaches":"/gdc/projects/z3pszlob5l5tbrelm5pnu6gk4rylxmpi/clearCaches","invitations":"/gdc/projects/z3pszlob5l5tbrelm5pnu6gk4rylxmpi/invitations","users":"/gdc/projects/z3pszlob5l5tbrelm5pnu6gk4rylxmpi/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/z3pszlob5l5tbrelm5pnu6gk4rylxmpi/checkXaeCompatibility","uploads":"/gdc/projects/z3pszlob5l5tbrelm5pnu6gk4rylxmpi/uploads/","ldm":"/gdc/projects/z3pszlob5l5tbrelm5pnu6gk4rylxmpi/ldm","metadata":"/gdc/md/z3pszlob5l5tbrelm5pnu6gk4rylxmpi","publicartifacts":"/gdc/projects/z3pszlob5l5tbrelm5pnu6gk4rylxmpi/publicartifacts","roles":"/gdc/projects/z3pszlob5l5tbrelm5pnu6gk4rylxmpi/roles","userRoles":"/gdc/projects/z3pszlob5l5tbrelm5pnu6gk4rylxmpi/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/z3pszlob5l5tbrelm5pnu6gk4rylxmpi/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/z3pszlob5l5tbrelm5pnu6gk4rylxmpi/dataload","connectors":"/gdc/projects/z3pszlob5l5tbrelm5pnu6gk4rylxmpi/connectors","execute":"/gdc/projects/z3pszlob5l5tbrelm5pnu6gk4rylxmpi/execute","config":"/gdc/projects/z3pszlob5l5tbrelm5pnu6gk4rylxmpi/config","projectFeatureFlags":"/gdc/projects/z3pszlob5l5tbrelm5pnu6gk4rylxmpi/projectFeatureFlags","schedules":"/gdc/projects/z3pszlob5l5tbrelm5pnu6gk4rylxmpi/schedules","templates":"/gdc/md/z3pszlob5l5tbrelm5pnu6gk4rylxmpi/templates"},"meta":{"created":"2020-01-15
        05:38:15","summary":"No summary","updated":"2020-01-15 05:38:16","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Test
        #create_project","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 15 Jan 2020 04:38:16 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z3pszlob5l5tbrelm5pnu6gk4rylxmpi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":fEjlTx4V-VWPtqnEaoo2FQ:TJCBWr7fDMqLDuD1aoKAxA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '60'
      X-Gdc-Request:
      - ":fEjlTx4V-VWPtqnEaoo2FQ:TJCBWr7fDMqLDuD1aoKAxA:inep4kXcBVKryKxf"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 15 Jan 2020 04:38:24 GMT
recorded_with: VCR 5.0.0
