---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cUpiRDpctjSNTDMSbaZkRA:3HtX-tuBv1P5nt_2Ff5W5w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cUpiRDpctjSNTDMSbaZkRA:3HtX-tuBv1P5nt_2Ff5W5w:dYql90hEYXlVsbQk
      X-Gdc-Request-Time:
      - '51'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/ldm?thumbnail=1","self":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a","clearCaches":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/clearCaches","invitations":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/invitations","users":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/uploads/","ldm":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/ldm","metadata":"/gdc/md/b4eirrn931gngjwymucm0nvpg1ltby2a","publicartifacts":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/publicartifacts","roles":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/roles","userRoles":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/dataload","connectors":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/connectors","execute":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/execute","config":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/config","projectFeatureFlags":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/projectFeatureFlags","schedules":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/schedules","templates":"/gdc/md/b4eirrn931gngjwymucm0nvpg1ltby2a/templates","eventstores":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        08:05:24","summary":"No summary","updated":"2018-06-05 08:05:25","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Test
        #create_project","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 06:05:25 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cUpiRDpctjSNTDMSbaZkRA:b01knpOm_DRQg3H2MKEL8g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cUpiRDpctjSNTDMSbaZkRA:b01knpOm_DRQg3H2MKEL8g:WZWwKZOPJ0PaSubF
      X-Gdc-Request-Time:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/ldm?thumbnail=1","self":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a","clearCaches":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/clearCaches","invitations":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/invitations","users":"/gdc/projects/b4eirrn931gngjwymucm0nvpg1ltby2a/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/b4eirrn931gngjwym[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/miu9kjqbqj99561wn5qghr72k0geuico
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - lJtiBErg6f03t4KE1XvF9A:4vGZ5oOcfk64YByUeXt-xQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - lJtiBErg6f03t4KE1XvF9A:4vGZ5oOcfk64YByUeXt-xQ:fhnB62wiPKvzbas5
      X-Gdc-Request-Time:
      - '825'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARI[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Test #create_project"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RGjlqG3r4JcTLEkZZfUdBw:G1CsziILt3lmuQiYnw3Edg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - RGjlqG3r4JcTLEkZZfUdBw:G1CsziILt3lmuQiYnw3Edg:ZEK3H7QyxjlCuA0K
      X-Gdc-Request-Time:
      - '481'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/zecy7ukuirc9q2i72rrazotinqw8f60c"}'
  recorded_at: Wed, 10 Oct 2018 10:31:41 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/zecy7ukuirc9q2i72rrazotinqw8f60c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RGjlqG3r4JcTLEkZZfUdBw:UwIrW6D6MQlt7N_FooSZ0A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/zecy7ukuirc9q2i72rrazotinqw8f60c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RGjlqG3r4JcTLEkZZfUdBw:daM2fEMsWdP7L0zjFaoEzw
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '99'
      X-Gdc-Request:
      - RGjlqG3r4JcTLEkZZfUdBw:daM2fEMsWdP7L0zjFaoEzw:ex4SrpRQQEsBpeyp
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 10:31:49 GMT
recorded_with: VCR 4.0.0
