---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - vlGNZ4wrKXQr2QjUN_8Ylg:49eIZgmbULZCCSsc9z9_-A
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - vlGNZ4wrKXQr2QjUN_8Ylg:49eIZgmbULZCCSsc9z9_-A:iTI89T8uygOPRVFu
      X-Gdc-Request-Time:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Fri, 25 May 2018 11:50:41 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - vlGNZ4wrKXQr2QjUN_8Ylg:DJV1ncWIaq6ZO2UBnWCepA
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - vlGNZ4wrKXQr2QjUN_8Ylg:DJV1ncWIaq6ZO2UBnWCepA:PkWxe6scw4vliHWg
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Fri, 25 May 2018 11:50:41 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - vlGNZ4wrKXQr2QjUN_8Ylg:FSaT_Yw92vijtUSHjOrAnQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - vlGNZ4wrKXQr2QjUN_8Ylg:FSaT_Yw92vijtUSHjOrAnQ:CjVBZZfHCSopHddd
      X-Gdc-Request-Time:
      - '66'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-05-25
        01:15:47","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","timezone":null,"language":"en-US","ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Fri, 25 May 2018 11:50:42 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - vlGNZ4wrKXQr2QjUN_8Ylg:PqWtb2V59xPomhqPIvWBqg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - vlGNZ4wrKXQr2QjUN_8Ylg:PqWtb2V59xPomhqPIvWBqg:qSREOGuwV5yUoeOZ
      X-Gdc-Request-Time:
      - '54'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Fri, 25 May 2018 11:50:42 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"RubyGem Dev Week
        test"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - vlGNZ4wrKXQr2QjUN_8Ylg:Z5boPormlNDTYbkFsdBqPw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - vlGNZ4wrKXQr2QjUN_8Ylg:Z5boPormlNDTYbkFsdBqPw:fXI4wyPl4A6zmnAU
      X-Gdc-Request-Time:
      - '620'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/m1yte8zc2tcgqbfiov5a1sdv8lre44sa"}'
  recorded_at: Fri, 25 May 2018 11:50:43 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/m1yte8zc2tcgqbfiov5a1sdv8lre44sa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - vlGNZ4wrKXQr2QjUN_8Ylg:0oVXhxc24sTgpPmSxDXAqg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - vlGNZ4wrKXQr2QjUN_8Ylg:0oVXhxc24sTgpPmSxDXAqg:9Ne188s7siNN2Fup
      X-Gdc-Request-Time:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/ldm?thumbnail=1","self":"/gdc/projects/m1yte8zc2tcgqbfiov5a1sdv8lre44sa","clearCaches":"/gdc/projects/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/clearCaches","invitations":"/gdc/projects/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/invitations","users":"/gdc/projects/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/uploads/","ldm":"/gdc/projects/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/ldm","metadata":"/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa","publicartifacts":"/gdc/projects/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/publicartifacts","roles":"/gdc/projects/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/roles","userRoles":"/gdc/projects/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/dataload","connectors":"/gdc/projects/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/connectors","execute":"/gdc/projects/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/execute","config":"/gdc/projects/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/config","projectFeatureFlags":"/gdc/projects/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/projectFeatureFlags","schedules":"/gdc/projects/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/schedules","templates":"/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/templates","eventstores":"/gdc/projects/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/dataload/eventstore/stores"},"meta":{"created":"2018-05-25
        13:50:43","summary":"No summary","updated":"2018-05-25 13:50:43","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"RubyGem
        Dev Week test","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Fri, 25 May 2018 11:50:44 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"This is
        anchor description","defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"some_attr_id","title":"Repository
        Name","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_attr_label_id","title":"Repository
        Name","type":"GDC.text","dataType":"VARCHAR(10000)"}}],"defaultLabel":"some_attr_label_id"}}],"facts":[],"references":[]}},{"dataset":{"identifier":"dataset.devs","title":"Developers","anchor":{"attribute":{"identifier":"attr.devs.dev_id","title":"Dev","folder":"Anchor
        folder","labels":[{"label":{"identifier":"label.devs.dev_id.id","title":"Id","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.devs.dev_id.email","title":"Email","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.devs.dev_id.email"}},"attributes":[],"facts":[],"references":[]}},{"dataset":{"identifier":"dataset.commits","title":"Commits","anchor":{"attribute":{"identifier":"attr.commits.factsof","title":"Attr.Commits.Factsof","folder":"Commits"}},"attributes":[],"facts":[{"fact":{"identifier":"fact.commits.lines_changed","title":"Lines
        Changed","folder":"Commits","dataType":"DECIMAL(12,2)","type":"fact","description":"Fact
        description"}}],"references":["committed_on","dataset.devs","dataset.repos"]}}],"dateDimensions":[{"dateDimension":{"name":"committed_on","title":"Committed
        On"}}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - vlGNZ4wrKXQr2QjUN_8Ylg:UdrEF2HRMVFyn_m9MpJ_PQ
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/model/diff/f6193f129baa67c7f92b4bfbec9d378e01cd737461313b380000006e"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - vlGNZ4wrKXQr2QjUN_8Ylg:UdrEF2HRMVFyn_m9MpJ_PQ:IIo9Q2qdjuh3tuFJ
      X-Gdc-Request-Time:
      - '131'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/model/diff/f6193f129baa67c7f92b4bfbec9d378e01cd737461313b380000006e"}}}'
  recorded_at: Fri, 25 May 2018 11:50:51 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/model/diff/f6193f129baa67c7f92b4bfbec9d378e01cd737461313b380000006e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - vlGNZ4wrKXQr2QjUN_8Ylg:YILvTyjv9nKbcKrTnxEbvg
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/model/diff/f6193f129baa67c7f92b4bfbec9d378e01cd737461313b380000006e"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - vlGNZ4wrKXQr2QjUN_8Ylg:YILvTyjv9nKbcKrTnxEbvg:SCcTp7SYLG5h01fW
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/model/diff/f6193f129baa67c7f92b4bfbec9d378e01cd737461313b380000006e"}}}'
  recorded_at: Fri, 25 May 2018 11:50:51 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/model/diff/f6193f129baa67c7f92b4bfbec9d378e01cd737461313b380000006e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - vlGNZ4wrKXQr2QjUN_8Ylg:B3rFwEkeuLUKlg5bpKo5SQ
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - vlGNZ4wrKXQr2QjUN_8Ylg:B3rFwEkeuLUKlg5bpKo5SQ:i5qQpvysGDUqoiK1
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"dataset.create","dataset":"dataset.repos","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Repositories"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.devs","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Developers"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.commits","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Commits"]}},{"updateOperation":{"type":"date-dimension.create","destructive":false,"description":"Create
        date dimension ''%s''","parameters":["Committed On[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - vlGNZ4wrKXQr2QjUN_8Ylg:oU5bQC23jR2W_VKRvkDs8Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - vlGNZ4wrKXQr2QjUN_8Ylg:oU5bQC23jR2W_VKRvkDs8Q:jTxtVoXo01IAHdFU
      X-Gdc-Request-Time:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''m1yte8zc2tcgqbfiov5a1sdv8lre44sa''","category":"project","instance":"m1yte8zc2tcgqbfiov5a1sdv8lre44sa","links":[{"link":"/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","ca[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - vlGNZ4wrKXQr2QjUN_8Ylg:t6Epe769ujWpOdBffTxDmQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE FOLDER {dim.folderedrepos} VISUAL(TITLE \"Foldered
        Repos\") TYPE ATTRIBUTE;\nCREATE FOLDER {dim.commits} VISUAL(TITLE \"Commits\")
        TYPE ATTRIBUTE;\nCREATE FOLDER {dim.anchorfolder} VISUAL(TITLE \"Anchor folder\")
        TYPE ATTRIBUTE;\nCREATE FOLDER {ffld.commits} VISUAL(TITLE \"Commits\") TYPE
        FACT;\nCREATE DATASET {dataset.repos} VISUAL(TITLE \"Repositories\");\nCREATE
        DATASET {dataset.devs} VISUAL(TITLE \"Developers\");\nCREATE DATASET {dataset.commit[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/tasks/8707729903adb0b49c6bcdc0018ef9020000002d/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - vlGNZ4wrKXQr2QjUN_8Ylg:ryOBfiKl0KVojMtbF3M2ww
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - vlGNZ4wrKXQr2QjUN_8Ylg:ryOBfiKl0KVojMtbF3M2ww:X8ivusIDRetu02CL
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/tasks/8707729903adb0b49c6bcdc0018ef9020000002d/status","status":"RUNNING","links":{"poll":"/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/tasks/8707729903adb0b49c6bcdc0018ef9020000002d/status"}}}'
  recorded_at: Fri, 25 May 2018 11:51:04 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/obj
    body:
      encoding: UTF-8
      string: '{"folder":{"content":{"type":["metric"]},"meta":{"tags":"","summary":"","title":"aaa"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - vlGNZ4wrKXQr2QjUN_8Ylg:B5F3Yd33I2PtWHnIZc_D2w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - vlGNZ4wrKXQr2QjUN_8Ylg:B5F3Yd33I2PtWHnIZc_D2w:ltuzlmi4pIG1MhqN
      X-Gdc-Request-Time:
      - '78'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/obj/244"}'
  recorded_at: Fri, 25 May 2018 11:51:16 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/obj/244
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - vlGNZ4wrKXQr2QjUN_8Ylg:TOCf_uff5kwyQx02BzDzVw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - vlGNZ4wrKXQr2QjUN_8Ylg:TOCf_uff5kwyQx02BzDzVw:YkxYEspfrdQrsPMW
      X-Gdc-Request-Time:
      - '61'
    body:
      encoding: ASCII-8BIT
      string: '{"folder":{"content":{"entries":[],"type":["metric"]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/obj/244","tags":"","created":"2018-05-25
        13:51:16","identifier":"aabdVD6reu2X","deprecated":"0","summary":"","isProduction":1,"title":"aaa","category":"folder","updated":"2018-05-25
        13:51:16","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Fri, 25 May 2018 11:51:17 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - vlGNZ4wrKXQr2QjUN_8Ylg:jqru1jttuQAmcbHW0SIZRQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - vlGNZ4wrKXQr2QjUN_8Ylg:jqru1jttuQAmcbHW0SIZRQ:nWXNkGCPTaHYez6D
      X-Gdc-Request-Time:
      - '450'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":22,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/obj/64"}],"displayForms":[{"content":{"formOf":"/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/obj/148","expression":"[/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/obj/65]","default":1},"links":{"elements":"/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/obj/166/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/obj/166","tags":"","created":"2010-08-02
        08:13:42","identifier":"committed_on.aag81lMifn6q","deprecated":"0","summary":"DisplayForm
        Year.","isProduction":1,"title":"Year (Committed On)","category":"attributeDisplayForm","updated":"2018-05-25
        13:51:06","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/obj/198","sort":"pk","dimension":"/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/obj/45","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/obj/112"},{"multivalue":false,"type":"col","data":"/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/obj/120"},{"multivalue":false,"type":"col","data":"/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/obj/135"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/obj/148","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"committed_on.year","deprecated":"[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT COUNT([/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/obj/148])"},"meta":{"tags":"","summary":null,"title":"count
        of Year (Committed On)"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - vlGNZ4wrKXQr2QjUN_8Ylg:_v2adLwO38-GJ1pnmIVe-w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - vlGNZ4wrKXQr2QjUN_8Ylg:_v2adLwO38-GJ1pnmIVe-w:8qJhYc3KxSzuG0Zs
      X-Gdc-Request-Time:
      - '79'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/obj/245"}'
  recorded_at: Fri, 25 May 2018 11:51:19 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/obj/245
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - vlGNZ4wrKXQr2QjUN_8Ylg:z-aaOwFQZL3p32c7RjaE-g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - vlGNZ4wrKXQr2QjUN_8Ylg:z-aaOwFQZL3p32c7RjaE-g:5EbgeRFScMBU1WxH
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"COUNT","content":[{"value":"/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/obj/148","position":{"column":27,"line":1},"type":"attribute
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        COUNT([/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/obj/148])"},"links":{"explain2":"/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/obj/245/explain2"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/obj/245","tags":"","created":"2018-05-25
        13:51:18","identifier":"aabdVEKUebOZ","deprecated":"0","summary":"","isProduction":1,"title":"count
        of Year (Committed On)","category":"metric","updated":"2018-05-25 13:51:18","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Fri, 25 May 2018 11:51:19 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/m1yte8zc2tcgqbfiov5a1sdv8lre44sa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - vlGNZ4wrKXQr2QjUN_8Ylg:q_iqOuUJJ43gO7KXg47puQ
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '52'
      X-Gdc-Request:
      - vlGNZ4wrKXQr2QjUN_8Ylg:q_iqOuUJJ43gO7KXg47puQ:pvEY203DtUTsEHYC
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 25 May 2018 11:51:22 GMT
recorded_with: VCR 4.0.0
