---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:d_DCMV2Ccu-uQPzRhuoqUg"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:d_DCMV2Ccu-uQPzRhuoqUg:QXFakBVfaic91lSy"
      X-Gdc-Request-Time:
      - '62'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Mon, 04 Mar 2019 10:14:41 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:HA8pGoH8QChR4zhQxuSTMQ"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:HA8pGoH8QChR4zhQxuSTMQ:tblkoDBMdLmYRi8N"
      X-Gdc-Request-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Mon, 04 Mar 2019 10:14:41 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:2_vscOQ3y6e9ELczklBSXQ"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:2_vscOQ3y6e9ELczklBSXQ:bnNF6Q5ZGrpA9tF5"
      X-Gdc-Request-Time:
      - '16'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2018-12-03 11:09:12","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Mon, 04 Mar 2019 10:14:42 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:Cno6wkiCo87vAhC0GrOB2g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:Cno6wkiCo87vAhC0GrOB2g:4IRUJAby6eqF5kEU"
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Mon, 04 Mar 2019 10:14:43 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"RubyGem Dev Week
        test"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:flTVUn8m1PnjG4jSxe9tvg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:flTVUn8m1PnjG4jSxe9tvg:HWM9MdvdB4jqs3Fz"
      X-Gdc-Request-Time:
      - '404'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/rshgbqr39d62dh1c412z2sp5hlmol4pg"}'
  recorded_at: Mon, 04 Mar 2019 10:14:44 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rshgbqr39d62dh1c412z2sp5hlmol4pg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:nJQ8Yb83cB62xpnDtdkuXg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:nJQ8Yb83cB62xpnDtdkuXg:5omJKdTY7czm9hS3"
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/rshgbqr39d62dh1c412z2sp5hlmol4pg/ldm?thumbnail=1","self":"/gdc/projects/rshgbqr39d62dh1c412z2sp5hlmol4pg","clearCaches":"/gdc/projects/rshgbqr39d62dh1c412z2sp5hlmol4pg/clearCaches","invitations":"/gdc/projects/rshgbqr39d62dh1c412z2sp5hlmol4pg/invitations","users":"/gdc/projects/rshgbqr39d62dh1c412z2sp5hlmol4pg/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/rshgbqr39d62dh1c412z2sp5hlmol4pg/uploads/","ldm":"/gdc/projects/rshgbqr39d62dh1c412z2sp5hlmol4pg/ldm","metadata":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg","publicartifacts":"/gdc/projects/rshgbqr39d62dh1c412z2sp5hlmol4pg/publicartifacts","roles":"/gdc/projects/rshgbqr39d62dh1c412z2sp5hlmol4pg/roles","userRoles":"/gdc/projects/rshgbqr39d62dh1c412z2sp5hlmol4pg/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/rshgbqr39d62dh1c412z2sp5hlmol4pg/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/rshgbqr39d62dh1c412z2sp5hlmol4pg/dataload","connectors":"/gdc/projects/rshgbqr39d62dh1c412z2sp5hlmol4pg/connectors","execute":"/gdc/projects/rshgbqr39d62dh1c412z2sp5hlmol4pg/execute","config":"/gdc/projects/rshgbqr39d62dh1c412z2sp5hlmol4pg/config","projectFeatureFlags":"/gdc/projects/rshgbqr39d62dh1c412z2sp5hlmol4pg/projectFeatureFlags","schedules":"/gdc/projects/rshgbqr39d62dh1c412z2sp5hlmol4pg/schedules","templates":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/templates"},"meta":{"created":"2019-03-04
        11:14:43","summary":"No summary","updated":"2019-03-04 11:14:43","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"RubyGem
        Dev Week test","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Mon, 04 Mar 2019 10:14:44 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rshgbqr39d62dh1c412z2sp5hlmol4pg/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"This is
        anchor description","defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"some_attr_id","title":"Repository
        Name","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_attr_label_id","title":"Repository
        Name","type":"GDC.text","dataType":"VARCHAR(10000)"}}],"defaultLabel":"some_attr_label_id"}}],"facts":[],"references":[],"bridges":[]}},{"dataset":{"identifier":"dataset.devs","title":"Developers","anchor":{"attribute":{"identifier":"attr.devs.dev_id","title":"Dev","folder":"Anchor
        folder","labels":[{"label":{"identifier":"label.devs.dev_id.id","title":"Id","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.devs.dev_id.email","title":"Email","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.devs.dev_id.email"}},"attributes":[],"facts":[],"references":[],"bridges":["dataset.commits"]}},{"dataset":{"identifier":"dataset.commits","title":"Commits","anchor":{"attribute":{"identifier":"attr.commits.factsof","title":"Attr.Commits.Factsof","folder":"Commits"}},"attributes":[],"facts":[{"fact":{"identifier":"fact.commits.lines_changed","title":"Lines
        Changed","folder":"Commits","dataType":"DECIMAL(12,2)","type":"fact","description":"Fact
        description"}}],"references":["committed_on","dataset.devs","dataset.repos"],"bridges":[]}}],"dateDimensions":[{"dateDimension":{"name":"committed_on","title":"Committed
        On","bridges":[]}}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:Ptzydq8XwENG7Jl4YTHkDw"
      Stats-On:
      - ''
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/rshgbqr39d62dh1c412z2sp5hlmol4pg/model/diff/e7cd9d82b0c7a4c6fb1dcf6d63ef54d64192974fb8b2798400000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:Ptzydq8XwENG7Jl4YTHkDw:dsoMvuDMht59BryP"
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/rshgbqr39d62dh1c412z2sp5hlmol4pg/model/diff/e7cd9d82b0c7a4c6fb1dcf6d63ef54d64192974fb8b2798400000018"}}}'
  recorded_at: Mon, 04 Mar 2019 10:14:51 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rshgbqr39d62dh1c412z2sp5hlmol4pg/model/diff/e7cd9d82b0c7a4c6fb1dcf6d63ef54d64192974fb8b2798400000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:C7Rba2KuUPNiF4UxWCx8bw"
      Process:
      - 'false'
      Stats-On:
      - ''
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/rshgbqr39d62dh1c412z2sp5hlmol4pg/model/diff/e7cd9d82b0c7a4c6fb1dcf6d63ef54d64192974fb8b2798400000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:C7Rba2KuUPNiF4UxWCx8bw:AB98LtdyJqUVFZvy"
      X-Gdc-Request-Time:
      - '11'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/rshgbqr39d62dh1c412z2sp5hlmol4pg/model/diff/e7cd9d82b0c7a4c6fb1dcf6d63ef54d64192974fb8b2798400000018"}}}'
  recorded_at: Mon, 04 Mar 2019 10:14:52 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rshgbqr39d62dh1c412z2sp5hlmol4pg/model/diff/e7cd9d82b0c7a4c6fb1dcf6d63ef54d64192974fb8b2798400000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:8D-aQezKDW9sioPeEn5Xtw"
      Process:
      - 'false'
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:8D-aQezKDW9sioPeEn5Xtw:ocOflM6iar9WNsTH"
      X-Gdc-Request-Time:
      - '276'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"dataset.create","dataset":"dataset.repos","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Repositories"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.devs","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Developers"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.commits","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Commits"]}},{"updateOperation":{"type":"date-dimension.create","destructive":false,"description":"Create
        date dimension ''%s''","parameters":["Committed On[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:V_n4IFXCf8JkEIFvP5l-0Q"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:V_n4IFXCf8JkEIFvP5l-0Q:AHOH0OAc9AW6jtJB"
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''rshgbqr39d62dh1c412z2sp5hlmol4pg''","category":"project","instance":"rshgbqr39d62dh1c412z2sp5hlmol4pg","links":[{"link":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","ca[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:rgJtr7Z1laXgye0Ngwt7bg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Typ[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.repos} VISUAL(TITLE \"Repositories\");\nCREATE
        DATASET {dataset.devs} VISUAL(TITLE \"Developers\");\nCREATE DATASET {dataset.commits}
        VISUAL(TITLE \"Commits\");\nINCLUDE TEMPLATE \"URN:GOODDATA:DATE\" MODIFY
        (IDENTIFIER \"committed_on\", TITLE \"Committed On\");\nCREATE FOLDER {dim.folderedrepos}
        VISUAL(TITLE \"Foldered Repos\") TYPE ATTRIBUTE;\nCREATE ATTRIBUTE {attr.repos.repo_id}
        VISUAL(TITLE \"Repository Id\", DESCRIPTION \"Thi[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/tasks/8e197d50a625080411a8a90ccc2e9c1f00000007/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:lv-_MADOmOkaacTyvP_rSw"
      Process:
      - 'true'
      Stats-On:
      - ''
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:lv-_MADOmOkaacTyvP_rSw:cIE7KrtkBMV7Z1A8"
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/tasks/8e197d50a625080411a8a90ccc2e9c1f00000007/status","status":"RUNNING","links":{"poll":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/tasks/8e197d50a625080411a8a90ccc2e9c1f00000007/status"}}}'
  recorded_at: Mon, 04 Mar 2019 10:14:56 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj
    body:
      encoding: UTF-8
      string: '{"folder":{"content":{"type":["metric"]},"meta":{"tags":"","summary":"","title":"aaa"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:YL0z7Fu1max5za11DanjVA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:YL0z7Fu1max5za11DanjVA:QXmateWATMp6uTM7"
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/249"}'
  recorded_at: Mon, 04 Mar 2019 10:15:04 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/249
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:ygxcratehzljdb9ljDWJCQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:ygxcratehzljdb9ljDWJCQ:pLIBD5xWZXIcCkqL"
      X-Gdc-Request-Time:
      - '67'
    body:
      encoding: ASCII-8BIT
      string: '{"folder":{"content":{"entries":[],"type":["metric"]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/249","tags":"","created":"2019-03-04
        11:15:04","identifier":"aacUgGlFehsx","deprecated":"0","summary":"","isProduction":1,"title":"aaa","category":"folder","updated":"2019-03-04
        11:15:04","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Mon, 04 Mar 2019 10:15:05 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:oe6kxvx20SvSUddEGwAvQg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:oe6kxvx20SvSUddEGwAvQg:Dyv9nMqKbhMTlpUr"
      X-Gdc-Request-Time:
      - '238'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":22,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/65"}],"displayForms":[{"content":{"formOf":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/149","expression":"[/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/66]","default":1},"links":{"elements":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/167/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/167","tags":"","created":"2010-08-02
        08:13:42","identifier":"committed_on.aag81lMifn6q","deprecated":"0","summary":"DisplayForm
        Year.","isProduction":1,"title":"Year (Committed On)","category":"attributeDisplayForm","updated":"2019-03-04
        11:14:57","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/199","sort":"pk","dimension":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/46","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/113"},{"multivalue":false,"type":"col","data":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/121"},{"multivalue":false,"type":"col","data":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/136"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/149","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"committed_on.year","deprecated":"[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT COUNT([/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/149])"},"meta":{"tags":"","summary":null,"title":"count
        of Year (Committed On)"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:t5gYHSkaWqXMkuuSC0uqUg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:t5gYHSkaWqXMkuuSC0uqUg:CsPht9aH5JPSIlVd"
      X-Gdc-Request-Time:
      - '74'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/250"}'
  recorded_at: Mon, 04 Mar 2019 10:15:07 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/250
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:MqDWA03eaWMvFnl41O4JEg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:MqDWA03eaWMvFnl41O4JEg:EeF7oh5lDzE6N32K"
      X-Gdc-Request-Time:
      - '72'
    body:
      encoding: ASCII-8BIT
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"COUNT","content":[{"value":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/149","position":{"column":27,"line":1},"type":"attribute
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        COUNT([/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/149])"},"links":{"explain2":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/250/explain2"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/250","tags":"","created":"2019-03-04
        11:15:07","identifier":"aabUiboKbz0X","deprecated":"0","summary":"","isProduction":1,"title":"count
        of Year (Committed On)","category":"metric","updated":"2019-03-04 11:15:07","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Mon, 04 Mar 2019 10:15:08 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rshgbqr39d62dh1c412z2sp5hlmol4pg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:t0m2S_ZKrcTuuaBPOVHVvQ"
      Stats-On:
      - ''
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '90'
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:t0m2S_ZKrcTuuaBPOVHVvQ:INdtS7rcYPcnBQ14"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 04 Mar 2019 10:15:14 GMT
recorded_with: VCR 4.0.0
