---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/okg2txbhqqo17udhqhag6tka64gcghbi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":3lf55d0yxHBZnRWNXOKHqw:cIhilhKDHhdtfEmzQJnQ5Q"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":3lf55d0yxHBZnRWNXOKHqw:cIhilhKDHhdtfEmzQJnQ5Q:i4QoNs1c3ALlSOur"
      X-Gdc-Request-Time:
      - '51'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADING"},"links":{"ldm_thumbnail":"/gdc/projects/okg2txbhqqo17udhqhag6tka64gcghbi/ldm?thumbnail=1","self":"/gdc/projects/okg2txbhqqo17udhqhag6tka64gcghbi","clearCaches":"/gdc/projects/okg2txbhqqo17udhqhag6tka64gcghbi/clearCaches","invitations":"/gdc/projects/okg2txbhqqo17udhqhag6tka64gcghbi/invitations","users":"/gdc/projects/okg2txbhqqo17udhqhag6tka64gcghbi/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/okg2txbhqqo17udhqhag6tka64gcghbi/uploads/","ldm":"/gdc/projects/okg2txbhqqo17udhqhag6tka64gcghbi/ldm","metadata":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi","publicartifacts":"/gdc/projects/okg2txbhqqo17udhqhag6tka64gcghbi/publicartifacts","roles":"/gdc/projects/okg2txbhqqo17udhqhag6tka64gcghbi/roles","userRoles":"/gdc/projects/okg2txbhqqo17udhqhag6tka64gcghbi/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/okg2txbhqqo17udhqhag6tka64gcghbi/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/okg2txbhqqo17udhqhag6tka64gcghbi/dataload","connectors":"/gdc/projects/okg2txbhqqo17udhqhag6tka64gcghbi/connectors","execute":"/gdc/projects/okg2txbhqqo17udhqhag6tka64gcghbi/execute","config":"/gdc/projects/okg2txbhqqo17udhqhag6tka64gcghbi/config","projectFeatureFlags":"/gdc/projects/okg2txbhqqo17udhqhag6tka64gcghbi/projectFeatureFlags","schedules":"/gdc/projects/okg2txbhqqo17udhqhag6tka64gcghbi/schedules","templates":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/templates"},"meta":{"created":"2019-03-15
        15:33:43","summary":"No summary","updated":"2019-03-15 15:33:44","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"RubyGem
        Dev Week test","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Fri, 15 Mar 2019 14:33:44 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/okg2txbhqqo17udhqhag6tka64gcghbi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":3lf55d0yxHBZnRWNXOKHqw:lD0pU6D8XRZ1iKD__1nxsg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":3lf55d0yxHBZnRWNXOKHqw:lD0pU6D8XRZ1iKD__1nxsg:FCYrTlraTaxEjdtX"
      X-Gdc-Request-Time:
      - '85'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/okg2txbhqqo17udhqhag6tka64gcghbi/ldm?thumbnail=1","self":"/gdc/projects/okg2txbhqqo17udhqhag6tka64gcghbi","clearCaches":"/gdc/projects/okg2txbhqqo17udhqhag6tka64gcghbi/clearCaches","invitations":"/gdc/projects/okg2txbhqqo17udhqhag6tka64gcghbi/invitations","users":"/gdc/projects/okg2txbhqqo17udhqhag6tka64gcghbi/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/okg2txbhqqo17udhq[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/okg2txbhqqo17udhqhag6tka64gcghbi/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"This is
        anchor description","defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"some_attr_id","title":"Repository
        Name","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_attr_label_id","title":"Repository
        Name","type":"GDC.text","dataType":"VARCHAR(10000)"}}],"defaultLabel":"some_attr_label_id"}}],"facts":[],"references":[],"bridges":[]}},{"dataset":{"identifier":"dataset.devs","title":"Developers","anchor":{"attribute":{"identifier":"attr.devs.dev_id","title":"Dev","folder":"Anchor
        folder","labels":[{"label":{"identifier":"label.devs.dev_id.id","title":"Id","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.devs.dev_id.email","title":"Email","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.devs.dev_id.email"}},"attributes":[],"facts":[],"references":[],"bridges":["dataset.commits"]}},{"dataset":{"identifier":"dataset.commits","title":"Commits","anchor":{"attribute":{"identifier":"attr.commits.factsof","title":"Attr.Commits.Factsof","folder":"Commits"}},"attributes":[],"facts":[{"fact":{"identifier":"fact.commits.lines_changed","title":"Lines
        Changed","folder":"Commits","dataType":"DECIMAL(12,2)","type":"fact","description":"Fact
        description"}}],"references":["committed_on","dataset.devs","dataset.repos"],"bridges":[]}}],"dateDimensions":[{"dateDimension":{"name":"committed_on","title":"Committed
        On","bridges":[]}}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":3lf55d0yxHBZnRWNXOKHqw:8FYHB93ivGW1kIEzGvHMmQ"
      Stats-On:
      - ''
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/okg2txbhqqo17udhqhag6tka64gcghbi/model/diff/5a19500b9e303cb0fe6eb280f6b6bb7b6ce82990aa27689100000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":3lf55d0yxHBZnRWNXOKHqw:8FYHB93ivGW1kIEzGvHMmQ:A67E0f766Q9LX54A"
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/okg2txbhqqo17udhqhag6tka64gcghbi/model/diff/5a19500b9e303cb0fe6eb280f6b6bb7b6ce82990aa27689100000018"}}}'
  recorded_at: Fri, 15 Mar 2019 14:33:51 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/okg2txbhqqo17udhqhag6tka64gcghbi/model/diff/5a19500b9e303cb0fe6eb280f6b6bb7b6ce82990aa27689100000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":3lf55d0yxHBZnRWNXOKHqw:RG6iA9hlL6gFW2Mt9OuPOQ"
      Process:
      - 'false'
      Stats-On:
      - ''
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/okg2txbhqqo17udhqhag6tka64gcghbi/model/diff/5a19500b9e303cb0fe6eb280f6b6bb7b6ce82990aa27689100000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":3lf55d0yxHBZnRWNXOKHqw:RG6iA9hlL6gFW2Mt9OuPOQ:FmORyppom5Spl9Sx"
      X-Gdc-Request-Time:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/okg2txbhqqo17udhqhag6tka64gcghbi/model/diff/5a19500b9e303cb0fe6eb280f6b6bb7b6ce82990aa27689100000018"}}}'
  recorded_at: Fri, 15 Mar 2019 14:33:52 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/okg2txbhqqo17udhqhag6tka64gcghbi/model/diff/5a19500b9e303cb0fe6eb280f6b6bb7b6ce82990aa27689100000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":3lf55d0yxHBZnRWNXOKHqw:K8ZLRcCX4MUkKxUXjvg2Rw"
      Process:
      - 'false'
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":3lf55d0yxHBZnRWNXOKHqw:K8ZLRcCX4MUkKxUXjvg2Rw:nJ5xoxx84DP4jMGE"
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"dataset.create","dataset":"dataset.repos","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Repositories"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.devs","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Developers"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.commits","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Commits"]}},{"updateOperation":{"type":"date-dimension.create","destructive":false,"description":"Create
        date dimension ''%s''","parameters":["Committed On[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":3lf55d0yxHBZnRWNXOKHqw:EqMGIs_8RcmbVljlIXZE6g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":3lf55d0yxHBZnRWNXOKHqw:EqMGIs_8RcmbVljlIXZE6g:upC9opqe9zvuILkb"
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''okg2txbhqqo17udhqhag6tka64gcghbi''","category":"project","instance":"okg2txbhqqo17udhqhag6tka64gcghbi","links":[{"link":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","ca[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":3lf55d0yxHBZnRWNXOKHqw:VPzILhchH_XoJewTKUmLEQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Typ[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.repos} VISUAL(TITLE \"Repositories\");\nCREATE
        DATASET {dataset.devs} VISUAL(TITLE \"Developers\");\nCREATE DATASET {dataset.commits}
        VISUAL(TITLE \"Commits\");\nINCLUDE TEMPLATE \"URN:GOODDATA:DATE\" MODIFY
        (IDENTIFIER \"committed_on\", TITLE \"Committed On\");\nCREATE FOLDER {dim.anchorfolder}
        VISUAL(TITLE \"Anchor folder\") TYPE ATTRIBUTE;\nCREATE ATTRIBUTE {attr.devs.dev_id}
        VISUAL(TITLE \"Dev\", FOLDER {dim.anchorfolder}) AS K[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/tasks/2d950960d6d7e47bffeb623fce5cf7df00000007/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":3lf55d0yxHBZnRWNXOKHqw:m-Wd9zw9IOffc5aeoy0L2w"
      Process:
      - 'true'
      Stats-On:
      - ''
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":3lf55d0yxHBZnRWNXOKHqw:m-Wd9zw9IOffc5aeoy0L2w:CCNSX50LqGZj71fS"
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/tasks/2d950960d6d7e47bffeb623fce5cf7df00000007/status","status":"RUNNING","links":{"poll":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/tasks/2d950960d6d7e47bffeb623fce5cf7df00000007/status"}}}'
  recorded_at: Fri, 15 Mar 2019 14:33:58 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj
    body:
      encoding: UTF-8
      string: '{"folder":{"content":{"type":["metric"]},"meta":{"tags":"","summary":"","title":"aaa"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":3lf55d0yxHBZnRWNXOKHqw:tFU2NA9HhKleq1sfewWT0Q"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":3lf55d0yxHBZnRWNXOKHqw:tFU2NA9HhKleq1sfewWT0Q:pAq0xvlk4w09ySls"
      X-Gdc-Request-Time:
      - '57'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/249"}'
  recorded_at: Fri, 15 Mar 2019 14:34:07 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/249
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":3lf55d0yxHBZnRWNXOKHqw:d_52gMWWr-QMmf0QdcnXDA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":3lf55d0yxHBZnRWNXOKHqw:d_52gMWWr-QMmf0QdcnXDA:ajoiABsoto9YURVT"
      X-Gdc-Request-Time:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"folder":{"content":{"entries":[],"type":["metric"]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/249","tags":"","created":"2019-03-15
        15:34:07","identifier":"aabXFavjgECC","deprecated":"0","summary":"","isProduction":1,"title":"aaa","category":"folder","updated":"2019-03-15
        15:34:07","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Fri, 15 Mar 2019 14:34:08 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":3lf55d0yxHBZnRWNXOKHqw:_Fhu9t8iiY-mQe0WCwMDNw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":3lf55d0yxHBZnRWNXOKHqw:_Fhu9t8iiY-mQe0WCwMDNw:4jeAr33UARpsb3HF"
      X-Gdc-Request-Time:
      - '340'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":22,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/65"}],"displayForms":[{"content":{"formOf":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/149","expression":"[/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/66]","default":1},"links":{"elements":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/167/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/167","tags":"","created":"2010-08-02
        08:13:42","identifier":"committed_on.aag81lMifn6q","deprecated":"0","summary":"DisplayForm
        Year.","isProduction":1,"title":"Year (Committed On)","category":"attributeDisplayForm","updated":"2019-03-15
        15:33:59","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/199","sort":"pk","dimension":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/46","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/113"},{"multivalue":false,"type":"col","data":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/121"},{"multivalue":false,"type":"col","data":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/136"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/149","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"committed_on.year","deprecated":"[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT COUNT([/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/149])"},"meta":{"tags":"","summary":null,"title":"count
        of Year (Committed On)"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":3lf55d0yxHBZnRWNXOKHqw:PZTGW-LzBuN_udpyeA1LCQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":3lf55d0yxHBZnRWNXOKHqw:PZTGW-LzBuN_udpyeA1LCQ:unlln1edlRmCU38s"
      X-Gdc-Request-Time:
      - '65'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/250"}'
  recorded_at: Fri, 15 Mar 2019 14:34:10 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/250
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":3lf55d0yxHBZnRWNXOKHqw:V0glgDwQjvcnQsV60LDDBQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":3lf55d0yxHBZnRWNXOKHqw:V0glgDwQjvcnQsV60LDDBQ:oBRln6XrZzkSo77s"
      X-Gdc-Request-Time:
      - '54'
    body:
      encoding: ASCII-8BIT
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"COUNT","content":[{"value":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/149","position":{"column":27,"line":1},"type":"attribute
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        COUNT([/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/149])"},"links":{"explain2":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/250/explain2"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/250","tags":"","created":"2019-03-15
        15:34:10","identifier":"aacXD3i0aKS1","deprecated":"0","summary":"","isProduction":1,"title":"count
        of Year (Committed On)","category":"metric","updated":"2019-03-15 15:34:10","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Fri, 15 Mar 2019 14:34:11 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":V8jk18BCZpztjWWYG3Rkmg:TSzxxH65cHaRdK4bKfcXbw"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '63'
      X-Gdc-Request:
      - ":V8jk18BCZpztjWWYG3Rkmg:TSzxxH65cHaRdK4bKfcXbw:U000g0WqruOQjBka"
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 05:08:27 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":V8jk18BCZpztjWWYG3Rkmg:P3-QEYCKT2UlVxYK3q-tUA"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request-Time:
      - '20'
      X-Gdc-Request:
      - ":V8jk18BCZpztjWWYG3Rkmg:P3-QEYCKT2UlVxYK3q-tUA:ro14sk1doI8S8LFp"
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 05:08:27 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":V8jk18BCZpztjWWYG3Rkmg:tbEWfjVzGs5IVfYHpevBfg"
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '11'
      X-Gdc-Request:
      - ":V8jk18BCZpztjWWYG3Rkmg:tbEWfjVzGs5IVfYHpevBfg:qSmBR0E3vpKCkBGS"
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2019-03-15 10:00:00","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Wed, 15 Jan 2020 05:08:28 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":V8jk18BCZpztjWWYG3Rkmg:Wg4ndFYrIA95oGNk_gc2oQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
    [...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"RubyGem Dev Week
        test"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":V8jk18BCZpztjWWYG3Rkmg:guo1SaBuD_K4rt2UD2RuKg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '428'
      X-Gdc-Request:
      - ":V8jk18BCZpztjWWYG3Rkmg:guo1SaBuD_K4rt2UD2RuKg:XaoOCZn0WklolwcC"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/uk1cip8abm3zbmm1u8vr51n7p7qly3av"}'
  recorded_at: Wed, 15 Jan 2020 05:08:31 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uk1cip8abm3zbmm1u8vr51n7p7qly3av
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":V8jk18BCZpztjWWYG3Rkmg:oA2lIL_PGU8oqy34qu6BNQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '53'
      X-Gdc-Request:
      - ":V8jk18BCZpztjWWYG3Rkmg:oA2lIL_PGU8oqy34qu6BNQ:krxsBVRcegPrFeF1"
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/uk1cip8abm3zbmm1u8vr51n7p7qly3av/ldm?thumbnail=1","self":"/gdc/projects/uk1cip8abm3zbmm1u8vr51n7p7qly3av","clearCaches":"/gdc/projects/uk1cip8abm3zbmm1u8vr51n7p7qly3av/clearCaches","invitations":"/gdc/projects/uk1cip8abm3zbmm1u8vr51n7p7qly3av/invitations","users":"/gdc/projects/uk1cip8abm3zbmm1u8vr51n7p7qly3av/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/uk1cip8abm3zbmm1u8vr51n7p7qly3av/checkXaeCompatibility","uploads":"/gdc/projects/uk1cip8abm3zbmm1u8vr51n7p7qly3av/uploads/","ldm":"/gdc/projects/uk1cip8abm3zbmm1u8vr51n7p7qly3av/ldm","metadata":"/gdc/md/uk1cip8abm3zbmm1u8vr51n7p7qly3av","publicartifacts":"/gdc/projects/uk1cip8abm3zbmm1u8vr51n7p7qly3av/publicartifacts","roles":"/gdc/projects/uk1cip8abm3zbmm1u8vr51n7p7qly3av/roles","userRoles":"/gdc/projects/uk1cip8abm3zbmm1u8vr51n7p7qly3av/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/uk1cip8abm3zbmm1u8vr51n7p7qly3av/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/uk1cip8abm3zbmm1u8vr51n7p7qly3av/dataload","connectors":"/gdc/projects/uk1cip8abm3zbmm1u8vr51n7p7qly3av/connectors","execute":"/gdc/projects/uk1cip8abm3zbmm1u8vr51n7p7qly3av/execute","config":"/gdc/projects/uk1cip8abm3zbmm1u8vr51n7p7qly3av/config","projectFeatureFlags":"/gdc/projects/uk1cip8abm3zbmm1u8vr51n7p7qly3av/projectFeatureFlags","schedules":"/gdc/projects/uk1cip8abm3zbmm1u8vr51n7p7qly3av/schedules","templates":"/gdc/md/uk1cip8abm3zbmm1u8vr51n7p7qly3av/templates"},"meta":{"created":"2020-01-15
        06:08:31","summary":"No summary","updated":"2020-01-15 06:08:32","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"RubyGem
        Dev Week test","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 15 Jan 2020 05:08:33 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uk1cip8abm3zbmm1u8vr51n7p7qly3av/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uk1cip8abm3zbmm1u8vr51n7p7qly3av/model/diff/a1046566203b5d455f59e97c2918f20e365f799fd5f6e4f800000015
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":V8jk18BCZpztjWWYG3Rkmg:sugZaY968xH3diKrEQKGlA"
      Process:
      - 'false'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/uk1cip8abm3zbmm1u8vr51n7p7qly3av/model/diff/a1046566203b5d455f59e97c2918f20e365f799fd5f6e4f800000015"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '19'
      X-Gdc-Request:
[...]
