---
http_interactions:
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/250
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"COUNT","content":[{"value":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/149","position":{"column":27,"line":1},"type":"attribute
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        COUNT([/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/149])","folders":["/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/249"]},"links":{"explain2":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/250/explain2"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/250","tags":"","created":"2019-03-15
        15:34:10","identifier":"aacXD3i0aKS1","deprecated":"0","summary":"","isProduction":1,"title":"count
        of Year (Committed On)","category":"metric","updated":"2019-03-15 15:34:10","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":3lf55d0yxHBZnRWNXOKHqw:BsMsNLAlvW9ggq_4eQFkhQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":3lf55d0yxHBZnRWNXOKHqw:BsMsNLAlvW9ggq_4eQFkhQ:u1o98hV5PJr6XKdi"
      X-Gdc-Request-Time:
      - '86'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/250"}'
  recorded_at: Fri, 15 Mar 2019 14:34:13 GMT
[...]
