---
http_interactions:
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/obj/245
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"COUNT","content":[{"value":"/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/obj/148","position":{"column":27,"line":1},"type":"attribute
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        COUNT([/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/obj/148])","folders":["/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/obj/244"]},"links":{"explain2":"/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/obj/245/explain2"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/obj/245","tags":"","created":"2018-05-25
        13:51:18","identifier":"aabdVEKUebOZ","deprecated":"0","summary":"","isProduction":1,"title":"count
        of Year (Committed On)","category":"metric","updated":"2018-05-25 13:51:18","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - vlGNZ4wrKXQr2QjUN_8Ylg:F6TaKi8Jx85lgBYDttDc8Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - vlGNZ4wrKXQr2QjUN_8Ylg:F6TaKi8Jx85lgBYDttDc8Q:wB3nGbLRGflDjmyv
      X-Gdc-Request-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/m1yte8zc2tcgqbfiov5a1sdv8lre44sa/obj/245"}'
  recorded_at: Fri, 25 May 2018 11:51:20 GMT
[...]
