---
http_interactions:
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/250
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"COUNT","content":[{"value":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/149","position":{"column":27,"line":1},"type":"attribute
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        COUNT([/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/149])","folders":["/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/249"]},"links":{"explain2":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/250/explain2"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/250","tags":"","created":"2019-03-04
        11:15:07","identifier":"aabUiboKbz0X","deprecated":"0","summary":"","isProduction":1,"title":"count
        of Year (Committed On)","category":"metric","updated":"2019-03-04 11:15:07","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:iZiFQgZQxewOJscbfuGEIg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:iZiFQgZQxewOJscbfuGEIg:WS7ty3id4rMx4wFH"
      X-Gdc-Request-Time:
      - '86'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/250"}'
  recorded_at: Mon, 04 Mar 2019 10:15:09 GMT
[...]
