---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":3lf55d0yxHBZnRWNXOKHqw:-pa0aPmjEZpRDo8PvvYHKA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":3lf55d0yxHBZnRWNXOKHqw:-pa0aPmjEZpRDo8PvvYHKA:k9QULyOqyu1RQaY2"
      X-Gdc-Request-Time:
      - '62'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"fact":{"content":{"folders":["/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/222"],"expr":[{"type":"col","data":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/32"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/223","tags":"","created":"2019-03-15
        15:34:00","identifier":"fact.commits.lines_changed","deprecated":"0","summary":"Fact
        description","isProduction":1,"title":"Lines Changed","category":"fact","updated":"2019-03-15
        15:34:00","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Fri, 15 Mar 2019 14:34:14 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":3lf55d0yxHBZnRWNXOKHqw:FspO7Xw_j3hsT-rpWnnHjA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":3lf55d0yxHBZnRWNXOKHqw:FspO7Xw_j3hsT-rpWnnHjA:IQVapVX3dORpUvqu"
      X-Gdc-Request-Time:
      - '361'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":22,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/65"}],"displayForms":[{"content":{"formOf":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/149","expression":"[/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/66]","default":1},"links":{"elements":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/167/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/167","tags":"","created":"2010-08-02
        08:13:42","identifier":"committed_on.aag81lMifn6q","deprecated":"0","summary":"DisplayForm
        Year.","isProduction":1,"title":"Year (Committed On)","category":"attributeDisplayForm","updated":"2019-03-15
        15:33:59","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/199","sort":"pk","dimension":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/46","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/113"},{"multivalue":false,"type":"col","data":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/121"},{"multivalue":false,"type":"col","data":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/136"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/149","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"committed_on.year","deprecated":"[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":3lf55d0yxHBZnRWNXOKHqw:ExpoIaFVYhLxIIEEIqlAig"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":3lf55d0yxHBZnRWNXOKHqw:ExpoIaFVYhLxIIEEIqlAig:6C6g98TQ3ElkyGJD"
      X-Gdc-Request-Time:
      - '54'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"metric":{"content":{"folders":["/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/249"],"format":"#,##0","tree":{"content":[{"content":[{"value":"COUNT","content":[{"value":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/149","position":{"column":27,"line":1},"type":"attribute
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        COUNT([/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/149])"},"links":{"explain2":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/250/explain2"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/250","tags":"","created":"2019-03-15
        15:34:10","identifier":"aacXD3i0aKS1","deprecated":"0","summary":"","isProduction":1,"title":"count
        of Year (Committed On)","category":"metric","updated":"2019-03-15 15:34:13","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Fri, 15 Mar 2019 14:34:16 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0%","expression":"SELECT COUNT([/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/149])"},"meta":{"tags":"","summary":null,"title":"Title"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":3lf55d0yxHBZnRWNXOKHqw:3EJfXC_WeerGDkgAWkGYBg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":3lf55d0yxHBZnRWNXOKHqw:3EJfXC_WeerGDkgAWkGYBg:8xUlhZLobIdPgTPU"
      X-Gdc-Request-Time:
      - '73'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/251"}'
  recorded_at: Fri, 15 Mar 2019 14:34:17 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/okg2txbhqqo17udhqhag6tka64gcghbi/obj/251
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":3lf55d0yxHBZnRWNXOKHqw:qWlhrR74gjSGBTQF7ap5EA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uk1cip8abm3zbmm1u8vr51n7p7qly3av/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":V8jk18BCZpztjWWYG3Rkmg:kmMQWN2iBld_lhOpDH4pcg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '32'
      X-Gdc-Request:
      - ":V8jk18BCZpztjWWYG3Rkmg:kmMQWN2iBld_lhOpDH4pcg:fJ3s0OrYaScwPSe3"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"fact":{"content":{"folders":["/gdc/md/uk1cip8abm3zbmm1u8vr51n7p7qly3av/obj/224"],"expr":[{"type":"col","data":"/gdc/md/uk1cip8abm3zbmm1u8vr51n7p7qly3av/obj/34"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/uk1cip8abm3zbmm1u8vr51n7p7qly3av/obj/225","tags":"","created":"2020-01-15
        06:08:45","identifier":"fact.commits.lines_changed","deprecated":"0","summary":"Fact
        description","isProduction":1,"title":"Lines Changed","category":"fact","updated":"2020-01-15
        06:08:45","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Wed, 15 Jan 2020 05:08:58 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uk1cip8abm3zbmm1u8vr51n7p7qly3av/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":V8jk18BCZpztjWWYG3Rkmg:mYmSWgnwYKiu93P9z8ii8g"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
   [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uk1cip8abm3zbmm1u8vr51n7p7qly3av/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":V8jk18BCZpztjWWYG3Rkmg:pAo4-WuMK-qpDj497qQXSA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      [...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uk1cip8abm3zbmm1u8vr51n7p7qly3av/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0%","expression":"SELECT COUNT([/gdc/md/uk1cip8abm3zbmm1u8vr51n7p7qly3av/obj/151])"},"meta":{"tags":"","summary":null,"title":"Title"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":V8jk18BCZpztjWWYG3Rkmg:S3zbbawxl6qyYJlULIzKqg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '52'
      X-Gdc-Request:
      - ":V8jk18BCZpztjWWYG3Rkmg:S3zbbawxl6qyYJlULIzKqg:VkkuIaMs4jFJEbR9"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/uk1cip8abm3zbmm1u8vr51n7p7qly3av/obj/253"}'
  recorded_at: Wed, 15 Jan 2020 05:09:01 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uk1cip8abm3zbmm1u8vr51n7p7qly3av/obj/253
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":V8jk18BCZpztjWWYG3Rkmg:bwu9eM5tmv-CaL_Z6RcRCQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log[...]
