---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:0LGkTVIdfoU0XLFKNoHBRg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:0LGkTVIdfoU0XLFKNoHBRg:e0AQ2a5SGvEM43h1"
      X-Gdc-Request-Time:
      - '76'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"fact":{"content":{"folders":["/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/222"],"expr":[{"type":"col","data":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/32"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/223","tags":"","created":"2019-03-04
        11:14:58","identifier":"fact.commits.lines_changed","deprecated":"0","summary":"Fact
        description","isProduction":1,"title":"Lines Changed","category":"fact","updated":"2019-03-04
        11:14:58","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Mon, 04 Mar 2019 10:15:10 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:0iTBYGW84O7QmsNBc4KFGA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:0iTBYGW84O7QmsNBc4KFGA:xbOtOpPYAxy9NsnG"
      X-Gdc-Request-Time:
      - '243'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":22,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/65"}],"displayForms":[{"content":{"formOf":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/149","expression":"[/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/66]","default":1},"links":{"elements":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/167/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/167","tags":"","created":"2010-08-02
        08:13:42","identifier":"committed_on.aag81lMifn6q","deprecated":"0","summary":"DisplayForm
        Year.","isProduction":1,"title":"Year (Committed On)","category":"attributeDisplayForm","updated":"2019-03-04
        11:14:57","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/199","sort":"pk","dimension":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/46","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/113"},{"multivalue":false,"type":"col","data":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/121"},{"multivalue":false,"type":"col","data":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/136"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/149","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"committed_on.year","deprecated":"[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:Bazstl7EJxpdRRwTGYNw5Q"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:Bazstl7EJxpdRRwTGYNw5Q:JzwBJdD5sbC0aGb8"
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"metric":{"content":{"folders":["/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/249"],"format":"#,##0","tree":{"content":[{"content":[{"value":"COUNT","content":[{"value":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/149","position":{"column":27,"line":1},"type":"attribute
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        COUNT([/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/149])"},"links":{"explain2":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/250/explain2"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/250","tags":"","created":"2019-03-04
        11:15:07","identifier":"aabUiboKbz0X","deprecated":"0","summary":"","isProduction":1,"title":"count
        of Year (Committed On)","category":"metric","updated":"2019-03-04 11:15:09","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Mon, 04 Mar 2019 10:15:11 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0%","expression":"SELECT COUNT([/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/149])"},"meta":{"tags":"","summary":null,"title":"Title"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:D_7lm7AYUdz0tocwB9xlKw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:D_7lm7AYUdz0tocwB9xlKw:LpK7D6MlJsZqy16y"
      X-Gdc-Request-Time:
      - '68'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/251"}'
  recorded_at: Mon, 04 Mar 2019 10:15:12 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/rshgbqr39d62dh1c412z2sp5hlmol4pg/obj/251
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":1VtL9YFjQJ1DLQ4xVAPyUQ:iXqwv0dnXlgdLF6mVelqiQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content[...]
