<h2>Project Structure</h2>

<p>The following diagram illustrates the typical structure of a BAM project:</p>

<p><img src="https://dl.dropboxusercontent.com/s/kqauncz9f4jtmpt/dir_structure.png?token_hash=AAENwT2QTwiZc5vAz4sy_5Smdm-VqTq-F7ULd8NUP7dYgg"></p>

<p>For the most part, the diagram is fairly descriptive, except for the following:</p>

<p>
<ul>
<li><b>params.json</b> Local parameter file where you can store any necessary passwords or other referenced data. </li>
<li><b>local_graphs</b> Use this directory to store any ETL graphs for your local project, which are not available through a remote repository.</li>
</ul>
</p>
