<h2>Sinks</h2>

<p>A <b>sink</b> is a declaration of where data from a BAM ETL is delivered. </p>

<p><b>NOTE:</b> Currently, the only supported sink type is the GoodData dataset. The value for the <em>target</em> property must always be <em>gooddata</em>.</p>


<h3>JSON Declaration</h3>


<p>A GoodData sink declaration mimics the CL tool definition, with some shortcuts added to it. For those with experience with CL tool definitions, the only new information to add is the metadata field that is the source for a specified field. </p>

<p>In the JSON below, you can review how a sink is declared. </p>

{% highlight json %}
{
  "id" : "account",
  "target" : "gooddata",
  "gd_name" : "account",
  "fields": [
    {
      "name" : "id",
      "type" : "connection_point",
      "meta" : "Id"
    },
    {
      "type" : "label",
      "for"  : "id",
      "name" : "name",
      "meta" : "Name"
    },
    {
      "type" : "label",
      "for"  : "id",
      "name" : "url",
      "meta" : "Url"
    },
    {
      "name" : "market",
      "type" : "attribute",
      "meta" : "Market__c"
    }
  ]
}
{% endhighlight %}


<p><b>Definitions:</b></p>

<ul>
  <li><b>id</b> Name of the sink.</li>
  <li><b>target</b> Target for the sink. Set to <em>gooddata</em>.</li>
  <li><b>gd_name</b> Name of the dataset to which the sink is writing.</li>
  <li>Fields:
    <li><b>name</b> Name of the field to which the sink is writing</li>
    <li><b>type</b> Type of field in the LDM. Values include: <em>fact</em>, <em>attribute</em>, <em>label</em>, and <em>connection point</em>.</li>
    <li><b>for</b> If type=<em>label</em>, please include the name of the attribute to which the label is assigned.</li>
    <li><b>meta</b> Name of the metadata field from which the sink is reading.</li>
  </li>
</ul>


<p>For more examples, see <a href="https://github.com/gooddata/goodsales_base/tree/master/sinks">GoodSales Essentials GitHub tree</a>.</p>
