---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/obj/275/validElements?filter=AA1004&limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:Oj27D5NFL01J2P34gevcFQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:Oj27D5NFL01J2P34gevcFQ:zCxQVHZNOIPuVWOK
      X-Gdc-Request-Time:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/obj/274","filter":"AA1004","order":"asc","attributeDisplayForm":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/obj/275"},"paging":{"count":1,"total":"2","offset":"0"},"items":[{"element":{"title":"AA1004","uri":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/obj/274/elements?id=3953"}}]}}'
  recorded_at: Mon, 04 Jun 2018 11:52:07 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m9iysa7r3iuh6oomxcu1208i4wic0cok/obj/279/validElements?filter=AA1004&limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 62hVUQbxei85z1B-_tHQNg:QWMPoYg1SVXnsC32u6h_KA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 62hVUQbxei85z1B-_tHQNg:QWMPoYg1SVXnsC32u6h_KA:uDc3JgtVDetHRry6
      X-Gdc-Request-Time:
      - '104'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/m9iysa7r3iuh6oomxcu1208i4wic0cok/obj/278","filter":"AA1004","order":"asc","attributeDisplayForm":"/gdc/md/m9iysa7r3iuh6oomxcu1208i4wic0cok/obj/279"},"paging":{"count":1,"total":"2","offset":"0"},"items":[{"element":{"title":"AA1004","uri":"/gdc/md/m9iysa7r3iuh6oomxcu1208i4wic0cok/obj/278/elements?id=3953"}}]}}'
  recorded_at: Fri, 05 Oct 2018 12:50:01 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gim4dtm2bgxtwc4hxax0e9efwybyoa5b/obj/279/validElements?filter=AA1004&limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - nm5w3rVwbPoIi2DvCBmR2g:B9ttnFyCIPsX4DgHgAViyw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - nm5w3rVwbPoIi2DvCBmR2g:B9ttnFyCIPsX4DgHgAViyw:vwGnLfSpz8tiaM7m
      X-Gdc-Request-Time:
      - '94'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/gim4dtm2bgxtwc4hxax0e9efwybyoa5b/obj/278","filter":"AA1004","order":"asc","attributeDisplayForm":"/gdc/md/gim4dtm2bgxtwc4hxax0e9efwybyoa5b/obj/279"},"paging":{"count":1,"total":"2","offset":"0"},"items":[{"element":{"title":"AA1004","uri":"/gdc/md/gim4dtm2bgxtwc4hxax0e9efwybyoa5b/obj/278/elements?id=3953"}}]}}'
  recorded_at: Wed, 10 Oct 2018 10:48:57 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/rnjh66v91pqzuv7fhwxi0lxjmpq7hisz/obj/279/validElements?filter=AA1004&limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sI57SFs0AmA1eQSqCP0cHQ:W7E7znzK4-7ljCEVHJ5k6A"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":sI57SFs0AmA1eQSqCP0cHQ:W7E7znzK4-7ljCEVHJ5k6A:4eyDc5ntFodERgnq"
      X-Gdc-Request-Time:
      - '133'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/rnjh66v91pqzuv7fhwxi0lxjmpq7hisz/obj/278","filter":"AA1004","order":"asc","attributeDisplayForm":"/gdc/md/rnjh66v91pqzuv7fhwxi0lxjmpq7hisz/obj/279"},"paging":{"count":1,"total":"2","offset":"0"},"items":[{"element":{"title":"AA1004","uri":"/gdc/md/rnjh66v91pqzuv7fhwxi0lxjmpq7hisz/obj/278/elements?id=3953"}}]}}'
  recorded_at: Thu, 24 Jan 2019 13:03:55 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/s4t4016vh1jo3p2jmmbkvdqgm4ziz7qm/obj/281/validElements?filter=AA1004&limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":o30ARa5FxiCWEBHd84SAVA:Z8rHqGaS8mTmzvs68rD2xQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '58'
      X-Gdc-Request:
      - ":o30ARa5FxiCWEBHd84SAVA:Z8rHqGaS8mTmzvs68rD2xQ:AhTM7ozf1DszdQbt"
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/s4t4016vh1jo3p2jmmbkvdqgm4ziz7qm/obj/280","filter":"AA1004","order":"asc","attributeDisplayForm":"/gdc/md/s4t4016vh1jo3p2jmmbkvdqgm4ziz7qm/obj/281"},"paging":{"count":1,"total":"2","offset":"0"},"items":[{"element":{"title":"AA1004","uri":"/gdc/md/s4t4016vh1jo3p2jmmbkvdqgm4ziz7qm/obj/280/elements?id=3953"}}]}}'
  recorded_at: Wed, 15 Jan 2020 05:04:19 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/s4t4016vh1jo3p2jmmbkvdqgm4ziz7qm/obj/281/validElements?filter=AA1004&limit=100000&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":o30ARa5FxiCWEBHd84SAVA:kvqayvuxibT-WwXCLRb13g"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '53'
      X-Gdc-Request:
      - ":o30ARa5FxiCWEBHd84SAVA:kvqayvuxibT-WwXCLRb13g:FGG8XjchPNj9R6Gv"
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/s4t4016vh1jo3p2jmmbkvdqgm4ziz7qm/obj/280","filter":"AA1004","order":"asc","attributeDisplayForm":"/gdc/md/s4t4016vh1jo3p2jmmbkvdqgm4ziz7qm/obj/281"},"paging":{"count":2,"total":"2","offset":"0"},"items":[{"element":{"title":"AA1004","uri":"/gdc/md/s4t4016vh1jo3p2jmmbkvdqgm4ziz7qm/obj/280/elements?id=3953"}},{"element":{"title":"AA10041","uri":"/gdc/md/s4t4016vh1jo3p2jmmbkvdqgm4ziz7qm/obj/280/elements?id=3952"}}]}}'
  recorded_at: Wed, 15 Jan 2020 05:04:20 GMT
recorded_with: VCR 5.0.0
