---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/obj/275/validElements?filter=AA1004&limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:Oj27D5NFL01J2P34gevcFQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:Oj27D5NFL01J2P34gevcFQ:zCxQVHZNOIPuVWOK
      X-Gdc-Request-Time:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/obj/274","filter":"AA1004","order":"asc","attributeDisplayForm":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/obj/275"},"paging":{"count":1,"total":"2","offset":"0"},"items":[{"element":{"title":"AA1004","uri":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/obj/274/elements?id=3953"}}]}}'
  recorded_at: Mon, 04 Jun 2018 11:52:07 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m9iysa7r3iuh6oomxcu1208i4wic0cok/obj/279/validElements?filter=AA1004&limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 62hVUQbxei85z1B-_tHQNg:QWMPoYg1SVXnsC32u6h_KA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 62hVUQbxei85z1B-_tHQNg:QWMPoYg1SVXnsC32u6h_KA:uDc3JgtVDetHRry6
      X-Gdc-Request-Time:
      - '104'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/m9iysa7r3iuh6oomxcu1208i4wic0cok/obj/278","filter":"AA1004","order":"asc","attributeDisplayForm":"/gdc/md/m9iysa7r3iuh6oomxcu1208i4wic0cok/obj/279"},"paging":{"count":1,"total":"2","offset":"0"},"items":[{"element":{"title":"AA1004","uri":"/gdc/md/m9iysa7r3iuh6oomxcu1208i4wic0cok/obj/278/elements?id=3953"}}]}}'
  recorded_at: Fri, 05 Oct 2018 12:50:01 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gim4dtm2bgxtwc4hxax0e9efwybyoa5b/obj/279/validElements?filter=AA1004&limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - nm5w3rVwbPoIi2DvCBmR2g:B9ttnFyCIPsX4DgHgAViyw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - nm5w3rVwbPoIi2DvCBmR2g:B9ttnFyCIPsX4DgHgAViyw:vwGnLfSpz8tiaM7m
      X-Gdc-Request-Time:
      - '94'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/gim4dtm2bgxtwc4hxax0e9efwybyoa5b/obj/278","filter":"AA1004","order":"asc","attributeDisplayForm":"/gdc/md/gim4dtm2bgxtwc4hxax0e9efwybyoa5b/obj/279"},"paging":{"count":1,"total":"2","offset":"0"},"items":[{"element":{"title":"AA1004","uri":"/gdc/md/gim4dtm2bgxtwc4hxax0e9efwybyoa5b/obj/278/elements?id=3953"}}]}}'
  recorded_at: Wed, 10 Oct 2018 10:48:57 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gim4dtm2bgxtwc4hxax0e9efwybyoa5b/obj/279/validElements?filter=AA1004&limit=100000&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - nm5w3rVwbPoIi2DvCBmR2g:nYmi6daDqT48aDMvFyqccg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - nm5w3rVwbPoIi2DvCBmR2g:nYmi6daDqT48aDMvFyqccg:pEyCspTyH2CKhVDJ
      X-Gdc-Request-Time:
      - '51'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/gim4dtm2bgxtwc4hxax0e9efwybyoa5b/obj/278","filter":"AA1004","order":"asc","attributeDisplayForm":"/gdc/md/gim4dtm2bgxtwc4hxax0e9efwybyoa5b/obj/279"},"paging":{"count":2,"total":"2","offset":"0"},"items":[{"element":{"title":"AA1004","uri":"/gdc/md/gim4dtm2bgxtwc4hxax0e9efwybyoa5b/obj/278/elements?id=3953"}},{"element":{"title":"AA10041","uri":"/gdc/md/gim4dtm2bgxtwc4hxax0e9efwybyoa5b/obj/278/elements?id=3952"}}]}}'
  recorded_at: Wed, 10 Oct 2018 10:48:58 GMT
recorded_with: VCR 4.0.0
