---
http_interactions:
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/600499fc3578a141e440aac3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:lQW4wDxgIXzMSZrWxx11Sw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources"
      X-Gdc-Request-Time:
      - '35'
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:lQW4wDxgIXzMSZrWxx11Sw:nLMtbots7nWNjQpK"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 17 Jan 2021 20:11:41 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources
    body:
      encoding: UTF-8
      string: '{"dataSource":{"name":"RedshiftDS","connectionInfo":{"redshift":{"url":"jdbc:redshift://test","authentication":{"basic":{"userName":"test","password":"<PASSWORD>"}},"database":"database_test","schema":"schema_test"}},"alias":"GpfgkncrMcxFyKEiau3h-A","prefix":"prefix_"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:H1gP1gC6HK47PlCDGFTrFQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources/6004f6ea3578a141e440aae8"
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '24'
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:H1gP1gC6HK47PlCDGFTrFQ:z8HPyE6moMb5xNCW"
    body:
      encoding: ASCII-8BIT
      string: '{"dataSource":{"id":"6004f6ea3578a141e440aae8","owner":"5ad80b895edcc438e5a4418e222733fa","name":"RedshiftDS","prefix":"prefix_","alias":"GpfgkncrMcxFyKEiau3h-A","lastModified":"2021-01-18T02:48:10.024Z","connectionInfo":{"redshift":{"url":"jdbc:redshift://test","authentication":{"basic":{"userName":"test","password":""}},"database":"database_test","schema":"schema_test"}},"links":{"parent":"/gdc/dataload/dataSources","self":"/gdc/dataload/dataSources/6004f6ea3578a141e440aae8","buildModelMapping":"/gdc/dataload/dataSources/6004f6ea3578a141e440aae8/buildModelMapping","dataMapping":"/gdc/dataload/dataSources/6004f6ea3578a141e440aae8/dataMapping","generateModel":"/gdc/dataload/dataSources/6004f6ea3578a141e440aae8/generateModel","generateOutputStage":"/gdc/dataload/dataSources/6004f6ea3578a141e440aae8/generateOutputStage","validateConnection":"/gdc/dataload/dataSources/6004f6ea3578a141e440aae8/validateConnection"}}}'
  recorded_at: Mon, 18 Jan 2021 02:48:10 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/6004f6ea3578a141e440aae8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:14CHh_OCs6kXJ2IjSjCTYQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources"
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:14CHh_OCs6kXJ2IjSjCTYQ:rYChZyeiAARYAsmd"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 18 Jan 2021 02:48:11 GMT
recorded_with: VCR 5.0.0
