---
http_interactions:
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/60049a013578a141e440aac4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:j4k5YxfaDTku1KaKASEtTA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources"
      X-Gdc-Request-Time:
      - '33'
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:j4k5YxfaDTku1KaKASEtTA:HSZcRH87V2GApIQh"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 17 Jan 2021 20:11:46 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/60049a013578a141e440aac4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:VeJ_UwUBRHms-6cIqS2Q5A"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '6'
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:VeJ_UwUBRHms-6cIqS2Q5A:8n5NUF29NSic5cje"
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"errorClass":"com.gooddata.commons.http.exception.NotFoundException","trace":"","message":"The
        server has not found anything matching the Request-URI. No indication is given
        of whether the condition is temporary or permanent.","component":"cloud-resource-restapi","errorId":"db21ad72-6151-47f3-8db1-96f37f54f009","errorCode":"gdc.http.client.status.404","parameters":[]}}'
  recorded_at: Sun, 17 Jan 2021 20:11:47 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources
    body:
      encoding: UTF-8
      string: '{"dataSource":{"name":"RedshiftDS","connectionInfo":{"redshift":{"url":"jdbc:redshift://test","authentication":{"basic":{"userName":"test","password":"<PASSWORD>"}},"database":"database_test","schema":"schema_test"}},"alias":"KHWH9t6cWA8qc_copVt1Tw","prefix":"prefix_"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:1s6qyyeMoA9XV8JEp_6Nww"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources/6004f6ef386d7541e4b36015"
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '21'
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:1s6qyyeMoA9XV8JEp_6Nww:0eHgdUd0T9YphvN1"
    body:
      encoding: ASCII-8BIT
      string: '{"dataSource":{"id":"6004f6ef386d7541e4b36015","owner":"5ad80b895edcc438e5a4418e222733fa","name":"RedshiftDS","prefix":"prefix_","alias":"KHWH9t6cWA8qc_copVt1Tw","lastModified":"2021-01-18T02:48:15.363Z","connectionInfo":{"redshift":{"url":"jdbc:redshift://test","authentication":{"basic":{"userName":"test","password":""}},"database":"database_test","schema":"schema_test"}},"links":{"parent":"/gdc/dataload/dataSources","self":"/gdc/dataload/dataSources/6004f6ef386d7541e4b36015","buildModelMapping":"/gdc/dataload/dataSources/6004f6ef386d7541e4b36015/buildModelMapping","dataMapping":"/gdc/dataload/dataSources/6004f6ef386d7541e4b36015/dataMapping","generateModel":"/gdc/dataload/dataSources/6004f6ef386d7541e4b36015/generateModel","generateOutputStage":"/gdc/dataload/dataSources/6004f6ef386d7541e4b36015/generateOutputStage","validateConnection":"/gdc/dataload/dataSources/6004f6ef386d7541e4b36015/validateConnection"}}}'
  recorded_at: Mon, 18 Jan 2021 02:48:15 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/6004f6ef386d7541e4b36015
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:jupn8NJD7_H9sKexejDHPQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '5'
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:jupn8NJD7_H9sKexejDHPQ:9rnwFrlKMbyWGKwV"
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"errorClass":"com.gooddata.commons.http.exception.NotFoundException","trace":"","message":"The
        server has not found anything matching the Request-URI. No indication is given
        of whether the condition is temporary or permanent.","component":"cloud-resource-restapi","errorId":"d965f547-6710-491e-8002-fc4be5ab9a75","errorCode":"gdc.http.client.status.404","parameters":[]}}'
  recorded_at: Mon, 18 Jan 2021 02:48:17 GMT
recorded_with: VCR 5.0.0
