---
http_interactions:
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/600499fe386d7541e4b35fe1
    body:
      encoding: UTF-8
      string: '{"dataSource":{"name":"RedshiftDS_update","connectionInfo":{"redshift":{"url":"jdbc:redshift://test","authentication":{"basic":{"userName":"test","password":""}},"database":"database_test","schema":"schema_test"}},"alias":"ccTlQ-zc54xWqf52JVcCOA","prefix":"prefix_"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:nMc-2phFSuVMmRYiI64sNQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '24'
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:nMc-2phFSuVMmRYiI64sNQ:B28oyAVNef2Yie2d"
    body:
      encoding: ASCII-8BIT
      string: '{"dataSource":{"id":"600499fe386d7541e4b35fe1","owner":"5ad80b895edcc438e5a4418e222733fa","name":"RedshiftDS_update","prefix":"prefix_","alias":"ccTlQ-zc54xWqf52JVcCOA","lastModified":"2021-01-17T20:11:43.116Z","connectionInfo":{"redshift":{"url":"jdbc:redshift://test","authentication":{"basic":{"userName":"test","password":""}},"database":"database_test","schema":"schema_test"}},"links":{"parent":"/gdc/dataload/dataSources","self":"/gdc/dataload/dataSources/600499fe386d7541e4b35fe1","buildModelMapping":"/gdc/dataload/dataSources/600499fe386d7541e4b35fe1/buildModelMapping","dataMapping":"/gdc/dataload/dataSources/600499fe386d7541e4b35fe1/dataMapping","generateModel":"/gdc/dataload/dataSources/600499fe386d7541e4b35fe1/generateModel","generateOutputStage":"/gdc/dataload/dataSources/600499fe386d7541e4b35fe1/generateOutputStage","validateConnection":"/gdc/dataload/dataSources/600499fe386d7541e4b35fe1/validateConnection"}}}'
  recorded_at: Sun, 17 Jan 2021 20:11:43 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/600499fe386d7541e4b35fe1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:SggTmvYaiDjS-KMXXS0tdw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources"
      X-Gdc-Request-Time:
      - '49'
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:SggTmvYaiDjS-KMXXS0tdw:IENilnSJj9LWOZA5"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 17 Jan 2021 20:11:44 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources
    body:
      encoding: UTF-8
      string: '{"dataSource":{"name":"RedshiftDS","connectionInfo":{"redshift":{"url":"jdbc:redshift://test","authentication":{"basic":{"userName":"test","password":"<PASSWORD>"}},"database":"database_test","schema":"schema_test"}},"alias":"qbw9SWXg32D7GPAqOJ9GDQ","prefix":"prefix_"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:I-5pjDKD4GL6MpSIE-04gQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources/6004f6ec386d7541e4b36014"
[...]
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/6004f6ec386d7541e4b36014
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:c8pZTenszkkyBuV3WMw3MQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources"
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:c8pZTenszkkyBuV3WMw3MQ:GeKD5cGVOoHoxxu8"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 18 Jan 2021 02:48:14 GMT
recorded_with: VCR 5.0.0
