---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/projects/fv57rgza7vwmw2owv300fdapp78i49ld/modelMapping/datasets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:gPNtvI1kAD3AKT3TscnxgQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Gdc-Request-Time:
      - '8'
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:gPNtvI1kAD3AKT3TscnxgQ:MbpLc5YW1BqKZ6av"
    body:
      encoding: ASCII-8BIT
      string: '{"datasetMappings":{"items":[{"datasetMapping":{"identifier":"dataset.orderlines2","source":{"identifier":"orderlines","csv":{"headerRow":1,"delimiter":","}},"fields":[{"fieldMapping":{"field":{"identifier":"label.orderlines.customer_name","type":"label"},"sourceColumn":{"name":"customer_name","dataType":"text","format":""}}}],"references":[],"system":{}}}]}}'
  recorded_at: Tue, 11 Oct 2022 07:19:11 GMT
recorded_with: VCR 5.0.0
