---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/internal/projects/fv57rgza7vwmw2owv300fdapp78i49ld/ldmLayout
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:a7LdnwLVm5STGRZLkH1RjA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Gdc-Request-Time:
      - '9'
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:a7LdnwLVm5STGRZLkH1RjA:hhkOCDhpqywWrC6C"
    body:
      encoding: ASCII-8BIT
      string: '{"ldmLayout":{"layout":[{"id":"dataset_1","type":"dataset","collapse":true,"x":100.1,"y":200.2},{"id":"date_1","type":"template_dataset","collapse":false,"x":150.1,"y":250.2}]}}'
  recorded_at: Tue, 11 Oct 2022 07:19:12 GMT
recorded_with: VCR 5.0.0
