---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/projects/px0sugvog1moq0y2pzps4o0cczy6civf/modelMapping/datasets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
        - application/json
      X-Gdc-Authtt:
        - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
        - ":QZkBbPddTOwMJONR29UzHw:LKWG2tFDKBG-QgONPdtcsg"
      Stats-On:
        - ''
      X-Gdc-Version:
        - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
        - ''
      Content-Type:
        - application/json;charset=UTF-8
      X-Gdc-Request-Time:
        - '7'
      X-Gdc-Request:
        - ":QZkBbPddTOwMJONR29UzHw:LKWG2tFDKBG-QgONPdtcsg:HNzXjhSPBa9CwNvB"
    body:
      encoding: ASCII-8BIT
      string: '{"datasetMappings":{"items":[{"datasetMapping":{"identifier":"dataset.orderlines2","source":{"identifier":"orderlines","csv":{"headerRow":1,"delimiter":","}},"fields":[{"fieldMapping":{"field":{"identifier":"label.orderlines.customer_name","type":"label"},"sourceColumn":{"name":"customer_name","dataType":"text","format":""}}}],"references":[],"system":{}}}]}}'
  recorded_at: Sun, 18 Jul 2021 11:57:25 GMT
recorded_with: VCR 5.1.0
