---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/l3398hstuqp0gegtnzmgpuyizfp6ddlh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:VQsGyL_pYGVHZaQZfMZSsg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:VQsGyL_pYGVHZaQZfMZSsg:JOdbe7TEvpDeNkd9
      X-Gdc-Request-Time:
      - '55'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/l3398hstuqp0gegtnzmgpuyizfp6ddlh/ldm?thumbnail=1","self":"/gdc/projects/l3398hstuqp0gegtnzmgpuyizfp6ddlh","clearCaches":"/gdc/projects/l3398hstuqp0gegtnzmgpuyizfp6ddlh/clearCaches","invitations":"/gdc/projects/l3398hstuqp0gegtnzmgpuyizfp6ddlh/invitations","users":"/gdc/projects/l3398hstuqp0gegtnzmgpuyizfp6ddlh/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/l3398hstuqp0gegtnzmgpuyizfp6ddlh/uploads/","ldm":"/gdc/projects/l3398hstuqp0gegtnzmgpuyizfp6ddlh/ldm","metadata":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh","publicartifacts":"/gdc/projects/l3398hstuqp0gegtnzmgpuyizfp6ddlh/publicartifacts","roles":"/gdc/projects/l3398hstuqp0gegtnzmgpuyizfp6ddlh/roles","userRoles":"/gdc/projects/l3398hstuqp0gegtnzmgpuyizfp6ddlh/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/l3398hstuqp0gegtnzmgpuyizfp6ddlh/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/l3398hstuqp0gegtnzmgpuyizfp6ddlh/dataload","connectors":"/gdc/projects/l3398hstuqp0gegtnzmgpuyizfp6ddlh/connectors","execute":"/gdc/projects/l3398hstuqp0gegtnzmgpuyizfp6ddlh/execute","config":"/gdc/projects/l3398hstuqp0gegtnzmgpuyizfp6ddlh/config","projectFeatureFlags":"/gdc/projects/l3398hstuqp0gegtnzmgpuyizfp6ddlh/projectFeatureFlags","schedules":"/gdc/projects/l3398hstuqp0gegtnzmgpuyizfp6ddlh/schedules","templates":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/templates","eventstores":"/gdc/projects/l3398hstuqp0gegtnzmgpuyizfp6ddlh/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        10:21:33","summary":"No summary","updated":"2018-06-05 10:21:34","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"RubyGem
        Dev Week test","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 08:21:35 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/l3398hstuqp0gegtnzmgpuyizfp6ddlh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:ZqN_vsE7B_zZUsrW3Jh93A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:ZqN_vsE7B_zZUsrW3Jh93A:B1k1RNlAHGxXMHf3
      X-Gdc-Request-Time:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/l3398hstuqp0gegtnzmgpuyizfp6ddlh/ldm?thumbnail=1","self":"/gdc/projects/l3398hstuqp0gegtnzmgpuyizfp6ddlh","clearCaches":"/gdc/projects/l3398hstuqp0gegtnzmgpuyizfp6ddlh/clearCaches","invitations":"/gdc/projects/l3398hstuqp0gegtnzmgpuyizfp6ddlh/invitations","users":"/gdc/projects/l3398hstuqp0gegtnzmgpuyizfp6ddlh/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/l3398hstuqp0gegtn[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/l3398hstuqp0gegtnzmgpuyizfp6ddlh/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"This is
        anchor description","defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"some_attr_id","title":"Repository
        Name","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_attr_label_id","title":"Repository
        Name","type":"GDC.text","dataType":"VARCHAR(10000)"}}],"defaultLabel":"some_attr_label_id"}}],"facts":[],"references":[]}},{"dataset":{"identifier":"dataset.devs","title":"Developers","anchor":{"attribute":{"identifier":"attr.devs.dev_id","title":"Dev","folder":"Anchor
        folder","labels":[{"label":{"identifier":"label.devs.dev_id.id","title":"Id","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.devs.dev_id.email","title":"Email","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.devs.dev_id.email"}},"attributes":[],"facts":[],"references":[]}},{"dataset":{"identifier":"dataset.commits","title":"Commits","anchor":{"attribute":{"identifier":"attr.commits.factsof","title":"Attr.Commits.Factsof","folder":"Commits"}},"attributes":[],"facts":[{"fact":{"identifier":"fact.commits.lines_changed","title":"Lines
        Changed","folder":"Commits","dataType":"DECIMAL(12,2)","type":"fact","description":"Fact
        description"}}],"references":["committed_on","dataset.devs","dataset.repos"]}}],"dateDimensions":[{"dateDimension":{"name":"committed_on","title":"Committed
        On"}}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:5JN-BPFdQyBnpryfbej0sQ
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/l3398hstuqp0gegtnzmgpuyizfp6ddlh/model/diff/7c2a6be04ab949da3e7df38ead22e6b801cd7392bd77f1bd0000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:5JN-BPFdQyBnpryfbej0sQ:WSdiTVAqoKhSOi65
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/l3398hstuqp0gegtnzmgpuyizfp6ddlh/model/diff/7c2a6be04ab949da3e7df38ead22e6b801cd7392bd77f1bd0000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 08:21:42 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/l3398hstuqp0gegtnzmgpuyizfp6ddlh/model/diff/7c2a6be04ab949da3e7df38ead22e6b801cd7392bd77f1bd0000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:Qai5Wq8inLzu-_jcp0jA6g
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:Qai5Wq8inLzu-_jcp0jA6g:qypUX5CrkBVtkLdM
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"dataset.create","dataset":"dataset.repos","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Repositories"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.devs","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Developers"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.commits","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Commits"]}},{"updateOperation":{"type":"date-dimension.create","destructive":false,"description":"Create
        date dimension ''%s''","parameters":["Committed On[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:5lWQoPp-Oufuj9zqwnTcLQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:5lWQoPp-Oufuj9zqwnTcLQ:tmLR4d8xSeV7LWWY
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''l3398hstuqp0gegtnzmgpuyizfp6ddlh''","category":"project","instance":"l3398hstuqp0gegtnzmgpuyizfp6ddlh","links":[{"link":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","ca[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:gNMa62J-9ZWa_fOG9uuK8w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.repos} VISUAL(TITLE \"Repositories\");\nCREATE
        DATASET {dataset.devs} VISUAL(TITLE \"Developers\");\nCREATE DATASET {dataset.commits}
        VISUAL(TITLE \"Commits\");\nINCLUDE TEMPLATE \"URN:GOODDATA:DATE\" MODIFY
        (IDENTIFIER \"committed_on\", TITLE \"Committed On\");\nCREATE FOLDER {dim.commits}
        VISUAL(TITLE \"Commits\") TYPE ATTRIBUTE;\nCREATE ATTRIBUTE {attr.commits.factsof}
        VISUAL(TITLE \"Attr.Commits.Factsof\", FOLDER {dim.commits})[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/tasks/9a47568a045800eb8f7799057f68cf3b0000002a/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:1VUhoNmHnWSUx_tod_FPOQ
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:1VUhoNmHnWSUx_tod_FPOQ:OHZiM4xkcgB18lo3
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/tasks/9a47568a045800eb8f7799057f68cf3b0000002a/status","status":"RUNNING","links":{"poll":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/tasks/9a47568a045800eb8f7799057f68cf3b0000002a/status"}}}'
  recorded_at: Tue, 05 Jun 2018 08:21:47 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/hws7s5o3eu325ftrdppl1i4138ckzoah
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:Tj0PcC77EmLA59bzGiTqsg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/hws7s5o3eu325ftrdppl1i4138ckzoah/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"This is
        anchor description","defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"some_attr_id","title":"Repository
        Name","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_attr_label_id","title":"Repository
        Name","type":"GDC.text","dataType":"VARCHAR(10000)"}}],"defaultLabel":"some_attr_label_id"}}],"facts":[],"references":[],"bridges":[]}},{"dataset":{"identifier":"dataset.devs","title":"Developers","anchor":{"attribute":{"identifier":"attr.devs.dev_id","title":"Dev","folder":"Anchor
        folder","labels":[{"label":{"identifier":"label.devs.dev_id.id","title":"Id","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.devs.dev_id.email","title":"Email","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.devs.dev_id.email"}},"attributes":[],"facts":[],"references":[],"bridges":["dataset[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/hws7s5o3eu325ftrdppl1i4138ckzoah/model/diff/c8ed8a0dc6559f7081ef5159140de38602ce188fa90ecd1d00000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:Db9KOGrM-DRqkXAEalhvrQ
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/hws7s5o3eu325ftrdppl1i4138ckzoah/model/diff/c8ed8a0dc6559f7081ef5159140de38602ce188fa90ecd1d00000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:Db9KOGrM-DRqkXAEalhvrQ:kHaYkL4MN0KNJyJn
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/hws7s5o3eu325ftrdppl1i4138ckzoah/model/diff/c8ed8a0dc6559f7081ef5159140de38602ce188fa90ecd1d00000018"}}}'
  recorded_at: Fri, 05 Oct 2018 13:54:41 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:6IY5t1VY9PJMrDiB5B20GA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charse[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:mdJR0yzOhqn9zxowddbVZA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.repos} VISUAL(TITLE \"Repositories\");\nCREATE
        DATASET {dataset.devs} VISUAL(TITLE \"Developers\");\nCREATE DATASET {dataset.commits}
        VISUAL(TITLE \"Commits\");\nINCLUDE TEMPLATE \"URN:GOODDATA:DATE\" MODIFY
        (IDENTIFIER \"committed_on\", TITLE \"Committed On\"[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/tasks/d657b663b00d00b3c23becf94114f96b00000007/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:WrqzAMI0CzuqKIuZ5CfUuA
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:WrqzAMI0CzuqKIuZ5CfUuA:fIdotvusKLfSGlkT
      X-Gdc-Request-Time:
      - '92'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/tasks/d657b663b00d00b3c23becf94114f96b00000007/status","status":"RUNNING","links":{"poll":"/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/tasks/d657b663b00d00b3c23becf94114f96b00000007/status"}}}'
  recorded_at: Fri, 05 Oct 2018 13:54:46 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":MI5onfuWjw3LK8LA44DUlw:FR5-tcQcSwAJRHqyCTldPw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":MI5onfuWjw3LK8LA44DUlw:FR5-tcQcSwAJRHqyCTldPw:GI3u1K4Bw7uk3MMn"
      X-Gdc-Request-Time:
      - '77'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADING"},"links[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/model/diff/1cfa21c019516c518c1cb931c2a6dc3a9d3892bdd17f894200000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":MI5onfuWjw3LK8LA44DUlw:BYFh4ybnbWYs2pPDyS0WKQ"
      Process:
      - 'false'
      Stats-On:
      - ''
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/model/diff/1cfa21c019516c518c1cb931c2a6dc3a9d3892bdd17f894200000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":MI5onfuWjw3LK8LA44DUlw:BYFh4ybnbWYs2pPDyS0WKQ:EEbyl5h9FFvNv4G9"
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/model/diff/1cfa21c019516c518c1cb931c2a6dc3a9d3892bdd17f894200000018"}}}'
  recorded_at: Mon, 21 Jan 2019 18:56:03 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":MI5onfuWjw3LK8LA44DUlw:9dP_pRALNotss1dvPc2x6A"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
 [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":MI5onfuWjw3LK8LA44DUlw:cnOp1IcAzj29oM2hWXRmKQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Typ[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.repos} VISUAL(TITLE \"Repositories\");\nCREATE
        DATASET {dataset.devs} VISUAL(TITLE \"Developers\");\nCREATE DATASET {dataset.commits}
        VISUAL(TITLE \"Commits\");\nINCLUDE TEMPLATE \"URN:GOODDATA:DATE\" MODIFY
        (IDENTIFIER \"committed_on\", TITLE \"Committed On\"[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/tasks/4f6d1a84235b6f6564a80b759554d33400000007/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":MI5onfuWjw3LK8LA44DUlw:tMJZpuFwB--fO3YXGtHEGA"
      Process:
      - 'true'
      Stats-On:
      - ''
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":MI5onfuWjw3LK8LA44DUlw:tMJZpuFwB--fO3YXGtHEGA:nJ9fqUqgqqDPxWJX"
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/tasks/4f6d1a84235b6f6564a80b759554d33400000007/status","status":"RUNNING","links":{"poll":"/gdc/md/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/tasks/4f6d1a84235b6f6564a80b759554d33400000007/status"}}}'
  recorded_at: Mon, 21 Jan 2019 18:56:10 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/l40ehvu3qvgnvwytea4yt8ml2lnlqwec
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":5nkIgsVhoFUfrtJPVTipNw:i9t3N-rf7a2wpSqAfeKI-Q"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/l40ehvu3qvgnvwytea4yt8ml2lnlqwec/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/l40ehvu3qvgnvwytea4yt8ml2lnlqwec/model/diff/cd3158b353403ad843dfbdec6110a77bddbe587735c8da2500000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":5nkIgsVhoFUfrtJPVTipNw:lrIE-ikHtSZ9CCD7zXgZzw"
      Process:
      - 'false'
      Stats-On:
      - ''
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/l40ehvu3qvgnvwytea4yt8ml2lnlqwec/model/diff/cd3158b353403ad843dfbdec6110a77bddbe587735c8da2500000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":5nkIgsVhoFUfrtJPVTipNw:lrIE-ikHtSZ9CCD7zXgZzw:07KDmkBNiMYLMILu"
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/l40ehvu3qvgnvwytea4yt8ml2lnlqwec/model/diff/cd3158b353403ad843dfbdec6110a77bddbe587735c8da2500000018"}}}'
  recorded_at: Mon, 21 Jan 2019 19:29:33 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l40ehvu3qvgnvwytea4yt8ml2lnlqwec
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":5nkIgsVhoFUfrtJPVTipNw:D5bN_I_hFw4YFSe9bWpU5g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
 [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l40ehvu3qvgnvwytea4yt8ml2lnlqwec/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":5nkIgsVhoFUfrtJPVTipNw:fRqg6ImGcTsR0EfFMdurwA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Typ[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l40ehvu3qvgnvwytea4yt8ml2lnlqwec/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.repos} VISUAL(TITLE \"Repositories\");\nCREATE
        DATASET {dataset.devs} VISUAL(TITLE \"Developers\");\nCREATE DATASET {dataset.commits}
        VISUAL(TITLE \"Commits\");\nINCLUDE TEMPLATE \"URN:GOODDATA:DATE\" MODIFY
        (IDENTIFIER \"committed_on\", TITLE \"Committed On\"[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l40ehvu3qvgnvwytea4yt8ml2lnlqwec/tasks/8810de3135bbac3a9c1526548523fce200000007/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":5nkIgsVhoFUfrtJPVTipNw:ImyEQjUAM9eEgfJdfPJ1VQ"
      Process:
      - 'true'
      Stats-On:
      - ''
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":5nkIgsVhoFUfrtJPVTipNw:ImyEQjUAM9eEgfJdfPJ1VQ:coS9hdBcoojDzsM4"
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/l40ehvu3qvgnvwytea4yt8ml2lnlqwec/tasks/8810de3135bbac3a9c1526548523fce200000007/status","status":"RUNNING","links":{"poll":"/gdc/md/l40ehvu3qvgnvwytea4yt8ml2lnlqwec/tasks/8810de3135bbac3a9c1526548523fce200000007/status"}}}'
  recorded_at: Mon, 21 Jan 2019 19:29:41 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":eEWKUL1m1EOkKymcyTXQGQ:vrQxstZ-yiC3aa40RYazVw"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":eEWKUL1m1EOkKymcyTXQGQ:vrQxstZ-yiC3aa40RYazVw:9PMtPEZ8j77HeC4K"
      X-Gdc-Request-Time:
      - '54'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Thu, 24 Jan 2019 13:50:56 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":eEWKUL1m1EOkKymcyTXQGQ:j3YIA6LOr-TSPIz8fRSaIQ"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - ":eEWKUL1m1EOkKymcyTXQGQ:j3YIA6LOr-TSPIz8fRSaIQ:ojTgushl8MQ8BkXd"
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 24 Jan 2019 13:50:57 GMT
- request:
    method: get
[...]
