---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Xbgvshk6wU2UT1yyUpOzKQ:jcgIXbMgpYZOLtjN_j2N2w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Xbgvshk6wU2UT1yyUpOzKQ:jcgIXbMgpYZOLtjN_j2N2w:F2Y35hGxYegLlyGr
      X-Gdc-Request-Time:
      - '51'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v/ldm?thumbnail=1","self":"/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v","clearCaches":"/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v/clearCaches","invitations":"/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v/invitations","users":"/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v/uploads/","ldm":"/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v/ldm","metadata":"/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v","publicartifacts":"/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v/publicartifacts","roles":"/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v/roles","userRoles":"/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v/dataload","connectors":"/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v/connectors","execute":"/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v/execute","config":"/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v/config","projectFeatureFlags":"/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v/projectFeatureFlags","schedules":"/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v/schedules","templates":"/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/templates","eventstores":"/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        08:33:33","summary":"No summary","updated":"2018-06-05 08:33:33","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"my_bp","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 06:33:34 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Xbgvshk6wU2UT1yyUpOzKQ:eBxEazxzkKwZ3CBRB5jjmQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Xbgvshk6wU2UT1yyUpOzKQ:eBxEazxzkKwZ3CBRB5jjmQ:dl0LARm0DRuXOXWW
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v/ldm?thumbnail=1","self":"/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v","clearCaches":"/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v/clearCaches","invitations":"/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v/invitations","users":"/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/u8mtic422f80k4d5m[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Dataset.Repos","anchor":{"attribute":{"identifier":"attr.repository","title":"Attr.Repository","folder":"Dataset.Repos","labels":[{"label":{"identifier":"label.repository.name","title":"Label.Repository.Name","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.repository.name"}},"attributes":[{"attribute":{"identifier":"attr.attribute1","title":"Some
        attribute","folder":"Dataset.Repos","labels":[{"label":{"identifier":"label.attribute1.name","title":"Label.Attribute1.Name","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.attribute1.name"}}],"facts":[{"fact":{"identifier":"some_numbers","title":"Some
        Numbers","folder":"Dataset.Repos","dataType":"INT","type":"fact"}}],"references":[]}}],"dateDimensions":[]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Xbgvshk6wU2UT1yyUpOzKQ:kgfRCHJu8Kxqe1bfdupd_A
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v/model/diff/5b74b4ae9a7ba4723ed731d67a3615c401cd73ad3b2ee4e60000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Xbgvshk6wU2UT1yyUpOzKQ:kgfRCHJu8Kxqe1bfdupd_A:t9oRr8Th7k6vNrU0
      X-Gdc-Request-Time:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v/model/diff/5b74b4ae9a7ba4723ed731d67a3615c401cd73ad3b2ee4e60000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 06:33:41 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v/model/diff/5b74b4ae9a7ba4723ed731d67a3615c401cd73ad3b2ee4e60000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Xbgvshk6wU2UT1yyUpOzKQ:X1-CbJOnAz9ZqNifP31U3Q
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v/model/diff/5b74b4ae9a7ba4723ed731d67a3615c401cd73ad3b2ee4e60000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Xbgvshk6wU2UT1yyUpOzKQ:X1-CbJOnAz9ZqNifP31U3Q:ksvuKt1AffeY7L5P
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v/model/diff/5b74b4ae9a7ba4723ed731d67a3615c401cd73ad3b2ee4e60000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 06:33:42 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v/model/diff/5b74b4ae9a7ba4723ed731d67a3615c401cd73ad3b2ee4e60000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Xbgvshk6wU2UT1yyUpOzKQ:kdUHm6ax9UTR3tPMMur96g
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Xbgvshk6wU2UT1yyUpOzKQ:kdUHm6ax9UTR3tPMMur96g:j9pqa9hcNUmtLiz2
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"dataset.create","dataset":"dataset.repos","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Dataset.Repos"]}},{"updateOperation":{"type":"anchor.create","dataset":"dataset.repos","destructive":false,"description":"Create
        anchor ''%s''","parameters":["Attr.Repository"]}},{"updateOperation":{"type":"attribute.create","dataset":"dataset.repos","destructive":false,"description":"Create
        attribute ''%s''","parameters":["Some attribute"]}},{"updateOperation":{"type":"fact.create","dataset":"dataset.repos","destructive":false,"description":"Create
        fact ''%s''","parameters":["Some Numbers"]}}],"updateScripts":[{"updateScript":{"maqlDdl":"CREATE
        DATASET {dataset.repos} VISUAL(TITLE \"Dataset.Repos\");\nCREATE FOLDER {dim.datasetrepos}
        VISUAL(TITLE \"Dataset.Repos\") TYPE ATTRIBUTE;\nCREATE ATTRIBUTE {attr.repository}
        VISUAL(TITLE \"Attr.Repository\", FOLDER {dim.datasetrepos}) AS KEYS {f_repos.id}
        FULLSET;\nALTER DATASET {dataset.repos} ADD {attr.repository};\nALTER ATTRIBUTE
        {attr.repository} ADD LABELS {label.repository.name} VISUAL(TITLE \"Label.Repository.Name\")
        AS {f_repos.nm_name};\nALTER ATTRIBUTE {attr.repository} DEFAULT LABEL {label.repository.name};\nCREATE
        ATTRIBUTE {attr.attribute1} VISUAL(TITLE \"Some attribute\", FOLDER {dim.datasetrepos})
        AS KEYS {d_repos_attribute1.id} FULLSET, {f_repos.attribute1_id};\nALTER DATASET
        {dataset.repos} ADD {attr.attribute1};\nALTER ATTRIBUTE {attr.attribute1}
        ADD LABELS {label.attribute1.name} VISUAL(TITLE \"Label.Attribute1.Name\")
        AS {d_repos_attribute1.nm_name};\nALTER ATTRIBUTE {attr.attribute1} DEFAULT
        LABEL {label.attribute1.name};\nCREATE FOLDER {ffld.datasetrepos} VISUAL(TITLE
        \"Dataset.Repos\") TYPE FACT;\nCREATE FACT {some_numbers} VISUAL(TITLE \"Some
        Numbers\", FOLDER {ffld.datasetrepos}) AS {f_repos.f_some_numbers};\nALTER
        DATATYPE {f_repos.f_some_numbers} INT;\nALTER DATASET {dataset.repos} ADD
        {some_numbers};\nSYNCHRONIZE {dataset.repos};","maqlDdlChunks":["CREATE DATASET
        {dataset.repos} VISUAL(TITLE \"Dataset.Repos\");\nCREATE FOLDER {dim.datasetrepos}
        VISUAL(TITLE \"Dataset.Repos\") TYPE ATTRIBUTE;\nCREATE ATTRIBUTE {attr.repository}
        VISUAL(TITLE \"Attr.Repository\", FOLDER {dim.datasetrepos}) AS KEYS {f_repos.id}
        FULLSET;\nALTER DATASET {dataset.repos} ADD {attr.repository};\nALTER ATTRIBUTE
        {attr.repository} ADD LABELS {label.repository.name} VISUAL(TITLE \"Label.Repository.Name\")
        AS {f_repos.nm_name};\nALTER ATTRIBUTE {attr.repository} DEFAULT LABEL {label.repository.name};\nCREATE
        ATTRIBUTE {attr.attribute1} VISUAL(TITLE \"Some attribute\", FOLDER {dim.datasetrepos})
        AS KEYS {d_repos_attribute1.id} FULLSET, {f_repos.attribute1_id};\nALTER DATASET
        {dataset.repos} ADD {attr.attribute1};\nALTER ATTRIBUTE {attr.attribute1}
        ADD LABELS {label.attribute1.name} VISUAL(TITLE \"Label.Attribute1.Name\")
        AS {d_repos_attribute1.nm_name};\nALTER ATTRIBUTE {attr.attribute1} DEFAULT
        LABEL {label.attribute1.name};\nCREATE FOLDER {ffld.datasetrepos} VISUAL(TITLE
        \"Dataset.Repos\") TYPE FACT;\nCREATE FACT {some_numbers} VISUAL(TITLE \"Some
        Numbers\", FOLDER {ffld.datasetrepos}) AS {f_repos.f_some_numbers};\nALTER
        DATATYPE {f_repos.f_some_numbers} INT;\nALTER DATASET {dataset.repos} ADD
        {some_numbers};\nSYNCHRONIZE {dataset.repos};"],"preserveData":true,"cascadeDrops":false}},{"updateScript":{"maqlDdl":"CREATE
        DATASET {dataset.repos} VISUAL(TITLE \"Dataset.Repos\");\nCREATE FOLDER {dim.datasetrepos}
        VISUAL(TITLE \"Dataset.Repos\") TYPE ATTRIBUTE;\nCREATE ATTRIBUTE {attr.repository}
        VISUAL(TITLE \"Attr.Repository\", FOLDER {dim.datasetrepos}) AS KEYS {f_repos.id}
        FULLSET;\nALTER DATASET {dataset.repos} ADD {attr.repository};\nALTER ATTRIBUTE
        {attr.repository} ADD LABELS {label.repository.name} VISUAL(TITLE \"Label.Reposi[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Xbgvshk6wU2UT1yyUpOzKQ:wkEvTv7KkwHsI8ggVN48WQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Xbgvshk6wU2UT1yyUpOzKQ:wkEvTv7KkwHsI8ggVN48WQ:5ccZ53738zx5SlLA
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''u8mtic422f80k4d5mjmos2a97rexde5v''","category":"project","instance":"u8mtic422f80k4d5mjmos2a97rexde5v","links":[{"link":"/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","ca[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Xbgvshk6wU2UT1yyUpOzKQ:wbENwcTttHn3S5jw50qUmA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.repos} VISUAL(TITLE \"Dataset.Repos\");\nCREATE
        FOLDER {dim.datasetrepos} VISUAL(TITLE \"Dataset.Repos\") TYPE ATTRIBUTE;\nCREATE
        ATTRIBUTE {attr.repository} VISUAL(TITLE \"Attr.Repository\", FOLDER {dim.datasetrepos})
        AS KEYS {f_repos.id} FULLSET;\nALTER DATASET {dataset.repos} ADD {attr.repository};\nALTER
        ATTRIBUTE {attr.repository} ADD LABELS {label.repository.name} VISUAL(TITLE
        \"Label.Repository.Name\") AS {f_repos.nm_name};\[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/tasks/57a33f019531029ba43b8e8cce8639d30000002a/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Xbgvshk6wU2UT1yyUpOzKQ:TpygsIpa_XrlMD7cAbufDQ
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Xbgvshk6wU2UT1yyUpOzKQ:TpygsIpa_XrlMD7cAbufDQ:oB3tDd8xEtpuAaS8
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/tasks/57a33f019531029ba43b8e8cce8639d30000002a/status","status":"RUNNING","links":{"poll":"/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/tasks/57a33f019531029ba43b8e8cce8639d30000002a/status"}}}'
  recorded_at: Tue, 05 Jun 2018 06:33:55 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - lvoXHNi5D4d0BZFQEgbrZA:Cl2F8qgakUf6m1ZqEnxGTg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - lvoXHNi5D4d0BZFQEgbrZA:Cl2F8qgakUf6m1ZqEnxGTg:RqWIDnoTP1uEUjQE
      X-Gdc-Request-Time:
      - '51'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Dataset.Repos","anchor":{"attribute":{"identifier":"attr.repository","title":"Attr.Repository","folder":"Dataset.Repos","labels":[{"label":{"identifier":"label.repository.name","title":"Label.Repository.Name","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.repository.name"}},"attributes":[{"attribute":{"identifier":"attr.attribute1","title":"Some
        attribute","folder":"Dataset.Repos","labels":[{"label":{"identifier":"label.attribute1.name","title":"Label.Attribute1.Name","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.attribute1.name"}}],"facts":[{"fact":{"identifier":"some_numbers","title":"Some
        Numbers","folder":"Dataset.Repos","dataType":"INT","type":"fact"}}],"references":[],"bridges":[]}}],"dateDimensions":[]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - lvoXHNi5D4d0BZFQEgbrZA:GUg7j8SnUAsZhNx7ANEA2A
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/model/diff/543ed7fba9532f5992a2ee760ce60cc99144d69572727ee200000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - lvoXHNi5D4d0BZFQEgbrZA:GUg7j8SnUAsZhNx7ANEA2A:QCn089ruItH5hNE1
      X-Gdc-Request-Time:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/model/diff/543ed7fba9532f5992a2ee760ce60cc99144d69572727ee200000018"}}}'
  recorded_at: Fri, 05 Oct 2018 12:44:10 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/model/diff/543ed7fba9532f5992a2ee760ce60cc99144d69572727ee200000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - lvoXHNi5D4d0BZFQEgbrZA:aHJNC1kziwghECnIf85uQQ
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/model/diff/543ed7fba9532f5992a2ee760ce60cc99144d69572727ee200000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - lvoXHNi5D4d0BZFQEgbrZA:aHJNC1kziwghECnIf85uQQ:w5Ck0twm8QUy1FIk
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/model/diff/543ed7fba9532f5992a2ee760ce60cc99144d69572727ee200000018"}}}'
  recorded_at: Fri, 05 Oct 2018 12:44:11 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - lvoXHNi5D4d0BZFQEgbrZA:ukV6q8xg1Irf8xEB9yZc2w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charse[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - lvoXHNi5D4d0BZFQEgbrZA:B6mmf2ViAfBpb2h7WEecXg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.repos} VISUAL(TITLE \"Dataset.Repos\");\nCREATE
        FOLDER {dim.datasetrepos} VISUAL(TITLE \"Dataset.Repos\") TYPE ATTRIBUTE;\nCREATE
        ATTRIBUTE {attr.repository} VISUAL(TITLE \"Attr.Repository\", FOLDER {dim.datasetrepos})
        AS KEYS {f_repos.id} FULLSET;\nALTER DATA[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/tasks/3cae58ca0e1b5a53885465d47fff002f00000007/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - lvoXHNi5D4d0BZFQEgbrZA:259AJgPi2LfvrHMcDTjePQ
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - lvoXHNi5D4d0BZFQEgbrZA:259AJgPi2LfvrHMcDTjePQ:DYOiS3ygw7pwJA2C
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/tasks/3cae58ca0e1b5a53885465d47fff002f00000007/status","status":"RUNNING","links":{"poll":"/gdc/md/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/tasks/3cae58ca0e1b5a53885465d47fff002f00000007/status"}}}'
  recorded_at: Fri, 05 Oct 2018 12:44:15 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - Z-97THmb14Zm6VeTmfRhtQ:9KG9CjxOrQ2uqh89GcJI2w
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Z-97THmb14Zm6VeTmfRhtQ:9KG9CjxOrQ2uqh89GcJI2w:nUtBmkEBpAoFsvRN
      X-Gdc-Request-Time:
      - '62'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 10:41:37 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Z-97THmb14Zm6VeTmfRhtQ:cHCXIFjJP_TZtYlJJW6ltQ
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - Z-97THmb14Zm6VeTmfRhtQ:cHCXIFjJP_TZtYlJJW6ltQ:WIT15MvHFPe6YZbD
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 10:41:38 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Z-97THmb14Zm6VeTmfRhtQ:89RnAHe-ccAaHc7DpNbl4A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Z-97THmb14Zm6VeTmfRhtQ:89RnAHe-ccAaHc7DpNbl4A:XkY0xYDuItUw9Rse
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-10-10
        10:25:03","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","timezone":null,"language":"en-US","ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Wed, 10 Oct 2018 10:41:39 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Z-97THmb14Zm6VeTmfRhtQ:Tv3WAOm5UOIKvmK4Zeukhw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      -[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"my_bp"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Z-97THmb14Zm6VeTmfRhtQ:7Wl-vPDZDVPEQcFrDpAnFQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Z-97THmb14Zm6VeTmfRhtQ:7Wl-vPDZDVPEQcFrDpAnFQ:ajQlNvLPLS5KBqsj
      X-Gdc-Request-Time:
      - '595'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/ta78hcxcq6gz71lwp2ip90u6ly6lvtee"}'
  recorded_at: Wed, 10 Oct 2018 10:41:40 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ta78hcxcq6gz71lwp2ip90u6ly6lvtee
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Z-97THmb14Zm6VeTmfRhtQ:g7oUCMhYehmftwHE7BUxGw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ta78hcxcq6gz71lwp2ip90u6ly6lvtee/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Dataset.Repos","anchor":{"attribute":{"identifier":"attr.repository","title":"Attr.Repository","folder":"Dataset.Repos","labels":[{"label":{"identifier":"label.[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ta78hcxcq6gz71lwp2ip90u6ly6lvtee/model/diff/a3fe233ab98b35ef0ffddf348711f67c0dcb941b4c87dde200000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Z-97THmb14Zm6VeTmfRhtQ:Cw-V3DoIUpNOgufqgDu1kg
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/ta78hcxcq6gz71lwp2ip90u6ly6lvtee/model/diff/a3fe233ab98b35ef0ffddf348711f67c0dcb941b4c87dde200000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Z-97THmb14Zm6VeTmfRhtQ:Cw-V3DoIUpNOgufqgDu1kg:oruVjsRR1YXhL1Fe
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/ta78hcxcq6gz71lwp2ip90u6ly6lvtee/model/diff/a3fe233ab98b35ef0ffddf348711f67c0dcb941b4c87dde200000018"}}}'
  recorded_at: Wed, 10 Oct 2018 10:41:49 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ta78hcxcq6gz71lwp2ip90u6ly6lvtee
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Z-97THmb14Zm6VeTmfRhtQ:ZGAJtNHq3apV_Gsc4bXorw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charse[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ta78hcxcq6gz71lwp2ip90u6ly6lvtee/ldm
    body:
      encoding: US-ASCII
      string: ''
[...]
