---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/nrucnv2cf4o6zk9v59u9bwy7lk763kdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:7LeAH__J6MMjxv__xtNdow
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:7LeAH__J6MMjxv__xtNdow:QynMXUx8F5Mk3eN4
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/ldm?thumbnail=1","self":"/gdc/projects/nrucnv2cf4o6zk9v59u9bwy7lk763kdl","clearCaches":"/gdc/projects/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/clearCaches","invitations":"/gdc/projects/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/invitations","users":"/gdc/projects/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/uploads/","ldm":"/gdc/projects/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/ldm","metadata":"/gdc/md/nrucnv2cf4o6zk9v59u9bwy7lk763kdl","publicartifacts":"/gdc/projects/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/publicartifacts","roles":"/gdc/projects/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/roles","userRoles":"/gdc/projects/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/dataload","connectors":"/gdc/projects/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/connectors","execute":"/gdc/projects/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/execute","config":"/gdc/projects/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/config","projectFeatureFlags":"/gdc/projects/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/projectFeatureFlags","schedules":"/gdc/projects/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/schedules","templates":"/gdc/md/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/templates","eventstores":"/gdc/projects/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        09:49:01","summary":"No summary","updated":"2018-06-05 09:49:02","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"My
        new clone project","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:49:02 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/nrucnv2cf4o6zk9v59u9bwy7lk763kdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:kjnqY77SoWmd-PPGNsGckg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:kjnqY77SoWmd-PPGNsGckg:esxPbnrETJIx1XLz
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/ldm?thumbnail=1","self":"/gdc/projects/nrucnv2cf4o6zk9v59u9bwy7lk763kdl","clearCaches":"/gdc/projects/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/clearCaches","invitations":"/gdc/projects/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/invitations","users":"/gdc/projects/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/nrucnv2cf4o6zk9v5[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":0}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:4GDbWyN18qrqfdlLIgPwvQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:4GDbWyN18qrqfdlLIgPwvQ:RgpOlXaQEARy2BBp
      X-Gdc-Request-Time:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/etltask/9539824fcaafb8f3439da1fa16d387300000002b"},"token":"<TOKEN>"}}'
  recorded_at: Tue, 05 Jun 2018 07:49:10 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/etltask/9539824fcaafb8f3439da1fa16d387300000002b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:XYvthJcIDFUcpaFk1atv2Q
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:XYvthJcIDFUcpaFk1atv2Q:ZkiXOrgeQm4KYdRx
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Tue, 05 Jun 2018 07:49:10 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/maintenance/import
    body:
      encoding: UTF-8
      string: '{"importProject":{"token":"<TOKEN>"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:7VcLMkF5hvDlc-Sw5qWfgw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:7VcLMkF5hvDlc-Sw5qWfgw:Ll01hq7Cwob9v3tf
      X-Gdc-Request-Time:
      - '51'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/etltask/070e402e2257f46c0f63e3785ff932b10000002b"}'
  recorded_at: Tue, 05 Jun 2018 07:49:22 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/etltask/070e402e2257f46c0f63e3785ff932b10000002b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:B81h4OL0VNbbgPR99u_U2g
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:B81h4OL0VNbbgPR99u_U2g:hUKkgIAmrIBfNMmx
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Tue, 05 Jun 2018 07:49:22 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/nrucnv2cf4o6zk9v59u9bwy7lk763kdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:B2mtO9u8ib6sMhzw17bkzw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:B2mtO9u8ib6sMhzw17bkzw:guqDJDfu78wCHr2I
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''nrucnv2cf4o6zk9v59u9bwy7lk763kdl''","category":"project","instance":"nrucnv2cf4o6zk9v59u9bwy7lk763kdl","links":[{"link":"/gdc/md/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","category":"drillcrosspaths","title":"drillcrosspaths"}[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:eOmMyKgMYH7-EgFLxJeOXw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:eOmMyKgMYH7-EgFLxJeOXw:u5V8AeAZIEIPFwAF
      X-Gdc-Request-Time:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"fact":{"content":{"folders":["/gdc/md/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/obj/219"],"expr":[{"type":"col","data":"/gdc/md/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/obj/29"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/obj/220","tags":"tag1
        tag2 tag3","created":"2018-06-05 09:40:52","identifier":"fact.commits.lines_changed","deprecated":"0","summary":"Fact
        description","isProduction":1,"title":"Lines Changed","category":"fact","updated":"2018-06-05
        09:45:08","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Tue, 05 Jun 2018 07:49:34 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT SUM([/gdc/md/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/obj/220])"},"meta":{"tags":"","summary":null,"title":"sum
        of Lines Changed"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:kYKr123Ds0DiE9cSYa8AVA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:kYKr123Ds0DiE9cSYa8AVA:n7nfI3ZJR5Gau0Qc
      X-Gdc-Request-Time:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/obj/292"}'
  recorded_at: Tue, 05 Jun 2018 07:49:35 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/obj/292
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:A5t3RW-kOSBqZ6oI0a4RNg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:A5t3RW-kOSBqZ6oI0a4RNg:RoG1NsXXIcEYh8eH
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"SUM","content":[{"value":"/gdc/md/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/obj/220","position":{"column":25,"line":1},"type":"fact
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        SUM([/gdc/md/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/obj/220])"},"links":{"explain2":"/gdc/md/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/obj/292/explain2"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/obj/292","tags":"","created":"2018-06-05
        09:49:34","identifier":"aabfgz3Panmt","deprecated":"0","summary":"","isProduction":1,"title":"sum
        of Lines Changed","category":"metric","updated":"2018-06-05 09:49:34","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:49:35 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"definitionContent":{"content":{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[],"metrics":[{"alias":"sum
        of Lines Changed","uri":"/gdc/md/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/obj/292"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"meta":{"tags":"","summary":"","title":"Untitled
        report definition"}}},"projectMetadata":"/gdc/md/nrucnv2cf4o6zk9v59u9bwy7lk763kdl"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:HFAo48C-bwy7nVRy43paAA
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/dataResult/706167182716436352"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:HFAo48C-bwy7nVRy43paAA:1IG4QY2cX3pfEHsv
      X-Gdc-Request-Time:
      - '199'
    body:
      encoding: ASCII-8BIT
      string: '{"execResult":{"reportView":{"reportName":"Untitled report definition","columnWidths":[],"filters":[],"rows":["metricGroup"],"sort":{"columns":[],"rows":[]},"format":"grid","columns":[],"metrics":[{"format":"#,##0","summary":"","title":"sum
        of Lines Changed","metricId":"/gdc/md/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/obj/292"}]},"dataResult":"/gdc/md/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/dataResult/706167182716436352"}}'
  recorded_at: Tue, 05 Jun 2018 07:49:36 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/nrucnv2cf4o6zk9v59u9bwy7lk763kdl/dataResult/706167182716436352
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:wTjPhw8yAF-CsnAzLLM3Cw
      Process:
      - 'true'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Execution-Time:
      - '148'
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '38'
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:wTjPhw8yAF-CsnAzLLM3Cw:geW7XKAC2MDT716s
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 07:49:37 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"My new clone project"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:OQujVj7KYIwsV5c8R9o0Vg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:OQujVj7KYIwsV5c8R9o0Vg:bI4dFCXTszFKKWdn
      X-Gdc-Request-Time:
      - '420'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/oi2i513bqcdw24a3y4awaylce135jv5w"}'
  recorded_at: Tue, 05 Jun 2018 08:29:47 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/oi2i513bqcdw24a3y4awaylce135jv5w
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:ebwtjz8hZTIIKCLDWomNEw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":0}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:h8JgeMiXeIUjH4njh9TmAQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:h8JgeMiXeIUjH4njh9TmAQ:XFFr3II50bLSS4NK
      X-Gdc-Request-Time:
      - '57'
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/etltask/bddc17bb1d491b0a8d09e4108fae064c0000002b"},"token":"<TOKEN>"}}'
  recorded_at: Tue, 05 Jun 2018 08:29:54 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/etltask/bddc17bb1d491b0a8d09e4108fae064c0000002b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:H5u7TnJa2FgLm-sHI6jh9A
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:H5u7TnJa2FgLm-sHI6jh9A:zcYbEYEemh5xSXVP
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Tue, 05 Jun 2018 08:29:55 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/oi2i513bqcdw24a3y4awaylce135jv5w/maintenance/import
    body:
      encoding: UTF-8
      string: '{"importProject":{"token":"<TOKEN>"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:kxWSbGIwY57EMlNOA-6jTg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:kxWSbGIwY57EMlNOA-6jTg:WVp9OJs90t9ZopX8
      X-Gdc-Request-Time:
      - '57'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/oi2i513bqcdw24a3y4awaylce135jv5w/etltask/01d44f55b2330a043e8bf07238cc02a20000002b"}'
  recorded_at: Tue, 05 Jun 2018 08:30:07 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/oi2i513bqcdw24a3y4awaylce135jv5w/etltask/01d44f55b2330a043e8bf07238cc02a20000002b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:yO00EajZ3jpZj81Nmn-vOA
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:yO00EajZ3jpZj81Nmn-vOA:8LjiWf1Xm63LotzG
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Tue, 05 Jun 2018 08:30:08 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/oi2i513bqcdw24a3y4awaylce135jv5w
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:EXKt2h3Fp-gV2sRQJ-_J7g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charse[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/oi2i513bqcdw24a3y4awaylce135jv5w/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:1UtOuH9plSHvOZgmB4cWkg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:1UtOuH9plSHvOZgmB4cWkg:dLnPiTqV2MJbx68w
      X-Gdc-Request-Time:
      - '78'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"fact":{"content":{"folders":["/gdc/md/oi2i513bqcdw24a3y4awaylce135jv5w/obj/219"],"expr":[{"type":"col","data":"/gdc/md/oi2i513bqcdw24a3y4awaylce135jv5w/obj/29"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/oi2i513bqcdw24a3y4awaylce135jv5w/obj/220","tags":"tag1
        tag2 tag3","created":"2018-06-05 10:21:49","identifier":"fact.commits.lines_changed","deprecated":"0","summary":"Fact
        description","isProduction":1,"title":"Lines Changed","category":"fact","updated":"2018-06-05
        10:25:45","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Tue, 05 Jun 2018 08:30:20 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/oi2i513bqcdw24a3y4awaylce135jv5w/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT SUM([/gdc/md/oi2i513bqcdw24a3y4awaylce135jv5w/obj/220])"},"meta":{"tags":"","summary":null,"title":"sum
        of Lines Changed"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:qf_fOzjCV7DwjCcpEYpigQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:qf_fOzjCV7DwjCcpEYpigQ:fMLjHH0X9QDEKyeY
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/oi2i513bqcdw24a3y4awaylce135jv5w/obj/292"}'
  recorded_at: Tue, 05 Jun 2018 08:30:20 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/oi2i513bqcdw24a3y4awaylce135jv5w/obj/292
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:BKOTBsZkLya3kWIlPKEPbQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/oi2i513bqcdw24a3y4awaylce135jv5w/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"definitionContent":{"content":{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[],"metrics":[{"alias":"sum
        of Lines Changed","uri":"/gdc/md/oi2i513bqcdw24a3y4awaylce135jv5w/obj/292"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"meta":{"tag[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/oi2i513bqcdw24a3y4awaylce135jv5w/dataResult/5525364526607432704
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:20jStAmtmSIsGvhf3Qst1A
      Process:
      - 'true'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Execution-Time:
      - '133'
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '28'
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:20jStAmtmSIsGvhf3Qst1A:lXJRP1fmEyqjIhlI
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 08:30:22 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/oi2i513bqcdw24a3y4awaylce135jv5w
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:hvoirh8GHTmyA3Knbh4tOQ
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '70'
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:hvoirh8GHTmyA3Knbh4tOQ:26F0DdGqbUziFDEA
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 08:30:24 GMT
recorded_with: VCR 4.0.0
