---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.devs.dev_id"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:AmLZpoXm75jbsie4kPyzwA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:AmLZpoXm75jbsie4kPyzwA:Qof26pE0UBdCgh5p
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.devs.dev_id","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216"}]}'
  recorded_at: Tue, 05 Jun 2018 07:45:44 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:EST3YY5no9CF6fGtbhr1nw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:EST3YY5no9CF6fGtbhr1nw:QKdCkMz9psHh0ZzX
      X-Gdc-Request-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/11"}],"dimension":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/215","displayForms":[{"content":{"formOf":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216","expression":"[/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/13]","default":1},"links":{"elements":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/218/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/218","tags":"","created":"2018-06-05
        09:40:52","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2018-06-05
        09:40:52","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}},{"content":{"formOf":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216","expression":"[/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/15]"},"links":{"elements":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/217/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/217","tags":"","created":"2018-06-05
        09:40:52","identifier":"label.devs.dev_id.id","deprecated":"0","summary":"","isProduction":1,"title":"Id","category":"attributeDisplayForm","updated":"2018-06-05
        09:40:52","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}],"fk":[{"multivalue":false,"type":"col","data":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/25"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216","tags":"","created":"2018-06-05
        09:40:52","identifier":"attr.devs.dev_id","deprecated":"0","summary":"","isProduction":1,"title":"Dev","category":"attribute","updated":"2018-06-05
        09:40:53","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:45:45 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT COUNT([/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216])"},"meta":{"tags":"","summary":null,"title":"count
        of Dev"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:x9zgti8rWNczvyEe1JMKDw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:x9zgti8rWNczvyEe1JMKDw:mrsDCs0leMMl2Yii
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/287"}'
  recorded_at: Tue, 05 Jun 2018 07:45:47 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/287
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:ozjJCU5TAX_XLTcZ3uKjmw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:ozjJCU5TAX_XLTcZ3uKjmw:ml2cGIlhzDFdd7Zf
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"COUNT","content":[{"value":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216","position":{"column":27,"line":1},"type":"attribute
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        COUNT([/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216])"},"links":{"explain2":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/287/explain2"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/287","tags":"","created":"2018-06-05
        09:45:46","identifier":"aaeffw8aeyV9","deprecated":"0","summary":"","isProduction":1,"title":"count
        of Dev","category":"metric","updated":"2018-06-05 09:45:46","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:45:47 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uihlr91spuzouu4qph5twhixwg9gqice/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"definitionContent":{"content":{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[],"metrics":[{"alias":"count
        of Dev","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/287"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"meta":{"tags":"","summary":"","title":"Untitled
        report definition"}}},"projectMetadata":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:VTx8ryyWKqLHUYyJbhsP1w
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/dataResult/6626093954048457728"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:VTx8ryyWKqLHUYyJbhsP1w:Q3ugYQGSW4f5Bp5s
      X-Gdc-Request-Time:
      - '181'
    body:
      encoding: ASCII-8BIT
      string: '{"execResult":{"reportView":{"reportName":"Untitled report definition","columnWidths":[],"filters":[],"rows":["metricGroup"],"sort":{"columns":[],"rows":[]},"format":"grid","columns":[],"metrics":[{"format":"#,##0","summary":"","title":"count
        of Dev","metricId":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/287"}]},"dataResult":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/dataResult/6626093954048457728"}}'
  recorded_at: Tue, 05 Jun 2018 07:45:48 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/dataResult/6626093954048457728
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:3J-gZnIDf6v2TV-GALmGdA
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Execution-Time:
      - '129'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:3J-gZnIDf6v2TV-GALmGdA:SVxmoTdAYp7j93kl
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"xtab_data":{"columns":{"tree":{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"root","id":null},"lookups":[{"0":"count
        of Dev"}]},"data":[["4"]],"overall_size":{"columns":1,"rows":1},"rows":{"tree":{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"root","id":null},"lookups":[{"0":"count
        of Dev"}]},"offset":{"columns":0,"rows":0},"size":{"columns":1,"rows":1}}}'
  recorded_at: Tue, 05 Jun 2018 07:45:49 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.devs.dev_id"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:ekv3px-xn9F_LEl6F-oNtg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:ekv3px-xn9F_LEl6F-oNtg:s2XtIahcwJUBjIRB
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.devs.dev_id","uri":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/211"}]}'
  recorded_at: Tue, 05 Jun 2018 08:26:30 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/211
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:ZFtydqCLnS1aIqCdorKTOA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT COUNT([/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/211])"},"meta":{"tags":"","summary":null,"title":"count
        of Dev"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:rWwymngasHXQp1YeDiry0Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:rWwymngasHXQp1YeDiry0Q:qd1LpIMIeL5WZwBv
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/287"}'
  recorded_at: Tue, 05 Jun 2018 08:26:31 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/l3398hstuqp0gegtnzmgpuyizfp6ddlh/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"definitionContent":{"content":{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[],"metrics":[{"alias":"count
        of Dev","uri":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/287"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"meta":{"tags":"","s[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/dataResult/5473275790340717568
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:uFg9sSj4m4z_4t2fTVlcXg
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Execution-Time:
      - '133'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:uFg9sSj4m4z_4t2fTVlcXg:LzAEAuSNUq5WtTxw
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"xtab_data":{"columns":{"tree":{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"root","id":null},"lookups":[{"0":"count
        of Dev"}]},"data":[["4"]],"overall_size":{"columns":1,"rows":1},"rows":{"tree":{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"root","id":null},"lookups":[{"0":"count
        of Dev"}]},"offset":{"columns":0,"rows":0},"size":{"columns":1,"rows":1}}}'
  recorded_at: Tue, 05 Jun 2018 08:26:33 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.devs.dev_id"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:8BJDdyzB9ozRYpR_mdH8SA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:8BJDdyzB9ozRYpR_mdH8SA:cqjzO4sn8s4CWOOC
      X-Gdc-Request-Time:
      - '409'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.devs.dev_id","uri":"/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/obj/217"}]}'
  recorded_at: Fri, 05 Oct 2018 13:58:01 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/obj/217
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:5657O2NQ-wYGvZucEhRNOw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT COUNT([/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/obj/217])"},"meta":{"tags":"","summary":null,"title":"count
        of Dev"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:tyJelxInbCYY91WyePAOkA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:tyJelxInbCYY91WyePAOkA:tsYtHcKQ1EFRVf1V
      X-Gdc-Request-Time:
      - '81'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/obj/290"}'
  recorded_at: Fri, 05 Oct 2018 13:58:02 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/hws7s5o3eu325ftrdppl1i4138ckzoah/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"definitionContent":{"content":{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[],"metrics":[{"alias":"count
        of Dev","uri":"/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/obj/290"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"meta":{"tags":"","s[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/dataResult/7828664619803868160
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:LsZfwEcOgaGkKRppBagdpw
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Execution-Time:
      - '161'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:LsZfwEcOgaGkKRppBagdpw:Wc60c9qzgG1wzqhB
      X-Gdc-Request-Time:
      - '126'
    body:
      encoding: ASCII-8BIT
      string: '{"xtab_data":{"columns":{"tree":{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"root","id":null},"lookups":[{"0":"count
        of Dev"}]},"data":[["4"]],"overall_size":{"columns":1,"rows":1},"rows":{"tree":{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"root","id":null},"lookups":[{"0":"count
        of Dev"}]},"offset":{"columns":0,"rows":0},"size":{"columns":1,"rows":1}}}'
  recorded_at: Fri, 05 Oct 2018 13:58:04 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.devs.dev_id"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":MI5onfuWjw3LK8LA44DUlw:Eiit2hfrAmoZ-5YjP12aSQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":MI5onfuWjw3LK8LA44DUlw:Eiit2hfrAmoZ-5YjP12aSQ:QjQZyl3x0NzKzWRB"
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.devs.dev_id","uri":"/gdc/md/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/obj/212"}]}'
  recorded_at: Mon, 21 Jan 2019 19:01:47 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/obj/212
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":MI5onfuWjw3LK8LA44DUlw:QjQPP2COcsojJqo8RhPtvQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT COUNT([/gdc/md/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/obj/212])"},"meta":{"tags":"","summary":null,"title":"count
        of Dev"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":MI5onfuWjw3LK8LA44DUlw:0qc6VPyp1ZH8TuLs0kfFWw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":MI5onfuWjw3LK8LA44DUlw:0qc6VPyp1ZH8TuLs0kfFWw:nWV8lRIIvKA9hvWl"
      X-Gdc-Request-Time:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/obj/290"}'
  recorded_at: Mon, 21 Jan 2019 19:01:50 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"definitionContent":{"content":{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[],"metrics":[{"alias":"count
        of Dev","uri":"/gdc/md/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/obj/290"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"meta":{"tags":"","s[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/dataResult/6413981707856444416
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":MI5onfuWjw3LK8LA44DUlw:qMQD5ljOMrUtVZTUb9D04Q"
      Process:
      - 'true'
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Execution-Time:
      - '136'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":MI5onfuWjw3LK8LA44DUlw:qMQD5ljOMrUtVZTUb9D04Q:YkwcAGhysyjpIUKk"
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"xtab_data":{"columns":{"tree":{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"root","id":null},"lookups":[{"0":"count
        of Dev"}]},"data":[["4"]],"overall_size":{"columns":1,"rows":1},"rows":{"tree":{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"root","id":null},"lookups":[{"0":"count
        of Dev"}]},"offset":{"columns":0,"rows":0},"size":{"columns":1,"rows":1}}}'
  recorded_at: Mon, 21 Jan 2019 19:01:54 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l40ehvu3qvgnvwytea4yt8ml2lnlqwec/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.devs.dev_id"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":5nkIgsVhoFUfrtJPVTipNw:-OUMSZeEj_qH2a8BZDs7zA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":5nkIgsVhoFUfrtJPVTipNw:-OUMSZeEj_qH2a8BZDs7zA:ahypIuRX5EQISM1V"
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.devs.dev_id","uri":"/gdc/md/l40ehvu3qvgnvwytea4yt8ml2lnlqwec/obj/212"}]}'
  recorded_at: Mon, 21 Jan 2019 19:35:10 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l40ehvu3qvgnvwytea4yt8ml2lnlqwec/obj/212
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":5nkIgsVhoFUfrtJPVTipNw:VkA1oJh8S2K_akBbUiOX-A"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l40ehvu3qvgnvwytea4yt8ml2lnlqwec/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT COUNT([/gdc/md/l40ehvu3qvgnvwytea4yt8ml2lnlqwec/obj/212])"},"meta":{"tags":"","summary":null,"title":"count
        of Dev"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":5nkIgsVhoFUfrtJPVTipNw:MB1UXZDUytwWCvSqMSsjEQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":5nkIgsVhoFUfrtJPVTipNw:MB1UXZDUytwWCvSqMSsjEQ:7OBDhoF7npXo2LFk"
      X-Gdc-Request-Time:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/l40ehvu3qvgnvwytea4yt8ml2lnlqwec/obj/290"}'
  recorded_at: Mon, 21 Jan 2019 19:35:12 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/l40ehvu3qvgnvwytea4yt8ml2lnlqwec/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"definitionContent":{"content":{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[],"metrics":[{"alias":"count
        of Dev","uri":"/gdc/md/l40ehvu3qvgnvwytea4yt8ml2lnlqwec/obj/290"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"meta":{"tags":"","s[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l40ehvu3qvgnvwytea4yt8ml2lnlqwec/dataResult/8832803958145514496
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":5nkIgsVhoFUfrtJPVTipNw:R98lo07H2Ou1dpPHR_NCyQ"
      Process:
      - 'true'
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Execution-Time:
      - '132'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":5nkIgsVhoFUfrtJPVTipNw:R98lo07H2Ou1dpPHR_NCyQ:3wQ24ORzv7OX9YRU"
      X-Gdc-Request-Time:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"xtab_data":{"columns":{"tree":{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"root","id":null},"lookups":[{"0":"count
        of Dev"}]},"data":[["4"]],"overall_size":{"columns":1,"rows":1},"rows":{"tree":{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"root","id":null},"lookups":[{"0":"count
        of Dev"}]},"offset":{"columns":0,"rows":0},"size":{"columns":1,"rows":1}}}'
  recorded_at: Mon, 21 Jan 2019 19:35:15 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/um2g0ncbycgqt13ikyo20d86n0htj1a9/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.devs.dev_id"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":eEWKUL1m1EOkKymcyTXQGQ:WGBB09lU1cjwCfVrvM-30g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":eEWKUL1m1EOkKymcyTXQGQ:WGBB09lU1cjwCfVrvM-30g:xWv0krLyf6d5IIyE"
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.devs.dev_id","uri":"/gdc/md/um2g0ncbycgqt13ikyo20d86n0htj1a9/obj/219"}]}'
  recorded_at: Thu, 24 Jan 2019 13:55:25 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/um2g0ncbycgqt13ikyo20d86n0htj1a9/obj/219
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":eEWKUL1m1EOkKymcyTXQGQ:EihP5qxeBXnDISumlTRz8w"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/um2g0ncbycgqt13ikyo20d86n0htj1a9/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT COUNT([/gdc/md/um2g0ncbycgqt13ikyo20d86n0htj1a9/obj/219])"},"meta":{"tags":"","summary":null,"title":"count
        of Dev"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":eEWKUL1m1EOkKymcyTXQGQ:umM01z2szFK2hVjACRpw2g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":eEWKUL1m1EOkKymcyTXQGQ:umM01z2szFK2hVjACRpw2g:oRBIBvBA4Qw4sfWl"
      X-Gdc-Request-Time:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/um2g0ncbycgqt13ikyo20d86n0htj1a9/obj/290"}'
  recorded_at: Thu, 24 Jan 2019 13:55:26 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/um2g0ncbycgqt13ikyo20d86n0htj1a9/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"definitionContent":{"content":{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[],"metrics":[{"alias":"count
        of Dev","uri":"/gdc/md/um2g0ncbycgqt13ikyo20d86n0htj1a9/obj/290"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"meta":{"tags":"","s[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/um2g0ncbycgqt13ikyo20d86n0htj1a9/dataResult/39583705729859576
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
[...]
