---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.devs"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:C6u6fFBLrGLqHItN67xowQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:C6u6fFBLrGLqHItN67xowQ:Usiig8CqfpeEnz9W
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.devs","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/41"}]}'
  recorded_at: Tue, 05 Jun 2018 07:50:05 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/41
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:CFL3-6Vu-2ILpoSQJOv1Wg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:CFL3-6Vu-2ILpoSQJOv1Wg:ahxDE6osIFcVmYmn
      X-Gdc-Request-Time:
      - '83'
    body:
      encoding: ASCII-8BIT
      string: '{"dataSet":{"content":{"mode":"SLI","facts":[],"dataLoadingColumns":["/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/12","/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/14","/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/16"],"attributes":["/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216"]},"links":{"dataUploads":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/data/uploads/41"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/41","tags":"","created":"2018-06-05
        09:40:50","identifier":"dataset.devs","deprecated":"0","summary":"","isProduction":1,"title":"Developers","category":"dataSet","updated":"2018-06-05
        09:43:10","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:50:05 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:QHHXyiIXkxq_1n5h2d4yiQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:QHHXyiIXkxq_1n5h2d4yiQ:ZLoCxJjakxFc6k1w
      X-Gdc-Request-Time:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/11"}],"dimension":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/215","displayForms":[{"content":{"formOf":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216","expression":"[/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/13]","default":1},"links":{"elements":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/218/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/218","tags":"","created":"2018-06-05
        09:40:52","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2018-06-05
        09:40:52","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}},{"content":{"formOf":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216","expression":"[/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/15]"},"links":{"elements":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/217/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/217","tags":"","created":"2018-06-05
        09:40:52","identifier":"label.devs.dev_id.id","deprecated":"0","summary":"","isProduction":1,"title":"Id","category":"attributeDisplayForm","updated":"2018-06-05
        09:40:52","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}],"fk":[{"multivalue":false,"type":"col","data":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/25"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216","tags":"","created":"2018-06-05
        09:40:52","identifier":"attr.devs.dev_id","deprecated":"0","summary":"","isProduction":1,"title":"Dev","category":"attribute","updated":"2018-06-05
        09:40:53","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:50:06 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT COUNT([/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216])"},"meta":{"tags":"","summary":null,"title":"count
        of Dev"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:B8r0MuGzIIu4n489uCd12Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:B8r0MuGzIIu4n489uCd12Q:7IJB8z9GveGBnUMD
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/296"}'
  recorded_at: Tue, 05 Jun 2018 07:50:07 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/296
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:nWS7X7JAq6WAZttUgb8vtg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:nWS7X7JAq6WAZttUgb8vtg:Hj2NITJ95uph5ocw
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"COUNT","content":[{"value":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216","position":{"column":27,"line":1},"type":"attribute
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        COUNT([/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216])"},"links":{"explain2":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/296/explain2"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/296","tags":"","created":"2018-06-05
        09:50:07","identifier":"aanffYWGeGIh","deprecated":"0","summary":"","isProduction":1,"title":"count
        of Dev","category":"metric","updated":"2018-06-05 09:50:07","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:50:07 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uihlr91spuzouu4qph5twhixwg9gqice/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"definitionContent":{"content":{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[],"metrics":[{"alias":"count
        of Dev","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/296"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"meta":{"tags":"","summary":"","title":"Untitled
        report definition"}}},"projectMetadata":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:vF_cn7twcFAZRnKPi4rCWg
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/dataResult/1542862713201098496"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:vF_cn7twcFAZRnKPi4rCWg:FHBXqN3kHRIfIzwy
      X-Gdc-Request-Time:
      - '159'
    body:
      encoding: ASCII-8BIT
      string: '{"execResult":{"reportView":{"reportName":"Untitled report definition","columnWidths":[],"filters":[],"rows":["metricGroup"],"sort":{"columns":[],"rows":[]},"format":"grid","columns":[],"metrics":[{"format":"#,##0","summary":"","title":"count
        of Dev","metricId":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/296"}]},"dataResult":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/dataResult/1542862713201098496"}}'
  recorded_at: Tue, 05 Jun 2018 07:50:08 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/dataResult/1542862713201098496
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:KCSqxKpNaIp1gaJBLY4-kg
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Execution-Time:
      - '130'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:KCSqxKpNaIp1gaJBLY4-kg:75s87q8CIJBISA1a
      X-Gdc-Request-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"xtab_data":{"columns":{"tree":{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"root","id":null},"lookups":[{"0":"count
        of Dev"}]},"data":[["4"]],"overall_size":{"columns":1,"rows":1},"rows":{"tree":{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"root","id":null},"lookups":[{"0":"count
        of Dev"}]},"offset":{"columns":0,"rows":0},"size":{"columns":1,"rows":1}}}'
  recorded_at: Tue, 05 Jun 2018 07:50:09 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:NIAJvM4tC8AoTE4zkKOQQg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:NIAJvM4tC8AoTE4zkKOQQg:28BoN2EiIMqAOAew
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Resources for logical data model (LDM) manipulation
        within project ''uihlr91spuzouu4qph5twhixwg9gqice''","category":"ldm","instance":"uihlr91spuzouu4qph5twhixwg9gqice","links":[{"link":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/ldm/manage2","summary":"Resources
        for model manipulation with categorized result.","category":"ldm-manage2","title":"manage2"},{"link":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/ldm/singleloadinterface","summary":"Single
        interface for data loading.","category":"singleloadinterface","title":"singleloadinterface"},{"link":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/ldm/attributeupperbound","summary":"Attribute
        upper bounds for LDM.","category":"attributeupperbound","title":"attributeupperbound"}]}}'
  recorded_at: Tue, 05 Jun 2018 07:50:10 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"SYNCHRONIZE {dataset.devs}"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:kHKlfgH-ELnfXwadsIx0yQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:kHKlfgH-ELnfXwadsIx0yQ:pxxjVnsuejKRJWoQ
      X-Gdc-Request-Time:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '{"entries":[{"link":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/tasks/b90455125c99d65e908a3699727e07960000002a/status","category":"tasks-status"}]}'
  recorded_at: Tue, 05 Jun 2018 07:50:10 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/tasks/b90455125c99d65e908a3699727e07960000002a/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:WzsIqk3shhLOLii-k9As4g
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:WzsIqk3shhLOLii-k9As4g:tPb4omEOnUtglil0
      X-Gdc-Request-Time:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/tasks/b90455125c99d65e908a3699727e07960000002a/status","status":"OK","links":{"poll":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/tasks/b90455125c99d65e908a3699727e07960000002a/status"}}}'
  recorded_at: Tue, 05 Jun 2018 07:50:11 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.devs"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:w-jZ3rH87NXsftwx7QUJPg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:w-jZ3rH87NXsftwx7QUJPg:oMfb3Scf6sGrLM9f
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.devs","uri":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/41"}]}'
  recorded_at: Tue, 05 Jun 2018 08:30:54 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/41
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:qeFH-7UMj1phwSFh_TM0Rg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT COUNT([/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/211])"},"meta":{"tags":"","summary":null,"title":"count
        of Dev"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:EhpMLskG0Zm_RkhYMbqZ2w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:EhpMLskG0Zm_RkhYMbqZ2w:x93EwLax59Yg5YKr
      X-Gdc-Request-Time:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/296"}'
  recorded_at: Tue, 05 Jun 2018 08:30:56 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/l3398hstuqp0gegtnzmgpuyizfp6ddlh/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"definitionContent":{"content":{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[],"metrics":[{"alias":"count
        of Dev","uri":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/296"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"meta":{"tags":"","s[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/dataResult/6214033407141313536
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:eafC28uYazkd4HuPVBAbAg
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Execution-Time:
      - '127'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:eafC28uYazkd4HuPVBAbAg:yCWEBRXuNSaiE14P
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"xtab_data":{"columns":{"tree":{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"root","id":null},"lookups":[{"0":"count
        of Dev"}]},"data":[["4"]],"overall_size":{"columns":1,"rows":1},"rows":{"tree":{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"root","id":null},"lookups":[{"0":"count
        of Dev"}]},"offset":{"columns":0,"rows":0},"size":{"columns":1,"rows":1}}}'
  recorded_at: Tue, 05 Jun 2018 08:30:58 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:uJUZJmT446TBfn0ExZXeWg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"SYNCHRONIZE {dataset.devs}"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:N2JkMidLeOj1m_bBefnQMg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:N2JkMidLeOj1m_bBefnQMg:LTp5ZqHW08NoyOe6
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"entries":[{"link":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/tasks/b3da60ea575c914d9f431a4d20b272600000002a/status","category":"tasks-status"}]}'
  recorded_at: Tue, 05 Jun 2018 08:31:00 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/tasks/b3da60ea575c914d9f431a4d20b272600000002a/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:LTS-17s5pnqdv9axmMuGNg
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:LTS-17s5pnqdv9axmMuGNg:8YiIsCJ1Q39PyNU1
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/tasks/b3da60ea575c914d9f431a4d20b272600000002a/status","status":"OK","links":{"poll":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/tasks/b3da60ea575c914d9f431a4d20b272600000002a/status"}}}'
  recorded_at: Tue, 05 Jun 2018 08:31:00 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.devs"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:JwS2eEBFSJV0-t8ZeAtknQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:JwS2eEBFSJV0-t8ZeAtknQ:zxHm6omIooeS3Ljh
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.devs","uri":"/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/obj/44"}]}'
  recorded_at: Fri, 05 Oct 2018 14:00:59 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/obj/44
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:EP7sp6_C3aIcOb7Jrx9ZHQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT COUNT([/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/obj/217])"},"meta":{"tags":"","summary":null,"title":"count
        of Dev"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:kvqovn3by6E168Ew9sFfVw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:kvqovn3by6E168Ew9sFfVw:yWECJuMOmmGlQDbt
      X-Gdc-Request-Time:
      - '71'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/obj/299"}'
  recorded_at: Fri, 05 Oct 2018 14:01:00 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/hws7s5o3eu325ftrdppl1i4138ckzoah/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"definitionContent":{"content":{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[],"metrics":[{"alias":"count
        of Dev","uri":"/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/obj/299"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"meta":{"tags":"","s[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/dataResult/3494700193775549952
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:NuiAdOlanFresjM731S2vg
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Execution-Time:
      - '121'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:NuiAdOlanFresjM731S2vg:TjFpKQZDyb4GTnZ4
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"xtab_data":{"columns":{"tree":{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"root","id":null},"lookups":[{"0":"count
        of Dev"}]},"data":[["4"]],"overall_size":{"columns":1,"rows":1},"rows":{"tree":{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"root","id":null},"lookups":[{"0":"count
        of Dev"}]},"offset":{"columns":0,"rows":0},"size":{"columns":1,"rows":1}}}'
  recorded_at: Fri, 05 Oct 2018 14:01:02 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:1e_u3-WH48Aa4wAhl5973Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"SYNCHRONIZE {dataset.devs}"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:mP8UEvnAN_JCI1HGoe6BpQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:mP8UEvnAN_JCI1HGoe6BpQ:rDyhkthftInRuBV7
      X-Gdc-Request-Time:
      - '125'
    body:
      encoding: ASCII-8BIT
      string: '{"entries":[{"link":"/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/tasks/d39c8291d610206a2e71e29ed4e88f2d00000007/status","category":"tasks-status"}]}'
  recorded_at: Fri, 05 Oct 2018 14:01:04 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/tasks/d39c8291d610206a2e71e29ed4e88f2d00000007/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:fSGcqRs3FFQMYN1gx807iQ
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:fSGcqRs3FFQMYN1gx807iQ:cDfSQ8gQVW7RpNpk
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/tasks/d39c8291d610206a2e71e29ed4e88f2d00000007/status","status":"OK","links":{"poll":"/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/tasks/d39c8291d610206a2e71e29ed4e88f2d00000007/status"}}}'
  recorded_at: Fri, 05 Oct 2018 14:01:05 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/obj/302
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:Z6MVYCyrU4Y9j7yn4GCqrA
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '93'
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:Z6MVYCyrU4Y9j7yn4GCqrA:pp4rEQXIhe2VtOhw
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 05 Oct 2018 14:01:08 GMT
recorded_with: VCR 4.0.0
