---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.devs.dev_id"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:NojyarQMAO3yh4ysxQCqEA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:NojyarQMAO3yh4ysxQCqEA:ZCitzZK0DNg9YB23
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.devs.dev_id","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216"}]}'
  recorded_at: Tue, 05 Jun 2018 07:46:36 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:Eixx3v_NsYgLmJIO3FMWKw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:Eixx3v_NsYgLmJIO3FMWKw:fAYArP0dd9UCQoTJ
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/11"}],"dimension":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/215","displayForms":[{"content":{"formOf":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216","expression":"[/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/13]","default":1},"links":{"elements":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/218/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/218","tags":"","created":"2018-06-05
        09:40:52","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2018-06-05
        09:40:52","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}},{"content":{"formOf":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216","expression":"[/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/15]"},"links":{"elements":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/217/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/217","tags":"","created":"2018-06-05
        09:40:52","identifier":"label.devs.dev_id.id","deprecated":"0","summary":"","isProduction":1,"title":"Id","category":"attributeDisplayForm","updated":"2018-06-05
        09:40:52","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}],"fk":[{"multivalue":false,"type":"col","data":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/25"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216","tags":"","created":"2018-06-05
        09:40:52","identifier":"attr.devs.dev_id","deprecated":"0","summary":"","isProduction":1,"title":"Dev","category":"attribute","updated":"2018-06-05
        09:40:53","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:46:37 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/218
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:LS7Ayfb0eNhBoGRGhbXdRA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:LS7Ayfb0eNhBoGRGhbXdRA:YEoD0NVwQxEGgDcw
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216","expression":"[/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/13]","default":1},"links":{"elements":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/218/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/218","tags":"","created":"2018-06-05
        09:40:52","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2018-06-05
        09:40:52","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:46:37 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/218/validElements?limit=100&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:Zri9vPmdKDsHmjqLo9TSpA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:Zri9vPmdKDsHmjqLo9TSpA:VYzRHSG8s7fjG3TK
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/218"},"paging":{"count":4,"total":"4","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216/elements?id=3"}},{"element":{"title":"josh@gooddata.com","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216/elements?id=4"}},{"element":{"title":"petr@gooddata.com","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216/elements?id=2"}},{"element":{"title":"tomas@gooddata.com","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216/elements?id=1"}}]}}'
  recorded_at: Tue, 05 Jun 2018 07:46:38 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/218/elements/?id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:UH9YMyg4G-1AN03rG_5pAw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:UH9YMyg4G-1AN03rG_5pAw:tb8pShH5waKeW0Tz
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeElements":{"elementsMeta":{"count":1,"mode":"includeuris","filter":"","records":"1","prompt":"","attribute":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216","order":"asc","attributeDisplayForm":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/218","offset":"0"},"elements":[{"title":"tomas@gooddata.com","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216/elements?id=1"}],"paging":{"next":null,"count":1,"total":"1","offset":"0"}}}'
  recorded_at: Tue, 05 Jun 2018 07:46:41 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.devs.dev_id"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:09R5t-YEjqgIFOU2vb9lSw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:09R5t-YEjqgIFOU2vb9lSw:Hz6ZJq1LbKbR1FbK
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.devs.dev_id","uri":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/211"}]}'
  recorded_at: Tue, 05 Jun 2018 08:27:21 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/211
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:5uFEFWLymngN5gPnEqFAbA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/213/validElements?limit=100&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:XYLXQTtUwKo1NciS-4zPmw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gd[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/213/elements/?id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:KZr55QnlxhqitwW6uyE7FA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:KZr55QnlxhqitwW6uyE7FA:CQaepDIlXtuTIM4U
      X-Gdc-Request-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeElements":{"elementsMeta":{"count":1,"mode":"includeuris","filter":"","records":"1","prompt":"","attribute":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/211","order":"asc","attributeDisplayForm":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/213","offset":"0"},"elements":[{"title":"tomas@gooddata.com","uri":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/211/elements?id=1"}],"paging":{"next":null,"count":1,"total":"1","offset":"0"}}}'
  recorded_at: Tue, 05 Jun 2018 08:27:26 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/212/elements/?id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:aoKHGSfBTuXB_BB3dwmBrw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:aoKHGSfBTuXB_BB3dwmBrw:ELkdp6nBetv698Ml
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeElements":{"elementsMeta":{"count":1,"mode":"includeuris","filter":"","records":"1","prompt":"","attribute":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/211","order":"asc","attributeDisplayForm":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/212","offset":"0"},"elements":[{"title":"1","uri":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/211/elements?id=1"}],"paging":{"next":null,"count":1,"total":"1","offset":"0"}}}'
  recorded_at: Tue, 05 Jun 2018 08:27:27 GMT
recorded_with: VCR 4.0.0
