---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["label.repository.name"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Xbgvshk6wU2UT1yyUpOzKQ:eAsNPO6s0WU0O56Ndt572Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Xbgvshk6wU2UT1yyUpOzKQ:eAsNPO6s0WU0O56Ndt572Q:814FtTMtgO6iNfkY
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"label.repository.name","uri":"/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/obj/27"}]}'
  recorded_at: Tue, 05 Jun 2018 06:34:26 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/obj/27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Xbgvshk6wU2UT1yyUpOzKQ:QFI_Rl2ikWRC4bZEQRYDeA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Xbgvshk6wU2UT1yyUpOzKQ:QFI_Rl2ikWRC4bZEQRYDeA:q9th3SsHrajbOErD
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/obj/26","expression":"[/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/obj/17]","default":1},"links":{"elements":"/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/obj/27/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/obj/27","tags":"","created":"2018-06-05
        08:33:55","identifier":"label.repository.name","deprecated":"0","summary":"","isProduction":1,"title":"Label.Repository.Name","category":"attributeDisplayForm","updated":"2018-06-05
        08:33:55","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 06:34:26 GMT
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/obj/27
    body:
      encoding: UTF-8
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/obj/26","expression":"[/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/obj/17]","default":1},"links":{"elements":"/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/obj/27/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/obj/27","tags":"","created":"2018-06-05
        08:33:55","identifier":"label.repository.name","deprecated":"1","summary":"","isProduction":1,"title":"Label.Repository.Name","category":"attributeDisplayForm","updated":"2018-06-05
        08:33:55","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","flags":["deprecated"]}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Xbgvshk6wU2UT1yyUpOzKQ:eN51fTNSmbT69qC2PnkyUg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Xbgvshk6wU2UT1yyUpOzKQ:eN51fTNSmbT69qC2PnkyUg:TX5bLtRPsaiVzKl8
      X-Gdc-Request-Time:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/obj/27"}'
  recorded_at: Tue, 05 Jun 2018 06:34:27 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v/model/view?includeCA=true&includeDeprecated=true&includeGrain=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Xbgvshk6wU2UT1yyUpOzKQ:1g9tN4XzwEzCs12CG-3gug
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v/model/view/83159db4936266957366736282fbeb5c01cd73ae3e06da5a0000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Xbgvshk6wU2UT1yyUpOzKQ:1g9tN4XzwEzCs12CG-3gug:693bhpED04ypS5lr
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v/model/view/83159db4936266957366736282fbeb5c01cd73ae3e06da5a0000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 06:34:29 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v/model/view/83159db4936266957366736282fbeb5c01cd73ae3e06da5a0000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Xbgvshk6wU2UT1yyUpOzKQ:HXfjR0rkwIAsYDK1Zco3Rg
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v/model/view/83159db4936266957366736282fbeb5c01cd73ae3e06da5a0000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Xbgvshk6wU2UT1yyUpOzKQ:HXfjR0rkwIAsYDK1Zco3Rg:POk3oI5KO0KClkU7
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v/model/view/83159db4936266957366736282fbeb5c01cd73ae3e06da5a0000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 06:34:29 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/u8mtic422f80k4d5mjmos2a97rexde5v/model/view/83159db4936266957366736282fbeb5c01cd73ae3e06da5a0000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Xbgvshk6wU2UT1yyUpOzKQ:xYKXgqgcezaWTEf3ocDkDA
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Xbgvshk6wU2UT1yyUpOzKQ:xYKXgqgcezaWTEf3ocDkDA:taRf6ShbwqEXtMsP
      X-Gdc-Request-Time:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelView":{"model":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Dataset.Repos","anchor":{"attribute":{"identifier":"attr.repository","title":"Attr.Repository","folder":"Dataset.Repos","labels":[{"label":{"identifier":"label.repository.name","title":"Label.Repository.Name","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.repository.name"}},"attributes":[{"attribute":{"identifier":"attr.attribute1","title":"Some
        attribute","folder":"Dataset.Repos","labels":[{"label":{"identifier":"label.attribute1.name","title":"Label.Attribute1.Name","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.attribute1.name"}}],"facts":[{"fact":{"identifier":"some_numbers","title":"Some
        Numbers","folder":"Dataset.Repos","dataType":"INT","restricted":false}}],"production":true}}]}}}}'
  recorded_at: Tue, 05 Jun 2018 06:34:40 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/etl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Xbgvshk6wU2UT1yyUpOzKQ:AHmn0M-BP09AlHpTv0uxgw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Xbgvshk6wU2UT1yyUpOzKQ:AHmn0M-BP09AlHpTv0uxgw:StpAS9K7C2VvGf9j
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Extract, transform and load services for project
        ''u8mtic422f80k4d5mjmos2a97rexde5v''","category":"etl","instance":"u8mtic422f80k4d5mjmos2a97rexde5v","links":[{"link":"/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/etl/pull2","summary":"Provides
        service of pull2.","category":"pull2","title":"pull2"},{"link":"/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/etl/task","summary":"Provides
        service of task.","category":"task","title":"task"},{"link":"/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/etl/mode","summary":"Provides
        service of mode.","category":"mode","title":"mode"}]}}'
  recorded_at: Tue, 05 Jun 2018 06:34:45 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/etl/pull2
    body:
      encoding: UTF-8
      string: '{"pullIntegration":"d20180605-27087-17ga53c"}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Xbgvshk6wU2UT1yyUpOzKQ:QMorlz7Ln6HMBc34Tv0Scg
      Info-Message:
      - Starting the data load from user storage to dataset.
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/tasks/d1e2fee50e3ebdbed5fdbee578260c1000000009/status"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Xbgvshk6wU2UT1yyUpOzKQ:QMorlz7Ln6HMBc34Tv0Scg:QtnsXOAAKQRu39hs
      X-Gdc-Request-Time:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"pull2Task":{"links":{"poll":"/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/tasks/d1e2fee50e3ebdbed5fdbee578260c1000000009/status"}}}'
  recorded_at: Tue, 05 Jun 2018 06:34:45 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/tasks/d1e2fee50e3ebdbed5fdbee578260c1000000009/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Xbgvshk6wU2UT1yyUpOzKQ:icUDMqbvgaLRKBchan09mg
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Xbgvshk6wU2UT1yyUpOzKQ:icUDMqbvgaLRKBchan09mg:dObPHw11j607KqwN
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/tasks/d1e2fee50e3ebdbed5fdbee578260c1000000009/status","status":"RUNNING","links":{"poll":"/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/tasks/d1e2fee50e3ebdbed5fdbee578260c1000000009/status"}}}'
  recorded_at: Tue, 05 Jun 2018 06:34:46 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/obj/27/validElements?limit=100&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Xbgvshk6wU2UT1yyUpOzKQ:-ycl2yzytBDUSmwRexvnUg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Xbgvshk6wU2UT1yyUpOzKQ:-ycl2yzytBDUSmwRexvnUg:r6FOauWhr6bs6SSx
      X-Gdc-Request-Time:
      - '46'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/obj/26","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/obj/27"},"paging":{"count":4,"total":"4","offset":"0"},"items":[{"element":{"title":"1","uri":"/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/obj/26/elements?id=1"}},{"element":{"title":"2","uri":"/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/obj/26/elements?id=3"}},{"element":{"title":"3","uri":"/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/obj/26/elements?id=5"}},{"element":{"title":"4","uri":"/gdc/md/u8mtic422f80k4d5mjmos2a97rexde5v/obj/26/elements?id=7"}}]}}'
  recorded_at: Tue, 05 Jun 2018 06:34:58 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["label.repository.name"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - lvoXHNi5D4d0BZFQEgbrZA:Pq22alPyWCmOBav2QrxPpw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - lvoXHNi5D4d0BZFQEgbrZA:Pq22alPyWCmOBav2QrxPpw:gtq5YqG6SBnAO9Ae
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"label.repository.name","uri":"/gdc/md/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/obj/30"}]}'
  recorded_at: Fri, 05 Oct 2018 12:44:25 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/obj/30
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - lvoXHNi5D4d0BZFQEgbrZA:_QOp5kQY0hBR8v1g1WK0_w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - lvoXHNi5D4d0BZFQEgbrZA:_QOp5kQY0hBR8v1g1WK0_w:eYP2KBy21i1mBmcB
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/obj/29","expression":"[/gdc/md/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/obj/20]","default":1},"links":{"elements":"/gdc/md/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/obj/30/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/obj/30","tags":"","created":"2018-10-05
        14:44:15","identifier":"label.repository.name","deprecated":"0","summary":"","isProduction":1,"title":"Label.Repository.Name","category":"attributeDisplayForm","updated":"2018-10-05
        14:44:15","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Fri, 05 Oct 2018 12:44:25 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/model/view?includeCA=true&includeDeprecated=true&includeGrain=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - lvoXHNi5D4d0BZFQEgbrZA:2R9Uy3vQJlbSCCfUGsATCw
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/model/view/ced2f4f8eb24ac6ccdf9f11a64ed9e2576ca19ecc771ea4100000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - lvoXHNi5D4d0BZFQEgbrZA:2R9Uy3vQJlbSCCfUGsATCw:SvZLQ9BB2PLpcryp
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/model/view/ced2f4f8eb24ac6ccdf9f11a64ed9e2576ca19ecc771ea4100000018"}}}'
  recorded_at: Fri, 05 Oct 2018 12:44:28 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/model/view/ced2f4f8eb24ac6ccdf9f11a64ed9e2576ca19ecc771ea4100000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - lvoXHNi5D4d0BZFQEgbrZA:BK3W-jWLNXrzvebKyQ15Cw
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/model/view/ced2f4f8eb24ac6ccdf9f11a64ed9e2576ca19ecc771ea4100000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - lvoXHNi5D4d0BZFQEgbrZA:BK3W-jWLNXrzvebKyQ15Cw:4SmRDIvrWT0BLPDN
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/model/view/ced2f4f8eb24ac6ccdf9f11a64ed9e2576ca19ecc771ea4100000018"}}}'
  recorded_at: Fri, 05 Oct 2018 12:44:28 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/etl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - lvoXHNi5D4d0BZFQEgbrZA:GkiAYgl-jBKw_ZCoPrVJvA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - lvoXHNi5D4d0BZFQEgbrZA:GkiAYgl-jBKw_ZCoPrVJvA:GbieGkxJx4mdUM5h
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Extract, transform and load services for project
        ''gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43''","category":"etl","instance":"gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43","links":[{"link":"/gdc/md/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/etl/pull2","summary":"Provides
        service of pull2.","category":"pull2","title":"pull2"},{"link":"/gdc/md/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/etl/task","summary":"Provides
        service of task.","category":"task","title":"task"},{"link":"/gdc/md/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/etl/mode","summary":"Provides
        service of mode.","category":"mode","title":"mode"}]}}'
  recorded_at: Fri, 05 Oct 2018 12:44:33 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/etl/pull2
    body:
      encoding: UTF-8
      string: '{"pullIntegration":"d20181005-54175-1vlu0lt"}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - lvoXHNi5D4d0BZFQEgbrZA:kv8UHey3ULi5VRnIIzgLGQ
      Info-Message:
      - Starting the data load from user storage to dataset.
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/tasks/c8f25b32d64872caa801680891e19e6300000013/status"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - lvoXHNi5D4d0BZFQEgbrZA:kv8UHey3ULi5VRnIIzgLGQ:yUMVVvKR4BxGdnvS
      X-Gdc-Request-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"pull2Task":{"links":{"poll":"/gdc/md/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/tasks/c8f25b32d64872caa801680891e19e6300000013/status"}}}'
  recorded_at: Fri, 05 Oct 2018 12:44:33 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/tasks/c8f25b32d64872caa801680891e19e6300000013/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - lvoXHNi5D4d0BZFQEgbrZA:Fl7mTpUfnapMFaKv_-mCJg
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - lvoXHNi5D4d0BZFQEgbrZA:Fl7mTpUfnapMFaKv_-mCJg:Gucat0AMBRm5B3fc
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/tasks/c8f25b32d64872caa801680891e19e6300000013/status","status":"OK","links":{"poll":"/gdc/md/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/tasks/c8f25b32d64872caa801680891e19e6300000013/status"}}}'
  recorded_at: Fri, 05 Oct 2018 12:44:34 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/obj/30/validElements?limit=100&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - lvoXHNi5D4d0BZFQEgbrZA:PHoSProEhBPlU91uiwrJ1A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - lvoXHNi5D4d0BZFQEgbrZA:PHoSProEhBPlU91uiwrJ1A:Afhrkd0aaIg0YFSH
      X-Gdc-Request-Time:
      - '115'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/obj/29","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/obj/30"},"paging":{"count":4,"total":"4","offset":"0"},"items":[{"element":{"title":"1","uri":"/gdc/md/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/obj/29/elements?id=1"}},{"element":{"title":"2","uri":"/gdc/md/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/obj/29/elements?id=3"}},{"element":{"title":"3","uri":"/gdc/md/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/obj/29/elements?id=5"}},{"element":{"title":"4","uri":"/gdc/md/gm7ihrc33yzp5ai3f3tz5qxtdsc3fv43/obj/29/elements?id=7"}}]}}'
  recorded_at: Fri, 05 Oct 2018 12:44:36 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ta78hcxcq6gz71lwp2ip90u6ly6lvtee/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["label.repository.name"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Z-97THmb14Zm6VeTmfRhtQ:Ye7r4jE77YdkgaJAXYp8nw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Z-97THmb14Zm6VeTmfRhtQ:Ye7r4jE77YdkgaJAXYp8nw:cQIWANwcxyTnaj3s
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"label.repository.name","uri":"/gdc/md/ta78hcxcq6gz71lwp2ip90u6ly6lvtee/obj/30"}]}'
  recorded_at: Wed, 10 Oct 2018 10:42:05 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ta78hcxcq6gz71lwp2ip90u6ly6lvtee/obj/30
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Z-97THmb14Zm6VeTmfRhtQ:zZFFFsmY6U6McxwYS3xDIA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Z-97THmb14Zm6VeTmfRhtQ:zZFFFsmY6U6McxwYS3xDIA:HQZAfh8wU9vPjG4c
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/ta78hcxcq6gz71lwp2ip90u6ly6lvtee/obj/29","expression":"[/gdc/md/ta78hcxcq6gz71lwp2ip90u6ly6lvtee/obj/20]","default":1},"links":{"elements":"/gdc/md/ta78hcxcq6gz71lwp2ip90u6ly6lvtee/obj/30/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/ta78hcxcq6gz71lwp2ip90u6ly6lvtee/obj/30","tags":"","created":"2018-10-10
        12:41:54","identifier":"label.repository.name","deprecated":"0","summary":"","isProduction":1,"title":"Label.Repository.Name","category":"attributeDisplayForm","updated":"2018-10-10
        12:41:54","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 10 Oct 2018 10:42:06 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ta78hcxcq6gz71lwp2ip90u6ly6lvtee/model/view?includeCA=true&includeDeprecated=true&includeGrain=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Z-97THmb14Zm6VeTmfRhtQ:sISjBe2ZXwelerk9JkCHXQ
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/ta78hcxcq6gz71lwp2ip90u6ly6lvtee/model/view/bfd42bda47a4e7d3cf0a7c86ae11b3c22f32da550a05084a00000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Z-97THmb14Zm6VeTmfRhtQ:sISjBe2ZXwelerk9JkCHXQ:HE92WeUgV81tZty4
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/ta78hcxcq6gz71lwp2ip90u6ly6lvtee/model/view/bfd42bda47a4e7d3cf0a7c86ae11b3c22f32da550a05084a00000018"}}}'
  recorded_at: Wed, 10 Oct 2018 10:42:09 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ta78hcxcq6gz71lwp2ip90u6ly6lvtee/model/view/bfd42bda47a4e7d3cf0a7c86ae11b3c22f32da550a05084a00000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Z-97THmb14Zm6VeTmfRhtQ:-FaqCOLut3jdFdR32_JWnA
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/ta78hcxcq6gz71lwp2ip90u6ly6lvtee/model/view/bfd42bda47a4e7d3cf0a7c86ae11b3c22f32da550a05084a00000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Z-97THmb14Zm6VeTmfRhtQ:-FaqCOLut3jdFdR32_JWnA:tjPlnyJ9a0BSlaUP
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/ta78hcxcq6gz71lwp2ip90u6ly6lvtee/model/view/bfd42bda47a4e7d3cf0a7c86ae11b3c22f32da550a05084a00000018"}}}'
  recorded_at: Wed, 10 Oct 2018 10:42:09 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ta78hcxcq6gz71lwp2ip90u6ly6lvtee/etl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Z-97THmb14Zm6VeTmfRhtQ:ipwSFWJX-GSTU85M2zFdZQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Z-97THmb14Zm6VeTmfRhtQ:ipwSFWJX-GSTU85M2zFdZQ:71SIrEpQzEWOMcLO
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Extract, transform and load services for project
        ''ta78hcxcq6gz71lwp2ip90u6ly6lvtee''","category":"etl","instance":"ta78hcxcq6gz71lwp2ip90u6ly6lvtee","links":[{"link":"/gdc/md/ta78hcxcq6gz71lwp2ip90u6ly6lvtee/etl/pull2","summary":"Provides
        service of pull2.","category":"pull2","title":"pull2"},{"link":"/gdc/md/ta78hcxcq6gz71lwp2ip90u6ly6lvtee/etl/task","summary":"Provides
        service of task.","category":"task","title":"task"},{"link":"/gdc/md/ta78hcxcq6gz71lwp2ip90u6ly6lvtee/etl/mode","summary":"Provides
        service of mode.","category":"mode","title":"mode"}]}}'
  recorded_at: Wed, 10 Oct 2018 10:42:15 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ta78hcxcq6gz71lwp2ip90u6ly6lvtee/etl/pull2
    body:
      encoding: UTF-8
      string: '{"pullIntegration":"d20181010-77211-1p43287"}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Z-97THmb14Zm6VeTmfRhtQ:7KeRUu9wGB35849LZlWZ2A
      Info-Message:
      - Starting the data load from user storage to dataset.
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/ta78hcxcq6gz71lwp2ip90u6ly6lvtee/tasks/aa4360b85767fbb8bcb0587e2f66703700000013/status"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Z-97THmb14Zm6VeTmfRhtQ:7KeRUu9wGB35849LZlWZ2A:5h9WpQcoV5N851yp
      X-Gdc-Request-Time:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"pull2Task":{"links":{"poll":"/gdc/md/ta78hcxcq6gz71lwp2ip90u6ly6lvtee/tasks/aa4360b85767fbb8bcb0587e2f66703700000013/status"}}}'
  recorded_at: Wed, 10 Oct 2018 10:42:15 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ta78hcxcq6gz71lwp2ip90u6ly6lvtee/tasks/aa4360b85767fbb8bcb0587e2f66703700000013/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
[...]
