---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:M0pKDRpLl7dxEnZVeDyD4g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:M0pKDRpLl7dxEnZVeDyD4g:4Vg2x38umeRs9BRW
      X-Gdc-Request-Time:
      - '46'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"SUM","content":[{"value":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/220","position":{"column":25,"line":1},"type":"fact
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        SUM([/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/220])"},"links":{"explain2":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/266/explain2"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/266","tags":"","created":"2018-06-05
        09:43:57","identifier":"aabffac4ibxG","deprecated":"0","summary":"","isProduction":1,"title":"My
        metric","category":"metric","updated":"2018-06-05 09:44:10","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"COUNT","content":[{"value":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/211","position":{"column":27,"line":1},"type":"attribute
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        COUNT([/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/211])"},"links":{"explain2":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/288/explain2"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/288","tags":"","created":"2018-06-05
        09:45:52","identifier":"aabffEiqiDri","deprecated":"0","summary":"","isProduction":1,"title":"My
        test metric","category":"metric","updated":"2018-06-05 09:45:55","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Tue, 05 Jun 2018 07:46:56 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/288
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:S2YOZy53VwsC2VYa-g3h2g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"COUNT","content":[{"value":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/211","position":{"column":27,"line":1},"type":"attribute
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uihlr91spuzouu4qph5twhixwg9gqice/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"definitionContent":{"content":{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[],"metrics":[{"alias":"Clone
        of My test metric","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/290"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"meta":{"tags":"","summary":"","title":"Untitled
        report definition"}}},"projectMetadata":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:ooQgTI7V2T7s44t_hslnvA
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/dataResult/1566437621285224192"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:ooQgTI7V2T7s44t_hslnvA:RtP21OL6PKIhPhYC
      X-Gdc-Request-Time:
      - '162'
    body:
      encoding: ASCII-8BIT
      string: '{"execResult":{"reportView":{"reportName":"Untitled report definition","columnWidths":[],"filters":[],"rows":["metricGroup"],"sort":{"columns":[],"rows":[]},"format":"grid","columns":[],"metrics":[{"format":"#,##0","summary":"","title":"Clone
        of My test metric","metricId":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/290"}]},"dataResult":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/dataResult/1566437621285224192"}}'
  recorded_at: Tue, 05 Jun 2018 07:46:59 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/dataResult/1566437621285224192
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:qpI0uRzcHCcynivAz7BeZg
      Process:
      - 'true'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Execution-Time:
      - '94'
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '27'
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:qpI0uRzcHCcynivAz7BeZg:UV9xE2vvCLNHdHk3
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 07:47:00 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:DLGiRF_uuBqvfvkJTML71w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
   [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/288
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:6-k05iOIWF7NPOqonv6yyQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"COUNT","content":[{"value":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/215","position":{"column":27,"line":1},"type":"attribute
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/l3398hstuqp0gegtnzmgpuyizfp6ddlh/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"definitionContent":{"content":{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[],"metrics":[{"alias":"Clone
        of My test metric","uri":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/290"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"meta":{"[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/dataResult/7401191860757298176
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:Crg5Jc9unr6TiacgyyMlXg
      Process:
      - 'true'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Execution-Time:
      - '86'
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '35'
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:Crg5Jc9unr6TiacgyyMlXg:81jkHv37ebzLQQ16
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 08:27:46 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:XXOkIkUSwmNx8UNn7aVIOA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
   [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/obj/291
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:rKBr0f6ngp94zLlskUYLDg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"COUNT","content":[{"value":"/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/obj/212","position":{"column":27,"line":1},"type":"attribute
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/hws7s5o3eu325ftrdppl1i4138ckzoah/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"definitionContent":{"content":{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[],"metrics":[{"alias":"Clone
        of My test metric","uri":"/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/obj/293"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"meta":{"[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/dataResult/6690881079276567552
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:t7M-HLjD78WvIvndUMGQfQ
      Process:
      - 'true'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Execution-Time:
      - '90'
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '36'
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:t7M-HLjD78WvIvndUMGQfQ:Zz4ILYrXbZWP7T7w
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 05 Oct 2018 13:59:11 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":MI5onfuWjw3LK8LA44DUlw:eXfJtLm0E-By7wrRqSr-JQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":MI5onfuWjw3LK8LA44DUlw:eXfJtLm0E-By7wrRqSr-JQ:Ry7nHCQN1nQZQbfz"
      X-Gdc-Request-Time:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"SUM"[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/obj/291
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":MI5onfuWjw3LK8LA44DUlw:KiRSO-w0u1A2V78g57EiIw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"COUNT","content":[{"value":"/gdc/md/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/obj/216","position":{"column":27,"line":1},"type":"attribute
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"definitionContent":{"content":{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[],"metrics":[{"alias":"Clone
        of My test metric","uri":"/gdc/md/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/obj/293"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"meta":{"[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/dataResult/5870037171304692736
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":MI5onfuWjw3LK8LA44DUlw:TWydaqJ2i6AuN8AloMfVkg"
      Process:
      - 'true'
      Stats-On:
      - ''
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Execution-Time:
      - '105'
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - ":MI5onfuWjw3LK8LA44DUlw:TWydaqJ2i6AuN8AloMfVkg:SjqoMpfiBjw58vNM"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 21 Jan 2019 19:03:54 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l40ehvu3qvgnvwytea4yt8ml2lnlqwec/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":5nkIgsVhoFUfrtJPVTipNw:1TxVNpFvJu2-CX8Ng8DK_w"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l40ehvu3qvgnvwytea4yt8ml2lnlqwec/obj/291
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":5nkIgsVhoFUfrtJPVTipNw:lVsUoB7oG8yjX2WpMNvHHA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l40ehvu3qvgnvwytea4yt8ml2lnlqwec/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"COUNT","content":[{"value":"/gdc/md/l40ehvu3qvgnvwytea4yt8ml2lnlqwec/obj/216","position":{"column":27,"line":1},"type":"attribute
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/l40ehvu3qvgnvwytea4yt8ml2lnlqwec/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"definitionContent":{"content":{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[],"metrics":[{"alias":"Clone
        of My test metric","uri":"/gdc/md/l40ehvu3qvgnvwytea4yt8ml2lnlqwec/obj/293"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"meta":{"[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l40ehvu3qvgnvwytea4yt8ml2lnlqwec/dataResult/2306080862453759488
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":5nkIgsVhoFUfrtJPVTipNw:-TIBLUNcNC0w-uIulaL0kA"
      Process:
      - 'true'
      Stats-On:
      - ''
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Execution-Time:
      - '98'
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - ":5nkIgsVhoFUfrtJPVTipNw:-TIBLUNcNC0w-uIulaL0kA:urxjiKJO2iji5yMo"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 21 Jan 2019 19:37:14 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/um2g0ncbycgqt13ikyo20d86n0htj1a9/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":eEWKUL1m1EOkKymcyTXQGQ:rCIAMPagJG_Xln-P1gDwNw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/um2g0ncbycgqt13ikyo20d86n0htj1a9/obj/291
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":eEWKUL1m1EOkKymcyTXQGQ:hH0NqqhEVIxj9PUb4tqRHQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/um2g0ncbycgqt13ikyo20d86n0htj1a9/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"COUNT","content":[{"value":"/gdc/md/um2g0ncbycgqt13ikyo20d86n0htj1a9/obj/214","position":{"column":27,"line":1},"type":"attribute
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/um2g0ncbycgqt13ikyo20d86n0htj1a9/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"definitionContent":{"content":{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[],"metrics":[{"alias":"Clone
        of My test metric","uri":"/gdc/md/um2g0ncbycgqt13ikyo20d86n0htj1a9/obj/293"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"meta":{"[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/um2g0ncbycgqt13ikyo20d86n0htj1a9/dataResult/4031598996063256064
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":eEWKUL1m1EOkKymcyTXQGQ:vPnMWKCJBkogQs3gHKpw4g"
      Process:
      - 'true'
      Stats-On:
      - ''
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Execution-Time:
      - '99'
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '33'
      X-Gdc-Request:
      - ":eEWKUL1m1EOkKymcyTXQGQ:vPnMWKCJBkogQs3gHKpw4g:eTgxr1MuGYoVsMGh"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Jan 2019 13:57:01 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/um2g0ncbycgqt13ikyo20d86n0htj1a9/dataResult/4031598996063256064
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":eEWKUL1m1EOkKymcyTXQGQ:4jgCyi1bpxw8egGwXbIvnA"
      Process:
      - 'true'
      Stats-On:
      - ''
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Execution-Time:
      - '99'
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - ":eEWKUL1m1EOkKymcyTXQGQ:4jgCyi1bpxw8egGwXbIvnA:ZzC8QkmS09N2LXil"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Jan 2019 13:57:03 GMT
recorded_with: VCR 4.0.0
