---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/objects/query?category=dataSet&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:1rG28x8SJgC-ZnbeGyGVzQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:1rG28x8SJgC-ZnbeGyGVzQ:xhwb4fjKDupzo8Po
      X-Gdc-Request-Time:
      - '110'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":4,"offset":0},"items":[{"dataSet":{"content":{"mode":"","facts":[],"dataLoadingColumns":["/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/37","/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/39","/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/19","/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/21","/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/23"],"attributes":["/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/211","/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/213"]},"links":{"dataUploads":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/data/uploads/40"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/40","tags":"","created":"2018-06-05
        09:40:50","identifier":"dataset.repos","deprecated":"0","summary":"","isProduction":1,"title":"Repositories","category":"dataSet","updated":"2018-06-05
        09:41:46","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"dataSet":{"content":{"mode":"","facts":[],"dataLoadingColumns":["/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/12","/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/14","/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/16"],"attributes":["/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216"]},"links":{"dataUploads":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/data/uploads/41"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/objects/query?category=dataSet&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:ab3u5nJCKXl7gJPi7WiYtQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
  [...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/objects/query?category=dataSet&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:gyp7_Nv2tqjOB6lwrbROTg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
  [...]
[...]
