---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uihlr91spuzouu4qph5twhixwg9gqice
    body:
      encoding: UTF-8
      string: '{"project":{"content":{"environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","driver":"Pg"},"links":{"ldm_thumbnail":"/gdc/projects/uihlr91spuzouu4qph5twhixwg9gqice/ldm?thumbnail=1","self":"/gdc/projects/uihlr91spuzouu4qph5twhixwg9gqice","clearCaches":"/gdc/projects/uihlr91spuzouu4qph5twhixwg9gqice/clearCaches","invitations":"/gdc/projects/uihlr91spuzouu4qph5twhixwg9gqice/invitations","users":"/gdc/projects/uihlr91spuzouu4qph5twhixwg9gqice/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/uihlr91spuzouu4qph5twhixwg9gqice/uploads/","ldm":"/gdc/projects/uihlr91spuzouu4qph5twhixwg9gqice/ldm","metadata":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice","publicartifacts":"/gdc/projects/uihlr91spuzouu4qph5twhixwg9gqice/publicartifacts","roles":"/gdc/projects/uihlr91spuzouu4qph5twhixwg9gqice/roles","userRoles":"/gdc/projects/uihlr91spuzouu4qph5twhixwg9gqice/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/uihlr91spuzouu4qph5twhixwg9gqice/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/uihlr91spuzouu4qph5twhixwg9gqice/dataload","connectors":"/gdc/projects/uihlr91spuzouu4qph5twhixwg9gqice/connectors","execute":"/gdc/projects/uihlr91spuzouu4qph5twhixwg9gqice/execute","config":"/gdc/projects/uihlr91spuzouu4qph5twhixwg9gqice/config","projectFeatureFlags":"/gdc/projects/uihlr91spuzouu4qph5twhixwg9gqice/projectFeatureFlags","schedules":"/gdc/projects/uihlr91spuzouu4qph5twhixwg9gqice/schedules","templates":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/templates","eventstores":"/gdc/projects/uihlr91spuzouu4qph5twhixwg9gqice/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        09:40:27","summary":"No summary","updated":"2018-06-05 09:40:29","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"WPTYJATI","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:fyTNij6l12PUVJuPay93Fg
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '71'
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:fyTNij6l12PUVJuPay93Fg:h4WvIpVfaMLYXQLz
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 07:42:13 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uihlr91spuzouu4qph5twhixwg9gqice
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:n_fTnob6ZA8n8BNyCC2FRQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:n_fTnob6ZA8n8BNyCC2FRQ:YjZ34pcGGWaeBIwr
      X-Gdc-Request-Time:
      - '51'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/uihlr91spuzouu4qph5twhixwg9gqice/ldm?thumbnail=1","self":"/gdc/projects/uihlr91spuzouu4qph5twhixwg9gqice","clearCaches":"/gdc/projects/uihlr91spuzouu4qph5twhixwg9gqice/clearCaches","invitations":"/gdc/projects/uihlr91spuzouu4qph5twhixwg9gqice/invitations","users":"/gdc/projects/uihlr91spuzouu4qph5twhixwg9gqice/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/uihlr91spuzouu4qph5twhixwg9gqice/uploads/","ldm":"/gdc/projects/uihlr91spuzouu4[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/l3398hstuqp0gegtnzmgpuyizfp6ddlh
    body:
      encoding: UTF-8
      string: '{"project":{"content":{"environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","driver":"Pg"},"links":{"ldm_thumbnail":"/gdc/projects/l3398hstuqp0gegtnzmgpuyizfp6ddlh/ldm?thumbnail=1","self":"/gdc/projects/l3398hstuqp0gegtnzmgpuyizfp6ddlh","clearCaches":"/gdc/projects/l3398hstuqp0gegtnzmgpuyizfp6[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/hws7s5o3eu325ftrdppl1i4138ckzoah
    body:
      encoding: UTF-8
      string: '{"project":{"content":{"environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","driver":"Pg"},"links":{"ldm_thumbnail":"/gdc/projects/hws7s5o3eu325ftrdppl1i4138ckzoah/ldm?thumbnail=1","self":"/gdc/projects/hws7s5o3eu325ftrdppl1i4138ckzoah","clearCaches":"/gdc/projects/hws7s5o3eu325ftrdppl1i4138ck[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp
    body:
      encoding: UTF-8
      string: '{"project":{"content":{"environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","driver":"Pg"},"links":{"ldm_thumbnail":"/gdc/projects/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/ldm?thumbnail=1","self":"/gdc/projects/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp","clearCaches":"/gdc/projects/kox3qimhjpq0mbp0g8q6qkqiv0wb[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":MI5onfuWjw3LK8LA44DUlw:FVzHG8uvuZGwSO7kibHJuw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":MI5onfuWjw3LK8LA44DUlw:FVzHG8uvuZGwSO7kibHJuw:X7kZwHTcbnpY3im6"
      X-Gdc-Request-Time:
      - '46'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/l40ehvu3qvgnvwytea4yt8ml2lnlqwec
    body:
      encoding: UTF-8
      string: '{"project":{"content":{"environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","driver":"Pg"},"links":{"ldm_thumbnail":"/gdc/projects/l40ehvu3qvgnvwytea4yt8ml2lnlqwec/ldm?thumbnail=1","self":"/gdc/projects/l40ehvu3qvgnvwytea4yt8ml2lnlqwec","clearCaches":"/gdc/projects/l40ehvu3qvgnvwytea4yt8ml2lnl[...]
[...]
