---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/objects/query?category=dataSet&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:rfBRFQVbbXokvqeMJWuokg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:rfBRFQVbbXokvqeMJWuokg:5sShTyQCQvLCusg0
      X-Gdc-Request-Time:
      - '64'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":4,"offset":0},"items":[{"dataSet":{"content":{"mode":"","facts":[],"dataLoadingColumns":["/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/37","/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/39","/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/19","/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/21","/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/23"],"attributes":["/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/211","/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/213"]},"links":{"dataUploads":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/data/uploads/40"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/40","tags":"","created":"2018-06-05
        09:40:50","identifier":"dataset.repos","deprecated":"0","summary":"","isProduction":1,"title":"Repositories","category":"dataSet","updated":"2018-06-05
        09:41:46","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"dataSet":{"content":{"mode":"","facts":[],"dataLoadingColumns":["/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/12","/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/14","/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/16"],"attributes":["/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216"]},"links":{"dataUploads":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/data/uploads/41"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:7xmvxSaNqYceIUDPKY2nag
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:7xmvxSaNqYceIUDPKY2nag:iU3BfW1w52bpeIJ1
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Resources for logical data model (LDM) manipulation
        within project ''uihlr91spuzouu4qph5twhixwg9gqice''","category":"ldm","instance":"uihlr91spuzouu4qph5twhixwg9gqice","links":[{"link":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/ldm/manage2","summary":"Resources
        for model manipulation with categorized result.","category":"ldm-manage2","title":"manage2"},{"link":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/ldm/singleloadinterface","summary":"Single
        interface for data loading.","category":"singleloadinterface","title":"singleloadinterface"},{"link":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/ldm/attributeupperbound","summary":"Attribute
        upper bounds for LDM.","category":"attributeupperbound","title":"attributeupperbound"}]}}'
  recorded_at: Tue, 05 Jun 2018 07:42:38 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"SYNCHRONIZE {dataset.repos}"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:86Wsb0hmRreZtxGElKIKPA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:86Wsb0hmRreZtxGElKIKPA:KL1DctzvVi5b1Bgl
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"entries":[{"link":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/tasks/4984213374f5fdab7646b23a52bfae710000002a/status","category":"tasks-status"}]}'
  recorded_at: Tue, 05 Jun 2018 07:42:39 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/tasks/4984213374f5fdab7646b23a52bfae710000002a/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:G5lVYHc-gQN3CpIx15PHzA
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:G5lVYHc-gQN3CpIx15PHzA:Csb1uzmBku0pKau7
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/tasks/4984213374f5fdab7646b23a52bfae710000002a/status","status":"OK","links":{"poll":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/tasks/4984213374f5fdab7646b23a52bfae710000002a/status"}}}'
  recorded_at: Tue, 05 Jun 2018 07:42:40 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:9h1Zvi3Q2Os69iKyasgrIA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:9h1Zvi3Q2Os69iKyasgrIA:E1OF0LIPpSw3IENW
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"fact":{"content":{"folders":["/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/219"],"expr":[{"type":"col","data":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/29"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/220","tags":"","created":"2018-06-05
        09:40:52","identifier":"fact.commits.lines_changed","deprecated":"0","summary":"Fact
        description","isProduction":1,"title":"Lines Changed","category":"fact","updated":"2018-06-05
        09:40:52","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Tue, 05 Jun 2018 07:42:44 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/220
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:BRAaHBkXUXI45bFtuxt5Sg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:BRAaHBkXUXI45bFtuxt5Sg:xxBBWnIVTr1VfDcl
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/219"],"expr":[{"type":"col","data":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/29"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/220","tags":"","created":"2018-06-05
        09:40:52","identifier":"fact.commits.lines_changed","deprecated":"0","summary":"Fact
        description","isProduction":1,"title":"Lines Changed","category":"fact","updated":"2018-06-05
        09:40:52","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:42:45 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:sQBF_8d05ud1hruQeFmdMA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:sQBF_8d05ud1hruQeFmdMA:mcFgE4DNNSA0ICkr
      X-Gdc-Request-Time:
      - '301'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":22,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/62"}],"displayForms":[{"content":{"formOf":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/146","expression":"[/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/63]","default":1},"links":{"elements":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/164/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/164","tags":"","created":"2010-08-02
        08:13:42","identifier":"committed_on.aag81lMifn6q","deprecated":"0","summary":"DisplayForm
        Year.","isProduction":1,"title":"Year (Committed On)","category":"attributeDisplayForm","updated":"2018-06-05
        09:40:51","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/196","sort":"pk","dimension":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/43","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/110"},{"multivalue":false,"type":"col","data":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/118"},{"multivalue":false,"type":"col","data":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/133"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/146","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"committed_on.year","deprecated":"[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:r34odgebb2IkRSuN13Qo4Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:r34odgebb2IkRSuN13Qo4Q:rcXlMAELA5Uf6TPw
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Tue, 05 Jun 2018 07:42:47 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT SUM([/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/220])"},"meta":{"tags":"","summary":null,"title":"Untitled
        metric"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:CcwIcMwi8lk1U84PKij43A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:CcwIcMwi8lk1U84PKij43A:I4fniF8FJnsxdVgE
      X-Gdc-Request-Time:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/254"}'
  recorded_at: Tue, 05 Jun 2018 07:42:48 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/254
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:RvoLQZWUg11_lt8LceINQQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:RvoLQZWUg11_lt8LceINQQ:gnwRVhwJ5YOwYFhF
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"SUM","content":[{"value":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/220","position":{"column":25,"line":1},"type":"fact
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        SUM([/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/220])"},"links":{"explain2":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/254/explain2"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/254","tags":"","created":"2018-06-05
        09:42:48","identifier":"aadfeEdkibBh","deprecated":"0","summary":"","isProduction":1,"title":"Untitled
        metric","category":"metric","updated":"2018-06-05 09:42:48","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:42:49 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uihlr91spuzouu4qph5twhixwg9gqice/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"definitionContent":{"content":{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[],"metrics":[{"alias":"Untitled
        metric","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/254"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"meta":{"tags":"","summary":"","title":"Untitled
        report definition"}}},"projectMetadata":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:ujREI4dQL05lPptz_GP6xQ
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/dataResult/7022445264209443840"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:ujREI4dQL05lPptz_GP6xQ:PZA8o0zjnBcUxuIs
      X-Gdc-Request-Time:
      - '156'
    body:
      encoding: ASCII-8BIT
      string: '{"execResult":{"reportView":{"reportName":"Untitled report definition","columnWidths":[],"filters":[],"rows":["metricGroup"],"sort":{"columns":[],"rows":[]},"format":"grid","columns":[],"metrics":[{"format":"#,##0","summary":"","title":"Untitled
        metric","metricId":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/254"}]},"dataResult":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/dataResult/7022445264209443840"}}'
  recorded_at: Tue, 05 Jun 2018 07:42:50 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/dataResult/7022445264209443840
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:wCMQtnZaxn79jE-i_JbVvA
      Process:
      - 'true'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Execution-Time:
      - '174'
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '26'
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:wCMQtnZaxn79jE-i_JbVvA:u2ik2LeWQoDSXHQE
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 07:42:50 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/objects/query?category=dataSet&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:pcSSaREjy9KVUjFPGXMJBA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
  [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:QxldnTz1ebCZ5BbvIugqpw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"SYNCHRONIZE {dataset.repos}"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:EfbNQW29sfKd19TN0jnUzA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:EfbNQW29sfKd19TN0jnUzA:TGcFWpAcyZpVSy1F
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"entries":[{"link":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/tasks/995cea2595c1bb225589035f32d93d7a0000002a/status","category":"tasks-status"}]}'
  recorded_at: Tue, 05 Jun 2018 08:23:39 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/tasks/995cea2595c1bb225589035f32d93d7a0000002a/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:DM-zxgi5RFE4gRtVocqm1w
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:DM-zxgi5RFE4gRtVocqm1w:YKvhO9DZlwNECQYV
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/tasks/995cea2595c1bb225589035f32d93d7a0000002a/status","status":"OK","links":{"poll":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/tasks/995cea2595c1bb225589035f32d93d7a0000002a/status"}}}'
  recorded_at: Tue, 05 Jun 2018 08:23:41 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:bUE2jPjQ2n63gl6w6ESoNQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:bUE2jPjQ2n63gl6w6ESoNQ:scCN2mL79n6shunJ
      X-Gdc-Request-Time:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"fact":{"content":{"folders":["/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/219"],"expr":[{"type":"col","data":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/29"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/220","tags":"","created":"2018-06-05
        10:21:49","identifier":"fact.commits.lines_changed","deprecated":"0","summary":"Fact
        description","isProduction":1,"title":"Lines Changed","category":"fact","updated":"2018-06-05
        10:21:49","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Tue, 05 Jun 2018 08:23:44 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/220
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:5WBydGssVWRNyHMURhrHiA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:5WBydGssVWRNyHMURhrHiA:LzZNGp3pUHLGBtq4
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/219"],"expr":[{"type":"col","data":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/29"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/220","tags":"","created":"2018-06-05
        10:21:49","identifier":"fact.commits.lines_changed","deprecated":"0","summary":"Fact
        description","isProduction":1,"title":"Lines Changed","category":"fact","updated":"2018-06-05
        10:21:49","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 08:23:45 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:dQpWQtbiXl7mzORubSuX5Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:YL9XMNbtRUIL4dEsBpAsoA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:YL9XMNbtRUIL4dEsBpAsoA:JxmdoKQYxDnFjFuN
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Tue, 05 Jun 2018 08:23:47 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT SUM([/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/220])"},"meta":{"tags":"","summary":null,"title":"Untitled
        metric"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:eXQU9W0vDtlPOFdTKiWkIw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:eXQU9W0vDtlPOFdTKiWkIw:kyHr2wHxmJPbcBje
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/254"}'
  recorded_at: Tue, 05 Jun 2018 08:23:48 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/l3398hstuqp0gegtnzmgpuyizfp6ddlh/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"definitionContent":{"content":{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[],"metrics":[{"alias":"Untitled
        metric","uri":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/254"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"meta":{"tags":""[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/dataResult/1333386871349444352
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:TtalwrGv6ShCfhj_9nZLlg
      Process:
      - 'true'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Execution-Time:
      - '123'
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '39'
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:TtalwrGv6ShCfhj_9nZLlg:9F7rMmBIgSn7CXtM
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 08:23:49 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/254
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:Gq6qKFWIN2zI9CzX9GgWiA
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '52'
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:Gq6qKFWIN2zI9CzX9GgWiA:ny05Xn7yn2YjPPUX
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 08:23:50 GMT
recorded_with: VCR 4.0.0
