---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.devs.dev_id"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:NojyarQMAO3yh4ysxQCqEA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:NojyarQMAO3yh4ysxQCqEA:ZCitzZK0DNg9YB23
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.devs.dev_id","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216"}]}'
  recorded_at: Tue, 05 Jun 2018 07:46:36 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:Eixx3v_NsYgLmJIO3FMWKw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:Eixx3v_NsYgLmJIO3FMWKw:fAYArP0dd9UCQoTJ
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/11"}],"dimension":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/215","displayForms":[{"content":{"formOf":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216","expression":"[/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/13]","default":1},"links":{"elements":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/218/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/218","tags":"","created":"2018-06-05
        09:40:52","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2018-06-05
        09:40:52","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}},{"content":{"formOf":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216","expression":"[/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/15]"},"links":{"elements":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/217/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/217","tags":"","created":"2018-06-05
        09:40:52","identifier":"label.devs.dev_id.id","deprecated":"0","summary":"","isProduction":1,"title":"Id","category":"attributeDisplayForm","updated":"2018-06-05
        09:40:52","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}],"fk":[{"multivalue":false,"type":"col","data":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/25"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216","tags":"","created":"2018-06-05
        09:40:52","identifier":"attr.devs.dev_id","deprecated":"0","summary":"","isProduction":1,"title":"Dev","category":"attribute","updated":"2018-06-05
        09:40:53","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:46:37 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/218
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:LS7Ayfb0eNhBoGRGhbXdRA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:LS7Ayfb0eNhBoGRGhbXdRA:YEoD0NVwQxEGgDcw
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216","expression":"[/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/13]","default":1},"links":{"elements":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/218/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/218","tags":"","created":"2018-06-05
        09:40:52","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2018-06-05
        09:40:52","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:46:37 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/218/validElements?limit=100&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:Zri9vPmdKDsHmjqLo9TSpA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:Zri9vPmdKDsHmjqLo9TSpA:VYzRHSG8s7fjG3TK
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/218"},"paging":{"count":4,"total":"4","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216/elements?id=3"}},{"element":{"title":"josh@gooddata.com","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216/elements?id=4"}},{"element":{"title":"petr@gooddata.com","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216/elements?id=2"}},{"element":{"title":"tomas@gooddata.com","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216/elements?id=1"}}]}}'
  recorded_at: Tue, 05 Jun 2018 07:46:38 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/218/elements/?id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:UH9YMyg4G-1AN03rG_5pAw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:UH9YMyg4G-1AN03rG_5pAw:tb8pShH5waKeW0Tz
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeElements":{"elementsMeta":{"count":1,"mode":"includeuris","filter":"","records":"1","prompt":"","attribute":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216","order":"asc","attributeDisplayForm":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/218","offset":"0"},"elements":[{"title":"tomas@gooddata.com","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/216/elements?id=1"}],"paging":{"next":null,"count":1,"total":"1","offset":"0"}}}'
  recorded_at: Tue, 05 Jun 2018 07:46:41 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.devs.dev_id"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:09R5t-YEjqgIFOU2vb9lSw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:09R5t-YEjqgIFOU2vb9lSw:Hz6ZJq1LbKbR1FbK
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.devs.dev_id","uri":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/211"}]}'
  recorded_at: Tue, 05 Jun 2018 08:27:21 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/211
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:5uFEFWLymngN5gPnEqFAbA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/213/validElements?limit=100&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:XYLXQTtUwKo1NciS-4zPmw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gd[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/213/elements/?id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:KZr55QnlxhqitwW6uyE7FA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:KZr55QnlxhqitwW6uyE7FA:CQaepDIlXtuTIM4U
      X-Gdc-Request-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeElements":{"elementsMeta":{"count":1,"mode":"includeuris","filter":"","records":"1","prompt":"","attribute":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/211","order":"asc","attributeDisplayForm":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/213","offset":"0"},"elements":[{"title":"tomas@gooddata.com","uri":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/211/elements?id=1"}],"paging":{"next":null,"count":1,"total":"1","offset":"0"}}}'
  recorded_at: Tue, 05 Jun 2018 08:27:26 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.devs.dev_id"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:15GX8tmm5kkEYrodtrSWrQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:15GX8tmm5kkEYrodtrSWrQ:0kro2AbNJsl5aqGA
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.devs.dev_id","uri":"/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/obj/217"}]}'
  recorded_at: Fri, 05 Oct 2018 13:58:49 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/obj/217
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:fqJKKOhaYMSCs0cqnVCu2w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/obj/219/validElements?limit=100&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:4C7rMtXCS0VlwO2ULvuGcg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gd[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/obj/219/elements/?id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:NxqwFbsOv5pjpQEFcfNSPQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:NxqwFbsOv5pjpQEFcfNSPQ:YFpFCr7qRgbAsPaW
      X-Gdc-Request-Time:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeElements":{"elementsMeta":{"count":1,"mode":"includeuris","filter":"","records":"1","prompt":"","attribute":"/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/obj/217","order":"asc","attributeDisplayForm":"/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/obj/219","offset":"0"},"elements":[{"title":"tomas@gooddata.com","uri":"/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/obj/217/elements?id=1"}],"paging":{"next":null,"count":1,"total":"1","offset":"0"}}}'
  recorded_at: Fri, 05 Oct 2018 13:58:53 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.devs.dev_id"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":MI5onfuWjw3LK8LA44DUlw:sdMcN7lXrvJ2VZ7iQ6cN4w"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":MI5onfuWjw3LK8LA44DUlw:sdMcN7lXrvJ2VZ7iQ6cN4w:9kRtVcdKChIqL8pa"
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.devs.dev_id","uri":"/gdc/md/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/obj/212"}]}'
  recorded_at: Mon, 21 Jan 2019 19:03:13 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/obj/212
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":MI5onfuWjw3LK8LA44DUlw:ObHvVLAZUwFzj0pRB4090w"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/obj/214/validElements?limit=100&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":MI5onfuWjw3LK8LA44DUlw:aH6Sv5Os1_0rDbbon1gePg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      messa[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/obj/214/elements/?id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":MI5onfuWjw3LK8LA44DUlw:sOX-cU_9PfG39p8KV9IHyQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":MI5onfuWjw3LK8LA44DUlw:sOX-cU_9PfG39p8KV9IHyQ:elCzqN05IgqsDD5k"
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeElements":{"elementsMeta":{"count":1,"mode":"includeuris","filter":"","records":"1","prompt":"","attribute":"/gdc/md/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/obj/212","order":"asc","attributeDisplayForm":"/gdc/md/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/obj/214","offset":"0"},"elements":[{"title":"tomas@gooddata.com","uri":"/gdc/md/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/obj/212/elements?id=1"}],"paging":{"next":null,"count":1,"total":"1","offset":"0"}}}'
  recorded_at: Mon, 21 Jan 2019 19:03:21 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l40ehvu3qvgnvwytea4yt8ml2lnlqwec/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.devs.dev_id"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":5nkIgsVhoFUfrtJPVTipNw:mNF-J-xdpsbnOP2W4LL3LA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":5nkIgsVhoFUfrtJPVTipNw:mNF-J-xdpsbnOP2W4LL3LA:JVRSeQrQir0KElze"
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.devs.dev_id","uri":"/gdc/md/l40ehvu3qvgnvwytea4yt8ml2lnlqwec/obj/212"}]}'
  recorded_at: Mon, 21 Jan 2019 19:36:32 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l40ehvu3qvgnvwytea4yt8ml2lnlqwec/obj/212
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":5nkIgsVhoFUfrtJPVTipNw:0AhIK9UtUdQyDbp086JPZg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l40ehvu3qvgnvwytea4yt8ml2lnlqwec/obj/214/validElements?limit=100&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":5nkIgsVhoFUfrtJPVTipNw:CBGzsLMp_Dg5ndxCO6AwLg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      messa[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l40ehvu3qvgnvwytea4yt8ml2lnlqwec/obj/214/elements/?id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":5nkIgsVhoFUfrtJPVTipNw:KSgsBJpfD1nHygh8O3tCOQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":5nkIgsVhoFUfrtJPVTipNw:KSgsBJpfD1nHygh8O3tCOQ:XkZJ2c0aJmCfDcI0"
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeElements":{"elementsMeta":{"count":1,"mode":"includeuris","filter":"","records":"1","prompt":"","attribute":"/gdc/md/l40ehvu3qvgnvwytea4yt8ml2lnlqwec/obj/212","order":"asc","attributeDisplayForm":"/gdc/md/l40ehvu3qvgnvwytea4yt8ml2lnlqwec/obj/214","offset":"0"},"elements":[{"title":"tomas@gooddata.com","uri":"/gdc/md/l40ehvu3qvgnvwytea4yt8ml2lnlqwec/obj/212/elements?id=1"}],"paging":{"next":null,"count":1,"total":"1","offset":"0"}}}'
  recorded_at: Mon, 21 Jan 2019 19:36:40 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/um2g0ncbycgqt13ikyo20d86n0htj1a9/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.devs.dev_id"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":eEWKUL1m1EOkKymcyTXQGQ:cddEEVRYJLlSiKtTDpxoxw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":eEWKUL1m1EOkKymcyTXQGQ:cddEEVRYJLlSiKtTDpxoxw:5U7KFhmIHEcox2BG"
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.devs.dev_id","uri":"/gdc/md/um2g0ncbycgqt13ikyo20d86n0htj1a9/obj/219"}]}'
  recorded_at: Thu, 24 Jan 2019 13:56:29 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/um2g0ncbycgqt13ikyo20d86n0htj1a9/obj/219
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":eEWKUL1m1EOkKymcyTXQGQ:72JDtgSaUC_gpox_cELfDg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/um2g0ncbycgqt13ikyo20d86n0htj1a9/obj/221/validElements?limit=100&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":eEWKUL1m1EOkKymcyTXQGQ:BVAdLoGCPy0BpB2yEgYiMA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      messa[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/um2g0ncbycgqt13ikyo20d86n0htj1a9/obj/221/elements/?id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":eEWKUL1m1EOkKymcyTXQGQ:AbYuhPRso2ucvtZZrc-WuA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":eEWKUL1m1EOkKymcyTXQGQ:AbYuhPRso2ucvtZZrc-WuA:TLFcFIVE9crnE5O4"
      X-Gdc-Request-Time:
      - '89'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeElements":{"elementsMeta":{"count":1,"mode":"includeuris","filter":"","records":"1","prompt":"","attribute":"/gdc/md/um2g0ncbycgqt13ikyo20d86n0htj1a9/obj/219","order":"asc","attributeDisplayForm":"/gdc/md/um2g0ncbycgqt13ikyo20d86n0htj1a9/obj/221","offset":"0"},"elements":[{"title":"tomas@gooddata.com","uri":"/gdc/md/um2g0ncbycgqt13ikyo20d86n0htj1a9/obj/219/elements?id=1"}],"paging":{"next":null,"count":1,"total":"1","offset":"0"}}}'
  recorded_at: Thu, 24 Jan 2019 13:56:35 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/um2g0ncbycgqt13ikyo20d86n0htj1a9/obj/220/elements/?id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":eEWKUL1m1EOkKymcyTXQGQ:jxqj0clbhjo6CMN7CjPJdg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":eEWKUL1m1EOkKymcyTXQGQ:jxqj0clbhjo6CMN7CjPJdg:BTzXXyVRlidV49ke"
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeElements":{"elementsMeta":{"count":1,"mode":"includeuris","filter":"","records":"1","prompt":"","attribute":"/gdc/md/um2g0ncbycgqt13ikyo20d86n0htj1a9/obj/219","order":"asc","attributeDisplayForm":"/gdc/md/um2g0ncbycgqt13ikyo20d86n0htj1a9/obj/220","offset":"0"},"elements":[{"title":"1","uri":"/gdc/md/um2g0ncbycgqt13ikyo20d86n0htj1a9/obj/219/elements?id=1"}],"paging":{"next":null,"count":1,"total":"1","offset":"0"}}}'
  recorded_at: Thu, 24 Jan 2019 13:56:35 GMT
recorded_with: VCR 4.0.0
