---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:B1sjbv54nmejnlRdViTnSA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:B1sjbv54nmejnlRdViTnSA:QLyrmOlqzppo5pCi
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"SUM","content":[{"value":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/220","position":{"column":25,"line":1},"type":"fact
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        SUM([/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/220])"},"links":{"explain2":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/266/explain2"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/266","tags":"","created":"2018-06-05
        09:43:57","identifier":"aabffac4ibxG","deprecated":"0","summary":"","isProduction":1,"title":"My
        metric","category":"metric","updated":"2018-06-05 09:44:10","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Tue, 05 Jun 2018 07:44:50 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/266
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:cCn0hc5p-gq44o2xfNFukQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:Ng5VUJSVwFXyWZPTHwegdA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
   [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/266
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:XKRfLhvemJFDDoAyLhJXaw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:LuRiFLVRkqCcjjgQCElZyw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
   [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/obj/269
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:OTxAXIDlaXR-pHeDz37ZAw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":MI5onfuWjw3LK8LA44DUlw:phwdODqeueI-_Kkr3rdycw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":MI5onfuWjw3LK8LA44DUlw:phwdODqeueI-_Kkr3rdycw:rQ2gCUKRVxRIl0Bm"
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"SUM","content":[{"value":"/gdc/md/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/obj/223","position":{"column":25,"line":1},"type":"fact
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        SUM([/gdc/md/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/obj/223])"},"links":{"explain2":"/gdc/md/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/obj/269/explain2"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/obj/269","tags":"","created":"2019-01-21
        19:58:50","identifier":"acjYOYclgE5W","deprecated":"0","summary":"","isProduction":1,"title":"My
        metric","category":"metric","updated":"2019-01-21 19:59:15","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Mon, 21 Jan 2019 19:00:26 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/kox3qimhjpq0mbp0g8q6qkqiv0wbapxp/obj/269
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":MI5onfuWjw3LK8LA44DUlw:bB77syKQkUrQEqWAi6I6gA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l40ehvu3qvgnvwytea4yt8ml2lnlqwec/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":5nkIgsVhoFUfrtJPVTipNw:9mu1Xa75Wr6eXf7yM9pALg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l40ehvu3qvgnvwytea4yt8ml2lnlqwec/obj/269
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":5nkIgsVhoFUfrtJPVTipNw:ry0n7a-cGQBMFxLvMiRApg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/um2g0ncbycgqt13ikyo20d86n0htj1a9/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":eEWKUL1m1EOkKymcyTXQGQ:Qd5E0S664DqajJxRQ1z0TQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/um2g0ncbycgqt13ikyo20d86n0htj1a9/obj/269
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":eEWKUL1m1EOkKymcyTXQGQ:cLsiU9SwhAQXgGNYlqr3WQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content[...]
[...]
