---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/a30amfojustxkw5kx609f5kea21vc438
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:Q2PS-56WeJET0rFKQvATFQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:Q2PS-56WeJET0rFKQvATFQ:aUbh4lNF8Vfch9fF
      X-Gdc-Request-Time:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/a30amfojustxkw5kx609f5kea21vc438/ldm?thumbnail=1","self":"/gdc/projects/a30amfojustxkw5kx609f5kea21vc438","clearCaches":"/gdc/projects/a30amfojustxkw5kx609f5kea21vc438/clearCaches","invitations":"/gdc/projects/a30amfojustxkw5kx609f5kea21vc438/invitations","users":"/gdc/projects/a30amfojustxkw5kx609f5kea21vc438/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/a30amfojustxkw5kx609f5kea21vc438/uploads/","ldm":"/gdc/projects/a30amfojustxkw5kx609f5kea21vc438/ldm","metadata":"/gdc/md/a30amfojustxkw5kx609f5kea21vc438","publicartifacts":"/gdc/projects/a30amfojustxkw5kx609f5kea21vc438/publicartifacts","roles":"/gdc/projects/a30amfojustxkw5kx609f5kea21vc438/roles","userRoles":"/gdc/projects/a30amfojustxkw5kx609f5kea21vc438/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/a30amfojustxkw5kx609f5kea21vc438/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/a30amfojustxkw5kx609f5kea21vc438/dataload","connectors":"/gdc/projects/a30amfojustxkw5kx609f5kea21vc438/connectors","execute":"/gdc/projects/a30amfojustxkw5kx609f5kea21vc438/execute","config":"/gdc/projects/a30amfojustxkw5kx609f5kea21vc438/config","projectFeatureFlags":"/gdc/projects/a30amfojustxkw5kx609f5kea21vc438/projectFeatureFlags","schedules":"/gdc/projects/a30amfojustxkw5kx609f5kea21vc438/schedules","templates":"/gdc/md/a30amfojustxkw5kx609f5kea21vc438/templates","eventstores":"/gdc/projects/a30amfojustxkw5kx609f5kea21vc438/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        09:47:02","summary":"No summary","updated":"2018-06-05 09:47:02","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"My
        new clone project","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:47:03 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/a30amfojustxkw5kx609f5kea21vc438
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:NS5EcVnGk9cJU1cyPOKYTQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:NS5EcVnGk9cJU1cyPOKYTQ:9A3IQ51GjWODDva3
      X-Gdc-Request-Time:
      - '68'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/a30amfojustxkw5kx609f5kea21vc438/ldm?thumbnail=1","self":"/gdc/projects/a30amfojustxkw5kx609f5kea21vc438","clearCaches":"/gdc/projects/a30amfojustxkw5kx609f5kea21vc438/clearCaches","invitations":"/gdc/projects/a30amfojustxkw5kx609f5kea21vc438/invitations","users":"/gdc/projects/a30amfojustxkw5kx609f5kea21vc438/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/a30amfojustxkw5kx[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:zVdkX96bjkdHEyYzTZ27Tg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:zVdkX96bjkdHEyYzTZ27Tg:DXtk4P835W6cp2Nb
      X-Gdc-Request-Time:
      - '81'
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/etltask/7a1419cca93ea1c2a4dd6c10f92d7e930000002b"},"token":"<TOKEN>"}}'
  recorded_at: Tue, 05 Jun 2018 07:47:10 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/etltask/7a1419cca93ea1c2a4dd6c10f92d7e930000002b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:ERjL0Ihn-xMuUTjcdfasgQ
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:ERjL0Ihn-xMuUTjcdfasgQ:s2VqIqq6zHpj8JcC
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Tue, 05 Jun 2018 07:47:11 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/a30amfojustxkw5kx609f5kea21vc438/maintenance/import
    body:
      encoding: UTF-8
      string: '{"importProject":{"token":"<TOKEN>"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:IsbWioQA8jsZrsGkGI9qUQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:IsbWioQA8jsZrsGkGI9qUQ:9rMvzTrRR6wAZEfz
      X-Gdc-Request-Time:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/a30amfojustxkw5kx609f5kea21vc438/etltask/ef15a72281e1c678ec496b0b385d16160000002b"}'
  recorded_at: Tue, 05 Jun 2018 07:47:22 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/a30amfojustxkw5kx609f5kea21vc438/etltask/ef15a72281e1c678ec496b0b385d16160000002b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:9qAk_YVautV_qOSe6B8VwQ
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:9qAk_YVautV_qOSe6B8VwQ:dHtIGZjcJ2oSMy9v
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Tue, 05 Jun 2018 07:47:22 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/a30amfojustxkw5kx609f5kea21vc438
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:-dkD_EDSSSB3M043ijuKiQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:-dkD_EDSSSB3M043ijuKiQ:Bznl3dB1sV3hpnnv
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''a30amfojustxkw5kx609f5kea21vc438''","category":"project","instance":"a30amfojustxkw5kx609f5kea21vc438","links":[{"link":"/gdc/md/a30amfojustxkw5kx609f5kea21vc438/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/a30amfojustxkw5kx609f5kea21vc438/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/a30amfojustxkw5kx609f5kea21vc438/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","category":"drillcrosspaths","title":"drillcrosspaths"}[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/a30amfojustxkw5kx609f5kea21vc438/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:js3ey10I7ZM7KvZ6I4KM8w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:js3ey10I7ZM7KvZ6I4KM8w:10bS1vFxGNjtUpfY
      X-Gdc-Request-Time:
      - '103'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"fact":{"content":{"folders":["/gdc/md/a30amfojustxkw5kx609f5kea21vc438/obj/219"],"expr":[{"type":"col","data":"/gdc/md/a30amfojustxkw5kx609f5kea21vc438/obj/29"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/a30amfojustxkw5kx609f5kea21vc438/obj/220","tags":"tag1
        tag2 tag3","created":"2018-06-05 09:40:52","identifier":"fact.commits.lines_changed","deprecated":"0","summary":"Fact
        description","isProduction":1,"title":"Lines Changed","category":"fact","updated":"2018-06-05
        09:45:08","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Tue, 05 Jun 2018 07:47:34 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/a30amfojustxkw5kx609f5kea21vc438/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT SUM([/gdc/md/a30amfojustxkw5kx609f5kea21vc438/obj/220])"},"meta":{"tags":"","summary":null,"title":"sum
        of Lines Changed"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:1d1OGiFWfk2AAdp6SNOtRg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:1d1OGiFWfk2AAdp6SNOtRg:9nmcsvaz3cmdQQi8
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/a30amfojustxkw5kx609f5kea21vc438/obj/291"}'
  recorded_at: Tue, 05 Jun 2018 07:47:35 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/a30amfojustxkw5kx609f5kea21vc438/obj/291
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:nu8WPm2GvjnqdakMd3cN_w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:nu8WPm2GvjnqdakMd3cN_w:i6Dtx1M8q13qXjrA
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"SUM","content":[{"value":"/gdc/md/a30amfojustxkw5kx609f5kea21vc438/obj/220","position":{"column":25,"line":1},"type":"fact
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        SUM([/gdc/md/a30amfojustxkw5kx609f5kea21vc438/obj/220])"},"links":{"explain2":"/gdc/md/a30amfojustxkw5kx609f5kea21vc438/obj/291/explain2"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/a30amfojustxkw5kx609f5kea21vc438/obj/291","tags":"","created":"2018-06-05
        09:47:35","identifier":"aafffRkLiDE2","deprecated":"0","summary":"","isProduction":1,"title":"sum
        of Lines Changed","category":"metric","updated":"2018-06-05 09:47:35","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:47:35 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/a30amfojustxkw5kx609f5kea21vc438/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"definitionContent":{"content":{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[],"metrics":[{"alias":"sum
        of Lines Changed","uri":"/gdc/md/a30amfojustxkw5kx609f5kea21vc438/obj/291"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"meta":{"tags":"","summary":"","title":"Untitled
        report definition"}}},"projectMetadata":"/gdc/md/a30amfojustxkw5kx609f5kea21vc438"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:QUNk-SBazL9C2cesTh8YXA
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/a30amfojustxkw5kx609f5kea21vc438/dataResult/8072932101902826496"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:QUNk-SBazL9C2cesTh8YXA:EIFAFkX7EJ5myqAQ
      X-Gdc-Request-Time:
      - '203'
    body:
      encoding: ASCII-8BIT
      string: '{"execResult":{"reportView":{"reportName":"Untitled report definition","columnWidths":[],"filters":[],"rows":["metricGroup"],"sort":{"columns":[],"rows":[]},"format":"grid","columns":[],"metrics":[{"format":"#,##0","summary":"","title":"sum
        of Lines Changed","metricId":"/gdc/md/a30amfojustxkw5kx609f5kea21vc438/obj/291"}]},"dataResult":"/gdc/md/a30amfojustxkw5kx609f5kea21vc438/dataResult/8072932101902826496"}}'
  recorded_at: Tue, 05 Jun 2018 07:47:36 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/a30amfojustxkw5kx609f5kea21vc438/dataResult/8072932101902826496
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:ZKcvwYKT4ERYwgkDDfx_FQ
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Execution-Time:
      - '166'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:ZKcvwYKT4ERYwgkDDfx_FQ:BGWSO8oxbDtfAbRL
      X-Gdc-Request-Time:
      - '55'
    body:
      encoding: ASCII-8BIT
      string: '{"xtab_data":{"columns":{"tree":{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"root","id":null},"lookups":[{"0":"sum
        of Lines Changed"}]},"data":[["9"]],"overall_size":{"columns":1,"rows":1},"rows":{"tree":{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"root","id":null},"lookups":[{"0":"sum
        of Lines Changed"}]},"offset":{"columns":0,"rows":0},"size":{"columns":1,"rows":1}}}'
  recorded_at: Tue, 05 Jun 2018 07:47:37 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:0cAU_f7JwuykP32fInXxHQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:0cAU_f7JwuykP32fInXxHQ:r75erf80pdYoTcvc
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"fact":{"content":{"folders":["/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/219"],"expr":[{"type":"col","data":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/29"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/220","tags":"tag1
        tag2 tag3","created":"2018-06-05 09:40:52","identifier":"fact.commits.lines_changed","deprecated":"0","summary":"Fact
        description","isProduction":1,"title":"Lines Changed","category":"fact","updated":"2018-06-05
        09:45:08","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Tue, 05 Jun 2018 07:47:38 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["metric.cloned_metric"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:NkwgzrSI1vNoTklcWp4y9Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:NkwgzrSI1vNoTklcWp4y9Q:pT5cthIuJwrC7bM7
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[]}'
  recorded_at: Tue, 05 Jun 2018 07:47:39 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT SUM([/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/220])"},"meta":{"tags":"","summary":null,"title":"sum
        of Lines Changed","identifier":"metric.cloned_metric"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:SWpbZrEz9iyY1ObSeh8nAg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:SWpbZrEz9iyY1ObSeh8nAg:O5t9M2q4rsq6LCB5
      X-Gdc-Request-Time:
      - '80'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/291"}'
  recorded_at: Tue, 05 Jun 2018 07:47:40 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/291
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:c9NvWbFXj6R-_kKUzRMhdA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/maintenance/partialmdexport
    body:
      encoding: UTF-8
      string: '{"partialMDExport":{"uris":["/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/291"],"exportAttributeProperties":"1","crossDataCenterExport":"1"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:f0m-SnVj2CX_HYz94uAPeg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:f0m-SnVj2CX_HYz94uAPeg:URDa2UehU7RyxejK
      X-Gdc-Request-Time:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '{"partialMDArtifact":{"status":{"uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/tasks/f4555c777963a32d7de2e652cfd77b1b020c40e243dfbe0f0000002a/status"},"token":"<TOKEN>"}}'
  recorded_at: Tue, 05 Jun 2018 07:47:42 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/tasks/f4555c777963a32d7de2e652cfd77b1b020c40e243dfbe0f0000002a/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:px_tl-Q6_vdxHQcyNFRcmg
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:px_tl-Q6_vdxHQcyNFRcmg:3SKQN0Asvbld8a6T
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/tasks/f4555c777963a32d7de2e652cfd77b1b020c40e243dfbe0f0000002a/status","status":"RUNNING","links":{"poll":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/tasks/f4555c777963a32d7de2e652cfd77b1b020c40e243dfbe0f0000002a/status"}}}'
  recorded_at: Tue, 05 Jun 2018 07:47:43 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/a30amfojustxkw5kx609f5kea21vc438/maintenance/partialmdimport
    body:
      encoding: UTF-8
      string: '{"partialMDImport":{"token":"<TOKEN>","overwriteNewer":"1","updateLDMObjects":"1","importAttributeProperties":"1"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:IXM8V1M_I1j3H2ozN9cx9g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:IXM8V1M_I1j3H2ozN9cx9g:WEWVVlezbnu9Aead
      X-Gdc-Request-Time:
      - '729'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/a30amfojustxkw5kx609f5kea21vc438/tasks/b2a28a99e5f3282292171e3e33fb1686020c40e344a057d40000002a/status"}'
  recorded_at: Tue, 05 Jun 2018 07:47:55 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/a30amfojustxkw5kx609f5kea21vc438/tasks/b2a28a99e5f3282292171e3e33fb1686020c40e344a057d40000002a/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:vBfmypIbYX4zS42wJDKYuw
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:vBfmypIbYX4zS42wJDKYuw:yWGukvDRmL5bCI50
      X-Gdc-Request-Time:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/a30amfojustxkw5kx609f5kea21vc438/tasks/b2a28a99e5f3282292171e3e33fb1686020c40e344a057d40000002a/status","status":"RUNNING","links":{"poll":"/gdc/md/a30amfojustxkw5kx609f5kea21vc438/tasks/b2a28a99e5f3282292171e3e33fb1686020c40e344a057d40000002a/status"}}}'
  recorded_at: Tue, 05 Jun 2018 07:47:55 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/a30amfojustxkw5kx609f5kea21vc438/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["metric.cloned_metric"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:OhxDOrcjwWz-2zUHTCFgNg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:OhxDOrcjwWz-2zUHTCFgNg:ofSXWYCYJp4RVXm4
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"metric.cloned_metric","uri":"/gdc/md/a30amfojustxkw5kx609f5kea21vc438/obj/292"}]}'
  recorded_at: Tue, 05 Jun 2018 07:48:06 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"My new clone project"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:pXoQfaoxqq5uM7UhFFRxFA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:pXoQfaoxqq5uM7UhFFRxFA:c5b2TOVYPDnQEzIw
      X-Gdc-Request-Time:
      - '584'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/xqvlbjgg9mfgy956hvq5k3wvzh2s9bqi"}'
  recorded_at: Tue, 05 Jun 2018 08:27:49 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/xqvlbjgg9mfgy956hvq5k3wvzh2s9bqi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:e2nB2Ja6rQwC7n4l1UTieA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:610-6UM63-Q1t3Tw9Nfwkg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:610-6UM63-Q1t3Tw9Nfwkg:FXYSGJoJAhQGFTXw
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/etltask/71086bfac8002ef2e62f587ba41ecae30000002b"},"token":"<TOKEN>"}}'
  recorded_at: Tue, 05 Jun 2018 08:27:57 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/etltask/71086bfac8002ef2e62f587ba41ecae30000002b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:lAwJ-_wo_WVRGKdyiPMJ3Q
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:lAwJ-_wo_WVRGKdyiPMJ3Q:7e6Qy6nqwNdd9yMP
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Tue, 05 Jun 2018 08:27:57 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/xqvlbjgg9mfgy956hvq5k3wvzh2s9bqi/maintenance/import
    body:
      encoding: UTF-8
      string: '{"importProject":{"token":"<TOKEN>"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:pGR6PtqSdLMn1hWAR1rwWQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:pGR6PtqSdLMn1hWAR1rwWQ:hPvsLkxhV8yVy6RL
      X-Gdc-Request-Time:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/xqvlbjgg9mfgy956hvq5k3wvzh2s9bqi/etltask/799fd0e855d180b79fa09d12b60ffae60000002b"}'
  recorded_at: Tue, 05 Jun 2018 08:28:09 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/xqvlbjgg9mfgy956hvq5k3wvzh2s9bqi/etltask/799fd0e855d180b79fa09d12b60ffae60000002b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:sBMfIbIOZimf2EdjMBptlA
      Process:
      - 'true'
  response:
[...]
