---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:cH0EtC-jBG61cPcU-ex_VA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:cH0EtC-jBG61cPcU-ex_VA:DgAuZQMeWV1P7Syh
      X-Gdc-Request-Time:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"SUM","content":[{"value":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/220","position":{"column":25,"line":1},"type":"fact
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        SUM([/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/220])"},"links":{"explain2":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/266/explain2"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/266","tags":"","created":"2018-06-05
        09:43:57","identifier":"aabffac4ibxG","deprecated":"0","summary":"","isProduction":1,"title":"My
        metric","category":"metric","updated":"2018-06-05 09:43:57","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Tue, 05 Jun 2018 07:44:03 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj
    body:
      encoding: UTF-8
      string: '{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":["metricGroup"],"metrics":[{"alias":"My
        metric","uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/266"}],"rows":[]},"format":"grid","filters":[]},"meta":{"tags":"","summary":"","title":"Untitled
        report definition"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:USXI4VUGlRFZfOkBE3Qtxg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:USXI4VUGlRFZfOkBE3Qtxg:au1AMMSK38ntSTHp
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/267"}'
  recorded_at: Tue, 05 Jun 2018 07:44:04 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/267
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:b39IqILUbKH6mH68WFYldA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj
    body:
      encoding: UTF-8
      string: '{"report":{"content":{"domains":[],"definitions":["/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/267"]},"meta":{"tags":"","deprecated":"0","summary":"","title":"xy"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:L3_3s913_AGeZJ1woXw5wg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:L3_3s913_AGeZJ1woXw5wg:Ddr8eo15QBiGuz3U
      X-Gdc-Request-Time:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/268"}'
  recorded_at: Tue, 05 Jun 2018 07:44:05 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/uihlr91spuzouu4qph5twhixwg9gqice/objects/setPermissions
    body:
      encoding: UTF-8
      string: '{"permissions":{"lock":true,"items":["/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/268"]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:Plv0gt3PpUP_IW7BrRZc5A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:Plv0gt3PpUP_IW7BrRZc5A:lB0qUwlcWfybsifC
      X-Gdc-Request-Time:
      - '70'
    body:
      encoding: ASCII-8BIT
      string: '{"permissions":{"locked":["/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/266","/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/268"]}}'
  recorded_at: Tue, 05 Jun 2018 07:44:06 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/using2/268
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:JPtdC14_gpemy4LBHzVbOQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:JPtdC14_gpemy4LBHzVbOQ:xjrt33fSm9nA1Kdp
      X-Gdc-Request-Time:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"entries":[{"link":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/220","locked":0,"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","created":"2018-06-05
        09:40:52","identifier":"fact.commits.lines_changed","deprecated":"0","summary":"Fact
        description","unlisted":0,"title":"Lines Changed","category":"fact","updated":"2018-06-05
        09:40:52","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"},{"link":"/gdc/md/uihlr91spuzouu4qph5twhixwg9gqice/obj/29","locked":0,"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","created":"2018-06-05
        09:40:50","identifier":"col.f_commits.f_lines_changed","deprecated":"0","summary":"","unlisted":0,"title":"col.f_commits.f_lines_changed","category":"column","updated":"2018-06-05
 [...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:UZ7-Jo77jzKzce0pAm3HWA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
   [...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj
    body:
      encoding: UTF-8
      string: '{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":["metricGroup"],"metrics":[{"alias":"My
        metric","uri":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/266"}],"rows":[]},"format":"grid","filters":[]},"meta":{"tags":"","summary":"","title":"Untitled
        report definition"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:MpLiu1rQUmnrqwU-SIj6hQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:MpLiu1rQUmnrqwU-SIj6hQ:CC2QlP0Pxv6la9Qp
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/267"}'
  recorded_at: Tue, 05 Jun 2018 08:24:42 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/267
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:bmGmTDHTm73kjxPvuH09Ig
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/l3398hstuqp0gegtnzmgpuyizfp6ddlh/objects/setPermissions
    body:
      encoding: UTF-8
      string: '{"permissions":{"lock":true,"items":["/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/268"]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:Tkq1Xsk5DlQ9NM2Kt6jd6A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:Tkq1Xsk5DlQ9NM2Kt6jd6A:FxBk1Y5tMvFEgt4h
      X-Gdc-Request-Time:
      - '363'
    body:
      encoding: ASCII-8BIT
      string: '{"permissions":{"locked":["/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/266","/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/obj/268"]}}'
  recorded_at: Tue, 05 Jun 2018 08:24:45 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/l3398hstuqp0gegtnzmgpuyizfp6ddlh/using2/268
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:179I-CBwi3zyufSTz8o9Dw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:snllZHBHJ5KQAWlI-eZ5zg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
   [...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/obj
    body:
      encoding: UTF-8
      string: '{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":["metricGroup"],"metrics":[{"alias":"My
        metric","uri":"/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/obj/269"}],"rows":[]},"format":"grid","filters":[]},"meta":{"tags":"","summary":"","title":"Untitled
        report definition"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:BGbzzfZype97bWfBj50pAw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:BGbzzfZype97bWfBj50pAw:pBApF5adx2YWWZ18
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/obj/270"}'
  recorded_at: Fri, 05 Oct 2018 13:56:31 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/obj/270
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:JYQKW5X_U90JoG_PlWKDUQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/hws7s5o3eu325ftrdppl1i4138ckzoah/objects/setPermissions
    body:
      encoding: UTF-8
      string: '{"permissions":{"lock":true,"items":["/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/obj/271"]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:ZDoh7fMaA7hFXttz7cl0Dw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:ZDoh7fMaA7hFXttz7cl0Dw:oGPFFNHy7S7t2LjE
      X-Gdc-Request-Time:
      - '434'
    body:
      encoding: ASCII-8BIT
      string: '{"permissions":{"locked":["/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/obj/269","/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/obj/271"]}}'
  recorded_at: Fri, 05 Oct 2018 13:56:34 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/using2/271
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:5NGegjQNYc58no2ZHRXD9g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/[...]
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hws7s5o3eu325ftrdppl1i4138ckzoah/obj/270
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:dxftQCFHh2cW-D3SL3SZ-A
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '54'
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:dxftQCFHh2cW-D3SL3SZ-A:RGG1YWzX5DTsdxRa
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 05 Oct 2018 13:56:42 GMT
recorded_with: VCR 4.0.0
