---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:-ClcNbNano_JJL8J0h1CGA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:-ClcNbNano_JJL8J0h1CGA:Ceo3nLLScZBmR23K
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma/ldm?thumbnail=1","self":"/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma","clearCaches":"/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma/clearCaches","invitations":"/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma/invitations","users":"/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma/uploads/","ldm":"/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma/ldm","metadata":"/gdc/md/olln4gjejm6m9fyjf9nfm637t3vbh6ma","publicartifacts":"/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma/publicartifacts","roles":"/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma/roles","userRoles":"/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma/dataload","connectors":"/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma/connectors","execute":"/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma/execute","config":"/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma/config","projectFeatureFlags":"/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma/projectFeatureFlags","schedules":"/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma/schedules","templates":"/gdc/md/olln4gjejm6m9fyjf9nfm637t3vbh6ma/templates","eventstores":"/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        09:50:15","summary":"No summary","updated":"2018-06-05 09:50:16","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Attribute
        sort order","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:50:16 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:rGi5hNyBvEhKV1uAv4jBTw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:rGi5hNyBvEhKV1uAv4jBTw:FzR6gPO6aA8PNm5z
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma/ldm?thumbnail=1","self":"/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma","clearCaches":"/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma/clearCaches","invitations":"/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma/invitations","users":"/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/olln4gjejm6m9fyjf[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.id","title":"TEST","anchor":{"attribute":{"identifier":"attr.id.id","title":"ID","folder":"TEST","labels":[{"label":{"identifier":"label.id.id","title":"ID","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.id.id"}},"attributes":[{"attribute":{"identifier":"attr.id.name","title":"NAME","folder":"TEST","labels":[{"label":{"identifier":"label.id.name.name_label_3","title":"NAME_LABEL_3","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.id.name.name_label_1","title":"NAME_LABEL_1","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.id.name.name_label_2","title":"NAME_LABEL_2","type":"GDC.link","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.id.name","title":"NAME","type":"GDC.text","dataType":"VARCHAR(128)"}}],"sortOrder":{"attributeSortOrder":{"label":"label.id.name.name_label_2","direction":"DESC"}},"defaultLabel":"label.id.name.name_label_3"}}],"facts":[],"references":[]}}],"dateDimensions":[]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:_bJC_LdlEJY4WQ5o4GtK6g
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma/model/diff/576ba496d15e3294162ad94dcc0b2fc601cd73914d857d200000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:_bJC_LdlEJY4WQ5o4GtK6g:a5W70jv7ZrQ9E1xM
      X-Gdc-Request-Time:
      - '112'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma/model/diff/576ba496d15e3294162ad94dcc0b2fc601cd73914d857d200000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 07:50:24 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma/model/diff/576ba496d15e3294162ad94dcc0b2fc601cd73914d857d200000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:Dr7sZbdHTRj5NBJ_FidSMg
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma/model/diff/576ba496d15e3294162ad94dcc0b2fc601cd73914d857d200000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:Dr7sZbdHTRj5NBJ_FidSMg:o1KlonU1f4hiXxv3
      X-Gdc-Request-Time:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma/model/diff/576ba496d15e3294162ad94dcc0b2fc601cd73914d857d200000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 07:50:24 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma/model/diff/576ba496d15e3294162ad94dcc0b2fc601cd73914d857d200000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:Y3qo3b6zKS2ie5vBXFeAsA
      Process:
      - 'false'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - GoodData realm="GoodData API" cookie=GDCAuthTT
      Content-Type:
      - application/json; charset=utf-8
      X-Gdc-Request-Time:
      - '1'
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:Y3qo3b6zKS2ie5vBXFeAsA:b7KIl0f7BcmwWBV3
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "error": {
                "code": 401,
                "message": "Authorization Required",
                "description": "This server could not verify that you are authorized to access the document requested. Either you supplied the wrong credentials (e.g., bad password), or your browser doesn't understand how to supply the credentials required",
                "links": {
                    "documentation": "https://help.gooddata.com/display/developer/API+Reference#/reference/authentication/log-in"
                }
            }
        }
  recorded_at: Tue, 05 Jun 2018 07:50:35 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma/model/diff/576ba496d15e3294162ad94dcc0b2fc601cd73914d857d200000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:Y3qo3b6zKS2ie5vBXFeAsA
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:Y3qo3b6zKS2ie5vBXFeAsA:vCATYf4qusQPtTfF
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"dataset.create","dataset":"dataset.id","destructive":false,"description":"Create
        dataset ''%s''","parameters":["TEST"]}},{"updateOperation":{"type":"anchor.create","dataset":"dataset.id","destructive":false,"description":"Create
        anchor ''%s''","parameters":["ID"]}},{"updateOperation":{"type":"attribute.create","dataset":"dataset.id","destructive":false,"description":"Create
        attribute ''%s''","parameters":["NAME"]}}],"updateScripts":[{"updateScript":{"maqlDdl":"CREATE
        DATASET {dataset.id} VISUAL(TITLE \"TEST\");\nCREATE FOLDER {dim.test} VISUAL(TITLE
        \"TEST\") TYPE ATTRIBUTE;\nCREATE ATTRIBUTE {attr.id.id} VISUAL(TITLE \"ID\",
        FOLDER {dim.test}) AS KEYS {f_id.id} FULLSET;\nALTER DATASET {dataset.id}
        ADD {attr.id.id};\nALTER ATTRIBUTE {attr.id.id} ADD LABELS {label.id.id} VISUAL(TITLE
        \"ID\") AS {f_id.nm_id};\nALTER ATTRIBUTE {attr.id.id} DEFAULT LABEL {label.id.id};\nCREATE
        ATTRIBUTE {attr.id.name} VISUAL(TITLE \"NAME\", FOLDER {dim.test}) AS KEYS
        {d_id_name.id} FULLSET, {f_id.name_id};\nALTER DATASET {dataset.id} ADD {attr.id.name};\nALTER
        ATTRIBUTE {attr.id.name} ADD LABELS {label.id.name.name_label_3} VISUAL(TITLE
        \"NAME_LABEL_3\") AS {d_id_name.nm_name_label_3};\nALTER ATTRIBUTE {attr.id.name}
        ADD LABELS {label.id.name.name_label_1} VISUAL(TITLE \"NAME_LABEL_1\") AS
        {d_id_name.nm_name_label_1};\nALTER ATTRIBUTE {attr.id.name} ADD LABELS {label.id.name.name_label_2}
        VISUAL(TITLE \"NAME_LABEL_2\") AS {d_id_name.nm_name_label_2} HYPERLINK;\nALTER
        ATTRIBUTE {attr.id.name} ADD LABELS {label.id.name} VISUAL(TITLE \"NAME\")
        AS {d_id_name.nm_name};\nALTER ATTRIBUTE {attr.id.name} DEFAULT LABEL {label.id.name.name_label_3};\nALTER
        ATTRIBUTE {attr.id.name} ORDER BY {label.id.name.name_label_2} DESC;\nSYNCHRONIZE
        {dataset.id};","maqlDdlChunks":["CREATE DATASET {dataset.id} VISUAL(TITLE
        \"TEST\");\nCREATE FOLDER {dim.test} VISUAL(TITLE \"TEST\") TYPE ATTRIBUTE;\nCREATE
        ATTRIBUTE {attr.id.id} VISUAL(TITLE \"ID\", FOLDER {dim.test}) AS KEYS {f_id.id}
        FULLSET;\nALTER DATASET {dataset.id} ADD {attr.id.id};\nALTER ATTRIBUTE {attr.id.id}
        ADD LABELS {label.id.id} VISUAL(TITLE \"ID\") AS {f_id.nm_id};\nALTER ATTRIBUTE
        {attr.id.id} DEFAULT LABEL {label.id.id};\nCREATE ATTRIBUTE {attr.id.name}
        VISUAL(TITLE \"NAME\", FOLDER {dim.test}) AS KEYS {d_id_name.id} FULLSET,
        {f_id.name_id};\nALTER DATASET {dataset.id} ADD {attr.id.name};\nALTER ATTRIBUTE
        {attr.id.name} ADD LABELS {label.id.name.name_label_3} VISUAL(TITLE \"NAME_LABEL_3\")
        AS {d_id_name.nm_name_label_3};\nALTER ATTRIBUTE {attr.id.name} ADD LABELS
        {label.id.name.name_label_1} VISUAL(TITLE \"NAME_LABEL_1\") AS {d_id_name.nm_name_label_1};\nALTER
        ATTRIBUTE {attr.id.name} ADD LABELS {label.id.name.name_label_2} VISUAL(TITLE
        \"NAME_LABEL_2\") AS {d_id_name.nm_name_label_2} HYPERLINK;\nALTER ATTRIBUTE
        {attr.id.name} ADD LABELS {label.id.name} VISUAL(TITLE \"NAME\") AS {d_id_name.nm_name};\nALTER
        ATTRIBUTE {attr.id.name} DEFAULT LABEL {label.id.name.name_label_3};\nALTER
        ATTRIBUTE {attr.id.name} ORDER BY {label.id.name.name_label_2} DESC;\nSYNCHRONIZE
        {dataset.id};"],"preserveData":true,"cascadeDrops":false}},{"updateScript":{"maqlDdl":"CREATE
        DATASET {dataset.id} VISUAL(TITLE \"TEST\");\nCREATE FOLDER {dim.test} VISUAL(TITLE
        \"TEST\") TYPE ATTRIBUTE;\nCREATE ATTRIBUTE {attr.id.id} VISUAL(TITLE \"ID\",
        FOLDER {dim.test}) AS KEYS {f_id.id} FULLSET;\nALTER DATASET {dataset.id}
        ADD {attr.id.id};\nALTER ATTRIBUTE {attr.id.id} ADD LABELS {label.id.id} VISUAL(TITLE
        \"ID\") AS {f_id.nm_id};\nALTER ATTRIBUTE {attr.id.id} DEFAULT LABEL {label.id.id};\nCREATE
   [...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/olln4gjejm6m9fyjf9nfm637t3vbh6ma
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:k-ye1n-6LU6PjNSsrcYnug
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:k-ye1n-6LU6PjNSsrcYnug:ooC5MwhVg7XpVcD5
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''olln4gjejm6m9fyjf9nfm637t3vbh6ma''","category":"project","instance":"olln4gjejm6m9fyjf9nfm637t3vbh6ma","links":[{"link":"/gdc/md/olln4gjejm6m9fyjf9nfm637t3vbh6ma/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/olln4gjejm6m9fyjf9nfm637t3vbh6ma/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/olln4gjejm6m9fyjf9nfm637t3vbh6ma/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","ca[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/olln4gjejm6m9fyjf9nfm637t3vbh6ma/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:ZTWCSz1itWml14z2uZVtfQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/olln4gjejm6m9fyjf9nfm637t3vbh6ma/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.id} VISUAL(TITLE \"TEST\");\nCREATE
        FOLDER {dim.test} VISUAL(TITLE \"TEST\") TYPE ATTRIBUTE;\nCREATE ATTRIBUTE
        {attr.id.id} VISUAL(TITLE \"ID\", FOLDER {dim.test}) AS KEYS {f_id.id} FULLSET;\nALTER
        DATASET {dataset.id} ADD {attr.id.id};\nALTER ATTRIBUTE {attr.id.id} ADD LABELS
        {label.id.id} VISUAL(TITLE \"ID\") AS {f_id.nm_id};\nALTER ATTRIBUTE {attr.id.id}
        DEFAULT LABEL {label.id.id};\nCREATE ATTRIBUTE {attr.id.name} VISUAL(TITLE
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/olln4gjejm6m9fyjf9nfm637t3vbh6ma/tasks/4afb1becb57aa749a596c7aa95bda3ab0000002a/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:7SOZEveHIrVVZ6az0wi0Vw
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:7SOZEveHIrVVZ6az0wi0Vw:Qfx6D4j9bguCnWx6
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/olln4gjejm6m9fyjf9nfm637t3vbh6ma/tasks/4afb1becb57aa749a596c7aa95bda3ab0000002a/status","status":"RUNNING","links":{"poll":"/gdc/md/olln4gjejm6m9fyjf9nfm637t3vbh6ma/tasks/4afb1becb57aa749a596c7aa95bda3ab0000002a/status"}}}'
  recorded_at: Tue, 05 Jun 2018 07:50:39 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma/model/view?includeCA=true&includeDeprecated=true&includeGrain=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:b_21ssQ5ZABpQYeRo3uVJw
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma/model/view/d59dd296edf5f8e5cb60481df1c0cc9201cd73914f23944c0000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:b_21ssQ5ZABpQYeRo3uVJw:lMTDytqSIuk4Cbi9
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma/model/view/d59dd296edf5f8e5cb60481df1c0cc9201cd73914f23944c0000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 07:50:51 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma/model/view/d59dd296edf5f8e5cb60481df1c0cc9201cd73914f23944c0000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:iu9waZ1OsgzyX7T5IsnRmw
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma/model/view/d59dd296edf5f8e5cb60481df1c0cc9201cd73914f23944c0000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:iu9waZ1OsgzyX7T5IsnRmw:u0f09zZP0ol9uhFa
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma/model/view/d59dd296edf5f8e5cb60481df1c0cc9201cd73914f23944c0000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 07:50:52 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/olln4gjejm6m9fyjf9nfm637t3vbh6ma/model/view/d59dd296edf5f8e5cb60481df1c0cc9201cd73914f23944c0000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:oKNF11f7oXmBGD2su3JgtQ
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 824QlRRwvXysdGcdNrUp7w:oKNF11f7oXmBGD2su3JgtQ:sZHWlRPOxbuunvxf
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelView":{"model":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.id","title":"TEST","anchor":{"attribute":{"identifier":"attr.id.id","title":"ID","folder":"TEST","labels":[{"label":{"identifier":"label.id.id","title":"ID","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.id.id"}},"attributes":[{"attribute":{"identifier":"attr.id.name","title":"NAME","folder":"TEST","labels":[{"label":{"identifier":"label.id.name.name_label_3","title":"NAME_LABEL_3","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.id.name.name_label_1","title":"NAME_LABEL_1","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.id.name.name_label_2","title":"NAME_LABEL_2","type":"GDC.link","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.id.name","title":"NAME","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.id.name.name_label_3","sortOrder":{"attributeSortOrder":{"label":"label.id.name.name_label_2","direction":"DESC"}}}}],"production":true}}]}}}}'
  recorded_at: Tue, 05 Jun 2018 07:51:02 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/exs27f4mcpp9vdmvw70czha1s18jt1d2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:oikCCHl5wsbMWPnn0hWd-Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/exs27f4mcpp9vdmvw70czha1s18jt1d2/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.id","title":"TEST","anchor":{"attribute":{"identifier":"attr.id.id","title":"ID","folder":"TEST","labels":[{"label":{"identifier":"label.id.id","title":"ID","type":"GDC.text","[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/exs27f4mcpp9vdmvw70czha1s18jt1d2/model/diff/af2f5072f8e6e6419f9ad7c4eda4c34301cd7391df8855170000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:rwrWyHYofE6MlM6AlRu78A
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/exs27f4mcpp9vdmvw70czha1s18jt1d2/model/diff/af2f5072f8e6e6419f9ad7c4eda4c34301cd7391df8855170000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:rwrWyHYofE6MlM6AlRu78A:gK0zXKOlvwgw38pZ
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/exs27f4mcpp9vdmvw70czha1s18jt1d2/model/diff/af2f5072f8e6e6419f9ad7c4eda4c34301cd7391df8855170000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 08:31:14 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/exs27f4mcpp9vdmvw70czha1s18jt1d2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:NWnSOGe821fSmT247K_9eg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charse[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/exs27f4mcpp9vdmvw70czha1s18jt1d2/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:LvTPxX7quZVusp_MnwZWyw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/exs27f4mcpp9vdmvw70czha1s18jt1d2/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.id} VISUAL(TITLE \"TEST\");\nCREATE
        FOLDER {dim.test} VISUAL(TITLE \"TEST\") TYPE ATTRIBUTE;\nCREATE ATTRIBUTE
        {attr.id.id} VISUAL(TITLE \"ID\", FOLDER {dim.test}) AS KEYS {f_id.id} FULLSET;\nALTER
        DATASET {dataset.id} ADD {attr.id.id};\nALTER ATTRIBUTE {attr.[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/exs27f4mcpp9vdmvw70czha1s18jt1d2/tasks/b45ae32ecc95f6c165fbd84af990755e0000002a/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:pcXdN37GnBLaV9H2BfsNVw
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:pcXdN37GnBLaV9H2BfsNVw:zyQFaiKQhIhqRBfv
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/exs27f4mcpp9vdmvw70czha1s18jt1d2/tasks/b45ae32ecc95f6c165fbd84af990755e0000002a/status","status":"RUNNING","links":{"poll":"/gdc/md/exs27f4mcpp9vdmvw70czha1s18jt1d2/tasks/b45ae32ecc95f6c165fbd84af990755e0000002a/status"}}}'
  recorded_at: Tue, 05 Jun 2018 08:31:29 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:-pOvu1EBsWtniCeKSYjzfw
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:-pOvu1EBsWtniCeKSYjzfw:1EriZeSodOwxzAIw
      X-Gdc-Request-Time:
      - '16'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Tue, 05 Jun 2018 08:31:40 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/exs27f4mcpp9vdmvw70czha1s18jt1d2/model/view?includeCA=true&includeDeprecated=true&includeGrain=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:CS5HrE_6XcIMOkJ7V5AWqw
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/exs27f4mcpp9vdmvw70czha1s18jt1d2/model/view/d7333e74a0a5a49affb75a18cf2c788201cd7392e130db550000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:CS5HrE_6XcIMOkJ7V5AWqw:9TSBkGaEh6CUUS07
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/exs27f4mcpp9vdmvw70czha1s18jt1d2/model/view/d7333e74a0a5a49affb75a18cf2c788201cd7392e130db550000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 08:31:41 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/exs27f4mcpp9vdmvw70czha1s18jt1d2/model/view/d7333e74a0a5a49affb75a18cf2c788201cd7392e130db550000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:1zIwn2SrddqCk1HF9rv8JA
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/exs27f4mcpp9vdmvw70czha1s18jt1d2/model/view/d7333e74a0a5a49affb75a18cf2c788201cd7392e130db550000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6iqGHdhLmeTwYuBArB_-ag:1zIwn2SrddqCk1HF9rv8JA:OJEjHFsxJQJVroLE
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/exs27f4mcpp9vdmvw70czha1s18jt1d2/model/view/d7333e74a0a5a49affb75a18cf2c788201cd7392e130db550000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 08:31:42 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Attribute sort
        order"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4UNvJMuSxNk9iAyK97sHpw:rcodKS9VazgrcZUKmn5Gig
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
[...]
