---
http_interactions:
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/obj/275
    body:
      encoding: UTF-8
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/obj/274","expression":"[/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/obj/83]","default":1},"links":{"elements":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/obj/275/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/obj/275","tags":"","created":"2018-06-04
        13:51:26","identifier":"label.csv_policies.customer","deprecated":1,"summary":"","isProduction":1,"title":"Customer","category":"attributeDisplayForm","updated":"2018-06-04
        13:51:26","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:N1NtmB0Mqa_wOzNOdToY3Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:N1NtmB0Mqa_wOzNOdToY3Q:jIrxVkWnpqADg5PW
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/obj/275"}'
  recorded_at: Mon, 04 Jun 2018 11:52:08 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m9iysa7r3iuh6oomxcu1208i4wic0cok/obj/279
    body:
      encoding: UTF-8
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/m9iysa7r3iuh6oomxcu1208i4wic0cok/obj/278","expression":"[/gdc/md/m9iysa7r3iuh6oomxcu1208i4wic0cok/obj/88]","default":1},"links":{"elements":"/gdc/md/m9iysa7r3iuh6oomxcu1208i4wic0cok/obj/279/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/m9iysa7r3iuh6oomxcu1208i4wic0cok/obj/279","tags":"","created":"2018-10-05
        14:49:42","identifier":"label.csv_policies.customer","deprecated":1,"summary":"","isProduction":1,"title":"Customer","category":"attributeDisplayForm","updated":"2018-10-05
        14:49:42","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 62hVUQbxei85z1B-_tHQNg:v4wWT1j7W2qOG2gJvI4OnQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 62hVUQbxei85z1B-_tHQNg:v4wWT1j7W2qOG2gJvI4OnQ:jRsz2oPfkxhbkz4T
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/m9iysa7r3iuh6oomxcu1208i4wic0cok/obj/279"}'
  recorded_at: Fri, 05 Oct 2018 12:50:02 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gim4dtm2bgxtwc4hxax0e9efwybyoa5b/obj/279
    body:
      encoding: UTF-8
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/gim4dtm2bgxtwc4hxax0e9efwybyoa5b/obj/278","expression":"[/gdc/md/gim4dtm2bgxtwc4hxax0e9efwybyoa5b/obj/88]","default":1},"links":{"elements":"/gdc/md/gim4dtm2bgxtwc4hxax0e9efwybyoa5b/obj/279/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/gim4dtm2bgxtwc4hxax0e9efwybyoa5b/obj/279","tags":"","created":"2018-10-10
        12:48:36","identifier":"label.csv_policies.customer","deprecated":1,"summary":"","isProduction":1,"title":"Customer","category":"attributeDisplayForm","updated":"2018-10-10
        12:48:36","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - nm5w3rVwbPoIi2DvCBmR2g:sOczAyOZ5vnxeRENzJfXLQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - nm5w3rVwbPoIi2DvCBmR2g:sOczAyOZ5vnxeRENzJfXLQ:tThdBSxIk0dmpLCo
      X-Gdc-Request-Time:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/gim4dtm2bgxtwc4hxax0e9efwybyoa5b/obj/279"}'
  recorded_at: Wed, 10 Oct 2018 10:48:59 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gim4dtm2bgxtwc4hxax0e9efwybyoa5b/obj/279
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - nm5w3rVwbPoIi2DvCBmR2g:zVgrrxn5cTat2GMLr2zNpA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - nm5w3rVwbPoIi2DvCBmR2g:zVgrrxn5cTat2GMLr2zNpA:Zdy9h9XicXeSA8dY
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/gim4dtm2bgxtwc4hxax0e9efwybyoa5b/obj/278","expression":"[/gdc/md/gim4dtm2bgxtwc4hxax0e9efwybyoa5b/obj/88]","default":1},"links":{"elements":"/gdc/md/gim4dtm2bgxtwc4hxax0e9efwybyoa5b/obj/279/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/gim4dtm2bgxtwc4hxax0e9efwybyoa5b/obj/279","tags":"","created":"2018-10-10
        12:48:36","identifier":"label.csv_policies.customer","deprecated":"1","summary":"","isProduction":1,"title":"Customer","category":"attributeDisplayForm","updated":"2018-10-10
        12:48:59","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 10 Oct 2018 10:48:59 GMT
recorded_with: VCR 4.0.0
