---
http_interactions:
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/obj/275
    body:
      encoding: UTF-8
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/obj/274","expression":"[/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/obj/83]","default":1},"links":{"elements":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/obj/275/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/obj/275","tags":"","created":"2018-06-04
        13:51:26","identifier":"label.csv_policies.customer","deprecated":1,"summary":"","isProduction":1,"title":"Customer","category":"attributeDisplayForm","updated":"2018-06-04
        13:51:26","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:N1NtmB0Mqa_wOzNOdToY3Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:N1NtmB0Mqa_wOzNOdToY3Q:jIrxVkWnpqADg5PW
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/obj/275"}'
  recorded_at: Mon, 04 Jun 2018 11:52:08 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/obj/275
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:0HKdKpHFHDA1hnocBrC3Iw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - m6xGoDV-DaeWe49eU1G1Gw:0HKdKpHFHDA1hnocBrC3Iw:wyX0r2A5spBv0yM3
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/obj/274","expression":"[/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/obj/83]","default":1},"links":{"elements":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/obj/275/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/lduuu6u0fopc2yfukfbtv57tc0257m4e/obj/275","tags":"","created":"2018-06-04
        13:51:26","identifier":"label.csv_policies.customer","deprecated":"1","summary":"","isProduction":1,"title":"Customer","category":"attributeDisplayForm","updated":"2018-06-04
        13:52:08","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Mon, 04 Jun 2018 11:52:09 GMT
recorded_with: VCR 4.0.0
