---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - At65MehDPlEHReUngHFFdA:NIxxUe1t77LN0ph6f9GzHw
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - At65MehDPlEHReUngHFFdA:NIxxUe1t77LN0ph6f9GzHw:f0S2IcPFskc9IpBC
      X-Gdc-Request-Time:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Thu, 03 May 2018 09:27:20 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - At65MehDPlEHReUngHFFdA:i6FlmoVpvTaNaTgYzfHMoA
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - At65MehDPlEHReUngHFFdA:i6FlmoVpvTaNaTgYzfHMoA:0melohNIWj6aIbIu
      X-Gdc-Request-Time:
      - '13'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 03 May 2018 09:27:21 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - At65MehDPlEHReUngHFFdA:9UDqtJ54kGGP9XUZF43xIQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - At65MehDPlEHReUngHFFdA:9UDqtJ54kGGP9XUZF43xIQ:EbNXtIkEAO73V5iM
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-05-02
        16:45:01","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","language":"en-US","timezone":null,"ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Thu, 03 May 2018 09:27:22 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - At65MehDPlEHReUngHFFdA:JciT2xiKQShuuDq1v-LUwg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - At65MehDPlEHReUngHFFdA:JciT2xiKQShuuDq1v-LUwg:gQtFglEL6cJai5tx
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Thu, 03 May 2018 09:27:23 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"RubyGem Dev Week
        test"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - At65MehDPlEHReUngHFFdA:nwssQz-9rXFEKa_pANsuyw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - At65MehDPlEHReUngHFFdA:nwssQz-9rXFEKa_pANsuyw:z7hM7wze44kGxjN1
      X-Gdc-Request-Time:
      - '532'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/gzsjovlqr8xu4g0fp5t2zfa9rik00anu"}'
  recorded_at: Thu, 03 May 2018 09:27:25 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gzsjovlqr8xu4g0fp5t2zfa9rik00anu
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - At65MehDPlEHReUngHFFdA:o0A4lH9JHbt-VebZ82XN6w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - At65MehDPlEHReUngHFFdA:o0A4lH9JHbt-VebZ82XN6w:dtZ1ZBiqPGZ9GdzE
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/ldm?thumbnail=1","self":"/gdc/projects/gzsjovlqr8xu4g0fp5t2zfa9rik00anu","clearCaches":"/gdc/projects/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/clearCaches","invitations":"/gdc/projects/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/invitations","users":"/gdc/projects/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/uploads/","ldm":"/gdc/projects/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/ldm","metadata":"/gdc/md/gzsjovlqr8xu4g0fp5t2zfa9rik00anu","publicartifacts":"/gdc/projects/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/publicartifacts","roles":"/gdc/projects/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/roles","userRoles":"/gdc/projects/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/dataload","connectors":"/gdc/projects/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/connectors","execute":"/gdc/projects/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/execute","config":"/gdc/projects/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/config","projectFeatureFlags":"/gdc/projects/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/projectFeatureFlags","schedules":"/gdc/projects/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/schedules","templates":"/gdc/md/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/templates","eventstores":"/gdc/projects/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/dataload/eventstore/stores"},"meta":{"created":"2018-05-03
        11:27:24","summary":"No summary","updated":"2018-05-03 11:27:24","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"RubyGem
        Dev Week test","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 03 May 2018 09:27:25 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"This is
        anchor description","defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"some_attr_id","title":"Repository
        Name","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_attr_label_id","title":"Repository
        Name","type":"GDC.text","dataType":"VARCHAR(10000)"}}],"defaultLabel":"some_attr_label_id"}}],"facts":[],"references":[]}},{"dataset":{"identifier":"dataset.devs","title":"Developers","anchor":{"attribute":{"identifier":"attr.devs.dev_id","title":"Dev","folder":"Anchor
        folder","labels":[{"label":{"identifier":"label.devs.dev_id.id","title":"Id","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.devs.dev_id.email","title":"Email","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.devs.dev_id.email"}},"attributes":[],"facts":[],"references":[]}},{"dataset":{"identifier":"dataset.commits","title":"Commits","anchor":{"attribute":{"identifier":"attr.commits.factsof","title":"Attr.Commits.Factsof","folder":"Commits"}},"attributes":[],"facts":[{"fact":{"identifier":"fact.commits.lines_changed","title":"Lines
        Changed","folder":"Commits","dataType":"DECIMAL(12,2)","type":"fact","description":"Fact
        description"}}],"references":["committed_on","dataset.devs","dataset.repos"]}}],"dateDimensions":[{"dateDimension":{"name":"committed_on","title":"Committed
        On"}}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - At65MehDPlEHReUngHFFdA:PulkaqiJdG_m1hY7VuelFg
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/model/diff/ecf0f7d3bbe7d0d42bde16dc7d1c2daa01cd753bd02e024c00000070"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - At65MehDPlEHReUngHFFdA:PulkaqiJdG_m1hY7VuelFg:ChXTa2yjhffYkwq4
      X-Gdc-Request-Time:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/model/diff/ecf0f7d3bbe7d0d42bde16dc7d1c2daa01cd753bd02e024c00000070"}}}'
  recorded_at: Thu, 03 May 2018 09:27:33 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/model/diff/ecf0f7d3bbe7d0d42bde16dc7d1c2daa01cd753bd02e024c00000070
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - At65MehDPlEHReUngHFFdA:WeVa_zy49l1ME17oFNoC2g
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/model/diff/ecf0f7d3bbe7d0d42bde16dc7d1c2daa01cd753bd02e024c00000070"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - At65MehDPlEHReUngHFFdA:WeVa_zy49l1ME17oFNoC2g:N6mKEw88pao30ImP
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/model/diff/ecf0f7d3bbe7d0d42bde16dc7d1c2daa01cd753bd02e024c00000070"}}}'
  recorded_at: Thu, 03 May 2018 09:27:33 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/model/diff/ecf0f7d3bbe7d0d42bde16dc7d1c2daa01cd753bd02e024c00000070
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - At65MehDPlEHReUngHFFdA:analN1V3Ns9UwT8iP8W7Xg
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - At65MehDPlEHReUngHFFdA:analN1V3Ns9UwT8iP8W7Xg:VFSPiDonoLdWXnBw
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"dataset.create","dataset":"dataset.repos","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Repositories"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.devs","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Developers"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.commits","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Commits"]}},{"updateOperation":{"type":"date-dimension.create","destructive":false,"description":"Create
        date dimension ''%s''","parameters":["Committed On[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gzsjovlqr8xu4g0fp5t2zfa9rik00anu
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - At65MehDPlEHReUngHFFdA:XBwZrV4oUfjPdkfOmo1d8A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - At65MehDPlEHReUngHFFdA:XBwZrV4oUfjPdkfOmo1d8A:hdZTi2bT7Hc2lydi
      X-Gdc-Request-Time:
      - '14'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''gzsjovlqr8xu4g0fp5t2zfa9rik00anu''","category":"project","instance":"gzsjovlqr8xu4g0fp5t2zfa9rik00anu","links":[{"link":"/gdc/md/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","ca[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - At65MehDPlEHReUngHFFdA:T20io_73Ok0yApNw6X0YzA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE FOLDER {dim.anchorfolder} VISUAL(TITLE \"Anchor
        folder\") TYPE ATTRIBUTE;\nCREATE FOLDER {dim.folderedrepos} VISUAL(TITLE
        \"Foldered Repos\") TYPE ATTRIBUTE;\nCREATE FOLDER {dim.commits} VISUAL(TITLE
        \"Commits\") TYPE ATTRIBUTE;\nCREATE FOLDER {ffld.commits} VISUAL(TITLE \"Commits\")
        TYPE FACT;\nCREATE DATASET {dataset.repos} VISUAL(TITLE \"Repositories\");\nCREATE
        DATASET {dataset.devs} VISUAL(TITLE \"Developers\");\nCREATE DATASET {dataset.commit[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/tasks/cfa7bf47d640b38d1418eb305a6e54ee00000030/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - At65MehDPlEHReUngHFFdA:UYQ47uDlSJgr5dOCGHrzxA
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - At65MehDPlEHReUngHFFdA:UYQ47uDlSJgr5dOCGHrzxA:yIvS1XD73g8fs8F9
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/tasks/cfa7bf47d640b38d1418eb305a6e54ee00000030/status","status":"RUNNING","links":{"poll":"/gdc/md/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/tasks/cfa7bf47d640b38d1418eb305a6e54ee00000030/status"}}}'
  recorded_at: Thu, 03 May 2018 09:27:47 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - piz7-HWk7IUEiYSdKP5Ppg:6La_IRMrJ5OhU2uU5om_ng
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - piz7-HWk7IUEiYSdKP5Ppg:6La_IRMrJ5OhU2uU5om_ng:frwpzw5hWU4Xp6Ci
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 03 May 2018 09:28:54 GMT
recorded_with: VCR 4.0.0
