---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:65B28VdV84g1OZ8k-rpukw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:65B28VdV84g1OZ8k-rpukw:0G3JBaz5DN0NBBbI
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/ldm?thumbnail=1","self":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc","clearCaches":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/clearCaches","invitations":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/invitations","users":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/uploads/","ldm":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/ldm","metadata":"/gdc/md/mecec7504bkfigoyn4w8rcvx9282s1kc","publicartifacts":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/publicartifacts","roles":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/roles","userRoles":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/dataload","connectors":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/connectors","execute":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/execute","config":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/config","projectFeatureFlags":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/projectFeatureFlags","schedules":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/schedules","templates":"/gdc/md/mecec7504bkfigoyn4w8rcvx9282s1kc/templates","eventstores":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        07:29:40","summary":"No summary","updated":"2018-06-05 07:29:40","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"RubyGem
        Dev Week test","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 05:29:41 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:VWYtrL6f6J7ZG3ZQ6ASHqA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:VWYtrL6f6J7ZG3ZQ6ASHqA:HOPrAiand14fbzia
      X-Gdc-Request-Time:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/ldm?thumbnail=1","self":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc","clearCaches":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/clearCaches","invitations":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/invitations","users":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/mecec7504bkfigoyn[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"This is
        anchor description","defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"some_attr_id","title":"Repository
        Name","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_attr_label_id","title":"Repository
        Name","type":"GDC.text","dataType":"VARCHAR(10000)"}}],"defaultLabel":"some_attr_label_id"}}],"facts":[],"references":[]}},{"dataset":{"identifier":"dataset.devs","title":"Developers","anchor":{"attribute":{"identifier":"attr.devs.dev_id","title":"Dev","folder":"Anchor
        folder","labels":[{"label":{"identifier":"label.devs.dev_id.id","title":"Id","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.devs.dev_id.email","title":"Email","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.devs.dev_id.email"}},"attributes":[],"facts":[],"references":[]}},{"dataset":{"identifier":"dataset.commits","title":"Commits","anchor":{"attribute":{"identifier":"attr.commits.factsof","title":"Attr.Commits.Factsof","folder":"Commits"}},"attributes":[],"facts":[{"fact":{"identifier":"fact.commits.lines_changed","title":"Lines
        Changed","folder":"Commits","dataType":"DECIMAL(12,2)","type":"fact","description":"Fact
        description"}}],"references":["committed_on","dataset.devs","dataset.repos"]}}],"dateDimensions":[{"dateDimension":{"name":"committed_on","title":"Committed
        On"}}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:mdN2mZdeRetWyFKkvcutmA
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/model/diff/e3a83da28a2e44b6f292874c0d058cf101cd73ac56b60bab0000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:mdN2mZdeRetWyFKkvcutmA:I9W0A81DXpAkwxW2
      X-Gdc-Request-Time:
      - '57'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/model/diff/e3a83da28a2e44b6f292874c0d058cf101cd73ac56b60bab0000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 05:29:48 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/model/diff/e3a83da28a2e44b6f292874c0d058cf101cd73ac56b60bab0000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:_3cY9uUTtUv16-Ud_M_qJg
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/model/diff/e3a83da28a2e44b6f292874c0d058cf101cd73ac56b60bab0000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:_3cY9uUTtUv16-Ud_M_qJg:1m9SIKULmw2sP9C4
      X-Gdc-Request-Time:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/model/diff/e3a83da28a2e44b6f292874c0d058cf101cd73ac56b60bab0000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 05:29:49 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/model/diff/e3a83da28a2e44b6f292874c0d058cf101cd73ac56b60bab0000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:1HrWdM2UPhEZZOQyan-v2g
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:1HrWdM2UPhEZZOQyan-v2g:s7zfKsyhf5OlbgZl
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"dataset.create","dataset":"dataset.repos","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Repositories"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.devs","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Developers"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.commits","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Commits"]}},{"updateOperation":{"type":"date-dimension.create","destructive":false,"description":"Create
        date dimension ''%s''","parameters":["Committed On[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/mecec7504bkfigoyn4w8rcvx9282s1kc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:G5AVwHxUx4hy7s2WgG7G7A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:G5AVwHxUx4hy7s2WgG7G7A:hVFxnMk5Ah4e58lj
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''mecec7504bkfigoyn4w8rcvx9282s1kc''","category":"project","instance":"mecec7504bkfigoyn4w8rcvx9282s1kc","links":[{"link":"/gdc/md/mecec7504bkfigoyn4w8rcvx9282s1kc/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/mecec7504bkfigoyn4w8rcvx9282s1kc/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/mecec7504bkfigoyn4w8rcvx9282s1kc/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","ca[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/mecec7504bkfigoyn4w8rcvx9282s1kc/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:qRXFlafngXT8wpKW-kmMqQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/mecec7504bkfigoyn4w8rcvx9282s1kc/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.repos} VISUAL(TITLE \"Repositories\");\nCREATE
        DATASET {dataset.devs} VISUAL(TITLE \"Developers\");\nCREATE DATASET {dataset.commits}
        VISUAL(TITLE \"Commits\");\nINCLUDE TEMPLATE \"URN:GOODDATA:DATE\" MODIFY
        (IDENTIFIER \"committed_on\", TITLE \"Committed On\");\nCREATE FOLDER {dim.anchorfolder}
        VISUAL(TITLE \"Anchor folder\") TYPE ATTRIBUTE;\nCREATE ATTRIBUTE {attr.devs.dev_id}
        VISUAL(TITLE \"Dev\", FOLDER {dim.anchorfolder}) AS K[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/mecec7504bkfigoyn4w8rcvx9282s1kc/tasks/56b14d428de0678c833a5a34b3c7446e0000002a/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:eAobdIURyXdGZJjqAIJApw
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:eAobdIURyXdGZJjqAIJApw:HgjAz6bfXsw3VYjy
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/mecec7504bkfigoyn4w8rcvx9282s1kc/tasks/56b14d428de0678c833a5a34b3c7446e0000002a/status","status":"RUNNING","links":{"poll":"/gdc/md/mecec7504bkfigoyn4w8rcvx9282s1kc/tasks/56b14d428de0678c833a5a34b3c7446e0000002a/status"}}}'
  recorded_at: Tue, 05 Jun 2018 05:30:03 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z30siq8ry05gbzd0yoaplhpc1xlgdpky
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 2O-Ey8e7akllWEScSbfqew:hUn6m8Yu0TGKUl0bYG8DxQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z30siq8ry05gbzd0yoaplhpc1xlgdpky/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"This is
        anchor description","defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"some_attr_id","title":"Repository
        Name","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_attr_label_id","title":"Repository
        Name","type":"GDC.text","dataType":"VARCHAR(10000)"}}],"defaultLabel":"some_attr_label_id"}}],"facts":[],"references":[],"bridges":[]}},{"dataset":{"identifier":"dataset.devs","title":"Developers","anchor":{"attribute":{"identifier":"attr.devs.dev_id","title":"Dev","folder":"Anchor
        folder","labels":[{"label":{"identifier":"label.devs.dev_id.id","title":"Id","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.devs.dev_id.email","title":"Email","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.devs.dev_id.email"}},"attributes":[],"facts":[],"references":[],"bridges":["dataset[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z30siq8ry05gbzd0yoaplhpc1xlgdpky/model/diff/70c2a83b9927ac503a03f969cf012cd6322ea245bc11213600000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 2O-Ey8e7akllWEScSbfqew:_bT9ZlQaihjiXRleknLGLw
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/z30siq8ry05gbzd0yoaplhpc1xlgdpky/model/diff/70c2a83b9927ac503a03f969cf012cd6322ea245bc11213600000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 2O-Ey8e7akllWEScSbfqew:_bT9ZlQaihjiXRleknLGLw:i84Gs6QbpfK3wvc7
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/z30siq8ry05gbzd0yoaplhpc1xlgdpky/model/diff/70c2a83b9927ac503a03f969cf012cd6322ea245bc11213600000018"}}}'
  recorded_at: Fri, 05 Oct 2018 12:33:38 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z30siq8ry05gbzd0yoaplhpc1xlgdpky
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 2O-Ey8e7akllWEScSbfqew:2GhNQ2ViKcBEYDEnTO-wiw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charse[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z30siq8ry05gbzd0yoaplhpc1xlgdpky/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 2O-Ey8e7akllWEScSbfqew:0f9FjAgymUclfc3vlm1ZgA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z30siq8ry05gbzd0yoaplhpc1xlgdpky/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.repos} VISUAL(TITLE \"Repositories\");\nCREATE
        DATASET {dataset.devs} VISUAL(TITLE \"Developers\");\nCREATE DATASET {dataset.commits}
        VISUAL(TITLE \"Commits\");\nINCLUDE TEMPLATE \"URN:GOODDATA:DATE\" MODIFY
        (IDENTIFIER \"committed_on\", TITLE \"Committed On\"[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z30siq8ry05gbzd0yoaplhpc1xlgdpky/tasks/a08674c57cb2366308b5f38b7163d27700000007/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 2O-Ey8e7akllWEScSbfqew:QJNuqJuiPaafj-t6Dbl7rw
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 2O-Ey8e7akllWEScSbfqew:QJNuqJuiPaafj-t6Dbl7rw:GiZ8zTyJCP4IMyDJ
      X-Gdc-Request-Time:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/z30siq8ry05gbzd0yoaplhpc1xlgdpky/tasks/a08674c57cb2366308b5f38b7163d27700000007/status","status":"RUNNING","links":{"poll":"/gdc/md/z30siq8ry05gbzd0yoaplhpc1xlgdpky/tasks/a08674c57cb2366308b5f38b7163d27700000007/status"}}}'
  recorded_at: Fri, 05 Oct 2018 12:33:43 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - tSaJXgN4sQpmydJU7qEtOg:Y5JafGsBnAQmEetUolCVwA
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - tSaJXgN4sQpmydJU7qEtOg:Y5JafGsBnAQmEetUolCVwA:1q2T8GbpQ0CIYHdg
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 10:29:20 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - tSaJXgN4sQpmydJU7qEtOg:AhwMKso0gRLTD2PU-zlZPw
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - tSaJXgN4sQpmydJU7qEtOg:AhwMKso0gRLTD2PU-zlZPw:w8juEIv1egZtu6QR
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 10:29:21 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - tSaJXgN4sQpmydJU7qEtOg:f89q37jFmbpFCudU6_YtuQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - tSaJXgN4sQpmydJU7qEtOg:f89q37jFmbpFCudU6_YtuQ:FkB2CgU1R3sSMp89
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-10-10
        10:25:03","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","timezone":null,"language":"en-US","ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Wed, 10 Oct 2018 10:29:21 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - tSaJXgN4sQpmydJU7qEtOg:k8Rqbj5WEjSr27oXYe_2EA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      -[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"RubyGem Dev Week
        test"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - tSaJXgN4sQpmydJU7qEtOg:1wCeZUnZNbQpyBDg1hksMg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - tSaJXgN4sQpmydJU7qEtOg:1wCeZUnZNbQpyBDg1hksMg:XRsUh52R4fKHVz2B
      X-Gdc-Request-Time:
      - '730'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/xc0x50icheopbx2g39gob6grxnl1h12e"}'
  recorded_at: Wed, 10 Oct 2018 10:29:23 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/xc0x50icheopbx2g39gob6grxnl1h12e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - tSaJXgN4sQpmydJU7qEtOg:27AMvcgaH8Zj9NQ4zNHiKA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/xc0x50icheopbx2g39gob6grxnl1h12e/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/xc0x50icheopbx2g39gob6grxnl1h12e/model/diff/df32327c402b806d5ecc3f370cf4f4d684b6e6fb260fa7ba00000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - tSaJXgN4sQpmydJU7qEtOg:P83JjtYPnYc02_K27_M_GQ
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/xc0x50icheopbx2g39gob6grxnl1h12e/model/diff/df32327c402b806d5ecc3f370cf4f4d684b6e6fb260fa7ba00000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - tSaJXgN4sQpmydJU7qEtOg:P83JjtYPnYc02_K27_M_GQ:FXAGwMuA9yddn78Z
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/xc0x50icheopbx2g39gob6grxnl1h12e/model/diff/df32327c402b806d5ecc3f370cf4f4d684b6e6fb260fa7ba00000018"}}}'
  recorded_at: Wed, 10 Oct 2018 10:29:32 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/xc0x50icheopbx2g39gob6grxnl1h12e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - tSaJXgN4sQpmydJU7qEtOg:bQWSzPBK8SvGZVks4bNTag
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charse[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/xc0x50icheopbx2g39gob6grxnl1h12e/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - tSaJXgN4sQpmydJU7qEtOg:uQRizYj1e7V_KRsQsMzqpQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/xc0x50icheopbx2g39gob6grxnl1h12e/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.repos} VISUAL(TITLE \"Repositories\");\nCREATE
        DATASET {dataset.devs} VISUAL(TITLE \"Developers\");\nCREATE DATASET {dataset.commits}
        VISUAL(TITLE \"Commits\");\nINCLUDE TEMPLATE \"URN:GOODDATA:DATE\" MODIFY
        (IDENTIFIER \"committed_on\", TITLE \"Committed On\"[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/xc0x50icheopbx2g39gob6grxnl1h12e/tasks/4435d54869e2e60cdfb94f4f1d1b7a4f00000007/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - tSaJXgN4sQpmydJU7qEtOg:YbO9-w219rMQIPv5QvIHvw
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - tSaJXgN4sQpmydJU7qEtOg:YbO9-w219rMQIPv5QvIHvw:GVvAbo9dMwac8arZ
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/xc0x50icheopbx2g39gob6grxnl1h12e/tasks/4435d54869e2e60cdfb94f4f1d1b7a4f00000007/status","status":"RUNNING","links":{"poll":"/gdc/md/xc0x50icheopbx2g39gob6grxnl1h12e/tasks/4435d54869e2e60cdfb94f4f1d1b7a4f00000007/status"}}}'
  recorded_at: Wed, 10 Oct 2018 10:29:39 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RDTiST9gzD7_kBvBUA94jg:C3YUAWZhm3mZ5S9W2U4baw
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '22'
      X-Gdc-Request:
      - RDTiST9gzD7_kBvBUA94jg:C3YUAWZhm3mZ5S9W2U4baw:O2lsaIXYfCipvVpb
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 10:30:02 GMT
recorded_with: VCR 4.0.0
