---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:yHxO3OWnnocxYaf-JXdpcQ
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:yHxO3OWnnocxYaf-JXdpcQ:LHyGxoY0s18Hyf5o
      X-Gdc-Request-Time:
      - '68'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Tue, 05 Jun 2018 05:29:37 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:FKDnSdlQls_UP5Nm1Z2H3g
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:FKDnSdlQls_UP5Nm1Z2H3g:1YaTwPscewCyLqUA
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Tue, 05 Jun 2018 05:29:38 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:83iiR-0L68RjAhS3RbX-0g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:83iiR-0L68RjAhS3RbX-0g:4a9IoazFCkl7st5P
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-06-04
        11:38:25","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","timezone":null,"language":"en-US","ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Tue, 05 Jun 2018 05:29:38 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:b71rmn84_E-hNuCvgGCQgA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:b71rmn84_E-hNuCvgGCQgA:G0x2D1dLfCuZCUUP
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Tue, 05 Jun 2018 05:29:39 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"RubyGem Dev Week
        test"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:nFZzOFL0Gt3FbMIfm-uxrg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:nFZzOFL0Gt3FbMIfm-uxrg:3xwJqBnAKXDsLjZN
      X-Gdc-Request-Time:
      - '559'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc"}'
  recorded_at: Tue, 05 Jun 2018 05:29:40 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:65B28VdV84g1OZ8k-rpukw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:65B28VdV84g1OZ8k-rpukw:0G3JBaz5DN0NBBbI
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/ldm?thumbnail=1","self":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc","clearCaches":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/clearCaches","invitations":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/invitations","users":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/uploads/","ldm":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/ldm","metadata":"/gdc/md/mecec7504bkfigoyn4w8rcvx9282s1kc","publicartifacts":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/publicartifacts","roles":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/roles","userRoles":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/dataload","connectors":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/connectors","execute":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/execute","config":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/config","projectFeatureFlags":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/projectFeatureFlags","schedules":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/schedules","templates":"/gdc/md/mecec7504bkfigoyn4w8rcvx9282s1kc/templates","eventstores":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        07:29:40","summary":"No summary","updated":"2018-06-05 07:29:40","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"RubyGem
        Dev Week test","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 05:29:41 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"This is
        anchor description","defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"some_attr_id","title":"Repository
        Name","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_attr_label_id","title":"Repository
        Name","type":"GDC.text","dataType":"VARCHAR(10000)"}}],"defaultLabel":"some_attr_label_id"}}],"facts":[],"references":[]}},{"dataset":{"identifier":"dataset.devs","title":"Developers","anchor":{"attribute":{"identifier":"attr.devs.dev_id","title":"Dev","folder":"Anchor
        folder","labels":[{"label":{"identifier":"label.devs.dev_id.id","title":"Id","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.devs.dev_id.email","title":"Email","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.devs.dev_id.email"}},"attributes":[],"facts":[],"references":[]}},{"dataset":{"identifier":"dataset.commits","title":"Commits","anchor":{"attribute":{"identifier":"attr.commits.factsof","title":"Attr.Commits.Factsof","folder":"Commits"}},"attributes":[],"facts":[{"fact":{"identifier":"fact.commits.lines_changed","title":"Lines
        Changed","folder":"Commits","dataType":"DECIMAL(12,2)","type":"fact","description":"Fact
        description"}}],"references":["committed_on","dataset.devs","dataset.repos"]}}],"dateDimensions":[{"dateDimension":{"name":"committed_on","title":"Committed
        On"}}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:mdN2mZdeRetWyFKkvcutmA
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/model/diff/e3a83da28a2e44b6f292874c0d058cf101cd73ac56b60bab0000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:mdN2mZdeRetWyFKkvcutmA:I9W0A81DXpAkwxW2
      X-Gdc-Request-Time:
      - '57'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/model/diff/e3a83da28a2e44b6f292874c0d058cf101cd73ac56b60bab0000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 05:29:48 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/model/diff/e3a83da28a2e44b6f292874c0d058cf101cd73ac56b60bab0000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:_3cY9uUTtUv16-Ud_M_qJg
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/model/diff/e3a83da28a2e44b6f292874c0d058cf101cd73ac56b60bab0000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:_3cY9uUTtUv16-Ud_M_qJg:1m9SIKULmw2sP9C4
      X-Gdc-Request-Time:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/model/diff/e3a83da28a2e44b6f292874c0d058cf101cd73ac56b60bab0000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 05:29:49 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/model/diff/e3a83da28a2e44b6f292874c0d058cf101cd73ac56b60bab0000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:1HrWdM2UPhEZZOQyan-v2g
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:1HrWdM2UPhEZZOQyan-v2g:s7zfKsyhf5OlbgZl
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"dataset.create","dataset":"dataset.repos","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Repositories"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.devs","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Developers"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.commits","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Commits"]}},{"updateOperation":{"type":"date-dimension.create","destructive":false,"description":"Create
        date dimension ''%s''","parameters":["Committed On[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/mecec7504bkfigoyn4w8rcvx9282s1kc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:G5AVwHxUx4hy7s2WgG7G7A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:G5AVwHxUx4hy7s2WgG7G7A:hVFxnMk5Ah4e58lj
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''mecec7504bkfigoyn4w8rcvx9282s1kc''","category":"project","instance":"mecec7504bkfigoyn4w8rcvx9282s1kc","links":[{"link":"/gdc/md/mecec7504bkfigoyn4w8rcvx9282s1kc/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/mecec7504bkfigoyn4w8rcvx9282s1kc/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/mecec7504bkfigoyn4w8rcvx9282s1kc/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","ca[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/mecec7504bkfigoyn4w8rcvx9282s1kc/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:qRXFlafngXT8wpKW-kmMqQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/mecec7504bkfigoyn4w8rcvx9282s1kc/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.repos} VISUAL(TITLE \"Repositories\");\nCREATE
        DATASET {dataset.devs} VISUAL(TITLE \"Developers\");\nCREATE DATASET {dataset.commits}
        VISUAL(TITLE \"Commits\");\nINCLUDE TEMPLATE \"URN:GOODDATA:DATE\" MODIFY
        (IDENTIFIER \"committed_on\", TITLE \"Committed On\");\nCREATE FOLDER {dim.anchorfolder}
        VISUAL(TITLE \"Anchor folder\") TYPE ATTRIBUTE;\nCREATE ATTRIBUTE {attr.devs.dev_id}
        VISUAL(TITLE \"Dev\", FOLDER {dim.anchorfolder}) AS K[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/mecec7504bkfigoyn4w8rcvx9282s1kc/tasks/56b14d428de0678c833a5a34b3c7446e0000002a/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:eAobdIURyXdGZJjqAIJApw
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:eAobdIURyXdGZJjqAIJApw:HgjAz6bfXsw3VYjy
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/mecec7504bkfigoyn4w8rcvx9282s1kc/tasks/56b14d428de0678c833a5a34b3c7446e0000002a/status","status":"RUNNING","links":{"poll":"/gdc/md/mecec7504bkfigoyn4w8rcvx9282s1kc/tasks/56b14d428de0678c833a5a34b3c7446e0000002a/status"}}}'
  recorded_at: Tue, 05 Jun 2018 05:30:03 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - tB5MynM-wKAuN3g4dLJbCA:edg7kR34DCa7AES8vm9pTg
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '23'
      X-Gdc-Request:
      - tB5MynM-wKAuN3g4dLJbCA:edg7kR34DCa7AES8vm9pTg:dEB20RAk6WLYX1Pc
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 05:31:08 GMT
recorded_with: VCR 4.0.0
