---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/model/view?includeCA=true&includeDeprecated=true&includeGrain=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:DwzKZ2taAQ3mSRqxZ2P_MA
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/model/view/53f94a8961968d422b62e8e56d06857201cd73ac584b0fe80000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:DwzKZ2taAQ3mSRqxZ2P_MA:d6P2qV1CB0glkXzb
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/model/view/53f94a8961968d422b62e8e56d06857201cd73ac584b0fe80000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 05:30:15 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/model/view/53f94a8961968d422b62e8e56d06857201cd73ac584b0fe80000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:4784QXAiIDywXTw6KIea3Q
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/model/view/53f94a8961968d422b62e8e56d06857201cd73ac584b0fe80000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:4784QXAiIDywXTw6KIea3Q:6dEzh0dwDI6YS1lF
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/model/view/53f94a8961968d422b62e8e56d06857201cd73ac584b0fe80000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 05:30:15 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/model/view/53f94a8961968d422b62e8e56d06857201cd73ac584b0fe80000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:HHKiTFxQanXyYe_0v6dJRg
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:HHKiTFxQanXyYe_0v6dJRg:HvrrF8ZaVeIdxq9a
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelView":{"model":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","description":"This is anchor description","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"some_attr_id","title":"Repository
        Name","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_attr_label_id","title":"Repository
        Name","type":"GDC.text","dataType":"VARCHAR(10000)"}}],"defaultLabel":"some_attr_label_id"}}],"production":true}},{"dataset":{"identifier":"dataset.devs","title":"Developers","anchor":{"attribute":{"identifier":"attr.devs.dev_id","title":"Dev","folder":"Anchor
        folder","labels":[{"label":{"identifier":"label.devs.dev_id.email","title":"Email","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.devs.dev_id.id","title":"Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.devs.dev_id.email"}},"production":true}},{"dataset":{"identifier":"dataset.commits","title":"Commits","anchor":{"attribute":{"identifier":"attr.commits.factsof","title":"Attr.Commits.Factsof","folder":"Commits"}},"facts":[{"fact":{"identifier":"fact.commits.lines_changed","title":"Lines
        Changed","description":"Fact description","folder":"Commits","dataType":"DECIMAL(12,2)","restricted":false}}],"references":["dataset.repos","dataset.devs","committed_on"],"production":true}}],"dateDimensions":[{"dateDimension":{"name":"committed_on","title":"Committed
        On","production":true,"urn":"urn:gooddata:date","identifier":"committed_on.dataset.dt","identifierPrefix":"committed_on","bridges":[]}}]}}}}'
  recorded_at: Tue, 05 Jun 2018 05:30:26 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"This is
        anchor description","defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"som[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/model/diff/d1cc638d973417bade0e677d2a9b8e0801cd73af59215c6d0000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:38RpixDwNLpR_1jrRLuyFw
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/model/diff/d1cc638d973417bade0e677d2a9b8e0801cd73af59215c6d0000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:38RpixDwNLpR_1jrRLuyFw:3VpTPo7rfYZlfJnh
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/model/diff/d1cc638d973417bade0e677d2a9b8e0801cd73af59215c6d0000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 05:30:29 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/mecec7504bkfigoyn4w8rcvx9282s1kc/model/diff/d1cc638d973417bade0e677d2a9b8e0801cd73af59215c6d0000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:SQe4zQ5NtFqz0_Iw8lNb6Q
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:SQe4zQ5NtFqz0_Iw8lNb6Q:FjmyPHpsUthzAW4v
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"dataset.create","dataset":"dataset.sales","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Commits"]}},{"updateOperation":{"type":"anchor.create","dataset":"dataset.sales","destructive":false,"description":"Create
        anchor ''%s''","parameters":["Attr.Sales.Id"]}},{"updateOperation":{"type":"fact.create","dataset":"dataset.sales","destructive":false,"description":"Create
        fact ''%s''","parameters":["Sales fact Title"]}},{"updateOperation":{"type":"dataset.references.add.ds","dataset":"dataset.sales","destructive":false,"description":"Add
        reference to dataset ''%s''","parameters":["Repositories"]}},{"updateOperation":{"type":"dataset.references.add.ds","dataset":"dataset.sales","destructive":false,"description":"Add
        reference to dataset ''%s''","parameters":["Developers"]}}],"updateScripts":[{"updateScript":{"maqlDdl":"CREATE
        DATASET {dataset.sales} VISUAL(TITLE \"Commits\");\nCREATE ATTRIBUTE {attr.sales.id}
        VISUAL(TITLE \"Attr.Sales.Id\", FOLDER {dim.commits}) AS KEYS {f_sales.id}
        FULLSET;\nALTER DATASET {dataset.sales} ADD {attr.sales.id};\nCREATE FACT
        {some_sales_fact_id} VISUAL(TITLE \"Sales fact Title\", DESCRIPTION \"Sales
        Fact description\", FOLDER {ffld.commits}) AS {f_sales.f_some_sales_fact_id};\nALTER
        DATASET {dataset.sales} ADD {some_sales_fact_id};\nALTER ATTRIBUTE {attr.repos.repo_id}
        ADD KEYS {f_sales.repos_id};\nALTER ATTRIBUTE {attr.devs.dev_id} ADD KEYS
        {f_sales.devs_id};\nSYNCHRONIZE {dataset.sales};","maqlDdlChunks":["CREATE
        DATASET {dataset.sales} VISUAL(TITLE \"Commits\");\nCREATE ATTRIBUTE {attr.sales.id}
        VISUAL(TITLE \"Attr.Sales.Id\", FOLDER {dim.commits}) AS KEYS {f_sales.id}
        FULLSET;\nALTER DATASET {dataset.sales} ADD {attr.sales.id};\nCREATE FACT
        {some_sales_fact_id} VISUAL(TITLE \"Sales fact Title\", DESCRIPTION \"Sales
        Fact description\", FOLDER {ffld.commits}) AS {f_sales.f_some_sales_fact_id};\nALTER
        DATASET {dataset.sales} ADD {some_sales_fact_id};\nALTER ATTRIBUTE {attr.repos.repo_id}
        ADD KEYS {f_sales.repos_id};\nALTER ATTRIBUTE {attr.devs.dev_id} ADD KEYS
        {f_sales.devs_id};\nSYNCHRONIZE {dataset.sales};"],"preserveData":true,"cascadeDrops":false}},{"updateScript":{"maqlDdl":"CREATE
        DATASET {dataset.sales} VISUAL(TITLE \"Commits\");\nCREATE ATTRIBUTE {attr.sales.id}
        VISUAL(TITLE \"Attr.Sales.Id\", FOLDER {dim.commits}) AS KEYS {f_sales.id}
        FULLSET;\nALTER DATASET {dataset.sales} ADD {attr.sales.id};\nCREATE FACT
        {some_sales_fact_id} VISUAL(TITLE \"Sales fact Title\", DESCRIPTION \"Sales
        Fact description\", FOLDER {ffld.commits}) AS {f_sales.f_some_sales_fact_id};\nALTER
        DATASET {datas[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/mecec7504bkfigoyn4w8rcvx9282s1kc/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:bqm3EafuGpPoTx3Go5N0kg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:bqm3EafuGpPoTx3Go5N0kg:joji1Ve6gZruDPX7
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Resources for logical data model (LDM) manipulation
        within project ''mecec7504bkfigoyn4w8rcvx9282s1kc''","category":"ldm","instance":"mecec7504bkfigoyn4w8rcvx9282s1kc","links":[{"link":"/gdc/md/mecec7504bkfigoyn4w8rcvx9282s1kc/ldm/manage2","summary":"Resources
        for model manipulation with categorized result.","category":"ldm-manage2","title":"manage2"},{"link":"/gdc/md/mecec7504bkfigoyn4w8rcvx9282s1kc/ldm/singleloadinterface","summary":"Single
        interface for data loading.","category":"singleloadinterface","title":"singleloadinterface"},{"link":"/gdc/md/mecec7504bkfigoyn4w8rcvx9282s1kc/ldm/attributeupperbound","summary":"Attribute
        upper bounds for LDM.","category":"attributeupperbound","title":"attributeupperbound"}]}}'
  recorded_at: Tue, 05 Jun 2018 05:30:41 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/mecec7504bkfigoyn4w8rcvx9282s1kc/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.sales} VISUAL(TITLE \"Commits\");\nCREATE
        ATTRIBUTE {attr.sales.id} VISUAL(TITLE \"Attr.Sales.Id\", FOLDER {dim.commits})
        AS KEYS {f_sales.id} FULLSET;\nALTER DATASET {dataset.sales} ADD {attr.sales.id};\nCREATE
        FACT {some_sales_fact_id} VISUAL(TITLE \"Sales fact Title\", DESCRIPTION \"Sales
        Fact description\", FOLDER {ffld.commits}) AS {f_sales.f_some_sales_fact_id};\nALTER
        DATASET {dataset.sales} ADD {some_sales_fact_id};\nALTER ATTRIBUTE {attr.repos.repo_id}
        ADD KEYS {f_sales.repos_id};\nALTER ATTRIBUTE {attr.devs.dev_id} ADD KEYS
        {f_sales.devs_id};\nSYNCHRONIZE {dataset.sales};"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:0x3MqNLiTHbpac8WCvPRlw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:0x3MqNLiTHbpac8WCvPRlw:CuPVonfIzt47WeQl
      X-Gdc-Request-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"entries":[{"link":"/gdc/md/mecec7504bkfigoyn4w8rcvx9282s1kc/tasks/62bbf9c036143a687b6243f6b535ee6e0000002a/status","category":"tasks-status"}]}'
  recorded_at: Tue, 05 Jun 2018 05:30:41 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/mecec7504bkfigoyn4w8rcvx9282s1kc/tasks/62bbf9c036143a687b6243f6b535ee6e0000002a/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:Jr7yOtmFwCA2Xri7dhiIGw
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 6At_dzukDVKrcVEUn9XNYw:Jr7yOtmFwCA2Xri7dhiIGw:xaOITIo0BxV7JWdF
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/mecec7504bkfigoyn4w8rcvx9282s1kc/tasks/62bbf9c036143a687b6243f6b535ee6e0000002a/status","status":"RUNNING","links":{"poll":"/gdc/md/mecec7504bkfigoyn4w8rcvx9282s1kc/tasks/62bbf9c036143a687b6243f6b535ee6e0000002a/status"}}}'
  recorded_at: Tue, 05 Jun 2018 05:30:42 GMT
[...]
