---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/model/view?includeCA=true&includeDeprecated=true&includeGrain=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - At65MehDPlEHReUngHFFdA:NTnmEn8GzOEbgjrmGZTgDA
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/model/view/a4b51450828cc7a57fa362d801bea0ac01cd7538d1b6f2c700000070"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - At65MehDPlEHReUngHFFdA:NTnmEn8GzOEbgjrmGZTgDA:1SM50NIqddewdHwM
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/model/view/a4b51450828cc7a57fa362d801bea0ac01cd7538d1b6f2c700000070"}}}'
  recorded_at: Thu, 03 May 2018 09:27:58 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/model/view/a4b51450828cc7a57fa362d801bea0ac01cd7538d1b6f2c700000070
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - At65MehDPlEHReUngHFFdA:IdvBs02R4sNR8NcqjHXJZA
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/model/view/a4b51450828cc7a57fa362d801bea0ac01cd7538d1b6f2c700000070"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - At65MehDPlEHReUngHFFdA:IdvBs02R4sNR8NcqjHXJZA:PWMICvMwHRL3XcUG
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/model/view/a4b51450828cc7a57fa362d801bea0ac01cd7538d1b6f2c700000070"}}}'
  recorded_at: Thu, 03 May 2018 09:27:59 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/model/view/a4b51450828cc7a57fa362d801bea0ac01cd7538d1b6f2c700000070
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - At65MehDPlEHReUngHFFdA:CuGDOvzfa8QPBbdhBob4zA
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - At65MehDPlEHReUngHFFdA:CuGDOvzfa8QPBbdhBob4zA:j4dzjbri1k4PMKhb
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelView":{"model":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","description":"This is anchor description","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"some_label_id","flags":[]}},"attributes":[{"attribute":{"identifier":"some_attr_id","title":"Repository
        Name","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_attr_label_id","title":"Repository
        Name","type":"GDC.text","dataType":"VARCHAR(10000)"}}],"defaultLabel":"some_attr_label_id","flags":[]}}],"production":true}},{"dataset":{"identifier":"dataset.devs","title":"Developers","anchor":{"attribute":{"identifier":"attr.devs.dev_id","title":"Dev","folder":"Anchor
        folder","labels":[{"label":{"identifier":"label.devs.dev_id.email","title":"Email","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.devs.dev_id.id","title":"Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.devs.dev_id.email","flags":[]}},"production":true}},{"dataset":{"identifier":"dataset.commits","title":"Commits","anchor":{"attribute":{"identifier":"attr.commits.factsof","title":"Attr.Commits.Factsof","folder":"Commits","flags":[]}},"facts":[{"fact":{"identifier":"fact.commits.lines_changed","title":"Lines
        Changed","description":"Fact description","folder":"Commits","dataType":"DECIMAL(12,2)","type":"numeric","restricted":false,"flags":[]}}],"references":["dataset.repos","dataset.devs","committed_on"],"production":true}}],"dateDimensions":[{"dateDimension":{"name":"committed_on","title":"Committed
        On","production":true,"urn":"urn:gooddata:date","identifier":"committed_on.dataset.dt","identifierPrefix":"committed_on"}}]}}}}'
  recorded_at: Thu, 03 May 2018 09:28:09 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"This is
        anchor description","defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"som[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/model/diff/83899e5ee326bd207fb4e9ecce1a682901cd7538d289b07a00000070
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - At65MehDPlEHReUngHFFdA:CLtcTbpyOepYInoZl8YD-A
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - At65MehDPlEHReUngHFFdA:CLtcTbpyOepYInoZl8YD-A:w4TllNoacb22MZlz
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"dataset.create","dataset":"dataset.sales","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Commits"]}},{"updateOperation":{"type":"anchor.create","dataset":"dataset.sales","destructive":false,"description":"Create
        anchor ''%s''","parameters":["Attr.Sales.Id"]}},{"updateOperation":{"type":"fact.create","dataset":"dataset.sales","destructive":false,"description":"Create
        fact ''%s''","parameters":["Sales fact Title"]}},{"updateOperation":{"type":"dataset.references.add.ds","dataset":"dataset.sales","destructive":false,"description":"Add
        reference to dataset ''%s''","parameters":["Repositories"]}},{"updateOperation":{"type":"dataset.references.add.ds","dataset":"dataset.sales","destructive":false,"description":"Add
        reference to dataset ''%s''","parameters":["Developers"]}}],"updateScripts":[{"updateScript":{"maqlDdl":"CREATE
        DATASET {dataset.sales} VISUAL(TITLE \"Commits\");\nCREATE ATTRIBUTE {attr.sales.id}
        VISUAL(TITLE \"Attr.Sales.Id\", FOLDER {dim.commits}) AS KEYS {f_sales.id}
        FULLSET;\nALTER DATASET {dataset.sales} ADD {attr.sales.id};\nCREATE FACT
        {some_sales_fact_id} VISUAL(TITLE \"Sales fact Title\", DESCRIPTION \"Sales
        Fact description\", FOLDER {ffld.commits}) AS {f_sales.f_some_sales_fact_id};\nALTER
        DATASET {dataset.sales} ADD {some_sales_fact_id};\nALTER ATTRIBUTE {attr.repos.repo_id}
        ADD KEYS {f_sales.repos_id};\nALTER ATTRIBUTE {attr.devs.dev_id} ADD KEYS
        {f_sales.devs_id};\nSYNCHRONIZE {dataset.sales};","maqlDdlChunks":["CREATE
        DATASET {dataset.sales} VISUAL(TITLE \"Commits\");\nCREATE ATTRIBUTE {attr.sales.id}
        VISUAL(TITLE \"Attr.Sales.Id\", FOLDER {dim.commits}) AS KEYS {f_sales.id}
        FULLSET;\nALTER DATASET {dataset.sales} ADD {attr.sales.id};\nCREATE FACT
        {some_sales_fact_id} VISUAL(TITLE \"Sales fact Title\", DESCRIPTION \"Sales
        Fact description\", FOLDER {ffld.commits}) AS {f_sales.f_some_sales_fact_id};\nALTER
        DATASET {dataset.sales} ADD {some_sales_fact_id};\nALTER ATTRIBUTE {attr.repos.repo_id}
        ADD KEYS {f_sales.repos_id};\nALTER ATTRIBUTE {attr.devs.dev_id} ADD KEYS
        {f_sales.devs_id};\nSYNCHRONIZE {dataset.sales};"],"preserveData":true,"cascadeDrops":false}},{"updateScript":{"maqlDdl":"CREATE
        DATASET {dataset.sales} VISUAL(TITLE \"Commits\");\nCREATE ATTRIBUTE {attr.sales.id}
        VISUAL(TITLE \"Attr.Sales.Id\", FOLDER {dim.commits}) AS KEYS {f_sales.id}
        FULLSET;\nALTER DATASET {dataset.sales} ADD {attr.sales.id};\nCREATE FACT
        {some_sales_fact_id} VISUAL(TITLE \"Sales fact Title\", DESCRIPTION \"Sales
        Fact description\", FOLDER {ffld.commits}) AS {f_sales.f_some_sales_fact_id};\nALTER
        DATASET {datas[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - At65MehDPlEHReUngHFFdA:MT9vqZUXo1kE00ciF-TUUA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - At65MehDPlEHReUngHFFdA:MT9vqZUXo1kE00ciF-TUUA:HS9sBvzujSHHm0pH
      X-Gdc-Request-Time:
      - '13'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Resources for logical data model (LDM) manipulation
        within project ''gzsjovlqr8xu4g0fp5t2zfa9rik00anu''","category":"ldm","instance":"gzsjovlqr8xu4g0fp5t2zfa9rik00anu","links":[{"link":"/gdc/md/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/ldm/manage2","summary":"Resources
        for model manipulation with categorized result.","category":"ldm-manage2","title":"manage2"},{"link":"/gdc/md/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/ldm/singleloadinterface","summary":"Single
        interface for data loading.","category":"singleloadinterface","title":"singleloadinterface"},{"link":"/gdc/md/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/ldm/attributeupperbound","summary":"Attribute
        upper bounds for LDM.","category":"attributeupperbound","title":"attributeupperbound"}]}}'
  recorded_at: Thu, 03 May 2018 09:28:14 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.sales} VISUAL(TITLE \"Commits\");\nCREATE
        ATTRIBUTE {attr.sales.id} VISUAL(TITLE \"Attr.Sales.Id\", FOLDER {dim.commits})
        AS KEYS {f_sales.id} FULLSET;\nALTER DATASET {dataset.sales} ADD {attr.sales.id};\nCREATE
        FACT {some_sales_fact_id} VISUAL(TITLE \"Sales fact Title\", DESCRIPTION \"Sales
        Fact description\", FOLDER {ffld.commits}) AS {f_sales.f_some_sales_fact_id};\nALTER
        DATASET {dataset.sales} ADD {some_sales_fact_id};\nALTER ATTRIBUTE {attr.repos.repo_id}
        ADD KEYS {f_sales.repos_id};\nALTER ATTRIBUTE {attr.devs.dev_id} ADD KEYS
        {f_sales.devs_id};\nSYNCHRONIZE {dataset.sales};"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - At65MehDPlEHReUngHFFdA:A_6Lx7uYAJFYX62GqdObKA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - At65MehDPlEHReUngHFFdA:A_6Lx7uYAJFYX62GqdObKA:uXoKPgdBmFjSFKjz
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"entries":[{"link":"/gdc/md/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/tasks/c46c9e5463d7c22f62b23d330edc0dad00000030/status","category":"tasks-status"}]}'
  recorded_at: Thu, 03 May 2018 09:28:15 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/tasks/c46c9e5463d7c22f62b23d330edc0dad00000030/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - At65MehDPlEHReUngHFFdA:ARYj5asBC3MO_iguk6sxbw
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - At65MehDPlEHReUngHFFdA:ARYj5asBC3MO_iguk6sxbw:hXhZTIzQ1p8mWnLA
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/tasks/c46c9e5463d7c22f62b23d330edc0dad00000030/status","status":"RUNNING","links":{"poll":"/gdc/md/gzsjovlqr8xu4g0fp5t2zfa9rik00anu/tasks/c46c9e5463d7c22f62b23d330edc0dad00000030/status"}}}'
  recorded_at: Thu, 03 May 2018 09:28:16 GMT
[...]
