---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/data-product-691b1988-8285-4453-a0f7-a8ca2c5f37f9/segments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - UuS53SoxUXbcCtKtQJ8ohw:AynQHgWuCKj6ueYzsF87Mg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - UuS53SoxUXbcCtKtQJ8ohw:AynQHgWuCKj6ueYzsF87Mg:9RlNW1HE6plGabuJ
      X-Gdc-Request-Time:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '{"segments":{"items":[]}}'
  recorded_at: Mon, 04 Jun 2018 09:14:30 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/data-product-691b1988-8285-4453-a0f7-a8ca2c5f37f9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - UuS53SoxUXbcCtKtQJ8ohw:pqBi13-ktmbR3XmFlepwPQ
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '14'
      X-Gdc-Request:
      - UuS53SoxUXbcCtKtQJ8ohw:pqBi13-ktmbR3XmFlepwPQ:Sd9JLkZ7SFTOYM20
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 04 Jun 2018 09:14:31 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts
    body:
      encoding: UTF-8
      string: '{"dataProduct":{"id":"data-product-00b4706d-93b6-4238-8fca-b71114ddef1f"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - k2R7ZwDIX1py3p0_1o-l7w:bDehMS3-tdRV0Wg5t2wbXA
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts/data-product-00b4706d-93b6-4238-8fca-b71114ddef1f"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - k2R7ZwDIX1py3p0_1o-l7w:bDehMS3-tdRV0Wg5t2wbXA:wyF1CkzqIND70T9g
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"dataProduct":{"id":"data-product-00b4706d-93b6-4238-8fca-b71114ddef1f","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-00b4706d-93b6-4238-8fca-b71114ddef1f","domain":"/gdc/domains/staging2-lcm-prod","segments":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-00b4706d-93b6-4238-8fca-b71114ddef1f/segments","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-00b4706d-93b6-4238-8fca-b71114ddef1f/clients"}}}'
  recorded_at: Wed, 10 Oct 2018 10:45:56 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - k2R7ZwDIX1py3p0_1o-l7w:PMUXnoWdBzlcSMnBoqergQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - k2R7ZwDIX1py3p0_1o-l7w:PMUXnoWdBzlcSMnBoqergQ:xBkRAHmPMUQrMmJC
      X-Gdc-Request-Time:
      - '283'
    body:
      encoding: ASCII-8BIT
      string: '{"dataProducts":{"items":[{"dataProduct":{"id":"BichTest","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/BichTest","domain":"/gdc/domains/staging2-lcm-prod","segments":"/gdc/domains/staging2-lcm-prod/dataproducts/BichTest/segments","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/BichTest/clients"}}},{"dataProduct":{"id":"DATA_PRODUCT_007b890b5188_20180926151811","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/DATA_PRODUCT_007b890b5188_20180926151811","domain":"/gdc/domains/stag[...]
