---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/data-product-691b1988-8285-4453-a0f7-a8ca2c5f37f9/segments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - UuS53SoxUXbcCtKtQJ8ohw:AynQHgWuCKj6ueYzsF87Mg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - UuS53SoxUXbcCtKtQJ8ohw:AynQHgWuCKj6ueYzsF87Mg:9RlNW1HE6plGabuJ
      X-Gdc-Request-Time:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '{"segments":{"items":[]}}'
  recorded_at: Mon, 04 Jun 2018 09:14:30 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/data-product-691b1988-8285-4453-a0f7-a8ca2c5f37f9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - UuS53SoxUXbcCtKtQJ8ohw:pqBi13-ktmbR3XmFlepwPQ
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '14'
      X-Gdc-Request:
      - UuS53SoxUXbcCtKtQJ8ohw:pqBi13-ktmbR3XmFlepwPQ:Sd9JLkZ7SFTOYM20
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 04 Jun 2018 09:14:31 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts
    body:
      encoding: UTF-8
      string: '{"dataProduct":{"id":"data-product-66a4069d-419d-4ab7-98a3-706bd4dcb8e9"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - "-5o6tdj1VkE0ovju_zfjUg:IHSlNTBGOz_reiwcny9Apg"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts/data-product-66a4069d-419d-4ab7-98a3-706bd4dcb8e9"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - "-5o6tdj1VkE0ovju_zfjUg:IHSlNTBGOz_reiwcny9Apg:Kgg0yYrZwzPDQY5p"
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"dataProduct":{"id":"data-product-66a4069d-419d-4ab7-98a3-706bd4dcb8e9","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-66a4069d-419d-4ab7-98a3-706bd4dcb8e9","domain":"/gdc/domains/staging2-lcm-prod","segments":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-66a4069d-419d-4ab7-98a3-706bd4dcb8e9/segments","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-66a4069d-419d-4ab7-98a3-706bd4dcb8e9/clients"}}}'
  recorded_at: Tue, 05 Jun 2018 19:46:00 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - "-5o6tdj1VkE0ovju_zfjUg:j631akdR9dbcTHNmu_htsw"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - "-5o6tdj1VkE0ovju_zfjUg:j631akdR9dbcTHNmu_htsw:Ml3X55N8t97wZ9nA"
      X-Gdc-Request-Time:
      - '204'
    body:
      encoding: ASCII-8BIT
      string: '{"dataProducts":{"items":[{"dataProduct":{"id":"BichTest","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/BichTest","domain":"/gdc/domains/staging2-lcm-prod","segments":"/gdc/domains/staging2-lcm-prod/dataproducts/BichTest/segments","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/BichTest/clients"}}},{"dataProduct":{"id":"DATA_PRODUCT_008fd585e5d7_20180416111657","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/DATA_PRODUCT_008fd585e5d7_20180416111657","domain":"/gdc/domains/stag[...]
[...]
