---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/px0sugvog1moq0y2pzps4o0cczy6civf/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:FeoGUZH6_ql5fgNfO1Pryw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '39'
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:FeoGUZH6_ql5fgNfO1Pryw:gDsrDwlKyuhWTmYt"
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/px0sugvog1moq0y2pzps4o0cczy6civf/etltask/2f4f7c2a360636bbb6efd3dc144d31ae00000089"},"token":"<TOKEN>"}}'
  recorded_at: Thu, 07 May 2020 11:55:28 GMT
recorded_with: VCR 5.1.0
