---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fv57rgza7vwmw2owv300fdapp78i49ld/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:u-V4RqjN6arnKZQFuNxn6g"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '33'
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:u-V4RqjN6arnKZQFuNxn6g:f8wG8Q74JvpVg0qb"
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"token":"<TOKEN>","status":{"uri":"/gdc/md/fv57rgza7vwmw2owv300fdapp78i49ld/etltask/6522f7cdbe0f8a8c140ce8d8cb0aa4b90000006f"}}}'
  recorded_at: Tue, 11 Oct 2022 07:17:35 GMT
recorded_with: VCR 5.0.0
