---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/fv57rgza7vwmw2owv300fdapp78i49ld/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:hQsoGIAOFhi-h6F3dotXXw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '45'
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:hQsoGIAOFhi-h6F3dotXXw:avYBsQUVehfTDwHW"
    body:
      encoding: ASCII-8BIT
      string: '{"internalProjectRoles":{"links":{"project":"/gdc/projects/fv57rgza7vwmw2owv300fdapp78i49ld"},"roles":[{"projectRole":{"permissions":{"canManageScheduledMail":"0","canManageAttributeLabel":"0","canCreateReportDefinition":"1","canCreateETLFile":"0","canSetStyle":"0","canCreateProjectTemplates":"0","canManageFilterSettings":"0","canManageTranslations":"0","canCreateScheduledMail":"1","canCreateAttributeLabel":"0","canCreateDomain":"0","canCreateAttributeGroup":"0","canInviteUserToProject":"0","canCreateProjectDashboard":"0","canCreateFact":"0","canManageProjectDashboard":"0","canManageHelp":"0","canSetUserVariables":"0","canRefreshData":"0","canExecute":"1","canCreateTable":"0","canManageDataSet":"0","canManageFact":"0","canSeeOtherUserDetails":"0","canCreateDataSet":"0","canCreateRole":"0","canManageMetric":"0","canManageVisualization":"0","canAccessWorkbench":"1","canUploadNonProductionCSV":"0","canManageIntegration":"0","canCreateComment":"0","canAccessIntegration":"1","canMaintainUserFilterRelation":"0","canInitData":"0","canCreateMetric":"0","canCreateReport":"0","canManageTableDataLoad":"0","canExportDashboard":"1","canManageReportDefinition":"0","canManagePrompt":"0","canSetLocale":"0","canCreateTableDataLoad":"0","canManageAnalyticalDashboard":"0","canManageETLFile":"0","canManageExecutionContext":"1","canManagePublicAccessCode":"0","canManageReport":"0","canCreateHelp":"0","canCreateExecutionContext":"1","canCreateVisualizationClass":"0","canManageCustomDataset":"0","canCreatePrompt":"0","canEnrichData":"0","canSetProjectVariables":"0","canExportFromADS":"0","canListInvitationsInProject":"0","canManageAttributeGroup":"0","canAssignUserWithRole":"0","canCreateVisualization":"0","canCreateFilterSettings":"1","canManageComment":"0","canMaintainUserFilter":"0","canMaintainProject":"0","canCreateColumn":"0","canValidateProject":"0","canManageTable":"0","canManageFolder":"0","canExecuteRaw":"0","canManageDomain":"0","canSuspendUserFromProject":"0","canExportReport":"0","canManageColumn":"0","canListUsersInProject":"0","canManageACL":"0","canManageProject":"0","canSeePublicAccessCode":"0","canManageIsProduction":"0","canCreateAttribute":"0","canManageAttribute":"0","canCreateAnalyticalDashboard":"0","canCreateFolder":"0"},"meta":{"summary":"Viewer
        (Disabled Exports)","created":"2022-10-11 09:14:48","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Viewer
        (Disabled Exports)","updated":"2022-10-11 09:14:48","uri":"/gdc/projects/fv57rgza7vwmw2owv300fdapp78i49ld/roles/12","identifier":"readOnlyNoExportRole","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"projectRole":{"meta":{"title":"Admin","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","created":"2022-10-11
        09:14:48","summary":"project master","updated":"2022-10-11 09:14:48","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/projects/fv57rgza7vwmw2owv300fdapp78i49ld/roles/2","identifier":"adminRole"},"permissions":{"canCreateDomain":"1","canCreateAttributeLabel":"1","canManageT[...]
