---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:GfI-UCg1qfiEMIMZuDITSA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:GfI-UCg1qfiEMIMZuDITSA:gZawBct7cLrqQo8S
      X-Gdc-Request-Time:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/ldm?thumbnail=1","self":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87","clearCaches":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/clearCaches","invitations":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/invitations","users":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/uploads/","ldm":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/ldm","metadata":"/gdc/md/xku9j59m2dz6jmlp14azmm04xmw6mj87","publicartifacts":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/publicartifacts","roles":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/roles","userRoles":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/dataload","connectors":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/connectors","execute":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/execute","config":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/config","projectFeatureFlags":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/projectFeatureFlags","schedules":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/schedules","templates":"/gdc/md/xku9j59m2dz6jmlp14azmm04xmw6mj87/templates","eventstores":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/dataload/eventstore/stores"},"meta":{"created":"2018-06-04
        15:03:21","summary":"No summary","updated":"2018-06-04 15:03:21","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Test
        project","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Mon, 04 Jun 2018 13:03:22 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:X-N4uV7KOhPo3dsltRSvUw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:X-N4uV7KOhPo3dsltRSvUw:IPPJ4QojT6wEcmJc
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/ldm?thumbnail=1","self":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87","clearCaches":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/clearCaches","invitations":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/invitations","users":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/xku9j59m2dz6jmlp1[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/cheih8kgogyja54d7iekdqycr5k6iww9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:QnMaLeL2rfMwyYIg6CHsOw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:8-hW_gvBDIN0VssBzXcj0Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:8-hW_gvBDIN0VssBzXcj0Q:wwhmzgLiOru9xWJJ
      X-Gdc-Request-Time:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '{"segment":{"id":"segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54","masterProject":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87","links":{"self":"/gdc/domains/staging2-lcm-prod/segments/segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/clients?segment=segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54&limit=1000"}}}'
  recorded_at: Mon, 04 Jun 2018 13:03:39 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_67838f67-a407-4188-bfc0-de9636ac7b0b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:7gHG0twm3LDkDOA_BaOb_w
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts/default/clients"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '14'
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:7gHG0twm3LDkDOA_BaOb_w:67Hlvbs1ITVlsD93
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 04 Jun 2018 13:03:46 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lmo6y95glcvwkxodusyzkfk9c9di4nmw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:1xyMlP4RvOPE2Z66yKdrtg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/c2vebxli7q5cueqrn7in25e31sw68eaq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:jhwOQpvs3mzgY2w0CBhl6g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ezfr9y3ytqt71uu04vs2n0oeipc4v0ph
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:DqcHOlRrziELk91xeJUGyw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:K7MhzlepgfkydwIPHjasrA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/dah4lxfpp5fdp86oaqr8z7kt19k5g01k
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 3ba6ykQDqA-zjV1OJ0Mn7A:yemzupDf8OV2EGTvZeyiDw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/grfroj8l12fhvxaolo60l1ct424hbx0w
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 3ba6ykQDqA-zjV1OJ0Mn7A:L7fCbjs_FrXNZLlJWHnILQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/k80ipb9c7pezmqjeg7vdcd7rluhpqa9b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 3ba6ykQDqA-zjV1OJ0Mn7A:dgaNf-DwaXyfQF9PHmpIiw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/tjd4nbehr2b9whbu1c55zgqxra2v8qvo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 3ba6ykQDqA-zjV1OJ0Mn7A:vjSWvOfZvkQG2W9bbJWL3A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/vagwndtl4b7zqgfcfec5tfqe1vblxzcq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 3ba6ykQDqA-zjV1OJ0Mn7A:l-qf1hMGMzkEzUsL1Cx88Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/sqcjgyw0mnje0vbcr1kz3zddgve2cl5e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 3ba6ykQDqA-zjV1OJ0Mn7A:jfrYn-qVW620lZG4gtLhUQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:ouNyAe48z_5mogBU8cQMyQ
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:ouNyAe48z_5mogBU8cQMyQ:21aD8Dg6KE65hIWY
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 10:27:12 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:1Nf07Ru9Ac7YKLq5nJPXvg
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:1Nf07Ru9Ac7YKLq5nJPXvg:ZZcIJfti1gR5kYSb
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 10:27:12 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:quh5xra5Alng2Odxgkh3bA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:quh5xra5Alng2Odxgkh3bA:jwlcCUErMzalcZqB
      X-Gdc-Request-Time:
      - '78'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-10-10
        10:25:03","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","timezone":null,"language":"en-US","ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Wed, 10 Oct 2018 10:27:13 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:MwLzsgRVE2kD0p_IgvoRlA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:MwLzsgRVE2kD0p_IgvoRlA:sLtsoe4yy87Oyh8w
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Wed, 10 Oct 2018 10:27:14 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Test project"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"PRODUCTION","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:VdvY0pcUTM0IO__x67evjQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:VdvY0pcUTM0IO__x67evjQ:cQriF7finz7WUA7Z
      X-Gdc-Request-Time:
      - '887'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/b4wm02d5bfwu3gy36tntxu4gm5faawta"}'
  recorded_at: Wed, 10 Oct 2018 10:27:15 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/b4wm02d5bfwu3gy36tntxu4gm5faawta
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:sXFbFgcsR7v5-1Zb9QOuIQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments
    body:
      encoding: UTF-8
      string: '{"segment":{"id":"segment-5512853c-2fcf-428e-b40d-fcac616277e9","masterProject":"/gdc/projects/b4wm02d5bfwu3gy36tntxu4gm5faawta"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:BZODs-hqeKQcQQYtU6meyw
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments/segment-5512853c-2fcf-428e-b40d-fcac616277e9"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:BZODs-hqeKQcQQYtU6meyw:tT6fFi0moGg6gA4v
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"segment":{"id":"segment-5512853c-2fcf-428e-b40d-fcac616277e9","masterProject":"/gdc/projects/b4wm02d5bfwu3gy36tntxu4gm5faawta","links":{"self":"/gdc/domains/staging2-lcm-prod/segments/segment-5512853c-2fcf-428e-b40d-fcac616277e9","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/clients?segment=segment-5512853c-2fcf-428e-b40d-fcac616277e9&limit=1000"}}}'
  recorded_at: Wed, 10 Oct 2018 10:27:23 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/hrpt8yne9ng6qwnj817u13gjwlzc42lh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:tix3bnlun7dSZyKQDkIZjw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:57AppvW5xmQqPFY1NKeJ2w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:57AppvW5xmQqPFY1NKeJ2w:rDy8cbNVQrLTTm4j
      X-Gdc-Request-Time:
      - '14'
    body:
      encoding: ASCII-8BIT
      string: '{"dataProduct":{"id":"default","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default","domain":"/gdc/domains/staging2-lcm-prod","segments":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients"}}}'
  recorded_at: Wed, 10 Oct 2018 10:27:34 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients
    body:
      encoding: UTF-8
      string: '{"client":{"id":"tenant_5bc7bfe4-afe2-4e86-9b05-03e6365ccc2e","segment":"/gdc/domains/staging2-lcm-prod/segments/segment-5512853c-2fcf-428e-b40d-fcac616277e9","project":"/gdc/projects/hrpt8yne9ng6qwnj817u13gjwlzc42lh"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:hlQ44nlahP10_S5Vw6OpqA
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_5bc7bfe4-afe2-4e86-9b05-03e6365ccc2e"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:hlQ44nlahP10_S5Vw6OpqA:5AUe6FJlG8h9K2qq
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"client":{"id":"tenant_5bc7bfe4-afe2-4e86-9b05-03e6365ccc2e","segment":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-5512853c-2fcf-428e-b40d-fcac616277e9","project":"/gdc/projects/hrpt8yne9ng6qwnj817u13gjwlzc42lh","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_5bc7bfe4-afe2-4e86-9b05-03e6365ccc2e"}}}'
  recorded_at: Wed, 10 Oct 2018 10:27:34 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/egkmbd5vncp9ybqm2lbhfu6tf3v70s6a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:v67isDGEr1K1ZR7cufaiog
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rbn6cr7p6zh3ln1y3er349rmlcngjv88
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:eujJTFTK-19yq2mUdBV6_g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/x85jbcjk6lnheguf187p2wtko590u02e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:nSKqXOxMf2FfS7fjAFfrIw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/c8m3w7qb3hw55zauhq5d6xlm0pjuje6w
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:akAInps5eruobGYp7F34ow
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NzEvVI7WWjLOIdOp-8_Ncg:aPOBz_3t6UQfuhBP2i4dqA
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '30'
      X-Gdc-Request:
      - NzEvVI7WWjLOIdOp-8_Ncg:aPOBz_3t6UQfuhBP2i4dqA:xnaIbbQwt2vU029O
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 10:29:15 GMT
recorded_with: VCR 4.0.0
