---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:GfI-UCg1qfiEMIMZuDITSA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:GfI-UCg1qfiEMIMZuDITSA:gZawBct7cLrqQo8S
      X-Gdc-Request-Time:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/ldm?thumbnail=1","self":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87","clearCaches":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/clearCaches","invitations":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/invitations","users":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/uploads/","ldm":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/ldm","metadata":"/gdc/md/xku9j59m2dz6jmlp14azmm04xmw6mj87","publicartifacts":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/publicartifacts","roles":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/roles","userRoles":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/dataload","connectors":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/connectors","execute":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/execute","config":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/config","projectFeatureFlags":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/projectFeatureFlags","schedules":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/schedules","templates":"/gdc/md/xku9j59m2dz6jmlp14azmm04xmw6mj87/templates","eventstores":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/dataload/eventstore/stores"},"meta":{"created":"2018-06-04
        15:03:21","summary":"No summary","updated":"2018-06-04 15:03:21","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Test
        project","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Mon, 04 Jun 2018 13:03:22 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:X-N4uV7KOhPo3dsltRSvUw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:X-N4uV7KOhPo3dsltRSvUw:IPPJ4QojT6wEcmJc
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/ldm?thumbnail=1","self":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87","clearCaches":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/clearCaches","invitations":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/invitations","users":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/xku9j59m2dz6jmlp1[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/cheih8kgogyja54d7iekdqycr5k6iww9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:QnMaLeL2rfMwyYIg6CHsOw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:8-hW_gvBDIN0VssBzXcj0Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:8-hW_gvBDIN0VssBzXcj0Q:wwhmzgLiOru9xWJJ
      X-Gdc-Request-Time:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '{"segment":{"id":"segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54","masterProject":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87","links":{"self":"/gdc/domains/staging2-lcm-prod/segments/segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/clients?segment=segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54&limit=1000"}}}'
  recorded_at: Mon, 04 Jun 2018 13:03:39 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_67838f67-a407-4188-bfc0-de9636ac7b0b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:7gHG0twm3LDkDOA_BaOb_w
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts/default/clients"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '14'
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:7gHG0twm3LDkDOA_BaOb_w:67Hlvbs1ITVlsD93
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 04 Jun 2018 13:03:46 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lmo6y95glcvwkxodusyzkfk9c9di4nmw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:1xyMlP4RvOPE2Z66yKdrtg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/c2vebxli7q5cueqrn7in25e31sw68eaq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:jhwOQpvs3mzgY2w0CBhl6g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ezfr9y3ytqt71uu04vs2n0oeipc4v0ph
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:DqcHOlRrziELk91xeJUGyw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:K7MhzlepgfkydwIPHjasrA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/dah4lxfpp5fdp86oaqr8z7kt19k5g01k
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 3ba6ykQDqA-zjV1OJ0Mn7A:yemzupDf8OV2EGTvZeyiDw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/grfroj8l12fhvxaolo60l1ct424hbx0w
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 3ba6ykQDqA-zjV1OJ0Mn7A:L7fCbjs_FrXNZLlJWHnILQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/k80ipb9c7pezmqjeg7vdcd7rluhpqa9b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 3ba6ykQDqA-zjV1OJ0Mn7A:dgaNf-DwaXyfQF9PHmpIiw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/tjd4nbehr2b9whbu1c55zgqxra2v8qvo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 3ba6ykQDqA-zjV1OJ0Mn7A:vjSWvOfZvkQG2W9bbJWL3A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/vagwndtl4b7zqgfcfec5tfqe1vblxzcq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 3ba6ykQDqA-zjV1OJ0Mn7A:l-qf1hMGMzkEzUsL1Cx88Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/sqcjgyw0mnje0vbcr1kz3zddgve2cl5e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 3ba6ykQDqA-zjV1OJ0Mn7A:jfrYn-qVW620lZG4gtLhUQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/b4wm02d5bfwu3gy36tntxu4gm5faawta
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:sXFbFgcsR7v5-1Zb9QOuIQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:sXFbFgcsR7v5-1Zb9QOuIQ:IkkGhILPi9IoMdIm
      X-Gdc-Request-Time:
      - '55'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPA[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/hrpt8yne9ng6qwnj817u13gjwlzc42lh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:tix3bnlun7dSZyKQDkIZjw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/egkmbd5vncp9ybqm2lbhfu6tf3v70s6a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:v67isDGEr1K1ZR7cufaiog
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rbn6cr7p6zh3ln1y3er349rmlcngjv88
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:eujJTFTK-19yq2mUdBV6_g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/x85jbcjk6lnheguf187p2wtko590u02e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:nSKqXOxMf2FfS7fjAFfrIw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/c8m3w7qb3hw55zauhq5d6xlm0pjuje6w
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:akAInps5eruobGYp7F34ow
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":2JzdfjdBfmIZbBD9TB00mw:ue2MzNT3QmBR3gTqAL_7dQ"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - GoodData realm="GoodData API" cookie=GDCAuthSST location=/gdc/account/login
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - ":2JzdfjdBfmIZbBD9TB00mw:ue2MzNT3QmBR3gTqAL_7dQ:cBscyUkbC9PPpnFP"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 24 Jan 2019 12:28:47 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":VPQxndjR6y85kHcLWCKjeQ:KKG0I0B4FX71Fcq3V2GpWg"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - ":VPQxndjR6y85kHcLWCKjeQ:KKG0I0B4FX71Fcq3V2GpWg:R1apEw6BqM5FQCSG"
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 24 Jan 2019 12:40:21 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/jcqf54hruqupddo8ik9x13ac0hjqpl36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":VPQxndjR6y85kHcLWCKjeQ:9XkGywRwUoIxhKFyZe3PaQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":VPQxndjR6y85kHcLWCKjeQ:9XkGywRwUoIxhKFyZe3PaQ:gJHsRBySwxaHucUO"
      X-Gdc-Request-Time:
      - '65'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rn8j7pshhw1umo324yiz87gxqkl6eprz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":VPQxndjR6y85kHcLWCKjeQ:c7OGSgBeUs_0abMwUH0q3w"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/mt6sz8br7xld0htmspprkiuq3fs2hutk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":VPQxndjR6y85kHcLWCKjeQ:lRIcNmEb9GS379YpwtIuwA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/wwhprnpj64y99urg10812jgn0l1rsy8p
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":VPQxndjR6y85kHcLWCKjeQ:vddAJgsR67NPI4lAKbn1_Q"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/mba47r2ud1dsoqznyw9p7jr49vw2at9c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":VPQxndjR6y85kHcLWCKjeQ:LQ5wxE72mg6Mecx4IxSS9A"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/p096chlpm0owe839lhtv9qnntdze1scq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":VPQxndjR6y85kHcLWCKjeQ:nba4sDhfUNYNeIJO-poVCA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":Q8zktsCSozedYOeqV6NreQ:oymI4cE2Vsr68iRNA1WBAg"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '55'
      X-Gdc-Request:
      - ":Q8zktsCSozedYOeqV6NreQ:oymI4cE2Vsr68iRNA1WBAg:8Bxqq7kJ1wccNRg7"
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 04:33:28 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Q8zktsCSozedYOeqV6NreQ:q7GuyMat6dg_mCgQ6gaO6A"
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '12'
      X-Gdc-Request:
      - ":Q8zktsCSozedYOeqV6NreQ:q7GuyMat6dg_mCgQ6gaO6A:2NPxbwCW1kUjASCK"
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2019-03-15 10:00:00","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Wed, 15 Jan 2020 04:33:30 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Q8zktsCSozedYOeqV6NreQ:Ccbht1xIqGVlyjX-7BX6rQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '33'
      X-Gdc-Request:
      - ":Q8zktsCSozedYOeqV6NreQ:Ccbht1xIqGVlyjX-7BX6rQ:9DpIW6QHBka7L2bC"
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Wed, 15 Jan 2020 04:33:31 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Test project"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"PRODUCTION","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Q8zktsCSozedYOeqV6NreQ:QjeOa-hzbHuYEz7wAgRPwg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '384'
      X-Gdc-Request:
      - ":Q8zktsCSozedYOeqV6NreQ:QjeOa-hzbHuYEz7wAgRPwg:IG1Tz5YeP2AbX1JI"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/laf2yx273fok1c4gn8j7n45o6a9fzkj8"}'
  recorded_at: Wed, 15 Jan 2020 04:33:32 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/laf2yx273fok1c4gn8j7n45o6a9fzkj8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Q8zktsCSozedYOeqV6NreQ:nsRhoBFADw4jfoGP_Xo24Q"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '53'
      X-Gdc-Request:
      - ":Q8zktsCSozedYOeqV6NreQ:nsRhoBFADw4jfoGP_Xo24Q:xwzioTZTw8K4cH69"
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADING"},"links":{"ldm_thumbnail":"/gdc/projects/laf2yx273fok1c4gn8j7n45o6a9fzkj8/ldm?thumbnail=1","self":"/gdc/projects/laf2yx273fok1c4gn8j7n45o6a9fzkj8","clearCaches":"/gdc/projects/laf2yx273fok1c4gn8j7n45o6a9fzkj8/clearCaches","invitations":"/gdc/projects/laf2yx273fok1c4gn8j7n45o6a9fzkj8/invitations","users":"/gdc/projects/laf2yx273fok1c4gn8j7n45o6a9fzkj8/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/laf2yx273fok1c4gn8j7n45o6a9fzkj8/checkXaeCompatibility","uploads":"/gdc/projects/laf2yx273fok1c4gn8j7n45o6a9fzkj8/uploads/","ldm":"/gdc/projects/laf2yx273fok1c4gn8j7n45o6a9fzkj8/ldm","metadata":"/gdc/md/laf2yx273fok1c4gn8j7n45o6a9fzkj8","publicartifacts":"/gdc/projects/laf2yx273fok1c4gn8j7n45o6a9fzkj8/publicartifacts","roles":"/gdc/projects/laf2yx273fok1c4gn8j7n45o6a9fzkj8/roles","userRoles":"/gdc/projects/laf2yx273fok1c4gn8j7n45o6a9fzkj8/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/laf2yx273fok1c4gn8j7n45o6a9fzkj8/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/laf2yx273fok1c4gn8j7n45o6a9fzkj8/dataload","connectors":"/gdc/projects/laf2yx273fok1c4gn8j7n45o6a9fzkj8/connectors","execute":"/gdc/projects/laf2yx273fok1c4gn8j7n45o6a9fzkj8/execute","config":"/gdc/projects/laf2yx273fok1c4gn8j7n45o6a9fzkj8/config","projectFeatureFlags":"/gdc/projects/laf2yx273fok1c4gn8j7n45o6a9fzkj8/projectFeatureFlags","schedules":"/gdc/projects/laf2yx273fok1c4gn8j7n45o6a9fzkj8/schedules","templates":"/gdc/md/laf2yx273fok1c4gn8j7n45o6a9fzkj8/templates"},"meta":{"created":"2020-01-15
        05:33:32","summary":"No summary","updated":"2020-01-15 05:33:33","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Test
        project","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 15 Jan 2020 04:33:33 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments
    body:
      encoding: UTF-8
      string: '{"segment":{"id":"segment-ebc58f78-4f64-4462-b346-4d03dc30522c","masterProject":"/gdc/projects/laf2yx273fok1c4gn8j7n45o6a9fzkj8"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Q8zktsCSozedYOeqV6NreQ:Km7TXe7lIug2IWR2bjmWcw"
      Stats-On:
      - ''
[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/vrhw1k5cb0xi9pyxo0zvvps5wutjnul8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Q8zktsCSozedYOeqV6NreQ:2OeomFOaqY6kGId88dUqYg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-H[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
[...]
