---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:F7zeUYB77bnFLtBow1ueoQ
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:F7zeUYB77bnFLtBow1ueoQ:gHuajXVq3SnxSLWK
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Mon, 04 Jun 2018 13:03:18 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:vTBvQRK6Kf-eq96Gf8cY-Q
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:vTBvQRK6Kf-eq96Gf8cY-Q:adr3WYtRd39iH8iH
      X-Gdc-Request-Time:
      - '11'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Mon, 04 Jun 2018 13:03:19 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:NO6PWKvti4Vq42x3XYO3uw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:NO6PWKvti4Vq42x3XYO3uw:2yxAx2GFMRssc2WB
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-06-04
        11:38:25","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","language":"en-US","timezone":null,"ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Mon, 04 Jun 2018 13:03:19 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:uy8axNxesxcv4qjRW4lOlA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:uy8axNxesxcv4qjRW4lOlA:adhYbmuIVd7z0AOo
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Mon, 04 Jun 2018 13:03:20 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Test project"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"PRODUCTION","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:XWJKjzbDNPGoEkuFH2xmUg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:XWJKjzbDNPGoEkuFH2xmUg:ciac9h4XNrZz2Lsy
      X-Gdc-Request-Time:
      - '676'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87"}'
  recorded_at: Mon, 04 Jun 2018 13:03:22 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:GfI-UCg1qfiEMIMZuDITSA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:GfI-UCg1qfiEMIMZuDITSA:gZawBct7cLrqQo8S
      X-Gdc-Request-Time:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/ldm?thumbnail=1","self":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87","clearCaches":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/clearCaches","invitations":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/invitations","users":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/uploads/","ldm":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/ldm","metadata":"/gdc/md/xku9j59m2dz6jmlp14azmm04xmw6mj87","publicartifacts":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/publicartifacts","roles":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/roles","userRoles":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/dataload","connectors":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/connectors","execute":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/execute","config":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/config","projectFeatureFlags":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/projectFeatureFlags","schedules":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/schedules","templates":"/gdc/md/xku9j59m2dz6jmlp14azmm04xmw6mj87/templates","eventstores":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87/dataload/eventstore/stores"},"meta":{"created":"2018-06-04
        15:03:21","summary":"No summary","updated":"2018-06-04 15:03:21","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Test
        project","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Mon, 04 Jun 2018 13:03:22 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments
    body:
      encoding: UTF-8
      string: '{"segment":{"id":"segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54","masterProject":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:how6amB-CTg2QDGfB93zOg
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments/segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:how6amB-CTg2QDGfB93zOg:IMVHri9ci5d4q6nL
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"segment":{"id":"segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54","masterProject":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87","links":{"self":"/gdc/domains/staging2-lcm-prod/segments/segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/clients?segment=segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54&limit=1000"}}}'
  recorded_at: Mon, 04 Jun 2018 13:03:30 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/cheih8kgogyja54d7iekdqycr5k6iww9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:QnMaLeL2rfMwyYIg6CHsOw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:8-hW_gvBDIN0VssBzXcj0Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:8-hW_gvBDIN0VssBzXcj0Q:wwhmzgLiOru9xWJJ
      X-Gdc-Request-Time:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '{"segment":{"id":"segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54","masterProject":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87","links":{"self":"/gdc/domains/staging2-lcm-prod/segments/segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/clients?segment=segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54&limit=1000"}}}'
  recorded_at: Mon, 04 Jun 2018 13:03:39 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:Xq-Wjf2lS2l19sj1MbRKyQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:Xq-Wjf2lS2l19sj1MbRKyQ:zFm2ukyxiCtXXwLT
      X-Gdc-Request-Time:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"dataProduct":{"id":"default","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default","domain":"/gdc/domains/staging2-lcm-prod","segments":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients"}}}'
  recorded_at: Mon, 04 Jun 2018 13:03:40 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients
    body:
      encoding: UTF-8
      string: '{"client":{"id":"tenant_67838f67-a407-4188-bfc0-de9636ac7b0b","segment":"/gdc/domains/staging2-lcm-prod/segments/segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54","project":"/gdc/projects/cheih8kgogyja54d7iekdqycr5k6iww9"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:mcTu1_524usUHUnz33yYXA
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_67838f67-a407-4188-bfc0-de9636ac7b0b"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:mcTu1_524usUHUnz33yYXA:bPG2lXiQ5yFPTqty
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"client":{"id":"tenant_67838f67-a407-4188-bfc0-de9636ac7b0b","segment":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54","project":"/gdc/projects/cheih8kgogyja54d7iekdqycr5k6iww9","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_67838f67-a407-4188-bfc0-de9636ac7b0b"}}}'
  recorded_at: Mon, 04 Jun 2018 13:03:41 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_67838f67-a407-4188-bfc0-de9636ac7b0b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:7gHG0twm3LDkDOA_BaOb_w
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts/default/clients"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '14'
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:7gHG0twm3LDkDOA_BaOb_w:67Hlvbs1ITVlsD93
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 04 Jun 2018 13:03:46 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lmo6y95glcvwkxodusyzkfk9c9di4nmw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:1xyMlP4RvOPE2Z66yKdrtg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/c2vebxli7q5cueqrn7in25e31sw68eaq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:jhwOQpvs3mzgY2w0CBhl6g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ezfr9y3ytqt71uu04vs2n0oeipc4v0ph
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:DqcHOlRrziELk91xeJUGyw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:K7MhzlepgfkydwIPHjasrA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - mwyvusxQEahrEYTX8LoBEw:YxQh-COXF8XhrCIrk3gOfQ
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '19'
      X-Gdc-Request:
      - mwyvusxQEahrEYTX8LoBEw:YxQh-COXF8XhrCIrk3gOfQ:eBiHM0AxHd6FjcuV
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 04 Jun 2018 13:05:08 GMT
recorded_with: VCR 4.0.0
