---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/userGroups?project=ozgbm0v89iv1bgdjvvt9tc2laptr1jq0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:SAGGH8tNkP86HsVMZo0p7g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:SAGGH8tNkP86HsVMZo0p7g:yMZaiHgkniIF36Ld"
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bhKUQ40GLnWdf70JfOU8C9g","description":"My Test Description","domain":null,"project":"/gdc/projects/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0"},"meta":{"created":"2019-02-21
        11:07:46","updated":"2019-02-21 11:07:46"},"links":{"self":"/gdc/userGroups/bhKUQ40GLnWdf70JfOU8C9g","members":"/gdc/userGroups/bhKUQ40GLnWdf70JfOU8C9g/members","modifyMembers":"/gdc/userGroups/bhKUQ40GLnWdf70JfOU8C9g/modifyMembers"}}}]}}'
  recorded_at: Thu, 21 Feb 2019 10:08:13 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/userGroups?project=gpl0nb4m8qcnh6xr1gsy1vvskwxwm2z2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:l3O3-umSYq7vWxY6zx-mhQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:l3O3-umSYq7vWxY6zx-mhQ:EXRAeGx5t4DCuLBk"
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"baBFUluS41r4Fp32zi3tJLA","description":"My Test Description","domain":null,"project":"/gdc/projects/gpl0nb4m8qcnh6xr1gsy1vvskwxwm2z2"},"meta":{"created":"2019-02-21
        11:07:55","updated":"2019-02-21 11:07:55"},"links":{"self":"/gdc/userGroups/baBFUluS41r4Fp32zi3tJLA","members":"/gdc/userGroups/baBFUluS41r4Fp32zi3tJLA/members","modifyMembers":"/gdc/userGroups/baBFUluS41r4Fp32zi3tJLA/modifyMembers"}}}]}}'
  recorded_at: Thu, 21 Feb 2019 10:08:14 GMT
recorded_with: VCR 4.0.0
