---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/userGroups?project=j2t2ojk91789vuczapl74a5z7w5rdtf3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:kEJKEJzegbaGteRWusUdJA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:kEJKEJzegbaGteRWusUdJA:fUY8XL7HA5it7EnH
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bPOCcNXEceUKzZO0DcTzfYA","description":"My Test Description","domain":null,"project":"/gdc/projects/j2t2ojk91789vuczapl74a5z7w5rdtf3"},"meta":{"created":"2018-12-13
        14:00:36","updated":"2018-12-13 14:00:36"},"links":{"self":"/gdc/userGroups/bPOCcNXEceUKzZO0DcTzfYA","members":"/gdc/userGroups/bPOCcNXEceUKzZO0DcTzfYA/members","modifyMembers":"/gdc/userGroups/bPOCcNXEceUKzZO0DcTzfYA/modifyMembers"}}}]}}'
  recorded_at: Thu, 13 Dec 2018 13:01:05 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/userGroups?project=j6iz5gbg6nspq1mxo1newcu8d71t9ul7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:PpNez9M6VunidyVbrHLIsg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:PpNez9M6VunidyVbrHLIsg:o3PezcH8JVVLpZAx
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bon3sTACryj6vfRgnVDzfGA","description":"My Test Description","domain":null,"project":"/gdc/projects/j6iz5gbg6nspq1mxo1newcu8d71t9ul7"},"meta":{"created":"2018-12-13
        14:00:46","updated":"2018-12-13 14:00:46"},"links":{"self":"/gdc/userGroups/bon3sTACryj6vfRgnVDzfGA","members":"/gdc/userGroups/bon3sTACryj6vfRgnVDzfGA/members","modifyMembers":"/gdc/userGroups/bon3sTACryj6vfRgnVDzfGA/modifyMembers"}}}]}}'
  recorded_at: Thu, 13 Dec 2018 13:01:05 GMT
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/userGroups?project=yq1eo5hkmxcekt7ssuzr1hya0k0ajjc4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:L06jwn-RV40hHK1tdoV4Rw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:L06jwn-RV40hHK1tdoV4Rw:46WfULlIATse1wgJ
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"b7o4i0Oq8C4jd1tscIfVK7g","description":"My Test Description","domain":null,"project":"/gdc/projects/yq1eo5hkmxcekt7ssuzr1hya0k0ajjc4"},"meta":{"created":"2019-01-21
        10:51:47","updated":"2019-01-21 10:51:47"},"links":{"self":"/gdc/userGroups/b7o4i0Oq8C4jd1tscIfVK7g","members":"/gdc/userGroups/b7o4i0Oq8C4jd1tscIfVK7g/members","modifyMembers":"/gdc/userGroups/b7o4i0Oq8C4jd1tscIfVK7g/modifyMembers"}}}]}}'
  recorded_at: Mon, 21 Jan 2019 09:52:10 GMT
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/userGroups?project=f8et11eg9q970kxrw4g7seng113veq10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:zrzg99VjOKHdl41qz54i_A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:zrzg99VjOKHdl41qz54i_A:3ggYUHFYRWAYEZl9
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bfuVBHIxwHiOYlS2ssmRvxw","description":"My Test Description","domain":null,"project":"/gdc/projects/f8et11eg9q970kxrw4g7seng113veq10"},"meta":{"created":"2019-01-21
        10:51:55","updated":"2019-01-21 10:51:55"},"links":{"self":"/gdc/userGroups/bfuVBHIxwHiOYlS2ssmRvxw","members":"/gdc/userGroups/bfuVBHIxwHiOYlS2ssmRvxw/members","modifyMembers":"/gdc/userGroups/bfuVBHIxwHiOYlS2ssmRvxw/modifyMembers"}}}]}}'
  recorded_at: Mon, 21 Jan 2019 09:52:10 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/userGroups?project=i8awdxa5l529xhf719f5oovw15nvqtv7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:dPEoHTAjrkjaZemEgxaktg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:dPEoHTAjrkjaZemEgxaktg:t2k4TYZbqFkJdHI7
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"brJLpURxlQTWi6WD25JhcfQ","description":"My Test Description","domain":null,"project":"/gdc/projects/i8awdxa5l529xhf719f5oovw15nvqtv7"},"meta":{"created":"2019-01-21
        14:08:10","updated":"2019-01-21 14:08:10"},"links":{"self":"/gdc/userGroups/brJLpURxlQTWi6WD25JhcfQ","members":"/gdc/userGroups/brJLpURxlQTWi6WD25JhcfQ/members","modifyMembers":"/gdc/userGroups/brJLpURxlQTWi6WD25JhcfQ/modifyMembers"}}}]}}'
  recorded_at: Mon, 21 Jan 2019 13:08:33 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/userGroups?project=sdwkwk29ph7zjpmghs789uwzvi5ag6xb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:0Dc5HTY0aZ6FOsQgud3nwQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:0Dc5HTY0aZ6FOsQgud3nwQ:oRS6DNeWeGt8xdPw
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bnHPFF-GtBC43v0xJdXgQ9A","description":"My Test Description","domain":null,"project":"/gdc/projects/sdwkwk29ph7zjpmghs789uwzvi5ag6xb"},"meta":{"created":"2019-01-21
        14:08:19","updated":"2019-01-21 14:08:19"},"links":{"self":"/gdc/userGroups/bnHPFF-GtBC43v0xJdXgQ9A","members":"/gdc/userGroups/bnHPFF-GtBC43v0xJdXgQ9A/members","modifyMembers":"/gdc/userGroups/bnHPFF-GtBC43v0xJdXgQ9A/modifyMembers"}}}]}}'
  recorded_at: Mon, 21 Jan 2019 13:08:34 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/userGroups?project=nboeb66nif3x7fo0s05b7tc1zszhffnh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:kJ-n4fEmt9el8LzH3yBoCQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:kJ-n4fEmt9el8LzH3yBoCQ:hQsGhHa1kXZcUMUk"
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bS4kwfiy1ydpcYRLd-jYcIA","description":"My Test Description","domain":null,"project":"/gdc/projects/nboeb66nif3x7fo0s05b7tc1zszhffnh"},"meta":{"created":"2019-01-23
        16:38:44","updated":"2019-01-23 16:38:44"},"links":{"self":"/gdc/userGroups/bS4kwfiy1ydpcYRLd-jYcIA","members":"/gdc/userGroups/bS4kwfiy1ydpcYRLd-jYcIA/members","modifyMembers":"/gdc/userGroups/bS4kwfiy1ydpcYRLd-jYcIA/modifyMembers"}}}]}}'
  recorded_at: Wed, 23 Jan 2019 15:39:07 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/userGroups?project=mcx023blaz5uhdkqrwoz0v8qmvmdrspg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:MrhMbM5w58wqIS-WMakASg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:MrhMbM5w58wqIS-WMakASg:yNhfhrcAzUHg4KB9"
      X-Gdc-Request-Time:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bRBweQUd8ToFSpo30FavwxQ","description":"My Test Description","domain":null,"project":"/gdc/projects/mcx023blaz5uhdkqrwoz0v8qmvmdrspg"},"meta":{"created":"2019-01-23
        16:38:53","updated":"2019-01-23 16:38:53"},"links":{"self":"/gdc/userGroups/bRBweQUd8ToFSpo30FavwxQ","members":"/gdc/userGroups/bRBweQUd8ToFSpo30FavwxQ/members","modifyMembers":"/gdc/userGroups/bRBweQUd8ToFSpo30FavwxQ/modifyMembers"}}}]}}'
  recorded_at: Wed, 23 Jan 2019 15:39:08 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/userGroups?project=ljscabwf2rl5qevu3fhzgfr5a4jbqpbo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:w2SBhzYqMQrCKWQO0IXbuQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:w2SBhzYqMQrCKWQO0IXbuQ:dvVwMZRHQXveq0Sk"
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bd_2bSUF9JZ8C3DAMutgkzQ","description":"My Test Description","domain":null,"project":"/gdc/projects/ljscabwf2rl5qevu3fhzgfr5a4jbqpbo"},"meta":{"created":"2019-01-23
        19:05:57","updated":"2019-01-23 19:05:57"},"links":{"self":"/gdc/userGroups/bd_2bSUF9JZ8C3DAMutgkzQ","members":"/gdc/userGroups/bd_2bSUF9JZ8C3DAMutgkzQ/members","modifyMembers":"/gdc/userGroups/bd_2bSUF9JZ8C3DAMutgkzQ/modifyMembers"}}}]}}'
  recorded_at: Wed, 23 Jan 2019 18:06:20 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/userGroups?project=ej4wxtaaw6v814zc7ii89t2fvi9oq31k
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:sTzcjVfpYz_4VxBs5JaCyw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:sTzcjVfpYz_4VxBs5JaCyw:IsQQcAwpmlpSqkWx"
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bC0q0Y4VfmhucNEtoKJuxcw","description":"My Test Description","domain":null,"project":"/gdc/projects/ej4wxtaaw6v814zc7ii89t2fvi9oq31k"},"meta":{"created":"2019-01-23
        19:06:05","updated":"2019-01-23 19:06:05"},"links":{"self":"/gdc/userGroups/bC0q0Y4VfmhucNEtoKJuxcw","members":"/gdc/userGroups/bC0q0Y4VfmhucNEtoKJuxcw/members","modifyMembers":"/gdc/userGroups/bC0q0Y4VfmhucNEtoKJuxcw/modifyMembers"}}}]}}'
  recorded_at: Wed, 23 Jan 2019 18:06:20 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/userGroups?project=dcbv0uu7tkzqjjmsfmnrmtsal52m4fvj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:X07xu7yFGChUXpUxnAET1g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:X07xu7yFGChUXpUxnAET1g:ACVfxVTo1kSnRAup"
      X-Gdc-Request-Time:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bg6CqUTZpOE5TptCjekzVZQ","description":"My Test Description","domain":null,"project":"/gdc/projects/dcbv0uu7tkzqjjmsfmnrmtsal52m4fvj"},"meta":{"created":"2019-01-24
        13:32:04","updated":"2019-01-24 13:32:04"},"links":{"self":"/gdc/userGroups/bg6CqUTZpOE5TptCjekzVZQ","members":"/gdc/userGroups/bg6CqUTZpOE5TptCjekzVZQ/members","modifyMembers":"/gdc/userGroups/bg6CqUTZpOE5TptCjekzVZQ/modifyMembers"}}}]}}'
  recorded_at: Thu, 24 Jan 2019 12:32:32 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/userGroups?project=jkri4vm5habsqj9sbl4pazcta3xdlnfv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:PTXKWodY5Aad5SnPv7feHg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:PTXKWodY5Aad5SnPv7feHg:R5L9ulVswK4JFBPR"
      X-Gdc-Request-Time:
      - '16'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bJHbhbsqQYKOf_I9WnEW5_w","description":"My Test Description","domain":null,"project":"/gdc/projects/jkri4vm5habsqj9sbl4pazcta3xdlnfv"},"meta":{"created":"2019-01-24
        13:32:12","updated":"2019-01-24 13:32:12"},"links":{"self":"/gdc/userGroups/bJHbhbsqQYKOf_I9WnEW5_w","members":"/gdc/userGroups/bJHbhbsqQYKOf_I9WnEW5_w/members","modifyMembers":"/gdc/userGroups/bJHbhbsqQYKOf_I9WnEW5_w/modifyMembers"}}}]}}'
  recorded_at: Thu, 24 Jan 2019 12:32:32 GMT
recorded_with: VCR 4.0.0
