---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/projects/uvrfuxomutmx0whvvg6fme1ur98wyhnk/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:SKd5Drw07kMH4iAq5fJVwg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:SKd5Drw07kMH4iAq5fJVwg:grVVX6FuZVjWmOpM
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/uvrfuxomutmx0whvvg6fme1ur98wyhnk/schedules","items":[{"schedule":{"name":"main.rb","type":"MSETL","state":"DISABLED","params":{"param_1":"a","EXECUTABLE":"main.rb","param_2":"b","PROCESS_ID":"ce727ce1-9061-4486-9961-410cfee739ba"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/uvrfuxomutmx0whvvg6fme1ur98wyhnk/schedules/5c12528ae4b0e9d3950de8d4","executions":"/gdc/projects/uvrfuxomutmx0whvvg6fme1ur98wyhnk/schedules/5c12528ae4b0e9d3950de8d4/executions"},"triggerScheduleId":"5c125287e4b0e9d3950de8d3"}},{"schedule":{"name":"test.grf","type":"MSETL","state":"DISABLED","params":{"param_1":"a","EXECUTABLE":"graph/test.grf","param_2":"b","PROCESS_ID":"52ee0f46-943b-43d5-8581-3caeae4cc943"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2019-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/uvrfuxomutmx0whvvg6fme1ur98wyhnk/schedules/5c125287e4b0e9d3950de8d3","executions":"/gdc/projects/uvrfuxomutmx0whvvg6fme1ur98wyhnk/schedules/5c125287e4b0e9d3950de8d3/executions"}}}]}}'
  recorded_at: Thu, 13 Dec 2018 13:01:32 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/j2t2ojk91789vuczapl74a5z7w5rdtf3/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:VvKG4Y6FW9eLKCjNjEew4Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:VvKG4Y6FW9eLKCjNjEew4Q:OlybjAngPE6VtEDC
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/j2t2ojk91789vuczapl74a5z7w5rdtf3/schedules","items":[{"schedule":{"name":"main.rb","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"main.rb","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"21799b90-406c-43ce-85ce-cf5b2e3bb517"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/j2t2ojk91789vuczapl74a5z7w5rdtf3/schedules/5c1257dae4b0e9d3950de8de","executions":"/gdc/projects/j2t2ojk91789vuczapl74a5z7w5rdtf3/schedules/5c1257dae4b0e9d3950de8de/executions"},"triggerScheduleId":"5c1257d8e4b0e9d3950de8dd"}},{"schedule":{"name":"test.grf","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"graph/test.grf","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"756c00a8-3d04-4ebe-8bad-5812bb256f45"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2019-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/j2t2ojk91789vuczapl74a5z7w5rdtf3/schedules/5c1257d8e4b0e9d3950de8dd","executions":"/gdc/projects/j2t2ojk91789vuczapl74a5z7w5rdtf3/schedules/5c1257d8e4b0e9d3950de8dd/executions"}}}]}}'
  recorded_at: Thu, 13 Dec 2018 13:01:33 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/j6iz5gbg6nspq1mxo1newcu8d71t9ul7/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:wh1k-Pwgxm6pHLriytZjwQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applica[...]
