---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - KCCSJzDml4eTNZK18cMVtQ:dwqfp7FowVfJRRHaXGeoLQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - KCCSJzDml4eTNZK18cMVtQ:dwqfp7FowVfJRRHaXGeoLQ:SxorslGWy2w6KEJ1
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aad5RjdodnUC","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/380","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/382","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/392","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"posi[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/380
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - KCCSJzDml4eTNZK18cMVtQ:qCutiESuBeQj59Fmr5lC2w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - KCCSJzDml4eTNZK18cMVtQ:qCutiESuBeQj59Fmr5lC2w:36nII7oKs3dFN255
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"report":{"content":{"domains":[],"definitions":["/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/379"]},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/380","tags":"","created":"2018-12-11
        14:53:21","identifier":"report.customers.count.by.gender","deprecated":"0","summary":"","isProduction":1,"title":"Customers
        Count By Gender","category":"report","updated":"2018-12-11 14:53:23","contributor":"/gdc/account/profile/04848a0813ded971f3359f63d533c440"}}}'
  recorded_at: Tue, 11 Dec 2018 14:20:27 GMT
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/objects/query?category=report&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:LgXSBcxfOHd6yFzV-MVx7A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:LgXSBcxfOHd6yFzV-MVx7A:1dp9HsMzX3csq3Fp
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":4,"offset":0},"items":[{"report":{"content":{"domains":[],"definitions":["/gdc/md/uf3yirsfhhri8aolv[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/bayikhucb7im0ivwj239xwikd7xng768/objects/query?category=report&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:9N774zNjhgHSGepYii_ZDw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
   [...]
