---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/projects/hspavgwen70lfmb7e5miz8jeu1v7gei8/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":9T_8nX3xOHi4vkQaJF4n7Q:oWyhV0xRuPq-jWMNrU4iNA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":9T_8nX3xOHi4vkQaJF4n7Q:oWyhV0xRuPq-jWMNrU4iNA:t4NhvxkphkH4Zq4T"
      X-Gdc-Request-Time:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/hspavgwen70lfmb7e5miz8jeu1v7gei8/schedules","items":[{"schedule":{"name":"main.rb","type":"MSETL","state":"DISABLED","params":{"param_1":"a","EXECUTABLE":"main.rb","param_2":"b","PROCESS_ID":"ca956589-36e6-440d-bbd1-448360714be5"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/hspavgwen70lfmb7e5miz8jeu1v7gei8/schedules/5c6e73bfe4b080e255bb8010","executions":"/gdc/projects/hspavgwen70lfmb7e5miz8jeu1v7gei8/schedules/5c6e73bfe4b080e255bb8010/executions"},"triggerScheduleId":"5c6e73bce4b080e255bb800f"}},{"schedule":{"name":"test.grf","type":"MSETL","state":"DISABLED","params":{"param_1":"a","EXECUTABLE":"graph/test.grf","param_2":"b","PROCESS_ID":"646076e5-5031-41af-8e54-3f7e6181c369"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2019-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/hspavgwen70lfmb7e5miz8jeu1v7gei8/schedules/5c6e73bce4b080e255bb800f","executions":"/gdc/projects/hspavgwen70lfmb7e5miz8jeu1v7gei8/schedules/5c6e73bce4b080e255bb800f/executions"}}}]}}'
  recorded_at: Thu, 21 Feb 2019 10:08:41 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:bDIrRPkjlYRgaHUg_7tXsg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:bDIrRPkjlYRgaHUg_7tXsg:XyYZdz6VQl7J4nQN"
      X-Gdc-Request-Time:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/schedules","items":[{"schedule":{"name":"main.rb","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"main.rb","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"1809831c-6d68-4c77-b6a4-d850c19b95f9"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/schedules/5c6e7859e4b080e255bb801d","executions":"/gdc/projects/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/schedules/5c6e7859e4b080e255bb801d/executions"},"triggerScheduleId":"5c6e7856e4b080e255bb801c"}},{"schedule":{"name":"test.grf","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"graph/test.grf","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"08dd0922-d55f-4967-92d5-2c446f516b99"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2019-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/schedules/5c6e7856e4b080e255bb801c","executions":"/gdc/projects/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/schedules/5c6e7856e4b080e255bb801c/executions"}}}]}}'
  recorded_at: Thu, 21 Feb 2019 10:08:41 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/gpl0nb4m8qcnh6xr1gsy1vvskwxwm2z2/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:P5tDa4ht6MLMKvRVq-IkJQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
