---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/userGroups?project=uf3yirsfhhri8aolvopubymbe4ok8kaa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:bKb5dnOBTD9yY0owbmUMIg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:bKb5dnOBTD9yY0owbmUMIg:F6ptXmlwG7xcEEje
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bTmWkrSK03XQHyf8yTTQX3w","description":"My Test Description","domain":null,"project":"/gdc/projects/uf3yirsfhhri8aolvopubymbe4ok8kaa"},"meta":{"created":"2018-12-11
        15:19:16","updated":"2018-12-11 15:19:16"},"links":{"self":"/gdc/userGroups/bTmWkrSK03XQHyf8yTTQX3w","members":"/gdc/userGroups/bTmWkrSK03XQHyf8yTTQX3w/members","modifyMembers":"/gdc/userGroups/bTmWkrSK03XQHyf8yTTQX3w/modifyMembers"}}}]}}'
  recorded_at: Tue, 11 Dec 2018 14:19:51 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/userGroups?project=bayikhucb7im0ivwj239xwikd7xng768
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:nDDwygafzfMtRa0bclcHjw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:nDDwygafzfMtRa0bclcHjw:8rFxjOumpMGU6A9P
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"b6Ay-u4c0JxYSgE8zWvXoHg","description":"My Test Description","domain":null,"project":"/gdc/projects/bayikhucb7im0ivwj239xwikd7xng768"},"meta":{"created":"2018-12-11
        15:19:28","updated":"2018-12-11 15:19:28"},"links":{"self":"/gdc/userGroups/b6Ay-u4c0JxYSgE8zWvXoHg","members":"/gdc/userGroups/b6Ay-u4c0JxYSgE8zWvXoHg/members","modifyMembers":"/gdc/userGroups/b6Ay-u4c0JxYSgE8zWvXoHg/modifyMembers"}}}]}}'
  recorded_at: Tue, 11 Dec 2018 14:19:52 GMT
recorded_with: VCR 4.0.0
