---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:H3-Hcs-lN1f93KCerGgPZg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:H3-Hcs-lN1f93KCerGgPZg:8zjjrvasnFLnKQX7
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aaswN8vegPaB","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/380","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/382","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/392","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"posi[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/380
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:52CHyeTsNkJ1PmDGR62U1A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:52CHyeTsNkJ1PmDGR62U1A:8sG6H3B20zM4UoNX
      X-Gdc-Request-Time:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"report":{"content":{"domains":[],"definitions":["/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/379"]},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/380","tags":"","created":"2018-12-05
        15:02:49","identifier":"report.customers.count.by.gender","deprecated":"0","summary":"","isProduction":1,"title":"Customers
        Count By Gender","category":"report","updated":"2018-12-05 15:02:51","contributor":"/gdc/account/profile/04848a0813ded971f3359f63d533c440"}}}'
  recorded_at: Wed, 05 Dec 2018 14:25:28 GMT
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/objects/query?category=report&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:ADfXm2c1T6_vmbOVh-nHEQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:ADfXm2c1T6_vmbOVh-nHEQ:zleQZs7pLfgSRWE4
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":4,"offset":0},"items":[{"report":{"content":{"domains":[],"definitions":["/gdc/md/gtiufzo7uvdel9nos[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/au7qa5q0593nccshwe84ng6hk5v40hty/objects/query?category=report&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:iryEsqv4XLSA-frY7CSq0g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
   [...]
