---
http_interactions:
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.comp.my_computed_attr"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:FGiBUC4kVHOoHLRjHojhKg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:FGiBUC4kVHOoHLRjHojhKg:6YFMRQHpD3k7i2Zh
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.comp.my_computed_attr","uri":"/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/309"}]}'
  recorded_at: Tue, 11 Dec 2018 14:20:57 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/309
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:1AwDwp9baiMfsBMsEXrYXw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:1AwDwp9baiMfsBMsEXrYXw:ixe33VyORUjMsvWC
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"attribute":{"content":{"rel":["to {attr.csv_policies.state} as case
        when {metric.customers.count} <= 1000 then {attr.comp.my_computed_attr?\"Small\"},
        when {metric.customers.count} <= 2000 then {attr.comp.my_computed_attr?\"Medium\"},
        when {metric.customers.count} > 2000 then {attr.comp.my_computed_attr?\"Large\"}
        else {attr.comp.my_computed_attr?\"\"} end"],"drillDownStepAttributeDF":"/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/285","pk":[{"type":"col","data":"/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/101"}],"dimension":"/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/308","displayForms":[{"content":{"formOf":"/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/309","expression":"[/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/103]","default":1},"links":{"elements":"/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/310/elements"},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/310","tags":"","created":"2018-12-11
        15:14:54","identifier":"label.comp.my_computed_attr","deprecated":"0","summary":"","isProduction":1,"title":"Label.Comp.My
        Computed Attr","category":"attributeDisplayForm","updated":"2018-12-11 15:17:27","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/309","tags":"","created":"2018-12-11
        15:14:54","identifier":"attr.comp.my_computed_attr","deprecated":"0","summary":"","isProduction":1,"title":"My
        computed attribute","category":"attribute","updated":"2018-12-11 15:17:48","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Tue, 11 Dec 2018 14:20:58 GMT
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/285
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:eCBLZmUnxqvqDdlemTzlNA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:eCBLZmUnxqvqDdlemTzlNA:E72kxt6jfGCenmhn
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/284","expression":"[/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/88]","default":1},"links":{"elements":"/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/285/elements"},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/285","tags":"","created":"2018-12-11
        15:14:53","identifier":"label.csv_policies.customer","deprecated":"0","summary":"","isProduction":1,"title":"Customer","category":"attributeDisplayForm","updated":"2018-12-11
        15:17:27","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Tue, 11 Dec 2018 14:21:01 GMT
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/bayikhucb7im0ivwj239xwikd7xng768/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.comp.my_computed_attr"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:puOJsyfZVkq9H6ZjeLJMGg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:puOJsyfZVkq9H6ZjeLJMGg:t5RgpcAT7fYOS7ee
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.comp.my_computed_attr","uri":"/gdc/md/bayikhucb7im0ivwj239xwikd7xng768/obj/309"}]}'
  recorded_at: Tue, 11 Dec 2018 14:21:02 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/bayikhucb7im0ivwj239xwikd7xng768/obj/309
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:Y4RPqndl2KTSX7Z7L1y55A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/bayikhucb7im0ivwj239xwikd7xng768/obj/285
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:21HCg0nZsitOqJDlgGa3Tw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:21HCg0nZsitOqJDlgGa3Tw:N3A9TnRQ5GxWn49U
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/bayikhucb7im0ivwj239xwikd7xng768/obj/284","expression":"[/gdc/md/bayikhucb7im0ivwj239xwikd7xng768/obj/88]","default":1},"links":{"elements":"/gdc/md/bayikhucb7im0ivwj239xwikd7xng768/obj/285/elements"},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/bayikhucb7im0ivwj239xwikd7xng768/obj/285","tags":"","created":"2018-12-11
        15:15:16","identifier":"label.csv_policies.customer","deprecated":"0","summary":"","isProduction":1,"title":"Customer","category":"attributeDisplayForm","updated":"2018-12-11
        15:17:42","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Tue, 11 Dec 2018 14:21:04 GMT
recorded_with: VCR 4.0.0
