---
http_interactions:
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.comp.my_computed_attr"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:xjFWXSG3NP9TcxdzVvy8Kg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:xjFWXSG3NP9TcxdzVvy8Kg:ZLDFSUZIILUWA8IJ"
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.comp.my_computed_attr","uri":"/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/309"}]}'
  recorded_at: Thu, 21 Feb 2019 10:09:13 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/309
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:LeNgpaMvUSCz-4Ua_0W-qw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:LeNgpaMvUSCz-4Ua_0W-qw:ajC5NNKL89GLXsfs"
      X-Gdc-Request-Time:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"attribute":{"content":{"rel":["to {attr.csv_policies.state} as case
        when {metric.customers.count} <= 1000 then {attr.comp.my_computed_attr?\"Small\"},
        when {metric.customers.count} <= 2000 then {attr.comp.my_computed_attr?\"Medium\"},
        when {metric.customers.count} > 2000 then {attr.comp.my_computed_attr?\"Large\"}
        else {attr.comp.my_computed_attr?\"\"} end"],"drillDownStepAttributeDF":"/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/285","pk":[{"type":"col","data":"/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/101"}],"dimension":"/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/308","displayForms":[{"content":{"formOf":"/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/309","expression":"[/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/103]","default":1},"links":{"elements":"/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/310/elements"},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/310","tags":"","created":"2019-02-21
        11:04:05","identifier":"label.comp.my_computed_attr","deprecated":"0","summary":"","isProduction":1,"title":"Label.Comp.My
        Computed Attr","category":"attributeDisplayForm","updated":"2019-02-21 11:06:16","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/309","tags":"","created":"2019-02-21
        11:04:05","identifier":"attr.comp.my_computed_attr","deprecated":"0","summary":"","isProduction":1,"title":"My
        computed attribute","category":"attribute","updated":"2019-02-21 11:06:36","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Thu, 21 Feb 2019 10:09:14 GMT
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/285
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:Qdm-HbmGnloCoruDs-E6Bw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:Qdm-HbmGnloCoruDs-E6Bw:PeOyqZGZKGngtoXL"
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/284","expression":"[/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/88]","default":1},"links":{"elements":"/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/285/elements"},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/285","tags":"","created":"2019-02-21
        11:04:04","identifier":"label.csv_policies.customer","deprecated":"0","summary":"","isProduction":1,"title":"Customer","category":"attributeDisplayForm","updated":"2019-02-21
        11:06:16","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Thu, 21 Feb 2019 10:09:16 GMT
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/gpl0nb4m8qcnh6xr1gsy1vvskwxwm2z2/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.comp.my_computed_attr"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:4yTaLUaKtnIUA9RY56LrFA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:4yTaLUaKtnIUA9RY56LrFA:HpVor1fwxirErwhy"
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.comp.my_computed_attr","uri":"/gdc/md/gpl0nb4m8qcnh6xr1gsy1vvskwxwm2z2/obj/283"}]}'
  recorded_at: Thu, 21 Feb 2019 10:09:17 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/gpl0nb4m8qcnh6xr1gsy1vvskwxwm2z2/obj/283
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:Tty_WMlORLyEcpXR5z7heQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/gpl0nb4m8qcnh6xr1gsy1vvskwxwm2z2/obj/288
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:xg27osHbKcxCl1GHh5Tc5g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:xg27osHbKcxCl1GHh5Tc5g:gGyVnHjmlTbM0bWQ"
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/gpl0nb4m8qcnh6xr1gsy1vvskwxwm2z2/obj/287","expression":"[/gdc/md/gpl0nb4m8qcnh6xr1gsy1vvskwxwm2z2/obj/88]","default":1},"links":{"elements":"/gdc/md/gpl0nb4m8qcnh6xr1gsy1vvskwxwm2z2/obj/288/elements"},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/gpl0nb4m8qcnh6xr1gsy1vvskwxwm2z2/obj/288","tags":"","created":"2019-02-21
        11:04:24","identifier":"label.csv_policies.customer","deprecated":"0","summary":"","isProduction":1,"title":"Customer","category":"attributeDisplayForm","updated":"2019-02-21
        11:06:30","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Thu, 21 Feb 2019 10:09:20 GMT
recorded_with: VCR 4.0.0
