---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/projects/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:BTnowaezpBsEWm7wzjPsVA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:BTnowaezpBsEWm7wzjPsVA:gOMp7oCnC5ZPdnVf
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/schedules","items":[{"schedule":{"name":"main.rb","type":"MSETL","state":"DISABLED","params":{"param_1":"a","EXECUTABLE":"main.rb","param_2":"b","PROCESS_ID":"a36675a7-58c6-4cd7-833f-50343425d16c"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/schedules/5c07dad3e4b0523aa2a18682","executions":"/gdc/projects/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/schedules/5c07dad3e4b0523aa2a18682/executions"},"triggerScheduleId":"5c07dad0e4b0523aa2a18681"}},{"schedule":{"name":"test.grf","type":"MSETL","state":"DISABLED","params":{"param_1":"a","EXECUTABLE":"graph/test.grf","param_2":"b","PROCESS_ID":"d4db1f1b-3fe2-4d01-8d89-523450c1f326"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2019-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/schedules/5c07dad0e4b0523aa2a18681","executions":"/gdc/projects/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/schedules/5c07dad0e4b0523aa2a18681/executions"}}}]}}'
  recorded_at: Wed, 05 Dec 2018 14:25:22 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/gtiufzo7uvdel9nostoir4cszfymp9cz/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:ReVI0WunBBV2IpaZbJLHLw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:ReVI0WunBBV2IpaZbJLHLw:GtCs0m05sJiOKPMJ
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/gtiufzo7uvdel9nostoir4cszfymp9cz/schedules","items":[{"schedule":{"name":"main.rb","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"main.rb","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"ccd82556-18f5-4d2b-be78-884c8a5add0f"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/gtiufzo7uvdel9nostoir4cszfymp9cz/schedules/5c07df71e4b0523aa2a1868e","executions":"/gdc/projects/gtiufzo7uvdel9nostoir4cszfymp9cz/schedules/5c07df71e4b0523aa2a1868e/executions"},"triggerScheduleId":"5c07df6fe4b0523aa2a1868d"}},{"schedule":{"name":"test.grf","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"graph/test.grf","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"e5e19a06-9bc2-432f-bef7-251eadc19c38"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2019-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/gtiufzo7uvdel9nostoir4cszfymp9cz/schedules/5c07df6fe4b0523aa2a1868d","executions":"/gdc/projects/gtiufzo7uvdel9nostoir4cszfymp9cz/schedules/5c07df6fe4b0523aa2a1868d/executions"}}}]}}'
  recorded_at: Wed, 05 Dec 2018 14:25:23 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/au7qa5q0593nccshwe84ng6hk5v40hty/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:7lODys46RwXFjzGqlfre5w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applica[...]
