---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-dev.intgdc.com/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:kS9Mvaj3W6-Efmghw4JDIw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:kS9Mvaj3W6-Efmghw4JDIw:n1ihhxboilUEOVas"
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aac9ZeDKgyVm","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/380","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/382","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/392","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"posi[...]
- request:
    method: get
    uri: https://staging2-lcm-dev.intgdc.com/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/380
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:_BKD8ScnHG5IBWWtO_WvhQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:_BKD8ScnHG5IBWWtO_WvhQ:7GBkCdlmFbEwLWeF"
      X-Gdc-Request-Time:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"report":{"content":{"domains":[],"definitions":["/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/379"]},"meta":{"author":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0","uri":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/380","tags":"","created":"2019-04-18
        14:35:07","identifier":"report.customers.count.by.gender","deprecated":"0","summary":"","isProduction":1,"title":"Customers
        Count By Gender","category":"report","updated":"2019-04-18 14:35:08","contributor":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0"}}}'
  recorded_at: Thu, 18 Apr 2019 13:00:42 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-dev.intgdc.com/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/379
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:_oJjeYaFlEXIzjtyAAsjlQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:_oJjeYaFlEXIzjtyAAsjlQ:gafHUN5MHaDv5u7y"
      X-Gdc-Request-Time:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[{"attribute":{"alias":"","totals":[[]],"uri":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/289"}}],"metrics":[{"alias":"Customers
        Count","uri":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/365"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"links":{"explain2":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/379/explain2"},"meta":{"author":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0","uri":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/379","tags":"","created":"2019-04-18
        14:35:05","identifier":"aae9XDwAhiPM","deprecated":"0","summary":"","isProduction":1,"title":"Untitled
        report definition","category":"reportDefinition","updated":"2019-04-18 14:35:05","contributor":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0"}}}'
  recorded_at: Thu, 18 Apr 2019 13:00:51 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-dev.intgdc.com/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/365
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:XC94W4eRQheSs5fATmR-rg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:XC94W4eRQheSs5fATmR-rg:ggn4T1CC8OHlafoU"
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"COUNT","content":[{"value":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/277","position":{"column":27,"line":1},"type":"attribute
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        COUNT([/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/277])"},"links":{"explain2":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/365/explain2"},"meta":{"author":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0","uri":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/365","tags":"","created":"2019-04-18
        14:34:43","identifier":"metric.customers.count","deprecated":"0","summary":"","isProduction":1,"title":"Customers
        Count","category":"metric","updated":"2019-04-18 14:34:44","contributor":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0"}}}'
  recorded_at: Thu, 18 Apr 2019 13:00:55 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-dev.intgdc.com/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:dpEBNNLpJ953Z89r4z3zVw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-G[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:NCNDKmxALT2Bza1Ibc8KjA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m5sam0e9tjgghtstn5re30se45kioqmt/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:Ez2WpbFIZdC60UE37TvX7A"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-[...]
