---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/userGroups?project=gtiufzo7uvdel9nostoir4cszfymp9cz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:tKv5YBzHU9XvDVEHuJMR8A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:tKv5YBzHU9XvDVEHuJMR8A:TA3yzhpOqGUtyBGt
      X-Gdc-Request-Time:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bgJ5yDh0dVumHIQY0SjvCrQ","description":"My Test Description","domain":null,"project":"/gdc/projects/gtiufzo7uvdel9nostoir4cszfymp9cz"},"meta":{"created":"2018-12-05
        15:24:07","updated":"2018-12-05 15:24:07"},"links":{"self":"/gdc/userGroups/bgJ5yDh0dVumHIQY0SjvCrQ","members":"/gdc/userGroups/bgJ5yDh0dVumHIQY0SjvCrQ/members","modifyMembers":"/gdc/userGroups/bgJ5yDh0dVumHIQY0SjvCrQ/modifyMembers"}}}]}}'
  recorded_at: Wed, 05 Dec 2018 14:24:50 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/userGroups?project=au7qa5q0593nccshwe84ng6hk5v40hty
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:6AN5JzqpxJyPXQHBZ_3LSA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:6AN5JzqpxJyPXQHBZ_3LSA:ZTB76SVr07xI0Tjk
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bGtJ-TjXrvH03Hr9lrSp3ew","description":"My Test Description","domain":null,"project":"/gdc/projects/au7qa5q0593nccshwe84ng6hk5v40hty"},"meta":{"created":"2018-12-05
        15:24:23","updated":"2018-12-05 15:24:23"},"links":{"self":"/gdc/userGroups/bGtJ-TjXrvH03Hr9lrSp3ew","members":"/gdc/userGroups/bGtJ-TjXrvH03Hr9lrSp3ew/members","modifyMembers":"/gdc/userGroups/bGtJ-TjXrvH03Hr9lrSp3ew/modifyMembers"}}}]}}'
  recorded_at: Wed, 05 Dec 2018 14:24:51 GMT
recorded_with: VCR 4.0.0
