---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:FwHlLbyQ6PidYwHu8RPzZg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:FwHlLbyQ6PidYwHu8RPzZg:ayeHPwCYLol8DlwA
      X-Gdc-Request-Time:
      - '366'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":32,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/130"}],"displayForms":[],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/264","sort":"pk","dimension":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/111","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/178"},{"multivalue":false,"type":"col","data":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/186"},{"multivalue":false,"type":"col","data":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/201"}]},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/214","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"effective_to_date.year","deprecated":"0","summary":"Year","isProduction":1,"title":"Year
        (Effective To Date)","category":"attribute","updated":"2018-12-05 15:00:45","contributor":"/gdc/account/profile/04848a0813ded971f3359f63d533c440"}}},{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/132"}],"displayForms":[{"content":{"formOf":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/215","expression":"[/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/133]","default":1},"links":{"elements":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/233/elements"},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/233","tags":"","created":"2010-08-02
        08:13:42","identifier":"effective_to_date.aam81lMifn6q","deprecated":"0","summary":"DisplayForm
        default.","isProduction":1,"title":"default (Effective To Date)","category":"attributeDisplayForm","updated":"2018-12-05
        15:00:45","contributor":"/gdc/accoun[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:j6AacZj9XZFdiEUrqjy-pQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:j6AacZj9XZFdiEUrqjy-pQ:JdNW56T33VNcRHqh
      X-Gdc-Request-Time:
      - '307'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":32,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/gtiufzo7uvdel[...]
