---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=j2tzl8cmbome4ugne2mhli9wj9pmd9w6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:C1SurQjvelRMSZ5JqT4Ykw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:C1SurQjvelRMSZ5JqT4Ykw:93rPb8kmkFr7uOcR"
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bhydrvWXJCox_UhAo9dgXjg","description":"My Test Description","domain":null,"project":"/gdc/projects/j2tzl8cmbome4ugne2mhli9wj9pmd9w6"},"meta":{"created":"2019-04-18
        14:59:28","updated":"2019-04-18 14:59:28"},"links":{"self":"/gdc/userGroups/bhydrvWXJCox_UhAo9dgXjg","members":"/gdc/userGroups/bhydrvWXJCox_UhAo9dgXjg/members","modifyMembers":"/gdc/userGroups/bhydrvWXJCox_UhAo9dgXjg/modifyMembers"}}}]}}'
  recorded_at: Thu, 18 Apr 2019 12:59:54 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=m5sam0e9tjgghtstn5re30se45kioqmt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:9EVjWCSsCmRHnIRX7uBH8g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:9EVjWCSsCmRHnIRX7uBH8g:2S0gPxb4d1RI3xHx"
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bO9BNenHLi30K4blNGcMV8w","description":"My Test Description","domain":null,"project":"/gdc/projects/m5sam0e9tjgghtstn5re30se45kioqmt"},"meta":{"created":"2019-04-18
        14:59:37","updated":"2019-04-18 14:59:37"},"links":{"self":"/gdc/userGroups/bO9BNenHLi30K4blNGcMV8w","members":"/gdc/userGroups/bO9BNenHLi30K4blNGcMV8w/members","modifyMembers":"/gdc/userGroups/bO9BNenHLi30K4blNGcMV8w/modifyMembers"}}}]}}'
  recorded_at: Thu, 18 Apr 2019 12:59:55 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=iyb4vlj6tc9wszpes4ybg6eds36dx4xu
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:6TVkJrs3XFUlZQxq0O5A1g"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '22'
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:6TVkJrs3XFUlZQxq0O5A1g:OGlqlOFmTY6GRpRv"
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bW99bYzHcXAOEd8Sj4RFYnQ","description":"My Test Description","domain":null,"project":"/gdc/projects/iyb4vlj6tc9wszpes4ybg6eds36dx4xu"},"meta":{"created":"2020-05-07
        13:20:33","updated":"2020-05-07 13:20:33"},"links":{"self":"/gdc/userGroups/bW99bYzHcXAOEd8Sj4RFYnQ","members":"/gdc/userGroups/bW99bYzHcXAOEd8Sj4RFYnQ/members","modifyMembers":"/gdc/userGroups/bW99bYzHcXAOEd8Sj4RFYnQ/modifyMembers"}}}]}}'
  recorded_at: Thu, 07 May 2020 11:21:10 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=qfmk2k8ilygcobsdct54w216ir2oaix5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:eym0J8kUVZld23ipWEPVSA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '22'
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:eym0J8kUVZld23ipWEPVSA:WZfiWJXO3RgGMmqg"
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"b_MdieGZ11zSPqbr3ePIqwQ","description":"My Test Description","domain":null,"project":"/gdc/projects/qfmk2k8ilygcobsdct54w216ir2oaix5"},"meta":{"created":"2020-05-07
        13:20:47","updated":"2020-05-07 13:20:47"},"links":{"self":"/gdc/userGroups/b_MdieGZ11zSPqbr3ePIqwQ","members":"/gdc/userGroups/b_MdieGZ11zSPqbr3ePIqwQ/members","modifyMembers":"/gdc/userGroups/b_MdieGZ11zSPqbr3ePIqwQ/modifyMembers"}}}]}}'
  recorded_at: Thu, 07 May 2020 11:21:11 GMT
recorded_with: VCR 5.1.0
