---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/projects/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:oMy3SBVxH_htGIyJ3mr7Ag
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - GoodData realm="GoodData API" cookie=GDCAuthTT
      Content-Type:
      - application/json; charset=utf-8
      X-Gdc-Request-Time:
      - '1'
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:oMy3SBVxH_htGIyJ3mr7Ag:2qzPLwP0O6Ocv6y5
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "error": {
                "code": 401,
                "message": "Authorization Required",
                "description": "This server could not verify that you are authorized to access the document requested. Either you supplied the wrong credentials (e.g., bad password), or your browser doesn't understand how to supply the credentials required",
                "links": {
                    "documentation": "https://help.gooddata.com/display/developer/API+Reference#/reference/authentication/log-in"
                }
            }
        }
  recorded_at: Wed, 05 Dec 2018 14:24:44 GMT
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:TtI0U1_tkFusrgbrg-zZ3g
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:TtI0U1_tkFusrgbrg-zZ3g:iuj0iSivrNiZxjd7
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 05 Dec 2018 14:24:45 GMT
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/projects/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:oMy3SBVxH_htGIyJ3mr7Ag
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:oMy3SBVxH_htGIyJ3mr7Ag:cGAxlKgmtCLSJLUn
      X-Gdc-Request-Time:
      - '96'
    body:
      encoding: ASCII-8BIT
      string: '{"processes":{"items":[{"process":{"type":"GRAPH","name":"Simple CloudConnect
        Process","graphs":["graph/test.grf"],"executables":["graph/test.grf"],"lastDeployed":"2018-12-05T14:03:58.718Z","ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/dataload/processes/d4db1f1b-3fe2-4d01-8d89-523450c1f326","executions":"/gdc/projects/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/dataload/processes/d4db1f1b-3fe2-4d01-8d89-523450c1f326/executions","source":"/gdc/projects/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/dataload/processes/d4db1f1b-3fe2-4d01-8d89-523450c1f326/source"}}},{"process":{"type":"RUBY","name":"Simple
        Ruby Process","path":"${PUBLIC_APPSTORE}:branch/master:/apps/hello_world_brick","graphs":["main.rb"],"executables":["main.rb"],"lastDeployed":"2018-12-05T14:04:02.291Z","ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/dataload/processes/a36675a7-58c6-4cd7-833f-50343425d16c","executions":"/gdc/projects/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/dataload/processes/a36675a7-58c6-4cd7-833f-50343425d16c/executions","source":"/gdc/projects/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/dataload/processes/a36675a7-58c6-4cd7-833f-50343425d16c/source"}}},{"process":{"type":"ETL","name":"lcm-end-to-end-csv-download","graphs":[],"executables":[],"lastDeployed":"2018-12-05T14:04:08.436Z","ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/dataload/processes/9d7a699c-e27b-4456-8ab9-e4870a060a73","executions":"/gdc/projects/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/dataload/processes/9d7a699c-e27b-4456-8ab9-e4870a060a73/executions","source":"/gdc/projects/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/dataload/processes/9d7a699c-e27b-4456-8ab9-e4870a060a73/source"},"component":{"name":"gdc-etl-csv-downloader","version":"1","configLocation":{"s3":{"path":"s3://s3_bucket/s3_folder/","accessKey":"s3_access_key","serverSideEncryption":true}}}}},{"process":{"type":"ETL","name":"lcm-end-to-end-sql-exec","graphs":[],"executables":[],"lastDeployed":"2018-12-05T14:04:07.149Z","ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/dataload/processes/cfbd5465-915a-4e73-a05d-6bbf10b3aa1e","executions":"/gdc/projects/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/dataload/processes/cfbd5465-915a-4e73-a05d-6bbf10b3aa1e/executions","source":"/gdc/projects/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/dataload/processes/cfbd5465-915a-4e73-a05d-6bbf10b3aa1e/source"},"component":{"name":"gdc-etl-sql-executor","version":"1"}}}],"links":{"self":"/gdc/projects/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/dataload/processes"}}}'
  recorded_at: Wed, 05 Dec 2018 14:24:46 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/gtiufzo7uvdel9nostoir4cszfymp9cz/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:rq6oPbPo3tunMwztLIDt8A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:rq6oPbPo3tunMwztLIDt8A:vzrdXBTQz9gmXwCv
      X-Gdc-Request-Time:
      - '77'
    body:
      encoding: ASCII-8BIT
      string: '{"processes":{"items":[{"process":{"type":"GRAPH","name":"Simple CloudConnect
        Process","graphs":["graph/test.grf"],"execu[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/au7qa5q0593nccshwe84ng6hk5v40hty/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:-FB3jJU0dv3K_9ubOVEMNQ
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - GoodData realm="GoodData API" cookie=GDCAuthTT
      Content-Type:
      - application/json; charset=utf-8
      X-Gdc-Request-Time:
      - '1'
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:-FB3jJU0dv3K_9ubOVEMNQ:7aP82qN5twnQmnmK
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "error": {
                "code": 401,
                "message": "Authorization Required",
                "description": "This server could not verify that you are authorized to access the document requested. Either you supplied the wrong credentials (e.g., bad password), or your browser doesn't understand how to supply the credentials required",
                "links": {
                    "documentation": "https://help.gooddata.com/display/developer/API+Reference#/reference/authentication/log-in"
                }
            }
        }
  recorded_at: Wed, 05 Dec 2018 14:24:47 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:wJupF2MZATtjM9ZtS4Oreg
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:wJupF2MZATtjM9ZtS4Oreg:S3zT1yYyTjkI6Pg8
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 05 Dec 2018 14:24:48 GMT
[...]
