---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-dev.intgdc.com/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:S6P-WKpvTM6VcYbQh6yk0g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:S6P-WKpvTM6VcYbQh6yk0g:65H95mwccRELV5Zz"
      X-Gdc-Request-Time:
      - '420'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":32,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/130"}],"displayForms":[],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/264","sort":"pk","dimension":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/111","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/178"},{"multivalue":false,"type":"col","data":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/186"},{"multivalue":false,"type":"col","data":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/201"}]},"meta":{"author":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0","uri":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/214","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"effective_to_date.year","deprecated":"0","summary":"Year","isProduction":1,"title":"Year
        (Effective To Date)","category":"attribute","updated":"2019-04-18 14:33:06","contributor":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0"}}},{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/132"}],"displayForms":[{"content":{"formOf":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/215","expression":"[/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/133]","default":1},"links":{"elements":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/233/elements"},"meta":{"author":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0","uri":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/233","tags":"","created":"2010-08-02
        08:13:42","identifier":"effective_to_date.aam81lMifn6q","deprecated":"0","summary":"DisplayForm
        default.","isProduction":1,"title":"default (Effective To Date)","category":"attributeDisplayForm","updated":"2019-04-18
        14:33:06","contributor":"/gdc/accoun[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:esULEmFR8Nx8QBNOsNT8Zg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
     [...]
- request:
    method: get
    uri: https://staging2-lcm-dev.intgdc.com/gdc/md/emu1iycdzzkzc78ynfrbhk7hr2km3n6w/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":3cZr_20ED6RmURmqSsVX8g:T4x-F_RvDMaLk4mmLn1SVA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '405'
      X-Gdc-Request:
      - ":3cZr_20ED6RmURmqSsVX8g:T4x-F_RvDMaLk4mmLn1SVA:KPQtbdnVIGCK3zbo"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":32,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/emu1iycdzzkzc78ynfrb[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/iyb4vlj6tc9wszpes4ybg6eds36dx4xu/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:sEAIMQk3P0qdM2hzgctu8Q"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
   [...]
