---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:GygAU4fHxiRL3MOKJhSAaA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:GygAU4fHxiRL3MOKJhSAaA:1p54eAnqfZ4Sz4z2
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aaohee2Gaktn","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/380","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/382","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/392","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"posi[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/380
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:DE4Rk_JbHP_MXWNmyE6PMQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:DE4Rk_JbHP_MXWNmyE6PMQ:2hL6w0fZrb2yxOsH
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"report":{"content":{"domains":[],"definitions":["/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/379"]},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/380","tags":"","created":"2018-12-13
        13:35:58","identifier":"report.customers.count.by.gender","deprecated":"0","summary":"","isProduction":1,"title":"Customers
        Count By Gender","category":"report","updated":"2018-12-13 13:36:00","contributor":"/gdc/account/profile/04848a0813ded971f3359f63d533c440"}}}'
  recorded_at: Thu, 13 Dec 2018 13:01:48 GMT
[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/379
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:kSFo6I83GY7spoBtMLZEHg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:kSFo6I83GY7spoBtMLZEHg:J6qH8oPnbAHD8R0n
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[{"attribute":{"alias":"","totals":[[]],"uri":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/289"}}],"metrics":[{"alias":"Customers
        Count","uri":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/365"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"links":{"explain2":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/379/explain2"},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/379","tags":"","created":"2018-12-13
        13:35:57","identifier":"aaChdX1nhVEK","deprecated":"0","summary":"","isProduction":1,"title":"Untitled
        report definition","category":"reportDefinition","updated":"2018-12-13 13:35:57","contributor":"/gdc/account/profile/04848a0813ded971f3359f63d533c440"}}}'
  recorded_at: Thu, 13 Dec 2018 13:01:57 GMT
[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/365
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:3JcwdFUd5mwI-zVD-LkRyQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:3JcwdFUd5mwI-zVD-LkRyQ:HGB7IoYsGHQ1RIjJ
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"COUNT","content":[{"value":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/277","position":{"column":27,"line":1},"type":"attribute
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        COUNT([/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/277])"},"links":{"explain2":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/365/explain2"},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/365","tags":"","created":"2018-12-13
        13:35:31","identifier":"metric.customers.count","deprecated":"0","summary":"","isProduction":1,"title":"Customers
        Count","category":"metric","updated":"2018-12-13 13:35:32","contributor":"/gdc/account/profile/04848a0813ded971f3359f63d533c440"}}}'
  recorded_at: Thu, 13 Dec 2018 13:02:00 GMT
[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:Ju-mRTD0vziLqZ4-7TVJsg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
    [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:vuYn8FLJSwtx-Yyf2qGUKQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:vuYn8FLJSwtx-Yyf2qGUKQ:vR2yDQJrT2JReBKR
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":3,"offset":0},"items":[{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"valu[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/j6iz5gbg6nspq1mxo1newcu8d71t9ul7/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:FAmFMV5iKyGTW4FYlqOkMQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
   [...]
