---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.comp.my_computed_attr"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:CE4KpSQN1uIe_mhQyDa6jQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:CE4KpSQN1uIe_mhQyDa6jQ:5VFGCQAPwZ15C4SN"
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.comp.my_computed_attr","uri":"/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/obj/309"}]}'
  recorded_at: Thu, 18 Apr 2019 13:00:59 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/obj/309
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:KcVo4AXOoFhgcoumheJiBQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:KcVo4AXOoFhgcoumheJiBQ:VMmyYO301SiO2PIE"
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"attribute":{"content":{"rel":["to {attr.csv_policies.state} as case
        when {metric.customers.count} <= 1000 then {attr.comp.my_computed_attr?\"Small\"},
        when {metric.customers.count} <= 2000 then {attr.comp.my_computed_attr?\"Medium\"},
        when {metric.customers.count} > 2000 then {attr.comp.my_computed_attr?\"Large\"}
        else {attr.comp.my_computed_attr?\"\"} end"],"drillDownStepAttributeDF":"/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/obj/285","pk":[{"type":"col","data":"/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/obj/101"}],"dimension":"/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/obj/308","displayForms":[{"content":{"formOf":"/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/obj/309","expression":"[/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/obj/103]","default":1},"links":{"elements":"/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/obj/310/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/obj/310","tags":"","created":"2019-04-18
        14:56:02","identifier":"label.comp.my_computed_attr","deprecated":"0","summary":"","isProduction":1,"title":"Label.Comp.My
        Computed Attr","category":"attributeDisplayForm","updated":"2019-04-18 14:58:04","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/obj/309","tags":"","created":"2019-04-18
        14:56:02","identifier":"attr.comp.my_computed_attr","deprecated":"0","summary":"","isProduction":1,"title":"My
        computed attribute","category":"attribute","updated":"2019-04-18 14:58:28","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 18 Apr 2019 13:01:00 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/obj/285
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:gLvKZGR-Zjbjvk_moFYChA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:gLvKZGR-Zjbjvk_moFYChA:WRWfLZqFYhJV2LZL"
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/obj/284","expression":"[/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/obj/88]","default":1},"links":{"elements":"/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/obj/285/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/obj/285","tags":"","created":"2019-04-18
        14:56:01","identifier":"label.csv_policies.customer","deprecated":"0","summary":"","isProduction":1,"title":"Customer","category":"attributeDisplayForm","updated":"2019-04-18
        14:58:04","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 18 Apr 2019 13:01:04 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m5sam0e9tjgghtstn5re30se45kioqmt/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.comp.my_computed_attr"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:p_uW_Tjw0ssWKdJQ7BbTJQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:p_uW_Tjw0ssWKdJQ7BbTJQ:O148rgo7EsbKE04p"
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.comp.my_computed_attr","uri":"/gdc/md/m5sam0e9tjgghtstn5re30se45kioqmt/obj/309"}]}'
  recorded_at: Thu, 18 Apr 2019 13:01:04 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m5sam0e9tjgghtstn5re30se45kioqmt/obj/309
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:KgdNWDE5pTYeUiqc-RAcXw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/iyb4vlj6tc9wszpes4ybg6eds36dx4xu/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.comp.my_computed_attr"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:3FEoO4r4H1L_3Q55xwf38w"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '27'
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:3FEoO4r4H1L_3Q55xwf38w:eqMWEWseUlXGUEsO"
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.comp.my_computed_attr","uri":"/gdc/md/iyb4vlj6tc9wszpes4ybg6eds36dx4xu/obj/313"}]}'
  recorded_at: Thu, 07 May 2020 11:22:35 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/iyb4vlj6tc9wszpes4ybg6eds36dx4xu/obj/313
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:AUtLIZPV7fWL7uR3siAy4A"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/qfmk2k8ilygcobsdct54w216ir2oaix5/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.comp.my_computed_attr"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:Z9NohpjEBeOKIv1C-XaeXg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '29'
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:Z9NohpjEBeOKIv1C-XaeXg:eY7RG2ke24Pia2KV"
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.comp.my_computed_attr","uri":"/gdc/md/qfmk2k8ilygcobsdct54w216ir2oaix5/obj/287"}]}'
  recorded_at: Thu, 07 May 2020 11:22:40 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/qfmk2k8ilygcobsdct54w216ir2oaix5/obj/287
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:159jU1u3FDeTOv_ExBObwg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log[...]
[...]
