---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/projects/yqcgvjsi52nw1tq970rnd13y9ygrt680/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - KCCSJzDml4eTNZK18cMVtQ:c5jbFgp_sRTT8uxtm5RntQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - KCCSJzDml4eTNZK18cMVtQ:c5jbFgp_sRTT8uxtm5RntQ:kzgPrbfwWFwVCuwY
      X-Gdc-Request-Time:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/yqcgvjsi52nw1tq970rnd13y9ygrt680/schedules","items":[{"schedule":{"name":"main.rb","type":"MSETL","state":"DISABLED","params":{"param_1":"a","EXECUTABLE":"main.rb","param_2":"b","PROCESS_ID":"6b3541b5-571c-4eeb-805b-1abb800c57f8"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/yqcgvjsi52nw1tq970rnd13y9ygrt680/schedules/5c0fc1a4e4b00d3d558cf718","executions":"/gdc/projects/yqcgvjsi52nw1tq970rnd13y9ygrt680/schedules/5c0fc1a4e4b00d3d558cf718/executions"},"triggerScheduleId":"5c0fc1a0e4b00d3d558cf717"}},{"schedule":{"name":"test.grf","type":"MSETL","state":"DISABLED","params":{"param_1":"a","EXECUTABLE":"graph/test.grf","param_2":"b","PROCESS_ID":"c207f4bf-633f-48c7-8b62-54c8eca85a98"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2019-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/yqcgvjsi52nw1tq970rnd13y9ygrt680/schedules/5c0fc1a0e4b00d3d558cf717","executions":"/gdc/projects/yqcgvjsi52nw1tq970rnd13y9ygrt680/schedules/5c0fc1a0e4b00d3d558cf717/executions"}}}]}}'
  recorded_at: Tue, 11 Dec 2018 14:20:20 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/uf3yirsfhhri8aolvopubymbe4ok8kaa/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:b50-GGov3kFaMNo3sw3Hmw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:b50-GGov3kFaMNo3sw3Hmw:um6GPBsIP3gkgKHm
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/uf3yirsfhhri8aolvopubymbe4ok8kaa/schedules","items":[{"schedule":{"name":"main.rb","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"main.rb","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"aee82083-065b-4cbe-9c53-5e0b7905fa5f"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/uf3yirsfhhri8aolvopubymbe4ok8kaa/schedules/5c0fc749e4b00d3d558cf731","executions":"/gdc/projects/uf3yirsfhhri8aolvopubymbe4ok8kaa/schedules/5c0fc749e4b00d3d558cf731/executions"},"triggerScheduleId":"5c0fc745e4b00d3d558cf730"}},{"schedule":{"name":"test.grf","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"graph/test.grf","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"015ce1ed-1398-4dca-bb15-fe709a4c624c"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2019-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/uf3yirsfhhri8aolvopubymbe4ok8kaa/schedules/5c0fc745e4b00d3d558cf730","executions":"/gdc/projects/uf3yirsfhhri8aolvopubymbe4ok8kaa/schedules/5c0fc745e4b00d3d558cf730/executions"}}}]}}'
  recorded_at: Tue, 11 Dec 2018 14:20:21 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/bayikhucb7im0ivwj239xwikd7xng768/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:VrwRAqrq1INOwaDNCeYNtQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applica[...]
