---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/userGroups?project=j2t2ojk91789vuczapl74a5z7w5rdtf3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:kEJKEJzegbaGteRWusUdJA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:kEJKEJzegbaGteRWusUdJA:fUY8XL7HA5it7EnH
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bPOCcNXEceUKzZO0DcTzfYA","description":"My Test Description","domain":null,"project":"/gdc/projects/j2t2ojk91789vuczapl74a5z7w5rdtf3"},"meta":{"created":"2018-12-13
        14:00:36","updated":"2018-12-13 14:00:36"},"links":{"self":"/gdc/userGroups/bPOCcNXEceUKzZO0DcTzfYA","members":"/gdc/userGroups/bPOCcNXEceUKzZO0DcTzfYA/members","modifyMembers":"/gdc/userGroups/bPOCcNXEceUKzZO0DcTzfYA/modifyMembers"}}}]}}'
  recorded_at: Thu, 13 Dec 2018 13:01:05 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/userGroups?project=j6iz5gbg6nspq1mxo1newcu8d71t9ul7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:PpNez9M6VunidyVbrHLIsg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:PpNez9M6VunidyVbrHLIsg:o3PezcH8JVVLpZAx
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bon3sTACryj6vfRgnVDzfGA","description":"My Test Description","domain":null,"project":"/gdc/projects/j6iz5gbg6nspq1mxo1newcu8d71t9ul7"},"meta":{"created":"2018-12-13
        14:00:46","updated":"2018-12-13 14:00:46"},"links":{"self":"/gdc/userGroups/bon3sTACryj6vfRgnVDzfGA","members":"/gdc/userGroups/bon3sTACryj6vfRgnVDzfGA/members","modifyMembers":"/gdc/userGroups/bon3sTACryj6vfRgnVDzfGA/modifyMembers"}}}]}}'
  recorded_at: Thu, 13 Dec 2018 13:01:05 GMT
recorded_with: VCR 4.0.0
