---
http_interactions:
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:-mrvq3ej4AO08j-42ZQv4w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:-mrvq3ej4AO08j-42ZQv4w:GG7HayDAkNIwUicx
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/115"}]}'
  recorded_at: Thu, 13 Dec 2018 13:01:23 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:YIfdfgtK4S8nZRU5oG9oqA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:YIfdfgtK4S8nZRU5oG9oqA:MyhJiNb9yB18WP5r
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"dataSet":{"content":{"mode":"","facts":["/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/312","/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/313","/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/314","/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/315"],"dataLoadingColumns":["/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/92","/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/94","/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/87","/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/89","/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/77","/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/79","/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/72","/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/74","/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/97","/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/99"[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:wc_afBbeAZh1oSRBlKK1Rg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:wc_afBbeAZh1oSRBlKK1Rg:dZoUvIaSDxX4uBkq
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/311"],"expr":[{"type":"col","data":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/38"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/312","tags":"fact","created":"2018-12-13
        13:56:42","identifier":"fact.csv_policies.customer_lifetime_value.renamed","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2018-12-13 13:59:06","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Thu, 13 Dec 2018 13:01:25 GMT
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/j6iz5gbg6nspq1mxo1newcu8d71t9ul7/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:JSYPOYFpB0CB1qiSkTLMsw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:JSYPOYFpB0CB1qiSkTLMsw:Rj0nvBZ7T8jTn4pr
      X-Gdc-Request-Time:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/j6iz5gbg6nspq1mxo1newcu8d71t9ul7/obj/115"}]}'
  recorded_at: Thu, 13 Dec 2018 13:01:26 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/j6iz5gbg6nspq1mxo1newcu8d71t9ul7/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:EXT_aawW2Gx7CN9n6F8jBQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/j6iz5gbg6nspq1mxo1newcu8d71t9ul7/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:CZOYtMRWRT102OtTre36XQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:CZOYtMRWRT102OtTre36XQ:Xe7C1x3w5620Ci45
      X-Gdc-Request-Time:
      - '61'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/j6iz5gbg6nspq1mxo1newcu8d71t9ul7/obj/311"],"expr":[{"type":"col","data":"/gdc/md/j6iz5gbg6nspq1mxo1newcu8d71t9ul7/obj/38"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/j6iz5gbg6nspq1mxo1newcu8d71t9ul7/obj/312","tags":"fact","created":"2018-12-13
        13:57:01","identifier":"fact.csv_policies.customer_lifetime_value.renamed","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2018-12-13 13:59:22","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Thu, 13 Dec 2018 13:01:28 GMT
recorded_with: VCR 4.0.0
