---
http_interactions:
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:LdM-hainP7o9CR0FviwuBg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:LdM-hainP7o9CR0FviwuBg:wUN4EJNE0VZyuABj"
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/115"}]}'
  recorded_at: Thu, 21 Feb 2019 10:08:32 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:YlfWK_yX27E6gZnISxJqsA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:YlfWK_yX27E6gZnISxJqsA:dlnSFk5cntGgb6MZ"
      X-Gdc-Request-Time:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"dataSet":{"content":{"mode":"","facts":["/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/312","/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/313","/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/314","/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/315"],"dataLoadingColumns":["/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/92","/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/94","/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/87","/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/89","/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/77","/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/79","/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/72","/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/74","/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/97","/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/99"[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:ymjUsYFKIeH4WKmFaeMkjg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:ymjUsYFKIeH4WKmFaeMkjg:w6ufftHS3v4d9vK5"
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/311"],"expr":[{"type":"col","data":"/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/38"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/ozgbm0v89iv1bgdjvvt9tc2laptr1jq0/obj/312","tags":"fact","created":"2019-02-21
        11:04:05","identifier":"fact.csv_policies.customer_lifetime_value.renamed","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2019-02-21 11:06:16","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Thu, 21 Feb 2019 10:08:35 GMT
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/gpl0nb4m8qcnh6xr1gsy1vvskwxwm2z2/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:5dIq6VeitSK7kdM9WRqH8g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:5dIq6VeitSK7kdM9WRqH8g:Vde8D6kZdN3jV8uA"
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/gpl0nb4m8qcnh6xr1gsy1vvskwxwm2z2/obj/115"}]}'
  recorded_at: Thu, 21 Feb 2019 10:08:35 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/gpl0nb4m8qcnh6xr1gsy1vvskwxwm2z2/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:N3daLIK31RrOmPgDitRgng"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/gpl0nb4m8qcnh6xr1gsy1vvskwxwm2z2/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:frFOzBR0iF-jtLfKaK4JGA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:frFOzBR0iF-jtLfKaK4JGA:eCIsn3gxbhXsZayC"
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/gpl0nb4m8qcnh6xr1gsy1vvskwxwm2z2/obj/311"],"expr":[{"type":"col","data":"/gdc/md/gpl0nb4m8qcnh6xr1gsy1vvskwxwm2z2/obj/38"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/gpl0nb4m8qcnh6xr1gsy1vvskwxwm2z2/obj/312","tags":"fact","created":"2019-02-21
        11:04:25","identifier":"fact.csv_policies.customer_lifetime_value.renamed","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2019-02-21 11:06:30","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Thu, 21 Feb 2019 10:08:37 GMT
recorded_with: VCR 4.0.0
