---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:W4YhdQmIhvXdfLdm6pJOJQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:W4YhdQmIhvXdfLdm6pJOJQ:QDMwISJ4uIucGIsK
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''uf3yirsfhhri8aolvopubymbe4ok8kaa''","category":"project","instance":"uf3yirsfhhri8aolvopubymbe4ok8kaa","links":[{"link":"/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","category":"drillcrosspaths","title":"drillcrosspaths"},{"link":"/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/etl","summary":"Resources
        for data ETL.","category":"etl","title":"etl"}[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:lNwxP-u2epYMzpPgJMTULQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:lNwxP-u2epYMzpPgJMTULQ:U6exXgMtULjog9hA
      X-Gdc-Request-Time:
      - '313'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":32,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/136"}],"displayForms":[{"content":{"formOf":"/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/220","expression":"[/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/137]","default":1},"links":{"elements":"/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/238/elements"},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/238","tags":"","created":"2010-08-02
        08:13:42","identifier":"effective_to_date.aag81lMifn6q","deprecated":"0","summary":"DisplayForm
        Year.","isProduction":1,"title":"Year (Effective To Date)","category":"attributeDisplayForm","updated":"2018-12-11
        15:14:52","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/270","sort":"pk","dimension":"/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/117","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/184"},{"multivalue":false,"type":"col","data":"/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/192"},{"multivalue":false,"type":"col","data":"/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/207"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/220","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"effective_to_date.year","deprecat[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/bayikhucb7im0ivwj239xwikd7xng768
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:RKLULByPQlD_z8ME9ZtdMQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charse[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/bayikhucb7im0ivwj239xwikd7xng768/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:KTyjHOBEyQ1nvfJ7L0hJVA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
[...]
