---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:MtFZn2RqV1ZfM5oaHGOWJQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:MtFZn2RqV1ZfM5oaHGOWJQ:xPzY7dIYmVizqKQp"
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/obj/115"}]}'
  recorded_at: Thu, 18 Apr 2019 13:00:20 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:fdRHARbsaPqjDgwC6gH5PQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:fdRHARbsaPqjDgwC6gH5PQ:Y45KVHYM6NCLYLI4"
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"dataSet":{"content":{"mode":"","facts":["/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/obj/312","/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/obj/313","/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/obj/314","/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/obj/315"],"dataLoadingColumns":["/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/obj/92","/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/obj/94","/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/obj/87","/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/obj/89","/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/obj/77","/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/obj/79","/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/obj/72","/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/obj/74","/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/obj/97","/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/obj/99"[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:b4DY7gNRXPVn2XwscZfx2g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:b4DY7gNRXPVn2XwscZfx2g:oI6YNQBXjqNxNLPH"
      X-Gdc-Request-Time:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/obj/311"],"expr":[{"type":"col","data":"/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/obj/38"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/obj/312","tags":"fact","created":"2019-04-18
        14:56:02","identifier":"fact.csv_policies.customer_lifetime_value.renamed","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2019-04-18 14:58:03","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 18 Apr 2019 13:00:22 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m5sam0e9tjgghtstn5re30se45kioqmt/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:70gNJeuTaITfQ3Z32Mc65w"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:70gNJeuTaITfQ3Z32Mc65w:ejCapefSa7p1ornC"
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/m5sam0e9tjgghtstn5re30se45kioqmt/obj/115"}]}'
  recorded_at: Thu, 18 Apr 2019 13:00:22 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m5sam0e9tjgghtstn5re30se45kioqmt/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:gblfviV7QcaIQ0z-IaFBMA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m5sam0e9tjgghtstn5re30se45kioqmt/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:19VDMlN1DrzP3BUqZXWB4Q"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:19VDMlN1DrzP3BUqZXWB4Q:A2jNSwWFEPQD4wND"
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/m5sam0e9tjgghtstn5re30se45kioqmt/obj/311"],"expr":[{"type":"col","data":"/gdc/md/m5sam0e9tjgghtstn5re30se45kioqmt/obj/38"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/m5sam0e9tjgghtstn5re30se45kioqmt/obj/312","tags":"fact","created":"2019-04-18
        14:56:21","identifier":"fact.csv_policies.customer_lifetime_value.renamed","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2019-04-18 14:58:21","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 18 Apr 2019 13:00:24 GMT
recorded_with: VCR 4.0.0
