---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:A1Y_FZiKb_nRHcjxft4xAQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:A1Y_FZiKb_nRHcjxft4xAQ:o9w4Q1cSBqwcGqtg
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''j2t2ojk91789vuczapl74a5z7w5rdtf3''","category":"project","instance":"j2t2ojk91789vuczapl74a5z7w5rdtf3","links":[{"link":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","category":"drillcrosspaths","title":"drillcrosspaths"},{"link":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/etl","summary":"Resources
        for data ETL.","category":"etl","title":"etl"}[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:KDmTYGA3NVbt3w_BQHMXhw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:KDmTYGA3NVbt3w_BQHMXhw:Tvsaf0GH7Gay2gax
      X-Gdc-Request-Time:
      - '372'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":32,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/136"}],"displayForms":[{"content":{"formOf":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/220","expression":"[/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/137]","default":1},"links":{"elements":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/238/elements"},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/238","tags":"","created":"2010-08-02
        08:13:42","identifier":"effective_to_date.aag81lMifn6q","deprecated":"0","summary":"DisplayForm
        Year.","isProduction":1,"title":"Year (Effective To Date)","category":"attributeDisplayForm","updated":"2018-12-13
        13:56:40","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/270","sort":"pk","dimension":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/117","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/184"},{"multivalue":false,"type":"col","data":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/192"},{"multivalue":false,"type":"col","data":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/207"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/j2t2ojk91789vuczapl74a5z7w5rdtf3/obj/220","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"effective_to_date.year","deprecat[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/j6iz5gbg6nspq1mxo1newcu8d71t9ul7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:N1N9hsRfUuefhIkb4JJZ6Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charse[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/j6iz5gbg6nspq1mxo1newcu8d71t9ul7/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:WZ7y7Khy-1kVQoIwfr2yYQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
[...]
