---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/j2t2ojk91789vuczapl74a5z7w5rdtf3/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:dWU_I3UtRxzbiLFIVhFGsA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:dWU_I3UtRxzbiLFIVhFGsA:R28che2bcgKK5lXN
      X-Gdc-Request-Time:
      - '166'
    body:
      encoding: ASCII-8BIT
      string: '{"processes":{"items":[{"process":{"type":"GRAPH","name":"Simple CloudConnect
        Process","graphs":["graph/test.grf"],"executables":["graph/test.grf"],"lastDeployed":"2018-12-13T12:59:41.044Z","ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/j2t2ojk91789vuczapl74a5z7w5rdtf3/dataload/processes/756c00a8-3d04-4ebe-8bad-5812bb256f45","executions":"/gdc/projects/j2t2ojk91789vuczapl74a5z7w5rdtf3/dataload/processes/756c00a8-3d04-4ebe-8bad-5812bb256f45/executions","source":"/gdc/projects/j2t2ojk91789vuczapl74a5z7w5rdtf3/dataload/processes/756c00a8-3d04-4ebe-8bad-5812bb256f45/source"}}},{"process":{"type":"RUBY","name":"Simple
        Ruby Process","path":"${PUBLIC_APPSTORE}:branch/master:/apps/hello_world_brick","graphs":["main.rb"],"executables":["main.rb"],"lastDeployed":"2018-12-13T12:59:41.998Z","ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/j2t2ojk91789vuczapl74a5z7w5rdtf3/dataload/processes/21799b90-406c-43ce-85ce-cf5b2e3bb517","executions":"/gdc/projects/j2t2ojk91789vuczapl74a5z7w5rdtf3/dataload/processes/21799b90-406c-43ce-85ce-cf5b2e3bb517/executions","source":"/gdc/projects/j2t2ojk91789vuczapl74a5z7w5rdtf3/dataload/processes/21799b90-406c-43ce-85ce-cf5b2e3bb517/source"}}},{"process":{"type":"ETL","name":"lcm-end-to-end-csv-download","graphs":[],"executables":[],"lastDeployed":"2018-12-13T12:59:43.297Z","ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/j2t2ojk91789vuczapl74a5z7w5rdtf3/dataload/processes/d7c24ab2-e1ae-478b-ad0f-1db3a0d3ec7e","executions":"/gdc/projects/j2t2ojk91789vuczapl74a5z7w5rdtf3/dataload/processes/d7c24ab2-e1ae-478b-ad0f-1db3a0d3ec7e/executions","source":"/gdc/projects/j2t2ojk91789vuczapl74a5z7w5rdtf3/dataload/processes/d7c24ab2-e1ae-478b-ad0f-1db3a0d3ec7e/source"},"component":{"name":"gdc-etl-csv-downloader","version":"1","configLocation":{"s3":{"path":"s3://s3_bucket/s3_folder/","accessKey":"s3_access_key","serverSideEncryption":true}}}}},{"process":{"type":"ETL","name":"lcm-end-to-end-sql-exec","graphs":[],"executables":[],"lastDeployed":"2018-12-13T12:59:44.578Z","ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/j2t2ojk91789vuczapl74a5z7w5rdtf3/dataload/processes/f25a85f7-31d8-4252-9766-a5377bfb3246","executions":"/gdc/projects/j2t2ojk91789vuczapl74a5z7w5rdtf3/dataload/processes/f25a85f7-31d8-4252-9766-a5377bfb3246/executions","source":"/gdc/projects/j2t2ojk91789vuczapl74a5z7w5rdtf3/dataload/processes/f25a85f7-31d8-4252-9766-a5377bfb3246/source"},"component":{"name":"gdc-etl-sql-executor","version":"1","configLocation":{"s3":{"path":"s3://s3_bucket/s3_folder/","accessKey":"s3_access_key","serverSideEncryption":true}}}}}],"links":{"self":"/gdc/projects/j2t2ojk91789vuczapl74a5z7w5rdtf3/dataload/processes"}}}'
  recorded_at: Thu, 13 Dec 2018 13:00:58 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/j2t2ojk91789vuczapl74a5z7w5rdtf3/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:O67QAuHv-9Kq_0pK3zCXgw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:O67QAuHv-9Kq_0pK3zCXgw:C0F6PtFJ38YsHPW6
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/j2t2ojk91789vuczapl74a5z7w5rdtf3/schedules","items":[{"schedule":{"name":"main.rb","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"main.rb","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"21799b90-406c-43ce-85ce-cf5b2e3bb517"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/j2t2ojk91789vuczapl74a5z7w5rdtf3/schedules/5c1257dae4b0e9d3950de8de","executions":"/gdc/projects/j2t2ojk91789vuczapl74a5z7w5rdtf3/schedules/5c1257dae4b0e9d3950de8de/executions"},"triggerScheduleId":"5c1257d8e4b0e9d3950de8dd"}},{"schedule":{"name":"test.grf","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"graph/test.grf","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"756c00a8-3d04-4ebe-8bad-5812bb256f45"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2019-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/j2t2ojk91789vuczapl74a5z7w5rdtf3/schedules/5c1257d8e4b0e9d3950de8dd","executions":"/gdc/projects/j2t2ojk91789vuczapl74a5z7w5rdtf3/schedules/5c1257d8e4b0e9d3950de8dd/executions"}}}]}}'
  recorded_at: Thu, 13 Dec 2018 13:00:58 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/j6iz5gbg6nspq1mxo1newcu8d71t9ul7/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:PIlKO9ib8WnIdcqarwDHNw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/j6iz5gbg6nspq1mxo1newcu8d71t9ul7/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:N3VEqhZqNZTlfFI-YK8zeA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applica[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/yq1eo5hkmxcekt7ssuzr1hya0k0ajjc4/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:g7M2-_17QXg3m-dguYBw1A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:g7M2-_17QXg3m-dguYBw1A:rXaYx0lagNiviQIt
      X-Gdc-Request-Time:
      - '112'
    body:
      encoding: ASCII-8BIT
      string: '{"processes":{"items":[{"process":{"type":"GRAPH","name":"Simple CloudConnect
        Process","graphs":["graph/test.grf"],"exec[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/yq1eo5hkmxcekt7ssuzr1hya0k0ajjc4/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:A2dTFCjmGiO2yI8TPY6Fag
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applicat[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/f8et11eg9q970kxrw4g7seng113veq10/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:Jg8RS8ZHtYGiyfHfWwfNcQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      -[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/f8et11eg9q970kxrw4g7seng113veq10/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:6bNTWr9P0fhrtGYFP8fDbA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applicat[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/i8awdxa5l529xhf719f5oovw15nvqtv7/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:hJSe58nrCV1tGtqT73RNsA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:hJSe58nrCV1tGtqT73RNsA:6oL5zqinrYlWNTJL
      X-Gdc-Request-Time:
      - '107'
    body:
      encoding: ASCII-8BIT
      string: '{"processes":{"items":[{"process":{"type":"GRAPH","name":"Simple CloudConnect
        Process","graphs":["graph/test.grf"],"exec[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/i8awdxa5l529xhf719f5oovw15nvqtv7/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:tNAVZnNjnY2tu9iXTlinhg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applica[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/sdwkwk29ph7zjpmghs789uwzvi5ag6xb/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:0Li3pO-JtkQk1dUuBqtqQg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/sdwkwk29ph7zjpmghs789uwzvi5ag6xb/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:lDMcirDlNvmbt6N-G_vJDQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applica[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/nboeb66nif3x7fo0s05b7tc1zszhffnh/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:aa8fU3KGkwOuS4lNdO86bQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:aa8fU3KGkwOuS4lNdO86bQ:6YMiqvbQZwHTHGSG"
      X-Gdc-Request-Time:
      - '113'
    body:
      encoding: ASCII-8BIT
      string: '{"processes":{"items":[{"process":{"type":"GRAPH","name":"Simple CloudConnect
        Process","graphs":["graph/test.grf"],"executables"[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/nboeb66nif3x7fo0s05b7tc1zszhffnh/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:q1-AGxnplHcB-8X6yrejrg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/mcx023blaz5uhdkqrwoz0v8qmvmdrspg/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:L8lO5B1sNfv-puHF29IXLw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      -[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/mcx023blaz5uhdkqrwoz0v8qmvmdrspg/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:nEztYQ-YVUAIcdA2U9mrsw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/ljscabwf2rl5qevu3fhzgfr5a4jbqpbo/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:4ePHF30ICBplvhrHTpLYcg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      -[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/ljscabwf2rl5qevu3fhzgfr5a4jbqpbo/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:ZfIGNKRSMZFLDShCt0srYA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/ej4wxtaaw6v814zc7ii89t2fvi9oq31k/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:lPgUJViW7LbCMnul1twkIQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      -[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/ej4wxtaaw6v814zc7ii89t2fvi9oq31k/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:KhTnnaVPq3Kfx97tkT2sBA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/dcbv0uu7tkzqjjmsfmnrmtsal52m4fvj/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:BaFgkKNplBoYQeBQ4EgHmA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      -[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/dcbv0uu7tkzqjjmsfmnrmtsal52m4fvj/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:obt-fVwCcvK6XMFzvjIPgA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/jkri4vm5habsqj9sbl4pazcta3xdlnfv/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:7KJ7Yi527BKfkJvWEIfsNg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      -[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/jkri4vm5habsqj9sbl4pazcta3xdlnfv/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:UFA0LQjSpRfPaFQ92KfofA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
