---
http_interactions:
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:Y5jPB6a7764jqx85sOV0Uw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:Y5jPB6a7764jqx85sOV0Uw:Hty4ZBulwTcxr76P
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/115"}]}'
  recorded_at: Tue, 11 Dec 2018 14:20:11 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:E7GhTMAr3rmWqCQ9kYNiyA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:E7GhTMAr3rmWqCQ9kYNiyA:kWlUuAoJ6gJceyhG
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"dataSet":{"content":{"mode":"","facts":["/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/312","/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/313","/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/314","/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/315"],"dataLoadingColumns":["/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/92","/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/94","/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/87","/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/89","/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/77","/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/79","/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/72","/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/74","/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/97","/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/99"[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:7ijKPeAJqHJDyfsKV1R9WQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:7ijKPeAJqHJDyfsKV1R9WQ:GkEVSGTrhUvskB4A
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/311"],"expr":[{"type":"col","data":"/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/38"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/uf3yirsfhhri8aolvopubymbe4ok8kaa/obj/312","tags":"fact","created":"2018-12-11
        15:14:54","identifier":"fact.csv_policies.customer_lifetime_value.renamed","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2018-12-11 15:17:27","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Tue, 11 Dec 2018 14:20:14 GMT
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/bayikhucb7im0ivwj239xwikd7xng768/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:7raeNW0CKuentoYer9VfrA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:7raeNW0CKuentoYer9VfrA:aG3kCx8mZep1nvxF
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/bayikhucb7im0ivwj239xwikd7xng768/obj/115"}]}'
  recorded_at: Tue, 11 Dec 2018 14:20:14 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/bayikhucb7im0ivwj239xwikd7xng768/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:q3yoc9X6LP_DlZrimeOA3Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/bayikhucb7im0ivwj239xwikd7xng768/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:7YA9H8Et8evJHaKXVBVLCA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:7YA9H8Et8evJHaKXVBVLCA:DKb2vtmuAtGSkKEw
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/bayikhucb7im0ivwj239xwikd7xng768/obj/311"],"expr":[{"type":"col","data":"/gdc/md/bayikhucb7im0ivwj239xwikd7xng768/obj/38"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/bayikhucb7im0ivwj239xwikd7xng768/obj/312","tags":"fact","created":"2018-12-11
        15:15:17","identifier":"fact.csv_policies.customer_lifetime_value.renamed","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2018-12-11 15:17:42","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Tue, 11 Dec 2018 14:20:17 GMT
recorded_with: VCR 4.0.0
