---
http_interactions:
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:p-PHiAN6l_v83BQQxAeQAw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:p-PHiAN6l_v83BQQxAeQAw:9CCmBNHQHorHruiC
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/115"}]}'
  recorded_at: Wed, 05 Dec 2018 14:25:07 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:5eMlZnTreNjhrPZb9NNmtQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:5eMlZnTreNjhrPZb9NNmtQ:SmV6xftWmd0mxY20
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"dataSet":{"content":{"mode":"","facts":["/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/312","/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/313","/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/314","/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/315"],"dataLoadingColumns":["/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/92","/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/94","/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/87","/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/89","/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/77","/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/79","/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/72","/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/74","/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/97","/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/99"[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:xgu290KcHcMUERjSTtVcQg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:xgu290KcHcMUERjSTtVcQg:jP3XtXSvOXiaegg1
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/311"],"expr":[{"type":"col","data":"/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/38"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/312","tags":"fact","created":"2018-12-05
        15:20:39","identifier":"fact.csv_policies.customer_lifetime_value.renamed","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2018-12-05 15:22:41","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Wed, 05 Dec 2018 14:25:16 GMT
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/au7qa5q0593nccshwe84ng6hk5v40hty/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:2RzJpsQ2I7u_MCjJgiRU_Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:2RzJpsQ2I7u_MCjJgiRU_Q:kbmcI76uJzLNO6De
      X-Gdc-Request-Time:
      - '88'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/au7qa5q0593nccshwe84ng6hk5v40hty/obj/115"}]}'
  recorded_at: Wed, 05 Dec 2018 14:25:17 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/au7qa5q0593nccshwe84ng6hk5v40hty/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:DbkL7_ot5DmEu5fAqS_bmA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/au7qa5q0593nccshwe84ng6hk5v40hty/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:XOQprZdC0EPKqAr20avCqw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:XOQprZdC0EPKqAr20avCqw:l625fqaCmubwZXlS
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/au7qa5q0593nccshwe84ng6hk5v40hty/obj/311"],"expr":[{"type":"col","data":"/gdc/md/au7qa5q0593nccshwe84ng6hk5v40hty/obj/38"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/au7qa5q0593nccshwe84ng6hk5v40hty/obj/312","tags":"fact","created":"2018-12-05
        15:20:58","identifier":"fact.csv_policies.customer_lifetime_value.renamed","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2018-12-05 15:22:56","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Wed, 05 Dec 2018 14:25:19 GMT
recorded_with: VCR 4.0.0
