---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:DeQA_ElZpKsQVieGY5sQ6w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:DeQA_ElZpKsQVieGY5sQ6w:2KqM1K9XcEP6D57s
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''gtiufzo7uvdel9nostoir4cszfymp9cz''","category":"project","instance":"gtiufzo7uvdel9nostoir4cszfymp9cz","links":[{"link":"/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","category":"drillcrosspaths","title":"drillcrosspaths"},{"link":"/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/etl","summary":"Resources
        for data ETL.","category":"etl","title":"etl"}[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:dbhlIHrX9uWz0piInx9MSw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:dbhlIHrX9uWz0piInx9MSw:PUQ7A8ShL1TQGnPs
      X-Gdc-Request-Time:
      - '316'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":32,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/136"}],"displayForms":[{"content":{"formOf":"/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/220","expression":"[/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/137]","default":1},"links":{"elements":"/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/238/elements"},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/238","tags":"","created":"2010-08-02
        08:13:42","identifier":"effective_to_date.aag81lMifn6q","deprecated":"0","summary":"DisplayForm
        Year.","isProduction":1,"title":"Year (Effective To Date)","category":"attributeDisplayForm","updated":"2018-12-05
        15:20:37","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/270","sort":"pk","dimension":"/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/117","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/184"},{"multivalue":false,"type":"col","data":"/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/192"},{"multivalue":false,"type":"col","data":"/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/207"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/gtiufzo7uvdel9nostoir4cszfymp9cz/obj/220","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"effective_to_date.year","deprecat[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/au7qa5q0593nccshwe84ng6hk5v40hty
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:O3TtGKCgPymUdPtaUCEp5A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charse[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/au7qa5q0593nccshwe84ng6hk5v40hty/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:q8aTKdx__o1iNKNYrYawXQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
[...]
