---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/channelConfigurations/5c45beba083aff7a6f683711
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - dwLe3WEfzppdp4L9U6_q5w:WtgGh9hDD0uIyup_C8kX4Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - dwLe3WEfzppdp4L9U6_q5w:WtgGh9hDD0uIyup_C8kX4Q:9QO5PMWaTkBkCHrR
      X-Gdc-Request-Time:
      - '16'
    body:
      encoding: ASCII-8BIT
      string: '{"channelConfiguration":{"configuration":{"emailConfiguration":{"to":"rubydev+admin@gooddata.com"}},"meta":{"title":"rubydev+admin@gooddata.com","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","category":"channelConfiguration","updated":"2019-01-21
        13:44:42","created":"2019-01-21 13:44:42","uri":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/channelConfigurations/5c45beba083aff7a6f683711"}}}'
  recorded_at: Mon, 21 Jan 2019 12:44:43 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ze6yjw2i8vljrnvmj138dlfofz3gbqaj/users/5ad80b895edcc438e5a4418e222733fa/subscriptions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - dwLe3WEfzppdp4L9U6_q5w:LfkEH_931EHRMLrnw17uBQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - dwLe3WEfzppdp4L9U6_q5w:LfkEH_931EHRMLrnw17uBQ:daiVdA4ideYxNpeQ
      X-Gdc-Request-Time:
      - '14'
    body:
      encoding: ASCII-8BIT
      string: '{"subscriptions":{"items":[]}}'
  recorded_at: Mon, 21 Jan 2019 12:45:00 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":F04HQX1_TasU45zNuLHUmA:Vqg_LmIDLDaH6B4zXsYZ-g"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - GoodData realm="GoodData API" cookie=GDCAuthSST location=/gdc/account/login
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '15'
      X-Gdc-Request:
      - ":F04HQX1_TasU45zNuLHUmA:Vqg_LmIDLDaH6B4zXsYZ-g:ikNHLwTYQQjdcfE0"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 24 Jan 2019 12:32:40 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":QQVmmsd0CjQPBLTpsDX2aA:zEprJyXTaT5af4p_WSj9og"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - ":QQVmmsd0CjQPBLTpsDX2aA:zEprJyXTaT5af4p_WSj9og:esr5UOkgFpRPRKNB"
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 24 Jan 2019 13:32:23 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/channelConfigurations/5c49be6a9c4e286d319bc6aa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":QQVmmsd0CjQPBLTpsDX2aA:foh4_vDzTyaX6OwYtXxArg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":QQVmmsd0CjQPBLTpsDX2aA:foh4_vDzTyaX6OwYtXxArg:3Ca7C072EeKIWZxS"
      X-Gdc-Request-Time:
      - '16'
    body:
      encoding: ASCII-8BIT
      string: '{"channelConfiguration":{"configuration":{"emailConfiguration":{"to":"rubydev+admin@gooddata.com"}},"meta":{"title":"rubydev+admin@gooddata.com","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","category":"channelConfiguration","updated":"2019-01-24
        14:32:26","created":"2019-01-24 14:32:26","uri":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/channelConfigurations/5c49be6a9c4e286d319bc6aa"}}}'
  recorded_at: Thu, 24 Jan 2019 13:32:27 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/fanw3gqnpv87lmocwqj0x79k8i9zfepd/users/5ad80b895edcc438e5a4418e222733fa/subscriptions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":QQVmmsd0CjQPBLTpsDX2aA:zxquUIYFWiMvbdxse9HEcg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":QQVmmsd0CjQPBLTpsDX2aA:zxquUIYFWiMvbdxse9HEcg:hS5DF5SU0TGQtMUL"
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"subscriptions":{"items":[]}}'
  recorded_at: Thu, 24 Jan 2019 13:32:28 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":LRU_Y6zV2gkvOh9RGAuyDw:JOvqK3jhr08p6aRz-sbZdQ"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '72'
      X-Gdc-Request:
      - ":LRU_Y6zV2gkvOh9RGAuyDw:JOvqK3jhr08p6aRz-sbZdQ:7PDeBjZEVUwZY4mg"
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 06:19:57 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":LRU_Y6zV2gkvOh9RGAuyDw:9la-I0eUuKFzwEodfSkdYQ"
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '13'
      X-Gdc-Request:
      - ":LRU_Y6zV2gkvOh9RGAuyDw:9la-I0eUuKFzwEodfSkdYQ:smwI8O9yC7CCJi5o"
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2019-03-15 10:00:00","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Wed, 15 Jan 2020 06:19:59 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":LRU_Y6zV2gkvOh9RGAuyDw:Wz0mw4_NTiZbvBLZrGi60A"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '42'
      X-Gdc-Request:
      - ":LRU_Y6zV2gkvOh9RGAuyDw:Wz0mw4_NTiZbvBLZrGi60A:ZyYbprfswkJnarvb"
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Wed, 15 Jan 2020 06:20:00 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/channelConfigurations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":LRU_Y6zV2gkvOh9RGAuyDw:lo1hqYIZmCQixumOZrzdgA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - ":LRU_Y6zV2gkvOh9RGAuyDw:lo1hqYIZmCQixumOZrzdgA:IfRAu93cW7YnR3Mx"
    body:
      encoding: ASCII-8BIT
      string: '{"channelConfigurations":{"items":[]}}'
  recorded_at: Wed, 15 Jan 2020 06:20:01 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/channelConfigurations
    body:
      encoding: UTF-8
      string: '{"channelConfiguration":{"configuration":{"emailConfiguration":{"to":"rubydev+admin@gooddata.com"}},"meta":{"title":"rubydev+admin@gooddata.com"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":LRU_Y6zV2gkvOh9RGAuyDw:CqhET9v8dQL7XCJSs3YsEg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/channelConfigurations/5e1eaf12dc240b2143504110"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '23'
      X-Gdc-Request:
      - ":LRU_Y6zV2gkvOh9RGAuyDw:CqhET9v8dQL7XCJSs3YsEg:soZzGrarss6c7ptF"
    body:
      encoding: ASCII-8BIT
      string: '{"channelConfiguration":{"configuration":{"emailConfiguration":{"to":"rubydev+admin@gooddata.com"}},"meta":{"title":"rubydev+admin@gooddata.com","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","category":"channelConfiguration","updated":"2020-01-15
        07:20:02","created":"2020-01-15 07:20:02","uri":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/channelConfigurations/5e1eaf12dc240b2143504110"}}}'
  recorded_at: Wed, 15 Jan 2020 06:20:02 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/users/5ad80b895edcc438e5a4418e222733fa/subscriptions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":LRU_Y6zV2gkvOh9RGAuyDw:ve8pYn6VA8b2-5yc3AXYcg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '32'
      X-Gdc-Request:
      - ":LRU_Y6zV2gkvOh9RGAuyDw:ve8pYn6VA8b2-5yc3AXYcg:39gUS9z5zBCCmhYt"
    body:
      encoding: ASCII-8BIT
      string: '{"subscriptions":{"items":[]}}'
  recorded_at: Wed, 15 Jan 2020 06:20:04 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":oJFqJUTq4llpZc_MXHfQhQ:NUbrLnxxsFZ1g7WBGdjYAQ"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Tries:
      - '0'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '20'
      X-Gdc-Request:
      - ":oJFqJUTq4llpZc_MXHfQhQ:NUbrLnxxsFZ1g7WBGdjYAQ:sZCgVjaDacTnoeAN"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 15 Jan 2020 06:20:26 GMT
recorded_with: VCR 5.0.0
