---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:gDJCG7qi-paBouf9WX4-ew
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:gDJCG7qi-paBouf9WX4-ew:iwg2cwxRjdWAhZ8e
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/ldm?thumbnail=1","self":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q","clearCaches":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/clearCaches","invitations":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/invitations","users":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/uploads/","ldm":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/ldm","metadata":"/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q","publicartifacts":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/publicartifacts","roles":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/roles","userRoles":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/dataload","connectors":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/connectors","execute":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/execute","config":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/config","projectFeatureFlags":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/projectFeatureFlags","schedules":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/schedules","templates":"/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/templates","eventstores":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        08:47:50","summary":"No summary","updated":"2018-06-05 08:47:51","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"RubyGem
        Dev Week test","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 06:47:51 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:ZVQ-Gy3Q-hH0A8r6gXbhqQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:ZVQ-Gy3Q-hH0A8r6gXbhqQ:WRglwtcwJwtLVW0x
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/ldm?thumbnail=1","self":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q","clearCaches":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/clearCaches","invitations":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/invitations","users":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/eunqn7s3i8h7q3tn4[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"This is
        anchor description","defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"some_attr_id","title":"Repository
        Name","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_attr_label_id","title":"Repository
        Name","type":"GDC.text","dataType":"VARCHAR(10000)"}}],"defaultLabel":"some_attr_label_id"}}],"facts":[],"references":[]}},{"dataset":{"identifier":"dataset.devs","title":"Developers","anchor":{"attribute":{"identifier":"attr.devs.dev_id","title":"Dev","folder":"Anchor
        folder","labels":[{"label":{"identifier":"label.devs.dev_id.id","title":"Id","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.devs.dev_id.email","title":"Email","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.devs.dev_id.email"}},"attributes":[],"facts":[],"references":[]}},{"dataset":{"identifier":"dataset.commits","title":"Commits","anchor":{"attribute":{"identifier":"attr.commits.factsof","title":"Attr.Commits.Factsof","folder":"Commits"}},"attributes":[],"facts":[{"fact":{"identifier":"fact.commits.lines_changed","title":"Lines
        Changed","folder":"Commits","dataType":"DECIMAL(12,2)","type":"fact","description":"Fact
        description"}}],"references":["committed_on","dataset.devs","dataset.repos"]}}],"dateDimensions":[{"dateDimension":{"name":"committed_on","title":"Committed
        On"}}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:f0oRMNPB73fy7UfqQy4RDw
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/model/diff/b2d533784e63712b7fae7ddd8209389b01cd73ad6e4b3a8a0000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:f0oRMNPB73fy7UfqQy4RDw:VMZhkGENvDO6f915
      X-Gdc-Request-Time:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/model/diff/b2d533784e63712b7fae7ddd8209389b01cd73ad6e4b3a8a0000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 06:47:59 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/model/diff/b2d533784e63712b7fae7ddd8209389b01cd73ad6e4b3a8a0000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:tRk-1lLzjPyDkyg54bVSNQ
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/model/diff/b2d533784e63712b7fae7ddd8209389b01cd73ad6e4b3a8a0000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:tRk-1lLzjPyDkyg54bVSNQ:5l4gqshZ607N9r3o
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/model/diff/b2d533784e63712b7fae7ddd8209389b01cd73ad6e4b3a8a0000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 06:47:59 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/model/diff/b2d533784e63712b7fae7ddd8209389b01cd73ad6e4b3a8a0000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:6bh2lLO3c0BFYNlUZ097BA
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:6bh2lLO3c0BFYNlUZ097BA:AsrjoSfI3t7qVV7Z
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"dataset.create","dataset":"dataset.repos","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Repositories"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.devs","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Developers"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.commits","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Commits"]}},{"updateOperation":{"type":"date-dimension.create","destructive":false,"description":"Create
        date dimension ''%s''","parameters":["Committed On[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:ckfW71OCLCu8obbMQKZSDQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:ckfW71OCLCu8obbMQKZSDQ:bGNeBYYQzeCYpAqu
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''eunqn7s3i8h7q3tn42ieri18w6gsi06q''","category":"project","instance":"eunqn7s3i8h7q3tn42ieri18w6gsi06q","links":[{"link":"/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","ca[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:S2GNfUj4sPDqKkkl0e9GNA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.repos} VISUAL(TITLE \"Repositories\");\nCREATE
        DATASET {dataset.devs} VISUAL(TITLE \"Developers\");\nCREATE DATASET {dataset.commits}
        VISUAL(TITLE \"Commits\");\nINCLUDE TEMPLATE \"URN:GOODDATA:DATE\" MODIFY
        (IDENTIFIER \"committed_on\", TITLE \"Committed On\");\nCREATE FOLDER {dim.folderedrepos}
        VISUAL(TITLE \"Foldered Repos\") TYPE ATTRIBUTE;\nCREATE ATTRIBUTE {attr.repos.repo_id}
        VISUAL(TITLE \"Repository Id\", DESCRIPTION \"Thi[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/tasks/7f1e7c46cd3209ec2d0eae16d2f32e930000002a/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:UZeEEEemBAZ-B2oBCC5ScQ
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:UZeEEEemBAZ-B2oBCC5ScQ:82LJVhzR2DnsTixA
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/tasks/7f1e7c46cd3209ec2d0eae16d2f32e930000002a/status","status":"RUNNING","links":{"poll":"/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/tasks/7f1e7c46cd3209ec2d0eae16d2f32e930000002a/status"}}}'
  recorded_at: Tue, 05 Jun 2018 06:48:13 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/t8e4js3e9rstre1mhsj152woat7ttapc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:63R3jXeSMUSS-YcGx_iI2w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/t8e4js3e9rstre1mhsj152woat7ttapc/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/t8e4js3e9rstre1mhsj152woat7ttapc/model/diff/eff23045e42430ad9a8d0f14901a217c01cd73ad7064c1ff0000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:b4fDr6hzdfBsqcLqPmprmw
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/t8e4js3e9rstre1mhsj152woat7ttapc/model/diff/eff23045e42430ad9a8d0f14901a217c01cd73ad7064c1ff0000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:b4fDr6hzdfBsqcLqPmprmw:EP0U4wLVVSwm4jg7
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/t8e4js3e9rstre1mhsj152woat7ttapc/model/diff/eff23045e42430ad9a8d0f14901a217c01cd73ad7064c1ff0000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 06:48:35 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/t8e4js3e9rstre1mhsj152woat7ttapc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:mxlHYuKgcWUtAlim736fng
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charse[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/t8e4js3e9rstre1mhsj152woat7ttapc/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:SbmBJJvXha86uQaJKIGFIw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/t8e4js3e9rstre1mhsj152woat7ttapc/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.repos} VISUAL(TITLE \"Repositories\");\nCREATE
        DATASET {dataset.devs} VISUAL(TITLE \"Developers\");\nCREATE DATASET {dataset.commits}
        VISUAL(TITLE \"Commits\");\nINCLUDE TEMPLATE \"URN:GOODDATA:DATE\" MODIFY
        (IDENTIFIER \"committed_on\", TITLE \"Committed On\"[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/t8e4js3e9rstre1mhsj152woat7ttapc/tasks/844b7cb3e7a708d64a17f947a6c7a8250000002a/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:6hHATr0PUknIeIZhl-JPvg
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:6hHATr0PUknIeIZhl-JPvg:mVREKKwy9vKc4JVb
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/t8e4js3e9rstre1mhsj152woat7ttapc/tasks/844b7cb3e7a708d64a17f947a6c7a8250000002a/status","status":"RUNNING","links":{"poll":"/gdc/md/t8e4js3e9rstre1mhsj152woat7ttapc/tasks/844b7cb3e7a708d64a17f947a6c7a8250000002a/status"}}}'
  recorded_at: Tue, 05 Jun 2018 06:48:48 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/r995szy2m3j7dadcq8fnjhy8qdz8r6dx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1Pg-A1BSTzb6kNW7OjmtEA:UvGvj77KZg3J6Foew9WVkg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/r995szy2m3j7dadcq8fnjhy8qdz8r6dx/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"This is
        anchor description","defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"some_attr_id","title":"Repository
        Name","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_attr_label_id","title":"Repository
        Name","type":"GDC.text","dataType":"VARCHAR(10000)"}}],"defaultLabel":"some_attr_label_id"}}],"facts":[],"references":[],"bridges":[]}},{"dataset":{"identifier":"dataset.devs","title":"Developers","anchor":{"attribute":{"identifier":"attr.devs.dev_id","title":"Dev","folder":"Anchor
        folder","labels":[{"label":{"identifier":"label.devs.dev_id.id","title":"Id","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.devs.dev_id.email","title":"Email","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.devs.dev_id.email"}},"attributes":[],"facts":[],"references":[],"bridges":["dataset[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/r995szy2m3j7dadcq8fnjhy8qdz8r6dx/model/diff/bc26595840c223ffc4836c8429c96148200a7c865182fe5d00000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1Pg-A1BSTzb6kNW7OjmtEA:Cq89psKaf6ozGl7FxOYQ6Q
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/r995szy2m3j7dadcq8fnjhy8qdz8r6dx/model/diff/bc26595840c223ffc4836c8429c96148200a7c865182fe5d00000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1Pg-A1BSTzb6kNW7OjmtEA:Cq89psKaf6ozGl7FxOYQ6Q:YxSGj3uKXaRhZKUU
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/r995szy2m3j7dadcq8fnjhy8qdz8r6dx/model/diff/bc26595840c223ffc4836c8429c96148200a7c865182fe5d00000018"}}}'
  recorded_at: Fri, 05 Oct 2018 13:02:34 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/r995szy2m3j7dadcq8fnjhy8qdz8r6dx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1Pg-A1BSTzb6kNW7OjmtEA:RItW6k6kHuXbFFu4E7VTiw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charse[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/r995szy2m3j7dadcq8fnjhy8qdz8r6dx/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1Pg-A1BSTzb6kNW7OjmtEA:wKfHGJFdbCAUGSCTrg94kg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/r995szy2m3j7dadcq8fnjhy8qdz8r6dx/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.repos} VISUAL(TITLE \"Repositories\");\nCREATE
        DATASET {dataset.devs} VISUAL(TITLE \"Developers\");\nCREATE DATASET {dataset.commits}
        VISUAL(TITLE \"Commits\");\nINCLUDE TEMPLATE \"URN:GOODDATA:DATE\" MODIFY
        (IDENTIFIER \"committed_on\", TITLE \"Committed On\"[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/r995szy2m3j7dadcq8fnjhy8qdz8r6dx/tasks/af04b5e83904bbf3d0a9ab41481ac67400000007/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1Pg-A1BSTzb6kNW7OjmtEA:QLcefbajDH7p6tXwySwE_g
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1Pg-A1BSTzb6kNW7OjmtEA:QLcefbajDH7p6tXwySwE_g:ZRiitxRkRmwpSVSq
      X-Gdc-Request-Time:
      - '86'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/r995szy2m3j7dadcq8fnjhy8qdz8r6dx/tasks/af04b5e83904bbf3d0a9ab41481ac67400000007/status","status":"RUNNING","links":{"poll":"/gdc/md/r995szy2m3j7dadcq8fnjhy8qdz8r6dx/tasks/af04b5e83904bbf3d0a9ab41481ac67400000007/status"}}}'
  recorded_at: Fri, 05 Oct 2018 13:02:38 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/mjn137m94h0lgtggkpl6qbandpdp4sad
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1Pg-A1BSTzb6kNW7OjmtEA:fsbuMJ1ZjLtvIpAe16mM4w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/mjn137m94h0lgtggkpl6qbandpdp4sad/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/mjn137m94h0lgtggkpl6qbandpdp4sad/model/diff/e4e1e540c001e44f53705188dcce76669e3101aea892eaa200000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1Pg-A1BSTzb6kNW7OjmtEA:rL2hBMvdq0bjf21oaOPUIw
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/mjn137m94h0lgtggkpl6qbandpdp4sad/model/diff/e4e1e540c001e44f53705188dcce76669e3101aea892eaa200000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1Pg-A1BSTzb6kNW7OjmtEA:rL2hBMvdq0bjf21oaOPUIw:5uyHRtZ8sksQFQnR
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/mjn137m94h0lgtggkpl6qbandpdp4sad/model/diff/e4e1e540c001e44f53705188dcce76669e3101aea892eaa200000018"}}}'
  recorded_at: Fri, 05 Oct 2018 13:02:52 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/mjn137m94h0lgtggkpl6qbandpdp4sad
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1Pg-A1BSTzb6kNW7OjmtEA:4_HbPYHpYcS_zTLUzTILZg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charse[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/mjn137m94h0lgtggkpl6qbandpdp4sad/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1Pg-A1BSTzb6kNW7OjmtEA:fIH5L8hMIkMFlFZGu6u1GQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/mjn137m94h0lgtggkpl6qbandpdp4sad/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.repos} VISUAL(TITLE \"Repositories\");\nCREATE
        DATASET {dataset.devs} VISUAL(TITLE \"Developers\");\nCREATE DATASET {dataset.commits}
        VISUAL(TITLE \"Commits\");\nINCLUDE TEMPLATE \"URN:GOODDATA:DATE\" MODIFY
        (IDENTIFIER \"committed_on\", TITLE \"Committed On\"[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/mjn137m94h0lgtggkpl6qbandpdp4sad/tasks/1ed7980e26cc9e1fad97ff83193820c200000007/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1Pg-A1BSTzb6kNW7OjmtEA:Vln43gVuKNhtJ_Nfeb_8Tg
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1Pg-A1BSTzb6kNW7OjmtEA:Vln43gVuKNhtJ_Nfeb_8Tg:K3d8rVw3dif2ZzIr
      X-Gdc-Request-Time:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/mjn137m94h0lgtggkpl6qbandpdp4sad/tasks/1ed7980e26cc9e1fad97ff83193820c200000007/status","status":"RUNNING","links":{"poll":"/gdc/md/mjn137m94h0lgtggkpl6qbandpdp4sad/tasks/1ed7980e26cc9e1fad97ff83193820c200000007/status"}}}'
  recorded_at: Fri, 05 Oct 2018 13:02:57 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - WcBhe3G_C2FdNnFgTZwBIw:AsDyB9Kp726JZiGefckCMg
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - WcBhe3G_C2FdNnFgTZwBIw:AsDyB9Kp726JZiGefckCMg:rjTeUgA3uRNi5dkH
      X-Gdc-Request-Time:
      - '58'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 11:03:23 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WcBhe3G_C2FdNnFgTZwBIw:rsWA4vm1jx9Ui-t58Ge-ww
[...]
