---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:I7sPXoxhLQ4uWBpMnbX-3g
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:I7sPXoxhLQ4uWBpMnbX-3g:3maqsClwHjBFCBxI
      X-Gdc-Request-Time:
      - '64'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Tue, 05 Jun 2018 06:47:48 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:LX6R0f-3SmWLGcbVZRnFiA
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:LX6R0f-3SmWLGcbVZRnFiA:aiqW1HvjXmdvf3Zq
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Tue, 05 Jun 2018 06:47:49 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:A2FdpXsvslvBY5Lf79LppQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:A2FdpXsvslvBY5Lf79LppQ:hLDWqDHFGBwPbHE2
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-06-04
        11:38:25","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","timezone":null,"language":"en-US","ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Tue, 05 Jun 2018 06:47:49 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:EiFnfovE7HzwIlWGR--4cQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:EiFnfovE7HzwIlWGR--4cQ:aHMHeQnBZL7JTZr4
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Tue, 05 Jun 2018 06:47:50 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"RubyGem Dev Week
        test"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:K9SjeOJJPj-P0l46s-vdgg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:K9SjeOJJPj-P0l46s-vdgg:XGIewdtpFjHpr7No
      X-Gdc-Request-Time:
      - '490'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q"}'
  recorded_at: Tue, 05 Jun 2018 06:47:51 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:gDJCG7qi-paBouf9WX4-ew
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:gDJCG7qi-paBouf9WX4-ew:iwg2cwxRjdWAhZ8e
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/ldm?thumbnail=1","self":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q","clearCaches":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/clearCaches","invitations":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/invitations","users":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/uploads/","ldm":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/ldm","metadata":"/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q","publicartifacts":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/publicartifacts","roles":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/roles","userRoles":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/dataload","connectors":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/connectors","execute":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/execute","config":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/config","projectFeatureFlags":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/projectFeatureFlags","schedules":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/schedules","templates":"/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/templates","eventstores":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        08:47:50","summary":"No summary","updated":"2018-06-05 08:47:51","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"RubyGem
        Dev Week test","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 06:47:51 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"This is
        anchor description","defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"some_attr_id","title":"Repository
        Name","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_attr_label_id","title":"Repository
        Name","type":"GDC.text","dataType":"VARCHAR(10000)"}}],"defaultLabel":"some_attr_label_id"}}],"facts":[],"references":[]}},{"dataset":{"identifier":"dataset.devs","title":"Developers","anchor":{"attribute":{"identifier":"attr.devs.dev_id","title":"Dev","folder":"Anchor
        folder","labels":[{"label":{"identifier":"label.devs.dev_id.id","title":"Id","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.devs.dev_id.email","title":"Email","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.devs.dev_id.email"}},"attributes":[],"facts":[],"references":[]}},{"dataset":{"identifier":"dataset.commits","title":"Commits","anchor":{"attribute":{"identifier":"attr.commits.factsof","title":"Attr.Commits.Factsof","folder":"Commits"}},"attributes":[],"facts":[{"fact":{"identifier":"fact.commits.lines_changed","title":"Lines
        Changed","folder":"Commits","dataType":"DECIMAL(12,2)","type":"fact","description":"Fact
        description"}}],"references":["committed_on","dataset.devs","dataset.repos"]}}],"dateDimensions":[{"dateDimension":{"name":"committed_on","title":"Committed
        On"}}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:f0oRMNPB73fy7UfqQy4RDw
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/model/diff/b2d533784e63712b7fae7ddd8209389b01cd73ad6e4b3a8a0000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:f0oRMNPB73fy7UfqQy4RDw:VMZhkGENvDO6f915
      X-Gdc-Request-Time:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/model/diff/b2d533784e63712b7fae7ddd8209389b01cd73ad6e4b3a8a0000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 06:47:59 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/model/diff/b2d533784e63712b7fae7ddd8209389b01cd73ad6e4b3a8a0000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:tRk-1lLzjPyDkyg54bVSNQ
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/model/diff/b2d533784e63712b7fae7ddd8209389b01cd73ad6e4b3a8a0000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:tRk-1lLzjPyDkyg54bVSNQ:5l4gqshZ607N9r3o
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/model/diff/b2d533784e63712b7fae7ddd8209389b01cd73ad6e4b3a8a0000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 06:47:59 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/eunqn7s3i8h7q3tn42ieri18w6gsi06q/model/diff/b2d533784e63712b7fae7ddd8209389b01cd73ad6e4b3a8a0000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:6bh2lLO3c0BFYNlUZ097BA
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:6bh2lLO3c0BFYNlUZ097BA:AsrjoSfI3t7qVV7Z
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"dataset.create","dataset":"dataset.repos","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Repositories"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.devs","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Developers"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.commits","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Commits"]}},{"updateOperation":{"type":"date-dimension.create","destructive":false,"description":"Create
        date dimension ''%s''","parameters":["Committed On[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:ckfW71OCLCu8obbMQKZSDQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:ckfW71OCLCu8obbMQKZSDQ:bGNeBYYQzeCYpAqu
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''eunqn7s3i8h7q3tn42ieri18w6gsi06q''","category":"project","instance":"eunqn7s3i8h7q3tn42ieri18w6gsi06q","links":[{"link":"/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","ca[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:S2GNfUj4sPDqKkkl0e9GNA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.repos} VISUAL(TITLE \"Repositories\");\nCREATE
        DATASET {dataset.devs} VISUAL(TITLE \"Developers\");\nCREATE DATASET {dataset.commits}
        VISUAL(TITLE \"Commits\");\nINCLUDE TEMPLATE \"URN:GOODDATA:DATE\" MODIFY
        (IDENTIFIER \"committed_on\", TITLE \"Committed On\");\nCREATE FOLDER {dim.folderedrepos}
        VISUAL(TITLE \"Foldered Repos\") TYPE ATTRIBUTE;\nCREATE ATTRIBUTE {attr.repos.repo_id}
        VISUAL(TITLE \"Repository Id\", DESCRIPTION \"Thi[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/tasks/7f1e7c46cd3209ec2d0eae16d2f32e930000002a/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:UZeEEEemBAZ-B2oBCC5ScQ
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:UZeEEEemBAZ-B2oBCC5ScQ:82LJVhzR2DnsTixA
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/tasks/7f1e7c46cd3209ec2d0eae16d2f32e930000002a/status","status":"RUNNING","links":{"poll":"/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/tasks/7f1e7c46cd3209ec2d0eae16d2f32e930000002a/status"}}}'
  recorded_at: Tue, 05 Jun 2018 06:48:13 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/t8e4js3e9rstre1mhsj152woat7ttapc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:63R3jXeSMUSS-YcGx_iI2w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/t8e4js3e9rstre1mhsj152woat7ttapc/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/t8e4js3e9rstre1mhsj152woat7ttapc/model/diff/eff23045e42430ad9a8d0f14901a217c01cd73ad7064c1ff0000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:b4fDr6hzdfBsqcLqPmprmw
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/t8e4js3e9rstre1mhsj152woat7ttapc/model/diff/eff23045e42430ad9a8d0f14901a217c01cd73ad7064c1ff0000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:b4fDr6hzdfBsqcLqPmprmw:EP0U4wLVVSwm4jg7
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/t8e4js3e9rstre1mhsj152woat7ttapc/model/diff/eff23045e42430ad9a8d0f14901a217c01cd73ad7064c1ff0000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 06:48:35 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/t8e4js3e9rstre1mhsj152woat7ttapc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:mxlHYuKgcWUtAlim736fng
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charse[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/t8e4js3e9rstre1mhsj152woat7ttapc/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:SbmBJJvXha86uQaJKIGFIw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/t8e4js3e9rstre1mhsj152woat7ttapc/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.repos} VISUAL(TITLE \"Repositories\");\nCREATE
        DATASET {dataset.devs} VISUAL(TITLE \"Developers\");\nCREATE DATASET {dataset.commits}
        VISUAL(TITLE \"Commits\");\nINCLUDE TEMPLATE \"URN:GOODDATA:DATE\" MODIFY
        (IDENTIFIER \"committed_on\", TITLE \"Committed On\"[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/t8e4js3e9rstre1mhsj152woat7ttapc/tasks/844b7cb3e7a708d64a17f947a6c7a8250000002a/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:6hHATr0PUknIeIZhl-JPvg
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:6hHATr0PUknIeIZhl-JPvg:mVREKKwy9vKc4JVb
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/t8e4js3e9rstre1mhsj152woat7ttapc/tasks/844b7cb3e7a708d64a17f947a6c7a8250000002a/status","status":"RUNNING","links":{"poll":"/gdc/md/t8e4js3e9rstre1mhsj152woat7ttapc/tasks/844b7cb3e7a708d64a17f947a6c7a8250000002a/status"}}}'
  recorded_at: Tue, 05 Jun 2018 06:48:48 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Erz_f-AAZ2v0yoZ95OcHoA:MB4FhqCrvzBs6BfncNohJA
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '26'
      X-Gdc-Request:
      - Erz_f-AAZ2v0yoZ95OcHoA:MB4FhqCrvzBs6BfncNohJA:psYAbVIRGednvmNq
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 06:49:33 GMT
recorded_with: VCR 4.0.0
