---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:7Bsv1bcskjqTWF28e_sN5w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:7Bsv1bcskjqTWF28e_sN5w:cLT8IF0AKZGF8fmZ
      X-Gdc-Request-Time:
      - '133'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"fact":{"content":{"folders":["/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/obj/219"],"expr":[{"type":"col","data":"/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/obj/29"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/obj/220","tags":"","created":"2018-06-05
        08:48:15","identifier":"fact.commits.lines_changed","deprecated":"0","summary":"Fact
        description","isProduction":1,"title":"Lines Changed","category":"fact","updated":"2018-06-05
        08:48:15","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Tue, 05 Jun 2018 06:49:00 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/obj/220
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:2GybwYmcNAsI8xMccFKCdg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:2GybwYmcNAsI8xMccFKCdg:Dr0Uns6NzDSajlJo
      X-Gdc-Request-Time:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/obj/219"],"expr":[{"type":"col","data":"/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/obj/29"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/obj/220","tags":"","created":"2018-06-05
        08:48:15","identifier":"fact.commits.lines_changed","deprecated":"0","summary":"Fact
        description","isProduction":1,"title":"Lines Changed","category":"fact","updated":"2018-06-05
        08:48:15","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 06:49:01 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:2KtR0cDix120o8HGGVyyyQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:2KtR0cDix120o8HGGVyyyQ:ZXpwv0ZkZumMfNUx
      X-Gdc-Request-Time:
      - '315'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":22,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/obj/62"}],"displayForms":[{"content":{"formOf":"/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/obj/146","expression":"[/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/obj/63]","default":1},"links":{"elements":"/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/obj/164/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/obj/164","tags":"","created":"2010-08-02
        08:13:42","identifier":"committed_on.aag81lMifn6q","deprecated":"0","summary":"DisplayForm
        Year.","isProduction":1,"title":"Year (Committed On)","category":"attributeDisplayForm","updated":"2018-06-05
        08:48:14","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/obj/196","sort":"pk","dimension":"/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/obj/43","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/obj/110"},{"multivalue":false,"type":"col","data":"/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/obj/118"},{"multivalue":false,"type":"col","data":"/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/obj/133"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/obj/146","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"committed_on.year","deprecated":"[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:1NofZb8-Fp9QmeliysZtjg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:1NofZb8-Fp9QmeliysZtjg:AQkLqADTjl3gHbmB
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Tue, 05 Jun 2018 06:49:03 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT SUM([/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/obj/220])"},"meta":{"tags":"","summary":null,"title":"Testing
        metric to be exported"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:_ZiGxcG0Z_FotqmBGmiMWg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:_ZiGxcG0Z_FotqmBGmiMWg:UPS5Qv0a3GffjBPQ
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/obj/246"}'
  recorded_at: Tue, 05 Jun 2018 06:49:03 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/obj/246
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:4qET43u2qTtlA4BJeU-5AQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:4qET43u2qTtlA4BJeU-5AQ:66AXSzikP9bc3jDA
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"SUM","content":[{"value":"/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/obj/220","position":{"column":25,"line":1},"type":"fact
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        SUM([/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/obj/220])"},"links":{"explain2":"/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/obj/246/explain2"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/obj/246","tags":"","created":"2018-06-05
        08:49:03","identifier":"aace1kALbiR0","deprecated":"0","summary":"","isProduction":1,"title":"Testing
        metric to be exported","category":"metric","updated":"2018-06-05 08:49:03","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 06:49:04 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/t8e4js3e9rstre1mhsj152woat7ttapc/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:x8GWDJBt7dl2nfAvQWWTbw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:x8GWDJBt7dl2nfAvQWWTbw:sKetu9gVLIE8Vbpa
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Tue, 05 Jun 2018 06:49:05 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/maintenance/partialmdexport
    body:
      encoding: UTF-8
      string: '{"partialMDExport":{"uris":["/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/obj/246"],"exportAttributeProperties":"1","crossDataCenterExport":"1"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:YcNY_41wASk7nGn04vwiQA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:YcNY_41wASk7nGn04vwiQA:20sxJTQXpCMkI8ST
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"partialMDArtifact":{"status":{"uri":"/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/tasks/ebe01ef68b4aab06ff11b0c7712873c1020c40de723fea240000002a/status"},"token":"<TOKEN>"}}'
  recorded_at: Tue, 05 Jun 2018 06:49:05 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/tasks/ebe01ef68b4aab06ff11b0c7712873c1020c40de723fea240000002a/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:P15jJqB0vR9gSJ0zVvkOWg
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:P15jJqB0vR9gSJ0zVvkOWg:GUQaWOmNBmRboVLr
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/tasks/ebe01ef68b4aab06ff11b0c7712873c1020c40de723fea240000002a/status","status":"RUNNING","links":{"poll":"/gdc/md/eunqn7s3i8h7q3tn42ieri18w6gsi06q/tasks/ebe01ef68b4aab06ff11b0c7712873c1020c40de723fea240000002a/status"}}}'
  recorded_at: Tue, 05 Jun 2018 06:49:06 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/t8e4js3e9rstre1mhsj152woat7ttapc/maintenance/partialmdimport
    body:
      encoding: UTF-8
      string: '{"partialMDImport":{"token":"<TOKEN>","overwriteNewer":"1","updateLDMObjects":"1","importAttributeProperties":"1"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:IRcV_mbuqq2ylwUq7GCEnA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:IRcV_mbuqq2ylwUq7GCEnA:cBWxoej8aaGfx6vD
      X-Gdc-Request-Time:
      - '804'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/t8e4js3e9rstre1mhsj152woat7ttapc/tasks/ea0b4acfe0f930e1246aba3d553fdcac020c40dc72fccd070000002a/status"}'
  recorded_at: Tue, 05 Jun 2018 06:49:17 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/t8e4js3e9rstre1mhsj152woat7ttapc/tasks/ea0b4acfe0f930e1246aba3d553fdcac020c40dc72fccd070000002a/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:XgJM5ga2acQF-QFUz_90Rw
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:XgJM5ga2acQF-QFUz_90Rw:d4BMFDFMmdNotWbv
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/t8e4js3e9rstre1mhsj152woat7ttapc/tasks/ea0b4acfe0f930e1246aba3d553fdcac020c40dc72fccd070000002a/status","status":"RUNNING","links":{"poll":"/gdc/md/t8e4js3e9rstre1mhsj152woat7ttapc/tasks/ea0b4acfe0f930e1246aba3d553fdcac020c40dc72fccd070000002a/status"}}}'
  recorded_at: Tue, 05 Jun 2018 06:49:18 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/t8e4js3e9rstre1mhsj152woat7ttapc/obj/246
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Tt4j_F7eRhCPKw-pWAdIJA:TYlBlVfKvBqljJgOP3fssg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
