---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects?limit=400&offset=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:pSirNTGYiBv4RDuWF0bR1g"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '2228'
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:pSirNTGYiBv4RDuWF0bR1g:gGGZZEf59gvqDqdD"
    body:
      encoding: ASCII-8BIT
      string: '{"projects":{"paging":{"offset":100,"limit":400,"count":400,"totalCount":3310,"next":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects?offset=500&limit=400"},"items":[{"project":{"content":{"state":"ENABLED","cluster":"","environment":"PRODUCTION","driver":"Pg","isPublic":"0","guidedNavigation":"1"},"meta":{"title":"ATT_Master_Of_Segment_01409
        #1","summary":"No summary","created":"2021-09-12 19:31:08","updated":"2021-09-12
        19:39:48","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"},"links":{"self":"/gdc/projects/y2lxsot012hrnw9odlf64oqiu75d6b1l","roles":"/gdc/projects/y2lxsot012hrnw9odlf64oqiu75d6b1l/roles","users":"/gdc/projects/y2lxsot012hrnw9odlf64oqiu75d6b1l/users?link=1&offset=0&limit=100","userRoles":"/gdc/projects/y2lxsot012hrnw9odlf64oqiu75d6b1l/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/y2lxsot012hrnw9odlf64oqiu75d6b1l/users/5ad80b895edcc438e5a4418e222733fa/permissions","invitations":"/gdc/projects/y2lxsot012hrnw9odlf64oqiu75d6b1l/invitations","ldm":"/gdc/projects/y2lxsot012hrnw9odlf64oqiu75d6b1l/ldm","ldm_thumbnail":"/gdc/projects/y2lxsot012hrnw9odlf64oqiu75d6b1l/ldm?thumbnail=1","uploads":"/gdc/projects/y2lxsot012hrnw9odlf64oqiu75d6b1l/uploads/","metadata":"/gdc/md/y2lxsot012hrnw9odlf64oqiu75d6b1l","templates":"/gdc/md/y2lxsot012hrnw9odlf64oqiu75d6b1l/templates","connectors":"/gdc/projects/y2lxsot012hrnw9odlf64oqiu75d6b1l/connectors","schedules":"/gdc/projects/y2lxsot012hrnw9odlf64oqiu75d6b1l/schedules","dataload":"/gdc/projects/y2lxsot012hrnw9odlf64oqiu75d6b1l/dataload","execute":"/gdc/projects/y2lxsot012hrnw9odlf64oqiu75d6b1l/execute","clearCaches":"/gdc/projects/y2lxsot012hrnw9odlf64oqiu75d6b1l/clearCaches","projectFeatureFlags":"/gdc/projects/y2lxsot012hrnw9odlf64oqiu75d6b1l/projectFeatureFlags","config":"/gdc/projects/y2lxsot012hrnw9odlf64oqiu75d6b1l/config"}}},{"project":{"content":{"state":"ENABLED","cluster":"","environment":"PRODUCTION","driver":"Pg","isPublic":"0","guidedNavigation":"1"},"meta":{"title":"ATT_Master_Of_Segment_01ab9
        #1","summary":"No summary","created":"2022-01-04 02:33:15","updated":"2022-01-04
        02:41:27","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"},"links":{"self":"/g[...]
