---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_67838f67-a407-4188-bfc0-de9636ac7b0b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:TATy8bstXAYuq3RQR_v87g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:TATy8bstXAYuq3RQR_v87g:YrV1E6l8odJKi5zt
      X-Gdc-Request-Time:
      - '13'
    body:
      encoding: ASCII-8BIT
      string: '{"client":{"id":"tenant_67838f67-a407-4188-bfc0-de9636ac7b0b","segment":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54","project":"/gdc/projects/cheih8kgogyja54d7iekdqycr5k6iww9","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_67838f67-a407-4188-bfc0-de9636ac7b0b"}}}'
  recorded_at: Mon, 04 Jun 2018 13:03:43 GMT
recorded_with: VCR 4.0.0
