---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients?segment=segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:nXDjLU_3V5RF25jbI1kA8Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:nXDjLU_3V5RF25jbI1kA8Q:H9erxFfymsh5z9HV
      X-Gdc-Request-Time:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '{"clients":{"items":[{"client":{"id":"tenant_67838f67-a407-4188-bfc0-de9636ac7b0b","segment":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54","project":"/gdc/projects/cheih8kgogyja54d7iekdqycr5k6iww9","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_67838f67-a407-4188-bfc0-de9636ac7b0b"}}}],"paging":{"next":null}}}'
  recorded_at: Mon, 04 Jun 2018 13:03:42 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:JO5hjXaGTM8CJUJRJ3W6LA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:JO5hjXaGTM8CJUJRJ3W6LA:GYkliXZZ7SrPOniE
      X-Gdc-Request-Time:
      - '13'
    body:
      encoding: ASCII-8BIT
      string: '{"dataProduct":{"id":"default","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default","domain":"/gdc/domains/staging2-lcm-prod","segments":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients"}}}'
  recorded_at: Wed, 10 Oct 2018 10:27:35 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients?segment=segment-5512853c-2fcf-428e-b40d-fcac616277e9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:y3ZKJD-cm8MidqRCIRtSLg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:y3ZKJD-cm8MidqRCIRtSLg:4Bd54wsGXMLx9LE1
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"clients":{"items":[{"client":{"id":"tenant_5bc7bfe4-afe2-4e86-9b05-03e6365ccc2e","segment":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-5512853c-2fcf-428e-b40d-fcac616277e9","project":"/gdc/projects/hrpt8yne9ng6qwnj817u13gjwlzc42lh","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_5bc7bfe4-afe2-4e86-9b05-03e6365ccc2e"}}}],"paging":{"next":null}}}'
  recorded_at: Wed, 10 Oct 2018 10:27:36 GMT
recorded_with: VCR 4.0.0
