---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/k1ocfm1di3ddj89nmi3gb1h2xt4qdtt9/objects/query?category=prompt&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:9V-x78QWVjzWcJZ1FbUrZg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:9V-x78QWVjzWcJZ1FbUrZg:TlRO7lBhVDJpk0AI
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Wed, 05 Dec 2018 14:15:32 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/i1a3ygobo7o1hy2xx5tqcchw37fibmik/objects/query?category=prompt&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:rAc06Fxjq3NB5siYc2EhJQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:rAc06Fxjq3NB5siYc2EhJQ:ui4wK6K1gRkM0b9v
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Wed, 05 Dec 2018 14:15:33 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/g4zo0xsvjioeghonxxiqppg63v03fkjh/objects/query?category=prompt&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:GJhA_MeGNk-aK9VI9_pnOQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:GJhA_MeGNk-aK9VI9_pnOQ:syAz6hl4yuKbB9RV
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Wed, 05 Dec 2018 14:15:33 GMT
recorded_with: VCR 4.0.0
