---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/objects/query?category=prompt&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:QFWWxqm2RM875WQbkeHXoA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:QFWWxqm2RM875WQbkeHXoA:GxnQakSxbOyuk81h"
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Thu, 18 Apr 2019 12:51:02 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/objects/query?category=prompt&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:vBlIxVyz-uFRwaTybViZfA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:vBlIxVyz-uFRwaTybViZfA:jSU6hHiZSM0697ai"
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Thu, 18 Apr 2019 12:51:03 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/c6vxre8nhydx2z6t9716ssfsh19hm3im/objects/query?category=prompt&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:NQ7uZrQjtOHMAzQBWsQN1g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:NQ7uZrQjtOHMAzQBWsQN1g:kvEiJnsR1gVmFP6V"
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Thu, 18 Apr 2019 12:51:04 GMT
recorded_with: VCR 4.0.0
