---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:9f9YkBmt9LkOTVhxw2PTCQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:9f9YkBmt9LkOTVhxw2PTCQ:EAe4WMSvYUnfrckV
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/schedules","items":[{"schedule":{"name":"main.rb","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"main.rb","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"598bc287-b915-4dc3-9f4c-061ca6c24d03"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/schedules/5c1253ebe4b0e9d3950de8d6","executions":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/schedules/5c1253ebe4b0e9d3950de8d6/executions"},"triggerScheduleId":"5c1253e9e4b0e9d3950de8d5"}},{"schedule":{"name":"test.grf","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"graph/test.grf","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"ea0900fe-51c2-4b97-a56f-85f65c4532e5"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2019-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/schedules/5c1253e9e4b0e9d3950de8d5","executions":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/schedules/5c1253e9e4b0e9d3950de8d5/executions"}}}]}}'
  recorded_at: Thu, 13 Dec 2018 12:50:00 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/uxied118kzjwc2yzlzufb82fi3gaeuk5/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:BIPV20Lgp3oYKNOGmSK98Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:BIPV20Lgp3oYKNOGmSK98Q:PFwcU8cerjufIBWF
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/uxied118kzjwc2yzlzufb82fi3gaeuk5/schedules","items":[{"schedule":{"name":"main.rb","type":"MSETL","state":"ENABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","EXECUTABLE":"main.rb","param_2":"b","param_1":"a","msg_from_provisioning_brick":"Hi,
        I was set by provisioning brick","print_reverted":"hidden_msg_from_provisioning_brick,SECURE_PARAM_2","PROCESS_ID":"fa927d61-f499-496e-84b6-95ef219dbbde"},"hiddenParams":{"secure_param_2":null,"secure_param_1":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/uxied118kzjwc2yzlzufb82fi3gaeuk5/schedules/5c125510e4b0e4c306ea2bbe","executions":"/gd[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/cn0e66ez01xxl9onyuukb08on756mpqm/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:0kjdXkp6oftokrYYAp9eNA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applica[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/np9cke7ukj3p139o276advdvtwjlin8v/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:pqSx6181FmYWYb1l5XBQfg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applica[...]
