---
http_interactions:
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:x73XHVh9KaHf6tq7Vk4uKw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:x73XHVh9KaHf6tq7Vk4uKw:rAC6lZ5Sgc5Md6kR
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/115"}]}'
  recorded_at: Tue, 11 Dec 2018 14:07:28 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:QpGAbDKwAaCADIlN6rS9uQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:QpGAbDKwAaCADIlN6rS9uQ:IoSNA2E9w689aF4b
      X-Gdc-Request-Time:
      - '88'
    body:
      encoding: ASCII-8BIT
      string: '{"dataSet":{"content":{"mode":"","facts":["/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/312","/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/313","/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/314","/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/315"],"dataLoadingColumns":["/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/92","/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/94","/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/87","/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/89","/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/77","/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/79","/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/72","/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/74","/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/97","/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/99"[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:3vf6JNsaoTNig_W-nG288Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:3vf6JNsaoTNig_W-nG288Q:waNuu7Pd53WVfSI2
      X-Gdc-Request-Time:
      - '62'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/311"],"expr":[{"type":"col","data":"/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/34"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/az2x7ohvxboffe7xxxuuo6fonmja6mle/obj/312","tags":"fact","created":"2018-12-11
        14:56:37","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2018-12-11 14:59:04","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Tue, 11 Dec 2018 14:07:31 GMT
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/m08ab9801uh98cnjdqxt95vmm6vitzsu/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:BFJHo1Me2HJ7QSS3vhN6GA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:BFJHo1Me2HJ7QSS3vhN6GA:ftIAtq5dZW8PGq3O
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/m08ab9801uh98cnjdqxt95vmm6vitzsu/obj/115"}]}'
  recorded_at: Tue, 11 Dec 2018 14:07:31 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/m08ab9801uh98cnjdqxt95vmm6vitzsu/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:ig7nWYG-pRZMJcNRqW8ZMQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
[...]
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/kp4xxjo31v1kblek24we1pc6mkjfugfu/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:IjGMJ2Kmo00VhL-QgvosYA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:IjGMJ2Kmo00VhL-QgvosYA:ATDJ4Li05ubQJPhJ
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/kp4xxjo31v1kblek24we1pc6mkjfugfu/obj/115"}]}'
  recorded_at: Tue, 11 Dec 2018 14:07:35 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/kp4xxjo31v1kblek24we1pc6mkjfugfu/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:fpPvlSohuh9hdLKO_zd-Uw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/kp4xxjo31v1kblek24we1pc6mkjfugfu/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:66I3JVzG6iqV0atLbUr4XA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:66I3JVzG6iqV0atLbUr4XA:69FwXvvCOC8d8zeU
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/kp4xxjo31v1kblek24we1pc6mkjfugfu/obj/311"],"expr":[{"type":"col","data":"/gdc/md/kp4xxjo31v1kblek24we1pc6mkjfugfu/obj/34"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/kp4xxjo31v1kblek24we1pc6mkjfugfu/obj/312","tags":"fact","created":"2018-12-11
        14:56:37","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2018-12-11 14:59:04","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Tue, 11 Dec 2018 14:07:37 GMT
recorded_with: VCR 4.0.0
