---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:ic_8hf8ZErVjDCXKt7PHdA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:ic_8hf8ZErVjDCXKt7PHdA:q1JotXW4xYGV41hM"
      X-Gdc-Request-Time:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"processes":{"items":[{"process":{"type":"GRAPH","name":"Simple CloudConnect
        Process","graphs":["graph/test.grf"],"executables":["graph/test.grf"],"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/dataload/processes/a8ba7304-eaf5-4b27-bf77-b1111c85a73d","executions":"/gdc/projects/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/dataload/processes/a8ba7304-eaf5-4b27-bf77-b1111c85a73d/executions","source":"/gdc/projects/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/dataload/processes/a8ba7304-eaf5-4b27-bf77-b1111c85a73d/source"}}},{"process":{"type":"RUBY","name":"Simple
        Ruby Process","path":"${PUBLIC_APPSTORE}:branch/master:/apps/hello_world_brick","graphs":["main.rb"],"executables":["main.rb"],"lastDeployed":"2019-04-18T12:45:46.380Z","ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/dataload/processes/5759dcc5-7a50-429f-b549-632a154ee6ff","executions":"/gdc/projects/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/dataload/processes/5759dcc5-7a50-429f-b549-632a154ee6ff/executions","source":"/gdc/projects/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/dataload/processes/5759dcc5-7a50-429f-b549-632a154ee6ff/source"}}},{"process":{"type":"ETL","name":"lcm-end-to-end-csv-download","graphs":[],"executables":[],"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/dataload/processes/07b38be7-bd6f-4da3-8f39-4851729fa5b9","executions":"/gdc/projects/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/dataload/processes/07b38be7-bd6f-4da3-8f39-4851729fa5b9/executions","source":"/gdc/projects/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/dataload/processes/07b38be7-bd6f-4da3-8f39-4851729fa5b9/source"},"component":{"name":"gdc-etl-csv-downloader","version":"1","configLocation":{"s3":{"path":"s3://s3_bucket/s3_folder/","accessKey":"s3_access_key","serverSideEncryption":true}}}}},{"process":{"type":"ETL","name":"lcm-end-to-end-sql-exec","graphs":[],"executables":[],"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/dataload/processes/79c4c986-5aa4-41df-b3cd-fd0a96092e71","executions":"/gdc/projects/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/dataload/processes/79c4c986-5aa4-41df-b3cd-fd0a96092e71/executions","source":"/gdc/projects/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/dataload/processes/79c4c986-5aa4-41df-b3cd-fd0a96092e71/source"},"component":{"name":"gdc-etl-sql-executor","version":"1","configLocation":{"s3":{"path":"s3://s3_bucket/s3_folder/","accessKey":"s3_access_key","serverSideEncryption":true}}}}}],"links":{"self":"/gdc/projects/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/dataload/processes"}}}'
  recorded_at: Thu, 18 Apr 2019 12:46:20 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:UfmskqSrK3nzJcDEw9j0lA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:UfmskqSrK3nzJcDEw9j0lA:Gye9Lo4hkShs7SrL"
      X-Gdc-Request-Time:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/schedules","items":[{"schedule":{"name":"main.rb","type":"MSETL","state":"ENABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","EXECUTABLE":"main.rb","param_2":"b","param_1":"a","msg_from_provisioning_brick":"Hi,
        I was set by provisioning brick","print_reverted":"hidden_msg_from_provisioning_brick,SECURE_PARAM_2","PROCESS_ID":"5759dcc5-7a50-429f-b549-632a154ee6ff"},"hiddenParams":{"secure_param_2":null,"secure_param_1":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/schedules/5cb8717ae4b0d86679f226a8","executions":"/gdc/projects/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/schedules/5cb8717ae4b0d86679f226a8/executions"},"triggerScheduleId":"5cb8717ae4b0d86679f226a7"}},{"schedule":{"name":"test.grf","type":"MSETL","state":"ENABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","EXECUTABLE":"graph/test.grf","param_2":"b","param_1":"a","msg_from_provisioning_brick":"Hi,
        I was set by provisioning brick","print_reverted":"hidden_msg_from_provisioning_brick,SECURE_PARAM_2","PROCESS_ID":"a8ba7304-eaf5-4b27-bf77-b1111c85a73d"},"hiddenParams":{"secure_param_2":null,"secure_param_1":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2020-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/schedules/5cb8717ae4b0d86679f226a7","executions":"/gdc/projects/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/schedules/5cb8717ae4b0d86679f226a7/executions"}}}]}}'
  recorded_at: Thu, 18 Apr 2019 12:46:21 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ifu9pf5wu697rww6y7zld524mvkm7zy4/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:M7vifWUN2zvgnO2z8dNj7g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      -[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ifu9pf5wu697rww6y7zld524mvkm7zy4/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:1jvAO6_acZH4rITCtJ8nQw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/c6vxre8nhydx2z6t9716ssfsh19hm3im/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:fGDQo-LYOmRFskBBx77B_Q"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      -[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/c6vxre8nhydx2z6t9716ssfsh19hm3im/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:NxVfKLIMVhOcvwhOW1ei1w"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/oa1tpppehpjcf7s6cxr4cvpp927dhvyf/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:tfgeV8HYhOtuLs3Tf04s4w"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '8'
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:tfgeV8HYhOtuLs3Tf04s4w:OgAYiktGRlPbHUDb"
    body:
      encoding: ASCII-8BIT
      string: '{"processes":{"items":[{"process":{"type":"GRAPH","name":"Simple CloudConnect
        Process","graphs":["graph/test.grf"],"executables":[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/oa1tpppehpjcf7s6cxr4cvpp927dhvyf/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:soqBlky7p_g3xyG1IJ4dQw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '15'
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:soqBlky7p_g3xyG1IJ4dQw:AO7BTngbPsl0m5n8"
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/oa1tpppehpjcf7s6cxr4cvpp927dhvyf/schedules","items":[{"schedule":{"name":"test.grf","type":"MSETL","state":"ENABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","all_dynamic_param":"is_in_every_schedule","EXECUTABLE":"graph/test.grf","param_2":"b","param_1":"a","msg_from_provisioning_brick":"Hi,
        I was set by provisioning brick","print_reverted":"hidden_msg_from_provisioning_brick,SECURE_PARAM_2","PROCESS_ID":"7ef6b4d1-01bc-42c9-881a-908fad1bd9eb"},"hiddenParams":{"secure_param_2":null,"secure_param_1":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null,"all_dynamic_hidden_param":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2021-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/oa1tpppehpjcf7s6cxr4cvpp927dhvyf/schedules/5eb3eb5d71a6014624219e9a","executions":"/gdc/projects/oa1tpppehpjcf7s6cxr4cvpp927dhvyf/schedules/5eb3eb5d71a6014624219e9a/executions"}}},{"schedule":{"name":"SimpleRubySchedule","type":"MSETL","state":"ENABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","all_dynamic_param":"is_in_every_schedule","EXECUTABLE":"main.rb","param_2":"b","dynamic_param":"LCM_SPEC_CLIENT_WITH_CONFLICTING_LDM_CHANGES","param_1":"a","msg_from_provisioning_brick":"Hi,
        I was set by provisioning brick","print_reverted":"hidden_msg_from_provisioning_brick,SECURE_PARAM_2","PROCESS_ID":"a94ba6eb-bd9d-4578-b118-1d58a617ed11"},"hiddenParams":{"secure_param_2":null,"secure_param_1":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null,"all_dynamic_hidden_param":null,"dynamic_hidden_param":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/oa1tpppehpjcf7s6cxr4cvpp927dhvyf/schedules/5eb3eb5d71a6014624219e9b","executions":"/gdc/projects/oa1tpppehpjcf7s6cxr4cvpp927dhvyf/schedules/5eb3eb5d71a6014624219e9b/executions"},"triggerScheduleId":"5eb3eb5d71a6014624219e9a"}}]}}'
  recorded_at: Thu, 07 May 2020 11:05:52 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/u586yv7vl7kcb29a3jw30w37ppng6zue/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:TFEEi2kjXatm89kqKgOtnQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/u586yv7vl7kcb29a3jw30w37ppng6zue/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:nBCXb3DqDyNF6r4ncIzxSw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/bmj711dbr65hsga7zh5mshxomid5z3sv/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:EMAtLYuTgCb1Wtb7qKakrQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/bmj711dbr65hsga7zh5mshxomid5z3sv/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:ncIKktYZ2ahfRsSWf0BM9A"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X[...]
