---
http_interactions:
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/roqdh0atnyjbinu96lns32v0k79uhkpe/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:v4BH6a5bN9Z73agVXjU5bQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:v4BH6a5bN9Z73agVXjU5bQ:LAZUqhafkekorHR7"
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/roqdh0atnyjbinu96lns32v0k79uhkpe/obj/115"}]}'
  recorded_at: Thu, 21 Feb 2019 09:58:09 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/roqdh0atnyjbinu96lns32v0k79uhkpe/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:TqI65zVU2BhURtOZtj_Auw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:TqI65zVU2BhURtOZtj_Auw:51vtt220IN0223T6"
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"dataSet":{"content":{"mode":"","facts":["/gdc/md/roqdh0atnyjbinu96lns32v0k79uhkpe/obj/312","/gdc/md/roqdh0atnyjbinu96lns32v0k79uhkpe/obj/313","/gdc/md/roqdh0atnyjbinu96lns32v0k79uhkpe/obj/314","/gdc/md/roqdh0atnyjbinu96lns32v0k79uhkpe/obj/315"],"dataLoadingColumns":["/gdc/md/roqdh0atnyjbinu96lns32v0k79uhkpe/obj/92","/gdc/md/roqdh0atnyjbinu96lns32v0k79uhkpe/obj/94","/gdc/md/roqdh0atnyjbinu96lns32v0k79uhkpe/obj/87","/gdc/md/roqdh0atnyjbinu96lns32v0k79uhkpe/obj/89","/gdc/md/roqdh0atnyjbinu96lns32v0k79uhkpe/obj/77","/gdc/md/roqdh0atnyjbinu96lns32v0k79uhkpe/obj/79","/gdc/md/roqdh0atnyjbinu96lns32v0k79uhkpe/obj/72","/gdc/md/roqdh0atnyjbinu96lns32v0k79uhkpe/obj/74","/gdc/md/roqdh0atnyjbinu96lns32v0k79uhkpe/obj/97","/gdc/md/roqdh0atnyjbinu96lns32v0k79uhkpe/obj/99"[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/roqdh0atnyjbinu96lns32v0k79uhkpe/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:ofnhElljOawXSFP1dOEffA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:ofnhElljOawXSFP1dOEffA:GgwFuT1ihKzYjGx2"
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/roqdh0atnyjbinu96lns32v0k79uhkpe/obj/311"],"expr":[{"type":"col","data":"/gdc/md/roqdh0atnyjbinu96lns32v0k79uhkpe/obj/34"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/roqdh0atnyjbinu96lns32v0k79uhkpe/obj/312","tags":"fact","created":"2019-02-21
        10:49:38","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2019-02-21 10:51:48","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Thu, 21 Feb 2019 09:58:11 GMT
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/i57v53e4woqlrddf1qdxywjnr8iinfuv/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:wZQ9qHZsTPoiOZuaadmfeQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:wZQ9qHZsTPoiOZuaadmfeQ:isyM8OsDV3846BLN"
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/i57v53e4woqlrddf1qdxywjnr8iinfuv/obj/115"}]}'
  recorded_at: Thu, 21 Feb 2019 09:58:12 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/i57v53e4woqlrddf1qdxywjnr8iinfuv/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:xh_z02tVu8yyo07DHZVNsw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content[...]
[...]
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/cb9v0ygjc58fefdwwscxqcw4jp30wyij/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:dtgTvwendrPoIgl4MHNRNg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:dtgTvwendrPoIgl4MHNRNg:lofplVG9ZWhU1GgQ"
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/cb9v0ygjc58fefdwwscxqcw4jp30wyij/obj/115"}]}'
  recorded_at: Thu, 21 Feb 2019 09:58:14 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/cb9v0ygjc58fefdwwscxqcw4jp30wyij/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:uCtPMsHjXC86u_e4j58r9g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/cb9v0ygjc58fefdwwscxqcw4jp30wyij/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:m3RlwX_DqA23xjmm80X7Xw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:m3RlwX_DqA23xjmm80X7Xw:38W59eM0dnRtagWv"
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/cb9v0ygjc58fefdwwscxqcw4jp30wyij/obj/311"],"expr":[{"type":"col","data":"/gdc/md/cb9v0ygjc58fefdwwscxqcw4jp30wyij/obj/34"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/cb9v0ygjc58fefdwwscxqcw4jp30wyij/obj/312","tags":"fact","created":"2019-02-21
        10:49:38","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2019-02-21 10:51:48","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Thu, 21 Feb 2019 09:58:16 GMT
recorded_with: VCR 4.0.0
