---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:LHv5af7QT4wtUAN9fCGcfg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '8'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:LHv5af7QT4wtUAN9fCGcfg:VwjxFQEaWuBgLo8y"
    body:
      encoding: ASCII-8BIT
      string: '{"processes":{"items":[{"process":{"type":"GRAPH","name":"Simple CloudConnect
        Process","graphs":["graph/test.grf"],"executables":["graph/test.grf"],"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/dataload/processes/c8785311-b857-4d5c-a865-058a4fc84a55","executions":"/gdc/projects/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/dataload/processes/c8785311-b857-4d5c-a865-058a4fc84a55/executions","source":"/gdc/projects/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/dataload/processes/c8785311-b857-4d5c-a865-058a4fc84a55/source"}}},{"process":{"type":"RUBY","name":"Simple
        Ruby Process","path":"${PUBLIC_APPSTORE}:branch/master:/apps/hello_world_brick","graphs":["main.rb"],"executables":["main.rb"],"lastDeployed":"2020-05-07T13:35:45.076Z","ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/dataload/processes/00ec5b5c-985c-459f-a4a8-71741e0a66ed","executions":"/gdc/projects/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/dataload/processes/00ec5b5c-985c-459f-a4a8-71741e0a66ed/executions","source":"/gdc/projects/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/dataload/processes/00ec5b5c-985c-459f-a4a8-71741e0a66ed/source"}}},{"process":{"type":"ETL","name":"lcm-end-to-end-csv-download","graphs":[],"executables":[],"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/dataload/processes/aeaff744-923e-4554-9fef-3dabfdb597b4","executions":"/gdc/projects/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/dataload/processes/aeaff744-923e-4554-9fef-3dabfdb597b4/executions","source":"/gdc/projects/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/dataload/processes/aeaff744-923e-4554-9fef-3dabfdb597b4/source"},"component":{"name":"gdc-etl-csv-downloader","version":"1","configLocation":{"s3":{"path":"s3://s3_bucket/s3_folder/","accessKey":"s3_access_key","serverSideEncryption":true}}}}},{"process":{"type":"ETL","name":"lcm-end-to-end-sql-exec","graphs":[],"executables":[],"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/dataload/processes/26dbdd9f-0dd6-4f28-a4fa-360c8ec8936e","executions":"/gdc/projects/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/dataload/processes/26dbdd9f-0dd6-4f28-a4fa-360c8ec8936e/executions","source":"/gdc/projects/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/dataload/processes/26dbdd9f-0dd6-4f28-a4fa-360c8ec8936e/source"},"component":{"name":"gdc-etl-sql-executor","version":"1","configLocation":{"s3":{"path":"s3://s3_bucket/s3_folder/","accessKey":"s3_access_key","serverSideEncryption":true}}}}}],"links":{"self":"/gdc/projects/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/dataload/processes"}}}'
  recorded_at: Thu, 07 May 2020 13:36:36 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:hWhQICKZJKBxFVFhjGbHjA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '14'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:hWhQICKZJKBxFVFhjGbHjA:y5YCE7atPMUn4KC4"
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/schedules","items":[{"schedule":{"name":"test.grf","type":"MSETL","state":"ENABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","all_dynamic_param":"is_in_every_schedule","EXECUTABLE":"graph/test.grf","param_2":"b","param_1":"a","print_reverted":"hidden_msg_from_rollout_brick,SECURE_PARAM_2","msg_from_rollout_brick":"Hi,
        I was set by rollout brick","PROCESS_ID":"c8785311-b857-4d5c-a865-058a4fc84a55"},"hiddenParams":{"secure_param_2":null,"secure_param_1":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null,"all_dynamic_hidden_param":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2021-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/schedules/5eb40d3871a6014624219e9e","executions":"/gdc/projects/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/schedules/5eb40d3871a6014624219e9e/executions"}}},{"schedule":{"name":"SimpleRubySchedule","type":"MSETL","state":"ENABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","all_dynamic_param":"is_in_every_schedule","EXECUTABLE":"main.rb","param_2":"b","dynamic_param":"LCM_SPEC_CLIENT_0","param_1":"a","print_reverted":"hidden_msg_from_rollout_brick,SECURE_PARAM_2","msg_from_rollout_brick":"Hi,
        I was set by rollout brick","PROCESS_ID":"00ec5b5c-985c-459f-a4a8-71741e0a66ed"},"hiddenParams":{"secure_param_2":null,"secure_param_1":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null,"all_dynamic_hidden_param":null,"dynamic_hidden_param":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/schedules/5eb40d3871a6014624219e9f","executions":"/gdc/projects/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/schedules/5eb40d3871a6014624219e9f/executions"},"triggerScheduleId":"5eb40d3871a6014624219e9e"}}]}}'
  recorded_at: Thu, 07 May 2020 13:36:37 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ebq21r3kfv796qibuvauin0kx86t4jst/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:nsAIa0dv6vJ_XO9LlfTvDA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ebq21r3kfv796qibuvauin0kx86t4jst/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:4R8J-kbZm5QBcdXog7Pvkg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:yizwpA6RD4zDQBAT0Q3AgA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:F1OXqz-ylkig5-jEeM7KJg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/fefnuturk74qazhri199v7fzzy3q74jh/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:r0m8IualBRyeibY21U2SLA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/fefnuturk74qazhri199v7fzzy3q74jh/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:1afhcldpdCSak4M8swSYsQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/pxk7epmrvnfng3uonunjyca6o7hfx95p/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:sj6ZXApVCO1mb8B983AJBw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/pxk7epmrvnfng3uonunjyca6o7hfx95p/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:i-rDkANgmkuCG-itzeorlw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lk2kidblugfl38fdklotewbskm8u4z81/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:YLl7B3Bh-6sdTI_BxM-viA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lk2kidblugfl38fdklotewbskm8u4z81/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:EiQ9yCmsQyLW84CwYqNEag"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X[...]
