---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:-2r40_X8yJdHkg2GYmKo9w"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:-2r40_X8yJdHkg2GYmKo9w:A8tVl0KhgzU0lYdv"
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/obj/119"}]}'
  recorded_at: Thu, 07 May 2020 13:37:23 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/obj/119
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:Wyd0u9tFpWegiCcmmS2r_g"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '36'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:Wyd0u9tFpWegiCcmmS2r_g:gNS2I1pYjaM5lkZF"
    body:
      encoding: ASCII-8BIT
      string: '{"dataSet":{"content":{"mode":"","facts":["/gdc/md/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/obj/316","/gdc/md/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/obj/317","/gdc/md/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/obj/318","/gdc/md/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/obj/319"],"dataLoadingColumns":["/gdc/md/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/obj/76","/gdc/md/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/obj/78","/gdc/md/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/obj/86","/gdc/md/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/obj/88","/gdc/md/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/obj/29","/gdc/md/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/obj/31","/gdc/md/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/obj/33","/gdc/md/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/obj/35","/gdc/md/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/obj/37","/gdc/md/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/obj/39"[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/obj/316
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:NHMgj6n5cZkgDm6qZeYNiw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '43'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:NHMgj6n5cZkgDm6qZeYNiw:0kL69RQdbNeKHCK1"
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/obj/315"],"expr":[{"type":"col","data":"/gdc/md/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/obj/38"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/obj/316","tags":"_lcm_managed_object
        fact","created":"2020-05-07 15:18:55","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2020-05-07 15:35:11","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 07 May 2020 13:37:26 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ebq21r3kfv796qibuvauin0kx86t4jst/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:CNTMGZxMcr8j23LUmGSQWQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:CNTMGZxMcr8j23LUmGSQWQ:GbTb8uDhmDo7r9z2"
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/ebq21r3kfv796qibuvauin0kx86t4jst/obj/119"}]}'
  recorded_at: Thu, 07 May 2020 13:37:27 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ebq21r3kfv796qibuvauin0kx86t4jst/obj/119
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:hLCtLnzrznxw5CxvIp1N4w"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:EgSar0VLONfUd4QQKvVUdA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:EgSar0VLONfUd4QQKvVUdA:y3nUj2jtQdrCmWdk"
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/obj/119"}]}'
  recorded_at: Thu, 07 May 2020 13:37:31 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/obj/119
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:qBwpxwzIkxVDiT-uFSn7Og"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fefnuturk74qazhri199v7fzzy3q74jh/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:At_vu3MlO6ykH0qhHEywpQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '15'
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:At_vu3MlO6ykH0qhHEywpQ:h8w6LvsJWpgx8oBm"
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/fefnuturk74qazhri199v7fzzy3q74jh/obj/119"}]}'
  recorded_at: Fri, 02 Apr 2021 06:34:43 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fefnuturk74qazhri199v7fzzy3q74jh/obj/119
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:68QOa2zoGs4QNAoMDID0Iw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-T[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/pxk7epmrvnfng3uonunjyca6o7hfx95p/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:Mkx8ICtIRvf01IIMkXuleg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:Mkx8ICtIRvf01IIMkXuleg:ZQUUnmotRPt106eD"
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/pxk7epmrvnfng3uonunjyca6o7hfx95p/obj/119"}]}'
  recorded_at: Fri, 02 Apr 2021 06:34:47 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/pxk7epmrvnfng3uonunjyca6o7hfx95p/obj/119
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:Ca9YYyOh4bJPJkUBxUAKtg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-T[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lk2kidblugfl38fdklotewbskm8u4z81/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:iuzpIgG0sc1WZCdPVlXDxQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '17'
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:iuzpIgG0sc1WZCdPVlXDxQ:P6O5vOH1glxW9QUN"
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/lk2kidblugfl38fdklotewbskm8u4z81/obj/119"}]}'
  recorded_at: Fri, 02 Apr 2021 06:34:51 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lk2kidblugfl38fdklotewbskm8u4z81/obj/119
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:yjT2qNhPfLV2sayw-b0Sig"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-T[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lk2kidblugfl38fdklotewbskm8u4z81/obj/315
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:mACWMMFu2t2Y4P4NW0U0_g"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '20'
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:mACWMMFu2t2Y4P4NW0U0_g:2etpnbaWr9fxmSj9"
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/lk2kidblugfl38fdklotewbskm8u4z81/obj/314"],"expr":[{"type":"col","data":"/gdc/md/lk2kidblugfl38fdklotewbskm8u4z81/obj/38"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/lk2kidblugfl38fdklotewbskm8u4z81/obj/315","tags":"_lcm_managed_object
        fact","created":"2021-04-02 07:40:09","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2021-04-02 08:00:44","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Fri, 02 Apr 2021 06:34:53 GMT
recorded_with: VCR 5.0.0
