---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/x00321l0ko7uh2khx8v2qz7tpqzo24vh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gjkk-kBSWShijF5jPCPejg:nqjcWBUJnVNIzN7fUeao9Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - gjkk-kBSWShijF5jPCPejg:nqjcWBUJnVNIzN7fUeao9Q:8lkZXHYVcLbuZaUl
      X-Gdc-Request-Time:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/x00321l0ko7uh2khx8v2qz7tpqzo24vh/ldm?thumbnail=1","self":"/gdc/projects/x00321l0ko7uh2khx8v2qz7tpqzo24vh","clearCaches":"/gdc/projects/x00321l0ko7uh2khx8v2qz7tpqzo24vh/clearCaches","invitations":"/gdc/projects/x00321l0ko7uh2khx8v2qz7tpqzo24vh/invitations","users":"/gdc/projects/x00321l0ko7uh2khx8v2qz7tpqzo24vh/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/x00321l0ko7uh2khx8v2qz7tpqzo24vh/uploads/","ldm":"/gdc/projects/x00321l0ko7uh2khx8v2qz7tpqzo24vh/ldm","metadata":"/gdc/md/x00321l0ko7uh2khx8v2qz7tpqzo24vh","publicartifacts":"/gdc/projects/x00321l0ko7uh2khx8v2qz7tpqzo24vh/publicartifacts","roles":"/gdc/projects/x00321l0ko7uh2khx8v2qz7tpqzo24vh/roles","userRoles":"/gdc/projects/x00321l0ko7uh2khx8v2qz7tpqzo24vh/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/x00321l0ko7uh2khx8v2qz7tpqzo24vh/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/x00321l0ko7uh2khx8v2qz7tpqzo24vh/dataload","connectors":"/gdc/projects/x00321l0ko7uh2khx8v2qz7tpqzo24vh/connectors","execute":"/gdc/projects/x00321l0ko7uh2khx8v2qz7tpqzo24vh/execute","config":"/gdc/projects/x00321l0ko7uh2khx8v2qz7tpqzo24vh/config","projectFeatureFlags":"/gdc/projects/x00321l0ko7uh2khx8v2qz7tpqzo24vh/projectFeatureFlags","schedules":"/gdc/projects/x00321l0ko7uh2khx8v2qz7tpqzo24vh/schedules","templates":"/gdc/md/x00321l0ko7uh2khx8v2qz7tpqzo24vh/templates"},"meta":{"created":"2018-10-09
        18:10:47","summary":"No summary","updated":"2018-10-09 18:10:48","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 09 Oct 2018 16:10:48 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/x00321l0ko7uh2khx8v2qz7tpqzo24vh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gjkk-kBSWShijF5jPCPejg:RFLJQ_ZbAHPg_QaI-IKM2w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - gjkk-kBSWShijF5jPCPejg:RFLJQ_ZbAHPg_QaI-IKM2w:ZBhYfr1oXHXLUa82
      X-Gdc-Request-Time:
      - '64'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/x00321l0ko7uh2khx8v2qz7tpqzo24vh/ldm?thumbnail=1","self":"/gdc/projects/x00321l0ko7uh2khx8v2qz7tpqzo24vh","clearCaches":"/gdc/projects/x00321l0ko7uh2khx8v2qz7tpqzo24vh/clearCaches","invitations":"/gdc/projects/x00321l0ko7uh2khx8v2qz7tpqzo24vh/invitations","users":"/gdc/projects/x00321l0ko7uh2khx8v2qz7tpqzo24vh/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/x00321l0ko7uh2khx[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/qm2yheznk9ts0d2orpp8kx6k5zww2rko
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - HtCNvinXK8JXSIWDCXcFTA:R_OkWG4S6oskOFTRqdhDBw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - HtCNvinXK8JXSIWDCXcFTA:R_OkWG4S6oskOFTRqdhDBw:7T1pgwTosPyxeohz
      X-Gdc-Request-Time:
      - '74'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/loq7aael75lq57bz1da3qiogezvfb8oy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bkhkutKlDAhYQc8eB64fcQ:IflejQBjxuhfp9AzkWKI4Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bkhkutKlDAhYQc8eB64fcQ:IflejQBjxuhfp9AzkWKI4Q:DD8QPRcQFmQJ68zr
      X-Gdc-Request-Time:
      - '55'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gnzpdzv94bc9qtxz2ol42d7tqt8697q8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - c3t_MdzV_hmpXvaXCrstKA:TCW9l8yREuJdfJOqnEVB7g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - c3t_MdzV_hmpXvaXCrstKA:TCW9l8yREuJdfJOqnEVB7g:8c4orJCVnjq78AnN
      X-Gdc-Request-Time:
      - '55'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ouw9me45w4ux4mfcqxcexgc4l000fdsx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - pUeK0V19Sy81L4FavsopoA:NEtH6D9m2cjDC1hemSuy_Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - pUeK0V19Sy81L4FavsopoA:NEtH6D9m2cjDC1hemSuy_Q:iiWRZklOYeiX4xL7
      X-Gdc-Request-Time:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":PIuvIQMlURQZXd_iDaUvhQ:xvAt92FSxNzHIa2xVNTKfQ"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - GoodData realm="GoodData API" cookie=GDCAuthSST location=/gdc/account/login
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '15'
      X-Gdc-Request:
      - ":PIuvIQMlURQZXd_iDaUvhQ:xvAt92FSxNzHIa2xVNTKfQ:fcpG5Zwvln46Kf5r"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 24 Jan 2019 12:32:29 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":3-T-smvVvq9pffJQMLD7yA:fY_MfdLrop9vOddB4HEYPQ"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":3-T-smvVvq9pffJQMLD7yA:fY_MfdLrop9vOddB4HEYPQ:qbNqSOZki6ssBpS8"
      X-Gdc-Request-Time:
      - '55'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Thu, 24 Jan 2019 13:22:56 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":3-T-smvVvq9pffJQMLD7yA:gv5SZDVSPOnHDxci4A_jPQ"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - ":3-T-smvVvq9pffJQMLD7yA:gv5SZDVSPOnHDxci4A_jPQ:kgV9OlcOYSi9mAia"
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 24 Jan 2019 13:22:57 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":3-T-smvVvq9pffJQMLD7yA:DdsgVDW5IcFQGD3fCWo_cw"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":3-T-smvVvq9pffJQMLD7yA:DdsgVDW5IcFQGD3fCWo_cw:75UgEIT8bh9R5RmR"
      X-Gdc-Request-Time:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2018-12-03 11:09:12","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Thu, 24 Jan 2019 13:22:58 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":3-T-smvVvq9pffJQMLD7yA:qv9ChK_EuqRzftPnJGuf9A"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":3-T-smvVvq9pffJQMLD7yA:qv9ChK_EuqRzftPnJGuf9A:OvwfrOgx0wKZC0xV"
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Thu, 24 Jan 2019 13:22:58 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Project for schedule
        testing"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":3-T-smvVvq9pffJQMLD7yA:EWlJcS7GffGszqbgYWxvpg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":3-T-smvVvq9pffJQMLD7yA:EWlJcS7GffGszqbgYWxvpg:BqnbNkO3Ahyju3Sw"
      X-Gdc-Request-Time:
      - '425'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/g1orwqrk7zoxh5suvn68buqyerucn2wo"}'
  recorded_at: Thu, 24 Jan 2019 13:22:59 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/g1orwqrk7zoxh5suvn68buqyerucn2wo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":3-T-smvVvq9pffJQMLD7yA:URS5rJGKOxfGnR1Q29hnYA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":eX2zY2NT4ew3hdyn67qnTg:rsrVjNU1bhNxT-EsgAVbaQ"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '21'
      X-Gdc-Request:
      - ":eX2zY2NT4ew3hdyn67qnTg:rsrVjNU1bhNxT-EsgAVbaQ:MdthUubRE3f9fhr4"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Jan 2019 13:23:10 GMT
recorded_with: VCR 4.0.0
