---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:77JW0rOEr-AEIH_zZ07gOg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:77JW0rOEr-AEIH_zZ07gOg:zN5VwtRJtyjvxE16"
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''lb3sj06x77mdo10c1w4z4wnbqyi7a7zy''","category":"project","instance":"lb3sj06x77mdo10c1w4z4wnbqyi7a7zy","links":[{"link":"/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","category":"drillcrosspaths","title":"drillcrosspaths"},{"link":"/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/etl","summary":"Resources
        for data ETL.","category":"etl","title":"etl"}[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/obj
    body:
      encoding: UTF-8
      string: '{"scheduledMail":{"meta":{"title":"Scheduled report example","summary":"Daily
        at 12:00pm PT","tags":"","deprecated":0},"content":{"when":{"recurrency":"0:0:0:12:0:0","startDate":"2012-06-05","timeZone":"America/Los_Angeles"},"to":[],"bcc":[],"subject":"Scheduled
        Report","body":"Hey, I''m sending you new Reports and Dashboards!","attachments":[]}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:XUHQEndk_2ZxI_ccCkoW4A"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:XUHQEndk_2ZxI_ccCkoW4A:4NrhMU9cnseslscY"
      X-Gdc-Request-Time:
      - '61'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/obj/13"}'
  recorded_at: Thu, 18 Apr 2019 14:02:12 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/obj/13
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:AWnNnZyV39FkUt3eloWwvQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:AWnNnZyV39FkUt3eloWwvQ:AccUoTOKhUDU4RhA"
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"scheduledMail":{"content":{"when":{"recurrency":"0:0:0:12:0:0","timeZone":"America/Los_Angeles","startDate":"2012-06-05"},"body":"Hey,
        I''m sending you new Reports and Dashboards!","attachments":[],"to":[],"subject":"Scheduled
        Report"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/obj/13","tags":"","created":"2019-04-18
        16:02:12","identifier":"aabak0f4eEQW","deprecated":"0","summary":"Daily at
        12:00pm PT","isProduction":1,"title":"Scheduled report example","category":"scheduledMail","updated":"2019-04-18
        16:02:12","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 18 Apr 2019 14:02:13 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1,"excludeSchedules":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:bKKQUTdF2V6V4YM7h8Kjog"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:bKKQUTdF2V6V4YM7h8Kjog:uamtudn4GdFvIokw"
      X-Gdc-Request-Time:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/etltask/9d7abf2c0b5fac1678732f92073c475100000032"},"token":"<TOKEN>"}}'
  recorded_at: Thu, 18 Apr 2019 14:02:13 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/etltask/9d7abf2c0b5fac1678732f92073c475100000032
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:qNwTudc_ATfjOdeHI-APgw"
      Process:
      - 'true'
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:qNwTudc_ATfjOdeHI-APgw:z5Z9qR9u7ioAkdjm"
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Thu, 18 Apr 2019 14:02:14 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"project clone"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"DEVELOPMENT","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:tWyDrbj8yVW_ntPpD-KP9Q"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:tWyDrbj8yVW_ntPpD-KP9Q:8BHyv70jTEpOBSBJ"
      X-Gdc-Request-Time:
      - '1894'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy"}'
  recorded_at: Thu, 18 Apr 2019 14:02:27 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:b50MfWYFrZQaxGZyWsiNLw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:b50MfWYFrZQaxGZyWsiNLw:Fxv739ttFOgo7uar"
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"DEVELOPMENT","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/ldm?thumbnail=1","self":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy","clearCaches":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/clearCaches","invitations":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/invitations","users":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/checkXaeCompatibility","uploads":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/uploads/","ldm":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/ldm","metadata":"/gdc/md/zfgr7p29364tvv6r02z25orpaiwvenwy","publicartifacts":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/publicartifacts","roles":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/roles","userRoles":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/dataload","connectors":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/connectors","execute":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/execute","config":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/config","projectFeatureFlags":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/projectFeatureFlags","schedules":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/schedules","templates":"/gdc/md/zfgr7p29364tvv6r02z25orpaiwvenwy/templates"},"meta":{"created":"2019-04-18
        16:02:25","summary":"No summary","updated":"2019-04-18 16:02:27","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"project
        clone","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 18 Apr 2019 14:02:28 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zfgr7p29364tvv6r02z25orpaiwvenwy/maintenance/import
    body:
      encoding: UTF-8
      string: '{"importProject":{"token":"<TOKEN>"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:DM2XitkVjI-EZvUDTjDNEA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:DM2XitkVjI-EZvUDTjDNEA:PoIOqiYcAVnYfLbz"
      X-Gdc-Request-Time:
      - '55'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/zfgr7p29364tvv6r02z25orpaiwvenwy/etltask/5aad7313777b2313185433ebdb489f5f00000032"}'
  recorded_at: Thu, 18 Apr 2019 14:02:35 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zfgr7p29364tvv6r02z25orpaiwvenwy/etltask/5aad7313777b2313185433ebdb489f5f00000032
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:v7d7Ae3aNW_tL1iRky270g"
      Process:
      - 'true'
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:v7d7Ae3aNW_tL1iRky270g:34x3SlrQeECOcbBh"
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Thu, 18 Apr 2019 14:02:36 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/objects/query?category=scheduledMail&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:pq8-zS-qfyUJ6UldaQLArA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:pq8-zS-qfyUJ6UldaQLArA:Kb4ERuiS23hyMbgr"
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"scheduledMail":{"content":{"when":{"recurrency":"0:0:0:12:0:0","timeZone":"America/Los_Angeles","startDate":"2012-06-05"},"body":"Hey,
        I''m sending you new Reports and Dashboards!","attachments":[],"to":[],"subject":"Scheduled
        Report"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/obj/13","tags":"","created":"2019-04-18
        16:02:12","identifier":"aabak0f4eEQW","deprecated":"0","summary":"Daily at
        12:00pm PT","isProduction":1,"title":"Scheduled report example","category":"scheduledMail","updated":"2019-04-18
        16:02:12","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Thu, 18 Apr 2019 14:02:39 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zfgr7p29364tvv6r02z25orpaiwvenwy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:L9MFW0xmEtwatMUxIOTLYg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
 [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zfgr7p29364tvv6r02z25orpaiwvenwy/objects/query?category=scheduledMail&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:SB-eFFGXYZa-Qq4V2fbVsw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:SB-eFFGXYZa-Qq4V2fbVsw:VEgFzY1vvvvjoWkl"
      X-Gdc-Request-Time:
      - '107'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Thu, 18 Apr 2019 14:02:40 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:65XOrYQ_13JlwAIKEhqV1Q"
      Stats-On:
      - ''
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '74'
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:65XOrYQ_13JlwAIKEhqV1Q:ApJowkOqWcpfaRIT"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 18 Apr 2019 14:02:41 GMT
recorded_with: VCR 4.0.0
