---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:77JW0rOEr-AEIH_zZ07gOg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:77JW0rOEr-AEIH_zZ07gOg:zN5VwtRJtyjvxE16"
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''lb3sj06x77mdo10c1w4z4wnbqyi7a7zy''","category":"project","instance":"lb3sj06x77mdo10c1w4z4wnbqyi7a7zy","links":[{"link":"/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","category":"drillcrosspaths","title":"drillcrosspaths"},{"link":"/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/etl","summary":"Resources
        for data ETL.","category":"etl","title":"etl"}[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/obj
    body:
      encoding: UTF-8
      string: '{"scheduledMail":{"meta":{"title":"Scheduled report example","summary":"Daily
        at 12:00pm PT","tags":"","deprecated":0},"content":{"when":{"recurrency":"0:0:0:12:0:0","startDate":"2012-06-05","timeZone":"America/Los_Angeles"},"to":[],"bcc":[],"subject":"Scheduled
        Report","body":"Hey, I''m sending you new Reports and Dashboards!","attachments":[]}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:XUHQEndk_2ZxI_ccCkoW4A"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:XUHQEndk_2ZxI_ccCkoW4A:4NrhMU9cnseslscY"
      X-Gdc-Request-Time:
      - '61'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/obj/13"}'
  recorded_at: Thu, 18 Apr 2019 14:02:12 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/obj/13
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:AWnNnZyV39FkUt3eloWwvQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:AWnNnZyV39FkUt3eloWwvQ:AccUoTOKhUDU4RhA"
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"scheduledMail":{"content":{"when":{"recurrency":"0:0:0:12:0:0","timeZone":"America/Los_Angeles","startDate":"2012-06-05"},"body":"Hey,
        I''m sending you new Reports and Dashboards!","attachments":[],"to":[],"subject":"Scheduled
        Report"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/obj/13","tags":"","created":"2019-04-18
        16:02:12","identifier":"aabak0f4eEQW","deprecated":"0","summary":"Daily at
        12:00pm PT","isProduction":1,"title":"Scheduled report example","category":"scheduledMail","updated":"2019-04-18
        16:02:12","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 18 Apr 2019 14:02:13 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1,"excludeSchedules":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:bKKQUTdF2V6V4YM7h8Kjog"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:bKKQUTdF2V6V4YM7h8Kjog:uamtudn4GdFvIokw"
      X-Gdc-Request-Time:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/etltask/9d7abf2c0b5fac1678732f92073c475100000032"},"token":"<TOKEN>"}}'
  recorded_at: Thu, 18 Apr 2019 14:02:13 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/etltask/9d7abf2c0b5fac1678732f92073c475100000032
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:qNwTudc_ATfjOdeHI-APgw"
      Process:
      - 'true'
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:qNwTudc_ATfjOdeHI-APgw:z5Z9qR9u7ioAkdjm"
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Thu, 18 Apr 2019 14:02:14 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:b50MfWYFrZQaxGZyWsiNLw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:b50MfWYFrZQaxGZyWsiNLw:Fxv739ttFOgo7uar"
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"DEVELOPMENT","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/ldm?thumbnail=1","self":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy","clearCaches":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/clearCaches","invitations":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/invitations","users":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/checkXaeCompatibility","uploads":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/uploads/","ldm":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/ldm","metadata":"/gdc/md/zfgr7p29364tvv6r02z25orpaiwvenwy","publicartifacts":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/publicartifacts","roles":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/roles","userRoles":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/dataload","connectors":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/connectors","execute":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/execute","config":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/config","projectFeatureFlags":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/projectFeatureFlags","schedules":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/schedules","templates":"/gdc/md/zfgr7p29364tvv6r02z25orpaiwvenwy/templates"},"meta":{"created":"2019-04-18
        16:02:25","summary":"No summary","updated":"2019-04-18 16:02:27","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"project
        clone","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 18 Apr 2019 14:02:28 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:Mhguel5yzY6x-1-y2bItiw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:Mhguel5yzY6x-1-y2bItiw:WVfaz61QQ1PhWbjB"
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"DEVELOPMENT","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/ldm?thumbnail=1","self":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy","clearCaches":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/clearCaches","invitations":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/invitations","users":"/gdc/projects/zfgr7p29364tvv6r02z25orpaiwvenwy/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/zfg[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zfgr7p29364tvv6r02z25orpaiwvenwy/maintenance/import
    body:
      encoding: UTF-8
      string: '{"importProject":{"token":"<TOKEN>"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:DM2XitkVjI-EZvUDTjDNEA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:DM2XitkVjI-EZvUDTjDNEA:PoIOqiYcAVnYfLbz"
      X-Gdc-Request-Time:
      - '55'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/zfgr7p29364tvv6r02z25orpaiwvenwy/etltask/5aad7313777b2313185433ebdb489f5f00000032"}'
  recorded_at: Thu, 18 Apr 2019 14:02:35 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zfgr7p29364tvv6r02z25orpaiwvenwy/etltask/5aad7313777b2313185433ebdb489f5f00000032
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:v7d7Ae3aNW_tL1iRky270g"
      Process:
      - 'true'
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:v7d7Ae3aNW_tL1iRky270g:34x3SlrQeECOcbBh"
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Thu, 18 Apr 2019 14:02:36 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/objects/query?category=scheduledMail&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:pq8-zS-qfyUJ6UldaQLArA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:pq8-zS-qfyUJ6UldaQLArA:Kb4ERuiS23hyMbgr"
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"scheduledMail":{"content":{"when":{"recurrency":"0:0:0:12:0:0","timeZone":"America/Los_Angeles","startDate":"2012-06-05"},"body":"Hey,
        I''m sending you new Reports and Dashboards!","attachments":[],"to":[],"subject":"Scheduled
        Report"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/obj/13","tags":"","created":"2019-04-18
        16:02:12","identifier":"aabak0f4eEQW","deprecated":"0","summary":"Daily at
        12:00pm PT","isProduction":1,"title":"Scheduled report example","category":"scheduledMail","updated":"2019-04-18
        16:02:12","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Thu, 18 Apr 2019 14:02:39 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zfgr7p29364tvv6r02z25orpaiwvenwy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:L9MFW0xmEtwatMUxIOTLYg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
 [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zfgr7p29364tvv6r02z25orpaiwvenwy/objects/query?category=scheduledMail&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:SB-eFFGXYZa-Qq4V2fbVsw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:SB-eFFGXYZa-Qq4V2fbVsw:VEgFzY1vvvvjoWkl"
      X-Gdc-Request-Time:
      - '107'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Thu, 18 Apr 2019 14:02:40 GMT
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/zll541cvcwzy1k5vrkgospgyvi4bgdvn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":lzDPYM8slG6VArlLa39eVg:peibZVa1_WysO463eSMjfg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '22'
      X-Gdc-Request:
      - ":lzDPYM8slG6VArlLa39eVg:peibZVa1_WysO463eSMjfg:Ut3ww1IhsifIv0EK"
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''zll541cvcwzy1k5vrkgospgyvi4bgdvn''","category":"project","instance":"zll541cvcwzy1k5[...]
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/zll541cvcwzy1k5vrkgospgyvi4bgdvn/obj
    body:
      encoding: UTF-8
      string: '{"scheduledMail":{"meta":{"title":"Scheduled report example","summary":"Daily
        at 12:00pm PT","tags":"","deprecated":0},"content":{"when":{"recurrency":"0:0:0:12:0:0","startDate":"2012-06-05","timeZone":"America/Los_Angeles"},"to":[],"bcc":[],"subject":"Scheduled
        Report","body":"Hey, I''m sending you new Reports and Dashboards!","attachments":[]}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":lzDPYM8slG6VArlLa39eVg:XRg6RCruGtU8X8pJChhdZw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '49'
      X-Gdc-Request:
      - ":lzDPYM8slG6VArlLa39eVg:XRg6RCruGtU8X8pJChhdZw:YUD02Ni6MUL1nWaU"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/zll541cvcwzy1k5vrkgospgyvi4bgdvn/obj/15"}'
  recorded_at: Tue, 14 Jan 2020 07:26:02 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/zll541cvcwzy1k5vrkgospgyvi4bgdvn/obj/15
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":lzDPYM8slG6VArlLa39eVg:oU8_x3FUK0vxFKDSbRCSZw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-[...]
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/zll541cvcwzy1k5vrkgospgyvi4bgdvn/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1,"excludeSchedules":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":lzDPYM8slG6VArlLa39eVg:fQFxAXBNHsXJaASx3V8Qjw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '34'
      X-Gdc-Request:
      - ":lzDPYM8slG6VArlLa39eVg:fQFxAXBNHsXJaASx3V8Qjw:NcK1T5xJoiBsTPeQ"
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/zll541cvcwzy1k5vrkgospgyvi4bgdvn/etltask/560920261eeb0daf8232609dd58a1be100000018"},"token":"<TOKEN>"}}'
  recorded_at: Tue, 14 Jan 2020 07:26:04 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/zll541cvcwzy1k5vrkgospgyvi4bgdvn/etltask/560920261eeb0daf8232609dd58a1be100000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":lzDPYM8slG6VArlLa39eVg:jgUxf3Fcxn1eWY2JQmcYmw"
      Process:
      - 'true'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '26'
      X-Gdc-Request:
      - ":lzDPYM8slG6VArlLa39eVg:jgUxf3Fcxn1eWY2JQmcYmw:JKBNC2aGl1ZMOXVV"
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Tue, 14 Jan 2020 07:26:05 GMT
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/atymszcha8luplixn9e9h1lw21w0z18f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":lzDPYM8slG6VArlLa39eVg:OjUKuEvMM700lt_rns3O_A"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-H[...]
[...]
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/atymszcha8luplixn9e9h1lw21w0z18f/maintenance/import
    body:
      encoding: UTF-8
      string: '{"importProject":{"token":"<TOKEN>"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":lzDPYM8slG6VArlLa39eVg:wLHYcCn7wKTeV8uI0t5c6A"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '50'
      X-Gdc-Request:
      - ":lzDPYM8slG6VArlLa39eVg:wLHYcCn7wKTeV8uI0t5c6A:qsuThrQit9owjEBk"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/atymszcha8luplixn9e9h1lw21w0z18f/etltask/9fb02bab33f010e82e77b6451e9482ed00000018"}'
  recorded_at: Tue, 14 Jan 2020 07:26:18 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/atymszcha8luplixn9e9h1lw21w0z18f/etltask/9fb02bab33f010e82e77b6451e9482ed00000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":lzDPYM8slG6VArlLa39eVg:DEUHMTZNAaTbu4e883aUwA"
      Process:
      - 'true'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '37'
      X-Gdc-Request:
      - ":lzDPYM8slG6VArlLa39eVg:DEUHMTZNAaTbu4e883aUwA:gw0JzY2Brns5FO6W"
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Tue, 14 Jan 2020 07:26:19 GMT
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/zll541cvcwzy1k5vrkgospgyvi4bgdvn/objects/query?category=scheduledMail&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":lzDPYM8slG6VArlLa39eVg:Xhv4EHPyEhmyDFg66MBKfQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/atymszcha8luplixn9e9h1lw21w0z18f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":lzDPYM8slG6VArlLa39eVg:_xzUW3bI2qiCvqt4N2mSiw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/atymszcha8luplixn9e9h1lw21w0z18f/objects/query?category=scheduledMail&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":lzDPYM8slG6VArlLa39eVg:IYcIOTmbTfGCepXRh9YzNA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '30'
      X-Gdc-Request:
      - ":lzDPYM8slG6VArlLa39eVg:IYcIOTmbTfGCepXRh9YzNA:lsYxgA2vZFOVCKcw"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Tue, 14 Jan 2020 07:26:23 GMT
[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/pjgwueshacis9n1f0uwmc4oqufek0lty
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":YLaC2DmAer5vP0lsxLym0g:-6QEQSq4HNLc95ShD-DAHA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
[...]
- request:
    method: post
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/pjgwueshacis9n1f0uwmc4oqufek0lty/obj
    body:
      encoding: UTF-8
      string: '{"scheduledMail":{"meta":{"title":"Scheduled report example","summary":"Daily
        at 12:00pm PT","tags":"","deprecated":0},"content":{"when":{"recurrency":"0:0:0:12:0:0","startDate":"2012-06-05","timeZone":"America/Los_Angeles"},"to":[],"bcc":[],"subject":"Scheduled
        Report","body":"Hey, I''m sending you new Reports and Dashboards!","attachments":[]}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":YLaC2DmAer5vP0lsxLym0g:jLB1Y7m8ccNCJOXGcMZTDA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '58'
      X-Gdc-Request:
      - ":YLaC2DmAer5vP0lsxLym0g:jLB1Y7m8ccNCJOXGcMZTDA:xPCjIB6PnBhBfngO"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/pjgwueshacis9n1f0uwmc4oqufek0lty/obj/15"}'
  recorded_at: Tue, 14 Jan 2020 10:15:22 GMT
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/pjgwueshacis9n1f0uwmc4oqufek0lty/obj/15
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":YLaC2DmAer5vP0lsxLym0g:KP6ZDTGaTh0F_hgyK-yWAA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-H[...]
- request:
    method: post
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/pjgwueshacis9n1f0uwmc4oqufek0lty/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1,"excludeSchedules":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":YLaC2DmAer5vP0lsxLym0g:46BO1varuK-H1zRXv4xT1w"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '43'
      X-Gdc-Request:
      - ":YLaC2DmAer5vP0lsxLym0g:46BO1varuK-H1zRXv4xT1w:iWw05QX5QlOxQLWB"
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/pjgwueshacis9n1f0uwmc4oqufek0lty/etltask/97ed9e54b8a96d2bbe2486e58586b8e80000004b"},"token":"<TOKEN>"}}'
  recorded_at: Tue, 14 Jan 2020 10:15:24 GMT
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/pjgwueshacis9n1f0uwmc4oqufek0lty/etltask/97ed9e54b8a96d2bbe2486e58586b8e80000004b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":YLaC2DmAer5vP0lsxLym0g:kG_LkefDF5oyGYzX9og_YQ"
      Process:
      - 'true'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '30'
      X-Gdc-Request:
      - ":YLaC2DmAer5vP0lsxLym0g:kG_LkefDF5oyGYzX9og_YQ:ie4sMUJkPThBAKLw"
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Tue, 14 Jan 2020 10:15:25 GMT
[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/hevkmeilhqxk0g16qh9m12xfcdv5m82i
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":YLaC2DmAer5vP0lsxLym0g:Xk6FwZsoOgyZJYs9lqN5rw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-He[...]
[...]
- request:
    method: post
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/hevkmeilhqxk0g16qh9m12xfcdv5m82i/maintenance/import
    body:
      encoding: UTF-8
      string: '{"importProject":{"token":"<TOKEN>"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":YLaC2DmAer5vP0lsxLym0g:Ms_yndX7z-VolPrPSW0EkQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '57'
      X-Gdc-Request:
      - ":YLaC2DmAer5vP0lsxLym0g:Ms_yndX7z-VolPrPSW0EkQ:bJfoP6TRosvQHYcL"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/hevkmeilhqxk0g16qh9m12xfcdv5m82i/etltask/a702d9d8c486c61ea52ace6e7ce6d5df0000004b"}'
  recorded_at: Tue, 14 Jan 2020 10:15:41 GMT
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/hevkmeilhqxk0g16qh9m12xfcdv5m82i/etltask/a702d9d8c486c61ea52ace6e7ce6d5df0000004b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
[...]
