---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:qcogFwITAGkXf7pt_tI1sA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:qcogFwITAGkXf7pt_tI1sA:Vpvg0Dvo1pLuklTg
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''voyb6fcvdngwfyf722vn9cmbv7sq6mf6''","category":"project","instance":"voyb6fcvdngwfyf722vn9cmbv7sq6mf6","links":[{"link":"/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","category":"drillcrosspaths","title":"drillcrosspaths"},{"link":"/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/etl","summary":"Resources
        for data ETL.","category":"etl","title":"etl"}[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/obj
    body:
      encoding: UTF-8
      string: '{"scheduledMail":{"meta":{"title":"Scheduled report example","summary":"Daily
        at 12:00pm PT","tags":"","deprecated":0},"content":{"when":{"recurrency":"0:0:0:12:0:0","startDate":"2012-06-05","timeZone":"America/Los_Angeles"},"to":[],"bcc":[],"subject":"Scheduled
        Report","body":"Hey, I''m sending you new Reports and Dashboards!","attachments":[]}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:Fv-pdNKH8YjmpIMh1aOKqg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:Fv-pdNKH8YjmpIMh1aOKqg:NFw11Pgs8ztFJlnD
      X-Gdc-Request-Time:
      - '92'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/obj/261"}'
  recorded_at: Fri, 07 Sep 2018 08:32:22 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/obj/261
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:rWNeT-u-600QeQVGXx7HtA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:rWNeT-u-600QeQVGXx7HtA:GXyhh5m6Tpu7FjJp
      X-Gdc-Request-Time:
      - '74'
    body:
      encoding: ASCII-8BIT
      string: '{"scheduledMail":{"content":{"when":{"recurrency":"0:0:0:12:0:0","timeZone":"America/Los_Angeles","startDate":"2012-06-05"},"body":"Hey,
        I''m sending you new Reports and Dashboards!","attachments":[],"to":[],"subject":"Scheduled
        Report"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/obj/261","tags":"","created":"2018-09-07
        10:32:22","identifier":"aac64kkyb3I5","deprecated":"0","summary":"Daily at
        12:00pm PT","isProduction":1,"title":"Scheduled report example","category":"scheduledMail","updated":"2018-09-07
        10:32:22","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Fri, 07 Sep 2018 08:32:23 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1,"excludeSchedules":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:qZMarrTMrusyPf9rZ-5eiQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:qZMarrTMrusyPf9rZ-5eiQ:zNvUiGv2xJ9vw4Xv
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/etltask/2e27f7857f59120d6802ed625bdc671900000040"},"token":"<TOKEN>"}}'
  recorded_at: Fri, 07 Sep 2018 08:32:23 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/etltask/2e27f7857f59120d6802ed625bdc671900000040
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:0z8DHMjWk9NXyHbJtgJqvA
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:0z8DHMjWk9NXyHbJtgJqvA:IFDujyfFKMsLUztD
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Fri, 07 Sep 2018 08:32:24 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:CkRDLkR-YWgHKOROGdvXHA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:CkRDLkR-YWgHKOROGdvXHA:T7WekHdhOdaGgrPI
      X-Gdc-Request-Time:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADING"},"links":{"ldm_thumbnail":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351/ldm?thumbnail=1","self":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351","clearCaches":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351/clearCaches","invitations":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351/invitations","users":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351/uploads/","ldm":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351/ldm","metadata":"/gdc/md/tll6ccfblmpa2vzispvj76s92ots2351","publicartifacts":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351/publicartifacts","roles":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351/roles","userRoles":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351/dataload","connectors":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351/connectors","execute":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351/execute","config":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351/config","projectFeatureFlags":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351/projectFeatureFlags","schedules":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351/schedules","templates":"/gdc/md/tll6ccfblmpa2vzispvj76s92ots2351/templates"},"meta":{"created":"2018-09-07
        10:32:28","summary":"No summary","updated":"2018-09-07 10:32:30","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"project
        clone","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Fri, 07 Sep 2018 08:32:30 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:s_ks-Jr0rfBAWWKhKjYC2w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:s_ks-Jr0rfBAWWKhKjYC2w:OrsRuNlJV3ytuCGy
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351/ldm?thumbnail=1","self":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351","clearCaches":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351/clearCaches","invitations":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351/invitations","users":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/tll6ccfblmpa2vzis[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/tll6ccfblmpa2vzispvj76s92ots2351/maintenance/import
    body:
      encoding: UTF-8
      string: '{"importProject":{"token":"<TOKEN>"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:fLMa2FuxV8xDeMRnQEG_ng
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:fLMa2FuxV8xDeMRnQEG_ng:BacGbdkqgm55OqxY
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/tll6ccfblmpa2vzispvj76s92ots2351/etltask/e820b7d10afd405e318b76db6d32b8fa00000040"}'
  recorded_at: Fri, 07 Sep 2018 08:32:37 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/tll6ccfblmpa2vzispvj76s92ots2351/etltask/e820b7d10afd405e318b76db6d32b8fa00000040
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:PvcqUS3Sa6T3eNjWp_4zgQ
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:PvcqUS3Sa6T3eNjWp_4zgQ:y0XTw11wWUqPbLAk
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Fri, 07 Sep 2018 08:32:38 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/objects/query?category=scheduledMail&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:uWuOkjxibZ41lAS99dVMsA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:uWuOkjxibZ41lAS99dVMsA:qTOLZzwfdTVCXqNQ
      X-Gdc-Request-Time:
      - '490'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"next":"/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/objects/query?category=scheduledMail&limit=50&offset=50","count":50,"offset":0},"items":[{"scheduledMail":{"content":{"when":{"recurrency":"0:0:0:12:0:0","timeZone":"America/Los_Angeles","startDate":"2012-06-05"},"body":"Hey,
        I''m sending you new Reports and Dashboards!","attachments":[],"to":[],"subject":"Scheduled
        Report"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/obj/7","tags":"","created":"2018-04-11
        11:15:12","identifier":"aab31eoDfceY","deprecated":"0","summary":"Daily at
  [...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/tll6ccfblmpa2vzispvj76s92ots2351
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:GeSgn4iPWwW7nR_TGyLUpw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charse[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/tll6ccfblmpa2vzispvj76s92ots2351/objects/query?category=scheduledMail&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:cnCMkdaN96N_N7ojvKw70g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:cnCMkdaN96N_N7ojvKw70g:Em8QXgVuFQ6s20OB
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Fri, 07 Sep 2018 08:32:48 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zyoflmgyrszp8cjur3x271h18fgu8ikz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RTtYVDo0e7zVQqjXh6rkLQ:W5OHqyE04Oja8jCvYrZIgQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - RTtYVDo0e7zVQqjXh6rkLQ:W5OHqyE04Oja8jCvYrZIgQ:OFOU1VxrVJMWjryp
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''zyoflmgyrszp8cjur3x271h18fgu8ikz''","category":"project","instance":"zyoflmgy[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zyoflmgyrszp8cjur3x271h18fgu8ikz/obj
    body:
      encoding: UTF-8
      string: '{"scheduledMail":{"meta":{"title":"Scheduled report example","summary":"Daily
        at 12:00pm PT","tags":"","deprecated":0},"content":{"when":{"recurrency":"0:0:0:12:0:0","startDate":"2012-06-05","timeZone":"America/Los_Angeles"},"to":[],"bcc":[],"subject":"Scheduled
        Report","body":"Hey, I''m sending you new Reports and Dashboards!","attachments":[]}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RTtYVDo0e7zVQqjXh6rkLQ:4cibp8BobKCUxKLEN-wb-g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - RTtYVDo0e7zVQqjXh6rkLQ:4cibp8BobKCUxKLEN-wb-g:sEEFGl8RMnqvZIeW
      X-Gdc-Request-Time:
      - '111'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/zyoflmgyrszp8cjur3x271h18fgu8ikz/obj/13"}'
  recorded_at: Fri, 05 Oct 2018 12:59:13 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zyoflmgyrszp8cjur3x271h18fgu8ikz/obj/13
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RTtYVDo0e7zVQqjXh6rkLQ:9xsK_kBd4V-uDUZUlODWoQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - RTtYVDo0e7zVQqjXh6rkLQ:9xsK_kBd4V-uDUZUlODWoQ:WylzBZJGeXmQCrzM
      X-Gdc-Request-Time:
      - '84'
    body:
      encoding: ASCII-8BIT
      string: '{"scheduledMail":{"content":{"when":{"recurrency":"0:0:0:12:0:0","timeZone":"America/Los_Angeles","startDate":"2012-06-05"},"body":"Hey,
        I''m sending you new Reports and Dashboards!","attachments":[],"to":[],"subject":"Scheduled
        Report"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/zyoflmgyrszp8cjur3x271h18fgu8ikz/obj/13","tags":"","created":"2018-10-05
        14:59:13","identifier":"aabLSEETfjGV","deprecated":"0","summary":"Daily at
        12:00pm PT","isProduction":1,"title":"Scheduled report example","category":"scheduledMail","updated":"2018-10-05
        14:59:13","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Fri, 05 Oct 2018 12:59:13 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zyoflmgyrszp8cjur3x271h18fgu8ikz/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1,"excludeSchedules":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RTtYVDo0e7zVQqjXh6rkLQ:bJ4MLQYKh3mvQIlaX1F_oA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - RTtYVDo0e7zVQqjXh6rkLQ:bJ4MLQYKh3mvQIlaX1F_oA:10F473or1Ww0XN5j
      X-Gdc-Request-Time:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/zyoflmgyrszp8cjur3x271h18fgu8ikz/etltask/1553569346353de1d86195a2138caf8800000032"},"token":"<TOKEN>"}}'
  recorded_at: Fri, 05 Oct 2018 12:59:14 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zyoflmgyrszp8cjur3x271h18fgu8ikz/etltask/1553569346353de1d86195a2138caf8800000032
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RTtYVDo0e7zVQqjXh6rkLQ:P8UsnFvkG7nsdAs2jAab9g
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - RTtYVDo0e7zVQqjXh6rkLQ:P8UsnFvkG7nsdAs2jAab9g:MqvQIibBzDWunqus
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Fri, 05 Oct 2018 12:59:14 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gd9vkn3obsx2uxucpsz2xxvzt0gye55b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RTtYVDo0e7zVQqjXh6rkLQ:j7GrEx7ZxjLywTm8fEPdjg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gd9vkn3obsx2uxucpsz2xxvzt0gye55b/maintenance/import
    body:
      encoding: UTF-8
      string: '{"importProject":{"token":"<TOKEN>"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RTtYVDo0e7zVQqjXh6rkLQ:Kjm6pXFaTpP8dcweyqB_Qg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - RTtYVDo0e7zVQqjXh6rkLQ:Kjm6pXFaTpP8dcweyqB_Qg:0p3xKlvsN94ea2bP
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/gd9vkn3obsx2uxucpsz2xxvzt0gye55b/etltask/9cbd6e80c01df8d40f03926e750f330700000032"}'
  recorded_at: Fri, 05 Oct 2018 12:59:27 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gd9vkn3obsx2uxucpsz2xxvzt0gye55b/etltask/9cbd6e80c01df8d40f03926e750f330700000032
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RTtYVDo0e7zVQqjXh6rkLQ:NCMnLW4S-l_aCc2LL_1lBg
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - RTtYVDo0e7zVQqjXh6rkLQ:NCMnLW4S-l_aCc2LL_1lBg:9THyI7WUIDwX4T2e
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Fri, 05 Oct 2018 12:59:27 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zyoflmgyrszp8cjur3x271h18fgu8ikz/objects/query?category=scheduledMail&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RTtYVDo0e7zVQqjXh6rkLQ:q0cbCvxB7TJ7dkz0-q3zgQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      -[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gd9vkn3obsx2uxucpsz2xxvzt0gye55b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RTtYVDo0e7zVQqjXh6rkLQ:BFlMF_vGNp4B0D60S1uPaw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charse[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gd9vkn3obsx2uxucpsz2xxvzt0gye55b/objects/query?category=scheduledMail&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RTtYVDo0e7zVQqjXh6rkLQ:b-Mna4A5OT1hBXHl4X0Sdg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - RTtYVDo0e7zVQqjXh6rkLQ:b-Mna4A5OT1hBXHl4X0Sdg:T0Ub1D9zkTU45vHa
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Fri, 05 Oct 2018 12:59:32 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/x61hr057hl6zofam5vsgltg92ozkbtyc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - GDNKUMmSE7CBKcSRg1IUdw:_xudaI7GGCN_ScbZYP0v-Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - GDNKUMmSE7CBKcSRg1IUdw:_xudaI7GGCN_ScbZYP0v-Q:YAP76piKBk0kjAG4
      X-Gdc-Request-Time:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''x61hr057hl6zofam5vsgltg92ozkbtyc''","category":"project","instance":"x61hr057[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/x61hr057hl6zofam5vsgltg92ozkbtyc/obj
    body:
      encoding: UTF-8
      string: '{"scheduledMail":{"meta":{"title":"Scheduled report example","summary":"Daily
        at 12:00pm PT","tags":"","deprecated":0},"content":{"when":{"recurrency":"0:0:0:12:0:0","startDate":"2012-06-05","timeZone":"America/Los_Angeles"},"to":[],"bcc":[],"subject":"Scheduled
        Report","body":"Hey, I''m sending you new Reports and Dashboards!","attachments":[]}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - GDNKUMmSE7CBKcSRg1IUdw:DX2hhwfk8bMe4de_9JkUmg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - GDNKUMmSE7CBKcSRg1IUdw:DX2hhwfk8bMe4de_9JkUmg:vUcsadTMj5CM1GMD
      X-Gdc-Request-Time:
      - '118'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/x61hr057hl6zofam5vsgltg92ozkbtyc/obj/13"}'
  recorded_at: Wed, 10 Oct 2018 10:59:55 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/x61hr057hl6zofam5vsgltg92ozkbtyc/obj/13
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - GDNKUMmSE7CBKcSRg1IUdw:qlWOW_47oyiax7BCPXKBQw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - GDNKUMmSE7CBKcSRg1IUdw:qlWOW_47oyiax7BCPXKBQw:m7TtZs6LdTKch23P
      X-Gdc-Request-Time:
      - '91'
    body:
      encoding: ASCII-8BIT
      string: '{"scheduledMail":{"content":{"when":{"recurrency":"0:0:0:12:0:0","timeZone":"America/Los_Angeles","startDate":"2012-06-05"},"body":"Hey,
        I''m sending you new Reports and Dashboards!","attachments":[],"to":[],"subject":"Scheduled
        Report"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/x61hr057hl6zofam5vsgltg92ozkbtyc/obj/13","tags":"","created":"2018-10-10
        12:59:55","identifier":"aabeDfy1dVUc","deprecated":"0","summary":"Daily at
        12:00pm PT","isProduction":1,"title":"Scheduled report example","category":"scheduledMail","updated":"2018-10-10
        12:59:55","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 10 Oct 2018 10:59:56 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/x61hr057hl6zofam5vsgltg92ozkbtyc/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1,"excludeSchedules":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - GDNKUMmSE7CBKcSRg1IUdw:ULxjhsEWx9gn44iA-pdWxA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - GDNKUMmSE7CBKcSRg1IUdw:ULxjhsEWx9gn44iA-pdWxA:mWzXhavKyhZxCxEG
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/x61hr057hl6zofam5vsgltg92ozkbtyc/etltask/ce2a3a77d72f665f387021447cff532900000032"},"token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 10:59:56 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/x61hr057hl6zofam5vsgltg92ozkbtyc/etltask/ce2a3a77d72f665f387021447cff532900000032
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - GDNKUMmSE7CBKcSRg1IUdw:v2-q1ivkqPsUDLy2j_gIcQ
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - GDNKUMmSE7CBKcSRg1IUdw:v2-q1ivkqPsUDLy2j_gIcQ:oCuf7pKXKPBIbhw1
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Wed, 10 Oct 2018 10:59:57 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"project clone"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"PRODUCTION","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - GDNKUMmSE7CBKcSRg1IUdw:ZqtWr0ZCGqqWush2_X-EGw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - GDNKUMmSE7CBKcSRg1IUdw:ZqtWr0ZCGqqWush2_X-EGw:7is18PAw0SEbTJMr
      X-Gdc-Request-Time:
      - '1133'
    body:
      encoding: ASCII-8BIT
[...]
