---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:qcogFwITAGkXf7pt_tI1sA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:qcogFwITAGkXf7pt_tI1sA:Vpvg0Dvo1pLuklTg
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''voyb6fcvdngwfyf722vn9cmbv7sq6mf6''","category":"project","instance":"voyb6fcvdngwfyf722vn9cmbv7sq6mf6","links":[{"link":"/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","category":"drillcrosspaths","title":"drillcrosspaths"},{"link":"/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/etl","summary":"Resources
        for data ETL.","category":"etl","title":"etl"}[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/obj
    body:
      encoding: UTF-8
      string: '{"scheduledMail":{"meta":{"title":"Scheduled report example","summary":"Daily
        at 12:00pm PT","tags":"","deprecated":0},"content":{"when":{"recurrency":"0:0:0:12:0:0","startDate":"2012-06-05","timeZone":"America/Los_Angeles"},"to":[],"bcc":[],"subject":"Scheduled
        Report","body":"Hey, I''m sending you new Reports and Dashboards!","attachments":[]}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:Fv-pdNKH8YjmpIMh1aOKqg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:Fv-pdNKH8YjmpIMh1aOKqg:NFw11Pgs8ztFJlnD
      X-Gdc-Request-Time:
      - '92'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/obj/261"}'
  recorded_at: Fri, 07 Sep 2018 08:32:22 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/obj/261
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:rWNeT-u-600QeQVGXx7HtA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:rWNeT-u-600QeQVGXx7HtA:GXyhh5m6Tpu7FjJp
      X-Gdc-Request-Time:
      - '74'
    body:
      encoding: ASCII-8BIT
      string: '{"scheduledMail":{"content":{"when":{"recurrency":"0:0:0:12:0:0","timeZone":"America/Los_Angeles","startDate":"2012-06-05"},"body":"Hey,
        I''m sending you new Reports and Dashboards!","attachments":[],"to":[],"subject":"Scheduled
        Report"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/obj/261","tags":"","created":"2018-09-07
        10:32:22","identifier":"aac64kkyb3I5","deprecated":"0","summary":"Daily at
        12:00pm PT","isProduction":1,"title":"Scheduled report example","category":"scheduledMail","updated":"2018-09-07
        10:32:22","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Fri, 07 Sep 2018 08:32:23 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1,"excludeSchedules":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:qZMarrTMrusyPf9rZ-5eiQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:qZMarrTMrusyPf9rZ-5eiQ:zNvUiGv2xJ9vw4Xv
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/etltask/2e27f7857f59120d6802ed625bdc671900000040"},"token":"<TOKEN>"}}'
  recorded_at: Fri, 07 Sep 2018 08:32:23 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/etltask/2e27f7857f59120d6802ed625bdc671900000040
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:0z8DHMjWk9NXyHbJtgJqvA
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:0z8DHMjWk9NXyHbJtgJqvA:IFDujyfFKMsLUztD
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Fri, 07 Sep 2018 08:32:24 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"project clone"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"PRODUCTION","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:NZ2xN3sQ7JhFwiUXnSymgQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:NZ2xN3sQ7JhFwiUXnSymgQ:a93pqGfSYNbhKDQL
      X-Gdc-Request-Time:
      - '607'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351"}'
  recorded_at: Fri, 07 Sep 2018 08:32:28 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:CkRDLkR-YWgHKOROGdvXHA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:CkRDLkR-YWgHKOROGdvXHA:T7WekHdhOdaGgrPI
      X-Gdc-Request-Time:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADING"},"links":{"ldm_thumbnail":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351/ldm?thumbnail=1","self":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351","clearCaches":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351/clearCaches","invitations":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351/invitations","users":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351/uploads/","ldm":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351/ldm","metadata":"/gdc/md/tll6ccfblmpa2vzispvj76s92ots2351","publicartifacts":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351/publicartifacts","roles":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351/roles","userRoles":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351/dataload","connectors":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351/connectors","execute":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351/execute","config":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351/config","projectFeatureFlags":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351/projectFeatureFlags","schedules":"/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351/schedules","templates":"/gdc/md/tll6ccfblmpa2vzispvj76s92ots2351/templates"},"meta":{"created":"2018-09-07
        10:32:28","summary":"No summary","updated":"2018-09-07 10:32:30","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"project
        clone","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Fri, 07 Sep 2018 08:32:30 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/tll6ccfblmpa2vzispvj76s92ots2351/maintenance/import
    body:
      encoding: UTF-8
      string: '{"importProject":{"token":"<TOKEN>"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:fLMa2FuxV8xDeMRnQEG_ng
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:fLMa2FuxV8xDeMRnQEG_ng:BacGbdkqgm55OqxY
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/tll6ccfblmpa2vzispvj76s92ots2351/etltask/e820b7d10afd405e318b76db6d32b8fa00000040"}'
  recorded_at: Fri, 07 Sep 2018 08:32:37 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/tll6ccfblmpa2vzispvj76s92ots2351/etltask/e820b7d10afd405e318b76db6d32b8fa00000040
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:PvcqUS3Sa6T3eNjWp_4zgQ
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:PvcqUS3Sa6T3eNjWp_4zgQ:y0XTw11wWUqPbLAk
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Fri, 07 Sep 2018 08:32:38 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/objects/query?category=scheduledMail&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:uWuOkjxibZ41lAS99dVMsA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:uWuOkjxibZ41lAS99dVMsA:qTOLZzwfdTVCXqNQ
      X-Gdc-Request-Time:
      - '490'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"next":"/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/objects/query?category=scheduledMail&limit=50&offset=50","count":50,"offset":0},"items":[{"scheduledMail":{"content":{"when":{"recurrency":"0:0:0:12:0:0","timeZone":"America/Los_Angeles","startDate":"2012-06-05"},"body":"Hey,
        I''m sending you new Reports and Dashboards!","attachments":[],"to":[],"subject":"Scheduled
        Report"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/obj/7","tags":"","created":"2018-04-11
        11:15:12","identifier":"aab31eoDfceY","deprecated":"0","summary":"Daily at
  [...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/tll6ccfblmpa2vzispvj76s92ots2351
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:GeSgn4iPWwW7nR_TGyLUpw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charse[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/tll6ccfblmpa2vzispvj76s92ots2351/objects/query?category=scheduledMail&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:cnCMkdaN96N_N7ojvKw70g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:cnCMkdaN96N_N7ojvKw70g:Em8QXgVuFQ6s20OB
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Fri, 07 Sep 2018 08:32:48 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/tll6ccfblmpa2vzispvj76s92ots2351
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:QkSfej8VgfqEuMki2li8Ig
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '60'
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:QkSfej8VgfqEuMki2li8Ig:pVpIpOewIYD37Mst
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 07 Sep 2018 08:32:49 GMT
recorded_with: VCR 4.0.0
