---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:A5cHAqbxqqqzJzqGqZDefA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:A5cHAqbxqqqzJzqGqZDefA:iZ5Ygjj7PPAH4T0n
      X-Gdc-Request-Time:
      - '56'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/ldm?thumbnail=1","self":"/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb","clearCaches":"/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/clearCaches","invitations":"/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/invitations","users":"/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/uploads/","ldm":"/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/ldm","metadata":"/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb","publicartifacts":"/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/publicartifacts","roles":"/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/roles","userRoles":"/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/dataload","connectors":"/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/connectors","execute":"/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/execute","config":"/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/config","projectFeatureFlags":"/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/projectFeatureFlags","schedules":"/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/schedules","templates":"/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/templates","eventstores":"/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        08:38:45","summary":"No summary","updated":"2018-06-05 08:38:45","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"RubyGem
        Dev Week test","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 06:38:46 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:--VloEQ9yLNo0xOBIzsbEQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:--VloEQ9yLNo0xOBIzsbEQ:k1lDiN4nzmxDORBu
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/ldm?thumbnail=1","self":"/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb","clearCaches":"/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/clearCaches","invitations":"/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/invitations","users":"/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/dvhh6vjj717e6ym2c[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"This is
        anchor description","defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"some_attr_id","title":"Repository
        Name","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_attr_label_id","title":"Repository
        Name","type":"GDC.text","dataType":"VARCHAR(10000)"}}],"defaultLabel":"some_attr_label_id"}}],"facts":[],"references":[]}},{"dataset":{"identifier":"dataset.devs","title":"Developers","anchor":{"attribute":{"identifier":"attr.devs.dev_id","title":"Dev","folder":"Anchor
        folder","labels":[{"label":{"identifier":"label.devs.dev_id.id","title":"Id","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.devs.dev_id.email","title":"Email","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.devs.dev_id.email"}},"attributes":[],"facts":[],"references":[]}},{"dataset":{"identifier":"dataset.commits","title":"Commits","anchor":{"attribute":{"identifier":"attr.commits.factsof","title":"Attr.Commits.Factsof","folder":"Commits"}},"attributes":[],"facts":[{"fact":{"identifier":"fact.commits.lines_changed","title":"Lines
        Changed","folder":"Commits","dataType":"DECIMAL(12,2)","type":"fact","description":"Fact
        description"}}],"references":["committed_on","dataset.devs","dataset.repos"]}}],"dateDimensions":[{"dateDimension":{"name":"committed_on","title":"Committed
        On"}}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:HVoTTifZThkieLMYdxkDzA
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/model/diff/8f5a0692a470e08f5b9d3010857d32c701cd73ae4dcb8e710000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:HVoTTifZThkieLMYdxkDzA:558j6qPkjxxvhulb
      X-Gdc-Request-Time:
      - '70'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/model/diff/8f5a0692a470e08f5b9d3010857d32c701cd73ae4dcb8e710000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 06:38:53 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/model/diff/8f5a0692a470e08f5b9d3010857d32c701cd73ae4dcb8e710000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:mB3zV8vWTLOXMvbT0Mbe8g
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/model/diff/8f5a0692a470e08f5b9d3010857d32c701cd73ae4dcb8e710000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:mB3zV8vWTLOXMvbT0Mbe8g:3le1wRN0QNFa9QbS
      X-Gdc-Request-Time:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/model/diff/8f5a0692a470e08f5b9d3010857d32c701cd73ae4dcb8e710000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 06:38:54 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/model/diff/8f5a0692a470e08f5b9d3010857d32c701cd73ae4dcb8e710000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:DqB7AATzwFTFWjCbpzAlSw
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:DqB7AATzwFTFWjCbpzAlSw:0pkels8oUzBxFkVR
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"dataset.create","dataset":"dataset.repos","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Repositories"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.devs","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Developers"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.commits","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Commits"]}},{"updateOperation":{"type":"date-dimension.create","destructive":false,"description":"Create
        date dimension ''%s''","parameters":["Committed On[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:BRd0gaveEEBTxwGWidHtVQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:BRd0gaveEEBTxwGWidHtVQ:R8UojYpQeDCx68oY
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''dvhh6vjj717e6ym2ct4xfordek74tpgb''","category":"project","instance":"dvhh6vjj717e6ym2ct4xfordek74tpgb","links":[{"link":"/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","ca[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:mIYUeRSJresBDn9jDg40XA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.repos} VISUAL(TITLE \"Repositories\");\nCREATE
        DATASET {dataset.devs} VISUAL(TITLE \"Developers\");\nCREATE DATASET {dataset.commits}
        VISUAL(TITLE \"Commits\");\nINCLUDE TEMPLATE \"URN:GOODDATA:DATE\" MODIFY
        (IDENTIFIER \"committed_on\", TITLE \"Committed On\");\nCREATE FOLDER {dim.anchorfolder}
        VISUAL(TITLE \"Anchor folder\") TYPE ATTRIBUTE;\nCREATE ATTRIBUTE {attr.devs.dev_id}
        VISUAL(TITLE \"Dev\", FOLDER {dim.anchorfolder}) AS K[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/tasks/cc4f583f8769917e4dca5560dfaf84ba0000002a/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:drynZYM2qXCLR6g-4Tz8Jg
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:drynZYM2qXCLR6g-4Tz8Jg:C58iyX6OCmSY1jXj
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/tasks/cc4f583f8769917e4dca5560dfaf84ba0000002a/status","status":"RUNNING","links":{"poll":"/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/tasks/cc4f583f8769917e4dca5560dfaf84ba0000002a/status"}}}'
  recorded_at: Tue, 05 Jun 2018 06:39:08 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:DTH2Ku-mi3Z69BMPZ0a9Pg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:DTH2Ku-mi3Z69BMPZ0a9Pg:kjEl326PClctLpWT
      X-Gdc-Request-Time:
      - '293'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":22,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/62"}],"displayForms":[{"content":{"formOf":"/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/146","expression":"[/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/63]","default":1},"links":{"elements":"/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/164/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/164","tags":"","created":"2010-08-02
        08:13:42","identifier":"committed_on.aag81lMifn6q","deprecated":"0","summary":"DisplayForm
        Year.","isProduction":1,"title":"Year (Committed On)","category":"attributeDisplayForm","updated":"2018-06-05
        08:39:09","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/196","sort":"pk","dimension":"/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/43","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/110"},{"multivalue":false,"type":"col","data":"/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/118"},{"multivalue":false,"type":"col","data":"/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/133"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/146","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"committed_on.year","deprecated":"[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/164
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:FXXYWc_ZCLeDfihvq0vxeg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:FXXYWc_ZCLeDfihvq0vxeg:LrQqX3uEQ9DQ38H4
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/146","expression":"[/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/63]","default":1},"links":{"elements":"/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/164/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/164","tags":"","created":"2010-08-02
        08:13:42","identifier":"committed_on.aag81lMifn6q","deprecated":"0","summary":"DisplayForm
        Year.","isProduction":1,"title":"Year (Committed On)","category":"attributeDisplayForm","updated":"2018-06-05
        08:39:09","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 06:39:21 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/164/validElements?limit=100&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:dhzI1ByUD7EIWQUoW_qRlQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:dhzI1ByUD7EIWQUoW_qRlQ:Iecu102Sw51amFCz
      X-Gdc-Request-Time:
      - '54'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/146","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/164"},"paging":{"count":100,"total":"152","offset":"0"},"items":[{"element":{"title":"","uri":"/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/146/elements?id=0"}},{"element":{"title":"1900","uri":"/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/146/elements?id=1900"}},{"element":{"title":"1901","uri":"/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/146/elements?id=1901"}},{"element":{"title":"1902","uri":"/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/146/elements?id=1902"}},{"element":{"title":"1903","uri":"/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/146/elements?id=1903"}},{"e[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:Wr2H3OdUwGOhWhnSUq7C6A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:Wr2H3OdUwGOhWhnSUq7C6A:Eu5q8ZiYHUP5OlT8
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"internalProjectRoles":{"roles":[{"projectRole":{"permissions":{"canAccessIntegration":"1","canCreateProjectDashboard":"1","canExportDashboard":"1","canManageComment":"1","canExecute":"1","canInitData":"1","canManageIntegration":"1","canCreateExecutionContext":"1","canManageFolder":"1","canInviteUserToProject":"1","canCreateTableDataLoad":"1","canCreateDomain":"1","canSeeOtherUserDetails":"1","canManageACL":"1","canManageAnalyticalDashboard":"1","canCreateRole":"0","canCreateProjectTemplates":"1","canCreateHelp":"1","canManageDomain":"1","canManageAttributeLabel":"1","canManageReport":"1","canExportReport":"1","canCreateColumn":"1","canManageDataSet":"1","canSetUserVariables":"1","canCreateAttributeGroup":"1","canValidateProject":"1","canSetStyle":"1","canMaintainProject":"1","canCreateETLFile":"1","canCreateScheduledMail":"1","canSuspendUserFromProject":"1","canManageIsProduction":"1","canMaintainUserFilterRelation":"1","canManageAttribute":"1","canManageReportDefinition":"1","canManageTranslations":"1","canMaintainUserFilter":"1","canCreateReport":"1","canSetLocale":"1","canEnrichData":"1","canUploadNonProductionCSV":"1","canManageETLFile":"1","canCreateComment":"1","canCreateDataSet":"1","canManageExecutionContext":"1","canCreateTable":"1","canManageTableDataLoad":"1","canRefreshData":"1","canCreateMetric":"1","canManageFilterSettings":"1","canManageProjectDashboard":"1","canManageProject":"1","canManagePrompt":"1","canAccessWorkbench":"1","canCreateAttributeLabel":"1","canCreateVisualizationClass":"1","canManageColumn":"1","canCreatePrompt":"1","canManagePublicAccessCode":"0","canListUsersInProject":"1","canManageAttributeGroup":"1","canManageMetric":"1","canManageHelp":"1","canSetProjectVariables":"1","canManageTable":"1","canCreateVisualization":"1","canCreateFolder":"1","canManageFact":"1","canManageScheduledMail":"1","canListInvitationsInProject":"1","canCreateFilterSettings":"1","canExecuteRaw":"1","canSeePublicAccessCode":"0","canCreateReportDefinition":"1","canManageVisualization":"1","canCreateFact":"1","canCreateAttribute":"1","canAssignUserWithRole":"1","canCreateAnalyticalDashboard":"1"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/roles/6","created":"2018-06-05
        08:38:47","identifier":"superAdminRole","summary":"the ultimate project admin","title":"SuperAdmin","updated":"2018-06-05
        08:38:47","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"projectRole":{"permissions":{"canAccessIntegration":"0","canCreateProjectDashboard":"0","canExportDashboard":"1","[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/users
    body:
      encoding: UTF-8
      string: '{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/roles/4"]},"links":{"self":"/gdc/account/profile/f825c27211c28b4d1f47132a4dc66b75"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:Vp3tmliqu9zNtmolqkhBBQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:Vp3tmliqu9zNtmolqkhBBQ:PCYWOfN4VF6IcMmp
      X-Gdc-Request-Time:
      - '3105'
    body:
      encoding: ASCII-8BIT
      string: '{"projectUsersUpdateResult":{"successful":["/gdc/account/profile/f825c27211c28b4d1f47132a4dc66b75"],"failed":[]}}'
  recorded_at: Tue, 05 Jun 2018 06:39:55 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:ZEgdQXxbmqgwutTu0Fp4uA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:ZEgdQXxbmqgwutTu0Fp4uA:euHWZGaafnlDZJ18
      X-Gdc-Request-Time:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/roles/2"],"phonenumber":"","status":"ENABLED","lastname":"1","login":"rubydev+admin@gooddata.com"},"links":{"roles":"/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/users/5ad80b895edcc438e5a4418e222733fa/roles","permissions":"/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/users/5ad80b895edcc438e5a4418e222733fa/permissions","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","projectRelUri":"/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/users/5ad80b895edcc438e5a4418e222733fa"},"meta":{"created":"2017-02-10
        12:18:01","updated":"2018-06-04 11:38:25","author":"/gdc/account/profile/25b25d6c1cd5816c6de55f95b119d8cc","title":"the
        1","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"user":{"content":{"email":"tttt@tttt.est","firstname":"FirstName","userRoles":["/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/roles/4"],"phonenumber":null,"status":"ENABLED","lastname":"LastName","login":"tttt@tttt.est"},"links":{"roles":"/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/users/f825c27211c28b4d1f47132a4dc66b75/roles","permissions":"/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/users/f825c27211c28b4d1f47132a4dc66b75/permissions","self":"/gdc/account/profile/f825c27211c28b4d1f47132a4dc66b75","projects":"/gdc/account/profile/f825c27211c28b4d1f47132a4dc66b75/projects","projectRelUri":"/gdc/projects/dvhh6vjj717e6ym2ct4xfordek74tpgb/users/f825c27211c28b4d1f47132a4dc66b75"},"meta":{"created":"2018-05-09
        16:13:05","updated":"2018-05-09 16:13:05","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"FirstName
        LastName","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}'
  recorded_at: Tue, 05 Jun 2018 06:39:59 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:TFzOhiX9Kf-ihpqcXUuWdQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:TFzOhiX9Kf-ihpqcXUuWdQ:bcQedVOjEX1JcjQd
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 05 Jun 2018 06:40:00 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:8y8NowIDvnmbCfQYHyW4nA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:8y8NowIDvnmbCfQYHyW4nA:xmnPHHFOplwA9l9n
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Tue, 05 Jun 2018 06:40:01 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj
    body:
      encoding: UTF-8
      string: '{"userFilter":{"content":{"expression":"[/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/146]
        IN ([/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/146/elements?id=0])"},"meta":{"category":"userFilter","title":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:KLyWchCxFhMi7Yc8FWn4tQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:KLyWchCxFhMi7Yc8FWn4tQ:CwICRrQIhD9XU4hz
      X-Gdc-Request-Time:
      - '63'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/246"}'
  recorded_at: Tue, 05 Jun 2018 06:40:02 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/userfilters?users=/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:tlzb6KuZI_3bwiRS4xKI1A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:tlzb6KuZI_3bwiRS4xKI1A:AxtC8WfTCyScSrP6
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":20,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 05 Jun 2018 06:40:02 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/userfilters
    body:
      encoding: UTF-8
      string: '{"userFilters":{"items":[{"user":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","userFilters":["/gdc/md/dvhh6vjj717e6ym2ct4xfordek74tpgb/obj/246"]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - qm9fQikuv8RAvtn9DcHK_w:B9NnS2d26coSUUPOwNWAjA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
[...]
