---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients?segment=segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:UBDT7Mdwmfyatim3ee7pig
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:UBDT7Mdwmfyatim3ee7pig:9MCkFWvvuFhYEtjY
      X-Gdc-Request-Time:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '{"clients":{"items":[{"client":{"id":"tenant_6806a354-8522-4bc0-891a-70ebc5933b59","segment":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54","project":"/gdc/projects/lmo6y95glcvwkxodusyzkfk9c9di4nmw","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_6806a354-8522-4bc0-891a-70ebc5933b59"}}}],"paging":{"next":null}}}'
  recorded_at: Mon, 04 Jun 2018 13:04:02 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_6806a354-8522-4bc0-891a-70ebc5933b59
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:Zr4zfqfWNaci5yIz9PfYrw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:Zr4zfqfWNaci5yIz9PfYrw:wij0MV3HXfT5Yh73
      X-Gdc-Request-Time:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '{"client":{"id":"tenant_6806a354-8522-4bc0-891a-70ebc5933b59","segment":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54","project":"/gdc/projects/lmo6y95glcvwkxodusyzkfk9c9di4nmw","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_6806a354-8522-4bc0-891a-70ebc5933b59"}}}'
  recorded_at: Mon, 04 Jun 2018 13:04:02 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_6806a354-8522-4bc0-891a-70ebc5933b59
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:5NPMxAyXFszYQlJLz5Pqzg
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts/default/clients"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:5NPMxAyXFszYQlJLz5Pqzg:uewMcUizDJouWQxD
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 04 Jun 2018 13:04:03 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lmo6y95glcvwkxodusyzkfk9c9di4nmw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:XWQcqVcHzxPPQxx7Jrl_Kw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:XWQcqVcHzxPPQxx7Jrl_Kw:aXWidJuftEcBjteZ
      X-Gdc-Request-Time:
      - '89'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/lmo6y95glcvwkxodusyzkfk9c9di4nmw/ldm?thumbnail=1","self":"/gdc/projects/lmo6y95glcvwkxodusyzkfk9c9di4nmw","clearCaches":"/gdc/projects/lmo6y95glcvwkxodusyzkfk9c9di4nmw/clearCaches","invitations":"/gdc/projects/lmo6y95glcvwkxodusyzkfk9c9di4nmw/invitations","users":"/gdc/projects/lmo6y95glcvwkxodusyzkfk9c9di4nmw/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/lmo6y95glcvwkxodusyzkfk9c9di4nmw/uploads/","ldm":"/gdc/projects/lmo6y95glcvwkxodusyzkfk9c9di4nmw/ldm","metadata":"/gdc/md/lmo6y95glcvwkxodusyzkfk9c9di4nmw","publicartifacts":"/gdc/projects/lmo6y95glcvwkxodusyzkfk9c9di4nmw/publicartifacts","roles":"/gdc/projects/lmo6y95glcvwkxodusyzkfk9c9di4nmw/roles","userRoles":"/gdc/projects/lmo6y95glcvwkxodusyzkfk9c9di4nmw/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/lmo6y95glcvwkxodusyzkfk9c9di4nmw/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/lmo6y95glcvwkxodusyzkfk9c9di4nmw/dataload","connectors":"/gdc/projects/lmo6y95glcvwkxodusyzkfk9c9di4nmw/connectors","execute":"/gdc/projects/lmo6y95glcvwkxodusyzkfk9c9di4nmw/execute","config":"/gdc/projects/lmo6y95glcvwkxodusyzkfk9c9di4nmw/config","projectFeatureFlags":"/gdc/projects/lmo6y95glcvwkxodusyzkfk9c9di4nmw/projectFeatureFlags","schedules":"/gdc/projects/lmo6y95glcvwkxodusyzkfk9c9di4nmw/schedules","templates":"/gdc/md/lmo6y95glcvwkxodusyzkfk9c9di4nmw/templates","eventstores":"/gdc/projects/lmo6y95glcvwkxodusyzkfk9c9di4nmw/dataload/eventstore/stores"},"meta":{"created":"2018-06-04
        15:03:51","summary":"No summary","updated":"2018-06-04 15:03:54","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"client_1
        project","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Mon, 04 Jun 2018 13:04:04 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/k80ipb9c7pezmqjeg7vdcd7rluhpqa9b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 3ba6ykQDqA-zjV1OJ0Mn7A:mSnTvyDfvJBdzw5OM3IMyg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients?segment=segment-5512853c-2fcf-428e-b40d-fcac616277e9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:NDwQJFaGW1ptmkt2MSP_5A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:NDwQJFaGW1ptmkt2MSP_5A:eyYbhcsPEhNo5pyk
      X-Gdc-Request-Time:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"clients":{"items":[{"client":{"id":"tenant_88f05e87-74b9-40ee-aabf-52cec617e812","segment":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-5512853c-2fcf-428e-b40d-fcac616277e9","project":"/gdc/projects/egkmbd5vncp9ybqm2lbhfu6tf3v70s6a","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_88f05e87-74b9-40ee-aabf-52cec617e812"}}}],"paging":{"next":null}}}'
  recorded_at: Wed, 10 Oct 2018 10:28:01 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/egkmbd5vncp9ybqm2lbhfu6tf3v70s6a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:H7qm3s871h8k6esd5pWmNA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
