---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ulqqp5kx5q1q01gwwdg6qfzt838w8qop/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - UCyVsnFzNaUqga8LwoG0Zw:M-hAw4eu7zGyt7a_-KLu7g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - UCyVsnFzNaUqga8LwoG0Zw:M-hAw4eu7zGyt7a_-KLu7g:K5O3S1Bk34epQjSK
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/ulqqp5kx5q1q01gwwdg6qfzt838w8qop/schedules","items":[{"schedule":{"name":"main.rb","type":"MSETL","state":"DISABLED","params":{"param_1":"a","EXECUTABLE":"main.rb","param_2":"b","PROCESS_ID":"8190558e-414d-44bd-8b6e-eb0f128a248e"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/ulqqp5kx5q1q01gwwdg6qfzt838w8qop/schedules/5bfec937e4b0f3ce81febf22","executions":"/gdc/projects/ulqqp5kx5q1q01gwwdg6qfzt838w8qop/schedules/5bfec937e4b0f3ce81febf22/executions"},"triggerScheduleId":"5bfec936e4b0f3ce81febf21"}},{"schedule":{"name":"graph.grf","type":"MSETL","state":"DISABLED","params":{"param_1":"a","EXECUTABLE":"graph/graph.grf","param_2":"b","PROCESS_ID":"15ec85ec-2c93-4f60-9038-29e87c246db0"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2019-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/ulqqp5kx5q1q01gwwdg6qfzt838w8qop/schedules/5bfec936e4b0f3ce81febf21","executions":"/gdc/projects/ulqqp5kx5q1q01gwwdg6qfzt838w8qop/schedules/5bfec936e4b0f3ce81febf21/executions"}}}]}}'
  recorded_at: Wed, 28 Nov 2018 16:58:35 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/fanw3gqnpv87lmocwqj0x79k8i9zfepd/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ADJCyexmTo3xdkURu5mqMg:2BCFZKhDiDNHcautwVsYjg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ADJCyexmTo3xdkURu5mqMg:2BCFZKhDiDNHcautwVsYjg:SRhaI00rIAtW5fQY"
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/fanw3gqnpv87lmocwqj0x79k8i9zfepd/schedules","items":[{"sched[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":6R-eYvIIdIipxhY5OybcTg:tGVeU-HRUs7CtHBjn7FjJA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '10'
      X-Gdc-Request:
      - ":6R-eYvIIdIipxhY5OybcTg:tGVeU-HRUs7CtHBjn7FjJA:I6OddlA8tcBs1qRU"
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/schedules","items":[{"sche[...]
