---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:_hsD0688FXTFBV7GBLYhSw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '7'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:_hsD0688FXTFBV7GBLYhSw:LfozBAA4cOiTUeZ6"
    body:
      encoding: ASCII-8BIT
      string: '{"processes":{"items":[{"process":{"type":"GRAPH","name":"Simple CloudConnect
        Process","graphs":["graph/test.grf"],"executables":["graph/test.grf"],"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/dataload/processes/8669f033-0efa-4e35-87e6-2394dac861ed","executions":"/gdc/projects/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/dataload/processes/8669f033-0efa-4e35-87e6-2394dac861ed/executions","source":"/gdc/projects/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/dataload/processes/8669f033-0efa-4e35-87e6-2394dac861ed/source"}}},{"process":{"type":"RUBY","name":"Simple
        Ruby Process","path":"${PUBLIC_APPSTORE}:branch/master:/apps/hello_world_brick","graphs":["main.rb"],"executables":["main.rb"],"lastDeployed":"2020-05-07T13:29:29.217Z","ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/dataload/processes/711fd9d3-000b-4548-9519-86f4accc73de","executions":"/gdc/projects/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/dataload/processes/711fd9d3-000b-4548-9519-86f4accc73de/executions","source":"/gdc/projects/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/dataload/processes/711fd9d3-000b-4548-9519-86f4accc73de/source"}}},{"process":{"type":"ETL","name":"lcm-end-to-end-csv-download","graphs":[],"executables":[],"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/dataload/processes/a711446f-979e-491b-83dc-ea6937d1bd2b","executions":"/gdc/projects/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/dataload/processes/a711446f-979e-491b-83dc-ea6937d1bd2b/executions","source":"/gdc/projects/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/dataload/processes/a711446f-979e-491b-83dc-ea6937d1bd2b/source"},"component":{"name":"gdc-etl-csv-downloader","version":"1","configLocation":{"s3":{"path":"s3://s3_bucket/s3_folder/","accessKey":"s3_access_key","serverSideEncryption":true}}}}},{"process":{"type":"ETL","name":"lcm-end-to-end-sql-exec","graphs":[],"executables":[],"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/dataload/processes/ed97b00d-de65-4d8e-854a-b9591efded44","executions":"/gdc/projects/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/dataload/processes/ed97b00d-de65-4d8e-854a-b9591efded44/executions","source":"/gdc/projects/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/dataload/processes/ed97b00d-de65-4d8e-854a-b9591efded44/source"},"component":{"name":"gdc-etl-sql-executor","version":"1","configLocation":{"s3":{"path":"s3://s3_bucket/s3_folder/","accessKey":"s3_access_key","serverSideEncryption":true}}}}}],"links":{"self":"/gdc/projects/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/dataload/processes"}}}'
  recorded_at: Thu, 07 May 2020 13:30:25 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:fP_ahijinmh-iT5iLP9HMw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '14'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:fP_ahijinmh-iT5iLP9HMw:fu3NKdecgiggUxyZ"
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/schedules","items":[{"schedule":{"name":"test.grf","type":"MSETL","state":"ENABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","all_dynamic_param":"is_in_every_schedule","EXECUTABLE":"graph/test.grf","param_2":"b","param_1":"a","msg_from_provisioning_brick":"Hi,
        I was set by provisioning brick","print_reverted":"hidden_msg_from_provisioning_brick,SECURE_PARAM_2","PROCESS_ID":"8669f033-0efa-4e35-87e6-2394dac861ed"},"hiddenParams":{"secure_param_2":null,"secure_param_1":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null,"all_dynamic_hidden_param":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2021-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/schedules/5eb40d3971a6014624219ea2","executions":"/gdc/projects/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/schedules/5eb40d3971a6014624219ea2/executions"}}},{"schedule":{"name":"SimpleRubySchedule","type":"MSETL","state":"ENABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","all_dynamic_param":"is_in_every_schedule","EXECUTABLE":"main.rb","param_2":"b","dynamic_param":"LCM_SPEC_CLIENT_WITH_CONFLICTING_LDM_CHANGES","param_1":"a","msg_from_provisioning_brick":"Hi,
        I was set by provisioning brick","print_reverted":"hidden_msg_from_provisioning_brick,SECURE_PARAM_2","PROCESS_ID":"711fd9d3-000b-4548-9519-86f4accc73de"},"hiddenParams":{"secure_param_2":null,"secure_param_1":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null,"all_dynamic_hidden_param":null,"dynamic_hidden_param":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/schedules/5eb40d3971a6014624219ea3","executions":"/gdc/projects/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/schedules/5eb40d3971a6014624219ea3/executions"},"triggerScheduleId":"5eb40d3971a6014624219ea2"}}]}}'
  recorded_at: Thu, 07 May 2020 13:30:26 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ebq21r3kfv796qibuvauin0kx86t4jst/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:4wxzkWTjMPK6c2FbUmj2zQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ebq21r3kfv796qibuvauin0kx86t4jst/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:s3w6shauD4kK7D5_VAsfQA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:ogtTFUKsiIln4i8kjWEDhg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:JsYSITxsg5TW5K2PSxB3jw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lk2kidblugfl38fdklotewbskm8u4z81/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:sWs9MR69P4LkCIouo5ox4A"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lk2kidblugfl38fdklotewbskm8u4z81/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:2gj_Hc_x_eXS1WJpA4GThA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/pxk7epmrvnfng3uonunjyca6o7hfx95p/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:7dXaptkezUFrIdqHQ2zX7Q"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/pxk7epmrvnfng3uonunjyca6o7hfx95p/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:DJIj6pN48EaKQlwr92_ReA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/fefnuturk74qazhri199v7fzzy3q74jh/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:t6ERqGUW7I_r7-20ES1PZw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/fefnuturk74qazhri199v7fzzy3q74jh/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:TCl9tXK4w8ZLP-BgWFNvJA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X[...]
