---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:SztlDQ3myfmVo5ZmZTR7hw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '27'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:SztlDQ3myfmVo5ZmZTR7hw:CIsdsCiSevMfJiFv"
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/obj/119"}]}'
  recorded_at: Thu, 07 May 2020 13:31:13 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/obj/119
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:lRT3CMq7CEyNQnUEIZANmg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '35'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:lRT3CMq7CEyNQnUEIZANmg:iUdlIprJrrjJGjXz"
    body:
      encoding: ASCII-8BIT
      string: '{"dataSet":{"content":{"mode":"","facts":["/gdc/md/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/obj/316","/gdc/md/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/obj/317","/gdc/md/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/obj/318","/gdc/md/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/obj/319"],"dataLoadingColumns":["/gdc/md/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/obj/76","/gdc/md/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/obj/78","/gdc/md/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/obj/86","/gdc/md/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/obj/88","/gdc/md/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/obj/29","/gdc/md/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/obj/31","/gdc/md/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/obj/33","/gdc/md/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/obj/35","/gdc/md/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/obj/37","/gdc/md/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/obj/39"[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/obj/316
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:20kzyLaj3ITCU2KIpMKk3Q"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '33'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:20kzyLaj3ITCU2KIpMKk3Q:RDiZzzDuZwG6U9m0"
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/obj/315"],"expr":[{"type":"col","data":"/gdc/md/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/obj/38"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/obj/316","tags":"fact","created":"2020-05-07
        15:18:55","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2020-05-07 15:21:56","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 07 May 2020 13:31:16 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ebq21r3kfv796qibuvauin0kx86t4jst/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:cJMrQKLOME4yFvuhQvqEew"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '31'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:cJMrQKLOME4yFvuhQvqEew:RV7UWb933H3RYzQy"
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/ebq21r3kfv796qibuvauin0kx86t4jst/obj/119"}]}'
  recorded_at: Thu, 07 May 2020 13:31:17 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ebq21r3kfv796qibuvauin0kx86t4jst/obj/119
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:1knEjleN8SrYDmG2u_uBlA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:TV5oT4WDdXGhmw_zu6OWlA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '34'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:TV5oT4WDdXGhmw_zu6OWlA:x2nh7COytddTl9g6"
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/obj/119"}]}'
  recorded_at: Thu, 07 May 2020 13:31:21 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/obj/119
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:Q1uHwxapZ5YjSrOJqN63wQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/obj/316
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:YOY_MVKKF5QZaXVi_EGt5A"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '35'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:YOY_MVKKF5QZaXVi_EGt5A:KDXEcnB2dpDH6EEB"
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/obj/315"],"expr":[{"type":"col","data":"/gdc/md/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/obj/38"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/obj/316","tags":"fact","created":"2020-05-07
        15:18:55","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2020-05-07 15:21:56","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 07 May 2020 13:31:23 GMT
recorded_with: VCR 5.1.0
