---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/objects/query?category=dataSet&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:X5LGMXnlTjI5g1AezgDkBA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - aJ1AtH7uw17Uac94lLYBug:X5LGMXnlTjI5g1AezgDkBA:oY6kBsO9uz6ap9I3
      X-Gdc-Request-Time:
      - '115'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"dataSet":{"content":{"urn":"urn:pe:date","mode":"","facts":[],"titleSuffix":"Created
        On","dataLoadingColumns":[],"attributes":["/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/obj/113","/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/obj/114","/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/obj/115","/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/obj/116","/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/obj/117","/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/obj/118","/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/obj/119","/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/obj/120","/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/obj/121","/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/obj/122","/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/obj/123","/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/obj/124","/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/obj/125","/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/obj/126","/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/obj/127","/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/obj/128","/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/obj/129","/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/obj/130"],"identifierPrefix":"created_on"},"links":{"dataUploads":"/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/data/uploads/173"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/gukitosskabcqym1mefzbs0v4fdtfxjj/obj/173","tags":"","created":"2010-08-02
        08:13:42","identifier":"created_on.pe.dataset.dt","deprecated":"0","summary":"DataSet
        Date","isProduction":1,"title":"Date (Created On)","category":"dataSet","updated":"2016-07-12
        14:55:40","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Tue, 05 Jun 2018 07:19:52 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/olb1czsjwud6roi22uynk5u5dxogy0ia/objects/query?category=dataSet&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - "-xb92qNIZbdWoASIKVxRqg:oaukFpXrl95udFr4_m-dlQ"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/tq4xg3ijigjd7zqp3si5m2kokn8dsvm9/objects/query?category=dataSet&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z_T_aTHUJpPtBTCmLKSTtA:q1LKaZvQ75WSv5ZBTqlMlw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z_T_aTHUJpPtBTCmLKSTtA:q1LKaZvQ75WSv5ZBTqlMlw:kvuZcf5bfCqNo1h5
      X-Gdc-Request-Time:
      - '139'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"dataSet":{"content":{"urn":"urn:pe:date","mode":"","facts":[],"titleSuffi[...]
