---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:a0EMWhHz4jb7lFNn-rU-fA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:a0EMWhHz4jb7lFNn-rU-fA:tmAcH2lFUnB5eF5g
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/ldm?thumbnail=1","self":"/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8","clearCaches":"/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/clearCaches","invitations":"/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/invitations","users":"/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/uploads/","ldm":"/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/ldm","metadata":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8","publicartifacts":"/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/publicartifacts","roles":"/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/roles","userRoles":"/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/dataload","connectors":"/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/connectors","execute":"/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/execute","config":"/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/config","projectFeatureFlags":"/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/projectFeatureFlags","schedules":"/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/schedules","templates":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/templates","eventstores":"/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/dataload/eventstore/stores"},"meta":{"created":"2018-06-12
        10:47:19","summary":"No summary","updated":"2018-06-12 10:47:19","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"RubyGem
        Dev Week test","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 12 Jun 2018 08:47:20 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:p14WotJLHzTUUc55tCPHwQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:p14WotJLHzTUUc55tCPHwQ:m4CQLH5y7orv2y0o
      X-Gdc-Request-Time:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/ldm?thumbnail=1","self":"/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8","clearCaches":"/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/clearCaches","invitations":"/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/invitations","users":"/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/zi8hst7vxzpmk6z9z[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"This is
        anchor description","defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"some_attr_id","title":"Repository
        Name","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_attr_label_id","title":"Repository
        Name","type":"GDC.text","dataType":"VARCHAR(10000)"}}],"defaultLabel":"some_attr_label_id"}}],"facts":[],"references":[]}},{"dataset":{"identifier":"dataset.devs","title":"Developers","anchor":{"attribute":{"identifier":"attr.devs.dev_id","title":"Dev","folder":"Anchor
        folder","labels":[{"label":{"identifier":"label.devs.dev_id.id","title":"Id","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.devs.dev_id.email","title":"Email","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.devs.dev_id.email"}},"attributes":[],"facts":[],"references":[]}},{"dataset":{"identifier":"dataset.commits","title":"Commits","anchor":{"attribute":{"identifier":"attr.commits.factsof","title":"Attr.Commits.Factsof","folder":"Commits"}},"attributes":[],"facts":[{"fact":{"identifier":"fact.commits.lines_changed","title":"Lines
        Changed","folder":"Commits","dataType":"DECIMAL(12,2)","type":"fact","description":"Fact
        description"}}],"references":["committed_on","dataset.devs","dataset.repos"]}}],"dateDimensions":[{"dateDimension":{"name":"committed_on","title":"Committed
        On"}}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:8uLVP16lCiTPrxIMMLiQZw
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/model/diff/4a374c62068b81459ffadb28f8bcf82701cd701cea7d6e3000000069"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:8uLVP16lCiTPrxIMMLiQZw:ym1utzlwJTpF0ugA
      X-Gdc-Request-Time:
      - '147'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/model/diff/4a374c62068b81459ffadb28f8bcf82701cd701cea7d6e3000000069"}}}'
  recorded_at: Tue, 12 Jun 2018 08:47:28 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/model/diff/4a374c62068b81459ffadb28f8bcf82701cd701cea7d6e3000000069
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:3xGu8iRdbIqBQSjfXVYvIg
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/model/diff/4a374c62068b81459ffadb28f8bcf82701cd701cea7d6e3000000069"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:3xGu8iRdbIqBQSjfXVYvIg:yTc0LeKittV4q7MA
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/model/diff/4a374c62068b81459ffadb28f8bcf82701cd701cea7d6e3000000069"}}}'
  recorded_at: Tue, 12 Jun 2018 08:47:28 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/model/diff/4a374c62068b81459ffadb28f8bcf82701cd701cea7d6e3000000069
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:kL7H24GzQ84yBSrn-DMC1A
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:kL7H24GzQ84yBSrn-DMC1A:3TdNtB6KBtp4tIvC
      X-Gdc-Request-Time:
      - '55'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"dataset.create","dataset":"dataset.repos","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Repositories"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.devs","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Developers"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.commits","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Commits"]}},{"updateOperation":{"type":"date-dimension.create","destructive":false,"description":"Create
        date dimension ''%s''","parameters":["Committed On[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:ePZ-aQ-XRohXxsTewTI7QA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:ePZ-aQ-XRohXxsTewTI7QA:57VL5wZGDRJfYXjG
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''zi8hst7vxzpmk6z9zzde7mbgs9n71ue8''","category":"project","instance":"zi8hst7vxzpmk6z9zzde7mbgs9n71ue8","links":[{"link":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","ca[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:Kp3jOIRRjHIjX8xeBwZoXw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.repos} VISUAL(TITLE \"Repositories\");\nCREATE
        DATASET {dataset.devs} VISUAL(TITLE \"Developers\");\nCREATE DATASET {dataset.commits}
        VISUAL(TITLE \"Commits\");\nINCLUDE TEMPLATE \"URN:GOODDATA:DATE\" MODIFY
        (IDENTIFIER \"committed_on\", TITLE \"Committed On\");\nCREATE FOLDER {dim.commits}
        VISUAL(TITLE \"Commits\") TYPE ATTRIBUTE;\nCREATE ATTRIBUTE {attr.commits.factsof}
        VISUAL(TITLE \"Attr.Commits.Factsof\", FOLDER {dim.commits})[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/tasks/287c68efa77529e13a95e222febbdab000000018/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:ZfQg0Ztj-XTYPTv7Vt2Q9w
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:ZfQg0Ztj-XTYPTv7Vt2Q9w:kEp3Bv2wdbi3zpAp
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/tasks/287c68efa77529e13a95e222febbdab000000018/status","status":"RUNNING","links":{"poll":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/tasks/287c68efa77529e13a95e222febbdab000000018/status"}}}'
  recorded_at: Tue, 12 Jun 2018 08:47:43 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:7iuqK0qMAsb4nU9H6zb18w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:7iuqK0qMAsb4nU9H6zb18w:eMbK6ihmyC40AH0F
      X-Gdc-Request-Time:
      - '340'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":22,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/62"}],"displayForms":[{"content":{"formOf":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/146","expression":"[/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/63]","default":1},"links":{"elements":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/164/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/164","tags":"","created":"2010-08-02
        08:13:42","identifier":"committed_on.aag81lMifn6q","deprecated":"0","summary":"DisplayForm
        Year.","isProduction":1,"title":"Year (Committed On)","category":"attributeDisplayForm","updated":"2018-06-12
        10:47:44","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/196","sort":"pk","dimension":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/43","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/110"},{"multivalue":false,"type":"col","data":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/118"},{"multivalue":false,"type":"col","data":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/133"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/146","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"committed_on.year","deprecated":"[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/216
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:bAY7mnVuDa4l_-aVTgFlaw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/218
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:vJYbILbPKSaHqtdb-G9Tcw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:vJYbILbPKSaHqtdb-G9Tcw:HVPUW5G8ecipSQYh
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/216","expression":"[/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/13]","default":1},"links":{"elements":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/218/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/218","tags":"","created":"2018-06-12
        10:47:45","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2018-06-12
        10:47:45","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 12 Jun 2018 08:47:58 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/etl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:rRitGqjHk1gLUhTWtuKiYA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:rRitGqjHk1gLUhTWtuKiYA:ULkBghR1fQsjljT9
      X-Gdc-Request-Time:
      - '75'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Extract, transform and load services for project
        ''zi8hst7vxzpmk6z9zzde7mbgs9n71ue8''","category":"etl","instance":"zi8hst7vxzpmk6z9zzde7mbgs9n71ue8","links":[{"link":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/etl/pull2","summary":"Provides
        service of pull2.","category":"pull2","title":"pull2"},{"link":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/etl/task","summary":"Provides
        service of task.","category":"task","title":"task"},{"link":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/etl/mode","summary":"Provides
        service of mode.","category":"mode","title":"mode"}]}}'
  recorded_at: Tue, 12 Jun 2018 08:48:03 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/etl/pull2
    body:
      encoding: UTF-8
      string: '{"pullIntegration":"d20180612-19318-gkr1jk"}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:r8zQF53GkM9FjIGQ17rWIg
      Info-Message:
      - Starting the data load from user storage to dataset.
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/tasks/711feed44bff808518d0c99711739a4400000004/status"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:r8zQF53GkM9FjIGQ17rWIg:QaWnuSsSV8pi5sHw
      X-Gdc-Request-Time:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"pull2Task":{"links":{"poll":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/tasks/711feed44bff808518d0c99711739a4400000004/status"}}}'
  recorded_at: Tue, 12 Jun 2018 08:48:04 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:DqC2ifZ4bX3zY_2T2pkVxQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/model/diff/ced36858000ac1d2503160c23720591d01cd701cfdebd26f00000069
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:LsvrLWTpOHBnURcjVlPXeQ
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/model/diff/ced36858000ac1d2503160c23720591d01cd701cfdebd26f00000069"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:LsvrLWTpOHBnURcjVlPXeQ:mJuJyZS7bxCy6Q49
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/model/diff/ced36858000ac1d2503160c23720591d01cd701cfdebd26f00000069"}}}'
  recorded_at: Tue, 12 Jun 2018 08:52:54 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:3FuO4DMpvGoX8W75QZ9QUg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charse[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:Bfv3qyt0p5PxipaQnqLBPQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.repos} VISUAL(TITLE \"Repositories\");\nCREATE
        DATASET {dataset.devs} VISUAL(TITLE \"Developers\");\nCREATE DATASET {dataset.commits}
        VISUAL(TITLE \"Commits\");\nINCLUDE TEMPLATE \"URN:GOODDATA:DATE\" MODIFY
        (IDENTIFIER \"committed_on\", TITLE \"Committed On\"[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/tasks/ba7ce11411826ba0e8354e572d36f7c500000018/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:iJ46lQCHwK6td9y_APPyiw
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:iJ46lQCHwK6td9y_APPyiw:3UgTxkNCMHNT1soo
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/tasks/ba7ce11411826ba0e8354e572d36f7c500000018/status","status":"RUNNING","links":{"poll":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/tasks/ba7ce11411826ba0e8354e572d36f7c500000018/status"}}}'
  recorded_at: Tue, 12 Jun 2018 08:53:09 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:JZJAD-CykPGRTU4MUXjO-g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:ze2yCJntPdFuQ1zzuBTv-w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/etl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:B_CPsTVl2-gEyJX_cJDnag
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:B_CPsTVl2-gEyJX_cJDnag:w7uBJn2qo64BM0Fy
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Extract, transform and load services for project
        ''wasps3hgso0c9k7pdseukinyj6hhi95j''","category":"etl","instance":"wasps3hgso0c9k7pdseukinyj6hhi95j","links":[{"link":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/etl/pull2","summary":"Provides
        service of pull2.","category":"pull2","title":"pull2"},{"link":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/etl/task","summary":"Provides
        service of task.","category":"task","title":"task"},{"link":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/etl/mode","summary":"Provides
        service of mode.","category":"mode","title":"mode"}]}}'
  recorded_at: Tue, 12 Jun 2018 08:53:27 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/etl/pull2
    body:
      encoding: UTF-8
      string: '{"pullIntegration":"d20180612-19914-yon4bz"}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:Tg5H-cGrq7CW2nnqJT_8qQ
      Info-Message:
      - Starting the data load from user storage to dataset.
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/tasks/09ea5d91768a81cb34cb65cec344061c00000004/status"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:Tg5H-cGrq7CW2nnqJT_8qQ:RI2TcfxVmnQShNu9
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"pull2Task":{"links":{"poll":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/tasks/09ea5d91768a81cb34cb65cec344061c00000004/status"}}}'
  recorded_at: Tue, 12 Jun 2018 08:53:28 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ouhgxvf194uje3r57iuulhi6wp1efgh7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jVrhVO3JP3FpqvbJaoliMg:-Ts16iL-WtXze54yNytCXQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - jVrhVO3JP3FpqvbJaoliMg:-Ts16iL-WtXze54yNytCXQ:MyxZo2iN7y1GaOsq
      X-Gdc-Request-Time:
      - '145'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARI[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ouhgxvf194uje3r57iuulhi6wp1efgh7/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"This is
        anchor description","defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"some_attr_id","title":"Repository
        Name","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_attr_label_id","title":"Repository
[...]
