---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:7kUqDqbtaRPltCvS8wlkAg
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:7kUqDqbtaRPltCvS8wlkAg:9RzYsiv2CysoHF5F
      X-Gdc-Request-Time:
      - '86'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Tue, 08 Jan 2019 10:51:59 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:syv00w4R5VGnH8eIvR61PQ
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:syv00w4R5VGnH8eIvR61PQ:80V9OU2qdszrbtrK
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Tue, 08 Jan 2019 10:52:00 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:z1QLSh3lPs71jCydlS2sRA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:z1QLSh3lPs71jCydlS2sRA:AaqVyels9af4l4QY
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2018-12-03 11:09:12","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Tue, 08 Jan 2019 10:52:00 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:QzgzBYGd7eEgOo6GuQ99mg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:QzgzBYGd7eEgOo6GuQ99mg:jOuXR5Eg63FpDjpl
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Tue, 08 Jan 2019 10:52:01 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"RubyGem Dev Week
        test"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:nVzT_PtM5m0T4jPMfZiEXQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:nVzT_PtM5m0T4jPMfZiEXQ:Svy9uWWPy3BspMhn
      X-Gdc-Request-Time:
      - '533'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u"}'
  recorded_at: Tue, 08 Jan 2019 10:52:02 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:V5kWD3Ul3oAGX8RAB7786g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:V5kWD3Ul3oAGX8RAB7786g:hCSgfYhpeOrki4mM
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/ldm?thumbnail=1","self":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u","clearCaches":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/clearCaches","invitations":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/invitations","users":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/uploads/","ldm":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/ldm","metadata":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u","publicartifacts":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/publicartifacts","roles":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/roles","userRoles":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/dataload","connectors":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/connectors","execute":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/execute","config":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/config","projectFeatureFlags":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/projectFeatureFlags","schedules":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/schedules","templates":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/templates"},"meta":{"created":"2019-01-08
        11:52:02","summary":"No summary","updated":"2019-01-08 11:52:02","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"RubyGem
        Dev Week test","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 08 Jan 2019 10:52:03 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"This is
        anchor description","defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"some_attr_id","title":"Repository
        Name","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_attr_label_id","title":"Repository
        Name","type":"GDC.text","dataType":"VARCHAR(10000)"}}],"defaultLabel":"some_attr_label_id"}}],"facts":[],"references":[],"bridges":[]}},{"dataset":{"identifier":"dataset.devs","title":"Developers","anchor":{"attribute":{"identifier":"attr.devs.dev_id","title":"Dev","folder":"Anchor
        folder","labels":[{"label":{"identifier":"label.devs.dev_id.id","title":"Id","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.devs.dev_id.email","title":"Email","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.devs.dev_id.email"}},"attributes":[],"facts":[],"references":[],"bridges":["dataset.commits"]}},{"dataset":{"identifier":"dataset.commits","title":"Commits","anchor":{"attribute":{"identifier":"attr.commits.factsof","title":"Attr.Commits.Factsof","folder":"Commits"}},"attributes":[],"facts":[{"fact":{"identifier":"fact.commits.lines_changed","title":"Lines
        Changed","folder":"Commits","dataType":"DECIMAL(12,2)","type":"fact","description":"Fact
        description"}}],"references":["committed_on","dataset.devs","dataset.repos"],"bridges":[]}}],"dateDimensions":[{"dateDimension":{"name":"committed_on","title":"Committed
        On","bridges":[]}}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:KdlBJFx_EsckwkGR7iw1qQ
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/model/diff/b1296e000c6b708a34c58f5902f73b8f348b01e8d86e5b0700000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:KdlBJFx_EsckwkGR7iw1qQ:89iSfJwuwLUlpJqy
      X-Gdc-Request-Time:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/model/diff/b1296e000c6b708a34c58f5902f73b8f348b01e8d86e5b0700000018"}}}'
  recorded_at: Tue, 08 Jan 2019 10:52:11 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/model/diff/b1296e000c6b708a34c58f5902f73b8f348b01e8d86e5b0700000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:RRjec3ixblKrl5BKdMvaJQ
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/model/diff/b1296e000c6b708a34c58f5902f73b8f348b01e8d86e5b0700000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:RRjec3ixblKrl5BKdMvaJQ:lhSBuZyFtJOUk0WH
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/model/diff/b1296e000c6b708a34c58f5902f73b8f348b01e8d86e5b0700000018"}}}'
  recorded_at: Tue, 08 Jan 2019 10:52:11 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/model/diff/b1296e000c6b708a34c58f5902f73b8f348b01e8d86e5b0700000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:-q2T6usnjI9SjNfdCddWnw
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:-q2T6usnjI9SjNfdCddWnw:Fwho7UpEi5NmG0qh
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"dataset.create","dataset":"dataset.repos","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Repositories"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.devs","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Developers"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.commits","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Commits"]}},{"updateOperation":{"type":"date-dimension.create","destructive":false,"description":"Create
        date dimension ''%s''","parameters":["Committed On[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:DwOC03nJEH7jKvtVQmZG6A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:DwOC03nJEH7jKvtVQmZG6A:xFNTYJAcNbzHIwmc
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''hmaayky1211ud23jk87m7r1p70tjp45u''","category":"project","instance":"hmaayky1211ud23jk87m7r1p70tjp45u","links":[{"link":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","ca[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:7pPj4YH75EZD7DJpEI-suA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.repos} VISUAL(TITLE \"Repositories\");\nCREATE
        DATASET {dataset.devs} VISUAL(TITLE \"Developers\");\nCREATE DATASET {dataset.commits}
        VISUAL(TITLE \"Commits\");\nINCLUDE TEMPLATE \"URN:GOODDATA:DATE\" MODIFY
        (IDENTIFIER \"committed_on\", TITLE \"Committed On\");\nCREATE FOLDER {dim.anchorfolder}
        VISUAL(TITLE \"Anchor folder\") TYPE ATTRIBUTE;\nCREATE ATTRIBUTE {attr.devs.dev_id}
        VISUAL(TITLE \"Dev\", FOLDER {dim.anchorfolder}) AS K[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/tasks/5c2af90b709827a98f00ed0ae174acf700000007/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:flqoi_3ftZFmmFzHuPcQzg
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:flqoi_3ftZFmmFzHuPcQzg:qXt3lU8MkBees6a1
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/tasks/5c2af90b709827a98f00ed0ae174acf700000007/status","status":"RUNNING","links":{"poll":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/tasks/5c2af90b709827a98f00ed0ae174acf700000007/status"}}}'
  recorded_at: Tue, 08 Jan 2019 10:52:16 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:yDlO9Gky2MugLsCWVO1kHw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:yDlO9Gky2MugLsCWVO1kHw:JnhqQ6Q0a5TAa5NR
      X-Gdc-Request-Time:
      - '325'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":22,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/65"}],"displayForms":[{"content":{"formOf":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/149","expression":"[/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/66]","default":1},"links":{"elements":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/167/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/167","tags":"","created":"2010-08-02
        08:13:42","identifier":"committed_on.aag81lMifn6q","deprecated":"0","summary":"DisplayForm
        Year.","isProduction":1,"title":"Year (Committed On)","category":"attributeDisplayForm","updated":"2019-01-08
        11:52:18","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/199","sort":"pk","dimension":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/46","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/113"},{"multivalue":false,"type":"col","data":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/121"},{"multivalue":false,"type":"col","data":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/136"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/149","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"committed_on.year","deprecated":"[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:6ryKCYiOIQUAZ5kYa4u9IQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:oAqYxH-DxNIO82Fns4L_DA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:oAqYxH-DxNIO82Fns4L_DA:I9e5QfC3NtzfkawF
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212","expression":"[/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/23]","default":1},"links":{"elements":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214","tags":"","created":"2019-01-08
        11:52:18","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2019-01-08
        11:52:18","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 08 Jan 2019 10:52:24 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/d20190108-87038-1v43vr0/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/uploads/d20190108-87038-1v43vr0/ was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 08 Jan 2019 10:52:26 GMT
- request:
    method: mkcol
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/d20190108-87038-1v43vr0/
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/uploads/d20190108-87038-1v43vr0/
      Content-Type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Collection /gdc/uploads/d20190108-87038-1v43vr0/ has been created.</p>
        </body></html>
  recorded_at: Tue, 08 Jan 2019 10:52:27 GMT
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/d20190108-87038-1v43vr0/upload.zip
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        UEsDBBQAAAAIAIxeKE6uxYOVPwEAALEEAAAQAAAAdXBsb2FkX2luZm8uanNv
        br1UwWqEMBC9+xWSs7j02muhUKptYempXWSajN2ASWwSF0T898aIVkO30FbW
        Qxx5b968GR27KI4JAwt7tPvsLgfJSzQ248aS6/jFoXHc+fNbnuNMqMNr0NbM
        aePVLeKBouqmAoshzYMlUJtSJQS3Jq24RFPQI8h3ZGRFPSRrUaEYOj1y+5xl
        JMCoqhohH0B4xlnRPvmj59GuRVYomboBYS[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/etl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:WNeyVfWRNGnQTBtXN6lYow
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:WNeyVfWRNGnQTBtXN6lYow:nL8nMwKdkYrMyBfZ
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Extract, transform and load services for project
        ''hmaayky1211ud23jk87m7r1p70tjp45u''","category":"etl","instance":"hmaayky1211ud23jk87m7r1p70tjp45u","links":[{"link":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/etl/pull2","summary":"Provides
        service of pull2.","category":"pull2","title":"pull2"},{"link":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/etl/task","summary":"Provides
        service of task.","category":"task","title":"task"},{"link":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/etl/mode","summary":"Provides
        service of mode.","category":"mode","title":"mode"}]}}'
  recorded_at: Tue, 08 Jan 2019 10:52:29 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/etl/pull2
    body:
      encoding: UTF-8
      string: '{"pullIntegration":"d20190108-87038-1v43vr0"}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:TOKHFwp9DRArFlq368RHqA
      Info-Message:
      - Starting the data load from user storage to dataset.
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/tasks/bc9d236b5727276376858602caa86a7900000013/status"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:TOKHFwp9DRArFlq368RHqA:ofRLcdUsTi1jjqul
      X-Gdc-Request-Time:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"pull2Task":{"links":{"poll":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/tasks/bc9d236b5727276376858602caa86a7900000013/status"}}}'
  recorded_at: Tue, 08 Jan 2019 10:52:30 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/d20190108-87038-1acgi1e/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/uploads/d20190108-87038-1acgi1e/ was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 08 Jan 2019 10:52:32 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/d20190108-87038-1acgi1e/upload.zip
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        UEsDBBQAAAAIAI9eKE7VdVk/+AAAAMMCAAAQAAAAdXBsb2FkX2luZm8uanNv
        bq2Sy2rDMBBF9/4KobUJdNttIVCiPiB0lYQwscZUoIcryYFi/O8ZyziR3WZR
        qBajEffqcAepKxjjEiJsMW7F8wtYVWOIQoXIH9mOVMa6VH/1kWdSSW/Ax3C9
        Nq4u68nisUaPtsINfpPzoZzLjWtaDRGXlCRqOKFeSTyHoRyVXCnJZ6bDAmec
        RCLx9YcQfKFVTrfGvoJJjhGY0/ry/hR/jI[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/d20190108-87038-1uq9n02/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/uploads/d20190108-87038-1uq9n02/ was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 08 Jan 2019 10:52:40 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/d20190108-87038-1uq9n02/upload.zip
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        UEsDBBQAAAAIAJNeKE5t/di19QAAAN0CAAAQAAAAdXBsb2FkX2luZm8uanNv
        brWSTWvDMAyG7/kVxudQ2HXXwWDM2wqlp7YELVGYwV+zlcEI/e+zXdI5ZjvW
        B1viefVawp4bxvgABDuknXh6ASNHDCRkIH7PDpEyNuf9T13ULDRyB57Cteyy
        5iKOEo8jejQ9PuN3VN61a+ysmxQQ1i4ZBquxU/COqpMDX9FT5aPtgNGCP+6F
        4BXrrZq0eQWdFR6drezO7Q37ByJ/myFMSs[...]
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - uJRgdfbdJFgAVEIzhZE5dA:hJ0NAFdzu4TqgUO21UKM1Q
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
[...]
