---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:-NziYetAyBPh9x9dDg-Adw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:-NziYetAyBPh9x9dDg-Adw:GUa7I2j09wyK9eHr
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 08 Jan 2019 10:58:29 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:diueOEGvbkDXls2f4KifhA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:diueOEGvbkDXls2f4KifhA:3BtuafL7cURbKuXx
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Tue, 08 Jan 2019 10:58:31 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:3PJqLGlTQkSc20-VRgmMyA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:3PJqLGlTQkSc20-VRgmMyA:m85RTFFX3L1uTPiE"
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":0,"offset":0,"items":[]}}'
  recorded_at: Thu, 24 Jan 2019 13:40:13 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:RyP4JiSdVHvVt-7S9CvkaA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:RyP4JiSdVHvVt-7S9CvkaA:7hIqaaKY0IgdBwM7"
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Thu, 24 Jan 2019 13:40:15 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/mwyndwcsdac4p7ma605g5f6ccf8hcj7h/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":dTU3NVCA4-MYqoWSDQoEbw:P6Km5vVGsFQqzCb1sHlRfw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '32'
      X-Gdc-Request:
      - ":dTU3NVCA4-MYqoWSDQoEbw:P6Km5vVGsFQqzCb1sHlRfw:onhHxuOadxTAVFhO"
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":0,"offset":0,"items":[]}}'
  recorded_at: Wed, 15 Jan 2020 06:35:09 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/mwyndwcsdac4p7ma605g5f6ccf8hcj7h/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":dTU3NVCA4-MYqoWSDQoEbw:8irr5Qn2XWsfQNeq6kEU3g"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '27'
      X-Gdc-Request:
      - ":dTU3NVCA4-MYqoWSDQoEbw:8irr5Qn2XWsfQNeq6kEU3g:K4HegrKnVOB0Ud5p"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Wed, 15 Jan 2020 06:35:11 GMT
recorded_with: VCR 5.0.0
