---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:LpdWRQP3o_TZu3s0mkMO2w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:LpdWRQP3o_TZu3s0mkMO2w:4MzUgMh7STtiOQkH
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209","expression":"[/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/20]","default":1},"links":{"elements":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211","tags":"","created":"2018-06-12
        10:53:10","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2018-06-12
        10:53:10","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 12 Jun 2018 08:59:44 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:becaXUQ76WoknbakOeyTmg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:becaXUQ76WoknbakOeyTmg:qu1lK9pRfuENVb77
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209/elements?id=3"}}]}}'
  recorded_at: Tue, 12 Jun 2018 08:59:44 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:hqoVgbQ_2W2qbARWNsbbdA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:hqoVgbQ_2W2qbARWNsbbdA:8l48fpzzC8d7ZdLV
      X-Gdc-Request-Time:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/roles/2"],"phonenumber":"","status":"ENABLED","lastname":"1","login":"rubydev+admin@gooddata.com"},"links":{"roles":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/users/5ad80b895edcc438e5a4418e222733fa/roles","permissions":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/users/5ad80b895edcc438e5a4418e222733fa/permissions","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","projectRelUri":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/users/5ad80b895edcc438e5a4418e222733fa"},"meta":{"created":"2017-02-10
        12:18:01","updated":"2018-06-05 11:23:01","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"the
        1","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"user":{"content":{"email":"gemtest9056916@gooddata.com","firstname":"the","userRoles":["/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/roles/2"],"phonenumber":null,"status":"ENABLED","lastname":"9056916","login":"rubydev+tester@gooddata.com"},"links":{"roles":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/users/6f3f51cdcd8352f59252a4be2e6ceb1b/roles","permissions":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/users/6f3f51cdcd8352f59252a4be2e6ceb1b/permissions","self":"/gdc/account/profile/6f3f51cdcd8352f59252a4be2e6ceb1b","projects":"/gdc/account/profile/6f3f51cdcd8352f59252a4be2e6ceb1b/projects","projectRelUri":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/users/6f3f51cdcd8352f59252a4be2e6ceb1b"},"meta":{"created":"2017-02-22
        11:16:37","updated":"2018-06-12 10:52:10","author":"/gdc/account/profile/6f3f51cdcd8352f59252a4be2e6ceb1b","title":"the
        9056916","contributor":"/gdc/account/profile/6f3f51cdcd8352f59252a4be2e6ceb1b"}}}]}'
  recorded_at: Tue, 12 Jun 2018 08:59:47 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:czN08nnMQX67aN7BdlmuyQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:czN08nnMQX67aN7BdlmuyQ:L8MWneKaw8tYrPoN
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 12 Jun 2018 08:59:48 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:a8dRnP60PO-KPzKqxriVZA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:a8dRnP60PO-KPzKqxriVZA:B2fFkcIXKoHj6ANN
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Tue, 12 Jun 2018 08:59:49 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj
    body:
      encoding: UTF-8
      string: '{"userFilter":{"content":{"expression":"[/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209]
        IN ([/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209/elements?id=1])"},"meta":{"category":"userFilter","title":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:FFJsudhoglKXht_NTAq5Xg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:FFJsudhoglKXht_NTAq5Xg:9sbsMyFftdnAUeVZ
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/273"}'
  recorded_at: Tue, 12 Jun 2018 08:59:50 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/userfilters?users=/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:pawNQmjYDO7ni8g6BhPaiQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:pawNQmjYDO7ni8g6BhPaiQ:vgERq85dz79ZETyF
      X-Gdc-Request-Time:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":20,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 12 Jun 2018 08:59:50 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/userfilters
    body:
      encoding: UTF-8
      string: '{"userFilters":{"items":[{"user":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","userFilters":["/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/273"]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:JcOn2AdSb4TkVhM1b8oGgg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:JcOn2AdSb4TkVhM1b8oGgg:f6ITnZQdOm0rk1pL
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"userFiltersUpdateResult":{"failed":[],"successful":["/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"]}}'
  recorded_at: Tue, 12 Jun 2018 08:59:51 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:205ZCCO_QSkblFx08nj4KA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:205ZCCO_QSkblFx08nj4KA:RtfJ62CRATRML6Vl
      X-Gdc-Request-Time:
      - '61'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"userFilter":{"content":{"tree":{"content":[{"value":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209","position":{"column":14,"line":1},"type":"attribute
        object"},{"content":[{"value":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209/elements?id=1","position":{"column":69,"line":1},"type":"attributeElement
        object"}],"position":{"column":69,"line":1},"type":"list"}],"position":{"column":65,"line":1},"type":"in"},"expression":"[/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209]
        IN ([/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209/elements?id=1])"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/273","tags":"","created":"2018-06-12
        10:59:49","identifier":"aagUtksScC36","deprecated":"0","summary":"","isProduction":1,"title":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","category":"userFilter","updated":"2018-06-12
        10:59:49","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Tue, 12 Jun 2018 08:59:56 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/221
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:6S5AJJHhn2aBIdCK2OsiVQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:6S5AJJHhn2aBIdCK2OsiVQ:WxjF0Eiv3dE1lMhz
      X-Gdc-Request-Time:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/219","expression":"[/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/16]","default":1},"links":{"elements":"/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/221/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/221","tags":"","created":"2018-10-03
        13:06:35","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2018-10-03
        13:06:35","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 03 Oct 2018 11:11:41 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/221/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:stzeo1HLG3_7OT4txNfMvw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:stzeo1HLG3_7OT4txNfMvw:Dz5yZCfTBNeyjmQi
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/219","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/221"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/219/elements?id=3"}}]}}'
  recorded_at: Wed, 03 Oct 2018 11:11:42 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ylcpxh0yc5rq9iv527qxp9fucm108sza/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:F1068I7dzCVmj6MNn4mCtg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:LJfVVZ298_EhyGCF7Mz5Pg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:LJfVVZ298_EhyGCF7Mz5Pg:lYTnDFC4P1mfjntE
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":0,"offset":0,"items":[]}}'
  recorded_at: Wed, 03 Oct 2018 11:11:45 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:5uvwpwTNuUC385NL-L0LVg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:5uvwpwTNuUC385NL-L0LVg:Du23HQf1gijYVLiG
      X-Gdc-Request-Time:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Wed, 03 Oct 2018 11:11:46 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj
    body:
      encoding: UTF-8
      string: '{"userFilter":{"content":{"expression":"[/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/219]
        IN ([/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/219/elements?id=1])"},"meta":{"category":"userFilter","title":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:ZfuraIppmoHs_gGPAccCYA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:ZfuraIppmoHs_gGPAccCYA:lVvZfB7jfjLyBVjJ
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/276"}'
  recorded_at: Wed, 03 Oct 2018 11:11:47 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/userfilters?users=/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:fDct7fmZWui0uOVr9_vuxw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:fDct7fmZWui0uOVr9_vuxw:CwevzidDe8BgaFqq
      X-Gdc-Request-Time:
      - '58'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":20,"length":0,"offset":0,"items":[]}}'
  recorded_at: Wed, 03 Oct 2018 11:11:48 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/userfilters
    body:
      encoding: UTF-8
      string: '{"userFilters":{"items":[{"user":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","userFilters":["/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/276"]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:OF7dVJgufa4nK47HHzSdug
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:OF7dVJgufa4nK47HHzSdug:JkVZAMoFTUHr5wnF
      X-Gdc-Request-Time:
      - '74'
    body:
      encoding: ASCII-8BIT
      string: '{"userFiltersUpdateResult":{"failed":[],"successful":["/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"]}}'
  recorded_at: Wed, 03 Oct 2018 11:11:48 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/k3qn51zohfcusp9637thz9z2rshsy99i/obj/216
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cmNvyHkoM_nnrWYBgIZSqg:kF1klG83m1eOax3QXw0eMA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cmNvyHkoM_nnrWYBgIZSqg:kF1klG83m1eOax3QXw0eMA:kuol106etDCXsjoC
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/k3qn51zohfcusp9637thz9z2rshsy99i/obj/214","expression":"[/gdc/md/k3qn51zohfcusp9637thz9z2rshsy99i/obj/23]","default":1},"links":{"elements":"/gdc/md/k3qn51zohfcusp9637thz9z2rshsy99i/obj/216/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/k3qn51zohfcusp9637thz9z2rshsy99i/obj/216","tags":"","created":"2018-10-05
        15:17:00","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2018-10-05
        15:17:00","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Fri, 05 Oct 2018 13:22:05 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/k3qn51zohfcusp9637thz9z2rshsy99i/obj/216/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cmNvyHkoM_nnrWYBgIZSqg:6Yrsd8BRmustVzJAfgo-TA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cmNvyHkoM_nnrWYBgIZSqg:6Yrsd8BRmustVzJAfgo-TA:ZRgHCXxGXguNG0Ma
      X-Gdc-Request-Time:
      - '206'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/k3qn51zohfcusp9637thz9z2rshsy99i/obj/214","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/k3qn51zohfcusp9637thz9z2rshsy99i/obj/216"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/k3qn51zohfcusp9637thz9z2rshsy99i/obj/214/elements?id=3"}}]}}'
  recorded_at: Fri, 05 Oct 2018 13:22:06 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/k3qn51zohfcusp9637thz9z2rshsy99i/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cmNvyHkoM_nnrWYBgIZSqg:6uDMVSrehhQiblnIBdkVlA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/k3qn51zohfcusp9637thz9z2rshsy99i/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cmNvyHkoM_nnrWYBgIZSqg:fmiqo13dYXBXlvoS6dRbpQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cmNvyHkoM_nnrWYBgIZSqg:fmiqo13dYXBXlvoS6dRbpQ:0h9CPPKFDbxzObTO
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":0,"offset":0,"items":[]}}'
  recorded_at: Fri, 05 Oct 2018 13:22:09 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/k3qn51zohfcusp9637thz9z2rshsy99i/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cmNvyHkoM_nnrWYBgIZSqg:K7ixr_JdS9xYL-YfPUCs6g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cmNvyHkoM_nnrWYBgIZSqg:K7ixr_JdS9xYL-YfPUCs6g:DM20BZQbnAQ0fJk7
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Fri, 05 Oct 2018 13:22:10 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/k3qn51zohfcusp9637thz9z2rshsy99i/obj
    body:
      encoding: UTF-8
      string: '{"userFilter":{"content":{"expression":"[/gdc/md/k3qn51zohfcusp9637thz9z2rshsy99i/obj/214]
        IN ([/gdc/md/k3qn51zohfcusp9637thz9z2rshsy99i/obj/214/elements?id=1])"},"meta":{"category":"userFilter","title":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cmNvyHkoM_nnrWYBgIZSqg:Tge48HKbV90FsBvFslfJdQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cmNvyHkoM_nnrWYBgIZSqg:Tge48HKbV90FsBvFslfJdQ:1CIVmMDMjf6w6eiZ
      X-Gdc-Request-Time:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/k3qn51zohfcusp9637thz9z2rshsy99i/obj/276"}'
  recorded_at: Fri, 05 Oct 2018 13:22:11 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/k3qn51zohfcusp9637thz9z2rshsy99i/userfilters?users=/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cmNvyHkoM_nnrWYBgIZSqg:fyeD-ZjaTKqLHDGKG8mV1w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cmNvyHkoM_nnrWYBgIZSqg:fyeD-ZjaTKqLHDGKG8mV1w:ALrNgqJQXUORbjCw
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":20,"length":0,"offset":0,"items":[]}}'
  recorded_at: Fri, 05 Oct 2018 13:22:11 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/k3qn51zohfcusp9637thz9z2rshsy99i/userfilters
    body:
      encoding: UTF-8
      string: '{"userFilters":{"items":[{"user":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","userFilters":["/gdc/md/k3qn51zohfcusp9637thz9z2rshsy99i/obj/276"]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cmNvyHkoM_nnrWYBgIZSqg:KBvqq5DYJ3y632XmE1QD3A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cmNvyHkoM_nnrWYBgIZSqg:KBvqq5DYJ3y632XmE1QD3A:6OgZUrDyUmg0S3Bl
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"userFiltersUpdateResult":{"failed":[],"successful":["/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"]}}'
  recorded_at: Fri, 05 Oct 2018 13:22:12 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/t6rj1fe84t85u6f11vqkmotu4h9x9aga/obj/214
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - K7hEJ-k4RrwGys5xymXS0w:JqLXLD0g1eOy4IVawkVc9w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - K7hEJ-k4RrwGys5xymXS0w:JqLXLD0g1eOy4IVawkVc9w:mjVJy9APdp4M0gbH
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/t6rj1fe84t85u6f11vqkmotu4h9x9aga/obj/212","expression":"[/gdc/md/t6rj1fe84t85u6f11vqkmotu4h9x9aga/obj/23]","default":1},"links":{"elements":"/gdc/md/t6rj1fe84t85u6f11vqkmotu4h9x9aga/obj/214/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/t6rj1fe84t85u6f11vqkmotu4h9x9aga/obj/214","tags":"","created":"2018-10-10
        13:46:01","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2018-10-10
        13:46:01","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 10 Oct 2018 11:52:17 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/t6rj1fe84t85u6f11vqkmotu4h9x9aga/obj/214/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - K7hEJ-k4RrwGys5xymXS0w:lppmHcM_LYnDs6V0bUnAlA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - K7hEJ-k4RrwGys5xymXS0w:lppmHcM_LYnDs6V0bUnAlA:FAiAhnCcg3vthjNG
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/t6rj1fe84t85u6f11vqkmotu4h9x9aga/obj/212","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/t6rj1fe84t85u6f11vqkmotu4h9x9aga/obj/214"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/t6rj1fe84t85u6f11vqkmotu4h9x9aga/obj/212/elements?id=3"}}]}}'
[...]
