---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:Uh4wdN03UFWp8PbEvMpaCQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:Uh4wdN03UFWp8PbEvMpaCQ:fS2KWEllYSr0owjd
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209","expression":"[/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/20]","default":1},"links":{"elements":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211","tags":"","created":"2018-06-12
        10:53:10","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2018-06-12
        10:53:10","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 12 Jun 2018 08:55:24 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:LyhOfVEna85CW9cyuoVqQw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:LyhOfVEna85CW9cyuoVqQw:u6LfCS1oaEcOwMbr
      X-Gdc-Request-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209/elements?id=3"}}]}}'
  recorded_at: Tue, 12 Jun 2018 08:55:25 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:ediibNzDZbC7_vBI4szD9Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:ediibNzDZbC7_vBI4szD9Q:z3IGoWXC7Pfd8gG6
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/roles/2"],"phonenumber":"","status":"ENABLED","lastname":"1","login":"rubydev+admin@gooddata.com"},"links":{"roles":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/users/5ad80b895edcc438e5a4418e222733fa/roles","permissions":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/users/5ad80b895edcc438e5a4418e222733fa/permissions","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","projectRelUri":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/users/5ad80b895edcc438e5a4418e222733fa"},"meta":{"created":"2017-02-10
        12:18:01","updated":"2018-06-05 11:23:01","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"the
        1","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}'
  recorded_at: Tue, 12 Jun 2018 08:55:28 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:PTNTzG4xmIq5gaMg9uf0rw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:PTNTzG4xmIq5gaMg9uf0rw:CTjhhgAzuFD0RxbN
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 12 Jun 2018 08:55:33 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:WW_JLfopCZ-D8or-2gjYPg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:WW_JLfopCZ-D8or-2gjYPg:uFxTbiPXQzmFK7vQ
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Tue, 12 Jun 2018 08:55:34 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/221
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:7RNb1O_5nNpYl0XQDe-hyw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:7RNb1O_5nNpYl0XQDe-hyw:gzzb4tBCDMdMal8h
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/219","expression":"[/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/16]","default":1},"links":{"elements":"/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/221/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/221","tags":"","created":"2018-10-03
        13:06:35","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2018-10-03
        13:06:35","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 03 Oct 2018 11:08:22 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/221/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:qOOxdFdtA03aieb6VozLdA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:qOOxdFdtA03aieb6VozLdA:3I6e9aXChr6qD5YS
      X-Gdc-Request-Time:
      - '95'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/219","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/221"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/219/elements?id=3"}}]}}'
  recorded_at: Wed, 03 Oct 2018 11:08:24 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ylcpxh0yc5rq9iv527qxp9fucm108sza/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:ZdZ441ahPvREYFzZgLKWJg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:iAlMJoaxystdS_0x3fzUvw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:iAlMJoaxystdS_0x3fzUvw:Uw8LZqzTsalWJYq5
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":0,"offset":0,"items":[]}}'
  recorded_at: Wed, 03 Oct 2018 11:08:27 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:_115VAatHwpUcj9lHIE0KA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:_115VAatHwpUcj9lHIE0KA:KvNQg6YvOVcIo0O8
      X-Gdc-Request-Time:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Wed, 03 Oct 2018 11:08:28 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:P80g30M3AC7R6YkNBZwCVQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:P80g30M3AC7R6YkNBZwCVQ:Hy9S3liq6HEhRKI5
      X-Gdc-Request-Time:
      - '191'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Wed, 03 Oct 2018 11:08:32 GMT
recorded_with: VCR 4.0.0
