---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/218
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:nfvIHJfVtxxL8tAgxvD8Yg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:nfvIHJfVtxxL8tAgxvD8Yg:SqSAemlJXIPZXbnk
      X-Gdc-Request-Time:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/216","expression":"[/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/13]","default":1},"links":{"elements":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/218/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/218","tags":"","created":"2018-06-12
        10:47:45","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2018-06-12
        10:47:45","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 12 Jun 2018 08:51:05 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/218/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:N7-eizVMH6OQ4gbSu92YDw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:N7-eizVMH6OQ4gbSu92YDw:q6K7QqF8vIHnuT3U
      X-Gdc-Request-Time:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/216","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/218"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/216/elements?id=3"}}]}}'
  recorded_at: Tue, 12 Jun 2018 08:51:06 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:6CHirK4wh-ESKmZuF1mmiQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:6CHirK4wh-ESKmZuF1mmiQ:87MzyoNZAr3meAQN
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/roles/2"],"phonenumber":"","status":"ENABLED","lastname":"1","login":"rubydev+admin@gooddata.com"},"links":{"roles":"/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/users/5ad80b895edcc438e5a4418e222733fa/roles","permissions":"/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/users/5ad80b895edcc438e5a4418e222733fa/permissions","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","projectRelUri":"/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/users/5ad80b895edcc438e5a4418e222733fa"},"meta":{"created":"2017-02-10
        12:18:01","updated":"2018-06-05 11:23:01","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"the
        1","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}'
  recorded_at: Tue, 12 Jun 2018 08:51:08 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:t-g_rEVk79nWQFjhfShkXg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:t-g_rEVk79nWQFjhfShkXg:TkX3vhTm4Zj2pkdx
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 12 Jun 2018 08:51:11 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:7-KY9GKZMLBu6apdjxKUSg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:7-KY9GKZMLBu6apdjxKUSg:0ZFsuBaf4rTxzvPw
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Tue, 12 Jun 2018 08:51:12 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj
    body:
      encoding: UTF-8
      string: '{"userFilter":{"content":{"expression":"[/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/216]
        IN ([/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/216/elements?id=1])"},"meta":{"category":"userFilter","title":"/gdc/account/profile/nonexistent_user@gooddata.com"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:eMQpure0_QTa4T3mQPdFBw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:eMQpure0_QTa4T3mQPdFBw:DYUdVCdDPV39ugXj
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/257"}'
  recorded_at: Tue, 12 Jun 2018 08:51:13 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/userfilters?users=/gdc/account/profile/nonexistent_user@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:NuWQIsLeCzDLpPyOkwkzww
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:NuWQIsLeCzDLpPyOkwkzww:pRgghKlBe0OvwRmj
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":20,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 12 Jun 2018 08:51:13 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/userfilters
    body:
      encoding: UTF-8
      string: '{"userFilters":{"items":[{"user":"/gdc/account/profile/nonexistent_user@gooddata.com","userFilters":["/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/257"]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:6X6HvQ_FLenOw98xXygEzA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:6X6HvQ_FLenOw98xXygEzA:lppmbTVaU5ZoIt1a
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"userFiltersUpdateResult":{"failed":[{"user":"/gdc/account/profile/nonexistent_user@gooddata.com","message":"Uknown
        user or user URI is wrong."}],"successful":[]}}'
  recorded_at: Tue, 12 Jun 2018 08:51:14 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/userfilters?users=/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:HWXGmgp7susctDFoZkiS_w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:HWXGmgp7susctDFoZkiS_w:DyZnl4uPv6vt06rR
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":20,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 12 Jun 2018 08:51:16 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:WJxUdaqYosfUwalOTOZbJg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:WJxUdaqYosfUwalOTOZbJg:vLLAPtGYQsqkltvR
      X-Gdc-Request-Time:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"userFilter":{"content":{"tree":{"content":[{"value":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/216","position":{"column":14,"line":1},"type":"attribute
        object"},{"content":[{"value":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/216/elements?id=1","position":{"column":69,"line":1},"type":"attributeElement
        object"}],"position":{"column":69,"line":1},"type":"list"}],"position":{"column":65,"line":1},"type":"in"},"expression":"[/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/216]
        IN ([/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/216/elements?id=1])"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e2227[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:KvD2ku7VwL3T07VAGldpkg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:KvD2ku7VwL3T07VAGldpkg:SKUkxHVnnHCI8nez
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209","expression":"[/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/20]","default":1},"links":{"elements":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211","tags":"","created":"2018-06-12
        10:53:10","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2018-06-12
        10:53:10","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 12 Jun 2018 08:54:37 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:DliiP0HN2sm-vJIWWqL06A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:DliiP0HN2sm-vJIWWqL06A:L2l43PmxwRSdmV5h
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209/elements?id=3"}}]}}'
  recorded_at: Tue, 12 Jun 2018 08:54:37 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:JEVatoD-Adq2sg_4US-umw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:wl74b-7m1YFzdGddtyXzzg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:wl74b-7m1YFzdGddtyXzzg:2xlvfeM8LBHdEwPc
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 12 Jun 2018 08:54:41 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:8FofSkUpiwp5w7cIZJO2gQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:8FofSkUpiwp5w7cIZJO2gQ:AQXGkocu9Jag0Lyz
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Tue, 12 Jun 2018 08:54:42 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj
    body:
      encoding: UTF-8
      string: '{"userFilter":{"content":{"expression":"[/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209]
        IN ([/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209/elements?id=1])"},"meta":{"category":"userFilter","title":"/gdc/account/profile/nonexistent_user@gooddata.com"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:Yb4opWtrT3xQM_qwOnBjKg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:Yb4opWtrT3xQM_qwOnBjKg:Id4wXL09nf591aRS
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/257"}'
  recorded_at: Tue, 12 Jun 2018 08:54:43 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/userfilters?users=/gdc/account/profile/nonexistent_user@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:E2wzNW6S3ZOTCWehAF-oFg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:E2wzNW6S3ZOTCWehAF-oFg:ks0xIo1IF94SRpXG
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":20,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 12 Jun 2018 08:54:44 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/userfilters
    body:
      encoding: UTF-8
      string: '{"userFilters":{"items":[{"user":"/gdc/account/profile/nonexistent_user@gooddata.com","userFilters":["/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/257"]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:3QXH9TLPnbfs7mLaqqmVtg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:3QXH9TLPnbfs7mLaqqmVtg:jF8CdG3oVlNm8kQR
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"userFiltersUpdateResult":{"failed":[{"user":"/gdc/account/profile/nonexistent_user@gooddata.com","message":"Uknown
        user or user URI is wrong."}],"successful":[]}}'
  recorded_at: Tue, 12 Jun 2018 08:54:44 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/userfilters?users=/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:Dz26H5pH1_bdCIh38nU7BQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:Dz26H5pH1_bdCIh38nU7BQ:u8FlmbFr0PNhpBYP
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":20,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 12 Jun 2018 08:54:46 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/221
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:oSfAtIM9hQ7AukULkmmUoA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:oSfAtIM9hQ7AukULkmmUoA:UFJaZb2DLWY8ErdE
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/219","expression":"[/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/16]","default":1},"links":{"elements":"/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/221/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/221","tags":"","created":"2018-10-03
        13:06:35","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2018-10-03
        13:06:35","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 03 Oct 2018 11:07:34 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/221/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:JlZWQHPdXD7IkSwMZDTKnA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:JlZWQHPdXD7IkSwMZDTKnA:yavakYVTU3blu2bz
      X-Gdc-Request-Time:
      - '63'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/219","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/221"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/219/elements?id=3"}}]}}'
  recorded_at: Wed, 03 Oct 2018 11:07:34 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ylcpxh0yc5rq9iv527qxp9fucm108sza/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:pZskyABnM5WTOx1YojVRDw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:wi3qnNztaQ6woVz0uaYJyg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:wi3qnNztaQ6woVz0uaYJyg:7hu7vkEiG7ryhVd9
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":0,"offset":0,"items":[]}}'
  recorded_at: Wed, 03 Oct 2018 11:07:39 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:GkuA8Z_9BAbSv9nZOdzkCQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:GkuA8Z_9BAbSv9nZOdzkCQ:qRlo12tArIG3BYrZ
      X-Gdc-Request-Time:
      - '511'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Wed, 03 Oct 2018 11:07:40 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj
    body:
      encoding: UTF-8
      string: '{"userFilter":{"content":{"expression":"[/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/219]
        IN ([/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/219/elements?id=1])"},"meta":{"category":"userFilter","title":"/gdc/account/profile/nonexistent_user@gooddata.com"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:OdGelR8iQXUbOsmaddGE2Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:OdGelR8iQXUbOsmaddGE2Q:BJiW710el0chzDms
      X-Gdc-Request-Time:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/260"}'
  recorded_at: Wed, 03 Oct 2018 11:07:41 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/userfilters?users=/gdc/account/profile/nonexistent_user@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:Q_H8s4Qzo3D06GStwxaGHA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:Q_H8s4Qzo3D06GStwxaGHA:l5Y8yhSQG8uVB96l
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":20,"length":0,"offset":0,"items":[]}}'
  recorded_at: Wed, 03 Oct 2018 11:07:41 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/userfilters
    body:
      encoding: UTF-8
      string: '{"userFilters":{"items":[{"user":"/gdc/account/profile/nonexistent_user@gooddata.com","userFilters":["/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/260"]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:49MBZ2qTHt2BFcrexlsDoQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:49MBZ2qTHt2BFcrexlsDoQ:CTcoyucRRPe311kx
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"userFiltersUpdateResult":{"failed":[{"user":"/gdc/account/profile/nonexistent_user@gooddata.com","message":"Uknown
        user or user URI is wrong."}],"successful":[]}}'
  recorded_at: Wed, 03 Oct 2018 11:07:42 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/userfilters?users=/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:Dlh19aKRUjQ13Cd7GXeFJw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:Dlh19aKRUjQ13Cd7GXeFJw:9M2udXCLYsAoKbfo
      X-Gdc-Request-Time:
      - '54'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":20,"length":0,"offset":0,"items":[]}}'
  recorded_at: Wed, 03 Oct 2018 11:07:43 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/k3qn51zohfcusp9637thz9z2rshsy99i/obj/216
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cmNvyHkoM_nnrWYBgIZSqg:iADsgZeesF-WnY_NUaGvow
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cmNvyHkoM_nnrWYBgIZSqg:iADsgZeesF-WnY_NUaGvow:MvpB32cfXScFRbRP
      X-Gdc-Request-Time:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/k3qn51zohfcusp9637thz9z2rshsy99i/obj/214","expression":"[/gdc/md/k3qn51zohfcusp9637thz9z2rshsy99i/obj/23]","default":1},"links":{"elements":"/gdc/md/k3qn51zohfcusp9637thz9z2rshsy99i/obj/216/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/k3qn51zohfcusp9637thz9z2rshsy99i/obj/216","tags":"","created":"2018-10-05
[...]
