---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["some_attr_label_id"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:d-nJ01kKrfXfbw_-bnR13w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:d-nJ01kKrfXfbw_-bnR13w:UD9tLEC2DpOTdWxE
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"some_attr_label_id","uri":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/218"}]}'
  recorded_at: Tue, 12 Jun 2018 09:00:02 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/218
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:UmKKkQR7sWaEO8vODU8LAg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:UmKKkQR7sWaEO8vODU8LAg:QXsEUVNmz25lOIY1
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/217","expression":"[/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/38]","default":1},"links":{"elements":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/218/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/218","tags":"","created":"2018-06-12
        10:53:11","identifier":"some_attr_label_id","deprecated":"0","summary":"","isProduction":1,"title":"Repository
        Name","category":"attributeDisplayForm","updated":"2018-06-12 10:53:11","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 12 Jun 2018 09:00:03 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:dnQ1ryIzycdeT3eKFmA4Uw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:dnQ1ryIzycdeT3eKFmA4Uw:jxZhN753SNEf3eld
      X-Gdc-Request-Time:
      - '51'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"fact":{"content":{"folders":["/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/219"],"expr":[{"type":"col","data":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/29"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/220","tags":"","created":"2018-06-12
        10:53:11","identifier":"fact.commits.lines_changed","deprecated":"0","summary":"Fact
        description","isProduction":1,"title":"Lines Changed","category":"fact","updated":"2018-06-12
        10:53:11","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Tue, 12 Jun 2018 09:00:03 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:jfGceDm9YEDUudiZK654UA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:jfGceDm9YEDUudiZK654UA:r7kkLqvwSoiJ1SBJ
      X-Gdc-Request-Time:
      - '303'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":22,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/62"}],"displayForms":[{"content":{"formOf":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/146","expression":"[/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/63]","default":1},"links":{"elements":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/164/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/164","tags":"","created":"2010-08-02
        08:13:42","identifier":"committed_on.aag81lMifn6q","deprecated":"0","summary":"DisplayForm
        Year.","isProduction":1,"title":"Year (Committed On)","category":"attributeDisplayForm","updated":"2018-06-12
        10:53:10","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/196","sort":"pk","dimension":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/43","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/110"},{"multivalue":false,"type":"col","data":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/118"},{"multivalue":false,"type":"col","data":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/133"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/146","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"committed_on.year","deprecated":"[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:46poWsyiME_vs3Nz6jrCig
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:46poWsyiME_vs3Nz6jrCig:I43IQFEINjwE85od
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Tue, 12 Jun 2018 09:00:05 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:PTfMD4Rqsd3d8avnMo-xNg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:PTfMD4Rqsd3d8avnMo-xNg:XACPSvlUexjhKjIR
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSettings":{"paging":{"offset":0,"count":48},"items":[{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2018-06-05 11:23:01","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}},{"accountSetting":{"links":{"self":"/gdc/account/profile/6f3f51cdcd8352f59252a4be2e6ceb1b","projects":"/gdc/account/profile/6f3f51cdcd8352f59252a4be2e6ceb1b/projects"},"firstName":"the","lastName":"9056916","companyName":null,"position":null,"created":"2017-02-22
        11:16:37","updated":"2018-06-12 10:52:10","country":null,"phoneNumber":null,"authenticationModes":[],"login":"rubydev+tester@gooddata.com","timezone":null,"ssoProvider":"","email":"gemtest9056916@gooddata.com","language":[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/6f3f51cdcd8352f59252a4be2e6ceb1b
    body:
      encoding: UTF-8
      string: '{"accountSetting":{"firstName":"the","lastName":"9056916","email":"gemtest9056916@gooddata.com","language":"en-US","authenticationModes":[],"password":"<PASSWORD>","verifyPassword":"<PASSWORD>","ssoProvider":""}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:cxf5OYIcbT2ZeQVYspIw0w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:cxf5OYIcbT2ZeQVYspIw0w:dyqfSeAtP4r9liFa
      X-Gdc-Request-Time:
      - '146'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"gemtest9056916@gooddata.com","updated":"2018-06-12
        11:00:06","lastName":"9056916","phoneNumber":null,"firstName":"the","country":null,"ssoProvider":"","timezone":null,"language":"en-US","ipWhitelist":null,"companyName":null,"authenticationModes":[],"login":"rubydev+tester@gooddata.com","created":"2017-02-22
        11:16:37"}}'
  recorded_at: Tue, 12 Jun 2018 09:00:06 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:jsSWGWU0oYe9GRKdFcYPVQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:jsSWGWU0oYe9GRKdFcYPVQ:nUZSlWk83EHGjlm2
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"internalProjectRoles":{"roles":[{"projectRole":{"permissions":{"canAccessIntegration":"1","canCreateProjectDashboard":"1","canExportDashboard":"1","canManageComment":"1","canExecute":"1","canInitData":"1","canManageIntegration":"1","canCreateExecutionContext":"1","canManageFolder":"1","canInviteUserToProject":"1","canCreateTableDataLoad":"1","canCreateDomain":"1","canSeeOtherUserDetails":"1","canManageACL":"1","canManageAnalyticalDashboard":"1","canCreateRole":"0","canCreateProjectTemplates":"1","canCreateHelp":"1","canManageDomain":"1","canManageAttributeLabel":"1","canManageReport":"1","canExportReport":"1","canCreateColumn":"1","canManageDataSet":"1","canSetUserVariables":"1","canCreateAttributeGroup":"1","canValidateProject":"1","canSetStyle":"1","canMaintainProject":"1","canCreateETLFile":"1","canCreateScheduledMail":"1","canSuspendUserFromProject":"1","canManageIsProduction":"1","canMaintainUserFilterRelation":"1","canManageAttribute":"1","canManageReportDefinition":"1","canManageTranslations":"1","canMaintainUserFilter":"1","canCreateReport":"1","canSetLocale":"1","canEnrichData":"1","canUploadNonProductionCSV":"1","canManageETLFile":"1","canCreateComment":"1","canCreateDataSet":"1","canManageExecutionContext":"1","canCreateTable":"1","canManageTableDataLoad":"1","canRefreshData":"1","canCreateMetric":"1","canManageFilterSettings":"1","canManageProjectDashboard":"1","canManageProject":"1","canManagePrompt":"1","canAccessWorkbench":"1","canCreateAttributeLabel":"1","canCreateVisualizationClass":"1","canManageColumn":"1","canCreatePrompt":"1","canManagePublicAccessCode":"0","canListUsersInProject":"1","canManageAttributeGroup":"1","canManageMetric":"1","canManageHelp":"1","canSetProjectVariables":"1","canManageTable":"1","canCreateVisualization":"1","canCreateFolder":"1","canManageFact":"1","canManageScheduledMail":"1","canListInvitationsInProject":"1","canCreateFilterSettings":"1","canExecuteRaw":"1","canSeePublicAccessCode":"0","canCreateReportDefinition":"1","canManageVisualization":"1","canCreateFact":"1","canCreateAttribute":"1","canAssignUserWithRole":"1","canCreateAnalyticalDashboard":"1"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/roles/6","created":"2018-06-12
        10:52:48","identifier":"superAdminRole","summary":"the ultimate project admin","title":"SuperAdmin","updated":"2018-06-12
        10:52:48","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"projectRole":{"permissions":{"canAccessIntegration":"0","canCreateProjectDashboard":"0","canExportDashboard":"1","[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/users
    body:
      encoding: UTF-8
      string: '{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/roles/2"]},"links":{"self":"/gdc/account/profile/6f3f51cdcd8352f59252a4be2e6ceb1b"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:LqNq4MX06heiaQeWRJVhEw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:LqNq4MX06heiaQeWRJVhEw:QAjrPYmLkFzpIFj4
      X-Gdc-Request-Time:
      - '143'
    body:
      encoding: ASCII-8BIT
      string: '{"projectUsersUpdateResult":{"successful":["/gdc/account/profile/6f3f51cdcd8352f59252a4be2e6ceb1b"],"failed":[]}}'
  recorded_at: Tue, 12 Jun 2018 09:00:07 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+tester@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - BvX9puWIVTkzQgO5ps040w:tIoeVQBXitu_CQtPBnzI7w
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - BvX9puWIVTkzQgO5ps040w:tIoeVQBXitu_CQtPBnzI7w:aPmtJeupo8jfkvRO
      X-Gdc-Request-Time:
      - '58'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/6f3f51cdcd8352f59252a4be2e6ceb1b","state":"/gdc/account/login/6f3f51cdcd8352f59252a4be2e6ceb1b","token":"<TOKEN>"}}'
  recorded_at: Tue, 12 Jun 2018 09:00:08 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - BvX9puWIVTkzQgO5ps040w:GH_0BUAbuPf88R-G4pWaww
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - BvX9puWIVTkzQgO5ps040w:GH_0BUAbuPf88R-G4pWaww:lQCgcha7UwSzlOdZ
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Tue, 12 Jun 2018 09:00:09 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/6f3f51cdcd8352f59252a4be2e6ceb1b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - BvX9puWIVTkzQgO5ps040w:8n9f30wrktSS2f1hsUmy4g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - BvX9puWIVTkzQgO5ps040w:8n9f30wrktSS2f1hsUmy4g:wLhI5tpH58E9h02K
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"gemtest9056916@gooddata.com","updated":"2018-06-12
        11:00:06","lastName":"9056916","phoneNumber":null,"links":{"auditEvents":"/gdc/account/profile/6f3f51cdcd8352f59252a4be2e6ceb1b/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/6f3f51cdcd8352f59252a4be2e6ceb1b","projects":"/gdc/account/profile/6f3f51cdcd8352f59252a4be2e6ceb1b/projects"},"firstName":"the","country":null,"ssoProvider":"","language":"en-US","timezone":null,"ipWhitelist":null,"companyName":null,"authenticationModes":[],"login":"rubydev+tester@gooddata.com","created":"2017-02-22
        11:16:37"}}'
  recorded_at: Tue, 12 Jun 2018 09:00:09 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - BvX9puWIVTkzQgO5ps040w:cCVBm601jMZNpKjeZWA2WA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - BvX9puWIVTkzQgO5ps040w:cCVBm601jMZNpKjeZWA2WA:b3HKt8T4wWUq8xwz
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Tue, 12 Jun 2018 09:00:10 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - BvX9puWIVTkzQgO5ps040w:hMzncGUXQrxRqJTebn2KfA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - BvX9puWIVTkzQgO5ps040w:hMzncGUXQrxRqJTebn2KfA:Wd1ZgjDdbyfs5g0I
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/ldm?thumbnail=1","self":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j","clearCaches":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/clearCaches","invitations":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/invitations","users":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/uploads/","ldm":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/ldm","metadata":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j","publicartifacts":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/publicartifacts","roles":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/roles","userRoles":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/users/6f3f51cdcd8352f59252a4be2e6ceb1b/roles","userPermissions":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/users/6f3f51cdcd8352f59252a4be2e6ceb1b/permissions","dataload":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/dataload","connectors":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/connectors","execute":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/execute","config":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/config","projectFeatureFlags":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/projectFeatureFlags","schedules":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/schedules","templates":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/templates","eventstores":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/dataload/eventstore/stores"},"meta":{"created":"2018-06-12
        10:52:45","summary":"No summary","updated":"2018-06-12 10:52:48","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"RubyGem
        Dev Week test","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 12 Jun 2018 09:00:11 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT SUM([/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/220])"},"meta":{"tags":"","summary":null,"title":"Untitled
        metric"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:bpb61fGr5kQIw5Z8gT2qag
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:bpb61fGr5kQIw5Z8gT2qag:NsWFx9Tsvug86dKU
      X-Gdc-Request-Time:
      - '1669'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/274"}'
  recorded_at: Tue, 12 Jun 2018 09:00:13 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/274
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:eO2bylvxYPcldz3cjc5DYw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:eO2bylvxYPcldz3cjc5DYw:EpndU8j0TTCMP0yE
      X-Gdc-Request-Time:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"SUM","content":[{"value":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/220","position":{"column":25,"line":1},"type":"fact
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        SUM([/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/220])"},"links":{"explain2":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/274/explain2"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/274","tags":"","created":"2018-06-12
        11:00:13","identifier":"aaiUtwlnhfDW","deprecated":"0","summary":"","isProduction":1,"title":"Untitled
        metric","category":"metric","updated":"2018-06-12 11:00:13","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 12 Jun 2018 09:00:14 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - BvX9puWIVTkzQgO5ps040w:9y1lO_YggYHy4ZCQN8sQoQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - BvX9puWIVTkzQgO5ps040w:9y1lO_YggYHy4ZCQN8sQoQ:9yoRTmMSzH55pYbf
      X-Gdc-Request-Time:
      - '215'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''wasps3hgso0c9k7pdseukinyj6hhi95j''","category":"project","instance":"wasps3hgso0c9k7pdseukinyj6hhi95j","links":[{"link":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","ca[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"definitionContent":{"content":{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[{"attribute":{"alias":"","totals":[],"uri":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211"}}],"metrics":[{"alias":"Untitled
        metric","uri":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/274"}],"rows":[{"attribute":{"alias":"","totals":[],"uri":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/218"}},"metricGroup"]},"format":"grid","filters":[]},"meta":{"tags":"","summary":"","title":"Untitled
        report definition"}}},"projectMetadata":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - BvX9puWIVTkzQgO5ps040w:yq2DT_ocEIRzuL4_5l3Czw
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/dataResult/1828692274320965376"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - BvX9puWIVTkzQgO5ps040w:yq2DT_ocEIRzuL4_5l3Czw:ZPHBSWWIhsP7cJTV
      X-Gdc-Request-Time:
      - '169'
    body:
      encoding: ASCII-8BIT
      string: '{"execResult":{"reportView":{"reportName":"Untitled report definition","columnWidths":[],"filters":[],"rows":[{"attributeTitle":"Repository
        Name","summary":"","displayFormId":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/218","baseElementURI":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/217/elements?id=","title":"Repository
        Name","attributeId":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/217","totals":[[]]},"metricGroup"],"sort":{"columns":[],"rows":[]},"format":"grid","columns":[{"attributeTitle":"Dev","summary":"","displayFormId":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211","baseElementURI":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209/elements?id=","title":"Dev","attributeId":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209","totals":[[]]}],"metrics":[{"format":"#,##0","summary":"","title":"Untitled
        metric","metricId":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/274"}]},"dataResult":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/dataResult/1828692274320965376"}}'
  recorded_at: Tue, 12 Jun 2018 09:00:17 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/dataResult/1828692274320965376
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - BvX9puWIVTkzQgO5ps040w:rJnO39kBuc3WZp1iUDFGDg
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Execution-Time:
      - '450'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - BvX9puWIVTkzQgO5ps040w:rJnO39kBuc3WZp1iUDFGDg:pdpNQTPjc9xXRZAN
      X-Gdc-Request-Time:
      - '50'
    body:
[...]
