---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/218
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:oi9NKw9g08qj29wKlE_1DQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:oi9NKw9g08qj29wKlE_1DQ:CqA0IQBcTzbWbUTl
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/216","expression":"[/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/13]","default":1},"links":{"elements":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/218/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/218","tags":"","created":"2018-06-12
        10:47:45","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2018-06-12
        10:47:45","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 12 Jun 2018 08:51:35 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/218/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:H7VAp-xXXHMjD49Y7rE-EQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:H7VAp-xXXHMjD49Y7rE-EQ:8fNXVN3vJ89G8scw
      X-Gdc-Request-Time:
      - '79'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/216","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/218"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/216/elements?id=3"}}]}}'
  recorded_at: Tue, 12 Jun 2018 08:51:36 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:mLdepaFkZnneOOcPcljb_Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:mLdepaFkZnneOOcPcljb_Q:bFGqjznJsaPV3Pvr
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/roles/2"],"phonenumber":"","status":"ENABLED","lastname":"1","login":"rubydev+admin@gooddata.com"},"links":{"roles":"/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/users/5ad80b895edcc438e5a4418e222733fa/roles","permissions":"/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/users/5ad80b895edcc438e5a4418e222733fa/permissions","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","projectRelUri":"/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/users/5ad80b895edcc438e5a4418e222733fa"},"meta":{"created":"2017-02-10
        12:18:01","updated":"2018-06-05 11:23:01","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"the
        1","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}'
  recorded_at: Tue, 12 Jun 2018 08:51:38 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:rI5HFdwt4WgNmsA_aSn7UQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:rI5HFdwt4WgNmsA_aSn7UQ:8SEiWzyPYbNuMWSI
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 12 Jun 2018 08:51:40 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:-A13JdBwQA7Acnleohlz0A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:-A13JdBwQA7Acnleohlz0A:3Z1m3V7f6I5wKhlS
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Tue, 12 Jun 2018 08:51:41 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj
    body:
      encoding: UTF-8
      string: '{"userFilter":{"content":{"expression":"[/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/216]
        IN ([/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/216/elements?id=1])"},"meta":{"category":"userFilter","title":"/gdc/account/profile/nonexistent_user@gooddata.com"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:HFD9yWu3AexpZgnOLjQKJg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:HFD9yWu3AexpZgnOLjQKJg:933aRIJalKFZOqQz
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/260"}'
  recorded_at: Tue, 12 Jun 2018 08:51:41 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/userfilters?users=/gdc/account/profile/nonexistent_user@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:66pf4Roex5J8clViAkMSGQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:66pf4Roex5J8clViAkMSGQ:uyzAkypHSw0m2510
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":20,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 12 Jun 2018 08:51:42 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/userfilters
    body:
      encoding: UTF-8
      string: '{"userFilters":{"items":[{"user":"/gdc/account/profile/nonexistent_user@gooddata.com","userFilters":["/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/260"]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:LptCPNHfvruK3deNMqfkVA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:LptCPNHfvruK3deNMqfkVA:WPLA9XFDgpaEUibf
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"userFiltersUpdateResult":{"failed":[{"user":"/gdc/account/profile/nonexistent_user@gooddata.com","message":"Uknown
        user or user URI is wrong."}],"successful":[]}}'
  recorded_at: Tue, 12 Jun 2018 08:51:43 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/userfilters?users=/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:HsoqNSC2WveQQC3VZM-z5Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:HsoqNSC2WveQQC3VZM-z5Q:gqOdhfLGyqIIrVyn
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":20,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 12 Jun 2018 08:51:44 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:8Mn8QE5I8vldcsXT8-dOjA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:8Mn8QE5I8vldcsXT8-dOjA:HF2Qn53yOqY7pY9U
      X-Gdc-Request-Time:
      - '79'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"userFilter":{"content":{"tree":{"content":[{"value":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/216","position":{"column":14,"line":1},"type":"attribute
        object"},{"content":[{"value":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/216/elements?id=1","position":{"column":69,"line":1},"type":"attributeElement
        object"}],"position":{"column":69,"line":1},"type":"list"}],"position":{"column":65,"line":1},"type":"in"},"expression":"[/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/216]
        IN ([/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/216/elements?id=1])"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e2227[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/216
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:QZXs5L7DtY6z_Dao6Si6tQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:QZXs5L7DtY6z_Dao6Si6tQ:nokqvMObQpc5OOis
      X-Gdc-Request-Time:
      - '152'
    body:
      encoding: ASCII-8BIT
      string: '{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/11"}],"dimension":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/215","displayForms":[{"content":{"formOf":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/216","expression":"[/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/13]","default":1},"links":{"elements":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/218/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/218","tags":"","created":"2018-06-12
        10:47:45","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2018-06-12
        10:47:45","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}},{"content":{"formOf":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/216","expression":"[/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/15]"},"links":{"elements":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/217/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/217","tags":"","created":"2018-06-12
        10:47:45","identifier":"label.devs.dev_id.id","deprecated":"0","summary":"","isProduction":1,"title":"Id","category":"attributeDisplayForm","updated":"2018-06-12
        10:47:45","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}],"fk":[{"multivalue":false,"type":"col","data":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/25"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/216","tags":"","created":"2018-06-12
        10:47:45","identifier":"attr.devs.dev_id","deprecated":"0","summary":"","isProduction":1,"title":"Dev","category":"attribute","updated":"2018-06-12
        10:47:45","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 12 Jun 2018 08:51:49 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/218/elements/?id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:woZgPmIcuFIyn5C27bzCTA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:woZgPmIcuFIyn5C27bzCTA:eScQvHhSB1ZRa1vN
      X-Gdc-Request-Time:
      - '196'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeElements":{"elementsMeta":{"count":1,"mode":"includeuris","filter":"","records":"1","prompt":"","attribute":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/216","order":"asc","attributeDisplayForm":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/218","offset":"0"},"elements":[{"title":"tomas@gooddata.com","uri":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/216/elements?id=1"}],"paging":{"next":null,"count":1,"total":"1","offset":"0"}}}'
  recorded_at: Tue, 12 Jun 2018 08:51:52 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:RflkksaZQIkdKZuX3cf9Dw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:RflkksaZQIkdKZuX3cf9Dw:cPXkFUmHNMDOYdZ5
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209","expression":"[/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/20]","default":1},"links":{"elements":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211","tags":"","created":"2018-06-12
        10:53:10","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2018-06-12
        10:53:10","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 12 Jun 2018 08:55:04 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:cyuOEXHlhAtEzkVYLYnfoA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:cyuOEXHlhAtEzkVYLYnfoA:DSIwiOPveHhNl5oF
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209/elements?id=3"}}]}}'
  recorded_at: Tue, 12 Jun 2018 08:55:05 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:ATQIjBxbuNT-7rDOYatMJw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:jvKQSXYsCzIbyKzgJzoAwQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:jvKQSXYsCzIbyKzgJzoAwQ:zH8CtFvrcoHFKB9F
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 12 Jun 2018 08:55:08 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:cLsg7jdmjt_ACok2TkH3mg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:cLsg7jdmjt_ACok2TkH3mg:SqLW4jRvJe1EiSpY
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Tue, 12 Jun 2018 08:55:10 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj
    body:
      encoding: UTF-8
      string: '{"userFilter":{"content":{"expression":"[/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209]
        IN ([/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209/elements?id=1])"},"meta":{"category":"userFilter","title":"/gdc/account/profile/nonexistent_user@gooddata.com"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:mwxn8bONVbGrztHlSXnmxg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:mwxn8bONVbGrztHlSXnmxg:vOKUOwwsPMNh7BmU
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/260"}'
  recorded_at: Tue, 12 Jun 2018 08:55:10 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/userfilters?users=/gdc/account/profile/nonexistent_user@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:nTEY_c8GDM1785k9GWRt-A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:nTEY_c8GDM1785k9GWRt-A:Y7vk5taaHQDgwjWi
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":20,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 12 Jun 2018 08:55:11 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/userfilters
    body:
      encoding: UTF-8
      string: '{"userFilters":{"items":[{"user":"/gdc/account/profile/nonexistent_user@gooddata.com","userFilters":["/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/260"]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:sgLarb3AWwDIAcMBGNh7Mg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:sgLarb3AWwDIAcMBGNh7Mg:hOH5imbMhTerUY3Z
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"userFiltersUpdateResult":{"failed":[{"user":"/gdc/account/profile/nonexistent_user@gooddata.com","message":"Uknown
        user or user URI is wrong."}],"successful":[]}}'
  recorded_at: Tue, 12 Jun 2018 08:55:12 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/userfilters?users=/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:7rD7ZSDTqAwHpWVMT8PMUQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:7rD7ZSDTqAwHpWVMT8PMUQ:lk4zzxMuzR6b1Bu2
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":20,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 12 Jun 2018 08:55:13 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211/elements/?id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:go2VVgQddnz988ZcdTH6jA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:go2VVgQddnz988ZcdTH6jA:usKU9qhjIfdAVI61
      X-Gdc-Request-Time:
      - '189'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeElements":{"elementsMeta":{"count":1,"mode":"includeuris","filter":"","records":"1","prompt":"","attribute":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209","order":"asc","attributeDisplayForm":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211","offset":"0"},"elements":[{"title":"tomas@gooddata.com","uri":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209/elements?id=1"}],"paging":{"next":null,"count":1,"total":"1","offset":"0"}}}'
  recorded_at: Tue, 12 Jun 2018 08:55:20 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/221
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:N1WvmHEMMBWyxiSfhE4e9A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:N1WvmHEMMBWyxiSfhE4e9A:RtUsNNeHplsoRtvp
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/219","expression":"[/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/16]","default":1},"links":{"elements":"/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/221/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/221","tags":"","created":"2018-10-03
        13:06:35","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2018-10-03
        13:06:35","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 03 Oct 2018 11:08:02 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/221/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:F0sxkztxFDwNbqj-3B_N7w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:F0sxkztxFDwNbqj-3B_N7w:plWsBYSvwfKk1ZOQ
      X-Gdc-Request-Time:
      - '279'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/219","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/221"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/obj/219/elements?id=3"}}]}}'
  recorded_at: Wed, 03 Oct 2018 11:08:03 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ylcpxh0yc5rq9iv527qxp9fucm108sza/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:PjGKbkXudoCpFwGtxm6cpw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:4cmhbaCH1CVCsuZo4zRQ_g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:4cmhbaCH1CVCsuZo4zRQ_g:K5YavIM3LZ3dq1F8
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":0,"offset":0,"items":[]}}'
  recorded_at: Wed, 03 Oct 2018 11:08:06 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ylcpxh0yc5rq9iv527qxp9fucm108sza/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:zviv3M0OXi2ixJvMCaThZQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Zv4YM6ljs12vU3bOzsj1_A:zviv3M0OXi2ixJvMCaThZQ:4MU8QzpeI8g9mdpK
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
[...]
