---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:Yj-Jglm2R1ev1GbJ6t2XeA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:Yj-Jglm2R1ev1GbJ6t2XeA:dDeNbN3v7kFAJpIp
      X-Gdc-Request-Time:
      - '68'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"fact":{"content":{"folders":["/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/222"],"expr":[{"type":"col","data":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/32"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/223","tags":"","created":"2019-01-08
        11:52:19","identifier":"fact.commits.lines_changed","deprecated":"0","summary":"Fact
        description","isProduction":1,"title":"Lines Changed","category":"fact","updated":"2019-01-08
        11:52:19","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Tue, 08 Jan 2019 10:52:47 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:PO9rc0Cif2p4GP_qeVI3TQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:PO9rc0Cif2p4GP_qeVI3TQ:XpjU5uyLebjg3sAY
      X-Gdc-Request-Time:
      - '292'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":22,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/65"}],"displayForms":[{"content":{"formOf":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/149","expression":"[/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/66]","default":1},"links":{"elements":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/167/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/167","tags":"","created":"2010-08-02
        08:13:42","identifier":"committed_on.aag81lMifn6q","deprecated":"0","summary":"DisplayForm
        Year.","isProduction":1,"title":"Year (Committed On)","category":"attributeDisplayForm","updated":"2019-01-08
        11:52:18","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/199","sort":"pk","dimension":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/46","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/113"},{"multivalue":false,"type":"col","data":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/121"},{"multivalue":false,"type":"col","data":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/136"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/149","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"committed_on.year","deprecated":"[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:QFqv_OGWvpePKFNX5c1s1w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:QFqv_OGWvpePKFNX5c1s1w:4uw1bP78eyM65odR
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Tue, 08 Jan 2019 10:52:49 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT SUM([/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/223])"},"meta":{"tags":"","summary":null,"title":"x"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:UWNpBVVhJnXtfDUhdmZ0dw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:UWNpBVVhJnXtfDUhdmZ0dw:ex4kCeAj7EH9HZZD
      X-Gdc-Request-Time:
      - '71'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/256"}'
  recorded_at: Tue, 08 Jan 2019 10:52:49 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/256
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:kulSWHYMVFFgx10rMw4SPQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:kulSWHYMVFFgx10rMw4SPQ:zLTX6B4ZF1EHk3Da
      X-Gdc-Request-Time:
      - '54'
    body:
      encoding: ASCII-8BIT
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"SUM","content":[{"value":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/223","position":{"column":25,"line":1},"type":"fact
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        SUM([/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/223])"},"links":{"explain2":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/256/explain2"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/256","tags":"","created":"2019-01-08
        11:52:49","identifier":"aacIPaw3gWvK","deprecated":"0","summary":"","isProduction":1,"title":"x","category":"metric","updated":"2019-01-08
        11:52:49","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 08 Jan 2019 10:52:50 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"definitionContent":{"content":{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[],"metrics":[{"alias":"x","uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/256"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"meta":{"tags":"","summary":"","title":"Untitled
        report definition"}}},"projectMetadata":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:YK8FsCzObhQgCH1Wu-vCWA
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/dataResult/6497495946377788416"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:YK8FsCzObhQgCH1Wu-vCWA:Ua9BjHrLvo2sOgbu
      X-Gdc-Request-Time:
      - '267'
    body:
      encoding: ASCII-8BIT
      string: '{"execResult":{"reportView":{"reportName":"Untitled report definition","columnWidths":[],"filters":[],"rows":["metricGroup"],"sort":{"columns":[],"rows":[]},"format":"grid","columns":[],"metrics":[{"format":"#,##0","summary":"","title":"x","metricId":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/256"}]},"dataResult":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/dataResult/6497495946377788416"}}'
  recorded_at: Tue, 08 Jan 2019 10:52:51 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/dataResult/6497495946377788416
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:AZlIVDrK4VSnaZxtYDRfEA
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Execution-Time:
      - '215'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:AZlIVDrK4VSnaZxtYDRfEA:xT1rVYrxBbZvAcmZ
      X-Gdc-Request-Time:
      - '63'
    body:
      encoding: ASCII-8BIT
      string: '{"xtab_data":{"columns":{"tree":{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"root","id":null},"lookups":[{"0":"x"}]},"data":[["15"]],"overall_size":{"columns":1,"rows":1},"rows":{"tree":{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"root","id":null},"lookups":[{"0":"x"}]},"offset":{"columns":0,"rows":0},"size":{"columns":1,"rows":1}}}'
  recorded_at: Tue, 08 Jan 2019 10:52:52 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:EJ4EymLW3FQxEceQvD3r5Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:EJ4EymLW3FQxEceQvD3r5Q:0SUUAWZWPLuZzLlJ
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212","expression":"[/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/23]","default":1},"links":{"elements":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214","tags":"","created":"2019-01-08
        11:52:18","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2019-01-08
        11:52:18","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 08 Jan 2019 10:52:53 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:jxQyHdvQRpxSgDRM1P9P8A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:jxQyHdvQRpxSgDRM1P9P8A:g9MH8T3JwceTWAMN
      X-Gdc-Request-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212/elements?id=3"}}]}}'
  recorded_at: Tue, 08 Jan 2019 10:52:54 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:93pfxTrsIOLS-8t1HMEQWQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:93pfxTrsIOLS-8t1HMEQWQ:CiJ6ZhGpW6RiGOLL
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/roles/2"],"phonenumber":"","status":"ENABLED","lastname":"1","login":"rubydev+admin@gooddata.com"},"links":{"roles":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/users/5ad80b895edcc438e5a4418e222733fa/roles","permissions":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/users/5ad80b895edcc438e5a4418e222733fa/permissions","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","projectRelUri":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/users/5ad80b895edcc438e5a4418e222733fa"},"meta":{"created":"2017-02-10
        12:18:01","updated":"2018-12-03 11:09:12","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"the
        1","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}'
  recorded_at: Tue, 08 Jan 2019 10:52:57 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:xbJe_cnPPTWe9A3umv9Lqg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:xbJe_cnPPTWe9A3umv9Lqg:fXzOQ4P0nF3KjYtZ
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 08 Jan 2019 10:52:58 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:QSgkOVGWyjsS1tAXsf8B5A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:QSgkOVGWyjsS1tAXsf8B5A:Y7p6vLbxLffMxtko
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Tue, 08 Jan 2019 10:52:59 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj
    body:
      encoding: UTF-8
      string: '{"userFilter":{"content":{"expression":"[/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212]
        IN ([/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212/elements?id=1], [/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212/elements?id=3])"},"meta":{"category":"userFilter","title":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:YDXgxeru867b3K-oPB-WaA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:YDXgxeru867b3K-oPB-WaA:ygGzWPWMq2O0PKV9
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/257"}'
  recorded_at: Tue, 08 Jan 2019 10:53:00 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/userfilters?users=/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:lEG-RDJZ9o_eKSQSDFQLvA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:lEG-RDJZ9o_eKSQSDFQLvA:C2hi0xlpfh6ICfxO
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":20,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 08 Jan 2019 10:53:00 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/userfilters
    body:
      encoding: UTF-8
      string: '{"userFilters":{"items":[{"user":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","userFilters":["/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/257"]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:CjuUipjVEImZoAPDsUInyw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:CjuUipjVEImZoAPDsUInyw:KySzmVwlKSiUii4a
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"userFiltersUpdateResult":{"failed":[],"successful":["/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"]}}'
  recorded_at: Tue, 08 Jan 2019 10:53:01 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["aacIPaw3gWvK"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:GpgIMPOehFkKIrJTHoad_g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:GpgIMPOehFkKIrJTHoad_g:1ADHZidA8Mh2NnO4
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[]}'
  recorded_at: Tue, 08 Jan 2019 10:53:02 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"definitionContent":{"content":{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[{"attribute":{"alias":"","totals":[],"uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214"}}],"metrics":[{"alias":"x","uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/259"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"meta":{"tags":"","summary":"","title":"Untitled
        report definition"}}},"projectMetadata":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:V5EOxxXP1yynii7ptbC0-Q
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/dataResult/7515589089248476160"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:V5EOxxXP1yynii7ptbC0-Q:D30OwWPVqYy60xPr
      X-Gdc-Request-Time:
      - '233'
    body:
      encoding: ASCII-8BIT
      string: '{"execResult":{"reportView":{"reportName":"Untitled report definition","columnWidths":[],"filters":[],"rows":["metricGroup"],"sort":{"columns":[],"rows":[]},"format":"grid","columns":[{"attributeTitle":"Dev","summary":"","displayFormId":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214","baseElementURI":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212/elements?id=","title":"Dev","attributeId":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212","totals":[[]]}],"metrics":[{"format":"#,##0","summary":"","title":"x","metricId":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/259"}]},"dataResult":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/dataResult/7515589089248476160"}}'
  recorded_at: Tue, 08 Jan 2019 10:53:12 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214/validElements?c=0389e0ee924c6988e0df20712012e297&q=eAE1T0tuxSAMvIvXWRgCgb6rVBXi26KSEIGjLqrevdD0eWFpRuPxzDekXCg2eBxXKctAx3tsZ8sH%0AwQOSQExabglRJce4YGidcitbV41SMljA1/0scY9Tf1ucbVBkcngS%2BfDlCtFQJVvMV6aPepG5//an%0AiGz//LsB4ZMV2ip0OiT2Ejb0QknOtcPIUDElN%2B4F8lWGTXMc2eaIGYYylTgsX98WiHeq4flP1BZm%0AT7DdD6klasbX0se6Zni2QMl7nrWnVU2pxwkQfn4BFc5ceA==%0A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:JPYIwT3k1bMb6eXhxA_3nQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:JPYIwT3k1bMb6eXhxA_3nQ:mU589pK9s1zKGUcR
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214"},"paging":{"count":1,"total":"2","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212/elements?id=3"}}]}}'
  recorded_at: Tue, 08 Jan 2019 10:53:15 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:eMxvI0WLKDiyKLK1Y-_osQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:eMxvI0WLKDiyKLK1Y-_osQ:hiajA2nbfvllgAZu"
      X-Gdc-Request-Time:
      - '97'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"fact":{"content":{"folders":["/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/222"],"expr":[{"type":"col","data":"/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/32"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/223","tags":"","created":"2019-01-24
        14:33:38","identifier":"fact.commits.lines_changed","deprecated":"0","summary":"Fact
        description","isProduction":1,"title":"Lines Changed","category":"fact","updated":"2019-01-24
        14:33:38","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Thu, 24 Jan 2019 13:34:02 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:muR5TuYPyccRdM-nFYi6hQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
     [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:j_p6x1uyI-XKnS5omj06Uw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:j_p6x1uyI-XKnS5omj06Uw:yY5Obd5D8JqpT9gq"
      X-Gdc-Request-Time:
      - '61'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Thu, 24 Jan 2019 13:34:05 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT SUM([/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/223])"},"meta":{"tags":"","summary":null,"title":"x"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:idBpepT30NIlXw870Oe7IA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:idBpepT30NIlXw870Oe7IA:zGaorgL3u3eUeUCz"
      X-Gdc-Request-Time:
      - '84'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/256"}'
  recorded_at: Thu, 24 Jan 2019 13:34:06 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/256
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:7xcQ451ie46uueaXLQLR_Q"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/b5zqokd8nq3e3rjnixvvj4qc102sz327/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"definitionContent":{"content":{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[],"metrics":[{"alias":"x","uri":"/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/256"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"meta":{"tags":"","summary":"","title":[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/dataResult/3787599528983100928
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:6NZSPt72LwPb1hSbs4bpIA"
      Process:
      - 'true'
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Execution-Time:
      - '160'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:6NZSPt72LwPb1hSbs4bpIA:3Nrkg5GtJskAxCRU"
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"xtab_data":{"columns":{"tree":{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"root","id":null},"lookups":[{"0":"x"}]},"data":[["15"]],"overall_size":{"columns":1,"rows":1},"rows":{"tree":{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"root","id":null},"lookups":[{"0":"x"}]},"offset":{"columns":0,"rows":0},"size":{"columns":1,"rows":1}}}'
  recorded_at: Thu, 24 Jan 2019 13:34:09 GMT
[...]
- request:
[...]
