---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:L9bhp49Y2lQW19YOxiEtiA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:L9bhp49Y2lQW19YOxiEtiA:6LYnRRPlEGdSizAn
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212","expression":"[/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/23]","default":1},"links":{"elements":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214","tags":"","created":"2019-01-08
        11:52:18","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2019-01-08
        11:52:18","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 08 Jan 2019 10:54:20 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:X_HaHULaO714PC6YgyzvBQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:X_HaHULaO714PC6YgyzvBQ:t2JWDR3DXHm4cWgu
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212/elements?id=3"}}]}}'
  recorded_at: Tue, 08 Jan 2019 10:54:21 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:oXljIVO_bQoBH4JwlIZ_Bw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:oXljIVO_bQoBH4JwlIZ_Bw:KVwC1ImRfluMZ5Uo
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/roles/2"],"phonenumber":"","status":"ENABLED","lastname":"1","login":"rubydev+admin@gooddata.com"},"links":{"roles":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/users/5ad80b895edcc438e5a4418e222733fa/roles","permissions":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/users/5ad80b895edcc438e5a4418e222733fa/permissions","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","projectRelUri":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/users/5ad80b895edcc438e5a4418e222733fa"},"meta":{"created":"2017-02-10
        12:18:01","updated":"2018-12-03 11:09:12","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"the
        1","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}'
  recorded_at: Tue, 08 Jan 2019 10:54:24 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:-dUlIYlzLTgxZeKOBVcHZw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:-dUlIYlzLTgxZeKOBVcHZw:0pY64vThysyhYp1v
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 08 Jan 2019 10:54:25 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:htcQxfT8KlaHQCk3JGxB5g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:htcQxfT8KlaHQCk3JGxB5g:ymtsSWGpDm04fmN4
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Tue, 08 Jan 2019 10:54:26 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/216
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:ZW5G-mTxyjeM7Y2OHmJ-NA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:ZW5G-mTxyjeM7Y2OHmJ-NA:aXzt3APFmIvXigbh"
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/214","expression":"[/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/23]","default":1},"links":{"elements":"/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/216/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/216","tags":"","created":"2019-01-24
        14:33:38","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2019-01-24
        14:33:38","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 24 Jan 2019 13:35:49 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/216/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:Fmj8rM3uv_gQ7y7LaKvuoQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:Fmj8rM3uv_gQ7y7LaKvuoQ:UqI5ciN0VLTHR9nn"
      X-Gdc-Request-Time:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/214","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/216"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/214/elements?id=3"}}]}}'
  recorded_at: Thu, 24 Jan 2019 13:35:50 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/b5zqokd8nq3e3rjnixvvj4qc102sz327/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:3AxlZa3ORHKBnpFh6AUJqg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:JkaqrcgiRxFlwHTlL20aiA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:JkaqrcgiRxFlwHTlL20aiA:hJvErrIzDGFNAKlg"
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":0,"offset":0,"items":[]}}'
  recorded_at: Thu, 24 Jan 2019 13:35:54 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:LkNv0AdX3mjA07exD4R4ZQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:LkNv0AdX3mjA07exD4R4ZQ:C7d6hvbugD1f542v"
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Thu, 24 Jan 2019 13:35:55 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:sws4z4SymGNpbT9V2SK-bw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:sws4z4SymGNpbT9V2SK-bw:myzDFULtnIUFi5z6"
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Thu, 24 Jan 2019 13:35:57 GMT
recorded_with: VCR 4.0.0
