---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:q2pRPcRx70O4xcu2BXfpLQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:q2pRPcRx70O4xcu2BXfpLQ:8KdKdUiEj0IT6y7Z
      X-Gdc-Request-Time:
      - '117'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"fact":{"content":{"folders":["/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/219"],"expr":[{"type":"col","data":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/29"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/220","tags":"","created":"2018-06-12
        10:47:45","identifier":"fact.commits.lines_changed","deprecated":"0","summary":"Fact
        description","isProduction":1,"title":"Lines Changed","category":"fact","updated":"2018-06-12
        10:47:45","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Tue, 12 Jun 2018 08:48:28 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:BfFhtbbXGObXSfyhOAfvgg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:BfFhtbbXGObXSfyhOAfvgg:W3B0zYu5Uo3x5lmc
      X-Gdc-Request-Time:
      - '433'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":22,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/62"}],"displayForms":[{"content":{"formOf":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/146","expression":"[/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/63]","default":1},"links":{"elements":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/164/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/164","tags":"","created":"2010-08-02
        08:13:42","identifier":"committed_on.aag81lMifn6q","deprecated":"0","summary":"DisplayForm
        Year.","isProduction":1,"title":"Year (Committed On)","category":"attributeDisplayForm","updated":"2018-06-12
        10:47:44","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/196","sort":"pk","dimension":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/43","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/110"},{"multivalue":false,"type":"col","data":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/118"},{"multivalue":false,"type":"col","data":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/133"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/146","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"committed_on.year","deprecated":"[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:34i9DPUK-fEpv3Z88p9gaA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:34i9DPUK-fEpv3Z88p9gaA:iBraUUbcqZfpeUu9
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Tue, 12 Jun 2018 08:48:30 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT SUM([/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/220])"},"meta":{"tags":"","summary":null,"title":"x"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:WLo6oxvmRDDA1BVjdiprpQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:WLo6oxvmRDDA1BVjdiprpQ:PuJqXmpRDxOgoaxq
      X-Gdc-Request-Time:
      - '64'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/253"}'
  recorded_at: Tue, 12 Jun 2018 08:48:31 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/253
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:soafNg0LUfNo4GOM0SCmcA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:soafNg0LUfNo4GOM0SCmcA:Fz9sOtBSTKtDE5xJ
      X-Gdc-Request-Time:
      - '62'
    body:
      encoding: ASCII-8BIT
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"SUM","content":[{"value":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/220","position":{"column":25,"line":1},"type":"fact
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        SUM([/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/220])"},"links":{"explain2":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/253/explain2"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/253","tags":"","created":"2018-06-12
        10:48:31","identifier":"aabUq53kb5jt","deprecated":"0","summary":"","isProduction":1,"title":"x","category":"metric","updated":"2018-06-12
        10:48:31","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 12 Jun 2018 08:49:31 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"definitionContent":{"content":{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[],"metrics":[{"alias":"x","uri":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/253"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"meta":{"tags":"","summary":"","title":"Untitled
        report definition"}}},"projectMetadata":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:9hmHQdJPvrfwekQ0a_E1Vg
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/dataResult/4192424174021148160"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:9hmHQdJPvrfwekQ0a_E1Vg:WMcJSoqkQY6Vhoi3
      X-Gdc-Request-Time:
      - '238'
    body:
      encoding: ASCII-8BIT
      string: '{"execResult":{"reportView":{"reportName":"Untitled report definition","columnWidths":[],"filters":[],"rows":["metricGroup"],"sort":{"columns":[],"rows":[]},"format":"grid","columns":[],"metrics":[{"format":"#,##0","summary":"","title":"x","metricId":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/253"}]},"dataResult":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/dataResult/4192424174021148160"}}'
  recorded_at: Tue, 12 Jun 2018 08:49:32 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/dataResult/4192424174021148160
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:rEyETeSCGDYYJx63OoQ-XQ
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Execution-Time:
      - '222'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:rEyETeSCGDYYJx63OoQ-XQ:5WBgSPPJeQQ15REU
      X-Gdc-Request-Time:
      - '86'
    body:
      encoding: ASCII-8BIT
      string: '{"xtab_data":{"columns":{"tree":{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"root","id":null},"lookups":[{"0":"x"}]},"data":[["15"]],"overall_size":{"columns":1,"rows":1},"rows":{"tree":{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"root","id":null},"lookups":[{"0":"x"}]},"offset":{"columns":0,"rows":0},"size":{"columns":1,"rows":1}}}'
  recorded_at: Tue, 12 Jun 2018 08:49:33 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/218
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:X6MqYtEs5RPxnYUSE01s9w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:X6MqYtEs5RPxnYUSE01s9w:OEd9VlXHTjab8RWa
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/216","expression":"[/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/13]","default":1},"links":{"elements":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/218/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/218","tags":"","created":"2018-06-12
        10:47:45","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2018-06-12
        10:47:45","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 12 Jun 2018 08:49:34 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/218/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:iQg5DA9M-fWiLwjAJYqBkQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:iQg5DA9M-fWiLwjAJYqBkQ:gZeij5aRszEML4Sa
      X-Gdc-Request-Time:
      - '250'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/216","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/218"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/216/elements?id=3"}}]}}'
  recorded_at: Tue, 12 Jun 2018 08:49:35 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:Nv88Tx4h_s_pMO5nGYDBRA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:Nv88Tx4h_s_pMO5nGYDBRA:W1kzykEpj5k725oZ
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/roles/2"],"phonenumber":"","status":"ENABLED","lastname":"1","login":"rubydev+admin@gooddata.com"},"links":{"roles":"/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/users/5ad80b895edcc438e5a4418e222733fa/roles","permissions":"/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/users/5ad80b895edcc438e5a4418e222733fa/permissions","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","projectRelUri":"/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/users/5ad80b895edcc438e5a4418e222733fa"},"meta":{"created":"2017-02-10
        12:18:01","updated":"2018-06-05 11:23:01","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"the
        1","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}'
  recorded_at: Tue, 12 Jun 2018 08:50:38 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:2ItWzzY-si-7nQIi3zcRMw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:2ItWzzY-si-7nQIi3zcRMw:efKLhfNoeXYwM2VJ
      X-Gdc-Request-Time:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 12 Jun 2018 08:50:39 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:21x6U1UGLYntWa5iJnQaWA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:21x6U1UGLYntWa5iJnQaWA:7fx1WKoxNLYRoFtC
      X-Gdc-Request-Time:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Tue, 12 Jun 2018 08:50:40 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj
    body:
      encoding: UTF-8
      string: '{"userFilter":{"content":{"expression":"[/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/216]
        IN ([/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/216/elements?id=1], [/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/216/elements?id=3])"},"meta":{"category":"userFilter","title":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:ew1nVVEvcKeSQz7-lCfUbw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:ew1nVVEvcKeSQz7-lCfUbw:RtV5b5zPYNXU4gZD
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/254"}'
  recorded_at: Tue, 12 Jun 2018 08:50:41 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/userfilters?users=/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:fltF2DF1SqhDm-kVaAGzBA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:fltF2DF1SqhDm-kVaAGzBA:6VIt7edtMcq5Ox6v
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":20,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 12 Jun 2018 08:50:42 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/userfilters
    body:
      encoding: UTF-8
      string: '{"userFilters":{"items":[{"user":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","userFilters":["/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/254"]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:wFByoUbcpsKlsyKgJNZDVg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:wFByoUbcpsKlsyKgJNZDVg:u6DLRfZbEUK6E5m9
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"userFiltersUpdateResult":{"failed":[],"successful":["/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"]}}'
  recorded_at: Tue, 12 Jun 2018 08:50:42 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["aabUq53kb5jt"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:vr8dqBPUgQSXZw9qLMfm3g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:vr8dqBPUgQSXZw9qLMfm3g:58YKO5TWYzkJXvI3
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[]}'
  recorded_at: Tue, 12 Jun 2018 08:50:43 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"definitionContent":{"content":{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[{"attribute":{"alias":"","totals":[],"uri":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/218"}}],"metrics":[{"alias":"x","uri":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/256"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"meta":{"tags":"","summary":"","title":"Untitled
        report definition"}}},"projectMetadata":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:69q6tQMv7IxrLT1L_fUH6Q
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/dataResult/2417383423763119616"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:69q6tQMv7IxrLT1L_fUH6Q:boruXuv1kbIXws3P
      X-Gdc-Request-Time:
      - '179'
    body:
      encoding: ASCII-8BIT
      string: '{"execResult":{"reportView":{"reportName":"Untitled report definition","columnWidths":[],"filters":[],"rows":["metricGroup"],"sort":{"columns":[],"rows":[]},"format":"grid","columns":[{"attributeTitle":"Dev","summary":"","displayFormId":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/218","baseElementURI":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/216/elements?id=","title":"Dev","attributeId":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/216","totals":[[]]}],"metrics":[{"format":"#,##0","summary":"","title":"x","metricId":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/256"}]},"dataResult":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/dataResult/2417383423763119616"}}'
  recorded_at: Tue, 12 Jun 2018 08:50:53 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/218/validElements?c=5a1605869fd5a4dabddd2f497b5382ad&q=eAE1T0FuxCAM/IvPOUBI2GW/UlWIGLtFJSEijnqo%2BvfCpuuDpRmPx%2BMf4JSFKjy2M%2Behoe2D6l7T%0AJvCAaKdoNYbZGbc4hxNrjBwD86jd3SoYAMu6Z1qp6y%2BLvTZKfIovIm2Yz0heioTsv5N8llP8dfd4%0AiSQcX88dcMsSxiXe0aIli2rWfIts2Mxm1PZm1KhwMpbYktYmoHrW2MNIkkzN8u19ALpSNc9/otTY%0A/4RwYJMGkeqx5KO1s4fXA%2BS0pv62bvPCfFAHCn7/ALpBXqg=%0A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:sm9UrguxHp2iuSK88oEucw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - alLxiheEQuiCuzUdIkKKfA:sm9UrguxHp2iuSK88oEucw:oOPSZ0AhUhAP3Gkg
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/216","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/218"},"paging":{"count":1,"total":"2","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/zi8hst7vxzpmk6z9zzde7mbgs9n71ue8/obj/216/elements?id=3"}}]}}'
  recorded_at: Tue, 12 Jun 2018 08:50:56 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:uIHXTnaqwj5uvYf70AhghQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:uIHXTnaqwj5uvYf70AhghQ:VmPYcgjCXATyonC3
      X-Gdc-Request-Time:
      - '56'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"fact":{"content":{"folders":["/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/219"],"expr":[{"type":"col","data":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/29"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/220","tags":"","created":"2018-06-12
        10:53:11","identifier":"fact.commits.lines_changed","deprecated":"0","summary":"Fact
        description","isProduction":1,"title":"Lines Changed","category":"fact","updated":"2018-06-12
        10:53:11","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Tue, 12 Jun 2018 08:54:01 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:7XQXOh4yGar_-x91ntjs7w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:-60X_Os4pWwzLralOV0p4Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:-60X_Os4pWwzLralOV0p4Q:Hf9VJ7LJdUas7juQ
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Tue, 12 Jun 2018 08:54:03 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT SUM([/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/220])"},"meta":{"tags":"","summary":null,"title":"x"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:GiSC3OYYTzyTldZ31cdmVA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:GiSC3OYYTzyTldZ31cdmVA:k997kIdEjamJsIIv
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/253"}'
  recorded_at: Tue, 12 Jun 2018 08:54:03 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/253
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:CvAGDmpPZOWB96QQ51zEhw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"definitionContent":{"content":{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[],"metrics":[{"alias":"x","uri":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/253"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"meta":{"tags":"","summary":"","title":[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/dataResult/7221518187666504704
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:YKmqePj-XIidu2UJtmhphg
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Execution-Time:
      - '214'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:YKmqePj-XIidu2UJtmhphg:3KiMWHqFtcACHI0w
      X-Gdc-Request-Time:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"xtab_data":{"columns":{"tree":{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"root","id":null},"lookups":[{"0":"x"}]},"data":[["15"]],"overall_size":{"columns":1,"rows":1},"rows":{"tree":{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"root","id":null},"lookups":[{"0":"x"}]},"offset":{"columns":0,"rows":0},"size":{"columns":1,"rows":1}}}'
  recorded_at: Tue, 12 Jun 2018 08:54:06 GMT
[...]
- request:
    method: post
[...]
