---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:yMRK3_uFXEMPeGn88HcgaA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:yMRK3_uFXEMPeGn88HcgaA:ZtUu27mvZpigv38V
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212","expression":"[/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/23]","default":1},"links":{"elements":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214","tags":"","created":"2019-01-08
        11:52:18","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2019-01-08
        11:52:18","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 08 Jan 2019 10:53:56 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:ztoo4PRe0a4oyyWESBPzww
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:ztoo4PRe0a4oyyWESBPzww:txhzIMwsbP4UnpJU
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212/elements?id=3"}}]}}'
  recorded_at: Tue, 08 Jan 2019 10:53:56 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:i1yxGHo10L_WmsMaABrRvA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:i1yxGHo10L_WmsMaABrRvA:0H7JHjvPhkoTgkB0
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/roles/2"],"phonenumber":"","status":"ENABLED","lastname":"1","login":"rubydev+admin@gooddata.com"},"links":{"roles":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/users/5ad80b895edcc438e5a4418e222733fa/roles","permissions":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/users/5ad80b895edcc438e5a4418e222733fa/permissions","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","projectRelUri":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/users/5ad80b895edcc438e5a4418e222733fa"},"meta":{"created":"2017-02-10
        12:18:01","updated":"2018-12-03 11:09:12","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"the
        1","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}'
  recorded_at: Tue, 08 Jan 2019 10:53:59 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:sAEGBEQDaYUkah79p3U9mw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:sAEGBEQDaYUkah79p3U9mw:eb927UdfTW2AfqPR
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 08 Jan 2019 10:54:01 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:mAtbKSmnTSWisVkxQO0CDA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:mAtbKSmnTSWisVkxQO0CDA:ZCAk1xozO5EzGQnv
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Tue, 08 Jan 2019 10:54:03 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj
    body:
      encoding: UTF-8
      string: '{"userFilter":{"content":{"expression":"[/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212]
        IN ([/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212/elements?id=1])"},"meta":{"category":"userFilter","title":"/gdc/account/profile/nonexistent_user@gooddata.com"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:Bq12tn8oA_RFUXJ2sNCiTA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:Bq12tn8oA_RFUXJ2sNCiTA:BEkOewPY7Cbxg9oE
      X-Gdc-Request-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/263"}'
  recorded_at: Tue, 08 Jan 2019 10:54:04 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/userfilters?users=/gdc/account/profile/nonexistent_user@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:bdAm04LYPZzcM1JNLMmN7A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:bdAm04LYPZzcM1JNLMmN7A:dL5Q0EutIKFbK9GY
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":20,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 08 Jan 2019 10:54:05 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/userfilters
    body:
      encoding: UTF-8
      string: '{"userFilters":{"items":[{"user":"/gdc/account/profile/nonexistent_user@gooddata.com","userFilters":["/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/263"]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:HWkv7TmhXQvAfjv_aIzUjA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:HWkv7TmhXQvAfjv_aIzUjA:wdehZ7qXCcUMu2LI
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"userFiltersUpdateResult":{"failed":[{"user":"/gdc/account/profile/nonexistent_user@gooddata.com","message":"Uknown
        user or user URI is wrong."}],"successful":[]}}'
  recorded_at: Tue, 08 Jan 2019 10:54:05 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/userfilters?users=/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:vR9_mD-Z_3nXkTWc82plBA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:vR9_mD-Z_3nXkTWc82plBA:KzJpLyGs7J2E8i4t
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":20,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 08 Jan 2019 10:54:07 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:ez29Kl0dMBtDRMrh7WqyOw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:ez29Kl0dMBtDRMrh7WqyOw:Dn0EJR3KeizDrpLr
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"userFilter":{"content":{"tree":{"content":[{"value":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212","position":{"column":14,"line":1},"type":"attribute
        object"},{"content":[{"value":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212/elements?id=1","position":{"column":69,"line":1},"type":"attributeElement
        object"}],"position":{"column":69,"line":1},"type":"list"}],"position":{"column":65,"line":1},"type":"in"},"expression":"[/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212]
        IN ([/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212/elements?id=1])"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e2227[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:fEwWXicHoRr6PMzDazTHNw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:fEwWXicHoRr6PMzDazTHNw:AuJwN765ZXJ8iFMT
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/21"}],"dimension":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/211","displayForms":[{"content":{"formOf":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212","expression":"[/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/23]","default":1},"links":{"elements":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214","tags":"","created":"2019-01-08
        11:52:18","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2019-01-08
        11:52:18","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}},{"content":{"formOf":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212","expression":"[/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/25]"},"links":{"elements":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/213/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/213","tags":"","created":"2019-01-08
        11:52:18","identifier":"label.devs.dev_id.id","deprecated":"0","summary":"","isProduction":1,"title":"Id","category":"attributeDisplayForm","updated":"2019-01-08
        11:52:18","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}],"fk":[{"multivalue":true,"type":"col","data":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/28"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212","tags":"","created":"2019-01-08
        11:52:18","identifier":"attr.devs.dev_id","deprecated":"0","summary":"","isProduction":1,"title":"Dev","category":"attribute","updated":"2019-01-08
        11:52:19","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 08 Jan 2019 10:54:13 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214/elements/?id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:nJHuIZUiuWnJp9vZaEt6aw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:nJHuIZUiuWnJp9vZaEt6aw:CNhnzZhdOQLmBLxC
      X-Gdc-Request-Time:
      - '203'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeElements":{"elementsMeta":{"count":1,"mode":"includeuris","filter":"","records":"1","prompt":"","attribute":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212","order":"asc","attributeDisplayForm":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214","offset":"0"},"elements":[{"title":"tomas@gooddata.com","uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212/elements?id=1"}],"paging":{"next":null,"count":1,"total":"1","offset":"0"}}}'
  recorded_at: Tue, 08 Jan 2019 10:54:16 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/216
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:sUkqxLBuo7NWrISsrAgCPQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:sUkqxLBuo7NWrISsrAgCPQ:n0gMvjSBeMMlwjx2"
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/214","expression":"[/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/23]","default":1},"links":{"elements":"/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/216/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/216","tags":"","created":"2019-01-24
        14:33:38","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2019-01-24
        14:33:38","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 24 Jan 2019 13:35:24 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/216/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:v72CxMlicICctRE82WFUiA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:v72CxMlicICctRE82WFUiA:WXbld1BNGYBAYioo"
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/214","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/216"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/214/elements?id=3"}}]}}'
  recorded_at: Thu, 24 Jan 2019 13:35:25 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/b5zqokd8nq3e3rjnixvvj4qc102sz327/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:M1sunApmnU-BwZ5whe8EJQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:dwJ-4fp-5_xEIl59UySoaA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:dwJ-4fp-5_xEIl59UySoaA:Fyu3eKJUap9Z1ADW"
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":0,"offset":0,"items":[]}}'
  recorded_at: Thu, 24 Jan 2019 13:35:30 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:Wzee4NXnlde6munO-z6d8g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:Wzee4NXnlde6munO-z6d8g:AY2vxqgKQTRQV38a"
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Thu, 24 Jan 2019 13:35:31 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj
    body:
      encoding: UTF-8
      string: '{"userFilter":{"content":{"expression":"[/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/214]
        IN ([/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/214/elements?id=1])"},"meta":{"category":"userFilter","title":"/gdc/account/profile/nonexistent_user@gooddata.com"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:HasQBOlFzn9jK78B7Wv_BA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:HasQBOlFzn9jK78B7Wv_BA:cb0ZNa1TKb1loy3g"
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/263"}'
  recorded_at: Thu, 24 Jan 2019 13:35:32 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/userfilters?users=/gdc/account/profile/nonexistent_user@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:IUuwOtuJCMwv0nTfvA7p-g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:IUuwOtuJCMwv0nTfvA7p-g:3NE3MH6bfKLaLb9P"
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":20,"length":0,"offset":0,"items":[]}}'
  recorded_at: Thu, 24 Jan 2019 13:35:33 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/userfilters
    body:
      encoding: UTF-8
      string: '{"userFilters":{"items":[{"user":"/gdc/account/profile/nonexistent_user@gooddata.com","userFilters":["/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/263"]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:NKPsMt2WoY-hY2Tsg_eRcA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:NKPsMt2WoY-hY2Tsg_eRcA:JBB66XYyxavmD5o7"
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"userFiltersUpdateResult":{"failed":[{"user":"/gdc/account/profile/nonexistent_user@gooddata.com","message":"Uknown
        user or user URI is wrong."}],"successful":[]}}'
  recorded_at: Thu, 24 Jan 2019 13:35:34 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/userfilters?users=/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:nAZBVF3sOYVf9iX763Y9mQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:nAZBVF3sOYVf9iX763Y9mQ:hYJiWJrcBUw2Ohu0"
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":20,"length":0,"offset":0,"items":[]}}'
  recorded_at: Thu, 24 Jan 2019 13:35:35 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/216/elements/?id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:xJwgc-fY2SaTAbyBOCkbsQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:xJwgc-fY2SaTAbyBOCkbsQ:fr6DfMeUBGwBPZSa"
      X-Gdc-Request-Time:
      - '205'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeElements":{"elementsMeta":{"count":1,"mode":"includeuris","filter":"","records":"1","prompt":"","attribute":"/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/214","order":"asc","attributeDisplayForm":"/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/216","offset":"0"},"elements":[{"title":"tomas@gooddata.com","uri":"/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/214/elements?id=1"}],"paging":{"next":null,"count":1,"total":"1","offset":"0"}}}'
  recorded_at: Thu, 24 Jan 2019 13:35:44 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/mwyndwcsdac4p7ma605g5f6ccf8hcj7h/obj/223
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":dTU3NVCA4-MYqoWSDQoEbw:gaHGrbfsw959Zv-e-Zh7Zg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '31'
      X-Gdc-Request:
      - ":dTU3NVCA4-MYqoWSDQoEbw:gaHGrbfsw959Zv-e-Zh7Zg:yBIffW253Q1VQgeC"
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/mwyndwcsdac4p7ma605g5f6ccf8hcj7h/obj/221","expression":"[/gdc/md/mwyndwcsdac4p7ma605g5f6ccf8hcj7h/obj/18]","default":1},"links":{"elements":"/gdc/md/mwyndwcsdac4p7ma605g5f6ccf8hcj7h/obj/223/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/mwyndwcsdac4p7ma605g5f6ccf8hcj7h/obj/223","tags":"","created":"2020-01-15
        07:21:17","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2020-01-15
        07:21:17","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 15 Jan 2020 06:28:02 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/mwyndwcsdac4p7ma605g5f6ccf8hcj7h/obj/223/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":dTU3NVCA4-MYqoWSDQoEbw:2QMBSfMcLGImnwHzKDwdaQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '41'
      X-Gdc-Request:
      - ":dTU3NVCA4-MYqoWSDQoEbw:2QMBSfMcLGImnwHzKDwdaQ:WZkKkl7Y4fwt6jBV"
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/mwyndwcsdac4p7ma605g5f6ccf8hcj7h/obj/221","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/mwyndwcsdac4p7ma605g5f6ccf8hcj7h/obj/223"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/mwyndwcsdac4p7ma605g5f6ccf8hcj7h/obj/221/elements?id=3"}}]}}'
  recorded_at: Wed, 15 Jan 2020 06:28:04 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/mwyndwcsdac4p7ma605g5f6ccf8hcj7h/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":dTU3NVCA4-MYqoWSDQoEbw:sfREdywNCI5AI-EtAfQc9Q"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    [...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/mwyndwcsdac4p7ma605g5f6ccf8hcj7h/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":dTU3NVCA4-MYqoWSDQoEbw:In7h_vBgcC0qLqDmTmmDlQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '30'
      X-Gdc-Request:
      - ":dTU3NVCA4-MYqoWSDQoEbw:In7h_vBgcC0qLqDmTmmDlQ:isJOk31CVr3ziEnX"
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":0,"offset":0,"items":[]}}'
  recorded_at: Wed, 15 Jan 2020 06:28:15 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/mwyndwcsdac4p7ma605g5f6ccf8hcj7h/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
[...]
