---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:LTiIaixcoYMBEZjgu2gtfw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:LTiIaixcoYMBEZjgu2gtfw:Hzuf1Ijs5RPVhrr3
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209","expression":"[/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/20]","default":1},"links":{"elements":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211","tags":"","created":"2018-06-12
        10:53:10","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2018-06-12
        10:53:10","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 12 Jun 2018 08:55:50 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:X8VrITfEBnMienFu5NDulw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:X8VrITfEBnMienFu5NDulw:REfTYkw5nLK48uSu
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209/elements?id=3"}}]}}'
  recorded_at: Tue, 12 Jun 2018 08:55:51 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:XjpblXzy8FGIbDQqP7IKsQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:XjpblXzy8FGIbDQqP7IKsQ:WsamcSAbgBb7dMTH
      X-Gdc-Request-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/roles/2"],"phonenumber":"","status":"ENABLED","lastname":"1","login":"rubydev+admin@gooddata.com"},"links":{"roles":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/users/5ad80b895edcc438e5a4418e222733fa/roles","permissions":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/users/5ad80b895edcc438e5a4418e222733fa/permissions","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","projectRelUri":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/users/5ad80b895edcc438e5a4418e222733fa"},"meta":{"created":"2017-02-10
        12:18:01","updated":"2018-06-05 11:23:01","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"the
        1","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}'
  recorded_at: Tue, 12 Jun 2018 08:55:53 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:5AoLW9GLdxk3YgdmJkmgMA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:5AoLW9GLdxk3YgdmJkmgMA:kK9ox241CvrWFSuI
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 12 Jun 2018 08:55:54 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:PVQ7U7am_PzEg6bVUtg40w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:PVQ7U7am_PzEg6bVUtg40w:E8Q563syIzbsRFV6
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Tue, 12 Jun 2018 08:55:55 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:PyQ6jMFKwvwXBTX3mnuuXA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:PyQ6jMFKwvwXBTX3mnuuXA:EmzBeiTTvNNpiTgX
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Tue, 12 Jun 2018 08:55:59 GMT
recorded_with: VCR 4.0.0
