---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:JuOtDmh9udImmX5QuACjQQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:JuOtDmh9udImmX5QuACjQQ:s1m2bAm7MfxLH29P
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212","expression":"[/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/23]","default":1},"links":{"elements":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214","tags":"","created":"2019-01-08
        11:52:18","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2019-01-08
        11:52:18","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 08 Jan 2019 10:53:24 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:eWmwU7XloVc0ySdfdLVu8g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:eWmwU7XloVc0ySdfdLVu8g:mt0iANlHzg5wEUXg
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212/elements?id=3"}}]}}'
  recorded_at: Tue, 08 Jan 2019 10:53:25 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:S-zcDiSDDQZSkkkacRlWtA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:S-zcDiSDDQZSkkkacRlWtA:HZ2Rd2E9wbWLIWdJ
      X-Gdc-Request-Time:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/roles/2"],"phonenumber":"","status":"ENABLED","lastname":"1","login":"rubydev+admin@gooddata.com"},"links":{"roles":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/users/5ad80b895edcc438e5a4418e222733fa/roles","permissions":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/users/5ad80b895edcc438e5a4418e222733fa/permissions","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","projectRelUri":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/users/5ad80b895edcc438e5a4418e222733fa"},"meta":{"created":"2017-02-10
        12:18:01","updated":"2018-12-03 11:09:12","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"the
        1","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}'
  recorded_at: Tue, 08 Jan 2019 10:53:28 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:-u-2a6hy1511xnx3Vjj7-A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:-u-2a6hy1511xnx3Vjj7-A:We78wUzcYkDM5N7o
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 08 Jan 2019 10:53:29 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:d7p32eS7OOpbLLfLQ-jVKA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:d7p32eS7OOpbLLfLQ-jVKA:LbuGsFHmicTHZ0VN
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Tue, 08 Jan 2019 10:53:31 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj
    body:
      encoding: UTF-8
      string: '{"userFilter":{"content":{"expression":"[/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212]
        IN ([/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212/elements?id=1])"},"meta":{"category":"userFilter","title":"/gdc/account/profile/nonexistent_user@gooddata.com"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:gc_LlwyWGReVBx1cZ78dDQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:gc_LlwyWGReVBx1cZ78dDQ:3Bjl5r7pguKoS8XO
      X-Gdc-Request-Time:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/260"}'
  recorded_at: Tue, 08 Jan 2019 10:53:31 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/userfilters?users=/gdc/account/profile/nonexistent_user@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:C6SnJRv5Vn_1mUzYFIeUwQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:C6SnJRv5Vn_1mUzYFIeUwQ:3fleqqFygeKyabHE
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":20,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 08 Jan 2019 10:53:32 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/userfilters
    body:
      encoding: UTF-8
      string: '{"userFilters":{"items":[{"user":"/gdc/account/profile/nonexistent_user@gooddata.com","userFilters":["/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/260"]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:Jxsk_rTnAZm7k03M2KHz7g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:Jxsk_rTnAZm7k03M2KHz7g:4MNc8Hvpv0yG7nNe
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"userFiltersUpdateResult":{"failed":[{"user":"/gdc/account/profile/nonexistent_user@gooddata.com","message":"Uknown
        user or user URI is wrong."}],"successful":[]}}'
  recorded_at: Tue, 08 Jan 2019 10:53:33 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/userfilters?users=/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:-Bb6P841-ch-isifosgAqQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:-Bb6P841-ch-isifosgAqQ:F92WHpNcbTQWgOdz
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":20,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 08 Jan 2019 10:53:35 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:i9KXE6LBV2JeZMILC5evVg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:i9KXE6LBV2JeZMILC5evVg:aSObNxuIBCXpjnNB
      X-Gdc-Request-Time:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"userFilter":{"content":{"tree":{"content":[{"value":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212","position":{"column":14,"line":1},"type":"attribute
        object"},{"content":[{"value":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212/elements?id=1","position":{"column":69,"line":1},"type":"attributeElement
        object"}],"position":{"column":69,"line":1},"type":"list"}],"position":{"column":65,"line":1},"type":"in"},"expression":"[/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212]
        IN ([/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212/elements?id=1])"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e2227[...]
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/261
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:fW9rOEpSZPupOaQbK6agSw
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '52'
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:fW9rOEpSZPupOaQbK6agSw:LqzzKYKMQ9GD6c2M
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 08 Jan 2019 10:53:41 GMT
recorded_with: VCR 4.0.0
