---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:HI0Pblx821cX-3hiRFdqcQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:HI0Pblx821cX-3hiRFdqcQ:WHxnAHiP5j9S7Rjn
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212/elements?id=3"}}]}}'
  recorded_at: Tue, 08 Jan 2019 10:55:56 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:cjYKFxP_2xMsEq8nbQ8MFQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:cjYKFxP_2xMsEq8nbQ8MFQ:fuDvdPeImXy5I8HA
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/roles/2"],"phonenumber":"","status":"ENABLED","lastname":"1","login":"rubydev+admin@gooddata.com"},"links":{"roles":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/users/5ad80b895edcc438e5a4418e222733fa/roles","permissions":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/users/5ad80b895edcc438e5a4418e222733fa/permissions","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","projectRelUri":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/users/5ad80b895edcc438e5a4418e222733fa"},"meta":{"created":"2017-02-10
        12:18:01","updated":"2018-12-03 11:09:12","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"the
        1","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}'
  recorded_at: Tue, 08 Jan 2019 10:55:59 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:SG8iwW4BWwrLg0sji2mc7w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:SG8iwW4BWwrLg0sji2mc7w:ptBfOs7hcQ8x1QIP
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 08 Jan 2019 10:56:00 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:2TeEWOW-kyAHLZJID2uzgA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:2TeEWOW-kyAHLZJID2uzgA:UuoMoqbjwul4UrLG
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Tue, 08 Jan 2019 10:56:01 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj
    body:
      encoding: UTF-8
      string: '{"userFilter":{"content":{"expression":"[/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212]
        IN ([/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212/elements?id=1])"},"meta":{"category":"userFilter","title":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:4uDkyL14PLXuIyhMCcashg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:4uDkyL14PLXuIyhMCcashg:Tzzo9MlYjyrJvJO8
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/268"}'
  recorded_at: Tue, 08 Jan 2019 10:56:02 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/userfilters?users=/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:NYFlxEs9s8IaxdQ9LHhmbw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:NYFlxEs9s8IaxdQ9LHhmbw:hj2sePYrzrGrsupZ
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":20,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 08 Jan 2019 10:56:03 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/userfilters
    body:
      encoding: UTF-8
      string: '{"userFilters":{"items":[{"user":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","userFilters":["/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/268"]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:llDNOb6m23Rns8w3qxZ9sw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:llDNOb6m23Rns8w3qxZ9sw:XkRiJCiZ4be3qtbh
      X-Gdc-Request-Time:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"userFiltersUpdateResult":{"failed":[],"successful":["/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"]}}'
  recorded_at: Tue, 08 Jan 2019 10:56:03 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:Y6G2GjGla7hhDI3C-I1iAQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:Y6G2GjGla7hhDI3C-I1iAQ:UCJBiGjv8BzN1yNh
      X-Gdc-Request-Time:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"userFilter":{"content":{"tree":{"content":[{"value":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212","position":{"column":14,"line":1},"type":"attribute
        object"},{"content":[{"value":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212/elements?id=1","position":{"column":69,"line":1},"type":"attributeElement
        object"}],"position":{"column":69,"line":1},"type":"list"}],"position":{"column":65,"line":1},"type":"in"},"expression":"[/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212]
        IN ([/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212/elements?id=1])"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/268","tags":"","created":"2019-01-08
        11:56:02","identifier":"aaeIQWksd6Nf","deprecated":"0","summary":"","isProduction":1,"title":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","category":"userFilter","updated":"2019-01-08
        11:56:02","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Tue, 08 Jan 2019 10:56:05 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:EJFZANOoXl4uvxSEgTOiuA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:EJFZANOoXl4uvxSEgTOiuA:3Ue81ZiJTIHI9okf
      X-Gdc-Request-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/21"}],"dimension":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/211","displayForms":[{"content":{"formOf":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212","expression":"[/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/23]","default":1},"links":{"elements":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214","tags":"","created":"2019-01-08
        11:52:18","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2019-01-08
        11:52:18","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}},{"content":{"formOf":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212","expression":"[/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/25]"},"links":{"elements":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/213/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/213","tags":"","created":"2019-01-08
        11:52:18","identifier":"label.devs.dev_id.id","deprecated":"0","summary":"","isProduction":1,"title":"Id","category":"attributeDisplayForm","updated":"2019-01-08
        11:52:18","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}],"fk":[{"multivalue":true,"type":"col","data":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/28"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212","tags":"","created":"2019-01-08
        11:52:18","identifier":"attr.devs.dev_id","deprecated":"0","summary":"","isProduction":1,"title":"Dev","category":"attribute","updated":"2019-01-08
        11:52:19","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 08 Jan 2019 10:56:06 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214/elements/?id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:WZWKc0N2CccpyGp9-uqRnQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:WZWKc0N2CccpyGp9-uqRnQ:ZGpdc4H2VU9daTY2
      X-Gdc-Request-Time:
      - '63'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeElements":{"elementsMeta":{"count":1,"mode":"includeuris","filter":"","records":"1","prompt":"","attribute":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212","order":"asc","attributeDisplayForm":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214","offset":"0"},"elements":[{"title":"tomas@gooddata.com","uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212/elements?id=1"}],"paging":{"next":null,"count":1,"total":"1","offset":"0"}}}'
  recorded_at: Tue, 08 Jan 2019 10:56:09 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/216/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:zq8tKi8-AifoYa0M4taYuQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:zq8tKi8-AifoYa0M4taYuQ:kYxAKLcjwqU8VtLz"
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/214","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/216"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/214/elements?id=3"}}]}}'
  recorded_at: Thu, 24 Jan 2019 13:37:34 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/b5zqokd8nq3e3rjnixvvj4qc102sz327/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:2btoMBVBAVULF30wI4bPUg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:-SRVYI2l9g2IXr6XqIiuHQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:-SRVYI2l9g2IXr6XqIiuHQ:65qQjyBqdgsfLdgD"
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":0,"offset":0,"items":[]}}'
  recorded_at: Thu, 24 Jan 2019 13:37:38 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:ZgiAp29f4aWg-RnlxQRCEg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:ZgiAp29f4aWg-RnlxQRCEg:H0gdkzfGjxhaaPJs"
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Thu, 24 Jan 2019 13:37:39 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj
    body:
      encoding: UTF-8
      string: '{"userFilter":{"content":{"expression":"[/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/214]
        IN ([/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/214/elements?id=1])"},"meta":{"category":"userFilter","title":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:qszBwVH1tuKg2GwyMF92yw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:qszBwVH1tuKg2GwyMF92yw:J0HMwOrb7nJdhpgl"
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/268"}'
  recorded_at: Thu, 24 Jan 2019 13:37:40 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/userfilters?users=/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:F4WGVtmM4awDI9-pdOGZPA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:F4WGVtmM4awDI9-pdOGZPA:ROfuKpabO5DK0n5T"
      X-Gdc-Request-Time:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":20,"length":0,"offset":0,"items":[]}}'
  recorded_at: Thu, 24 Jan 2019 13:37:41 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/userfilters
    body:
      encoding: UTF-8
      string: '{"userFilters":{"items":[{"user":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","userFilters":["/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/268"]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:-MYuHJZ_Qa6NFRwQlRr3VQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:-MYuHJZ_Qa6NFRwQlRr3VQ:P423b6zHyafX6HZh"
      X-Gdc-Request-Time:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"userFiltersUpdateResult":{"failed":[],"successful":["/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"]}}'
  recorded_at: Thu, 24 Jan 2019 13:37:42 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/214
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:iIeX4BSLtkzj8fA0qPfvVg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/216/elements/?id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:4FYatdp5inb8Z0w8tylhmA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":7_uCHywN1uPJAqYcE7vWyw:4FYatdp5inb8Z0w8tylhmA:ZBSY8wzfGfxF0pLe"
      X-Gdc-Request-Time:
      - '80'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeElements":{"elementsMeta":{"count":1,"mode":"includeuris","filter":"","records":"1","prompt":"","attribute":"/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/214","order":"asc","attributeDisplayForm":"/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/216","offset":"0"},"elements":[{"title":"tomas@gooddata.com","uri":"/gdc/md/b5zqokd8nq3e3rjnixvvj4qc102sz327/obj/214/elements?id=1"}],"paging":{"next":null,"count":1,"total":"1","offset":"0"}}}'
  recorded_at: Thu, 24 Jan 2019 13:37:49 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/mwyndwcsdac4p7ma605g5f6ccf8hcj7h/obj/223/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":dTU3NVCA4-MYqoWSDQoEbw:GqhHY66UG_Uw2aTKKGK7nQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '88'
      X-Gdc-Request:
      - ":dTU3NVCA4-MYqoWSDQoEbw:GqhHY66UG_Uw2aTKKGK7nQ:1AGJgT2b5xybTgnN"
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/mwyndwcsdac4p7ma605g5f6ccf8hcj7h/obj/221","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/mwyndwcsdac4p7ma605g5f6ccf8hcj7h/obj/223"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/mwyndwcsdac4p7ma605g5f6ccf8hcj7h/obj/221/elements?id=3"}}]}}'
  recorded_at: Wed, 15 Jan 2020 06:30:45 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/mwyndwcsdac4p7ma605g5f6ccf8hcj7h/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":dTU3NVCA4-MYqoWSDQoEbw:xLwZ0phtrn-jTzsgnjAGXw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/mwyndwcsdac4p7ma605g5f6ccf8hcj7h/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":dTU3NVCA4-MYqoWSDQoEbw:12JVUkFk_p9TlKnDqlp2tw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '29'
      X-Gdc-Request:
      - ":dTU3NVCA4-MYqoWSDQoEbw:12JVUkFk_p9TlKnDqlp2tw:xgJinAKDk4VaQnhm"
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":0,"offset":0,"items":[]}}'
  recorded_at: Wed, 15 Jan 2020 06:30:51 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/mwyndwcsdac4p7ma605g5f6ccf8hcj7h/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":dTU3NVCA4-MYqoWSDQoEbw:JnJBTxG8du211ZprOkV81Q"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - ":dTU3NVCA4-MYqoWSDQoEbw:JnJBTxG8du211ZprOkV81Q:8EzPdVrdYEttG6mc"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Wed, 15 Jan 2020 06:30:53 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/mwyndwcsdac4p7ma605g5f6ccf8hcj7h/obj
    body:
      encoding: UTF-8
      string: '{"userFilter":{"content":{"expression":"[/gdc/md/mwyndwcsdac4p7ma605g5f6ccf8hcj7h/obj/221]
        IN ([/gdc/md/mwyndwcsdac4p7ma605g5f6ccf8hcj7h/obj/221/elements?id=1])"},"meta":{"category":"userFilter","title":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":dTU3NVCA4-MYqoWSDQoEbw:oymx8P8AU10VdbUwaxJS2Q"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '49'
      X-Gdc-Request:
      - ":dTU3NVCA4-MYqoWSDQoEbw:oymx8P8AU10VdbUwaxJS2Q:JMYWqnvOikqVhKnE"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/mwyndwcsdac4p7ma605g5f6ccf8hcj7h/obj/270"}'
  recorded_at: Wed, 15 Jan 2020 06:30:54 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/mwyndwcsdac4p7ma605g5f6ccf8hcj7h/userfilters?users=/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":dTU3NVCA4-MYqoWSDQoEbw:jNSKkw1N9WE_uezXvx1XXg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '28'
      X-Gdc-Request:
      - ":dTU3NVCA4-MYqoWSDQoEbw:jNSKkw1N9WE_uezXvx1XXg:C4T5HLzTS7OgrYB1"
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":20,"length":0,"offset":0,"items":[]}}'
  recorded_at: Wed, 15 Jan 2020 06:30:54 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/mwyndwcsdac4p7ma605g5f6ccf8hcj7h/userfilters
    body:
      encoding: UTF-8
      string: '{"userFilters":{"items":[{"user":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","userFilters":["/gdc/md/mwyndwcsdac4p7ma605g5f6ccf8hcj7h/obj/270"]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":dTU3NVCA4-MYqoWSDQoEbw:ac6-zo7xvfXcyOKhfhdjSQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '43'
      X-Gdc-Request:
      - ":dTU3NVCA4-MYqoWSDQoEbw:ac6-zo7xvfXcyOKhfhdjSQ:H1dlCTmJGPdlHQhf"
    body:
      encoding: ASCII-8BIT
      string: '{"userFiltersUpdateResult":{"failed":[],"successful":["/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"]}}'
  recorded_at: Wed, 15 Jan 2020 06:30:55 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/mwyndwcsdac4p7ma605g5f6ccf8hcj7h/obj/221
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":dTU3NVCA4-MYqoWSDQoEbw:qiLl4S7Hhj6F1-rMo4xKuw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/mwyndwcsdac4p7ma605g5f6ccf8hcj7h/obj/223
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":dTU3NVCA4-MYqoWSDQoEbw:_pj2zcXSruk1GS0C7nGXRw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - GoodData realm="GoodData API" cookie=GDCAuthTT
      Content-Type:
      - application/json; charset=utf-8
      X-Gdc-Request-Time:
      - '1'
      X-Gdc-Request:
      - ":dTU3NVCA4-MYqoWSDQoEbw:_pj2zcXSruk1GS0C7nGXRw:OiO3DvGbUx6CdcGm"
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "error": {
                "code": 401,
                "message": "Authorization Required",
[...]
