---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:_eiq44-gGiqBuuNTwFoKjQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:_eiq44-gGiqBuuNTwFoKjQ:TriFBZzBniqyXJU6
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/roles/2"],"phonenumber":"","status":"ENABLED","lastname":"1","login":"rubydev+admin@gooddata.com"},"links":{"roles":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/users/5ad80b895edcc438e5a4418e222733fa/roles","permissions":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/users/5ad80b895edcc438e5a4418e222733fa/permissions","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","projectRelUri":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/users/5ad80b895edcc438e5a4418e222733fa"},"meta":{"created":"2017-02-10
        12:18:01","updated":"2018-06-05 11:23:01","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"the
        1","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"user":{"content":{"email":"gemtest9056916@gooddata.com","firstname":"the","userRoles":["/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/roles/2"],"phonenumber":null,"status":"ENABLED","lastname":"9056916","login":"rubydev+tester@gooddata.com"},"links":{"roles":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/users/6f3f51cdcd8352f59252a4be2e6ceb1b/roles","permissions":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/users/6f3f51cdcd8352f59252a4be2e6ceb1b/permissions","self":"/gdc/account/profile/6f3f51cdcd8352f59252a4be2e6ceb1b","projects":"/gdc/account/profile/6f3f51cdcd8352f59252a4be2e6ceb1b/projects","projectRelUri":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/users/6f3f51cdcd8352f59252a4be2e6ceb1b"},"meta":{"created":"2017-02-22
        11:16:37","updated":"2018-06-12 10:52:10","author":"/gdc/account/profile/6f3f51cdcd8352f59252a4be2e6ceb1b","title":"the
        9056916","contributor":"/gdc/account/profile/6f3f51cdcd8352f59252a4be2e6ceb1b"}}}]}'
  recorded_at: Tue, 12 Jun 2018 08:59:08 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:B_6TwSRZub58kmeBQ1OPYQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:B_6TwSRZub58kmeBQ1OPYQ:zwpJ2iluGkN2bJAI
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209","expression":"[/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/20]","default":1},"links":{"elements":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211","tags":"","created":"2018-06-12
        10:53:10","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2018-06-12
        10:53:10","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 12 Jun 2018 08:59:08 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:8ZH7HwPoZgOBpZesmqmjjw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:8ZH7HwPoZgOBpZesmqmjjw:nBBR6g5jIPQeY8Aq
      X-Gdc-Request-Time:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209/elements?id=3"}}]}}'
  recorded_at: Tue, 12 Jun 2018 08:59:09 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/userfilters?count=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:Fyzbs1VwrTcb4b_p3PPL_w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:Fyzbs1VwrTcb4b_p3PPL_w:idIXJZfq60LBjUjt
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":1000,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 12 Jun 2018 08:59:12 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:7i-enw3v19AEjB5an3Bdfw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:7i-enw3v19AEjB5an3Bdfw:Sf4Uu9eMd89k3k5U
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Tue, 12 Jun 2018 08:59:13 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj
    body:
      encoding: UTF-8
      string: '{"userFilter":{"content":{"expression":"[/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209]
        IN ([/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209/elements?id=1])"},"meta":{"category":"userFilter","title":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:HpDTgezfXIJuqn0Obd4q1A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:HpDTgezfXIJuqn0Obd4q1A:zi7x8JsvAB7yUlQX
      X-Gdc-Request-Time:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/271"}'
  recorded_at: Tue, 12 Jun 2018 08:59:14 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/userfilters?users=/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:yLrj9IyYATOybh9YBAUaKA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:yLrj9IyYATOybh9YBAUaKA:MrB1A9666WTp02Gl
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"userFilters":{"count":20,"length":0,"offset":0,"items":[]}}'
  recorded_at: Tue, 12 Jun 2018 08:59:15 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/userfilters
    body:
      encoding: UTF-8
      string: '{"userFilters":{"items":[{"user":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","userFilters":["/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/271"]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:G4PoW5dZ-F3j3FFxUVT86A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:G4PoW5dZ-F3j3FFxUVT86A:4HYPX5cR5r8FClk8
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"userFiltersUpdateResult":{"failed":[],"successful":["/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"]}}'
  recorded_at: Tue, 12 Jun 2018 08:59:15 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/objects/query?category=userFilter&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:D1OobAkGJspZLWzidu_Oqg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:D1OobAkGJspZLWzidu_Oqg:FFOeHhRrjzx1PZ63
      X-Gdc-Request-Time:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"userFilter":{"content":{"tree":{"content":[{"value":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209","position":{"column":14,"line":1},"type":"attribute
        object"},{"content":[{"value":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209/elements?id=1","position":{"column":69,"line":1},"type":"attributeElement
        object"}],"position":{"column":69,"line":1},"type":"list"}],"position":{"column":65,"line":1},"type":"in"},"expression":"[/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209]
        IN ([/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209/elements?id=1])"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/271","tags":"","created":"2018-06-12
        10:59:14","identifier":"aadUtr72hfA3","deprecated":"0","summary":"","isProduction":1,"title":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","category":"userFilter","updated":"2018-06-12
        10:59:14","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Tue, 12 Jun 2018 08:59:17 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:6s90KWnjihS4HMtMae1k0Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:6s90KWnjihS4HMtMae1k0Q:ksU6M8gvEd8P1YY1
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-06-05
        11:23:01","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","timezone":null,"language":"en-US","ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Tue, 12 Jun 2018 08:59:18 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:4thtWTwJL2ekwX6EyXUY1A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:4thtWTwJL2ekwX6EyXUY1A:29IFtubWTiw1uT6N
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/18"}],"dimension":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/208","displayForms":[{"content":{"formOf":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209","expression":"[/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/20]","default":1},"links":{"elements":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211","tags":"","created":"2018-06-12
        10:53:10","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2018-06-12
        10:53:10","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}},{"content":{"formOf":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209","expression":"[/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/22]"},"links":{"elements":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/210/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/210","tags":"","created":"2018-06-12
        10:53:10","identifier":"label.devs.dev_id.id","deprecated":"0","summary":"","isProduction":1,"title":"Id","category":"attributeDisplayForm","updated":"2018-06-12
        10:53:10","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}],"fk":[{"multivalue":false,"type":"col","data":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/25"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209","tags":"","created":"2018-06-12
        10:53:10","identifier":"attr.devs.dev_id","deprecated":"0","summary":"","isProduction":1,"title":"Dev","category":"attribute","updated":"2018-06-12
        10:53:11","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 12 Jun 2018 08:59:18 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211/elements/?id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:bk6tYx4LFgLzNSkARxgSxg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:bk6tYx4LFgLzNSkARxgSxg:xdVOAMxFt2jELMyg
      X-Gdc-Request-Time:
      - '65'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeElements":{"elementsMeta":{"count":1,"mode":"includeuris","filter":"","records":"1","prompt":"","attribute":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209","order":"asc","attributeDisplayForm":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/211","offset":"0"},"elements":[{"title":"tomas@gooddata.com","uri":"/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/209/elements?id=1"}],"paging":{"next":null,"count":1,"total":"1","offset":"0"}}}'
  recorded_at: Tue, 12 Jun 2018 08:59:21 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:Ko4bUbvkJD2mVFC2meJFQw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:Ko4bUbvkJD2mVFC2meJFQw:4k5WyfS4tJzxdnRx
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSettings":{"paging":{"offset":0,"count":48},"items":[{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2018-06-05 11:23:01","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby"[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:8lDQnGH7ZH3Zu-jm691KsQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:8lDQnGH7ZH3Zu-jm691KsQ:dMWAdjqVzl61cbnw
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"internalProjectRoles":{"roles":[{"projectRole":{"permissions":{"canAccessIntegration":"1","canCreateProjectDashboard":"1","canExportDashboard":"1","canManageComment":"1","canExecute":"1","canInitData":"1","canManageIntegration":"1","canCreateExecutionContext":"1","canManageFolder":"1","canInviteUserToProject":"1","canCreateTableDataLoad":"1","canCreateDomain":"1","canSeeOtherUserDetails":"1","canManageACL":"1","canManageAnalyticalDashboard":"1","canCreateRole":"0","canCreateProjectTemplates":"1","canCreateHelp":"1","canManageDomain":"1","canManageAttributeLabel":"1","canManageReport":"1","canExportReport":"1","canCreateColumn":"1","canManageDataSet":"1","canSetUserVariables":"1","canCreateAttributeGroup":"1","canValidateProject":"1","canSetStyle":"1","canMaintainProject":"1","canCreateETLFile":"1","canCreateScheduledMail":"1","canSuspendUserFromProject":"1","canManageIsProduction":"1","canMaintainUserFilterRelation":"1","canManageAttribute":"1","canManageReportDefinition":"1","canManageTranslations":"1","canMaintainUserFilter":"1","canCreateReport":"1","canSetLocale":"1","canEnrichData":"1","canUploadNonProductionCSV":"1","canManageETLFile":"1","canCreateComment":"1","canCreateDataSet":"1","canManageExecutionContext":"1","canCreateTable":"1","canManageTableDataLoad":"1","canRefreshData":"1","canCreateMetric":"1","canManageFilterSettings":"1","canManageProjectDashboard":"1","canManageProject":"1","canManagePrompt":"1","canAccessWorkbench":"1","canCreateAttributeLabel":"1","canCreateVisualizationClass":"1","canManageColumn":"1","canCreatePrompt":"1","canManagePublicAccessCode":"0","canListUsersInProject":"1","canManageAttributeGroup":"1","canManageMetric":"1","canManageHelp":"1","canSetProjectVariables":"1","canManageTable":"1","canCreateVisualization":"1","canCreateFolder":"1","canManageFact":"1","canManageScheduledMail":"1","canListInvitationsInProject":"1","canCreateFilterSettings":"1","canExecuteRaw":"1","canSeePublicAccessCode":"0","canCreateReportDefinition":"1","canManageVisualization":"1","canCreateFact":"1","canCreateAttribute":"1","canAssignUserWithRole":"1","canCreateAnalyticalDashboard":"1"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/roles/6","created":"2018-06-12
        10:52:48","identifier":"superAdminRole","summary":"the ultimate project admin","title":"SuperAdmin","updated":"2018-06-12
        10:52:48","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"projectRole":{"permissions":{"canAccessIntegration":"0","canCreateProjectDashboard":"0","canExportDashboard":"1","[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/users
    body:
      encoding: UTF-8
      string: '{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/wasps3hgso0c9k7pdseukinyj6hhi95j/roles/2"]},"links":{"self":"/gdc/account/profile/6f3f51cdcd8352f59252a4be2e6ceb1b"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:dDPRi4RK0-hlZ1V81wY7pw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:dDPRi4RK0-hlZ1V81wY7pw:PoRycUssALJ22tJf
      X-Gdc-Request-Time:
      - '140'
    body:
      encoding: ASCII-8BIT
      string: '{"projectUsersUpdateResult":{"successful":["/gdc/account/profile/6f3f51cdcd8352f59252a4be2e6ceb1b"],"failed":[]}}'
  recorded_at: Tue, 12 Jun 2018 08:59:23 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wasps3hgso0c9k7pdseukinyj6hhi95j/obj/272
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:BAcUqXLEd9uPs-4u1ZWEAg
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '53'
      X-Gdc-Request:
      - 1NcxUeGzVYdY2LXs1iHXaA:BAcUqXLEd9uPs-4u1ZWEAg:w9yo5XJEhBby8TvO
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 12 Jun 2018 08:59:43 GMT
recorded_with: VCR 4.0.0
