---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/model/view?includeCA=true&includeDeprecated=true&includeGrain=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:p6xPczAYa7WrSqVjda6SQg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/model/view/d98b46f7a1249f05febe19f6d729d5fe5cf28efc70e2db9800000015"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '72'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:p6xPczAYa7WrSqVjda6SQg:tZXLC8g9Y1hwpZhp"
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/model/view/d98b46f7a1249f05febe19f6d729d5fe5cf28efc70e2db9800000015"}}}'
  recorded_at: Thu, 07 May 2020 13:56:15 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/model/view/d98b46f7a1249f05febe19f6d729d5fe5cf28efc70e2db9800000015
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:1wp9Z9pMFP7WK2LjVQYsBg"
      Process:
      - 'false'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:1wp9Z9pMFP7WK2LjVQYsBg:vlWp8YkMPecOm8ST"
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelView":{"model":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.csv_policies","title":"Policies","anchor":{"attribute":{"identifier":"attr.csv_policies.factsof","title":"Records
        of Policies","folder":"Policies"}},"attributes":[{"attribute":{"identifier":"attr.csv_policies.customer","title":"Customer","folder":"Policies","labels":[{"label":{"identifier":"label.csv_policies.customer","title":"Customer","type":"GDC.text","dataType":"VARCHAR(255)"}}],"defaultLabel":"label.csv_policies.customer"}},{"attribute":{"identifier":"attr.csv_policies.state","title":"State","folder":"Policies","labels":[{"label":{"identifier":"label.csv_policies.state","title":"State","type":"GDC.text","dataType":"VARCHAR(255)"}}],"defaultLabel":"label.csv_policies.state"}},{"attribute":{"identifier":"attr.csv_policies.coverage","title":"Coverage","folder":"Policies","labels":[{"label":{"identifier":"label.csv_policies.coverage","title":"Coverage","type":"GDC.text","dataType":"VARCH[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ebq21r3kfv796qibuvauin0kx86t4jst/model/diff?includeCA=true&includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.csv_policies","title":"Policies","anchor":{"attribute":{"identifier":"attr.csv_policies.factsof","title":"Records
        of Policies","folder":"Policies"}},"attributes":[{"attribute":{"identifier":"attr.csv_policies.customer","title":"Customer","folder":"Policies","labels":[{"label":{"identifier":"label.csv_policies.customer","title":"Customer","type":"GDC.text","dataType":"VARCHAR(255)"}}],"defaul[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ebq21r3kfv796qibuvauin0kx86t4jst/model/diff/fe5121fda71957543480f3ba57d4b20768631a05f5a1074500000015
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:Wi5cCseik-4Bk-40ZMaTUA"
      Process:
      - 'false'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/ebq21r3kfv796qibuvauin0kx86t4jst/model/diff/fe5121fda71957543480f3ba57d4b20768631a05f5a1074500000015"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '18'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:Wi5cCseik-4Bk-40ZMaTUA:X4ccWHEYEm42z4vR"
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/ebq21r3kfv796qibuvauin0kx86t4jst/model/diff/fe5121fda71957543480f3ba57d4b20768631a05f5a1074500000015"}}}'
  recorded_at: Thu, 07 May 2020 13:56:20 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ebq21r3kfv796qibuvauin0kx86t4jst/model/diff/fe5121fda71957543480f3ba57d4b20768631a05f5a1074500000015
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:dgDn8aHLhhv22HoSEZSeUQ"
      Process:
      - 'false'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:dgDn8aHLhhv22HoSEZSeUQ:FcBvYeFxKF7GNIBV"
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[],"updateScripts":[]}}'
  recorded_at: Thu, 07 May 2020 13:56:22 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/model/diff?includeCA=true&includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.csv_policies","title":"Policies","anchor":{"attribute":{"identifier":"attr.csv_policies.factsof","title":"Records
        of Policies","folder":"Policies"}},"att[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/model/diff/431c3def3810fc09bd7c0f2ade8f0b1a779a9ae3379864e300000015
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:0BCizUuPkuR2-9LieTr-jQ"
      Process:
      - 'false'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - GoodData realm="GoodData API" cookie=GDCAuthTT
      Content-Type:
      - application/json; charset=utf-8
      X-Gdc-Request-Time:
      - '1'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:0BCizUuPkuR2-9LieTr-jQ:v8lar3DKTE6xnNMc"
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "error": {
                "code": 401,
                "message": "Authorization Required",
                "description": "This server could not verify that you are authorized to access the document requested. Either you supplied the wrong credentials (e.g., bad password), or your browser doesn't understand how to supply the credentials required",
                "links": {
                    "documentation": "https://help.gooddata.com/display/developer/API+Reference#/reference/authentication/log-in"
                }
            }
        }
  recorded_at: Thu, 07 May 2020 13:56:28 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:Z2ggBFDZwTEuUOSu6xieSw"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:Z2ggBFDZwTEuUOSu6xieSw:OzrzLMj6vnzFISvq"
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 07 May 2020 13:56:29 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/model/diff/431c3def3810fc09bd7c0f2ade8f0b1a779a9ae3379864e300000015
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:yONtT55KEZCPQrAUAHtdkg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '18'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:yONtT55KEZCPQrAUAHtdkg:GuZtq25rYYZcnkUS"
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[],"updateScripts":[]}}'
  recorded_at: Thu, 07 May 2020 13:56:31 GMT
recorded_with: VCR 5.1.0
