---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:F-rEG9kqae4DKp9IOXVicQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '12'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:F-rEG9kqae4DKp9IOXVicQ:kDVqIa6UjFb729JW"
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/schedules","items":[{"schedule":{"name":"test.grf","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"graph/test.grf","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"9757145a-1676-45b3-aa85-a4eb1a9533ca"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2021-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/schedules/5eb410f51be1fc1de0fd02d1","executions":"/gdc/projects/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/schedules/5eb410f51be1fc1de0fd02d1/executions"}}},{"schedule":{"name":"SimpleRubySchedule","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"main.rb","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"de6dfe74-e9fc-46fb-b876-46f46cf02472"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/schedules/5eb410f8701b854f340f7be9","executions":"/gdc/projects/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/schedules/5eb410f8701b854f340f7be9/executions"},"triggerScheduleId":"5eb410f51be1fc1de0fd02d1"}}]}}'
  recorded_at: Thu, 07 May 2020 13:56:48 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ebq21r3kfv796qibuvauin0kx86t4jst/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:_jU5XwnVQjSRHlAXG4KVYw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '19'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:_jU5XwnVQjSRHlAXG4KVYw:nQWbriwIXM5WITeJ"
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/ebq21r3kfv796qibuvauin0kx86t4jst/schedules","items":[{"schedule":{"name":"test.grf","type":"MSETL","state":"ENABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","all_dynamic_param":"is_in_every_schedule","EXECUTABLE":"graph/test.grf","param_2":"b","param_1":"a","print_reverted":"hidden_msg_from_rollout_brick,SECURE_PARAM_2","msg_from_rollout_brick":"Hi,
        I was set by rollout brick","PROCESS_ID":"d062fd4f-4c19-426a-bb62-d61e5ca66186"},"hiddenParams":{"secure_param_2":null,"secure_param_1":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null,"all_dynamic_hidden_param":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2021-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/ebq21r3kfv796qibuvauin0kx86t4jst/schedules/5eb40d3971a6014624219ea0","executions":"/gdc/projects/ebq21r3kfv796qibuvauin0kx86t4jst/schedules/5eb40d3971a6014624219ea0/executions"}}},{"schedule":{"name":"SimpleRubySchedule","type":"MSETL","state":"ENABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","all_dynamic_param":"is_in_every_schedule","EXECUTABLE":"main.rb","param_2":"b","dynamic_param":"LCM_SPEC_CLIENT_2","param_1":"a","print_reverted":"hidden_msg_from_rollout_brick,SECURE_PARAM_2","msg_from_rollout_brick":"Hi,
        I was set by rollout brick","PROCESS_ID":"e2081949-7f38-4764-b12b-98dfca06e398"},"hiddenParams":{"secure_param_2":null,"secure_param_1":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null,"all_dynamic_hidden_param":null,"dynamic_hidden_param":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/ebq21r3kfv796qibuvauin0kx86t4jst/schedules/5eb40d3971a6014624219ea1","executions":"/gdc/projects/ebq21r3kfv796qibuvauin0kx86t4jst/schedules/5eb40d3971a6014624219ea1/executions"},"triggerScheduleId":"5eb40d3971a6014624219ea0"}}]}}'
  recorded_at: Thu, 07 May 2020 13:56:49 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:1MY7mKBo5wQC5I-N-vtkMQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X[...]
