---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:w5dycY9b9nNYZdXN-JvbBg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '45'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:w5dycY9b9nNYZdXN-JvbBg:hkoKGr3RtwWJtXBu"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aaisLLlnb2Pb","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/362","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/360","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/364","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}}]},{"identifier":"aajsLLlnb2Pb","title":"Tab
        2","items":[{"reportItem":{"obj":"/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/362","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/360","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/364","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}}]}],"filters":[]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/365","tags":"dashboard","created":"2020-05-07
        15:44:00","identifier":"dashboard.dashboard.2","deprecated":"0","summary":"","isProduction":1,"title":"Dashboard
        2","category":"projectDashboard","updated":"2020-05-07 15:15:24","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"projectDashboard":{"content":{"tabs":[{"identifier":"aagsLYmwb2wU","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/362","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/360","[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/362
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:88dgP1_HDDCp-YCA6gmyqw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '32'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:88dgP1_HDDCp-YCA6gmyqw:qgLOvqDaTEldulzO"
    body:
      encoding: ASCII-8BIT
      string: '{"report":{"content":{"domains":[],"definitions":["/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/361"]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/362","tags":"","created":"2020-05-07
        15:44:00","identifier":"report.customers.count.by.gender","deprecated":"0","summary":"","isProduction":1,"title":"Customers
        Count By Gender","category":"report","updated":"2020-05-07 15:13:53","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 07 May 2020 13:56:56 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ebq21r3kfv796qibuvauin0kx86t4jst/objects/query?category=report&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:2jfmiph6obkLsYdZmBuHBQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '37'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:2jfmiph6obkLsYdZmBuHBQ:1picERIXJbPnqTij"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":4,"offset":0},"items":[{"report":{"content":{"domains":[],"definitions":["/gdc/md/ebq21r3kfv796qibuvauin0kx86t4jst/obj/356"]},"meta":{"locked":1,"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/ebq21r3kfv796qibuvauin0kx86t4jst/obj/357","tags":"_lcm_managed_object","created":"2020-05-07
        15:21:57","identifier":"report.customers.count.by.state","deprecated":"0","summary":"","isProduction":1,"title":"Customers
        Count By State","category":"report","updated":"2020-05-07 15:54:03","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"report":{"content":{"domains":[],"definitio[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/objects/query?category=report&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:fjvlIQNLcvJeFR6qpoEGfA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/x6igu80ldbvosmjedfixj9m7sio1q3b3/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:Ay0r53HgnHEwmvDmXQAPHw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/x6igu80ldbvosmjedfixj9m7sio1q3b3/obj/359
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:SbPRhTU7bjLLGps3v-tZ7Q"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '22'
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:SbPRhTU7bjLLGps3v-tZ7Q:24JXoRqI9hgpthCI"
    body:
      encoding: ASCII-8BIT
      string: '{"report":{"content":{"domains":[],"definitions":["/gdc/md/x6igu80ldbvosmjedfixj9m7sio1q3b3/obj/358"]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/x6igu80ldbvosmjedfixj9m7sio1q3b3/obj/359","tags":"","created":"2021-04-02
        08:41:15","identifier":"report.customers.count.by.gender","deprecated":"0","summary":"","isProduction":1,"title":"Customers
        Count By Gender","category":"report","updated":"2021-04-02 07:33:48","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Fri, 02 Apr 2021 06:53:10 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/pxk7epmrvnfng3uonunjyca6o7hfx95p/objects/query?category=report&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:ijj4YpStUsxMSrDPCzkadw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lk2kidblugfl38fdklotewbskm8u4z81/objects/query?category=report&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:HbL1rcOEq5CbdQTS4bz_gQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      [...]
