---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ebq21r3kfv796qibuvauin0kx86t4jst/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:Uk4x62RBZgoNkTC5C8cAYg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '33'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:Uk4x62RBZgoNkTC5C8cAYg:r4ZcFPSnbTSYJuTL"
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/ebq21r3kfv796qibuvauin0kx86t4jst/obj/119"}]}'
  recorded_at: Thu, 07 May 2020 13:56:37 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ebq21r3kfv796qibuvauin0kx86t4jst/obj/119
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:zrHN9W5Fxj3Jk4PM4GcblQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '46'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:zrHN9W5Fxj3Jk4PM4GcblQ:1REz6e6Y9E9MY9Iu"
    body:
      encoding: ASCII-8BIT
      string: '{"dataSet":{"content":{"mode":"","facts":["/gdc/md/ebq21r3kfv796qibuvauin0kx86t4jst/obj/317","/gdc/md/ebq21r3kfv796qibuvauin0kx86t4jst/obj/318","/gdc/md/ebq21r3kfv796qibuvauin0kx86t4jst/obj/319","/gdc/md/ebq21r3kfv796qibuvauin0kx86t4jst/obj/368"],"dataLoadingColumns":["/gdc/md/ebq21r3kfv796qibuvauin0kx86t4jst/obj/76","/gdc/md/ebq21r3kfv796qibuvauin0kx86t4jst/obj/78","/gdc/md/ebq21r3kfv796qibuvauin0kx86t4jst/obj/86","/gdc/md/ebq21r3kfv796qibuvauin0kx86t4jst/obj/88","/gdc/md/ebq21r3kfv796qibuvauin0kx86t4jst/obj/29","/gdc/md/ebq21r3kfv796qibuvauin0kx86t4jst/obj/31","/gdc/md/ebq21r3kfv796qibuvauin0kx86t4jst/obj/33","/gdc/md/ebq21r3kfv796qibuvauin0kx86t4jst/obj/35","/gdc/md/ebq21r3kfv796qibuvauin0kx86t4jst/obj/37","/gdc/md/ebq21r3kfv796qibuvauin0kx86t4jst/obj/41"[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ebq21r3kfv796qibuvauin0kx86t4jst/obj/368
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:H6ZwFKpCMfYwwbMqvkgQ9w"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '37'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:H6ZwFKpCMfYwwbMqvkgQ9w:ttTQNplqf6FtWzYG"
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/ebq21r3kfv796qibuvauin0kx86t4jst/obj/315"],"expr":[{"type":"col","data":"/gdc/md/ebq21r3kfv796qibuvauin0kx86t4jst/obj/366"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/ebq21r3kfv796qibuvauin0kx86t4jst/obj/368","tags":"_lcm_managed_object
        fact","created":"2020-05-07 15:52:23","identifier":"fact.csv_policies.customer_lifetime_value.renamed","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2020-05-07 15:54:02","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 07 May 2020 13:56:40 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:H7VeOZtpKyZAhbVpByEK3w"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '28'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:H7VeOZtpKyZAhbVpByEK3w:OtKLpnnljM9UarBH"
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/obj/119"}]}'
  recorded_at: Thu, 07 May 2020 13:56:41 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/obj/119
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:3Na8CKjU2tzhBhcZDAfObQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/pxk7epmrvnfng3uonunjyca6o7hfx95p/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:eUMjsfGbLkIvzbzenph0KA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '21'
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:eUMjsfGbLkIvzbzenph0KA:PtTxpPHE6V5zmCfn"
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/pxk7epmrvnfng3uonunjyca6o7hfx95p/obj/119"}]}'
  recorded_at: Fri, 02 Apr 2021 06:52:52 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/pxk7epmrvnfng3uonunjyca6o7hfx95p/obj/119
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:SRl1Ui4I4OHJ_rwbGU9rSw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-T[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lk2kidblugfl38fdklotewbskm8u4z81/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:cxEgLAjEwc6GBP_zdufSZg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '15'
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:cxEgLAjEwc6GBP_zdufSZg:HfX8P9GSIiF2w2Wx"
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/lk2kidblugfl38fdklotewbskm8u4z81/obj/119"}]}'
  recorded_at: Fri, 02 Apr 2021 06:52:56 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lk2kidblugfl38fdklotewbskm8u4z81/obj/119
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:Tw5cvka3KhliOnATiZ89kQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-T[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lk2kidblugfl38fdklotewbskm8u4z81/obj/366
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:u8wl7tt1pd2r4-KGGoKtOw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '21'
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:u8wl7tt1pd2r4-KGGoKtOw:h6MdT40l5UXitNbF"
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/lk2kidblugfl38fdklotewbskm8u4z81/obj/314"],"expr":[{"type":"col","data":"/gdc/md/lk2kidblugfl38fdklotewbskm8u4z81/obj/364"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/lk2kidblugfl38fdklotewbskm8u4z81/obj/366","tags":"_lcm_managed_object
        fact","created":"2021-04-02 08:49:58","identifier":"fact.csv_policies.customer_lifetime_value.renamed","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2021-04-02 08:50:55","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Fri, 02 Apr 2021 06:52:59 GMT
recorded_with: VCR 5.0.0
