---
http_interactions:
- request:
    method: post
    uri: https://staging-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:_tJYfKNT9rCGKQFOX44fBQ"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '51'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:_tJYfKNT9rCGKQFOX44fBQ:8tGVosF8uO7MbJ8w"
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/e306b64fb4178785c9cf29c29b5e498a","state":"/gdc/account/login/e306b64fb4178785c9cf29c29b5e498a","token":"<TOKEN>"}}'
  recorded_at: Thu, 25 Jun 2020 03:15:55 GMT
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:sk5nK85wfSPnrU5gmkd34Q"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request-Time:
      - '18'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:sk5nK85wfSPnrU5gmkd34Q:ilo3LrtjhnHouj1O"
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 25 Jun 2020 03:15:56 GMT
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/account/profile/e306b64fb4178785c9cf29c29b5e498a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:MQrgIdt1_seVX9gt9l32Cw"
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '9'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:MQrgIdt1_seVX9gt9l32Cw:0Q1nh3Y0T9tLlco3"
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/e306b64fb4178785c9cf29c29b5e498a","projects":"/gdc/account/profile/e306b64fb4178785c9cf29c29b5e498a/projects","auditEvents":"/gdc/account/profile/e306b64fb4178785c9cf29c29b5e498a/auditEvents","domain":"/gdc/domains/staging-lcm-prod"},"firstName":"Ruby","lastName":"Oh","companyName":"","position":null,"created":"2017-02-10
        12:19:16","updated":"2019-02-20 04:29:50","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Thu, 25 Jun 2020 03:15:57 GMT
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:7NRLP1DQX6C0mKIUHDvQCA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '30'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:7NRLP1DQX6C0mKIUHDvQCA:GZlPgekFHaCIagjw"
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Thu, 25 Jun 2020 03:15:58 GMT
- request:
    method: delete
    uri: https://staging-lcm-prod.intgdc.com/gdc/account/login/e306b64fb4178785c9cf29c29b5e498a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":MphdX6kvLW-n7DJV84CCsQ:h0tEbvAa6DR2dEmsqcdRQQ"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Tries:
      - '0'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '14'
      X-Gdc-Request:
      - ":MphdX6kvLW-n7DJV84CCsQ:h0tEbvAa6DR2dEmsqcdRQQ:tBPGrD77KYGQ4Gvs"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 25 Jun 2020 03:18:28 GMT
recorded_with: VCR 5.0.0
