---
http_interactions:
- request:
    method: post
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"blueprint old date
        dimension"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:DrwBrAeBd4AXkIeRj7my_w"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '302'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:DrwBrAeBd4AXkIeRj7my_w:v4L7rL04it6NQGqB"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/h65dmqoe7bafe3eocjimnh57joqg3u93"}'
  recorded_at: Thu, 25 Jun 2020 03:16:51 GMT
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/h65dmqoe7bafe3eocjimnh57joqg3u93
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:wSR_SVuOGi_J92ClSTNRMg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '44'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:wSR_SVuOGi_J92ClSTNRMg:7Be8nQQ86al3cmni"
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/h65dmqoe7bafe3eocjimnh57joqg3u93/ldm?thumbnail=1","self":"/gdc/projects/h65dmqoe7bafe3eocjimnh57joqg3u93","clearCaches":"/gdc/projects/h65dmqoe7bafe3eocjimnh57joqg3u93/clearCaches","invitations":"/gdc/projects/h65dmqoe7bafe3eocjimnh57joqg3u93/invitations","users":"/gdc/projects/h65dmqoe7bafe3eocjimnh57joqg3u93/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/h65dmqoe7bafe3eocjimnh57joqg3u93/checkXaeCompatibility","uploads":"/gdc/projects/h65dmqoe7bafe3eocjimnh57joqg3u93/uploads/","ldm":"/gdc/projects/h65dmqoe7bafe3eocjimnh57joqg3u93/ldm","metadata":"/gdc/md/h65dmqoe7bafe3eocjimnh57joqg3u93","publicartifacts":"/gdc/projects/h65dmqoe7bafe3eocjimnh57joqg3u93/publicartifacts","roles":"/gdc/projects/h65dmqoe7bafe3eocjimnh57joqg3u93/roles","userRoles":"/gdc/projects/h65dmqoe7bafe3eocjimnh57joqg3u93/users/e306b64fb4178785c9cf29c29b5e498a/roles","userPermissions":"/gdc/projects/h65dmqoe7bafe3eocjimnh57joqg3u93/users/e306b64fb4178785c9cf29c29b5e498a/permissions","dataload":"/gdc/projects/h65dmqoe7bafe3eocjimnh57joqg3u93/dataload","connectors":"/gdc/projects/h65dmqoe7bafe3eocjimnh57joqg3u93/connectors","execute":"/gdc/projects/h65dmqoe7bafe3eocjimnh57joqg3u93/execute","config":"/gdc/projects/h65dmqoe7bafe3eocjimnh57joqg3u93/config","projectFeatureFlags":"/gdc/projects/h65dmqoe7bafe3eocjimnh57joqg3u93/projectFeatureFlags","schedules":"/gdc/projects/h65dmqoe7bafe3eocjimnh57joqg3u93/schedules","templates":"/gdc/md/h65dmqoe7bafe3eocjimnh57joqg3u93/templates"},"meta":{"created":"2020-06-25
        05:16:51","summary":"No summary","updated":"2020-06-25 05:16:51","author":"/gdc/account/profile/e306b64fb4178785c9cf29c29b5e498a","title":"blueprint
        old date dimension","contributor":"/gdc/account/profile/e306b64fb4178785c9cf29c29b5e498a"}}}'
  recorded_at: Thu, 25 Jun 2020 03:16:52 GMT
[...]
- request:
    method: post
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/h65dmqoe7bafe3eocjimnh57joqg3u93/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.person","title":"person","anchor":{"attribute":{"identifier":"attr.person.factsof","title":"Records
        of person","folder":"person","description":"Records of person"}},"attributes":[{"attribute":{"identifier":"attr.person.name","title":"name","folder":"person","labels":[{"label":{"identifier":"label.person.name","title":"name","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"name","defaultLabel":"label.person.name"}}],"facts":[{"fact":{"identifier":"fact.person.id","title":"id","folder":"person","dataType":"DECIMAL(12,2)","type":"fact","description":"id"}}],"references":["datecustom","dategooddata"],"bridges":[]}}],"dateDimensions":[{"dateDimension":{"name":"datecustom","urn":"urn:custom:date","title":"DateCustom","identifierPrefix":"datecustom","bridges":[]}},{"dateDimension":{"name":"dategooddata","urn":"urn:gooddata:date","title":"DateGooddata","identifierPrefix":"dategooddata","bridges":[]}}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:vC2TToXHQHB6aC6Eq2qZTQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/h65dmqoe7bafe3eocjimnh57joqg3u93/model/diff/406cb649cd71def7ffd8926d39a6590ef91378e0713afd5a00000010"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:vC2TToXHQHB6aC6Eq2qZTQ:xiHuDqgeWmwAMMXc"
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/h65dmqoe7bafe3eocjimnh57joqg3u93/model/diff/406cb649cd71def7ffd8926d39a6590ef91378e0713afd5a00000010"}}}'
  recorded_at: Thu, 25 Jun 2020 03:17:00 GMT
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/h65dmqoe7bafe3eocjimnh57joqg3u93/model/diff/406cb649cd71def7ffd8926d39a6590ef91378e0713afd5a00000010
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:uMBB89DX5suxqhDsZXn3og"
      Process:
      - 'false'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/h65dmqoe7bafe3eocjimnh57joqg3u93/model/diff/406cb649cd71def7ffd8926d39a6590ef91378e0713afd5a00000010"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '15'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:uMBB89DX5suxqhDsZXn3og:FxJjVPfS7qWNuHbx"
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/h65dmqoe7bafe3eocjimnh57joqg3u93/model/diff/406cb649cd71def7ffd8926d39a6590ef91378e0713afd5a00000010"}}}'
  recorded_at: Thu, 25 Jun 2020 03:17:01 GMT
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/h65dmqoe7bafe3eocjimnh57joqg3u93/model/diff/406cb649cd71def7ffd8926d39a6590ef91378e0713afd5a00000010
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:yFRKfmabNaN90cwkXAgwfQ"
      Process:
      - 'false'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '13'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:yFRKfmabNaN90cwkXAgwfQ:uoQo4R4iYPd0yuz8"
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"dataset.create","dataset":"dataset.person","destructive":false,"description":"Create
        dataset ''%s''","parameters":["person"]}},{"updateOperation":{"type":"date-dimension.create","destructive":false,"description":"Create
        date dimension ''%s''","parameters":["DateCustom"]}},{"updateOperation":{"type":"date-dimension.create","destructive":false,"description":"Create
        date dimension ''%s''","parameters":["DateGooddata"]}},{"updateOperation":{"type":"anchor.create","dataset":"dataset.person","destructive":false,"description":"Create
        anchor ''%s''","parameters":["Records of person"]}},{"updateOperation":{"type":"attribute.create","dataset":"dataset.person","destructive":false,"description":"Create
        attribute ''%s''","parameters":["name"]}},{"updateOperation":{"type":"fact.create","dataset":"dataset.person","destructive":false,"description":"Create
        fact ''%s''","parameters":["id"]}},{"updateOperation":{"type":"dataset.references.add.dd","dataset":"dataset.person","destructive":false,"description":"Add
        reference to date dimension ''%s''","parameters":["DateCustom"]}},{"updateOperation":{"type":"dataset.references.add.dd","dataset":"dataset.person","destructive":false,"description":"Add
        reference to date dimension ''%s''","parameters":["DateGooddata"]}}],"updateScripts":[{"updateScript":{"maqlDdl":"CREATE
        DATASET {dataset.person} VISUAL(TITLE \"person\");\nINCLUDE TEMPLATE \"urn:custom:date\"
        MODIFY (IDENTIFIER \"datecustom\", TITLE \"DateCustom\");\nINCLUDE TEMPLATE
        \"urn:gooddata:date\" MODIFY (IDENTIFIER \"dategooddata\", TITLE \"DateGooddata\");\nCREATE
        FOLDER {dim.person} VISUAL(TITLE \"person\") TYPE ATTRIBUTE;\nCREATE ATTRIBUTE
        {attr.person.factsof} VISUAL(TITLE \"Records of person\", DESCRIPTION \"Records
        of person\", FOLDER {dim.per[...]
[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/h65dmqoe7bafe3eocjimnh57joqg3u93
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:FY2UHyYqal6a3_mWApZrHg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '17'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:FY2UHyYqal6a3_mWApZrHg:kAc1FD6NPkrbhpTg"
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''h65dmqoe7bafe3eocjimnh57joqg3u93''","category":"project","instance":"h65dmqoe7bafe3eocjimnh57joqg3u93","links":[{"link":"/gdc/md/h65dmqoe7bafe3eocjimnh57joqg3u93/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/h65dmqoe7bafe3eocjimnh57joqg3u93/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/h65dmqoe7bafe3eocjimnh57joqg3u93/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","ca[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/h65dmqoe7bafe3eocjimnh57joqg3u93/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:2epkMs8WPPBZZUnCt_1Suw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Head[...]
- request:
    method: post
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/h65dmqoe7bafe3eocjimnh57joqg3u93/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.person} VISUAL(TITLE \"person\");\nINCLUDE
        TEMPLATE \"urn:custom:date\" MODIFY (IDENTIFIER \"datecustom\", TITLE \"DateCustom\");\nINCLUDE
        TEMPLATE \"urn:gooddata:date\" MODIFY (IDENTIFIER \"dategooddata\", TITLE
        \"DateGooddata\");\nCREATE FOLDER {dim.person} VISUAL(TITLE \"person\") TYPE
        ATTRIBUTE;\nCREATE ATTRIBUTE {attr.person.factsof} VISUAL(TITLE \"Records
        of person\", DESCRIPTION \"Records of person\", FOLDER {dim.person}) AS[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/h65dmqoe7bafe3eocjimnh57joqg3u93/tasks/563ee7e333cdf9aab22c3a33595d6dc300000070/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:Kt1hM4cwPc-q7M_erSQ7rw"
      Process:
      - 'true'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '21'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:Kt1hM4cwPc-q7M_erSQ7rw:fAE2iBHVs6vk2lvs"
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/h65dmqoe7bafe3eocjimnh57joqg3u93/tasks/563ee7e333cdf9aab22c3a33595d6dc300000070/status","status":"RUNNING","links":{"poll":"/gdc/md/h65dmqoe7bafe3eocjimnh57joqg3u93/tasks/563ee7e333cdf9aab22c3a33595d6dc300000070/status"}}}'
  recorded_at: Thu, 25 Jun 2020 03:17:08 GMT
[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/h65dmqoe7bafe3eocjimnh57joqg3u93/model/view?includeCA=true&includeDeprecated=true&includeGrain=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:8P91DWqLO0jxJn-UP2_8tg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/h65dmqoe7bafe3eocjimnh57joqg3u93/model/view/a08d85c0b6db7ce4cddee6dc3860c8a1f810b20f6a4a3fb000000010"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '15'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:8P91DWqLO0jxJn-UP2_8tg:8d8JEmUfAuJ7gdyS"
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/h65dmqoe7bafe3eocjimnh57joqg3u93/model/view/a08d85c0b6db7ce4cddee6dc3860c8a1f810b20f6a4a3fb000000010"}}}'
  recorded_at: Thu, 25 Jun 2020 03:17:17 GMT
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/h65dmqoe7bafe3eocjimnh57joqg3u93/model/view/a08d85c0b6db7ce4cddee6dc3860c8a1f810b20f6a4a3fb000000010
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:PIV2ZwLuJ2nqf9LFSuR-uA"
      Process:
      - 'false'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/h65dmqoe7bafe3eocjimnh57joqg3u93/model/view/a08d85c0b6db7ce4cddee6dc3860c8a1f810b20f6a4a3fb000000010"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '10'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:PIV2ZwLuJ2nqf9LFSuR-uA:Iapl0pMOkVagN7TD"
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/h65dmqoe7bafe3eocjimnh57joqg3u93/model/view/a08d85c0b6db7ce4cddee6dc3860c8a1f810b20f6a4a3fb000000010"}}}'
  recorded_at: Thu, 25 Jun 2020 03:17:19 GMT
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/h65dmqoe7bafe3eocjimnh57joqg3u93/model/view/a08d85c0b6db7ce4cddee6dc3860c8a1f810b20f6a4a3fb000000010
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:eU7BnNZ5JHqR66WxB_yDLw"
      Process:
      - 'false'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '14'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:eU7BnNZ5JHqR66WxB_yDLw:eSe3S0b5FDnuTsHz"
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelView":{"model":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.person","title":"person","anchor":{"attribute":{"identifier":"attr.person.factsof","title":"Records
        of person","description":"Records of person","folder":"person"}},"attributes":[{"attribute":{"identifier":"attr.person.name","title":"name","description":"name","folder":"person","labels":[{"label":{"identifier":"label.person.name","title":"name","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.person.name"}}],"facts":[{"fact":{"identifier":"fact.person.id","title":"id","description":"id","folder":"person","dataType":"DECIMAL(12,2)"}}],"references":["datecustom","dategooddata"],"production":true}}],"dateDimensions":[{"dateDimension":{"name":"datecustom","title":"DateCustom","production":true,"urn":"urn:custom:date","identifier":"datecustom.dataset.dt","identifierPrefix":"datecustom","bridges":[]}},{"dateDimension":{"name":"dategooddata","title":"DateGooddata","production":true,"urn":"urn:gooddata:date","identifier":"dategooddata.dataset.dt","identifierPrefix":"dategooddata","bridges":[]}}]}}}}'
  recorded_at: Thu, 25 Jun 2020 03:17:21 GMT
[...]
- request:
    method: post
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/h65dmqoe7bafe3eocjimnh57joqg3u93/datedimension/upgrade
    body:
      encoding: UTF-8
      string: '{"upgrade":{"dateDatasets":{"upgrade":"exact","datasets":["datecustom.dataset.dt"]}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:kB-sMl0PNeudFPrnedp9Lg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/h65dmqoe7bafe3eocjimnh57joqg3u93/tasks/eb313e5a91215508b29713db67adad5000000070/status"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '43'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:kB-sMl0PNeudFPrnedp9Lg:bNBGbyKqxAl0Ce4E"
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/md/h65dmqoe7bafe3eocjimnh57joqg3u93/tasks/eb313e5a91215508b29713db67adad5000000070/status"}}}'
  recorded_at: Thu, 25 Jun 2020 03:17:23 GMT
[...]
- request:
    method: delete
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/h65dmqoe7bafe3eocjimnh57joqg3u93
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:DXRDA1I5e-DrnrAhfLU5rQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '43'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:DXRDA1I5e-DrnrAhfLU5rQ:piQ4ZUzEoAjUB0vZ"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 25 Jun 2020 03:17:35 GMT
recorded_with: VCR 5.0.0
