---
http_interactions:
- request:
    method: post
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"blueprint old date
        dimension"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:k3FH1mcDEpQPhyqZiJSJ2Q"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '266'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:k3FH1mcDEpQPhyqZiJSJ2Q:cz6b3oCD7zrAdoo3"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/aui77mqa3lut910g4asgx5xion42tz39"}'
  recorded_at: Thu, 25 Jun 2020 03:17:37 GMT
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/aui77mqa3lut910g4asgx5xion42tz39
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:IGsHUEPhMs4gxKdTXZuavQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '44'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:IGsHUEPhMs4gxKdTXZuavQ:41PTObyy6jtREgKf"
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADING"},"links":{"ldm_thumbnail":"/gdc/projects/aui77mqa3lut910g4asgx5xion42tz39/ldm?thumbnail=1","self":"/gdc/projects/aui77mqa3lut910g4asgx5xion42tz39","clearCaches":"/gdc/projects/aui77mqa3lut910g4asgx5xion42tz39/clearCaches","invitations":"/gdc/projects/aui77mqa3lut910g4asgx5xion42tz39/invitations","users":"/gdc/projects/aui77mqa3lut910g4asgx5xion42tz39/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/aui77mqa3lut910g4asgx5xion42tz39/checkXaeCompatibility","uploads":"/gdc/projects/aui77mqa3lut910g4asgx5xion42tz39/uploads/","ldm":"/gdc/projects/aui77mqa3lut910g4asgx5xion42tz39/ldm","metadata":"/gdc/md/aui77mqa3lut910g4asgx5xion42tz39","publicartifacts":"/gdc/projects/aui77mqa3lut910g4asgx5xion42tz39/publicartifacts","roles":"/gdc/projects/aui77mqa3lut910g4asgx5xion42tz39/roles","userRoles":"/gdc/projects/aui77mqa3lut910g4asgx5xion42tz39/users/e306b64fb4178785c9cf29c29b5e498a/roles","userPermissions":"/gdc/projects/aui77mqa3lut910g4asgx5xion42tz39/users/e306b64fb4178785c9cf29c29b5e498a/permissions","dataload":"/gdc/projects/aui77mqa3lut910g4asgx5xion42tz39/dataload","connectors":"/gdc/projects/aui77mqa3lut910g4asgx5xion42tz39/connectors","execute":"/gdc/projects/aui77mqa3lut910g4asgx5xion42tz39/execute","config":"/gdc/projects/aui77mqa3lut910g4asgx5xion42tz39/config","projectFeatureFlags":"/gdc/projects/aui77mqa3lut910g4asgx5xion42tz39/projectFeatureFlags","schedules":"/gdc/projects/aui77mqa3lut910g4asgx5xion42tz39/schedules","templates":"/gdc/md/aui77mqa3lut910g4asgx5xion42tz39/templates"},"meta":{"created":"2020-06-25
        05:17:36","summary":"No summary","updated":"2020-06-25 05:17:37","author":"/gdc/account/profile/e306b64fb4178785c9cf29c29b5e498a","title":"blueprint
        old date dimension","contributor":"/gdc/account/profile/e306b64fb4178785c9cf29c29b5e498a"}}}'
  recorded_at: Thu, 25 Jun 2020 03:17:38 GMT
[...]
- request:
    method: post
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/aui77mqa3lut910g4asgx5xion42tz39/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.person","title":"person","anchor":{"attribute":{"identifier":"attr.person.factsof","title":"Records
        of person","folder":"person","description":"Records of person"}},"attributes":[{"attribute":{"identifier":"attr.person.name","title":"name","folder":"person","labels":[{"label":{"identifier":"label.person.name","title":"name","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"name","defaultLabel":"label.person.name"}}],"facts":[{"fact":{"identifier":"fact.person.id","title":"id","folder":"person","dataType":"DECIMAL(12,2)","type":"fact","description":"id"}}],"references":["datecustom","dategooddata"],"bridges":[]}}],"dateDimensions":[{"dateDimension":{"name":"datecustom","urn":"urn:custom:date","title":"DateCustom","identifierPrefix":"datecustom","bridges":[]}},{"dateDimension":{"name":"dategooddata","urn":"urn:gooddata:date","title":"DateGooddata","identifierPrefix":"dategooddata","bridges":[]}}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:W9zMwwWVSNQBU7vILkEYaQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/aui77mqa3lut910g4asgx5xion42tz39/model/diff/b29a29a22c4b1b82a0187eca608dce48bb53a87a593e483300000010"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '32'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:W9zMwwWVSNQBU7vILkEYaQ:HvKhVjPNrY1USUGN"
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/aui77mqa3lut910g4asgx5xion42tz39/model/diff/b29a29a22c4b1b82a0187eca608dce48bb53a87a593e483300000010"}}}'
  recorded_at: Thu, 25 Jun 2020 03:17:46 GMT
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/aui77mqa3lut910g4asgx5xion42tz39/model/diff/b29a29a22c4b1b82a0187eca608dce48bb53a87a593e483300000010
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:NC17NVcHVTL_z6acI4fl_w"
      Process:
      - 'false'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/aui77mqa3lut910g4asgx5xion42tz39/model/diff/b29a29a22c4b1b82a0187eca608dce48bb53a87a593e483300000010"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '14'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:NC17NVcHVTL_z6acI4fl_w:M9f1pdbrqszME0dU"
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/aui77mqa3lut910g4asgx5xion42tz39/model/diff/b29a29a22c4b1b82a0187eca608dce48bb53a87a593e483300000010"}}}'
  recorded_at: Thu, 25 Jun 2020 03:17:47 GMT
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/aui77mqa3lut910g4asgx5xion42tz39/model/diff/b29a29a22c4b1b82a0187eca608dce48bb53a87a593e483300000010
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:Sey1tpg5IvLW8mVmCJlBSQ"
      Process:
      - 'false'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '11'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:Sey1tpg5IvLW8mVmCJlBSQ:wKdJEyrgy7jKrycv"
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"dataset.create","dataset":"dataset.person","destructive":false,"description":"Create
        dataset ''%s''","parameters":["person"]}},{"updateOperation":{"type":"date-dimension.create","destructive":false,"description":"Create
        date dimension ''%s''","parameters":["DateCustom"]}},{"updateOperation":{"type":"date-dimension.create","destructive":false,"description":"Create
        date dimension ''%s''","parameters":["DateGooddata"]}},{"updateOperation":{"type":"anchor.create","dataset":"dataset.person","destructive":false,"description":"Create
        anchor ''%s''","parameters":["Records of person"]}},{"updateOperation":{"type":"attribute.create","dataset":"dataset.person","destructive":false,"description":"Create
        attribute ''%s''","parameters":["name"]}},{"updateOperation":{"type":"fact.create","dataset":"dataset.person","destructive":false,"description":"Create
        fact ''%s''","parameters":["id"]}},{"updateOperation":{"type":"dataset.references.add.dd","dataset":"dataset.person","destructive":false,"description":"Add
        reference to date dimension ''%s''","parameters":["DateCustom"]}},{"updateOperation":{"type":"dataset.references.add.dd","dataset":"dataset.person","destructive":false,"description":"Add
        reference to date dimension ''%s''","parameters":["DateGooddata"]}}],"updateScripts":[{"updateScript":{"maqlDdl":"CREATE
        DATASET {dataset.person} VISUAL(TITLE \"person\");\nINCLUDE TEMPLATE \"urn:custom:date\"
        MODIFY (IDENTIFIER \"datecustom\", TITLE \"DateCustom\");\nINCLUDE TEMPLATE
        \"urn:gooddata:date\" MODIFY (IDENTIFIER \"dategooddata\", TITLE \"DateGooddata\");\nCREATE
        FOLDER {dim.person} VISUAL(TITLE \"person\") TYPE ATTRIBUTE;\nCREATE ATTRIBUTE
        {attr.person.factsof} VISUAL(TITLE \"Records of person\", DESCRIPTION \"Records
        of person\", FOLDER {dim.per[...]
[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/aui77mqa3lut910g4asgx5xion42tz39
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:CzqobH16aqvmsb7ud9bhig"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:CzqobH16aqvmsb7ud9bhig:2FX3xOyriLEAat2C"
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''aui77mqa3lut910g4asgx5xion42tz39''","category":"project","instance":"aui77mqa3lut910g4asgx5xion42tz39","links":[{"link":"/gdc/md/aui77mqa3lut910g4asgx5xion42tz39/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/aui77mqa3lut910g4asgx5xion42tz39/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/aui77mqa3lut910g4asgx5xion42tz39/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","ca[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/aui77mqa3lut910g4asgx5xion42tz39/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:t3ko-CF-32icSWVoQKTnuw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Head[...]
- request:
    method: post
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/aui77mqa3lut910g4asgx5xion42tz39/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.person} VISUAL(TITLE \"person\");\nINCLUDE
        TEMPLATE \"urn:custom:date\" MODIFY (IDENTIFIER \"datecustom\", TITLE \"DateCustom\");\nINCLUDE
        TEMPLATE \"urn:gooddata:date\" MODIFY (IDENTIFIER \"dategooddata\", TITLE
        \"DateGooddata\");\nCREATE FOLDER {dim.person} VISUAL(TITLE \"person\") TYPE
        ATTRIBUTE;\nCREATE ATTRIBUTE {attr.person.factsof} VISUAL(TITLE \"Records
        of person\", DESCRIPTION \"Records of person\", FOLDER {dim.person}) AS[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/aui77mqa3lut910g4asgx5xion42tz39/tasks/7d0b1ba0a8bd3b75e48bdcfcc123929800000070/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:uzw4krwTSbKd1gupA_02bQ"
      Process:
      - 'true'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '20'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:uzw4krwTSbKd1gupA_02bQ:VcQ5Rq91TVADabp2"
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/aui77mqa3lut910g4asgx5xion42tz39/tasks/7d0b1ba0a8bd3b75e48bdcfcc123929800000070/status","status":"RUNNING","links":{"poll":"/gdc/md/aui77mqa3lut910g4asgx5xion42tz39/tasks/7d0b1ba0a8bd3b75e48bdcfcc123929800000070/status"}}}'
  recorded_at: Thu, 25 Jun 2020 03:17:54 GMT
[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/aui77mqa3lut910g4asgx5xion42tz39/model/view?includeCA=true&includeDeprecated=true&includeGrain=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:BTNpbHHEgRdkQQALmp63PA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/aui77mqa3lut910g4asgx5xion42tz39/model/view/49fb9842eff47f69d1512659c4d1e7a0722355f59dffc84900000010"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '14'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:BTNpbHHEgRdkQQALmp63PA:D3KtnacmRqSrEKUL"
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/aui77mqa3lut910g4asgx5xion42tz39/model/view/49fb9842eff47f69d1512659c4d1e7a0722355f59dffc84900000010"}}}'
  recorded_at: Thu, 25 Jun 2020 03:18:02 GMT
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/aui77mqa3lut910g4asgx5xion42tz39/model/view/49fb9842eff47f69d1512659c4d1e7a0722355f59dffc84900000010
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:0__MCPit_dvznr7a06WCow"
      Process:
      - 'false'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/aui77mqa3lut910g4asgx5xion42tz39/model/view/49fb9842eff47f69d1512659c4d1e7a0722355f59dffc84900000010"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '12'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:0__MCPit_dvznr7a06WCow:X28L9rcXtK5gaJfb"
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/aui77mqa3lut910g4asgx5xion42tz39/model/view/49fb9842eff47f69d1512659c4d1e7a0722355f59dffc84900000010"}}}'
  recorded_at: Thu, 25 Jun 2020 03:18:03 GMT
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/aui77mqa3lut910g4asgx5xion42tz39/model/view/49fb9842eff47f69d1512659c4d1e7a0722355f59dffc84900000010
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:XaZ31ZelLRktsU3BiwpXqg"
      Process:
      - 'false'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '12'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:XaZ31ZelLRktsU3BiwpXqg:3qUEDq6vlbh7DDuz"
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelView":{"model":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.person","title":"person","anchor":{"attribute":{"identifier":"attr.person.factsof","title":"Records
        of person","description":"Records of person","folder":"person"}},"attributes":[{"attribute":{"identifier":"attr.person.name","title":"name","description":"name","folder":"person","labels":[{"label":{"identifier":"label.person.name","title":"name","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.person.name"}}],"facts":[{"fact":{"identifier":"fact.person.id","title":"id","description":"id","folder":"person","dataType":"DECIMAL(12,2)"}}],"references":["datecustom","dategooddata"],"production":true}}],"dateDimensions":[{"dateDimension":{"name":"datecustom","title":"DateCustom","production":true,"urn":"urn:custom:date","identifier":"datecustom.dataset.dt","identifierPrefix":"datecustom","bridges":[]}},{"dateDimension":{"name":"dategooddata","title":"DateGooddata","production":true,"urn":"urn:gooddata:date","identifier":"dategooddata.dataset.dt","identifierPrefix":"dategooddata","bridges":[]}}]}}}}'
  recorded_at: Thu, 25 Jun 2020 03:18:05 GMT
[...]
- request:
    method: post
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/aui77mqa3lut910g4asgx5xion42tz39/datedimension/upgrade
    body:
      encoding: UTF-8
      string: '{"upgrade":{"dateDatasets":{"upgrade":"exact","datasets":["datecustom.dataset.dt","dategooddata.dataset.dt"]}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:WlUysZzu-coQYpHCqM9Q1w"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/aui77mqa3lut910g4asgx5xion42tz39/tasks/3826210d7fa6384a6d34f8254421ab1a00000070/status"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '76'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:WlUysZzu-coQYpHCqM9Q1w:VZTyz5PFh3FelLkY"
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/md/aui77mqa3lut910g4asgx5xion42tz39/tasks/3826210d7fa6384a6d34f8254421ab1a00000070/status"}}}'
  recorded_at: Thu, 25 Jun 2020 03:18:08 GMT
[...]
- request:
    method: delete
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/aui77mqa3lut910g4asgx5xion42tz39
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:FfflFdDJwc09xvkHQ_A82A"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '41'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:FfflFdDJwc09xvkHQ_A82A:mxJUcTeCBhLp0xwN"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 25 Jun 2020 03:18:28 GMT
recorded_with: VCR 5.0.0
