---
http_interactions:
- request:
    method: post
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"blueprint old date
        dimension"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:n7MVlTqcRPg1imXHZMhe0A"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '296'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:n7MVlTqcRPg1imXHZMhe0A:LNDDmiBgEiKEac8B"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/ray11s1v5l7ktih3q869p84bz3jjtjj2"}'
  recorded_at: Thu, 25 Jun 2020 03:15:59 GMT
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/ray11s1v5l7ktih3q869p84bz3jjtjj2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:u8tRuoL1g_dcgMcMhL_qsg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '41'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:u8tRuoL1g_dcgMcMhL_qsg:rQyLUEXbTiSbo6Y1"
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/ray11s1v5l7ktih3q869p84bz3jjtjj2/ldm?thumbnail=1","self":"/gdc/projects/ray11s1v5l7ktih3q869p84bz3jjtjj2","clearCaches":"/gdc/projects/ray11s1v5l7ktih3q869p84bz3jjtjj2/clearCaches","invitations":"/gdc/projects/ray11s1v5l7ktih3q869p84bz3jjtjj2/invitations","users":"/gdc/projects/ray11s1v5l7ktih3q869p84bz3jjtjj2/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/ray11s1v5l7ktih3q869p84bz3jjtjj2/checkXaeCompatibility","uploads":"/gdc/projects/ray11s1v5l7ktih3q869p84bz3jjtjj2/uploads/","ldm":"/gdc/projects/ray11s1v5l7ktih3q869p84bz3jjtjj2/ldm","metadata":"/gdc/md/ray11s1v5l7ktih3q869p84bz3jjtjj2","publicartifacts":"/gdc/projects/ray11s1v5l7ktih3q869p84bz3jjtjj2/publicartifacts","roles":"/gdc/projects/ray11s1v5l7ktih3q869p84bz3jjtjj2/roles","userRoles":"/gdc/projects/ray11s1v5l7ktih3q869p84bz3jjtjj2/users/e306b64fb4178785c9cf29c29b5e498a/roles","userPermissions":"/gdc/projects/ray11s1v5l7ktih3q869p84bz3jjtjj2/users/e306b64fb4178785c9cf29c29b5e498a/permissions","dataload":"/gdc/projects/ray11s1v5l7ktih3q869p84bz3jjtjj2/dataload","connectors":"/gdc/projects/ray11s1v5l7ktih3q869p84bz3jjtjj2/connectors","execute":"/gdc/projects/ray11s1v5l7ktih3q869p84bz3jjtjj2/execute","config":"/gdc/projects/ray11s1v5l7ktih3q869p84bz3jjtjj2/config","projectFeatureFlags":"/gdc/projects/ray11s1v5l7ktih3q869p84bz3jjtjj2/projectFeatureFlags","schedules":"/gdc/projects/ray11s1v5l7ktih3q869p84bz3jjtjj2/schedules","templates":"/gdc/md/ray11s1v5l7ktih3q869p84bz3jjtjj2/templates"},"meta":{"created":"2020-06-25
        05:15:59","summary":"No summary","updated":"2020-06-25 05:15:59","author":"/gdc/account/profile/e306b64fb4178785c9cf29c29b5e498a","title":"blueprint
        old date dimension","contributor":"/gdc/account/profile/e306b64fb4178785c9cf29c29b5e498a"}}}'
  recorded_at: Thu, 25 Jun 2020 03:16:00 GMT
[...]
- request:
    method: post
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/ray11s1v5l7ktih3q869p84bz3jjtjj2/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.person","title":"person","anchor":{"attribute":{"identifier":"attr.person.factsof","title":"Records
        of person","folder":"person","description":"Records of person"}},"attributes":[{"attribute":{"identifier":"attr.person.name","title":"name","folder":"person","labels":[{"label":{"identifier":"label.person.name","title":"name","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"name","defaultLabel":"label.person.name"}}],"facts":[{"fact":{"identifier":"fact.person.id","title":"id","folder":"person","dataType":"DECIMAL(12,2)","type":"fact","description":"id"}}],"references":["datecustom","dategooddata"],"bridges":[]}}],"dateDimensions":[{"dateDimension":{"name":"datecustom","urn":"urn:custom:date","title":"DateCustom","identifierPrefix":"datecustom","bridges":[]}},{"dateDimension":{"name":"dategooddata","urn":"urn:gooddata:date","title":"DateGooddata","identifierPrefix":"dategooddata","bridges":[]}}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:3iOq-YyX0lpFBn6T8BdFTA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/ray11s1v5l7ktih3q869p84bz3jjtjj2/model/diff/9af463832b17749e514e7e890401c259dd4d4e4d41ec72d100000010"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '18'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:3iOq-YyX0lpFBn6T8BdFTA:itbQ9wwnrMYSeZ6g"
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/ray11s1v5l7ktih3q869p84bz3jjtjj2/model/diff/9af463832b17749e514e7e890401c259dd4d4e4d41ec72d100000010"}}}'
  recorded_at: Thu, 25 Jun 2020 03:16:08 GMT
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/ray11s1v5l7ktih3q869p84bz3jjtjj2/model/diff/9af463832b17749e514e7e890401c259dd4d4e4d41ec72d100000010
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:NpCbvGAy1D1s2ts4IQSE9g"
      Process:
      - 'false'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/ray11s1v5l7ktih3q869p84bz3jjtjj2/model/diff/9af463832b17749e514e7e890401c259dd4d4e4d41ec72d100000010"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '18'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:NpCbvGAy1D1s2ts4IQSE9g:UsaLdHCwEmiBmRoZ"
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/ray11s1v5l7ktih3q869p84bz3jjtjj2/model/diff/9af463832b17749e514e7e890401c259dd4d4e4d41ec72d100000010"}}}'
  recorded_at: Thu, 25 Jun 2020 03:16:09 GMT
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/ray11s1v5l7ktih3q869p84bz3jjtjj2/model/diff/9af463832b17749e514e7e890401c259dd4d4e4d41ec72d100000010
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:mI1QbVsbS8eA0cvYZqPdcQ"
      Process:
      - 'false'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '14'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:mI1QbVsbS8eA0cvYZqPdcQ:yg2tKWGnekG791Va"
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"dataset.create","dataset":"dataset.person","destructive":false,"description":"Create
        dataset ''%s''","parameters":["person"]}},{"updateOperation":{"type":"date-dimension.create","destructive":false,"description":"Create
        date dimension ''%s''","parameters":["DateCustom"]}},{"updateOperation":{"type":"date-dimension.create","destructive":false,"description":"Create
        date dimension ''%s''","parameters":["DateGooddata"]}},{"updateOperation":{"type":"anchor.create","dataset":"dataset.person","destructive":false,"description":"Create
        anchor ''%s''","parameters":["Records of person"]}},{"updateOperation":{"type":"attribute.create","dataset":"dataset.person","destructive":false,"description":"Create
        attribute ''%s''","parameters":["name"]}},{"updateOperation":{"type":"fact.create","dataset":"dataset.person","destructive":false,"description":"Create
        fact ''%s''","parameters":["id"]}},{"updateOperation":{"type":"dataset.references.add.dd","dataset":"dataset.person","destructive":false,"description":"Add
        reference to date dimension ''%s''","parameters":["DateCustom"]}},{"updateOperation":{"type":"dataset.references.add.dd","dataset":"dataset.person","destructive":false,"description":"Add
        reference to date dimension ''%s''","parameters":["DateGooddata"]}}],"updateScripts":[{"updateScript":{"maqlDdl":"CREATE
        DATASET {dataset.person} VISUAL(TITLE \"person\");\nINCLUDE TEMPLATE \"urn:custom:date\"
        MODIFY (IDENTIFIER \"datecustom\", TITLE \"DateCustom\");\nINCLUDE TEMPLATE
        \"urn:gooddata:date\" MODIFY (IDENTIFIER \"dategooddata\", TITLE \"DateGooddata\");\nCREATE
        FOLDER {dim.person} VISUAL(TITLE \"person\") TYPE ATTRIBUTE;\nCREATE ATTRIBUTE
        {attr.person.factsof} VISUAL(TITLE \"Records of person\", DESCRIPTION \"Records
        of person\", FOLDER {dim.per[...]
[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/ray11s1v5l7ktih3q869p84bz3jjtjj2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:UDCsuTSM1NEPG05-uV6Sbw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '17'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:UDCsuTSM1NEPG05-uV6Sbw:nC1pL2Qh44skzChs"
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''ray11s1v5l7ktih3q869p84bz3jjtjj2''","category":"project","instance":"ray11s1v5l7ktih3q869p84bz3jjtjj2","links":[{"link":"/gdc/md/ray11s1v5l7ktih3q869p84bz3jjtjj2/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/ray11s1v5l7ktih3q869p84bz3jjtjj2/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/ray11s1v5l7ktih3q869p84bz3jjtjj2/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","ca[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/ray11s1v5l7ktih3q869p84bz3jjtjj2/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:H_8VJv3-0GWnCLXhRJreQA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Head[...]
- request:
    method: post
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/ray11s1v5l7ktih3q869p84bz3jjtjj2/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.person} VISUAL(TITLE \"person\");\nINCLUDE
        TEMPLATE \"urn:custom:date\" MODIFY (IDENTIFIER \"datecustom\", TITLE \"DateCustom\");\nINCLUDE
        TEMPLATE \"urn:gooddata:date\" MODIFY (IDENTIFIER \"dategooddata\", TITLE
        \"DateGooddata\");\nCREATE FOLDER {dim.person} VISUAL(TITLE \"person\") TYPE
        ATTRIBUTE;\nCREATE ATTRIBUTE {attr.person.factsof} VISUAL(TITLE \"Records
        of person\", DESCRIPTION \"Records of person\", FOLDER {dim.person}) AS[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/ray11s1v5l7ktih3q869p84bz3jjtjj2/tasks/29eec1a6e17fa3df9910e0136a01941200000070/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:E4MIpT6rQzIEJpjlXFQxug"
      Process:
      - 'true'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '21'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:E4MIpT6rQzIEJpjlXFQxug:agpVdwF46canHVSs"
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/ray11s1v5l7ktih3q869p84bz3jjtjj2/tasks/29eec1a6e17fa3df9910e0136a01941200000070/status","status":"RUNNING","links":{"poll":"/gdc/md/ray11s1v5l7ktih3q869p84bz3jjtjj2/tasks/29eec1a6e17fa3df9910e0136a01941200000070/status"}}}'
  recorded_at: Thu, 25 Jun 2020 03:16:16 GMT
[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/ray11s1v5l7ktih3q869p84bz3jjtjj2/model/view?includeCA=true&includeDeprecated=true&includeGrain=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:A04HXCuMirsxqlNdaGKR6g"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/ray11s1v5l7ktih3q869p84bz3jjtjj2/model/view/f3c5e3085573e4dd35508e4cf3df1825202f3247cc9f716c00000010"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '13'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:A04HXCuMirsxqlNdaGKR6g:t1vRwEbuYYbSB3C9"
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/ray11s1v5l7ktih3q869p84bz3jjtjj2/model/view/f3c5e3085573e4dd35508e4cf3df1825202f3247cc9f716c00000010"}}}'
  recorded_at: Thu, 25 Jun 2020 03:16:24 GMT
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/ray11s1v5l7ktih3q869p84bz3jjtjj2/model/view/f3c5e3085573e4dd35508e4cf3df1825202f3247cc9f716c00000010
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:lOMlR-vtOnPBYhLJynMAZA"
      Process:
      - 'false'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/ray11s1v5l7ktih3q869p84bz3jjtjj2/model/view/f3c5e3085573e4dd35508e4cf3df1825202f3247cc9f716c00000010"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '11'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:lOMlR-vtOnPBYhLJynMAZA:8MrFFrEcAqYXaDZi"
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/ray11s1v5l7ktih3q869p84bz3jjtjj2/model/view/f3c5e3085573e4dd35508e4cf3df1825202f3247cc9f716c00000010"}}}'
  recorded_at: Thu, 25 Jun 2020 03:16:25 GMT
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/ray11s1v5l7ktih3q869p84bz3jjtjj2/model/view/f3c5e3085573e4dd35508e4cf3df1825202f3247cc9f716c00000010
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:9dhN97E7EIXnUGsV2nxYWA"
      Process:
      - 'false'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '13'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:9dhN97E7EIXnUGsV2nxYWA:AdNNyeiVnXho8MIl"
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelView":{"model":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.person","title":"person","anchor":{"attribute":{"identifier":"attr.person.factsof","title":"Records
        of person","description":"Records of person","folder":"person"}},"attributes":[{"attribute":{"identifier":"attr.person.name","title":"name","description":"name","folder":"person","labels":[{"label":{"identifier":"label.person.name","title":"name","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.person.name"}}],"facts":[{"fact":{"identifier":"fact.person.id","title":"id","description":"id","folder":"person","dataType":"DECIMAL(12,2)"}}],"references":["datecustom","dategooddata"],"production":true}}],"dateDimensions":[{"dateDimension":{"name":"datecustom","title":"DateCustom","production":true,"urn":"urn:custom:date","identifier":"datecustom.dataset.dt","identifierPrefix":"datecustom","bridges":[]}},{"dateDimension":{"name":"dategooddata","title":"DateGooddata","production":true,"urn":"urn:gooddata:date","identifier":"dategooddata.dataset.dt","identifierPrefix":"dategooddata","bridges":[]}}]}}}}'
  recorded_at: Thu, 25 Jun 2020 03:16:27 GMT
[...]
- request:
    method: post
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/ray11s1v5l7ktih3q869p84bz3jjtjj2/datedimension/upgrade
    body:
      encoding: UTF-8
      string: '{"upgrade":{"dateDatasets":{"upgrade":"all"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:gZWaW_ZKPhgfGCOkQHzODQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/ray11s1v5l7ktih3q869p84bz3jjtjj2/tasks/0b36fa8bd1a96b353066715e60e3a79a00000070/status"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '64'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:gZWaW_ZKPhgfGCOkQHzODQ:AayLNNE87ml2FioT"
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/md/ray11s1v5l7ktih3q869p84bz3jjtjj2/tasks/0b36fa8bd1a96b353066715e60e3a79a00000070/status"}}}'
  recorded_at: Thu, 25 Jun 2020 03:16:29 GMT
[...]
- request:
    method: delete
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/ray11s1v5l7ktih3q869p84bz3jjtjj2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:IpbEPfq4HR_7T_n3MztAiQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '41'
      X-Gdc-Request:
      - ":AOhLQcCPnFYpvbcALguZmw:IpbEPfq4HR_7T_n3MztAiQ:nh2S1o7rFtaxCLvz"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 25 Jun 2020 03:16:50 GMT
recorded_with: VCR 5.0.0
