---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/fv57rgza7vwmw2owv300fdapp78i49ld/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:h_YueiVXIdPXG9sNkN5BMQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '44'
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:h_YueiVXIdPXG9sNkN5BMQ:XyZsQrZb6m0pcjh6"
    body:
      encoding: ASCII-8BIT
      string: '{"internalProjectRoles":{"links":{"project":"/gdc/projects/fv57rgza7vwmw2owv300fdapp78i49ld"},"roles":[{"projectRole":{"permissions":{"canManageAnalyticalDashboard":"1","canCreateTableDataLoad":"0","canCreateHelp":"0","canManageReport":"1","canManagePublicAccessCode":"0","canManageExecutionContext":"1","canManageETLFile":"1","canManageAttributeGroup":"0","canListInvitationsInProject":"0","canSetProjectVariables":"0","canExportFromADS":"0","canCreatePrompt":"0","canEnrichData":"1","canManageCustomDataset":"0","canCreateVisualizationClass":"0","canCreateExecutionContext":"1","canValidateProject":"0","canManageComment":"1","canMaintainUserFilter":"0","canCreateColumn":"0","canMaintainProject":"0","canCreateFilterSettings":"1","canCreateVisualization":"1","canAssignUserWithRole":"0","canExecuteRaw":"1","canManageDomain":"1","canManageFolder":"1","canManageTable":"0","canManageProject":"0","canManageACL":"1","canListUsersInProject":"1","canManageColumn":"0","canSuspendUserFromProject":"0","canExportReport":"1","canSeePublicAccessCode":"0","canCreateFolder":"1","canCreateAnalyticalDashboard":"1","canManageAttribute":"0","canCreateAttribute":"0","canManageIsProduction":"0","canCreateReportDefinition":"1","canManageAttributeLabel":"0","canManageScheduledMail":"1","canCreateProjectTemplates":"0","canSetStyle":"0","canCreateETLFile":"1","canCreateAttributeLabel":"0","canCreateDomain":"1","canCreateScheduledMail":"1","canManageTranslations":"0","canManageFilterSettings":"1","canSetUserVariables":"0","canManageProjectDashboard":"1","canManageHelp":"0","canCreateFact":"0","canCreateProjectDashboard":"1","canInviteUserToProject":"0","canCreateAttributeGroup":"0","canManageMetric":"1","canSeeOtherUserDetails":"1","canCreateDataSet":"0","canCreateRole":"0","canManageFact":"0","canManageDataSet":"0","canCreateTable":"0","canExecute":"1","canRefreshData":"1","canInitData":"0","canAccessIntegration":"1","canMaintainUserFilterRelation":"0","canCreateComment":"1","canManageIntegration":"0","canAccessWorkbench":"1","canUploadNonProductionCSV":"1","canManageVisualization":"1","canManageTableDataLoad":"0","canCreateReport":"1","canCreateMetric":"1","canSetLocale":"0","canManagePrompt":"0","canManageReportDefinition":"1","canExportDashboard":"1"},"meta":{"updated":"2022-10-11
        09:14:48","summary":"invited user","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","created":"2022-10-11
        09:14:48","title":"Editor","identifier":"editorRole","uri":"/gdc/projects/fv57rgza7vwmw2owv300fdapp78i49ld/roles/5","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"projectRole":{"permissions":{"canManageFolder":"1","canExecuteRaw":"1","canManageDomain":"1","canManageTable":"1","canManageProject":"1","canSuspendUserFromProject":"1","canManageColumn":"1","canExportReport":"1","canListUsersInProject":"1","canManageACL":"0","canSeePublicAccessCode":"0","canCreateAnalyticalDashboard":"1","canCreateFolder":"1","canManageIsProduction":"1","canCreateAttribute":"1","canManageAttribute":"1","canCreateTable[...]
