---
layout: default
title: Examples | GoodData Ruby SDK
---
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div style="margin-left: 20px;">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="{{ site.url }}">
      <img src="{{ site.url }}/images/header-logo.png" alt="GoodData Labs" width="24" height="24">
      GoodData<span style="color: #dc2020;">Ruby
</a>      
      <div class="nav-collapse collapse container" style="auto; margin-right: auto; width: 70%;">
        <ul class="nav">
          <li class="">
            <a href="{{ site.url }}/get-started">Get Started</a>
          </li>
          <li class="active">
            <a href="{{ site.url }}/examples">Examples</a>
          </li>
          <li class="">
            <a href="{{ site.url }}/ask">Ask</a>
          </li>
         </ul>
      </div>
    </div>
  </div>
</div>
<div class="container-narrow">
  <h2> Examples</h2>
  <p>Each example is a 10-15 minute guide to performing a given task. The examples assume you have basic knowledge of Ruby and the GoodData SDK. No example is dependant on another so they can be taken seperately or together.</p>
  <br />
   <ul class="tabs" data-persist="true" style="background-color: light-grey;">
    <li><a href="#general">General</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#attributes">Attributes</a></li>
    <li><a href="#metrics">Metrics</a></li>
    <li><a href="#facts">Facts</a></li>
    <li><a href="#filters">Filters</a></li>
</ul>
<div class="tabcontents" style="margin-bottom: 0px;">

    <!-- Tab General -->
    <div id="general">
          <ul class="posts">
        {% for post in site.posts reversed %}
          {% if post.categories contains 'general' %}
          <div>
            <a href="{{ site.url }}{{ post.url }}"><h3>{{ post.title }}</h3></a>
            <div>{{ post.perex }}</div>
          </div>
        {% endif %}
        {% endfor %}
        </ul>
    </div>

    <!-- Tab Projects -->
    <div id="projects">
        <ul class="posts">
        {% for post in site.posts reversed %}
          {% if post.categories contains 'project' %}
          <div>
            <a href="{{ site.url }}{{ post.url }}"><h3>{{ post.title }}</h3></a>
            <div>{{ post.perex }}</div>
          </div>
        {% endif %}
        {% endfor %}
        </ul>
    </div>

    <!-- Tab Attributes -->
    <div id="attributes">
        <ul class="posts">
        {% for post in site.posts reversed %}
          {% if post.categories contains 'attribute' %}
          <div>
            <a href="{{ site.url }}{{ post.url }}"><h3>{{ post.title }}</h3></a>
            <div>{{ post.perex }}</div>
          </div>
        {% endif %}
        {% endfor %}
        </ul>
    </div>

    <!-- Tab Metrics -->
    <div id="metrics">
          <ul class="posts">
        {% for post in site.posts reversed %}
          {% if post.categories contains 'metric' %}
          <div>
            <a href="{{ site.url }}{{ post.url }}"><h3>{{ post.title }}</h3></a>
            <div>{{ post.perex }}</div>
          </div>
        {% endif %}
        {% endfor %}
          </ul>
    </div>

    <div id="facts">
           <ul class="posts">
        {% for post in site.posts reversed %}
          {% if post.categories contains 'fact' %}
          <div>
            <a href="{{ site.url }}{{ post.url }}"><h3>{{ post.title }}</h3></a>
            <div>{{ post.perex }}</div>
          </div>
        {% endif %}
        {% endfor %}
          </ul>
    </div>

    <div id="filters">
           <ul class="posts">
        {% for post in site.posts reversed %}
          {% if post.categories contains 'filter' %}
          <div>
            <a href="{{ site.url }}{{ post.url }}"><h3>{{ post.title }}</h3></a>
            <div>{{ post.perex }}</div>
          </div>
        {% endif %}
        {% endfor %}
          </ul>
    </div>
</div>
</div>