---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:jy58IauZr85nM5VQaz5BHg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:jy58IauZr85nM5VQaz5BHg:9pKYRAZU28FGH9A5
      X-Gdc-Request-Time:
      - '54'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/ldm?thumbnail=1","self":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i","clearCaches":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/clearCaches","invitations":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/invitations","users":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/uploads/","ldm":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/ldm","metadata":"/gdc/md/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i","publicartifacts":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/publicartifacts","roles":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/roles","userRoles":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/dataload","connectors":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/connectors","execute":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/execute","config":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/config","projectFeatureFlags":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/projectFeatureFlags","schedules":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/schedules","templates":"/gdc/md/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/templates","eventstores":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/dataload/eventstore/stores"},"meta":{"created":"2018-06-04
        14:18:30","summary":"No summary","updated":"2018-06-04 14:18:30","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"RubyGem
        Dev Week test","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Mon, 04 Jun 2018 12:18:31 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:BjHWdXfiUpAADdjAESesOw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:BjHWdXfiUpAADdjAESesOw:kJainWpzQp83hfnE
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/ldm?thumbnail=1","self":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i","clearCaches":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/clearCaches","invitations":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/invitations","users":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/nk8ik3xfcjwvuexnh[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"This is
        anchor description","defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"some_attr_id","title":"Repository
        Name","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_attr_label_id","title":"Repository
        Name","type":"GDC.text","dataType":"VARCHAR(10000)"}}],"defaultLabel":"some_attr_label_id"}}],"facts":[],"references":[]}},{"dataset":{"identifier":"dataset.devs","title":"Developers","anchor":{"attribute":{"identifier":"attr.devs.dev_id","title":"Dev","folder":"Anchor
        folder","labels":[{"label":{"identifier":"label.devs.dev_id.id","title":"Id","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.devs.dev_id.email","title":"Email","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.devs.dev_id.email"}},"attributes":[],"facts":[],"references":[]}},{"dataset":{"identifier":"dataset.commits","title":"Commits","anchor":{"attribute":{"identifier":"attr.commits.factsof","title":"Attr.Commits.Factsof","folder":"Commits"}},"attributes":[],"facts":[{"fact":{"identifier":"fact.commits.lines_changed","title":"Lines
        Changed","folder":"Commits","dataType":"DECIMAL(12,2)","type":"fact","description":"Fact
        description"}}],"references":["committed_on","dataset.devs","dataset.repos"]}}],"dateDimensions":[{"dateDimension":{"name":"committed_on","title":"Committed
        On"}}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:o_x92cm9le_tmAddltjjDQ
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/model/diff/c9dc6abdcc6e7eb634119650c520f1da01cd73beef00b42b0000006e"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:o_x92cm9le_tmAddltjjDQ:eFYufLctqAqA5q2k
      X-Gdc-Request-Time:
      - '46'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/model/diff/c9dc6abdcc6e7eb634119650c520f1da01cd73beef00b42b0000006e"}}}'
  recorded_at: Mon, 04 Jun 2018 12:18:39 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/model/diff/c9dc6abdcc6e7eb634119650c520f1da01cd73beef00b42b0000006e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:L8UKv4MiSdmQq_ILSAjtEg
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/model/diff/c9dc6abdcc6e7eb634119650c520f1da01cd73beef00b42b0000006e"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:L8UKv4MiSdmQq_ILSAjtEg:c9rSkUuxK4p0Chvt
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/model/diff/c9dc6abdcc6e7eb634119650c520f1da01cd73beef00b42b0000006e"}}}'
  recorded_at: Mon, 04 Jun 2018 12:18:39 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/model/diff/c9dc6abdcc6e7eb634119650c520f1da01cd73beef00b42b0000006e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:l7QpR665zHY3t8g2oKyZCw
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:l7QpR665zHY3t8g2oKyZCw:qaliUtabyALrFMvJ
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"dataset.create","dataset":"dataset.repos","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Repositories"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.devs","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Developers"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.commits","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Commits"]}},{"updateOperation":{"type":"date-dimension.create","destructive":false,"description":"Create
        date dimension ''%s''","parameters":["Committed On[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:MeshdxqQuw-8iOSKKaDcFQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:MeshdxqQuw-8iOSKKaDcFQ:UDZGFfjEfADXBj5s
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''nk8ik3xfcjwvuexnhreayu8kfdqrvq2i''","category":"project","instance":"nk8ik3xfcjwvuexnhreayu8kfdqrvq2i","links":[{"link":"/gdc/md/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","ca[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:o4lrM07TsJOX57KlLNbz6Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE FOLDER {dim.anchorfolder} VISUAL(TITLE \"Anchor
        folder\") TYPE ATTRIBUTE;\nCREATE FOLDER {dim.folderedrepos} VISUAL(TITLE
        \"Foldered Repos\") TYPE ATTRIBUTE;\nCREATE FOLDER {dim.commits} VISUAL(TITLE
        \"Commits\") TYPE ATTRIBUTE;\nCREATE FOLDER {ffld.commits} VISUAL(TITLE \"Commits\")
        TYPE FACT;\nCREATE DATASET {dataset.repos} VISUAL(TITLE \"Repositories\");\nCREATE
        DATASET {dataset.devs} VISUAL(TITLE \"Developers\");\nCREATE DATASET {dataset.commit[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/tasks/8b12750212ad671de9f43dc44dc9561f0000002d/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:esVE6znV_4gB_Sys2a_9tA
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:esVE6znV_4gB_Sys2a_9tA:75scv1wpfgsZa8NL
      X-Gdc-Request-Time:
      - '54'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/tasks/8b12750212ad671de9f43dc44dc9561f0000002d/status","status":"RUNNING","links":{"poll":"/gdc/md/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/tasks/8b12750212ad671de9f43dc44dc9561f0000002d/status"}}}'
  recorded_at: Mon, 04 Jun 2018 12:18:53 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:89Mtr-xWUtDY-TXdj9NVxw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:89Mtr-xWUtDY-TXdj9NVxw:7fLPeu0jIRSeVOom
      X-Gdc-Request-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"internalProjectRoles":{"roles":[{"projectRole":{"permissions":{"canAccessIntegration":"1","canCreateProjectDashboard":"1","canExportDashboard":"1","canManageComment":"1","canExecute":"1","canInitData":"1","canManageIntegration":"1","canCreateExecutionContext":"1","canManageFolder":"1","canInviteUserToProject":"1","canCreateTableDataLoad":"1","canCreateDomain":"1","canSeeOtherUserDetails":"1","canManageACL":"1","canManageAnalyticalDashboard":"1","canCreateRole":"0","canCreateProjectTemplates":"1","canCreateHelp":"1","canManageDomain":"1","canManageAttributeLabel":"1","canManageReport":"1","canExportReport":"1","canCreateColumn":"1","canManageDataSet":"1","canSetUserVariables":"1","canCreateAttributeGroup":"1","canValidateProject":"1","canSetStyle":"1","canMaintainProject":"1","canCreateETLFile":"1","canCreateScheduledMail":"1","canSuspendUserFromProject":"1","canManageIsProduction":"1","canMaintainUserFilterRelation":"1","canManageAttribute":"1","canManageReportDefinition":"1","canManageTranslations":"1","canMaintainUserFilter":"1","canCreateReport":"1","canSetLocale":"1","canEnrichData":"1","canUploadNonProductionCSV":"1","canManageETLFile":"1","canCreateComment":"1","canCreateDataSet":"1","canManageExecutionContext":"1","canCreateTable":"1","canManageTableDataLoad":"1","canRefreshData":"1","canCreateMetric":"1","canManageFilterSettings":"1","canManageProjectDashboard":"1","canManageProject":"1","canManagePrompt":"1","canAccessWorkbench":"1","canCreateAttributeLabel":"1","canCreateVisualizationClass":"1","canManageColumn":"1","canCreatePrompt":"1","canManagePublicAccessCode":"0","canListUsersInProject":"1","canManageAttributeGroup":"1","canManageMetric":"1","canManageHelp":"1","canSetProjectVariables":"1","canManageTable":"1","canCreateVisualization":"1","canCreateFolder":"1","canManageFact":"1","canManageScheduledMail":"1","canListInvitationsInProject":"1","canCreateFilterSettings":"1","canExecuteRaw":"1","canSeePublicAccessCode":"0","canCreateReportDefinition":"1","canManageVisualization":"1","canCreateFact":"1","canCreateAttribute":"1","canAssignUserWithRole":"1","canCreateAnalyticalDashboard":"1"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/roles/6","created":"2018-06-04
        14:18:32","identifier":"superAdminRole","summary":"the ultimate project admin","title":"SuperAdmin","updated":"2018-06-04
        14:18:32","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"projectRole":{"permissions":{"canAccessIntegration":"0","canCreateProjectDashboard":"0","canExportDashboard":"1","[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/eyzuoywgecnz569hgq02g3snaev96j6r
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - srkXaRqbM8g9CnxYpPXV6Q:fIFR-74bC2BVExWNmmWYcw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - srkXaRqbM8g9CnxYpPXV6Q:fIFR-74bC2BVExWNmmWYcw:Zz2nJW2nRWQ7DG7F
      X-Gdc-Request-Time:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/eyzuoywgecnz569hgq02g3snaev96j6r/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"This is
        anchor description","defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"some_attr_id","title":"Repository
        Name","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_attr_label_id","title":"Repository
        Name","type":"GDC.text","dataType":"VARCHAR(10000)"}}],"defaultLabel":"some_attr_label_id"}}],"facts":[],"references":[],"bridges":[]}},{"dataset":{"identifier":"dataset.devs","title":"Developers","anchor":{"attribute":{"identifier":"attr.devs.dev_id","title":"Dev","folder":"Anchor
        folder","labels":[{"label":{"identifier":"label.devs.dev_id.id","title":"Id","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.devs.dev_id.email","title":"Email","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.devs.dev_id.email"}},"attributes":[],"facts":[],"references":[],"bridges":["dataset[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/eyzuoywgecnz569hgq02g3snaev96j6r/model/diff/8fe51f32dc6615245801608b7d9a02f2860af22443b8737400000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - srkXaRqbM8g9CnxYpPXV6Q:kUmyXQ0JBzd53eHyEa9Vqg
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/eyzuoywgecnz569hgq02g3snaev96j6r/model/diff/8fe51f32dc6615245801608b7d9a02f2860af22443b8737400000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - srkXaRqbM8g9CnxYpPXV6Q:kUmyXQ0JBzd53eHyEa9Vqg:myPjJ3XC8atdKSfY
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/eyzuoywgecnz569hgq02g3snaev96j6r/model/diff/8fe51f32dc6615245801608b7d9a02f2860af22443b8737400000018"}}}'
  recorded_at: Fri, 05 Oct 2018 12:54:59 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/eyzuoywgecnz569hgq02g3snaev96j6r
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - srkXaRqbM8g9CnxYpPXV6Q:clDZ2xOj9K8FO_1tYVHRkQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charse[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/eyzuoywgecnz569hgq02g3snaev96j6r/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - srkXaRqbM8g9CnxYpPXV6Q:xYVpkr58x-u3xU1SSOQvKw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/eyzuoywgecnz569hgq02g3snaev96j6r/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.repos} VISUAL(TITLE \"Repositories\");\nCREATE
        DATASET {dataset.devs} VISUAL(TITLE \"Developers\");\nCREATE DATASET {dataset.commits}
        VISUAL(TITLE \"Commits\");\nINCLUDE TEMPLATE \"URN:GOODDATA:DATE\" MODIFY
        (IDENTIFIER \"committed_on\", TITLE \"Committed On\"[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/eyzuoywgecnz569hgq02g3snaev96j6r/tasks/798b915a2f608bf7ee059d30dd4f205300000007/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - srkXaRqbM8g9CnxYpPXV6Q:jEVlH6XikghhXnffyXQ8Cg
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - srkXaRqbM8g9CnxYpPXV6Q:jEVlH6XikghhXnffyXQ8Cg:muKJEKYX2cbzNsbo
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/eyzuoywgecnz569hgq02g3snaev96j6r/tasks/798b915a2f608bf7ee059d30dd4f205300000007/status","status":"RUNNING","links":{"poll":"/gdc/md/eyzuoywgecnz569hgq02g3snaev96j6r/tasks/798b915a2f608bf7ee059d30dd4f205300000007/status"}}}'
  recorded_at: Fri, 05 Oct 2018 12:55:04 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/eyzuoywgecnz569hgq02g3snaev96j6r/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - srkXaRqbM8g9CnxYpPXV6Q:IVpSpx-jl5Dx6wjPTL2ljg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - ap[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - PKOge38xhIWiJotYWtlvhg:jZuzqjWwV3ab5l_0E5-Tqg
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - PKOge38xhIWiJotYWtlvhg:jZuzqjWwV3ab5l_0E5-Tqg:wcyK7YcaBOy5pQSa
      X-Gdc-Request-Time:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 10:54:50 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - PKOge38xhIWiJotYWtlvhg:KEH0DrE869UCHIg2R36sJQ
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - PKOge38xhIWiJotYWtlvhg:KEH0DrE869UCHIg2R36sJQ:FJaIV8X60wsrOC4h
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 10:54:51 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - PKOge38xhIWiJotYWtlvhg:RA-yjQRLd0CL_jEkyedNnw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - PKOge38xhIWiJotYWtlvhg:RA-yjQRLd0CL_jEkyedNnw:xKAdqc4dVNVXqFLA
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-10-10
        10:25:03","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","language":"en-US","timezone":null,"ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Wed, 10 Oct 2018 10:54:51 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - PKOge38xhIWiJotYWtlvhg:GVfed55e3H2vv2zXeyOkJw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      -[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"RubyGem Dev Week
        test"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - PKOge38xhIWiJotYWtlvhg:fdrkhRXBPmEyWgkaaX7PKA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - PKOge38xhIWiJotYWtlvhg:fdrkhRXBPmEyWgkaaX7PKA:jKXrMsWaLPIeAdQf
      X-Gdc-Request-Time:
      - '1118'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/c0ajmerw09sjt5cuyiswrcb7n3mjbg25"}'
  recorded_at: Wed, 10 Oct 2018 10:54:54 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/c0ajmerw09sjt5cuyiswrcb7n3mjbg25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - PKOge38xhIWiJotYWtlvhg:EgLIjxYAKdWfvi3-TtNAlg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/c0ajmerw09sjt5cuyiswrcb7n3mjbg25/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/c0ajmerw09sjt5cuyiswrcb7n3mjbg25/model/diff/6a0f86f9c33485f1c1c13773efb05147ef9076213a9fb5bf00000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - PKOge38xhIWiJotYWtlvhg:RqBsh6rlad22f8jfOsffzA
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/c0ajmerw09sjt5cuyiswrcb7n3mjbg25/model/diff/6a0f86f9c33485f1c1c13773efb05147ef9076213a9fb5bf00000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - PKOge38xhIWiJotYWtlvhg:RqBsh6rlad22f8jfOsffzA:hSjBJb75Dh0LnQpl
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
[...]
