---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:105-1NurcH2Axb7daboDpw
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:105-1NurcH2Axb7daboDpw:4ismMonfDOjVUQvn
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Mon, 04 Jun 2018 12:18:28 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:g8cbyA-_sHqPAB9bTQ6PIA
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:g8cbyA-_sHqPAB9bTQ6PIA:ISyCTZdbKeouSDwl
      X-Gdc-Request-Time:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Mon, 04 Jun 2018 12:18:28 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:beV9znsVMrC3to1K4ZQwJg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:beV9znsVMrC3to1K4ZQwJg:sXPK4nhJiPMQG75s
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-06-04
        11:38:25","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","language":"en-US","timezone":null,"ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Mon, 04 Jun 2018 12:18:29 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:usvnNYHB2pBfraHKrqHh3Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:usvnNYHB2pBfraHKrqHh3Q:4ttx7PVLjsvaUGh8
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Mon, 04 Jun 2018 12:18:29 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"RubyGem Dev Week
        test"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:ftPvcS6Z7rxEb8mXGwtOpA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:ftPvcS6Z7rxEb8mXGwtOpA:dS5Ob0RLvMVMuyW6
      X-Gdc-Request-Time:
      - '515'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i"}'
  recorded_at: Mon, 04 Jun 2018 12:18:31 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:jy58IauZr85nM5VQaz5BHg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:jy58IauZr85nM5VQaz5BHg:9pKYRAZU28FGH9A5
      X-Gdc-Request-Time:
      - '54'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/ldm?thumbnail=1","self":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i","clearCaches":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/clearCaches","invitations":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/invitations","users":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/uploads/","ldm":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/ldm","metadata":"/gdc/md/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i","publicartifacts":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/publicartifacts","roles":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/roles","userRoles":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/dataload","connectors":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/connectors","execute":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/execute","config":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/config","projectFeatureFlags":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/projectFeatureFlags","schedules":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/schedules","templates":"/gdc/md/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/templates","eventstores":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/dataload/eventstore/stores"},"meta":{"created":"2018-06-04
        14:18:30","summary":"No summary","updated":"2018-06-04 14:18:30","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"RubyGem
        Dev Week test","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Mon, 04 Jun 2018 12:18:31 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"This is
        anchor description","defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"some_attr_id","title":"Repository
        Name","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_attr_label_id","title":"Repository
        Name","type":"GDC.text","dataType":"VARCHAR(10000)"}}],"defaultLabel":"some_attr_label_id"}}],"facts":[],"references":[]}},{"dataset":{"identifier":"dataset.devs","title":"Developers","anchor":{"attribute":{"identifier":"attr.devs.dev_id","title":"Dev","folder":"Anchor
        folder","labels":[{"label":{"identifier":"label.devs.dev_id.id","title":"Id","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.devs.dev_id.email","title":"Email","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.devs.dev_id.email"}},"attributes":[],"facts":[],"references":[]}},{"dataset":{"identifier":"dataset.commits","title":"Commits","anchor":{"attribute":{"identifier":"attr.commits.factsof","title":"Attr.Commits.Factsof","folder":"Commits"}},"attributes":[],"facts":[{"fact":{"identifier":"fact.commits.lines_changed","title":"Lines
        Changed","folder":"Commits","dataType":"DECIMAL(12,2)","type":"fact","description":"Fact
        description"}}],"references":["committed_on","dataset.devs","dataset.repos"]}}],"dateDimensions":[{"dateDimension":{"name":"committed_on","title":"Committed
        On"}}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:o_x92cm9le_tmAddltjjDQ
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/model/diff/c9dc6abdcc6e7eb634119650c520f1da01cd73beef00b42b0000006e"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:o_x92cm9le_tmAddltjjDQ:eFYufLctqAqA5q2k
      X-Gdc-Request-Time:
      - '46'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/model/diff/c9dc6abdcc6e7eb634119650c520f1da01cd73beef00b42b0000006e"}}}'
  recorded_at: Mon, 04 Jun 2018 12:18:39 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/model/diff/c9dc6abdcc6e7eb634119650c520f1da01cd73beef00b42b0000006e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:L8UKv4MiSdmQq_ILSAjtEg
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/model/diff/c9dc6abdcc6e7eb634119650c520f1da01cd73beef00b42b0000006e"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:L8UKv4MiSdmQq_ILSAjtEg:c9rSkUuxK4p0Chvt
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/model/diff/c9dc6abdcc6e7eb634119650c520f1da01cd73beef00b42b0000006e"}}}'
  recorded_at: Mon, 04 Jun 2018 12:18:39 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/model/diff/c9dc6abdcc6e7eb634119650c520f1da01cd73beef00b42b0000006e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:l7QpR665zHY3t8g2oKyZCw
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:l7QpR665zHY3t8g2oKyZCw:qaliUtabyALrFMvJ
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"dataset.create","dataset":"dataset.repos","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Repositories"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.devs","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Developers"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.commits","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Commits"]}},{"updateOperation":{"type":"date-dimension.create","destructive":false,"description":"Create
        date dimension ''%s''","parameters":["Committed On[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:MeshdxqQuw-8iOSKKaDcFQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:MeshdxqQuw-8iOSKKaDcFQ:UDZGFfjEfADXBj5s
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''nk8ik3xfcjwvuexnhreayu8kfdqrvq2i''","category":"project","instance":"nk8ik3xfcjwvuexnhreayu8kfdqrvq2i","links":[{"link":"/gdc/md/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","ca[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:o4lrM07TsJOX57KlLNbz6Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE FOLDER {dim.anchorfolder} VISUAL(TITLE \"Anchor
        folder\") TYPE ATTRIBUTE;\nCREATE FOLDER {dim.folderedrepos} VISUAL(TITLE
        \"Foldered Repos\") TYPE ATTRIBUTE;\nCREATE FOLDER {dim.commits} VISUAL(TITLE
        \"Commits\") TYPE ATTRIBUTE;\nCREATE FOLDER {ffld.commits} VISUAL(TITLE \"Commits\")
        TYPE FACT;\nCREATE DATASET {dataset.repos} VISUAL(TITLE \"Repositories\");\nCREATE
        DATASET {dataset.devs} VISUAL(TITLE \"Developers\");\nCREATE DATASET {dataset.commit[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/tasks/8b12750212ad671de9f43dc44dc9561f0000002d/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:esVE6znV_4gB_Sys2a_9tA
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:esVE6znV_4gB_Sys2a_9tA:75scv1wpfgsZa8NL
      X-Gdc-Request-Time:
      - '54'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/tasks/8b12750212ad671de9f43dc44dc9561f0000002d/status","status":"RUNNING","links":{"poll":"/gdc/md/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/tasks/8b12750212ad671de9f43dc44dc9561f0000002d/status"}}}'
  recorded_at: Mon, 04 Jun 2018 12:18:53 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:89Mtr-xWUtDY-TXdj9NVxw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 8nqfBQPo6-ZCxg0pOabUAQ:89Mtr-xWUtDY-TXdj9NVxw:7fLPeu0jIRSeVOom
      X-Gdc-Request-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"internalProjectRoles":{"roles":[{"projectRole":{"permissions":{"canAccessIntegration":"1","canCreateProjectDashboard":"1","canExportDashboard":"1","canManageComment":"1","canExecute":"1","canInitData":"1","canManageIntegration":"1","canCreateExecutionContext":"1","canManageFolder":"1","canInviteUserToProject":"1","canCreateTableDataLoad":"1","canCreateDomain":"1","canSeeOtherUserDetails":"1","canManageACL":"1","canManageAnalyticalDashboard":"1","canCreateRole":"0","canCreateProjectTemplates":"1","canCreateHelp":"1","canManageDomain":"1","canManageAttributeLabel":"1","canManageReport":"1","canExportReport":"1","canCreateColumn":"1","canManageDataSet":"1","canSetUserVariables":"1","canCreateAttributeGroup":"1","canValidateProject":"1","canSetStyle":"1","canMaintainProject":"1","canCreateETLFile":"1","canCreateScheduledMail":"1","canSuspendUserFromProject":"1","canManageIsProduction":"1","canMaintainUserFilterRelation":"1","canManageAttribute":"1","canManageReportDefinition":"1","canManageTranslations":"1","canMaintainUserFilter":"1","canCreateReport":"1","canSetLocale":"1","canEnrichData":"1","canUploadNonProductionCSV":"1","canManageETLFile":"1","canCreateComment":"1","canCreateDataSet":"1","canManageExecutionContext":"1","canCreateTable":"1","canManageTableDataLoad":"1","canRefreshData":"1","canCreateMetric":"1","canManageFilterSettings":"1","canManageProjectDashboard":"1","canManageProject":"1","canManagePrompt":"1","canAccessWorkbench":"1","canCreateAttributeLabel":"1","canCreateVisualizationClass":"1","canManageColumn":"1","canCreatePrompt":"1","canManagePublicAccessCode":"0","canListUsersInProject":"1","canManageAttributeGroup":"1","canManageMetric":"1","canManageHelp":"1","canSetProjectVariables":"1","canManageTable":"1","canCreateVisualization":"1","canCreateFolder":"1","canManageFact":"1","canManageScheduledMail":"1","canListInvitationsInProject":"1","canCreateFilterSettings":"1","canExecuteRaw":"1","canSeePublicAccessCode":"0","canCreateReportDefinition":"1","canManageVisualization":"1","canCreateFact":"1","canCreateAttribute":"1","canAssignUserWithRole":"1","canCreateAnalyticalDashboard":"1"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/projects/nk8ik3xfcjwvuexnhreayu8kfdqrvq2i/roles/6","created":"2018-06-04
        14:18:32","identifier":"superAdminRole","summary":"the ultimate project admin","title":"SuperAdmin","updated":"2018-06-04
        14:18:32","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"projectRole":{"permissions":{"canAccessIntegration":"0","canCreateProjectDashboard":"0","canExportDashboard":"1","[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - PJZdNgjQu6XWSg3_1_JkUA:aQ3ssvhRK4lhFS5v2cSlPw
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '20'
      X-Gdc-Request:
      - PJZdNgjQu6XWSg3_1_JkUA:aQ3ssvhRK4lhFS5v2cSlPw:328kxTgTienhXReR
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 04 Jun 2018 12:19:07 GMT
recorded_with: VCR 4.0.0
