---
http_interactions:
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bLUrfsF7kWLeDzHZvQr3tCg
    body:
      encoding: UTF-8
      string: '{"userGroup":{"content":{"name":"This is new name","id":"bLUrfsF7kWLeDzHZvQr3tCg","description":"This
        is new description","domain":null,"project":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:Sq3F_aai7fmfi5ph9mD9jQ
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:Sq3F_aai7fmfi5ph9mD9jQ:m0tLhPD78GopZmF3
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 31 May 2018 15:21:24 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bLUrfsF7kWLeDzHZvQr3tCg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:CddJwQzm_oTFqrw3gn0L9w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:CddJwQzm_oTFqrw3gn0L9w:0h4Gkouf0QUqLMhB
      X-Gdc-Request-Time:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroup":{"content":{"name":"This is new name","id":"bLUrfsF7kWLeDzHZvQr3tCg","description":"This
        is new description","domain":null,"project":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx"},"meta":{"created":"2018-05-31
        17:20:03","updated":"2018-05-31 17:21:24"},"links":{"self":"/gdc/userGroups/bLUrfsF7kWLeDzHZvQr3tCg","members":"/gdc/userGroups/bLUrfsF7kWLeDzHZvQr3tCg/members","modifyMembers":"/gdc/userGroups/bLUrfsF7kWLeDzHZvQr3tCg/modifyMembers"}}}'
  recorded_at: Thu, 31 May 2018 15:21:25 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=wui586yjfzy44eccxox9loj28xn8bsvx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:7_5qTWKhq664WmXsLfXxHA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:7_5qTWKhq664WmXsLfXxHA:9qfSGKo9p5iE6Jp1
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"This
        is new name","id":"bLUrfsF7kWLeDzHZvQr3tCg","description":"This is new description","domain":null,"project":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx"},"meta":{"created":"2018-05-31
        17:20:03","updated":"2018-05-31 17:21:24"},"links":{"self":"/gdc/userGroups/bLUrfsF7kWLeDzHZvQr3tCg","members":"/gdc/userGroups/bLUrfsF7kWLeDzHZvQr3tCg/members","modifyMembers":"/gdc/userGroups/bLUrfsF7kWLeDzHZvQr3tCg/modifyMembers"}}}]}}'
  recorded_at: Thu, 31 May 2018 15:21:26 GMT
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bYht_3jsC3p73mhemtw3L-Q
    body:
      encoding: UTF-8
      string: '{"userGroup":{"content":{"name":"This is new name","id":"bYht_3jsC3p73mhemtw3L-Q","description":"This
        is new description","domain":null,"project":"/gdc/projects/ap35zyp060umrcvx8ltwux0zrsk7raag"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Ti3R5nc8b1s2KH2uRjMqrA:5t3R5EfkUouLm1IRn8zOyg
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '35'
      X-Gdc-Request:
      - Ti3R5nc8b1s2KH2uRjMqrA:5t3R5EfkUouLm1IRn8zOyg:6zcRoChAQOe24Aen
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 09:04:41 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=ap35zyp060umrcvx8ltwux0zrsk7raag
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Ti3R5nc8b1s2KH2uRjMqrA:Gp42aSUOAIrKsitY9uo_lw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Ti3R5nc8b1s2KH2uRjMqrA:Gp42aSUOAIrKsitY9uo_lw:nngdxOCb2w2ghM80
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"This
        is new name","id":"bYht_3jsC3p73mhemtw3L-Q","description":"This is new description","domain":null,"project":"/gdc/projects/ap35zyp060umrcvx8ltwux0zrsk7raag"},"meta":{"created":"2018-10-10
        11:04:29","updated":"2018-10-10 11:04:41"},"links":{"self":"/gdc/userGroups/bYht_3jsC3p73mhemtw3L-Q","members":"/gdc/userGroups/bYht_3jsC3p73mhemtw3L-Q/members","modifyMembers":"/gdc/userGroups/bYht_3jsC3p73mhemtw3L-Q/modifyMembers"}}}]}}'
  recorded_at: Wed, 10 Oct 2018 09:04:42 GMT
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bhxOVVNgzAPW9jUtv-eJmTA
    body:
      encoding: UTF-8
      string: '{"userGroup":{"content":{"name":"This is new name","id":"bhxOVVNgzAPW9jUtv-eJmTA","description":"This
        is new description","domain":null,"project":"/gdc/projects/zvejmh4faimgxnm545bbotrglh54tes0"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - IVWNGeM56YxdR03xNdm9uQ:A4rtYNtLW2FnWzi53mgwAw
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '26'
      X-Gdc-Request:
      - IVWNGeM56YxdR03xNdm9uQ:A4rtYNtLW2FnWzi53mgwAw:dxF6fRWziM8ZnAVb
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 11:54:22 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=zvejmh4faimgxnm545bbotrglh54tes0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - IVWNGeM56YxdR03xNdm9uQ:VLRaI1PU94Ge1gVRKQzfFw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - IVWNGeM56YxdR03xNdm9uQ:VLRaI1PU94Ge1gVRKQzfFw:b77vAmvNPiFkYRrQ
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"This
        is new name","id":"bhxOVVNgzAPW9jUtv-eJmTA","description":"This is new description","domain":null,"project":"/gdc/projects/zvejmh4faimgxnm545bbotrglh54tes0"},"meta":{"created":"2018-10-10
        13:54:02","updated":"2018-10-10 13:54:22"},"links":{"self":"/gdc/userGroups/bhxOVVNgzAPW9jUtv-eJmTA","members":"/gdc/userGroups/bhxOVVNgzAPW9jUtv-eJmTA/members","modifyMembers":"/gdc/userGroups/bhxOVVNgzAPW9jUtv-eJmTA/modifyMembers"}}}]}}'
  recorded_at: Wed, 10 Oct 2018 11:54:23 GMT
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bPzgfviBztA-U8ztc0aKuew
    body:
      encoding: UTF-8
      string: '{"userGroup":{"content":{"name":"This is new name","id":"bPzgfviBztA-U8ztc0aKuew","description":"This
        is new description","domain":null,"project":"/gdc/projects/guyx3nopmd2l4e2jhbzkmqgl5z4lryt5"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":wMIPo2Igg4Z8Ex-_svFoTA:Zm-GukFG7QVM90RDZMAXcg"
      Stats-On:
      - ''
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '28'
      X-Gdc-Request:
      - ":wMIPo2Igg4Z8Ex-_svFoTA:Zm-GukFG7QVM90RDZMAXcg:A3ziGjFoCGNOMmuH"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Jan 2019 13:42:41 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=guyx3nopmd2l4e2jhbzkmqgl5z4lryt5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":wMIPo2Igg4Z8Ex-_svFoTA:bojXRDnfiBt2FfuZoTsnpA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":wMIPo2Igg4Z8Ex-_svFoTA:bojXRDnfiBt2FfuZoTsnpA:p7gTWVOm0h7tyWz0"
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"This
        is new name","id":"bPzgfviBztA-U8ztc0aKuew","description":"This is new description","domain":null,"project":"/gdc/projects/guyx3nopmd2l4e2jhbzkmqgl5z4lryt5"},"meta":{"created":"2019-01-24
        14:42:27","updated":"2019-01-24 14:42:41"},"links":{"self":"/gdc/userGroups/bPzgfviBztA-U8ztc0aKuew","members":"/gdc/userGroups/bPzgfviBztA-U8ztc0aKuew/members","modifyMembers":"/gdc/userGroups/bPzgfviBztA-U8ztc0aKuew/modifyMembers"}}}]}}'
  recorded_at: Thu, 24 Jan 2019 13:42:43 GMT
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bw1TZSB3oV5NqSMeQ7PwfPA
    body:
      encoding: UTF-8
      string: '{"userGroup":{"content":{"name":"This is new name","id":"bw1TZSB3oV5NqSMeQ7PwfPA","description":"This
        is new description","domain":null,"project":"/gdc/projects/bzlmn8xs2mc4uqo8al788rvuxjmdgzpz"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":9ayKUMlzPr99oJjqtlKSVA:hzset2vojszFjS9Zt71g-g"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '27'
      X-Gdc-Request:
      - ":9ayKUMlzPr99oJjqtlKSVA:hzset2vojszFjS9Zt71g-g:nkxPPRQHR9GqasGx"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 15 Jan 2020 06:38:03 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=bzlmn8xs2mc4uqo8al788rvuxjmdgzpz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":9ayKUMlzPr99oJjqtlKSVA:NIGyt-tG0tOTFgi5tda2Ww"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '21'
      X-Gdc-Request:
      - ":9ayKUMlzPr99oJjqtlKSVA:NIGyt-tG0tOTFgi5tda2Ww:qNbSuYybUp5RnI2I"
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"This
        is new name","id":"bw1TZSB3oV5NqSMeQ7PwfPA","description":"This is new description","domain":null,"project":"/gdc/projects/bzlmn8xs2mc4uqo8al788rvuxjmdgzpz"},"meta":{"created":"2020-01-15
        07:37:48","updated":"2020-01-15 07:38:03"},"links":{"self":"/gdc/userGroups/bw1TZSB3oV5NqSMeQ7PwfPA","members":"/gdc/userGroups/bw1TZSB3oV5NqSMeQ7PwfPA/members","modifyMembers":"/gdc/userGroups/bw1TZSB3oV5NqSMeQ7PwfPA/modifyMembers"}}}]}}'
  recorded_at: Wed, 15 Jan 2020 06:38:05 GMT
recorded_with: VCR 5.0.0
