---
http_interactions:
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bLUrfsF7kWLeDzHZvQr3tCg
    body:
      encoding: UTF-8
      string: '{"userGroup":{"content":{"name":"This is new name","id":"bLUrfsF7kWLeDzHZvQr3tCg","description":"This
        is new description","domain":null,"project":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:Sq3F_aai7fmfi5ph9mD9jQ
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:Sq3F_aai7fmfi5ph9mD9jQ:m0tLhPD78GopZmF3
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 31 May 2018 15:21:24 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bLUrfsF7kWLeDzHZvQr3tCg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:CddJwQzm_oTFqrw3gn0L9w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:CddJwQzm_oTFqrw3gn0L9w:0h4Gkouf0QUqLMhB
      X-Gdc-Request-Time:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroup":{"content":{"name":"This is new name","id":"bLUrfsF7kWLeDzHZvQr3tCg","description":"This
        is new description","domain":null,"project":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx"},"meta":{"created":"2018-05-31
        17:20:03","updated":"2018-05-31 17:21:24"},"links":{"self":"/gdc/userGroups/bLUrfsF7kWLeDzHZvQr3tCg","members":"/gdc/userGroups/bLUrfsF7kWLeDzHZvQr3tCg/members","modifyMembers":"/gdc/userGroups/bLUrfsF7kWLeDzHZvQr3tCg/modifyMembers"}}}'
  recorded_at: Thu, 31 May 2018 15:21:25 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=wui586yjfzy44eccxox9loj28xn8bsvx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:7_5qTWKhq664WmXsLfXxHA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:7_5qTWKhq664WmXsLfXxHA:9qfSGKo9p5iE6Jp1
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"This
        is new name","id":"bLUrfsF7kWLeDzHZvQr3tCg","description":"This is new description","domain":null,"project":"/gdc/projects/wui586yjfzy44eccxox9loj28xn8bsvx"},"meta":{"created":"2018-05-31
        17:20:03","updated":"2018-05-31 17:21:24"},"links":{"self":"/gdc/userGroups/bLUrfsF7kWLeDzHZvQr3tCg","members":"/gdc/userGroups/bLUrfsF7kWLeDzHZvQr3tCg/members","modifyMembers":"/gdc/userGroups/bLUrfsF7kWLeDzHZvQr3tCg/modifyMembers"}}}]}}'
  recorded_at: Thu, 31 May 2018 15:21:26 GMT
recorded_with: VCR 4.0.0
