---
http_interactions:
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/b68p3VCYfyYX-67OyFGKy8w
    body:
      encoding: UTF-8
      string: '{"userGroup":{"content":{"name":"This is new name","id":"b68p3VCYfyYX-67OyFGKy8w","description":"This
        is new description","domain":null,"project":"/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 5EkHAK9Aigx1Fdt0ONHEKw:gXwxaul2zF3Vqo2ZzW7k-Q
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - 5EkHAK9Aigx1Fdt0ONHEKw:gXwxaul2zF3Vqo2ZzW7k-Q:Kdq3uYRf5k7xcO37
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 28 May 2018 15:38:37 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/b68p3VCYfyYX-67OyFGKy8w
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 5EkHAK9Aigx1Fdt0ONHEKw:cUmuvU_uiQuNJfiGxQ3j6A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 5EkHAK9Aigx1Fdt0ONHEKw:cUmuvU_uiQuNJfiGxQ3j6A:ucsRgxrkOYm73G80
      X-Gdc-Request-Time:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroup":{"content":{"name":"This is new name","id":"b68p3VCYfyYX-67OyFGKy8w","description":"This
        is new description","domain":null,"project":"/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q"},"meta":{"created":"2018-05-28
        17:38:27","updated":"2018-05-28 17:38:37"},"links":{"self":"/gdc/userGroups/b68p3VCYfyYX-67OyFGKy8w","members":"/gdc/userGroups/b68p3VCYfyYX-67OyFGKy8w/members","modifyMembers":"/gdc/userGroups/b68p3VCYfyYX-67OyFGKy8w/modifyMembers"}}}'
  recorded_at: Mon, 28 May 2018 15:38:38 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=ob2pjaipm62wfmv0qzxo0z5kx3hat47q
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 5EkHAK9Aigx1Fdt0ONHEKw:C7boEd9EoBpiEBHb5GyEPg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 5EkHAK9Aigx1Fdt0ONHEKw:C7boEd9EoBpiEBHb5GyEPg:Fd6lsP02iOZYcRRX
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"This
        is new name","id":"b68p3VCYfyYX-67OyFGKy8w","description":"This is new description","domain":null,"project":"/gdc/projects/ob2pjaipm62wfmv0qzxo0z5kx3hat47q"},"meta":{"created":"2018-05-28
        17:38:27","updated":"2018-05-28 17:38:37"},"links":{"self":"/gdc/userGroups/b68p3VCYfyYX-67OyFGKy8w","members":"/gdc/userGroups/b68p3VCYfyYX-67OyFGKy8w/members","modifyMembers":"/gdc/userGroups/b68p3VCYfyYX-67OyFGKy8w/modifyMembers"}}}]}}'
  recorded_at: Mon, 28 May 2018 15:38:38 GMT
recorded_with: VCR 4.0.0
