---
http_interactions:
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bG6Ipk-LvUdC2Wbq5QNtaww
    body:
      encoding: UTF-8
      string: '{"userGroup":{"content":{"name":"This is new name","id":"bG6Ipk-LvUdC2Wbq5QNtaww","description":"This
        is new description","domain":null,"project":"/gdc/projects/uxhj5jneoun7ydkkjjmkgkgdchj6899l"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - BJ7jVkUSVBb_c05Mc5sXfA:wH8hTSqdEJEZ50k2ePRN5w
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - BJ7jVkUSVBb_c05Mc5sXfA:wH8hTSqdEJEZ50k2ePRN5w:4tkVUgWpzGiY1FQT
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 02 May 2018 13:51:39 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bG6Ipk-LvUdC2Wbq5QNtaww
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - BJ7jVkUSVBb_c05Mc5sXfA:WCGoNnyZqkxNCBT88wascw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - BJ7jVkUSVBb_c05Mc5sXfA:WCGoNnyZqkxNCBT88wascw:59ZRMQDPPWjbpOBb
      X-Gdc-Request-Time:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroup":{"content":{"name":"This is new name","id":"bG6Ipk-LvUdC2Wbq5QNtaww","description":"This
        is new description","domain":null,"project":"/gdc/projects/uxhj5jneoun7ydkkjjmkgkgdchj6899l"},"meta":{"created":"2018-05-02
        15:51:24","updated":"2018-05-02 15:51:39"},"links":{"self":"/gdc/userGroups/bG6Ipk-LvUdC2Wbq5QNtaww","members":"/gdc/userGroups/bG6Ipk-LvUdC2Wbq5QNtaww/members","modifyMembers":"/gdc/userGroups/bG6Ipk-LvUdC2Wbq5QNtaww/modifyMembers"}}}'
  recorded_at: Wed, 02 May 2018 13:51:40 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=uxhj5jneoun7ydkkjjmkgkgdchj6899l
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - BJ7jVkUSVBb_c05Mc5sXfA:Gug4yDB_v7qRXYcX0e4KBQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - BJ7jVkUSVBb_c05Mc5sXfA:Gug4yDB_v7qRXYcX0e4KBQ:Ppy9qrFntlfdsbBb
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"This
        is new name","id":"bG6Ipk-LvUdC2Wbq5QNtaww","description":"This is new description","domain":null,"project":"/gdc/projects/uxhj5jneoun7ydkkjjmkgkgdchj6899l"},"meta":{"created":"2018-05-02
        15:51:24","updated":"2018-05-02 15:51:39"},"links":{"self":"/gdc/userGroups/bG6Ipk-LvUdC2Wbq5QNtaww","members":"/gdc/userGroups/bG6Ipk-LvUdC2Wbq5QNtaww/members","modifyMembers":"/gdc/userGroups/bG6Ipk-LvUdC2Wbq5QNtaww/modifyMembers"}}}]}}'
  recorded_at: Wed, 02 May 2018 13:51:40 GMT
recorded_with: VCR 4.0.0
