---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/3173b7803c558e81bb881b289e65b3bc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:qLsNXJd4gqLF15mX4ySPLw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:qLsNXJd4gqLF15mX4ySPLw:m2LM5aB1qg1K1OtW
      X-Gdc-Request-Time:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/3173b7803c558e81bb881b289e65b3bc","projects":"/gdc/account/profile/3173b7803c558e81bb881b289e65b3bc/projects","auditEvents":"/gdc/account/profile/3173b7803c558e81bb881b289e65b3bc/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"gemtest-when+validating+MUFs+via+report+computation-0","companyName":null,"position":null,"created":"2019-01-08
        11:58:32","updated":"2019-01-08 11:58:32","country":null,"phoneNumber":null,"authenticationModes":[],"login":"gemtest-when+validating+mufs+via+report+computation-0@gooddata.com","timezone":null,"ssoProvider":null,"email":"gemtest-when+validating+mufs+via+report+computation-0@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Tue, 08 Jan 2019 10:58:33 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["some_attr_label_id"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:sVanIBmoLQeCFCrm3G7LTQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:sVanIBmoLQeCFCrm3G7LTQ:gqkNE7Mpdvzl3kFX
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"some_attr_label_id","uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/219"}]}'
  recorded_at: Tue, 08 Jan 2019 10:58:35 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/219
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:AbS2AiqSAtG_qhV_SBRN_g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:AbS2AiqSAtG_qhV_SBRN_g:DaGwI6TcKMXEwrPP
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/218","expression":"[/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/41]","default":1},"links":{"elements":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/219/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/219","tags":"","created":"2019-01-08
        11:52:18","identifier":"some_attr_label_id","deprecated":"0","summary":"","isProduction":1,"title":"Repository
        Name","category":"attributeDisplayForm","updated":"2019-01-08 11:52:19","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 08 Jan 2019 10:58:35 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:Nr3kUMHENYYU2xkGJLpsCg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:Nr3kUMHENYYU2xkGJLpsCg:HUKtJAxqgL2q2UcL
      X-Gdc-Request-Time:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"fact":{"content":{"folders":["/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/222"],"expr":[{"type":"col","data":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/32"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/223","tags":"","created":"2019-01-08
        11:52:19","identifier":"fact.commits.lines_changed","deprecated":"0","summary":"Fact
        description","isProduction":1,"title":"Lines Changed","category":"fact","updated":"2019-01-08
        11:52:19","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Tue, 08 Jan 2019 10:58:36 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:Dn99L6I4FpAiGQLZsZqSMw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:Dn99L6I4FpAiGQLZsZqSMw:X8i2x3Zycz3nh0o4
      X-Gdc-Request-Time:
      - '277'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":22,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/65"}],"displayForms":[{"content":{"formOf":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/149","expression":"[/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/66]","default":1},"links":{"elements":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/167/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/167","tags":"","created":"2010-08-02
        08:13:42","identifier":"committed_on.aag81lMifn6q","deprecated":"0","summary":"DisplayForm
        Year.","isProduction":1,"title":"Year (Committed On)","category":"attributeDisplayForm","updated":"2019-01-08
        11:52:18","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/199","sort":"pk","dimension":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/46","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/113"},{"multivalue":false,"type":"col","data":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/121"},{"multivalue":false,"type":"col","data":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/136"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/149","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"committed_on.year","deprecated":"[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:XRq7EjBdzi0WeUA0G4u0gg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:XRq7EjBdzi0WeUA0G4u0gg:ONxijWMk9xnjpyrf
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Tue, 08 Jan 2019 10:58:38 GMT
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/3173b7803c558e81bb881b289e65b3bc
    body:
      encoding: UTF-8
      string: '{"accountSetting":{"firstName":"the","lastName":"gemtest-when+validating+MUFs+via+report+computation-0","email":"gemtest-when+validating+mufs+via+report+computation-0@gooddata.com","language":"en-US","authenticationModes":[],"password":"<PASSWORD>","verifyPassword":"<PASSWORD>"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:CbzKmij-TEMmYbK-wbxm1Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:CbzKmij-TEMmYbK-wbxm1Q:Eq88dZX9qC8ym2RB
      X-Gdc-Request-Time:
      - '166'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/3173b7803c558e81bb881b289e65b3bc","projects":"/gdc/account/profile/3173b7803c558e81bb881b289e65b3bc/projects","auditEvents":"/gdc/account/profile/3173b7803c558e81bb881b289e65b3bc/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"gemtest-when+validating+MUFs+via+report+computation-0","companyName":null,"position":null,"created":"2019-01-08
        11:58:32","updated":"2019-01-08 11:58:39","country":null,"phoneNumber":null,"authenticationModes":[],"login":"gemtest-when+validating+mufs+via+report+computation-0@gooddata.com","timezone":null,"ssoProvider":null,"email":"gemtest-when+validating+mufs+via+report+computation-0@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Tue, 08 Jan 2019 10:58:39 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/internal/projects/hmaayky1211ud23jk87m7r1p70tjp45u/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:zvDzMHgfdocjs50HD37mGg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:zvDzMHgfdocjs50HD37mGg:SCYvyfW8m13GJiAh
      X-Gdc-Request-Time:
      - '70'
    body:
      encoding: ASCII-8BIT
      string: '{"internalProjectRoles":{"roles":[{"projectRole":{"permissions":{"canAccessIntegration":"1","canCreateProjectDashboard":"1","canExportDashboard":"1","canManageComment":"1","canExecute":"1","canInitData":"1","canManageIntegration":"1","canCreateExecutionContext":"1","canManageFolder":"1","canInviteUserToProject":"1","canCreateTableDataLoad":"1","canCreateDomain":"1","canSeeOtherUserDetails":"1","canManageACL":"1","canManageAnalyticalDashboard":"1","canCreateRole":"0","canCreateProjectTemplates":"1","canCreateHelp":"1","canManageDomain":"1","canManageAttributeLabel":"1","canManageReport":"1","canExportReport":"1","canCreateColumn":"1","canManageDataSet":"1","canSetUserVariables":"1","canCreateAttributeGroup":"1","canValidateProject":"1","canSetStyle":"1","canMaintainProject":"1","canCreateETLFile":"1","canCreateScheduledMail":"1","canSuspendUserFromProject":"1","canManageIsProduction":"1","canMaintainUserFilterRelation":"1","canManageAttribute":"1","canManageReportDefinition":"1","canManageTranslations":"1","canMaintainUserFilter":"1","canCreateReport":"1","canSetLocale":"1","canEnrichData":"1","canUploadNonProductionCSV":"1","canManageETLFile":"1","canCreateComment":"1","canCreateDataSet":"1","canManageExecutionContext":"1","canCreateTable":"1","canManageTableDataLoad":"1","canRefreshData":"1","canCreateMetric":"1","canManageFilterSettings":"1","canManageProjectDashboard":"1","canManageProject":"1","canManagePrompt":"1","canAccessWorkbench":"1","canCreateAttributeLabel":"1","canCreateVisualizationClass":"1","canManageColumn":"1","canCreatePrompt":"1","canManagePublicAccessCode":"0","canListUsersInProject":"1","canManageAttributeGroup":"1","canManageMetric":"1","canManageHelp":"1","canSetProjectVariables":"1","canManageTable":"1","canCreateVisualization":"1","canCreateFolder":"1","canManageFact":"1","canManageScheduledMail":"1","canListInvitationsInProject":"1","canCreateFilterSettings":"1","canExecuteRaw":"1","canSeePublicAccessCode":"0","canCreateReportDefinition":"1","canManageVisualization":"1","canCreateFact":"1","canCreateAttribute":"1","canAssignUserWithRole":"1","canCreateAnalyticalDashboard":"1"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/roles/6","created":"2019-01-08
        11:52:04","identifier":"superAdminRole","summary":"the ultimate project admin","title":"SuperAdmin","updated":"2019-01-08
        11:52:04","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"projectRole":{"permissions":{"canAccessIntegration":"0","canCreateProjectDashboard":"0","canExportDashboard":"1","[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/users
    body:
      encoding: UTF-8
      string: '{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/roles/2"]},"links":{"self":"/gdc/account/profile/3173b7803c558e81bb881b289e65b3bc"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:QJ1P_zG5kE5BxR1PtyTWNA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:QJ1P_zG5kE5BxR1PtyTWNA:GgYGbUrQxUtUe2ik
      X-Gdc-Request-Time:
      - '207'
    body:
      encoding: ASCII-8BIT
      string: '{"projectUsersUpdateResult":{"successful":["/gdc/account/profile/3173b7803c558e81bb881b289e65b3bc"],"failed":[]}}'
  recorded_at: Tue, 08 Jan 2019 10:58:40 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/3173b7803c558e81bb881b289e65b3bc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Sa4BJZXXNkfnMtCSAUm36w:c3z7Wp-HJCq9Z-L0nzrtzA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Sa4BJZXXNkfnMtCSAUm36w:c3z7Wp-HJCq9Z-L0nzrtzA:2OgSH0Zsev7JBS3J
      X-Gdc-Request-Time:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/3173b7803c558e81bb881b289e65b3bc","projects":"/gdc/account/profile/3173b7803c558e81bb881b289e65b3bc/projects","auditEvents":"/gdc/account/profile/3173b7803c558e81bb881b289e65b3bc/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"gemtest-when+validating+MUFs+via+report+computation-0","companyName":null,"position":null,"created":"2019-01-08
        11:58:32","updated":"2019-01-08 11:58:39","country":null,"phoneNumber":null,"authenticationModes":[],"login":"gemtest-when+validating+mufs+via+report+computation-0@gooddata.com","timezone":null,"ssoProvider":null,"email":"gemtest-when+validating+mufs+via+report+computation-0@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Tue, 08 Jan 2019 10:58:43 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Sa4BJZXXNkfnMtCSAUm36w:V9alj4ZX6ATUk6cKXuMkUw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Sa4BJZXXNkfnMtCSAUm36w:V9alj4ZX6ATUk6cKXuMkUw:siBZdGlcqfpmoE9o
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/ldm?thumbnail=1","self":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u","clearCaches":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/clearCaches","invitations":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/invitations","users":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/uploads/","ldm":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/ldm","metadata":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u","publicartifacts":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/publicartifacts","roles":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/roles","userRoles":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/users/3173b7803c558e81bb881b289e65b3bc/roles","userPermissions":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/users/3173b7803c558e81bb881b289e65b3bc/permissions","dataload":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/dataload","connectors":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/connectors","execute":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/execute","config":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/config","projectFeatureFlags":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/projectFeatureFlags","schedules":"/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/schedules","templates":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/templates"},"meta":{"created":"2019-01-08
        11:52:02","summary":"No summary","updated":"2019-01-08 11:52:04","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"RubyGem
        Dev Week test","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 08 Jan 2019 10:58:44 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT SUM([/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/223])"},"meta":{"tags":"","summary":null,"title":"Untitled
        metric"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:k4RnmkyQgg_P8eabG-VydA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:k4RnmkyQgg_P8eabG-VydA:GOG7Z7xDIk9OYUxC
      X-Gdc-Request-Time:
      - '55'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/277"}'
  recorded_at: Tue, 08 Jan 2019 10:58:45 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/277
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:i8mrfWj--FZfFlEcxCnt9A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:i8mrfWj--FZfFlEcxCnt9A:QpU1q6c5AAyzrNkB
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"SUM","content":[{"value":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/223","position":{"column":25,"line":1},"type":"fact
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        SUM([/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/223])"},"links":{"explain2":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/277/explain2"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/277","tags":"","created":"2019-01-08
        11:58:45","identifier":"aacIRxKvd6Qq","deprecated":"0","summary":"","isProduction":1,"title":"Untitled
        metric","category":"metric","updated":"2019-01-08 11:58:45","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 08 Jan 2019 10:58:45 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Sa4BJZXXNkfnMtCSAUm36w:LYteVLLSgo9saJqnCdepUQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Sa4BJZXXNkfnMtCSAUm36w:LYteVLLSgo9saJqnCdepUQ:HN91gXVnatYv5n1q
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''hmaayky1211ud23jk87m7r1p70tjp45u''","category":"project","instance":"hmaayky1211ud23jk87m7r1p70tjp45u","links":[{"link":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","category":"drillcrosspaths","title":"drillcrosspaths"}[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"definitionContent":{"content":{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[{"attribute":{"alias":"","totals":[],"uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214"}}],"metrics":[{"alias":"Untitled
        metric","uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/277"}],"rows":[{"attribute":{"alias":"","totals":[],"uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/219"}},"metricGroup"]},"format":"grid","filters":[]},"meta":{"tags":"","summary":"","title":"Untitled
        report definition"}}},"projectMetadata":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Sa4BJZXXNkfnMtCSAUm36w:AIxSRQALN-Ljr0pTdMzDPA
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/dataResult/8583325427223002112"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Sa4BJZXXNkfnMtCSAUm36w:AIxSRQALN-Ljr0pTdMzDPA:J2H663AoM1FT11N0
      X-Gdc-Request-Time:
      - '208'
    body:
      encoding: ASCII-8BIT
      string: '{"execResult":{"reportView":{"reportName":"Untitled report definition","columnWidths":[],"filters":[],"rows":[{"attributeTitle":"Repository
        Name","summary":"","displayFormId":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/219","baseElementURI":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/218/elements?id=","title":"Repository
        Name","attributeId":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/218","totals":[[]]},"metricGroup"],"sort":{"columns":[],"rows":[]},"format":"grid","columns":[{"attributeTitle":"Dev","summary":"","displayFormId":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214","baseElementURI":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212/elements?id=","title":"Dev","attributeId":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212","totals":[[]]}],"metrics":[{"format":"#,##0","summary":"","title":"Untitled
        metric","metricId":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/277"}]},"dataResult":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/dataResult/8583325427223002112"}}'
  recorded_at: Tue, 08 Jan 2019 10:58:48 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/dataResult/8583325427223002112
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Sa4BJZXXNkfnMtCSAUm36w:VeTjQWEWmIJ7pRb5hHwE2Q
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Execution-Time:
      - '165'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Sa4BJZXXNkfnMtCSAUm36w:VeTjQWEWmIJ7pRb5hHwE2Q:8ISHmzLqUShJutLB
      X-Gdc-Request-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"xtab_data":{"columns":{"tree":{"index":{"1":[2],"3":[0],"2":[1]},"first":0,"last":2,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"normal","id":"3"},{"index":{},"first":1,"last":1,"children":[],"type":"normal","id":"2"},{"index":{},"first":2,"last":2,"children":[],"type":"normal","id":"1"}],"type":"root","id":null},"lookups":[{"1":"tomas@gooddata.com","3":"jirka@gooddata.com","2":"petr@gooddata.com"}]},"data":[[null,"3","6"],["5",null,"1"]],"overall_size":{"columns":3,"rows":2},"rows":{"tree":{"index":{"4":[1],"5":[0]},"first":0,"last":1,"children":[{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"normal","id":"5"},{"index":{"0":[0]},"first":1,"last":1,"children":[{"index":{},"first":1,"last":1,"children":[],"type":"metric","id":"0"}],"type":"normal","id":"4"}],"type":"root","id":null},"lookups":[{"4":"goodot","5":"bam"},{"0":"Untitled
        metric"}]},"offset":{"columns":0,"rows":0},"size":{"columns":3,"rows":2}}}'
  recorded_at: Tue, 08 Jan 2019 10:58:49 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:tIHVl-Y18yrINAp98MdRvg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:tIHVl-Y18yrINAp98MdRvg:MopZ9gDpghA8b2g0
      X-Gdc-Request-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/214"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/hmaayky1211ud23jk87m7r1p70tjp45u/obj/212/elements?id=3"}}]}}'
  recorded_at: Tue, 08 Jan 2019 10:58:54 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/hmaayky1211ud23jk87m7r1p70tjp45u/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:YDT-5fBn5UED8UPIX2se0w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 1JZSxTyihkHvhK598jQYkQ:YDT-5fBn5UED8UPIX2se0w:rcwAGUCRjOFlrUGf
      X-Gdc-Request-Time:
      - '35'
    body:
      encoding: ASCII-8BIT
[...]
