---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:IU-d5XMjKNR1ffPPE7QhUw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:IU-d5XMjKNR1ffPPE7QhUw:Lllm5u4tKnT3Nryf"
      X-Gdc-Request-Time:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":3},"schedulesLink":"/gdc/projects/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/schedules","items":[{"schedule":{"name":"add-component-schedule","type":"MSETL","state":"ENABLED","params":{"EXECUTABLE":"add-component-schedule","PROCESS_ID":"143f98a5-61b7-43e4-ac85-5c34d7f3ce6c"},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/schedules/5cb883a8e4b0fc1fc9802818","executions":"/gdc/projects/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/schedules/5cb883a8e4b0fc1fc9802818/executions"}}},{"schedule":{"name":"main.rb","type":"MSETL","state":"DISABLED","params":{"param_1":"a","EXECUTABLE":"main.rb","param_2":"b","PROCESS_ID":"937527b7-05ce-433f-91f7-14eff4fb2937"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/schedules/5cb88330e4b0fc1fc9802817","executions":"/gdc/projects/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/schedules/5cb88330e4b0fc1fc9802817/executions"},"triggerScheduleId":"5cb8832ee4b00d861ca48614"}},{"schedule":{"name":"graph.grf","type":"MSETL","state":"DISABLED","params":{"param_1":"a","EXECUTABLE":"graph/graph.grf","param_2":"b","PROCESS_ID":"820d4d1a-7eb2-4889-bddd-15dc18dbf85d"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2020-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/schedules/5cb8832ee4b00d861ca48614","executions":"/gdc/projects/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/schedules/5cb8832ee4b00d861ca48614/executions"}}}]}}'
  recorded_at: Thu, 18 Apr 2019 14:03:51 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/zll541cvcwzy1k5vrkgospgyvi4bgdvn/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":lzDPYM8slG6VArlLa39eVg:LcLBYTgYUcSkehTjy1v9ng"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '10'
      X-Gdc-Request:
      - ":lzDPYM8slG6VArlLa39eVg:LcLBYTgYUcSkehTjy1v9ng:1F2kPyyKgp7ZE05h"
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":3},"schedulesLink":"/gdc/projects/zll541cvcwzy1k5vrkgospgyvi4bgdvn/schedules","items":[{"sche[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/pjgwueshacis9n1f0uwmc4oqufek0lty/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":YLaC2DmAer5vP0lsxLym0g:c1-ME0kmivwYY5yhwDU0gA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/jgka8uojpnb0ofe4yxwya0mfm8cno3g0/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":2wedXgL3GW4vHyak4Et1MA:WOUrDPka6HLa5EfPL9GXJw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":rdwPwqw9TPMJaSAGLH2tLA:bFlqe14-0TV_L7RuOoUJgA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/m6j94r8h9s0d8gma8gk5tcwbohebc5mt/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7qH3nI0ngNiwX1cO99I8QA:XdKTP_j3H8pToaT6az-k1w"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X[...]
