---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/objects/query?category=prompt&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:Cbd22Gy9o3F9PsucxtUjiw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '26'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:Cbd22Gy9o3F9PsucxtUjiw:h2jbQkNYxKIATR2I"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Thu, 07 May 2020 13:26:35 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m7meiy4mltkrfe0pim002b7vwwn05s4p/objects/query?category=prompt&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:GKBubNOyDMK4tVVD_StgGQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '30'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:GKBubNOyDMK4tVVD_StgGQ:lVgGrqEQiYrggEhS"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Thu, 07 May 2020 13:26:37 GMT
recorded_with: VCR 5.1.0
