---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.comp.my_computed_attr"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:M0HUxwGBArQ2cmXXWmDoGw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:M0HUxwGBArQ2cmXXWmDoGw:ll1J8BsjYa3mPadE"
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.comp.my_computed_attr","uri":"/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/313"}]}'
  recorded_at: Thu, 07 May 2020 13:26:25 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/313
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:8pdq6Qk-ksQHACgezW22Lw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '44'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:8pdq6Qk-ksQHACgezW22Lw:4V7jzjwa9NYPHByz"
    body:
      encoding: ASCII-8BIT
      string: '{"attribute":{"content":{"rel":["to {attr.csv_policies.state} as case
        when {metric.customers.count} <= 1000 then {attr.comp.my_computed_attr?\"Small\"},
        when {metric.customers.count} <= 2000 then {attr.comp.my_computed_attr?\"Medium\"},
        when {metric.customers.count} > 2000 then {attr.comp.my_computed_attr?\"Large\"}
        else {attr.comp.my_computed_attr?\"\"} end"],"drillDownStepAttributeDF":"/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/289","pk":[{"type":"col","data":"/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/105"}],"dimension":"/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/312","displayForms":[{"content":{"formOf":"/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/313","expression":"[/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/107]","default":1},"links":{"elements":"/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/314/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/314","tags":"","created":"2020-05-07
        15:18:55","identifier":"label.comp.my_computed_attr","deprecated":"0","summary":"","isProduction":1,"title":"Label.Comp.My
        Computed Attr","category":"attributeDisplayForm","updated":"2020-05-07 15:21:57","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/313","tags":"","created":"2020-05-07
        15:18:55","identifier":"attr.comp.my_computed_attr","deprecated":"0","summary":"","isProduction":1,"title":"My
        computed attribute","category":"attribute","updated":"2020-05-07 15:22:23","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 07 May 2020 13:26:26 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/289
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:RvnA5Zcdkt4DZah26D03ZA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '32'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:RvnA5Zcdkt4DZah26D03ZA:v55YKdBVeiW3VDlM"
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/288","expression":"[/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/92]","default":1},"links":{"elements":"/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/289/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/289","tags":"","created":"2020-05-07
        15:18:54","identifier":"label.csv_policies.customer","deprecated":"0","summary":"","isProduction":1,"title":"Customer","category":"attributeDisplayForm","updated":"2020-05-07
        15:21:57","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 07 May 2020 13:26:29 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m7meiy4mltkrfe0pim002b7vwwn05s4p/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.comp.my_computed_attr"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:9xS6ACtRF2-M1NCoNXOJgQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '31'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:9xS6ACtRF2-M1NCoNXOJgQ:5yNBoLCzcoig5mkH"
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.comp.my_computed_attr","uri":"/gdc/md/m7meiy4mltkrfe0pim002b7vwwn05s4p/obj/287"}]}'
  recorded_at: Thu, 07 May 2020 13:26:30 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m7meiy4mltkrfe0pim002b7vwwn05s4p/obj/287
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:-tyi8kszlFk-V6OvLXXmxQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/jn5cngbukz6wb4qdr08fz6mmr8n9ejwc/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.comp.my_computed_attr"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:1E67yhiSou37O9rK5J-2nQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:1E67yhiSou37O9rK5J-2nQ:NsHxUpE8KnkiF5Q8"
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.comp.my_computed_attr","uri":"/gdc/md/jn5cngbukz6wb4qdr08fz6mmr8n9ejwc/obj/286"}]}'
  recorded_at: Fri, 02 Apr 2021 05:49:39 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/jn5cngbukz6wb4qdr08fz6mmr8n9ejwc/obj/286
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:DNRbtVUN1uJayy26bEZKCg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-T[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/vabiwe5hwga49flil2alnbwtrm6u28pj/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.comp.my_computed_attr"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:eNbo0vLm21eImj_Lqk49aw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '15'
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:eNbo0vLm21eImj_Lqk49aw:kTM3U4ndgxridyV8"
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.comp.my_computed_attr","uri":"/gdc/md/vabiwe5hwga49flil2alnbwtrm6u28pj/obj/312"}]}'
  recorded_at: Fri, 02 Apr 2021 05:49:45 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/vabiwe5hwga49flil2alnbwtrm6u28pj/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:GT2JTRgddBUs4zdDtml8Wg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-T[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/vabiwe5hwga49flil2alnbwtrm6u28pj/obj/288
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:XqidolqJqNgQc602DGvt4A"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '20'
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:XqidolqJqNgQc602DGvt4A:4Kkf9PgUab8Oi3RF"
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/vabiwe5hwga49flil2alnbwtrm6u28pj/obj/287","expression":"[/gdc/md/vabiwe5hwga49flil2alnbwtrm6u28pj/obj/92]","default":1},"links":{"elements":"/gdc/md/vabiwe5hwga49flil2alnbwtrm6u28pj/obj/288/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/vabiwe5hwga49flil2alnbwtrm6u28pj/obj/288","tags":"","created":"2021-04-02
        07:40:37","identifier":"label.csv_policies.customer","deprecated":"0","summary":"","isProduction":1,"title":"Customer","category":"attributeDisplayForm","updated":"2021-04-02
        07:44:43","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Fri, 02 Apr 2021 05:49:49 GMT
recorded_with: VCR 5.0.0
