---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-dev.intgdc.com/gdc/md/d1jibu5q4oaxutzx2gvh940i9c95domw/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":2Wa6iWupUmeg_6eZ0KTMwg:STE_BYTNKhzCUrpNFaEHXw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '336'
      X-Gdc-Request:
      - ":2Wa6iWupUmeg_6eZ0KTMwg:STE_BYTNKhzCUrpNFaEHXw:eV9dL6u34yraMI9P"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":32,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/d1jibu5q4oaxutzx2gvh940i9c95domw/obj/134"}],"displayForms":[],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/d1jibu5q4oaxutzx2gvh940i9c95domw/obj/268","sort":"pk","dimension":"/gdc/md/d1jibu5q4oaxutzx2gvh940i9c95domw/obj/115","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/d1jibu5q4oaxutzx2gvh940i9c95domw/obj/182"},{"multivalue":false,"type":"col","data":"/gdc/md/d1jibu5q4oaxutzx2gvh940i9c95domw/obj/190"},{"multivalue":false,"type":"col","data":"/gdc/md/d1jibu5q4oaxutzx2gvh940i9c95domw/obj/205"}]},"meta":{"author":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0","uri":"/gdc/md/d1jibu5q4oaxutzx2gvh940i9c95domw/obj/218","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"effective_to_date.year","deprecated":"0","summary":"Year","isProduction":1,"title":"Year
        (Effective To Date)","category":"attribute","updated":"2020-05-07 15:10:54","contributor":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0"}}},{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/d1jibu5q4oaxutzx2gvh940i9c95domw/obj/136"}],"displayForms":[{"content":{"formOf":"/gdc/md/d1jibu5q4oaxutzx2gvh940i9c95domw/obj/219","expression":"[/gdc/md/d1jibu5q4oaxutzx2gvh940i9c95domw/obj/137]","default":1},"links":{"elements":"/gdc/md/d1jibu5q4oaxutzx2gvh940i9c95domw/obj/237/elements"},"meta":{"author":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0","uri":"/gdc/md/d1jibu5q4oaxutzx2gvh940i9c95domw/obj/237","tags":"","created":"2010-08-02
        08:13:42","identifier":"effective_to_date.aam81lMifn6q","deprecated":"0","summary":"DisplayForm
        default.","isProduction":1,"title":"default (Effective To Date)","category":"attributeDisplayForm","updated":"2020-05-07
        15:10:54","contributor":"/gdc/accoun[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:0EFY4jOm0o33SvK-bT1JoQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
   [...]
- request:
    method: get
    uri: https://staging2-lcm-dev.intgdc.com/gdc/md/ga2tj4052m2nv7onqj4umkxw33lst6ed/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":2pJoILR8dkVQee_LM1tm5Q:6l0uIVqc8eENF1iIemfF1A"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
    [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/jn5cngbukz6wb4qdr08fz6mmr8n9ejwc/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:m8zZkBUlMuuCvtgL3z9y2g"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
   [...]
