---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=aa9kzlzod3nq7oj9zj6q2ixk021j1v3v
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:pWdNdj7sdVLiNwzQmTmpLA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '49'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:pWdNdj7sdVLiNwzQmTmpLA:rOzAIZNS3kwoTQXa"
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bp2G0Gb94MjZhvZ5FNX_fNQ","description":"My Test Description","domain":null,"project":"/gdc/projects/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v"},"meta":{"created":"2020-05-07
        15:23:57","updated":"2020-05-07 15:23:57"},"links":{"self":"/gdc/userGroups/bp2G0Gb94MjZhvZ5FNX_fNQ","members":"/gdc/userGroups/bp2G0Gb94MjZhvZ5FNX_fNQ/members","modifyMembers":"/gdc/userGroups/bp2G0Gb94MjZhvZ5FNX_fNQ/modifyMembers"}}}]}}'
  recorded_at: Thu, 07 May 2020 13:25:06 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=m7meiy4mltkrfe0pim002b7vwwn05s4p
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:pKX8-xEYWIHvHhbiY2qQuw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:pKX8-xEYWIHvHhbiY2qQuw:kpWn6FcKQcF0CAkb"
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bQzXTyZeIho4dRhVcqsqMdw","description":"My Test Description","domain":null,"project":"/gdc/projects/m7meiy4mltkrfe0pim002b7vwwn05s4p"},"meta":{"created":"2020-05-07
        15:24:11","updated":"2020-05-07 15:24:11"},"links":{"self":"/gdc/userGroups/bQzXTyZeIho4dRhVcqsqMdw","members":"/gdc/userGroups/bQzXTyZeIho4dRhVcqsqMdw/members","modifyMembers":"/gdc/userGroups/bQzXTyZeIho4dRhVcqsqMdw/modifyMembers"}}}]}}'
  recorded_at: Thu, 07 May 2020 13:25:07 GMT
recorded_with: VCR 5.1.0
