---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:uxKUdYb4uNwdb1vC9BDalg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '26'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:uxKUdYb4uNwdb1vC9BDalg:alswviz0r7v0SUVW"
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''aa9kzlzod3nq7oj9zj6q2ixk021j1v3v''","category":"project","instance":"aa9kzlzod3nq7oj9zj6q2ixk021j1v3v","links":[{"link":"/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","category":"drillcrosspaths","title":"drillcrosspaths"},{"link":"/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/etl","summary":"Resources
        for data ETL.","category":"etl","title":"etl"}[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:rCm0mA4pVpeWZsLmejFqeg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '344'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:rCm0mA4pVpeWZsLmejFqeg:P4eU5IxfVtO0ib3K"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":32,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/140"}],"displayForms":[{"content":{"formOf":"/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/224","expression":"[/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/141]","default":1},"links":{"elements":"/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/242/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/242","tags":"","created":"2010-08-02
        08:13:42","identifier":"effective_to_date.aag81lMifn6q","deprecated":"0","summary":"DisplayForm
        Year.","isProduction":1,"title":"Year (Effective To Date)","category":"attributeDisplayForm","updated":"2020-05-07
        15:18:54","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/274","sort":"pk","dimension":"/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/121","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/188"},{"multivalue":false,"type":"col","data":"/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/196"},{"multivalue":false,"type":"col","data":"/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/211"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/224","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"effective_to_date.year","deprecat[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m7meiy4mltkrfe0pim002b7vwwn05s4p
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:QO9Eb8uEl4HBGZTvuYEwRA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m7meiy4mltkrfe0pim002b7vwwn05s4p/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:fYq6Bbyfthbi2HcfWMXXWg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
   [...]
