---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:4nuB-4gfWYzqmiP84wONFw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:4nuB-4gfWYzqmiP84wONFw:l7CRUiOs79fP1a9A"
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/119"}]}'
  recorded_at: Thu, 07 May 2020 13:25:29 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/119
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:FCTirpLwYh69CaR4SAzQnA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '44'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:FCTirpLwYh69CaR4SAzQnA:1drx2d74mYHDwnHn"
    body:
      encoding: ASCII-8BIT
      string: '{"dataSet":{"content":{"mode":"","facts":["/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/316","/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/317","/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/318","/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/319"],"dataLoadingColumns":["/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/76","/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/78","/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/86","/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/88","/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/29","/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/31","/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/33","/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/35","/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/37","/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/39"[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/316
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:xhkSTjPPhyDa8LuhRRkGhA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '35'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:xhkSTjPPhyDa8LuhRRkGhA:Gy96DICnyOIxeWoH"
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/315"],"expr":[{"type":"col","data":"/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/38"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/316","tags":"fact","created":"2020-05-07
        15:18:55","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2020-05-07 15:21:56","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 07 May 2020 13:25:32 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m7meiy4mltkrfe0pim002b7vwwn05s4p/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:SI0p5SAIi7lFcrNB4WmXiQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '28'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:SI0p5SAIi7lFcrNB4WmXiQ:FgCIy9sgfcJFUNQl"
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/m7meiy4mltkrfe0pim002b7vwwn05s4p/obj/119"}]}'
  recorded_at: Thu, 07 May 2020 13:25:33 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m7meiy4mltkrfe0pim002b7vwwn05s4p/obj/119
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:qWiAgdUYi3MVvpJuLwXkRA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/jn5cngbukz6wb4qdr08fz6mmr8n9ejwc/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:egDzZIqTwcQ3UEPJo3zt2A"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '19'
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:egDzZIqTwcQ3UEPJo3zt2A:BqUQp68Ir8bSrBem"
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/jn5cngbukz6wb4qdr08fz6mmr8n9ejwc/obj/119"}]}'
  recorded_at: Fri, 02 Apr 2021 05:48:30 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/jn5cngbukz6wb4qdr08fz6mmr8n9ejwc/obj/119
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:h1zAJ_F-EH3l8LkCAGI2Fw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-T[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/vabiwe5hwga49flil2alnbwtrm6u28pj/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:DiWVqF-qbJmyBrT283lbSw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '36'
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:DiWVqF-qbJmyBrT283lbSw:sPS2y2gYlSOGJLfC"
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/vabiwe5hwga49flil2alnbwtrm6u28pj/obj/119"}]}'
  recorded_at: Fri, 02 Apr 2021 05:48:36 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/vabiwe5hwga49flil2alnbwtrm6u28pj/obj/119
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:YVCSguE-QgRn9gHiQbh8Cg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-T[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/vabiwe5hwga49flil2alnbwtrm6u28pj/obj/315
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:9nhiDhgOBCwuNxTv980blA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '22'
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:9nhiDhgOBCwuNxTv980blA:CuWq9vLz2lgzsey9"
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/vabiwe5hwga49flil2alnbwtrm6u28pj/obj/314"],"expr":[{"type":"col","data":"/gdc/md/vabiwe5hwga49flil2alnbwtrm6u28pj/obj/38"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/vabiwe5hwga49flil2alnbwtrm6u28pj/obj/315","tags":"fact","created":"2021-04-02
        07:40:37","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2021-04-02 07:44:43","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Fri, 02 Apr 2021 05:48:41 GMT
recorded_with: VCR 5.0.0
