---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:4nuB-4gfWYzqmiP84wONFw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:4nuB-4gfWYzqmiP84wONFw:l7CRUiOs79fP1a9A"
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/119"}]}'
  recorded_at: Thu, 07 May 2020 13:25:29 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/119
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:FCTirpLwYh69CaR4SAzQnA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '44'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:FCTirpLwYh69CaR4SAzQnA:1drx2d74mYHDwnHn"
    body:
      encoding: ASCII-8BIT
      string: '{"dataSet":{"content":{"mode":"","facts":["/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/316","/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/317","/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/318","/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/319"],"dataLoadingColumns":["/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/76","/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/78","/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/86","/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/88","/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/29","/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/31","/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/33","/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/35","/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/37","/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/39"[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/316
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:xhkSTjPPhyDa8LuhRRkGhA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '35'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:xhkSTjPPhyDa8LuhRRkGhA:Gy96DICnyOIxeWoH"
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/315"],"expr":[{"type":"col","data":"/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/38"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/obj/316","tags":"fact","created":"2020-05-07
        15:18:55","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2020-05-07 15:21:56","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 07 May 2020 13:25:32 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m7meiy4mltkrfe0pim002b7vwwn05s4p/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:SI0p5SAIi7lFcrNB4WmXiQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '28'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:SI0p5SAIi7lFcrNB4WmXiQ:FgCIy9sgfcJFUNQl"
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/m7meiy4mltkrfe0pim002b7vwwn05s4p/obj/119"}]}'
  recorded_at: Thu, 07 May 2020 13:25:33 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m7meiy4mltkrfe0pim002b7vwwn05s4p/obj/119
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:qWiAgdUYi3MVvpJuLwXkRA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m7meiy4mltkrfe0pim002b7vwwn05s4p/obj/316
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:HEcwNfp1M80icUSKgF-ivQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '34'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:HEcwNfp1M80icUSKgF-ivQ:jQsPFHbVxj9Buhfh"
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/m7meiy4mltkrfe0pim002b7vwwn05s4p/obj/315"],"expr":[{"type":"col","data":"/gdc/md/m7meiy4mltkrfe0pim002b7vwwn05s4p/obj/38"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/m7meiy4mltkrfe0pim002b7vwwn05s4p/obj/316","tags":"fact","created":"2020-05-07
        15:19:20","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2020-05-07 15:22:16","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 07 May 2020 13:25:37 GMT
recorded_with: VCR 5.1.0
