---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:zulumsryuI6GOC9mrFuvMA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:zulumsryuI6GOC9mrFuvMA:XjQQjrXNbDt6jAdQ"
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/etltask/595a5f96cc8fa21a8430384ac2417f0900000032"},"token":"<TOKEN>"}}'
  recorded_at: Thu, 18 Apr 2019 14:02:47 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/etltask/595a5f96cc8fa21a8430384ac2417f0900000032
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:NFg2gxoWQLfw8-_9r32Alg"
      Process:
      - 'true'
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:NFg2gxoWQLfw8-_9r32Alg:eF7qBV2zoxPiHZ9B"
      X-Gdc-Request-Time:
      - '56'
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Thu, 18 Apr 2019 14:02:48 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:8-wBITw9bld8iy5VWFBI5w"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:8-wBITw9bld8iy5VWFBI5w:RcAjZ8nqKcgKftdz"
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"DEVELOPMENT","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/ldm?thumbnail=1","self":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra","clearCaches":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/clearCaches","invitations":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/invitations","users":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/checkXaeCompatibility","uploads":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/uploads/","ldm":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/ldm","metadata":"/gdc/md/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra","publicartifacts":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/publicartifacts","roles":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/roles","userRoles":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/dataload","connectors":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/connectors","execute":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/execute","config":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/config","projectFeatureFlags":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/projectFeatureFlags","schedules":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/schedules","templates":"/gdc/md/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/templates"},"meta":{"created":"2019-04-18
        16:02:52","summary":"No summary","updated":"2019-04-18 16:02:53","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"project
        clone","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 18 Apr 2019 14:02:54 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:3cCRRSApJcQwzaNprZkNQA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:3cCRRSApJcQwzaNprZkNQA:ui6P2UuZNJ0cDltc"
      X-Gdc-Request-Time:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"DEVELOPMENT","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/ldm?thumbnail=1","self":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra","clearCaches":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/clearCaches","invitations":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/invitations","users":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/g2c[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/maintenance/import
    body:
      encoding: UTF-8
      string: '{"importProject":{"token":"<TOKEN>"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:VaRv5Qkj0U2fAd7IV4jyLA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:VaRv5Qkj0U2fAd7IV4jyLA:MzEQNjDik07BuF0a"
      X-Gdc-Request-Time:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/etltask/5d7287cdee52e2f63c9771c39d56fa8e00000032"}'
  recorded_at: Thu, 18 Apr 2019 14:03:02 GMT
[...]
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/zll541cvcwzy1k5vrkgospgyvi4bgdvn/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":lzDPYM8slG6VArlLa39eVg:QP8y7gFrTMDfhISbdQLyOg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '34'
      X-Gdc-Request:
      - ":lzDPYM8slG6VArlLa39eVg:QP8y7gFrTMDfhISbdQLyOg:V4Jd7AEZ5qAexcd4"
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/zll541cvcwzy1k5vrkgospgyvi4bgdvn/etltask/dcc704c35142c049424fb0e8645b837600000018"},"token":"<TOKEN>"}}'
  recorded_at: Tue, 14 Jan 2020 07:26:33 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/zll541cvcwzy1k5vrkgospgyvi4bgdvn/etltask/dcc704c35142c049424fb0e8645b837600000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":lzDPYM8slG6VArlLa39eVg:LSUM3OYfVivC1QonHIJm8g"
      Process:
      - 'true'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '26'
      X-Gdc-Request:
      - ":lzDPYM8slG6VArlLa39eVg:LSUM3OYfVivC1QonHIJm8g:0sRzSjOwEHMcNjUz"
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Tue, 14 Jan 2020 07:26:34 GMT
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/lrbvim2i2hdd3jk9m0cr230pedi6c1zo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":lzDPYM8slG6VArlLa39eVg:pj_jaOFOSxC0Idf82IQq4Q"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-H[...]
[...]
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/lrbvim2i2hdd3jk9m0cr230pedi6c1zo/maintenance/import
    body:
      encoding: UTF-8
      string: '{"importProject":{"token":"<TOKEN>"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":lzDPYM8slG6VArlLa39eVg:xX8Iy6LwGJeicji6L0oDFg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '43'
      X-Gdc-Request:
      - ":lzDPYM8slG6VArlLa39eVg:xX8Iy6LwGJeicji6L0oDFg:V7QsutsqplDZAgPn"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/lrbvim2i2hdd3jk9m0cr230pedi6c1zo/etltask/920b1d27697e8230ecc73c20fe86b05b00000018"}'
  recorded_at: Tue, 14 Jan 2020 07:26:49 GMT
[...]
- request:
    method: post
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/pjgwueshacis9n1f0uwmc4oqufek0lty/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":YLaC2DmAer5vP0lsxLym0g:I02IRVnWXex86saFgs0J1g"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '46'
      X-Gdc-Request:
      - ":YLaC2DmAer5vP0lsxLym0g:I02IRVnWXex86saFgs0J1g:bEduthtRjmfNkwxw"
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/pjgwueshacis9n1f0uwmc4oqufek0lty/etltask/84d4d9c2fe1b67411736985126a04a100000004b"},"token":"<TOKEN>"}}'
  recorded_at: Tue, 14 Jan 2020 10:16:02 GMT
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/pjgwueshacis9n1f0uwmc4oqufek0lty/etltask/84d4d9c2fe1b67411736985126a04a100000004b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":YLaC2DmAer5vP0lsxLym0g:sadz16zJrF3fOvYg2fssrA"
      Process:
      - 'true'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '57'
      X-Gdc-Request:
      - ":YLaC2DmAer5vP0lsxLym0g:sadz16zJrF3fOvYg2fssrA:uy7yNJE663La2cJd"
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Tue, 14 Jan 2020 10:16:03 GMT
[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/hj37n1duwec5xmzqi2llxc0yhtbkkw8e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":YLaC2DmAer5vP0lsxLym0g:8KsoM9zA_4xvSkh0Mhuz6Q"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-He[...]
[...]
- request:
    method: post
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/hj37n1duwec5xmzqi2llxc0yhtbkkw8e/maintenance/import
    body:
      encoding: UTF-8
      string: '{"importProject":{"token":"<TOKEN>"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":YLaC2DmAer5vP0lsxLym0g:Tu6zEP1FB8D6upHkEjn39g"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '60'
      X-Gdc-Request:
      - ":YLaC2DmAer5vP0lsxLym0g:Tu6zEP1FB8D6upHkEjn39g:DPIMzSpR1XfWdqrQ"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/hj37n1duwec5xmzqi2llxc0yhtbkkw8e/etltask/bae94869ed523040075d7c50451ac9df0000004b"}'
  recorded_at: Tue, 14 Jan 2020 10:16:16 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/jgka8uojpnb0ofe4yxwya0mfm8cno3g0/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":2wedXgL3GW4vHyak4Et1MA:NX5g8rghmKSJk-Uj5HAx9Q"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '39'
      X-Gdc-Request:
      - ":2wedXgL3GW4vHyak4Et1MA:NX5g8rghmKSJk-Uj5HAx9Q:3F7hpvbF5T5vn7JF"
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/jgka8uojpnb0ofe4yxwya0mfm8cno3g0/etltask/ea3a8fa376e0ac34dcfa9111888b1f3100000089"},"token":"<TOKEN>"}}'
  recorded_at: Tue, 14 Jan 2020 10:33:05 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/jgka8uojpnb0ofe4yxwya0mfm8cno3g0/etltask/ea3a8fa376e0ac34dcfa9111888b1f3100000089
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":2wedXgL3GW4vHyak4Et1MA:zqGQ67bJlIfyDHma8cZJJw"
      Process:
      - 'true'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '27'
      X-Gdc-Request:
      - ":2wedXgL3GW4vHyak4Et1MA:zqGQ67bJlIfyDHma8cZJJw:oiya8tagSNg6RYAd"
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Tue, 14 Jan 2020 10:33:06 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/cnipr3msi80poyribfh5cb04a5z85cjg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":2wedXgL3GW4vHyak4Et1MA:zovH4HLu1HcnOOB0TQ515A"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-H[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/cnipr3msi80poyribfh5cb04a5z85cjg/maintenance/import
    body:
      encoding: UTF-8
      string: '{"importProject":{"token":"<TOKEN>"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":2wedXgL3GW4vHyak4Et1MA:wdRu8ECZv9gK6dtSOgrF0A"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '58'
      X-Gdc-Request:
      - ":2wedXgL3GW4vHyak4Et1MA:wdRu8ECZv9gK6dtSOgrF0A:bHirPgTaOe1ibAFp"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/cnipr3msi80poyribfh5cb04a5z85cjg/etltask/287b3c042e24d81c4adb9551009f5a4d00000089"}'
  recorded_at: Tue, 14 Jan 2020 10:33:21 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ckggg1kn1hwetn3giedb8i2g7em2ykir/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":rdwPwqw9TPMJaSAGLH2tLA:zfa7pu5UWTCsdzraE9e5zg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '57'
      X-Gdc-Request:
      - ":rdwPwqw9TPMJaSAGLH2tLA:zfa7pu5UWTCsdzraE9e5zg:K5Qxm5dFi08V0SJN"
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/ckggg1kn1hwetn3giedb8i2g7em2ykir/etltask/415d4fe6d888cc670628976ef545c7d700000089"},"token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 06:01:16 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ckggg1kn1hwetn3giedb8i2g7em2ykir/etltask/415d4fe6d888cc670628976ef545c7d700000089
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":rdwPwqw9TPMJaSAGLH2tLA:csv0xExUZNU8VQE8CNPQLA"
      Process:
      - 'true'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '27'
      X-Gdc-Request:
      - ":rdwPwqw9TPMJaSAGLH2tLA:csv0xExUZNU8VQE8CNPQLA:MWgu8sQ8G39TvAEv"
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Wed, 15 Jan 2020 06:01:17 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/xy2vdd3cq40g1f2umhocsyjq06sfyse9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":rdwPwqw9TPMJaSAGLH2tLA:U9JMheXPEHiQPa3wlui4FQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-H[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/xy2vdd3cq40g1f2umhocsyjq06sfyse9/maintenance/import
    body:
      encoding: UTF-8
      string: '{"importProject":{"token":"<TOKEN>"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":rdwPwqw9TPMJaSAGLH2tLA:UUWc3q2dhtX59bLbncW-TQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '47'
      X-Gdc-Request:
      - ":rdwPwqw9TPMJaSAGLH2tLA:UUWc3q2dhtX59bLbncW-TQ:r0uf7j4bx0nLBMMU"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/xy2vdd3cq40g1f2umhocsyjq06sfyse9/etltask/8bc6a3b5c7d2a550fc3fabf4a657dbae00000089"}'
  recorded_at: Wed, 15 Jan 2020 06:01:31 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m6j94r8h9s0d8gma8gk5tcwbohebc5mt/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7qH3nI0ngNiwX1cO99I8QA:Rk6lnU3P82azCu6-PS2vhQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '42'
      X-Gdc-Request:
      - ":7qH3nI0ngNiwX1cO99I8QA:Rk6lnU3P82azCu6-PS2vhQ:b1sWEGoU8PCMzgRc"
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/m6j94r8h9s0d8gma8gk5tcwbohebc5mt/etltask/3d10aae321d7aea31fcbafc098584b5d00000089"},"token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 07:39:49 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m6j94r8h9s0d8gma8gk5tcwbohebc5mt/etltask/3d10aae321d7aea31fcbafc098584b5d00000089
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7qH3nI0ngNiwX1cO99I8QA:wOsGOL7W3nCLveR4dJtkWw"
      Process:
      - 'true'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '26'
      X-Gdc-Request:
      - ":7qH3nI0ngNiwX1cO99I8QA:wOsGOL7W3nCLveR4dJtkWw:VVY5csNuuLoAyWL1"
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Wed, 15 Jan 2020 07:39:50 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"project clone"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"PRODUCTION","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7qH3nI0ngNiwX1cO99I8QA:26IpuODp0ZZCScI9uOEBGQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '407'
      X-Gdc-Request:
      - ":7qH3nI0ngNiwX1cO99I8QA:26IpuODp0ZZCScI9uOEBGQ:Ofv1VECOXOpJWi61"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/pydfjkdyxc72owfnvjayzljo3h3rc4wf"}'
  recorded_at: Wed, 15 Jan 2020 07:39:59 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/pydfjkdyxc72owfnvjayzljo3h3rc4wf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7qH3nI0ngNiwX1cO99I8QA:twz6vTODo_E_uhv-aXSdqQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-H[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/pydfjkdyxc72owfnvjayzljo3h3rc4wf/maintenance/import
    body:
      encoding: UTF-8
      string: '{"importProject":{"token":"<TOKEN>"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7qH3nI0ngNiwX1cO99I8QA:Xku_hRCnxRPtZeod6CNpyQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '51'
      X-Gdc-Request:
      - ":7qH3nI0ngNiwX1cO99I8QA:Xku_hRCnxRPtZeod6CNpyQ:rj0YQzH3GNK4SEQj"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/pydfjkdyxc72owfnvjayzljo3h3rc4wf/etltask/5c419739dfdbcf5ad48260d2291fccc100000089"}'
  recorded_at: Wed, 15 Jan 2020 07:40:07 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/pydfjkdyxc72owfnvjayzljo3h3rc4wf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7qH3nI0ngNiwX1cO99I8QA:dxaVSsSt_gl3F6mw3NK5Gg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '65'
      X-Gdc-Request:
      - ":7qH3nI0ngNiwX1cO99I8QA:dxaVSsSt_gl3F6mw3NK5Gg:ih6DMzpRpDd86xaR"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 15 Jan 2020 07:40:08 GMT
recorded_with: VCR 5.0.0
