---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:zulumsryuI6GOC9mrFuvMA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:zulumsryuI6GOC9mrFuvMA:XjQQjrXNbDt6jAdQ"
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/etltask/595a5f96cc8fa21a8430384ac2417f0900000032"},"token":"<TOKEN>"}}'
  recorded_at: Thu, 18 Apr 2019 14:02:47 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/etltask/595a5f96cc8fa21a8430384ac2417f0900000032
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:NFg2gxoWQLfw8-_9r32Alg"
      Process:
      - 'true'
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:NFg2gxoWQLfw8-_9r32Alg:eF7qBV2zoxPiHZ9B"
      X-Gdc-Request-Time:
      - '56'
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Thu, 18 Apr 2019 14:02:48 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"project clone"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"DEVELOPMENT","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:r5Jon9WfArnNuzYpfsTzWA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:r5Jon9WfArnNuzYpfsTzWA:5CblWIvbPf07YkmD"
      X-Gdc-Request-Time:
      - '439'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra"}'
  recorded_at: Thu, 18 Apr 2019 14:02:53 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:8-wBITw9bld8iy5VWFBI5w"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:8-wBITw9bld8iy5VWFBI5w:RcAjZ8nqKcgKftdz"
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"DEVELOPMENT","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/ldm?thumbnail=1","self":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra","clearCaches":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/clearCaches","invitations":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/invitations","users":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/checkXaeCompatibility","uploads":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/uploads/","ldm":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/ldm","metadata":"/gdc/md/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra","publicartifacts":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/publicartifacts","roles":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/roles","userRoles":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/dataload","connectors":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/connectors","execute":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/execute","config":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/config","projectFeatureFlags":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/projectFeatureFlags","schedules":"/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/schedules","templates":"/gdc/md/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/templates"},"meta":{"created":"2019-04-18
        16:02:52","summary":"No summary","updated":"2019-04-18 16:02:53","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"project
        clone","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 18 Apr 2019 14:02:54 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/maintenance/import
    body:
      encoding: UTF-8
      string: '{"importProject":{"token":"<TOKEN>"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:VaRv5Qkj0U2fAd7IV4jyLA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:VaRv5Qkj0U2fAd7IV4jyLA:MzEQNjDik07BuF0a"
      X-Gdc-Request-Time:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra/etltask/5d7287cdee52e2f63c9771c39d56fa8e00000032"}'
  recorded_at: Thu, 18 Apr 2019 14:03:02 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/g2c56ut1ucsbkg6nmlpcx53bk2nz8pra
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:F9jbhOr4hfUCynqshkhN7w"
      Stats-On:
      - ''
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '68'
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:F9jbhOr4hfUCynqshkhN7w:hMPGeDqBXSz9vcDs"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 18 Apr 2019 14:03:04 GMT
recorded_with: VCR 4.0.0
