---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:emgXXMrNM3HhyY9972TJqw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:emgXXMrNM3HhyY9972TJqw:zYvJSyrhK5LRWIpi
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/etltask/0c8836f1062d4466a05e4773e7c6284a00000040"},"token":"<TOKEN>"}}'
  recorded_at: Fri, 07 Sep 2018 08:32:55 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/etltask/0c8836f1062d4466a05e4773e7c6284a00000040
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:sBdVCZXB1PU_nMnM0dtNEw
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:sBdVCZXB1PU_nMnM0dtNEw:1jAeBgdxcAYkbZ8A
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Fri, 07 Sep 2018 08:32:56 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/fwdnn6e5sw5tguxf9rxjary3il64vfpc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:VkePrT-WOvLkYRrfvlIW8g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:VkePrT-WOvLkYRrfvlIW8g:L9wGHtgB2qb1WWgJ
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/fwdnn6e5sw5tguxf9rxjary3il64vfpc/ldm?thumbnail=1","self":"/gdc/projects/fwdnn6e5sw5tguxf9rxjary3il64vfpc","clearCaches":"/gdc/projects/fwdnn6e5sw5tguxf9rxjary3il64vfpc/clearCaches","invitations":"/gdc/projects/fwdnn6e5sw5tguxf9rxjary3il64vfpc/invitations","users":"/gdc/projects/fwdnn6e5sw5tguxf9rxjary3il64vfpc/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/fwdnn6e5sw5tguxf9rxjary3il64vfpc/uploads/","ldm":"/gdc/projects/fwdnn6e5sw5tguxf9rxjary3il64vfpc/ldm","metadata":"/gdc/md/fwdnn6e5sw5tguxf9rxjary3il64vfpc","publicartifacts":"/gdc/projects/fwdnn6e5sw5tguxf9rxjary3il64vfpc/publicartifacts","roles":"/gdc/projects/fwdnn6e5sw5tguxf9rxjary3il64vfpc/roles","userRoles":"/gdc/projects/fwdnn6e5sw5tguxf9rxjary3il64vfpc/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/fwdnn6e5sw5tguxf9rxjary3il64vfpc/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/fwdnn6e5sw5tguxf9rxjary3il64vfpc/dataload","connectors":"/gdc/projects/fwdnn6e5sw5tguxf9rxjary3il64vfpc/connectors","execute":"/gdc/projects/fwdnn6e5sw5tguxf9rxjary3il64vfpc/execute","config":"/gdc/projects/fwdnn6e5sw5tguxf9rxjary3il64vfpc/config","projectFeatureFlags":"/gdc/projects/fwdnn6e5sw5tguxf9rxjary3il64vfpc/projectFeatureFlags","schedules":"/gdc/projects/fwdnn6e5sw5tguxf9rxjary3il64vfpc/schedules","templates":"/gdc/md/fwdnn6e5sw5tguxf9rxjary3il64vfpc/templates"},"meta":{"created":"2018-09-07
        10:33:00","summary":"No summary","updated":"2018-09-07 10:33:00","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"project
        clone","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Fri, 07 Sep 2018 08:33:01 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/fwdnn6e5sw5tguxf9rxjary3il64vfpc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:x94uI8fepUQMrVH5IIo--g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:x94uI8fepUQMrVH5IIo--g:V8yAzhyOYhKpa59A
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/fwdnn6e5sw5tguxf9rxjary3il64vfpc/ldm?thumbnail=1","self":"/gdc/projects/fwdnn6e5sw5tguxf9rxjary3il64vfpc","clearCaches":"/gdc/projects/fwdnn6e5sw5tguxf9rxjary3il64vfpc/clearCaches","invitations":"/gdc/projects/fwdnn6e5sw5tguxf9rxjary3il64vfpc/invitations","users":"/gdc/projects/fwdnn6e5sw5tguxf9rxjary3il64vfpc/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/fwdnn6e5sw5tguxf9[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fwdnn6e5sw5tguxf9rxjary3il64vfpc/maintenance/import
    body:
      encoding: UTF-8
      string: '{"importProject":{"token":"<TOKEN>"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:PZzdg-iLmbihLjNH4EXpbg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:PZzdg-iLmbihLjNH4EXpbg:z3nsMAkHKJ45llbi
      X-Gdc-Request-Time:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/fwdnn6e5sw5tguxf9rxjary3il64vfpc/etltask/0bcb75bd44511abbb84fa000599c6b5200000040"}'
  recorded_at: Fri, 07 Sep 2018 08:33:08 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zyoflmgyrszp8cjur3x271h18fgu8ikz/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RTtYVDo0e7zVQqjXh6rkLQ:VQVkKmBhpCQSRdz7TUR16g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - RTtYVDo0e7zVQqjXh6rkLQ:VQVkKmBhpCQSRdz7TUR16g:CNnAZ8BM6VMISmyy
      X-Gdc-Request-Time:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/zyoflmgyrszp8cjur3x271h18fgu8ikz/etltask/6d7a7dd81a97fa69661d898196a1dd1200000032"},"token":"<TOKEN>"}}'
  recorded_at: Fri, 05 Oct 2018 12:59:39 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zyoflmgyrszp8cjur3x271h18fgu8ikz/etltask/6d7a7dd81a97fa69661d898196a1dd1200000032
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RTtYVDo0e7zVQqjXh6rkLQ:AniMJJcF6AhnON_jHKtCTw
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - RTtYVDo0e7zVQqjXh6rkLQ:AniMJJcF6AhnON_jHKtCTw:PHdVFEZIO7tlCMln
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Fri, 05 Oct 2018 12:59:40 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/nh4r4s9q9ej6rq5av382pxr33ekxzou4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RTtYVDo0e7zVQqjXh6rkLQ:_0x9jp2b50yWTKCWSo6oRA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/nh4r4s9q9ej6rq5av382pxr33ekxzou4/maintenance/import
    body:
      encoding: UTF-8
      string: '{"importProject":{"token":"<TOKEN>"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RTtYVDo0e7zVQqjXh6rkLQ:OfHZLu4HDHj1FQQsoQEIAw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - RTtYVDo0e7zVQqjXh6rkLQ:OfHZLu4HDHj1FQQsoQEIAw:jJxEIILtUj9XWRWy
      X-Gdc-Request-Time:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/nh4r4s9q9ej6rq5av382pxr33ekxzou4/etltask/04ac3ffdce1310fa5090ba7d393d6b0f00000032"}'
  recorded_at: Fri, 05 Oct 2018 12:59:53 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/x61hr057hl6zofam5vsgltg92ozkbtyc/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - GDNKUMmSE7CBKcSRg1IUdw:cob2L8SYJrzIipShQKO5dA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - GDNKUMmSE7CBKcSRg1IUdw:cob2L8SYJrzIipShQKO5dA:pjAqY6dknWGhqUVp
      X-Gdc-Request-Time:
      - '72'
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/x61hr057hl6zofam5vsgltg92ozkbtyc/etltask/f1c17080536848cd7c1683e55c8ceae700000032"},"token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 11:00:31 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/x61hr057hl6zofam5vsgltg92ozkbtyc/etltask/f1c17080536848cd7c1683e55c8ceae700000032
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - GDNKUMmSE7CBKcSRg1IUdw:Pauzx0n2VFzNSmKZTUVUzA
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - GDNKUMmSE7CBKcSRg1IUdw:Pauzx0n2VFzNSmKZTUVUzA:aV4pprg0IMoSWTOd
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Wed, 10 Oct 2018 11:00:31 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"project clone"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"PRODUCTION","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - GDNKUMmSE7CBKcSRg1IUdw:FJOhPnHdBHlu2w_taTT8Zw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - GDNKUMmSE7CBKcSRg1IUdw:FJOhPnHdBHlu2w_taTT8Zw:CjPVmewpt3OUsJYE
      X-Gdc-Request-Time:
      - '649'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/vis3h4tw9zcq8mvyy1agb50ui9d8d4xu"}'
  recorded_at: Wed, 10 Oct 2018 11:00:34 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/vis3h4tw9zcq8mvyy1agb50ui9d8d4xu
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - GDNKUMmSE7CBKcSRg1IUdw:UnUxE0hmXtypCez6LTmmdg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/vis3h4tw9zcq8mvyy1agb50ui9d8d4xu/maintenance/import
    body:
      encoding: UTF-8
      string: '{"importProject":{"token":"<TOKEN>"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - GDNKUMmSE7CBKcSRg1IUdw:FFMo-b7NOhY4lPQYs19c_Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - GDNKUMmSE7CBKcSRg1IUdw:FFMo-b7NOhY4lPQYs19c_Q:dWdhGoLs0MCVN9eE
      X-Gdc-Request-Time:
      - '95'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/vis3h4tw9zcq8mvyy1agb50ui9d8d4xu/etltask/7f04177c2ae439af412e8a99d560373200000032"}'
  recorded_at: Wed, 10 Oct 2018 11:00:42 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/vis3h4tw9zcq8mvyy1agb50ui9d8d4xu
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - GDNKUMmSE7CBKcSRg1IUdw:ot7PcIgwWKwDYiq-sXojpA
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '81'
      X-Gdc-Request:
      - GDNKUMmSE7CBKcSRg1IUdw:ot7PcIgwWKwDYiq-sXojpA:FVbrHwFmKwmAosq0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 11:00:43 GMT
recorded_with: VCR 4.0.0
