---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _rF9YKlQktWVJimM6XHJYw:5KBOHg4Sk_5vZu-q4zH29w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _rF9YKlQktWVJimM6XHJYw:5KBOHg4Sk_5vZu-q4zH29w:tvsTs3RvXyOgKnYw
      X-Gdc-Request-Time:
      - '46'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''voyb6fcvdngwfyf722vn9cmbv7sq6mf6''","category":"project","instance":"voyb6fcvdngwfyf722vn9cmbv7sq6mf6","links":[{"link":"/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","category":"drillcrosspaths","title":"drillcrosspaths"},{"link":"/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/etl","summary":"Resources
        for data ETL.","category":"etl","title":"etl"}[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/obj
    body:
      encoding: UTF-8
      string: '{"scheduledMail":{"meta":{"title":"Scheduled report example","summary":"Daily
        at 12:00pm PT","tags":"","deprecated":0},"content":{"when":{"recurrency":"0:0:0:12:0:0","startDate":"2012-06-05","timeZone":"America/Los_Angeles"},"to":[],"bcc":[],"subject":"Scheduled
        Report","body":"Hey, I''m sending you new Reports and Dashboards!","attachments":[]}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _rF9YKlQktWVJimM6XHJYw:MEVT3UxLuOMpx48Cg99WyA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _rF9YKlQktWVJimM6XHJYw:MEVT3UxLuOMpx48Cg99WyA:WuHjBk5tLhRXhjeX
      X-Gdc-Request-Time:
      - '137'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/obj/171"}'
  recorded_at: Tue, 05 Jun 2018 05:40:31 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/obj/171
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _rF9YKlQktWVJimM6XHJYw:YByPW_UlT0YUHRjaLx5zOQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _rF9YKlQktWVJimM6XHJYw:YByPW_UlT0YUHRjaLx5zOQ:mGbRh45154FS0v21
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"scheduledMail":{"content":{"when":{"recurrency":"0:0:0:12:0:0","timeZone":"America/Los_Angeles","startDate":"2012-06-05"},"body":"Hey,
        I''m sending you new Reports and Dashboards!","attachments":[],"to":[],"subject":"Scheduled
        Report"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/obj/171","tags":"","created":"2018-06-05
        07:40:31","identifier":"aabeJ5z6bvfr","deprecated":"0","summary":"Daily at
        12:00pm PT","isProduction":1,"title":"Scheduled report example","category":"scheduledMail","updated":"2018-06-05
        07:40:31","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 05:40:32 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1,"excludeSchedules":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _rF9YKlQktWVJimM6XHJYw:HzS3rKPB3-Os4Pg0ES2w1A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _rF9YKlQktWVJimM6XHJYw:HzS3rKPB3-Os4Pg0ES2w1A:CtqazquYD0zuC2Ra
      X-Gdc-Request-Time:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/etltask/ab1fcbc2901f1a3b01186e9959d83f820000002b"},"token":"<TOKEN>"}}'
  recorded_at: Tue, 05 Jun 2018 05:40:32 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/etltask/ab1fcbc2901f1a3b01186e9959d83f820000002b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _rF9YKlQktWVJimM6XHJYw:o9QWeKOWP_8x2bpOgPlwhw
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _rF9YKlQktWVJimM6XHJYw:o9QWeKOWP_8x2bpOgPlwhw:KgQj4FFcApQ5J5tr
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Tue, 05 Jun 2018 05:40:33 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"project clone"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"PRODUCTION","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _rF9YKlQktWVJimM6XHJYw:leVUSHRGLW5e6Xf23X8-Cw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _rF9YKlQktWVJimM6XHJYw:leVUSHRGLW5e6Xf23X8-Cw:1jGjrQMJ3Of8aT7F
      X-Gdc-Request-Time:
      - '486'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/xsyfp877vkgvhuj5vyqezjmma5omvgyr"}'
  recorded_at: Tue, 05 Jun 2018 05:40:44 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/xsyfp877vkgvhuj5vyqezjmma5omvgyr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _rF9YKlQktWVJimM6XHJYw:6kJW20hogXyLIhAFNN_vWw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _rF9YKlQktWVJimM6XHJYw:6kJW20hogXyLIhAFNN_vWw:ykv3zEGR2AwQHWIe
      X-Gdc-Request-Time:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/xsyfp877vkgvhuj5vyqezjmma5omvgyr/ldm?thumbnail=1","self":"/gdc/projects/xsyfp877vkgvhuj5vyqezjmma5omvgyr","clearCaches":"/gdc/projects/xsyfp877vkgvhuj5vyqezjmma5omvgyr/clearCaches","invitations":"/gdc/projects/xsyfp877vkgvhuj5vyqezjmma5omvgyr/invitations","users":"/gdc/projects/xsyfp877vkgvhuj5vyqezjmma5omvgyr/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/xsyfp877vkgvhuj5vyqezjmma5omvgyr/uploads/","ldm":"/gdc/projects/xsyfp877vkgvhuj5vyqezjmma5omvgyr/ldm","metadata":"/gdc/md/xsyfp877vkgvhuj5vyqezjmma5omvgyr","publicartifacts":"/gdc/projects/xsyfp877vkgvhuj5vyqezjmma5omvgyr/publicartifacts","roles":"/gdc/projects/xsyfp877vkgvhuj5vyqezjmma5omvgyr/roles","userRoles":"/gdc/projects/xsyfp877vkgvhuj5vyqezjmma5omvgyr/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/xsyfp877vkgvhuj5vyqezjmma5omvgyr/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/xsyfp877vkgvhuj5vyqezjmma5omvgyr/dataload","connectors":"/gdc/projects/xsyfp877vkgvhuj5vyqezjmma5omvgyr/connectors","execute":"/gdc/projects/xsyfp877vkgvhuj5vyqezjmma5omvgyr/execute","config":"/gdc/projects/xsyfp877vkgvhuj5vyqezjmma5omvgyr/config","projectFeatureFlags":"/gdc/projects/xsyfp877vkgvhuj5vyqezjmma5omvgyr/projectFeatureFlags","schedules":"/gdc/projects/xsyfp877vkgvhuj5vyqezjmma5omvgyr/schedules","templates":"/gdc/md/xsyfp877vkgvhuj5vyqezjmma5omvgyr/templates","eventstores":"/gdc/projects/xsyfp877vkgvhuj5vyqezjmma5omvgyr/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        07:40:44","summary":"No summary","updated":"2018-06-05 07:40:44","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"project
        clone","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 05:40:45 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/xsyfp877vkgvhuj5vyqezjmma5omvgyr/maintenance/import
    body:
      encoding: UTF-8
      string: '{"importProject":{"token":"<TOKEN>"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _rF9YKlQktWVJimM6XHJYw:Bdx4xU1RfMI3cZg9QW2cyg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _rF9YKlQktWVJimM6XHJYw:Bdx4xU1RfMI3cZg9QW2cyg:Q2OBjFDIEtRiYY03
      X-Gdc-Request-Time:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/xsyfp877vkgvhuj5vyqezjmma5omvgyr/etltask/6dc21b729dca92e9d648db77fd6ab2e50000002b"}'
  recorded_at: Tue, 05 Jun 2018 05:40:53 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/xsyfp877vkgvhuj5vyqezjmma5omvgyr/etltask/6dc21b729dca92e9d648db77fd6ab2e50000002b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _rF9YKlQktWVJimM6XHJYw:vZgwXYZDqG1qN2Q1DO-Whg
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _rF9YKlQktWVJimM6XHJYw:vZgwXYZDqG1qN2Q1DO-Whg:oMCQs9zX2mTn3VIp
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Tue, 05 Jun 2018 05:40:53 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/objects/query?category=scheduledMail&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _rF9YKlQktWVJimM6XHJYw:bIpqtG36E768fayL0uAP9w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _rF9YKlQktWVJimM6XHJYw:bIpqtG36E768fayL0uAP9w:3oLamFvf0eaIkKLb
      X-Gdc-Request-Time:
      - '640'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"next":"/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/objects/query?category=scheduledMail&limit=50&offset=50","count":50,"offset":0},"items":[{"scheduledMail":{"content":{"when":{"recurrency":"0:0:0:12:0:0","timeZone":"America/Los_Angeles","startDate":"2012-06-05"},"body":"Hey,
        I''m sending you new Reports and Dashboards!","attachments":[],"to":[],"subject":"Scheduled
        Report"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/obj/7","tags":"","created":"2018-04-11
        11:15:12","identifier":"aab31eoDfceY","deprecated":"0","summary":"Daily at
  [...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/xsyfp877vkgvhuj5vyqezjmma5omvgyr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _rF9YKlQktWVJimM6XHJYw:36FuLFll5eidYKpEpKdLIQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charse[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/xsyfp877vkgvhuj5vyqezjmma5omvgyr/objects/query?category=scheduledMail&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _rF9YKlQktWVJimM6XHJYw:jmZz4391RrKwkin39K0iwA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _rF9YKlQktWVJimM6XHJYw:jmZz4391RrKwkin39K0iwA:Cf10oS8TFbfNqLSt
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Tue, 05 Jun 2018 05:41:10 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/xsyfp877vkgvhuj5vyqezjmma5omvgyr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _rF9YKlQktWVJimM6XHJYw:W9CrsaqfTI7mTl8ZTtKwlA
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '66'
      X-Gdc-Request:
      - _rF9YKlQktWVJimM6XHJYw:W9CrsaqfTI7mTl8ZTtKwlA:1C1v7DNBktqCIudg
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 05:41:10 GMT
recorded_with: VCR 4.0.0
