---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/zeaoilhh7qzmro9x5hdhwti0xqxe5l24
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - VrtG0nKjCPgsfmbIngZVQw:QbcFWJng-KsF1PhSZUEkzw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - VrtG0nKjCPgsfmbIngZVQw:QbcFWJng-KsF1PhSZUEkzw:uXrY4ZAOXQk4u8HL
      X-Gdc-Request-Time:
      - '55'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/ldm?thumbnail=1","self":"/gdc/projects/zeaoilhh7qzmro9x5hdhwti0xqxe5l24","clearCaches":"/gdc/projects/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/clearCaches","invitations":"/gdc/projects/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/invitations","users":"/gdc/projects/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/uploads/","ldm":"/gdc/projects/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/ldm","metadata":"/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24","publicartifacts":"/gdc/projects/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/publicartifacts","roles":"/gdc/projects/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/roles","userRoles":"/gdc/projects/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/dataload","connectors":"/gdc/projects/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/connectors","execute":"/gdc/projects/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/execute","config":"/gdc/projects/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/config","projectFeatureFlags":"/gdc/projects/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/projectFeatureFlags","schedules":"/gdc/projects/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/schedules","templates":"/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/templates","eventstores":"/gdc/projects/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        09:33:23","summary":"No summary","updated":"2018-06-05 09:33:23","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"RubyGem
        Dev Week test","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:33:24 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/zeaoilhh7qzmro9x5hdhwti0xqxe5l24
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - VrtG0nKjCPgsfmbIngZVQw:-8tfYlPcr6JkROtAyAuBag
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - VrtG0nKjCPgsfmbIngZVQw:-8tfYlPcr6JkROtAyAuBag:Sl4hm9sdUysfuFux
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/ldm?thumbnail=1","self":"/gdc/projects/zeaoilhh7qzmro9x5hdhwti0xqxe5l24","clearCaches":"/gdc/projects/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/clearCaches","invitations":"/gdc/projects/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/invitations","users":"/gdc/projects/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/zeaoilhh7qzmro9x5[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"This is
        anchor description","defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"some_attr_id","title":"Repository
        Name","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_attr_label_id","title":"Repository
        Name","type":"GDC.text","dataType":"VARCHAR(10000)"}}],"defaultLabel":"some_attr_label_id"}}],"facts":[],"references":[]}},{"dataset":{"identifier":"dataset.devs","title":"Developers","anchor":{"attribute":{"identifier":"attr.devs.dev_id","title":"Dev","folder":"Anchor
        folder","labels":[{"label":{"identifier":"label.devs.dev_id.id","title":"Id","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.devs.dev_id.email","title":"Email","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.devs.dev_id.email"}},"attributes":[],"facts":[],"references":[]}},{"dataset":{"identifier":"dataset.commits","title":"Commits","anchor":{"attribute":{"identifier":"attr.commits.factsof","title":"Attr.Commits.Factsof","folder":"Commits"}},"attributes":[],"facts":[{"fact":{"identifier":"fact.commits.lines_changed","title":"Lines
        Changed","folder":"Commits","dataType":"DECIMAL(12,2)","type":"fact","description":"Fact
        description"}}],"references":["committed_on","dataset.devs","dataset.repos"]}}],"dateDimensions":[{"dateDimension":{"name":"committed_on","title":"Committed
        On"}}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - VrtG0nKjCPgsfmbIngZVQw:NJYJRLECeP87R6rjrANAzg
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/model/diff/3d95b57b0a738af33d98b367c023f31c01cd7391112c33f20000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - VrtG0nKjCPgsfmbIngZVQw:NJYJRLECeP87R6rjrANAzg:eMMyyx7ZnDWBJdhF
      X-Gdc-Request-Time:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/model/diff/3d95b57b0a738af33d98b367c023f31c01cd7391112c33f20000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 07:33:31 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/model/diff/3d95b57b0a738af33d98b367c023f31c01cd7391112c33f20000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - VrtG0nKjCPgsfmbIngZVQw:OEfE0q1bgb9xsMiQnd1HKg
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/model/diff/3d95b57b0a738af33d98b367c023f31c01cd7391112c33f20000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - VrtG0nKjCPgsfmbIngZVQw:OEfE0q1bgb9xsMiQnd1HKg:iWjqSGQIyHA4A0IE
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/model/diff/3d95b57b0a738af33d98b367c023f31c01cd7391112c33f20000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 07:33:32 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/model/diff/3d95b57b0a738af33d98b367c023f31c01cd7391112c33f20000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - VrtG0nKjCPgsfmbIngZVQw:jcWk7vdNzumWXPVUaQ67TQ
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - VrtG0nKjCPgsfmbIngZVQw:jcWk7vdNzumWXPVUaQ67TQ:dHxjVTr29dPUGScx
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"dataset.create","dataset":"dataset.repos","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Repositories"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.devs","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Developers"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.commits","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Commits"]}},{"updateOperation":{"type":"date-dimension.create","destructive":false,"description":"Create
        date dimension ''%s''","parameters":["Committed On[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - VrtG0nKjCPgsfmbIngZVQw:HRYoxxUFzouE-HxvV-PHyw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - VrtG0nKjCPgsfmbIngZVQw:HRYoxxUFzouE-HxvV-PHyw:4qL0zKmfgwEMOe8P
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''zeaoilhh7qzmro9x5hdhwti0xqxe5l24''","category":"project","instance":"zeaoilhh7qzmro9x5hdhwti0xqxe5l24","links":[{"link":"/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","ca[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - VrtG0nKjCPgsfmbIngZVQw:PKKymutIiytWc4xyeCK6QA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.repos} VISUAL(TITLE \"Repositories\");\nCREATE
        DATASET {dataset.devs} VISUAL(TITLE \"Developers\");\nCREATE DATASET {dataset.commits}
        VISUAL(TITLE \"Commits\");\nINCLUDE TEMPLATE \"URN:GOODDATA:DATE\" MODIFY
        (IDENTIFIER \"committed_on\", TITLE \"Committed On\");\nCREATE FOLDER {dim.commits}
        VISUAL(TITLE \"Commits\") TYPE ATTRIBUTE;\nCREATE ATTRIBUTE {attr.commits.factsof}
        VISUAL(TITLE \"Attr.Commits.Factsof\", FOLDER {dim.commits})[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/tasks/b8d3403d0133c4c7dcebaeaae136143f0000002a/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - VrtG0nKjCPgsfmbIngZVQw:fuX0GIY1RM8HTx0LhZMczA
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - VrtG0nKjCPgsfmbIngZVQw:fuX0GIY1RM8HTx0LhZMczA:ET4AGBbgwYkaDzEL
      X-Gdc-Request-Time:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/tasks/b8d3403d0133c4c7dcebaeaae136143f0000002a/status","status":"RUNNING","links":{"poll":"/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/tasks/b8d3403d0133c4c7dcebaeaae136143f0000002a/status"}}}'
  recorded_at: Tue, 05 Jun 2018 07:33:46 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - VrtG0nKjCPgsfmbIngZVQw:Lizt-NCYR9tY6xKMfJGwzQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - VrtG0nKjCPgsfmbIngZVQw:Lizt-NCYR9tY6xKMfJGwzQ:LvYbVCiVbpAWce7d
      X-Gdc-Request-Time:
      - '323'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":22,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/obj/62"}],"displayForms":[{"content":{"formOf":"/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/obj/146","expression":"[/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/obj/63]","default":1},"links":{"elements":"/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/obj/164/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/obj/164","tags":"","created":"2010-08-02
        08:13:42","identifier":"committed_on.aag81lMifn6q","deprecated":"0","summary":"DisplayForm
        Year.","isProduction":1,"title":"Year (Committed On)","category":"attributeDisplayForm","updated":"2018-06-05
        09:33:47","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/obj/196","sort":"pk","dimension":"/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/obj/43","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/obj/110"},{"multivalue":false,"type":"col","data":"/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/obj/118"},{"multivalue":false,"type":"col","data":"/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/obj/133"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/obj/146","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"committed_on.year","deprecated":"[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/obj/216
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - VrtG0nKjCPgsfmbIngZVQw:yxmh6ru7waJFEr_jnswYSQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/obj/218
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - VrtG0nKjCPgsfmbIngZVQw:IPfK34dBlMxDpc4WSM9xzg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - VrtG0nKjCPgsfmbIngZVQw:IPfK34dBlMxDpc4WSM9xzg:H3QqFsNllvdYa185
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/obj/216","expression":"[/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/obj/13]","default":1},"links":{"elements":"/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/obj/218/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/obj/218","tags":"","created":"2018-06-05
        09:33:48","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2018-06-05
        09:33:48","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:33:59 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/etl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - VrtG0nKjCPgsfmbIngZVQw:BeARygimCgjr43PZnD6EJg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - VrtG0nKjCPgsfmbIngZVQw:BeARygimCgjr43PZnD6EJg:pUPqob9iRsdFoQyD
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Extract, transform and load services for project
        ''zeaoilhh7qzmro9x5hdhwti0xqxe5l24''","category":"etl","instance":"zeaoilhh7qzmro9x5hdhwti0xqxe5l24","links":[{"link":"/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/etl/pull2","summary":"Provides
        service of pull2.","category":"pull2","title":"pull2"},{"link":"/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/etl/task","summary":"Provides
        service of task.","category":"task","title":"task"},{"link":"/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/etl/mode","summary":"Provides
        service of mode.","category":"mode","title":"mode"}]}}'
  recorded_at: Tue, 05 Jun 2018 07:34:02 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/etl/pull2
    body:
      encoding: UTF-8
      string: '{"pullIntegration":"d20180605-967-1y7pqhg"}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - VrtG0nKjCPgsfmbIngZVQw:VISJ2eVAvzO2mmQb0KwGnw
      Info-Message:
      - Starting the data load from user storage to dataset.
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/tasks/c45c1b93b1df74ea955b1dc85bcd903100000009/status"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - VrtG0nKjCPgsfmbIngZVQw:VISJ2eVAvzO2mmQb0KwGnw:qNegQF6pA1h6uYA7
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"pull2Task":{"links":{"poll":"/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/tasks/c45c1b93b1df74ea955b1dc85bcd903100000009/status"}}}'
  recorded_at: Tue, 05 Jun 2018 07:34:03 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/obj
    body:
      encoding: UTF-8
      string: '{"prompt":{"content":{"attribute":"/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/obj/216","type":"filter"},"meta":{"tags":"","deprecated":"0","summary":"","title":"uaaa","category":"prompt"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - VrtG0nKjCPgsfmbIngZVQw:96WK90AEiS7a6Msl5QJs3Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - VrtG0nKjCPgsfmbIngZVQw:96WK90AEiS7a6Msl5QJs3Q:xGu1yOqNNMVTfYxg
      X-Gdc-Request-Time:
      - '55'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/zeaoilhh7qzmro9x5hdhwti0xqxe5l24/obj/250"}'
  recorded_at: Tue, 05 Jun 2018 07:34:32 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/e5p7qod8gz1k7yk680xs07bu1xxeziwq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:QqRKz8AC-sdj2euxu0sobg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:QqRKz8AC-sdj2euxu0sobg:6t9fzELJoy7mrNnD
      X-Gdc-Request-Time:
      - '62'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/e5p7qod8gz1k7yk680xs07bu1xxeziwq/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/e5p7qod8gz1k7yk680xs07bu1xxeziwq/model/diff/fd3a1df5278de01b440e54ac0a186fb101cd7391178e78a10000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:6K0zkzo8KDbRnOizMAPLpA
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/e5p7qod8gz1k7yk680xs07bu1xxeziwq/model/diff/fd3a1df5278de01b440e54ac0a186fb101cd7391178e78a10000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:6K0zkzo8KDbRnOizMAPLpA:di3OZXYeECi8cJ9X
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/e5p7qod8gz1k7yk680xs07bu1xxeziwq/model/diff/fd3a1df5278de01b440e54ac0a186fb101cd7391178e78a10000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 07:35:19 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:FiKsS7MQlws8-YF58hM6fA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charse[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:EZZf3aez9CiVPkze7GH8Vg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.repos} VISUAL(TITLE \"Repositories\");\nCREATE
        DATASET {dataset.devs} VISUAL(TITLE \"Developers\");\nCREATE DATASET {dataset.commits}
        VISUAL(TITLE \"Commits\");\nINCLUDE TEMPLATE \"URN:GOODDATA:DATE\" MODIFY
        (IDENTIFIER \"committed_on\", TITLE \"Committed On\"[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/tasks/828ae47d2ee982b968b22681110dee3d0000002a/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:nGOQOwGn3JgWl3GjTY_5Rw
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:nGOQOwGn3JgWl3GjTY_5Rw:hacJOVjXKEDw1Z7o
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/tasks/828ae47d2ee982b968b22681110dee3d0000002a/status","status":"RUNNING","links":{"poll":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/tasks/828ae47d2ee982b968b22681110dee3d0000002a/status"}}}'
  recorded_at: Tue, 05 Jun 2018 07:35:33 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:18qOQopzVJKIbUb5OwVw5g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/214
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:6WkuHg64XeLo7AiduW_RpQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/etl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:Jbnaa8i7FaMX5J8GD6roWw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:Jbnaa8i7FaMX5J8GD6roWw:djo1gGnvCjqUGzI0
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Extract, transform and load services for project
        ''e5p7qod8gz1k7yk680xs07bu1xxeziwq''","category":"etl","instance":"e5p7qod8gz1k7yk680xs07bu1xxeziwq","links":[{"link":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/etl/pull2","summary":"Provides
        service of pull2.","category":"pull2","title":"pull2"},{"link":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/etl/task","summary":"Provides
        service of task.","category":"task","title":"task"},{"link":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/etl/mode","summary":"Provides
        service of mode.","category":"mode","title":"mode"}]}}'
  recorded_at: Tue, 05 Jun 2018 07:35:50 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/etl/pull2
    body:
      encoding: UTF-8
      string: '{"pullIntegration":"d20180605-1140-1i4anxm"}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:v-53X9S9D-olcKh4UGOPGw
      Info-Message:
      - Starting the data load from user storage to dataset.
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/tasks/a30c6da877afc49d62b548be9d56949900000009/status"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:v-53X9S9D-olcKh4UGOPGw:UBHnleZIctgsAMz7
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"pull2Task":{"links":{"poll":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/tasks/a30c6da877afc49d62b548be9d56949900000009/status"}}}'
  recorded_at: Tue, 05 Jun 2018 07:35:51 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj
    body:
      encoding: UTF-8
      string: '{"prompt":{"content":{"attribute":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/214","type":"filter"},"meta":{"tags":"","deprecated":"0","summary":"","title":"uaaa","category":"prompt"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
[...]
