---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/variables/search
    body:
      encoding: UTF-8
      string: '{"variablesSearch":{"variables":["/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/250"],"context":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:hZhDCMwcGLv-w401dFuA5Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:hZhDCMwcGLv-w401dFuA5Q:0sHdJXPCmzh68UXn
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"variables":[]}'
  recorded_at: Tue, 05 Jun 2018 07:37:38 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/e5p7qod8gz1k7yk680xs07bu1xxeziwq/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:IMr7IC-hwfpXgMqPAL-fog
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:IMr7IC-hwfpXgMqPAL-fog:DkO1RbP2Frk6GR0l
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"lcm-admin@gooddata.com","firstname":"LCM","userRoles":["/gdc/projects/e5p7qod8gz1k7yk680xs07bu1xxeziwq/roles/2"],"phonenumber":null,"status":"ENABLED","lastname":"Admin","login":"lcm-admin@gooddata.com"},"links":{"roles":"/gdc/projects/e5p7qod8gz1k7yk680xs07bu1xxeziwq/users/25b25d6c1cd5816c6de55f95b119d8cc/roles","permissions":"/gdc/projects/e5p7qod8gz1k7yk680xs07bu1xxeziwq/users/25b25d6c1cd5816c6de55f95b119d8cc/permissions","self":"/gdc/account/profile/25b25d6c1cd5816c6de55f95b119d8cc","projects":"/gdc/account/profile/25b25d6c1cd5816c6de55f95b119d8cc/projects","projectRelUri":"/gdc/projects/e5p7qod8gz1k7yk680xs07bu1xxeziwq/users/25b25d6c1cd5816c6de55f95b119d8cc"},"meta":{"created":"2017-02-07
        16:14:57","updated":"2018-06-05 09:29:06","author":"/gdc/account/profile/25b25d6c1cd5816c6de55f95b119d8cc","title":"LCM
        Admin","contributor":"/gdc/account/profile/25b25d6c1cd5816c6de55f95b119d8cc"}}},{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/e5p7qod8gz1k7yk680xs07bu1xxeziwq/roles/2"],"phonenumber":"","status":"ENABLED","lastname":"1","login":"rubydev+admin@gooddata.com"},"links":{"roles":"/gdc/projects/e5p7qod8gz1k7yk680xs07bu1xxeziwq/users/5ad80b895edcc438e5a4418e222733fa/roles","permissions":"/gdc/projects/e5p7qod8gz1k7yk680xs07bu1xxeziwq/users/5ad80b895edcc438e5a4418e222733fa/permissions","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","projectRelUri":"/gdc/projects/e5p7qod8gz1k7yk680xs07bu1xxeziwq/users/5ad80b895edcc438e5a4418e222733fa"},"meta":{"created":"2017-02-10
        12:18:01","updated":"2018-06-05 09:27:44","author":"/gdc/account/profile/25b25d6c1cd5816c6de55f95b119d8cc","title":"the
        1","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}'
  recorded_at: Tue, 05 Jun 2018 07:37:39 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/216
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:o3QZB-RUy9RChObRAq5YVQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:o3QZB-RUy9RChObRAq5YVQ:9e1qqtUb3PVmVo2t
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/214","expression":"[/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/13]","default":1},"links":{"elements":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/216/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/216","tags":"","created":"2018-06-05
        09:35:34","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2018-06-05
        09:35:35","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:37:39 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/216/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:PiPju6YoQrzmgLzn-HfhSg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:PiPju6YoQrzmgLzn-HfhSg:s3v9hJ3T9tCGcdxf
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/214","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/216"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/214/elements?id=3"}}]}}'
  recorded_at: Tue, 05 Jun 2018 07:37:40 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/variables/search
    body:
      encoding: UTF-8
      string: '{"variablesSearch":{"variables":["/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/253"],"context":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Yab0A4k3R6MjWyZz5GdeXA:xuJFrOFzci0ZeZGayGhmsg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Yab0A4k3R6MjWyZz5GdeXA:xuJFrOFzci0ZeZGayGhmsg:SFwaKTTgiru2e4HS
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"variables":[]}'
  recorded_at: Fri, 05 Oct 2018 13:26:32 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lwpctxvjazg947k3o22nxfflghomasdb/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Yab0A4k3R6MjWyZz5GdeXA:epJETQROSJkxQ6d1pn2aWA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/216
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Yab0A4k3R6MjWyZz5GdeXA:IUrokDEzSAxbzpHo6CVEnA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Yab0A4k3R6MjWyZz5GdeXA:IUrokDEzSAxbzpHo6CVEnA:py0SkvxVKgBkWedp
      X-Gdc-Request-Time:
      - '130'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/214","expression":"[/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/23]","default":1},"links":{"elements":"/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/216/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/216","tags":"","created":"2018-10-05
        15:24:49","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2018-10-05
        15:24:49","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Fri, 05 Oct 2018 13:26:33 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/216/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Yab0A4k3R6MjWyZz5GdeXA:VVPvV5FuQmzRq09Oe9Yrxg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Yab0A4k3R6MjWyZz5GdeXA:VVPvV5FuQmzRq09Oe9Yrxg:Oa9cUxm7on6WIk3n
      X-Gdc-Request-Time:
      - '117'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/214","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/216"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/214/elements?id=3"}}]}}'
  recorded_at: Fri, 05 Oct 2018 13:26:34 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/variables/search
    body:
      encoding: UTF-8
      string: '{"variablesSearch":{"variables":["/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/253"],"context":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - CGsH5zVEVjAmdWFYDnRBFg:YGVyLwMvP8EPv8_9hBVViw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - CGsH5zVEVjAmdWFYDnRBFg:YGVyLwMvP8EPv8_9hBVViw:c8QsD5UxUejJe8ZL
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"variables":[]}'
  recorded_at: Wed, 10 Oct 2018 11:56:35 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/p4etjr09tf2datr3c345961ho5dam0vc/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - CGsH5zVEVjAmdWFYDnRBFg:JB-84ezt6BzvPYIBy8nWeQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/221
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - CGsH5zVEVjAmdWFYDnRBFg:PPGc-KkzhZmS-SrikDBwmw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - CGsH5zVEVjAmdWFYDnRBFg:PPGc-KkzhZmS-SrikDBwmw:TwejkhYlMoP3Sjlo
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/219","expression":"[/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/16]","default":1},"links":{"elements":"/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/221/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/221","tags":"","created":"2018-10-10
        13:54:44","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2018-10-10
        13:54:44","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 10 Oct 2018 11:56:36 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/221/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - CGsH5zVEVjAmdWFYDnRBFg:uk2MoYhW5DmBwi5iSO7tkA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - CGsH5zVEVjAmdWFYDnRBFg:uk2MoYhW5DmBwi5iSO7tkA:Kp7rMgM22cNPksp6
      X-Gdc-Request-Time:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/219","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/221"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/219/elements?id=3"}}]}}'
  recorded_at: Wed, 10 Oct 2018 11:56:36 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ysqfu3828dbejngzi7k1uxnpsxtmot5n/variables/search
    body:
      encoding: UTF-8
      string: '{"variablesSearch":{"variables":["/gdc/md/ysqfu3828dbejngzi7k1uxnpsxtmot5n/obj/253"],"context":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":zxC2nhtoxDdwx27HiBudoQ:sWP3UDSMg_hxGfeYik1i0g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":zxC2nhtoxDdwx27HiBudoQ:sWP3UDSMg_hxGfeYik1i0g:SCmmkTJ8hWRNSHZj"
      X-Gdc-Request-Time:
      - '54'
    body:
      encoding: ASCII-8BIT
      string: '{"variables":[]}'
  recorded_at: Thu, 24 Jan 2019 13:45:15 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ysqfu3828dbejngzi7k1uxnpsxtmot5n/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":zxC2nhtoxDdwx27HiBudoQ:yY2MWb7kwhpg8-BirhVJcg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ysqfu3828dbejngzi7k1uxnpsxtmot5n/obj/221
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":zxC2nhtoxDdwx27HiBudoQ:9lFEwCfjZV36cUmAlpqm4g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":zxC2nhtoxDdwx27HiBudoQ:9lFEwCfjZV36cUmAlpqm4g:VqipCxsM0w1tVS5X"
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/ysqfu3828dbejngzi7k1uxnpsxtmot5n/obj/219","expression":"[/gdc/md/ysqfu3828dbejngzi7k1uxnpsxtmot5n/obj/16]","default":1},"links":{"elements":"/gdc/md/ysqfu3828dbejngzi7k1uxnpsxtmot5n/obj/221/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/ysqfu3828dbejngzi7k1uxnpsxtmot5n/obj/221","tags":"","created":"2019-01-24
        14:43:10","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2019-01-24
        14:43:11","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 24 Jan 2019 13:45:16 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ysqfu3828dbejngzi7k1uxnpsxtmot5n/obj/221/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":zxC2nhtoxDdwx27HiBudoQ:l0DSxrbmHqMij2AsR6oZLg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":zxC2nhtoxDdwx27HiBudoQ:l0DSxrbmHqMij2AsR6oZLg:NJfq1tU1GSX4glbX"
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/ysqfu3828dbejngzi7k1uxnpsxtmot5n/obj/219","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/ysqfu3828dbejngzi7k1uxnpsxtmot5n/obj/221"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/ysqfu3828dbejngzi7k1uxnpsxtmot5n/obj/219/elements?id=3"}}]}}'
  recorded_at: Thu, 24 Jan 2019 13:45:17 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ekxbx4kjezaa86p5xsnuf50f5isdh6mc/variables/search
    body:
      encoding: UTF-8
      string: '{"variablesSearch":{"variables":["/gdc/md/ekxbx4kjezaa86p5xsnuf50f5isdh6mc/obj/255"],"context":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":oT0NxbjHinvyDSfMwka_WA:eLKgIHlj8m7JNmJ8_XUsZQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '41'
      X-Gdc-Request:
      - ":oT0NxbjHinvyDSfMwka_WA:eLKgIHlj8m7JNmJ8_XUsZQ:vBJHqaDblLk6BauG"
    body:
      encoding: ASCII-8BIT
      string: '{"variables":[]}'
  recorded_at: Wed, 15 Jan 2020 06:41:02 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ekxbx4kjezaa86p5xsnuf50f5isdh6mc/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":oT0NxbjHinvyDSfMwka_WA:wBYEOSuorQBWHI4u8oqtJA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ekxbx4kjezaa86p5xsnuf50f5isdh6mc/obj/216
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":oT0NxbjHinvyDSfMwka_WA:e8sW1-JPApeSGh7zcy9qVA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '32'
      X-Gdc-Request:
      - ":oT0NxbjHinvyDSfMwka_WA:e8sW1-JPApeSGh7zcy9qVA:LtZwoEO7MMhFnxq3"
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/ekxbx4kjezaa86p5xsnuf50f5isdh6mc/obj/214","expression":"[/gdc/md/ekxbx4kjezaa86p5xsnuf50f5isdh6mc/obj/25]","default":1},"links":{"elements":"/gdc/md/ekxbx4kjezaa86p5xsnuf50f5isdh6mc/obj/216/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/ekxbx4kjezaa86p5xsnuf50f5isdh6mc/obj/216","tags":"","created":"2020-01-15
        07:38:29","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2020-01-15
        07:38:29","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 15 Jan 2020 06:41:04 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ekxbx4kjezaa86p5xsnuf50f5isdh6mc/obj/216/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":oT0NxbjHinvyDSfMwka_WA:fcqZdRueBxwd-_vejWZvpw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '53'
      X-Gdc-Request:
      - ":oT0NxbjHinvyDSfMwka_WA:fcqZdRueBxwd-_vejWZvpw:qrop9hCCqffvuPkC"
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/ekxbx4kjezaa86p5xsnuf50f5isdh6mc/obj/214","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/ekxbx4kjezaa86p5xsnuf50f5isdh6mc/obj/216"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/ekxbx4kjezaa86p5xsnuf50f5isdh6mc/obj/214/elements?id=3"}}]}}'
  recorded_at: Wed, 15 Jan 2020 06:41:05 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ekxbx4kjezaa86p5xsnuf50f5isdh6mc/variables/search
    body:
      encoding: UTF-8
      string: '{"variablesSearch":{"variables":["/gdc/md/ekxbx4kjezaa86p5xsnuf50f5isdh6mc/obj/255"],"context":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":oT0NxbjHinvyDSfMwka_WA:W5qv5lix4krywtaqnlb9UA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '23'
      X-Gdc-Request:
      - ":oT0NxbjHinvyDSfMwka_WA:W5qv5lix4krywtaqnlb9UA:yrpi9dkuSyv9wXRs"
    body:
      encoding: ASCII-8BIT
      string: '{"variables":[]}'
  recorded_at: Wed, 15 Jan 2020 06:41:16 GMT
recorded_with: VCR 5.0.0
