---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/variables/search
    body:
      encoding: UTF-8
      string: '{"variablesSearch":{"variables":["/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/250"],"context":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:Ma0q0N0M_NYulVQ_KvfOQA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:Ma0q0N0M_NYulVQ_KvfOQA:2v0e2Suah7l5Etiw
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"variables":[]}'
  recorded_at: Tue, 05 Jun 2018 07:36:51 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/e5p7qod8gz1k7yk680xs07bu1xxeziwq/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:AB_7qESxGVgQS8yQ2knV6A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:AB_7qESxGVgQS8yQ2knV6A:xw9Vzqvm4OpSyyvu
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/e5p7qod8gz1k7yk680xs07bu1xxeziwq/roles/2"],"phonenumber":"","status":"ENABLED","lastname":"1","login":"rubydev+admin@gooddata.com"},"links":{"roles":"/gdc/projects/e5p7qod8gz1k7yk680xs07bu1xxeziwq/users/5ad80b895edcc438e5a4418e222733fa/roles","permissions":"/gdc/projects/e5p7qod8gz1k7yk680xs07bu1xxeziwq/users/5ad80b895edcc438e5a4418e222733fa/permissions","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","projectRelUri":"/gdc/projects/e5p7qod8gz1k7yk680xs07bu1xxeziwq/users/5ad80b895edcc438e5a4418e222733fa"},"meta":{"created":"2017-02-10
        12:18:01","updated":"2018-06-05 09:27:44","author":"/gdc/account/profile/25b25d6c1cd5816c6de55f95b119d8cc","title":"the
        1","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}'
  recorded_at: Tue, 05 Jun 2018 07:36:52 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/216
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:bpvN6A_RY6nceSjqWOe6Kw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:bpvN6A_RY6nceSjqWOe6Kw:AqPO2pijzxKTb83U
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/214","expression":"[/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/13]","default":1},"links":{"elements":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/216/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/216","tags":"","created":"2018-06-05
        09:35:34","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2018-06-05
        09:35:35","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:36:52 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/216/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:_onNkwitcTFuCyrbjDK2cw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:_onNkwitcTFuCyrbjDK2cw:24TK3oifyCSsOoWy
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/214","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/216"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/214/elements?id=3"}}]}}'
  recorded_at: Tue, 05 Jun 2018 07:36:53 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/variables/user
    body:
      encoding: UTF-8
      string: '{"variables":[{"related":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","level":"user","expression":"[/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/214]
        IN ([/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/214/elements?id=3])","type":"filter","prompt":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/250"}]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:Dr60lQoZQCs6tOWApCe4Tw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:Dr60lQoZQCs6tOWApCe4Tw:wLmPGaE0Dk3CFkTb
      X-Gdc-Request-Time:
      - '58'
    body:
      encoding: ASCII-8BIT
      string: '{"uris":["/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/variables/item/4"]}'
  recorded_at: Tue, 05 Jun 2018 07:36:55 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/variables/search
    body:
      encoding: UTF-8
      string: '{"variablesSearch":{"variables":["/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/250"],"context":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:kl9ZLQAQIp3DuZDdY4X-6w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:kl9ZLQAQIp3DuZDdY4X-6w:KV6DK43Okbyk9kNp
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"variables":[{"related":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","level":"user","tree":{"content":[{"value":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/214","position":{"column":14,"line":1},"type":"attribute
        object"},{"content":[{"value":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/214/elements?id=3","position":{"column":69,"line":1},"type":"attributeElement
        object"}],"position":{"column":69,"line":1},"type":"list"}],"position":{"column":65,"line":1},"type":"in"},"expression":"[/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/214]
        IN ([/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/214/elements?id=3])","type":"filter","uri":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/variables/item/4","prompt":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/250"}]}'
  recorded_at: Tue, 05 Jun 2018 07:36:56 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/214
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:R0hMmC7ZvIMT7AclYQZMtQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:R0hMmC7ZvIMT7AclYQZMtQ:tHtvnjWCNgPdb8UQ
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/11"}],"dimension":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/213","displayForms":[{"content":{"formOf":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/214","expression":"[/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/13]","default":1},"links":{"elements":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/216/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/216","tags":"","created":"2018-06-05
        09:35:34","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2018-06-05
        09:35:35","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}},{"content":{"formOf":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/214","expression":"[/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/15]"},"links":{"elements":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/215/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/215","tags":"","created":"2018-06-05
        09:35:34","identifier":"label.devs.dev_id.id","deprecated":"0","summary":"","isProduction":1,"title":"Id","category":"attributeDisplayForm","updated":"2018-06-05
        09:35:34","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}],"fk":[{"multivalue":false,"type":"col","data":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/25"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/214","tags":"","created":"2018-06-05
        09:35:34","identifier":"attr.devs.dev_id","deprecated":"0","summary":"","isProduction":1,"title":"Dev","category":"attribute","updated":"2018-06-05
        09:35:35","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:36:57 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/216/elements/?id=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:7M5qpIktQLwemJnfwa7LUw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:7M5qpIktQLwemJnfwa7LUw:FXrVdfQBoOvSgBu2
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeElements":{"elementsMeta":{"count":1,"mode":"includeuris","filter":"","records":"1","prompt":"","attribute":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/214","order":"asc","attributeDisplayForm":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/216","offset":"0"},"elements":[{"title":"jirka@gooddata.com","uri":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/214/elements?id=3"}],"paging":{"next":null,"count":1,"total":"1","offset":"0"}}}'
  recorded_at: Tue, 05 Jun 2018 07:37:00 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/variables/item/4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:EkxTN8jcJqn7gplc9EYMsQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:EkxTN8jcJqn7gplc9EYMsQ:8yM8JMj3ljhYfWQg
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 05 Jun 2018 07:37:02 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/variables/search
    body:
      encoding: UTF-8
      string: '{"variablesSearch":{"variables":["/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/253"],"context":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Yab0A4k3R6MjWyZz5GdeXA:LhWLwaJNaq7spIuCyGPwzw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Yab0A4k3R6MjWyZz5GdeXA:LhWLwaJNaq7spIuCyGPwzw:lv90FVzrQF2EFu9Y
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"variables":[]}'
  recorded_at: Fri, 05 Oct 2018 13:25:49 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lwpctxvjazg947k3o22nxfflghomasdb/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Yab0A4k3R6MjWyZz5GdeXA:TYTDq3hBvjDgxTjUjL4Sdg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/216
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Yab0A4k3R6MjWyZz5GdeXA:TtON2T6kJCAYHlvmeaYb0g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Yab0A4k3R6MjWyZz5GdeXA:TtON2T6kJCAYHlvmeaYb0g:EnQ0t0aDOIclLGiy
      X-Gdc-Request-Time:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/214","expression":"[/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/23]","default":1},"links":{"elements":"/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/216/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/216","tags":"","created":"2018-10-05
        15:24:49","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2018-10-05
        15:24:49","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Fri, 05 Oct 2018 13:25:50 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/216/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Yab0A4k3R6MjWyZz5GdeXA:I5Sfs2Gs-sgXyAvXzl9ZTA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Yab0A4k3R6MjWyZz5GdeXA:I5Sfs2Gs-sgXyAvXzl9ZTA:9jhsY5crkrEKAugw
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/214","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/216"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/214/elements?id=3"}}]}}'
  recorded_at: Fri, 05 Oct 2018 13:25:50 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/variables/user
    body:
      encoding: UTF-8
      string: '{"variables":[{"related":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","level":"user","expression":"[/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/214]
        IN ([/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/214/elements?id=3])","type":"filter","prompt":"/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/253"}]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Yab0A4k3R6MjWyZz5GdeXA:yURNFdQk4i7HLFVzklYfnw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Yab0A4k3R6MjWyZz5GdeXA:yURNFdQk4i7HLFVzklYfnw:HorlDKCqctUMf1AA
      X-Gdc-Request-Time:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"uris":["/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/variables/item/4"]}'
  recorded_at: Fri, 05 Oct 2018 13:25:53 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/216/elements/?id=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Yab0A4k3R6MjWyZz5GdeXA:1DcM01ANC-UpNLmiRReH4Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Yab0A4k3R6MjWyZz5GdeXA:1DcM01ANC-UpNLmiRReH4Q:C9teJ4IfgVkJIJNW
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeElements":{"elementsMeta":{"count":1,"mode":"includeuris","filter":"","records":"1","prompt":"","attribute":"/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/214","order":"asc","attributeDisplayForm":"/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/216","offset":"0"},"elements":[{"title":"jirka@gooddata.com","uri":"/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/214/elements?id=3"}],"paging":{"next":null,"count":1,"total":"1","offset":"0"}}}'
  recorded_at: Fri, 05 Oct 2018 13:25:56 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/variables/item/4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Yab0A4k3R6MjWyZz5GdeXA:CVzAGNEJHxSSDskAGkCZ4Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '27'
      X-Gdc-Request:
      - Yab0A4k3R6MjWyZz5GdeXA:CVzAGNEJHxSSDskAGkCZ4Q:hUX50DdPcV6VOKBP
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 05 Oct 2018 13:25:58 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/variables/search
    body:
      encoding: UTF-8
      string: '{"variablesSearch":{"variables":["/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/253"],"context":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - CGsH5zVEVjAmdWFYDnRBFg:KrZCvLxTi7xVwVTokyRa5w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - CGsH5zVEVjAmdWFYDnRBFg:KrZCvLxTi7xVwVTokyRa5w:RTpK5ljfwuvKas8N
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"variables":[]}'
  recorded_at: Wed, 10 Oct 2018 11:55:46 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/p4etjr09tf2datr3c345961ho5dam0vc/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - CGsH5zVEVjAmdWFYDnRBFg:dxyZ5eA4DXUpVLH1wktNTg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/221
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - CGsH5zVEVjAmdWFYDnRBFg:chNytjtXXLoO_KXZlz5NqA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - CGsH5zVEVjAmdWFYDnRBFg:chNytjtXXLoO_KXZlz5NqA:6VNDxlnIHkfpLOnG
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/219","expression":"[/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/16]","default":1},"links":{"elements":"/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/221/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/221","tags":"","created":"2018-10-10
        13:54:44","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2018-10-10
        13:54:44","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 10 Oct 2018 11:55:48 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/221/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - CGsH5zVEVjAmdWFYDnRBFg:tg0Gr9L_oQfwHydio3BmxA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - CGsH5zVEVjAmdWFYDnRBFg:tg0Gr9L_oQfwHydio3BmxA:f2DFdg5WEm0UU2vN
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/219","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/221"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/219/elements?id=3"}}]}}'
  recorded_at: Wed, 10 Oct 2018 11:55:48 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/variables/user
    body:
      encoding: UTF-8
      string: '{"variables":[{"related":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","level":"user","expression":"[/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/219]
        IN ([/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/219/elements?id=3])","type":"filter","prompt":"/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/253"}]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - CGsH5zVEVjAmdWFYDnRBFg:Kh41gg5qj6nXbwYMW9kqtw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - CGsH5zVEVjAmdWFYDnRBFg:Kh41gg5qj6nXbwYMW9kqtw:KC1k5jUyMSbQ4gMW
      X-Gdc-Request-Time:
      - '69'
    body:
      encoding: ASCII-8BIT
      string: '{"uris":["/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/variables/item/4"]}'
  recorded_at: Wed, 10 Oct 2018 11:55:51 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/221/elements/?id=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - CGsH5zVEVjAmdWFYDnRBFg:ouUZiqW7EgBRTbHUvfqmcw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - CGsH5zVEVjAmdWFYDnRBFg:ouUZiqW7EgBRTbHUvfqmcw:kaUF0Tt7Bdt6jSBc
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeElements":{"elementsMeta":{"count":1,"mode":"includeuris","filter":"","records":"1","prompt":"","attribute":"/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/219","order":"asc","attributeDisplayForm":"/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/221","offset":"0"},"elements":[{"title":"jirka@gooddata.com","uri":"/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/219/elements?id=3"}],"paging":{"next":null,"count":1,"total":"1","offset":"0"}}}'
  recorded_at: Wed, 10 Oct 2018 11:55:55 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/variables/item/4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - CGsH5zVEVjAmdWFYDnRBFg:RBMrh-WKjkpgmfe8yJQWtg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '28'
      X-Gdc-Request:
      - CGsH5zVEVjAmdWFYDnRBFg:RBMrh-WKjkpgmfe8yJQWtg:4DtPWUDNpI4RTab9
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 10 Oct 2018 11:55:57 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ysqfu3828dbejngzi7k1uxnpsxtmot5n/variables/search
    body:
      encoding: UTF-8
      string: '{"variablesSearch":{"variables":["/gdc/md/ysqfu3828dbejngzi7k1uxnpsxtmot5n/obj/253"],"context":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":zxC2nhtoxDdwx27HiBudoQ:78G_9t7h7biGVJ6ZtbiDDg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":zxC2nhtoxDdwx27HiBudoQ:78G_9t7h7biGVJ6ZtbiDDg:54H2pbMHQSvAy4SN"
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"variables":[]}'
  recorded_at: Thu, 24 Jan 2019 13:44:20 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ysqfu3828dbejngzi7k1uxnpsxtmot5n/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":zxC2nhtoxDdwx27HiBudoQ:KXVeTbf--Uny57H6-UkoRw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ysqfu3828dbejngzi7k1uxnpsxtmot5n/obj/221
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":zxC2nhtoxDdwx27HiBudoQ:8rabdLYbCCo_XSARm0Fk8g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":zxC2nhtoxDdwx27HiBudoQ:8rabdLYbCCo_XSARm0Fk8g:oPDOBDcY8vqpipaT"
      X-Gdc-Request-Time:
      - '58'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/ysqfu3828dbejngzi7k1uxnpsxtmot5n/obj/219","expression":"[/gdc/md/ysqfu3828dbejngzi7k1uxnpsxtmot5n/obj/16]","default":1},"links":{"elements":"/gdc/md/ysqfu3828dbejngzi7k1uxnpsxtmot5n/obj/221/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/ysqfu3828dbejngzi7k1uxnpsxtmot5n/obj/221","tags":"","created":"2019-01-24
        14:43:10","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2019-01-24
        14:43:11","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 24 Jan 2019 13:44:21 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ysqfu3828dbejngzi7k1uxnpsxtmot5n/obj/221/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
[...]
