---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:jkKQtVwXXbrhRF-WO8ajTA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:jkKQtVwXXbrhRF-WO8ajTA:2DTrW9iovrPcFzJw
      X-Gdc-Request-Time:
      - '55'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"fact":{"content":{"folders":["/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/219"],"expr":[{"type":"col","data":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/29"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/220","tags":"","created":"2018-06-05
        09:35:35","identifier":"fact.commits.lines_changed","deprecated":"0","summary":"Fact
        description","isProduction":1,"title":"Lines Changed","category":"fact","updated":"2018-06-05
        09:35:35","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Tue, 05 Jun 2018 07:36:09 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:YL8FUF2h62DuyfmTY6jZMg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:YL8FUF2h62DuyfmTY6jZMg:vwNMn02SCdX4xCAw
      X-Gdc-Request-Time:
      - '400'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":22,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/62"}],"displayForms":[{"content":{"formOf":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/146","expression":"[/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/63]","default":1},"links":{"elements":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/164/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/164","tags":"","created":"2010-08-02
        08:13:42","identifier":"committed_on.aag81lMifn6q","deprecated":"0","summary":"DisplayForm
        Year.","isProduction":1,"title":"Year (Committed On)","category":"attributeDisplayForm","updated":"2018-06-05
        09:35:34","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/196","sort":"pk","dimension":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/43","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/110"},{"multivalue":false,"type":"col","data":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/118"},{"multivalue":false,"type":"col","data":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/133"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/146","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"committed_on.year","deprecated":"[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:_XQFYebkqMzt6ela8peYxw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:_XQFYebkqMzt6ela8peYxw:AHz3CG49BWFRoEiZ
      X-Gdc-Request-Time:
      - '46'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Tue, 05 Jun 2018 07:36:11 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/variables/search
    body:
      encoding: UTF-8
      string: '{"variablesSearch":{"variables":["/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/250"],"context":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:kqsv1kuB_7KiuJjvNdGW2A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:kqsv1kuB_7KiuJjvNdGW2A:JGxDiwvr5ERLTGQe
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"variables":[]}'
  recorded_at: Tue, 05 Jun 2018 07:36:11 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/e5p7qod8gz1k7yk680xs07bu1xxeziwq/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:cijughTy23H13XTLFI9t4A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:cijughTy23H13XTLFI9t4A:1cdoVnoHZbA4fFy2
      X-Gdc-Request-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/e5p7qod8gz1k7yk680xs07bu1xxeziwq/roles/2"],"phonenumber":"","status":"ENABLED","lastname":"1","login":"rubydev+admin@gooddata.com"},"links":{"roles":"/gdc/projects/e5p7qod8gz1k7yk680xs07bu1xxeziwq/users/5ad80b895edcc438e5a4418e222733fa/roles","permissions":"/gdc/projects/e5p7qod8gz1k7yk680xs07bu1xxeziwq/users/5ad80b895edcc438e5a4418e222733fa/permissions","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","projectRelUri":"/gdc/projects/e5p7qod8gz1k7yk680xs07bu1xxeziwq/users/5ad80b895edcc438e5a4418e222733fa"},"meta":{"created":"2017-02-10
        12:18:01","updated":"2018-06-05 09:27:44","author":"/gdc/account/profile/25b25d6c1cd5816c6de55f95b119d8cc","title":"the
        1","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}'
  recorded_at: Tue, 05 Jun 2018 07:36:12 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/216
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:ldBVEORAW6Z8qWhB0OjOSw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:ldBVEORAW6Z8qWhB0OjOSw:2jTesttIFR9ITSsY
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/214","expression":"[/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/13]","default":1},"links":{"elements":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/216/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/216","tags":"","created":"2018-06-05
        09:35:34","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2018-06-05
        09:35:35","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:36:13 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/216/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:hGVY3sItcZ2qM1UR4-_tlQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:hGVY3sItcZ2qM1UR4-_tlQ:mXrTpnjCcgXAdBvL
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/214","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/216"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/214/elements?id=3"}}]}}'
  recorded_at: Tue, 05 Jun 2018 07:36:13 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/variables/user
    body:
      encoding: UTF-8
      string: '{"variables":[{"related":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","level":"user","expression":"[/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/214]
        IN ([/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/214/elements?id=1], [/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/214/elements?id=3])","type":"filter","prompt":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/250"}]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:kCTBK2ZIYzsethVEz2lY-g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:kCTBK2ZIYzsethVEz2lY-g:kK6nk24rMC950vL6
      X-Gdc-Request-Time:
      - '58'
    body:
      encoding: ASCII-8BIT
      string: '{"uris":["/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/variables/item/1"]}'
  recorded_at: Tue, 05 Jun 2018 07:36:16 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT SUM([/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/220])"},"meta":{"tags":"","summary":null,"title":"x"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:2g4-3hZ9Qc06jHc2X13vUA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:2g4-3hZ9Qc06jHc2X13vUA:sFNICOYgG2usSo8e
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/251"}'
  recorded_at: Tue, 05 Jun 2018 07:36:17 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/251
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:Q8DC6YF-g1bqUxfZpfPqYQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:Q8DC6YF-g1bqUxfZpfPqYQ:LrvdKQyVJ4OvCUo7
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"SUM","content":[{"value":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/220","position":{"column":25,"line":1},"type":"fact
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        SUM([/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/220])"},"links":{"explain2":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/251/explain2"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/251","tags":"","created":"2018-06-05
        09:36:17","identifier":"aabfdeyMhuYX","deprecated":"0","summary":"","isProduction":1,"title":"x","category":"metric","updated":"2018-06-05
        09:36:17","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:36:17 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/e5p7qod8gz1k7yk680xs07bu1xxeziwq/execute
    body:
      encoding: UTF-8
      string: '{"report_req":{"definitionContent":{"content":{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[{"attribute":{"alias":"","totals":[],"uri":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/216"}}],"metrics":[{"alias":"x","uri":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/251"}],"rows":["metricGroup"]},"format":"grid","filters":[{"expression":"[/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/250]"}]},"meta":{"tags":"","summary":"","title":"Untitled
        report definition"}}},"projectMetadata":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:HA6DvXOaVf5uA9JcJVAD9Q
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/dataResult/373293367762976704"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:HA6DvXOaVf5uA9JcJVAD9Q:F8V5e5k0asQxgIzo
      X-Gdc-Request-Time:
      - '194'
    body:
      encoding: ASCII-8BIT
      string: '{"execResult":{"reportView":{"reportName":"Untitled report definition","columnWidths":[],"filters":[{"tree":{"value":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/250","position":{"column":14,"line":1},"type":"prompt
        object"},"expression":"[/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/250]"}],"rows":["metricGroup"],"sort":{"columns":[],"rows":[]},"format":"grid","columns":[{"attributeTitle":"Dev","summary":"","displayFormId":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/216","baseElementURI":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/214/elements?id=","title":"Dev","attributeId":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/214","totals":[[]]}],"metrics":[{"format":"#,##0","summary":"","title":"x","metricId":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/251"}]},"dataResult":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/dataResult/373293367762976704"}}'
  recorded_at: Tue, 05 Jun 2018 07:36:20 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/dataResult/373293367762976704
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:mA6m1rtLaWdnq-0XRA5VHw
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Execution-Time:
      - '199'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:mA6m1rtLaWdnq-0XRA5VHw:IiwjucgmzyUrjEUn
      X-Gdc-Request-Time:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"xtab_data":{"columns":{"tree":{"index":{"1":[1],"3":[0]},"first":0,"last":1,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"normal","id":"3"},{"index":{},"first":1,"last":1,"children":[],"type":"normal","id":"1"}],"type":"root","id":null},"lookups":[{"1":"tomas@gooddata.com","3":"jirka@gooddata.com"}]},"data":[["5","1"]],"overall_size":{"columns":2,"rows":1},"rows":{"tree":{"index":{"0":[0]},"first":0,"last":0,"children":[{"index":{},"first":0,"last":0,"children":[],"type":"metric","id":"0"}],"type":"root","id":null},"lookups":[{"0":"x"}]},"offset":{"columns":0,"rows":0},"size":{"columns":2,"rows":1}}}'
  recorded_at: Tue, 05 Jun 2018 07:36:20 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["aabfdeyMhuYX"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:Ob9v6HFOHJnmQp5C3ggxHw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:Ob9v6HFOHJnmQp5C3ggxHw:wxsctTiiFF21JREa
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[]}'
  recorded_at: Tue, 05 Jun 2018 07:36:22 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/variables/item/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:YebjOd-nig8FfJ7KvE_JpQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '29'
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:YebjOd-nig8FfJ7KvE_JpQ:OdSxwUM89ZAF0eWQ
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 05 Jun 2018 07:36:29 GMT
recorded_with: VCR 4.0.0
