---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/variables/search
    body:
      encoding: UTF-8
      string: '{"variablesSearch":{"variables":["/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/250"],"context":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:CcpKfkAec35KU74IFeQNCA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:CcpKfkAec35KU74IFeQNCA:6QzmTFn5Zt5Yupp9
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"variables":[]}'
  recorded_at: Tue, 05 Jun 2018 07:36:39 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/e5p7qod8gz1k7yk680xs07bu1xxeziwq/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:S6ENAsjeUAZ6O3D8tix3dA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:S6ENAsjeUAZ6O3D8tix3dA:D49XZMqtX9JodSyy
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/e5p7qod8gz1k7yk680xs07bu1xxeziwq/roles/2"],"phonenumber":"","status":"ENABLED","lastname":"1","login":"rubydev+admin@gooddata.com"},"links":{"roles":"/gdc/projects/e5p7qod8gz1k7yk680xs07bu1xxeziwq/users/5ad80b895edcc438e5a4418e222733fa/roles","permissions":"/gdc/projects/e5p7qod8gz1k7yk680xs07bu1xxeziwq/users/5ad80b895edcc438e5a4418e222733fa/permissions","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","projectRelUri":"/gdc/projects/e5p7qod8gz1k7yk680xs07bu1xxeziwq/users/5ad80b895edcc438e5a4418e222733fa"},"meta":{"created":"2017-02-10
        12:18:01","updated":"2018-06-05 09:27:44","author":"/gdc/account/profile/25b25d6c1cd5816c6de55f95b119d8cc","title":"the
        1","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}'
  recorded_at: Tue, 05 Jun 2018 07:36:39 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/216
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:7FRo5FzSimh002endV6sBw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:7FRo5FzSimh002endV6sBw:PpQUlF9qheQuf2hj
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/214","expression":"[/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/13]","default":1},"links":{"elements":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/216/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/216","tags":"","created":"2018-06-05
        09:35:34","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2018-06-05
        09:35:35","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:36:40 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/216/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:_VEuvrK3bzyioVwB2KvtVQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:_VEuvrK3bzyioVwB2KvtVQ:GXImpIvMz8SnNHPy
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/214","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/216"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/214/elements?id=3"}}]}}'
  recorded_at: Tue, 05 Jun 2018 07:36:40 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/variables/user
    body:
      encoding: UTF-8
      string: '{"variables":[{"related":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","level":"user","expression":"[/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/214]
        IN ([/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/214/elements?id=1])","type":"filter","prompt":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/250"}]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:88QzCRpC0HsZFCoEYyogNw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:88QzCRpC0HsZFCoEYyogNw:ivvday5HwGjQnwB6
      X-Gdc-Request-Time:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"uris":["/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/variables/item/3"]}'
  recorded_at: Tue, 05 Jun 2018 07:36:43 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/variables/search
    body:
      encoding: UTF-8
      string: '{"variablesSearch":{"variables":["/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/250"],"context":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:QmCVaapEsRxwb0_lLcDtWg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:QmCVaapEsRxwb0_lLcDtWg:eKMYeJYvQIu2rsFg
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"variables":[{"related":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","level":"user","tree":{"content":[{"value":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/214","position":{"column":14,"line":1},"type":"attribute
        object"},{"content":[{"value":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/214/elements?id=1","position":{"column":69,"line":1},"type":"attributeElement
        object"}],"position":{"column":69,"line":1},"type":"list"}],"position":{"column":65,"line":1},"type":"in"},"expression":"[/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/214]
        IN ([/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/214/elements?id=1])","type":"filter","uri":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/variables/item/3","prompt":"/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/obj/250"}]}'
  recorded_at: Tue, 05 Jun 2018 07:36:43 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e5p7qod8gz1k7yk680xs07bu1xxeziwq/variables/item/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:kTYRxdyUrIpnAHLIOCbmNg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '29'
      X-Gdc-Request:
      - EkiH6abZPsDJ8HrYoWQs1g:kTYRxdyUrIpnAHLIOCbmNg:zNdTJjIJQGVP2z6O
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 05 Jun 2018 07:36:44 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/variables/search
    body:
      encoding: UTF-8
      string: '{"variablesSearch":{"variables":["/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/253"],"context":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Yab0A4k3R6MjWyZz5GdeXA:nz3UWBdHzGvZ9DM9BhMi1Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Yab0A4k3R6MjWyZz5GdeXA:nz3UWBdHzGvZ9DM9BhMi1Q:GgcBzJLefeQEsC5N
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"variables":[]}'
  recorded_at: Fri, 05 Oct 2018 13:25:37 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lwpctxvjazg947k3o22nxfflghomasdb/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Yab0A4k3R6MjWyZz5GdeXA:UqPb4TchzGmPWZjJjfP--Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/216
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Yab0A4k3R6MjWyZz5GdeXA:DTA3jDmmiHxk3OTTAxU1tA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Yab0A4k3R6MjWyZz5GdeXA:DTA3jDmmiHxk3OTTAxU1tA:9ndKWrNfMKzQa3Xh
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/214","expression":"[/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/23]","default":1},"links":{"elements":"/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/216/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/216","tags":"","created":"2018-10-05
        15:24:49","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2018-10-05
        15:24:49","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Fri, 05 Oct 2018 13:25:38 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/216/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Yab0A4k3R6MjWyZz5GdeXA:41LjKT7_-ax5mWKfRqTYmg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Yab0A4k3R6MjWyZz5GdeXA:41LjKT7_-ax5mWKfRqTYmg:HZIKjsnv6ICTQxPL
      X-Gdc-Request-Time:
      - '114'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/214","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/216"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/214/elements?id=3"}}]}}'
  recorded_at: Fri, 05 Oct 2018 13:25:39 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/variables/user
    body:
      encoding: UTF-8
      string: '{"variables":[{"related":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","level":"user","expression":"[/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/214]
        IN ([/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/214/elements?id=1])","type":"filter","prompt":"/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/obj/253"}]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Yab0A4k3R6MjWyZz5GdeXA:cPZxPT9igShjys3_LoAQgg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Yab0A4k3R6MjWyZz5GdeXA:cPZxPT9igShjys3_LoAQgg:1sIZ2zN4OcKGIkcQ
      X-Gdc-Request-Time:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"uris":["/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/variables/item/3"]}'
  recorded_at: Fri, 05 Oct 2018 13:25:41 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lwpctxvjazg947k3o22nxfflghomasdb/variables/item/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Yab0A4k3R6MjWyZz5GdeXA:zz_jK91VbJOSYATCnieu1A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '29'
      X-Gdc-Request:
      - Yab0A4k3R6MjWyZz5GdeXA:zz_jK91VbJOSYATCnieu1A:UATzDQiSyOS6HwiY
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 05 Oct 2018 13:25:43 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/variables/search
    body:
      encoding: UTF-8
      string: '{"variablesSearch":{"variables":["/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/253"],"context":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - CGsH5zVEVjAmdWFYDnRBFg:3jjJ-NrD8F9EiB3kItOgWw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - CGsH5zVEVjAmdWFYDnRBFg:3jjJ-NrD8F9EiB3kItOgWw:fc8A2Qo0KbzteNFA
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"variables":[]}'
  recorded_at: Wed, 10 Oct 2018 11:55:33 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/p4etjr09tf2datr3c345961ho5dam0vc/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - CGsH5zVEVjAmdWFYDnRBFg:Hq2HB3n4zWIShTetfcn64Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/221
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - CGsH5zVEVjAmdWFYDnRBFg:91k6Kd_1IPhDSOJD_ZgEZw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - CGsH5zVEVjAmdWFYDnRBFg:91k6Kd_1IPhDSOJD_ZgEZw:8NwPiByXZcK6nh25
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/219","expression":"[/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/16]","default":1},"links":{"elements":"/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/221/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/221","tags":"","created":"2018-10-10
        13:54:44","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2018-10-10
        13:54:44","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 10 Oct 2018 11:55:34 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/221/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - CGsH5zVEVjAmdWFYDnRBFg:agatv8kNNWaiHuwlKrgQFg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - CGsH5zVEVjAmdWFYDnRBFg:agatv8kNNWaiHuwlKrgQFg:o4JyI0GZGDsVStI3
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/219","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/221"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/219/elements?id=3"}}]}}'
  recorded_at: Wed, 10 Oct 2018 11:55:36 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/variables/user
    body:
      encoding: UTF-8
      string: '{"variables":[{"related":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","level":"user","expression":"[/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/219]
        IN ([/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/219/elements?id=1])","type":"filter","prompt":"/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/obj/253"}]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - CGsH5zVEVjAmdWFYDnRBFg:HByNdhODETQl_aRtsrJfbw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - CGsH5zVEVjAmdWFYDnRBFg:HByNdhODETQl_aRtsrJfbw:8FOEZ1oMMYlqp8hr
      X-Gdc-Request-Time:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"uris":["/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/variables/item/3"]}'
  recorded_at: Wed, 10 Oct 2018 11:55:38 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/p4etjr09tf2datr3c345961ho5dam0vc/variables/item/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - CGsH5zVEVjAmdWFYDnRBFg:dgOXZheyQfibt_hw6dcZ9w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '29'
      X-Gdc-Request:
      - CGsH5zVEVjAmdWFYDnRBFg:dgOXZheyQfibt_hw6dcZ9w:BAWS3rorUaGq0k7B
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 10 Oct 2018 11:55:40 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ysqfu3828dbejngzi7k1uxnpsxtmot5n/variables/search
    body:
      encoding: UTF-8
      string: '{"variablesSearch":{"variables":["/gdc/md/ysqfu3828dbejngzi7k1uxnpsxtmot5n/obj/253"],"context":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":zxC2nhtoxDdwx27HiBudoQ:tqw4I00AVdORuy2jpaMpxA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":zxC2nhtoxDdwx27HiBudoQ:tqw4I00AVdORuy2jpaMpxA:vKyr2NJ6YVo4Wtjk"
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"variables":[]}'
  recorded_at: Thu, 24 Jan 2019 13:44:05 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ysqfu3828dbejngzi7k1uxnpsxtmot5n/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":zxC2nhtoxDdwx27HiBudoQ:tis5z9ROv9yAfmSJPsCffg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ysqfu3828dbejngzi7k1uxnpsxtmot5n/obj/221
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":zxC2nhtoxDdwx27HiBudoQ:H68kIyvtdT26Ycnvme8ekg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":zxC2nhtoxDdwx27HiBudoQ:H68kIyvtdT26Ycnvme8ekg:rg2kVgrtmIc7UZBD"
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/ysqfu3828dbejngzi7k1uxnpsxtmot5n/obj/219","expression":"[/gdc/md/ysqfu3828dbejngzi7k1uxnpsxtmot5n/obj/16]","default":1},"links":{"elements":"/gdc/md/ysqfu3828dbejngzi7k1uxnpsxtmot5n/obj/221/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/ysqfu3828dbejngzi7k1uxnpsxtmot5n/obj/221","tags":"","created":"2019-01-24
        14:43:10","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2019-01-24
        14:43:11","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 24 Jan 2019 13:44:07 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ysqfu3828dbejngzi7k1uxnpsxtmot5n/obj/221/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":zxC2nhtoxDdwx27HiBudoQ:1fxO2Nu6aQXj5A-i160yhw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":zxC2nhtoxDdwx27HiBudoQ:1fxO2Nu6aQXj5A-i160yhw:2FT6BNs9LgDG3xtB"
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"validElements":{"elementsMeta":{"attribute":"/gdc/md/ysqfu3828dbejngzi7k1uxnpsxtmot5n/obj/219","filter":"","order":"asc","attributeDisplayForm":"/gdc/md/ysqfu3828dbejngzi7k1uxnpsxtmot5n/obj/221"},"paging":{"count":1,"total":"3","offset":"0"},"items":[{"element":{"title":"jirka@gooddata.com","uri":"/gdc/md/ysqfu3828dbejngzi7k1uxnpsxtmot5n/obj/219/elements?id=3"}}]}}'
  recorded_at: Thu, 24 Jan 2019 13:44:08 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ysqfu3828dbejngzi7k1uxnpsxtmot5n/variables/user
    body:
      encoding: UTF-8
      string: '{"variables":[{"related":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","level":"user","expression":"[/gdc/md/ysqfu3828dbejngzi7k1uxnpsxtmot5n/obj/219]
        IN ([/gdc/md/ysqfu3828dbejngzi7k1uxnpsxtmot5n/obj/219/elements?id=1])","type":"filter","prompt":"/gdc/md/ysqfu3828dbejngzi7k1uxnpsxtmot5n/obj/253"}]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":zxC2nhtoxDdwx27HiBudoQ:Gp7P6HIMxoku46aIoxDAMA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":zxC2nhtoxDdwx27HiBudoQ:Gp7P6HIMxoku46aIoxDAMA:2s7yrgA2uXSkk56T"
      X-Gdc-Request-Time:
      - '68'
    body:
      encoding: ASCII-8BIT
      string: '{"uris":["/gdc/md/ysqfu3828dbejngzi7k1uxnpsxtmot5n/variables/item/3"]}'
  recorded_at: Thu, 24 Jan 2019 13:44:10 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ysqfu3828dbejngzi7k1uxnpsxtmot5n/variables/item/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":zxC2nhtoxDdwx27HiBudoQ:WN4cLG7KZ88tKmKUWKC45Q"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '29'
      X-Gdc-Request:
      - ":zxC2nhtoxDdwx27HiBudoQ:WN4cLG7KZ88tKmKUWKC45Q:f9UOEEYhEWrEprSC"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 24 Jan 2019 13:44:12 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ekxbx4kjezaa86p5xsnuf50f5isdh6mc/variables/search
    body:
      encoding: UTF-8
      string: '{"variablesSearch":{"variables":["/gdc/md/ekxbx4kjezaa86p5xsnuf50f5isdh6mc/obj/255"],"context":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":oT0NxbjHinvyDSfMwka_WA:_C7Pmkg_0S5PJldaHxP6ew"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '23'
      X-Gdc-Request:
      - ":oT0NxbjHinvyDSfMwka_WA:_C7Pmkg_0S5PJldaHxP6ew:KAFyCfI9M2ofwlwQ"
    body:
      encoding: ASCII-8BIT
      string: '{"variables":[]}'
  recorded_at: Wed, 15 Jan 2020 06:39:37 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ekxbx4kjezaa86p5xsnuf50f5isdh6mc/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":oT0NxbjHinvyDSfMwka_WA:DFFqVNONP1ktmbNVOJ3Saw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ekxbx4kjezaa86p5xsnuf50f5isdh6mc/obj/216
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":oT0NxbjHinvyDSfMwka_WA:NOaBRgUKPMd8isNG_JYAhg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '31'
      X-Gdc-Request:
      - ":oT0NxbjHinvyDSfMwka_WA:NOaBRgUKPMd8isNG_JYAhg:GAtWpd1EDRCB45uM"
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/ekxbx4kjezaa86p5xsnuf50f5isdh6mc/obj/214","expression":"[/gdc/md/ekxbx4kjezaa86p5xsnuf50f5isdh6mc/obj/25]","default":1},"links":{"elements":"/gdc/md/ekxbx4kjezaa86p5xsnuf50f5isdh6mc/obj/216/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/ekxbx4kjezaa86p5xsnuf50f5isdh6mc/obj/216","tags":"","created":"2020-01-15
        07:38:29","identifier":"label.devs.dev_id.email","deprecated":"0","summary":"","isProduction":1,"title":"Email","category":"attributeDisplayForm","updated":"2020-01-15
        07:38:29","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 15 Jan 2020 06:39:38 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ekxbx4kjezaa86p5xsnuf50f5isdh6mc/obj/216/validElements?limit=1&offset=0&order=asc
    body:
      encoding: UTF-8
      string: '{"validElementsRequest":{}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":oT0NxbjHinvyDSfMwka_WA:EXE3hM2Luhzq660nk_0qLQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
[...]
