---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bLUrfsF7kWLeDzHZvQr3tCg/modifyMembers
    body:
      encoding: UTF-8
      string: '{"modifyMembers":{"operation":"SET","items":["/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:Z25egrulpaoXqgEwqlYhoQ
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '43'
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:Z25egrulpaoXqgEwqlYhoQ:5qLe1bTugG6WRoc1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 31 May 2018 15:21:16 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bLUrfsF7kWLeDzHZvQr3tCg/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:dvFGQCl40t3gZ_ltjr673w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:dvFGQCl40t3gZ_ltjr673w:BQHtfAaPt2XmWMhK
      X-Gdc-Request-Time:
      - '13'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroupMembers":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"user":{"content":{"firstName":"the","lastName":"1"},"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Thu, 31 May 2018 15:21:17 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:Fkx5Cv2vR-dBrgnATsu6Fg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:Fkx5Cv2vR-dBrgnATsu6Fg:4ZRCfEvzs9G8zgum
      X-Gdc-Request-Time:
      - '58'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-05-31
        16:30:09","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","timezone":null,"language":"en-US","ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Thu, 31 May 2018 15:21:18 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bLUrfsF7kWLeDzHZvQr3tCg/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:Eb9JLcuDW-yYvx5fQ_K-XA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:Eb9JLcuDW-yYvx5fQ_K-XA:QjZnBLSyE9RKv12t
      X-Gdc-Request-Time:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroupMembers":{"paging":{"offset":null,"limit":1000,"next":null},"items":[]}}'
  recorded_at: Thu, 31 May 2018 15:21:23 GMT
recorded_with: VCR 4.0.0
