---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bLUrfsF7kWLeDzHZvQr3tCg/modifyMembers
    body:
      encoding: UTF-8
      string: '{"modifyMembers":{"operation":"SET","items":["/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:Z25egrulpaoXqgEwqlYhoQ
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '43'
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:Z25egrulpaoXqgEwqlYhoQ:5qLe1bTugG6WRoc1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 31 May 2018 15:21:16 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bLUrfsF7kWLeDzHZvQr3tCg/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:dvFGQCl40t3gZ_ltjr673w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:dvFGQCl40t3gZ_ltjr673w:BQHtfAaPt2XmWMhK
      X-Gdc-Request-Time:
      - '13'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroupMembers":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"user":{"content":{"firstName":"the","lastName":"1"},"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Thu, 31 May 2018 15:21:17 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bYht_3jsC3p73mhemtw3L-Q/modifyMembers
    body:
      encoding: UTF-8
      string: '{"modifyMembers":{"operation":"SET","items":["/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Ti3R5nc8b1s2KH2uRjMqrA:Cmbch9FfXD8q46wEqWOK3w
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '18'
      X-Gdc-Request:
      - Ti3R5nc8b1s2KH2uRjMqrA:Cmbch9FfXD8q46wEqWOK3w:ABViMKV3R4dYpbWx
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 09:04:37 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bYht_3jsC3p73mhemtw3L-Q/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Ti3R5nc8b1s2KH2uRjMqrA:CQCdgfNlQz80VN2btFUr4g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Ti3R5nc8b1s2KH2uRjMqrA:CQCdgfNlQz80VN2btFUr4g:9fzpzmhQhQwqDP91
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroupMembers":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"user":{"content":{"firstName":"the","lastName":"1"},"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Wed, 10 Oct 2018 09:04:38 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bhxOVVNgzAPW9jUtv-eJmTA/modifyMembers
    body:
      encoding: UTF-8
      string: '{"modifyMembers":{"operation":"SET","items":["/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - IVWNGeM56YxdR03xNdm9uQ:s2-m37BqmQ5zi_gvCK02hw
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '18'
      X-Gdc-Request:
      - IVWNGeM56YxdR03xNdm9uQ:s2-m37BqmQ5zi_gvCK02hw:h3fIsI1fz1hJVdJP
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 11:54:17 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bhxOVVNgzAPW9jUtv-eJmTA/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - IVWNGeM56YxdR03xNdm9uQ:USrl8rHFxuIPdEXjIYm-mg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - IVWNGeM56YxdR03xNdm9uQ:USrl8rHFxuIPdEXjIYm-mg:mZyBmx8bujWV4LMf
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroupMembers":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"user":{"content":{"firstName":"the","lastName":"1"},"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Wed, 10 Oct 2018 11:54:18 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - IVWNGeM56YxdR03xNdm9uQ:VLGbN5YbwdKtQAZSSdpb5g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - IVWNGeM56YxdR03xNdm9uQ:VLGbN5YbwdKtQAZSSdpb5g:0AeYUS56hCCDecrH
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-10-10
        10:25:03","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","timezone":null,"language":"en-US","ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Wed, 10 Oct 2018 11:54:19 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bhxOVVNgzAPW9jUtv-eJmTA/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - IVWNGeM56YxdR03xNdm9uQ:k5gvc7Ce4xJ5TCfJsWFmmw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - IVWNGeM56YxdR03xNdm9uQ:k5gvc7Ce4xJ5TCfJsWFmmw:nTnf1rfXXwqDAcrz
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroupMembers":{"paging":{"offset":null,"limit":1000,"next":null},"items":[]}}'
  recorded_at: Wed, 10 Oct 2018 11:54:21 GMT
recorded_with: VCR 4.0.0
