---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users?login=gemtest_64609@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 25mbedlRNqSEXPNndZCxCw:icSLWPH6mLr1oaJuwY9E5A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 25mbedlRNqSEXPNndZCxCw:icSLWPH6mLr1oaJuwY9E5A:ujxjb5Vu93b7QhJw
      X-Gdc-Request-Time:
      - '15'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSettings":{"paging":{"offset":0,"count":1},"items":[{"accountSetting":{"links":{"self":"/gdc/account/profile/b098706e0f6df2f2dd9823f8ab4dd57e","projects":"/gdc/account/profile/b098706e0f6df2f2dd9823f8ab4dd57e/projects"},"firstName":"FirstName","lastName":"LastName","companyName":null,"position":null,"created":"2018-06-12
        11:05:52","updated":"2018-06-12 11:05:52","country":null,"phoneNumber":null,"authenticationModes":[],"login":"gemtest_64609@gooddata.com","timezone":null,"email":"gemtest_64609@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}]}}'
  recorded_at: Tue, 12 Jun 2018 09:06:16 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/b098706e0f6df2f2dd9823f8ab4dd57e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 25mbedlRNqSEXPNndZCxCw:KGSvvHPsgMDtA84du00TRQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '100'
      X-Gdc-Request:
      - 25mbedlRNqSEXPNndZCxCw:KGSvvHPsgMDtA84du00TRQ:SQi2McjD81KxNgQA
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 12 Jun 2018 09:06:18 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users?login=gemtest_344731@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LXWUgW5kFq1hnrhQx20fmw:SVkilLWZ9wP4z0JhUqsloA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LXWUgW5kFq1hnrhQx20fmw:SVkilLWZ9wP4z0JhUqsloA:PS0mXK4Fbiw80nHV
      X-Gdc-Request-Time:
      - '15'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSettings":{"paging":{"offset":0,"count":1},"items":[{"accountSetting":{"links":{"self":"/gdc/account/profile/bd5c481fa83d48a05a235fd2ae23700c","projects":"/gdc/account/profile/bd5c481fa83d48a05a235fd2ae23700c/projects"},"firstName":"FirstName","lastName":"LastName","companyName":null,"position":null,"created":"2018-10-05
        14:47:55","updated":"2018-10-05 14:47:55","country":null,"phoneNumber":null,"authenticationModes":[],"login":"gemtest_344731@gooddata.com","timezone":null,"email":"gemtest_344731@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}]}}'
  recorded_at: Fri, 05 Oct 2018 12:49:20 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users?login=gemtest_126107@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - vMKcyPvLxtF2Pm3vGcsZLA:SO3XiANoER-vrJu_NBOrmw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - vMKcyPvLxtF2Pm3vGcsZLA:SO3XiANoER-vrJu_NBOrmw:BoiGHaEM7T2scbsO
      X-Gdc-Request-Time:
      - '14'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSettings":{"paging":{"offset":0,"count":1},"items":[{"accountSetting":{"links":{"self":"/gdc/account/profile/e274526a2e148547d4488aae26d30279","projects":"/gdc/account/profile/e274526a2e148547d4488aae26d30279/projects"},"firstName":"FirstName","lastName":"LastName","companyName":null,"position":null,"created":"2018-10-10
        12:46:19","updated":"2018-10-10 12:46:19","country":null,"phoneNumber":null,"authenticationModes":[],"login":"gemtest_126107@gooddata.com","timezone":null,"email":"gemtest_126107@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}]}}'
  recorded_at: Wed, 10 Oct 2018 10:48:14 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users?login=gemtest_405146@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":t4pPiA_Rw5mUR_qI0Z7msQ:dziAyTGkxBzKV23d3YgQzQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":t4pPiA_Rw5mUR_qI0Z7msQ:dziAyTGkxBzKV23d3YgQzQ:z4HVWcNsHrexSTtx"
      X-Gdc-Request-Time:
      - '14'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSettings":{"paging":{"offset":0,"count":1},"items":[{"accountSetting":{"links":{"self":"/gdc/account/profile/1f5c9c98bf86845381af8cd36eec4b9d","projects":"/gdc/account/profile/1f5c9c98bf86845381af8cd36eec4b9d/projects","auditEvents":"/gdc/account/profile/1f5c9c98bf86845381af8cd36eec4b9d/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"FirstName","lastName":"LastName","companyName":null,"position":null,"created":"2019-01-24
        14:01:29","updated":"2019-01-24 14:01:29","country":null,"phoneNumber":null,"authenticationModes":[],"login":"gemtest_405146@gooddata.com","timezone":null,"ssoProvider":null,"email":"gemtest_405146@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}]}}'
  recorded_at: Thu, 24 Jan 2019 13:03:08 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users?login=gemtest_103909@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":1Gq71eG6RbrEd6gZJ3x_rQ:t0keeQgWOWhGY51GSLL6Og"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '17'
      X-Gdc-Request:
      - ":1Gq71eG6RbrEd6gZJ3x_rQ:t0keeQgWOWhGY51GSLL6Og:ZjMAmgpLqIAeF1hi"
    body:
      encoding: ASCII-8BIT
      string: '{"accountSettings":{"paging":{"offset":0,"count":1},"items":[{"accountSetting":{"links":{"self":"/gdc/account/profile/3994c3677fadaed87065663768afc956","projects":"/gdc/account/profile/3994c3677fadaed87065663768afc956/projects","auditEvents":"/gdc/account/profile/3994c3677fadaed87065663768afc956/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"FirstName","lastName":"LastName","companyName":null,"position":null,"created":"2020-01-15
        06:00:56","updated":"2020-01-15 06:00:56","country":null,"phoneNumber":null,"authenticationModes":[],"login":"gemtest_103909@gooddata.com","timezone":null,"ssoProvider":null,"email":"gemtest_103909@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}]}}'
  recorded_at: Wed, 15 Jan 2020 05:03:25 GMT
[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/account/profile/e306b64fb4178785c9cf29c29b5e498a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":jvW85y6otQYkhQzQXHblqw:jK8eGysklc_BQKuV3Xy3vw"
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '10'
      X-Gdc-Request:
      - ":jvW85y6otQYkhQzQXHblqw:jK8eGysklc_BQKuV3Xy3vw:NRJGmSyiS6CHWF8g"
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/e306b64fb4178785c9cf29c29b5e498a","projects":"/gdc/account/profile/e306b64fb4178785c9cf29c29b5e498a/projects","auditEvents":"/gdc/account/profile/e306b64fb4178785c9cf29c29b5e498a/auditEvents","domain":"/gdc/domains/staging-lcm-prod"},"firstName":"Ruby","lastName":"Oh","companyName":"","position":null,"created":"2017-02-10
        12:19:16","updated":"2019-02-20 04:29:50","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Thu, 21 May 2020 11:05:35 GMT
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/account/domains/staging-lcm-prod/users?login=gemtest_764394@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":jvW85y6otQYkhQzQXHblqw:i5uaGGG2R_CBGO5e_mj_pg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
[...]
[...]
- request:
    method: delete
    uri: https://staging-lcm-prod.intgdc.com/gdc/account/login/e306b64fb4178785c9cf29c29b5e498a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":TDjNapevA-yJk2j_EFX0CA:jb89PBzghSQzhRet5Spj7w"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Tries:
      - '0'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - ":TDjNapevA-yJk2j_EFX0CA:jb89PBzghSQzhRet5Spj7w:7i5uO54wbeL8GRk9"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 21 May 2020 11:05:51 GMT
[...]
- request:
    method: delete
    uri: https://staging3-lcm-prod.intgdc.com/gdc/account/login/a4c644d7b42b65c34e5a0f46809f7164
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":eIjdWZ0DMHOvYNTT-YfnMQ:NqyuCM-nLU5f4LsOmSpWuQ"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Tries:
      - '0'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '17'
      X-Gdc-Request:
      - ":eIjdWZ0DMHOvYNTT-YfnMQ:NqyuCM-nLU5f4LsOmSpWuQ:64itLjiIkx9hfAyl"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 21 May 2020 11:07:11 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K7F0U5mnuCaB-xWZLACt5g:6Vci849GRGL8kXTt5OHH5g"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request-Time:
      - '17'
      X-Gdc-Request:
      - ":K7F0U5mnuCaB-xWZLACt5g:6Vci849GRGL8kXTt5OHH5g:U506Es3TXtdNQDZF"
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Fri, 22 May 2020 02:44:04 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users?login=rubydev%2Badmin@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":z9wnCBkzTiMl_eKlqLeIsA:QJ_eKYVUV27F7JSltcUxkA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: [...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users
    body:
      encoding: UTF-8
      string: '{"accountSetting":{"login":"gemtest_871382_persistent@gooddata.com","firstName":"X","lastName":"X","password":"<PASSWORD>","verifyPassword":"<PASSWORD>","email":"gemtest_871382_persistent@gooddata.com","language":"en-US"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":lsOoprLpR2N0px1q88QS9Q:vLyqeVidKuXJC2oiVhf08w"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/account/profile/489ab6549a1e57d15b314b43124e8bd9"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '112'
      X-Gdc-Request:
      - ":lsOoprLpR2N0px1q88QS9Q:vLyqeVidKuXJC2oiVhf08w:Ozrhc5UqkzOicqFM"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/account/profile/489ab6549a1e57d15b314b43124e8bd9"}'
  recorded_at: Fri, 22 May 2020 03:05:36 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":AIX-YHlHBfQwBofWei7vIg:Y9ZoFnGLE-IHfS9e835UaQ"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '77'
      X-Gdc-Request:
      - ":AIX-YHlHBfQwBofWei7vIg:Y9ZoFnGLE-IHfS9e835UaQ:ZuzEZKZr5BLHWVQp"
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Mon, 25 May 2020 03:34:40 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AIX-YHlHBfQwBofWei7vIg:IsF0WcxuiY1O6kg4ghzVag"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '24'
      X-Gdc-Request:
      - ":AIX-YHlHBfQwBofWei7vIg:IsF0WcxuiY1O6kg4ghzVag:Kwc9qGq2FFRfO4Ql"
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Mon, 25 May 2020 03:34:44 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users?login=gemtest_871382_persistent@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":6oQS264mJgalcVR4cjKhIA:r_dCNrvRFrT0-DCRJ9rjdw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
     [...]
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":eANBpoYsbP20MUoKFO1pTQ:XlFOo1C9BZAD0OrIgl3kow"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Tries:
      - '0'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '14'
      X-Gdc-Request:
      - ":eANBpoYsbP20MUoKFO1pTQ:XlFOo1C9BZAD0OrIgl3kow:GavhEZVObxEpJ7JV"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 25 May 2020 04:00:19 GMT
recorded_with: VCR 5.0.0
