---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - A8Dzvkng3BxSMDEI0LG1pg:PDf-jsQ84zpmZqTfOQ4SZw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - A8Dzvkng3BxSMDEI0LG1pg:PDf-jsQ84zpmZqTfOQ4SZw:HOIyeWJL3aT9rnwj
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/ldm?thumbnail=1","self":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h","clearCaches":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/clearCaches","invitations":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/invitations","users":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/uploads/","ldm":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/ldm","metadata":"/gdc/md/czzk2ph6kshtwwiw6qfbgawwptsrc43h","publicartifacts":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/publicartifacts","roles":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/roles","userRoles":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/dataload","connectors":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/connectors","execute":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/execute","config":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/config","projectFeatureFlags":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/projectFeatureFlags","schedules":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/schedules","templates":"/gdc/md/czzk2ph6kshtwwiw6qfbgawwptsrc43h/templates"},"meta":{"created":"2018-10-09
        18:07:59","summary":"No summary","updated":"2018-10-09 18:07:59","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 09 Oct 2018 16:07:59 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - A8Dzvkng3BxSMDEI0LG1pg:fawxN8oUVrC4cPtezJQjOg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - A8Dzvkng3BxSMDEI0LG1pg:fawxN8oUVrC4cPtezJQjOg:aezpNCdUePHNvp3U
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/ldm?thumbnail=1","self":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h","clearCaches":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/clearCaches","invitations":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/invitations","users":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/czzk2ph6kshtwwiw6[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/uploads/1539101286/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/uploads/1539101286/ was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 16:08:07 GMT
- request:
    method: mkcol
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/uploads/1539101286/
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/uploads/1539101286/
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Collection /gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/uploads/1539101286/ has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 16:08:08 GMT
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/uploads/1539101286/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/uploads/1539101286/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/uploads/1539101286/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 16:08:09 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/uploads/1539101286/NOTTHERE_test-ci-data.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/uploads/1539101286/NOTTHERE_test-ci-data.csv was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 16:08:09 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/aty5x8tvencbegcsw8zg2ettmw3uyhdm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - fTI_4L_jd6XkZPkZVrJ2qQ:uqnMtfZ_u100g4ltIGiyYg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - fTI_4L_jd6XkZPkZVrJ2qQ:uqnMtfZ_u100g4ltIGiyYg:3XNp00x7760GVCBr
      X-Gdc-Request-Time:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/aty5x8tvencbegcsw8zg2ettmw3uyhdm/uploads/1539104830/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/aty5x8tvencbegcsw8zg2ettmw3uyhdm/uploads/1539104830/ was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:07:10 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/aty5x8tvencbegcsw8zg2ettmw3uyhdm/uploads/1539104830/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/aty5x8tvencbegcsw8zg2ettmw3uyhdm/uploads/1539104830/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/aty5x8tvencbegcsw8zg2ettmw3uyhdm/uploads/1539104830/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:07:12 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/aty5x8tvencbegcsw8zg2ettmw3uyhdm/uploads/1539104830/NOTTHERE_test-ci-data.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/aty5x8tvencbegcsw8zg2ettmw3uyhdm/uploads/1539104830/NOTTHERE_test-ci-data.csv was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:07:12 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/bi4376zy9n1x73shut8fe337sv2rnm7u
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 99pMAIGoPJHorucUAPE_gg:VEzHHwkyh9PHWSoEQJ5Row
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/bi4376zy9n1x73shut8fe337sv2rnm7u/uploads/1539106390/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/bi4376zy9n1x73shut8fe337sv2rnm7u/uploads/1539106390/ was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:33:11 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/bi4376zy9n1x73shut8fe337sv2rnm7u/uploads/1539106390/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/bi4376zy9n1x73shut8fe337sv2rnm7u/uploads/1539106390/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/bi4376zy9n1x73shut8fe337sv2rnm7u/uploads/1539106390/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:33:12 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/bi4376zy9n1x73shut8fe337sv2rnm7u/uploads/1539106390/NOTTHERE_test-ci-data.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/bi4376zy9n1x73shut8fe337sv2rnm7u/uploads/1539106390/NOTTHERE_test-ci-data.csv was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:33:13 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/cgxma9cpaqrw3rl40p35bynf2yzmvdt4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - woe7zrdoEmv69Db__C3KVw:oiMtg7vUw2U4WZlgkTQfpw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - woe7zrdoEmv69Db__C3KVw:oiMtg7vUw2U4WZlgkTQfpw:pEO6KP9Pqt5hmx8W
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/cgxma9cpaqrw3rl40p35bynf2yzmvdt4/uploads/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/cgxma9cpaqrw3rl40p35bynf2yzmvdt4/uploads/testdir/ was not found on this server.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 07:38:17 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/cgxma9cpaqrw3rl40p35bynf2yzmvdt4/uploads/testdir/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/cgxma9cpaqrw3rl40p35bynf2yzmvdt4/uploads/testdir/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/cgxma9cpaqrw3rl40p35bynf2yzmvdt4/uploads/testdir/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 07:38:19 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/cgxma9cpaqrw3rl40p35bynf2yzmvdt4/uploads/testdir/NOTTHERE_test-ci-data.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/cgxma9cpaqrw3rl40p35bynf2yzmvdt4/uploads/testdir/NOTTHERE_test-ci-data.csv was not found on this server.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 07:38:19 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ovi603z161spaurzxna1b6ipdiri9zcz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EME4LHSfCD5ioa6fcQyyxg:FU1GqqzRhPJq-cjnWRBmsw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EME4LHSfCD5ioa6fcQyyxg:FU1GqqzRhPJq-cjnWRBmsw:vqPHVQaChiqptf3w
      X-Gdc-Request-Time:
      - '54'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ovi603z161spaurzxna1b6ipdiri9zcz/uploads/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/ovi603z161spaurzxna1b6ipdiri9zcz/uploads/testdir/ was not found on this server.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 11:05:47 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ovi603z161spaurzxna1b6ipdiri9zcz/uploads/testdir/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/ovi603z161spaurzxna1b6ipdiri9zcz/uploads/testdir/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/ovi603z161spaurzxna1b6ipdiri9zcz/uploads/testdir/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 11:05:48 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ovi603z161spaurzxna1b6ipdiri9zcz/uploads/testdir/NOTTHERE_test-ci-data.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/ovi603z161spaurzxna1b6ipdiri9zcz/uploads/testdir/NOTTHERE_test-ci-data.csv was not found on this server.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 11:05:49 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":zs_9U3DO3TX52m0aDhQOWg:z_U4ESrUEk2oSd4rysueng"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - GoodData realm="GoodData API" cookie=GDCAuthSST location=/gdc/account/login
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '15'
      X-Gdc-Request:
      - ":zs_9U3DO3TX52m0aDhQOWg:z_U4ESrUEk2oSd4rysueng:J0r54zrQNwpLvyuS"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 24 Jan 2019 12:31:47 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ksQgRaovJFLIoKtXK3jnig:P_8lQGSIrzc9guFIB7PFPw"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - ":ksQgRaovJFLIoKtXK3jnig:P_8lQGSIrzc9guFIB7PFPw:zCgQkln2CcpwFDd1"
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 24 Jan 2019 13:19:39 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rgibr8x56iek6repnegdii7vr30xwecf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ksQgRaovJFLIoKtXK3jnig:YKzeh9WtcRlGqIgXlVOjDw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ksQgRaovJFLIoKtXK3jnig:YKzeh9WtcRlGqIgXlVOjDw:QSJjQrqtlPkEmLzI"
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"lin[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rgibr8x56iek6repnegdii7vr30xwecf/uploads/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/rgibr8x56iek6repnegdii7vr30xwecf/uploads/testdir/ was not found on this server.</p>
        </body></html>
  recorded_at: Thu, 24 Jan 2019 13:19:49 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rgibr8x56iek6repnegdii7vr30xwecf/uploads/testdir/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/rgibr8x56iek6repnegdii7vr30xwecf/uploads/testdir/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/rgibr8x56iek6repnegdii7vr30xwecf/uploads/testdir/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Thu, 24 Jan 2019 13:19:52 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rgibr8x56iek6repnegdii7vr30xwecf/uploads/testdir/NOTTHERE_test-ci-data.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/rgibr8x56iek6repnegdii7vr30xwecf/uploads/testdir/NOTTHERE_test-ci-data.csv was not found on this server.</p>
        </body></html>
  recorded_at: Thu, 24 Jan 2019 13:19:53 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":oRvtPpd9AxIZNNdbpAZI3Q:SF5IXaHHzWK9117MZkNF-Q"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request-Time:
      - '19'
      X-Gdc-Request:
      - ":oRvtPpd9AxIZNNdbpAZI3Q:SF5IXaHHzWK9117MZkNF-Q:kRklUkE23Nn1oE2q"
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 06:10:01 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rgrinvb51dr9mh69fcoa2jfembhhng6d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":oRvtPpd9AxIZNNdbpAZI3Q:yplQmr7JkCsUxNiX2rPdqw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '51'
      X-Gdc-Request:
      - ":oRvtPpd9AxIZNNdbpAZI3Q:yplQmr7JkCsUxNiX2rPdqw:9mZPDIC3I5UWoa37"
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADING"},"links":{"ldm_thumbnail":"/gdc/projects/rgrinvb51dr9mh69fcoa2jfembhhng6d/ldm?thumbnail=1","self":"/gdc/projects/rgrinvb51dr9mh69fcoa2jfembhhng6d","clearCaches":"/gdc/projects/rgrinvb51dr9mh69fcoa2jfembhhng6d/clearCaches","invitations":"/gdc/projects/rgrinvb51dr9mh69fcoa2jfembhhng6d/invitations","users":"/gdc/projects/rgrinvb51dr9mh69fcoa2jfembhhng6d/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/rgrinvb51dr9mh69fcoa2jfembhhng6d/checkXaeCompatibility","uploads":"/gdc/projects/rgrinvb51dr9mh69fcoa2jfembhhng6d/uploads/","ldm":"/gdc/projects/rgrinvb51dr9mh69fcoa2jfembhhng6d/ldm","metadata":"/gdc/md/rgrinvb51dr9mh69fcoa2jfembhhng6d","publicartifacts":"/gdc/projects/rgrinvb51dr9mh69fcoa2jfembhhng6d/publicartifacts","roles":"/gdc/projects/rgrinvb51dr9mh69fcoa2jfembhhng6d/roles","userRoles":"/gdc/projects/rgrinvb51dr9mh69fcoa2jfembhhng6d/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/rgrinvb51dr9mh69fcoa2jfembhhng6d/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/rgrinvb51dr9mh69fcoa2jfembhhng6d/dataload","connectors":"/gdc/projects/rgrinvb51dr9mh69fcoa2jfembhhng6d/connectors","execute":"/gdc/projects/rgrinvb51dr9mh69fcoa2jfembhhng6d/execute","config":"/gdc/projects/rgrinvb51dr9mh69fcoa2jfembhhng6d/config","projectFeatureFlags":"/gdc/projects/rgrinvb51dr9mh69fcoa2jfembhhng6d/projectFeatureFlags","schedules":"/gdc/projects/rgrinvb51dr9mh69fcoa2jfembhhng6d/schedules","templates":"/gdc/md/rgrinvb51dr9mh69fcoa2jfembhhng6d/templates"},"meta":{"created":"2020-01-15
        07:10:04","summary":"No summary","updated":"2020-01-15 07:10:05","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
[...]
