---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 2mYGgGi8gMch5StBaUWsqg:c3IpeSJfVy7-G-6TToaokw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 2mYGgGi8gMch5StBaUWsqg:c3IpeSJfVy7-G-6TToaokw:HpRq5woonoXmagod
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/ldm?thumbnail=1","self":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb","clearCaches":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/clearCaches","invitations":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/invitations","users":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/uploads/","ldm":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/ldm","metadata":"/gdc/md/k0i8w6msgzv7622hzfygy9pw2mbommqb","publicartifacts":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/publicartifacts","roles":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/roles","userRoles":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/dataload","connectors":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/connectors","execute":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/execute","config":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/config","projectFeatureFlags":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/projectFeatureFlags","schedules":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/schedules","templates":"/gdc/md/k0i8w6msgzv7622hzfygy9pw2mbommqb/templates"},"meta":{"created":"2018-10-09
        18:08:13","summary":"No summary","updated":"2018-10-09 18:08:14","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 09 Oct 2018 16:08:14 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 2mYGgGi8gMch5StBaUWsqg:8rCYhQb4Es5zgLXgeuZW_Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 2mYGgGi8gMch5StBaUWsqg:8rCYhQb4Es5zgLXgeuZW_Q:fQbPX2qMdrdqFbr1
      X-Gdc-Request-Time:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/ldm?thumbnail=1","self":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb","clearCaches":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/clearCaches","invitations":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/invitations","users":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/k0i8w6msgzv7622hz[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/klyq9umqkl92oyddiccx97s6vh0enbr4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - xUXlf-TSXCEZj-tgb65OqQ:kU3cCk__7uUj4_rdvBlClQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - xUXlf-TSXCEZj-tgb65OqQ:kU3cCk__7uUj4_rdvBlClQ:L6b9YF3Y9RXOEadT
      X-Gdc-Request-Time:
      - '64'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/nj2dj2sl2kg1dx5o8eckqhmx2gp8e6h1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WAcfIqQ8rufJiY-7arVElQ:ORLyFtKLoHjCzylrLneZEQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - WAcfIqQ8rufJiY-7arVElQ:ORLyFtKLoHjCzylrLneZEQ:cWet5i0meTLsB8WS
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: mkcol
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/1539106404/
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/uploads/1539106404/
      Content-Type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Collection /gdc/uploads/1539106404/ has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:33:26 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/epxvzumhzoacxrtndimmtecjcxpc0pdz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 07A7udvFo-My-Got64hPwg:fwzBnn3RKwYoJQIsZILk2g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/i8390vsa96dt9u2xdlfpfxdzhrjxdkxf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jw8qAveqMAReAAyGHICZYQ:vwsX2hIH3VJpBGxZEBtcMQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - jw8qAveqMAReAAyGHICZYQ:vwsX2hIH3VJpBGxZEBtcMQ:Pl8SwIba94GCUjb5
      X-Gdc-Request-Time:
      - '54'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.2 Final//EN\">\n<html>\n
        <head>\n  <title>Index of /gdc/uploads/testdir</title>\n </head>\n <body>\n<h1>Index
        of /gdc/uploads/testdir</h1>\n<pre>      <a href=\"?C=N;O=D\">Name</a>                    <a
        href=\"?C=M;O=A\">Last modified</a>      <a href=\"?C=S;O=A\">Size</a>  <a
        href=\"?C=D;O=A\">Description</a><hr>      <a href=\"/gdc/uploads/\">Parent
        Directory</a>                             -   \n      <a href=\"./abc-16:55:29+ha%23he.csv\">abc-16:55:29+ha#he.csv</a>
        \ 2018-10-10 10:27   68   \n      <a href=\"./abc-16:55:29+ha%23he.csv20181010-67137-1w3cd5n\">abc-16:55:29+ha#he.c..&gt;</a>
        2018-10-10 09:41   68   \n      <a href=\"test-ci-data.csv\">test-ci-data.csv</a>
        \       2018-10-10 13:05   68   \n      <a href=\"testdir/\">testdir/</a>
        \               2018-10-10 09:39    -   \n<hr></pre>\n</body></html>\n"
  recorded_at: Wed, 10 Oct 2018 11:06:03 GMT
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/csv
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 11:06:04 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/NOTTHERE_test-ci-data.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/uploads/testdir/NOTTHERE_test-ci-data.csv was not found on this server.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 11:06:05 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":8ksqz1O-pDVZwvVTRHeWWQ:aq3eG44cO1U8CSRhvIFotA"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - GoodData realm="GoodData API" cookie=GDCAuthSST location=/gdc/account/login
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - ":8ksqz1O-pDVZwvVTRHeWWQ:aq3eG44cO1U8CSRhvIFotA:JyVbV13QI1A4zci5"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 24 Jan 2019 12:31:50 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":H8iABJwns3jwTwiTnjx6Eg:CpS_y56wg4YbpU_hgCs5zA"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":H8iABJwns3jwTwiTnjx6Eg:CpS_y56wg4YbpU_hgCs5zA:IkzCgQd5YEnHPxWy"
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Thu, 24 Jan 2019 13:19:55 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":H8iABJwns3jwTwiTnjx6Eg:486J-QGu45fu7XtiJEwkpg"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - ":H8iABJwns3jwTwiTnjx6Eg:486J-QGu45fu7XtiJEwkpg:eVlcvWZdY3qzPJmV"
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 24 Jan 2019 13:19:56 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":H8iABJwns3jwTwiTnjx6Eg:Ihw8TU-mMT5rL0pkl31zCw"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":H8iABJwns3jwTwiTnjx6Eg:Ihw8TU-mMT5rL0pkl31zCw:3cj5sqwNJh7fWJ8r"
      X-Gdc-Request-Time:
      - '11'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2018-12-03 11:09:12","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Thu, 24 Jan 2019 13:19:57 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":H8iABJwns3jwTwiTnjx6Eg:x64ANwAwWZ5SVMdCz53uaQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":H8iABJwns3jwTwiTnjx6Eg:x64ANwAwWZ5SVMdCz53uaQ:kEB9drptFCnhgN1i"
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Thu, 24 Jan 2019 13:19:58 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Project for schedule
        testing"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":H8iABJwns3jwTwiTnjx6Eg:ycZdsj48KRBQJWe5GQvPSQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":H8iABJwns3jwTwiTnjx6Eg:ycZdsj48KRBQJWe5GQvPSQ:VSQuPzWyQRie2R41"
      X-Gdc-Request-Time:
      - '408'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/l4u6uoft3cc6qxoacax5zd3vq0360z2x"}'
  recorded_at: Thu, 24 Jan 2019 13:19:59 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/l4u6uoft3cc6qxoacax5zd3vq0360z2x
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":H8iABJwns3jwTwiTnjx6Eg:02aBcpJBLa_cpGmOZV4UXA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":nGgNIcAm85J736gy1uTkpw:ebsK1F3kRMFkJWl0hNGY4g"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '35'
      X-Gdc-Request:
      - ":nGgNIcAm85J736gy1uTkpw:ebsK1F3kRMFkJWl0hNGY4g:0M0PCDdkKQItIBvf"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Jan 2019 13:20:11 GMT
recorded_with: VCR 4.0.0
