---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - A8Dzvkng3BxSMDEI0LG1pg:PDf-jsQ84zpmZqTfOQ4SZw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - A8Dzvkng3BxSMDEI0LG1pg:PDf-jsQ84zpmZqTfOQ4SZw:HOIyeWJL3aT9rnwj
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/ldm?thumbnail=1","self":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h","clearCaches":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/clearCaches","invitations":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/invitations","users":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/uploads/","ldm":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/ldm","metadata":"/gdc/md/czzk2ph6kshtwwiw6qfbgawwptsrc43h","publicartifacts":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/publicartifacts","roles":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/roles","userRoles":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/dataload","connectors":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/connectors","execute":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/execute","config":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/config","projectFeatureFlags":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/projectFeatureFlags","schedules":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/schedules","templates":"/gdc/md/czzk2ph6kshtwwiw6qfbgawwptsrc43h/templates"},"meta":{"created":"2018-10-09
        18:07:59","summary":"No summary","updated":"2018-10-09 18:07:59","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 09 Oct 2018 16:07:59 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - A8Dzvkng3BxSMDEI0LG1pg:fawxN8oUVrC4cPtezJQjOg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - A8Dzvkng3BxSMDEI0LG1pg:fawxN8oUVrC4cPtezJQjOg:aezpNCdUePHNvp3U
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/ldm?thumbnail=1","self":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h","clearCaches":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/clearCaches","invitations":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/invitations","users":"/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/czzk2ph6kshtwwiw6[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/uploads/1539101286/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/uploads/1539101286/ was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 16:08:07 GMT
- request:
    method: mkcol
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/uploads/1539101286/
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/uploads/1539101286/
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Collection /gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/uploads/1539101286/ has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 16:08:08 GMT
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/uploads/1539101286/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/uploads/1539101286/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/uploads/1539101286/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 16:08:09 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/uploads/1539101286/NOTTHERE_test-ci-data.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/czzk2ph6kshtwwiw6qfbgawwptsrc43h/uploads/1539101286/NOTTHERE_test-ci-data.csv was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 16:08:09 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/aty5x8tvencbegcsw8zg2ettmw3uyhdm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - fTI_4L_jd6XkZPkZVrJ2qQ:uqnMtfZ_u100g4ltIGiyYg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - fTI_4L_jd6XkZPkZVrJ2qQ:uqnMtfZ_u100g4ltIGiyYg:3XNp00x7760GVCBr
      X-Gdc-Request-Time:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/aty5x8tvencbegcsw8zg2ettmw3uyhdm/uploads/1539104830/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/aty5x8tvencbegcsw8zg2ettmw3uyhdm/uploads/1539104830/ was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:07:10 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/aty5x8tvencbegcsw8zg2ettmw3uyhdm/uploads/1539104830/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/aty5x8tvencbegcsw8zg2ettmw3uyhdm/uploads/1539104830/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/aty5x8tvencbegcsw8zg2ettmw3uyhdm/uploads/1539104830/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:07:12 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/aty5x8tvencbegcsw8zg2ettmw3uyhdm/uploads/1539104830/NOTTHERE_test-ci-data.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/aty5x8tvencbegcsw8zg2ettmw3uyhdm/uploads/1539104830/NOTTHERE_test-ci-data.csv was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:07:12 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/bi4376zy9n1x73shut8fe337sv2rnm7u
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 99pMAIGoPJHorucUAPE_gg:VEzHHwkyh9PHWSoEQJ5Row
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/bi4376zy9n1x73shut8fe337sv2rnm7u/uploads/1539106390/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/bi4376zy9n1x73shut8fe337sv2rnm7u/uploads/1539106390/ was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:33:11 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/bi4376zy9n1x73shut8fe337sv2rnm7u/uploads/1539106390/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/bi4376zy9n1x73shut8fe337sv2rnm7u/uploads/1539106390/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/bi4376zy9n1x73shut8fe337sv2rnm7u/uploads/1539106390/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:33:12 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/bi4376zy9n1x73shut8fe337sv2rnm7u/uploads/1539106390/NOTTHERE_test-ci-data.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/bi4376zy9n1x73shut8fe337sv2rnm7u/uploads/1539106390/NOTTHERE_test-ci-data.csv was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:33:13 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/cgxma9cpaqrw3rl40p35bynf2yzmvdt4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - woe7zrdoEmv69Db__C3KVw:oiMtg7vUw2U4WZlgkTQfpw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - woe7zrdoEmv69Db__C3KVw:oiMtg7vUw2U4WZlgkTQfpw:pEO6KP9Pqt5hmx8W
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/cgxma9cpaqrw3rl40p35bynf2yzmvdt4/uploads/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/cgxma9cpaqrw3rl40p35bynf2yzmvdt4/uploads/testdir/ was not found on this server.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 07:38:17 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/cgxma9cpaqrw3rl40p35bynf2yzmvdt4/uploads/testdir/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/cgxma9cpaqrw3rl40p35bynf2yzmvdt4/uploads/testdir/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/cgxma9cpaqrw3rl40p35bynf2yzmvdt4/uploads/testdir/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 07:38:19 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/cgxma9cpaqrw3rl40p35bynf2yzmvdt4/uploads/testdir/NOTTHERE_test-ci-data.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/cgxma9cpaqrw3rl40p35bynf2yzmvdt4/uploads/testdir/NOTTHERE_test-ci-data.csv was not found on this server.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 07:38:19 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - EME4LHSfCD5ioa6fcQyyxg:XwF4rNn_rmhuu5hRuoPA-w
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EME4LHSfCD5ioa6fcQyyxg:XwF4rNn_rmhuu5hRuoPA-w:XKgI2mfJJ3YSB35a
      X-Gdc-Request-Time:
      - '55'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 11:05:36 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EME4LHSfCD5ioa6fcQyyxg:DL3UOdJWnBOpx-1_BXhiRA
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - EME4LHSfCD5ioa6fcQyyxg:DL3UOdJWnBOpx-1_BXhiRA:FNhlsg3cjaDXdeCg
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 11:05:37 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EME4LHSfCD5ioa6fcQyyxg:SYxVmd2y-_pPNghICh3yZw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EME4LHSfCD5ioa6fcQyyxg:SYxVmd2y-_pPNghICh3yZw:rNKBDvQwGHlDQS3i
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-10-10
        10:25:03","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","timezone":null,"language":"en-US","ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Wed, 10 Oct 2018 11:05:37 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EME4LHSfCD5ioa6fcQyyxg:62U00AwWb_s1TKyizj_umw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EME4LHSfCD5ioa6fcQyyxg:62U00AwWb_s1TKyizj_umw:IWzntbXNXUGfYC9T
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Wed, 10 Oct 2018 11:05:38 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Project for schedule
        testing"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EME4LHSfCD5ioa6fcQyyxg:JuC2x2YYAJTDVSTGOsQiTA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - EME4LHSfCD5ioa6fcQyyxg:JuC2x2YYAJTDVSTGOsQiTA:25M37Z8Ktul7ytLX
      X-Gdc-Request-Time:
      - '420'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/ovi603z161spaurzxna1b6ipdiri9zcz"}'
  recorded_at: Wed, 10 Oct 2018 11:05:39 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ovi603z161spaurzxna1b6ipdiri9zcz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EME4LHSfCD5ioa6fcQyyxg:FU1GqqzRhPJq-cjnWRBmsw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ovi603z161spaurzxna1b6ipdiri9zcz/uploads/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/ovi603z161spaurzxna1b6ipdiri9zcz/uploads/testdir/ was not found on this server.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 11:05:47 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ovi603z161spaurzxna1b6ipdiri9zcz/uploads/testdir/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/ovi603z161spaurzxna1b6ipdiri9zcz/uploads/testdir/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/ovi603z161spaurzxna1b6ipdiri9zcz/uploads/testdir/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 11:05:48 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ovi603z161spaurzxna1b6ipdiri9zcz/uploads/testdir/NOTTHERE_test-ci-data.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/ovi603z161spaurzxna1b6ipdiri9zcz/uploads/testdir/NOTTHERE_test-ci-data.csv was not found on this server.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 11:05:49 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _MTavvgpMWFuYKxXUbw9mw:jq6sf2XBstCiaDSRSv0FCg
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - _MTavvgpMWFuYKxXUbw9mw:jq6sf2XBstCiaDSRSv0FCg:2qCsX7jyEweuzft4
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 11:05:51 GMT
recorded_with: VCR 4.0.0
