---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 2mYGgGi8gMch5StBaUWsqg:c3IpeSJfVy7-G-6TToaokw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 2mYGgGi8gMch5StBaUWsqg:c3IpeSJfVy7-G-6TToaokw:HpRq5woonoXmagod
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/ldm?thumbnail=1","self":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb","clearCaches":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/clearCaches","invitations":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/invitations","users":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/uploads/","ldm":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/ldm","metadata":"/gdc/md/k0i8w6msgzv7622hzfygy9pw2mbommqb","publicartifacts":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/publicartifacts","roles":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/roles","userRoles":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/dataload","connectors":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/connectors","execute":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/execute","config":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/config","projectFeatureFlags":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/projectFeatureFlags","schedules":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/schedules","templates":"/gdc/md/k0i8w6msgzv7622hzfygy9pw2mbommqb/templates"},"meta":{"created":"2018-10-09
        18:08:13","summary":"No summary","updated":"2018-10-09 18:08:14","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 09 Oct 2018 16:08:14 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 2mYGgGi8gMch5StBaUWsqg:8rCYhQb4Es5zgLXgeuZW_Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 2mYGgGi8gMch5StBaUWsqg:8rCYhQb4Es5zgLXgeuZW_Q:fQbPX2qMdrdqFbr1
      X-Gdc-Request-Time:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/ldm?thumbnail=1","self":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb","clearCaches":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/clearCaches","invitations":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/invitations","users":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/k0i8w6msgzv7622hz[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/klyq9umqkl92oyddiccx97s6vh0enbr4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - xUXlf-TSXCEZj-tgb65OqQ:kU3cCk__7uUj4_rdvBlClQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - xUXlf-TSXCEZj-tgb65OqQ:kU3cCk__7uUj4_rdvBlClQ:L6b9YF3Y9RXOEadT
      X-Gdc-Request-Time:
      - '64'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/nj2dj2sl2kg1dx5o8eckqhmx2gp8e6h1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WAcfIqQ8rufJiY-7arVElQ:ORLyFtKLoHjCzylrLneZEQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - WAcfIqQ8rufJiY-7arVElQ:ORLyFtKLoHjCzylrLneZEQ:cWet5i0meTLsB8WS
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: mkcol
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/1539106404/
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/uploads/1539106404/
      Content-Type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Collection /gdc/uploads/1539106404/ has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:33:26 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/epxvzumhzoacxrtndimmtecjcxpc0pdz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 07A7udvFo-My-Got64hPwg:fwzBnn3RKwYoJQIsZILk2g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.2 Final//EN\">\n<html>\n
        <head>\n  <title>Index of /gdc/uploads/testdir</title>\n </head>\n <body>\n<h1>Index
        of /gdc/uploads/testdir</h1>\n<pre>      <a href=\"?C=N;O=D\">Name</a>                    <a
        href=\"?C=M;O=A\">Last modified</a>      <a href=\"?C=S;O=A\">Size</a>  <a
        href=\"?C=D;O=A\">Description</a><hr>      <a href=\"/gdc/uploads/\">Parent
        Directory</a>                             -   \n      <a href=\"test-ci-data.csv\">test-ci-data.csv</a>
        \       2018-10-10 09:37   68   \n<hr></pre>\n</body></html>\n"
  recorded_at: Wed, 10 Oct 2018 07:38:34 GMT
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/csv
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 07:38:35 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/NOTTHERE_test-ci-data.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/uploads/testdir/NOTTHERE_test-ci-data.csv was not found on this server.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 07:38:36 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - jw8qAveqMAReAAyGHICZYQ:9I7EeUUsDh18CSoRztrmSQ
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - jw8qAveqMAReAAyGHICZYQ:9I7EeUUsDh18CSoRztrmSQ:fbwrwSsQi4H8GOp2
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 11:05:51 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jw8qAveqMAReAAyGHICZYQ:ZsbOtUY6Wd-Xpk3lPlM_HQ
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - jw8qAveqMAReAAyGHICZYQ:ZsbOtUY6Wd-Xpk3lPlM_HQ:zeIwY0b2xnMSMbg4
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 11:05:52 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jw8qAveqMAReAAyGHICZYQ:bEZwjWqKPoaLNcXE6-25oQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - jw8qAveqMAReAAyGHICZYQ:bEZwjWqKPoaLNcXE6-25oQ:PNFRpVPwCU1vbA7x
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-10-10
        10:25:03","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","timezone":null,"language":"en-US","ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Wed, 10 Oct 2018 11:05:53 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jw8qAveqMAReAAyGHICZYQ:1uJtBgiEnjSw-bxi82JiYw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - jw8qAveqMAReAAyGHICZYQ:1uJtBgiEnjSw-bxi82JiYw:L6WlZxU9vybNTnC8
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Wed, 10 Oct 2018 11:05:54 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Project for schedule
        testing"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jw8qAveqMAReAAyGHICZYQ:fOPFjTUHdsMtYs736X4R4g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - jw8qAveqMAReAAyGHICZYQ:fOPFjTUHdsMtYs736X4R4g:3HUnej0azzhB4TMv
      X-Gdc-Request-Time:
      - '439'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/i8390vsa96dt9u2xdlfpfxdzhrjxdkxf"}'
  recorded_at: Wed, 10 Oct 2018 11:05:55 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/i8390vsa96dt9u2xdlfpfxdzhrjxdkxf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jw8qAveqMAReAAyGHICZYQ:vwsX2hIH3VJpBGxZEBtcMQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - oSszxB_TvJlkpvt75EbWAA:fxpBwAKD0EJi_N1gK6_RAQ
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '20'
      X-Gdc-Request:
      - oSszxB_TvJlkpvt75EbWAA:fxpBwAKD0EJi_N1gK6_RAQ:dBrODazoQKUd861E
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 11:06:07 GMT
recorded_with: VCR 4.0.0
