---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 2mYGgGi8gMch5StBaUWsqg:c3IpeSJfVy7-G-6TToaokw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 2mYGgGi8gMch5StBaUWsqg:c3IpeSJfVy7-G-6TToaokw:HpRq5woonoXmagod
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/ldm?thumbnail=1","self":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb","clearCaches":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/clearCaches","invitations":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/invitations","users":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/uploads/","ldm":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/ldm","metadata":"/gdc/md/k0i8w6msgzv7622hzfygy9pw2mbommqb","publicartifacts":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/publicartifacts","roles":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/roles","userRoles":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/dataload","connectors":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/connectors","execute":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/execute","config":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/config","projectFeatureFlags":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/projectFeatureFlags","schedules":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/schedules","templates":"/gdc/md/k0i8w6msgzv7622hzfygy9pw2mbommqb/templates"},"meta":{"created":"2018-10-09
        18:08:13","summary":"No summary","updated":"2018-10-09 18:08:14","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 09 Oct 2018 16:08:14 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 2mYGgGi8gMch5StBaUWsqg:8rCYhQb4Es5zgLXgeuZW_Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 2mYGgGi8gMch5StBaUWsqg:8rCYhQb4Es5zgLXgeuZW_Q:fQbPX2qMdrdqFbr1
      X-Gdc-Request-Time:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/ldm?thumbnail=1","self":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb","clearCaches":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/clearCaches","invitations":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/invitations","users":"/gdc/projects/k0i8w6msgzv7622hzfygy9pw2mbommqb/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/k0i8w6msgzv7622hz[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/klyq9umqkl92oyddiccx97s6vh0enbr4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - xUXlf-TSXCEZj-tgb65OqQ:kU3cCk__7uUj4_rdvBlClQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - xUXlf-TSXCEZj-tgb65OqQ:kU3cCk__7uUj4_rdvBlClQ:L6b9YF3Y9RXOEadT
      X-Gdc-Request-Time:
      - '64'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/nj2dj2sl2kg1dx5o8eckqhmx2gp8e6h1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WAcfIqQ8rufJiY-7arVElQ:ORLyFtKLoHjCzylrLneZEQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - WAcfIqQ8rufJiY-7arVElQ:ORLyFtKLoHjCzylrLneZEQ:cWet5i0meTLsB8WS
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: mkcol
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/1539106404/
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/uploads/1539106404/
      Content-Type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Collection /gdc/uploads/1539106404/ has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:33:26 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/epxvzumhzoacxrtndimmtecjcxpc0pdz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 07A7udvFo-My-Got64hPwg:fwzBnn3RKwYoJQIsZILk2g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/i8390vsa96dt9u2xdlfpfxdzhrjxdkxf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jw8qAveqMAReAAyGHICZYQ:vwsX2hIH3VJpBGxZEBtcMQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - jw8qAveqMAReAAyGHICZYQ:vwsX2hIH3VJpBGxZEBtcMQ:Pl8SwIba94GCUjb5
      X-Gdc-Request-Time:
      - '54'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":8ksqz1O-pDVZwvVTRHeWWQ:aq3eG44cO1U8CSRhvIFotA"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - GoodData realm="GoodData API" cookie=GDCAuthSST location=/gdc/account/login
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - ":8ksqz1O-pDVZwvVTRHeWWQ:aq3eG44cO1U8CSRhvIFotA:Ub9YY2KvhrgTJX8U"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 24 Jan 2019 12:31:51 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":H8iABJwns3jwTwiTnjx6Eg:486J-QGu45fu7XtiJEwkpg"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - ":H8iABJwns3jwTwiTnjx6Eg:486J-QGu45fu7XtiJEwkpg:eVlcvWZdY3qzPJmV"
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 24 Jan 2019 13:19:56 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/l4u6uoft3cc6qxoacax5zd3vq0360z2x
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":H8iABJwns3jwTwiTnjx6Eg:02aBcpJBLa_cpGmOZV4UXA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":H8iABJwns3jwTwiTnjx6Eg:02aBcpJBLa_cpGmOZV4UXA:D4eEp6Yc5DKOrXCv"
      X-Gdc-Request-Time:
      - '67'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADING"},"links[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GLIYGnorb5yl1rxZKEs_VQ:T7YVotkZwGUoX7ukJ1fbaA"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request-Time:
      - '18'
      X-Gdc-Request:
      - ":GLIYGnorb5yl1rxZKEs_VQ:T7YVotkZwGUoX7ukJ1fbaA:ka6d0c1xQXuSyxlZ"
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 06:10:22 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/tvgp4yz2brynymjdonshr9dgqvlwqvhn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GLIYGnorb5yl1rxZKEs_VQ:nYIU6ft27jIdDWkHZgMGqQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '59'
      X-Gdc-Request:
      - ":GLIYGnorb5yl1rxZKEs_VQ:nYIU6ft27jIdDWkHZgMGqQ:QofkxMo4xYszgSgD"
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADING"},"links":{"ldm_thumbnail":"/gdc/projects/tvgp4yz2brynymjdonshr9dgqvlwqvhn/ldm?thumbnail=1","self":"/gdc/projects/tvgp4yz2brynymjdonshr9dgqvlwqvhn","clearCaches":"/gdc/projects/tvgp4yz2brynymjdonshr9dgqvlwqvhn/clearCaches","invitations":"/gdc/projects/tvgp4yz2brynymjdonshr9dgqvlwqvhn/invitations","users":"/gdc/projects/tvgp4yz2brynymjdonshr9dgqvlwqvhn/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/tvgp4yz2brynymjdonshr9dgqvlwqvhn/checkXaeCompatibility","uploads":"/gdc/projects/tvgp4yz2brynymjdonshr9dgqvlwqvhn/uploads/","ldm":"/gdc/projects/tvgp4yz2brynymjdonshr9dgqvlwqvhn/ldm","metadata":"/gdc/md/tvgp4yz2brynymjdonshr9dgqvlwqvhn","publicartifacts":"/gdc/projects/tvgp4yz2brynymjdonshr9dgqvlwqvhn/publicartifacts","roles":"/gdc/projects/tvgp4yz2brynymjdonshr9dgqvlwqvhn/roles","userRoles":"/gdc/projects/tvgp4yz2brynymjdonshr9dgqvlwqvhn/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/tvgp4yz2brynymjdonshr9dgqvlwqvhn/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/tvgp4yz2brynymjdonshr9dgqvlwqvhn/dataload","connectors":"/gdc/projects/tvgp4yz2brynymjdonshr9dgqvlwqvhn/connectors","execute":"/gdc/projects/tvgp4yz2brynymjdonshr9dgqvlwqvhn/execute","config":"/gdc/projects/tvgp4yz2brynymjdonshr9dgqvlwqvhn/config","projectFeatureFlags":"/gdc/projects/tvgp4yz2brynymjdonshr9dgqvlwqvhn/projectFeatureFlags","schedules":"/gdc/projects/tvgp4yz2brynymjdonshr9dgqvlwqvhn/schedules","templates":"/gdc/md/tvgp4yz2brynymjdonshr9dgqvlwqvhn/templates"},"meta":{"created":"2020-01-15
        07:10:24","summary":"No summary","updated":"2020-01-15 07:10:25","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 15 Jan 2020 06:10:26 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.2 Final//EN\">\n<html>\n\
        \ <head>\n  <title>Index of /gdc/uploads/testdir</title>\n </head>\n <body>\n\
        <h1>Index of /gdc/uploads/testdir</h1>\n<pre>      <a href=\"?C=N;O=D\">Name</a>\
        \                    <a href=\"?C=M;O=A\">Last modified</a>      <a href=\"\
        ?C=S;O=A\">Size</a>  <a href=\"?C=D;O=A\">Description</a><hr>      <a href=\"\
        /gdc/uploads/\">Parent Directory</a>                             -   \n  \
        \    <a href=\"./abc-16:55:29+ha%23he.csv\">abc-16:55:29+ha#he.csv</a>  2020-01-15\
        \ 04:38   68   \n      <a href=\"test-ci-data.csv\">test-ci-data.csv</a> \
        \       2020-01-15 07:09   68   \n      <a href=\"testdir/\">testdir/</a>\
        \                2020-01-15 04:35    -   \n<hr></pre>\n</body></html>\n"
  recorded_at: Wed, 15 Jan 2020 06:10:35 GMT
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/csv
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 15 Jan 2020 06:10:36 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/NOTTHERE_test-ci-data.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/uploads/testdir/NOTTHERE_test-ci-data.csv was not found on this server.</p>
        </body></html>
  recorded_at: Wed, 15 Jan 2020 06:10:38 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":9oInP9b1mOQShYDZ07M__w:LfgYVjDDN6GB0fZnz6PzOA"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '55'
      X-Gdc-Request:
      - ":9oInP9b1mOQShYDZ07M__w:LfgYVjDDN6GB0fZnz6PzOA:T5IBEO7HKz3os67a"
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 07:04:48 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":9oInP9b1mOQShYDZ07M__w:2P77A3EgeBZ1T0LFoGNjyg"
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '11'
      X-Gdc-Request:
      - ":9oInP9b1mOQShYDZ07M__w:2P77A3EgeBZ1T0LFoGNjyg:A7xnBXwVZudMZ68S"
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2019-03-15 10:00:00","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Wed, 15 Jan 2020 07:04:50 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":9oInP9b1mOQShYDZ07M__w:msXnP5bpW1X5kUtUXfZlhg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '35'
      X-Gdc-Request:
      - ":9oInP9b1mOQShYDZ07M__w:msXnP5bpW1X5kUtUXfZlhg:dQ3mFhYx22M6IUOX"
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Wed, 15 Jan 2020 07:04:51 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Project for schedule
        testing"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":9oInP9b1mOQShYDZ07M__w:ZbcXn1QnRKArQkcU9JU7eg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '384'
      X-Gdc-Request:
      - ":9oInP9b1mOQShYDZ07M__w:ZbcXn1QnRKArQkcU9JU7eg:yAs3dAQKNP85vG6k"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/dzuke65ls8vvppowwnaxfbfjis5idm3u"}'
  recorded_at: Wed, 15 Jan 2020 07:04:52 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/dzuke65ls8vvppowwnaxfbfjis5idm3u
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":9oInP9b1mOQShYDZ07M__w:Ngw5nreYl8uIoZPM6uuGww"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-H[...]
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":BmmHZxY-or4gr0zvaxSsSQ:Xg0GtolootbRq7WvhbcOSQ"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Tries:
      - '0'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '18'
      X-Gdc-Request:
      - ":BmmHZxY-or4gr0zvaxSsSQ:Xg0GtolootbRq7WvhbcOSQ:0irJ73gPMgOS5Y4Q"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 15 Jan 2020 07:05:08 GMT
recorded_with: VCR 5.0.0
