---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - kMivo_X_FEtdtyTPeKIP_w:8DD_JDJm-B9A8QmoG2tzew
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - kMivo_X_FEtdtyTPeKIP_w:8DD_JDJm-B9A8QmoG2tzew:jAI1rcu7Y3skBmZ4
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/ldm?thumbnail=1","self":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m","clearCaches":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/clearCaches","invitations":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/invitations","users":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/uploads/","ldm":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/ldm","metadata":"/gdc/md/jqnf1q0t676urif584woatwnf8yr064m","publicartifacts":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/publicartifacts","roles":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/roles","userRoles":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/dataload","connectors":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/connectors","execute":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/execute","config":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/config","projectFeatureFlags":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/projectFeatureFlags","schedules":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/schedules","templates":"/gdc/md/jqnf1q0t676urif584woatwnf8yr064m/templates"},"meta":{"created":"2018-10-09
        18:08:57","summary":"No summary","updated":"2018-10-09 18:08:57","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 09 Oct 2018 16:08:58 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - kMivo_X_FEtdtyTPeKIP_w:kCikFSC2vfL5Xs28vGAEPA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - kMivo_X_FEtdtyTPeKIP_w:kCikFSC2vfL5Xs28vGAEPA:4IJKjzLCvIwb0dST
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/ldm?thumbnail=1","self":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m","clearCaches":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/clearCaches","invitations":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/invitations","users":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/jqnf1q0t676urif58[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gk3v0zcltidrmnq7bpodcg5g1y9bri1s
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - FEJno7r3o55xjj-T4xBK7A:QRAuucM3QxVP4xM_sVhJBA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - FEJno7r3o55xjj-T4xBK7A:QRAuucM3QxVP4xM_sVhJBA:e9miIdbook7ti0qk
      X-Gdc-Request-Time:
      - '82'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/q74b4ae0gd5hh98f5165l1bmfp4z6rxd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 3-CJYB3BPo_Rrekb1iOubg:150l9rv0yHe6ObWYTeL9wQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uxt0q3bunajyq9je0hg9djc3h2apv6e7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - isfSD3qKHIiAQ0_Mj4Ctxg:yX9mhY7nokAWFjUpM6ERsg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - isfSD3qKHIiAQ0_Mj4Ctxg:yX9mhY7nokAWFjUpM6ERsg:vfWhKdlPlzLnuRir
      X-Gdc-Request-Time:
      - '54'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/apkkduamcm56fbvmsv3dy3onffoelzxm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _Ht_ojr5KNr13362DtTvKA:ekN7GhaubHzjWu9qZfVWOg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _Ht_ojr5KNr13362DtTvKA:ekN7GhaubHzjWu9qZfVWOg:9XJsIJoAj4V6Nm73
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":JPq-Xrof_g28vwejk_2Ayw:grTY-2Wp8aMueAmeXqkM4Q"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - GoodData realm="GoodData API" cookie=GDCAuthSST location=/gdc/account/login
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '24'
      X-Gdc-Request:
      - ":JPq-Xrof_g28vwejk_2Ayw:grTY-2Wp8aMueAmeXqkM4Q:ELDWmc94S8sKB2Ld"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 24 Jan 2019 12:32:02 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":RPHOHwcQgOo3vRanL3vOqw:15O5tV0fO5ymzbOJDj-06Q"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - ":RPHOHwcQgOo3vRanL3vOqw:15O5tV0fO5ymzbOJDj-06Q:voHkG2H7hB5k1mKV"
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 24 Jan 2019 13:20:47 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/h8cifcmq4mffsjz4vurj2v47mzxvilf4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":RPHOHwcQgOo3vRanL3vOqw:KOWlOrcw04NmeCipxUgrtA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":RPHOHwcQgOo3vRanL3vOqw:KOWlOrcw04NmeCipxUgrtA:tDOj0EXQXclJLGGL"
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"lin[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":V1LsTW7JAZr6mioIGTNEgQ:h80F0ghjbBb-238BLIPDRw"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request-Time:
      - '19'
      X-Gdc-Request:
      - ":V1LsTW7JAZr6mioIGTNEgQ:h80F0ghjbBb-238BLIPDRw:9evApI4GkVxeExGP"
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 06:11:20 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lvbzm04ajcef67wlc4p93o8ebmxxenv6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":V1LsTW7JAZr6mioIGTNEgQ:G4n3tL80hH3_wqc0SMlelA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '54'
      X-Gdc-Request:
      - ":V1LsTW7JAZr6mioIGTNEgQ:G4n3tL80hH3_wqc0SMlelA:j5xNkX9i9YBS3xJl"
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADING"},"links":{"ldm_thumbnail":"/gdc/projects/lvbzm04ajcef67wlc4p93o8ebmxxenv6/ldm?thumbnail=1","self":"/gdc/projects/lvbzm04ajcef67wlc4p93o8ebmxxenv6","clearCaches":"/gdc/projects/lvbzm04ajcef67wlc4p93o8ebmxxenv6/clearCaches","invitations":"/gdc/projects/lvbzm04ajcef67wlc4p93o8ebmxxenv6/invitations","users":"/gdc/projects/lvbzm04ajcef67wlc4p93o8ebmxxenv6/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/lvbzm04ajcef67wlc4p93o8ebmxxenv6/checkXaeCompatibility","uploads":"/gdc/projects/lvbzm04ajcef67wlc4p93o8ebmxxenv6/uploads/","ldm":"/gdc/projects/lvbzm04ajcef67wlc4p93o8ebmxxenv6/ldm","metadata":"/gdc/md/lvbzm04ajcef67wlc4p93o8ebmxxenv6","publicartifacts":"/gdc/projects/lvbzm04ajcef67wlc4p93o8ebmxxenv6/publicartifacts","roles":"/gdc/projects/lvbzm04ajcef67wlc4p93o8ebmxxenv6/roles","userRoles":"/gdc/projects/lvbzm04ajcef67wlc4p93o8ebmxxenv6/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/lvbzm04ajcef67wlc4p93o8ebmxxenv6/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/lvbzm04ajcef67wlc4p93o8ebmxxenv6/dataload","connectors":"/gdc/projects/lvbzm04ajcef67wlc4p93o8ebmxxenv6/connectors","execute":"/gdc/projects/lvbzm04ajcef67wlc4p93o8ebmxxenv6/execute","config":"/gdc/projects/lvbzm04ajcef67wlc4p93o8ebmxxenv6/config","projectFeatureFlags":"/gdc/projects/lvbzm04ajcef67wlc4p93o8ebmxxenv6/projectFeatureFlags","schedules":"/gdc/projects/lvbzm04ajcef67wlc4p93o8ebmxxenv6/schedules","templates":"/gdc/md/lvbzm04ajcef67wlc4p93o8ebmxxenv6/templates"},"meta":{"created":"2020-01-15
        07:11:23","summary":"No summary","updated":"2020-01-15 07:11:24","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 15 Jan 2020 06:11:24 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":OuuJbulXWT9ilXK5WCMdhA:ZSJgXoM1yXul_sTxVpHVcQ"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '28'
      X-Gdc-Request:
      - ":OuuJbulXWT9ilXK5WCMdhA:ZSJgXoM1yXul_sTxVpHVcQ:2vMFZqNP10nZ42GU"
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 07:05:48 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":OuuJbulXWT9ilXK5WCMdhA:Sw--0Py19vFQO08dqEBcPg"
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '11'
      X-Gdc-Request:
      - ":OuuJbulXWT9ilXK5WCMdhA:Sw--0Py19vFQO08dqEBcPg:zs8kvv44TZ0oPsNF"
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2019-03-15 10:00:00","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Wed, 15 Jan 2020 07:05:50 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":OuuJbulXWT9ilXK5WCMdhA:0-HKt83q0jUzz8d9Y2siQQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '29'
      X-Gdc-Request:
      - ":OuuJbulXWT9ilXK5WCMdhA:0-HKt83q0jUzz8d9Y2siQQ:GHhJFwLznVoZJVrU"
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Wed, 15 Jan 2020 07:05:51 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Project for schedule
        testing"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":OuuJbulXWT9ilXK5WCMdhA:MNAhmk9hgxNUHx6Qeks0Hg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '402'
      X-Gdc-Request:
      - ":OuuJbulXWT9ilXK5WCMdhA:MNAhmk9hgxNUHx6Qeks0Hg:toooqWyceU1fcNV0"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/bj0n34o25nr9i40ompbi0yv4v6dm0ulo"}'
  recorded_at: Wed, 15 Jan 2020 07:05:53 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/bj0n34o25nr9i40ompbi0yv4v6dm0ulo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":OuuJbulXWT9ilXK5WCMdhA:wQwlqCvy4-ueEQ40bPF6Bw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-H[...]
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/csv
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 15 Jan 2020 07:05:59 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/test-ci-data.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 15 Jan 2020 07:05:58 GMT
      Etag:
      - '"44-59c28572f617c"'
      Content-Type:
      - text/csv
    body:
      encoding: UTF-8
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
  recorded_at: Wed, 15 Jan 2020 07:06:00 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bp92EuvP-OwFpZcxxTqLhw:m6CMfiDyCtnjUdWiz-8w4A"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Tries:
      - '0'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '22'
      X-Gdc-Request:
      - ":bp92EuvP-OwFpZcxxTqLhw:m6CMfiDyCtnjUdWiz-8w4A:JYG5GSogDuy3LoMn"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 15 Jan 2020 07:06:02 GMT
recorded_with: VCR 5.0.0
