---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - lHOfySDVkBcoxZ5ptMB12w:91GzaPw_KZQ_wSoyqbF8Ag
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - lHOfySDVkBcoxZ5ptMB12w:91GzaPw_KZQ_wSoyqbF8Ag:PhudvC5jV8nne5mX
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/ldm?thumbnail=1","self":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t","clearCaches":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/clearCaches","invitations":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/invitations","users":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/uploads/","ldm":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/ldm","metadata":"/gdc/md/j7p0prlak20x1ic4tljanlb8nvyf1p7t","publicartifacts":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/publicartifacts","roles":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/roles","userRoles":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/dataload","connectors":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/connectors","execute":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/execute","config":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/config","projectFeatureFlags":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/projectFeatureFlags","schedules":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/schedules","templates":"/gdc/md/j7p0prlak20x1ic4tljanlb8nvyf1p7t/templates"},"meta":{"created":"2018-10-09
        18:08:43","summary":"No summary","updated":"2018-10-09 18:08:43","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 09 Oct 2018 16:08:43 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - lHOfySDVkBcoxZ5ptMB12w:V7vrNmaBExwJG0L41VGppQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - lHOfySDVkBcoxZ5ptMB12w:V7vrNmaBExwJG0L41VGppQ:uEtPBdXk8vMc0VQg
      X-Gdc-Request-Time:
      - '88'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/ldm?thumbnail=1","self":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t","clearCaches":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/clearCaches","invitations":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/invitations","users":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/j7p0prlak20x1ic4t[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/1539101330/1539101330/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/uploads/1539101330/1539101330/ was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 16:08:51 GMT
- request:
    method: mkcol
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/1539101330/1539101330/
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/uploads/1539101330/1539101330/
      Content-Type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Collection /gdc/uploads/1539101330/1539101330/ has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 16:08:52 GMT
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/1539101330/1539101330/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/uploads/1539101330/1539101330/test-ci-data.csv
      Content-Type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/uploads/1539101330/1539101330/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 16:08:52 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/1539101330/1539101330/test-ci-data.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 09 Oct 2018 16:08:52 GMT
      Etag:
      - '"44-577cdf4329bf5"'
      Content-Type:
      - text/csv
    body:
      encoding: UTF-8
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
  recorded_at: Tue, 09 Oct 2018 16:08:53 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/v8bgqc7eows9aztrj22ug453eeluni6d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wM7icMXI6a9UL0Oaou9jjA:9GCKk-HmS50wvU7U9JDphA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wM7icMXI6a9UL0Oaou9jjA:9GCKk-HmS50wvU7U9JDphA:pF61xW6O0ThQTn3g
      X-Gdc-Request-Time:
      - '75'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/o6zp90plafouooopx2a3ram53krj5yoe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - uKNuSx7WvGoXuIMh5b1Xbg:LpKxY0TZzSleWY_XX-SCCQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - uKNuSx7WvGoXuIMh5b1Xbg:LpKxY0TZzSleWY_XX-SCCQ:5yBaz3uJ9lN87bUJ
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/zwp0yq4iot5nrr63vs4utuxdphnbtx43
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - SJ9pE75HFCduTIB2_OxTQA:qAga75W92Qgoaa7DPiqlJg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - SJ9pE75HFCduTIB2_OxTQA:qAga75W92Qgoaa7DPiqlJg:BCmqCAQwE89SAKyl
      X-Gdc-Request-Time:
      - '64'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: mkcol
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/testdir/
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/testdir/
      Content-Type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Collection /gdc/uploads/testdir/testdir/ has been created.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 07:39:09 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/wosytmzf9gckz7p54c7bhce694877667
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - MFYNtB93MAcxXcYWpcPHDg:Rcx6N6JU1chszW7zmyJMEA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - MFYNtB93MAcxXcYWpcPHDg:Rcx6N6JU1chszW7zmyJMEA:SNqgLwFiF5C60tp9
      X-Gdc-Request-Time:
      - '51'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":1Pb-ACPUXRowSYKS5CB4Eg:aWf2F68eCojN6je_F_0VCg"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - GoodData realm="GoodData API" cookie=GDCAuthSST location=/gdc/account/login
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - ":1Pb-ACPUXRowSYKS5CB4Eg:aWf2F68eCojN6je_F_0VCg:vlIPAMIoK6BGJGz6"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 24 Jan 2019 12:31:58 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":o4FtEv-UhDnBfXlYr_BUcA:FdlLHbTvV0Mla3tgWZDSwg"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - ":o4FtEv-UhDnBfXlYr_BUcA:FdlLHbTvV0Mla3tgWZDSwg:m7A9WXWsfOfBReed"
      X-Gdc-Request-Time:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 24 Jan 2019 13:20:30 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/itt844cme7ncmws2ulgd9ydoqjskw6xx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":o4FtEv-UhDnBfXlYr_BUcA:vr-FDeZ1PYyh49O3dj1CJA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":o4FtEv-UhDnBfXlYr_BUcA:vr-FDeZ1PYyh49O3dj1CJA:2be3WqBHHWTDkAYZ"
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"lin[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":22rFnwa6Cgxc7UrRfACukg:68V_1iTWzYL99Jb0lpkAtA"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request-Time:
      - '19'
      X-Gdc-Request:
      - ":22rFnwa6Cgxc7UrRfACukg:68V_1iTWzYL99Jb0lpkAtA:1KoxgSzAO0enaKME"
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 06:11:00 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rgw885opnigp86sesbtobms33zgllj6t
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":22rFnwa6Cgxc7UrRfACukg:41qtwhbX9MDOGbbZySnMtA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '55'
      X-Gdc-Request:
      - ":22rFnwa6Cgxc7UrRfACukg:41qtwhbX9MDOGbbZySnMtA:ZrzGQVXWdhZSgMye"
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADING"},"links":{"ldm_thumbnail":"/gdc/projects/rgw885opnigp86sesbtobms33zgllj6t/ldm?thumbnail=1","self":"/gdc/projects/rgw885opnigp86sesbtobms33zgllj6t","clearCaches":"/gdc/projects/rgw885opnigp86sesbtobms33zgllj6t/clearCaches","invitations":"/gdc/projects/rgw885opnigp86sesbtobms33zgllj6t/invitations","users":"/gdc/projects/rgw885opnigp86sesbtobms33zgllj6t/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/rgw885opnigp86sesbtobms33zgllj6t/checkXaeCompatibility","uploads":"/gdc/projects/rgw885opnigp86sesbtobms33zgllj6t/uploads/","ldm":"/gdc/projects/rgw885opnigp86sesbtobms33zgllj6t/ldm","metadata":"/gdc/md/rgw885opnigp86sesbtobms33zgllj6t","publicartifacts":"/gdc/projects/rgw885opnigp86sesbtobms33zgllj6t/publicartifacts","roles":"/gdc/projects/rgw885opnigp86sesbtobms33zgllj6t/roles","userRoles":"/gdc/projects/rgw885opnigp86sesbtobms33zgllj6t/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/rgw885opnigp86sesbtobms33zgllj6t/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/rgw885opnigp86sesbtobms33zgllj6t/dataload","connectors":"/gdc/projects/rgw885opnigp86sesbtobms33zgllj6t/connectors","execute":"/gdc/projects/rgw885opnigp86sesbtobms33zgllj6t/execute","config":"/gdc/projects/rgw885opnigp86sesbtobms33zgllj6t/config","projectFeatureFlags":"/gdc/projects/rgw885opnigp86sesbtobms33zgllj6t/projectFeatureFlags","schedules":"/gdc/projects/rgw885opnigp86sesbtobms33zgllj6t/schedules","templates":"/gdc/md/rgw885opnigp86sesbtobms33zgllj6t/templates"},"meta":{"created":"2020-01-15
        07:11:03","summary":"No summary","updated":"2020-01-15 07:11:04","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 15 Jan 2020 06:11:04 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":5lbideyLXGS8nvYJoZ5QKw:kXZFbcMjcWFRef9aTupvZA"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '57'
      X-Gdc-Request:
      - ":5lbideyLXGS8nvYJoZ5QKw:kXZFbcMjcWFRef9aTupvZA:Fs1sN1p1OWF70zvW"
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 07:05:28 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":5lbideyLXGS8nvYJoZ5QKw:qGC1T_EJz6dlrS181TMB2g"
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '13'
      X-Gdc-Request:
      - ":5lbideyLXGS8nvYJoZ5QKw:qGC1T_EJz6dlrS181TMB2g:3XQmWj9IcOVAMTjA"
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2019-03-15 10:00:00","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Wed, 15 Jan 2020 07:05:30 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":5lbideyLXGS8nvYJoZ5QKw:lq0l1t0wm_P2C43raciXEg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '30'
      X-Gdc-Request:
      - ":5lbideyLXGS8nvYJoZ5QKw:lq0l1t0wm_P2C43raciXEg:TJ1K9lonyy7JLdiF"
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Wed, 15 Jan 2020 07:05:31 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Project for schedule
        testing"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":5lbideyLXGS8nvYJoZ5QKw:gHnjxaZIRiUTyiMhIOIfHQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '367'
      X-Gdc-Request:
      - ":5lbideyLXGS8nvYJoZ5QKw:gHnjxaZIRiUTyiMhIOIfHQ:GZ3JffHUnOilPO9t"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/jy5gyqt3xywcs3h97gsgu8z29owbq5l9"}'
  recorded_at: Wed, 15 Jan 2020 07:05:32 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/jy5gyqt3xywcs3h97gsgu8z29owbq5l9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":5lbideyLXGS8nvYJoZ5QKw:4kf84R7hrTJLa3NKlsApKQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-H[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.2 Final//EN\">\n<html>\n\
        \ <head>\n  <title>Index of /gdc/uploads/testdir/testdir</title>\n </head>\n\
        \ <body>\n<h1>Index of /gdc/uploads/testdir/testdir</h1>\n<pre>      <a href=\"\
        ?C=N;O=D\">Name</a>                    <a href=\"?C=M;O=A\">Last modified</a>\
        \      <a href=\"?C=S;O=A\">Size</a>  <a href=\"?C=D;O=A\">Description</a><hr>\
        \      <a href=\"/gdc/uploads/testdir/\">Parent Directory</a>            \
        \                 -   \n      <a href=\"test-ci-data.csv\">test-ci-data.csv</a>\
        \        2020-01-15 07:11   68   \n<hr></pre>\n</body></html>\n"
  recorded_at: Wed, 15 Jan 2020 07:05:42 GMT
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/testdir/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/csv
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 15 Jan 2020 07:05:43 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Ngv2IYiI8pLdte-2nca-3w:ENnpHbxlmTA87ZDEZQhMiQ"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Tries:
      - '0'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - ":Ngv2IYiI8pLdte-2nca-3w:ENnpHbxlmTA87ZDEZQhMiQ:edTaPlDVeZnlQzNz"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 15 Jan 2020 07:05:47 GMT
recorded_with: VCR 5.0.0
