---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - L6C6gWwav58nrOql9f3vWg:Ft5tCNdnzrOdSSVOGIFMJA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - L6C6gWwav58nrOql9f3vWg:Ft5tCNdnzrOdSSVOGIFMJA:5UnWlT9Ea0lVTagU
      X-Gdc-Request-Time:
      - '55'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/ldm?thumbnail=1","self":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s","clearCaches":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/clearCaches","invitations":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/invitations","users":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/uploads/","ldm":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/ldm","metadata":"/gdc/md/k3mds3mido23qiv9asxxvdi437sxd42s","publicartifacts":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/publicartifacts","roles":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/roles","userRoles":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/dataload","connectors":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/connectors","execute":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/execute","config":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/config","projectFeatureFlags":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/projectFeatureFlags","schedules":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/schedules","templates":"/gdc/md/k3mds3mido23qiv9asxxvdi437sxd42s/templates"},"meta":{"created":"2018-10-09
        18:07:15","summary":"No summary","updated":"2018-10-09 18:07:15","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 09 Oct 2018 16:07:15 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - L6C6gWwav58nrOql9f3vWg:OibabHkLu17-llcCCB1URQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - L6C6gWwav58nrOql9f3vWg:OibabHkLu17-llcCCB1URQ:6d8JiDUvIfufroQT
      X-Gdc-Request-Time:
      - '69'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/ldm?thumbnail=1","self":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s","clearCaches":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/clearCaches","invitations":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/invitations","users":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/k3mds3mido23qiv9a[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/b0jqu3t5ky86mr9jqyuydifz395tzlto
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - I9JoFtVKzN8mTWwDVLkWNw:ADVM6jA_dGWeDXMa6le97w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - I9JoFtVKzN8mTWwDVLkWNw:ADVM6jA_dGWeDXMa6le97w:EzFRdSkoUNpjxv0n
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rtlvek05pmdm6nryi2hvz7at9dp5hxzf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jJ9xMmFF3x9eT2SY2shhJA:h7lNnQJ-hhieTWKjkU2bAA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - jJ9xMmFF3x9eT2SY2shhJA:h7lNnQJ-hhieTWKjkU2bAA:QjK4KX1mxplE4Grl
      X-Gdc-Request-Time:
      - '67'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: mkcol
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/1539106346/
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/uploads/1539106346/
      Content-Type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Collection /gdc/uploads/1539106346/ has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:32:28 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/jwasnuammln0eb894dk5an7ecfiz4we5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - VepfObdNKcGCSookTkcHGg:av8B45UHiZ3L4U7qvAHYQw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - VepfObdNKcGCSookTkcHGg:av8B45UHiZ3L4U7qvAHYQw:8gwZIs3ihfQLyg81
      X-Gdc-Request-Time:
      - '57'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/uploads/testdir/ was not found on this server.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 07:37:22 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/test-ci-data.csv
      Content-Type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/uploads/testdir/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 07:37:24 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/test-ci-data.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 10 Oct 2018 07:37:24 GMT
      Etag:
      - '"44-577daece7afe6"'
      Content-Type:
      - text/csv
    body:
      encoding: UTF-8
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
  recorded_at: Wed, 10 Oct 2018 07:37:26 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - 3rLHRpTRTgVTttUK_UldDw:hVrP3822EYvZ_gEzfUULRA
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 3rLHRpTRTgVTttUK_UldDw:hVrP3822EYvZ_gEzfUULRA:zFXihq3MgIttpeyC
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 11:04:50 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 3rLHRpTRTgVTttUK_UldDw:gytbxj7p_jXbV9ttuorGBA
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - 3rLHRpTRTgVTttUK_UldDw:gytbxj7p_jXbV9ttuorGBA:WiHuNJaoIl1Vi7rH
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 11:04:50 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 3rLHRpTRTgVTttUK_UldDw:S3w2oyqn_UUDIKviY259hQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 3rLHRpTRTgVTttUK_UldDw:S3w2oyqn_UUDIKviY259hQ:U3A6lDhahrKKqT9w
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-10-10
        10:25:03","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","language":"en-US","timezone":null,"ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Wed, 10 Oct 2018 11:04:51 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 3rLHRpTRTgVTttUK_UldDw:hjrQWN6JIegF0z1PUxPxjQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 3rLHRpTRTgVTttUK_UldDw:hjrQWN6JIegF0z1PUxPxjQ:Wzf2g3XUoCN8I2ow
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Wed, 10 Oct 2018 11:04:52 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Project for schedule
        testing"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 3rLHRpTRTgVTttUK_UldDw:nHrymxnTDd1ZgELPFy3TTA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 3rLHRpTRTgVTttUK_UldDw:nHrymxnTDd1ZgELPFy3TTA:qv3J7v4Ktw4mCrJa
      X-Gdc-Request-Time:
      - '543'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/uxjmhai88spubw7azqq0d6df1nsnzo65"}'
  recorded_at: Wed, 10 Oct 2018 11:04:53 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uxjmhai88spubw7azqq0d6df1nsnzo65
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 3rLHRpTRTgVTttUK_UldDw:omXcedbCDZscdEVq1c_wVA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.2 Final//EN\">\n<html>\n
        <head>\n  <title>Index of /gdc/uploads/testdir</title>\n </head>\n <body>\n<h1>Index
        of /gdc/uploads/testdir</h1>\n<pre>      <a href=\"?C=N;O=D\">Name</a>                    <a
        href=\"?C=M;O=A\">Last modified</a>      <a href=\"?C=S;O=A\">Size</a>  <a
        href=\"?C=D;O=A\">Description</a><hr>      <a href=\"/gdc/uploads/\">Parent
        Directory</a>                             -   \n      <a href=\"./abc-16:55:29+ha%23he.csv\">abc-16:55:29+ha#he.csv</a>
        \ 2018-10-10 10:27   68   \n      <a href=\"./abc-16:55:29+ha%23he.csv20181010-67137-1w3cd5n\">abc-16:55:29+ha#he.c..&gt;</a>
        2018-10-10 09:41   68   \n      <a href=\"test-ci-data.csv\">test-ci-data.csv</a>
        \       2018-10-10 09:41   68   \n      <a href=\"testdir/\">testdir/</a>
        \               2018-10-10 09:39    -   \n<hr></pre>\n</body></html>\n"
  recorded_at: Wed, 10 Oct 2018 11:05:02 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - TsTYWtUvtOk3Yn1lCseBFA:rHwlqtlj6S3n4veNqpuANA
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '30'
      X-Gdc-Request:
      - TsTYWtUvtOk3Yn1lCseBFA:rHwlqtlj6S3n4veNqpuANA:vs6e8dhlBLjDApgC
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 11:05:05 GMT
recorded_with: VCR 4.0.0
