---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RSPDQP5-E38kMMa7uVCTXA:Z94oHketQwF3-F5soawXzQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - RSPDQP5-E38kMMa7uVCTXA:Z94oHketQwF3-F5soawXzQ:dZEgUZU6b7kizwGK
      X-Gdc-Request-Time:
      - '55'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/ldm?thumbnail=1","self":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03","clearCaches":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/clearCaches","invitations":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/invitations","users":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/uploads/","ldm":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/ldm","metadata":"/gdc/md/m5xx2y48efumjbunokqyjmy0sm4m3e03","publicartifacts":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/publicartifacts","roles":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/roles","userRoles":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/dataload","connectors":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/connectors","execute":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/execute","config":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/config","projectFeatureFlags":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/projectFeatureFlags","schedules":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/schedules","templates":"/gdc/md/m5xx2y48efumjbunokqyjmy0sm4m3e03/templates"},"meta":{"created":"2018-10-09
        18:07:30","summary":"No summary","updated":"2018-10-09 18:07:30","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 09 Oct 2018 16:07:30 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RSPDQP5-E38kMMa7uVCTXA:9dxYjgK1seKecGtWyEhuoA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - RSPDQP5-E38kMMa7uVCTXA:9dxYjgK1seKecGtWyEhuoA:Tr8MmS3jSQZeRxKe
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/ldm?thumbnail=1","self":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03","clearCaches":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/clearCaches","invitations":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/invitations","users":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/m5xx2y48efumjbuno[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/uploads/1539101257/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/uploads/1539101257/ was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 16:07:37 GMT
- request:
    method: mkcol
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/uploads/1539101257/
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/uploads/1539101257/
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Collection /gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/uploads/1539101257/ has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 16:07:38 GMT
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/uploads/1539101257/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/uploads/1539101257/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/uploads/1539101257/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 16:07:39 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/uploads/1539101257/test-ci-data.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 09 Oct 2018 16:07:39 GMT
      Etag:
      - W/"44-577cdefd1e217"
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
  recorded_at: Tue, 09 Oct 2018 16:07:39 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/eabeu5gncfqfyfv3voyle39rw69gjqb4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jmszoDz980mMkY7rA2iBaA:y_Y3sQdcvFhh4wfv8CYIrg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - jmszoDz980mMkY7rA2iBaA:y_Y3sQdcvFhh4wfv8CYIrg:UoPgTzyPXqqfoGbq
      X-Gdc-Request-Time:
      - '56'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/eabeu5gncfqfyfv3voyle39rw69gjqb4/uploads/1539104801/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/eabeu5gncfqfyfv3voyle39rw69gjqb4/uploads/1539104801/ was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:06:42 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/eabeu5gncfqfyfv3voyle39rw69gjqb4/uploads/1539104801/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/eabeu5gncfqfyfv3voyle39rw69gjqb4/uploads/1539104801/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/eabeu5gncfqfyfv3voyle39rw69gjqb4/uploads/1539104801/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:06:43 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rf15n3icxfioh9r4gti3aqri4i5yrfgq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - o-iusdd4Ti3VGes9OGI_Ag:WxnPF-eLXZI-0dNPzNJ3NQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - o-iusdd4Ti3VGes9OGI_Ag:WxnPF-eLXZI-0dNPzNJ3NQ:7aTuBCNTzPerXLBE
      X-Gdc-Request-Time:
      - '72'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rf15n3icxfioh9r4gti3aqri4i5yrfgq/uploads/1539106361/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/rf15n3icxfioh9r4gti3aqri4i5yrfgq/uploads/1539106361/ was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:32:42 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rf15n3icxfioh9r4gti3aqri4i5yrfgq/uploads/1539106361/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/rf15n3icxfioh9r4gti3aqri4i5yrfgq/uploads/1539106361/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/rf15n3icxfioh9r4gti3aqri4i5yrfgq/uploads/1539106361/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:32:43 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/i4dluldwzt2gmy7h8w3cs2imku3kh49g
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AaSY1YDhm_zjU964_eRnrw:_vjk5gJS75a9_Hgj2YoBBw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AaSY1YDhm_zjU964_eRnrw:_vjk5gJS75a9_Hgj2YoBBw:FwPfgiTEY6u7cK5b
      X-Gdc-Request-Time:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/i4dluldwzt2gmy7h8w3cs2imku3kh49g/uploads/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/i4dluldwzt2gmy7h8w3cs2imku3kh49g/uploads/testdir/ was not found on this server.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 07:37:39 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/i4dluldwzt2gmy7h8w3cs2imku3kh49g/uploads/testdir/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/i4dluldwzt2gmy7h8w3cs2imku3kh49g/uploads/testdir/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/i4dluldwzt2gmy7h8w3cs2imku3kh49g/uploads/testdir/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 07:37:41 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - YPPXJobreGf6uWWrJhmv1A:jFgUKXeL1o6uXyB5B-sfUw
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - YPPXJobreGf6uWWrJhmv1A:jFgUKXeL1o6uXyB5B-sfUw:HcoTIduc0GMfLht3
      X-Gdc-Request-Time:
      - '63'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 11:05:06 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YPPXJobreGf6uWWrJhmv1A:Bhru-uAmoMjpmCuHBER8Ug
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - YPPXJobreGf6uWWrJhmv1A:Bhru-uAmoMjpmCuHBER8Ug:TIaWZuooA2hdbdEm
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 11:05:07 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YPPXJobreGf6uWWrJhmv1A:nQIPUmS2x3EwCzkMTiMxPQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - YPPXJobreGf6uWWrJhmv1A:nQIPUmS2x3EwCzkMTiMxPQ:tQrMQbyWgocfQFaE
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-10-10
        10:25:03","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","timezone":null,"language":"en-US","ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Wed, 10 Oct 2018 11:05:07 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YPPXJobreGf6uWWrJhmv1A:RWj9uChucAmcbZPq70L26w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - YPPXJobreGf6uWWrJhmv1A:RWj9uChucAmcbZPq70L26w:Cdn81JkVbaJYvYDt
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Wed, 10 Oct 2018 11:05:08 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Project for schedule
        testing"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YPPXJobreGf6uWWrJhmv1A:4v2XIMmdXNBYA896fQaOkQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - YPPXJobreGf6uWWrJhmv1A:4v2XIMmdXNBYA896fQaOkQ:6D5JQu8YHmDHufkG
      X-Gdc-Request-Time:
      - '482'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/yejbp9qsc9jb6kqjxijyo1shq0o74oel"}'
  recorded_at: Wed, 10 Oct 2018 11:05:09 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/yejbp9qsc9jb6kqjxijyo1shq0o74oel
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YPPXJobreGf6uWWrJhmv1A:BRphWbjxjqk-SQk9_LpsMQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/yejbp9qsc9jb6kqjxijyo1shq0o74oel/uploads/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/yejbp9qsc9jb6kqjxijyo1shq0o74oel/uploads/testdir/ was not found on this server.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 11:05:17 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/yejbp9qsc9jb6kqjxijyo1shq0o74oel/uploads/testdir/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/yejbp9qsc9jb6kqjxijyo1shq0o74oel/uploads/testdir/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/yejbp9qsc9jb6kqjxijyo1shq0o74oel/uploads/testdir/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 11:05:18 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - SkUHCrLzRx4Y3BuPuOZC7A:QjM3-Rf2qlDSuZ5uzkVRmA
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '35'
      X-Gdc-Request:
      - SkUHCrLzRx4Y3BuPuOZC7A:QjM3-Rf2qlDSuZ5uzkVRmA:e6Q2hi9GEFau5SPX
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 11:05:20 GMT
recorded_with: VCR 4.0.0
