---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RSPDQP5-E38kMMa7uVCTXA:Z94oHketQwF3-F5soawXzQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - RSPDQP5-E38kMMa7uVCTXA:Z94oHketQwF3-F5soawXzQ:dZEgUZU6b7kizwGK
      X-Gdc-Request-Time:
      - '55'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/ldm?thumbnail=1","self":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03","clearCaches":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/clearCaches","invitations":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/invitations","users":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/uploads/","ldm":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/ldm","metadata":"/gdc/md/m5xx2y48efumjbunokqyjmy0sm4m3e03","publicartifacts":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/publicartifacts","roles":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/roles","userRoles":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/dataload","connectors":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/connectors","execute":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/execute","config":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/config","projectFeatureFlags":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/projectFeatureFlags","schedules":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/schedules","templates":"/gdc/md/m5xx2y48efumjbunokqyjmy0sm4m3e03/templates"},"meta":{"created":"2018-10-09
        18:07:30","summary":"No summary","updated":"2018-10-09 18:07:30","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 09 Oct 2018 16:07:30 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RSPDQP5-E38kMMa7uVCTXA:9dxYjgK1seKecGtWyEhuoA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - RSPDQP5-E38kMMa7uVCTXA:9dxYjgK1seKecGtWyEhuoA:Tr8MmS3jSQZeRxKe
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/ldm?thumbnail=1","self":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03","clearCaches":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/clearCaches","invitations":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/invitations","users":"/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/m5xx2y48efumjbuno[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/uploads/1539101257/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/uploads/1539101257/ was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 16:07:37 GMT
- request:
    method: mkcol
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/uploads/1539101257/
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/uploads/1539101257/
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Collection /gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/uploads/1539101257/ has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 16:07:38 GMT
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/uploads/1539101257/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/uploads/1539101257/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/uploads/1539101257/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 16:07:39 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/m5xx2y48efumjbunokqyjmy0sm4m3e03/uploads/1539101257/test-ci-data.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 09 Oct 2018 16:07:39 GMT
      Etag:
      - W/"44-577cdefd1e217"
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
  recorded_at: Tue, 09 Oct 2018 16:07:39 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/eabeu5gncfqfyfv3voyle39rw69gjqb4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jmszoDz980mMkY7rA2iBaA:y_Y3sQdcvFhh4wfv8CYIrg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - jmszoDz980mMkY7rA2iBaA:y_Y3sQdcvFhh4wfv8CYIrg:UoPgTzyPXqqfoGbq
      X-Gdc-Request-Time:
      - '56'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/eabeu5gncfqfyfv3voyle39rw69gjqb4/uploads/1539104801/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/eabeu5gncfqfyfv3voyle39rw69gjqb4/uploads/1539104801/ was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:06:42 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/eabeu5gncfqfyfv3voyle39rw69gjqb4/uploads/1539104801/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/eabeu5gncfqfyfv3voyle39rw69gjqb4/uploads/1539104801/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/eabeu5gncfqfyfv3voyle39rw69gjqb4/uploads/1539104801/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:06:43 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rf15n3icxfioh9r4gti3aqri4i5yrfgq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - o-iusdd4Ti3VGes9OGI_Ag:WxnPF-eLXZI-0dNPzNJ3NQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - o-iusdd4Ti3VGes9OGI_Ag:WxnPF-eLXZI-0dNPzNJ3NQ:7aTuBCNTzPerXLBE
      X-Gdc-Request-Time:
      - '72'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rf15n3icxfioh9r4gti3aqri4i5yrfgq/uploads/1539106361/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/rf15n3icxfioh9r4gti3aqri4i5yrfgq/uploads/1539106361/ was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:32:42 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rf15n3icxfioh9r4gti3aqri4i5yrfgq/uploads/1539106361/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/rf15n3icxfioh9r4gti3aqri4i5yrfgq/uploads/1539106361/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/rf15n3icxfioh9r4gti3aqri4i5yrfgq/uploads/1539106361/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:32:43 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/i4dluldwzt2gmy7h8w3cs2imku3kh49g
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AaSY1YDhm_zjU964_eRnrw:_vjk5gJS75a9_Hgj2YoBBw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AaSY1YDhm_zjU964_eRnrw:_vjk5gJS75a9_Hgj2YoBBw:FwPfgiTEY6u7cK5b
      X-Gdc-Request-Time:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/i4dluldwzt2gmy7h8w3cs2imku3kh49g/uploads/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/i4dluldwzt2gmy7h8w3cs2imku3kh49g/uploads/testdir/ was not found on this server.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 07:37:39 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/i4dluldwzt2gmy7h8w3cs2imku3kh49g/uploads/testdir/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/i4dluldwzt2gmy7h8w3cs2imku3kh49g/uploads/testdir/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/i4dluldwzt2gmy7h8w3cs2imku3kh49g/uploads/testdir/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 07:37:41 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/yejbp9qsc9jb6kqjxijyo1shq0o74oel
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YPPXJobreGf6uWWrJhmv1A:BRphWbjxjqk-SQk9_LpsMQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - YPPXJobreGf6uWWrJhmv1A:BRphWbjxjqk-SQk9_LpsMQ:SWCP3B5ABhAWTCaG
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/yejbp9qsc9jb6kqjxijyo1shq0o74oel/uploads/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/yejbp9qsc9jb6kqjxijyo1shq0o74oel/uploads/testdir/ was not found on this server.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 11:05:17 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/yejbp9qsc9jb6kqjxijyo1shq0o74oel/uploads/testdir/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/yejbp9qsc9jb6kqjxijyo1shq0o74oel/uploads/testdir/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/yejbp9qsc9jb6kqjxijyo1shq0o74oel/uploads/testdir/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 11:05:18 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":MEb9CTNtZqqEOtm14FA__w:h5-WCjyu7V-Xj2phQPiHCw"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - ":MEb9CTNtZqqEOtm14FA__w:h5-WCjyu7V-Xj2phQPiHCw:VNLTCHgPz5u3omLx"
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 24 Jan 2019 13:19:05 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gxpd923514ajqqpbqcsxwvbc7ikovxm9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":MEb9CTNtZqqEOtm14FA__w:IDT8yl2SGijJXBG6GHsG9Q"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":MEb9CTNtZqqEOtm14FA__w:IDT8yl2SGijJXBG6GHsG9Q:nM7bJQ9NfAodfT8i"
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADING"},"links[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gxpd923514ajqqpbqcsxwvbc7ikovxm9/uploads/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/gxpd923514ajqqpbqcsxwvbc7ikovxm9/uploads/testdir/ was not found on this server.</p>
        </body></html>
  recorded_at: Thu, 24 Jan 2019 13:19:16 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gxpd923514ajqqpbqcsxwvbc7ikovxm9/uploads/testdir/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/gxpd923514ajqqpbqcsxwvbc7ikovxm9/uploads/testdir/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/gxpd923514ajqqpbqcsxwvbc7ikovxm9/uploads/testdir/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Thu, 24 Jan 2019 13:19:18 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":8le0HY3XxF0rJ87U4cxITg:E2RTr5pd7x-EYNGUYa7OHQ"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request-Time:
      - '22'
      X-Gdc-Request:
      - ":8le0HY3XxF0rJ87U4cxITg:E2RTr5pd7x-EYNGUYa7OHQ:i4jronci7SC13dSR"
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 06:09:22 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/auf7hopr5s82gg8purl4b9l0z4zbi7ud
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":8le0HY3XxF0rJ87U4cxITg:CCIiqXMgRnF2qJ1IvapL5A"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '53'
      X-Gdc-Request:
      - ":8le0HY3XxF0rJ87U4cxITg:CCIiqXMgRnF2qJ1IvapL5A:Vbx67hz2TUFfBndy"
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADING"},"links":{"ldm_thumbnail":"/gdc/projects/auf7hopr5s82gg8purl4b9l0z4zbi7ud/ldm?thumbnail=1","self":"/gdc/projects/auf7hopr5s82gg8purl4b9l0z4zbi7ud","clearCaches":"/gdc/projects/auf7hopr5s82gg8purl4b9l0z4zbi7ud/clearCaches","invitations":"/gdc/projects/auf7hopr5s82gg8purl4b9l0z4zbi7ud/invitations","users":"/gdc/projects/auf7hopr5s82gg8purl4b9l0z4zbi7ud/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/auf7hopr5s82gg8purl4b9l0z4zbi7ud/checkXaeCompatibility","uploads":"/gdc/projects/auf7hopr5s82gg8purl4b9l0z4zbi7ud/uploads/","ldm":"/gdc/projects/auf7hopr5s82gg8purl4b9l0z4zbi7ud/ldm","metadata":"/gdc/md/auf7hopr5s82gg8purl4b9l0z4zbi7ud","publicartifacts":"/gdc/projects/auf7hopr5s82gg8purl4b9l0z4zbi7ud/publicartifacts","roles":"/gdc/projects/auf7hopr5s82gg8purl4b9l0z4zbi7ud/roles","userRoles":"/gdc/projects/auf7hopr5s82gg8purl4b9l0z4zbi7ud/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/auf7hopr5s82gg8purl4b9l0z4zbi7ud/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/auf7hopr5s82gg8purl4b9l0z4zbi7ud/dataload","connectors":"/gdc/projects/auf7hopr5s82gg8purl4b9l0z4zbi7ud/connectors","execute":"/gdc/projects/auf7hopr5s82gg8purl4b9l0z4zbi7ud/execute","config":"/gdc/projects/auf7hopr5s82gg8purl4b9l0z4zbi7ud/config","projectFeatureFlags":"/gdc/projects/auf7hopr5s82gg8purl4b9l0z4zbi7ud/projectFeatureFlags","schedules":"/gdc/projects/auf7hopr5s82gg8purl4b9l0z4zbi7ud/schedules","templates":"/gdc/md/auf7hopr5s82gg8purl4b9l0z4zbi7ud/templates"},"meta":{"created":"2020-01-15
        07:09:25","summary":"No summary","updated":"2020-01-15 07:09:26","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 15 Jan 2020 06:09:27 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/auf7hopr5s82gg8purl4b9l0z4zbi7ud/uploads/testdir//
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/auf7hopr5s82gg8purl4b9l0z4zbi7ud/uploads/testdir// was not found on this server.</p>
        </body></html>
  recorded_at: Wed, 15 Jan 2020 06:09:35 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/auf7hopr5s82gg8purl4b9l0z4zbi7ud/uploads/testdir//test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/auf7hopr5s82gg8purl4b9l0z4zbi7ud/uploads/testdir//test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/auf7hopr5s82gg8purl4b9l0z4zbi7ud/uploads/testdir//test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Wed, 15 Jan 2020 06:09:37 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/auf7hopr5s82gg8purl4b9l0z4zbi7ud/uploads/testdir/test-ci-data.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 15 Jan 2020 06:09:37 GMT
      Etag:
      - '"44-59c278da1be8a"'
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
  recorded_at: Wed, 15 Jan 2020 06:09:39 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/enctcply8d2k736hl4mbdq7yax4satzm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":hPJ0JpFOH86I9RPPZJ46Vw:IZhNFt25JLouWWGXCKHznA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-H[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/enctcply8d2k736hl4mbdq7yax4satzm/uploads/testdir//
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/enctcply8d2k736hl4mbdq7yax4satzm/uploads/testdir// was not found on this server.</p>
        </body></html>
  recorded_at: Wed, 15 Jan 2020 07:04:02 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/enctcply8d2k736hl4mbdq7yax4satzm/uploads/testdir//test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/enctcply8d2k736hl4mbdq7yax4satzm/uploads/testdir//test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/enctcply8d2k736hl4mbdq7yax4satzm/uploads/testdir//test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Wed, 15 Jan 2020 07:04:03 GMT
- request:
    method: get
[...]
