---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rpclii4u7oo91y6g1k0wbxu1ye3h0eqf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - CeHPA3KAhtFVHzWMECXFfA:lI1wwfOHgtCL9ohxyp1y7g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - CeHPA3KAhtFVHzWMECXFfA:lI1wwfOHgtCL9ohxyp1y7g:BKVZZV7CEMHuexJh
      X-Gdc-Request-Time:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/rpclii4u7oo91y6g1k0wbxu1ye3h0eqf/ldm?thumbnail=1","self":"/gdc/projects/rpclii4u7oo91y6g1k0wbxu1ye3h0eqf","clearCaches":"/gdc/projects/rpclii4u7oo91y6g1k0wbxu1ye3h0eqf/clearCaches","invitations":"/gdc/projects/rpclii4u7oo91y6g1k0wbxu1ye3h0eqf/invitations","users":"/gdc/projects/rpclii4u7oo91y6g1k0wbxu1ye3h0eqf/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/rpclii4u7oo91y6g1k0wbxu1ye3h0eqf/uploads/","ldm":"/gdc/projects/rpclii4u7oo91y6g1k0wbxu1ye3h0eqf/ldm","metadata":"/gdc/md/rpclii4u7oo91y6g1k0wbxu1ye3h0eqf","publicartifacts":"/gdc/projects/rpclii4u7oo91y6g1k0wbxu1ye3h0eqf/publicartifacts","roles":"/gdc/projects/rpclii4u7oo91y6g1k0wbxu1ye3h0eqf/roles","userRoles":"/gdc/projects/rpclii4u7oo91y6g1k0wbxu1ye3h0eqf/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/rpclii4u7oo91y6g1k0wbxu1ye3h0eqf/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/rpclii4u7oo91y6g1k0wbxu1ye3h0eqf/dataload","connectors":"/gdc/projects/rpclii4u7oo91y6g1k0wbxu1ye3h0eqf/connectors","execute":"/gdc/projects/rpclii4u7oo91y6g1k0wbxu1ye3h0eqf/execute","config":"/gdc/projects/rpclii4u7oo91y6g1k0wbxu1ye3h0eqf/config","projectFeatureFlags":"/gdc/projects/rpclii4u7oo91y6g1k0wbxu1ye3h0eqf/projectFeatureFlags","schedules":"/gdc/projects/rpclii4u7oo91y6g1k0wbxu1ye3h0eqf/schedules","templates":"/gdc/md/rpclii4u7oo91y6g1k0wbxu1ye3h0eqf/templates"},"meta":{"created":"2018-10-09
        18:08:29","summary":"No summary","updated":"2018-10-09 18:08:29","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 09 Oct 2018 16:08:30 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rpclii4u7oo91y6g1k0wbxu1ye3h0eqf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - CeHPA3KAhtFVHzWMECXFfA:OnnW6J-I42aEVbKLH4h4Iw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - CeHPA3KAhtFVHzWMECXFfA:OnnW6J-I42aEVbKLH4h4Iw:NQVdsUmqgudy5Py4
      X-Gdc-Request-Time:
      - '67'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/rpclii4u7oo91y6g1k0wbxu1ye3h0eqf/ldm?thumbnail=1","self":"/gdc/projects/rpclii4u7oo91y6g1k0wbxu1ye3h0eqf","clearCaches":"/gdc/projects/rpclii4u7oo91y6g1k0wbxu1ye3h0eqf/clearCaches","invitations":"/gdc/projects/rpclii4u7oo91y6g1k0wbxu1ye3h0eqf/invitations","users":"/gdc/projects/rpclii4u7oo91y6g1k0wbxu1ye3h0eqf/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/rpclii4u7oo91y6g1[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rpclii4u7oo91y6g1k0wbxu1ye3h0eqf/uploads/1539101317/1539101317/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/rpclii4u7oo91y6g1k0wbxu1ye3h0eqf/uploads/1539101317/1539101317/ was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 16:08:37 GMT
- request:
    method: mkcol
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rpclii4u7oo91y6g1k0wbxu1ye3h0eqf/uploads/1539101317/1539101317/
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/rpclii4u7oo91y6g1k0wbxu1ye3h0eqf/uploads/1539101317/1539101317/
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Collection /gdc/projects/rpclii4u7oo91y6g1k0wbxu1ye3h0eqf/uploads/1539101317/1539101317/ has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 16:08:38 GMT
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rpclii4u7oo91y6g1k0wbxu1ye3h0eqf/uploads/1539101317/1539101317/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/rpclii4u7oo91y6g1k0wbxu1ye3h0eqf/uploads/1539101317/1539101317/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/rpclii4u7oo91y6g1k0wbxu1ye3h0eqf/uploads/1539101317/1539101317/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 16:08:38 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rpclii4u7oo91y6g1k0wbxu1ye3h0eqf/uploads/1539101317/1539101317/test-ci-data.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 09 Oct 2018 16:08:38 GMT
      Etag:
      - W/"44-577cdf35f5de0"
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
  recorded_at: Tue, 09 Oct 2018 16:08:39 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/p3s1wkdakxwe7q5v1638hfolsq1k97up
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - fnXX1u6ZQ45RjkBJBmfqFQ:8cbmSWy_hdLZiSM9g9T4gA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - fnXX1u6ZQ45RjkBJBmfqFQ:8cbmSWy_hdLZiSM9g9T4gA:2dVRIqARmPKD3ur4
      X-Gdc-Request-Time:
      - '68'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/p3s1wkdakxwe7q5v1638hfolsq1k97up/uploads/1539104861/1539104861/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/p3s1wkdakxwe7q5v1638hfolsq1k97up/uploads/1539104861/1539104861/ was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:07:42 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/p3s1wkdakxwe7q5v1638hfolsq1k97up/uploads/1539104861/1539104861/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/p3s1wkdakxwe7q5v1638hfolsq1k97up/uploads/1539104861/1539104861/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/p3s1wkdakxwe7q5v1638hfolsq1k97up/uploads/1539104861/1539104861/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:07:43 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/k68o6tr2ks77rnl9c27b0ilol1l24onx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1dpADQi_nGLeuMnL9it3GA:PdNJ15a1h_TynMlJHwJ2kw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/k68o6tr2ks77rnl9c27b0ilol1l24onx/uploads/1539106419/1539106419/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/k68o6tr2ks77rnl9c27b0ilol1l24onx/uploads/1539106419/1539106419/ was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:33:39 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/k68o6tr2ks77rnl9c27b0ilol1l24onx/uploads/1539106419/1539106419/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/k68o6tr2ks77rnl9c27b0ilol1l24onx/uploads/1539106419/1539106419/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/k68o6tr2ks77rnl9c27b0ilol1l24onx/uploads/1539106419/1539106419/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:33:41 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/hytziehp6bnque8i8qgso8rek222vgpc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - TPwV7-TBHr7pzZ_V_nmllg:PvC_CoeqtvLWvTgRbvWP1Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - TPwV7-TBHr7pzZ_V_nmllg:PvC_CoeqtvLWvTgRbvWP1Q:DsskPmV2Hc0joIE1
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/hytziehp6bnque8i8qgso8rek222vgpc/uploads/testdir/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/hytziehp6bnque8i8qgso8rek222vgpc/uploads/testdir/testdir/ was not found on this server.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 07:38:50 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/hytziehp6bnque8i8qgso8rek222vgpc/uploads/testdir/testdir/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/hytziehp6bnque8i8qgso8rek222vgpc/uploads/testdir/testdir/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/hytziehp6bnque8i8qgso8rek222vgpc/uploads/testdir/testdir/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 07:38:51 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/y2bvltezfu27wxu9qewfm9cs1r0j8m40
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - p5fc5_tWk6ccnIPqXsDNAw:AsA2QlQsg4O4drpz0bILhQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - p5fc5_tWk6ccnIPqXsDNAw:AsA2QlQsg4O4drpz0bILhQ:h6em4LM7DaGUY3Hm
      X-Gdc-Request-Time:
      - '54'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/y2bvltezfu27wxu9qewfm9cs1r0j8m40/uploads/testdir/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/y2bvltezfu27wxu9qewfm9cs1r0j8m40/uploads/testdir/testdir/ was not found on this server.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 11:06:18 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/y2bvltezfu27wxu9qewfm9cs1r0j8m40/uploads/testdir/testdir/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/y2bvltezfu27wxu9qewfm9cs1r0j8m40/uploads/testdir/testdir/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/y2bvltezfu27wxu9qewfm9cs1r0j8m40/uploads/testdir/testdir/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 11:06:20 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ZrLUgDWABC3SWQijzP-U4Q:8cGC_lFYctCIWD5FDMD7VQ"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - GoodData realm="GoodData API" cookie=GDCAuthSST location=/gdc/account/login
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - ":ZrLUgDWABC3SWQijzP-U4Q:8cGC_lFYctCIWD5FDMD7VQ:FFl1xcmykyWw9eva"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 24 Jan 2019 12:31:55 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7U98l4h2fOt31EL-jpBCHw:k7GpHB2xHe_gI-6Gmu6YzA"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - ":7U98l4h2fOt31EL-jpBCHw:k7GpHB2xHe_gI-6Gmu6YzA:OWkBXj5fL7ADmq50"
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 24 Jan 2019 13:20:13 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/skd1aovmx07f0za5fb9quiovym8g2pvl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7U98l4h2fOt31EL-jpBCHw:jcM0lkOUruCQFaCEUMywqg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":7U98l4h2fOt31EL-jpBCHw:jcM0lkOUruCQFaCEUMywqg:T68alEEISAniDM4O"
      X-Gdc-Request-Time:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"lin[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/skd1aovmx07f0za5fb9quiovym8g2pvl/uploads/testdir/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/skd1aovmx07f0za5fb9quiovym8g2pvl/uploads/testdir/testdir/ was not found on this server.</p>
        </body></html>
  recorded_at: Thu, 24 Jan 2019 13:20:24 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/skd1aovmx07f0za5fb9quiovym8g2pvl/uploads/testdir/testdir/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/skd1aovmx07f0za5fb9quiovym8g2pvl/uploads/testdir/testdir/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/skd1aovmx07f0za5fb9quiovym8g2pvl/uploads/testdir/testdir/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Thu, 24 Jan 2019 13:20:26 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":cD6n9EV2KfMo3ncqoCQSOA:dSUA2xwxmeWKnXOnXSTsDQ"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request-Time:
      - '23'
      X-Gdc-Request:
      - ":cD6n9EV2KfMo3ncqoCQSOA:dSUA2xwxmeWKnXOnXSTsDQ:OAcI1ZBPb9KU8i59"
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 06:10:41 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/zcplx05jyvo6480g9m5f8ka6rnpterby
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":cD6n9EV2KfMo3ncqoCQSOA:J2QcbkpOvVizCxKJ33r_9A"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '52'
      X-Gdc-Request:
      - ":cD6n9EV2KfMo3ncqoCQSOA:J2QcbkpOvVizCxKJ33r_9A:YH7cLYKkFCqYuZ6O"
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADING"},"links":{"ldm_thumbnail":"/gdc/projects/zcplx05jyvo6480g9m5f8ka6rnpterby/ldm?thumbnail=1","self":"/gdc/projects/zcplx05jyvo6480g9m5f8ka6rnpterby","clearCaches":"/gdc/projects/zcplx05jyvo6480g9m5f8ka6rnpterby/clearCaches","invitations":"/gdc/projects/zcplx05jyvo6480g9m5f8ka6rnpterby/invitations","users":"/gdc/projects/zcplx05jyvo6480g9m5f8ka6rnpterby/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/zcplx05jyvo6480g9m5f8ka6rnpterby/checkXaeCompatibility","uploads":"/gdc/projects/zcplx05jyvo6480g9m5f8ka6rnpterby/uploads/","ldm":"/gdc/projects/zcplx05jyvo6480g9m5f8ka6rnpterby/ldm","metadata":"/gdc/md/zcplx05jyvo6480g9m5f8ka6rnpterby","publicartifacts":"/gdc/projects/zcplx05jyvo6480g9m5f8ka6rnpterby/publicartifacts","roles":"/gdc/projects/zcplx05jyvo6480g9m5f8ka6rnpterby/roles","userRoles":"/gdc/projects/zcplx05jyvo6480g9m5f8ka6rnpterby/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/zcplx05jyvo6480g9m5f8ka6rnpterby/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/zcplx05jyvo6480g9m5f8ka6rnpterby/dataload","connectors":"/gdc/projects/zcplx05jyvo6480g9m5f8ka6rnpterby/connectors","execute":"/gdc/projects/zcplx05jyvo6480g9m5f8ka6rnpterby/execute","config":"/gdc/projects/zcplx05jyvo6480g9m5f8ka6rnpterby/config","projectFeatureFlags":"/gdc/projects/zcplx05jyvo6480g9m5f8ka6rnpterby/projectFeatureFlags","schedules":"/gdc/projects/zcplx05jyvo6480g9m5f8ka6rnpterby/schedules","templates":"/gdc/md/zcplx05jyvo6480g9m5f8ka6rnpterby/templates"},"meta":{"created":"2020-01-15
        07:10:44","summary":"No summary","updated":"2020-01-15 07:10:45","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 15 Jan 2020 06:10:45 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/zcplx05jyvo6480g9m5f8ka6rnpterby/uploads/testdir/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/zcplx05jyvo6480g9m5f8ka6rnpterby/uploads/testdir/testdir/ was not found on this server.</p>
        </body></html>
  recorded_at: Wed, 15 Jan 2020 06:10:54 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/zcplx05jyvo6480g9m5f8ka6rnpterby/uploads/testdir/testdir/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/zcplx05jyvo6480g9m5f8ka6rnpterby/uploads/testdir/testdir/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/zcplx05jyvo6480g9m5f8ka6rnpterby/uploads/testdir/testdir/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Wed, 15 Jan 2020 06:10:56 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":nMx1nbuivHAM0RlkFHjPZw:C7dMH5pTTEIj8iDpZYxjRg"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '36'
      X-Gdc-Request:
      - ":nMx1nbuivHAM0RlkFHjPZw:C7dMH5pTTEIj8iDpZYxjRg:4fMqmcTFANfQ77YT"
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 07:05:09 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":nMx1nbuivHAM0RlkFHjPZw:VUTGb9u75T1WHVr5PjFt9A"
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '11'
      X-Gdc-Request:
      - ":nMx1nbuivHAM0RlkFHjPZw:VUTGb9u75T1WHVr5PjFt9A:D4ESZgEGSIl59XRe"
    body:
      encoding: ASCII-8BIT
[...]
