---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - kMivo_X_FEtdtyTPeKIP_w:8DD_JDJm-B9A8QmoG2tzew
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - kMivo_X_FEtdtyTPeKIP_w:8DD_JDJm-B9A8QmoG2tzew:jAI1rcu7Y3skBmZ4
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/ldm?thumbnail=1","self":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m","clearCaches":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/clearCaches","invitations":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/invitations","users":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/uploads/","ldm":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/ldm","metadata":"/gdc/md/jqnf1q0t676urif584woatwnf8yr064m","publicartifacts":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/publicartifacts","roles":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/roles","userRoles":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/dataload","connectors":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/connectors","execute":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/execute","config":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/config","projectFeatureFlags":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/projectFeatureFlags","schedules":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/schedules","templates":"/gdc/md/jqnf1q0t676urif584woatwnf8yr064m/templates"},"meta":{"created":"2018-10-09
        18:08:57","summary":"No summary","updated":"2018-10-09 18:08:57","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 09 Oct 2018 16:08:58 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - kMivo_X_FEtdtyTPeKIP_w:kCikFSC2vfL5Xs28vGAEPA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - kMivo_X_FEtdtyTPeKIP_w:kCikFSC2vfL5Xs28vGAEPA:4IJKjzLCvIwb0dST
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/ldm?thumbnail=1","self":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m","clearCaches":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/clearCaches","invitations":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/invitations","users":"/gdc/projects/jqnf1q0t676urif584woatwnf8yr064m/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/jqnf1q0t676urif58[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gk3v0zcltidrmnq7bpodcg5g1y9bri1s
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - FEJno7r3o55xjj-T4xBK7A:QRAuucM3QxVP4xM_sVhJBA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - FEJno7r3o55xjj-T4xBK7A:QRAuucM3QxVP4xM_sVhJBA:e9miIdbook7ti0qk
      X-Gdc-Request-Time:
      - '82'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/q74b4ae0gd5hh98f5165l1bmfp4z6rxd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 3-CJYB3BPo_Rrekb1iOubg:150l9rv0yHe6ObWYTeL9wQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uxt0q3bunajyq9je0hg9djc3h2apv6e7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - isfSD3qKHIiAQ0_Mj4Ctxg:yX9mhY7nokAWFjUpM6ERsg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - isfSD3qKHIiAQ0_Mj4Ctxg:yX9mhY7nokAWFjUpM6ERsg:vfWhKdlPlzLnuRir
      X-Gdc-Request-Time:
      - '54'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - _Ht_ojr5KNr13362DtTvKA:5hVY6nLTSANXxmD4HrHGcw
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _Ht_ojr5KNr13362DtTvKA:5hVY6nLTSANXxmD4HrHGcw:LvfzGC8XzDJZcjvs
      X-Gdc-Request-Time:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 11:06:38 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _Ht_ojr5KNr13362DtTvKA:btVYUXPOuTLNlgAMrPKGgg
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - _Ht_ojr5KNr13362DtTvKA:btVYUXPOuTLNlgAMrPKGgg:gtrw4JLYKEEd8Ots
      X-Gdc-Request-Time:
      - '15'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 11:06:39 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _Ht_ojr5KNr13362DtTvKA:IWhHrN7nvY74B7sLI6Xn4w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _Ht_ojr5KNr13362DtTvKA:IWhHrN7nvY74B7sLI6Xn4w:D5sHpDhRa2xeS09V
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-10-10
        10:25:03","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","language":"en-US","timezone":null,"ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Wed, 10 Oct 2018 11:06:39 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _Ht_ojr5KNr13362DtTvKA:falYCmRXjiuzqo2LKOrzxg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _Ht_ojr5KNr13362DtTvKA:falYCmRXjiuzqo2LKOrzxg:5ycVD2ps5kAz4JCZ
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Wed, 10 Oct 2018 11:06:40 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Project for schedule
        testing"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _Ht_ojr5KNr13362DtTvKA:Z_jWqVnpp8OOzebBWNvOYw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _Ht_ojr5KNr13362DtTvKA:Z_jWqVnpp8OOzebBWNvOYw:oUSW98i4SWt4T8yJ
      X-Gdc-Request-Time:
      - '480'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/apkkduamcm56fbvmsv3dy3onffoelzxm"}'
  recorded_at: Wed, 10 Oct 2018 11:06:41 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/apkkduamcm56fbvmsv3dy3onffoelzxm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _Ht_ojr5KNr13362DtTvKA:ekN7GhaubHzjWu9qZfVWOg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/csv
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 11:06:49 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/test-ci-data.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 10 Oct 2018 11:06:49 GMT
      Etag:
      - '"44-577ddd9d5cf71"'
      Content-Type:
      - text/csv
    body:
      encoding: UTF-8
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
  recorded_at: Wed, 10 Oct 2018 11:06:50 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YUe5cNx9G7ByVVDuQjissA:NiEjlJZjE4PizlmXA2S3qg
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '21'
      X-Gdc-Request:
      - YUe5cNx9G7ByVVDuQjissA:NiEjlJZjE4PizlmXA2S3qg:mueCzRbZcZcIvzId
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 11:06:52 GMT
recorded_with: VCR 4.0.0
