---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/iayuo0kdpzyp101w0lc40gqdi2gddmen
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - QOUuu0Ok393YdDMjKLvelw:DsUd1zUT4Z1ZZA_DOq50Hw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - QOUuu0Ok393YdDMjKLvelw:DsUd1zUT4Z1ZZA_DOq50Hw:zjTv4F5PeEOmMgsg
      X-Gdc-Request-Time:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/iayuo0kdpzyp101w0lc40gqdi2gddmen/ldm?thumbnail=1","self":"/gdc/projects/iayuo0kdpzyp101w0lc40gqdi2gddmen","clearCaches":"/gdc/projects/iayuo0kdpzyp101w0lc40gqdi2gddmen/clearCaches","invitations":"/gdc/projects/iayuo0kdpzyp101w0lc40gqdi2gddmen/invitations","users":"/gdc/projects/iayuo0kdpzyp101w0lc40gqdi2gddmen/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/iayuo0kdpzyp101w0lc40gqdi2gddmen/uploads/","ldm":"/gdc/projects/iayuo0kdpzyp101w0lc40gqdi2gddmen/ldm","metadata":"/gdc/md/iayuo0kdpzyp101w0lc40gqdi2gddmen","publicartifacts":"/gdc/projects/iayuo0kdpzyp101w0lc40gqdi2gddmen/publicartifacts","roles":"/gdc/projects/iayuo0kdpzyp101w0lc40gqdi2gddmen/roles","userRoles":"/gdc/projects/iayuo0kdpzyp101w0lc40gqdi2gddmen/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/iayuo0kdpzyp101w0lc40gqdi2gddmen/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/iayuo0kdpzyp101w0lc40gqdi2gddmen/dataload","connectors":"/gdc/projects/iayuo0kdpzyp101w0lc40gqdi2gddmen/connectors","execute":"/gdc/projects/iayuo0kdpzyp101w0lc40gqdi2gddmen/execute","config":"/gdc/projects/iayuo0kdpzyp101w0lc40gqdi2gddmen/config","projectFeatureFlags":"/gdc/projects/iayuo0kdpzyp101w0lc40gqdi2gddmen/projectFeatureFlags","schedules":"/gdc/projects/iayuo0kdpzyp101w0lc40gqdi2gddmen/schedules","templates":"/gdc/md/iayuo0kdpzyp101w0lc40gqdi2gddmen/templates"},"meta":{"created":"2018-10-09
        18:09:11","summary":"No summary","updated":"2018-10-09 18:09:11","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 09 Oct 2018 16:09:11 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/iayuo0kdpzyp101w0lc40gqdi2gddmen
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - QOUuu0Ok393YdDMjKLvelw:XNmDbEdCzUirx7FfkqPmww
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - QOUuu0Ok393YdDMjKLvelw:XNmDbEdCzUirx7FfkqPmww:TcUyNB6gSQjNVrX7
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/iayuo0kdpzyp101w0lc40gqdi2gddmen/ldm?thumbnail=1","self":"/gdc/projects/iayuo0kdpzyp101w0lc40gqdi2gddmen","clearCaches":"/gdc/projects/iayuo0kdpzyp101w0lc40gqdi2gddmen/clearCaches","invitations":"/gdc/projects/iayuo0kdpzyp101w0lc40gqdi2gddmen/invitations","users":"/gdc/projects/iayuo0kdpzyp101w0lc40gqdi2gddmen/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/iayuo0kdpzyp101w0[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/iayuo0kdpzyp101w0lc40gqdi2gddmen/uploads/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/iayuo0kdpzyp101w0lc40gqdi2gddmen/uploads/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/iayuo0kdpzyp101w0lc40gqdi2gddmen/uploads/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 16:09:18 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/iayuo0kdpzyp101w0lc40gqdi2gddmen/uploads/test-ci-data.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 09 Oct 2018 16:09:18 GMT
      Etag:
      - W/"44-577cdf5c5afd3"
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
  recorded_at: Tue, 09 Oct 2018 16:09:19 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/e0el9ghtg2153zg4jdfj9hdoqm7173p6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4lgFBh-GE579ZUmkRe9Amg:8FF0KM4Kv3LoTwKDuhsqFA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/e0el9ghtg2153zg4jdfj9hdoqm7173p6/uploads/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/e0el9ghtg2153zg4jdfj9hdoqm7173p6/uploads/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/e0el9ghtg2153zg4jdfj9hdoqm7173p6/uploads/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:08:27 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/qnrijhkv6iu0lmxuqvremybim806rbqb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - mAlkP3DaKuJ9FZZ4Jq6jaQ:BgsIiRi5VZ7k2RySGgM7sg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - mAlkP3DaKuJ9FZZ4Jq6jaQ:BgsIiRi5VZ7k2RySGgM7sg:vCB0pxBriMGpwN6s
      X-Gdc-Request-Time:
      - '55'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/qnrijhkv6iu0lmxuqvremybim806rbqb/uploads/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/qnrijhkv6iu0lmxuqvremybim806rbqb/uploads/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/qnrijhkv6iu0lmxuqvremybim806rbqb/uploads/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:34:22 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/vz445fw0880dnjeqcow6bz7jswlep5ti
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - iVEHnM5zUjTP9zKAQYKupQ:scZBHthX7Klo-eWjQfhHlg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - iVEHnM5zUjTP9zKAQYKupQ:scZBHthX7Klo-eWjQfhHlg:Cs2oUS4puN1XRHEi
      X-Gdc-Request-Time:
      - '51'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/vz445fw0880dnjeqcow6bz7jswlep5ti/uploads/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/vz445fw0880dnjeqcow6bz7jswlep5ti/uploads/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/vz445fw0880dnjeqcow6bz7jswlep5ti/uploads/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 07:39:39 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - 4FvEH75Gg39LX58GnuSKTQ:yRcBKLqbn4jQYKpGrhJfZw
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4FvEH75Gg39LX58GnuSKTQ:yRcBKLqbn4jQYKpGrhJfZw:jUZ3rsXeuX3Fc5LE
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 11:06:52 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4FvEH75Gg39LX58GnuSKTQ:68jIFzcOVLVZZrMx7Vl2Ng
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - 4FvEH75Gg39LX58GnuSKTQ:68jIFzcOVLVZZrMx7Vl2Ng:UN0als5lSUdE3yms
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 11:06:53 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4FvEH75Gg39LX58GnuSKTQ:RYRhIDTjJStu2sz_S6Mlww
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4FvEH75Gg39LX58GnuSKTQ:RYRhIDTjJStu2sz_S6Mlww:OpJWlu2YMIyIg5br
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-10-10
        10:25:03","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","language":"en-US","timezone":null,"ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Wed, 10 Oct 2018 11:06:53 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4FvEH75Gg39LX58GnuSKTQ:7qST9XDXjh1NbuIJOBkP0g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4FvEH75Gg39LX58GnuSKTQ:7qST9XDXjh1NbuIJOBkP0g:aSygsXd7Wt8ax5Ku
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Wed, 10 Oct 2018 11:06:54 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Project for schedule
        testing"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4FvEH75Gg39LX58GnuSKTQ:7d-gHZgGGF-wh97RHtsxIw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4FvEH75Gg39LX58GnuSKTQ:7d-gHZgGGF-wh97RHtsxIw:Vef1vv28W1JEylT1
      X-Gdc-Request-Time:
      - '407'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/vwtriptgvyy9tpjpq88qg6urypxwikji"}'
  recorded_at: Wed, 10 Oct 2018 11:06:55 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/vwtriptgvyy9tpjpq88qg6urypxwikji
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4FvEH75Gg39LX58GnuSKTQ:b9oi3ipcEJsG0MVbQo95vQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/vwtriptgvyy9tpjpq88qg6urypxwikji/uploads/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/vwtriptgvyy9tpjpq88qg6urypxwikji/uploads/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/vwtriptgvyy9tpjpq88qg6urypxwikji/uploads/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 11:07:03 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - EWxi59UpOzMXVlmakkY77A:cYLz7hmWBkkpB1aV09iE1A
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '21'
      X-Gdc-Request:
      - EWxi59UpOzMXVlmakkY77A:cYLz7hmWBkkpB1aV09iE1A:mv5nNGNCk88IUaxH
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 11:07:05 GMT
recorded_with: VCR 4.0.0
