---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - lHOfySDVkBcoxZ5ptMB12w:91GzaPw_KZQ_wSoyqbF8Ag
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - lHOfySDVkBcoxZ5ptMB12w:91GzaPw_KZQ_wSoyqbF8Ag:PhudvC5jV8nne5mX
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/ldm?thumbnail=1","self":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t","clearCaches":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/clearCaches","invitations":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/invitations","users":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/uploads/","ldm":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/ldm","metadata":"/gdc/md/j7p0prlak20x1ic4tljanlb8nvyf1p7t","publicartifacts":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/publicartifacts","roles":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/roles","userRoles":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/dataload","connectors":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/connectors","execute":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/execute","config":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/config","projectFeatureFlags":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/projectFeatureFlags","schedules":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/schedules","templates":"/gdc/md/j7p0prlak20x1ic4tljanlb8nvyf1p7t/templates"},"meta":{"created":"2018-10-09
        18:08:43","summary":"No summary","updated":"2018-10-09 18:08:43","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 09 Oct 2018 16:08:43 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - lHOfySDVkBcoxZ5ptMB12w:V7vrNmaBExwJG0L41VGppQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - lHOfySDVkBcoxZ5ptMB12w:V7vrNmaBExwJG0L41VGppQ:uEtPBdXk8vMc0VQg
      X-Gdc-Request-Time:
      - '88'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/ldm?thumbnail=1","self":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t","clearCaches":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/clearCaches","invitations":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/invitations","users":"/gdc/projects/j7p0prlak20x1ic4tljanlb8nvyf1p7t/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/j7p0prlak20x1ic4t[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/1539101330/1539101330/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/uploads/1539101330/1539101330/ was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 16:08:51 GMT
- request:
    method: mkcol
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/1539101330/1539101330/
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/uploads/1539101330/1539101330/
      Content-Type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Collection /gdc/uploads/1539101330/1539101330/ has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 16:08:52 GMT
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/1539101330/1539101330/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/uploads/1539101330/1539101330/test-ci-data.csv
      Content-Type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/uploads/1539101330/1539101330/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 16:08:52 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/1539101330/1539101330/test-ci-data.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 09 Oct 2018 16:08:52 GMT
      Etag:
      - '"44-577cdf4329bf5"'
      Content-Type:
      - text/csv
    body:
      encoding: UTF-8
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
  recorded_at: Tue, 09 Oct 2018 16:08:53 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/v8bgqc7eows9aztrj22ug453eeluni6d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wM7icMXI6a9UL0Oaou9jjA:9GCKk-HmS50wvU7U9JDphA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wM7icMXI6a9UL0Oaou9jjA:9GCKk-HmS50wvU7U9JDphA:pF61xW6O0ThQTn3g
      X-Gdc-Request-Time:
      - '75'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/o6zp90plafouooopx2a3ram53krj5yoe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - uKNuSx7WvGoXuIMh5b1Xbg:LpKxY0TZzSleWY_XX-SCCQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - uKNuSx7WvGoXuIMh5b1Xbg:LpKxY0TZzSleWY_XX-SCCQ:5yBaz3uJ9lN87bUJ
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/zwp0yq4iot5nrr63vs4utuxdphnbtx43
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - SJ9pE75HFCduTIB2_OxTQA:qAga75W92Qgoaa7DPiqlJg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - SJ9pE75HFCduTIB2_OxTQA:qAga75W92Qgoaa7DPiqlJg:BCmqCAQwE89SAKyl
      X-Gdc-Request-Time:
      - '64'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: mkcol
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/testdir/
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/testdir/
      Content-Type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Collection /gdc/uploads/testdir/testdir/ has been created.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 07:39:09 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/wosytmzf9gckz7p54c7bhce694877667
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - MFYNtB93MAcxXcYWpcPHDg:Rcx6N6JU1chszW7zmyJMEA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - MFYNtB93MAcxXcYWpcPHDg:Rcx6N6JU1chszW7zmyJMEA:SNqgLwFiF5C60tp9
      X-Gdc-Request-Time:
      - '51'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":1Pb-ACPUXRowSYKS5CB4Eg:aWf2F68eCojN6je_F_0VCg"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - GoodData realm="GoodData API" cookie=GDCAuthSST location=/gdc/account/login
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - ":1Pb-ACPUXRowSYKS5CB4Eg:aWf2F68eCojN6je_F_0VCg:44FIqb4wc6JoJauV"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 24 Jan 2019 12:31:57 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":o4FtEv-UhDnBfXlYr_BUcA:DzkjI4NkBKa3nsZvhPyf7A"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":o4FtEv-UhDnBfXlYr_BUcA:DzkjI4NkBKa3nsZvhPyf7A:W4c0adfodB00Elxb"
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Thu, 24 Jan 2019 13:20:29 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":o4FtEv-UhDnBfXlYr_BUcA:FdlLHbTvV0Mla3tgWZDSwg"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - ":o4FtEv-UhDnBfXlYr_BUcA:FdlLHbTvV0Mla3tgWZDSwg:m7A9WXWsfOfBReed"
      X-Gdc-Request-Time:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 24 Jan 2019 13:20:30 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":o4FtEv-UhDnBfXlYr_BUcA:xiv5J95axnJWnpj80rcpPw"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":o4FtEv-UhDnBfXlYr_BUcA:xiv5J95axnJWnpj80rcpPw:vLCAC5bgsofoskLw"
      X-Gdc-Request-Time:
      - '11'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2018-12-03 11:09:12","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Thu, 24 Jan 2019 13:20:30 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":o4FtEv-UhDnBfXlYr_BUcA:RE4ax1J4q6OFppH39YRmqw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":o4FtEv-UhDnBfXlYr_BUcA:RE4ax1J4q6OFppH39YRmqw:EWEZgTwjjeAgbwMv"
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Thu, 24 Jan 2019 13:20:31 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Project for schedule
        testing"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":o4FtEv-UhDnBfXlYr_BUcA:TQOi0XKgPyralHFH6in8rg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":o4FtEv-UhDnBfXlYr_BUcA:TQOi0XKgPyralHFH6in8rg:hVM2PJFVjRMCRudN"
      X-Gdc-Request-Time:
      - '403'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/itt844cme7ncmws2ulgd9ydoqjskw6xx"}'
  recorded_at: Thu, 24 Jan 2019 13:20:32 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/itt844cme7ncmws2ulgd9ydoqjskw6xx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":o4FtEv-UhDnBfXlYr_BUcA:vr-FDeZ1PYyh49O3dj1CJA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.2 Final//EN\">\n<html>\n
        <head>\n  <title>Index of /gdc/uploads/testdir/testdir</title>\n </head>\n
        <body>\n<h1>Index of /gdc/uploads/testdir/testdir</h1>\n<pre>      <a href=\"?C=N;O=D\">Name</a>
        \                   <a href=\"?C=M;O=A\">Last modified</a>      <a href=\"?C=S;O=A\">Size</a>
        \ <a href=\"?C=D;O=A\">Description</a><hr>      <a href=\"/gdc/uploads/testdir/\">Parent
        Directory</a>                             -   \n      <a href=\"test-ci-data.csv\">test-ci-data.csv</a>
        \       2019-01-24 00:37   68   \n<hr></pre>\n</body></html>\n"
  recorded_at: Thu, 24 Jan 2019 13:20:41 GMT
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/testdir/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/csv
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Jan 2019 13:20:41 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":VIykKdQhZP_Dirz2xJd4Xg:YdePr8TNNK1Ju1LaSEy4UA"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '26'
      X-Gdc-Request:
      - ":VIykKdQhZP_Dirz2xJd4Xg:YdePr8TNNK1Ju1LaSEy4UA:FGoxpEVE8OALiGLl"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Jan 2019 13:20:45 GMT
recorded_with: VCR 4.0.0
