---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/yh33p0a991oa1wb87tj7m1m4af9s7qzs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - qwoMYWpLXt4vEkr1Yz__SQ:tSiqhTmpCHT0I7xp9Ut7Ig
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - qwoMYWpLXt4vEkr1Yz__SQ:tSiqhTmpCHT0I7xp9Ut7Ig:PIaggydUp1QNsK40
      X-Gdc-Request-Time:
      - '56'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/yh33p0a991oa1wb87tj7m1m4af9s7qzs/ldm?thumbnail=1","self":"/gdc/projects/yh33p0a991oa1wb87tj7m1m4af9s7qzs","clearCaches":"/gdc/projects/yh33p0a991oa1wb87tj7m1m4af9s7qzs/clearCaches","invitations":"/gdc/projects/yh33p0a991oa1wb87tj7m1m4af9s7qzs/invitations","users":"/gdc/projects/yh33p0a991oa1wb87tj7m1m4af9s7qzs/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/yh33p0a991oa1wb87tj7m1m4af9s7qzs/uploads/","ldm":"/gdc/projects/yh33p0a991oa1wb87tj7m1m4af9s7qzs/ldm","metadata":"/gdc/md/yh33p0a991oa1wb87tj7m1m4af9s7qzs","publicartifacts":"/gdc/projects/yh33p0a991oa1wb87tj7m1m4af9s7qzs/publicartifacts","roles":"/gdc/projects/yh33p0a991oa1wb87tj7m1m4af9s7qzs/roles","userRoles":"/gdc/projects/yh33p0a991oa1wb87tj7m1m4af9s7qzs/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/yh33p0a991oa1wb87tj7m1m4af9s7qzs/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/yh33p0a991oa1wb87tj7m1m4af9s7qzs/dataload","connectors":"/gdc/projects/yh33p0a991oa1wb87tj7m1m4af9s7qzs/connectors","execute":"/gdc/projects/yh33p0a991oa1wb87tj7m1m4af9s7qzs/execute","config":"/gdc/projects/yh33p0a991oa1wb87tj7m1m4af9s7qzs/config","projectFeatureFlags":"/gdc/projects/yh33p0a991oa1wb87tj7m1m4af9s7qzs/projectFeatureFlags","schedules":"/gdc/projects/yh33p0a991oa1wb87tj7m1m4af9s7qzs/schedules","templates":"/gdc/md/yh33p0a991oa1wb87tj7m1m4af9s7qzs/templates"},"meta":{"created":"2018-10-09
        18:07:43","summary":"No summary","updated":"2018-10-09 18:07:43","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 09 Oct 2018 16:07:44 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/yh33p0a991oa1wb87tj7m1m4af9s7qzs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - qwoMYWpLXt4vEkr1Yz__SQ:2oVYF1b7cL3A1R1U1WKbtQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - qwoMYWpLXt4vEkr1Yz__SQ:2oVYF1b7cL3A1R1U1WKbtQ:lyuCw5O3rsBCZw7w
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/yh33p0a991oa1wb87tj7m1m4af9s7qzs/ldm?thumbnail=1","self":"/gdc/projects/yh33p0a991oa1wb87tj7m1m4af9s7qzs","clearCaches":"/gdc/projects/yh33p0a991oa1wb87tj7m1m4af9s7qzs/clearCaches","invitations":"/gdc/projects/yh33p0a991oa1wb87tj7m1m4af9s7qzs/invitations","users":"/gdc/projects/yh33p0a991oa1wb87tj7m1m4af9s7qzs/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/yh33p0a991oa1wb87[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/s2tjh064xbb7r78c1p9bny1q55jlhoe9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NM_j0TSWAbur8B6DsfaAmw:PI4H-syFMHmNk7cq7gnUww
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NM_j0TSWAbur8B6DsfaAmw:PI4H-syFMHmNk7cq7gnUww:BP5nQQ2JTS6x5E1j
      X-Gdc-Request-Time:
      - '56'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/nyu0kf3ug14r87xw9ydrprpgoikma3pq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - SrpuRaD4ZiKUgqbY-LMc1Q:CQvYe3k2R0JQouiElPZLNQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - SrpuRaD4ZiKUgqbY-LMc1Q:CQvYe3k2R0JQouiElPZLNQ:6bGF9h8IYbVJjgLy
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: mkcol
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/1539106376/
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/uploads/1539106376/
      Content-Type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Collection /gdc/uploads/1539106376/ has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:32:57 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/b9iwkcanxyn0hyzjg7ko81om54xzslvf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LcJbSjrUawbcSTgFOJAujQ:1648U54tkVrbbi-0_fNKHA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LcJbSjrUawbcSTgFOJAujQ:1648U54tkVrbbi-0_fNKHA:bXaJnFTnUi0Ld17E
      X-Gdc-Request-Time:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.2 Final//EN\">\n<html>\n
        <head>\n  <title>Index of /gdc/uploads/testdir</title>\n </head>\n <body>\n<h1>Index
        of /gdc/uploads/testdir</h1>\n<pre>      <a href=\"?C=N;O=D\">Name</a>                    <a
        href=\"?C=M;O=A\">Last modified</a>      <a href=\"?C=S;O=A\">Size</a>  <a
        href=\"?C=D;O=A\">Description</a><hr>      <a href=\"/gdc/uploads/\">Parent
        Directory</a>                             -   \n      <a href=\"test-ci-data.csv\">test-ci-data.csv</a>
        \       2018-10-10 09:37   68   \n<hr></pre>\n</body></html>\n"
  recorded_at: Wed, 10 Oct 2018 07:37:56 GMT
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/csv
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 07:37:56 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/test-ci-data.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 10 Oct 2018 07:37:56 GMT
      Etag:
      - '"44-577daeed1d87d"'
      Content-Type:
      - text/csv
    body:
      encoding: UTF-8
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
  recorded_at: Wed, 10 Oct 2018 07:37:58 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ve2-IbCiZenCCDwOsh5QrQ:yw5-lIJTs6RMzDRzzOvR-g
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ve2-IbCiZenCCDwOsh5QrQ:yw5-lIJTs6RMzDRzzOvR-g:7o00ajVGBeGODrsY
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 11:05:21 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ve2-IbCiZenCCDwOsh5QrQ:2bpetF92ZxQggT6NYASD0w
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - ve2-IbCiZenCCDwOsh5QrQ:2bpetF92ZxQggT6NYASD0w:egeBVXj5ZbI9Dtob
      X-Gdc-Request-Time:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 11:05:21 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ve2-IbCiZenCCDwOsh5QrQ:Cq5-hzEk-YwZO8KQ_e_HAA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ve2-IbCiZenCCDwOsh5QrQ:Cq5-hzEk-YwZO8KQ_e_HAA:F6jhtPCM7bO6PJA4
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-10-10
        10:25:03","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","language":"en-US","timezone":null,"ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Wed, 10 Oct 2018 11:05:22 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ve2-IbCiZenCCDwOsh5QrQ:7fh857xLNa_Lt7VKnk1jsw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ve2-IbCiZenCCDwOsh5QrQ:7fh857xLNa_Lt7VKnk1jsw:ARkXpOT6h53PPOIa
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Wed, 10 Oct 2018 11:05:22 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Project for schedule
        testing"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ve2-IbCiZenCCDwOsh5QrQ:5Io4lmHYJofgL2TB-KusPA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ve2-IbCiZenCCDwOsh5QrQ:5Io4lmHYJofgL2TB-KusPA:0jHzNY4wl5WdwyN2
      X-Gdc-Request-Time:
      - '463'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/ot0ltvt4x4xr9o536xjfqq2wdwgvqbqz"}'
  recorded_at: Wed, 10 Oct 2018 11:05:23 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ot0ltvt4x4xr9o536xjfqq2wdwgvqbqz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ve2-IbCiZenCCDwOsh5QrQ:LHydT4RO9UEyamlc_Wg6_g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - TCroGC7yEvSeTrduxTm-Iw:uG1BcpkPmMh2VICJBWmpDg
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '29'
      X-Gdc-Request:
      - TCroGC7yEvSeTrduxTm-Iw:uG1BcpkPmMh2VICJBWmpDg:05py21KIGfLJ9vvt
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 11:05:35 GMT
recorded_with: VCR 4.0.0
