---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - L6C6gWwav58nrOql9f3vWg:Ft5tCNdnzrOdSSVOGIFMJA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - L6C6gWwav58nrOql9f3vWg:Ft5tCNdnzrOdSSVOGIFMJA:5UnWlT9Ea0lVTagU
      X-Gdc-Request-Time:
      - '55'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/ldm?thumbnail=1","self":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s","clearCaches":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/clearCaches","invitations":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/invitations","users":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/uploads/","ldm":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/ldm","metadata":"/gdc/md/k3mds3mido23qiv9asxxvdi437sxd42s","publicartifacts":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/publicartifacts","roles":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/roles","userRoles":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/dataload","connectors":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/connectors","execute":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/execute","config":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/config","projectFeatureFlags":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/projectFeatureFlags","schedules":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/schedules","templates":"/gdc/md/k3mds3mido23qiv9asxxvdi437sxd42s/templates"},"meta":{"created":"2018-10-09
        18:07:15","summary":"No summary","updated":"2018-10-09 18:07:15","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 09 Oct 2018 16:07:15 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - L6C6gWwav58nrOql9f3vWg:OibabHkLu17-llcCCB1URQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - L6C6gWwav58nrOql9f3vWg:OibabHkLu17-llcCCB1URQ:6d8JiDUvIfufroQT
      X-Gdc-Request-Time:
      - '69'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/ldm?thumbnail=1","self":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s","clearCaches":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/clearCaches","invitations":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/invitations","users":"/gdc/projects/k3mds3mido23qiv9asxxvdi437sxd42s/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/k3mds3mido23qiv9a[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/b0jqu3t5ky86mr9jqyuydifz395tzlto
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - I9JoFtVKzN8mTWwDVLkWNw:ADVM6jA_dGWeDXMa6le97w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - I9JoFtVKzN8mTWwDVLkWNw:ADVM6jA_dGWeDXMa6le97w:EzFRdSkoUNpjxv0n
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rtlvek05pmdm6nryi2hvz7at9dp5hxzf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jJ9xMmFF3x9eT2SY2shhJA:h7lNnQJ-hhieTWKjkU2bAA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - jJ9xMmFF3x9eT2SY2shhJA:h7lNnQJ-hhieTWKjkU2bAA:QjK4KX1mxplE4Grl
      X-Gdc-Request-Time:
      - '67'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: mkcol
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/1539106346/
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/uploads/1539106346/
      Content-Type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Collection /gdc/uploads/1539106346/ has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:32:28 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/jwasnuammln0eb894dk5an7ecfiz4we5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - VepfObdNKcGCSookTkcHGg:av8B45UHiZ3L4U7qvAHYQw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - VepfObdNKcGCSookTkcHGg:av8B45UHiZ3L4U7qvAHYQw:8gwZIs3ihfQLyg81
      X-Gdc-Request-Time:
      - '57'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: mkcol
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/
      Content-Type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Collection /gdc/uploads/testdir/ has been created.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 07:37:23 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uxjmhai88spubw7azqq0d6df1nsnzo65
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 3rLHRpTRTgVTttUK_UldDw:omXcedbCDZscdEVq1c_wVA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":y0M2OnYH1qR_aeFmeSsXOA:tiuMO2G_-7GauEK4R4_jvg"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - GoodData realm="GoodData API" cookie=GDCAuthSST location=/gdc/account/login
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - ":y0M2OnYH1qR_aeFmeSsXOA:tiuMO2G_-7GauEK4R4_jvg:sFd6GDiU47mvDnPF"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 24 Jan 2019 12:31:36 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xvcWZv_C0dTU0V1G57eZow:GIZmG_cFzmrnecG9kCm_Hw"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - ":xvcWZv_C0dTU0V1G57eZow:GIZmG_cFzmrnecG9kCm_Hw:UaslLXOLdUezvHma"
      X-Gdc-Request-Time:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 24 Jan 2019 13:18:49 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/fotb552s7q3bt390nqwhz1mwc5ol03me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xvcWZv_C0dTU0V1G57eZow:nUX_ijeik4wFloButWlnoA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xvcWZv_C0dTU0V1G57eZow:nUX_ijeik4wFloButWlnoA:nkW3SR2ShvwFZFJ6"
      X-Gdc-Request-Time:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADING"},"links[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":gB9IU4W9zMdw4XxVZs9Vuw:xSg_-GJqRUKy-Elyt9KuIg"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request-Time:
      - '20'
      X-Gdc-Request:
      - ":gB9IU4W9zMdw4XxVZs9Vuw:xSg_-GJqRUKy-Elyt9KuIg:1e65EAOvwkuzXSvT"
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 06:09:03 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/t2aul213e6zo6sey7t68dq4rvum9vgpb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":gB9IU4W9zMdw4XxVZs9Vuw:6NWa8qYzeho02Maw97KpwA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '55'
      X-Gdc-Request:
      - ":gB9IU4W9zMdw4XxVZs9Vuw:6NWa8qYzeho02Maw97KpwA:RxnAO5oc9RH9ykyd"
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADING"},"links":{"ldm_thumbnail":"/gdc/projects/t2aul213e6zo6sey7t68dq4rvum9vgpb/ldm?thumbnail=1","self":"/gdc/projects/t2aul213e6zo6sey7t68dq4rvum9vgpb","clearCaches":"/gdc/projects/t2aul213e6zo6sey7t68dq4rvum9vgpb/clearCaches","invitations":"/gdc/projects/t2aul213e6zo6sey7t68dq4rvum9vgpb/invitations","users":"/gdc/projects/t2aul213e6zo6sey7t68dq4rvum9vgpb/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/t2aul213e6zo6sey7t68dq4rvum9vgpb/checkXaeCompatibility","uploads":"/gdc/projects/t2aul213e6zo6sey7t68dq4rvum9vgpb/uploads/","ldm":"/gdc/projects/t2aul213e6zo6sey7t68dq4rvum9vgpb/ldm","metadata":"/gdc/md/t2aul213e6zo6sey7t68dq4rvum9vgpb","publicartifacts":"/gdc/projects/t2aul213e6zo6sey7t68dq4rvum9vgpb/publicartifacts","roles":"/gdc/projects/t2aul213e6zo6sey7t68dq4rvum9vgpb/roles","userRoles":"/gdc/projects/t2aul213e6zo6sey7t68dq4rvum9vgpb/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/t2aul213e6zo6sey7t68dq4rvum9vgpb/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/t2aul213e6zo6sey7t68dq4rvum9vgpb/dataload","connectors":"/gdc/projects/t2aul213e6zo6sey7t68dq4rvum9vgpb/connectors","execute":"/gdc/projects/t2aul213e6zo6sey7t68dq4rvum9vgpb/execute","config":"/gdc/projects/t2aul213e6zo6sey7t68dq4rvum9vgpb/config","projectFeatureFlags":"/gdc/projects/t2aul213e6zo6sey7t68dq4rvum9vgpb/projectFeatureFlags","schedules":"/gdc/projects/t2aul213e6zo6sey7t68dq4rvum9vgpb/schedules","templates":"/gdc/md/t2aul213e6zo6sey7t68dq4rvum9vgpb/templates"},"meta":{"created":"2020-01-15
        07:09:06","summary":"No summary","updated":"2020-01-15 07:09:07","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 15 Jan 2020 06:09:07 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.2 Final//EN\">\n<html>\n\
        \ <head>\n  <title>Index of /gdc/uploads/testdir</title>\n </head>\n <body>\n\
        <h1>Index of /gdc/uploads/testdir</h1>\n<pre>      <a href=\"?C=N;O=D\">Name</a>\
        \                    <a href=\"?C=M;O=A\">Last modified</a>      <a href=\"\
        ?C=S;O=A\">Size</a>  <a href=\"?C=D;O=A\">Description</a><hr>      <a href=\"\
        /gdc/uploads/\">Parent Directory</a>                             -   \n  \
        \    <a href=\"./abc-16:55:29+ha%23he.csv\">abc-16:55:29+ha#he.csv</a>  2020-01-15\
        \ 04:38   68   \n      <a href=\"test-ci-data.csv\">test-ci-data.csv</a> \
        \       2020-01-15 04:38   68   \n      <a href=\"testdir/\">testdir/</a>\
        \                2020-01-15 04:35    -   \n<hr></pre>\n</body></html>\n"
  recorded_at: Wed, 15 Jan 2020 06:09:16 GMT
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/csv
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 15 Jan 2020 06:09:17 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/uploads/testdir/test-ci-data.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 15 Jan 2020 06:09:17 GMT
      Etag:
      - '"44-59c278c728d07"'
      Content-Type:
      - text/csv
    body:
      encoding: UTF-8
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
  recorded_at: Wed, 15 Jan 2020 06:09:19 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":n44a_Gl9MsXSAoFYUR7vgg:tSjaQCxMqsutgioY3T2vaA"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '54'
      X-Gdc-Request:
      - ":n44a_Gl9MsXSAoFYUR7vgg:tSjaQCxMqsutgioY3T2vaA:jj23Q7kZlUeGLv0z"
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 07:03:29 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":n44a_Gl9MsXSAoFYUR7vgg:4V02ExYckQO1zuxFkLRymg"
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '10'
      X-Gdc-Request:
      - ":n44a_Gl9MsXSAoFYUR7vgg:4V02ExYckQO1zuxFkLRymg:e6NNS1UdvMA7mStG"
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2019-03-15 10:00:00","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Wed, 15 Jan 2020 07:03:31 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":n44a_Gl9MsXSAoFYUR7vgg:QiyFegNE7XDF45ZZ9B53Ww"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '33'
      X-Gdc-Request:
      - ":n44a_Gl9MsXSAoFYUR7vgg:QiyFegNE7XDF45ZZ9B53Ww:Ozni7uSTht4ZizWm"
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Wed, 15 Jan 2020 07:03:32 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Project for schedule
        testing"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":n44a_Gl9MsXSAoFYUR7vgg:TmA6xs6-Yyl6fPvLU0EFyA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '414'
      X-Gdc-Request:
      - ":n44a_Gl9MsXSAoFYUR7vgg:TmA6xs6-Yyl6fPvLU0EFyA:3MCtgrjcWQrtBalB"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/ry7bjamvywkkkqkj9vha61aws6xoh3df"}'
  recorded_at: Wed, 15 Jan 2020 07:03:33 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ry7bjamvywkkkqkj9vha61aws6xoh3df
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":n44a_Gl9MsXSAoFYUR7vgg:SsADBrYtI4XRYFV95PvfUg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-H[...]
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":9uVm8wmfIaAqWUZquukoPg:OM0I84aq8z_1jTS1lFoMjQ"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Tries:
      - '0'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '18'
      X-Gdc-Request:
      - ":9uVm8wmfIaAqWUZquukoPg:OM0I84aq8z_1jTS1lFoMjQ:I5GuMZGI5XBLee2P"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 15 Jan 2020 07:03:48 GMT
recorded_with: VCR 5.0.0
