---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/objects/query?category=prompt&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:42onO8ybuEtGVAjRVLCo9w"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '27'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:42onO8ybuEtGVAjRVLCo9w:MdmY6sH44wmNNpOH"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Thu, 07 May 2020 13:48:16 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/stp6jv2id7msbitjkk40jfm7720dw1gf/objects/query?category=prompt&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:C-LejMXEQd6OYWV0gYfs6Q"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:C-LejMXEQd6OYWV0gYfs6Q:xWZXjtMhqnlclpb8"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Thu, 07 May 2020 13:48:17 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/x6igu80ldbvosmjedfixj9m7sio1q3b3/objects/query?category=prompt&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:T_9G2i4_y4I7OkcKPt_FCA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:T_9G2i4_y4I7OkcKPt_FCA:XQDoRMxx6sH86j5s"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Fri, 02 Apr 2021 06:45:55 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z4nxso83miqohzqdmasaqvn3rt694apf/objects/query?category=prompt&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:Ff64X512AeGJbot_RtKlSg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:Ff64X512AeGJbot_RtKlSg:JuY5tLE9hbZpBZ5L"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Fri, 02 Apr 2021 06:45:56 GMT
recorded_with: VCR 5.0.0
