---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=v8pvoj7ccszm2o1tmsv59xuogm0mbkga
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:Otdob3lH-U4Aph8rW_QT_g"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '22'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:Otdob3lH-U4Aph8rW_QT_g:7l8P9Iquy5mvCef3"
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bQHcagbYR-7WY8k2FaDLpTQ","description":"My Test Description","domain":null,"project":"/gdc/projects/v8pvoj7ccszm2o1tmsv59xuogm0mbkga"},"meta":{"created":"2020-05-07
        15:46:02","updated":"2020-05-07 15:46:02"},"links":{"self":"/gdc/userGroups/bQHcagbYR-7WY8k2FaDLpTQ","members":"/gdc/userGroups/bQHcagbYR-7WY8k2FaDLpTQ/members","modifyMembers":"/gdc/userGroups/bQHcagbYR-7WY8k2FaDLpTQ/modifyMembers"}}}]}}'
  recorded_at: Thu, 07 May 2020 13:46:40 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=stp6jv2id7msbitjkk40jfm7720dw1gf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:zuOoYxFnJq92Aqdl40P-XA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '22'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:zuOoYxFnJq92Aqdl40P-XA:7GKXAEpVa3IBkdMY"
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"b6XuJC5p-PoeAHtna2u6XJA","description":"My Test Description","domain":null,"project":"/gdc/projects/stp6jv2id7msbitjkk40jfm7720dw1gf"},"meta":{"created":"2020-05-07
        15:46:15","updated":"2020-05-07 15:46:15"},"links":{"self":"/gdc/userGroups/b6XuJC5p-PoeAHtna2u6XJA","members":"/gdc/userGroups/b6XuJC5p-PoeAHtna2u6XJA/members","modifyMembers":"/gdc/userGroups/b6XuJC5p-PoeAHtna2u6XJA/modifyMembers"}}}]}}'
  recorded_at: Thu, 07 May 2020 13:46:41 GMT
recorded_with: VCR 5.1.0
