---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:XlTe0egmGuQzJ41RgBMoyQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '30'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:XlTe0egmGuQzJ41RgBMoyQ:wFDJej5xpMouRAOs"
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/119"}]}'
  recorded_at: Thu, 07 May 2020 13:47:04 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/119
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:h49gCEo00mKEw7-cHsowDg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '47'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:h49gCEo00mKEw7-cHsowDg:3QPy598LrVkzZhyY"
    body:
      encoding: ASCII-8BIT
      string: '{"dataSet":{"content":{"mode":"","facts":["/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/316","/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/317","/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/318","/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/319"],"dataLoadingColumns":["/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/76","/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/78","/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/86","/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/88","/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/29","/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/31","/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/33","/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/35","/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/37","/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/39"[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/316
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:8msd3Fxuhg8UmbBF7n86Vg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '36'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:8msd3Fxuhg8UmbBF7n86Vg:AhfFxNc3Nqr9zzos"
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/315"],"expr":[{"type":"col","data":"/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/42"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/316","tags":"fact","created":"2020-05-07
        15:40:49","identifier":"fact.csv_policies.customer_lifetime_value.renamed","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2020-05-07 15:43:59","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 07 May 2020 13:47:07 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/stp6jv2id7msbitjkk40jfm7720dw1gf/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:jb56cs9tH0yty28_ee5TeA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '31'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:jb56cs9tH0yty28_ee5TeA:2wnR8L788uanNSUH"
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/stp6jv2id7msbitjkk40jfm7720dw1gf/obj/119"}]}'
  recorded_at: Thu, 07 May 2020 13:47:08 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/stp6jv2id7msbitjkk40jfm7720dw1gf/obj/119
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:bi_Fi0h_rNtbU28xSHFh4A"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/x6igu80ldbvosmjedfixj9m7sio1q3b3/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:5gqYNrBJOGYZClRE-5KLEg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '15'
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:5gqYNrBJOGYZClRE-5KLEg:L7rmIEFt7308kd4Z"
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/x6igu80ldbvosmjedfixj9m7sio1q3b3/obj/119"}]}'
  recorded_at: Fri, 02 Apr 2021 06:44:35 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/x6igu80ldbvosmjedfixj9m7sio1q3b3/obj/119
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:k-CWmVgHB-ZueyQSDUQTmQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-T[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z4nxso83miqohzqdmasaqvn3rt694apf/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:XhR2QkOtB3pv1QDb6WmW3w"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '19'
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:XhR2QkOtB3pv1QDb6WmW3w:d8q3W6TuA1blI3sN"
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/z4nxso83miqohzqdmasaqvn3rt694apf/obj/119"}]}'
  recorded_at: Fri, 02 Apr 2021 06:44:39 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z4nxso83miqohzqdmasaqvn3rt694apf/obj/119
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:kd17cE-HDicKgDUy45y3jQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-T[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z4nxso83miqohzqdmasaqvn3rt694apf/obj/315
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:7EefLB9ek0NYxFyfYrovdw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '21'
      X-Gdc-Request:
      - ":evIkI5mR2md6VWHPY_lTYw:7EefLB9ek0NYxFyfYrovdw:3pETj8FTDQWcA0Wb"
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/z4nxso83miqohzqdmasaqvn3rt694apf/obj/314"],"expr":[{"type":"col","data":"/gdc/md/z4nxso83miqohzqdmasaqvn3rt694apf/obj/42"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/z4nxso83miqohzqdmasaqvn3rt694apf/obj/315","tags":"fact","created":"2021-04-02
        08:38:17","identifier":"fact.csv_policies.customer_lifetime_value.renamed","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2021-04-02 08:41:30","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Fri, 02 Apr 2021 06:44:42 GMT
recorded_with: VCR 5.0.0
