---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:zMcM-fKFnjvNsejusS9KAQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '42'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:zMcM-fKFnjvNsejusS9KAQ:1qra4eWkAtWfyGNd"
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''v8pvoj7ccszm2o1tmsv59xuogm0mbkga''","category":"project","instance":"v8pvoj7ccszm2o1tmsv59xuogm0mbkga","links":[{"link":"/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","category":"drillcrosspaths","title":"drillcrosspaths"},{"link":"/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/etl","summary":"Resources
        for data ETL.","category":"etl","title":"etl"}[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:IVwqEWYelA-XVl0XmkIFbA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '390'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:IVwqEWYelA-XVl0XmkIFbA:tjqjZp9MYRX77gUM"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":32,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/140"}],"displayForms":[{"content":{"formOf":"/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/224","expression":"[/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/141]","default":1},"links":{"elements":"/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/242/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/242","tags":"","created":"2010-08-02
        08:13:42","identifier":"effective_to_date.aag81lMifn6q","deprecated":"0","summary":"DisplayForm
        Year.","isProduction":1,"title":"Year (Effective To Date)","category":"attributeDisplayForm","updated":"2020-05-07
        15:40:47","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/274","sort":"pk","dimension":"/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/121","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/188"},{"multivalue":false,"type":"col","data":"/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/196"},{"multivalue":false,"type":"col","data":"/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/211"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/v8pvoj7ccszm2o1tmsv59xuogm0mbkga/obj/224","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"effective_to_date.year","deprecat[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/stp6jv2id7msbitjkk40jfm7720dw1gf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:EHCbTx46oFFTMX0cEktPdg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/stp6jv2id7msbitjkk40jfm7720dw1gf/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:vEEPh_NiXrFOjfqn0rcDiA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
   [...]
