---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:qmCxadVflOV0N7Z7NAINMA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:qmCxadVflOV0N7Z7NAINMA:czMJY2Yq9AU6PWqJ"
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/roles/2"],"phonenumber":"","status":"ENABLED","lastname":"1","login":"rubydev+admin@gooddata.com"},"links":{"roles":"/gdc/projects/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/users/5ad80b895edcc438e5a4418e222733fa/roles","permissions":"/gdc/projects/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/users/5ad80b895edcc438e5a4418e222733fa/permissions","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","projectRelUri":"/gdc/projects/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/users/5ad80b895edcc438e5a4418e222733fa"},"meta":{"created":"2017-02-10
        12:18:01","updated":"2019-03-15 10:00:00","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"the
        1","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}'
  recorded_at: Thu, 18 Apr 2019 14:02:00 GMT
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/zll541cvcwzy1k5vrkgospgyvi4bgdvn/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":lzDPYM8slG6VArlLa39eVg:qKpC1tl9kuK05zjJbL_-gQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '35'
      X-Gdc-Request:
      - ":lzDPYM8slG6VArlLa39eVg:qKpC1tl9kuK05zjJbL_-gQ:VZ7sfpHiSXBIaoUN"
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"Ruby","userRoles":["/gdc/projects/zll541cvcwzy1k5vrkgospgyvi4bgdvn/roles/2"],"phonenumber":"","status":"ENABLED","lastname":"Oh","login":"rubydev+admin@gooddata.com"},"links":{"roles":"/gdc/projects/zll541cvcwzy1k5vrkgospgyvi4bgdvn/users/a4c644d7b42b65c34e5a0f46809f7164/roles","permissions":"/gdc/projects/zll541cvcwzy1k5vrkgospgyvi4bgdvn/users/a4c644d7b42b65c34e5a0f46809f7164/permissions","self":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","projects":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164/projects","projectRelUri":"/gdc/projects/zll541cvcwzy1k5vrkgospgyvi4bgdvn/users/a4c644d7b42b65c34e5a0f46809f7164"},"meta":{"created":"2017-02-10
        12:16:01","updated":"2019-03-22 12:17:06","author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","title":"Ruby
        Oh","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}]}'
  recorded_at: Tue, 14 Jan 2020 07:25:46 GMT
[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/pjgwueshacis9n1f0uwmc4oqufek0lty/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":YLaC2DmAer5vP0lsxLym0g:RdtU0rDPfmMRFwy2Cnp-2g"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    h[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/jgka8uojpnb0ofe4yxwya0mfm8cno3g0/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":2wedXgL3GW4vHyak4Et1MA:QsPJbZI4Aw8DlUduWfwHIA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    [...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":rdwPwqw9TPMJaSAGLH2tLA:KsagJHB_VIZRxdYxmVoZQA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    [...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/m6j94r8h9s0d8gma8gk5tcwbohebc5mt/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7qH3nI0ngNiwX1cO99I8QA:kHLP_EszKjosczWNWN7SZA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    [...]
[...]
