---
http_interactions:
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/600499e6386d7541e4b35fdd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:L6agdpykk_WbATdqmkW-KQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources"
      X-Gdc-Request-Time:
      - '36'
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:L6agdpykk_WbATdqmkW-KQ:aLrPUWGVzRp69ToU"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 17 Jan 2021 20:11:19 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources
    body:
      encoding: UTF-8
      string: '{"dataSource":{"name":"SnowflakeDS","connectionInfo":{"snowflake":{"url":"jdbc:snowflake://test","authentication":{"basic":{"userName":"test","password":"<PASSWORD>"}},"database":"database_test","schema":"schema_test","warehouse":"warehouse_test"}},"alias":"uS2moamcejpE1d_L7af2PA","prefix":"prefix_"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:E0ZLRC44k-eLL5EyS4d6rA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources/6004f6d7386d7541e4b3600f"
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:E0ZLRC44k-eLL5EyS4d6rA:PIHEFtVw43ojjcZm"
    body:
      encoding: ASCII-8BIT
      string: '{"dataSource":{"id":"6004f6d7386d7541e4b3600f","owner":"5ad80b895edcc438e5a4418e222733fa","name":"SnowflakeDS","prefix":"prefix_","alias":"uS2moamcejpE1d_L7af2PA","lastModified":"2021-01-18T02:47:51.718Z","connectionInfo":{"snowflake":{"url":"jdbc:snowflake://test","authentication":{"basic":{"userName":"test","password":""}},"database":"database_test","schema":"schema_test","warehouse":"warehouse_test"}},"links":{"parent":"/gdc/dataload/dataSources","self":"/gdc/dataload/dataSources/6004f6d7386d7541e4b3600f","buildModelMapping":"/gdc/dataload/dataSources/6004f6d7386d7541e4b3600f/buildModelMapping","dataMapping":"/gdc/dataload/dataSources/6004f6d7386d7541e4b3600f/dataMapping","generateModel":"/gdc/dataload/dataSources/6004f6d7386d7541e4b3600f/generateModel","generateOutputStage":"/gdc/dataload/dataSources/6004f6d7386d7541e4b3600f/generateOutputStage","validateConnection":"/gdc/dataload/dataSources/6004f6d7386d7541e4b3600f/validateConnection"}}}'
  recorded_at: Mon, 18 Jan 2021 02:47:51 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/6004f6d7386d7541e4b3600f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:MQ5yR-Xmm-icLsCx_wQIyA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources"
      X-Gdc-Request-Time:
      - '31'
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:MQ5yR-Xmm-icLsCx_wQIyA:TMZCCEJ0XPIv0Cgq"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 18 Jan 2021 02:47:52 GMT
recorded_with: VCR 5.0.0
