---
http_interactions:
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/600499f33578a141e440aac2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:Zc0Fu3lwidqG5a8Lko2n5g"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources"
      X-Gdc-Request-Time:
      - '28'
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:Zc0Fu3lwidqG5a8Lko2n5g:TiyUiBAFaOgivlxD"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 17 Jan 2021 20:11:35 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources
    body:
      encoding: UTF-8
      string: '{"dataSource":{"name":"SnowflakeDS","connectionInfo":{"snowflake":{"url":"jdbc:snowflake://test","authentication":{"basic":{"userName":"test","password":"<PASSWORD>"}},"database":"database_test","schema":"schema_test","warehouse":"warehouse_test"}},"alias":"GcyCjRA8Jx0JkmXe3_qsAw","prefix":"prefix_"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:HeQY82Sr0z7ASCjjwG8E6A"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources/6004f6e3386d7541e4b36012"
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '24'
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:HeQY82Sr0z7ASCjjwG8E6A:2tGm9x2bUo0Ce91X"
    body:
      encoding: ASCII-8BIT
      string: '{"dataSource":{"id":"6004f6e3386d7541e4b36012","owner":"5ad80b895edcc438e5a4418e222733fa","name":"SnowflakeDS","prefix":"prefix_","alias":"GcyCjRA8Jx0JkmXe3_qsAw","lastModified":"2021-01-18T02:48:03.606Z","connectionInfo":{"snowflake":{"url":"jdbc:snowflake://test","authentication":{"basic":{"userName":"test","password":""}},"database":"database_test","schema":"schema_test","warehouse":"warehouse_test"}},"links":{"parent":"/gdc/dataload/dataSources","self":"/gdc/dataload/dataSources/6004f6e3386d7541e4b36012","buildModelMapping":"/gdc/dataload/dataSources/6004f6e3386d7541e4b36012/buildModelMapping","dataMapping":"/gdc/dataload/dataSources/6004f6e3386d7541e4b36012/dataMapping","generateModel":"/gdc/dataload/dataSources/6004f6e3386d7541e4b36012/generateModel","generateOutputStage":"/gdc/dataload/dataSources/6004f6e3386d7541e4b36012/generateOutputStage","validateConnection":"/gdc/dataload/dataSources/6004f6e3386d7541e4b36012/validateConnection"}}}'
  recorded_at: Mon, 18 Jan 2021 02:48:03 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:cBtiG-L01TcmZC3LV-c78g"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '55'
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:cBtiG-L01TcmZC3LV-c78g:J4rVg2kzDDcE85I0"
    body:
      encoding: ASCII-8BIT
      string: '{"dataSources":{"items":[{"dataSource":{"id":"5fa11d642176865923461529","owner":"5ad80b895edcc438e5a4418e222733fa","name":"0Generic_Phong_afterfix","alias":"Generic_Phong_afterfix","lastModified":"2020-11-03T09:09:21.259Z","connectionInfo":{"generic":{"params":{"CLIENT_GDC_HOSTNAME":"staging2-lcm-prod.intgdc.com","organization":"staging2-lcm-prod"},"secureParams":{}}},"links":{"parent":"/gdc/dataload/dataSources","self":"/gdc/dataload/dataSources/5fa11d642176865923461529"}}},{"dataSource":{"id":"5fa1154b2176865923461528","owner":"5ad80b895edcc438e5a4418e222733fa","name":"<h1
        style=\"color:red\">This is dataSource</h1>2bbae","prefix":"PRE_","alias":"5fa1154b2176865923461528","lastModified":"2020-11-03T08:31:08.010Z","connectionInfo":{"snowflake":{"url":"jdbc:snowflake://gooddata.snowflakecomputing.com","authentication":{"basic":{"userName":"autoqa[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/6004f6e3386d7541e4b36012
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:pq1OOYeLhEVZEmh0lus5aQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources"
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:pq1OOYeLhEVZEmh0lus5aQ:04QAkLKUUNkJ4vmo"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 18 Jan 2021 02:48:05 GMT
recorded_with: VCR 5.0.0
