---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/600499f0386d7541e4b35fdf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:UaEOu_vz9azd5PexXFMv1g"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '14'
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:UaEOu_vz9azd5PexXFMv1g:kvZEVLjTHm7gTExw"
    body:
      encoding: ASCII-8BIT
      string: '{"dataSource":{"id":"600499f0386d7541e4b35fdf","owner":"5ad80b895edcc438e5a4418e222733fa","name":"SnowflakeDS","prefix":"prefix_","alias":"BPMe9EA-TJ9sftXC__xpmA","lastModified":"2021-01-17T20:11:28.501Z","connectionInfo":{"snowflake":{"url":"jdbc:snowflake://test","authentication":{"basic":{"userName":"test","password":""}},"database":"database_test","schema":"schema_test","warehouse":"warehouse_test"}},"links":{"parent":"/gdc/dataload/dataSources","self":"/gdc/dataload/dataSources/600499f0386d7541e4b35fdf","buildModelMapping":"/gdc/dataload/dataSources/600499f0386d7541e4b35fdf/buildModelMapping","dataMapping":"/gdc/dataload/dataSources/600499f0386d7541e4b35fdf/dataMapping","generateModel":"/gdc/dataload/dataSources/600499f0386d7541e4b35fdf/generateModel","generateOutputStage":"/gdc/dataload/dataSources/600499f0386d7541e4b35fdf/generateOutputStage","validateConnection":"/gdc/dataload/dataSources/600499f0386d7541e4b35fdf/validateConnection"}}}'
  recorded_at: Sun, 17 Jan 2021 20:11:29 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/600499f0386d7541e4b35fdf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:iuD74NHW1ef9BJzdbSJKyg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources"
      X-Gdc-Request-Time:
      - '33'
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:iuD74NHW1ef9BJzdbSJKyg:NVEdfXoi0NTUXPQW"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 17 Jan 2021 20:11:30 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources
    body:
      encoding: UTF-8
      string: '{"dataSource":{"name":"SnowflakeDS","connectionInfo":{"snowflake":{"url":"jdbc:snowflake://test","authentication":{"basic":{"userName":"test","password":"<PASSWORD>"}},"database":"database_test","schema":"schema_test","warehouse":"warehouse_test"}},"alias":"-57-gqfEED3D-YlraqMeQQ","prefix":"prefix_"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:JrL-jjeeosO9OjPCPa1Mdw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSourc[...]
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/6004f6e0386d7541e4b36011
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:0MfktlZQYJ786kkwxb1Gmw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources"
      X-Gdc-Request-Time:
      - '26'
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:0MfktlZQYJ786kkwxb1Gmw:VcPNuztjHx4cNhpH"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 18 Jan 2021 02:48:02 GMT
recorded_with: VCR 5.0.0
