---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/data-product-0167a1e3-63a6-4451-a532-fec65c71df62
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - UuS53SoxUXbcCtKtQJ8ohw:myl8hAn6GcXjAu-PhzSC4w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - UuS53SoxUXbcCtKtQJ8ohw:myl8hAn6GcXjAu-PhzSC4w:ObxP00uTw9iCjd8y
      X-Gdc-Request-Time:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '{"dataProduct":{"id":"data-product-0167a1e3-63a6-4451-a532-fec65c71df62","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-0167a1e3-63a6-4451-a532-fec65c71df62","domain":"/gdc/domains/staging2-lcm-prod","segments":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-0167a1e3-63a6-4451-a532-fec65c71df62/segments","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-0167a1e3-63a6-4451-a532-fec65c71df62/clients"}}}'
  recorded_at: Mon, 04 Jun 2018 09:14:27 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/data-product-0167a1e3-63a6-4451-a532-fec65c71df62/segments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - UuS53SoxUXbcCtKtQJ8ohw:iXUFng7faKmz7GDAhriGCQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - UuS53SoxUXbcCtKtQJ8ohw:iXUFng7faKmz7GDAhriGCQ:rLJWwYw8Ocboy2NS
      X-Gdc-Request-Time:
      - '13'
    body:
      encoding: ASCII-8BIT
      string: '{"segments":{"items":[]}}'
  recorded_at: Mon, 04 Jun 2018 09:14:28 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/data-product-0167a1e3-63a6-4451-a532-fec65c71df62
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - UuS53SoxUXbcCtKtQJ8ohw:LB7lskjJ2NghnlmvBnYFTg
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '15'
      X-Gdc-Request:
      - UuS53SoxUXbcCtKtQJ8ohw:LB7lskjJ2NghnlmvBnYFTg:hLoSeK9xyLaeLabe
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 04 Jun 2018 09:14:28 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts
    body:
      encoding: UTF-8
      string: '{"dataProduct":{"id":"data-product-17541c24-2cb0-41bc-ada8-46fe90a6b7de"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - k2R7ZwDIX1py3p0_1o-l7w:QVQrHJC6MeJHSeJrq4StWg
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts/data-product-17541c24-2cb0-41bc-ada8-46fe90a6b7de"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - k2R7ZwDIX1py3p0_1o-l7w:QVQrHJC6MeJHSeJrq4StWg:NrQQH9Q2CSftndqk
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"dataProduct":{"id":"data-product-17541c24-2cb0-41bc-ada8-46fe90a6b7de","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-17541c24-2cb0-41bc-ada8-46fe90a6b7de","domain":"/gdc/domains/staging2-lcm-prod","segments":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-17541c24-2cb0-41bc-ada8-46fe90a6b7de/segments","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-17541c24-2cb0-41bc-ada8-46fe90a6b7de/clients"}}}'
  recorded_at: Wed, 10 Oct 2018 10:45:54 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/data-product-17541c24-2cb0-41bc-ada8-46fe90a6b7de
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - k2R7ZwDIX1py3p0_1o-l7w:ezm-OBuCn-u_Y9n_uEBDpQ
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '27'
      X-Gdc-Request:
      - k2R7ZwDIX1py3p0_1o-l7w:ezm-OBuCn-u_Y9n_uEBDpQ:e99PS3jwmjK3AmZ3
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 10:45:56 GMT
recorded_with: VCR 4.0.0
