---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/data-product-0167a1e3-63a6-4451-a532-fec65c71df62
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - UuS53SoxUXbcCtKtQJ8ohw:myl8hAn6GcXjAu-PhzSC4w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - UuS53SoxUXbcCtKtQJ8ohw:myl8hAn6GcXjAu-PhzSC4w:ObxP00uTw9iCjd8y
      X-Gdc-Request-Time:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '{"dataProduct":{"id":"data-product-0167a1e3-63a6-4451-a532-fec65c71df62","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-0167a1e3-63a6-4451-a532-fec65c71df62","domain":"/gdc/domains/staging2-lcm-prod","segments":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-0167a1e3-63a6-4451-a532-fec65c71df62/segments","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-0167a1e3-63a6-4451-a532-fec65c71df62/clients"}}}'
  recorded_at: Mon, 04 Jun 2018 09:14:27 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/data-product-0167a1e3-63a6-4451-a532-fec65c71df62/segments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - UuS53SoxUXbcCtKtQJ8ohw:iXUFng7faKmz7GDAhriGCQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - UuS53SoxUXbcCtKtQJ8ohw:iXUFng7faKmz7GDAhriGCQ:rLJWwYw8Ocboy2NS
      X-Gdc-Request-Time:
      - '13'
    body:
      encoding: ASCII-8BIT
      string: '{"segments":{"items":[]}}'
  recorded_at: Mon, 04 Jun 2018 09:14:28 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/data-product-0167a1e3-63a6-4451-a532-fec65c71df62
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - UuS53SoxUXbcCtKtQJ8ohw:LB7lskjJ2NghnlmvBnYFTg
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '15'
      X-Gdc-Request:
      - UuS53SoxUXbcCtKtQJ8ohw:LB7lskjJ2NghnlmvBnYFTg:hLoSeK9xyLaeLabe
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 04 Jun 2018 09:14:28 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts
    body:
      encoding: UTF-8
      string: '{"dataProduct":{"id":"data-product-e00d5261-40b7-45f7-9ebd-c3cec8860a6e"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - "-5o6tdj1VkE0ovju_zfjUg:yRyb4wr0JWHsyliSVSUNOA"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts/data-product-e00d5261-40b7-45f7-9ebd-c3cec8860a6e"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - "-5o6tdj1VkE0ovju_zfjUg:yRyb4wr0JWHsyliSVSUNOA:HeQuG56Rbxs3FFsA"
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"dataProduct":{"id":"data-product-e00d5261-40b7-45f7-9ebd-c3cec8860a6e","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-e00d5261-40b7-45f7-9ebd-c3cec8860a6e","domain":"/gdc/domains/staging2-lcm-prod","segments":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-e00d5261-40b7-45f7-9ebd-c3cec8860a6e/segments","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-e00d5261-40b7-45f7-9ebd-c3cec8860a6e/clients"}}}'
  recorded_at: Tue, 05 Jun 2018 19:45:58 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/data-product-e00d5261-40b7-45f7-9ebd-c3cec8860a6e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - "-5o6tdj1VkE0ovju_zfjUg:2Nn6LKgvPZlY1sz-btL0Hg"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '24'
      X-Gdc-Request:
      - "-5o6tdj1VkE0ovju_zfjUg:2Nn6LKgvPZlY1sz-btL0Hg:TpTszxo5vvk7r4Xc"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 19:46:00 GMT
recorded_with: VCR 4.0.0
