---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/data-product-eadbf236-7350-443b-abf6-0c5c2e5f5492/segments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - UuS53SoxUXbcCtKtQJ8ohw:j2l08-mezm7HFv1Mxk7wAg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - UuS53SoxUXbcCtKtQJ8ohw:j2l08-mezm7HFv1Mxk7wAg:z1C6BYLWVwi7bEtd
      X-Gdc-Request-Time:
      - '13'
    body:
      encoding: ASCII-8BIT
      string: '{"segments":{"items":[]}}'
  recorded_at: Mon, 04 Jun 2018 09:14:25 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/data-product-eadbf236-7350-443b-abf6-0c5c2e5f5492
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - UuS53SoxUXbcCtKtQJ8ohw:877dxAji8Q3jH_zq68zO2g
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - UuS53SoxUXbcCtKtQJ8ohw:877dxAji8Q3jH_zq68zO2g:a52tFrBmQd4Lkk31
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 04 Jun 2018 09:14:26 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/data-product-186f23b5-cd58-42ea-9ba1-312b3f8e7a05/segments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - k2R7ZwDIX1py3p0_1o-l7w:hRgK4Y_2hByH5B26ALqXMA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - k2R7ZwDIX1py3p0_1o-l7w:hRgK4Y_2hByH5B26ALqXMA:uRrsUoV3FEukhUQ5
      X-Gdc-Request-Time:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"segments":{"items":[]}}'
  recorded_at: Wed, 10 Oct 2018 10:45:52 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/data-product-200df1e3-ef39-46a2-8f1c-e1c9351a704e/segments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":qQNSs_hL_25i0_9EwWyK-w:xSaAXnLfyGg6fi8V_KqBKQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":qQNSs_hL_25i0_9EwWyK-w:xSaAXnLfyGg6fi8V_KqBKQ:Phc1YAMj9Dlcz6gl"
      X-Gdc-Request-Time:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"segments":{"items":[]}}'
  recorded_at: Thu, 24 Jan 2019 13:00:57 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts
    body:
      encoding: UTF-8
      string: '{"dataProduct":{"id":"data-product-3bc2d1eb-674c-4af1-8f7f-ccb4ffd242ba"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":qM7F0pXzJQpDf8PZu7m20Q:Hz6sqH12cSHNGEe2bm8GJQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts/data-product-3bc2d1eb-674c-4af1-8f7f-ccb4ffd242ba"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '31'
      X-Gdc-Request:
      - ":qM7F0pXzJQpDf8PZu7m20Q:Hz6sqH12cSHNGEe2bm8GJQ:0RJbG4A9A2wK5vJc"
    body:
      encoding: ASCII-8BIT
      string: '{"dataProduct":{"id":"data-product-3bc2d1eb-674c-4af1-8f7f-ccb4ffd242ba","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-3bc2d1eb-674c-4af1-8f7f-ccb4ffd242ba","domain":"/gdc/domains/staging2-lcm-prod","segments":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-3bc2d1eb-674c-4af1-8f7f-ccb4ffd242ba/segments","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-3bc2d1eb-674c-4af1-8f7f-ccb4ffd242ba/clients"}}}'
  recorded_at: Wed, 15 Jan 2020 05:00:15 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":qM7F0pXzJQpDf8PZu7m20Q:bDWOWZzaESPc7S5ccDDnBA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '924'
      X-Gdc-Request:
      - ":qM7F0pXzJQpDf8PZu7m20Q:bDWOWZzaESPc7S5ccDDnBA:O26pimvxd4Y13Y9B"
    body:
      encoding: ASCII-8BIT
      string: '{"dataProducts":{"items":[{"dataProduct":{"id":"att_lcm_default_data_product","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/att_lcm_default_data_product","domain":"/gdc/domains/staging2-lcm-prod","segments":"/gdc/domains/staging2-lcm-prod/dataproducts/att_lcm_default_data_product/segments","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/att_lcm_default_data_product/clients"}}},{"dataProduct":{"id":"BichTesting","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/BichTesting","doma[...]
