---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources
    body:
      encoding: UTF-8
      string: '{"dataSource":{"name":"Snowflake DS1","prefix":"OUT_","connectionInfo":{"snowflake":{"url":"jdbc:snowflake://acme.snowflakecomputing.com","userName":"<PASSWORD>","password":"<PASSWORD>","database":"TEST","schema":"SCHEMA","warehouse":"DWH"}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:9objRNet7u01Z8X8Yyvmag"
      Stats-On:
      - ''
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources/5cb85a9ab1d9e014728429c6"
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:9objRNet7u01Z8X8Yyvmag:0tWk7UXoAr1EgCV8"
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"dataSource":{"id":"5cb85a9ab1d9e014728429c6","owner":"5ad80b895edcc438e5a4418e222733fa","name":"Snowflake
        DS1","prefix":"OUT_","lastModified":"2019-04-18T11:08:10.952Z","connectionInfo":{"snowflake":{"password":"","url":"jdbc:snowflake://acme.snowflakecomputing.com","userName":"<PASSWORD>","database":"TEST","schema":"SCHEMA","warehouse":"DWH"}},"links":{"parent":"/gdc/dataload/dataSources","self":"/gdc/dataload/dataSources/5cb85a9ab1d9e014728429c6","modelMapping":"/gdc/dataload/dataSources/5cb85a9ab1d9e014728429c6/buildModelMapping","generateModel":"/gdc/dataload/dataSources/5cb85a9ab1d9e014728429c6/generateModel"}}}'
  recorded_at: Thu, 18 Apr 2019 11:08:11 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/5cb85a9ab1d9e014728429c6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGp2-g:gqSqujVPdTc9MKZitlHnP2"
      Stats-On:
      - ''
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '39'
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGp2-g:gqSqujVPdTc9MKZitlHnP2:wG3LYqHOekSqzpq1"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 18 Apr 2019 11:08:12 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/projectFeatureFlags
    body:
      encoding: UTF-8
      string: '{"featureFlag":{"key":"enableDataDistribution","value":true}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:gvb0bzi48vOsBBkwBj1D1Q"
      Stats-On:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/projectFeatureFlags/enableDataDistribution"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:gvb0bzi48vOsBBkwBj1D1Q:Rj4biTeNMK9FvwG3"
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/projectFeatureFlags/enableDataDistribution"}'
  recorded_at: Thu, 18 Apr 2019 11:08:11 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/dataload/processes
    body:
      encoding: UTF-8
      string: '{"process":{"name":"test component add-v2","type":"etl","component":{"name":"gdc-data-distribution","version":"1","config":{"dataDistribution":{"dataSource":"5cb85a9ab1d9e014728429c6"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:4WPlvxPvm_K5NZPkxBty4w"
      Stats-On:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/dataload/processes/e1ad3055-478b-48fb-9bad-059d5c9bb9f9"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:4WPlvxPvm_K5NZPkxBty4w:d6SpsZa4Il5tt3dp"
      X-Gdc-Request-Time:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"process":{"type":"ETL","name":"test component add-v2","graphs":[],"executables":[],"lastDeployed":"2019-04-18T11:08:12.305Z","ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/dataload/processes/e1ad3055-478b-48fb-9bad-059d5c9bb9f9","executions":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/dataload/processes/e1ad3055-478b-48fb-9bad-059d5c9bb9f9/executions","source":"/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/dataload/processes/e1ad3055-478b-48fb-9bad-059d5c9bb9f9/source"},"component":{"name":"gdc-data-distribution","version":"1","config":{"dataDistribution":{"dataSource":"5cb85a9ab1d9e014728429c6"}}}}}'
  recorded_at: Thu, 18 Apr 2019 11:08:12 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/dataload/processes/e1ad3055-478b-48fb-9bad-059d5c9bb9f9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:gqSqujVPdTc9MKZitlHnPQ"
      Stats-On:
      - ''
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/projects/pv5dnp356eakikwzd7o18rprn5e77yoc/dataload/processes"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '39'
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:gqSqujVPdTc9MKZitlHnPQ:wG3LYqHOekSqzpq8"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 18 Apr 2019 11:08:12 GMT
recorded_with: VCR 4.0.0
