---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/pupai5yb8x9atfs0cm5igtqnkojsqvfn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ns4KKQheTZMvijb2It3paA:hSxp1dbNzL6wFimg4FHuaw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ns4KKQheTZMvijb2It3paA:hSxp1dbNzL6wFimg4FHuaw:zZGNPFflT9cE9y6A
      X-Gdc-Request-Time:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/pupai5yb8x9atfs0cm5igtqnkojsqvfn/ldm?thumbnail=1","self":"/gdc/projects/pupai5yb8x9atfs0cm5igtqnkojsqvfn","clearCaches":"/gdc/projects/pupai5yb8x9atfs0cm5igtqnkojsqvfn/clearCaches","invitations":"/gdc/projects/pupai5yb8x9atfs0cm5igtqnkojsqvfn/invitations","users":"/gdc/projects/pupai5yb8x9atfs0cm5igtqnkojsqvfn/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/pupai5yb8x9atfs0cm5igtqnkojsqvfn/uploads/","ldm":"/gdc/projects/pupai5yb8x9atfs0cm5igtqnkojsqvfn/ldm","metadata":"/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn","publicartifacts":"/gdc/projects/pupai5yb8x9atfs0cm5igtqnkojsqvfn/publicartifacts","roles":"/gdc/projects/pupai5yb8x9atfs0cm5igtqnkojsqvfn/roles","userRoles":"/gdc/projects/pupai5yb8x9atfs0cm5igtqnkojsqvfn/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/pupai5yb8x9atfs0cm5igtqnkojsqvfn/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/pupai5yb8x9atfs0cm5igtqnkojsqvfn/dataload","connectors":"/gdc/projects/pupai5yb8x9atfs0cm5igtqnkojsqvfn/connectors","execute":"/gdc/projects/pupai5yb8x9atfs0cm5igtqnkojsqvfn/execute","config":"/gdc/projects/pupai5yb8x9atfs0cm5igtqnkojsqvfn/config","projectFeatureFlags":"/gdc/projects/pupai5yb8x9atfs0cm5igtqnkojsqvfn/projectFeatureFlags","schedules":"/gdc/projects/pupai5yb8x9atfs0cm5igtqnkojsqvfn/schedules","templates":"/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn/templates","eventstores":"/gdc/projects/pupai5yb8x9atfs0cm5igtqnkojsqvfn/dataload/eventstore/stores"},"meta":{"created":"2018-06-04
        14:01:21","summary":"No summary","updated":"2018-06-04 14:01:21","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"RubyGem
        Dev Week test","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Mon, 04 Jun 2018 12:01:22 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/pupai5yb8x9atfs0cm5igtqnkojsqvfn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ns4KKQheTZMvijb2It3paA:XfvtuoqMPnCRdNsWDVDfRg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ns4KKQheTZMvijb2It3paA:XfvtuoqMPnCRdNsWDVDfRg:ZePqJ0bNhUzLQ18g
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/pupai5yb8x9atfs0cm5igtqnkojsqvfn/ldm?thumbnail=1","self":"/gdc/projects/pupai5yb8x9atfs0cm5igtqnkojsqvfn","clearCaches":"/gdc/projects/pupai5yb8x9atfs0cm5igtqnkojsqvfn/clearCaches","invitations":"/gdc/projects/pupai5yb8x9atfs0cm5igtqnkojsqvfn/invitations","users":"/gdc/projects/pupai5yb8x9atfs0cm5igtqnkojsqvfn/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/pupai5yb8x9atfs0c[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/pupai5yb8x9atfs0cm5igtqnkojsqvfn/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"This is
        anchor description","defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"some_attr_id","title":"Repository
        Name","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_attr_label_id","title":"Repository
        Name","type":"GDC.text","dataType":"VARCHAR(10000)"}}],"defaultLabel":"some_attr_label_id"}}],"facts":[],"references":[]}},{"dataset":{"identifier":"dataset.devs","title":"Developers","anchor":{"attribute":{"identifier":"attr.devs.dev_id","title":"Dev","folder":"Anchor
        folder","labels":[{"label":{"identifier":"label.devs.dev_id.id","title":"Id","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.devs.dev_id.email","title":"Email","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.devs.dev_id.email"}},"attributes":[],"facts":[],"references":[]}},{"dataset":{"identifier":"dataset.commits","title":"Commits","anchor":{"attribute":{"identifier":"attr.commits.factsof","title":"Attr.Commits.Factsof","folder":"Commits"}},"attributes":[],"facts":[{"fact":{"identifier":"fact.commits.lines_changed","title":"Lines
        Changed","folder":"Commits","dataType":"DECIMAL(12,2)","type":"fact","description":"Fact
        description"}}],"references":["committed_on","dataset.devs","dataset.repos"]}}],"dateDimensions":[{"dateDimension":{"name":"committed_on","title":"Committed
        On"}}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ns4KKQheTZMvijb2It3paA:GizOA0PpAwR9ZHDNij3sOQ
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/pupai5yb8x9atfs0cm5igtqnkojsqvfn/model/diff/a0dfcefbb6a805dfd2e3f7b61de97d2601cd73beb1a68b620000006e"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ns4KKQheTZMvijb2It3paA:GizOA0PpAwR9ZHDNij3sOQ:Xg0iaH8p8lhPnym5
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/pupai5yb8x9atfs0cm5igtqnkojsqvfn/model/diff/a0dfcefbb6a805dfd2e3f7b61de97d2601cd73beb1a68b620000006e"}}}'
  recorded_at: Mon, 04 Jun 2018 12:01:29 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/pupai5yb8x9atfs0cm5igtqnkojsqvfn/model/diff/a0dfcefbb6a805dfd2e3f7b61de97d2601cd73beb1a68b620000006e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ns4KKQheTZMvijb2It3paA:t_B1g_U8jxYXqxrLoEWtdA
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/pupai5yb8x9atfs0cm5igtqnkojsqvfn/model/diff/a0dfcefbb6a805dfd2e3f7b61de97d2601cd73beb1a68b620000006e"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ns4KKQheTZMvijb2It3paA:t_B1g_U8jxYXqxrLoEWtdA:ZDSZ58RoXeSRWwry
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/pupai5yb8x9atfs0cm5igtqnkojsqvfn/model/diff/a0dfcefbb6a805dfd2e3f7b61de97d2601cd73beb1a68b620000006e"}}}'
  recorded_at: Mon, 04 Jun 2018 12:01:30 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/pupai5yb8x9atfs0cm5igtqnkojsqvfn/model/diff/a0dfcefbb6a805dfd2e3f7b61de97d2601cd73beb1a68b620000006e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ns4KKQheTZMvijb2It3paA:sF8ym0opTebRKwcFt3PbuA
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ns4KKQheTZMvijb2It3paA:sF8ym0opTebRKwcFt3PbuA:ItlThm2I7sMGRICS
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"dataset.create","dataset":"dataset.repos","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Repositories"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.devs","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Developers"]}},{"updateOperation":{"type":"dataset.create","dataset":"dataset.commits","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Commits"]}},{"updateOperation":{"type":"date-dimension.create","destructive":false,"description":"Create
        date dimension ''%s''","parameters":["Committed On[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ns4KKQheTZMvijb2It3paA:ktJ-VrMv-iUodMhe5AG2tQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ns4KKQheTZMvijb2It3paA:ktJ-VrMv-iUodMhe5AG2tQ:Qn48jR995cRVUsXD
      X-Gdc-Request-Time:
      - '14'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''pupai5yb8x9atfs0cm5igtqnkojsqvfn''","category":"project","instance":"pupai5yb8x9atfs0cm5igtqnkojsqvfn","links":[{"link":"/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","ca[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ns4KKQheTZMvijb2It3paA:NC9BM3-jiRxi4vbiX0OmiA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE FOLDER {dim.commits} VISUAL(TITLE \"Commits\")
        TYPE ATTRIBUTE;\nCREATE FOLDER {dim.folderedrepos} VISUAL(TITLE \"Foldered
        Repos\") TYPE ATTRIBUTE;\nCREATE FOLDER {dim.anchorfolder} VISUAL(TITLE \"Anchor
        folder\") TYPE ATTRIBUTE;\nCREATE FOLDER {ffld.commits} VISUAL(TITLE \"Commits\")
        TYPE FACT;\nCREATE DATASET {dataset.repos} VISUAL(TITLE \"Repositories\");\nCREATE
        DATASET {dataset.devs} VISUAL(TITLE \"Developers\");\nCREATE DATASET {dataset.commit[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn/tasks/8c1a58b3cd33e1ba1319c288d8e3a0550000002d/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ns4KKQheTZMvijb2It3paA:Hy4fJSGRpmxWUELgED3WVg
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ns4KKQheTZMvijb2It3paA:Hy4fJSGRpmxWUELgED3WVg:cASlypzOg0H4qVeC
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn/tasks/8c1a58b3cd33e1ba1319c288d8e3a0550000002d/status","status":"RUNNING","links":{"poll":"/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn/tasks/8c1a58b3cd33e1ba1319c288d8e3a0550000002d/status"}}}'
  recorded_at: Mon, 04 Jun 2018 12:01:44 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ns4KKQheTZMvijb2It3paA:DdbxSApz5xMuiBBVuRyx1w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ns4KKQheTZMvijb2It3paA:DdbxSApz5xMuiBBVuRyx1w:vAvTSYfgda5lF91z
      X-Gdc-Request-Time:
      - '78'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"fact":{"content":{"folders":["/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn/obj/41"],"expr":[{"type":"col","data":"/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn/obj/27"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn/obj/218","tags":"","created":"2018-06-04
        14:01:46","identifier":"fact.commits.lines_changed","deprecated":"0","summary":"Fact
        description","isProduction":1,"title":"Lines Changed","category":"fact","updated":"2018-06-04
        14:01:46","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Mon, 04 Jun 2018 12:01:57 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["metric.some_metric20180604158356673rj"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ns4KKQheTZMvijb2It3paA:ss25uqXKoV-XNpYwXopXFA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ns4KKQheTZMvijb2It3paA:ss25uqXKoV-XNpYwXopXFA:mKk5JdL80gnf8aml
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[]}'
  recorded_at: Mon, 04 Jun 2018 12:01:58 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT SUM([/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn/obj/218])"},"meta":{"tags":"","summary":null,"title":"sum
        of Lines Changed","identifier":"metric.some_metric20180604158356673rj"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ns4KKQheTZMvijb2It3paA:14gJVOyTMMDtgFKFZosRfw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ns4KKQheTZMvijb2It3paA:14gJVOyTMMDtgFKFZosRfw:7IPpVHcGuKjOIocb
      X-Gdc-Request-Time:
      - '89'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn/obj/244"}'
  recorded_at: Mon, 04 Jun 2018 12:01:59 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn/obj/244
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ns4KKQheTZMvijb2It3paA:yyPNJzE5lkSCrfw4jwMj3Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ns4KKQheTZMvijb2It3paA:yyPNJzE5lkSCrfw4jwMj3Q:Dquh1TcSN3I0VXc2
      X-Gdc-Request-Time:
      - '62'
    body:
      encoding: ASCII-8BIT
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"SUM","content":[{"value":"/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn/obj/218","position":{"column":25,"line":1},"type":"fact
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        SUM([/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn/obj/218])"},"links":{"explain2":"/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn/obj/244/explain2"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn/obj/244","tags":"","created":"2018-06-04
        14:01:59","identifier":"aabarA9ObvwH","deprecated":"0","summary":"","isProduction":1,"title":"sum
        of Lines Changed","category":"metric","updated":"2018-06-04 14:01:59","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Mon, 04 Jun 2018 12:01:59 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn/etl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ns4KKQheTZMvijb2It3paA:Ic34i4xeG6v5lFhMAOHPsw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ns4KKQheTZMvijb2It3paA:Ic34i4xeG6v5lFhMAOHPsw:Vm8DU1pBA0zbyPDK
      X-Gdc-Request-Time:
      - '16'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Extract, transform and load services for project
        ''pupai5yb8x9atfs0cm5igtqnkojsqvfn''","category":"etl","instance":"pupai5yb8x9atfs0cm5igtqnkojsqvfn","links":[{"link":"/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn/etl/pull2","summary":"Provides
        service of pull2.","category":"pull2","title":"pull2"},{"link":"/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn/etl/task","summary":"Provides
        service of task.","category":"task","title":"task"},{"link":"/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn/etl/mode","summary":"Provides
        service of mode.","category":"mode","title":"mode"}]}}'
  recorded_at: Mon, 04 Jun 2018 12:02:04 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn/etl/pull2
    body:
      encoding: UTF-8
      string: '{"pullIntegration":"d20180604-15835-tn1o5x"}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ns4KKQheTZMvijb2It3paA:co7OjSAdSD_1vGy-3hAQKw
      Info-Message:
      - Starting the data load from user storage to dataset.
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn/tasks/511561057a9eedfb30e7015c8800f6400000004e/status"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ns4KKQheTZMvijb2It3paA:co7OjSAdSD_1vGy-3hAQKw:lPOb7rAqVuJ65ZYv
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"pull2Task":{"links":{"poll":"/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn/tasks/511561057a9eedfb30e7015c8800f6400000004e/status"}}}'
  recorded_at: Mon, 04 Jun 2018 12:02:05 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ns4KKQheTZMvijb2It3paA:7vissT1EHvJSqbkOefxIoA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
   [...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn/obj
    body:
      encoding: UTF-8
      string: '{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":["metricGroup"],"metrics":[{"alias":"sum
        of Lines Changed","uri":"/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn/obj/244"}],"rows":[]},"format":"grid","filters":[]},"meta":{"tags":"","summary":"","title":"Untitled
        report definition"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ns4KKQheTZMvijb2It3paA:fYD25v4xGeUUS78OALRRPg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ns4KKQheTZMvijb2It3paA:fYD25v4xGeUUS78OALRRPg:lDwS4xt63QDULrou
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn/obj/247"}'
  recorded_at: Mon, 04 Jun 2018 12:02:07 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn/obj
    body:
      encoding: UTF-8
      string: '{"report":{"content":{"domains":[],"definitions":["/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn/obj/247"]},"meta":{"tags":"","deprecated":"0","summary":"","title":"Report
        to export"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ns4KKQheTZMvijb2It3paA:A5Lc-PvMwkwESZ7w1LvJaA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ns4KKQheTZMvijb2It3paA:A5Lc-PvMwkwESZ7w1LvJaA:5zz4D2mZIVlQTAPI
      X-Gdc-Request-Time:
      - '58'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/pupai5yb8x9atfs0cm5igtqnkojsqvfn/obj/248"}'
  recorded_at: Mon, 04 Jun 2018 12:02:08 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/f98smjk0yiaisw5zb1b6rvofyq45a3q7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bBQHoU-QnQBwp1fujT-sjA:0dA-wXuvyG-9GW6BGdpCNQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bBQHoU-QnQBwp1fujT-sjA:0dA-wXuvyG-9GW6BGdpCNQ:P10NXLbeDcIMSPaK
      X-Gdc-Request-Time:
      - '129'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARI[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/f98smjk0yiaisw5zb1b6rvofyq45a3q7/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.repos","title":"Repositories","anchor":{"attribute":{"identifier":"attr.repos.repo_id","title":"Repository
        Id","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_label_id","title":"Repository
        Id","type":"GDC.text","dataType":"VARCHAR(128)"}}],"description":"This is
        anchor description","defaultLabel":"some_label_id"}},"attributes":[{"attribute":{"identifier":"some_attr_id","title":"Repository
        Name","folder":"Foldered Repos","labels":[{"label":{"identifier":"some_attr_label_id","title":"Repository
        Name","type":"GDC.text","dataType":"VARCHAR(10000)"}}],"defaultLabel":"some_attr_label_id"}}],"facts":[],"references":[],"bridges":[]}},{"dataset":{"identifier":"dataset.devs","title":"Developers","anchor":{"attribute":{"identifier":"attr.devs.dev_id","title":"Dev","folder":"Anchor
        folder","labels":[{"label":{"identifier":"label.devs.dev_id.id","title":"Id","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.devs.dev_id.email","title":"Email","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.devs.dev_id.email"}},"attributes":[],"facts":[],"references":[],"bridges":["dataset[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/f98smjk0yiaisw5zb1b6rvofyq45a3q7/model/diff/e3e8101e3b20ea0554b3d9f3c5ea2cb3f3118ce19359aefc00000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bBQHoU-QnQBwp1fujT-sjA:2_YWu6bzYnKVlP_b-EmvDQ
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/f98smjk0yiaisw5zb1b6rvofyq45a3q7/model/diff/e3e8101e3b20ea0554b3d9f3c5ea2cb3f3118ce19359aefc00000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bBQHoU-QnQBwp1fujT-sjA:2_YWu6bzYnKVlP_b-EmvDQ:aiBDq9YTbpr3SyZW
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/f98smjk0yiaisw5zb1b6rvofyq45a3q7/model/diff/e3e8101e3b20ea0554b3d9f3c5ea2cb3f3118ce19359aefc00000018"}}}'
  recorded_at: Fri, 05 Oct 2018 12:50:20 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/f98smjk0yiaisw5zb1b6rvofyq45a3q7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bBQHoU-QnQBwp1fujT-sjA:ZPW09lA_F8FXlcajrdxINg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charse[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/f98smjk0yiaisw5zb1b6rvofyq45a3q7/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bBQHoU-QnQBwp1fujT-sjA:HWizGyesz72DFgISd7fr1Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/f98smjk0yiaisw5zb1b6rvofyq45a3q7/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.repos} VISUAL(TITLE \"Repositories\");\nCREATE
        DATASET {dataset.devs} VISUAL(TITLE \"Developers\");\nCREATE DATASET {dataset.commits}
        VISUAL(TITLE \"Commits\");\nINCLUDE TEMPLATE \"URN:GOODDATA:DATE\" MODIFY
        (IDENTIFIER \"committed_on\", TITLE \"Committed On\"[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/f98smjk0yiaisw5zb1b6rvofyq45a3q7/tasks/e4aa11874b8b4ca1928e7b2c93b3749400000007/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bBQHoU-QnQBwp1fujT-sjA:PGV4quvoBQdTB9EOh4TUSg
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bBQHoU-QnQBwp1fujT-sjA:PGV4quvoBQdTB9EOh4TUSg:ULrdsnMoRi8famZS
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/f98smjk0yiaisw5zb1b6rvofyq45a3q7/tasks/e4aa11874b8b4ca1928e7b2c93b3749400000007/status","status":"RUNNING","links":{"poll":"/gdc/md/f98smjk0yiaisw5zb1b6rvofyq45a3q7/tasks/e4aa11874b8b4ca1928e7b2c93b3749400000007/status"}}}'
  recorded_at: Fri, 05 Oct 2018 12:50:25 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/f98smjk0yiaisw5zb1b6rvofyq45a3q7/objects/query?category=fact&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bBQHoU-QnQBwp1fujT-sjA:XmOQLDaZ7M251rpLbSXEog
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
[...]
