---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":xtTfqOn4v0XvUFSouhAU1A:DTPGpjF5FxQ9FaaGTbA7rQ"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xtTfqOn4v0XvUFSouhAU1A:DTPGpjF5FxQ9FaaGTbA7rQ:CIUnJNkd2u6JqTJd"
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Mon, 11 Mar 2019 13:52:35 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xtTfqOn4v0XvUFSouhAU1A:Lg19PBYHF8QNtFvT7nVndw"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - ":xtTfqOn4v0XvUFSouhAU1A:Lg19PBYHF8QNtFvT7nVndw:FoK5GXUujSuTo2VJ"
      X-Gdc-Request-Time:
      - '16'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Mon, 11 Mar 2019 13:52:36 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xtTfqOn4v0XvUFSouhAU1A:bf9P6mYErD3U0Azcto7WxA"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xtTfqOn4v0XvUFSouhAU1A:bf9P6mYErD3U0Azcto7WxA:JdkawfvNx6mLl2sD"
      X-Gdc-Request-Time:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2018-12-03 11:09:12","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Mon, 11 Mar 2019 13:52:37 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xtTfqOn4v0XvUFSouhAU1A:B8EAVTJ8BI45Bqf8UR0xBw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xtTfqOn4v0XvUFSouhAU1A:B8EAVTJ8BI45Bqf8UR0xBw:CnGTjTMUPn5EMssN"
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Mon, 11 Mar 2019 13:52:37 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xtTfqOn4v0XvUFSouhAU1A:lZ7idmawXfbpzjFgLbCZ5g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xtTfqOn4v0XvUFSouhAU1A:lZ7idmawXfbpzjFgLbCZ5g:HtXua1FbVThI2BCN"
      X-Gdc-Request-Time:
      - '529'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata Resources","category":"md","links":[{"link":"/gdc/md/otai5iomp4etkkz3bx2kh6c5qtdtros9","identifier":"otai5iomp4etkkz3bx2kh6c5qtdtros9","summary":"No
        summary","category":"project","title":"MasterBich4 #1"},{"link":"/gdc/md/x7pttc834ay8kgp1e66isi793gxe00k9","identifier":"x7pttc834ay8kgp1e66isi793gxe00k9","summary":"","category":"project","title":"TemplateProject
        - DO NOT DELETE"},{"link":"/gdc/md/jeyo0mitykccy27u8j1cy2wbhd60afad","identifier":"jeyo0mitykccy27u8j1cy2wbhd60afad","summary":"","category":"project","title":"ETL(Do
        not Delete) Phong"},{"link":"/gdc/md/jsghd97wi[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":iIiKPaC4q2Ba6y46kLkeGg:0zBZOjaKhN0uF5KmeA7D0w"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Tries:
      - '0'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '19'
      X-Gdc-Request:
      - ":iIiKPaC4q2Ba6y46kLkeGg:0zBZOjaKhN0uF5KmeA7D0w:lzdLzaicQYYrKHiG"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 11 Mar 2019 13:52:40 GMT
recorded_with: VCR 4.0.0
