---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Test MASTER project
        for 063fc614-cf62-4a34-8309-73670bf2c888"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"PRODUCTION","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Edy3388_BjBWXZdoheyz6Q:vJocXpOqMrVGrhqWaoNZJg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '281'
      X-Gdc-Request:
      - ":Edy3388_BjBWXZdoheyz6Q:vJocXpOqMrVGrhqWaoNZJg:lolNFl5XlBwQtFDR"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/tixzuw8ajqt9hh2ljlg3sseglpo54bem"}'
  recorded_at: Thu, 25 Mar 2021 07:30:57 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/tixzuw8ajqt9hh2ljlg3sseglpo54bem
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Edy3388_BjBWXZdoheyz6Q:KKHkbxAT5wqxGIaeHUKCLA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '55'
      X-Gdc-Request:
      - ":Edy3388_BjBWXZdoheyz6Q:KKHkbxAT5wqxGIaeHUKCLA:GDmOzH7o7bh86ruh"
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADING"},"links":{"ldm_thumbnail":"/gdc/projects/tixzuw8ajqt9hh2ljlg3sseglpo54bem/ldm?thumbnail=1","self":"/gdc/projects/tixzuw8ajqt9hh2ljlg3sseglpo54bem","clearCaches":"/gdc/projects/tixzuw8ajqt9hh2ljlg3sseglpo54bem/clearCaches","invitations":"/gdc/projects/tixzuw8ajqt9hh2ljlg3sseglpo54bem/invitations","users":"/gdc/projects/tixzuw8ajqt9hh2ljlg3sseglpo54bem/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/tixzuw8ajqt9hh2ljlg3sseglpo54bem/checkXaeCompatibility","uploads":"/gdc/projects/tixzuw8ajqt9hh2ljlg3sseglpo54bem/uploads/","ldm":"/gdc/projects/tixzuw8ajqt9hh2ljlg3sseglpo54bem/ldm","metadata":"/gdc/md/tixzuw8ajqt9hh2ljlg3sseglpo54bem","publicartifacts":"/gdc/projects/tixzuw8ajqt9hh2ljlg3sseglpo54bem/publicartifacts","roles":"/gdc/projects/tixzuw8ajqt9hh2ljlg3sseglpo54bem/roles","userRoles":"/gdc/projects/tixzuw8ajqt9hh2ljlg3sseglpo54bem/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/tixzuw8ajqt9hh2ljlg3sseglpo54bem/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/tixzuw8ajqt9hh2ljlg3sseglpo54bem/dataload","connectors":"/gdc/projects/tixzuw8ajqt9hh2ljlg3sseglpo54bem/connectors","execute":"/gdc/projects/tixzuw8ajqt9hh2ljlg3sseglpo54bem/execute","config":"/gdc/projects/tixzuw8ajqt9hh2ljlg3sseglpo54bem/config","projectFeatureFlags":"/gdc/projects/tixzuw8ajqt9hh2ljlg3sseglpo54bem/projectFeatureFlags","schedules":"/gdc/projects/tixzuw8ajqt9hh2ljlg3sseglpo54bem/schedules","templates":"/gdc/md/tixzuw8ajqt9hh2ljlg3sseglpo54bem/templates"},"meta":{"created":"2021-03-25
        08:30:56","summary":"No summary","updated":"2021-03-25 08:30:57","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Test
        MASTER project for 063fc614-cf62-4a34-8309-73670bf2c888","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 25 Mar 2021 07:30:58 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments
    body:
      encoding: UTF-8
      string: '{"segment":{"id":"segment-063fc614-cf62-4a34-8309-73670bf2c888","masterProject":"/gdc/projects/tixzuw8ajqt9hh2ljlg3sseglpo54bem"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Edy3388_BjBWXZdoheyz6Q:rN_sRpB6ARXKplwBJNA_fA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments/segment-063fc614-cf62-4a34-8309-73670bf2c888"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '46'
      X-Gdc-Request:
      - ":Edy3388_BjBWXZdoheyz6Q:rN_sRpB6ARXKplwBJNA_fA:z297dZXGZ6lunEAh"
    body:
      encoding: ASCII-8BIT
      string: '{"segment":{"id":"segment-063fc614-cf62-4a34-8309-73670bf2c888","masterProject":"/gdc/projects/tixzuw8ajqt9hh2ljlg3sseglpo54bem","links":{"self":"/gdc/domains/staging2-lcm-prod/segments/segment-063fc614-cf62-4a34-8309-73670bf2c888","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/clients?segment=segment-063fc614-cf62-4a34-8309-73670bf2c888&limit=1000"}}}'
  recorded_at: Thu, 25 Mar 2021 07:31:06 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/w63wwr5cvpv4rdoad84ejivtka54v3xp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Edy3388_BjBWXZdoheyz6Q:lnpuCQGbO7zOokT7V63ufA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Typ[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/dvbpe86d2iqzy780alkrafx0cj8bi5t7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Edy3388_BjBWXZdoheyz6Q:PkZ0WkZF38VZkzxFBjj8uA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Typ[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/e0psto044pl8uwx8amfajhoz3sbiv79k
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Edy3388_BjBWXZdoheyz6Q:fvT8FwiVbrPG2cZSVcB5LA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Typ[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-063fc614-cf62-4a34-8309-73670bf2c888
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Edy3388_BjBWXZdoheyz6Q:nR6iQFgKP_2Oh-rFlIRdqw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '12'
      X-Gdc-Request:
      - ":Edy3388_BjBWXZdoheyz6Q:nR6iQFgKP_2Oh-rFlIRdqw:656j7QqSaMAQDMBB"
    body:
      encoding: ASCII-8BIT
      string: '{"segment":{"id":"segment-063fc614-cf62-4a34-8309-73670bf2c888","masterProject":"/gdc/projects/tixzuw8ajqt9hh2ljlg3sseglpo54bem","links":{"self":"/gdc/domains/staging2-lcm-prod/segments/segment-063fc614-cf62-4a34-8309-73670bf2c888","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/clients?segment=segment-063fc614-cf62-4a34-8309-73670bf2c888&limit=1000"}}}'
  recorded_at: Thu, 25 Mar 2021 07:31:34 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Edy3388_BjBWXZdoheyz6Q:aBgWZa4S-RrI_tFatGlqRg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '14'
      X-Gdc-Request:
      - ":Edy3388_BjBWXZdoheyz6Q:aBgWZa4S-RrI_tFatGlqRg:JgYcFR9KyXm6LHMF"
    body:
      encoding: ASCII-8BIT
      string: '{"dataProduct":{"id":"default","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default","domain":"/gdc/domains/staging2-lcm-prod","segments":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients"}}}'
  recorded_at: Thu, 25 Mar 2021 07:31:35 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients
    body:
      encoding: UTF-8
      string: '{"client":{"id":"tenant_1","segment":"/gdc/domains/staging2-lcm-prod/segments/segment-063fc614-cf62-4a34-8309-73670bf2c888","project":"/gdc/projects/w63wwr5cvpv4rdoad84ejivtka54v3xp"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Edy3388_BjBWXZdoheyz6Q:DNzkZrVikW7mQd7Q_Bdfuw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_1"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '987'
      X-Gdc-Request:
      - ":Edy3388_BjBWXZdoheyz6Q:DNzkZrVikW7mQd7Q_Bdfuw:z6ZYow7Gvmc1SSGX"
    body:
      encoding: ASCII-8BIT
      string: '{"client":{"id":"tenant_1","segment":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-063fc614-cf62-4a34-8309-73670bf2c888","project":"/gdc/projects/w63wwr5cvpv4rdoad84ejivtka54v3xp","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_1"}}}'
  recorded_at: Thu, 25 Mar 2021 07:31:37 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients?segment=segment-063fc614-cf62-4a34-8309-73670bf2c888
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Edy3388_BjBWXZdoheyz6Q:0dqDEjk9neDRvT0VcpxBlw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '13'
      X-Gdc-Request:
      - ":Edy3388_BjBWXZdoheyz6Q:0dqDEjk9neDRvT0VcpxBlw:wHEC6cpl3r3ztulH"
    body:
      encoding: ASCII-8BIT
      string: '{"clients":{"items":[{"client":{"id":"tenant_1","segment":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-063fc614-cf62-4a34-8309-73670bf2c888","project":"/gdc/projects/w63wwr5cvpv4rdoad84ejivtka54v3xp","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_1"}}},{"client":{"id":"tenant_2","segment":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-063fc614-cf62-4a34-8309-73670bf2c888","project":"/gdc/projects/dvbpe86d2iqzy780alkrafx0cj8bi5t7","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_2"}}},{"client":{"id":"tenant_3","segment":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-063fc614-cf62-4a34-8309-73670bf2c888","project":"/gdc/projects/e0psto044pl8uwx8amfajhoz3sbiv79k","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_3"}}}],"paging":{"next":null}}}'
  recorded_at: Thu, 25 Mar 2021 07:31:44 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Edy3388_BjBWXZdoheyz6Q:1RZMhce5xc-W2TOwXQXcEg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts/default/clients"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - ":Edy3388_BjBWXZdoheyz6Q:1RZMhce5xc-W2TOwXQXcEg:jXX2R3oBIrY7GSOA"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 25 Mar 2021 07:31:50 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/tixzuw8ajqt9hh2ljlg3sseglpo54bem
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Edy3388_BjBWXZdoheyz6Q:nzGwf83R3Si0vKyG4US-RA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Request-Time:
      - '35'
      X-Gdc-Request:
      - ":Edy3388_BjBWXZdoheyz6Q:nzGwf83R3Si0vKyG4US-RA:YC9TbqhB6MsOmCc8"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 25 Mar 2021 07:31:57 GMT
recorded_with: VCR 5.0.0
