---
http_interactions:
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/60049a04386d7541e4b35fe2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:J1KkFwHkrI4U3jrw2xirEg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources"
      X-Gdc-Request-Time:
      - '29'
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:J1KkFwHkrI4U3jrw2xirEg:gGLKdzyNfXCSQ0Zl"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 17 Jan 2021 20:11:49 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources
    body:
      encoding: UTF-8
      string: '{"dataSource":{"name":"RedshiftDS_IAM","connectionInfo":{"redshift":{"url":"jdbc:redshift://test","authentication":{"iam":{"dbUser":"user_iam_test","accessKeyId":"OWIUEWQIO723628","secretAccessKey":"abc123"}},"database":"database_test","schema":"schema_test"}},"alias":"Ll086JL5mM6aJJrnnVzu6w","prefix":"prefix_"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:rdXR0xmJQQppgwk4TO28Fw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources/6004f6f2386d7541e4b36016"
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '23'
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:rdXR0xmJQQppgwk4TO28Fw:vuRKmX0es80iO3FW"
    body:
      encoding: ASCII-8BIT
      string: '{"dataSource":{"id":"6004f6f2386d7541e4b36016","owner":"5ad80b895edcc438e5a4418e222733fa","name":"RedshiftDS_IAM","prefix":"prefix_","alias":"Ll086JL5mM6aJJrnnVzu6w","lastModified":"2021-01-18T02:48:18.557Z","connectionInfo":{"redshift":{"url":"jdbc:redshift://test","authentication":{"iam":{"dbUser":"user_iam_test","accessKeyId":"OWIUEWQIO723628","secretAccessKey":""}},"database":"database_test","schema":"schema_test"}},"links":{"parent":"/gdc/dataload/dataSources","self":"/gdc/dataload/dataSources/6004f6f2386d7541e4b36016","buildModelMapping":"/gdc/dataload/dataSources/6004f6f2386d7541e4b36016/buildModelMapping","dataMapping":"/gdc/dataload/dataSources/6004f6f2386d7541e4b36016/dataMapping","generateModel":"/gdc/dataload/dataSources/6004f6f2386d7541e4b36016/generateModel","generateOutputStage":"/gdc/dataload/dataSources/6004f6f2386d7541e4b36016/generateOutputStage","validateConnection":"/gdc/dataload/dataSources/6004f6f2386d7541e4b36016/validateConnection"}}}'
  recorded_at: Mon, 18 Jan 2021 02:48:18 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/6004f6f2386d7541e4b36016
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:VPaSQQ5xVWhz0Yk55xNYWQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources"
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:VPaSQQ5xVWhz0Yk55xNYWQ:uagvLr0S8j9gPxc5"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 18 Jan 2021 02:48:19 GMT
recorded_with: VCR 5.0.0
