---
http_interactions:
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/60049a06386d7541e4b35fe3
    body:
      encoding: UTF-8
      string: '{"dataSource":{"name":"RedshiftDS_IAM_New","connectionInfo":{"redshift":{"url":"jdbc:redshift://test","authentication":{"iam":{"dbUser":"user_iam_test","accessKeyId":"OWIUEWQIO723628","secretAccessKey":""}},"database":"database_test","schema":"schema_test"}},"alias":"Nm6Cb5J0q2uROUXt0xrjYA","prefix":"prefix_"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:90scBrnFOQxf09y2deEpPw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '21'
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:90scBrnFOQxf09y2deEpPw:RDFwj54G1FTOmkpA"
    body:
      encoding: ASCII-8BIT
      string: '{"dataSource":{"id":"60049a06386d7541e4b35fe3","owner":"5ad80b895edcc438e5a4418e222733fa","name":"RedshiftDS_IAM_New","prefix":"prefix_","alias":"Nm6Cb5J0q2uROUXt0xrjYA","lastModified":"2021-01-17T20:11:51.706Z","connectionInfo":{"redshift":{"url":"jdbc:redshift://test","authentication":{"iam":{"dbUser":"user_iam_test","accessKeyId":"OWIUEWQIO723628","secretAccessKey":""}},"database":"database_test","schema":"schema_test"}},"links":{"parent":"/gdc/dataload/dataSources","self":"/gdc/dataload/dataSources/60049a06386d7541e4b35fe3","buildModelMapping":"/gdc/dataload/dataSources/60049a06386d7541e4b35fe3/buildModelMapping","dataMapping":"/gdc/dataload/dataSources/60049a06386d7541e4b35fe3/dataMapping","generateModel":"/gdc/dataload/dataSources/60049a06386d7541e4b35fe3/generateModel","generateOutputStage":"/gdc/dataload/dataSources/60049a06386d7541e4b35fe3/generateOutputStage","validateConnection":"/gdc/dataload/dataSources/60049a06386d7541e4b35fe3/validateConnection"}}}'
  recorded_at: Sun, 17 Jan 2021 20:11:51 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/60049a06386d7541e4b35fe3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:b4hzOuSNaw5PF_VYTZQc8w"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources"
      X-Gdc-Request-Time:
      - '35'
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:b4hzOuSNaw5PF_VYTZQc8w:yO0fJ738ggKFdOv8"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 17 Jan 2021 20:11:52 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources
    body:
      encoding: UTF-8
      string: '{"dataSource":{"name":"RedshiftDS_IAM","connectionInfo":{"redshift":{"url":"jdbc:redshift://test","authentication":{"iam":{"dbUser":"user_iam_test","accessKeyId":"OWIUEWQIO723628","secretAccessKey":"abc123"}},"database":"database_test","schema":"schema_test"}},"alias":"xQ-4GtYfgAMSg1i80cyVTQ","prefix":"prefix_"}}'
    headers:
      Content-Type:
     [...]
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/6004f6f43578a141e440aae9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:7jyPoNWC-eLZwjquYiujng"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources"
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:7jyPoNWC-eLZwjquYiujng:djxlthWcpAE61Ol7"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 18 Jan 2021 02:48:23 GMT
recorded_with: VCR 5.0.0
