---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/vpg1kcinqtjltcpxpi4h9a78n9dcqmve
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - iZlOQ1DJeUA89Q3tjcrL4g:cKVAwcHmzDNDQk8dNknQmQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - iZlOQ1DJeUA89Q3tjcrL4g:cKVAwcHmzDNDQk8dNknQmQ:6MfwhY1KVuOBgBV4
      X-Gdc-Request-Time:
      - '51'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/vpg1kcinqtjltcpxpi4h9a78n9dcqmve/ldm?thumbnail=1","self":"/gdc/projects/vpg1kcinqtjltcpxpi4h9a78n9dcqmve","clearCaches":"/gdc/projects/vpg1kcinqtjltcpxpi4h9a78n9dcqmve/clearCaches","invitations":"/gdc/projects/vpg1kcinqtjltcpxpi4h9a78n9dcqmve/invitations","users":"/gdc/projects/vpg1kcinqtjltcpxpi4h9a78n9dcqmve/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/vpg1kcinqtjltcpxpi4h9a78n9dcqmve/uploads/","ldm":"/gdc/projects/vpg1kcinqtjltcpxpi4h9a78n9dcqmve/ldm","metadata":"/gdc/md/vpg1kcinqtjltcpxpi4h9a78n9dcqmve","publicartifacts":"/gdc/projects/vpg1kcinqtjltcpxpi4h9a78n9dcqmve/publicartifacts","roles":"/gdc/projects/vpg1kcinqtjltcpxpi4h9a78n9dcqmve/roles","userRoles":"/gdc/projects/vpg1kcinqtjltcpxpi4h9a78n9dcqmve/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/vpg1kcinqtjltcpxpi4h9a78n9dcqmve/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/vpg1kcinqtjltcpxpi4h9a78n9dcqmve/dataload","connectors":"/gdc/projects/vpg1kcinqtjltcpxpi4h9a78n9dcqmve/connectors","execute":"/gdc/projects/vpg1kcinqtjltcpxpi4h9a78n9dcqmve/execute","config":"/gdc/projects/vpg1kcinqtjltcpxpi4h9a78n9dcqmve/config","projectFeatureFlags":"/gdc/projects/vpg1kcinqtjltcpxpi4h9a78n9dcqmve/projectFeatureFlags","schedules":"/gdc/projects/vpg1kcinqtjltcpxpi4h9a78n9dcqmve/schedules","templates":"/gdc/md/vpg1kcinqtjltcpxpi4h9a78n9dcqmve/templates"},"meta":{"created":"2018-10-09
        18:09:34","summary":"No summary","updated":"2018-10-09 18:09:34","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 09 Oct 2018 16:09:35 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/vpg1kcinqtjltcpxpi4h9a78n9dcqmve
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - iZlOQ1DJeUA89Q3tjcrL4g:2RXUXeA1L6KaDXcfl0mJig
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - iZlOQ1DJeUA89Q3tjcrL4g:2RXUXeA1L6KaDXcfl0mJig:FxjcYy8jzkXoUyHl
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/vpg1kcinqtjltcpxpi4h9a78n9dcqmve/ldm?thumbnail=1","self":"/gdc/projects/vpg1kcinqtjltcpxpi4h9a78n9dcqmve","clearCaches":"/gdc/projects/vpg1kcinqtjltcpxpi4h9a78n9dcqmve/clearCaches","invitations":"/gdc/projects/vpg1kcinqtjltcpxpi4h9a78n9dcqmve/invitations","users":"/gdc/projects/vpg1kcinqtjltcpxpi4h9a78n9dcqmve/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/vpg1kcinqtjltcpxp[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/vpg1kcinqtjltcpxpi4h9a78n9dcqmve/uploads/1539101382/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/vpg1kcinqtjltcpxpi4h9a78n9dcqmve/uploads/1539101382/ was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 16:09:42 GMT
- request:
    method: mkcol
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/vpg1kcinqtjltcpxpi4h9a78n9dcqmve/uploads/1539101382/
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/vpg1kcinqtjltcpxpi4h9a78n9dcqmve/uploads/1539101382/
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Collection /gdc/projects/vpg1kcinqtjltcpxpi4h9a78n9dcqmve/uploads/1539101382/ has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 16:09:43 GMT
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/vpg1kcinqtjltcpxpi4h9a78n9dcqmve/uploads/1539101382/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/vpg1kcinqtjltcpxpi4h9a78n9dcqmve/uploads/1539101382/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/vpg1kcinqtjltcpxpi4h9a78n9dcqmve/uploads/1539101382/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 16:09:43 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/vpg1kcinqtjltcpxpi4h9a78n9dcqmve/uploads/1539101382/test-ci-data.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 09 Oct 2018 16:09:43 GMT
      Etag:
      - W/"44-577cdf73f99b4"
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
  recorded_at: Tue, 09 Oct 2018 16:09:44 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/t9u8ro1xczmgxf0bct83ul9fbv5l73e8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - VozNhIXf-yinIC3xOnt0WA:4CmPa66qS_PqWOFCVtJ9-A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - VozNhIXf-yinIC3xOnt0WA:4CmPa66qS_PqWOFCVtJ9-A:1qEexEgtrGQuqZ0P
      X-Gdc-Request-Time:
      - '54'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/t9u8ro1xczmgxf0bct83ul9fbv5l73e8/uploads/1539104933/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/t9u8ro1xczmgxf0bct83ul9fbv5l73e8/uploads/1539104933/ was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:08:54 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/t9u8ro1xczmgxf0bct83ul9fbv5l73e8/uploads/1539104933/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/t9u8ro1xczmgxf0bct83ul9fbv5l73e8/uploads/1539104933/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/t9u8ro1xczmgxf0bct83ul9fbv5l73e8/uploads/1539104933/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:08:55 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/zncsgw10xat30dvafxmwo5jjwydaeber
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YgXNDU90KGIguVPeUHbJYA:Gz3YAMyzJlPmKkWzGkH3_w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - YgXNDU90KGIguVPeUHbJYA:Gz3YAMyzJlPmKkWzGkH3_w:VQ8qYpgXYVI9wCAH
      X-Gdc-Request-Time:
      - '66'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/zncsgw10xat30dvafxmwo5jjwydaeber/uploads/1539106488/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/zncsgw10xat30dvafxmwo5jjwydaeber/uploads/1539106488/ was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:34:49 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/zncsgw10xat30dvafxmwo5jjwydaeber/uploads/1539106488/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/zncsgw10xat30dvafxmwo5jjwydaeber/uploads/1539106488/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/zncsgw10xat30dvafxmwo5jjwydaeber/uploads/1539106488/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:34:50 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/wa725585i28a1ruyl42blt8k0pwgl5nh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 3PL534Zg-NqpklbR1yqu-A:UCFeNGp4ZEmkuCMOssionQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/wa725585i28a1ruyl42blt8k0pwgl5nh/uploads/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/wa725585i28a1ruyl42blt8k0pwgl5nh/uploads/testdir/ was not found on this server.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 07:40:13 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/wa725585i28a1ruyl42blt8k0pwgl5nh/uploads/testdir/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/wa725585i28a1ruyl42blt8k0pwgl5nh/uploads/testdir/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/wa725585i28a1ruyl42blt8k0pwgl5nh/uploads/testdir/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 07:40:14 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uavp4b1i0r3k3hboyarfx957sism8a7u
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - hoiC7HSFYmuehdEvrVk7eA:j3UPR1Q-5YckK9NIJKFA6Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - hoiC7HSFYmuehdEvrVk7eA:j3UPR1Q-5YckK9NIJKFA6Q:W8sV7oBGWTNiTPDV
      X-Gdc-Request-Time:
      - '54'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uavp4b1i0r3k3hboyarfx957sism8a7u/uploads/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/uavp4b1i0r3k3hboyarfx957sism8a7u/uploads/testdir/ was not found on this server.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 11:07:31 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uavp4b1i0r3k3hboyarfx957sism8a7u/uploads/testdir/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/uavp4b1i0r3k3hboyarfx957sism8a7u/uploads/testdir/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/uavp4b1i0r3k3hboyarfx957sism8a7u/uploads/testdir/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 11:07:33 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GNz-GqcomZWdKDjp-9jpeg:TC7AvXCq5eMmKGAosKCYMg"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - GoodData realm="GoodData API" cookie=GDCAuthSST location=/gdc/account/login
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '14'
      X-Gdc-Request:
      - ":GNz-GqcomZWdKDjp-9jpeg:TC7AvXCq5eMmKGAosKCYMg:0ttcStKECFCHijYr"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 24 Jan 2019 12:32:13 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AXeF2kp7oUhh1NBauhw3rA:ac8DP7N8JnpkbkGg3GURNQ"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - ":AXeF2kp7oUhh1NBauhw3rA:ac8DP7N8JnpkbkGg3GURNQ:b1GCryOUtFqAUvQC"
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 24 Jan 2019 13:21:34 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gdk2ferxjknczbhfu3qiac8x6vvhnnql
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":AXeF2kp7oUhh1NBauhw3rA:I_e3cgJFn0Y60pBfxd0YeQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":AXeF2kp7oUhh1NBauhw3rA:I_e3cgJFn0Y60pBfxd0YeQ:YMiStfHiSJR1jDTX"
      X-Gdc-Request-Time:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADING"},"links[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gdk2ferxjknczbhfu3qiac8x6vvhnnql/uploads/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/gdk2ferxjknczbhfu3qiac8x6vvhnnql/uploads/testdir/ was not found on this server.</p>
        </body></html>
  recorded_at: Thu, 24 Jan 2019 13:21:45 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gdk2ferxjknczbhfu3qiac8x6vvhnnql/uploads/testdir/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/gdk2ferxjknczbhfu3qiac8x6vvhnnql/uploads/testdir/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/gdk2ferxjknczbhfu3qiac8x6vvhnnql/uploads/testdir/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Thu, 24 Jan 2019 13:21:46 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":fTLvlwHOJiqQDMD2HBJZ6A:8mpcBZmtjU8se8xk2B3Kyg"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request-Time:
      - '18'
      X-Gdc-Request:
      - ":fTLvlwHOJiqQDMD2HBJZ6A:8mpcBZmtjU8se8xk2B3Kyg:seEVM543eDVyLDDR"
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 06:12:13 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/a2y3iw4071plzhgbgykp77x8s0kmg5ya
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":fTLvlwHOJiqQDMD2HBJZ6A:eTtF1HizMg6h7-bIquV7wQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '57'
      X-Gdc-Request:
      - ":fTLvlwHOJiqQDMD2HBJZ6A:eTtF1HizMg6h7-bIquV7wQ:iSwfj115ETXxbsjQ"
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADING"},"links":{"ldm_thumbnail":"/gdc/projects/a2y3iw4071plzhgbgykp77x8s0kmg5ya/ldm?thumbnail=1","self":"/gdc/projects/a2y3iw4071plzhgbgykp77x8s0kmg5ya","clearCaches":"/gdc/projects/a2y3iw4071plzhgbgykp77x8s0kmg5ya/clearCaches","invitations":"/gdc/projects/a2y3iw4071plzhgbgykp77x8s0kmg5ya/invitations","users":"/gdc/projects/a2y3iw4071plzhgbgykp77x8s0kmg5ya/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/a2y3iw4071plzhgbgykp77x8s0kmg5ya/checkXaeCompatibility","uploads":"/gdc/projects/a2y3iw4071plzhgbgykp77x8s0kmg5ya/uploads/","ldm":"/gdc/projects/a2y3iw4071plzhgbgykp77x8s0kmg5ya/ldm","metadata":"/gdc/md/a2y3iw4071plzhgbgykp77x8s0kmg5ya","publicartifacts":"/gdc/projects/a2y3iw4071plzhgbgykp77x8s0kmg5ya/publicartifacts","roles":"/gdc/projects/a2y3iw4071plzhgbgykp77x8s0kmg5ya/roles","userRoles":"/gdc/projects/a2y3iw4071plzhgbgykp77x8s0kmg5ya/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/a2y3iw4071plzhgbgykp77x8s0kmg5ya/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/a2y3iw4071plzhgbgykp77x8s0kmg5ya/dataload","connectors":"/gdc/projects/a2y3iw4071plzhgbgykp77x8s0kmg5ya/connectors","execute":"/gdc/projects/a2y3iw4071plzhgbgykp77x8s0kmg5ya/execute","config":"/gdc/projects/a2y3iw4071plzhgbgykp77x8s0kmg5ya/config","projectFeatureFlags":"/gdc/projects/a2y3iw4071plzhgbgykp77x8s0kmg5ya/projectFeatureFlags","schedules":"/gdc/projects/a2y3iw4071plzhgbgykp77x8s0kmg5ya/schedules","templates":"/gdc/md/a2y3iw4071plzhgbgykp77x8s0kmg5ya/templates"},"meta":{"created":"2020-01-15
        07:12:16","summary":"No summary","updated":"2020-01-15 07:12:17","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 15 Jan 2020 06:12:17 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/a2y3iw4071plzhgbgykp77x8s0kmg5ya/uploads/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/a2y3iw4071plzhgbgykp77x8s0kmg5ya/uploads/testdir/ was not found on this server.</p>
        </body></html>
  recorded_at: Wed, 15 Jan 2020 06:12:25 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/a2y3iw4071plzhgbgykp77x8s0kmg5ya/uploads/testdir/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/a2y3iw4071plzhgbgykp77x8s0kmg5ya/uploads/testdir/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/a2y3iw4071plzhgbgykp77x8s0kmg5ya/uploads/testdir/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Wed, 15 Jan 2020 06:12:26 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":_G_4r0pnxj_YgzRR0a_Seg:A-238uiTpbHmJGlPPKIaoQ"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '53'
      X-Gdc-Request:
      - ":_G_4r0pnxj_YgzRR0a_Seg:A-238uiTpbHmJGlPPKIaoQ:8LcKBoQmiaWaslhc"
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 07:06:39 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":_G_4r0pnxj_YgzRR0a_Seg:7LXiSVlL25zk7_kiXo6d2Q"
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '10'
      X-Gdc-Request:
      - ":_G_4r0pnxj_YgzRR0a_Seg:7LXiSVlL25zk7_kiXo6d2Q:jlTQ3iy7wbAcCcTd"
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
[...]
