---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/do0nsx64qdbgjqvg1zk1oo4i5hq9ki2i
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Z-KLiTjbezG1nM9UBP89wA:43Q1xhZiDXYFflg41XfX-g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Z-KLiTjbezG1nM9UBP89wA:43Q1xhZiDXYFflg41XfX-g:mHnb0cosgYTskCQg
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/do0nsx64qdbgjqvg1zk1oo4i5hq9ki2i/ldm?thumbnail=1","self":"/gdc/projects/do0nsx64qdbgjqvg1zk1oo4i5hq9ki2i","clearCaches":"/gdc/projects/do0nsx64qdbgjqvg1zk1oo4i5hq9ki2i/clearCaches","invitations":"/gdc/projects/do0nsx64qdbgjqvg1zk1oo4i5hq9ki2i/invitations","users":"/gdc/projects/do0nsx64qdbgjqvg1zk1oo4i5hq9ki2i/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/do0nsx64qdbgjqvg1zk1oo4i5hq9ki2i/uploads/","ldm":"/gdc/projects/do0nsx64qdbgjqvg1zk1oo4i5hq9ki2i/ldm","metadata":"/gdc/md/do0nsx64qdbgjqvg1zk1oo4i5hq9ki2i","publicartifacts":"/gdc/projects/do0nsx64qdbgjqvg1zk1oo4i5hq9ki2i/publicartifacts","roles":"/gdc/projects/do0nsx64qdbgjqvg1zk1oo4i5hq9ki2i/roles","userRoles":"/gdc/projects/do0nsx64qdbgjqvg1zk1oo4i5hq9ki2i/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/do0nsx64qdbgjqvg1zk1oo4i5hq9ki2i/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/do0nsx64qdbgjqvg1zk1oo4i5hq9ki2i/dataload","connectors":"/gdc/projects/do0nsx64qdbgjqvg1zk1oo4i5hq9ki2i/connectors","execute":"/gdc/projects/do0nsx64qdbgjqvg1zk1oo4i5hq9ki2i/execute","config":"/gdc/projects/do0nsx64qdbgjqvg1zk1oo4i5hq9ki2i/config","projectFeatureFlags":"/gdc/projects/do0nsx64qdbgjqvg1zk1oo4i5hq9ki2i/projectFeatureFlags","schedules":"/gdc/projects/do0nsx64qdbgjqvg1zk1oo4i5hq9ki2i/schedules","templates":"/gdc/md/do0nsx64qdbgjqvg1zk1oo4i5hq9ki2i/templates"},"meta":{"created":"2018-10-09
        18:09:48","summary":"No summary","updated":"2018-10-09 18:09:48","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 09 Oct 2018 16:09:49 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/do0nsx64qdbgjqvg1zk1oo4i5hq9ki2i
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Z-KLiTjbezG1nM9UBP89wA:LlZ6q5Qcj760gsP35vePiw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Z-KLiTjbezG1nM9UBP89wA:LlZ6q5Qcj760gsP35vePiw:EYC4IXEOSyXQwXWn
      X-Gdc-Request-Time:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/do0nsx64qdbgjqvg1zk1oo4i5hq9ki2i/ldm?thumbnail=1","self":"/gdc/projects/do0nsx64qdbgjqvg1zk1oo4i5hq9ki2i","clearCaches":"/gdc/projects/do0nsx64qdbgjqvg1zk1oo4i5hq9ki2i/clearCaches","invitations":"/gdc/projects/do0nsx64qdbgjqvg1zk1oo4i5hq9ki2i/invitations","users":"/gdc/projects/do0nsx64qdbgjqvg1zk1oo4i5hq9ki2i/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/do0nsx64qdbgjqvg1[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/do0nsx64qdbgjqvg1zk1oo4i5hq9ki2i/uploads/1539101395/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/do0nsx64qdbgjqvg1zk1oo4i5hq9ki2i/uploads/1539101395/ was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 16:09:56 GMT
- request:
    method: mkcol
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/do0nsx64qdbgjqvg1zk1oo4i5hq9ki2i/uploads/1539101395/
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/do0nsx64qdbgjqvg1zk1oo4i5hq9ki2i/uploads/1539101395/
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Collection /gdc/projects/do0nsx64qdbgjqvg1zk1oo4i5hq9ki2i/uploads/1539101395/ has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 16:09:56 GMT
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/do0nsx64qdbgjqvg1zk1oo4i5hq9ki2i/uploads/1539101395/abc-16:55:29+ha%23he.csv20181009-59344-oydygk
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/do0nsx64qdbgjqvg1zk1oo4i5hq9ki2i/uploads/1539101395/abc-16%3A55%3A29%2Bha%23he.csv20181009-59344-oydygk
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/do0nsx64qdbgjqvg1zk1oo4i5hq9ki2i/uploads/1539101395/abc-16%3A55%3A29%2Bha%23he.csv20181009-59344-oydygk has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 16:09:57 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/do0nsx64qdbgjqvg1zk1oo4i5hq9ki2i/uploads/1539101395/abc-16:55:29+ha%23he.csv20181009-59344-oydygk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 09 Oct 2018 16:09:57 GMT
      Etag:
      - W/"44-577cdf8170235"
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
  recorded_at: Tue, 09 Oct 2018 16:09:58 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/tbutpaa9cqs21i94uqxltdaicm96h0oc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - D7uMoAP4fyLwYlHAICjEUA:2SprKtkWTIGiTQBDijC8CQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - D7uMoAP4fyLwYlHAICjEUA:2SprKtkWTIGiTQBDijC8CQ:lNSaZCkN4P6ffVgO
      X-Gdc-Request-Time:
      - '64'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/tbutpaa9cqs21i94uqxltdaicm96h0oc/uploads/1539104949/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/tbutpaa9cqs21i94uqxltdaicm96h0oc/uploads/1539104949/ was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:09:10 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/tbutpaa9cqs21i94uqxltdaicm96h0oc/uploads/1539104949/abc-16:55:29+ha%23he.csv20181009-60999-d0b3zh
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/tbutpaa9cqs21i94uqxltdaicm96h0oc/uploads/1539104949/abc-16%3A55%3A29%2Bha%23he.csv20181009-60999-d0b3zh
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/tbutpaa9cqs21i94uqxltdaicm96h0oc/uploads/1539104949/abc-16%3A55%3A29%2Bha%23he.csv20181009-60999-d0b3zh has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:09:11 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ui4vmoeo2ejepcofkvufkov7a4zqz0zb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 1m8HreEl1yV1rDatYWLm0A:hYVBdF45GzEmXt8pydnIJw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ui4vmoeo2ejepcofkvufkov7a4zqz0zb/uploads/1539106502/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/ui4vmoeo2ejepcofkvufkov7a4zqz0zb/uploads/1539106502/ was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:35:03 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ui4vmoeo2ejepcofkvufkov7a4zqz0zb/uploads/1539106502/abc-16:55:29+ha%23he.csv20181009-62241-4t72o3
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/ui4vmoeo2ejepcofkvufkov7a4zqz0zb/uploads/1539106502/abc-16%3A55%3A29%2Bha%23he.csv20181009-62241-4t72o3
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/ui4vmoeo2ejepcofkvufkov7a4zqz0zb/uploads/1539106502/abc-16%3A55%3A29%2Bha%23he.csv20181009-62241-4t72o3 has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:35:04 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/j4j4m0bpg3iifdol5w8dj7wpomsl0fxz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Uzq7MWSXDD82hdC6zkhozA:uqNgL9ct0lFn0qt_qWM70Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Uzq7MWSXDD82hdC6zkhozA:uqNgL9ct0lFn0qt_qWM70Q:xjcQx1xgSiFNYlBD
      X-Gdc-Request-Time:
      - '51'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/j4j4m0bpg3iifdol5w8dj7wpomsl0fxz/uploads/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/j4j4m0bpg3iifdol5w8dj7wpomsl0fxz/uploads/testdir/ was not found on this server.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 07:40:28 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/j4j4m0bpg3iifdol5w8dj7wpomsl0fxz/uploads/testdir/abc-16:55:29+ha%23he.csv20181010-67137-1n2yymo
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/j4j4m0bpg3iifdol5w8dj7wpomsl0fxz/uploads/testdir/abc-16%3A55%3A29%2Bha%23he.csv20181010-67137-1n2yymo
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/j4j4m0bpg3iifdol5w8dj7wpomsl0fxz/uploads/testdir/abc-16%3A55%3A29%2Bha%23he.csv20181010-67137-1n2yymo has been created.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 07:40:29 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/q5hh0m6z45xw3h7z2t8o3vzurw454k95
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - T_GsxH1v8Aa_0n1mbbQGFQ:owx9cuhr600Etf6J9Ubhuw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - T_GsxH1v8Aa_0n1mbbQGFQ:owx9cuhr600Etf6J9Ubhuw:pk1mY9gE758GHN8m
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/q5hh0m6z45xw3h7z2t8o3vzurw454k95/uploads/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/q5hh0m6z45xw3h7z2t8o3vzurw454k95/uploads/testdir/ was not found on this server.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 08:23:12 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/q5hh0m6z45xw3h7z2t8o3vzurw454k95/uploads/testdir/abc-16:55:29+ha%23he.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/q5hh0m6z45xw3h7z2t8o3vzurw454k95/uploads/testdir/abc-16%3A55%3A29%2Bha%23he.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/q5hh0m6z45xw3h7z2t8o3vzurw454k95/uploads/testdir/abc-16%3A55%3A29%2Bha%23he.csv has been created.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 08:23:14 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - xr1s3mF8glvu_m3O5YMG4w:ts0ix7oiZjT5e0-LUQPQKw
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - xr1s3mF8glvu_m3O5YMG4w:ts0ix7oiZjT5e0-LUQPQKw:XnRf9q9M1B6iyYEK
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 11:07:35 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - xr1s3mF8glvu_m3O5YMG4w:wtgcCrJ8OXhz3yV_4yYqSQ
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - xr1s3mF8glvu_m3O5YMG4w:wtgcCrJ8OXhz3yV_4yYqSQ:BdrdMEAXQYWhDxGZ
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 11:07:36 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - xr1s3mF8glvu_m3O5YMG4w:MITqtAFDg8OWzg8aOkpL5Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - xr1s3mF8glvu_m3O5YMG4w:MITqtAFDg8OWzg8aOkpL5Q:l5nNXZVflL77AK3o
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-10-10
        10:25:03","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","language":"en-US","timezone":null,"ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Wed, 10 Oct 2018 11:07:36 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - xr1s3mF8glvu_m3O5YMG4w:P9pLOfwqhEa-adPOmgG9nQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - xr1s3mF8glvu_m3O5YMG4w:P9pLOfwqhEa-adPOmgG9nQ:lcRk2Ggx9LtKQmaz
      X-Gdc-Request-Time:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Wed, 10 Oct 2018 11:07:37 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Project for schedule
        testing"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - xr1s3mF8glvu_m3O5YMG4w:7h6s2K-cqSdOUWUoLsrqBg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - xr1s3mF8glvu_m3O5YMG4w:7h6s2K-cqSdOUWUoLsrqBg:SqFNHNvjCiS2IVaL
      X-Gdc-Request-Time:
      - '452'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/ghjsl2mtm2bf2zqv5ptdougwzoi5lrhn"}'
  recorded_at: Wed, 10 Oct 2018 11:07:38 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ghjsl2mtm2bf2zqv5ptdougwzoi5lrhn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - xr1s3mF8glvu_m3O5YMG4w:mNiP9egq-W1yedBxs2kTxw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ghjsl2mtm2bf2zqv5ptdougwzoi5lrhn/uploads/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/ghjsl2mtm2bf2zqv5ptdougwzoi5lrhn/uploads/testdir/ was not found on this server.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 11:07:46 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ghjsl2mtm2bf2zqv5ptdougwzoi5lrhn/uploads/testdir/abc-16:55:29+ha%23he.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/ghjsl2mtm2bf2zqv5ptdougwzoi5lrhn/uploads/testdir/abc-16%3A55%3A29%2Bha%23he.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/ghjsl2mtm2bf2zqv5ptdougwzoi5lrhn/uploads/testdir/abc-16%3A55%3A29%2Bha%23he.csv has been created.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 11:07:47 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 7UkNb_Oi32grtukkEaruyQ:4XA_F5t6Kpx29JUZ4-ot7Q
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - 7UkNb_Oi32grtukkEaruyQ:4XA_F5t6Kpx29JUZ4-ot7Q:AgCaetDwLdxs1qGn
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 11:07:49 GMT
recorded_with: VCR 4.0.0
