---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - imiqz5kIH-SSKu0GZoZnMA:ap_GeHBA97tjVE7AJbumzQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - imiqz5kIH-SSKu0GZoZnMA:ap_GeHBA97tjVE7AJbumzQ:ZJNNpebFRodc1Ges
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/ldm?thumbnail=1","self":"/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk","clearCaches":"/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/clearCaches","invitations":"/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/invitations","users":"/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/uploads/","ldm":"/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/ldm","metadata":"/gdc/md/n305zmn59vsva69emnx99fhgs1zlvbzk","publicartifacts":"/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/publicartifacts","roles":"/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/roles","userRoles":"/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/dataload","connectors":"/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/connectors","execute":"/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/execute","config":"/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/config","projectFeatureFlags":"/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/projectFeatureFlags","schedules":"/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/schedules","templates":"/gdc/md/n305zmn59vsva69emnx99fhgs1zlvbzk/templates"},"meta":{"created":"2018-10-09
        18:09:23","summary":"No summary","updated":"2018-10-09 18:09:24","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 09 Oct 2018 16:09:25 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/uploads/1539101368/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/uploads/1539101368/ was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 16:09:29 GMT
- request:
    method: mkcol
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/uploads/1539101368/
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/uploads/1539101368/
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Collection /gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/uploads/1539101368/ has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 16:09:29 GMT
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/uploads/1539101368/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/uploads/1539101368/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/uploads/1539101368/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 16:09:30 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/uploads/1539101368/test-ci-data.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 09 Oct 2018 16:09:30 GMT
      Etag:
      - W/"44-577cdf670ec53"
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
  recorded_at: Tue, 09 Oct 2018 16:09:30 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/f7fyagag0f14ypti3tr2cijt7orxnxim
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wHiXWxYenp8dh76vVnZm0Q:cc7CuW_epK5vMHsGQGX9oQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wHiXWxYenp8dh76vVnZm0Q:cc7CuW_epK5vMHsGQGX9oQ:s7phSP8EM4RAhKyx
      X-Gdc-Request-Time:
      - '80'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/f7fyagag0f14ypti3tr2cijt7orxnxim/uploads/1539104920/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/f7fyagag0f14ypti3tr2cijt7orxnxim/uploads/1539104920/ was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:08:40 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/f7fyagag0f14ypti3tr2cijt7orxnxim/uploads/1539104920/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/f7fyagag0f14ypti3tr2cijt7orxnxim/uploads/1539104920/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/f7fyagag0f14ypti3tr2cijt7orxnxim/uploads/1539104920/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:08:41 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/w6hyei1qgm0n7jb5tlftsh2w4i7lghym
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4oHj_HVcdlvDRwppvxlECA:7x6G_2vlHbDSOX4Rxs2ysw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/w6hyei1qgm0n7jb5tlftsh2w4i7lghym/uploads/1539106474/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/w6hyei1qgm0n7jb5tlftsh2w4i7lghym/uploads/1539106474/ was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:34:35 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/w6hyei1qgm0n7jb5tlftsh2w4i7lghym/uploads/1539106474/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/w6hyei1qgm0n7jb5tlftsh2w4i7lghym/uploads/1539106474/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/w6hyei1qgm0n7jb5tlftsh2w4i7lghym/uploads/1539106474/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:34:36 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/cd7w5frspk4xp2yk5yd1787xiizloqk4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - eu-tnxkloawLmaWJ0GSIyg:3gqNvszaKDSH7O_ZteTA0g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - eu-tnxkloawLmaWJ0GSIyg:3gqNvszaKDSH7O_ZteTA0g:29rxVcoTQq0AAWcR
      X-Gdc-Request-Time:
      - '54'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/cd7w5frspk4xp2yk5yd1787xiizloqk4/uploads/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/cd7w5frspk4xp2yk5yd1787xiizloqk4/uploads/testdir/ was not found on this server.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 07:39:54 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/cd7w5frspk4xp2yk5yd1787xiizloqk4/uploads/testdir/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/cd7w5frspk4xp2yk5yd1787xiizloqk4/uploads/testdir/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/cd7w5frspk4xp2yk5yd1787xiizloqk4/uploads/testdir/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 07:39:55 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/hubs2q8c3jfpe5msznjyvutpjzoefwqz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - mGVF5e07c80BBWgiSe42Vw:00AZn2O4J4Qofo5t-59FXA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - mGVF5e07c80BBWgiSe42Vw:00AZn2O4J4Qofo5t-59FXA:qEmQuthEGOb06s6d
      X-Gdc-Request-Time:
      - '51'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/hubs2q8c3jfpe5msznjyvutpjzoefwqz/uploads/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/hubs2q8c3jfpe5msznjyvutpjzoefwqz/uploads/testdir/ was not found on this server.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 11:07:16 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/hubs2q8c3jfpe5msznjyvutpjzoefwqz/uploads/testdir/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/hubs2q8c3jfpe5msznjyvutpjzoefwqz/uploads/testdir/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/hubs2q8c3jfpe5msznjyvutpjzoefwqz/uploads/testdir/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 11:07:18 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":psXUP2ZEtQvzJ8gdQvufBA:gKd-AbiASELZp3Rz4EWyvg"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - GoodData realm="GoodData API" cookie=GDCAuthSST location=/gdc/account/login
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '18'
      X-Gdc-Request:
      - ":psXUP2ZEtQvzJ8gdQvufBA:gKd-AbiASELZp3Rz4EWyvg:nBWU5WLOoQv4N4tW"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 24 Jan 2019 12:32:09 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":j1epq6zq-vn4x3Q8NOf-RQ:TTKpe-M1CVQl3BByPZiheA"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - ":j1epq6zq-vn4x3Q8NOf-RQ:TTKpe-M1CVQl3BByPZiheA:mOo0SRL6jIjVnbf7"
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 24 Jan 2019 13:21:18 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/q93uo4t5k5qk0x5nc8dmu5ez957e4gbu
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":j1epq6zq-vn4x3Q8NOf-RQ:aSzro-TjrxP9la1LbNJFdg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":j1epq6zq-vn4x3Q8NOf-RQ:aSzro-TjrxP9la1LbNJFdg:wfEoFNtUasdYn9qc"
      X-Gdc-Request-Time:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"lin[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/q93uo4t5k5qk0x5nc8dmu5ez957e4gbu/uploads/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/q93uo4t5k5qk0x5nc8dmu5ez957e4gbu/uploads/testdir/ was not found on this server.</p>
        </body></html>
  recorded_at: Thu, 24 Jan 2019 13:21:28 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/q93uo4t5k5qk0x5nc8dmu5ez957e4gbu/uploads/testdir/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/q93uo4t5k5qk0x5nc8dmu5ez957e4gbu/uploads/testdir/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/q93uo4t5k5qk0x5nc8dmu5ez957e4gbu/uploads/testdir/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Thu, 24 Jan 2019 13:21:30 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":968DZQSLtm2mCSQJEa4BIQ:fR7qR4kxk_jk26APnmHSkg"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request-Time:
      - '19'
      X-Gdc-Request:
      - ":968DZQSLtm2mCSQJEa4BIQ:fR7qR4kxk_jk26APnmHSkg:ck9meih6p3yGqUkj"
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 06:11:54 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uspyan4e45ent80ytjhhhy2afxyqt6or
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":968DZQSLtm2mCSQJEa4BIQ:iOzavYo4z8yah9NsdfdYIw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '92'
      X-Gdc-Request:
      - ":968DZQSLtm2mCSQJEa4BIQ:iOzavYo4z8yah9NsdfdYIw:c6Ij8oO9PO3y42rv"
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADING"},"links":{"ldm_thumbnail":"/gdc/projects/uspyan4e45ent80ytjhhhy2afxyqt6or/ldm?thumbnail=1","self":"/gdc/projects/uspyan4e45ent80ytjhhhy2afxyqt6or","clearCaches":"/gdc/projects/uspyan4e45ent80ytjhhhy2afxyqt6or/clearCaches","invitations":"/gdc/projects/uspyan4e45ent80ytjhhhy2afxyqt6or/invitations","users":"/gdc/projects/uspyan4e45ent80ytjhhhy2afxyqt6or/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/uspyan4e45ent80ytjhhhy2afxyqt6or/checkXaeCompatibility","uploads":"/gdc/projects/uspyan4e45ent80ytjhhhy2afxyqt6or/uploads/","ldm":"/gdc/projects/uspyan4e45ent80ytjhhhy2afxyqt6or/ldm","metadata":"/gdc/md/uspyan4e45ent80ytjhhhy2afxyqt6or","publicartifacts":"/gdc/projects/uspyan4e45ent80ytjhhhy2afxyqt6or/publicartifacts","roles":"/gdc/projects/uspyan4e45ent80ytjhhhy2afxyqt6or/roles","userRoles":"/gdc/projects/uspyan4e45ent80ytjhhhy2afxyqt6or/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/uspyan4e45ent80ytjhhhy2afxyqt6or/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/uspyan4e45ent80ytjhhhy2afxyqt6or/dataload","connectors":"/gdc/projects/uspyan4e45ent80ytjhhhy2afxyqt6or/connectors","execute":"/gdc/projects/uspyan4e45ent80ytjhhhy2afxyqt6or/execute","config":"/gdc/projects/uspyan4e45ent80ytjhhhy2afxyqt6or/config","projectFeatureFlags":"/gdc/projects/uspyan4e45ent80ytjhhhy2afxyqt6or/projectFeatureFlags","schedules":"/gdc/projects/uspyan4e45ent80ytjhhhy2afxyqt6or/schedules","templates":"/gdc/md/uspyan4e45ent80ytjhhhy2afxyqt6or/templates"},"meta":{"created":"2020-01-15
        07:11:57","summary":"No summary","updated":"2020-01-15 07:11:58","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 15 Jan 2020 06:11:58 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uspyan4e45ent80ytjhhhy2afxyqt6or/uploads/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/uspyan4e45ent80ytjhhhy2afxyqt6or/uploads/testdir/ was not found on this server.</p>
        </body></html>
  recorded_at: Wed, 15 Jan 2020 06:12:06 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uspyan4e45ent80ytjhhhy2afxyqt6or/uploads/testdir/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/uspyan4e45ent80ytjhhhy2afxyqt6or/uploads/testdir/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/uspyan4e45ent80ytjhhhy2afxyqt6or/uploads/testdir/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Wed, 15 Jan 2020 06:12:08 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":W-3GlspCabOtwZwYmKReJg:nXE4Jq4Bmye70WTBJ4wC_Q"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '199'
      X-Gdc-Request:
      - ":W-3GlspCabOtwZwYmKReJg:nXE4Jq4Bmye70WTBJ4wC_Q:S87N0a44oRs4oA1f"
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 07:06:20 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":W-3GlspCabOtwZwYmKReJg:ohr2iRObEGQLE6FKnPedLg"
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '10'
      X-Gdc-Request:
      - ":W-3GlspCabOtwZwYmKReJg:ohr2iRObEGQLE6FKnPedLg:79xU0AMolNGEKPxx"
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2019-03-15 10:00:00","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Wed, 15 Jan 2020 07:06:22 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":W-3GlspCabOtwZwYmKReJg:OsCOK0qMc_A8xWQWAGA5yg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '29'
      X-Gdc-Request:
      - ":W-3GlspCabOtwZwYmKReJg:OsCOK0qMc_A8xWQWAGA5yg:H35cipdZGLHjiaGZ"
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
[...]
