---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - imiqz5kIH-SSKu0GZoZnMA:ap_GeHBA97tjVE7AJbumzQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - imiqz5kIH-SSKu0GZoZnMA:ap_GeHBA97tjVE7AJbumzQ:ZJNNpebFRodc1Ges
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/ldm?thumbnail=1","self":"/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk","clearCaches":"/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/clearCaches","invitations":"/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/invitations","users":"/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/uploads/","ldm":"/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/ldm","metadata":"/gdc/md/n305zmn59vsva69emnx99fhgs1zlvbzk","publicartifacts":"/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/publicartifacts","roles":"/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/roles","userRoles":"/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/dataload","connectors":"/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/connectors","execute":"/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/execute","config":"/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/config","projectFeatureFlags":"/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/projectFeatureFlags","schedules":"/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/schedules","templates":"/gdc/md/n305zmn59vsva69emnx99fhgs1zlvbzk/templates"},"meta":{"created":"2018-10-09
        18:09:23","summary":"No summary","updated":"2018-10-09 18:09:24","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Project
        for schedule testing","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 09 Oct 2018 16:09:25 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/uploads/1539101368/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/uploads/1539101368/ was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 16:09:29 GMT
- request:
    method: mkcol
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/uploads/1539101368/
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/uploads/1539101368/
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Collection /gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/uploads/1539101368/ has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 16:09:29 GMT
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/uploads/1539101368/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/uploads/1539101368/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/uploads/1539101368/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 16:09:30 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/n305zmn59vsva69emnx99fhgs1zlvbzk/uploads/1539101368/test-ci-data.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 09 Oct 2018 16:09:30 GMT
      Etag:
      - W/"44-577cdf670ec53"
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
  recorded_at: Tue, 09 Oct 2018 16:09:30 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/f7fyagag0f14ypti3tr2cijt7orxnxim
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - wHiXWxYenp8dh76vVnZm0Q:cc7CuW_epK5vMHsGQGX9oQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - wHiXWxYenp8dh76vVnZm0Q:cc7CuW_epK5vMHsGQGX9oQ:s7phSP8EM4RAhKyx
      X-Gdc-Request-Time:
      - '80'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/f7fyagag0f14ypti3tr2cijt7orxnxim/uploads/1539104920/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/f7fyagag0f14ypti3tr2cijt7orxnxim/uploads/1539104920/ was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:08:40 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/f7fyagag0f14ypti3tr2cijt7orxnxim/uploads/1539104920/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/f7fyagag0f14ypti3tr2cijt7orxnxim/uploads/1539104920/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/f7fyagag0f14ypti3tr2cijt7orxnxim/uploads/1539104920/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:08:41 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/w6hyei1qgm0n7jb5tlftsh2w4i7lghym
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4oHj_HVcdlvDRwppvxlECA:7x6G_2vlHbDSOX4Rxs2ysw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/w6hyei1qgm0n7jb5tlftsh2w4i7lghym/uploads/1539106474/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/w6hyei1qgm0n7jb5tlftsh2w4i7lghym/uploads/1539106474/ was not found on this server.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:34:35 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/w6hyei1qgm0n7jb5tlftsh2w4i7lghym/uploads/1539106474/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/w6hyei1qgm0n7jb5tlftsh2w4i7lghym/uploads/1539106474/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/w6hyei1qgm0n7jb5tlftsh2w4i7lghym/uploads/1539106474/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Tue, 09 Oct 2018 17:34:36 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/cd7w5frspk4xp2yk5yd1787xiizloqk4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - eu-tnxkloawLmaWJ0GSIyg:3gqNvszaKDSH7O_ZteTA0g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - eu-tnxkloawLmaWJ0GSIyg:3gqNvszaKDSH7O_ZteTA0g:29rxVcoTQq0AAWcR
      X-Gdc-Request-Time:
      - '54'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/cd7w5frspk4xp2yk5yd1787xiizloqk4/uploads/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/cd7w5frspk4xp2yk5yd1787xiizloqk4/uploads/testdir/ was not found on this server.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 07:39:54 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/cd7w5frspk4xp2yk5yd1787xiizloqk4/uploads/testdir/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/cd7w5frspk4xp2yk5yd1787xiizloqk4/uploads/testdir/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/cd7w5frspk4xp2yk5yd1787xiizloqk4/uploads/testdir/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 07:39:55 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - mGVF5e07c80BBWgiSe42Vw:lNvWel3Xospt9naaV0IlUw
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - mGVF5e07c80BBWgiSe42Vw:lNvWel3Xospt9naaV0IlUw:Yzv6mUul8ySffDu9
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 11:07:06 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - mGVF5e07c80BBWgiSe42Vw:wkEsvABP4ipeptGDLaX8ww
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - mGVF5e07c80BBWgiSe42Vw:wkEsvABP4ipeptGDLaX8ww:aNbFCHIIGYZVDlN7
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 11:07:06 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - mGVF5e07c80BBWgiSe42Vw:TlJQFor1p7vYUAjOqs8hQQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - mGVF5e07c80BBWgiSe42Vw:TlJQFor1p7vYUAjOqs8hQQ:xVBQv4APi4H4IaFw
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-10-10
        10:25:03","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","language":"en-US","timezone":null,"ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Wed, 10 Oct 2018 11:07:07 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - mGVF5e07c80BBWgiSe42Vw:Pj2n5kugBFPI8sIGcimBpg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - mGVF5e07c80BBWgiSe42Vw:Pj2n5kugBFPI8sIGcimBpg:9GsyERMx79dkzLAZ
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Wed, 10 Oct 2018 11:07:07 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Project for schedule
        testing"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - mGVF5e07c80BBWgiSe42Vw:jSIztZ12u11XfjKs4W_Erg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - mGVF5e07c80BBWgiSe42Vw:jSIztZ12u11XfjKs4W_Erg:1aTQJoHE1jrZsSHi
      X-Gdc-Request-Time:
      - '406'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/hubs2q8c3jfpe5msznjyvutpjzoefwqz"}'
  recorded_at: Wed, 10 Oct 2018 11:07:08 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/hubs2q8c3jfpe5msznjyvutpjzoefwqz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - mGVF5e07c80BBWgiSe42Vw:00AZn2O4J4Qofo5t-59FXA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/hubs2q8c3jfpe5msznjyvutpjzoefwqz/uploads/testdir/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /gdc/projects/hubs2q8c3jfpe5msznjyvutpjzoefwqz/uploads/testdir/ was not found on this server.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 11:07:16 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/hubs2q8c3jfpe5msznjyvutpjzoefwqz/uploads/testdir/test-ci-data.csv
    body:
      encoding: ASCII-8BIT
      string: |
        firstname, lastname, email
        tomas, korcak, tomas.korcak@gooddata.com
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://staging2-lcm-prod.intgdc.com/gdc/projects/hubs2q8c3jfpe5msznjyvutpjzoefwqz/uploads/testdir/test-ci-data.csv
      Content-Type:
      - application/binary
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>201 Created</title>
        </head><body>
        <h1>Created</h1>
        <p>Resource /gdc/projects/hubs2q8c3jfpe5msznjyvutpjzoefwqz/uploads/testdir/test-ci-data.csv has been created.</p>
        </body></html>
  recorded_at: Wed, 10 Oct 2018 11:07:18 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - E0B8XPanyMItkTCT-muLVg:xOD8wWkG0gS-4ov8rwyNJg
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '27'
      X-Gdc-Request:
      - E0B8XPanyMItkTCT-muLVg:xOD8wWkG0gS-4ov8rwyNJg:kHF5ac9DfjTAxZjF
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 11:07:19 GMT
recorded_with: VCR 4.0.0
