---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:DUI0BuJzY-TA4IC609Yohg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:DUI0BuJzY-TA4IC609Yohg:WIUV3rfLzJ2Aro4j
      X-Gdc-Request-Time:
      - '11'
    body:
      encoding: ASCII-8BIT
      string: '{"segment":{"id":"segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54","masterProject":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients?segment=segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54&limit=1000"}}}'
  recorded_at: Mon, 04 Jun 2018 13:04:25 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:u6s5qf8EkA6b2ioYsYLj2Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:u6s5qf8EkA6b2ioYsYLj2Q:UvQsHzMvTgDVxEDk
      X-Gdc-Request-Time:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"dataProduct":{"id":"default","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default","domain":"/gdc/domains/staging2-lcm-prod","segments":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients"}}}'
  recorded_at: Mon, 04 Jun 2018 13:04:26 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_248da42d-b5c6-4596-9934-936538a029c0/settings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:fWHvH8nWIYD38YETtb_Dtw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:fWHvH8nWIYD38YETtb_Dtw:heASEakPWpntd0Hx
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"settingsList":{"links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_248da42d-b5c6-4596-9934-936538a029c0/settings"},"items":[]}}'
  recorded_at: Mon, 04 Jun 2018 13:04:26 GMT
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/clients/tenant_248da42d-b5c6-4596-9934-936538a029c0/settings/lcm.token
    body:
      encoding: UTF-8
      string: '{"setting":{"name":"lcm.token","value":"XXX-lcm-token-XXX"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:o6CeGrg87R_jGEdYfcEcQA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline;filename=f.txt
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:o6CeGrg87R_jGEdYfcEcQA:aOBDDjTq61hlk30L
      X-Gdc-Request-Time:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"setting":{"name":"lcm.token","value":"XXX-lcm-token-XXX","links":{"self":"/gdc/domains/staging2-lcm-prod/clients/tenant_248da42d-b5c6-4596-9934-936538a029c0/settings/lcm.token"}}}'
  recorded_at: Mon, 04 Jun 2018 13:04:27 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_248da42d-b5c6-4596-9934-936538a029c0/settings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:KKx5aQynfJZk1oz5CWqa7w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:KKx5aQynfJZk1oz5CWqa7w:lKA6u0Tq2ZbXggba
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"settingsList":{"links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_248da42d-b5c6-4596-9934-936538a029c0/settings"},"items":[{"setting":{"name":"lcm.token","value":"XXX-lcm-token-XXX-(updated)","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_248da42d-b5c6-4596-9934-936538a029c0/settings/lcm.token"}}}]}}'
  recorded_at: Mon, 04 Jun 2018 13:04:32 GMT
recorded_with: VCR 4.0.0
