---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:DUI0BuJzY-TA4IC609Yohg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:DUI0BuJzY-TA4IC609Yohg:WIUV3rfLzJ2Aro4j
      X-Gdc-Request-Time:
      - '11'
    body:
      encoding: ASCII-8BIT
      string: '{"segment":{"id":"segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54","masterProject":"/gdc/projects/xku9j59m2dz6jmlp14azmm04xmw6mj87","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients?segment=segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54&limit=1000"}}}'
  recorded_at: Mon, 04 Jun 2018 13:04:25 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_248da42d-b5c6-4596-9934-936538a029c0/settings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:fWHvH8nWIYD38YETtb_Dtw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:fWHvH8nWIYD38YETtb_Dtw:heASEakPWpntd0Hx
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"settingsList":{"links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_248da42d-b5c6-4596-9934-936538a029c0/settings"},"items":[]}}'
  recorded_at: Mon, 04 Jun 2018 13:04:26 GMT
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/clients/tenant_248da42d-b5c6-4596-9934-936538a029c0/settings/lcm.token
    body:
      encoding: UTF-8
      string: '{"setting":{"name":"lcm.token","value":"XXX-lcm-token-XXX"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:o6CeGrg87R_jGEdYfcEcQA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline;filename=f.txt
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:o6CeGrg87R_jGEdYfcEcQA:aOBDDjTq61hlk30L
      X-Gdc-Request-Time:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"setting":{"name":"lcm.token","value":"XXX-lcm-token-XXX","links":{"self":"/gdc/domains/staging2-lcm-prod/clients/tenant_248da42d-b5c6-4596-9934-936538a029c0/settings/lcm.token"}}}'
  recorded_at: Mon, 04 Jun 2018 13:04:27 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-5512853c-2fcf-428e-b40d-fcac616277e9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:6BgUPK_uo2TdCcfD6oJxLA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:6BgUPK_uo2TdCcfD6oJxLA:FFim5VrFGXCPruZ9
      X-Gdc-Request-Time:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"segment":{"id":"segment-5512853c-2fcf-428e-b40d-fcac616277e9","masterProject":"/gdc/projects/b4wm02d5bfwu3gy36tntxu4gm5faawta","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-5512853c-2fcf-428e-b40d-fcac616277e9","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients?segment=segment-5512853c-2fcf-428e-b40d-fcac616277e9&limit=1000"}}}'
  recorded_at: Wed, 10 Oct 2018 10:28:29 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-7547d6ab-99f0-42f2-a523-e853f666c6cb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":VPQxndjR6y85kHcLWCKjeQ:XmNpsHAWyPiclA56eOQMbA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":VPQxndjR6y85kHcLWCKjeQ:XmNpsHAWyPiclA56eOQMbA:qOWpYTkV0c8TnmuR"
      X-Gdc-Request-Time:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"segment":{"id":"segment-7547d6ab-99f0-42f2-a523-e853f666c6cb","masterProject":"/gdc/projects/jcqf54hruqupddo8ik9x13ac0hjqpl36","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-7547d6ab-99f0-42f2-a523-e853f666c6cb","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients?segment=segment-7547d6ab-99f0-42f2-a523-e853f666c6cb&limit=1000"}}}'
  recorded_at: Thu, 24 Jan 2019 12:41:31 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-ebc58f78-4f64-4462-b346-4d03dc30522c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Q8zktsCSozedYOeqV6NreQ:y25JFpa9itd0dqCaGXVjQQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '19'
      X-Gdc-Request:
      - ":Q8zktsCSozedYOeqV6NreQ:y25JFpa9itd0dqCaGXVjQQ:9j7KyjFPw8bS74HJ"
    body:
      encoding: ASCII-8BIT
      string: '{"segment":{"id":"segment-ebc58f78-4f64-4462-b346-4d03dc30522c","masterProject":"/gdc/projects/laf2yx273fok1c4gn8j7n45o6a9fzkj8","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-ebc58f78-4f64-4462-b346-4d03dc30522c","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients?segment=segment-ebc58f78-4f64-4462-b346-4d03dc30522c&limit=1000"}}}'
  recorded_at: Wed, 15 Jan 2020 04:34:46 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Q8zktsCSozedYOeqV6NreQ:30py6UznOdXgsvzge-D0Zw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '14'
      X-Gdc-Request:
      - ":Q8zktsCSozedYOeqV6NreQ:30py6UznOdXgsvzge-D0Zw:ycQfavMsKAw3S9vy"
    body:
      encoding: ASCII-8BIT
      string: '{"dataProduct":{"id":"default","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default","domain":"/gdc/domains/staging2-lcm-prod","segments":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients"}}}'
  recorded_at: Wed, 15 Jan 2020 04:34:47 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_817925ac-3d33-4972-883d-3f0aa1815fe2/settings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Q8zktsCSozedYOeqV6NreQ:m6F5YMVxSEpje_u2PHnW3Q"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '43'
      X-Gdc-Request:
      - ":Q8zktsCSozedYOeqV6NreQ:m6F5YMVxSEpje_u2PHnW3Q:nxXMc0qtgz9FxhTm"
    body:
      encoding: ASCII-8BIT
      string: '{"settingsList":{"links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_817925ac-3d33-4972-883d-3f0aa1815fe2/settings"},"items":[{"setting":{"name":"lcm.token","value":"XXX-lcm-token-XXX-(updated)","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_817925ac-3d33-4972-883d-3f0aa1815fe2/settings/lcm.token"}}}]}}'
  recorded_at: Wed, 15 Jan 2020 04:34:55 GMT
recorded_with: VCR 5.0.0
