---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:jwF5GsjnQrAkAEWYQUmTbw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:jwF5GsjnQrAkAEWYQUmTbw:yE0Q8O40vSUG1rz5
      X-Gdc-Request-Time:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aaswN8vegPaB","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/380","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/382","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/392","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}}]},{"identifier":"aatwN8vegPaB","title":"Tab
        2","items":[{"reportItem":{"obj":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/380","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/382","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/392","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}}]}],"filters":[]},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/393","tags":"dashboard","created":"2018-12-05
        15:03:37","identifier":"dashboard.dashboard.1","deprecated":"0","summary":"","isProduction":1,"title":"Dashboard
        1","category":"projectDashboard","updated":"2018-12-05 15:03:38","contributor":"/gdc/account/profile/04848a0813ded971f3359f63d533c440"}}},{"projectDashboard":{"content":{"tabs":[{"identifier":"aarwNLTchd0t","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/380","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/382","[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/380
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:pSvUnYye_bjTPj96RIgmjw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:pSvUnYye_bjTPj96RIgmjw:NayLVUiSJZt6Mj9o
      X-Gdc-Request-Time:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"report":{"content":{"domains":[],"definitions":["/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/379"]},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/380","tags":"","created":"2018-12-05
        15:02:49","identifier":"report.customers.count.by.gender","deprecated":"0","summary":"","isProduction":1,"title":"Customers
        Count By Gender","category":"report","updated":"2018-12-05 15:02:51","contributor":"/gdc/account/profile/04848a0813ded971f3359f63d533c440"}}}'
  recorded_at: Wed, 05 Dec 2018 14:11:12 GMT
[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/379
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:am6TU9qBtg0CSY1BQlDTnw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:am6TU9qBtg0CSY1BQlDTnw:O6XO0c43qwCWUCqk
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[{"attribute":{"alias":"","totals":[[]],"uri":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/289"}}],"metrics":[{"alias":"Customers
        Count","uri":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/365"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"links":{"explain2":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/379/explain2"},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/379","tags":"","created":"2018-12-05
        15:02:48","identifier":"aajwNKVKgLNy","deprecated":"0","summary":"","isProduction":1,"title":"Untitled
        report definition","category":"reportDefinition","updated":"2018-12-05 15:02:48","contributor":"/gdc/account/profile/04848a0813ded971f3359f63d533c440"}}}'
  recorded_at: Wed, 05 Dec 2018 14:11:22 GMT
[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/365
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:-mmb6Mmx3PojTnDruC4bPg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:-mmb6Mmx3PojTnDruC4bPg:TejhMUF2CTc5oPEI
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"COUNT","content":[{"value":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/277","position":{"column":27,"line":1},"type":"attribute
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        COUNT([/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/277])"},"links":{"explain2":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/365/explain2"},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/obj/365","tags":"","created":"2018-12-05
        15:02:24","identifier":"metric.customers.count","deprecated":"0","summary":"","isProduction":1,"title":"Customers
        Count","category":"metric","updated":"2018-12-05 15:02:25","contributor":"/gdc/account/profile/04848a0813ded971f3359f63d533c440"}}}'
  recorded_at: Wed, 05 Dec 2018 14:11:24 GMT
[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:6a7kLci5jwR2R-JilqQNXA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
    [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:cwdiZgDtpP-IPMOueRXN8g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:cwdiZgDtpP-IPMOueRXN8g:aPRDoOt4Zc8fkLCx
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"valu[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/md9qxehb22n69owr62b2m3qda4vlokgv/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:Dw0QD2gMJmVm3dnChbtYMg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
   [...]
