---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":9T_8nX3xOHi4vkQaJF4n7Q:0N96GT57Oz47cGv8iP-WQA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":9T_8nX3xOHi4vkQaJF4n7Q:0N96GT57Oz47cGv8iP-WQA:DroRthnPf31u0hYV"
      X-Gdc-Request-Time:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aaiRPz7EapFI","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/380","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/382","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/392","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}}]},{"identifier":"aajRPz7EapFI","title":"Tab
        2","items":[{"reportItem":{"obj":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/380","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/382","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/392","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}}]}],"filters":[]},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/393","tags":"dashboard","created":"2019-02-21
        10:47:16","identifier":"dashboard.dashboard.1","deprecated":"0","summary":"","isProduction":1,"title":"Dashboard
        1","category":"projectDashboard","updated":"2019-02-21 10:47:17","contributor":"/gdc/account/profile/04848a0813ded971f3359f63d533c440"}}},{"projectDashboard":{"content":{"tabs":[{"identifier":"aaiRQJCUeE4w","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/380","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/382","[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/380
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":9T_8nX3xOHi4vkQaJF4n7Q:eHiozASEAVStLO5sNIOnlw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":9T_8nX3xOHi4vkQaJF4n7Q:eHiozASEAVStLO5sNIOnlw:rNDLK5N0XBgo6XmI"
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"report":{"content":{"domains":[],"definitions":["/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/379"]},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/380","tags":"","created":"2019-02-21
        10:46:25","identifier":"report.customers.count.by.gender","deprecated":"0","summary":"","isProduction":1,"title":"Customers
        Count By Gender","category":"report","updated":"2019-02-21 10:46:26","contributor":"/gdc/account/profile/04848a0813ded971f3359f63d533c440"}}}'
  recorded_at: Thu, 21 Feb 2019 09:54:56 GMT
[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/379
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":9T_8nX3xOHi4vkQaJF4n7Q:CF53bgmkWvx83lMFeq5Tfw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":9T_8nX3xOHi4vkQaJF4n7Q:CF53bgmkWvx83lMFeq5Tfw:gUBoLanksVkdgvkw"
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[{"attribute":{"alias":"","totals":[[]],"uri":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/289"}}],"metrics":[{"alias":"Customers
        Count","uri":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/365"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"links":{"explain2":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/379/explain2"},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/379","tags":"","created":"2019-02-21
        10:46:23","identifier":"aabRRaxceHXw","deprecated":"0","summary":"","isProduction":1,"title":"Untitled
        report definition","category":"reportDefinition","updated":"2019-02-21 10:46:23","contributor":"/gdc/account/profile/04848a0813ded971f3359f63d533c440"}}}'
  recorded_at: Thu, 21 Feb 2019 09:55:05 GMT
[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/365
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":9T_8nX3xOHi4vkQaJF4n7Q:FTsuxphYFmm7tLSupkUsgg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":9T_8nX3xOHi4vkQaJF4n7Q:FTsuxphYFmm7tLSupkUsgg:PKaviZTnz1a5QGV0"
      X-Gdc-Request-Time:
      - '54'
    body:
      encoding: ASCII-8BIT
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"COUNT","content":[{"value":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/277","position":{"column":27,"line":1},"type":"attribute
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        COUNT([/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/277])"},"links":{"explain2":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/365/explain2"},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/365","tags":"","created":"2019-02-21
        10:45:59","identifier":"metric.customers.count","deprecated":"0","summary":"","isProduction":1,"title":"Customers
        Count","category":"metric","updated":"2019-02-21 10:46:01","contributor":"/gdc/account/profile/04848a0813ded971f3359f63d533c440"}}}'
  recorded_at: Thu, 21 Feb 2019 09:55:07 GMT
[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":9T_8nX3xOHi4vkQaJF4n7Q:zUuyUgmURyUUb0kLt-YJCQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-G[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/fntyccmdi4qxtuvede52gb9lc4lbbk2t/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:l3J7bJlTLtpzSDTYRoPwrg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/acq3p6l60wewx70379q91w8o5toohfk4/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:dgaHMPYUSILbUScaQu2hFw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-[...]
