---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/userGroups?project=pltywm9akkj6uqyzf6y14ksv2xuek39r
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:YG38NSFVj3_U7h5MeiTQ4A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:YG38NSFVj3_U7h5MeiTQ4A:N5zMRtVlTKQcXdYK
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bydmC2s24CmmPN-dZyQE0yw","description":"My Test Description","domain":null,"project":"/gdc/projects/pltywm9akkj6uqyzf6y14ksv2xuek39r"},"meta":{"created":"2018-12-05
        15:09:37","updated":"2018-12-05 15:09:37"},"links":{"self":"/gdc/userGroups/bydmC2s24CmmPN-dZyQE0yw","members":"/gdc/userGroups/bydmC2s24CmmPN-dZyQE0yw/members","modifyMembers":"/gdc/userGroups/bydmC2s24CmmPN-dZyQE0yw/modifyMembers"}}}]}}'
  recorded_at: Wed, 05 Dec 2018 14:10:30 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/userGroups?project=md9qxehb22n69owr62b2m3qda4vlokgv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:DLcCwpgUTYFX6nl0uisgMg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:DLcCwpgUTYFX6nl0uisgMg:iUehO24InRxwmgET
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bD8Q5AhDoA3HSHajHT-LfZQ","description":"My Test Description","domain":null,"project":"/gdc/projects/md9qxehb22n69owr62b2m3qda4vlokgv"},"meta":{"created":"2018-12-05
        15:09:46","updated":"2018-12-05 15:09:46"},"links":{"self":"/gdc/userGroups/bD8Q5AhDoA3HSHajHT-LfZQ","members":"/gdc/userGroups/bD8Q5AhDoA3HSHajHT-LfZQ/members","modifyMembers":"/gdc/userGroups/bD8Q5AhDoA3HSHajHT-LfZQ/modifyMembers"}}}]}}'
  recorded_at: Wed, 05 Dec 2018 14:10:30 GMT
recorded_with: VCR 4.0.0
