---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/userGroups?project=lal8kn42xm842yf2k7px2hvpy16sqo2s
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:eF_6hVcEXCbGemNYTYm4KA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:eF_6hVcEXCbGemNYTYm4KA:TyOSo5ISqGb7YzU8
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bFRjgd4TOvAhMlgmQQGpeCg","description":"My Test Description","domain":null,"project":"/gdc/projects/lal8kn42xm842yf2k7px2hvpy16sqo2s"},"meta":{"created":"2018-12-11
        15:00:52","updated":"2018-12-11 15:00:52"},"links":{"self":"/gdc/userGroups/bFRjgd4TOvAhMlgmQQGpeCg","members":"/gdc/userGroups/bFRjgd4TOvAhMlgmQQGpeCg/members","modifyMembers":"/gdc/userGroups/bFRjgd4TOvAhMlgmQQGpeCg/modifyMembers"}}}]}}'
  recorded_at: Tue, 11 Dec 2018 14:02:08 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/userGroups?project=p84xbphwrgwneld8mfj9fmi9t6l5mpoq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:ja4aTKWkhO6Q2HSRXsowNw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:ja4aTKWkhO6Q2HSRXsowNw:FiDbYtIIHObIbcQG
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bpRtp3cwz1zgeTTI5Gs7Y0w","description":"My Test Description","domain":null,"project":"/gdc/projects/p84xbphwrgwneld8mfj9fmi9t6l5mpoq"},"meta":{"created":"2018-12-11
        15:01:06","updated":"2018-12-11 15:01:06"},"links":{"self":"/gdc/userGroups/bpRtp3cwz1zgeTTI5Gs7Y0w","members":"/gdc/userGroups/bpRtp3cwz1zgeTTI5Gs7Y0w/members","modifyMembers":"/gdc/userGroups/bpRtp3cwz1zgeTTI5Gs7Y0w/modifyMembers"}}}]}}'
  recorded_at: Tue, 11 Dec 2018 14:02:09 GMT
recorded_with: VCR 4.0.0
