---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":9T_8nX3xOHi4vkQaJF4n7Q:stM40Rc7OCf_4jegY9ZnQw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":9T_8nX3xOHi4vkQaJF4n7Q:stM40Rc7OCf_4jegY9ZnQw:i28hBWTFfrhGfI2x"
      X-Gdc-Request-Time:
      - '319'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":32,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/130"}],"displayForms":[],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/264","sort":"pk","dimension":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/111","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/178"},{"multivalue":false,"type":"col","data":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/186"},{"multivalue":false,"type":"col","data":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/201"}]},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/214","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"effective_to_date.year","deprecated":"0","summary":"Year","isProduction":1,"title":"Year
        (Effective To Date)","category":"attribute","updated":"2019-02-21 10:43:03","contributor":"/gdc/account/profile/04848a0813ded971f3359f63d533c440"}}},{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/132"}],"displayForms":[{"content":{"formOf":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/215","expression":"[/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/133]","default":1},"links":{"elements":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/233/elements"},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/hspavgwen70lfmb7e5miz8jeu1v7gei8/obj/233","tags":"","created":"2010-08-02
        08:13:42","identifier":"effective_to_date.aam81lMifn6q","deprecated":"0","summary":"DisplayForm
        default.","isProduction":1,"title":"default (Effective To Date)","category":"attributeDisplayForm","updated":"2019-02-21
        10:43:03","contributor":"/gdc/accoun[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/fntyccmdi4qxtuvede52gb9lc4lbbk2t/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:7FyIDQ1h-skIpeoCtWsWNg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
     [...]
