---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-dev.intgdc.com/gdc/projects/auf7ejg5mq8nlrydldhrddyssk6wsh4e/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:28-4E1pR4IW4ghQ_-gswYw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:28-4E1pR4IW4ghQ_-gswYw:YIIXlrqCiYY3EqK6"
      X-Gdc-Request-Time:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":3},"schedulesLink":"/gdc/projects/auf7ejg5mq8nlrydldhrddyssk6wsh4e/schedules","items":[{"schedule":{"name":"add-component-schedule","type":"MSETL","state":"ENABLED","params":{"EXECUTABLE":"add-component-schedule","PROCESS_ID":"368faa4b-2d56-4662-9233-239f99ae8662"},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/auf7ejg5mq8nlrydldhrddyssk6wsh4e/schedules/5cb86f4ee4b00d861ca485c6","executions":"/gdc/projects/auf7ejg5mq8nlrydldhrddyssk6wsh4e/schedules/5cb86f4ee4b00d861ca485c6/executions"}}},{"schedule":{"name":"main.rb","type":"MSETL","state":"DISABLED","params":{"param_1":"a","EXECUTABLE":"main.rb","param_2":"b","PROCESS_ID":"0be05bea-f71a-4917-8caf-f6fc4ad8d49a"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/auf7ejg5mq8nlrydldhrddyssk6wsh4e/schedules/5cb86f49e4b00d861ca485c5","executions":"/gdc/projects/auf7ejg5mq8nlrydldhrddyssk6wsh4e/schedules/5cb86f49e4b00d861ca485c5/executions"},"triggerScheduleId":"5cb86f46e4b00d861ca485c4"}},{"schedule":{"name":"test.grf","type":"MSETL","state":"DISABLED","params":{"param_1":"a","EXECUTABLE":"graph/test.grf","param_2":"b","PROCESS_ID":"00827e06-ce31-4f03-b363-03c2c323e0bb"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2020-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/auf7ejg5mq8nlrydldhrddyssk6wsh4e/schedules/5cb86f46e4b00d861ca485c4","executions":"/gdc/projects/auf7ejg5mq8nlrydldhrddyssk6wsh4e/schedules/5cb86f46e4b00d861ca485c4/executions"}}}]}}'
  recorded_at: Thu, 18 Apr 2019 12:43:13 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:dVn6wWHQdFTAiHPAMbIMEA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:dVn6wWHQdFTAiHPAMbIMEA:yo9ol6BsLPMXJM11"
      X-Gdc-Request-Time:
      - '11'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/schedules","items":[{"schedule":{"name":"main.rb","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"main.rb","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"142ee5b3-27b6-4290-8aef-5a5f80294aed"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/schedules/5cb8707ae4b0fc1fc980280d","executions":"/gdc/projects/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/schedules/5cb8707ae4b0fc1fc980280d/executions"},"triggerScheduleId":"5cb87078e4b00d861ca485c7"}},{"schedule":{"name":"test.grf","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"graph/test.grf","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"09fedfb7-81b9-4c59-a1c8-7cffe59157b4"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2020-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/schedules/5cb87078e4b00d861ca485c7","executions":"/gdc/projects/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/schedules/5cb87078e4b00d861ca485c7/executions"}}}]}}'
  recorded_at: Thu, 18 Apr 2019 12:43:14 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/c0ioxhc4zp70r6u4lgrhfcq5ez2c1w6u/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:JXKXxLllLesgSteAYKUtCA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging2-lcm-dev.intgdc.com/gdc/projects/emu1iycdzzkzc78ynfrbhk7hr2km3n6w/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":3cZr_20ED6RmURmqSsVX8g:V4LZVckDHT7GVLoVn9ZZPw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '10'
      X-Gdc-Request:
      - ":3cZr_20ED6RmURmqSsVX8g:V4LZVckDHT7GVLoVn9ZZPw:MKxWFXGu9KnnSxpC"
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":3},"schedulesLink":"/gdc/projects/emu1iycdzzkzc78ynfrbhk7hr2km3n6w/schedules","items":[{"sche[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/d3xxd6w9kwd8j9xwgb3289iuotwnnmra/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:OUN5l7kRvRB22KkenMtIlA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z3kll3w3y61kzbaiuqmyzb5eylkz9w86/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:9oqLDvdTeAbBtNJqJCmfbw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X[...]
