---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/projects/hspavgwen70lfmb7e5miz8jeu1v7gei8/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":9T_8nX3xOHi4vkQaJF4n7Q:JW_Kn2ZUmyLE9GB7QE25UA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":9T_8nX3xOHi4vkQaJF4n7Q:JW_Kn2ZUmyLE9GB7QE25UA:o36rAyKBK0RbpSNl"
      X-Gdc-Request-Time:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/hspavgwen70lfmb7e5miz8jeu1v7gei8/schedules","items":[{"schedule":{"name":"main.rb","type":"MSETL","state":"DISABLED","params":{"param_1":"a","EXECUTABLE":"main.rb","param_2":"b","PROCESS_ID":"ca956589-36e6-440d-bbd1-448360714be5"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/hspavgwen70lfmb7e5miz8jeu1v7gei8/schedules/5c6e73bfe4b080e255bb8010","executions":"/gdc/projects/hspavgwen70lfmb7e5miz8jeu1v7gei8/schedules/5c6e73bfe4b080e255bb8010/executions"},"triggerScheduleId":"5c6e73bce4b080e255bb800f"}},{"schedule":{"name":"test.grf","type":"MSETL","state":"DISABLED","params":{"param_1":"a","EXECUTABLE":"graph/test.grf","param_2":"b","PROCESS_ID":"646076e5-5031-41af-8e54-3f7e6181c369"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2019-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/hspavgwen70lfmb7e5miz8jeu1v7gei8/schedules/5c6e73bce4b080e255bb800f","executions":"/gdc/projects/hspavgwen70lfmb7e5miz8jeu1v7gei8/schedules/5c6e73bce4b080e255bb800f/executions"}}}]}}'
  recorded_at: Thu, 21 Feb 2019 09:54:40 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/fntyccmdi4qxtuvede52gb9lc4lbbk2t/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:07bSW5A2CmCFFgRWQSfLag"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:07bSW5A2CmCFFgRWQSfLag:I8POYxjxva9bh84J"
      X-Gdc-Request-Time:
      - '11'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/fntyccmdi4qxtuvede52gb9lc4lbbk2t/schedules","items":[{"schedule":{"name":"test.grf","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"graph/test.grf","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"e125b986-f0ca-4125-81b8-73e8760fdfc4"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2019-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/fntyccmdi4qxtuvede52gb9lc4lbbk2t/schedules/5c6e74f3e4b080e255bb8011","executions":"/gdc/projects/fntyccmdi4qxtuvede52gb9lc4lbbk2t/schedules/5c6e74f3e4b080e255bb8011/executions"}}},{"schedule":{"name":"main.rb","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"main.rb","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"62def2d6-23a1-4ccb-a986-33ca0c3aea4b"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/fntyccmdi4qxtuvede52gb9lc4lbbk2t/schedules/5c6e74f5e4b080e255bb8012","executions":"/gdc/projects/fntyccmdi4qxtuvede52gb9lc4lbbk2t/schedules/5c6e74f5e4b080e255bb8012/executions"},"triggerScheduleId":"5c6e74f3e4b080e255bb8011"}}]}}'
  recorded_at: Thu, 21 Feb 2019 09:54:41 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/acq3p6l60wewx70379q91w8o5toohfk4/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:odAmsA9rIxz0aeQGBZ6bog"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
