---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-dev.intgdc.com/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:_Im4pZ03YzY83WX_ttxkEg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:_Im4pZ03YzY83WX_ttxkEg:EByPShdzEvTkzfvo"
      X-Gdc-Request-Time:
      - '395'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":32,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/130"}],"displayForms":[],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/264","sort":"pk","dimension":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/111","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/178"},{"multivalue":false,"type":"col","data":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/186"},{"multivalue":false,"type":"col","data":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/201"}]},"meta":{"author":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0","uri":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/214","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"effective_to_date.year","deprecated":"0","summary":"Year","isProduction":1,"title":"Year
        (Effective To Date)","category":"attribute","updated":"2019-04-18 14:33:06","contributor":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0"}}},{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/132"}],"displayForms":[{"content":{"formOf":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/215","expression":"[/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/133]","default":1},"links":{"elements":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/233/elements"},"meta":{"author":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0","uri":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/233","tags":"","created":"2010-08-02
        08:13:42","identifier":"effective_to_date.aam81lMifn6q","deprecated":"0","summary":"DisplayForm
        default.","isProduction":1,"title":"default (Effective To Date)","category":"attributeDisplayForm","updated":"2019-04-18
        14:33:06","contributor":"/gdc/accoun[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:jcCkgOHMWAB3Y5RiLK_5iA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
     [...]
- request:
    method: get
    uri: https://staging2-lcm-dev.intgdc.com/gdc/md/emu1iycdzzkzc78ynfrbhk7hr2km3n6w/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":3cZr_20ED6RmURmqSsVX8g:dYZwEYcFffhU_tgUy5tpfg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '347'
      X-Gdc-Request:
      - ":3cZr_20ED6RmURmqSsVX8g:dYZwEYcFffhU_tgUy5tpfg:gSjtcMceJZ6Vgv6b"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":32,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/emu1iycdzzkzc78ynfrb[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/d3xxd6w9kwd8j9xwgb3289iuotwnnmra/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:j1YuiCBnxWLynlgkVnfDEw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
   [...]
