---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-dev.intgdc.com/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:6N3_xt_VkQhDUj5x0dDf0A"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:6N3_xt_VkQhDUj5x0dDf0A:7IGldQz4hwdPY3Sb"
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aac9ZeDKgyVm","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/380","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/382","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/392","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}}]},{"identifier":"aad9ZeDKgyVm","title":"Tab
        2","items":[{"reportItem":{"obj":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/380","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/382","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/392","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}}]}],"filters":[]},"meta":{"author":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0","uri":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/393","tags":"dashboard","created":"2019-04-18
        14:36:02","identifier":"dashboard.dashboard.1","deprecated":"0","summary":"","isProduction":1,"title":"Dashboard
        1","category":"projectDashboard","updated":"2019-04-18 14:36:03","contributor":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0"}}},{"projectDashboard":{"content":{"tabs":[{"identifier":"aab9ZlWqgy9M","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/380","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/382","[...]
- request:
    method: get
    uri: https://staging2-lcm-dev.intgdc.com/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/380
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:EvNJdMKNJK9qqMU8iz98Yw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:EvNJdMKNJK9qqMU8iz98Yw:sCf8kT0oQkvxE9us"
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"report":{"content":{"domains":[],"definitions":["/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/379"]},"meta":{"author":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0","uri":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/380","tags":"","created":"2019-04-18
        14:35:07","identifier":"report.customers.count.by.gender","deprecated":"0","summary":"","isProduction":1,"title":"Customers
        Count By Gender","category":"report","updated":"2019-04-18 14:35:08","contributor":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0"}}}'
  recorded_at: Thu, 18 Apr 2019 12:43:18 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/objects/query?category=report&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:WDloLjYyG3iSRl0CJmJxAA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/c0ioxhc4zp70r6u4lgrhfcq5ez2c1w6u/objects/query?category=report&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:98tFa2gdKkhzxuuTlgZrJA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-[...]
- request:
    method: get
    uri: https://staging2-lcm-dev.intgdc.com/gdc/md/emu1iycdzzkzc78ynfrbhk7hr2km3n6w/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":3cZr_20ED6RmURmqSsVX8g:ZjpZNp-IYKa113ljQwHXVw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '46'
      X-Gdc-Request:
      - ":3cZr_20ED6RmURmqSsVX8g:ZjpZNp-IYKa113ljQwHXVw:AhAXS6LrJNUXoXWZ"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aabsIBLHgfkV","title":"Tab
 [...]
- request:
    method: get
    uri: https://staging2-lcm-dev.intgdc.com/gdc/md/emu1iycdzzkzc78ynfrbhk7hr2km3n6w/obj/384
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":3cZr_20ED6RmURmqSsVX8g:cLU6K1LlS3j1mn7o-SWYXw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '34'
      X-Gdc-Request:
      - ":3cZr_20ED6RmURmqSsVX8g:cLU6K1LlS3j1mn7o-SWYXw:ENw9jpazf11nKbHA"
    body:
      encoding: ASCII-8BIT
      string: '{"report":{"content":{"domains":[],"definitions":["/gdc/md/emu1iycdzzkzc78ynfrbhk7hr2km3n6w/obj/383"]},"meta":{"author":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0","uri":"/gdc/md/emu1iycdzzkzc78ynfrbhk7hr2km3n6w/obj/384","tags":"","created":"2020-05-07
        12:47:14","identifier":"report.customers.count.by.gender","deprecated":"0","summary":"","isProduction":1,"title":"Customers
        Count By Gender","category":"report","updated":"2020-05-07 12:47:16","contributor":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0"}}}'
  recorded_at: Thu, 07 May 2020 11:01:28 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/d3xxd6w9kwd8j9xwgb3289iuotwnnmra/objects/query?category=report&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:3YiowbL-enxrcwY3rQqKGA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/z3kll3w3y61kzbaiuqmyzb5eylkz9w86/objects/query?category=report&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:ZdGwdUAhN2ByThTnyIqrmg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      [...]
