---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/userGroups?project=fntyccmdi4qxtuvede52gb9lc4lbbk2t
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:sxQWkduBxynzOUkXIIjyBw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:sxQWkduBxynzOUkXIIjyBw:A34awyCFK0WWGisH"
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bHX3LFofvXwEOJn4dMHCAlw","description":"My Test Description","domain":null,"project":"/gdc/projects/fntyccmdi4qxtuvede52gb9lc4lbbk2t"},"meta":{"created":"2019-02-21
        10:53:15","updated":"2019-02-21 10:53:15"},"links":{"self":"/gdc/userGroups/bHX3LFofvXwEOJn4dMHCAlw","members":"/gdc/userGroups/bHX3LFofvXwEOJn4dMHCAlw/members","modifyMembers":"/gdc/userGroups/bHX3LFofvXwEOJn4dMHCAlw/modifyMembers"}}}]}}'
  recorded_at: Thu, 21 Feb 2019 09:54:17 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/userGroups?project=acq3p6l60wewx70379q91w8o5toohfk4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:msfCB0DK1Sv-QyEig_EHmQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:msfCB0DK1Sv-QyEig_EHmQ:huA84lfNPqS0lDvv"
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bS_tp1jblY4DyYFMLzHWH9A","description":"My Test Description","domain":null,"project":"/gdc/projects/acq3p6l60wewx70379q91w8o5toohfk4"},"meta":{"created":"2019-02-21
        10:53:27","updated":"2019-02-21 10:53:27"},"links":{"self":"/gdc/userGroups/bS_tp1jblY4DyYFMLzHWH9A","members":"/gdc/userGroups/bS_tp1jblY4DyYFMLzHWH9A/members","modifyMembers":"/gdc/userGroups/bS_tp1jblY4DyYFMLzHWH9A/modifyMembers"}}}]}}'
  recorded_at: Thu, 21 Feb 2019 09:54:17 GMT
recorded_with: VCR 4.0.0
