---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:NBZ1cD53eifwu9nXb6GrcQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:NBZ1cD53eifwu9nXb6GrcQ:MMiCB0PNPw0TlaB7
      X-Gdc-Request-Time:
      - '493'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":32,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/130"}],"displayForms":[],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/264","sort":"pk","dimension":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/111","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/178"},{"multivalue":false,"type":"col","data":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/186"},{"multivalue":false,"type":"col","data":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/201"}]},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/214","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"effective_to_date.year","deprecated":"0","summary":"Year","isProduction":1,"title":"Year
        (Effective To Date)","category":"attribute","updated":"2018-12-13 13:34:02","contributor":"/gdc/account/profile/04848a0813ded971f3359f63d533c440"}}},{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/132"}],"displayForms":[{"content":{"formOf":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/215","expression":"[/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/133]","default":1},"links":{"elements":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/233/elements"},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/233","tags":"","created":"2010-08-02
        08:13:42","identifier":"effective_to_date.aam81lMifn6q","deprecated":"0","summary":"DisplayForm
        default.","isProduction":1,"title":"default (Effective To Date)","category":"attributeDisplayForm","updated":"2018-12-13
        13:34:02","contributor":"/gdc/accoun[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:twV9-a3d6hxGCFB_1L8WhQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:twV9-a3d6hxGCFB_1L8WhQ:fQF2gCpmFHXYxNNO
      X-Gdc-Request-Time:
      - '273'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":32,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/smikp6wifsgyu[...]
