---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/projects/uvrfuxomutmx0whvvg6fme1ur98wyhnk/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:9lqDPof_qRUPy9P_FMZx3g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:9lqDPof_qRUPy9P_FMZx3g:Qu6YKePRqQk9W7Yp
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/uvrfuxomutmx0whvvg6fme1ur98wyhnk/schedules","items":[{"schedule":{"name":"main.rb","type":"MSETL","state":"DISABLED","params":{"param_1":"a","EXECUTABLE":"main.rb","param_2":"b","PROCESS_ID":"ce727ce1-9061-4486-9961-410cfee739ba"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/uvrfuxomutmx0whvvg6fme1ur98wyhnk/schedules/5c12528ae4b0e9d3950de8d4","executions":"/gdc/projects/uvrfuxomutmx0whvvg6fme1ur98wyhnk/schedules/5c12528ae4b0e9d3950de8d4/executions"},"triggerScheduleId":"5c125287e4b0e9d3950de8d3"}},{"schedule":{"name":"test.grf","type":"MSETL","state":"DISABLED","params":{"param_1":"a","EXECUTABLE":"graph/test.grf","param_2":"b","PROCESS_ID":"52ee0f46-943b-43d5-8581-3caeae4cc943"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2019-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/uvrfuxomutmx0whvvg6fme1ur98wyhnk/schedules/5c125287e4b0e9d3950de8d3","executions":"/gdc/projects/uvrfuxomutmx0whvvg6fme1ur98wyhnk/schedules/5c125287e4b0e9d3950de8d3/executions"}}}]}}'
  recorded_at: Thu, 13 Dec 2018 12:45:26 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:U6tngSrGXIVki0QpTzCIOw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:U6tngSrGXIVki0QpTzCIOw:wTSD6tDrqValTk51
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/schedules","items":[{"schedule":{"name":"main.rb","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"main.rb","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"598bc287-b915-4dc3-9f4c-061ca6c24d03"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/schedules/5c1253ebe4b0e9d3950de8d6","executions":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/schedules/5c1253ebe4b0e9d3950de8d6/executions"},"triggerScheduleId":"5c1253e9e4b0e9d3950de8d5"}},{"schedule":{"name":"test.grf","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"graph/test.grf","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"ea0900fe-51c2-4b97-a56f-85f65c4532e5"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2019-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/schedules/5c1253e9e4b0e9d3950de8d5","executions":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/schedules/5c1253e9e4b0e9d3950de8d5/executions"}}}]}}'
  recorded_at: Thu, 13 Dec 2018 12:45:27 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/qxcccz1we48fswe78562bvbyzs7bcpas/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:ENJdVFFqLsSmLhqNZZ1NCg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applica[...]
