---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/userGroups?project=smikp6wifsgyul9i4usjqvovhmwkdinh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:ZkIdYJtDbpuBRhwyO96_Zg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:ZkIdYJtDbpuBRhwyO96_Zg:uZd47nKZcJ7xJfts
      X-Gdc-Request-Time:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"byOj0r_hB29AejkXV4ucM0g","description":"My Test Description","domain":null,"project":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh"},"meta":{"created":"2018-12-13
        13:43:49","updated":"2018-12-13 13:43:49"},"links":{"self":"/gdc/userGroups/byOj0r_hB29AejkXV4ucM0g","members":"/gdc/userGroups/byOj0r_hB29AejkXV4ucM0g/members","modifyMembers":"/gdc/userGroups/byOj0r_hB29AejkXV4ucM0g/modifyMembers"}}}]}}'
  recorded_at: Thu, 13 Dec 2018 12:44:58 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/userGroups?project=qxcccz1we48fswe78562bvbyzs7bcpas
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:Wbq8dzeCJEp1MXnmDWsqPw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:Wbq8dzeCJEp1MXnmDWsqPw:k2bYrSkfmI1yJ7Zd
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bD-9pJUI7akL7T7upqSroPA","description":"My Test Description","domain":null,"project":"/gdc/projects/qxcccz1we48fswe78562bvbyzs7bcpas"},"meta":{"created":"2018-12-13
        13:44:00","updated":"2018-12-13 13:44:00"},"links":{"self":"/gdc/userGroups/bD-9pJUI7akL7T7upqSroPA","members":"/gdc/userGroups/bD-9pJUI7akL7T7upqSroPA/members","modifyMembers":"/gdc/userGroups/bD-9pJUI7akL7T7upqSroPA/modifyMembers"}}}]}}'
  recorded_at: Thu, 13 Dec 2018 12:44:59 GMT
recorded_with: VCR 4.0.0
