---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/projects/yqcgvjsi52nw1tq970rnd13y9ygrt680/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - KCCSJzDml4eTNZK18cMVtQ:cUf2QLYL6LtNUhPPIndL-A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - KCCSJzDml4eTNZK18cMVtQ:cUf2QLYL6LtNUhPPIndL-A:D10hiWpe57NVszDd
      X-Gdc-Request-Time:
      - '823'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/yqcgvjsi52nw1tq970rnd13y9ygrt680/schedules","items":[{"schedule":{"name":"main.rb","type":"MSETL","state":"DISABLED","params":{"param_1":"a","EXECUTABLE":"main.rb","param_2":"b","PROCESS_ID":"6b3541b5-571c-4eeb-805b-1abb800c57f8"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/yqcgvjsi52nw1tq970rnd13y9ygrt680/schedules/5c0fc1a4e4b00d3d558cf718","executions":"/gdc/projects/yqcgvjsi52nw1tq970rnd13y9ygrt680/schedules/5c0fc1a4e4b00d3d558cf718/executions"},"triggerScheduleId":"5c0fc1a0e4b00d3d558cf717"}},{"schedule":{"name":"test.grf","type":"MSETL","state":"DISABLED","params":{"param_1":"a","EXECUTABLE":"graph/test.grf","param_2":"b","PROCESS_ID":"c207f4bf-633f-48c7-8b62-54c8eca85a98"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2019-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/yqcgvjsi52nw1tq970rnd13y9ygrt680/schedules/5c0fc1a0e4b00d3d558cf717","executions":"/gdc/projects/yqcgvjsi52nw1tq970rnd13y9ygrt680/schedules/5c0fc1a0e4b00d3d558cf717/executions"}}}]}}'
  recorded_at: Tue, 11 Dec 2018 14:03:01 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/lal8kn42xm842yf2k7px2hvpy16sqo2s/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:gESS5OpFyzlONr3c_n5DGg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:gESS5OpFyzlONr3c_n5DGg:O1mcGVqfNVpJnJo0
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/lal8kn42xm842yf2k7px2hvpy16sqo2s/schedules","items":[{"schedule":{"name":"main.rb","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"main.rb","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"198915f5-0fa4-451b-9f1a-b47b0b95759f"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/lal8kn42xm842yf2k7px2hvpy16sqo2s/schedules/5c0fc2f6e4b00d3d558cf71a","executions":"/gdc/projects/lal8kn42xm842yf2k7px2hvpy16sqo2s/schedules/5c0fc2f6e4b00d3d558cf71a/executions"},"triggerScheduleId":"5c0fc2f4e4b00d3d558cf719"}},{"schedule":{"name":"test.grf","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"graph/test.grf","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"e954ed1d-407d-4d11-a96c-c823985ee8b6"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2019-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/lal8kn42xm842yf2k7px2hvpy16sqo2s/schedules/5c0fc2f4e4b00d3d558cf719","executions":"/gdc/projects/lal8kn42xm842yf2k7px2hvpy16sqo2s/schedules/5c0fc2f4e4b00d3d558cf719/executions"}}}]}}'
  recorded_at: Tue, 11 Dec 2018 14:03:05 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/p84xbphwrgwneld8mfj9fmi9t6l5mpoq/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:DNo2QU-WZEz2rKl6nFB_-A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applica[...]
