---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - KCCSJzDml4eTNZK18cMVtQ:r-euznyNmzvkVoXboV4jwg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - KCCSJzDml4eTNZK18cMVtQ:r-euznyNmzvkVoXboV4jwg:XlFcnp9mY2HyeICr
      X-Gdc-Request-Time:
      - '216'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aad5RjdodnUC","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/380","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/382","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/392","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}}]},{"identifier":"aae5RjdodnUC","title":"Tab
        2","items":[{"reportItem":{"obj":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/380","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/382","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/392","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}}]}],"filters":[]},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/393","tags":"dashboard","created":"2018-12-11
        14:54:14","identifier":"dashboard.dashboard.1","deprecated":"0","summary":"","isProduction":1,"title":"Dashboard
        1","category":"projectDashboard","updated":"2018-12-11 14:54:16","contributor":"/gdc/account/profile/04848a0813ded971f3359f63d533c440"}}},{"projectDashboard":{"content":{"tabs":[{"identifier":"aag5RjdodnUC","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/380","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/382","[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:3jtB2OuPaqgMZiImbQPeKQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:3jtB2OuPaqgMZiImbQPeKQ:AgMJ0EoDUJ3KGUEx
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aag5RjdodnUC","title"[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/p84xbphwrgwneld8mfj9fmi9t6l5mpoq/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:8MMnMNJXNJ9K-i3p5bMV_g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
    [...]
