---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/userGroups?project=smikp6wifsgyul9i4usjqvovhmwkdinh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:ZkIdYJtDbpuBRhwyO96_Zg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:ZkIdYJtDbpuBRhwyO96_Zg:uZd47nKZcJ7xJfts
      X-Gdc-Request-Time:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"byOj0r_hB29AejkXV4ucM0g","description":"My Test Description","domain":null,"project":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh"},"meta":{"created":"2018-12-13
        13:43:49","updated":"2018-12-13 13:43:49"},"links":{"self":"/gdc/userGroups/byOj0r_hB29AejkXV4ucM0g","members":"/gdc/userGroups/byOj0r_hB29AejkXV4ucM0g/members","modifyMembers":"/gdc/userGroups/byOj0r_hB29AejkXV4ucM0g/modifyMembers"}}}]}}'
  recorded_at: Thu, 13 Dec 2018 12:44:58 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/userGroups?project=qxcccz1we48fswe78562bvbyzs7bcpas
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:Wbq8dzeCJEp1MXnmDWsqPw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:Wbq8dzeCJEp1MXnmDWsqPw:k2bYrSkfmI1yJ7Zd
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bD-9pJUI7akL7T7upqSroPA","description":"My Test Description","domain":null,"project":"/gdc/projects/qxcccz1we48fswe78562bvbyzs7bcpas"},"meta":{"created":"2018-12-13
        13:44:00","updated":"2018-12-13 13:44:00"},"links":{"self":"/gdc/userGroups/bD-9pJUI7akL7T7upqSroPA","members":"/gdc/userGroups/bD-9pJUI7akL7T7upqSroPA/members","modifyMembers":"/gdc/userGroups/bD-9pJUI7akL7T7upqSroPA/modifyMembers"}}}]}}'
  recorded_at: Thu, 13 Dec 2018 12:44:59 GMT
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/userGroups?project=d1tf7paf3eqog4p54ja56pptukxb33lb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:FZRR__yZ3l-RiFV1paMHwA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:FZRR__yZ3l-RiFV1paMHwA:Eg1aV0Y7OTQeZGwj
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bMqzQUDB3rW23rhB3atJzPw","description":"My Test Description","domain":null,"project":"/gdc/projects/d1tf7paf3eqog4p54ja56pptukxb33lb"},"meta":{"created":"2019-01-21
        10:39:32","updated":"2019-01-21 10:39:32"},"links":{"self":"/gdc/userGroups/bMqzQUDB3rW23rhB3atJzPw","members":"/gdc/userGroups/bMqzQUDB3rW23rhB3atJzPw/members","modifyMembers":"/gdc/userGroups/bMqzQUDB3rW23rhB3atJzPw/modifyMembers"}}}]}}'
  recorded_at: Mon, 21 Jan 2019 09:40:13 GMT
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/userGroups?project=k7v2wxsd6q4k99rimsk24yfw9yruja84
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:DFm_Sjtr4SjJeUF4nvnnhw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:DFm_Sjtr4SjJeUF4nvnnhw:zeag7VukfGvUtYZA
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bjRc96qLACvAcooyvoRe6ig","description":"My Test Description","domain":null,"project":"/gdc/projects/k7v2wxsd6q4k99rimsk24yfw9yruja84"},"meta":{"created":"2019-01-21
        10:39:41","updated":"2019-01-21 10:39:41"},"links":{"self":"/gdc/userGroups/bjRc96qLACvAcooyvoRe6ig","members":"/gdc/userGroups/bjRc96qLACvAcooyvoRe6ig/members","modifyMembers":"/gdc/userGroups/bjRc96qLACvAcooyvoRe6ig/modifyMembers"}}}]}}'
  recorded_at: Mon, 21 Jan 2019 09:40:14 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/userGroups?project=bp7bxi9c0m70blw2enw3rxh8br0m38f9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:dMy09hPhIPou59zM_huxLg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:dMy09hPhIPou59zM_huxLg:Qgy4aGP7qBfJyYRZ
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bhnh5TruuP9JuUzmmoQgUCg","description":"My Test Description","domain":null,"project":"/gdc/projects/bp7bxi9c0m70blw2enw3rxh8br0m38f9"},"meta":{"created":"2019-01-21
        13:55:26","updated":"2019-01-21 13:55:26"},"links":{"self":"/gdc/userGroups/bhnh5TruuP9JuUzmmoQgUCg","members":"/gdc/userGroups/bhnh5TruuP9JuUzmmoQgUCg/members","modifyMembers":"/gdc/userGroups/bhnh5TruuP9JuUzmmoQgUCg/modifyMembers"}}}]}}'
  recorded_at: Mon, 21 Jan 2019 12:56:12 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/userGroups?project=jtre2xjas8yg2ktl2zuh5a8mqng0hfxr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:mdWN4ckTSQ1M4wm6I_LxJA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:mdWN4ckTSQ1M4wm6I_LxJA:kHafPEmApMlj1Ci9
      X-Gdc-Request-Time:
      - '16'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"b2raLLjtZSOsv9_EMbpEHoA","description":"My Test Description","domain":null,"project":"/gdc/projects/jtre2xjas8yg2ktl2zuh5a8mqng0hfxr"},"meta":{"created":"2019-01-21
        13:55:33","updated":"2019-01-21 13:55:33"},"links":{"self":"/gdc/userGroups/b2raLLjtZSOsv9_EMbpEHoA","members":"/gdc/userGroups/b2raLLjtZSOsv9_EMbpEHoA/members","modifyMembers":"/gdc/userGroups/b2raLLjtZSOsv9_EMbpEHoA/modifyMembers"}}}]}}'
  recorded_at: Mon, 21 Jan 2019 12:56:12 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/userGroups?project=capadyx6a65yjyl8b7x3op8nkqkd9f43
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:9JtXVCRu-t4xugNddkQLBw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:9JtXVCRu-t4xugNddkQLBw:i09PK9uwoQUJ0PnB"
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bDAPoUOs3OJhpckoQaRo8Zw","description":"My Test Description","domain":null,"project":"/gdc/projects/capadyx6a65yjyl8b7x3op8nkqkd9f43"},"meta":{"created":"2019-01-23
        16:22:59","updated":"2019-01-23 16:22:59"},"links":{"self":"/gdc/userGroups/bDAPoUOs3OJhpckoQaRo8Zw","members":"/gdc/userGroups/bDAPoUOs3OJhpckoQaRo8Zw/members","modifyMembers":"/gdc/userGroups/bDAPoUOs3OJhpckoQaRo8Zw/modifyMembers"}}}]}}'
  recorded_at: Wed, 23 Jan 2019 15:23:52 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/userGroups?project=dv10x9siv5robcizqeg133gbo6335w3s
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:n00DxUEtpbr_i_kmIlkxrQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:n00DxUEtpbr_i_kmIlkxrQ:pAQGka7uN23Qp6z4"
      X-Gdc-Request-Time:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"b2F_KjvuiSGrPLtfQGssM8w","description":"My Test Description","domain":null,"project":"/gdc/projects/dv10x9siv5robcizqeg133gbo6335w3s"},"meta":{"created":"2019-01-23
        16:23:07","updated":"2019-01-23 16:23:07"},"links":{"self":"/gdc/userGroups/b2F_KjvuiSGrPLtfQGssM8w","members":"/gdc/userGroups/b2F_KjvuiSGrPLtfQGssM8w/members","modifyMembers":"/gdc/userGroups/b2F_KjvuiSGrPLtfQGssM8w/modifyMembers"}}}]}}'
  recorded_at: Wed, 23 Jan 2019 15:23:52 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/userGroups?project=uuyh26ex0hb4qkmelx2raclr75cjeq46
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:q8RouilS4F__-k4vP8-LRQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:q8RouilS4F__-k4vP8-LRQ:scq8k60vcQRejEdW"
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bdHLSJ8RZajnnOmMJh93NMw","description":"My Test Description","domain":null,"project":"/gdc/projects/uuyh26ex0hb4qkmelx2raclr75cjeq46"},"meta":{"created":"2019-01-23
        18:53:01","updated":"2019-01-23 18:53:01"},"links":{"self":"/gdc/userGroups/bdHLSJ8RZajnnOmMJh93NMw","members":"/gdc/userGroups/bdHLSJ8RZajnnOmMJh93NMw/members","modifyMembers":"/gdc/userGroups/bdHLSJ8RZajnnOmMJh93NMw/modifyMembers"}}}]}}'
  recorded_at: Wed, 23 Jan 2019 17:53:53 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/userGroups?project=dkzp6e7evrri5wqgm6n6orgdpcutgybl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:Lj3JYodLnCa20anVXpfRdw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:Lj3JYodLnCa20anVXpfRdw:7krM9UNXIF6DFOz7"
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bTXXerH89xNUM_cHwwGxmGA","description":"My Test Description","domain":null,"project":"/gdc/projects/dkzp6e7evrri5wqgm6n6orgdpcutgybl"},"meta":{"created":"2019-01-23
        18:53:09","updated":"2019-01-23 18:53:09"},"links":{"self":"/gdc/userGroups/bTXXerH89xNUM_cHwwGxmGA","members":"/gdc/userGroups/bTXXerH89xNUM_cHwwGxmGA/members","modifyMembers":"/gdc/userGroups/bTXXerH89xNUM_cHwwGxmGA/modifyMembers"}}}]}}'
  recorded_at: Wed, 23 Jan 2019 17:53:53 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/userGroups?project=i6qd25h4at19e6mb7ou9t3kzdyqcyz7l
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:Xu7ZXSjwu9ubZG8zY_3FIQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:Xu7ZXSjwu9ubZG8zY_3FIQ:9nYIrOc0y3rt0psr"
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bRSDrOCHDj7kMSI6JYHpPYA","description":"My Test Description","domain":null,"project":"/gdc/projects/i6qd25h4at19e6mb7ou9t3kzdyqcyz7l"},"meta":{"created":"2019-01-24
        13:19:10","updated":"2019-01-24 13:19:10"},"links":{"self":"/gdc/userGroups/bRSDrOCHDj7kMSI6JYHpPYA","members":"/gdc/userGroups/bRSDrOCHDj7kMSI6JYHpPYA/members","modifyMembers":"/gdc/userGroups/bRSDrOCHDj7kMSI6JYHpPYA/modifyMembers"}}}]}}'
  recorded_at: Thu, 24 Jan 2019 12:19:58 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/userGroups?project=hzo3azvc3sgz3kenpjpzo3z3rshnojf8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:v9xU0xT8-9_FihLXJFfHfg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:v9xU0xT8-9_FihLXJFfHfg:0QGSCqDMRTcj6Op0"
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bH-31erorNjJc-rpj_ZPCBg","description":"My Test Description","domain":null,"project":"/gdc/projects/hzo3azvc3sgz3kenpjpzo3z3rshnojf8"},"meta":{"created":"2019-01-24
        13:19:18","updated":"2019-01-24 13:19:18"},"links":{"self":"/gdc/userGroups/bH-31erorNjJc-rpj_ZPCBg","members":"/gdc/userGroups/bH-31erorNjJc-rpj_ZPCBg/members","modifyMembers":"/gdc/userGroups/bH-31erorNjJc-rpj_ZPCBg/modifyMembers"}}}]}}'
  recorded_at: Thu, 24 Jan 2019 12:19:59 GMT
recorded_with: VCR 4.0.0
