---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-dev.intgdc.com/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:9E8oU1WJqD_zdYtsrMp3jA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:9E8oU1WJqD_zdYtsrMp3jA:T0wRtTiSH6Xwgd7G"
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aac9ZeDKgyVm","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/380","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/382","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/392","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}}]},{"identifier":"aad9ZeDKgyVm","title":"Tab
        2","items":[{"reportItem":{"obj":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/380","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/382","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/392","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}}]}],"filters":[]},"meta":{"author":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0","uri":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/393","tags":"dashboard","created":"2019-04-18
        14:36:02","identifier":"dashboard.dashboard.1","deprecated":"0","summary":"","isProduction":1,"title":"Dashboard
        1","category":"projectDashboard","updated":"2019-04-18 14:36:03","contributor":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0"}}},{"projectDashboard":{"content":{"tabs":[{"identifier":"aab9ZlWqgy9M","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/380","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/382","[...]
- request:
    method: get
    uri: https://staging2-lcm-dev.intgdc.com/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/380
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:9OS3hkie6n4w98t3CQbAQQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:9OS3hkie6n4w98t3CQbAQQ:JGB1TIo7F4CBFcKE"
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"report":{"content":{"domains":[],"definitions":["/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/379"]},"meta":{"author":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0","uri":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/380","tags":"","created":"2019-04-18
        14:35:07","identifier":"report.customers.count.by.gender","deprecated":"0","summary":"","isProduction":1,"title":"Customers
        Count By Gender","category":"report","updated":"2019-04-18 14:35:08","contributor":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0"}}}'
  recorded_at: Thu, 18 Apr 2019 12:43:28 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-dev.intgdc.com/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/379
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:jSKye_92j7X4IYLBZzoaqw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:jSKye_92j7X4IYLBZzoaqw:lDGwvCFEULVL0Eq7"
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[{"attribute":{"alias":"","totals":[[]],"uri":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/289"}}],"metrics":[{"alias":"Customers
        Count","uri":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/365"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"links":{"explain2":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/379/explain2"},"meta":{"author":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0","uri":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/379","tags":"","created":"2019-04-18
        14:35:05","identifier":"aae9XDwAhiPM","deprecated":"0","summary":"","isProduction":1,"title":"Untitled
        report definition","category":"reportDefinition","updated":"2019-04-18 14:35:05","contributor":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0"}}}'
  recorded_at: Thu, 18 Apr 2019 12:43:36 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-dev.intgdc.com/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/365
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:NfV2LRMsBHDEDjxfXRYycw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:NfV2LRMsBHDEDjxfXRYycw:vpZMYWdU132Z28tA"
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"COUNT","content":[{"value":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/277","position":{"column":27,"line":1},"type":"attribute
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        COUNT([/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/277])"},"links":{"explain2":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/365/explain2"},"meta":{"author":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0","uri":"/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/obj/365","tags":"","created":"2019-04-18
        14:34:43","identifier":"metric.customers.count","deprecated":"0","summary":"","isProduction":1,"title":"Customers
        Count","category":"metric","updated":"2019-04-18 14:34:44","contributor":"/gdc/account/profile/ef00d74950b4291e8567b4bcbdfed9a0"}}}'
  recorded_at: Thu, 18 Apr 2019 12:43:38 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-dev.intgdc.com/gdc/md/auf7ejg5mq8nlrydldhrddyssk6wsh4e/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:G5Fd0S1b2VoQ0WpPIOXVbg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-G[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:uiX7BsfVx2GHVdwTz1Eg8A"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/c0ioxhc4zp70r6u4lgrhfcq5ez2c1w6u/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:3_5w5V8SFLyROeWmv6iarA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-[...]
