---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - KCCSJzDml4eTNZK18cMVtQ:IKmZwItD7XPtLqfl408Z3w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - KCCSJzDml4eTNZK18cMVtQ:IKmZwItD7XPtLqfl408Z3w:nf2SwBG9wLh3DDEr
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aad5RjdodnUC","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/380","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/382","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/392","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}}]},{"identifier":"aae5RjdodnUC","title":"Tab
        2","items":[{"reportItem":{"obj":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/380","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/382","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/392","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}}]}],"filters":[]},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/393","tags":"dashboard","created":"2018-12-11
        14:54:14","identifier":"dashboard.dashboard.1","deprecated":"0","summary":"","isProduction":1,"title":"Dashboard
        1","category":"projectDashboard","updated":"2018-12-11 14:54:16","contributor":"/gdc/account/profile/04848a0813ded971f3359f63d533c440"}}},{"projectDashboard":{"content":{"tabs":[{"identifier":"aag5RjdodnUC","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/380","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/382","[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/380
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - KCCSJzDml4eTNZK18cMVtQ:KOASFsMKER3Su4awjnh-uA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - KCCSJzDml4eTNZK18cMVtQ:KOASFsMKER3Su4awjnh-uA:lliUm0yoz2neZ0sB
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"report":{"content":{"domains":[],"definitions":["/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/379"]},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/yqcgvjsi52nw1tq970rnd13y9ygrt680/obj/380","tags":"","created":"2018-12-11
        14:53:21","identifier":"report.customers.count.by.gender","deprecated":"0","summary":"","isProduction":1,"title":"Customers
        Count By Gender","category":"report","updated":"2018-12-11 14:53:23","contributor":"/gdc/account/profile/04848a0813ded971f3359f63d533c440"}}}'
  recorded_at: Tue, 11 Dec 2018 14:03:14 GMT
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/objects/query?category=report&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:RH1U-h-T64FHVcemGdJ3ow
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:RH1U-h-T64FHVcemGdJ3ow:s8a9prOcBX9BIswU
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":3,"offset":0},"items":[{"report":{"content":{"domains":[],"definitions":["/gdc/md/lal8kn42xm842yf2k[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/p84xbphwrgwneld8mfj9fmi9t6l5mpoq/objects/query?category=report&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:cphLexb6AY07J7yBT8Bdhw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
   [...]
