---
http_interactions:
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.comp.my_computed_attr"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:Vhwg56vsXohSyI-8_n2o1w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:Vhwg56vsXohSyI-8_n2o1w:QYs4e7aQANN5x7Y0
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.comp.my_computed_attr","uri":"/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/283"}]}'
  recorded_at: Wed, 05 Dec 2018 14:11:28 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/283
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:RnUEU4ncy3xv9SfYlW8Smg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:RnUEU4ncy3xv9SfYlW8Smg:UNjw4ZeNQ8PBVl2z
      X-Gdc-Request-Time:
      - '64'
    body:
      encoding: ASCII-8BIT
      string: '{"attribute":{"content":{"rel":["to {attr.csv_policies.state} as case
        when {metric.customers.count} <= 1000 then {attr.comp.my_computed_attr?\"Small\"},
        when {metric.customers.count} <= 2000 then {attr.comp.my_computed_attr?\"Medium\"},
        when {metric.customers.count} > 2000 then {attr.comp.my_computed_attr?\"Large\"}
        else {attr.comp.my_computed_attr?\"\"} end"],"drillDownStepAttributeDF":"/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/288","pk":[{"type":"col","data":"/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/101"}],"dimension":"/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/282","displayForms":[{"content":{"formOf":"/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/283","expression":"[/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/103]","default":1},"links":{"elements":"/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/284/elements"},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/284","tags":"","created":"2018-12-05
        15:05:44","identifier":"label.comp.my_computed_attr","deprecated":"0","summary":"","isProduction":1,"title":"Label.Comp.My
        Computed Attr","category":"attributeDisplayForm","updated":"2018-12-05 15:07:59","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/283","tags":"","created":"2018-12-05
        15:05:44","identifier":"attr.comp.my_computed_attr","deprecated":"0","summary":"","isProduction":1,"title":"My
        computed attribute","category":"attribute","updated":"2018-12-05 15:08:20","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Wed, 05 Dec 2018 14:11:28 GMT
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/288
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:NKbDNK903jV0t27Yt5z7Zg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:NKbDNK903jV0t27Yt5z7Zg:hMb1y4YDsAA54rZM
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/287","expression":"[/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/88]","default":1},"links":{"elements":"/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/288/elements"},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/288","tags":"","created":"2018-12-05
        15:05:44","identifier":"label.csv_policies.customer","deprecated":"0","summary":"","isProduction":1,"title":"Customer","category":"attributeDisplayForm","updated":"2018-12-05
        15:07:59","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Wed, 05 Dec 2018 14:11:30 GMT
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/md9qxehb22n69owr62b2m3qda4vlokgv/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.comp.my_computed_attr"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:sjEepN4mN5fnA8O3dGNAVA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:sjEepN4mN5fnA8O3dGNAVA:eloNaPRJbWGgzbZq
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.comp.my_computed_attr","uri":"/gdc/md/md9qxehb22n69owr62b2m3qda4vlokgv/obj/283"}]}'
  recorded_at: Wed, 05 Dec 2018 14:11:31 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/md9qxehb22n69owr62b2m3qda4vlokgv/obj/283
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:jZ2vru7Xjf31NQIklp88pQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/md9qxehb22n69owr62b2m3qda4vlokgv/obj/288
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:nnatVsXZ06eI_1oY9J0sVg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:nnatVsXZ06eI_1oY9J0sVg:O5D8NtlfxZujGC99
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/md9qxehb22n69owr62b2m3qda4vlokgv/obj/287","expression":"[/gdc/md/md9qxehb22n69owr62b2m3qda4vlokgv/obj/88]","default":1},"links":{"elements":"/gdc/md/md9qxehb22n69owr62b2m3qda4vlokgv/obj/288/elements"},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/md9qxehb22n69owr62b2m3qda4vlokgv/obj/288","tags":"","created":"2018-12-05
        15:06:04","identifier":"label.csv_policies.customer","deprecated":"0","summary":"","isProduction":1,"title":"Customer","category":"attributeDisplayForm","updated":"2018-12-05
        15:08:15","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Wed, 05 Dec 2018 14:11:33 GMT
recorded_with: VCR 4.0.0
