---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/projects/uvrfuxomutmx0whvvg6fme1ur98wyhnk/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:9lqDPof_qRUPy9P_FMZx3g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:9lqDPof_qRUPy9P_FMZx3g:Qu6YKePRqQk9W7Yp
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/uvrfuxomutmx0whvvg6fme1ur98wyhnk/schedules","items":[{"schedule":{"name":"main.rb","type":"MSETL","state":"DISABLED","params":{"param_1":"a","EXECUTABLE":"main.rb","param_2":"b","PROCESS_ID":"ce727ce1-9061-4486-9961-410cfee739ba"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/uvrfuxomutmx0whvvg6fme1ur98wyhnk/schedules/5c12528ae4b0e9d3950de8d4","executions":"/gdc/projects/uvrfuxomutmx0whvvg6fme1ur98wyhnk/schedules/5c12528ae4b0e9d3950de8d4/executions"},"triggerScheduleId":"5c125287e4b0e9d3950de8d3"}},{"schedule":{"name":"test.grf","type":"MSETL","state":"DISABLED","params":{"param_1":"a","EXECUTABLE":"graph/test.grf","param_2":"b","PROCESS_ID":"52ee0f46-943b-43d5-8581-3caeae4cc943"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2019-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/uvrfuxomutmx0whvvg6fme1ur98wyhnk/schedules/5c125287e4b0e9d3950de8d3","executions":"/gdc/projects/uvrfuxomutmx0whvvg6fme1ur98wyhnk/schedules/5c125287e4b0e9d3950de8d3/executions"}}}]}}'
  recorded_at: Thu, 13 Dec 2018 12:45:26 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:U6tngSrGXIVki0QpTzCIOw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:U6tngSrGXIVki0QpTzCIOw:wTSD6tDrqValTk51
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/schedules","items":[{"schedule":{"name":"main.rb","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"main.rb","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"598bc287-b915-4dc3-9f4c-061ca6c24d03"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/schedules/5c1253ebe4b0e9d3950de8d6","executions":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/schedules/5c1253ebe4b0e9d3950de8d6/executions"},"triggerScheduleId":"5c1253e9e4b0e9d3950de8d5"}},{"schedule":{"name":"test.grf","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"graph/test.grf","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"ea0900fe-51c2-4b97-a56f-85f65c4532e5"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2019-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/schedules/5c1253e9e4b0e9d3950de8d5","executions":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/schedules/5c1253e9e4b0e9d3950de8d5/executions"}}}]}}'
  recorded_at: Thu, 13 Dec 2018 12:45:27 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/qxcccz1we48fswe78562bvbyzs7bcpas/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:ENJdVFFqLsSmLhqNZZ1NCg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applica[...]
- request:
    method: get
    uri: https://staging-lcm-dev.intgdc.com/gdc/projects/c7umg3cyzaasrmmusg2z9wdf6omp6a6o/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - feKEFEzzd6XoDFuUkzP17w:l0xHjcJ9P5-j3Azzupnr-w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - feKEFEzzd6XoDFuUkzP17w:l0xHjcJ9P5-j3Azzupnr-w:meARtQfa4zdFMYEp
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/c7umg3cyzaasrmmusg2z9wdf6omp6a6o/schedules","items":[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/d1tf7paf3eqog4p54ja56pptukxb33lb/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:hp95Lby6jgdt7Jm8caNuHQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:hp95Lby6jgdt7Jm8caNuHQ:QdZBJgKvMiWQ2KlO
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/d1tf7paf3eqog4p54ja56pptukxb33lb/schedules","items":[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/k7v2wxsd6q4k99rimsk24yfw9yruja84/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:wdgb0-E348maY5_TMn1npA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applicat[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/projects/xlp1b9j0fyte8e1cytgcq934c3y8hkrl/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - L8CZHWTmtF5-vx7vsvN9SA:2gu8vtE8LgmDlMK3z9hnGQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - L8CZHWTmtF5-vx7vsvN9SA:2gu8vtE8LgmDlMK3z9hnGQ:6oMcDjxYznIMTwnQ
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/xlp1b9j0fyte8e1cytgcq934c3y8hkrl/schedules","items":[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/bp7bxi9c0m70blw2enw3rxh8br0m38f9/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:rH3kYdzCo04K_-mTMoHPaA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:rH3kYdzCo04K_-mTMoHPaA:kDIKcTDrEaZ3YIM1
      X-Gdc-Request-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/bp7bxi9c0m70blw2enw3rxh8br0m38f9/schedules","items":[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/jtre2xjas8yg2ktl2zuh5a8mqng0hfxr/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:vyo_3sgIo_mh_FYPTNH4UA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applica[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/projects/kvcc0o9p25k8vbdn6rvrlkk3gcqtwrno/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":A0AUQEmjCPXtbADuN4whUQ:FWmSI6epEtKiIvL8ScTSSg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":A0AUQEmjCPXtbADuN4whUQ:FWmSI6epEtKiIvL8ScTSSg:8kWVQIDj4pLNMg47"
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/kvcc0o9p25k8vbdn6rvrlkk3gcqtwrno/schedules","items":[{"sched[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/capadyx6a65yjyl8b7x3op8nkqkd9f43/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:ysRuxCK_vyLVl6WudXMTdg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/dv10x9siv5robcizqeg133gbo6335w3s/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:B1Wpc7xQitcTakHRWWR4ag"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/projects/z0z8o2q45xn2d5qu81plnjpup8vrvymi/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":M4ouGMq-FZzlOJm2UCukWw:tHfSpRT0C2zeZVS7W6iicA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/uuyh26ex0hb4qkmelx2raclr75cjeq46/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:9h_iex_H3697F8BNeqHzqQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/dkzp6e7evrri5wqgm6n6orgdpcutgybl/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:8PrDRCbGjbyleBg11ywutg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/projects/vcgzai6tshs7w2epj38r7njb8r7qd0gj/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":C96tJ5pCR4hKuy4z6iTOuw:xei2JkcmHmuZUywCXdOSHA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/i6qd25h4at19e6mb7ou9t3kzdyqcyz7l/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:9TY_5ZN0oPyNkAi7yH8Xmg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/hzo3azvc3sgz3kenpjpzo3z3rshnojf8/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:uaISAS9tnKFbLaLRF02Fhg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
