---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/projects/uvrfuxomutmx0whvvg6fme1ur98wyhnk/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:kS4zNf0y-_d9cXf24Zp-Ew
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - GoodData realm="GoodData API" cookie=GDCAuthTT
      Content-Type:
      - application/json; charset=utf-8
      X-Gdc-Request-Time:
      - '1'
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:kS4zNf0y-_d9cXf24Zp-Ew:9q0sx7XbDVqBrKF1
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "error": {
                "code": 401,
                "message": "Authorization Required",
                "description": "This server could not verify that you are authorized to access the document requested. Either you supplied the wrong credentials (e.g., bad password), or your browser doesn't understand how to supply the credentials required",
                "links": {
                    "documentation": "https://help.gooddata.com/display/developer/API+Reference#/reference/authentication/log-in"
                }
            }
        }
  recorded_at: Thu, 13 Dec 2018 12:44:52 GMT
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:GIwIcIQoga7dQEoZGihuSQ
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:GIwIcIQoga7dQEoZGihuSQ:kDcF7IP22D8QvS7n
      X-Gdc-Request-Time:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 13 Dec 2018 12:44:53 GMT
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/projects/uvrfuxomutmx0whvvg6fme1ur98wyhnk/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:kS4zNf0y-_d9cXf24Zp-Ew
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:kS4zNf0y-_d9cXf24Zp-Ew:P1CnwQhlZjFXEC53
      X-Gdc-Request-Time:
      - '147'
    body:
      encoding: ASCII-8BIT
      string: '{"processes":{"items":[{"process":{"type":"GRAPH","name":"Simple CloudConnect
        Process","graphs":["graph/test.grf"],"executables":["graph/test.grf"],"lastDeployed":"2018-12-13T12:37:26.063Z","ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/uvrfuxomutmx0whvvg6fme1ur98wyhnk/dataload/processes/52ee0f46-943b-43d5-8581-3caeae4cc943","executions":"/gdc/projects/uvrfuxomutmx0whvvg6fme1ur98wyhnk/dataload/processes/52ee0f46-943b-43d5-8581-3caeae4cc943/executions","source":"/gdc/projects/uvrfuxomutmx0whvvg6fme1ur98wyhnk/dataload/processes/52ee0f46-943b-43d5-8581-3caeae4cc943/source"}}},{"process":{"type":"RUBY","name":"Simple
        Ruby Process","path":"${PUBLIC_APPSTORE}:branch/master:/apps/hello_world_brick","graphs":["main.rb"],"executables":["main.rb"],"lastDeployed":"2018-12-13T12:37:29.201Z","ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/uvrfuxomutmx0whvvg6fme1ur98wyhnk/dataload/processes/ce727ce1-9061-4486-9961-410cfee739ba","executions":"/gdc/projects/uvrfuxomutmx0whvvg6fme1ur98wyhnk/dataload/processes/ce727ce1-9061-4486-9961-410cfee739ba/executions","source":"/gdc/projects/uvrfuxomutmx0whvvg6fme1ur98wyhnk/dataload/processes/ce727ce1-9061-4486-9961-410cfee739ba/source"}}},{"process":{"type":"ETL","name":"lcm-end-to-end-csv-download","graphs":[],"executables":[],"lastDeployed":"2018-12-13T12:37:34.817Z","ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/uvrfuxomutmx0whvvg6fme1ur98wyhnk/dataload/processes/6f9c6d55-5377-4a29-89a2-4aebcba5a550","executions":"/gdc/projects/uvrfuxomutmx0whvvg6fme1ur98wyhnk/dataload/processes/6f9c6d55-5377-4a29-89a2-4aebcba5a550/executions","source":"/gdc/projects/uvrfuxomutmx0whvvg6fme1ur98wyhnk/dataload/processes/6f9c6d55-5377-4a29-89a2-4aebcba5a550/source"},"component":{"name":"gdc-etl-csv-downloader","version":"1","configLocation":{"s3":{"path":"s3://s3_bucket/s3_folder/","accessKey":"s3_access_key","serverSideEncryption":true}}}}},{"process":{"type":"ETL","name":"lcm-end-to-end-sql-exec","graphs":[],"executables":[],"lastDeployed":"2018-12-13T12:37:33.269Z","ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/uvrfuxomutmx0whvvg6fme1ur98wyhnk/dataload/processes/0c45e978-0ec9-4580-ad04-49d3eaac9fc8","executions":"/gdc/projects/uvrfuxomutmx0whvvg6fme1ur98wyhnk/dataload/processes/0c45e978-0ec9-4580-ad04-49d3eaac9fc8/executions","source":"/gdc/projects/uvrfuxomutmx0whvvg6fme1ur98wyhnk/dataload/processes/0c45e978-0ec9-4580-ad04-49d3eaac9fc8/source"},"component":{"name":"gdc-etl-sql-executor","version":"1"}}}],"links":{"self":"/gdc/projects/uvrfuxomutmx0whvvg6fme1ur98wyhnk/dataload/processes"}}}'
  recorded_at: Thu, 13 Dec 2018 12:44:54 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:Vo1pywbWaDwwHny23EHYAA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:Vo1pywbWaDwwHny23EHYAA:LDRwYzTJLdWCIctS
      X-Gdc-Request-Time:
      - '116'
    body:
      encoding: ASCII-8BIT
      string: '{"processes":{"items":[{"process":{"type":"GRAPH","name":"Simple CloudConnect
        Process","graphs":["graph/test.grf"],"exec[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/qxcccz1we48fswe78562bvbyzs7bcpas/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:Xw_V8BxHoAOiNtfzgVscBA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      [...]
- request:
    method: get
    uri: https://staging-lcm-dev.intgdc.com/gdc/projects/c7umg3cyzaasrmmusg2z9wdf6omp6a6o/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - feKEFEzzd6XoDFuUkzP17w:vRguTaxGNEDYQF9ZtDUqFg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - feKEFEzzd6XoDFuUkzP17w:vRguTaxGNEDYQF9ZtDUqFg:7pLler7BzlNW24hM
      X-Gdc-Request-Time:
      - '116'
    body:
      encoding: ASCII-8BIT
      string: '{"processes":{"items":[{"process":{"type":"GRAPH","name":"Simple CloudConnect
        Process","graphs":["graph/test.grf"],"exec[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/d1tf7paf3eqog4p54ja56pptukxb33lb/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:ZP4hHr46fsrLylGD0dxMnQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:ZP4hHr46fsrLylGD0dxMnQ:GHpTiElWpHZw3k5F
      X-Gdc-Request-Time:
      - '91'
    body:
      encoding: ASCII-8BIT
      string: '{"processes":{"items":[{"process":{"type":"GRAPH","name":"Simple CloudConnect
        Process","graphs":["graph/test.grf"],"execu[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/k7v2wxsd6q4k99rimsk24yfw9yruja84/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:5VpQ_ogsWarceGileCi-bg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      -[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/projects/xlp1b9j0fyte8e1cytgcq934c3y8hkrl/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - L8CZHWTmtF5-vx7vsvN9SA:SZPbgR_FhXS7IS9j1KSdnQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - L8CZHWTmtF5-vx7vsvN9SA:SZPbgR_FhXS7IS9j1KSdnQ:CuPCXdPWOo4kBHHK
      X-Gdc-Request-Time:
      - '99'
    body:
      encoding: ASCII-8BIT
      string: '{"processes":{"items":[{"process":{"type":"GRAPH","name":"Simple CloudConnect
        Process","graphs":["graph/test.grf"],"execu[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/bp7bxi9c0m70blw2enw3rxh8br0m38f9/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:3ODP6nMnBkafmA_0KluDbQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:3ODP6nMnBkafmA_0KluDbQ:BmYbq7cgHAcTfAjn
      X-Gdc-Request-Time:
      - '79'
    body:
      encoding: ASCII-8BIT
      string: '{"processes":{"items":[{"process":{"type":"GRAPH","name":"Simple CloudConnect
        Process","graphs":["graph/test.grf"],"execu[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/jtre2xjas8yg2ktl2zuh5a8mqng0hfxr/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:33oC6_WgaHu_CBmd6w_yJQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      [...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/projects/kvcc0o9p25k8vbdn6rvrlkk3gcqtwrno/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":A0AUQEmjCPXtbADuN4whUQ:TCBBqoV3z0G6phHwLNNIPw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":A0AUQEmjCPXtbADuN4whUQ:TCBBqoV3z0G6phHwLNNIPw:1rhKrv4fsGVxVf7o"
      X-Gdc-Request-Time:
      - '100'
    body:
      encoding: ASCII-8BIT
      string: '{"processes":{"items":[{"process":{"type":"GRAPH","name":"Simple CloudConnect
        Process","graphs":["graph/test.grf"],"executables"[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/capadyx6a65yjyl8b7x3op8nkqkd9f43/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:pfUxlwNtJZbUPlnJAiq81Q"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      -[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/dv10x9siv5robcizqeg133gbo6335w3s/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:UP9Ag6koCFCh0uRl43DVCA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      -[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/projects/z0z8o2q45xn2d5qu81plnjpup8vrvymi/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":M4ouGMq-FZzlOJm2UCukWw:NkUOavBo11hHcxhP9Ny_ew"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/uuyh26ex0hb4qkmelx2raclr75cjeq46/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:MIYxvtjARykKXm4MbW8rMw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      -[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/dkzp6e7evrri5wqgm6n6orgdpcutgybl/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:d11gzonsOazddvcHy0CYKQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      -[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/projects/vcgzai6tshs7w2epj38r7njb8r7qd0gj/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":C96tJ5pCR4hKuy4z6iTOuw:J3BXacZGvesI-la_8DdfsA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/i6qd25h4at19e6mb7ou9t3kzdyqcyz7l/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:oI0I8T1hgiul2x71gqQ9zA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      -[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/hzo3azvc3sgz3kenpjpzo3z3rshnojf8/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:36t707L2973kIIWe87TGKA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      -[...]
