---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.comp.my_computed_attr"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:bSoUBdI6j4x_taLeswxfZA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:bSoUBdI6j4x_taLeswxfZA:GnAqOreu4rHvcaB5"
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.comp.my_computed_attr","uri":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/283"}]}'
  recorded_at: Thu, 18 Apr 2019 12:43:41 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/283
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:BTYUXl1wvFqCGV04uFkz5w"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:BTYUXl1wvFqCGV04uFkz5w:jnoSgzIFaPZJJNOH"
      X-Gdc-Request-Time:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"attribute":{"content":{"rel":["to {attr.csv_policies.state} as case
        when {metric.customers.count} <= 1000 then {attr.comp.my_computed_attr?\"Small\"},
        when {metric.customers.count} <= 2000 then {attr.comp.my_computed_attr?\"Medium\"},
        when {metric.customers.count} > 2000 then {attr.comp.my_computed_attr?\"Large\"}
        else {attr.comp.my_computed_attr?\"\"} end"],"drillDownStepAttributeDF":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/288","pk":[{"type":"col","data":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/101"}],"dimension":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/282","displayForms":[{"content":{"formOf":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/283","expression":"[/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/103]","default":1},"links":{"elements":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/284/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/284","tags":"","created":"2019-04-18
        14:38:11","identifier":"label.comp.my_computed_attr","deprecated":"0","summary":"","isProduction":1,"title":"Label.Comp.My
        Computed Attr","category":"attributeDisplayForm","updated":"2019-04-18 14:40:34","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/283","tags":"","created":"2019-04-18
        14:38:11","identifier":"attr.comp.my_computed_attr","deprecated":"0","summary":"","isProduction":1,"title":"My
        computed attribute","category":"attribute","updated":"2019-04-18 14:40:51","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 18 Apr 2019 12:43:42 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/288
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:mS38no7XWgsdjKfH-C_qMQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:mS38no7XWgsdjKfH-C_qMQ:9PVkHHwaIlbA7Syz"
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/287","expression":"[/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/88]","default":1},"links":{"elements":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/288/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/288","tags":"","created":"2019-04-18
        14:38:11","identifier":"label.csv_policies.customer","deprecated":"0","summary":"","isProduction":1,"title":"Customer","category":"attributeDisplayForm","updated":"2019-04-18
        14:40:34","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 18 Apr 2019 12:43:44 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/c0ioxhc4zp70r6u4lgrhfcq5ez2c1w6u/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.comp.my_computed_attr"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:pSs6Yzap2udnY5_w7cxbtQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:pSs6Yzap2udnY5_w7cxbtQ:WD071954hm0u57GP"
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.comp.my_computed_attr","uri":"/gdc/md/c0ioxhc4zp70r6u4lgrhfcq5ez2c1w6u/obj/309"}]}'
  recorded_at: Thu, 18 Apr 2019 12:43:44 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/c0ioxhc4zp70r6u4lgrhfcq5ez2c1w6u/obj/309
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:CSG_9z-df_mhjuaiyaoezw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/c0ioxhc4zp70r6u4lgrhfcq5ez2c1w6u/obj/285
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:Iio_JX5DsR-5GvC8-kkUhA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:Iio_JX5DsR-5GvC8-kkUhA:ezK4P2V6tKNALD7n"
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/c0ioxhc4zp70r6u4lgrhfcq5ez2c1w6u/obj/284","expression":"[/gdc/md/c0ioxhc4zp70r6u4lgrhfcq5ez2c1w6u/obj/88]","default":1},"links":{"elements":"/gdc/md/c0ioxhc4zp70r6u4lgrhfcq5ez2c1w6u/obj/285/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/c0ioxhc4zp70r6u4lgrhfcq5ez2c1w6u/obj/285","tags":"","created":"2019-04-18
        14:38:31","identifier":"label.csv_policies.customer","deprecated":"0","summary":"","isProduction":1,"title":"Customer","category":"attributeDisplayForm","updated":"2019-04-18
        14:40:47","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 18 Apr 2019 12:43:47 GMT
recorded_with: VCR 4.0.0
