---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:NBZ1cD53eifwu9nXb6GrcQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:NBZ1cD53eifwu9nXb6GrcQ:MMiCB0PNPw0TlaB7
      X-Gdc-Request-Time:
      - '493'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":32,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/130"}],"displayForms":[],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/264","sort":"pk","dimension":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/111","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/178"},{"multivalue":false,"type":"col","data":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/186"},{"multivalue":false,"type":"col","data":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/201"}]},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/214","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"effective_to_date.year","deprecated":"0","summary":"Year","isProduction":1,"title":"Year
        (Effective To Date)","category":"attribute","updated":"2018-12-13 13:34:02","contributor":"/gdc/account/profile/04848a0813ded971f3359f63d533c440"}}},{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/132"}],"displayForms":[{"content":{"formOf":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/215","expression":"[/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/133]","default":1},"links":{"elements":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/233/elements"},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/233","tags":"","created":"2010-08-02
        08:13:42","identifier":"effective_to_date.aam81lMifn6q","deprecated":"0","summary":"DisplayForm
        default.","isProduction":1,"title":"default (Effective To Date)","category":"attributeDisplayForm","updated":"2018-12-13
        13:34:02","contributor":"/gdc/accoun[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:twV9-a3d6hxGCFB_1L8WhQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:twV9-a3d6hxGCFB_1L8WhQ:fQF2gCpmFHXYxNNO
      X-Gdc-Request-Time:
      - '273'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":32,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/smikp6wifsgyu[...]
- request:
    method: get
    uri: https://staging-lcm-dev.intgdc.com/gdc/md/c7umg3cyzaasrmmusg2z9wdf6omp6a6o/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - feKEFEzzd6XoDFuUkzP17w:_fIWOqjIoleyNGjA8xHFOA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - feKEFEzzd6XoDFuUkzP17w:_fIWOqjIoleyNGjA8xHFOA:doeB7Z3r7olps2ND
      X-Gdc-Request-Time:
      - '229'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":32,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/c7umg3cyzaasr[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/d1tf7paf3eqog4p54ja56pptukxb33lb/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:D9wY1QZTBPq6eOesfgsWNA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:D9wY1QZTBPq6eOesfgsWNA:Z6zPWMATJYGItUO4
      X-Gdc-Request-Time:
      - '240'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":32,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/d1tf7paf3eqog[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/xlp1b9j0fyte8e1cytgcq934c3y8hkrl/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - L8CZHWTmtF5-vx7vsvN9SA:9nUq0BINtJ84cnsXa_FjQw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - L8CZHWTmtF5-vx7vsvN9SA:9nUq0BINtJ84cnsXa_FjQw:rssywhGpueR77TS9
      X-Gdc-Request-Time:
      - '383'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":32,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/xlp1b9j0fyte8[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/bp7bxi9c0m70blw2enw3rxh8br0m38f9/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:ZWa6lEOcP-0gsvNwOQk6Gg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:ZWa6lEOcP-0gsvNwOQk6Gg:3XUvYA2dzckhdYwO
      X-Gdc-Request-Time:
      - '290'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":32,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/bp7bxi9c0m70b[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/kvcc0o9p25k8vbdn6rvrlkk3gcqtwrno/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":A0AUQEmjCPXtbADuN4whUQ:9t3l_mTLUp6ehwTO4U7d9Q"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":A0AUQEmjCPXtbADuN4whUQ:9t3l_mTLUp6ehwTO4U7d9Q:GMqK5JGunjrrnqEe"
      X-Gdc-Request-Time:
      - '395'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":32,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/kvcc0o9p25k8vbdn6rvrl[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/capadyx6a65yjyl8b7x3op8nkqkd9f43/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:ae1gyNjGWWOum_b7vXigaA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
     [...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/z0z8o2q45xn2d5qu81plnjpup8vrvymi/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":M4ouGMq-FZzlOJm2UCukWw:NMF72LQn2Z1TMlMkICnLhw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/uuyh26ex0hb4qkmelx2raclr75cjeq46/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:Js-ARPZx2q2sGF-vbGytXw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
     [...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/vcgzai6tshs7w2epj38r7njb8r7qd0gj/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":C96tJ5pCR4hKuy4z6iTOuw:nDidj6jD3vpmA22DBw8P3g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/i6qd25h4at19e6mb7ou9t3kzdyqcyz7l/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:UrKGZQBzi-pzNSGkJvlSGg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
     [...]
