---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/projects/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:4NEkntSQSvLXgOZL8GSHKA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - DGyeyBGJ1rl8KyqURvFCfA:4NEkntSQSvLXgOZL8GSHKA:OnOgy9q9qUi07O9C
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/schedules","items":[{"schedule":{"name":"main.rb","type":"MSETL","state":"DISABLED","params":{"param_1":"a","EXECUTABLE":"main.rb","param_2":"b","PROCESS_ID":"a36675a7-58c6-4cd7-833f-50343425d16c"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/schedules/5c07dad3e4b0523aa2a18682","executions":"/gdc/projects/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/schedules/5c07dad3e4b0523aa2a18682/executions"},"triggerScheduleId":"5c07dad0e4b0523aa2a18681"}},{"schedule":{"name":"test.grf","type":"MSETL","state":"DISABLED","params":{"param_1":"a","EXECUTABLE":"graph/test.grf","param_2":"b","PROCESS_ID":"d4db1f1b-3fe2-4d01-8d89-523450c1f326"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2019-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/schedules/5c07dad0e4b0523aa2a18681","executions":"/gdc/projects/x6dyxahka68lbyqs6oo8bh1mcx6awf2s/schedules/5c07dad0e4b0523aa2a18681/executions"}}}]}}'
  recorded_at: Wed, 05 Dec 2018 14:10:57 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/pltywm9akkj6uqyzf6y14ksv2xuek39r/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:P20KXkkmdUcQhb5aBoOleg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:P20KXkkmdUcQhb5aBoOleg:06Jb7xsjHMnlOl9y
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/pltywm9akkj6uqyzf6y14ksv2xuek39r/schedules","items":[{"schedule":{"name":"main.rb","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"main.rb","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"824f6184-a6f0-479e-aa51-879d3937cf10"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/pltywm9akkj6uqyzf6y14ksv2xuek39r/schedules/5c07dc0ae4b0523aa2a18684","executions":"/gdc/projects/pltywm9akkj6uqyzf6y14ksv2xuek39r/schedules/5c07dc0ae4b0523aa2a18684/executions"},"triggerScheduleId":"5c07dc08e4b0523aa2a18683"}},{"schedule":{"name":"test.grf","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"graph/test.grf","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"28b79467-e001-4029-9c35-d4f16f93e7fb"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2019-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/pltywm9akkj6uqyzf6y14ksv2xuek39r/schedules/5c07dc08e4b0523aa2a18683","executions":"/gdc/projects/pltywm9akkj6uqyzf6y14ksv2xuek39r/schedules/5c07dc08e4b0523aa2a18683/executions"}}}]}}'
  recorded_at: Wed, 05 Dec 2018 14:10:57 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/md9qxehb22n69owr62b2m3qda4vlokgv/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:zdtY5dbVOpa7qfBKAqJXTQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applica[...]
