---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:Q_A8erBmOeZEwERBBrFdIw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - jxiIgOmHNV_wmHsKesFaCg:Q_A8erBmOeZEwERBBrFdIw:Afsmol9gMv92j7TW
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aaohee2Gaktn","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/380","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/382","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/392","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}}]},{"identifier":"aaphee2Gaktn","title":"Tab
        2","items":[{"reportItem":{"obj":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/380","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/382","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/392","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}}]}],"filters":[]},"meta":{"author":"/gdc/account/profile/04848a0813ded971f3359f63d533c440","uri":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/393","tags":"dashboard","created":"2018-12-13
        13:36:59","identifier":"dashboard.dashboard.1","deprecated":"0","summary":"","isProduction":1,"title":"Dashboard
        1","category":"projectDashboard","updated":"2018-12-13 13:37:01","contributor":"/gdc/account/profile/04848a0813ded971f3359f63d533c440"}}},{"projectDashboard":{"content":{"tabs":[{"identifier":"aaDhdnbEiAx5","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/380","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/uvrfuxomutmx0whvvg6fme1ur98wyhnk/obj/382","[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:Yn-vjci__nTvMrDoIZz_Fw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:Yn-vjci__nTvMrDoIZz_Fw:0xafDHSvCcuPOfPk
      X-Gdc-Request-Time:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aaDhdnbEiAx5","title"[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/qxcccz1we48fswe78562bvbyzs7bcpas/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:0uWitR-AsdDL-tKUsz6O1g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
    [...]
- request:
    method: get
    uri: https://staging-lcm-dev.intgdc.com/gdc/md/c7umg3cyzaasrmmusg2z9wdf6omp6a6o/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - feKEFEzzd6XoDFuUkzP17w:TF3KAXMFisJlTmYSjXERWA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - feKEFEzzd6XoDFuUkzP17w:TF3KAXMFisJlTmYSjXERWA:6J8EfG62K6IwXSGp
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aadWxmNddcv6","title"[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/d1tf7paf3eqog4p54ja56pptukxb33lb/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:_1DuEe4wJZUwudHxUJZ7Sg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:_1DuEe4wJZUwudHxUJZ7Sg:HaxCmgrrBG4NiYaO
      X-Gdc-Request-Time:
      - '237'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aagWxmNddcv6","title[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/k7v2wxsd6q4k99rimsk24yfw9yruja84/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:8AMpUctTDt_bv6DEIi53lg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
     [...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/xlp1b9j0fyte8e1cytgcq934c3y8hkrl/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - L8CZHWTmtF5-vx7vsvN9SA:FCSZOjYDQE39WunGhbel-A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - L8CZHWTmtF5-vx7vsvN9SA:FCSZOjYDQE39WunGhbel-A:JxeyttJqGJ5544b9
      X-Gdc-Request-Time:
      - '215'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aahXk4f9fmeS","title[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/bp7bxi9c0m70blw2enw3rxh8br0m38f9/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:AnY3WMw2KoaGu1xUaWbJFw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:AnY3WMw2KoaGu1xUaWbJFw:rdNKFZi7Z10q7ltE
      X-Gdc-Request-Time:
      - '215'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aakXk4f9fmeS","title[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/jtre2xjas8yg2ktl2zuh5a8mqng0hfxr/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:Z1h0oHwnjXF1HYqqc8QZPQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
    [...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/kvcc0o9p25k8vbdn6rvrlkk3gcqtwrno/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":A0AUQEmjCPXtbADuN4whUQ:PoaThr3sD955NHKpnN4Mhw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":A0AUQEmjCPXtbADuN4whUQ:PoaThr3sD955NHKpnN4Mhw:caiQk7bGxBvS5xML"
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aah9C3UgcyuQ","title":"Tab
  [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/capadyx6a65yjyl8b7x3op8nkqkd9f43/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:uKDY5Nbfb8G1i-txdIv7Eg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/dv10x9siv5robcizqeg133gbo6335w3s/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:MAQ5WnWjHpxXP7jiatR0Lg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/z0z8o2q45xn2d5qu81plnjpup8vrvymi/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":M4ouGMq-FZzlOJm2UCukWw:0iAuQUX6fhoTSn6tmcPnyA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/uuyh26ex0hb4qkmelx2raclr75cjeq46/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:J-_IQeo8MprLGcqIg6UtJQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/dkzp6e7evrri5wqgm6n6orgdpcutgybl/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:cEpxS_k8N5Fhj31ITJGkEA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging3-lcm-dev.intgdc.com/gdc/md/vcgzai6tshs7w2epj38r7njb8r7qd0gj/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":C96tJ5pCR4hKuy4z6iTOuw:oRdDXQLxnxeF9MxInYtkWw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/i6qd25h4at19e6mb7ou9t3kzdyqcyz7l/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:O_MsaBicEwjuFQowd3amvg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/hzo3azvc3sgz3kenpjpzo3z3rshnojf8/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:K0gLbM4qdmw4lXRmtvAc2g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers[...]
