---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:aggu-xPHZNAUAviIXHPnIQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:aggu-xPHZNAUAviIXHPnIQ:WBc8qniiGoLsskNM
      X-Gdc-Request-Time:
      - '114'
    body:
      encoding: ASCII-8BIT
      string: '{"processes":{"items":[{"process":{"type":"GRAPH","name":"Simple CloudConnect
        Process","graphs":["graph/test.grf"],"executables":["graph/test.grf"],"lastDeployed":"2018-12-13T12:42:43.249Z","ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/dataload/processes/ea0900fe-51c2-4b97-a56f-85f65c4532e5","executions":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/dataload/processes/ea0900fe-51c2-4b97-a56f-85f65c4532e5/executions","source":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/dataload/processes/ea0900fe-51c2-4b97-a56f-85f65c4532e5/source"}}},{"process":{"type":"RUBY","name":"Simple
        Ruby Process","path":"${PUBLIC_APPSTORE}:branch/master:/apps/hello_world_brick","graphs":["main.rb"],"executables":["main.rb"],"lastDeployed":"2018-12-13T12:42:44.704Z","ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/dataload/processes/598bc287-b915-4dc3-9f4c-061ca6c24d03","executions":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/dataload/processes/598bc287-b915-4dc3-9f4c-061ca6c24d03/executions","source":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/dataload/processes/598bc287-b915-4dc3-9f4c-061ca6c24d03/source"}}},{"process":{"type":"ETL","name":"lcm-end-to-end-csv-download","graphs":[],"executables":[],"lastDeployed":"2018-12-13T12:42:46.469Z","ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/dataload/processes/c4589ecd-015d-4b62-a304-85cd55a49cd3","executions":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/dataload/processes/c4589ecd-015d-4b62-a304-85cd55a49cd3/executions","source":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/dataload/processes/c4589ecd-015d-4b62-a304-85cd55a49cd3/source"},"component":{"name":"gdc-etl-csv-downloader","version":"1","configLocation":{"s3":{"path":"s3://s3_bucket/s3_folder/","accessKey":"s3_access_key","serverSideEncryption":true}}}}},{"process":{"type":"ETL","name":"lcm-end-to-end-sql-exec","graphs":[],"executables":[],"lastDeployed":"2018-12-13T12:42:48.641Z","ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/dataload/processes/40d4fccc-dcba-4561-8aa0-b966464d6cde","executions":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/dataload/processes/40d4fccc-dcba-4561-8aa0-b966464d6cde/executions","source":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/dataload/processes/40d4fccc-dcba-4561-8aa0-b966464d6cde/source"},"component":{"name":"gdc-etl-sql-executor","version":"1","configLocation":{"s3":{"path":"s3://s3_bucket/s3_folder/","accessKey":"s3_access_key","serverSideEncryption":true}}}}}],"links":{"self":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/dataload/processes"}}}'
  recorded_at: Thu, 13 Dec 2018 12:44:47 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:xWgGzGYHlfMVfdgferwTMA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:xWgGzGYHlfMVfdgferwTMA:ogYfIq2Uv7449Kqr
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/schedules","items":[{"schedule":{"name":"main.rb","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"main.rb","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"598bc287-b915-4dc3-9f4c-061ca6c24d03"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/schedules/5c1253ebe4b0e9d3950de8d6","executions":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/schedules/5c1253ebe4b0e9d3950de8d6/executions"},"triggerScheduleId":"5c1253e9e4b0e9d3950de8d5"}},{"schedule":{"name":"test.grf","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"graph/test.grf","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"ea0900fe-51c2-4b97-a56f-85f65c4532e5"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2019-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/schedules/5c1253e9e4b0e9d3950de8d5","executions":"/gdc/projects/smikp6wifsgyul9i4usjqvovhmwkdinh/schedules/5c1253e9e4b0e9d3950de8d5/executions"}}}]}}'
  recorded_at: Thu, 13 Dec 2018 12:44:49 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/qxcccz1we48fswe78562bvbyzs7bcpas/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:yi_5wiitalSMbdhvHmNM8A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/qxcccz1we48fswe78562bvbyzs7bcpas/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:ZZIUTIrDTMb-QgFbxStQDg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applica[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/d1tf7paf3eqog4p54ja56pptukxb33lb/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:BNec3g8m8JZHiAagldHFog
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:BNec3g8m8JZHiAagldHFog:eelbjs4SZaTMJYV5
      X-Gdc-Request-Time:
      - '103'
    body:
      encoding: ASCII-8BIT
      string: '{"processes":{"items":[{"process":{"type":"GRAPH","name":"Simple CloudConnect
        Process","graphs":["graph/test.grf"],"exec[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/d1tf7paf3eqog4p54ja56pptukxb33lb/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:RfSShX4Q0aRkVt4oUiZG9A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applicat[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/k7v2wxsd6q4k99rimsk24yfw9yruja84/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:ehEWGg9M-d2_sohOxaRbEQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      -[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/projects/k7v2wxsd6q4k99rimsk24yfw9yruja84/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:LgUB2Cjn1sE05jzq7Q6sXA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applicat[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/bp7bxi9c0m70blw2enw3rxh8br0m38f9/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:3vf3nzwXsI9lQL5o3WHXQQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:3vf3nzwXsI9lQL5o3WHXQQ:Z9PBhesECwOpbCBL
      X-Gdc-Request-Time:
      - '350'
    body:
      encoding: ASCII-8BIT
      string: '{"processes":{"items":[{"process":{"type":"GRAPH","name":"Simple CloudConnect
        Process","graphs":["graph/test.grf"],"exec[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/bp7bxi9c0m70blw2enw3rxh8br0m38f9/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:OimXJ6pZdRc_0ECk0QU6yg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applica[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/jtre2xjas8yg2ktl2zuh5a8mqng0hfxr/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:b0OwCmkQ5OxUlV8eBdD4DA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/jtre2xjas8yg2ktl2zuh5a8mqng0hfxr/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:G3d5kGDi4kerVH3rx3oUXg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - applica[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/capadyx6a65yjyl8b7x3op8nkqkd9f43/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:v3hinJdxC3lE45dbmo7HIA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:v3hinJdxC3lE45dbmo7HIA:BrradhNvB60qKmEh"
      X-Gdc-Request-Time:
      - '165'
    body:
      encoding: ASCII-8BIT
      string: '{"processes":{"items":[{"process":{"type":"GRAPH","name":"Simple CloudConnect
        Process","graphs":["graph/test.grf"],"executables"[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/capadyx6a65yjyl8b7x3op8nkqkd9f43/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:tf0C6mUvgE88siIHNakEhw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/dv10x9siv5robcizqeg133gbo6335w3s/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:HK2rhMsLNKdbRlGnnw2i5w"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      -[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/dv10x9siv5robcizqeg133gbo6335w3s/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:45iEq_5NTZ-vrghtY4tbEw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/uuyh26ex0hb4qkmelx2raclr75cjeq46/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:R2ZP1VSJuPNsdVHZlyVLmg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      -[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/uuyh26ex0hb4qkmelx2raclr75cjeq46/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:lgP4EIfqxGJKuwF0BzZxOw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/dkzp6e7evrri5wqgm6n6orgdpcutgybl/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:dKnaqaERdAtSyNlwsDRhAA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      -[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/dkzp6e7evrri5wqgm6n6orgdpcutgybl/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:GKtSIzf5cKtJPycc6F5VFg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/i6qd25h4at19e6mb7ou9t3kzdyqcyz7l/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:NDcCu2UMa63cRROdruazeA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      -[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/i6qd25h4at19e6mb7ou9t3kzdyqcyz7l/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:eH3S52VyRnQu59M1Fa3_mw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/hzo3azvc3sgz3kenpjpzo3z3rshnojf8/dataload/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:bBSaj3uI-VngonY2HspIsQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      -[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/projects/hzo3azvc3sgz3kenpjpzo3z3rshnojf8/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:yBmhLYvxQKmdB9NT_xNhbQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
