---
http_interactions:
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:vwA76aQYQTW0xyTNeiC_Nw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:vwA76aQYQTW0xyTNeiC_Nw:X3Y77Lm17djZeJnw
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/115"}]}'
  recorded_at: Thu, 13 Dec 2018 12:45:18 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:wCTzl0BaQewtYd0QQnLkow
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:wCTzl0BaQewtYd0QQnLkow:p7Av4nPYC5pamndT
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"dataSet":{"content":{"mode":"","facts":["/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/312","/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/313","/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/314","/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/315"],"dataLoadingColumns":["/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/92","/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/94","/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/87","/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/89","/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/77","/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/79","/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/72","/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/74","/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/97","/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/99"[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:ikv5ocKjwTQkhW0R1nF3Ww
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:ikv5ocKjwTQkhW0R1nF3Ww:G1p8o8ywRDlQJJ8Z
      X-Gdc-Request-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/311"],"expr":[{"type":"col","data":"/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/34"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/312","tags":"fact","created":"2018-12-13
        13:39:27","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2018-12-13 13:42:01","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Thu, 13 Dec 2018 12:45:20 GMT
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/qxcccz1we48fswe78562bvbyzs7bcpas/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:LSYzxAugzJiNVpRDTWwoLA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:LSYzxAugzJiNVpRDTWwoLA:R9LyBhgUaiyjv3NH
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/qxcccz1we48fswe78562bvbyzs7bcpas/obj/115"}]}'
  recorded_at: Thu, 13 Dec 2018 12:45:21 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/qxcccz1we48fswe78562bvbyzs7bcpas/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:vcgx0Y7DSRDeGxXiBAX11A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/qxcccz1we48fswe78562bvbyzs7bcpas/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:_Cg7kr3jtbkoIwcHLbz0Xw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:_Cg7kr3jtbkoIwcHLbz0Xw:pEsTVsC4OdvGFHwX
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/qxcccz1we48fswe78562bvbyzs7bcpas/obj/311"],"expr":[{"type":"col","data":"/gdc/md/qxcccz1we48fswe78562bvbyzs7bcpas/obj/34"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/qxcccz1we48fswe78562bvbyzs7bcpas/obj/312","tags":"fact","created":"2018-12-13
        13:39:54","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2018-12-13 13:42:21","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Thu, 13 Dec 2018 12:45:23 GMT
recorded_with: VCR 4.0.0
