---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:25zIurvGxIz9wR-iICyrtQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:25zIurvGxIz9wR-iICyrtQ:Zck0kWK9KSIsKx5F
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''smikp6wifsgyul9i4usjqvovhmwkdinh''","category":"project","instance":"smikp6wifsgyul9i4usjqvovhmwkdinh","links":[{"link":"/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","category":"drillcrosspaths","title":"drillcrosspaths"},{"link":"/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/etl","summary":"Resources
        for data ETL.","category":"etl","title":"etl"}[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:pXdGghMpq3O6EOGp1Y95nA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:pXdGghMpq3O6EOGp1Y95nA:hZ88PI9bfXvk9T13
      X-Gdc-Request-Time:
      - '618'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":32,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/136"}],"displayForms":[{"content":{"formOf":"/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/220","expression":"[/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/137]","default":1},"links":{"elements":"/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/238/elements"},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/238","tags":"","created":"2010-08-02
        08:13:42","identifier":"effective_to_date.aag81lMifn6q","deprecated":"0","summary":"DisplayForm
        Year.","isProduction":1,"title":"Year (Effective To Date)","category":"attributeDisplayForm","updated":"2018-12-13
        13:39:25","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/270","sort":"pk","dimension":"/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/117","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/184"},{"multivalue":false,"type":"col","data":"/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/192"},{"multivalue":false,"type":"col","data":"/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/207"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/220","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"effective_to_date.year","deprecat[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/qxcccz1we48fswe78562bvbyzs7bcpas
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:C_THVK_Q5e7Q6XiUQYZAfg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charse[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/qxcccz1we48fswe78562bvbyzs7bcpas/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:gRcTl-n3Vh1iQZkv8pI0iw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/d1tf7paf3eqog4p54ja56pptukxb33lb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:plzqlZdL8XS1ddpDZEJ_ig
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:plzqlZdL8XS1ddpDZEJ_ig:vPa4RUlArBbLpjGM
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''d1tf7paf3eqog4p54ja56pptukxb33lb''","category":"project","instance":"d1tf7paf[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/d1tf7paf3eqog4p54ja56pptukxb33lb/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:R0OXqCQtRrjYN4NNkaS6Rg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
 [...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/k7v2wxsd6q4k99rimsk24yfw9yruja84
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:WFVIyaBWKH6UBklI1Hjrrg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset[...]
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/k7v2wxsd6q4k99rimsk24yfw9yruja84/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:G_o7JZMccEXNZ3eWi9WW6Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
 [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/bp7bxi9c0m70blw2enw3rxh8br0m38f9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:YEcTI-6Fz2guEgAbhq8Q3g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:YEcTI-6Fz2guEgAbhq8Q3g:vDunWFqWuec7kJXu
      X-Gdc-Request-Time:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''bp7bxi9c0m70blw2enw3rxh8br0m38f9''","category":"project","instance":"bp7bxi9c[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/bp7bxi9c0m70blw2enw3rxh8br0m38f9/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:H62DbGxCV4gzSAE3THdRgQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/jtre2xjas8yg2ktl2zuh5a8mqng0hfxr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:MRh73yTtj3rVxkvR26Makw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charse[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/jtre2xjas8yg2ktl2zuh5a8mqng0hfxr/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:nOAC2ygwU19FloEcgf0cAg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/capadyx6a65yjyl8b7x3op8nkqkd9f43
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:G5fn_92O50LbLb9Yv9qFZg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:G5fn_92O50LbLb9Yv9qFZg:px6Ur7PY9QoEGzDO"
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''capadyx6a65yjyl8b7x3op8nkqkd9f43''","category":"project","instance":"capadyx6a65yjyl8[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/capadyx6a65yjyl8b7x3op8nkqkd9f43/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:Ep4l_WfqsZZVpoN9mcY1sw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/dv10x9siv5robcizqeg133gbo6335w3s
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:OuRmEjbZNmKqKc7d8nNPbg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
 [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/dv10x9siv5robcizqeg133gbo6335w3s/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:WcOOU3vNB_CGibEIQDgW3Q"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/uuyh26ex0hb4qkmelx2raclr75cjeq46
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:07HBRo7FvW6FUfyUVjpMYA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
 [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/uuyh26ex0hb4qkmelx2raclr75cjeq46/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:mPj-2JXDewQAS7BTuFiZSg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/dkzp6e7evrri5wqgm6n6orgdpcutgybl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:umTKVto3avsjMUOeQ0FLRw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
 [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/dkzp6e7evrri5wqgm6n6orgdpcutgybl/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:cjsZb7BUq8sEU94XMeE_JA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/i6qd25h4at19e6mb7ou9t3kzdyqcyz7l
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:AZ8izAVO55Paj7iABmxQmQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
 [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/i6qd25h4at19e6mb7ou9t3kzdyqcyz7l/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:x0a_30jliYXXp1TvYhevuA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
     [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/hzo3azvc3sgz3kenpjpzo3z3rshnojf8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:iH8zK4aeBD5zuAjFWmbVpw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
 [...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/hzo3azvc3sgz3kenpjpzo3z3rshnojf8/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:1jyhM5GXvL1_2bJgrbc-_A"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
     [...]
