---
http_interactions:
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:2IsJ97CnX2rYuP0Kr0-vjA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:2IsJ97CnX2rYuP0Kr0-vjA:th0Etww8VLCKHQX0
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/115"}]}'
  recorded_at: Wed, 05 Dec 2018 14:10:49 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:sBEJDfM7JsjOYJ-HBSIPlQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:sBEJDfM7JsjOYJ-HBSIPlQ:lGPnR7H71HI2IbA0
      X-Gdc-Request-Time:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{"dataSet":{"content":{"mode":"","facts":["/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/312","/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/313","/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/314","/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/315"],"dataLoadingColumns":["/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/92","/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/94","/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/87","/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/89","/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/77","/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/79","/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/72","/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/74","/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/97","/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/99"[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:QA26az_WqJPzgcJ5JIDHHg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:QA26az_WqJPzgcJ5JIDHHg:GF6qca8PgXOnVpeZ
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/311"],"expr":[{"type":"col","data":"/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/34"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/312","tags":"fact","created":"2018-12-05
        15:05:45","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2018-12-05 15:07:59","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Wed, 05 Dec 2018 14:10:51 GMT
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/md9qxehb22n69owr62b2m3qda4vlokgv/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:Tr0h-vlMXLJeRGdtY7K0Dg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:Tr0h-vlMXLJeRGdtY7K0Dg:Luqb97CKRZFTPkcs
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/md9qxehb22n69owr62b2m3qda4vlokgv/obj/115"}]}'
  recorded_at: Wed, 05 Dec 2018 14:10:51 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/md9qxehb22n69owr62b2m3qda4vlokgv/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:z7y5_9WN8BLpACxrtIpgrg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/md9qxehb22n69owr62b2m3qda4vlokgv/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:lQYo7X_PWrwNE6vlNHglwQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:lQYo7X_PWrwNE6vlNHglwQ:3wq693FyqPJTRuVQ
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/md9qxehb22n69owr62b2m3qda4vlokgv/obj/311"],"expr":[{"type":"col","data":"/gdc/md/md9qxehb22n69owr62b2m3qda4vlokgv/obj/34"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/md9qxehb22n69owr62b2m3qda4vlokgv/obj/312","tags":"fact","created":"2018-12-05
        15:06:05","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2018-12-05 15:08:15","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Wed, 05 Dec 2018 14:10:54 GMT
recorded_with: VCR 4.0.0
