---
http_interactions:
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:gIlcWLk7RtWz4ogWNX_diw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:gIlcWLk7RtWz4ogWNX_diw:R9oRa5ssWVhKTnMT
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''pltywm9akkj6uqyzf6y14ksv2xuek39r''","category":"project","instance":"pltywm9akkj6uqyzf6y14ksv2xuek39r","links":[{"link":"/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","category":"drillcrosspaths","title":"drillcrosspaths"},{"link":"/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/etl","summary":"Resources
        for data ETL.","category":"etl","title":"etl"}[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:bVq3MZ-9A64y04-RZbcXag
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:bVq3MZ-9A64y04-RZbcXag:hvAjJ0miyNT9nBa6
      X-Gdc-Request-Time:
      - '302'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":32,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/136"}],"displayForms":[{"content":{"formOf":"/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/220","expression":"[/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/137]","default":1},"links":{"elements":"/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/238/elements"},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/238","tags":"","created":"2010-08-02
        08:13:42","identifier":"effective_to_date.aag81lMifn6q","deprecated":"0","summary":"DisplayForm
        Year.","isProduction":1,"title":"Year (Effective To Date)","category":"attributeDisplayForm","updated":"2018-12-05
        15:05:44","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}],"direction":"asc","drillDownStepAttributeDF":"/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/270","sort":"pk","dimension":"/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/117","type":"GDC.time.year","fk":[{"multivalue":false,"type":"col","data":"/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/184"},{"multivalue":false,"type":"col","data":"/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/192"},{"multivalue":false,"type":"col","data":"/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/207"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/pltywm9akkj6uqyzf6y14ksv2xuek39r/obj/220","tags":"date
        year","created":"2010-08-02 08:13:42","identifier":"effective_to_date.year","deprecat[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/md9qxehb22n69owr62b2m3qda4vlokgv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:VupzPoogVwH5pTDP1lFeOQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charse[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/md9qxehb22n69owr62b2m3qda4vlokgv/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - AgRRz_fenO2iwUt7x5DsHw:ed0EG8byKANQAtsPMzAOQQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
[...]
