---
http_interactions:
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:nXjMxxZZcZ0WiRbJAD1gDw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:nXjMxxZZcZ0WiRbJAD1gDw:zrHIZSWPCMQWffkR
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/115"}]}'
  recorded_at: Tue, 11 Dec 2018 14:02:28 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:o5cwfOjQC8BrDgzcYsVdLA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:o5cwfOjQC8BrDgzcYsVdLA:BNSXXz9dgA7S3gv0
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"dataSet":{"content":{"mode":"","facts":["/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/312","/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/313","/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/314","/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/315"],"dataLoadingColumns":["/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/92","/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/94","/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/87","/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/89","/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/77","/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/79","/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/72","/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/74","/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/97","/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/99"[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:q1FvbKxmuMLDy60zFlVjfA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:q1FvbKxmuMLDy60zFlVjfA:2TWXvuusNRLCmjzZ
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/311"],"expr":[{"type":"col","data":"/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/34"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/lal8kn42xm842yf2k7px2hvpy16sqo2s/obj/312","tags":"fact","created":"2018-12-11
        14:56:37","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2018-12-11 14:59:04","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Tue, 11 Dec 2018 14:02:46 GMT
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/p84xbphwrgwneld8mfj9fmi9t6l5mpoq/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:HbW_juZw50y7eP2cE7QNrg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:HbW_juZw50y7eP2cE7QNrg:psm9TRPMyeMotR4K
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/p84xbphwrgwneld8mfj9fmi9t6l5mpoq/obj/115"}]}'
  recorded_at: Tue, 11 Dec 2018 14:02:49 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/p84xbphwrgwneld8mfj9fmi9t6l5mpoq/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:L8nOu8IuLG_nTOqLvrbztw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/p84xbphwrgwneld8mfj9fmi9t6l5mpoq/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:IbpTb10qVbaF9qt2llpHIw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OnhiwUqxjPe1AqQOBh_rtw:IbpTb10qVbaF9qt2llpHIw:c0HspIKF8V9iKcdu
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/p84xbphwrgwneld8mfj9fmi9t6l5mpoq/obj/311"],"expr":[{"type":"col","data":"/gdc/md/p84xbphwrgwneld8mfj9fmi9t6l5mpoq/obj/34"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/p84xbphwrgwneld8mfj9fmi9t6l5mpoq/obj/312","tags":"fact","created":"2018-12-11
        14:56:56","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2018-12-11 14:59:20","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Tue, 11 Dec 2018 14:02:53 GMT
recorded_with: VCR 4.0.0
