---
http_interactions:
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:vwA76aQYQTW0xyTNeiC_Nw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:vwA76aQYQTW0xyTNeiC_Nw:X3Y77Lm17djZeJnw
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/115"}]}'
  recorded_at: Thu, 13 Dec 2018 12:45:18 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:wCTzl0BaQewtYd0QQnLkow
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:wCTzl0BaQewtYd0QQnLkow:p7Av4nPYC5pamndT
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"dataSet":{"content":{"mode":"","facts":["/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/312","/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/313","/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/314","/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/315"],"dataLoadingColumns":["/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/92","/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/94","/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/87","/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/89","/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/77","/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/79","/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/72","/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/74","/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/97","/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/99"[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:ikv5ocKjwTQkhW0R1nF3Ww
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:ikv5ocKjwTQkhW0R1nF3Ww:G1p8o8ywRDlQJJ8Z
      X-Gdc-Request-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/311"],"expr":[{"type":"col","data":"/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/34"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/smikp6wifsgyul9i4usjqvovhmwkdinh/obj/312","tags":"fact","created":"2018-12-13
        13:39:27","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2018-12-13 13:42:01","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Thu, 13 Dec 2018 12:45:20 GMT
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/qxcccz1we48fswe78562bvbyzs7bcpas/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:LSYzxAugzJiNVpRDTWwoLA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:LSYzxAugzJiNVpRDTWwoLA:R9LyBhgUaiyjv3NH
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/qxcccz1we48fswe78562bvbyzs7bcpas/obj/115"}]}'
  recorded_at: Thu, 13 Dec 2018 12:45:21 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/qxcccz1we48fswe78562bvbyzs7bcpas/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LLO1bbQKIJKr6Y7N4ZhtaQ:vcgx0Y7DSRDeGxXiBAX11A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
[...]
- request:
    method: post
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/d1tf7paf3eqog4p54ja56pptukxb33lb/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:pBntv2Vsxely6MVvTrCRrA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:pBntv2Vsxely6MVvTrCRrA:l1wBsvQc0UEorTGI
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/d1tf7paf3eqog4p54ja56pptukxb33lb/obj/115"}]}'
  recorded_at: Mon, 21 Jan 2019 09:40:30 GMT
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/d1tf7paf3eqog4p54ja56pptukxb33lb/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:ysCFBQH9o9t7bAfp098bPA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json[...]
[...]
- request:
    method: post
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/k7v2wxsd6q4k99rimsk24yfw9yruja84/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:2Tbip0QaI0pfAM6qyvmHlg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:2Tbip0QaI0pfAM6qyvmHlg:6vQhrD6NdDkJEMHR
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/k7v2wxsd6q4k99rimsk24yfw9yruja84/obj/115"}]}'
  recorded_at: Mon, 21 Jan 2019 09:40:32 GMT
- request:
    method: get
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/k7v2wxsd6q4k99rimsk24yfw9yruja84/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WhZ7Jojorq8H0wuBTVl00g:0OTObcMqyyGKaCpxbTBddA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json[...]
[...]
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/bp7bxi9c0m70blw2enw3rxh8br0m38f9/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:6MC--qCw0GCIu2T40-NpGw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:6MC--qCw0GCIu2T40-NpGw:7ftry0NHy8SR2Q43
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/bp7bxi9c0m70blw2enw3rxh8br0m38f9/obj/115"}]}'
  recorded_at: Mon, 21 Jan 2019 12:56:32 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/bp7bxi9c0m70blw2enw3rxh8br0m38f9/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:IS6BpgjjZEQdXHVYKEovBQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
[...]
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/jtre2xjas8yg2ktl2zuh5a8mqng0hfxr/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:LbROiZOuB1hVj8d_9yaLpQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:LbROiZOuB1hVj8d_9yaLpQ:CA9wj0SuvlpFVUp1
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/jtre2xjas8yg2ktl2zuh5a8mqng0hfxr/obj/115"}]}'
  recorded_at: Mon, 21 Jan 2019 12:56:35 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/jtre2xjas8yg2ktl2zuh5a8mqng0hfxr/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - gIisXH-xSqeIbcipCrinig:OlHSQoMj_9kD3JCy_nYaCQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
[...]
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/capadyx6a65yjyl8b7x3op8nkqkd9f43/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:VxzCBDP0ljPUsurIuuJrWA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:VxzCBDP0ljPUsurIuuJrWA:ldyHp9IUgj94q6Gx"
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/capadyx6a65yjyl8b7x3op8nkqkd9f43/obj/115"}]}'
  recorded_at: Wed, 23 Jan 2019 15:24:08 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/capadyx6a65yjyl8b7x3op8nkqkd9f43/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:YTu1EWWw6_ynj-RJYENdHg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content[...]
[...]
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/dv10x9siv5robcizqeg133gbo6335w3s/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:afTe8rFoZokGyl1-YM7CUw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:afTe8rFoZokGyl1-YM7CUw:H7ZIS53iNfcu2KYv"
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/dv10x9siv5robcizqeg133gbo6335w3s/obj/115"}]}'
  recorded_at: Wed, 23 Jan 2019 15:24:11 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/dv10x9siv5robcizqeg133gbo6335w3s/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":K8sdEiUlQj5DSxX0nCQFkw:NZHpqYY6ZusqKmyuLvs2oQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content[...]
[...]
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/uuyh26ex0hb4qkmelx2raclr75cjeq46/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:8d4lmB-dYcCz8TNWpIyUkw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:8d4lmB-dYcCz8TNWpIyUkw:vVPBa2gaIFpkU3m0"
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/uuyh26ex0hb4qkmelx2raclr75cjeq46/obj/115"}]}'
  recorded_at: Wed, 23 Jan 2019 17:54:08 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/uuyh26ex0hb4qkmelx2raclr75cjeq46/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:t8oLBfbZu7qe8ph4EswEXQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content[...]
[...]
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/dkzp6e7evrri5wqgm6n6orgdpcutgybl/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:gYkULVntjsv1elApZgDa2A"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:gYkULVntjsv1elApZgDa2A:tG578HuAX4JFAO8r"
      X-Gdc-Request-Time:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/dkzp6e7evrri5wqgm6n6orgdpcutgybl/obj/115"}]}'
  recorded_at: Wed, 23 Jan 2019 17:54:10 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/dkzp6e7evrri5wqgm6n6orgdpcutgybl/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-oZm_E2EfjD5gWoAPe1wTA:8vlUKPpb0Vw1aJIpKIzW_A"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content[...]
[...]
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/i6qd25h4at19e6mb7ou9t3kzdyqcyz7l/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:yN_ldF84LK9jrDJPK02yvA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:yN_ldF84LK9jrDJPK02yvA:LyOFcEipC2vvyOIg"
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/i6qd25h4at19e6mb7ou9t3kzdyqcyz7l/obj/115"}]}'
  recorded_at: Thu, 24 Jan 2019 12:20:14 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/i6qd25h4at19e6mb7ou9t3kzdyqcyz7l/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:NaRXvqmc98b8JsMy9jWVBw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content[...]
[...]
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/hzo3azvc3sgz3kenpjpzo3z3rshnojf8/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:JeHhSnpZLA_1kCWxpbVkvw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:JeHhSnpZLA_1kCWxpbVkvw:7k83eFQceyIrcQjU"
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/hzo3azvc3sgz3kenpjpzo3z3rshnojf8/obj/115"}]}'
  recorded_at: Thu, 24 Jan 2019 12:20:16 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/hzo3azvc3sgz3kenpjpzo3z3rshnojf8/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:NzHDV9MWcD6U1o-lwwyIZg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/hzo3azvc3sgz3kenpjpzo3z3rshnojf8/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:NpMLxKApwOZpsgOlIS9PWQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":GYp2dUbX-QCW9OOFLER72Q:NpMLxKApwOZpsgOlIS9PWQ:JGqE85IsM08ERFRd"
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/hzo3azvc3sgz3kenpjpzo3z3rshnojf8/obj/311"],"expr":[{"type":"col","data":"/gdc/md/hzo3azvc3sgz3kenpjpzo3z3rshnojf8/obj/34"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/hzo3azvc3sgz3kenpjpzo3z3rshnojf8/obj/312","tags":"fact","created":"2019-01-24
        13:16:17","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2019-01-24 13:18:02","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Thu, 24 Jan 2019 12:20:18 GMT
recorded_with: VCR 4.0.0
