---
http_interactions:
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/fntyccmdi4qxtuvede52gb9lc4lbbk2t/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:8UKEguIn2UqYuqeoIfZrVw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:8UKEguIn2UqYuqeoIfZrVw:DATjbKOpjeGrBPZL"
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/fntyccmdi4qxtuvede52gb9lc4lbbk2t/obj/115"}]}'
  recorded_at: Thu, 21 Feb 2019 09:54:33 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/fntyccmdi4qxtuvede52gb9lc4lbbk2t/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:vyqKMVg0x8STQlny5LU5AQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:vyqKMVg0x8STQlny5LU5AQ:riQ4MZxHkphnS1ld"
      X-Gdc-Request-Time:
      - '87'
    body:
      encoding: ASCII-8BIT
      string: '{"dataSet":{"content":{"mode":"","facts":["/gdc/md/fntyccmdi4qxtuvede52gb9lc4lbbk2t/obj/312","/gdc/md/fntyccmdi4qxtuvede52gb9lc4lbbk2t/obj/313","/gdc/md/fntyccmdi4qxtuvede52gb9lc4lbbk2t/obj/314","/gdc/md/fntyccmdi4qxtuvede52gb9lc4lbbk2t/obj/315"],"dataLoadingColumns":["/gdc/md/fntyccmdi4qxtuvede52gb9lc4lbbk2t/obj/92","/gdc/md/fntyccmdi4qxtuvede52gb9lc4lbbk2t/obj/94","/gdc/md/fntyccmdi4qxtuvede52gb9lc4lbbk2t/obj/87","/gdc/md/fntyccmdi4qxtuvede52gb9lc4lbbk2t/obj/89","/gdc/md/fntyccmdi4qxtuvede52gb9lc4lbbk2t/obj/77","/gdc/md/fntyccmdi4qxtuvede52gb9lc4lbbk2t/obj/79","/gdc/md/fntyccmdi4qxtuvede52gb9lc4lbbk2t/obj/72","/gdc/md/fntyccmdi4qxtuvede52gb9lc4lbbk2t/obj/74","/gdc/md/fntyccmdi4qxtuvede52gb9lc4lbbk2t/obj/97","/gdc/md/fntyccmdi4qxtuvede52gb9lc4lbbk2t/obj/99"[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/fntyccmdi4qxtuvede52gb9lc4lbbk2t/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:vyHMHItuWZjH6yNfKThO1g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:vyHMHItuWZjH6yNfKThO1g:d44TnPVGJgPaPZgQ"
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/fntyccmdi4qxtuvede52gb9lc4lbbk2t/obj/311"],"expr":[{"type":"col","data":"/gdc/md/fntyccmdi4qxtuvede52gb9lc4lbbk2t/obj/34"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/fntyccmdi4qxtuvede52gb9lc4lbbk2t/obj/312","tags":"fact","created":"2019-02-21
        10:49:38","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2019-02-21 10:51:48","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Thu, 21 Feb 2019 09:54:35 GMT
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/acq3p6l60wewx70379q91w8o5toohfk4/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:_YwTB1Y6KKBnEak2IztrXw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:_YwTB1Y6KKBnEak2IztrXw:57FyRg4iBEXFAj8i"
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/acq3p6l60wewx70379q91w8o5toohfk4/obj/115"}]}'
  recorded_at: Thu, 21 Feb 2019 09:54:36 GMT
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/acq3p6l60wewx70379q91w8o5toohfk4/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:bFnPeq-ZRDSBGRZIqfjnfg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content[...]
[...]
- request:
    method: get
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/acq3p6l60wewx70379q91w8o5toohfk4/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:WwKHulha2FbEXojATfgojg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":xPn2gFDlr9TCvWW5O_ZxqA:WwKHulha2FbEXojATfgojg:JIvyO0dZZZMCTM1R"
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/acq3p6l60wewx70379q91w8o5toohfk4/obj/311"],"expr":[{"type":"col","data":"/gdc/md/acq3p6l60wewx70379q91w8o5toohfk4/obj/34"}]},"meta":{"author":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164","uri":"/gdc/md/acq3p6l60wewx70379q91w8o5toohfk4/obj/312","tags":"fact","created":"2019-02-21
        10:49:56","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2019-02-21 10:52:02","contributor":"/gdc/account/profile/a4c644d7b42b65c34e5a0f46809f7164"}}}'
  recorded_at: Thu, 21 Feb 2019 09:54:38 GMT
recorded_with: VCR 4.0.0
