---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ifu9pf5wu697rww6y7zld524mvkm7zy4/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:0T7LVSbsRUxztLpvTFQ1vA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:0T7LVSbsRUxztLpvTFQ1vA:uflC2Sp5C4XlUnKE"
      X-Gdc-Request-Time:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/ifu9pf5wu697rww6y7zld524mvkm7zy4/schedules","items":[{"schedule":{"name":"SimpleRubySchedule","type":"MSETL","state":"ENABLED","params":{"all_dynamic_param":"is_in_every_schedule","EXECUTABLE":"graph/test.grf","dynamic_param":"LCM_SPEC_CLIENT_2"},"hiddenParams":{"all_dynamic_hidden_param":"is_in_every_hidden_param_value","dynamic_hidden_param":"LCM_SPEC_CLIENT_2","secure_param_2":null,"secure_param_1":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2020-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/ifu9pf5wu697rww6y7zld524mvkm7zy4/schedules/5cb8717ae4b0d86679f226a3","executions":"/gdc/projects/ifu9pf5wu697rww6y7zld524mvkm7zy4/schedules/5cb8717ae4b0d86679f226a3/executions"}}}]}}'
  recorded_at: Thu, 18 Apr 2019 13:06:00 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:PlFqaG6Z8jNVKpIoEkvkrQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lrhsxktwzr7tqd6br9eziu2oaqw8xfiu/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:PlFqaG6Z8jNVKpIoEkvkrQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/v8k8z4ieaxsn08iczfjxc7bu1co5djuo/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:PlFqaG6Z8jNVKpIoEkvkrQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/b2cgbcg9qs31nc2g5ayo93wljol963bk/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:PlFqaG6Z8jNVKpIoEkvkrQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/u586yv7vl7kcb29a3jw30w37ppng6zue/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:7Yry-0Sdcf1GGb7HuU8GNA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '19'
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:7Yry-0Sdcf1GGb7HuU8GNA:sRIeKxl8YU4fuWV2"
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/u586yv7vl7kcb29a3jw30w37ppng6zue/schedules","items":[{"schedule":{"name":"test.grf","type":"MSETL","state":"ENABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","all_dynamic_param":"is_in_every_schedule","EXECUTABLE":"graph/test.grf","param_2":"b","param_1":"a","print_reverted":"hidden_msg_from_rollout_brick,SECURE_PARAM_2","msg_from_rollout_brick":"Hi,
        I was set by rollout brick","PROCESS_ID":"7b937b44-0523-4bc3-85c1-566c1435bc20"},"hiddenParams":{"secure_param_2":null,"secure_param_1":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null,"all_dynamic_hidden_param":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2021-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/u586yv7vl7kcb29a3jw30w37ppng6zue/schedules/5eb3eb5d71a6014624219e98","executions":"/gdc/projects/u586yv7vl[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/oa1tpppehpjcf7s6cxr4cvpp927dhvyf/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ghHIjeuJLXujOGpnft_aoQ:r2ChBLwDRlj4iqJf0T2mwA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X[...]
