---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users
    body:
      encoding: UTF-8
      string: '{"accountSetting":{"login":"gemtest_64609@gooddata.com","firstName":"FirstName","lastName":"LastName","password":"<PASSWORD>","verifyPassword":"<PASSWORD>","email":"gemtest_64609@gooddata.com","language":"en-US"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 25mbedlRNqSEXPNndZCxCw:vB0p1i9aCUrEm3_MWLsiQQ
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/account/profile/b098706e0f6df2f2dd9823f8ab4dd57e"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 25mbedlRNqSEXPNndZCxCw:vB0p1i9aCUrEm3_MWLsiQQ:dGgUFTwFtmylf6Y2
      X-Gdc-Request-Time:
      - '130'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/account/profile/b098706e0f6df2f2dd9823f8ab4dd57e"}'
  recorded_at: Tue, 12 Jun 2018 09:05:52 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/b098706e0f6df2f2dd9823f8ab4dd57e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 25mbedlRNqSEXPNndZCxCw:gYoBffXvMuWvXSbUx4Bg_A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 25mbedlRNqSEXPNndZCxCw:gYoBffXvMuWvXSbUx4Bg_A:VCqju1wzEqhqqcF9
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"gemtest_64609@gooddata.com","updated":"2018-06-12
        11:05:52","lastName":"LastName","phoneNumber":null,"links":{"auditEvents":"/gdc/account/profile/b098706e0f6df2f2dd9823f8ab4dd57e/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/b098706e0f6df2f2dd9823f8ab4dd57e","projects":"/gdc/account/profile/b098706e0f6df2f2dd9823f8ab4dd57e/projects"},"firstName":"FirstName","country":null,"ssoProvider":null,"timezone":null,"language":"en-US","ipWhitelist":null,"companyName":null,"authenticationModes":[],"login":"gemtest_64609@gooddata.com","created":"2018-06-12
        11:05:52"}}'
  recorded_at: Tue, 12 Jun 2018 09:05:52 GMT
recorded_with: VCR 4.0.0
