---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/b098706e0f6df2f2dd9823f8ab4dd57e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 25mbedlRNqSEXPNndZCxCw:gYoBffXvMuWvXSbUx4Bg_A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 25mbedlRNqSEXPNndZCxCw:gYoBffXvMuWvXSbUx4Bg_A:VCqju1wzEqhqqcF9
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"gemtest_64609@gooddata.com","updated":"2018-06-12
        11:05:52","lastName":"LastName","phoneNumber":null,"links":{"auditEvents":"/gdc/account/profile/b098706e0f6df2f2dd9823f8ab4dd57e/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/b098706e0f6df2f2dd9823f8ab4dd57e","projects":"/gdc/account/profile/b098706e0f6df2f2dd9823f8ab4dd57e/projects"},"firstName":"FirstName","country":null,"ssoProvider":null,"timezone":null,"language":"en-US","ipWhitelist":null,"companyName":null,"authenticationModes":[],"login":"gemtest_64609@gooddata.com","created":"2018-06-12
        11:05:52"}}'
  recorded_at: Tue, 12 Jun 2018 09:05:52 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/bd5c481fa83d48a05a235fd2ae23700c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LXWUgW5kFq1hnrhQx20fmw:FeiQ6zoWGKef598l__9WFw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LXWUgW5kFq1hnrhQx20fmw:FeiQ6zoWGKef598l__9WFw:rxKcNWNnEVi31BAz
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"gemtest_344731@gooddata.com","updated":"2018-10-05
        14:47:55","lastName":"LastName","phoneNumber":null,"links":{"auditEvents":"/gdc/account/profile/bd5c481fa83d48a05a235fd2ae23700c/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/bd5c481fa83d48a05a235fd2ae23700c","projects":"/gdc/account/profile/bd5c481fa83d48a05a235fd2ae23700c/projects"},"firstName":"FirstName","country":null,"ssoProvider":null,"language":"en-US","timezone":null,"ipWhitelist":null,"companyName":null,"authenticationModes":[],"login":"gemtest_344731@gooddata.com","created":"2018-10-05
        14:47:55"}}'
  recorded_at: Fri, 05 Oct 2018 12:47:56 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/e274526a2e148547d4488aae26d30279
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - vMKcyPvLxtF2Pm3vGcsZLA:Ay3WsmQ0xQNkMMZo-IuC-Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - vMKcyPvLxtF2Pm3vGcsZLA:Ay3WsmQ0xQNkMMZo-IuC-Q:jACj4HinjpqjQFQT
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"gemtest_126107@gooddata.com","updated":"2018-10-10
        12:46:19","lastName":"LastName","phoneNumber":null,"links":{"auditEvents":"/gdc/account/profile/e274526a2e148547d4488aae26d30279/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/e274526a2e148547d4488aae26d30279","projects":"/gdc/account/profile/e274526a2e148547d4488aae26d30279/projects"},"firstName":"FirstName","country":null,"ssoProvider":null,"language":"en-US","timezone":null,"ipWhitelist":null,"companyName":null,"authenticationModes":[],"login":"gemtest_126107@gooddata.com","created":"2018-10-10
        12:46:19"}}'
  recorded_at: Wed, 10 Oct 2018 10:46:20 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users
    body:
      encoding: UTF-8
      string: '{"accountSetting":{"login":"gemtest_405146@gooddata.com","firstName":"FirstName","lastName":"LastName","password":"<PASSWORD>","verifyPassword":"<PASSWORD>","email":"gemtest_405146@gooddata.com","language":"en-US"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":t4pPiA_Rw5mUR_qI0Z7msQ:HHtkHSK7tf_ZECw6x8-QgA"
      Stats-On:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/account/profile/1f5c9c98bf86845381af8cd36eec4b9d"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":t4pPiA_Rw5mUR_qI0Z7msQ:HHtkHSK7tf_ZECw6x8-QgA:5RP9SBU87jZGxQU4"
      X-Gdc-Request-Time:
      - '185'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/account/profile/1f5c9c98bf86845381af8cd36eec4b9d"}'
  recorded_at: Thu, 24 Jan 2019 13:01:29 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/1f5c9c98bf86845381af8cd36eec4b9d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":t4pPiA_Rw5mUR_qI0Z7msQ:M4dp7Q7loXkFA2qTFnll4A"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":t4pPiA_Rw5mUR_qI0Z7msQ:M4dp7Q7loXkFA2qTFnll4A:fZHRyFfDkUv9aMVK"
      X-Gdc-Request-Time:
      - '14'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/1f5c9c98bf86845381af8cd36eec4b9d","projects":"/gdc/account/profile/1f5c9c98bf86845381af8cd36eec4b9d/projects","auditEvents":"/gdc/account/profile/1f5c9c98bf86845381af8cd36eec4b9d/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"FirstName","lastName":"LastName","companyName":null,"position":null,"created":"2019-01-24
        14:01:29","updated":"2019-01-24 14:01:29","country":null,"phoneNumber":null,"authenticationModes":[],"login":"gemtest_405146@gooddata.com","timezone":null,"ssoProvider":null,"email":"gemtest_405146@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Thu, 24 Jan 2019 13:01:29 GMT
recorded_with: VCR 4.0.0
