---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/3b44d9952d76b9c6e9bd3d2d8cb987ef
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 25mbedlRNqSEXPNndZCxCw:YXAQaDipnUPGwgtXOusvwg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 25mbedlRNqSEXPNndZCxCw:YXAQaDipnUPGwgtXOusvwg:2rFWlZYYMcV5h2J5
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"gemtest_535850@gooddata.com","updated":"2018-06-12
        11:05:53","lastName":"X","phoneNumber":null,"links":{"auditEvents":"/gdc/account/profile/3b44d9952d76b9c6e9bd3d2d8cb987ef/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/3b44d9952d76b9c6e9bd3d2d8cb987ef","projects":"/gdc/account/profile/3b44d9952d76b9c6e9bd3d2d8cb987ef/projects"},"firstName":"X","country":null,"ssoProvider":null,"language":"en-US","timezone":null,"ipWhitelist":null,"companyName":null,"authenticationModes":[],"login":"gemtest_535850@gooddata.com","created":"2018-06-12
        11:05:53"}}'
  recorded_at: Tue, 12 Jun 2018 09:05:54 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/7e14e5b058be01496e0c79cffea210db
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - LXWUgW5kFq1hnrhQx20fmw:xAAshXJ-ClZkJXmFC-ZVeg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - LXWUgW5kFq1hnrhQx20fmw:xAAshXJ-ClZkJXmFC-ZVeg:2SDRR9ZbKPepVMCH
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"gemtest_314439@gooddata.com","updated":"2018-10-05
        14:47:57","lastName":"X","phoneNumber":null,"links":{"auditEvents":"/gdc/account/profile/7e14e5b058be01496e0c79cffea210db/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/7e14e5b058be01496e0c79cffea210db","projects":"/gdc/account/profile/7e14e5b058be01496e0c79cffea210db/projects"},"firstName":"X","country":null,"ssoProvider":null,"timezone":null,"language":"en-US","ipWhitelist":null,"companyName":null,"authenticationModes":[],"login":"gemtest_314439@gooddata.com","created":"2018-10-05
        14:47:57"}}'
  recorded_at: Fri, 05 Oct 2018 12:47:57 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/6fc8a3dde184ad0321036bfa81bf6d74
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - vMKcyPvLxtF2Pm3vGcsZLA:qYnfy41Q3Z5kOLuzNM6vtA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - vMKcyPvLxtF2Pm3vGcsZLA:qYnfy41Q3Z5kOLuzNM6vtA:Niq1dTuXWZGhjndd
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"gemtest_490326@gooddata.com","updated":"2018-10-10
        12:46:21","lastName":"X","phoneNumber":null,"links":{"auditEvents":"/gdc/account/profile/6fc8a3dde184ad0321036bfa81bf6d74/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/6fc8a3dde184ad0321036bfa81bf6d74","projects":"/gdc/account/profile/6fc8a3dde184ad0321036bfa81bf6d74/projects"},"firstName":"X","country":null,"ssoProvider":null,"timezone":null,"language":"en-US","ipWhitelist":null,"companyName":null,"authenticationModes":[],"login":"gemtest_490326@gooddata.com","created":"2018-10-10
        12:46:21"}}'
  recorded_at: Wed, 10 Oct 2018 10:46:26 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/c221c9632ef8960acf7eaf0c76814389
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":t4pPiA_Rw5mUR_qI0Z7msQ:cPOmuK7pxXKQjL1ob1fbUQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":t4pPiA_Rw5mUR_qI0Z7msQ:cPOmuK7pxXKQjL1ob1fbUQ:TiDNOjw50erqUJ8D"
      X-Gdc-Request-Time:
      - '13'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/c221c9632ef8960acf7eaf0c76814389","projects":"/gdc/account/profile/c221c9632ef8960acf7eaf0c76814389/projects","auditEvents":"/gdc/account/profile/c221c9632ef8960acf7eaf0c76814389/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"X","lastName":"X","companyName":null,"position":null,"created":"2019-01-24
        14:01:30","updated":"2019-01-24 14:01:30","country":null,"phoneNumber":null,"authenticationModes":[],"login":"gemtest_370870@gooddata.com","timezone":null,"ssoProvider":null,"email":"gemtest_370870@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Thu, 24 Jan 2019 13:01:31 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/89f357f8d77917bc205327d3d78c4899
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":1Gq71eG6RbrEd6gZJ3x_rQ:w61Dy6w3qk7DMTNBQDdixw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '14'
      X-Gdc-Request:
      - ":1Gq71eG6RbrEd6gZJ3x_rQ:w61Dy6w3qk7DMTNBQDdixw:PvHsksqkbokEMPoZ"
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/89f357f8d77917bc205327d3d78c4899","projects":"/gdc/account/profile/89f357f8d77917bc205327d3d78c4899/projects","auditEvents":"/gdc/account/profile/89f357f8d77917bc205327d3d78c4899/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"X","lastName":"X","companyName":null,"position":null,"created":"2020-01-15
        06:00:59","updated":"2020-01-15 06:00:59","country":null,"phoneNumber":null,"authenticationModes":[],"login":"gemtest_808005@gooddata.com","timezone":null,"ssoProvider":null,"email":"gemtest_808005@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Wed, 15 Jan 2020 05:01:00 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users
    body:
      encoding: UTF-8
      string: '{"accountSetting":{"login":"gemtest_129391@gooddata.com","firstName":"X","lastName":"X","password":"<PASSWORD>","verifyPassword":"<PASSWORD>","email":"gemtest_129391@gooddata.com","language":"en-US"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":_umIICIqRyYOdtOAVjZX0w:l9HIdS2kSmWj-Gx6aSwBbA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/account/profile/5d5e0f53d2d2ac3b0dc73bc0ef476240"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '97'
      X-Gdc-Request:
      - ":_umIICIqRyYOdtOAVjZX0w:l9HIdS2kSmWj-Gx6aSwBbA:te0AaE7Vf8rdrnZR"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/account/profile/5d5e0f53d2d2ac3b0dc73bc0ef476240"}'
  recorded_at: Fri, 22 May 2020 06:04:31 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5d5e0f53d2d2ac3b0dc73bc0ef476240
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":_umIICIqRyYOdtOAVjZX0w:kwfyhEFrGXQyu9aSBwG2xQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '13'
      X-Gdc-Request:
      - ":_umIICIqRyYOdtOAVjZX0w:kwfyhEFrGXQyu9aSBwG2xQ:NNPy4DF1XllUaVLL"
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/5d5e0f53d2d2ac3b0dc73bc0ef476240","projects":"/gdc/account/profile/5d5e0f53d2d2ac3b0dc73bc0ef476240/projects","auditEvents":"/gdc/account/profile/5d5e0f53d2d2ac3b0dc73bc0ef476240/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"X","lastName":"X","companyName":null,"position":null,"created":"2020-05-22
        08:04:31","updated":"2020-05-22 08:04:31","country":null,"phoneNumber":null,"authenticationModes":[],"login":"gemtest_129391@gooddata.com","timezone":null,"ssoProvider":null,"email":"gemtest_129391@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Fri, 22 May 2020 06:04:32 GMT
recorded_with: VCR 5.0.0
