---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:_R9NyhIeBo0gV5CAKn3b2g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:_R9NyhIeBo0gV5CAKn3b2g:E6hbDt9cMGxaXGeE"
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/etltask/9ee7fd6c87400c3ccfbf7074ae4b8e3900000032"},"token":"<TOKEN>"}}'
  recorded_at: Thu, 18 Apr 2019 14:02:47 GMT
- request:
    method: post
    uri: https://staging3-lcm-prod.intgdc.com/gdc/md/zll541cvcwzy1k5vrkgospgyvi4bgdvn/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":lzDPYM8slG6VArlLa39eVg:O71vcxoy1jWC-U6HFgOs9g"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '37'
      X-Gdc-Request:
      - ":lzDPYM8slG6VArlLa39eVg:O71vcxoy1jWC-U6HFgOs9g:20eoXK2IHpSx9CI4"
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/zll541cvcwzy1k5vrkgospgyvi4bgdvn/etltask/7ba492f91199720aa751f6c1f1eae7ab00000018"},"token":"<TOKEN>"}}'
  recorded_at: Tue, 14 Jan 2020 07:26:32 GMT
- request:
    method: post
    uri: https://staging-lcm-prod.intgdc.com/gdc/md/pjgwueshacis9n1f0uwmc4oqufek0lty/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":YLaC2DmAer5vP0lsxLym0g:bBEfCtKsNufaIDXrstTkDA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '41'
      X-Gdc-Request:
      - ":YLaC2DmAer5vP0lsxLym0g:bBEfCtKsNufaIDXrstTkDA:Xq4J3xvmqkMQ9L17"
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/pjgwueshacis9n1f0uwmc4oqufek0lty/etltask/3dc70158299eb23792c2a031883a3d9c0000004b"},"token":"<TOKEN>"}}'
  recorded_at: Tue, 14 Jan 2020 10:16:00 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/jgka8uojpnb0ofe4yxwya0mfm8cno3g0/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":2wedXgL3GW4vHyak4Et1MA:TEommbmHLggEg1tujQRO_g"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '48'
      X-Gdc-Request:
      - ":2wedXgL3GW4vHyak4Et1MA:TEommbmHLggEg1tujQRO_g:VYr5kYLfRVzlPWWI"
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/jgka8uojpnb0ofe4yxwya0mfm8cno3g0/etltask/7dbaa44b44272404538c16c76d57ebb700000089"},"token":"<TOKEN>"}}'
  recorded_at: Tue, 14 Jan 2020 10:33:04 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ckggg1kn1hwetn3giedb8i2g7em2ykir/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":rdwPwqw9TPMJaSAGLH2tLA:xbz0-jb7u3eu8B4J5p3IlA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '50'
      X-Gdc-Request:
      - ":rdwPwqw9TPMJaSAGLH2tLA:xbz0-jb7u3eu8B4J5p3IlA:HdixZ45tZ6ItiRkf"
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/ckggg1kn1hwetn3giedb8i2g7em2ykir/etltask/ff989c66a3a6b1b496335ff633f929a300000089"},"token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 06:01:15 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/m6j94r8h9s0d8gma8gk5tcwbohebc5mt/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7qH3nI0ngNiwX1cO99I8QA:USTF-JU4pMO2u73XtkRObg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '39'
      X-Gdc-Request:
      - ":7qH3nI0ngNiwX1cO99I8QA:USTF-JU4pMO2u73XtkRObg:ywG3JrWTwhfcfZex"
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/m6j94r8h9s0d8gma8gk5tcwbohebc5mt/etltask/cdc9c40a30cb44d27dcb2becafb75a6900000089"},"token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 07:39:48 GMT
recorded_with: VCR 5.0.0
