---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:_R9NyhIeBo0gV5CAKn3b2g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":ICQJ3ry9EwysGx9oYgPkjQ:_R9NyhIeBo0gV5CAKn3b2g:E6hbDt9cMGxaXGeE"
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/lb3sj06x77mdo10c1w4z4wnbqyi7a7zy/etltask/9ee7fd6c87400c3ccfbf7074ae4b8e3900000032"},"token":"<TOKEN>"}}'
  recorded_at: Thu, 18 Apr 2019 14:02:47 GMT
recorded_with: VCR 4.0.0
