---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts
    body:
      encoding: UTF-8
      string: '{"dataProduct":{"id":"data-product-cefbf84b-7a1d-467d-88bc-2984e07a3bdf"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":qM7F0pXzJQpDf8PZu7m20Q:uJ9AeZ1aDduQ66IJKJfm9g"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts/data-product-cefbf84b-7a1d-467d-88bc-2984e07a3bdf"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '23'
      X-Gdc-Request:
      - ":qM7F0pXzJQpDf8PZu7m20Q:uJ9AeZ1aDduQ66IJKJfm9g:0akZhAwklM0hSsJd"
    body:
      encoding: ASCII-8BIT
      string: '{"dataProduct":{"id":"data-product-cefbf84b-7a1d-467d-88bc-2984e07a3bdf","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-cefbf84b-7a1d-467d-88bc-2984e07a3bdf","domain":"/gdc/domains/staging2-lcm-prod","segments":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-cefbf84b-7a1d-467d-88bc-2984e07a3bdf/segments","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-cefbf84b-7a1d-467d-88bc-2984e07a3bdf/clients"}}}'
  recorded_at: Wed, 15 Jan 2020 05:00:32 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/different_id/segments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":qM7F0pXzJQpDf8PZu7m20Q:op8vHZbm15da1lWyeEW2hg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - ":qM7F0pXzJQpDf8PZu7m20Q:op8vHZbm15da1lWyeEW2hg:pIM9XisbgbCHpdEo"
    body:
      encoding: ASCII-8BIT
      string: '{"segments":{"items":[]}}'
  recorded_at: Wed, 15 Jan 2020 05:00:34 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/different_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":qM7F0pXzJQpDf8PZu7m20Q:2vqyNKhBWf_9UQPEZ8oeKg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '22'
      X-Gdc-Request:
      - ":qM7F0pXzJQpDf8PZu7m20Q:2vqyNKhBWf_9UQPEZ8oeKg:tK3rH9YQqVyVjSZj"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 15 Jan 2020 05:00:35 GMT
recorded_with: VCR 5.0.0
