---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts
    body:
      encoding: UTF-8
      string: '{"dataProduct":{"id":"data-product-f0341bfc-c80f-4b23-914c-7c599ad7bef3"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - "-5o6tdj1VkE0ovju_zfjUg:4mchixXZzK22OLbbioo88Q"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts/data-product-f0341bfc-c80f-4b23-914c-7c599ad7bef3"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - "-5o6tdj1VkE0ovju_zfjUg:4mchixXZzK22OLbbioo88Q:ONlNvXZ5flgjeHSE"
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"dataProduct":{"id":"data-product-f0341bfc-c80f-4b23-914c-7c599ad7bef3","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-f0341bfc-c80f-4b23-914c-7c599ad7bef3","domain":"/gdc/domains/staging2-lcm-prod","segments":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-f0341bfc-c80f-4b23-914c-7c599ad7bef3/segments","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-f0341bfc-c80f-4b23-914c-7c599ad7bef3/clients"}}}'
  recorded_at: Tue, 05 Jun 2018 19:46:05 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/different_id/segments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - "-5o6tdj1VkE0ovju_zfjUg:zWReZ2LkSimtX2ldcEg2XA"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - "-5o6tdj1VkE0ovju_zfjUg:zWReZ2LkSimtX2ldcEg2XA:zrXp4aO2XSbsGPbT"
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"segments":{"items":[]}}'
  recorded_at: Tue, 05 Jun 2018 19:46:06 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/different_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - "-5o6tdj1VkE0ovju_zfjUg:cjHnr2m19ASdgUeyYQOGPg"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '19'
      X-Gdc-Request:
      - "-5o6tdj1VkE0ovju_zfjUg:cjHnr2m19ASdgUeyYQOGPg:S6TVmlSMZm5qUCIo"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 19:46:07 GMT
recorded_with: VCR 4.0.0
