---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts
    body:
      encoding: UTF-8
      string: '{"dataProduct":{"id":"data-product-69118273-966f-4641-8a0f-bc741e4c20d2"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - k2R7ZwDIX1py3p0_1o-l7w:GRQR4xYZsYyq-cyHrZb02A
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts/data-product-69118273-966f-4641-8a0f-bc741e4c20d2"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - k2R7ZwDIX1py3p0_1o-l7w:GRQR4xYZsYyq-cyHrZb02A:LCu5fc8MTYOKt3an
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"dataProduct":{"id":"data-product-69118273-966f-4641-8a0f-bc741e4c20d2","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-69118273-966f-4641-8a0f-bc741e4c20d2","domain":"/gdc/domains/staging2-lcm-prod","segments":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-69118273-966f-4641-8a0f-bc741e4c20d2/segments","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-69118273-966f-4641-8a0f-bc741e4c20d2/clients"}}}'
  recorded_at: Wed, 10 Oct 2018 10:46:02 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/different_id/segments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - k2R7ZwDIX1py3p0_1o-l7w:VGNr23uPdSBISiwyLgr5GA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - k2R7ZwDIX1py3p0_1o-l7w:VGNr23uPdSBISiwyLgr5GA:kIY1vNB85l6N6vnx
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"segments":{"items":[]}}'
  recorded_at: Wed, 10 Oct 2018 10:46:03 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/different_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - k2R7ZwDIX1py3p0_1o-l7w:4btVDU5PV2063xloFKp0eA
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - k2R7ZwDIX1py3p0_1o-l7w:4btVDU5PV2063xloFKp0eA:3JI3MPjo0XvYalO8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 10:46:03 GMT
recorded_with: VCR 4.0.0
