---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts
    body:
      encoding: UTF-8
      string: '{"dataProduct":{"id":"data-product-5f20fa8f-1fc8-4457-8f51-c5f220762e7b"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":qQNSs_hL_25i0_9EwWyK-w:pY9vd4vhiT--fbTPmf4P-g"
      Stats-On:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts/data-product-5f20fa8f-1fc8-4457-8f51-c5f220762e7b"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":qQNSs_hL_25i0_9EwWyK-w:pY9vd4vhiT--fbTPmf4P-g:rbBIRUMEekN9EEfm"
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"dataProduct":{"id":"data-product-5f20fa8f-1fc8-4457-8f51-c5f220762e7b","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-5f20fa8f-1fc8-4457-8f51-c5f220762e7b","domain":"/gdc/domains/staging2-lcm-prod","segments":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-5f20fa8f-1fc8-4457-8f51-c5f220762e7b/segments","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-5f20fa8f-1fc8-4457-8f51-c5f220762e7b/clients"}}}'
  recorded_at: Thu, 24 Jan 2019 13:01:08 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/different_id/segments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":qQNSs_hL_25i0_9EwWyK-w:zBvkErNmWwi8qhePqqt8Jg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":qQNSs_hL_25i0_9EwWyK-w:zBvkErNmWwi8qhePqqt8Jg:7VcCdm0fCGcHqywh"
      X-Gdc-Request-Time:
      - '15'
    body:
      encoding: ASCII-8BIT
      string: '{"segments":{"items":[]}}'
  recorded_at: Thu, 24 Jan 2019 13:01:09 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/different_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":qQNSs_hL_25i0_9EwWyK-w:5s7Ngx0OsmOxHQBiCaXryQ"
      Stats-On:
      - ''
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '20'
      X-Gdc-Request:
      - ":qQNSs_hL_25i0_9EwWyK-w:5s7Ngx0OsmOxHQBiCaXryQ:T2YjeejPruX5WKqJ"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Jan 2019 13:01:10 GMT
recorded_with: VCR 4.0.0
