---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/t4to46zltdx1co92819k8f777w5xqcap
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - UuS53SoxUXbcCtKtQJ8ohw:c58l0R5zHrx1aTQ-0Ec44w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - UuS53SoxUXbcCtKtQJ8ohw:c58l0R5zHrx1aTQ-0Ec44w:aVyZsxY2jz1XDXgz
      X-Gdc-Request-Time:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/t4to46zltdx1co92819k8f777w5xqcap/ldm?thumbnail=1","self":"/gdc/projects/t4to46zltdx1co92819k8f777w5xqcap","clearCaches":"/gdc/projects/t4to46zltdx1co92819k8f777w5xqcap/clearCaches","invitations":"/gdc/projects/t4to46zltdx1co92819k8f777w5xqcap/invitations","users":"/gdc/projects/t4to46zltdx1co92819k8f777w5xqcap/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/t4to46zltdx1co92819k8f777w5xqcap/uploads/","ldm":"/gdc/projects/t4to46zltdx1co92819k8f777w5xqcap/ldm","metadata":"/gdc/md/t4to46zltdx1co92819k8f777w5xqcap","publicartifacts":"/gdc/projects/t4to46zltdx1co92819k8f777w5xqcap/publicartifacts","roles":"/gdc/projects/t4to46zltdx1co92819k8f777w5xqcap/roles","userRoles":"/gdc/projects/t4to46zltdx1co92819k8f777w5xqcap/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/t4to46zltdx1co92819k8f777w5xqcap/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/t4to46zltdx1co92819k8f777w5xqcap/dataload","connectors":"/gdc/projects/t4to46zltdx1co92819k8f777w5xqcap/connectors","execute":"/gdc/projects/t4to46zltdx1co92819k8f777w5xqcap/execute","config":"/gdc/projects/t4to46zltdx1co92819k8f777w5xqcap/config","projectFeatureFlags":"/gdc/projects/t4to46zltdx1co92819k8f777w5xqcap/projectFeatureFlags","schedules":"/gdc/projects/t4to46zltdx1co92819k8f777w5xqcap/schedules","templates":"/gdc/md/t4to46zltdx1co92819k8f777w5xqcap/templates","eventstores":"/gdc/projects/t4to46zltdx1co92819k8f777w5xqcap/dataload/eventstore/stores"},"meta":{"created":"2018-06-04
        11:14:37","summary":"No summary","updated":"2018-06-04 11:14:37","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Test
        MASTER project for 8907b242-752e-47fd-bb48-8ff1f5705337","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Mon, 04 Jun 2018 09:14:37 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/t4to46zltdx1co92819k8f777w5xqcap
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - UuS53SoxUXbcCtKtQJ8ohw:F3b4A0rDNs2oI_6xVTczDA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - UuS53SoxUXbcCtKtQJ8ohw:F3b4A0rDNs2oI_6xVTczDA:xKoLibnXao5FlOkg
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/t4to46zltdx1co92819k8f777w5xqcap/ldm?thumbnail=1","self":"/gdc/projects/t4to46zltdx1co92819k8f777w5xqcap","clearCaches":"/gdc/projects/t4to46zltdx1co92819k8f777w5xqcap/clearCaches","invitations":"/gdc/projects/t4to46zltdx1co92819k8f777w5xqcap/invitations","users":"/gdc/projects/t4to46zltdx1co92819k8f777w5xqcap/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/t4to46zltdx1co928[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/data-product-8907b242-752e-47fd-bb48-8ff1f5705337/segments
    body:
      encoding: UTF-8
      string: '{"segment":{"id":"test-segment-8907b242-752e-47fd-bb48-8ff1f5705337","masterProject":"/gdc/projects/t4to46zltdx1co92819k8f777w5xqcap"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - UuS53SoxUXbcCtKtQJ8ohw:zXHV_uq-fg-1hQ3XC7VSnw
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts/data-product-8907b242-752e-47fd-bb48-8ff1f5705337/segments/test-segment-8907b242-752e-47fd-bb48-8ff1f5705337"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - UuS53SoxUXbcCtKtQJ8ohw:zXHV_uq-fg-1hQ3XC7VSnw:tTV5B4wUPWlaDjkX
      X-Gdc-Request-Time:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '{"segment":{"id":"test-segment-8907b242-752e-47fd-bb48-8ff1f5705337","masterProject":"/gdc/projects/t4to46zltdx1co92819k8f777w5xqcap","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-8907b242-752e-47fd-bb48-8ff1f5705337/segments/test-segment-8907b242-752e-47fd-bb48-8ff1f5705337","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-8907b242-752e-47fd-bb48-8ff1f5705337","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-8907b242-752e-47fd-bb48-8ff1f5705337/clients?segment=test-segment-8907b242-752e-47fd-bb48-8ff1f5705337&limit=1000"}}}'
  recorded_at: Mon, 04 Jun 2018 09:14:44 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/data-product-8907b242-752e-47fd-bb48-8ff1f5705337/segments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - UuS53SoxUXbcCtKtQJ8ohw:PL4fO7gvQv_wiWIrWl1-HA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - UuS53SoxUXbcCtKtQJ8ohw:PL4fO7gvQv_wiWIrWl1-HA:gTJcAKcJMCMtUFTb
      X-Gdc-Request-Time:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '{"segments":{"items":[{"segment":{"id":"test-segment-8907b242-752e-47fd-bb48-8ff1f5705337","masterProject":"/gdc/projects/t4to46zltdx1co92819k8f777w5xqcap","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-8907b242-752e-47fd-bb48-8ff1f5705337/segments/test-segment-8907b242-752e-47fd-bb48-8ff1f5705337","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-8907b242-752e-47fd-bb48-8ff1f5705337","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-8907b242-752e-47fd-bb48-8ff1f5705337/clients?segment=test-segment-8907b242-752e-47fd-bb48-8ff1f5705337&limit=1000"}}}]}}'
  recorded_at: Mon, 04 Jun 2018 09:14:44 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/data-product-8907b242-752e-47fd-bb48-8ff1f5705337
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - UuS53SoxUXbcCtKtQJ8ohw:9MWLAEZXKdKngsd8OjfVdQ
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '21'
      X-Gdc-Request:
      - UuS53SoxUXbcCtKtQJ8ohw:9MWLAEZXKdKngsd8OjfVdQ:yWMx0LeoIyy8QhQV
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 04 Jun 2018 09:14:45 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/afa4veb0v2ik721cr91b79m2la311oaa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - "-5o6tdj1VkE0ovju_zfjUg:OYL9p2ZHG0tGAOGOph-p2A"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/jso[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/data-product-aa0deffb-316c-43e7-8ed9-00fab6c3e38c/clients?segment=test-segment-aa0deffb-316c-43e7-8ed9-00fab6c3e38c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - "-5o6tdj1VkE0ovju_zfjUg:mdozFaGrHuAELwrf9tcxww"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - "-5o6tdj1VkE0ovju_zfjUg:mdozFaGrHuAELwrf9tcxww:pq9qYmYkoxFIJYQm"
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"clients":{"items":[],"paging":{"next":null}}}'
  recorded_at: Tue, 05 Jun 2018 19:46:18 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/data-product-aa0deffb-316c-43e7-8ed9-00fab6c3e38c/segments/test-segment-aa0deffb-316c-43e7-8ed9-00fab6c3e38c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - "-5o6tdj1VkE0ovju_zfjUg:5Hg4QJTpMK9tJ_-Dr_ejxg"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts/data-product-aa0deffb-316c-43e7-8ed9-00fab6c3e38c/segments"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '21'
      X-Gdc-Request:
      - "-5o6tdj1VkE0ovju_zfjUg:5Hg4QJTpMK9tJ_-Dr_ejxg:vseeGuGoTBO0ZCU5"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 19:46:19 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/c9fybnah95r13qwgqzy36zp3b4c0bund
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 6RSuhbZC7Sno1jpq94t1Tg:gKOcw8dlOIgH5OWdEfNg6w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts
    body:
      encoding: UTF-8
      string: '{"dataProduct":{"id":"data-product-d1759ed6-6ed2-448e-aeca-0c52ca3d87f6"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - k2R7ZwDIX1py3p0_1o-l7w:llXyba8NVgKg2HQpKQz1tw
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts/data-product-d1759ed6-6ed2-448e-aeca-0c52ca3d87f6"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - k2R7ZwDIX1py3p0_1o-l7w:llXyba8NVgKg2HQpKQz1tw:CG5NKiI1pcz1BU12
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"dataProduct":{"id":"data-product-d1759ed6-6ed2-448e-aeca-0c52ca3d87f6","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-d1759ed6-6ed2-448e-aeca-0c52ca3d87f6","domain":"/gdc/domains/staging2-lcm-prod","segments":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-d1759ed6-6ed2-448e-aeca-0c52ca3d87f6/segments","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/data-product-d1759ed6-6ed2-448e-aeca-0c52ca3d87f6/clients"}}}'
  recorded_at: Wed, 10 Oct 2018 10:46:04 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Test MASTER project
        for d1759ed6-6ed2-448e-aeca-0c52ca3d87f6"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"PRODUCTION","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - k2R7ZwDIX1py3p0_1o-l7w:gzLtI6VcFChy-wgsJbDd5Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - k2R7ZwDIX1py3p0_1o-l7w:gzLtI6VcFChy-wgsJbDd5Q:oRgTdxrwzD4SGwuw
      X-Gdc-Request-Time:
      - '439'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/gxya7empwcstjgz2wq3j2qkr5bgltcab"}'
  recorded_at: Wed, 10 Oct 2018 10:46:05 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gxya7empwcstjgz2wq3j2qkr5bgltcab
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - k2R7ZwDIX1py3p0_1o-l7w:ezq4XzV8La84w8G0eD8SYw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/data-product-d1759ed6-6ed2-448e-aeca-0c52ca3d87f6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - k2R7ZwDIX1py3p0_1o-l7w:BTM9lr31I3D56ewghWBOnw
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '26'
      X-Gdc-Request:
      - k2R7ZwDIX1py3p0_1o-l7w:BTM9lr31I3D56ewghWBOnw:iuTGEqcTnvSqEhYj
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 10:46:15 GMT
recorded_with: VCR 4.0.0
