---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J0ocg-WKilejW9RudefL4Q:ubZ4_M8HN5MAgLTBGdSr8Q"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - GoodData realm="GoodData API" cookie=GDCAuthSST location=/gdc/account/login
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '15'
      X-Gdc-Request:
      - ":J0ocg-WKilejW9RudefL4Q:ubZ4_M8HN5MAgLTBGdSr8Q:mW7f5BC024VdGNL7"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 24 Jan 2019 12:29:04 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":PCgEGggrGAduEDsUg69ezA:R1eB89w5hgeQrFsMQ0pAyA"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - ":PCgEGggrGAduEDsUg69ezA:R1eB89w5hgeQrFsMQ0pAyA:LkvKsiwLWquJ1km9"
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 24 Jan 2019 12:43:09 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/customerlogin
    body:
      encoding: UTF-8
      string: targetUrl=%2Fgdc%2Fapp%2Faccount%2Fbootstrap&ssoProvider=test-ruby&encryptedClaims=-----BEGIN+PGP+MESSAGE-----%0A%0AhQIOA3sav0dr%2F91SEAgAlHJh6RTgNEtn9LXGqAG1L7ePOlkjlV%2BfK6Dc1ms9EgxH%0AUn0E2GTgSM0gwHFluEz6N8mX9PiQNobqKV4R3kaea6j%2F%2ButuUPExZvcPy1xluKIQ%0As7cb9C02KSw%2FR971o1ZAi%2Fc19EJcDkrr8L80HV5ulOP3vFgpStkySPFde12pVdpL%0AMz0oMIqLDONmwW1R2n33wFXB0[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/current
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ZEoNWPRkx45Ii4j4EWVF3w:Utnzv-h7trUQ7W4Fq1QulA"
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 307
      message: Temporary Redirect
    headers:
      Location:
      - "/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '10'
      X-Gdc-Request:
      - ":ZEoNWPRkx45Ii4j4EWVF3w:Utnzv-h7trUQ7W4Fq1QulA:cmUHCHCZk0LeaVtF"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 15 Jan 2020 04:36:37 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ZEoNWPRkx45Ii4j4EWVF3w:Utnzv-h7trUQ7W4Fq1QulA"
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '15'
      X-Gdc-Request:
      - ":ZEoNWPRkx45Ii4j4EWVF3w:Utnzv-h7trUQ7W4Fq1QulA:xY8QbsEvzhSx83iG"
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2019-03-15 10:00:00","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Wed, 15 Jan 2020 04:36:38 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users?login=rubydev%2Badmin@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ZEoNWPRkx45Ii4j4EWVF3w:ktLmBcJ-mJZLCAI_ct6nPw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '14'
      X-Gdc-Request:
      - ":ZEoNWPRkx45Ii4j4EWVF3w:ktLmBcJ-mJZLCAI_ct6nPw:kmEsxToBT2kC4HiF"
    body:
      encoding: ASCII-8BIT
      string: '{"accountSettings":{"paging":{"offset":0,"count":1},"items":[{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2019-03-15 10:00:00","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}]}}'
  recorded_at: Wed, 15 Jan 2020 04:36:40 GMT
recorded_with: VCR 5.0.0
