---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/customerlogin
    body:
      encoding: UTF-8
      string: "<PGP>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - "/gdc/app/account/bootstrap"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '60'
      X-Gdc-Request:
      - LVs8KEgB5OSqi7Av
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 10 Oct 2018 13:53:00 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/app/account/bootstrap
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - zqqA3q6rBsj-Y7fn1iGkWQ:lwLT-MA8Cg5ZLj3SHZZyIA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - zqqA3q6rBsj-Y7fn1iGkWQ:lwLT-MA8Cg5ZLj3SHZZyIA:cB71fqUWmr2k2iBs
      X-Gdc-Request-Time:
      - '175'
    body:
      encoding: ASCII-8BIT
      string: '{"bootstrapResource":{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2018-10-10 10:25:03","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null},"hostnameBase":"staging2-lcm-prod.intgdc.com","settings":{"applicationTitle":"GoodData","faviconUrl":"/images/favicon.ico","organizationName":"GoodData","displayFlashNews":true,"logoUrl":"/images/header/logo.png","displayProjects":true,"displayAccountPage":true,"isBranded":false,"supportEmail":"support@gooddata.com","supportForumUrl":"http://support.gooddata.com/home","privacyPolicyUrl":"http://www.gooddata.com/privacy.html","documentationUrl":"https://help.gooddata.com/doc/","securityStatementUrl":"http://www.gooddata.com/security.html","termsOfUseUrl":"http://www.gooddata.com/terms.html","trustUrl":"http://www.gooddata.com/trust/","appleTouchIconUrl":"https://secure.gooddata.com/images/appleTouchIcon.png","skipClientRedirect":false,"hideRegistration":false,"useOnboarding":true,"displayNPS":true,"showSSOCustomUnauthorizedLoginPage":false},"profileSetting":{"currentProjectUri":"/gdc/projects/ydu16jmfcrn2oc3cwtqd37vzdjlwlh5a","projectSettings":{"/gdc/projects/tn8r016uokxbwe9e1zmnp2uap4ex6nmu":{"dashboard":"/gdc/md/tn8r016uokxbwe9e1zmnp2uap4ex6nmu/obj/1202","tab":"9b511846bcdd","recentSearches":[],"manageReportsSettings":{}},"/gdc/projects/d6xxsbblidbuyej7g4uptrmunxnimi35":{"dashboard":"/gdc/md/d6xxsbblidbuyej7g4uptrmunxnimi35/obj/1230","tab":"undefined","recentSearches":[],"manageReportsSettings":{}},"/gdc/projects/jywjzkywec64ct2i5nxh9lkr4pw8zgop":{"dashboard":"/gdc/md/jywjzkywec64ct2i5nxh9lkr4pw8zgop/obj/735","tab":"967c8838a73e","recentSearches":[],"manageReportsSettings":{}},"/gdc/projects/nev5tfqwbcqcji0eo9hcrhgvch3oe96e":{"dashboard":"/gdc/md/nev5tfqwbcqcji0eo9hcrhgvch3oe96e/obj/881","tab":"undefined","re[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - zqqA3q6rBsj-Y7fn1iGkWQ:NFghj89q5ojIAnel0yaMJw
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - zqqA3q6rBsj-Y7fn1iGkWQ:NFghj89q5ojIAnel0yaMJw:yVWMZvRj0QBb4YCv
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 13:53:01 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users?login=rubydev%2Badmin@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - zqqA3q6rBsj-Y7fn1iGkWQ:5P_DcrzPjq3qTr9IV-NErw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - zqqA3q6rBsj-Y7fn1iGkWQ:5P_DcrzPjq3qTr9IV-NErw:HH8Mh5Fkm6qVbrWk
      X-Gdc-Request-Time:
      - '15'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSettings":{"paging":{"offset":0,"count":1},"items":[{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2018-10-10 10:25:03","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}]}}'
  recorded_at: Wed, 10 Oct 2018 13:53:02 GMT
recorded_with: VCR 4.0.0
