---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J0ocg-WKilejW9RudefL4Q:ubZ4_M8HN5MAgLTBGdSr8Q"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - GoodData realm="GoodData API" cookie=GDCAuthSST location=/gdc/account/login
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '17'
      X-Gdc-Request:
      - ":J0ocg-WKilejW9RudefL4Q:ubZ4_M8HN5MAgLTBGdSr8Q:SU6ZwIYSvsiOvxlm"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 24 Jan 2019 12:29:04 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":PCgEGggrGAduEDsUg69ezA:R1eB89w5hgeQrFsMQ0pAyA"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - ":PCgEGggrGAduEDsUg69ezA:R1eB89w5hgeQrFsMQ0pAyA:LkvKsiwLWquJ1km9"
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 24 Jan 2019 12:43:09 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ZEoNWPRkx45Ii4j4EWVF3w:KyTKyQqB5g0ZPGYcUXIxxA"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - ":ZEoNWPRkx45Ii4j4EWVF3w:KyTKyQqB5g0ZPGYcUXIxxA:G7D8JIn4UMvFV4wR"
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 04:36:39 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users?login=rubydev%2Badmin@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ZEoNWPRkx45Ii4j4EWVF3w:ktLmBcJ-mJZLCAI_ct6nPw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '14'
      X-Gdc-Request:
      - ":ZEoNWPRkx45Ii4j4EWVF3w:ktLmBcJ-mJZLCAI_ct6nPw:kmEsxToBT2kC4HiF"
    body:
      encoding: ASCII-8BIT
      string: '{"accountSettings":{"paging":{"offset":0,"count":1},"items":[{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2019-03-15 10:00:00","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}]}}'
  recorded_at: Wed, 15 Jan 2020 04:36:40 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/customerlogin
    body:
      encoding: UTF-8
      string: targetUrl=%2Fgdc%2Fapp%2Faccount%2Fbootstrap&ssoProvider=test-ruby&encryptedClaims=-----BEGIN+PGP+MESSAGE-----%0A%0AhQIOA3sav0dr%2F91SEAf%2FStIGeheqxiry929CfLCYyPqdYfEuHYyCyRwHFTHB0Ie5%0AHRQqF9MMeEaHyc%2FqK1orjw99TUTdpaEaVZipgid4sszO59XbbGGKnZja9mpUkXW5%0A4UwR%2BjUnconn3GRbV4%2BTnMWSDGyomsWvrK0b5S3FJ6lwsDVpX47C5O6qZa%2BQb9Tp%0A6C%2FWHNWsVEzyjBODIqasw4h[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/current
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Yc2vCCB6JcBZRJJF5jrRkA:aHYtjrAZuYwSIKuFMNR7zQ"
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 307
      message: Temporary Redirect
    headers:
      Location:
      - "/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '34'
      X-Gdc-Request:
      - ":Yc2vCCB6JcBZRJJF5jrRkA:aHYtjrAZuYwSIKuFMNR7zQ:Zv3Lfs2dqM2oTTwX"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 10 Sep 2020 08:13:01 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Yc2vCCB6JcBZRJJF5jrRkA:aHYtjrAZuYwSIKuFMNR7zQ"
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '15'
      X-Gdc-Request:
      - ":Yc2vCCB6JcBZRJJF5jrRkA:aHYtjrAZuYwSIKuFMNR7zQ:htVqtkn3xpmj43hl"
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2019-03-15 10:00:00","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Thu, 10 Sep 2020 08:13:03 GMT
[...]
