---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J0ocg-WKilejW9RudefL4Q:ubZ4_M8HN5MAgLTBGdSr8Q"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - GoodData realm="GoodData API" cookie=GDCAuthSST location=/gdc/account/login
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '17'
      X-Gdc-Request:
      - ":J0ocg-WKilejW9RudefL4Q:ubZ4_M8HN5MAgLTBGdSr8Q:wpwoJIypLjcnXmBK"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 24 Jan 2019 12:29:03 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/customerlogin
    body:
      encoding: UTF-8
      string: targetUrl=%2Fgdc%2Fapp%2Faccount%2Fbootstrap&ssoProvider=test-ruby&encryptedClaims=-----BEGIN+PGP+MESSAGE-----%0A%0AhQIOA3sav0dr%2F91SEAf%2FUoClG8OKiSKSdLMjidqMvlHu6XOov1g4lu5XyTLZdSo0%0AdGlFhJd%2Fi4xUBDt3zAcdEvhoYWLXbuij7WJ3r05aZYDwvDLpcAHoqprTo%2FlP%2BQaE%0A4aEfsrN1g9Afi2qgQ5XktuvODx%2BByw6f27WwU36sdT15RUZ94%2B5tSj0yMsI2UOwE%0AqbHHMISzg6QlnJ5tTFA4v10[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/current
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":PCgEGggrGAduEDsUg69ezA:1m9mX_cH4g2aIifOgQcaFw"
  response:
    status:
      code: 307
      message: Temporary Redirect
    headers:
      Location:
      - "/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '10'
      X-Gdc-Request:
      - ":PCgEGggrGAduEDsUg69ezA:1m9mX_cH4g2aIifOgQcaFw:Q8hgnNF5isMBppPu"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 24 Jan 2019 12:43:08 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":PCgEGggrGAduEDsUg69ezA:1m9mX_cH4g2aIifOgQcaFw"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":PCgEGggrGAduEDsUg69ezA:1m9mX_cH4g2aIifOgQcaFw:h5cCruhb9AX8dVe3"
      X-Gdc-Request-Time:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2018-12-03 11:09:12","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Thu, 24 Jan 2019 12:43:09 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":PCgEGggrGAduEDsUg69ezA:R1eB89w5hgeQrFsMQ0pAyA"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - ":PCgEGggrGAduEDsUg69ezA:R1eB89w5hgeQrFsMQ0pAyA:LkvKsiwLWquJ1km9"
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 24 Jan 2019 12:43:09 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users?login=rubydev%2Badmin@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":PCgEGggrGAduEDsUg69ezA:V4QQX1oAfuRKGeNqh0f3fg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":PCgEGggrGAduEDsUg69ezA:V4QQX1oAfuRKGeNqh0f3fg:0zRXbVPVzLhK6THi"
      X-Gdc-Request-Time:
      - '14'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSettings":{"paging":{"offset":0,"count":1},"items":[{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2018-12-03 11:09:12","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}]}}'
  recorded_at: Thu, 24 Jan 2019 12:43:10 GMT
recorded_with: VCR 4.0.0
