---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/customerlogin
    body:
      encoding: UTF-8
      string: "<PGP>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - "/gdc/app/account/profile/current"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '60'
      X-Gdc-Request:
      - LVs8KEgB5OSqi7Av
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 10 Oct 2018 13:53:00 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/current
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - zqqA3q6rBsj-Y7fn1iGkWQ:lwLT-MA8Cg5ZLj3SHZZyIA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - zqqA3q6rBsj-Y7fn1iGkWQ:lwLT-MA8Cg5ZLj3SHZZyIA:cB71fqUWmr2k2iBs
      X-Gdc-Request-Time:
      - '175'
    body:
      encoding: ASCII-8BIT
      string: '{
                  "accountSetting": {
                      "links": {
                          "self": "/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa",
                          "projects": "/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"
                      },
                      "firstName": "the",
                      "lastName": "1",
                      "companyName": "",
                      "position": null,
                      "created": "2017-02-10 12:18:01",
                      "updated": "2018-10-10 10:25:03",
                      "country": null,
                      "phoneNumber": "",
                      "authenticationModes": ["PASSWORD", "SSO"],
                      "login": "rubydev+admin@gooddata.com",
                      "timezone": null,
                      "ssoProvider": "test-ruby",
                      "email": "rubydev+admin@gooddata.com",
                      "language": "en-US",
                      "ipWhitelist": null,
                      "effectiveIpWhitelist": null
                    }
                }'
  recorded_at: Wed, 10 Oct 2018 13:53:01 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - zqqA3q6rBsj-Y7fn1iGkWQ:NFghj89q5ojIAnel0yaMJw
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - zqqA3q6rBsj-Y7fn1iGkWQ:NFghj89q5ojIAnel0yaMJw:yVWMZvRj0QBb4YCv
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 10 Oct 2018 13:53:01 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users?login=rubydev%2Badmin@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - zqqA3q6rBsj-Y7fn1iGkWQ:5P_DcrzPjq3qTr9IV-NErw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - zqqA3q6rBsj-Y7fn1iGkWQ:5P_DcrzPjq3qTr9IV-NErw:HH8Mh5Fkm6qVbrWk
      X-Gdc-Request-Time:
      - '15'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSettings":{"paging":{"offset":0,"count":1},"items":[{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2018-10-10 10:25:03","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}]}}'
  recorded_at: Wed, 10 Oct 2018 13:53:02 GMT
recorded_with: VCR 4.0.0
