---
http_interactions:
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/60049a0d386d7541e4b35fe4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:ryqaigp3_sYftou31gBnMQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources"
      X-Gdc-Request-Time:
      - '29'
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:ryqaigp3_sYftou31gBnMQ:TX9iFKJZbjTvaaQm"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 17 Jan 2021 20:11:58 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources
    body:
      encoding: UTF-8
      string: '{"dataSource":{"name":"BigQueryDS","connectionInfo":{"bigQuery":{"authentication":{"serviceAccount":{"clientEmail":"test@client.com","privateKey":"abc123"}},"project":"project_test","schema":"schema_test"}},"alias":"so0wzlm-ORPL0GQ1vS18AQ","prefix":"prefix_"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:cI1nObWYh_1JdSM9QTCQPQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources/6004f6fb3578a141e440aaeb"
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '21'
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:cI1nObWYh_1JdSM9QTCQPQ:CIJTlvssDRb6Olty"
    body:
      encoding: ASCII-8BIT
      string: '{"dataSource":{"id":"6004f6fb3578a141e440aaeb","owner":"5ad80b895edcc438e5a4418e222733fa","name":"BigQueryDS","prefix":"prefix_","alias":"so0wzlm-ORPL0GQ1vS18AQ","lastModified":"2021-01-18T02:48:27.389Z","connectionInfo":{"bigQuery":{"authentication":{"serviceAccount":{"clientEmail":"test@client.com","privateKey":""}},"project":"project_test","schema":"schema_test"}},"links":{"parent":"/gdc/dataload/dataSources","self":"/gdc/dataload/dataSources/6004f6fb3578a141e440aaeb","buildModelMapping":"/gdc/dataload/dataSources/6004f6fb3578a141e440aaeb/buildModelMapping","dataMapping":"/gdc/dataload/dataSources/6004f6fb3578a141e440aaeb/dataMapping","generateModel":"/gdc/dataload/dataSources/6004f6fb3578a141e440aaeb/generateModel","generateOutputStage":"/gdc/dataload/dataSources/6004f6fb3578a141e440aaeb/generateOutputStage","validateConnection":"/gdc/dataload/dataSources/6004f6fb3578a141e440aaeb/validateConnection"}}}'
  recorded_at: Mon, 18 Jan 2021 02:48:27 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/6004f6fb3578a141e440aaeb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:Ov_A4F2lNPQPU3xp8dw8PQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources"
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:Ov_A4F2lNPQPU3xp8dw8PQ:7WZzDavwpFkLeVOR"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 18 Jan 2021 02:48:28 GMT
recorded_with: VCR 5.0.0
