---
http_interactions:
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/60049a0f386d7541e4b35fe5
    body:
      encoding: UTF-8
      string: '{"dataSource":{"name":"BigQueryDS_New","connectionInfo":{"bigQuery":{"authentication":{"serviceAccount":{"clientEmail":"test@client.com","privateKey":""}},"project":"project_test","schema":"schema_test"}},"alias":"DBJfbcPzSVMo7poO4td3bA","prefix":"prefix_"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:Ron0HTDHCLzwxSKD9X9fvw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '21'
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:Ron0HTDHCLzwxSKD9X9fvw:cvHVQRRe3gtsu2wv"
    body:
      encoding: ASCII-8BIT
      string: '{"dataSource":{"id":"60049a0f386d7541e4b35fe5","owner":"5ad80b895edcc438e5a4418e222733fa","name":"BigQueryDS_New","prefix":"prefix_","alias":"DBJfbcPzSVMo7poO4td3bA","lastModified":"2021-01-17T20:12:00.222Z","connectionInfo":{"bigQuery":{"authentication":{"serviceAccount":{"clientEmail":"test@client.com","privateKey":""}},"project":"project_test","schema":"schema_test"}},"links":{"parent":"/gdc/dataload/dataSources","self":"/gdc/dataload/dataSources/60049a0f386d7541e4b35fe5","buildModelMapping":"/gdc/dataload/dataSources/60049a0f386d7541e4b35fe5/buildModelMapping","dataMapping":"/gdc/dataload/dataSources/60049a0f386d7541e4b35fe5/dataMapping","generateModel":"/gdc/dataload/dataSources/60049a0f386d7541e4b35fe5/generateModel","generateOutputStage":"/gdc/dataload/dataSources/60049a0f386d7541e4b35fe5/generateOutputStage","validateConnection":"/gdc/dataload/dataSources/60049a0f386d7541e4b35fe5/validateConnection"}}}'
  recorded_at: Sun, 17 Jan 2021 20:12:00 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/60049a0f386d7541e4b35fe5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:hapZrZX8UBjAwJDh9W4sCQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources"
      X-Gdc-Request-Time:
      - '205'
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:hapZrZX8UBjAwJDh9W4sCQ:MfZIFp2n9YIMA6bm"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 17 Jan 2021 20:12:01 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources
    body:
      encoding: UTF-8
      string: '{"dataSource":{"name":"BigQueryDS","connectionInfo":{"bigQuery":{"authentication":{"serviceAccount":{"clientEmail":"test@client.com","privateKey":"abc123"}},"project":"project_test","schema":"schema_test"}},"alias":"bYmL8rwENgg9ZoxyHUbcpQ","prefix":"prefix_"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GD[...]
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/6004f6fd386d7541e4b36017
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:EPgxLTFrNRvfc48SpxlG6w"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources"
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:EPgxLTFrNRvfc48SpxlG6w:AJApt9Z4eRmro93h"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 18 Jan 2021 02:48:31 GMT
recorded_with: VCR 5.0.0
