---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _rF9YKlQktWVJimM6XHJYw:2o1Olkzd0NyUXIW4bj-LhQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _rF9YKlQktWVJimM6XHJYw:2o1Olkzd0NyUXIW4bj-LhQ:jbA7BR2NdZTq2EL0
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/etltask/94838f43bd3c90ad511ca778e8d277380000002b"},"token":"<TOKEN>"}}'
  recorded_at: Tue, 05 Jun 2018 05:41:24 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/etltask/94838f43bd3c90ad511ca778e8d277380000002b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _rF9YKlQktWVJimM6XHJYw:up4ojugCyYnecq8I8AKc6g
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _rF9YKlQktWVJimM6XHJYw:up4ojugCyYnecq8I8AKc6g:N5Sc8pidBOsMMMKG
      X-Gdc-Request-Time:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Tue, 05 Jun 2018 05:41:24 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"import clone test"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"PRODUCTION","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _rF9YKlQktWVJimM6XHJYw:xzwOziQoKUHm-jF_lYEeww
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _rF9YKlQktWVJimM6XHJYw:xzwOziQoKUHm-jF_lYEeww:H6kBy4aB26dfqh2U
      X-Gdc-Request-Time:
      - '462'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/e6mtls7oexhpngkm33xw2z6br0wmj88l"}'
  recorded_at: Tue, 05 Jun 2018 05:41:36 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/e6mtls7oexhpngkm33xw2z6br0wmj88l
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _rF9YKlQktWVJimM6XHJYw:jqy2Yp59kz1rYy_kOzOOxg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _rF9YKlQktWVJimM6XHJYw:jqy2Yp59kz1rYy_kOzOOxg:WtMGLjEeyWeD9iPu
      X-Gdc-Request-Time:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/e6mtls7oexhpngkm33xw2z6br0wmj88l/ldm?thumbnail=1","self":"/gdc/projects/e6mtls7oexhpngkm33xw2z6br0wmj88l","clearCaches":"/gdc/projects/e6mtls7oexhpngkm33xw2z6br0wmj88l/clearCaches","invitations":"/gdc/projects/e6mtls7oexhpngkm33xw2z6br0wmj88l/invitations","users":"/gdc/projects/e6mtls7oexhpngkm33xw2z6br0wmj88l/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/e6mtls7oexhpngkm33xw2z6br0wmj88l/uploads/","ldm":"/gdc/projects/e6mtls7oexhpngkm33xw2z6br0wmj88l/ldm","metadata":"/gdc/md/e6mtls7oexhpngkm33xw2z6br0wmj88l","publicartifacts":"/gdc/projects/e6mtls7oexhpngkm33xw2z6br0wmj88l/publicartifacts","roles":"/gdc/projects/e6mtls7oexhpngkm33xw2z6br0wmj88l/roles","userRoles":"/gdc/projects/e6mtls7oexhpngkm33xw2z6br0wmj88l/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/e6mtls7oexhpngkm33xw2z6br0wmj88l/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/e6mtls7oexhpngkm33xw2z6br0wmj88l/dataload","connectors":"/gdc/projects/e6mtls7oexhpngkm33xw2z6br0wmj88l/connectors","execute":"/gdc/projects/e6mtls7oexhpngkm33xw2z6br0wmj88l/execute","config":"/gdc/projects/e6mtls7oexhpngkm33xw2z6br0wmj88l/config","projectFeatureFlags":"/gdc/projects/e6mtls7oexhpngkm33xw2z6br0wmj88l/projectFeatureFlags","schedules":"/gdc/projects/e6mtls7oexhpngkm33xw2z6br0wmj88l/schedules","templates":"/gdc/md/e6mtls7oexhpngkm33xw2z6br0wmj88l/templates","eventstores":"/gdc/projects/e6mtls7oexhpngkm33xw2z6br0wmj88l/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        07:41:35","summary":"No summary","updated":"2018-06-05 07:41:36","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"import
        clone test","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 05:41:37 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e6mtls7oexhpngkm33xw2z6br0wmj88l/maintenance/import
    body:
      encoding: UTF-8
      string: '{"importProject":{"token":"<TOKEN>"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _rF9YKlQktWVJimM6XHJYw:SG7ZZqssujcqUh8NWBhRsQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - _rF9YKlQktWVJimM6XHJYw:SG7ZZqssujcqUh8NWBhRsQ:zMOi2qa93HjBMBm4
      X-Gdc-Request-Time:
      - '51'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/e6mtls7oexhpngkm33xw2z6br0wmj88l/etltask/594d5a4a479d9c7bd73b7651053c7c770000002b"}'
  recorded_at: Tue, 05 Jun 2018 05:41:44 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/e6mtls7oexhpngkm33xw2z6br0wmj88l
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - _rF9YKlQktWVJimM6XHJYw:I3bAXL6yjtZtGcGHHSvoXg
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '65'
      X-Gdc-Request:
      - _rF9YKlQktWVJimM6XHJYw:I3bAXL6yjtZtGcGHHSvoXg:2YJRY5zs0205wGCJ
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 05:41:44 GMT
recorded_with: VCR 4.0.0
