---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"client_a722561d-a7dd-4978-83a9-2388d4485b57
        other project"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"PRODUCTION","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:dReOmVu7JARNAsrkfBwbGQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:dReOmVu7JARNAsrkfBwbGQ:3OYjZnhGPFF7Eq7v
      X-Gdc-Request-Time:
      - '452'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo"}'
  recorded_at: Mon, 04 Jun 2018 13:04:44 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:cUjU9osEitU-yuRPIuOj5A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:cUjU9osEitU-yuRPIuOj5A:Ov7JjPeZTg29Irna
      X-Gdc-Request-Time:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/ldm?thumbnail=1","self":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo","clearCaches":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/clearCaches","invitations":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/invitations","users":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/uploads/","ldm":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/ldm","metadata":"/gdc/md/qpg0yonx5n881bk3uin6c8c1z69k89lo","publicartifacts":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/publicartifacts","roles":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/roles","userRoles":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/dataload","connectors":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/connectors","execute":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/execute","config":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/config","projectFeatureFlags":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/projectFeatureFlags","schedules":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/schedules","templates":"/gdc/md/qpg0yonx5n881bk3uin6c8c1z69k89lo/templates","eventstores":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/dataload/eventstore/stores"},"meta":{"created":"2018-06-04
        15:04:43","summary":"No summary","updated":"2018-06-04 15:04:44","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"client_a722561d-a7dd-4978-83a9-2388d4485b57
        other project","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Mon, 04 Jun 2018 13:04:44 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_a722561d-a7dd-4978-83a9-2388d4485b57
    body:
      encoding: UTF-8
      string: '{"client":{"id":"tenant_a722561d-a7dd-4978-83a9-2388d4485b57","segment":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54","project":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_a722561d-a7dd-4978-83a9-2388d4485b57"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:vlsHi-asBEGQjHfC_XnBCQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_a722561d-a7dd-4978-83a9-2388d4485b57"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:vlsHi-asBEGQjHfC_XnBCQ:ZIj4EbuzBS2OAVd6
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"client":{"id":"tenant_a722561d-a7dd-4978-83a9-2388d4485b57","segment":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54","project":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_a722561d-a7dd-4978-83a9-2388d4485b57"}}}'
  recorded_at: Mon, 04 Jun 2018 13:04:52 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:XDFp3VdNnDcjL_ppvY2eMg
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '52'
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:XDFp3VdNnDcjL_ppvY2eMg:IoHbITP9KVQjRS5F
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 04 Jun 2018 13:04:53 GMT
recorded_with: VCR 4.0.0
