---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:cUjU9osEitU-yuRPIuOj5A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:cUjU9osEitU-yuRPIuOj5A:Ov7JjPeZTg29Irna
      X-Gdc-Request-Time:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/ldm?thumbnail=1","self":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo","clearCaches":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/clearCaches","invitations":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/invitations","users":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/uploads/","ldm":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/ldm","metadata":"/gdc/md/qpg0yonx5n881bk3uin6c8c1z69k89lo","publicartifacts":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/publicartifacts","roles":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/roles","userRoles":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/dataload","connectors":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/connectors","execute":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/execute","config":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/config","projectFeatureFlags":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/projectFeatureFlags","schedules":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/schedules","templates":"/gdc/md/qpg0yonx5n881bk3uin6c8c1z69k89lo/templates","eventstores":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/dataload/eventstore/stores"},"meta":{"created":"2018-06-04
        15:04:43","summary":"No summary","updated":"2018-06-04 15:04:44","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"client_a722561d-a7dd-4978-83a9-2388d4485b57
        other project","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Mon, 04 Jun 2018 13:04:44 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:g_AemGrMjeHQeyiHBTM1sQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:g_AemGrMjeHQeyiHBTM1sQ:PX0VHK9CTK91rT0Z
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/ldm?thumbnail=1","self":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo","clearCaches":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/clearCaches","invitations":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/invitations","users":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/qpg0yonx5n881bk3u[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_a722561d-a7dd-4978-83a9-2388d4485b57
    body:
      encoding: UTF-8
      string: '{"client":{"id":"tenant_a722561d-a7dd-4978-83a9-2388d4485b57","segment":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54","project":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_a722561d-a7dd-4978-83a9-2388d4485b57"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:vlsHi-asBEGQjHfC_XnBCQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_a722561d-a7dd-4978-83a9-2388d4485b57"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:vlsHi-asBEGQjHfC_XnBCQ:ZIj4EbuzBS2OAVd6
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"client":{"id":"tenant_a722561d-a7dd-4978-83a9-2388d4485b57","segment":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54","project":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_a722561d-a7dd-4978-83a9-2388d4485b57"}}}'
  recorded_at: Mon, 04 Jun 2018 13:04:52 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/sqcjgyw0mnje0vbcr1kz3zddgve2cl5e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 3ba6ykQDqA-zjV1OJ0Mn7A:ONmRKRehKByVDW5cJFxXKw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/c8m3w7qb3hw55zauhq5d6xlm0pjuje6w
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:PkwBzMmyE6plvTRBMR48nA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:PkwBzMmyE6plvTRBMR48nA:Nir1zQTq3MR4zFGX
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/p096chlpm0owe839lhtv9qnntdze1scq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":VPQxndjR6y85kHcLWCKjeQ:OZ1vXnJktWjA8ulE7R6Frw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":VPQxndjR6y85kHcLWCKjeQ:OZ1vXnJktWjA8ulE7R6Frw:ROnk2APqjYNU0pEF"
      X-Gdc-Request-Time:
      - '55'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"client_3799680e-5345-40d7-bd92-dfd9d4f2e0e8
        other project"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"PRODUCTION","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Q8zktsCSozedYOeqV6NreQ:LjsJLPcX5doqT2h1IbkF0A"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '414'
      X-Gdc-Request:
      - ":Q8zktsCSozedYOeqV6NreQ:LjsJLPcX5doqT2h1IbkF0A:oghZttTWKeAXN0zm"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/d4wz0829otzckt56re11zevxcq2mw7t4"}'
  recorded_at: Wed, 15 Jan 2020 04:35:09 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/d4wz0829otzckt56re11zevxcq2mw7t4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Q8zktsCSozedYOeqV6NreQ:wZzrB4lmDl4SmPhywusf5w"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '54'
      X-Gdc-Request:
      - ":Q8zktsCSozedYOeqV6NreQ:wZzrB4lmDl4SmPhywusf5w:dcvSClJjZWETksFU"
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADING"},"links":{"ldm_thumbnail":"/gdc/projects/d4wz0829otzckt56re11zevxcq2mw7t4/ldm?thumbnail=1","self":"/gdc/projects/d4wz0829otzckt56re11zevxcq2mw7t4","clearCaches":"/gdc/projects/d4wz0829otzckt56re11zevxcq2mw7t4/clearCaches","invitations":"/gdc/projects/d4wz0829otzckt56re11zevxcq2mw7t4/invitations","users":"/gdc/projects/d4wz0829otzckt56re11zevxcq2mw7t4/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/d4wz0829otzckt56re11zevxcq2mw7t4/checkXaeCompatibility","uploads":"/gdc/projects/d4wz0829otzckt56re11zevxcq2mw7t4/uploads/","ldm":"/gdc/projects/d4wz0829otzckt56re11zevxcq2mw7t4/ldm","metadata":"/gdc/md/d4wz0829otzckt56re11zevxcq2mw7t4","publicartifacts":"/gdc/projects/d4wz0829otzckt56re11zevxcq2mw7t4/publicartifacts","roles":"/gdc/projects/d4wz0829otzckt56re11zevxcq2mw7t4/roles","userRoles":"/gdc/projects/d4wz0829otzckt56re11zevxcq2mw7t4/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/d4wz0829otzckt56re11zevxcq2mw7t4/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/d4wz0829otzckt56re11zevxcq2mw7t4/dataload","connectors":"/gdc/projects/d4wz0829otzckt56re11zevxcq2mw7t4/connectors","execute":"/gdc/projects/d4wz0829otzckt56re11zevxcq2mw7t4/execute","config":"/gdc/projects/d4wz0829otzckt56re11zevxcq2mw7t4/config","projectFeatureFlags":"/gdc/projects/d4wz0829otzckt56re11zevxcq2mw7t4/projectFeatureFlags","schedules":"/gdc/projects/d4wz0829otzckt56re11zevxcq2mw7t4/schedules","templates":"/gdc/md/d4wz0829otzckt56re11zevxcq2mw7t4/templates"},"meta":{"created":"2020-01-15
        05:35:08","summary":"No summary","updated":"2020-01-15 05:35:09","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"client_3799680e-5345-40d7-bd92-dfd9d4f2e0e8
        other project","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 15 Jan 2020 04:35:10 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/d4wz0829otzckt56re11zevxcq2mw7t4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Q8zktsCSozedYOeqV6NreQ:kG99dPb6JtntHm1A20B2ow"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '56'
      X-Gdc-Request:
      - ":Q8zktsCSozedYOeqV6NreQ:kG99dPb6JtntHm1A20B2ow:COKlgrFB8cu5IEga"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 15 Jan 2020 04:35:19 GMT
recorded_with: VCR 5.0.0
