---
http_interactions:
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_a722561d-a7dd-4978-83a9-2388d4485b57
    body:
      encoding: UTF-8
      string: '{"client":{"id":"different_id","segment":"/gdc/domains/staging2-lcm-prod/segments/segment-cb3812e7-52f9-43cf-8ce9-89d9e9ef2338","project":"/gdc/projects/qpg0yonx5n881bk3uin6c8c1z69k89lo","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_a722561d-a7dd-4978-83a9-2388d4485b57"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:-kndsPlq0eDDaTs-KsI_uA
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:-kndsPlq0eDDaTs-KsI_uA:VOgAHZErHuTkWqd7
      X-Gdc-Request-Time:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"errorClass":"com.gooddata.webapp.rest.resource.lifecycle.ClientException","trace":"","message":"Changing
        client ''%s'' to ''%s'' is not allowed","component":"Webapp","errorId":"1fbda1a3-a192-4cd8-9994-c9fe89e586d2","errorCode":"gdc.c4.bad_request.dataproduct.client_id.mismatch","parameters":["tenant_a722561d-a7dd-4978-83a9-2388d4485b57","different_id"]}}'
  recorded_at: Mon, 04 Jun 2018 13:05:03 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_bcd3b336-e319-494d-bb6a-0c728ff5718d
    body:
      encoding: UTF-8
      string: '{"client":{"id":"different_id","segment":"/gdc/domains/staging2-lcm-prod/segments/segment-2f9981d4-825b-4031-8048-7f7b787b953f","project":"/gdc/projects/c8m3w7qb3hw55zauhq5d6xlm0pjuje6w","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_bcd3b336-e319-494d-bb6a-0c728ff5718d"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:KKientbZXMxnvVnSlo2CxQ
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:KKientbZXMxnvVnSlo2CxQ:ZwXjkIMsW62M30Kk
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"errorClass":"com.gooddata.webapp.rest.resource.lifecycle.ClientException","trace":"","message":"Changing
        client ''%s'' to ''%s'' is not allowed","component":"Webapp","errorId":"5408c120-e5ce-417e-b70a-69050382769f","errorCode":"gdc.c4.bad_request.dataproduct.client_id.mismatch","parameters":["tenant_bcd3b336-e319-494d-bb6a-0c728ff5718d","different_id"]}}'
  recorded_at: Wed, 10 Oct 2018 10:29:10 GMT
recorded_with: VCR 4.0.0
