---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients?segment=segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:C66ynmA31XgLO0JItrTv9A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:C66ynmA31XgLO0JItrTv9A:pM6YXiFwjrWrcJeK
      X-Gdc-Request-Time:
      - '13'
    body:
      encoding: ASCII-8BIT
      string: '{"clients":{"items":[{"client":{"id":"tenant_449ac658-afbb-494b-9364-590e2021212a","segment":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54","project":"/gdc/projects/c2vebxli7q5cueqrn7in25e31sw68eaq","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_449ac658-afbb-494b-9364-590e2021212a"}}}],"paging":{"next":null}}}'
  recorded_at: Mon, 04 Jun 2018 13:04:16 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_449ac658-afbb-494b-9364-590e2021212a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:R3DLXwbuILF9nvVtkgRYuQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:R3DLXwbuILF9nvVtkgRYuQ:W5TyGhxBcJ3An6zm
      X-Gdc-Request-Time:
      - '11'
    body:
      encoding: ASCII-8BIT
      string: '{"client":{"id":"tenant_449ac658-afbb-494b-9364-590e2021212a","segment":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54","project":"/gdc/projects/c2vebxli7q5cueqrn7in25e31sw68eaq","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_449ac658-afbb-494b-9364-590e2021212a"}}}'
  recorded_at: Mon, 04 Jun 2018 13:04:17 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/c2vebxli7q5cueqrn7in25e31sw68eaq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:sDI0NuzwqW3h6HG84bcrGQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:sDI0NuzwqW3h6HG84bcrGQ:U11B4bR2SDjjKyWm
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/c2vebxli7q5cueqrn7in25e31sw68eaq/ldm?thumbnail=1","self":"/gdc/projects/c2vebxli7q5cueqrn7in25e31sw68eaq","clearCaches":"/gdc/projects/c2vebxli7q5cueqrn7in25e31sw68eaq/clearCaches","invitations":"/gdc/projects/c2vebxli7q5cueqrn7in25e31sw68eaq/invitations","users":"/gdc/projects/c2vebxli7q5cueqrn7in25e31sw68eaq/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/c2vebxli7q5cueqrn7in25e31sw68eaq/uploads/","ldm":"/gdc/projects/c2vebxli7q5cueqrn7in25e31sw68eaq/ldm","metadata":"/gdc/md/c2vebxli7q5cueqrn7in25e31sw68eaq","publicartifacts":"/gdc/projects/c2vebxli7q5cueqrn7in25e31sw68eaq/publicartifacts","roles":"/gdc/projects/c2vebxli7q5cueqrn7in25e31sw68eaq/roles","userRoles":"/gdc/projects/c2vebxli7q5cueqrn7in25e31sw68eaq/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/c2vebxli7q5cueqrn7in25e31sw68eaq/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/c2vebxli7q5cueqrn7in25e31sw68eaq/dataload","connectors":"/gdc/projects/c2vebxli7q5cueqrn7in25e31sw68eaq/connectors","execute":"/gdc/projects/c2vebxli7q5cueqrn7in25e31sw68eaq/execute","config":"/gdc/projects/c2vebxli7q5cueqrn7in25e31sw68eaq/config","projectFeatureFlags":"/gdc/projects/c2vebxli7q5cueqrn7in25e31sw68eaq/projectFeatureFlags","schedules":"/gdc/projects/c2vebxli7q5cueqrn7in25e31sw68eaq/schedules","templates":"/gdc/md/c2vebxli7q5cueqrn7in25e31sw68eaq/templates","eventstores":"/gdc/projects/c2vebxli7q5cueqrn7in25e31sw68eaq/dataload/eventstore/stores"},"meta":{"created":"2018-06-04
        15:04:06","summary":"No summary","updated":"2018-06-04 15:04:08","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"client_1
        project","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Mon, 04 Jun 2018 13:04:18 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_449ac658-afbb-494b-9364-590e2021212a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:fc-QwW0GkbmvwnINWmpadQ
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts/default/clients"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '14'
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:fc-QwW0GkbmvwnINWmpadQ:3DNG0b2dk3ucPyo1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 04 Jun 2018 13:04:21 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/tjd4nbehr2b9whbu1c55zgqxra2v8qvo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 3ba6ykQDqA-zjV1OJ0Mn7A:4xreOK0iKNJql-eWhGmj2Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients?segment=segment-5512853c-2fcf-428e-b40d-fcac616277e9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:eNk0kIzIMxWcY0iUZlutfQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:eNk0kIzIMxWcY0iUZlutfQ:9IQwPOR8yR7uN4Rh
      X-Gdc-Request-Time:
      - '16'
    body:
      encoding: ASCII-8BIT
      string: '{"clients":{"items":[{"client":{"id":"tenant_b0498a01-2fb6-4417-aa01-71e79e678c21","segment":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-5512853c-2fcf-428e-b40d-fcac616277e9","project":"/gdc/projects/rbn6cr7p6zh3ln1y3er349rmlcngjv88","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_b0498a01-2fb6-4417-aa01-71e79e678c21"}}}],"paging":{"next":null}}}'
  recorded_at: Wed, 10 Oct 2018 10:28:16 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rbn6cr7p6zh3ln1y3er349rmlcngjv88
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:0C3dXxSqtjLeiaiA5bEz3A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
