---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients?segment=segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:4OB0SN7EYL3bYrDVpMl85w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:4OB0SN7EYL3bYrDVpMl85w:XsJWQNjAd5jwH29V
      X-Gdc-Request-Time:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '{"clients":{"items":[{"client":{"id":"tenant_fe4dab03-ab50-46b0-9bb8-da6510502bdf","segment":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54","project":null,"links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_fe4dab03-ab50-46b0-9bb8-da6510502bdf"}}}],"paging":{"next":null}}}'
  recorded_at: Mon, 04 Jun 2018 13:03:49 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_fe4dab03-ab50-46b0-9bb8-da6510502bdf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:6_qj4bedB5FA7Uwpj-HYAw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:6_qj4bedB5FA7Uwpj-HYAw:SE1aGeoFHrFnzyeC
      X-Gdc-Request-Time:
      - '13'
    body:
      encoding: ASCII-8BIT
      string: '{"client":{"id":"tenant_fe4dab03-ab50-46b0-9bb8-da6510502bdf","segment":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-a138dc72-a53b-4dd7-a558-b4e9b087eb54","project":null,"links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_fe4dab03-ab50-46b0-9bb8-da6510502bdf"}}}'
  recorded_at: Mon, 04 Jun 2018 13:03:49 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_fe4dab03-ab50-46b0-9bb8-da6510502bdf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:wyNLV7OR9mhHoOcLPQdFEw
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts/default/clients"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '24'
      X-Gdc-Request:
      - bVa1BG3XX4VDm5OykrGkEQ:wyNLV7OR9mhHoOcLPQdFEw:gmL2QdL0Y6MjP0aL
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 04 Jun 2018 13:03:50 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients?segment=segment-5512853c-2fcf-428e-b40d-fcac616277e9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:-vtGDuA8ZX3aAKbGrp5sHw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - zRu41qCPdO1pWKTdB_HVIA:-vtGDuA8ZX3aAKbGrp5sHw:YwARI7BcOvejOOGG
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"clients":{"items":[{"client":{"id":"tenant_28aad14d-4385-46d4-b06f-7ac9886d3a5c","segment":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-5512853c-2fcf-428e-b40d-fcac616277e9","project":null,"links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_28aad14d-4385-46d4-b06f-7ac9886d3a5c"}}}],"paging":{"next":null}}}'
  recorded_at: Wed, 10 Oct 2018 10:27:42 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients?segment=segment-7547d6ab-99f0-42f2-a523-e853f666c6cb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":VPQxndjR6y85kHcLWCKjeQ:gi68Uy8kpByAAgyfI2omuA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":VPQxndjR6y85kHcLWCKjeQ:gi68Uy8kpByAAgyfI2omuA:O9IYMmgnVDx8GrgG"
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"clients":{"items":[{"client":{"id":"tenant_415a1f2d-885c-471b-93a4-52228112b9dc","segment":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-7547d6ab-99f0-42f2-a523-e853f666c6cb","project":null,"links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_415a1f2d-885c-471b-93a4-52228112b9dc"}}}],"paging":{"next":null}}}'
  recorded_at: Thu, 24 Jan 2019 12:40:52 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients?segment=segment-ebc58f78-4f64-4462-b346-4d03dc30522c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Q8zktsCSozedYOeqV6NreQ:0CQAIFLuKf_-f6bL0DOXVA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '18'
      X-Gdc-Request:
      - ":Q8zktsCSozedYOeqV6NreQ:0CQAIFLuKf_-f6bL0DOXVA:3G0E4ifWy7I3Gk83"
    body:
      encoding: ASCII-8BIT
      string: '{"clients":{"items":[{"client":{"id":"tenant_e5eaae61-050e-485c-8e70-ab3ce09ab4e6","segment":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-ebc58f78-4f64-4462-b346-4d03dc30522c","project":null,"links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_e5eaae61-050e-485c-8e70-ab3ce09ab4e6"}}}],"paging":{"next":null}}}'
  recorded_at: Wed, 15 Jan 2020 04:34:03 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients?segment=segment-ebc58f78-4f64-4462-b346-4d03dc30522c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":Q8zktsCSozedYOeqV6NreQ:o8ep_VNY6uiJlPBYlNi47w"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '17'
      X-Gdc-Request:
      - ":Q8zktsCSozedYOeqV6NreQ:o8ep_VNY6uiJlPBYlNi47w:XdCOiZMdEmu1KSPE"
    body:
      encoding: ASCII-8BIT
      string: '{"clients":{"items":[],"paging":{"next":null}}}'
  recorded_at: Wed, 15 Jan 2020 04:34:06 GMT
recorded_with: VCR 5.0.0
