---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:515hP5Eeqz3CBR2V6ueCFg
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:515hP5Eeqz3CBR2V6ueCFg:0HCrfpuBKuDg8jBg
      X-Gdc-Request-Time:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Mon, 21 May 2018 12:19:08 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:ejgeM0ixI3hc4A9casSSsg
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:ejgeM0ixI3hc4A9casSSsg:BskPW7lRvjRGt2y4
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Mon, 21 May 2018 12:19:09 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:QsZgwdFgPgTGNyi5TMvOzA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:QsZgwdFgPgTGNyi5TMvOzA:UZPZUYmnmsCZyh0L
      X-Gdc-Request-Time:
      - '57'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-05-21
        13:45:05","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","timezone":null,"language":"en-US","ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Mon, 21 May 2018 12:19:10 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:NfO0wvGp2gFw_9veuvh6ZQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:NfO0wvGp2gFw_9veuvh6ZQ:hm1PZL20Tu7Yglvd
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Mon, 21 May 2018 12:19:11 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"My project from
        blueprint"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"PRODUCTION","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:sWTMiOmZNaIG_t3AfxwVdQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:sWTMiOmZNaIG_t3AfxwVdQ:fXCq3sREn75PLBi3
      X-Gdc-Request-Time:
      - '606'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/e3ocwjfooou3fn8ephxu3d20715h9dp3"}'
  recorded_at: Mon, 21 May 2018 12:19:12 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/e3ocwjfooou3fn8ephxu3d20715h9dp3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:tS9WikAAO2AbbMaYpaJE1w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:tS9WikAAO2AbbMaYpaJE1w:b3jW49b8ocanhRNh
      X-Gdc-Request-Time:
      - '55'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/e3ocwjfooou3fn8ephxu3d20715h9dp3/ldm?thumbnail=1","self":"/gdc/projects/e3ocwjfooou3fn8ephxu3d20715h9dp3","clearCaches":"/gdc/projects/e3ocwjfooou3fn8ephxu3d20715h9dp3/clearCaches","invitations":"/gdc/projects/e3ocwjfooou3fn8ephxu3d20715h9dp3/invitations","users":"/gdc/projects/e3ocwjfooou3fn8ephxu3d20715h9dp3/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/e3ocwjfooou3fn8ephxu3d20715h9dp3/uploads/","ldm":"/gdc/projects/e3ocwjfooou3fn8ephxu3d20715h9dp3/ldm","metadata":"/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3","publicartifacts":"/gdc/projects/e3ocwjfooou3fn8ephxu3d20715h9dp3/publicartifacts","roles":"/gdc/projects/e3ocwjfooou3fn8ephxu3d20715h9dp3/roles","userRoles":"/gdc/projects/e3ocwjfooou3fn8ephxu3d20715h9dp3/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/e3ocwjfooou3fn8ephxu3d20715h9dp3/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/e3ocwjfooou3fn8ephxu3d20715h9dp3/dataload","connectors":"/gdc/projects/e3ocwjfooou3fn8ephxu3d20715h9dp3/connectors","execute":"/gdc/projects/e3ocwjfooou3fn8ephxu3d20715h9dp3/execute","config":"/gdc/projects/e3ocwjfooou3fn8ephxu3d20715h9dp3/config","projectFeatureFlags":"/gdc/projects/e3ocwjfooou3fn8ephxu3d20715h9dp3/projectFeatureFlags","schedules":"/gdc/projects/e3ocwjfooou3fn8ephxu3d20715h9dp3/schedules","templates":"/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/templates","eventstores":"/gdc/projects/e3ocwjfooou3fn8ephxu3d20715h9dp3/dataload/eventstore/stores"},"meta":{"created":"2018-05-21
        14:19:12","summary":"No summary","updated":"2018-05-21 14:19:14","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"My
        project from blueprint","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Mon, 21 May 2018 12:19:17 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/e3ocwjfooou3fn8ephxu3d20715h9dp3/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.users","title":"Users
        Dataset","anchor":{"attribute":{"identifier":"attr.users.id","title":"Attr.Users.Id","folder":"Users
        Dataset","labels":[{"label":{"identifier":"label.users.id_label","title":"Label.Users.Id
        Label","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.users.id_label"}},"attributes":[{"attribute":{"identifier":"attr.users.another_attr","title":"Attr.Users.Another
        Attr","folder":"Users Dataset","labels":[{"label":{"identifier":"label.users.another_attr_label","title":"Label.Users.Another
        Attr Label","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.users.another_attr_label"}}],"facts":[{"fact":{"identifier":"fact.users.some_number","title":"Fact.Users.Some
        Number","folder":"Users Dataset","dataType":"DECIMAL(12,2)","type":"fact"}}],"references":[]}}],"dateDimensions":[]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:BmgR1g1wUZWcDvd1sGjBuw
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/e3ocwjfooou3fn8ephxu3d20715h9dp3/model/diff/c83b30efded73740559b3fa71307c41501cd72c44fb64bb00000006e"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:BmgR1g1wUZWcDvd1sGjBuw:YvqF5hRgNi0MrZtz
      X-Gdc-Request-Time:
      - '95'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/e3ocwjfooou3fn8ephxu3d20715h9dp3/model/diff/c83b30efded73740559b3fa71307c41501cd72c44fb64bb00000006e"}}}'
  recorded_at: Mon, 21 May 2018 12:19:20 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/e3ocwjfooou3fn8ephxu3d20715h9dp3/model/diff/c83b30efded73740559b3fa71307c41501cd72c44fb64bb00000006e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:2pivp17eJMn6f7T3PS8K3g
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:2pivp17eJMn6f7T3PS8K3g:JMxHWfTrAVdrc50j
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"dataset.create","dataset":"dataset.users","destructive":false,"description":"Create
        dataset ''%s''","parameters":["Users Dataset"]}},{"updateOperation":{"type":"anchor.create","dataset":"dataset.users","destructive":false,"description":"Create
        anchor ''%s''","parameters":["Attr.Users.Id"]}},{"updateOperation":{"type":"attribute.create","dataset":"dataset.users","destructive":false,"description":"Create
        attribute ''%s''","parameters":["Attr.Users.Another Attr"]}},{"updateOperation":{"type":"fact.create","dataset":"dataset.users","destructive":false,"description":"Create
        fact ''%s''","parameters":["Fact.Users.Some Number"]}}],"updateScripts":[{"updateScript":{"maqlDdl":"CREATE
        FOLDER {dim.usersdataset} VISUAL(TITLE \"Users Dataset\") TYPE ATTRIBUTE;\nCREATE
        FOLDER {ffld.usersdataset} VISUAL(TITLE \"Users Dataset\") TYPE FACT;\nCREATE
        DATASET {dataset.users} VISUAL(TITLE \"Users Dataset\");\nCREATE ATTRIBUTE
        {attr.users.id} VISUAL(TITLE \"Attr.Users.Id\", FOLDER {dim.usersdataset})
        AS KEYS {f_users.id} FULLSET;\nALTER DATASET {dataset.users} ADD {attr.users.id};\nALTER
        ATTRIBUTE {attr.users.id} ADD LABELS {label.users.id_label} VISUAL(TITLE \"Label.Users.Id
        Label\") AS {f_users.nm_id_label};\nALTER ATTRIBUTE {attr.users.id} DEFAULT
        LABEL {label.users.id_label};\nCREATE ATTRIBUTE {attr.users.another_attr}
        VISUAL(TITLE \"Attr.Users.Another Attr\", FOLDER {dim.usersdataset}) AS KEYS
        {d_users_another_attr.id} FULLSET, {f_users.another_attr_id};\nALTER DATASET
        {dataset.users} ADD {attr.users.another_attr};\nALTER ATTRIBUTE {attr.users.another_attr}
        ADD LABELS {label.users.another_attr_label} VISUAL(TITLE \"Label.Users.Another
        Attr Label\") AS {d_users_another_attr.nm_another_attr_label};\nALTER ATTRIBUTE
        {attr.users.another_attr} DEFAULT LABEL {label.users.another_attr_label};\nCREATE
        FACT {fact.users.some_number} VISUAL(TITLE \"Fact.Users.Some Number\", FOLDER
        {ffld.usersdataset}) AS {f_users.f_some_number};\nALTER DATASET {dataset.users}
        ADD {fact.users.some_number};\nSYNCHRONIZE {dataset.users};","maqlDdlChunks":["CREATE
        FOLDER {dim.usersdataset} VISUAL(TITLE \"Users Dataset\") TYPE ATTRIBUTE;\nCREATE
        FOLDER {ffld.usersdataset} VISUAL(TITLE \"Users Dataset\") TYPE FACT;\nCREATE
        DATASET {dataset.users} VISUAL(TITLE \"Users Dataset\");\nCREATE ATTRIBUTE
        {attr.users.id} VISUAL(TITLE \"Attr.Users.Id\", FOLDER {dim.usersdataset})
        AS KEYS {f_users.id} FULLSET;\nALTER DATASET {dataset.users} ADD {attr.users.id};\nALTER
        ATTRIBUTE {attr.users.id} ADD LABELS {label.users.id_label} VISUAL(TITLE \"Label.Users.Id
        Label\") AS {f_users.nm_id_label};\nALTER ATTRIBUTE {attr.users.id} DEFAULT
        LABEL {label.users.id_label};\nCREATE ATTRIBUTE {attr.users.another_attr}
        VISUAL(TITLE \"Attr.Users.Another Attr\", FOLDER {dim.usersdataset}) AS KEYS
        {d_users_another_attr.id} FULLSET, {f_users.another_attr_id};\nALTER DATASET
        {dataset.users} ADD {attr.users.another_attr};\nALTER ATTRIBUTE {attr.users.another_attr}
        ADD LABELS {label.users.another_attr_label} VISUAL(TITLE \"Label.Users.Another
        Attr Label\") AS {d_users_another_attr.nm_another_attr_label};\nALTER ATTRIBUTE
        {attr.users.another_attr} DEFAULT LABEL {label.users.another_attr_label};\nCREATE
        FACT {fact.users.some_number} VISUAL(TITLE \"Fact.Users.Some Number\", FOLDER
        {ffld.usersdataset}) AS {f_users.f_some_number};\nALTER DATASET {dataset.users}
        ADD {fact.users.some_number};\nSYNCHRONIZE {dataset.users};"],"preserveData":true,"cascadeDrops":false}},{"updateScript":{"maqlDdl":"CREATE
        FOLDER {dim.usersdataset} VISUAL(TITLE \"Users Dataset\") TYPE ATTRIBUTE;\nCREATE
        FOLDER {ffld.usersdataset} VISUAL(TITLE \"Users Dataset\") TYPE FACT;\nCREATE
        DATASET {dataset.users} VISUAL(TITLE \"Users Dataset\");\nCREATE ATTRIBUTE
        {attr.users.id} VISUAL(TITLE \"Attr.Users.Id\", FOLDER {dim.usersdataset})
        AS KEYS {f_users.id} FULLSET;\nALTER DATASET {dataset.users} ADD {attr.users.id};\nALTER
        ATTRIBUTE [...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:nvGasA9jT2AyWjhOl0WGaw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:nvGasA9jT2AyWjhOl0WGaw:d1WFIE3keStB3lcc
      X-Gdc-Request-Time:
      - '73'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''e3ocwjfooou3fn8ephxu3d20715h9dp3''","category":"project","instance":"e3ocwjfooou3fn8ephxu3d20715h9dp3","links":[{"link":"/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","ca[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:46ge6zy4mLOwdN39bVGauw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE FOLDER {dim.usersdataset} VISUAL(TITLE \"Users
        Dataset\") TYPE ATTRIBUTE;\nCREATE FOLDER {ffld.usersdataset} VISUAL(TITLE
        \"Users Dataset\") TYPE FACT;\nCREATE DATASET {dataset.users} VISUAL(TITLE
        \"Users Dataset\");\nCREATE ATTRIBUTE {attr.users.id} VISUAL(TITLE \"Attr.Users.Id\",
        FOLDER {dim.usersdataset}) AS KEYS {f_users.id} FULLSET;\nALTER DATASET {dataset.users}
        ADD {attr.users.id};\nALTER ATTRIBUTE {attr.users.id} ADD LABELS {label.users.id_[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/tasks/ad99fad9092a24717434ed5a950ae4ad0000002d/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:_Itb8Y6abP6fHWNCBUgPHA
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:_Itb8Y6abP6fHWNCBUgPHA:JYsTHeMpaBKhpsi2
      X-Gdc-Request-Time:
      - '85'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/tasks/ad99fad9092a24717434ed5a950ae4ad0000002d/status","status":"RUNNING","links":{"poll":"/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/tasks/ad99fad9092a24717434ed5a950ae4ad0000002d/status"}}}'
  recorded_at: Mon, 21 May 2018 12:19:35 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - dUVNqvEC_kwfAwKKJ3eS0w:x6djwBihvbQR0BIIO9mV0w
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '19'
      X-Gdc-Request:
      - dUVNqvEC_kwfAwKKJ3eS0w:x6djwBihvbQR0BIIO9mV0w:4I0gBONOv322Ts4x
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 21 May 2018 12:20:20 GMT
recorded_with: VCR 4.0.0
