---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["fact.users.some_number"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:25TKZnXfsE1OrEBgt-5jtw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:25TKZnXfsE1OrEBgt-5jtw:m5aupvdUSYFdN3kA
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"fact.users.some_number","uri":"/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/obj/29"}]}'
  recorded_at: Mon, 21 May 2018 12:19:46 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/obj/29
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:spz4Nf1OJRYtaDRVDC1CDw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:spz4Nf1OJRYtaDRVDC1CDw:Y4SRqeGUuQRozYJ4
      X-Gdc-Request-Time:
      - '101'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/obj/23"],"expr":[{"type":"col","data":"/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/obj/16"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/obj/29","tags":"","created":"2018-05-21
        14:19:35","identifier":"fact.users.some_number","deprecated":"0","summary":"","isProduction":1,"title":"Fact.Users.Some
        Number","category":"fact","updated":"2018-05-21 14:19:35","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Mon, 21 May 2018 12:19:47 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/obj
    body:
      encoding: UTF-8
      string: '{"metric":{"content":{"format":"#,##0","expression":"SELECT SUM([/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/obj/29])"},"meta":{"tags":"","summary":null,"title":"Test"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:SCZb1Rcs2XmWnh_Ygr5tqg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:SCZb1Rcs2XmWnh_Ygr5tqg:ABF62oB8CU7tzdJ0
      X-Gdc-Request-Time:
      - '79'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/obj/33"}'
  recorded_at: Mon, 21 May 2018 12:19:47 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/obj/33
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:BIpuAHqixkUSB4TF7rf9iA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:BIpuAHqixkUSB4TF7rf9iA:eXPLnhZRcFrKzySc
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"SUM","content":[{"value":"/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/obj/29","position":{"column":25,"line":1},"type":"fact
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        SUM([/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/obj/29])"},"links":{"explain2":"/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/obj/33/explain2"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/obj/33","tags":"","created":"2018-05-21
        14:19:47","identifier":"aabQEIWrbheY","deprecated":"0","summary":"","isProduction":1,"title":"Test","category":"metric","updated":"2018-05-21
        14:19:47","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Mon, 21 May 2018 12:19:48 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/obj/27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:h4TX8sL9IGSuBrwo2LjmFQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:h4TX8sL9IGSuBrwo2LjmFQ:w3mkL0TI9LbTJFu5
      X-Gdc-Request-Time:
      - '152'
    body:
      encoding: ASCII-8BIT
      string: '{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/obj/9"}],"dimension":"/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/obj/22","displayForms":[{"content":{"formOf":"/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/obj/27","expression":"[/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/obj/11]","default":1},"links":{"elements":"/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/obj/28/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/obj/28","tags":"","created":"2018-05-21
        14:19:34","identifier":"label.users.another_attr_label","deprecated":"0","summary":"","isProduction":1,"title":"Label.Users.Another
        Attr Label","category":"attributeDisplayForm","updated":"2018-05-21 14:19:35","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}],"fk":[{"multivalue":false,"type":"col","data":"/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/obj/14"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/obj/27","tags":"","created":"2018-05-21
        14:19:34","identifier":"attr.users.another_attr","deprecated":"0","summary":"","isProduction":1,"title":"Attr.Users.Another
        Attr","category":"attribute","updated":"2018-05-21 14:19:35","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Mon, 21 May 2018 12:19:50 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/e3ocwjfooou3fn8ephxu3d20715h9dp3/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.users","title":"Users
        Dataset","anchor":{"attribute":{"identifier":"attr.users.id","title":"Attr.Users.Id","folder":"Users
        Dataset","labels":[{"label":{"identifier":"label.users.id_label","title":"Label.Users.Id
        Label","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.users.id_label"}},"attributes":[{"attribute":{"identifier":"attr.users.another_attr","title":"Attr.Users.Another
        Attr","folder":"Users Dataset","labels":[{"label":{"identifier":"label.users.another_attr_label","title":"Label.Users.Another
        Attr Label","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.users.another_attr_label"}}],"facts":[{"fact":{"identifier":"fact.users.some_number","title":"Fact.Users.Some
        Number","folder":"Users Dataset","dataType":"DECIMAL(12,2)","type":"fact"}}],"references":[]}},{"dataset":{"identifier":"dataset.comp.my_computed_attr","title":"My
        computed attribute","anchor":{"attribute":{"identifier":"attr.comp.my_computed_attr","title":"My
        computed attribute","folder":"My computed attribute","labels":[{"label":{"identifier":"label.comp.my_computed_attr","title":"Label.Comp.My
        Computed Attr","type":"GDC.text","dataType":"VARCHAR(128)"}}],"relations":["to
        {attr.users.another_attr} as case when {aabQEIWrbheY} <= 1000 then {attr.comp.my_computed_attr?\"Small\"},
        when {aabQEIWrbheY} <= 2000 then {attr.comp.my_computed_attr?\"Medium\"},
        when {aabQEIWrbheY} > 2000 then {attr.comp.my_computed_attr?\"High\"} else
        {attr.comp.my_computed_attr?\"\"} end"],"defaultLabel":"label.comp.my_computed_attr"}},"attributes":[],"facts":[],"references":[]}}],"dateDimensions":[]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:iG_OsFijAh3m3v2PABjCYg
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/e3ocwjfooou3fn8ephxu3d20715h9dp3/model/diff/71d524ab8bb3ab6d8e6218b39578fcc801cd72c4517eca7e0000006e"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:iG_OsFijAh3m3v2PABjCYg:vcHEb86hWfPGy8yq
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/e3ocwjfooou3fn8ephxu3d20715h9dp3/model/diff/71d524ab8bb3ab6d8e6218b39578fcc801cd72c4517eca7e0000006e"}}}'
  recorded_at: Mon, 21 May 2018 12:19:50 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/e3ocwjfooou3fn8ephxu3d20715h9dp3/model/diff/71d524ab8bb3ab6d8e6218b39578fcc801cd72c4517eca7e0000006e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:gPgprthFfCoW3smFvdiLsw
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:gPgprthFfCoW3smFvdiLsw:AHyTWPrFIQR3deSL
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"dataset.create","dataset":"dataset.comp.my_computed_attr","destructive":false,"description":"Create
        dataset ''%s''","parameters":["My computed attribute"]}},{"updateOperation":{"type":"anchor.create","dataset":"dataset.comp.my_computed_attr","destructive":false,"description":"Create
        anchor ''%s''","parameters":["My computed attribute"]}},{"updateOperation":{"type":"attribute.update.relations","dataset":"dataset.comp.my_computed_attr","destructive":false,"description":"Update
        attribute ''%s'' relation edge","parameters":["My computed attribute"]}}],"updateScripts":[{"updateScript":{"maqlDdl":"CREATE
        FOLDER {dim.mycomputedattribute} VISUAL(TITLE \"My computed attribute\") TYPE
        ATTRIBUTE;\nCREATE DATASET {dataset.comp.my_computed_attr} VISUAL(TITLE \"My
        computed attribute\");\nCREATE ATTRIBUTE {attr.comp.my_computed_attr} VISUAL(TITLE
        \"My computed attribute\", FOLDER {dim.mycomputedattribute}) AS KEYS {f_my_computed_attr.id}
        FULLSET;\nALTER DATASET {dataset.comp.my_computed_attr} ADD {attr.comp.my_computed_attr};\nALTER
        ATTRIBUTE {attr.comp.my_computed_attr} ADD LABELS {label.comp.my_computed_attr}
        VISUAL(TITLE \"Label.Comp.My Computed Attr\") AS {f_my_computed_attr.nm_my_computed_attr};\nALTER
        ATTRIBUTE {attr.comp.my_computed_attr} DEFAULT LABEL {label.comp.my_computed_attr};\nSYNCHRONIZE
        {dataset.comp.my_computed_attr};","maqlDdlChunks":["CREATE FOLDER {dim.mycomputedattribute}
        VISUAL(TITLE \"My computed attribute\") TYPE ATTRIBUTE;\nCREATE DATASET {dataset.comp.my_computed_attr}
        VISUAL(TITLE \"My computed attribute\");\nCREATE ATTRIBUTE {attr.comp.my_computed_attr}
        VISUAL(TITLE \"My computed attribute\", FOLDER {dim.mycomputedattribute})
        AS KEYS {f_my_computed_attr.id} FULLSET;\nALTER DATASET {dataset.comp.my_computed_attr}
        ADD {attr.comp.my_computed_attr};\nALTER ATTRIBUTE {attr.comp.my_computed_attr}
        ADD LABELS {label.comp.my_computed_attr} VISUAL(TITLE \"Label.Comp.My Computed
        Attr\") AS {f_my_computed_attr.nm_my_computed_attr};\nALTER ATTRIBUTE {attr.comp.my_computed_attr}
        DEFAULT LABEL {label.comp.my_computed_attr};\nSYNCHRONIZE {dataset.comp.my_computed_attr};"],"preserveData":true,"cascadeDrops":false}},{"updateScript":{"maqlDdl":"CREATE
        FOLDER {dim.mycomputedattribute} VISUAL(TITLE \"My computed attribute\") TYPE
        ATTRIBUTE;\nCREATE DATASET {dataset.comp.my_computed_attr} VISUAL(TITLE \"My
        computed attribute\");\nCREATE ATTRIBUTE {attr.comp.my_computed_attr} VISUAL(TITLE
        \"My computed attribute\", FOLDER {dim.mycomputedattribute}) AS KEYS {f_my_computed_attr.id}
        FULLSET;\nALTER DATASET {dataset.comp.my_computed_attr} ADD {attr.comp.my_computed_att[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:OMafNVdTSzQO2uH7IS7zyQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:OMafNVdTSzQO2uH7IS7zyQ:hHsmblDiNJwV8mUU
      X-Gdc-Request-Time:
      - '14'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Resources for logical data model (LDM) manipulation
        within project ''e3ocwjfooou3fn8ephxu3d20715h9dp3''","category":"ldm","instance":"e3ocwjfooou3fn8ephxu3d20715h9dp3","links":[{"link":"/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/ldm/manage2","summary":"Resources
        for model manipulation with categorized result.","category":"ldm-manage2","title":"manage2"},{"link":"/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/ldm/singleloadinterface","summary":"Single
        interface for data loading.","category":"singleloadinterface","title":"singleloadinterface"},{"link":"/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/ldm/attributeupperbound","summary":"Attribute
        upper bounds for LDM.","category":"attributeupperbound","title":"attributeupperbound"}]}}'
  recorded_at: Mon, 21 May 2018 12:20:02 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE FOLDER {dim.mycomputedattribute} VISUAL(TITLE
        \"My computed attribute\") TYPE ATTRIBUTE;\nCREATE DATASET {dataset.comp.my_computed_attr}
        VISUAL(TITLE \"My computed attribute\");\nCREATE ATTRIBUTE {attr.comp.my_computed_attr}
        VISUAL(TITLE \"My computed attribute\", FOLDER {dim.mycomputedattribute})
        AS KEYS {f_my_computed_attr.id} FULLSET;\nALTER DATASET {dataset.comp.my_computed_attr}
        ADD {attr.comp.my_computed_attr};\nALTER ATTRIBUTE {attr.comp.my_computed_attr}
        ADD LABELS {label.comp.my_computed_attr} VISUAL(TITLE \"Label.Comp.My Computed
        Attr\") AS {f_my_computed_attr.nm_my_computed_attr};\nALTER ATTRIBUTE {attr.comp.my_computed_attr}
        DEFAULT LABEL {label.comp.my_computed_attr};\nSYNCHRONIZE {dataset.comp.my_computed_attr};"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:qhu93iDy2_ZzDuoTJY8yUA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:qhu93iDy2_ZzDuoTJY8yUA:r133H2l0V6zKxu4W
      X-Gdc-Request-Time:
      - '105'
    body:
      encoding: ASCII-8BIT
      string: '{"entries":[{"link":"/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/tasks/a548766e128a54a94ae484f16b493ae40000002d/status","category":"tasks-status"}]}'
  recorded_at: Mon, 21 May 2018 12:20:03 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/tasks/a548766e128a54a94ae484f16b493ae40000002d/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:yjxBaLRozubj1ViSIv_e1w
      Process:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:yjxBaLRozubj1ViSIv_e1w:7nuymR8HEgJ44oFy
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/tasks/a548766e128a54a94ae484f16b493ae40000002d/status","status":"OK","links":{"poll":"/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/tasks/a548766e128a54a94ae484f16b493ae40000002d/status"}}}'
  recorded_at: Mon, 21 May 2018 12:20:04 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/tasks/28f1b43bbdfd3471b65169dd216c78160000002d/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:-VaYMGgM5PoLuDbIsNmxKg
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:-VaYMGgM5PoLuDbIsNmxKg:K4S5QJvf751XYAIv
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/tasks/28f1b43bbdfd3471b65169dd216c78160000002d/status","status":"RUNNING","links":{"poll":"/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/tasks/28f1b43bbdfd3471b65169dd216c78160000002d/status"}}}'
  recorded_at: Mon, 21 May 2018 12:20:06 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:SjczLZO39vuFjQ-PQ2UO5g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NX6Fq5FkmODJZRqEE40P0w:SjczLZO39vuFjQ-PQ2UO5g:hUVQPS23ou2NYZ30
      X-Gdc-Request-Time:
      - '136'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":3,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/obj/18"}],"dimension":"/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/obj/22","displayForms":[{"content":{"formOf":"/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/obj/25","expression":"[/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/obj/20]","default":1},"links":{"elements":"/gdc/md/e3ocwjfooou3fn8ephxu3d20715h9dp3/obj/26/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/[...]
[...]
