---
layout: default
---
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div style="margin-left: 100px;">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="{{ site.url }}">
      <img src="{{ site.url }}/images/header-logo.png" alt="GoodData Labs" width="24" height="24">
      GoodData<span style="color: #dc2020;">Ruby
</a>
      <div class="nav-collapse collapse container">
        <ul class="nav">
          <li class="">
            <a href="{{ site.url }}/get-started">Get Started</a>
          </li>
          <li class="active">
            <a href="{{ site.url }}/tutorials">Tutorials</a>
          </li>
		<li class="">
            <a href="https://developer.gooddata.com/forum" target="_blank">Forum</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container-narrow" style="margin-top: 40px;">
  <h2>{{ page.title }}</h2>
  {{ content }}
  
  {% include section-nav.html %}
</div>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TXQF93"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TXQF93');</script>
<!-- End Google Tag Manager -->