---
layout: default
next_section: examples
title: Getting Started | GoodData Ruby SDK
---
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div style="margin-left: 100px;">
      <a class="brand" href="{{ site.url }}">
      <img src="{{ site.url }}/images/header-logo.png" alt="GoodData Labs" width="24" height="24">
      GoodData<span style="color: #dc2020;">Ruby
</a>      <div class="nav-collapse collapse container">
        <ul class="nav" class="align: center;">
          <li class="active">
            <a type="button" href="{{ site.url }}/get-started">Get Started</a>
          </li>
    <li class="">
            <a type="button" href="{{ site.url }}/examples">Examples</a>
          </li>
          <li class="">
            <a type="button" href="{{ site.url }}/ask">Ask</a>
          </li>
         </ul>

      </div>
    </div>
  </div>
</div>

<div class="container-narrow">

{% for post in site.posts %}
{% if post.categories contains 'introduction' %}
  {{ post.content }}
{% endif %}
{% endfor %}
<br />
<h2 style="margin-bottom: -20px;"> Tutorial </h2><hr style="margin-top: -8px;">

<ul class="posts">
    {% for post in site.posts reversed %}
      {% if post.categories contains 'get-started' %}
        <div>
          <a href="{{ site.url }}{{ post.url }}"><h3>{{ post.title }}</h3></a>
          <div>{{ post.perex }}</div>
        </div>
      {% endif %}
    {% endfor %}
  </ul>

{% include section-nav.html %}

</div>
