---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/vy5ljhp4ja4pmfnvhis5o1u212ild2ju
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - KIGmcvuLuIrSVDTaqy9pjg:08OpHL6FzrZTcRCMwSqrPw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - KIGmcvuLuIrSVDTaqy9pjg:08OpHL6FzrZTcRCMwSqrPw:gnobUZJ56K1c57Zc
      X-Gdc-Request-Time:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/vy5ljhp4ja4pmfnvhis5o1u212ild2ju/ldm?thumbnail=1","self":"/gdc/projects/vy5ljhp4ja4pmfnvhis5o1u212ild2ju","clearCaches":"/gdc/projects/vy5ljhp4ja4pmfnvhis5o1u212ild2ju/clearCaches","invitations":"/gdc/projects/vy5ljhp4ja4pmfnvhis5o1u212ild2ju/invitations","users":"/gdc/projects/vy5ljhp4ja4pmfnvhis5o1u212ild2ju/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/vy5ljhp4ja4pmfnvhis5o1u212ild2ju/uploads/","ldm":"/gdc/projects/vy5ljhp4ja4pmfnvhis5o1u212ild2ju/ldm","metadata":"/gdc/md/vy5ljhp4ja4pmfnvhis5o1u212ild2ju","publicartifacts":"/gdc/projects/vy5ljhp4ja4pmfnvhis5o1u212ild2ju/publicartifacts","roles":"/gdc/projects/vy5ljhp4ja4pmfnvhis5o1u212ild2ju/roles","userRoles":"/gdc/projects/vy5ljhp4ja4pmfnvhis5o1u212ild2ju/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/vy5ljhp4ja4pmfnvhis5o1u212ild2ju/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/vy5ljhp4ja4pmfnvhis5o1u212ild2ju/dataload","connectors":"/gdc/projects/vy5ljhp4ja4pmfnvhis5o1u212ild2ju/connectors","execute":"/gdc/projects/vy5ljhp4ja4pmfnvhis5o1u212ild2ju/execute","config":"/gdc/projects/vy5ljhp4ja4pmfnvhis5o1u212ild2ju/config","projectFeatureFlags":"/gdc/projects/vy5ljhp4ja4pmfnvhis5o1u212ild2ju/projectFeatureFlags","schedules":"/gdc/projects/vy5ljhp4ja4pmfnvhis5o1u212ild2ju/schedules","templates":"/gdc/md/vy5ljhp4ja4pmfnvhis5o1u212ild2ju/templates","eventstores":"/gdc/projects/vy5ljhp4ja4pmfnvhis5o1u212ild2ju/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        07:58:25","summary":"No summary","updated":"2018-06-05 07:58:25","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Test
        project","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 05:58:26 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gxrrmofd7xlalozc3rozsjdmhe7sseqx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - WEilTuazLtlExQzUvYQrYw:YfeD6IXlr3uRJrniT2tugw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - WEilTuazLtlExQzUvYQrYw:YfeD6IXlr3uRJrniT2tugw:PxXyCf40tAa18dAX
      X-Gdc-Request-Time:
      - '88'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Test project","projectTemplate":"/some/nonexisting/template/uri"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - nydje3Or1nNe5rbyhkgdJA:DfpvdrhPkMsquVmooZw7Kg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - nydje3Or1nNe5rbyhkgdJA:DfpvdrhPkMsquVmooZw7Kg:5u9pMrcxO5pAARxO
      X-Gdc-Request-Time:
      - '544'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/jd1xuwr6nt2fapfcph0q8hbhkeqvjttq"}'
  recorded_at: Wed, 10 Oct 2018 10:31:33 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/jd1xuwr6nt2fapfcph0q8hbhkeqvjttq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - nydje3Or1nNe5rbyhkgdJA:4TYQenEF5cfN9EJ9-hs8Bw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
