---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:jgYKC87pAxEc2QM9DAVQzA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:jgYKC87pAxEc2QM9DAVQzA:8hYpXg17TQrjcbK3
      X-Gdc-Request-Time:
      - '57'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/ldm?thumbnail=1","self":"/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57","clearCaches":"/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/clearCaches","invitations":"/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/invitations","users":"/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/uploads/","ldm":"/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/ldm","metadata":"/gdc/md/dmo2wkw9n3czprfxwzsnnvbnwuiyag57","publicartifacts":"/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/publicartifacts","roles":"/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/roles","userRoles":"/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/dataload","connectors":"/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/connectors","execute":"/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/execute","config":"/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/config","projectFeatureFlags":"/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/projectFeatureFlags","schedules":"/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/schedules","templates":"/gdc/md/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/templates","eventstores":"/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        08:36:07","summary":"No summary","updated":"2018-06-05 08:36:07","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Attribute
        sort order","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 06:36:08 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:ZS42C0-Gd0QIJmA_m8EwcA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:ZS42C0-Gd0QIJmA_m8EwcA:tcFwfHSYMKA0U7uY
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/ldm?thumbnail=1","self":"/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57","clearCaches":"/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/clearCaches","invitations":"/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/invitations","users":"/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/dmo2wkw9n3czprfxw[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.id","title":"TEST","anchor":{"attribute":{"identifier":"attr.id.id","title":"ID","folder":"TEST","labels":[{"label":{"identifier":"label.id.id","title":"ID","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.id.id"}},"attributes":[{"attribute":{"identifier":"attr.id.name","title":"NAME","folder":"TEST","labels":[{"label":{"identifier":"label.id.name.name_label_3","title":"NAME_LABEL_3","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.id.name.name_label_1","title":"NAME_LABEL_1","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.id.name.name_label_2","title":"NAME_LABEL_2","type":"GDC.link","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.id.name","title":"NAME","type":"GDC.text","dataType":"VARCHAR(128)"}}],"sortOrder":{"attributeSortOrder":{"label":"label.id.name.name_label_2","direction":"DESC"}},"defaultLabel":"label.id.name.name_label_3"}}],"facts":[],"references":[]}}],"dateDimensions":[]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:ZNCvcpiCnCn-BwHeVrdmcg
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/model/diff/bec8e270ec397c93e3ab81ac180ab08b01cd73ad445bafd10000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:ZNCvcpiCnCn-BwHeVrdmcg:sm7d6WYQEslrFlxM
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/model/diff/bec8e270ec397c93e3ab81ac180ab08b01cd73ad445bafd10000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 06:36:15 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/model/diff/bec8e270ec397c93e3ab81ac180ab08b01cd73ad445bafd10000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:h9WzSOM555MovK6zOyA8uw
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/model/diff/bec8e270ec397c93e3ab81ac180ab08b01cd73ad445bafd10000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:h9WzSOM555MovK6zOyA8uw:XrQhG6o4WxgYUjqS
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/model/diff/bec8e270ec397c93e3ab81ac180ab08b01cd73ad445bafd10000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 06:36:16 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/model/diff/bec8e270ec397c93e3ab81ac180ab08b01cd73ad445bafd10000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:U-G6O67qj2tajmg0qK_Wxg
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:U-G6O67qj2tajmg0qK_Wxg:M7TcGOUoR7Mx5k1z
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelDiff":{"updateOperations":[{"updateOperation":{"type":"dataset.create","dataset":"dataset.id","destructive":false,"description":"Create
        dataset ''%s''","parameters":["TEST"]}},{"updateOperation":{"type":"anchor.create","dataset":"dataset.id","destructive":false,"description":"Create
        anchor ''%s''","parameters":["ID"]}},{"updateOperation":{"type":"attribute.create","dataset":"dataset.id","destructive":false,"description":"Create
        attribute ''%s''","parameters":["NAME"]}}],"updateScripts":[{"updateScript":{"maqlDdl":"CREATE
        DATASET {dataset.id} VISUAL(TITLE \"TEST\");\nCREATE FOLDER {dim.test} VISUAL(TITLE
        \"TEST\") TYPE ATTRIBUTE;\nCREATE ATTRIBUTE {attr.id.id} VISUAL(TITLE \"ID\",
        FOLDER {dim.test}) AS KEYS {f_id.id} FULLSET;\nALTER DATASET {dataset.id}
        ADD {attr.id.id};\nALTER ATTRIBUTE {attr.id.id} ADD LABELS {label.id.id} VISUAL(TITLE
        \"ID\") AS {f_id.nm_id};\nALTER ATTRIBUTE {attr.id.id} DEFAULT LABEL {label.id.id};\nCREATE
        ATTRIBUTE {attr.id.name} VISUAL(TITLE \"NAME\", FOLDER {dim.test}) AS KEYS
        {d_id_name.id} FULLSET, {f_id.name_id};\nALTER DATASET {dataset.id} ADD {attr.id.name};\nALTER
        ATTRIBUTE {attr.id.name} ADD LABELS {label.id.name.name_label_3} VISUAL(TITLE
        \"NAME_LABEL_3\") AS {d_id_name.nm_name_label_3};\nALTER ATTRIBUTE {attr.id.name}
        ADD LABELS {label.id.name.name_label_1} VISUAL(TITLE \"NAME_LABEL_1\") AS
        {d_id_name.nm_name_label_1};\nALTER ATTRIBUTE {attr.id.name} ADD LABELS {label.id.name.name_label_2}
        VISUAL(TITLE \"NAME_LABEL_2\") AS {d_id_name.nm_name_label_2} HYPERLINK;\nALTER
        ATTRIBUTE {attr.id.name} ADD LABELS {label.id.name} VISUAL(TITLE \"NAME\")
        AS {d_id_name.nm_name};\nALTER ATTRIBUTE {attr.id.name} DEFAULT LABEL {label.id.name.name_label_3};\nALTER
        ATTRIBUTE {attr.id.name} ORDER BY {label.id.name.name_label_2} DESC;\nSYNCHRONIZE
        {dataset.id};","maqlDdlChunks":["CREATE DATASET {dataset.id} VISUAL(TITLE
        \"TEST\");\nCREATE FOLDER {dim.test} VISUAL(TITLE \"TEST\") TYPE ATTRIBUTE;\nCREATE
        ATTRIBUTE {attr.id.id} VISUAL(TITLE \"ID\", FOLDER {dim.test}) AS KEYS {f_id.id}
        FULLSET;\nALTER DATASET {dataset.id} ADD {attr.id.id};\nALTER ATTRIBUTE {attr.id.id}
        ADD LABELS {label.id.id} VISUAL(TITLE \"ID\") AS {f_id.nm_id};\nALTER ATTRIBUTE
        {attr.id.id} DEFAULT LABEL {label.id.id};\nCREATE ATTRIBUTE {attr.id.name}
        VISUAL(TITLE \"NAME\", FOLDER {dim.test}) AS KEYS {d_id_name.id} FULLSET,
        {f_id.name_id};\nALTER DATASET {dataset.id} ADD {attr.id.name};\nALTER ATTRIBUTE
        {attr.id.name} ADD LABELS {label.id.name.name_label_3} VISUAL(TITLE \"NAME_LABEL_3\")
        AS {d_id_name.nm_name_label_3};\nALTER ATTRIBUTE {attr.id.name} ADD LABELS
        {label.id.name.name_label_1} VISUAL(TITLE \"NAME_LABEL_1\") AS {d_id_name.nm_name_label_1};\nALTER
        ATTRIBUTE {attr.id.name} ADD LABELS {label.id.name.name_label_2} VISUAL(TITLE
        \"NAME_LABEL_2\") AS {d_id_name.nm_name_label_2} HYPERLINK;\nALTER ATTRIBUTE
        {attr.id.name} ADD LABELS {label.id.name} VISUAL(TITLE \"NAME\") AS {d_id_name.nm_name};\nALTER
        ATTRIBUTE {attr.id.name} DEFAULT LABEL {label.id.name.name_label_3};\nALTER
        ATTRIBUTE {attr.id.name} ORDER BY {label.id.name.name_label_2} DESC;\nSYNCHRONIZE
        {dataset.id};"],"preserveData":true,"cascadeDrops":false}},{"updateScript":{"maqlDdl":"CREATE
        DATASET {dataset.id} VISUAL(TITLE \"TEST\");\nCREATE FOLDER {dim.test} VISUAL(TITLE
        \"TEST\") TYPE ATTRIBUTE;\nCREATE ATTRIBUTE {attr.id.id} VISUAL(TITLE \"ID\",
        FOLDER {dim.test}) AS KEYS {f_id.id} FULLSET;\nALTER DATASET {dataset.id}
        ADD {attr.id.id};\nALTER ATTRIBUTE {attr.id.id} ADD LABELS {label.id.id} VISUAL(TITLE
        \"ID\") AS {f_id.nm_id};\nALTER ATTRIBUTE {attr.id.id} DEFAULT LABEL {label.id.id};\nCREATE
   [...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/dmo2wkw9n3czprfxwzsnnvbnwuiyag57
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:aJqn_akQT1eHBaBPqqnr0g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:aJqn_akQT1eHBaBPqqnr0g:LoNIMNwEYnnmRlIt
      X-Gdc-Request-Time:
      - '74'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''dmo2wkw9n3czprfxwzsnnvbnwuiyag57''","category":"project","instance":"dmo2wkw9n3czprfxwzsnnvbnwuiyag57","links":[{"link":"/gdc/md/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","ca[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:hszq9MtjfXQdB_TlTtSn4A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.id} VISUAL(TITLE \"TEST\");\nCREATE
        FOLDER {dim.test} VISUAL(TITLE \"TEST\") TYPE ATTRIBUTE;\nCREATE ATTRIBUTE
        {attr.id.id} VISUAL(TITLE \"ID\", FOLDER {dim.test}) AS KEYS {f_id.id} FULLSET;\nALTER
        DATASET {dataset.id} ADD {attr.id.id};\nALTER ATTRIBUTE {attr.id.id} ADD LABELS
        {label.id.id} VISUAL(TITLE \"ID\") AS {f_id.nm_id};\nALTER ATTRIBUTE {attr.id.id}
        DEFAULT LABEL {label.id.id};\nCREATE ATTRIBUTE {attr.id.name} VISUAL(TITLE
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/tasks/93a35f33b25f9be2e70cc7b72e5bfe9b0000002a/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:vin5jd0_U8EAXglx5Ak5bA
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:vin5jd0_U8EAXglx5Ak5bA:M90LROI1oHkUBQjp
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/tasks/93a35f33b25f9be2e70cc7b72e5bfe9b0000002a/status","status":"RUNNING","links":{"poll":"/gdc/md/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/tasks/93a35f33b25f9be2e70cc7b72e5bfe9b0000002a/status"}}}'
  recorded_at: Tue, 05 Jun 2018 06:36:29 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/model/view?includeCA=true&includeDeprecated=true&includeGrain=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:Op8vI65XY0NEkGrnfwDAYA
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/model/view/06c53886252e1aaa86567dd98dcaf10001cd73ae45dce3170000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:Op8vI65XY0NEkGrnfwDAYA:TWoUbBmR3ChVNV3g
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/model/view/06c53886252e1aaa86567dd98dcaf10001cd73ae45dce3170000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 06:36:40 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/model/view/06c53886252e1aaa86567dd98dcaf10001cd73ae45dce3170000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:piRlExyQbuWGvN8o5AkNqQ
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/model/view/06c53886252e1aaa86567dd98dcaf10001cd73ae45dce3170000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:piRlExyQbuWGvN8o5AkNqQ:s3OkRdCTRLiRM8X3
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/model/view/06c53886252e1aaa86567dd98dcaf10001cd73ae45dce3170000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 06:36:41 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/model/view/06c53886252e1aaa86567dd98dcaf10001cd73ae45dce3170000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:LGhk5SibI060Gh6-ot0q3A
      Process:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:LGhk5SibI060Gh6-ot0q3A:jEJ9QbE7NDlZG812
      X-Gdc-Request-Time:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"projectModelView":{"model":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.id","title":"TEST","anchor":{"attribute":{"identifier":"attr.id.id","title":"ID","folder":"TEST","labels":[{"label":{"identifier":"label.id.id","title":"ID","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.id.id"}},"attributes":[{"attribute":{"identifier":"attr.id.name","title":"NAME","folder":"TEST","labels":[{"label":{"identifier":"label.id.name.name_label_3","title":"NAME_LABEL_3","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.id.name.name_label_1","title":"NAME_LABEL_1","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.id.name.name_label_2","title":"NAME_LABEL_2","type":"GDC.link","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.id.name","title":"NAME","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.id.name.name_label_3","sortOrder":{"attributeSortOrder":{"label":"label.id.name.name_label_2","direction":"DESC"}}}}],"production":true}}]}}}}'
  recorded_at: Tue, 05 Jun 2018 06:36:52 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ttshpp5dsd49z9qmhjuwmqowmghgj101
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:YB1m813J4CinZ-kvUS8unw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ttshpp5dsd49z9qmhjuwmqowmghgj101/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.id","title":"TEST","anchor":{"attribute":{"identifier":"attr.id.id","title":"ID","folder":"TEST","labels":[{"label":{"identifier":"label.id.id","title":"ID","type":"GDC.text","[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ttshpp5dsd49z9qmhjuwmqowmghgj101/model/diff/0031aae64129455743edbce6ad192a3e01cd73ad471d8e1d0000006c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:4tvZh3wTXIGvOv0dvJizBg
      Process:
      - 'false'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/ttshpp5dsd49z9qmhjuwmqowmghgj101/model/diff/0031aae64129455743edbce6ad192a3e01cd73ad471d8e1d0000006c"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:4tvZh3wTXIGvOv0dvJizBg:wE3cdI6Mi1q03dI2
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/ttshpp5dsd49z9qmhjuwmqowmghgj101/model/diff/0031aae64129455743edbce6ad192a3e01cd73ad471d8e1d0000006c"}}}'
  recorded_at: Tue, 05 Jun 2018 06:37:02 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ttshpp5dsd49z9qmhjuwmqowmghgj101
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:tIEML9VRDg-FG82xj821Xg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charse[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ttshpp5dsd49z9qmhjuwmqowmghgj101/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:WxxSr1kvpr9hcjGRdbNLCA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ttshpp5dsd49z9qmhjuwmqowmghgj101/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.id} VISUAL(TITLE \"TEST\");\nCREATE
        FOLDER {dim.test} VISUAL(TITLE \"TEST\") TYPE ATTRIBUTE;\nCREATE ATTRIBUTE
        {attr.id.id} VISUAL(TITLE \"ID\", FOLDER {dim.test}) AS KEYS {f_id.id} FULLSET;\nALTER
        DATASET {dataset.id} ADD {attr.id.id};\nALTER ATTRIBUTE {attr.[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ttshpp5dsd49z9qmhjuwmqowmghgj101/tasks/dd4694b28f3c72990a13f70cff5475920000002a/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:90Go-kc7q79EINQo1_FtoA
      Process:
      - 'true'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Refresh:
      - '2'
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:90Go-kc7q79EINQo1_FtoA:kjGxZqWnpyp3t4Ok
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"wTaskStatus":{"poll":"/gdc/md/ttshpp5dsd49z9qmhjuwmqowmghgj101/tasks/dd4694b28f3c72990a13f70cff5475920000002a/status","status":"RUNNING","links":{"poll":"/gdc/md/ttshpp5dsd49z9qmhjuwmqowmghgj101/tasks/dd4694b28f3c72990a13f70cff5475920000002a/status"}}}'
  recorded_at: Tue, 05 Jun 2018 06:37:16 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/yq7lkbnd3mcftpxmx7a4t11fsbsl42eh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - v1Ttn2uLt4cKqCRNQoP1NA:C0oPfZ5Ibm4DlZdRI4ZtpQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - v1Ttn2uLt4cKqCRNQoP1NA:C0oPfZ5Ibm4DlZdRI4ZtpQ:clOmgRZWaiKET530
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARIN[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/yq7lkbnd3mcftpxmx7a4t11fsbsl42eh/model/diff?includeGrain=true
    body:
      encoding: UTF-8
      string: '{"diffRequest":{"targetModel":{"projectModel":{"modelMetadata":{"containCA":true},"datasets":[{"dataset":{"identifier":"dataset.id","title":"TEST","anchor":{"attribute":{"identifier":"attr.id.id","title":"ID","folder":"TEST","labels":[{"label":{"identifier":"label.id.id","title":"ID","type":"GDC.text","dataType":"VARCHAR(128)"}}],"defaultLabel":"label.id.id"}},"attributes":[{"attribute":{"identifier":"attr.id.name","title":"NAME","folder":"TEST","labels":[{"label":{"identifier":"label.id.name.name_label_3","title":"NAME_LABEL_3","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.id.name.name_label_1","title":"NAME_LABEL_1","type":"GDC.text","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.id.name.name_label_2","title":"NAME_LABEL_2","type":"GDC.link","dataType":"VARCHAR(128)"}},{"label":{"identifier":"label.id.name","title":"NAME","type":"GDC.text","dataType":"VARCHAR(128)"}}],"sortOrder":{"attributeSortOrder":{"label":"label.id.name.name_label_2","direction":"DESC"}},"defaultLabel":"label.id.name.name_label_3"}}],"facts":[],"references":[],"bridges":[]}}],"dateDimensions":[]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - v1Ttn2uLt4cKqCRNQoP1NA:FAVh6TijCp2Fencwwts1Zg
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - "/gdc/projects/yq7lkbnd3mcftpxmx7a4t11fsbsl42eh/model/diff/cb5aada3da6417036cd72868e03d1465fbecedf1be86482e00000018"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - v1Ttn2uLt4cKqCRNQoP1NA:FAVh6TijCp2Fencwwts1Zg:6JAWkVqWxiwdER4P
      X-Gdc-Request-Time:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"asyncTask":{"link":{"poll":"/gdc/projects/yq7lkbnd3mcftpxmx7a4t11fsbsl42eh/model/diff/cb5aada3da6417036cd72868e03d1465fbecedf1be86482e00000018"}}}'
  recorded_at: Fri, 05 Oct 2018 12:44:51 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/yq7lkbnd3mcftpxmx7a4t11fsbsl42eh/model/diff/cb5aada3da6417036cd72868e03d1465fbecedf1be86482e00000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - v1Ttn2uLt4cKqCRNQoP1NA:jYIx_xHR7l6ODa7HOgvj6g
      Process:
      - 'false'
  response:
    status:
      code: 200
      messag[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/yq7lkbnd3mcftpxmx7a4t11fsbsl42eh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - v1Ttn2uLt4cKqCRNQoP1NA:43w_FUuZm6NdOfZCEPdE2A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charse[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/yq7lkbnd3mcftpxmx7a4t11fsbsl42eh/ldm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - v1Ttn2uLt4cKqCRNQoP1NA:Egwq8oiphbQSc9kG-OQVNg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;ch[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/yq7lkbnd3mcftpxmx7a4t11fsbsl42eh/ldm/manage2
    body:
      encoding: UTF-8
      string: '{"manage":{"maql":"CREATE DATASET {dataset.id} VISUAL(TITLE \"TEST\");\nCREATE
        FOLDER {dim.test} VISUAL(TITLE \"TEST\") TYPE ATTRIBUTE;\nCREATE ATTRIBUTE
        {attr.id.id} VISUAL(TITLE \"ID\", FOLDER {dim.test}) AS KEYS {f_id.id} FULLSET;\nALTER
        DATASET {dataset.id} ADD {attr.id.id};\nALTER ATTRIBUTE {attr.[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/yq7lkbnd3mcftpxmx7a4t11fsbsl42eh/tasks/8605409259955c171aea508a9993022400000007/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
[...]
