---
http_interactions:
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"hello","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:VXlddmhrezSa8ZxUFZr_6w
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '39'
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:VXlddmhrezSa8ZxUFZr_6w:b7tuDOifkHxAFNNU
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 06:37:39 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ttshpp5dsd49z9qmhjuwmqowmghgj101/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"hello","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:ukuG6k5BYbgO9L-ObbR2BQ
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '27'
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:ukuG6k5BYbgO9L-ObbR2BQ:PcXwsHyirM3DkjF5
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 06:37:40 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/yq7lkbnd3mcftpxmx7a4t11fsbsl42eh/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"hello","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - v1Ttn2uLt4cKqCRNQoP1NA:_d5Z_OTlrTl6gV6L1VuE5Q
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - v1Ttn2uLt4cKqCRNQoP1NA:_d5Z_OTlrTl6gV6L1VuE5Q:nj9Ih37pLffFhKWL
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 05 Oct 2018 12:45:26 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/y5y6t3ho1fpjz21nomqmib2a3490yy4o/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"hello","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - v1Ttn2uLt4cKqCRNQoP1NA:q6oaqUmhTy9Ft0QaSQAyxA
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '19'
      X-Gdc-Request:
      - v1Ttn2uLt4cKqCRNQoP1NA:q6oaqUmhTy9Ft0QaSQAyxA:KpaizU9HMjpfef3n
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 05 Oct 2018 12:45:27 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/n1kcfzc9ny9jezv68ja319uab6z51cvz/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"hello","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - N_6kgJzC52LXuLfkjYffJg:sU4savmIXTCR77jFdO5oPg
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '15'
      X-Gdc-Request:
      - N_6kgJzC52LXuLfkjYffJg:sU4savmIXTCR77jFdO5oPg:DlY0YCr5r3Z13rtT
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 10:43:26 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/r89di7088ffzjiyiusrgyp4wshwswarv/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"hello","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - N_6kgJzC52LXuLfkjYffJg:lm7AuESH8CmfLC1RYqO4XA
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '29'
      X-Gdc-Request:
      - N_6kgJzC52LXuLfkjYffJg:lm7AuESH8CmfLC1RYqO4XA:1zO0HsrLlV8Z65CO
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 10:43:27 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/r89di7088ffzjiyiusrgyp4wshwswarv/styleSettings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - N_6kgJzC52LXuLfkjYffJg:iOX0c-zbVW4xvapVD6zaZg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - N_6kgJzC52LXuLfkjYffJg:iOX0c-zbVW4xvapVD6zaZg:wQRrnQcy95yAhobx
      X-Gdc-Request-Time:
      - '15'
    body:
      encoding: ASCII-8BIT
      string: '{"styleSettings":{"chartPalette":[{"guid":"hello","fill":{"r":155,"g":255,"b":0}}]}}'
  recorded_at: Wed, 10 Oct 2018 10:43:27 GMT
recorded_with: VCR 4.0.0
