---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.id.name"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:C8a2mv1hgar6C5MKZj3Ucg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:C8a2mv1hgar6C5MKZj3Ucg:CvIhCai1QVrBRXqi
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.id.name","uri":"/gdc/md/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/obj/32"}]}'
  recorded_at: Tue, 05 Jun 2018 06:37:27 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/obj/32
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:PPm6sjym55JGTpj2XF9KVg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:PPm6sjym55JGTpj2XF9KVg:BJActTpjbK4o5ypU
      X-Gdc-Request-Time:
      - '179'
    body:
      encoding: ASCII-8BIT
      string: '{"attribute":{"content":{"direction":"desc","sort":{"df":{"uri":"/gdc/md/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/obj/35"}},"pk":[{"type":"col","data":"/gdc/md/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/obj/11"}],"dimension":"/gdc/md/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/obj/29","displayForms":[{"content":{"formOf":"/gdc/md/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/obj/32","expression":"[/gdc/md/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/obj/19]","default":1},"links":{"elements":"/gdc/md/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/obj/33/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/obj/33","tags":"","created":"2018-06-05
        08:36:29","identifier":"label.id.name.name_label_3","deprecated":"0","summary":"","isProduction":1,"title":"NAME_LABEL_3","category":"attributeDisplayForm","updated":"2018-06-05
        08:36:29","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}},{"content":{"formOf":"/gdc/md/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/obj/32","expression":"[/gdc/md/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/obj/15]"},"links":{"elements":"/gdc/md/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/obj/34/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/obj/34","tags":"","created":"2018-06-05
        08:36:29","identifier":"label.id.name.name_label_1","dep[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/obj/31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:n2Ai2W-egaul7-SG-pGTsA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:n2Ai2W-egaul7-SG-pGTsA:TgzJjUeNnSkUiXrR
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/obj/30","expression":"[/gdc/md/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/obj/26]","default":1},"links":{"elements":"/gdc/md/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/obj/31/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/obj/31","tags":"","created":"2018-06-05
        08:36:29","identifier":"label.id.id","deprecated":"0","summary":"","isProduction":1,"title":"ID","category":"attributeDisplayForm","updated":"2018-06-05
        08:36:29","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 06:37:30 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:2Sn3fbJZr5tBulxtaePAlw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:2Sn3fbJZr5tBulxtaePAlw:F1fSLVnilzBVo91Z
      X-Gdc-Request-Time:
      - '66'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"attribute":{"content":{"pk":[{"type":"col","data":"/gdc/md/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/obj/22"}],"dimension":"/gdc/md/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/obj/29","displayForms":[{"content":{"formOf":"/gdc/md/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/obj/30","expression":"[/gdc/md/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/obj/26]","default":1},"links":{"elements":"/gdc/md/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/obj/31/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ttshpp5dsd49z9qmhjuwmqowmghgj101/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.id.name"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:hkzKqqGd4L82pKZXcz2XMw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:hkzKqqGd4L82pKZXcz2XMw:gVKiCiEzVtzWTizX
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.id.name","uri":"/gdc/md/ttshpp5dsd49z9qmhjuwmqowmghgj101/obj/32"}]}'
  recorded_at: Tue, 05 Jun 2018 06:37:32 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ttshpp5dsd49z9qmhjuwmqowmghgj101/obj/32
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:49J6W2DGSzwhcvp1KiiQ_Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/yq7lkbnd3mcftpxmx7a4t11fsbsl42eh/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.id.name"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - v1Ttn2uLt4cKqCRNQoP1NA:VVZtRj0K-m2Pxy4q6HYjFg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - v1Ttn2uLt4cKqCRNQoP1NA:VVZtRj0K-m2Pxy4q6HYjFg:9quq1qfrNWn6q1PV
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.id.name","uri":"/gdc/md/yq7lkbnd3mcftpxmx7a4t11fsbsl42eh/obj/35"}]}'
  recorded_at: Fri, 05 Oct 2018 12:45:15 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/yq7lkbnd3mcftpxmx7a4t11fsbsl42eh/obj/35
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - v1Ttn2uLt4cKqCRNQoP1NA:ki0p5y81t49aoaOvywHvaQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/yq7lkbnd3mcftpxmx7a4t11fsbsl42eh/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - v1Ttn2uLt4cKqCRNQoP1NA:GQFFqCD_BUw_KCcjUUyq7g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/y5y6t3ho1fpjz21nomqmib2a3490yy4o/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.id.name"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - v1Ttn2uLt4cKqCRNQoP1NA:l7Yw_wo0neujAOLbN1YVJw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - v1Ttn2uLt4cKqCRNQoP1NA:l7Yw_wo0neujAOLbN1YVJw:MOuIrts77yc4QBUW
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.id.name","uri":"/gdc/md/y5y6t3ho1fpjz21nomqmib2a3490yy4o/obj/35"}]}'
  recorded_at: Fri, 05 Oct 2018 12:45:20 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/y5y6t3ho1fpjz21nomqmib2a3490yy4o/obj/35
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - v1Ttn2uLt4cKqCRNQoP1NA:VYNwYzLwMcXX7463e27_Aw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/n1kcfzc9ny9jezv68ja319uab6z51cvz/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.id.name"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - N_6kgJzC52LXuLfkjYffJg:h1YEmpaW5hcP7rXZxzZOrQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - N_6kgJzC52LXuLfkjYffJg:h1YEmpaW5hcP7rXZxzZOrQ:IvDADVDZS6L5k0r6
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.id.name","uri":"/gdc/md/n1kcfzc9ny9jezv68ja319uab6z51cvz/obj/35"}]}'
  recorded_at: Wed, 10 Oct 2018 10:43:09 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/n1kcfzc9ny9jezv68ja319uab6z51cvz/obj/35
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - N_6kgJzC52LXuLfkjYffJg:WrfG2KhbjYXcCOkF53SMqg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/n1kcfzc9ny9jezv68ja319uab6z51cvz/objects/query?category=attribute&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - N_6kgJzC52LXuLfkjYffJg:gUSaHwxW-p1L7F7beMlosw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/r89di7088ffzjiyiusrgyp4wshwswarv/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["attr.id.name"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - N_6kgJzC52LXuLfkjYffJg:Om8OLVfolDBO4-m_qE-9sw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - N_6kgJzC52LXuLfkjYffJg:Om8OLVfolDBO4-m_qE-9sw:nmjIqVErRuNqqksP
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"attr.id.name","uri":"/gdc/md/r89di7088ffzjiyiusrgyp4wshwswarv/obj/35"}]}'
  recorded_at: Wed, 10 Oct 2018 10:43:13 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/r89di7088ffzjiyiusrgyp4wshwswarv/obj/35
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - N_6kgJzC52LXuLfkjYffJg:psDRTK6bLKsEP2gEqUSq_Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/r89di7088ffzjiyiusrgyp4wshwswarv/obj/34
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - N_6kgJzC52LXuLfkjYffJg:ratPlXOdVjoqu4Eg1WI9ng
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - N_6kgJzC52LXuLfkjYffJg:ratPlXOdVjoqu4Eg1WI9ng:vAfATmzzcxCJeAq3
      X-Gdc-Request-Time:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"attributeDisplayForm":{"content":{"formOf":"/gdc/md/r89di7088ffzjiyiusrgyp4wshwswarv/obj/33","expression":"[/gdc/md/r89di7088ffzjiyiusrgyp4wshwswarv/obj/29]","default":1},"links":{"elements":"/gdc/md/r89di7088ffzjiyiusrgyp4wshwswarv/obj/34/elements"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/r89di7088ffzjiyiusrgyp4wshwswarv/obj/34","tags":"","created":"2018-10-10
        12:43:06","identifier":"label.id.id","deprecated":"0","summary":"","isProduction":1,"title":"ID","category":"attributeDisplayForm","updated":"2018-10-10
        12:43:06","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 10 Oct 2018 10:43:25 GMT
recorded_with: VCR 4.0.0
