---
http_interactions:
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/dmo2wkw9n3czprfxwzsnnvbnwuiyag57/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"hello","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:VXlddmhrezSa8ZxUFZr_6w
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '39'
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:VXlddmhrezSa8ZxUFZr_6w:b7tuDOifkHxAFNNU
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 06:37:39 GMT
[...]
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ttshpp5dsd49z9qmhjuwmqowmghgj101/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"hello","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:ukuG6k5BYbgO9L-ObbR2BQ
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '27'
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:ukuG6k5BYbgO9L-ObbR2BQ:PcXwsHyirM3DkjF5
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 06:37:40 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ttshpp5dsd49z9qmhjuwmqowmghgj101/styleSettings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:iqbjXBPE7bPt_YYf4nGmPg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Jq38qoh786xkCHmGotSJBA:iqbjXBPE7bPt_YYf4nGmPg:9JXHs3KWUNKAZ5Ly
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"styleSettings":{"chartPalette":[{"guid":"hello","fill":{"r":155,"g":255,"b":0}}]}}'
  recorded_at: Tue, 05 Jun 2018 06:37:40 GMT
recorded_with: VCR 4.0.0
