---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":RxltghTs5m83Ce79UItp3g:zDsIZqwmX-FMXlHP3vFuiQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":RxltghTs5m83Ce79UItp3g:zDsIZqwmX-FMXlHP3vFuiQ:ki0IbMABZhh8ztmW"
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"DEVELOPMENT","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc/ldm?thumbnail=1","self":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc","clearCaches":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc/clearCaches","invitations":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc/invitations","users":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc/uploads/","ldm":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc/ldm","metadata":"/gdc/md/q50hl3tz72zrl2ur1g3uu40w9garjenc","publicartifacts":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc/publicartifacts","roles":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc/roles","userRoles":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc/dataload","connectors":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc/connectors","execute":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc/execute","config":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc/config","projectFeatureFlags":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc/projectFeatureFlags","schedules":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc/schedules","templates":"/gdc/md/q50hl3tz72zrl2ur1g3uu40w9garjenc/templates"},"meta":{"created":"2019-03-06
        15:24:34","summary":"No summary","updated":"2019-03-06 15:24:34","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"New
        project","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 06 Mar 2019 14:24:35 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":RxltghTs5m83Ce79UItp3g:wqtm3e0IXrPOhZlCdIvZMw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":RxltghTs5m83Ce79UItp3g:wqtm3e0IXrPOhZlCdIvZMw:NSoRSOHqra6JVyIf"
      X-Gdc-Request-Time:
      - '64'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"DEVELOPMENT","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc/ldm?thumbnail=1","self":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc","clearCaches":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc/clearCaches","invitations":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc/invitations","users":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/q50hl3tz72zrl2ur1[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":HmkynOhO0X_jFm7uw2tUKw:Trtxv2-Lfw1Rj2FSvTTT_A"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - ":HmkynOhO0X_jFm7uw2tUKw:Trtxv2-Lfw1Rj2FSvTTT_A:a1wOXz8b3Lh2ojDY"
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 04:33:15 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":HmkynOhO0X_jFm7uw2tUKw:W1w-h8YhHbwWu9t72lkwVA"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request-Time:
      - '18'
      X-Gdc-Request:
      - ":HmkynOhO0X_jFm7uw2tUKw:W1w-h8YhHbwWu9t72lkwVA:Tr08BbwDtKYwHvSU"
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 04:33:16 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":HmkynOhO0X_jFm7uw2tUKw:sOxaQHpS857Dz7NQIfaZvA"
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '11'
      X-Gdc-Request:
      - ":HmkynOhO0X_jFm7uw2tUKw:sOxaQHpS857Dz7NQIfaZvA:LoZVfMIyboQlQY1s"
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2019-03-15 10:00:00","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Wed, 15 Jan 2020 04:33:17 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":HmkynOhO0X_jFm7uw2tUKw:CzAnbJIPGCVCg_YEfqSp2Q"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '30'
      X-Gdc-Request:
      - ":HmkynOhO0X_jFm7uw2tUKw:CzAnbJIPGCVCg_YEfqSp2Q:IRx3WomAb3Xwpbro"
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Wed, 15 Jan 2020 04:33:18 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"New project"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"PRODUCTION","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":HmkynOhO0X_jFm7uw2tUKw:s1183IR6NtYB6jnYOdXMpw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '398'
      X-Gdc-Request:
      - ":HmkynOhO0X_jFm7uw2tUKw:s1183IR6NtYB6jnYOdXMpw:euUEJzir5IYOmowP"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/nhwicskaf8aajcaobuvj5mglv9mzr3p1"}'
  recorded_at: Wed, 15 Jan 2020 04:33:20 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/nhwicskaf8aajcaobuvj5mglv9mzr3p1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":HmkynOhO0X_jFm7uw2tUKw:cxth74wVca7qD_uPtGOoFQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '53'
      X-Gdc-Request:
      - ":HmkynOhO0X_jFm7uw2tUKw:cxth74wVca7qD_uPtGOoFQ:oswmjSwhfUBPJN9A"
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADING"},"links":{"ldm_thumbnail":"/gdc/projects/nhwicskaf8aajcaobuvj5mglv9mzr3p1/ldm?thumbnail=1","self":"/gdc/projects/nhwicskaf8aajcaobuvj5mglv9mzr3p1","clearCaches":"/gdc/projects/nhwicskaf8aajcaobuvj5mglv9mzr3p1/clearCaches","invitations":"/gdc/projects/nhwicskaf8aajcaobuvj5mglv9mzr3p1/invitations","users":"/gdc/projects/nhwicskaf8aajcaobuvj5mglv9mzr3p1/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/nhwicskaf8aajcaobuvj5mglv9mzr3p1/checkXaeCompatibility","uploads":"/gdc/projects/nhwicskaf8aajcaobuvj5mglv9mzr3p1/uploads/","ldm":"/gdc/projects/nhwicskaf8aajcaobuvj5mglv9mzr3p1/ldm","metadata":"/gdc/md/nhwicskaf8aajcaobuvj5mglv9mzr3p1","publicartifacts":"/gdc/projects/nhwicskaf8aajcaobuvj5mglv9mzr3p1/publicartifacts","roles":"/gdc/projects/nhwicskaf8aajcaobuvj5mglv9mzr3p1/roles","userRoles":"/gdc/projects/nhwicskaf8aajcaobuvj5mglv9mzr3p1/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/nhwicskaf8aajcaobuvj5mglv9mzr3p1/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/nhwicskaf8aajcaobuvj5mglv9mzr3p1/dataload","connectors":"/gdc/projects/nhwicskaf8aajcaobuvj5mglv9mzr3p1/connectors","execute":"/gdc/projects/nhwicskaf8aajcaobuvj5mglv9mzr3p1/execute","config":"/gdc/projects/nhwicskaf8aajcaobuvj5mglv9mzr3p1/config","projectFeatureFlags":"/gdc/projects/nhwicskaf8aajcaobuvj5mglv9mzr3p1/projectFeatureFlags","schedules":"/gdc/projects/nhwicskaf8aajcaobuvj5mglv9mzr3p1/schedules","templates":"/gdc/md/nhwicskaf8aajcaobuvj5mglv9mzr3p1/templates"},"meta":{"created":"2020-01-15
        05:33:19","summary":"No summary","updated":"2020-01-15 05:33:20","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"New
        project","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 15 Jan 2020 04:33:20 GMT
[...]
