---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":RxltghTs5m83Ce79UItp3g:K-iHv-fu_lfzDM43nRFp2w"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":RxltghTs5m83Ce79UItp3g:K-iHv-fu_lfzDM43nRFp2w:OaThfHv9HtSIsL2W"
      X-Gdc-Request-Time:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 06 Mar 2019 14:24:31 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":RxltghTs5m83Ce79UItp3g:0nm_c1VYiyJEd8BJ8ZfPgg"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - ":RxltghTs5m83Ce79UItp3g:0nm_c1VYiyJEd8BJ8ZfPgg:NS02ylczIsXGhUKA"
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 06 Mar 2019 14:24:32 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":RxltghTs5m83Ce79UItp3g:NYfpx0MRDwTTMM_hWcaPVg"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":RxltghTs5m83Ce79UItp3g:NYfpx0MRDwTTMM_hWcaPVg:fRDR6kkSzWQybf0H"
      X-Gdc-Request-Time:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2018-12-03 11:09:12","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Wed, 06 Mar 2019 14:24:33 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":RxltghTs5m83Ce79UItp3g:xUgFVbtsO0-D669iDQ8djA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":RxltghTs5m83Ce79UItp3g:xUgFVbtsO0-D669iDQ8djA:dRXXmB1MuRmHlAAn"
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Wed, 06 Mar 2019 14:24:34 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"New project"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"DEVELOPMENT","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":RxltghTs5m83Ce79UItp3g:gEVjgQkyrmIJZyn5yWjMdQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":RxltghTs5m83Ce79UItp3g:gEVjgQkyrmIJZyn5yWjMdQ:3YSgmj500eACGFf9"
      X-Gdc-Request-Time:
      - '372'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc"}'
  recorded_at: Wed, 06 Mar 2019 14:24:35 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":RxltghTs5m83Ce79UItp3g:zDsIZqwmX-FMXlHP3vFuiQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":RxltghTs5m83Ce79UItp3g:zDsIZqwmX-FMXlHP3vFuiQ:ki0IbMABZhh8ztmW"
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"DEVELOPMENT","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc/ldm?thumbnail=1","self":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc","clearCaches":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc/clearCaches","invitations":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc/invitations","users":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc/uploads/","ldm":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc/ldm","metadata":"/gdc/md/q50hl3tz72zrl2ur1g3uu40w9garjenc","publicartifacts":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc/publicartifacts","roles":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc/roles","userRoles":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc/dataload","connectors":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc/connectors","execute":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc/execute","config":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc/config","projectFeatureFlags":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc/projectFeatureFlags","schedules":"/gdc/projects/q50hl3tz72zrl2ur1g3uu40w9garjenc/schedules","templates":"/gdc/md/q50hl3tz72zrl2ur1g3uu40w9garjenc/templates"},"meta":{"created":"2019-03-06
        15:24:34","summary":"No summary","updated":"2019-03-06 15:24:34","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"New
        project","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 06 Mar 2019 14:24:35 GMT
[...]
