---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/489ab6549a1e57d15b314b43124e8bd9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":lsOoprLpR2N0px1q88QS9Q:nNCQqoBmzMhRb-OP8D2zMQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '9'
      X-Gdc-Request:
      - ":lsOoprLpR2N0px1q88QS9Q:nNCQqoBmzMhRb-OP8D2zMQ:oftDglAgKTaVQrei"
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/489ab6549a1e57d15b314b43124e8bd9","projects":"/gdc/account/profile/489ab6549a1e57d15b314b43124e8bd9/projects","auditEvents":"/gdc/account/profile/489ab6549a1e57d15b314b43124e8bd9/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"X","lastName":"X","companyName":null,"position":null,"created":"2020-05-22
        05:05:36","updated":"2020-05-22 05:05:36","country":null,"phoneNumber":null,"authenticationModes":[],"login":"gemtest_871382_persistent@gooddata.com","timezone":null,"ssoProvider":null,"email":"gemtest_871382_persistent@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Fri, 22 May 2020 03:05:37 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/489ab6549a1e57d15b314b43124e8bd9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":9JXY9pwQaHmNerWnyQYfqQ:hX2LH4Uln0eSnMzEplrlcQ"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Tries:
      - '0'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '17'
      X-Gdc-Request:
      - ":9JXY9pwQaHmNerWnyQYfqQ:hX2LH4Uln0eSnMzEplrlcQ:dnM43MMAinQL8HYb"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 22 May 2020 03:05:44 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users?login=gemtest_871382_persistent@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":6oQS264mJgalcVR4cjKhIA:-zMwrP6ogBt9pB_V5hpS9g"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '14'
      X-Gdc-Request:
      - ":6oQS264mJgalcVR4cjKhIA:-zMwrP6ogBt9pB_V5hpS9g:VMAnePSUksOEJHU5"
    body:
      encoding: ASCII-8BIT
      string: '{"accountSettings":{"paging":{"offset":0,"count":0},"items":[]}}'
  recorded_at: Mon, 25 May 2020 04:00:04 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users
    body:
      encoding: UTF-8
      string: '{"accountSetting":{"login":"gemtest_871382_persistent@gooddata.com","firstName":"X","lastName":"X","password":"<PASSWORD>","verifyPassword":"<PASSWORD>","email":"gemtest_871382_persistent@gooddata.com","language":"en-US"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":6oQS264mJgalcVR4cjKhIA:TdiBfl86HlqlqRnwxIZWPQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/account/profile/15a4f30bf1acdf198a6740da6f78497b"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '95'
      X-Gdc-Request:
      - ":6oQS264mJgalcVR4cjKhIA:TdiBfl86HlqlqRnwxIZWPQ:Nv2ZZpwkVNM2CtvB"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/account/profile/15a4f30bf1acdf198a6740da6f78497b"}'
  recorded_at: Mon, 25 May 2020 04:00:06 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"gemtest_871382_persistent@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":215sWgPAyLqaKGDdHnjYJA:y-2Ie_UWbhStzWgUZyBN0w"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '100'
      X-Gdc-Request:
      - ":215sWgPAyLqaKGDdHnjYJA:y-2Ie_UWbhStzWgUZyBN0w:Pm5VFbw2hKlFPQUH"
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/15a4f30bf1acdf198a6740da6f78497b","state":"/gdc/account/login/15a4f30bf1acdf198a6740da6f78497b","token":"<TOKEN>"}}'
  recorded_at: Mon, 25 May 2020 04:00:08 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":215sWgPAyLqaKGDdHnjYJA:bQNZaP3YSAVNWEFoB17QIA"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request-Time:
      - '29'
      X-Gdc-Request:
      - ":215sWgPAyLqaKGDdHnjYJA:bQNZaP3YSAVNWEFoB17QIA:tDB17vi6mgd8DCLR"
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Mon, 25 May 2020 04:00:09 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":215sWgPAyLqaKGDdHnjYJA:LrNtW1VFNBprawQmuN5jgg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '19'
      X-Gdc-Request:
      - ":215sWgPAyLqaKGDdHnjYJA:LrNtW1VFNBprawQmuN5jgg:XkGWZ9fAKKrqkH4K"
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Mon, 25 May 2020 04:00:12 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/15a4f30bf1acdf198a6740da6f78497b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":5fba8SYRT59hJsWHMLoM6w:wqrX1d0-6TffuLWFGuEstg"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Tries:
      - '0'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '14'
      X-Gdc-Request:
      - ":5fba8SYRT59hJsWHMLoM6w:wqrX1d0-6TffuLWFGuEstg:zNML83h50CadgC3P"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 25 May 2020 04:00:15 GMT
recorded_with: VCR 5.0.0
