---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/489ab6549a1e57d15b314b43124e8bd9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":lsOoprLpR2N0px1q88QS9Q:nNCQqoBmzMhRb-OP8D2zMQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '9'
      X-Gdc-Request:
      - ":lsOoprLpR2N0px1q88QS9Q:nNCQqoBmzMhRb-OP8D2zMQ:oftDglAgKTaVQrei"
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/489ab6549a1e57d15b314b43124e8bd9","projects":"/gdc/account/profile/489ab6549a1e57d15b314b43124e8bd9/projects","auditEvents":"/gdc/account/profile/489ab6549a1e57d15b314b43124e8bd9/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"X","lastName":"X","companyName":null,"position":null,"created":"2020-05-22
        05:05:36","updated":"2020-05-22 05:05:36","country":null,"phoneNumber":null,"authenticationModes":[],"login":"gemtest_871382_persistent@gooddata.com","timezone":null,"ssoProvider":null,"email":"gemtest_871382_persistent@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Fri, 22 May 2020 03:05:37 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/489ab6549a1e57d15b314b43124e8bd9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":9JXY9pwQaHmNerWnyQYfqQ:hX2LH4Uln0eSnMzEplrlcQ"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Tries:
      - '0'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '17'
      X-Gdc-Request:
      - ":9JXY9pwQaHmNerWnyQYfqQ:hX2LH4Uln0eSnMzEplrlcQ:dnM43MMAinQL8HYb"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 22 May 2020 03:05:44 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users?login=gemtest_871382_persistent@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":SO-KA6nyddbXJwmlSccDlg:PDkdaGmh3XzaqJ5YWuMwBA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '14'
      X-Gdc-Request:
      - ":SO-KA6nyddbXJwmlSccDlg:PDkdaGmh3XzaqJ5YWuMwBA:WAxmjZ1GzznbXSvt"
    body:
      encoding: ASCII-8BIT
      string: '{"accountSettings":{"paging":{"offset":0,"count":0},"items":[]}}'
  recorded_at: Tue, 26 May 2020 10:36:33 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users
    body:
      encoding: UTF-8
      string: '{"accountSetting":{"login":"gemtest_871382_persistent@gooddata.com","firstName":"X","lastName":"X","password":"<PASSWORD>","verifyPassword":"<PASSWORD>","email":"gemtest_871382_persistent@gooddata.com","language":"en-US"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":SO-KA6nyddbXJwmlSccDlg:scgSebtoBixkjz-XvHbWsg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/account/profile/e0b41a016c340905cd85e47ac4930c41"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '289'
      X-Gdc-Request:
      - ":SO-KA6nyddbXJwmlSccDlg:scgSebtoBixkjz-XvHbWsg:1HABB3lEJRs7jg0W"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/account/profile/e0b41a016c340905cd85e47ac4930c41"}'
  recorded_at: Tue, 26 May 2020 10:36:34 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"gemtest_871382_persistent@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":0LGLIrrFRatYCV_e6YcTeA:IpwYFZNFRxgg4NuX9zu41g"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '63'
      X-Gdc-Request:
      - ":0LGLIrrFRatYCV_e6YcTeA:IpwYFZNFRxgg4NuX9zu41g:QvJFP7ri7sn9lDdp"
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/e0b41a016c340905cd85e47ac4930c41","state":"/gdc/account/login/e0b41a016c340905cd85e47ac4930c41","token":"<TOKEN>"}}'
  recorded_at: Tue, 26 May 2020 10:36:37 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":0LGLIrrFRatYCV_e6YcTeA:RN4ZlGK81kRUWzjSwGjycA"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request-Time:
      - '28'
      X-Gdc-Request:
      - ":0LGLIrrFRatYCV_e6YcTeA:RN4ZlGK81kRUWzjSwGjycA:aaFiqzqprZ5g9lTU"
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Tue, 26 May 2020 10:36:38 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":0LGLIrrFRatYCV_e6YcTeA:lMQy5LdtjBLJfD-Ytsanog"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '23'
      X-Gdc-Request:
      - ":0LGLIrrFRatYCV_e6YcTeA:lMQy5LdtjBLJfD-Ytsanog:4FuWPOUVkvAz9xDC"
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Tue, 26 May 2020 10:36:40 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users?login=gemtest_871382_persistent@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":0LGLIrrFRatYCV_e6YcTeA:eloXUAg87FB00XedqmpPYQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '9'
      X-Gdc-Request:
      - ":0LGLIrrFRatYCV_e6YcTeA:eloXUAg87FB00XedqmpPYQ:TjWFALLbg9V75tzo"
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"errorClass":"com.gooddata.security.authorization.AuthorizationFailedException","trace":"","message":"Can
        be accessed only by domain admin","component":"Webapp","errorId":"60b8469b-0578-488d-bc48-cb559289a6a8","errorCode":"gdc.security.authorization","parameters":[]}}'
  recorded_at: Tue, 26 May 2020 10:36:41 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/e0b41a016c340905cd85e47ac4930c41
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":OBZwcKUUuWct6aXAiMt5vQ:R0v5VDytvk1B8efJY0aGEA"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Tries:
      - '0'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '18'
      X-Gdc-Request:
      - ":OBZwcKUUuWct6aXAiMt5vQ:R0v5VDytvk1B8efJY0aGEA:graSMkuYQxNkqSol"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 26 May 2020 10:37:09 GMT
recorded_with: VCR 5.0.0
