---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fv57rgza7vwmw2owv300fdapp78i49ld/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1,"crossDataCenterExport":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:VAHPC5pK3LQ2jOdTgdP2-A"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '33'
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:VAHPC5pK3LQ2jOdTgdP2-A:XyvcIAw6z083B87m"
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/fv57rgza7vwmw2owv300fdapp78i49ld/etltask/4fbd96f40fbfafdd10bf25c808624c220000006f"},"token":"<TOKEN>"}}'
  recorded_at: Tue, 11 Oct 2022 07:17:24 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fv57rgza7vwmw2owv300fdapp78i49ld/etltask/4fbd96f40fbfafdd10bf25c808624c220000006f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:wfCPRSD0dK3IstBrMyHcEQ"
      Process:
      - 'true'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '14'
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:wfCPRSD0dK3IstBrMyHcEQ:z4rn0X4YV4Bi5ZGG"
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"status":"RUNNING","msg":""}}'
  recorded_at: Tue, 11 Oct 2022 07:17:25 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fv57rgza7vwmw2owv300fdapp78i49ld/etltask/4fbd96f40fbfafdd10bf25c808624c220000006f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:9yqcKZPEr-Zvqewp16LHtw"
      Process:
      - 'true'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '18'
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:9yqcKZPEr-Zvqewp16LHtw:mvLLhjKP11nwqiyH"
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"OK"}}'
  recorded_at: Tue, 11 Oct 2022 07:17:34 GMT
recorded_with: VCR 5.0.0
