---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/px0sugvog1moq0y2pzps4o0cczy6civf/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1,"crossDataCenterExport":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:cLIsJhEiuPspyaxS7QNIkg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '41'
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:cLIsJhEiuPspyaxS7QNIkg:c4ea6gHDWdMhwOYi"
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/px0sugvog1moq0y2pzps4o0cczy6civf/etltask/c9c8a6c931330eacf99492280ef29dff00000089"},"token":"<TOKEN>"}}'
  recorded_at: Thu, 07 May 2020 11:55:15 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/px0sugvog1moq0y2pzps4o0cczy6civf/etltask/c9c8a6c931330eacf99492280ef29dff00000089
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:YhLqmArIeWbZYnzaLKQ2ug"
      Process:
      - 'true'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '34'
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:YhLqmArIeWbZYnzaLKQ2ug:GEaMkROTRkxyWpWw"
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Thu, 07 May 2020 11:55:16 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/px0sugvog1moq0y2pzps4o0cczy6civf/etltask/c9c8a6c931330eacf99492280ef29dff00000089
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:x4EAeg0bEIZMLeSOBbGMOg"
      Process:
      - 'true'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '29'
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:x4EAeg0bEIZMLeSOBbGMOg:Si5VCg1cJ4JBUlwL"
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"OK"}}'
  recorded_at: Thu, 07 May 2020 11:55:27 GMT
recorded_with: VCR 5.1.0
