---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:d2LCD1In0ontAqlmlK6NUg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:d2LCD1In0ontAqlmlK6NUg:d2zqRhBN7V6x8HRm
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/ldm?thumbnail=1","self":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx","clearCaches":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/clearCaches","invitations":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/invitations","users":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/uploads/","ldm":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/ldm","metadata":"/gdc/md/mwapu8y5brqcs40bw5g5v0sitio47twx","publicartifacts":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/publicartifacts","roles":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/roles","userRoles":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/dataload","connectors":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/connectors","execute":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/execute","config":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/config","projectFeatureFlags":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/projectFeatureFlags","schedules":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/schedules","templates":"/gdc/md/mwapu8y5brqcs40bw5g5v0sitio47twx/templates","eventstores":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        09:10:28","summary":"No summary","updated":"2018-06-05 09:10:28","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Test
        MASTER project for e9a37a7c-4e6d-43ea-af93-bb207b117134","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:10:29 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:ScuurHBGQeqvuTf74ZBGEw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:ScuurHBGQeqvuTf74ZBGEw:HvjafIwwDMWNLCMV
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/ldm?thumbnail=1","self":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx","clearCaches":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/clearCaches","invitations":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/invitations","users":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/mwapu8y5brqcs40bw[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/v5meq8luwksddwv4jraz5m6nj2hfpzsb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:SuWGEYU3bqU2SOw8CJ3g3g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-e9a37a7c-4e6d-43ea-af93-bb207b117134
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:yoSxjH2s_sDNd9dM4h2bWQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:yoSxjH2s_sDNd9dM4h2bWQ:6UjlTa1uu9KL0typ
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"segment":{"id":"segment-e9a37a7c-4e6d-43ea-af93-bb207b117134","masterProject":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx","links":{"self":"/gdc/domains/staging2-lcm-prod/segments/segment-e9a37a7c-4e6d-43ea-af93-bb207b117134","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/clients?segment=segment-e9a37a7c-4e6d-43ea-af93-bb207b117134&limit=1000"}}}'
  recorded_at: Tue, 05 Jun 2018 07:10:45 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients?segment=segment-e9a37a7c-4e6d-43ea-af93-bb207b117134
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:joVqk6VYLdfh04ebSxTSjA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:joVqk6VYLdfh04ebSxTSjA:hOVfmKUEYoyboisf
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"clients":{"items":[{"client":{"id":"tenant_1","segment":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-e9a37a7c-4e6d-43ea-af93-bb207b117134","project":"/gdc/projects/v5meq8luwksddwv4jraz5m6nj2hfpzsb","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_1"}}}],"paging":{"next":null}}}'
  recorded_at: Tue, 05 Jun 2018 07:10:49 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-e9a37a7c-4e6d-43ea-af93-bb207b117134
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:OAnDvG266vsGGt772Kluzg
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '20'
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:OAnDvG266vsGGt772Kluzg:pP3KMcTaWwWyOUXF
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 07:10:53 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/k8ypahcdwifb94y8lg451j666l7okrlg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:lEAJXmss4LZHoST-u0FFAQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:lEAJXmss4LZHoST-u0FFAQ:HwCMz4cw4fye3WlH
      X-Gdc-Request-Time:
      - '55'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPA[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/pny5vf5u9aeka8s7bpbopqv73tayyz4x
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:skQwyvcfYkB2YhOEpycDPA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/cihj3hzcgo8epn5jo1yhkwxusm6sj6zi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - dC31Fwqi21EOD7DcCZxdHA:b7Pz6fPNsDlPpvX3rD5gsw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - dC31Fwqi21EOD7DcCZxdHA:b7Pz6fPNsDlPpvX3rD5gsw:3hl5Ivpuj2JGe5qG
      X-Gdc-Request-Time:
      - '85'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPA[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gj2a70mmd92hmhupv135qi3quv8rzgdx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - dC31Fwqi21EOD7DcCZxdHA:4Qm1QXKxIk32u0xyhP9N2Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/a0qsofzuwvp7h3nkemnlcqsm6zy5a1rw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:6cDowhQMuC4gtTE03BXlEA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:6cDowhQMuC4gtTE03BXlEA:wA1f0EvQLYbzUQwz
      X-Gdc-Request-Time:
      - '54'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADI[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/fkd7u9m6ie6j32swjxj3a2b1k8ji188i
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:1qWoLjj9_j1RqlsEixEo5Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/c1eyq9c9stub5i4oe940awvej7sxqw8g
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":UF0TYHa-j4yLI4zEcaJmtw:jc14qvnn7yhIE_vTPE5-8w"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":UF0TYHa-j4yLI4zEcaJmtw:jc14qvnn7yhIE_vTPE5-8w:qz9ldFsxyYr4jwwU"
      X-Gdc-Request-Time:
      - '54'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADING"},"li[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/p94x8t8ipoeq672wo2mvvykd4knb8uym
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":UF0TYHa-j4yLI4zEcaJmtw:hAAs-hXTOmiUMzul6o4gLw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Test MASTER project
        for 1a2498b4-00d8-445b-bf31-b3aebcd0a1f1"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"PRODUCTION","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:75wEr7HDBoMPsEGaKq1KlQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '354'
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:75wEr7HDBoMPsEGaKq1KlQ:BTtnn5vOqqG4BFT8"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/q1nfnbbtt2c8rdlohi0h07zeuype04p9"}'
  recorded_at: Wed, 15 Jan 2020 06:19:09 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/q1nfnbbtt2c8rdlohi0h07zeuype04p9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:sDEGZoU3dX8NBgmFLn3WzA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '55'
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:sDEGZoU3dX8NBgmFLn3WzA:kEKhLMiVERsHCJH9"
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"LOADING"},"links":{"ldm_thumbnail":"/gdc/projects/q1nfnbbtt2c8rdlohi0h07zeuype04p9/ldm?thumbnail=1","self":"/gdc/projects/q1nfnbbtt2c8rdlohi0h07zeuype04p9","clearCaches":"/gdc/projects/q1nfnbbtt2c8rdlohi0h07zeuype04p9/clearCaches","invitations":"/gdc/projects/q1nfnbbtt2c8rdlohi0h07zeuype04p9/invitations","users":"/gdc/projects/q1nfnbbtt2c8rdlohi0h07zeuype04p9/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/q1nfnbbtt2c8rdlohi0h07zeuype04p9/checkXaeCompatibility","uploads":"/gdc/projects/q1nfnbbtt2c8rdlohi0h07zeuype04p9/uploads/","ldm":"/gdc/projects/q1nfnbbtt2c8rdlohi0h07zeuype04p9/ldm","metadata":"/gdc/md/q1nfnbbtt2c8rdlohi0h07zeuype04p9","publicartifacts":"/gdc/projects/q1nfnbbtt2c8rdlohi0h07zeuype04p9/publicartifacts","roles":"/gdc/projects/q1nfnbbtt2c8rdlohi0h07zeuype04p9/roles","userRoles":"/gdc/projects/q1nfnbbtt2c8rdlohi0h07zeuype04p9/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/q1nfnbbtt2c8rdlohi0h07zeuype04p9/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/q1nfnbbtt2c8rdlohi0h07zeuype04p9/dataload","connectors":"/gdc/projects/q1nfnbbtt2c8rdlohi0h07zeuype04p9/connectors","execute":"/gdc/projects/q1nfnbbtt2c8rdlohi0h07zeuype04p9/execute","config":"/gdc/projects/q1nfnbbtt2c8rdlohi0h07zeuype04p9/config","projectFeatureFlags":"/gdc/projects/q1nfnbbtt2c8rdlohi0h07zeuype04p9/projectFeatureFlags","schedules":"/gdc/projects/q1nfnbbtt2c8rdlohi0h07zeuype04p9/schedules","templates":"/gdc/md/q1nfnbbtt2c8rdlohi0h07zeuype04p9/templates"},"meta":{"created":"2020-01-15
        07:19:09","summary":"No summary","updated":"2020-01-15 07:19:10","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Test
        MASTER project for 1a2498b4-00d8-445b-bf31-b3aebcd0a1f1","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 15 Jan 2020 06:19:10 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments
    body:
      encoding: UTF-8
      string: '{"segment":{"id":"segment-1a2498b4-00d8-445b-bf31-b3aebcd0a1f1","masterProject":"/gdc/projects/q1nfnbbtt2c8rdlohi0h07zeuype04p9"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:p22wvPlfk3HM8gxpeVGstg"
      Stats-On:
      - ''
[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ml1m31wt71897lsv4co06he15dvuv6q0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:vCnJaLbVTvVAX79dLmj_9A"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-H[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:5Bmr3RvK8NhJVUttjkbUvg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '15'
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:5Bmr3RvK8NhJVUttjkbUvg:p6UhPVPWP9KY6JrB"
    body:
      encoding: ASCII-8BIT
      string: '{"dataProduct":{"id":"default","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default","domain":"/gdc/domains/staging2-lcm-prod","segments":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients"}}}'
  recorded_at: Wed, 15 Jan 2020 06:19:29 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients
    body:
      encoding: UTF-8
      string: '{"client":{"id":"tenant_1","segment":"/gdc/domains/staging2-lcm-prod/segments/segment-1a2498b4-00d8-445b-bf31-b3aebcd0a1f1","project":"/gdc/projects/ml1m31wt71897lsv4co06he15dvuv6q0"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:R2-GASWZHExJXqQQ4djhYw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_1"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '23'
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:R2-GASWZHExJXqQQ4djhYw:jRjOzTKdn2ruISSr"
    body:
      encoding: ASCII-8BIT
      string: '{"client":{"id":"tenant_1","segment":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-1a2498b4-00d8-445b-bf31-b3aebcd0a1f1","project":"/gdc/projects/ml1m31wt71897lsv4co06he15dvuv6q0","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_1"}}}'
  recorded_at: Wed, 15 Jan 2020 06:19:30 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:QqD5wB_QkZizwgxQDGjGQw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts/default/clients"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '20'
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:QqD5wB_QkZizwgxQDGjGQw:5XWZVwxXHg6vpTAS"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 15 Jan 2020 06:19:36 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-1a2498b4-00d8-445b-bf31-b3aebcd0a1f1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:1TThss9daMhHixJbZnqOxA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '20'
      X-Gdc-Request:
      - ":7boLHi_QV-BbdmDZPapfZA:1TThss9daMhHixJbZnqOxA:qCl2EzyILAgZXdWe"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 15 Jan 2020 06:19:39 GMT
recorded_with: VCR 5.0.0
