---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:d2LCD1In0ontAqlmlK6NUg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:d2LCD1In0ontAqlmlK6NUg:d2zqRhBN7V6x8HRm
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/ldm?thumbnail=1","self":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx","clearCaches":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/clearCaches","invitations":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/invitations","users":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/uploads/","ldm":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/ldm","metadata":"/gdc/md/mwapu8y5brqcs40bw5g5v0sitio47twx","publicartifacts":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/publicartifacts","roles":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/roles","userRoles":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/dataload","connectors":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/connectors","execute":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/execute","config":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/config","projectFeatureFlags":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/projectFeatureFlags","schedules":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/schedules","templates":"/gdc/md/mwapu8y5brqcs40bw5g5v0sitio47twx/templates","eventstores":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        09:10:28","summary":"No summary","updated":"2018-06-05 09:10:28","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Test
        MASTER project for e9a37a7c-4e6d-43ea-af93-bb207b117134","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:10:29 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:ScuurHBGQeqvuTf74ZBGEw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:ScuurHBGQeqvuTf74ZBGEw:HvjafIwwDMWNLCMV
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/ldm?thumbnail=1","self":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx","clearCaches":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/clearCaches","invitations":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/invitations","users":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/mwapu8y5brqcs40bw[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/v5meq8luwksddwv4jraz5m6nj2hfpzsb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:SuWGEYU3bqU2SOw8CJ3g3g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-e9a37a7c-4e6d-43ea-af93-bb207b117134
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:yoSxjH2s_sDNd9dM4h2bWQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:yoSxjH2s_sDNd9dM4h2bWQ:6UjlTa1uu9KL0typ
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"segment":{"id":"segment-e9a37a7c-4e6d-43ea-af93-bb207b117134","masterProject":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx","links":{"self":"/gdc/domains/staging2-lcm-prod/segments/segment-e9a37a7c-4e6d-43ea-af93-bb207b117134","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/clients?segment=segment-e9a37a7c-4e6d-43ea-af93-bb207b117134&limit=1000"}}}'
  recorded_at: Tue, 05 Jun 2018 07:10:45 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients?segment=segment-e9a37a7c-4e6d-43ea-af93-bb207b117134
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:joVqk6VYLdfh04ebSxTSjA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:joVqk6VYLdfh04ebSxTSjA:hOVfmKUEYoyboisf
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"clients":{"items":[{"client":{"id":"tenant_1","segment":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-e9a37a7c-4e6d-43ea-af93-bb207b117134","project":"/gdc/projects/v5meq8luwksddwv4jraz5m6nj2hfpzsb","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_1"}}}],"paging":{"next":null}}}'
  recorded_at: Tue, 05 Jun 2018 07:10:49 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-e9a37a7c-4e6d-43ea-af93-bb207b117134
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:OAnDvG266vsGGt772Kluzg
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '20'
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:OAnDvG266vsGGt772Kluzg:pP3KMcTaWwWyOUXF
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 07:10:53 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/k8ypahcdwifb94y8lg451j666l7okrlg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:lEAJXmss4LZHoST-u0FFAQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:lEAJXmss4LZHoST-u0FFAQ:HwCMz4cw4fye3WlH
      X-Gdc-Request-Time:
      - '55'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPA[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/pny5vf5u9aeka8s7bpbopqv73tayyz4x
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:skQwyvcfYkB2YhOEpycDPA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/cihj3hzcgo8epn5jo1yhkwxusm6sj6zi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - dC31Fwqi21EOD7DcCZxdHA:b7Pz6fPNsDlPpvX3rD5gsw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - dC31Fwqi21EOD7DcCZxdHA:b7Pz6fPNsDlPpvX3rD5gsw:3hl5Ivpuj2JGe5qG
      X-Gdc-Request-Time:
      - '85'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPA[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gj2a70mmd92hmhupv135qi3quv8rzgdx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - dC31Fwqi21EOD7DcCZxdHA:4Qm1QXKxIk32u0xyhP9N2Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Test MASTER project
        for 2612c7ca-a45c-4f53-bf1f-4f93e6c63f04"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"PRODUCTION","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:Ccsc6ris8DKmpVjnJWu8Tg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:Ccsc6ris8DKmpVjnJWu8Tg:8FnZVUNNIsVkntlH
      X-Gdc-Request-Time:
      - '430'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/a0qsofzuwvp7h3nkemnlcqsm6zy5a1rw"}'
  recorded_at: Wed, 10 Oct 2018 11:45:19 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/a0qsofzuwvp7h3nkemnlcqsm6zy5a1rw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:6cDowhQMuC4gtTE03BXlEA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments
    body:
      encoding: UTF-8
      string: '{"segment":{"id":"segment-2612c7ca-a45c-4f53-bf1f-4f93e6c63f04","masterProject":"/gdc/projects/a0qsofzuwvp7h3nkemnlcqsm6zy5a1rw"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:402F2uQZ1paQotoD8Ej9yA
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments/segment-2612c7ca-a45c-4f53-bf1f-4f93e6c63f04"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:402F2uQZ1paQotoD8Ej9yA:GelChCSN4D9Ywqhe
      X-Gdc-Request-Time:
      - '69'
    body:
      encoding: ASCII-8BIT
      string: '{"segment":{"id":"segment-2612c7ca-a45c-4f53-bf1f-4f93e6c63f04","masterProject":"/gdc/projects/a0qsofzuwvp7h3nkemnlcqsm6zy5a1rw","links":{"self":"/gdc/domains/staging2-lcm-prod/segments/segment-2612c7ca-a45c-4f53-bf1f-4f93e6c63f04","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/clients?segment=segment-2612c7ca-a45c-4f53-bf1f-4f93e6c63f04&limit=1000"}}}'
  recorded_at: Wed, 10 Oct 2018 11:45:27 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/fkd7u9m6ie6j32swjxj3a2b1k8ji188i
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:1qWoLjj9_j1RqlsEixEo5Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:zczrKmmqME24QjC87D96UQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:zczrKmmqME24QjC87D96UQ:Y5ljw7DDcbCv048f
      X-Gdc-Request-Time:
      - '14'
    body:
      encoding: ASCII-8BIT
      string: '{"dataProduct":{"id":"default","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default","domain":"/gdc/domains/staging2-lcm-prod","segments":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients"}}}'
  recorded_at: Wed, 10 Oct 2018 11:45:37 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients
    body:
      encoding: UTF-8
      string: '{"client":{"id":"tenant_1","segment":"/gdc/domains/staging2-lcm-prod/segments/segment-2612c7ca-a45c-4f53-bf1f-4f93e6c63f04","project":"/gdc/projects/fkd7u9m6ie6j32swjxj3a2b1k8ji188i"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:6_Rnv_HE0XyKipzYtZFrUQ
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_1"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:6_Rnv_HE0XyKipzYtZFrUQ:H4Qb94PBpgJ0TcE9
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"client":{"id":"tenant_1","segment":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-2612c7ca-a45c-4f53-bf1f-4f93e6c63f04","project":"/gdc/projects/fkd7u9m6ie6j32swjxj3a2b1k8ji188i","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_1"}}}'
  recorded_at: Wed, 10 Oct 2018 11:45:37 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:YPt7d3Pd7RcfnK7W6h-k-w
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts/default/clients"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '21'
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:YPt7d3Pd7RcfnK7W6h-k-w:njgdZXBwby0LMiAn
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 11:45:42 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-2612c7ca-a45c-4f53-bf1f-4f93e6c63f04
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:QyEMOlIyr6kJZgjR3RE2oQ
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '19'
      X-Gdc-Request:
      - YQ_yAmOfFph6tCuufyuuWg:QyEMOlIyr6kJZgjR3RE2oQ:YDwkdhLHPxj3gRnI
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 11:45:44 GMT
recorded_with: VCR 4.0.0
