---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:d2LCD1In0ontAqlmlK6NUg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:d2LCD1In0ontAqlmlK6NUg:d2zqRhBN7V6x8HRm
      X-Gdc-Request-Time:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/ldm?thumbnail=1","self":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx","clearCaches":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/clearCaches","invitations":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/invitations","users":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/uploads/","ldm":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/ldm","metadata":"/gdc/md/mwapu8y5brqcs40bw5g5v0sitio47twx","publicartifacts":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/publicartifacts","roles":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/roles","userRoles":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/dataload","connectors":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/connectors","execute":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/execute","config":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/config","projectFeatureFlags":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/projectFeatureFlags","schedules":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/schedules","templates":"/gdc/md/mwapu8y5brqcs40bw5g5v0sitio47twx/templates","eventstores":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        09:10:28","summary":"No summary","updated":"2018-06-05 09:10:28","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Test
        MASTER project for e9a37a7c-4e6d-43ea-af93-bb207b117134","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 07:10:29 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:ScuurHBGQeqvuTf74ZBGEw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:ScuurHBGQeqvuTf74ZBGEw:HvjafIwwDMWNLCMV
      X-Gdc-Request-Time:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/ldm?thumbnail=1","self":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx","clearCaches":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/clearCaches","invitations":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/invitations","users":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/mwapu8y5brqcs40bw[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/v5meq8luwksddwv4jraz5m6nj2hfpzsb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:SuWGEYU3bqU2SOw8CJ3g3g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-e9a37a7c-4e6d-43ea-af93-bb207b117134
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:yoSxjH2s_sDNd9dM4h2bWQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:yoSxjH2s_sDNd9dM4h2bWQ:6UjlTa1uu9KL0typ
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"segment":{"id":"segment-e9a37a7c-4e6d-43ea-af93-bb207b117134","masterProject":"/gdc/projects/mwapu8y5brqcs40bw5g5v0sitio47twx","links":{"self":"/gdc/domains/staging2-lcm-prod/segments/segment-e9a37a7c-4e6d-43ea-af93-bb207b117134","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/clients?segment=segment-e9a37a7c-4e6d-43ea-af93-bb207b117134&limit=1000"}}}'
  recorded_at: Tue, 05 Jun 2018 07:10:45 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients?segment=segment-e9a37a7c-4e6d-43ea-af93-bb207b117134
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:joVqk6VYLdfh04ebSxTSjA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:joVqk6VYLdfh04ebSxTSjA:hOVfmKUEYoyboisf
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"clients":{"items":[{"client":{"id":"tenant_1","segment":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-e9a37a7c-4e6d-43ea-af93-bb207b117134","project":"/gdc/projects/v5meq8luwksddwv4jraz5m6nj2hfpzsb","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_1"}}}],"paging":{"next":null}}}'
  recorded_at: Tue, 05 Jun 2018 07:10:49 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-e9a37a7c-4e6d-43ea-af93-bb207b117134
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:OAnDvG266vsGGt772Kluzg
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '20'
      X-Gdc-Request:
      - OVUX6LOWoBkEPJhu50Rouw:OAnDvG266vsGGt772Kluzg:pP3KMcTaWwWyOUXF
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 07:10:53 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"Test MASTER project
        for 95662fc0-83f0-42b8-aee5-07d633bd5073"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"PRODUCTION","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:caC9SAgdZaprj_a8TiHSmQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:caC9SAgdZaprj_a8TiHSmQ:EGFVzMRNIV55Of6C
      X-Gdc-Request-Time:
      - '441'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/k8ypahcdwifb94y8lg451j666l7okrlg"}'
  recorded_at: Tue, 05 Jun 2018 07:14:36 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/k8ypahcdwifb94y8lg451j666l7okrlg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:lEAJXmss4LZHoST-u0FFAQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments
    body:
      encoding: UTF-8
      string: '{"segment":{"id":"segment-95662fc0-83f0-42b8-aee5-07d633bd5073","masterProject":"/gdc/projects/k8ypahcdwifb94y8lg451j666l7okrlg"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:5F-NMatkA5OJYleqSIdeiQ
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments/segment-95662fc0-83f0-42b8-aee5-07d633bd5073"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:5F-NMatkA5OJYleqSIdeiQ:PejU5lq1qIEjM0XE
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"segment":{"id":"segment-95662fc0-83f0-42b8-aee5-07d633bd5073","masterProject":"/gdc/projects/k8ypahcdwifb94y8lg451j666l7okrlg","links":{"self":"/gdc/domains/staging2-lcm-prod/segments/segment-95662fc0-83f0-42b8-aee5-07d633bd5073","domain":"/gdc/domains/staging2-lcm-prod","dataProduct":"/gdc/domains/staging2-lcm-prod/dataproducts/default","clients":"/gdc/domains/staging2-lcm-prod/clients?segment=segment-95662fc0-83f0-42b8-aee5-07d633bd5073&limit=1000"}}}'
  recorded_at: Tue, 05 Jun 2018 07:14:45 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/pny5vf5u9aeka8s7bpbopqv73tayyz4x
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:skQwyvcfYkB2YhOEpycDPA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:G9QFWvKmA_Og2fethavFew
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:G9QFWvKmA_Og2fethavFew:XtCffsZMc2vYNgmB
      X-Gdc-Request-Time:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"dataProduct":{"id":"default","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default","domain":"/gdc/domains/staging2-lcm-prod","segments":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments","clients":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients"}}}'
  recorded_at: Tue, 05 Jun 2018 07:14:54 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients
    body:
      encoding: UTF-8
      string: '{"client":{"id":"tenant_1","segment":"/gdc/domains/staging2-lcm-prod/segments/segment-95662fc0-83f0-42b8-aee5-07d633bd5073","project":"/gdc/projects/pny5vf5u9aeka8s7bpbopqv73tayyz4x"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:45Af9MOFyzNbrZjUCDXhcw
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_1"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:45Af9MOFyzNbrZjUCDXhcw:UxSSRQG8BpdlVTSJ
      X-Gdc-Request-Time:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '{"client":{"id":"tenant_1","segment":"/gdc/domains/staging2-lcm-prod/dataproducts/default/segments/segment-95662fc0-83f0-42b8-aee5-07d633bd5073","project":"/gdc/projects/pny5vf5u9aeka8s7bpbopqv73tayyz4x","links":{"self":"/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_1"}}}'
  recorded_at: Tue, 05 Jun 2018 07:14:55 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/dataproducts/default/clients/tenant_1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:M0jh2yEVOVUB8OVmHTK3qA
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/dataproducts/default/clients"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '23'
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:M0jh2yEVOVUB8OVmHTK3qA:tZtXSxKjmlFM17oU
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 07:14:59 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/domains/staging2-lcm-prod/segments/segment-95662fc0-83f0-42b8-aee5-07d633bd5073
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:FxQlJZ0BEeuU0-f2hCmVvw
  response:
    status:
      code: 204
      message: No Content
    headers:
      Location:
      - "/gdc/domains/staging2-lcm-prod/segments"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '36'
      X-Gdc-Request:
      - NOldzG2n9Dvzi0WK62hWTw:FxQlJZ0BEeuU0-f2hCmVvw:WBQdh6ydfiyDvDuB
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 07:15:01 GMT
recorded_with: VCR 4.0.0
