---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fv57rgza7vwmw2owv300fdapp78i49ld
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:pxybcauTYYL3X5QKEN0Ekw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '10'
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:pxybcauTYYL3X5QKEN0Ekw:5Uh1ZPpYZ3uHreIv"
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"links":[{"title":"data","summary":"Resources for data set
        manipulation.","category":"data","link":"/gdc/md/fv57rgza7vwmw2owv300fdapp78i49ld/data"},{"category":"dml","summary":"Navigation
        resource for physical data manipulation.","title":"dml","link":"/gdc/md/fv57rgza7vwmw2owv300fdapp78i49ld/dml"},{"category":"drillcrosspaths","title":"drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","link":"/gdc/md/fv57rgza7vwmw2owv300fdapp78i49ld/drillcrosspaths"},{"link":"/gdc/md/fv57rgza7vwmw2owv300fdapp78i49ld/etl","title":"etl","summary":"Resources[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fv57rgza7vwmw2owv300fdapp78i49ld/obj
    body:
      encoding: UTF-8
      string: '{"scheduledMail":{"meta":{"title":"Scheduled report example","summary":"Daily
        at 12:00pm PT","tags":"","deprecated":0},"content":{"when":{"recurrency":"0:0:0:1*12:0:0","startDate":"2012-06-05","timeZone":"America/Los_Angeles"},"to":[],"bcc":[],"subject":"Scheduled
        Report","body":"Hey, I''m sending you new Reports and Dashboards!","attachments":[]}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:4WCZsqn34qxf0VJys4UEzw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '54'
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:4WCZsqn34qxf0VJys4UEzw:llQEFfXKBZ9Iybe8"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/fv57rgza7vwmw2owv300fdapp78i49ld/obj/17"}'
  recorded_at: Tue, 11 Oct 2022 07:16:57 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fv57rgza7vwmw2owv300fdapp78i49ld/obj/17
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:Hpa4IW9l--xiGutBHF4DKg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '50'
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:Hpa4IW9l--xiGutBHF4DKg:p9FL8DQuDUXzKhJ4"
    body:
      encoding: ASCII-8BIT
      string: '{"scheduledMail":{"meta":{"identifier":"aae6iWiqUoiH","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","tags":"","summary":"Daily
        at 12:00pm PT","category":"scheduledMail","updated":"2022-10-11 09:16:56","isProduction":1,"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","created":"2022-10-11
        09:16:56","title":"Scheduled report example","deprecated":"0","uri":"/gdc/md/fv57rgza7vwmw2owv300fdapp78i49ld/obj/17"},"content":{"to":[],"attachments":[],"when":{"timeZone":"America/Los_Angeles","startDate":"2012-06-05","recurrency":"0:0:0:1*12:0:0"},"subject":"Scheduled
        Report","body":"Hey, I''m sending you new Reports and Dashboards!"}}}'
  recorded_at: Tue, 11 Oct 2022 07:17:00 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fv57rgza7vwmw2owv300fdapp78i49ld/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1,"excludeSchedules":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:kv-aFOSnLIrs0O4swpsX4w"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '28'
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:kv-aFOSnLIrs0O4swpsX4w:Ffj7wFq9ywtdhFhN"
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"token":"<TOKEN>","status":{"uri":"/gdc/md/fv57rgza7vwmw2owv300fdapp78i49ld/etltask/0e58e5a6a6e1b1bc16288f6a11c651650000006f"}}}'
  recorded_at: Tue, 11 Oct 2022 07:17:01 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fv57rgza7vwmw2owv300fdapp78i49ld/etltask/0e58e5a6a6e1b1bc16288f6a11c651650000006f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:kysljJ4a64eReP07nzkmvg"
      Process:
      - 'true'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '13'
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:kysljJ4a64eReP07nzkmvg:zIzFfJJhaZoFd74w"
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"status":"RUNNING","msg":""}}'
  recorded_at: Tue, 11 Oct 2022 07:17:02 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"project clone"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"PRODUCTION","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:PQfS6pzNVydQpdwatHF5GA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '185'
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:PQfS6pzNVydQpdwatHF5GA:CnFXsxxcdnW5kpl0"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/vusipeekkizetrczv29e2evpucm9h9hz"}'
  recorded_at: Tue, 11 Oct 2022 07:17:06 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/vusipeekkizetrczv29e2evpucm9h9hz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:9lcuTrrgVj7aQsk2L9SGEA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '38'
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:9lcuTrrgVj7aQsk2L9SGEA:nisJBcPofrjJcaRz"
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"driver":"Pg","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","environment":"PRODUCTION","state":"ENABLED","isPublic":"0","guidedNavigation":"1"},"meta":{"created":"2022-10-11
        09:17:06","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"project
        clone","summary":"No summary","updated":"2022-10-11 09:17:07"},"links":{"ldm":"/gdc/projects/vusipeekkizetrczv29e2evpucm9h9hz/ldm","userRoles":"/gdc/projects/vusipeekkizetrczv29e2evpucm9h9hz/users/5ad80b895edcc438e5a4418e222733fa/roles","schedules":"/gdc/projects/vusipeekkizetrczv29e2evpucm9h9hz/schedules","connectors":"/gdc/projects/vusipeekkizetrczv29e2evpucm9h9hz/connectors","projectFeatureFlags":"/gdc/projects/vusipeekkizetrczv29e2evpucm9h9hz/projectFeatureFlags","clearCaches":"/gdc/projects/vusipeekkizetrczv29e2evpucm9h9hz/clearCaches","execute":"/gdc/projects/vusipeekkizetrczv29e2evpucm9h9hz/execute","checkXaeCompatibility":"/gdc/projects/vusipeekkizetrczv29e2evpucm9h9hz/checkXaeCompatibility","invitations":"/gdc/projects/vusipeekkizetrczv29e2evpucm9h9hz/invitations","dataload":"/gdc/projects/vusipeekkizetrczv29e2evpucm9h9hz/dataload","self":"/gdc/projects/vusipeekkizetrczv29e2evpucm9h9hz","roles":"/gdc/projects/vusipeekkizetrczv29e2evpucm9h9hz/roles","users":"/gdc/projects/vusipeekkizetrczv29e2evpucm9h9hz/users?link=1&offset=0&limit=100","templates":"/gdc/md/vusipeekkizetrczv29e2evpucm9h9hz/templates","uploads":"/gdc/projects/vusipeekkizetrczv29e2evpucm9h9hz/uploads/","ldm_thumbnail":"/gdc/projects/vusipeekkizetrczv29e2evpucm9h9hz/ldm?thumbnail=1","userPermissions":"/gdc/projects/vusipeekkizetrczv29e2evpucm9h9hz/users/5ad80b895edcc438e5a4418e222733fa/permissions","metadata":"/gdc/md/vusipeekkizetrczv29e2evpucm9h9hz","config":"/gdc/projects/vusipeekkizetrczv29e2evpucm9h9hz/config"}}}'
  recorded_at: Tue, 11 Oct 2022 07:17:07 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/vusipeekkizetrczv29e2evpucm9h9hz/maintenance/import
    body:
      encoding: UTF-8
      string: '{"importProject":{"token":"<TOKEN>"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:XHTrZB13IRG3v5KhsuhY3w"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '60'
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:XHTrZB13IRG3v5KhsuhY3w:tS7YPHXZlwE1PhtE"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/vusipeekkizetrczv29e2evpucm9h9hz/etltask/7e1e42d3055f853bbf20b7a50ba2ef470000006f"}'
  recorded_at: Tue, 11 Oct 2022 07:17:11 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/vusipeekkizetrczv29e2evpucm9h9hz/etltask/7e1e42d3055f853bbf20b7a50ba2ef470000006f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:K7a1kogHyY-ombFjwdUWUQ"
      Process:
      - 'true'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '15'
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:K7a1kogHyY-ombFjwdUWUQ:Ufmnft9NK7vqdB7D"
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"status":"RUNNING","msg":""}}'
  recorded_at: Tue, 11 Oct 2022 07:17:13 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/fv57rgza7vwmw2owv300fdapp78i49ld/objects/query?category=scheduledMail&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:zuMtIGd8GLrcDwLUprKhjA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '52'
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:zuMtIGd8GLrcDwLUprKhjA:p3a9QToP6f7HumQD"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"items":[{"scheduledMail":{"meta":{"isProduction":1,"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","created":"2022-10-11
        09:16:56","category":"scheduledMail","updated":"2022-10-11 09:16:56","tags":"","identifier":"aae6iWiqUoiH","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","summary":"Daily
        at 12:00pm PT","deprecated":"0","uri":"/gdc/md/fv57rgza7vwmw2owv300fdapp78i49ld/obj/17","title":"Scheduled
        report example"},"content":{"when":{"startDate":"2012-06-05","timeZone":"America/Los_Angeles","recurrency":"0:0:0:1*12:0:0"},"attachments":[],"to":[],"body":"Hey,
        I''m sending you new Reports and Dashboards!","subject":"Scheduled Report"}}}],"paging":{"offset":0,"count":1}}}'
  recorded_at: Tue, 11 Oct 2022 07:17:18 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/vusipeekkizetrczv29e2evpucm9h9hz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:Ug7QcHvEtkHH-WyFJFfOAw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/vusipeekkizetrczv29e2evpucm9h9hz/objects/query?category=scheduledMail&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:JHq8KZ7vYAh4RMyYbfoYOQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '17'
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:JHq8KZ7vYAh4RMyYbfoYOQ:iMOYynqrSqYBRanr"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"items":[],"paging":{"count":0,"offset":0}}}'
  recorded_at: Tue, 11 Oct 2022 07:17:22 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/vusipeekkizetrczv29e2evpucm9h9hz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:WVnrG2qnmi-EDwEthsX3xg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Request-Time:
      - '29'
      X-Gdc-Request:
      - ":ucC7Np63-g9piDNpbyX-RA:WVnrG2qnmi-EDwEthsX3xg:RE4frwrfzzL2Ft9O"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Oct 2022 07:17:23 GMT
recorded_with: VCR 5.0.0
