---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/px0sugvog1moq0y2pzps4o0cczy6civf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:fFxPfpcadTzKTVUpHRg0dA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '24'
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:fFxPfpcadTzKTVUpHRg0dA:A7JmND9t4Y4DCm6c"
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Metadata service for project ''px0sugvog1moq0y2pzps4o0cczy6civf''","category":"project","instance":"px0sugvog1moq0y2pzps4o0cczy6civf","links":[{"link":"/gdc/md/px0sugvog1moq0y2pzps4o0cczy6civf/data","summary":"Resources
        for data set manipulation.","category":"data","title":"data"},{"link":"/gdc/md/px0sugvog1moq0y2pzps4o0cczy6civf/dml","summary":"Navigation
        resource for physical data manipulation.","category":"dml","title":"dml"},{"link":"/gdc/md/px0sugvog1moq0y2pzps4o0cczy6civf/drillcrosspaths","summary":"Returns
        a list of attributes available for drilling across.","category":"drillcrosspaths","title":"drillcrosspaths"},{"link":"/gdc/md/px0sugvog1moq0y2pzps4o0cczy6civf/etl","summary":"Resources
        for data ETL.","category":"etl","title":"etl"}[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/px0sugvog1moq0y2pzps4o0cczy6civf/obj
    body:
      encoding: UTF-8
      string: '{"scheduledMail":{"meta":{"title":"Scheduled report example","summary":"Daily
        at 12:00pm PT","tags":"","deprecated":0},"content":{"when":{"recurrency":"0:0:0:1*12:0:0","startDate":"2012-06-05","timeZone":"America/Los_Angeles"},"to":[],"bcc":[],"subject":"Scheduled
        Report","body":"Hey, I''m sending you new Reports and Dashboards!","attachments":[]}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:HnYWw6xkBjSR380RmPObVw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '8225'
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:HnYWw6xkBjSR380RmPObVw:wE4qVAX6v2uCXy4Q"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/px0sugvog1moq0y2pzps4o0cczy6civf/obj/17"}'
  recorded_at: Thu, 07 May 2020 11:54:47 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/px0sugvog1moq0y2pzps4o0cczy6civf/obj/17
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:M0xrrtf-oF7EDo-Y37jVMQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '34'
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:M0xrrtf-oF7EDo-Y37jVMQ:jizZLL2s5EJE8spn"
    body:
      encoding: ASCII-8BIT
      string: '{"scheduledMail":{"content":{"when":{"recurrency":"0:0:0:1*12:0:0","timeZone":"America/Los_Angeles","startDate":"2012-06-05"},"body":"Hey,
        I''m sending you new Reports and Dashboards!","attachments":[],"to":[],"subject":"Scheduled
        Report"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/px0sugvog1moq0y2pzps4o0cczy6civf/obj/17","tags":"","created":"2020-05-07
        13:54:39","identifier":"aawsphZ1ek1p","deprecated":"0","summary":"Daily at
        12:00pm PT","isProduction":1,"title":"Scheduled report example","category":"scheduledMail","updated":"2020-05-07
        13:54:39","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 07 May 2020 11:54:48 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/px0sugvog1moq0y2pzps4o0cczy6civf/maintenance/export
    body:
      encoding: UTF-8
      string: '{"exportProject":{"exportUsers":0,"exportData":1,"excludeSchedules":1}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:ACN3yKdEmOLMEJUAeIrTTg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '45'
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:ACN3yKdEmOLMEJUAeIrTTg:r5o3iZg7YSNDb7WP"
    body:
      encoding: ASCII-8BIT
      string: '{"exportArtifact":{"status":{"uri":"/gdc/md/px0sugvog1moq0y2pzps4o0cczy6civf/etltask/ebea986b1132bf3ea67febc31845708d00000089"},"token":"<TOKEN>"}}'
  recorded_at: Thu, 07 May 2020 11:54:49 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/px0sugvog1moq0y2pzps4o0cczy6civf/etltask/ebea986b1132bf3ea67febc31845708d00000089
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:LcMG5dQbpwxHRvB9fv33ZA"
      Process:
      - 'true'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '32'
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:LcMG5dQbpwxHRvB9fv33ZA:q3nrvSRoCpRgEwlV"
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Thu, 07 May 2020 11:54:50 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"project clone"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"PRODUCTION","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:Nii7F62f-e1YbyZ0Ej1V5w"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '579'
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:Nii7F62f-e1YbyZ0Ej1V5w:AmuZETbYcQvzUSOP"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/v5nvvram7xfswngxkykqsfaor9m52spi"}'
  recorded_at: Thu, 07 May 2020 11:54:56 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/v5nvvram7xfswngxkykqsfaor9m52spi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:pW3lQBhSRzS9xSdAGOf2LQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '58'
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:pW3lQBhSRzS9xSdAGOf2LQ:eW4jRaPwqfqgYwkW"
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/v5nvvram7xfswngxkykqsfaor9m52spi/ldm?thumbnail=1","self":"/gdc/projects/v5nvvram7xfswngxkykqsfaor9m52spi","clearCaches":"/gdc/projects/v5nvvram7xfswngxkykqsfaor9m52spi/clearCaches","invitations":"/gdc/projects/v5nvvram7xfswngxkykqsfaor9m52spi/invitations","users":"/gdc/projects/v5nvvram7xfswngxkykqsfaor9m52spi/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/v5nvvram7xfswngxkykqsfaor9m52spi/checkXaeCompatibility","uploads":"/gdc/projects/v5nvvram7xfswngxkykqsfaor9m52spi/uploads/","ldm":"/gdc/projects/v5nvvram7xfswngxkykqsfaor9m52spi/ldm","metadata":"/gdc/md/v5nvvram7xfswngxkykqsfaor9m52spi","publicartifacts":"/gdc/projects/v5nvvram7xfswngxkykqsfaor9m52spi/publicartifacts","roles":"/gdc/projects/v5nvvram7xfswngxkykqsfaor9m52spi/roles","userRoles":"/gdc/projects/v5nvvram7xfswngxkykqsfaor9m52spi/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/v5nvvram7xfswngxkykqsfaor9m52spi/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/v5nvvram7xfswngxkykqsfaor9m52spi/dataload","connectors":"/gdc/projects/v5nvvram7xfswngxkykqsfaor9m52spi/connectors","execute":"/gdc/projects/v5nvvram7xfswngxkykqsfaor9m52spi/execute","config":"/gdc/projects/v5nvvram7xfswngxkykqsfaor9m52spi/config","projectFeatureFlags":"/gdc/projects/v5nvvram7xfswngxkykqsfaor9m52spi/projectFeatureFlags","schedules":"/gdc/projects/v5nvvram7xfswngxkykqsfaor9m52spi/schedules","templates":"/gdc/md/v5nvvram7xfswngxkykqsfaor9m52spi/templates"},"meta":{"created":"2020-05-07
        13:54:56","summary":"No summary","updated":"2020-05-07 13:54:57","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"project
        clone","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 07 May 2020 11:54:57 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/v5nvvram7xfswngxkykqsfaor9m52spi/maintenance/import
    body:
      encoding: UTF-8
      string: '{"importProject":{"token":"<TOKEN>"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:fVueFygnwyHa7pRaAD0hGQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '83'
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:fVueFygnwyHa7pRaAD0hGQ:RPx4EIv0fkBx8f6t"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/md/v5nvvram7xfswngxkykqsfaor9m52spi/etltask/6546109adab7abef9d1931ad96cd0ab100000089"}'
  recorded_at: Thu, 07 May 2020 11:55:05 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/v5nvvram7xfswngxkykqsfaor9m52spi/etltask/6546109adab7abef9d1931ad96cd0ab100000089
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:rsWbPefVrg_TRcsKTYP3qg"
      Process:
      - 'true'
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '33'
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:rsWbPefVrg_TRcsKTYP3qg:fLIvEC85FLLVAlPK"
    body:
      encoding: ASCII-8BIT
      string: '{"taskState":{"msg":"","status":"RUNNING"}}'
  recorded_at: Thu, 07 May 2020 11:55:07 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/px0sugvog1moq0y2pzps4o0cczy6civf/objects/query?category=scheduledMail&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:12tqWIVROtV0EqpnfV5FJw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '35'
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:12tqWIVROtV0EqpnfV5FJw:7XxRAEEvzLgbO1sI"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":1,"offset":0},"items":[{"scheduledMail":{"content":{"when":{"recurrency":"0:0:0:1*12:0:0","timeZone":"America/Los_Angeles","startDate":"2012-06-05"},"body":"Hey,
        I''m sending you new Reports and Dashboards!","attachments":[],"to":[],"subject":"Scheduled
        Report"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/px0sugvog1moq0y2pzps4o0cczy6civf/obj/17","tags":"","created":"2020-05-07
        13:54:39","identifier":"aawsphZ1ek1p","deprecated":"0","summary":"Daily at
        12:00pm PT","isProduction":1,"title":"Scheduled report example","category":"scheduledMail","updated":"2020-05-07
        13:54:39","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Thu, 07 May 2020 11:55:11 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/v5nvvram7xfswngxkykqsfaor9m52spi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:jece92nJ7b5hsMwyj1HyKg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/v5nvvram7xfswngxkykqsfaor9m52spi/objects/query?category=scheduledMail&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:54ZaJ1yd5LOrqMtTlCNzoQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '28'
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:54ZaJ1yd5LOrqMtTlCNzoQ:WuUjKDt4UgE1QOQJ"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Thu, 07 May 2020 11:55:13 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/v5nvvram7xfswngxkykqsfaor9m52spi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:SrW8qarrrcSGS1qNkLmJ9Q"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '66'
      X-Gdc-Request:
      - ":QZkBbPddTOwMJONR29UzHw:SrW8qarrrcSGS1qNkLmJ9Q:MsO3U6kdacBfT2ag"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 07 May 2020 11:55:14 GMT
recorded_with: VCR 5.1.0
