---
http_interactions:
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/60049a20386d7541e4b35fe9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:QEKA6g8DyZ4nbFy1e9xifA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources"
      X-Gdc-Request-Time:
      - '29'
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:QEKA6g8DyZ4nbFy1e9xifA:DqekVZTJHrjOvvRJ"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 17 Jan 2021 20:12:17 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources
    body:
      encoding: UTF-8
      string: '{"dataSource":{"name":"S3DS","connectionInfo":{"s3":{"bucket":"s3://test","accessKey":"testkey","secretKey":"abc123","serverSideEncryption":true}},"alias":"I-nTBBSbSCQEnEcp1LWaQA"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:-sPmdowFDgMcCOZ_0hNSfw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources/6004f70c3578a141e440aaef"
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:-sPmdowFDgMcCOZ_0hNSfw:Co35OYLVN9bCgqtK"
    body:
      encoding: ASCII-8BIT
      string: '{"dataSource":{"id":"6004f70c3578a141e440aaef","owner":"5ad80b895edcc438e5a4418e222733fa","name":"S3DS","alias":"I-nTBBSbSCQEnEcp1LWaQA","lastModified":"2021-01-18T02:48:44.238Z","connectionInfo":{"s3":{"bucket":"s3://test","accessKey":"testkey","secretKey":"","serverSideEncryption":true}},"links":{"parent":"/gdc/dataload/dataSources","self":"/gdc/dataload/dataSources/6004f70c3578a141e440aaef","dataMapping":"/gdc/dataload/dataSources/6004f70c3578a141e440aaef/dataMapping","validateConnection":"/gdc/dataload/dataSources/6004f70c3578a141e440aaef/validateConnection"}}}'
  recorded_at: Mon, 18 Jan 2021 02:48:44 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/6004f70c3578a141e440aaef
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:agk9C2aLF0vOVDBQu4g_IA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources"
      X-Gdc-Request-Time:
      - '26'
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:agk9C2aLF0vOVDBQu4g_IA:fawARZc9Oe3gQZ8L"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 18 Jan 2021 02:48:45 GMT
recorded_with: VCR 5.0.0
