---
http_interactions:
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/60049a253578a141e440aac8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:uEd0gNYE81HFpG0Pc2btow"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources"
      X-Gdc-Request-Time:
      - '35'
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:uEd0gNYE81HFpG0Pc2btow:sHLxNuuyXsoWArRJ"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 17 Jan 2021 20:12:22 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/60049a253578a141e440aac8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:b59Kj33iZnxmMmH1p02_tA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '6'
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:b59Kj33iZnxmMmH1p02_tA:z6oPlqM0dpwabond"
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"errorClass":"com.gooddata.commons.http.exception.NotFoundException","trace":"","message":"The
        server has not found anything matching the Request-URI. No indication is given
        of whether the condition is temporary or permanent.","component":"cloud-resource-restapi","errorId":"9200dde8-4430-44ef-9330-054d630f8552","errorCode":"gdc.http.client.status.404","parameters":[]}}'
  recorded_at: Sun, 17 Jan 2021 20:12:23 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources
    body:
      encoding: UTF-8
      string: '{"dataSource":{"name":"S3DS","connectionInfo":{"s3":{"bucket":"s3://test","accessKey":"testkey","secretKey":"abc123","serverSideEncryption":true}},"alias":"m1dSPNzWL-HUfj7Xbdd-3A"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:EcA0mJj9id-K5t6f5tasLg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources/6004f7113578a141e440aaf0"
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '20'
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:EcA0mJj9id-K5t6f5tasLg:TUUWTXdiOpukJBtX"
    body:
      encoding: ASCII-8BIT
      string: '{"dataSource":{"id":"6004f7113578a141e440aaf0","owner":"5ad80b895edcc438e5a4418e222733fa","name":"S3DS","alias":"m1dSPNzWL-HUfj7Xbdd-3A","lastModified":"2021-01-18T02:48:49.154Z","connectionInfo":{"s3":{"bucket":"s3://test","accessKey":"testkey","secretKey":"","serverSideEncryption":true}},"links":{"parent":"/gdc/dataload/dataSources","self":"/gdc/dataload/dataSources/6004f7113578a141e440aaf0","dataMapping":"/gdc/dataload/dataSources/6004f7113578a141e440aaf0/dataMapping","validateConnection":"/gdc/dataload/dataSources/6004f7113578a141e440aaf0/validateConnection"}}}'
  recorded_at: Mon, 18 Jan 2021 02:48:49 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/6004f7113578a141e440aaf0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:lx8_oHJBH0Ejj4Uat8yDMQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '5'
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:lx8_oHJBH0Ejj4Uat8yDMQ:JPf56OMNH0oThCwg"
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"errorClass":"com.gooddata.commons.http.exception.NotFoundException","trace":"","message":"The
        server has not found anything matching the Request-URI. No indication is given
        of whether the condition is temporary or permanent.","component":"cloud-resource-restapi","errorId":"36f17c62-ce1d-4b29-ac22-9a1363cb8c39","errorCode":"gdc.http.client.status.404","parameters":[]}}'
  recorded_at: Mon, 18 Jan 2021 02:48:51 GMT
recorded_with: VCR 5.0.0
