---
http_interactions:
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/60049a223578a141e440aac7
    body:
      encoding: UTF-8
      string: '{"dataSource":{"name":"S3_New","connectionInfo":{"s3":{"bucket":"s3://test","accessKey":"testkey","secretKey":"","serverSideEncryption":true}},"alias":"n7tJMyUalOFKL9UULEQMeA"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:vcFsST3nrnE9aBJ-dGuoKA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '32'
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:vcFsST3nrnE9aBJ-dGuoKA:2pKNtFjjjznVkQS1"
    body:
      encoding: ASCII-8BIT
      string: '{"dataSource":{"id":"60049a223578a141e440aac7","owner":"5ad80b895edcc438e5a4418e222733fa","name":"S3_New","alias":"n7tJMyUalOFKL9UULEQMeA","lastModified":"2021-01-17T20:12:19.396Z","connectionInfo":{"s3":{"bucket":"s3://test","accessKey":"testkey","secretKey":"","serverSideEncryption":true}},"links":{"parent":"/gdc/dataload/dataSources","self":"/gdc/dataload/dataSources/60049a223578a141e440aac7","dataMapping":"/gdc/dataload/dataSources/60049a223578a141e440aac7/dataMapping","validateConnection":"/gdc/dataload/dataSources/60049a223578a141e440aac7/validateConnection"}}}'
  recorded_at: Sun, 17 Jan 2021 20:12:19 GMT
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/60049a223578a141e440aac7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:4C_DOZS-AHqIJV1NSYgCbg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources"
      X-Gdc-Request-Time:
      - '29'
      X-Gdc-Request:
      - ":x1HzaCNJ7a82132oxc6Yxw:4C_DOZS-AHqIJV1NSYgCbg:sTy7QzJwJVPfmZfz"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 17 Jan 2021 20:12:20 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources
    body:
      encoding: UTF-8
      string: '{"dataSource":{"name":"S3DS","connectionInfo":{"s3":{"bucket":"s3://test","accessKey":"testkey","secretKey":"abc123","serverSideEncryption":true}},"alias":"JxamD6e_zB0TY8NXpO-6OQ"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:geNFXy0XbGmoY4[...]
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/dataload/dataSources/6004f70e386d7541e4b36019
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:6vXqUw6y3BmzOLydKI62-w"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: ''
    headers:
      Location:
      - "/gdc/dataload/dataSources"
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - ":_HekE3-vVakAnA6hjcdBdA:6vXqUw6y3BmzOLydKI62-w:sOzrvvg7f7hEBiYj"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 18 Jan 2021 02:48:48 GMT
recorded_with: VCR 5.0.0
