---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/sz0ppvggesxwthsq1slr260kbfs8fej4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":1SxGfjNWZcYiVPBlGwdkqA:Z6X2XW8Ny2u5aVRxGWX0Nw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":1SxGfjNWZcYiVPBlGwdkqA:Z6X2XW8Ny2u5aVRxGWX0Nw:Qz7vuscDKkxStxi1"
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"DEVELOPMENT","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/sz0ppvggesxwthsq1slr260kbfs8fej4/ldm?thumbnail=1","self":"/gdc/projects/sz0ppvggesxwthsq1slr260kbfs8fej4","clearCaches":"/gdc/projects/sz0ppvggesxwthsq1slr260kbfs8fej4/clearCaches","invitations":"/gdc/projects/sz0ppvggesxwthsq1slr260kbfs8fej4/invitations","users":"/gdc/projects/sz0ppvggesxwthsq1slr260kbfs8fej4/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/sz0ppvggesxwthsq1slr260kbfs8fej4/uploads/","ldm":"/gdc/projects/sz0ppvggesxwthsq1slr260kbfs8fej4/ldm","metadata":"/gdc/md/sz0ppvggesxwthsq1slr260kbfs8fej4","publicartifacts":"/gdc/projects/sz0ppvggesxwthsq1slr260kbfs8fej4/publicartifacts","roles":"/gdc/projects/sz0ppvggesxwthsq1slr260kbfs8fej4/roles","userRoles":"/gdc/projects/sz0ppvggesxwthsq1slr260kbfs8fej4/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/sz0ppvggesxwthsq1slr260kbfs8fej4/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/sz0ppvggesxwthsq1slr260kbfs8fej4/dataload","connectors":"/gdc/projects/sz0ppvggesxwthsq1slr260kbfs8fej4/connectors","execute":"/gdc/projects/sz0ppvggesxwthsq1slr260kbfs8fej4/execute","config":"/gdc/projects/sz0ppvggesxwthsq1slr260kbfs8fej4/config","projectFeatureFlags":"/gdc/projects/sz0ppvggesxwthsq1slr260kbfs8fej4/projectFeatureFlags","schedules":"/gdc/projects/sz0ppvggesxwthsq1slr260kbfs8fej4/schedules","templates":"/gdc/md/sz0ppvggesxwthsq1slr260kbfs8fej4/templates"},"meta":{"created":"2019-03-06
        15:14:48","summary":"No summary","updated":"2019-03-06 15:14:49","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"DailyUse
        Project for gooddata-ruby integration tests - DO NOT DELETE","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 06 Mar 2019 14:15:15 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/sz0ppvggesxwthsq1slr260kbfs8fej4/projectFeatureFlags
    body:
      encoding: UTF-8
      string: '{"featureFlag":{"key":"enableEtlComponent","value":true}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":1SxGfjNWZcYiVPBlGwdkqA:zNlV0G45tEKN80S_eA7MyQ"
      Stats-On:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/projects/sz0ppvggesxwthsq1slr260kbfs8fej4/projectFeatureFlags/enableEtlComponent"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":1SxGfjNWZcYiVPBlGwdkqA:zNlV0G45tEKN80S_eA7MyQ:aO1yFjVZ32AteEjI"
      X-Gdc-Request-Time:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/sz0ppvggesxwthsq1slr260kbfs8fej4/projectFeatureFlags/enableEtlComponent"}'
  recorded_at: Wed, 06 Mar 2019 14:15:16 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/sz0ppvggesxwthsq1slr260kbfs8fej4/dataload/processes
    body:
      encoding: UTF-8
      string: '{"process":{"name":"gd_ruby_cmd_test_xx","type":"etl","component":{"name":"gdc-etl-sql-executor","version":"1"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":1SxGfjNWZcYiVPBlGwdkqA:c-nAgoXsGGIKDaDNBOcnUA"
      Stats-On:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/projects/sz0ppvggesxwthsq1slr260kbfs8fej4/dataload/processes/313351c1-8bba-4465-b19e-db9ddea9b86f"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":1SxGfjNWZcYiVPBlGwdkqA:c-nAgoXsGGIKDaDNBOcnUA:fGSjJBla42eyKBQg"
      X-Gdc-Request-Time:
      - '46'
    body:
      encoding: ASCII-8BIT
      string: '{"process":{"type":"ETL","name":"gd_ruby_cmd_test_xx","graphs":[],"executables":[],"lastDeployed":"2019-03-06T14:15:16.699Z","ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/sz0ppvggesxwthsq1slr260kbfs8fej4/dataload/processes/313351c1-8bba-4465-b19e-db9ddea9b86f","executions":"/gdc/projects/sz0ppvggesxwthsq1slr260kbfs8fej4/dataload/processes/313351c1-8bba-4465-b19e-db9ddea9b86f/executions","source":"/gdc/projects/sz0ppvggesxwthsq1slr260kbfs8fej4/dataload/processes/313351c1-8bba-4465-b19e-db9ddea9b86f/source"},"component":{"name":"gdc-etl-sql-executor","version":"1"}}}'
  recorded_at: Wed, 06 Mar 2019 14:15:16 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":MwjbPOrfC05hdwqUT9cVfA:m0Ptq2PYEVm_pF0fMFcIew"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '31'
      X-Gdc-Request:
      - ":MwjbPOrfC05hdwqUT9cVfA:m0Ptq2PYEVm_pF0fMFcIew:Uz0hPEbkYFDsOOH1"
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 04:33:10 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":MwjbPOrfC05hdwqUT9cVfA:WcmxCknVIjGE1jyiMB45gw"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - ":MwjbPOrfC05hdwqUT9cVfA:WcmxCknVIjGE1jyiMB45gw:i9Z5YHH8bSvl8eP4"
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Wed, 15 Jan 2020 04:33:11 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":MwjbPOrfC05hdwqUT9cVfA:OBvmfeFS9PZuN2sHPA5n3Q"
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '13'
      X-Gdc-Request:
      - ":MwjbPOrfC05hdwqUT9cVfA:OBvmfeFS9PZuN2sHPA5n3Q:MeK7YhCS3o14z2tx"
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2019-03-15 10:00:00","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Wed, 15 Jan 2020 04:33:11 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":MwjbPOrfC05hdwqUT9cVfA:7Iyl5T-iPXgp9NQByx9hKg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '33'
      X-Gdc-Request:
      - ":MwjbPOrfC05hdwqUT9cVfA:7Iyl5T-iPXgp9NQByx9hKg:9d96Q7oDG5zgsfyt"
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Wed, 15 Jan 2020 04:33:12 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":MwjbPOrfC05hdwqUT9cVfA:vk3aPiwPFRkB2KVtOgHVkA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '34'
      X-Gdc-Request:
      - ":MwjbPOrfC05hdwqUT9cVfA:vk3aPiwPFRkB2KVtOgHVkA:9fSLsoxhulQm3yrY"
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/ldm?thumbnail=1","self":"/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir","clearCaches":"/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/clearCaches","invitations":"/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/invitations","users":"/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/checkXaeCompatibility","uploads":"/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/uploads/","ldm":"/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/ldm","metadata":"/gdc/md/ckggg1kn1hwetn3giedb8i2g7em2ykir","publicartifacts":"/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/publicartifacts","roles":"/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/roles","userRoles":"/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/dataload","connectors":"/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/connectors","execute":"/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/execute","config":"/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/config","projectFeatureFlags":"/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/projectFeatureFlags","schedules":"/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/schedules","templates":"/gdc/md/ckggg1kn1hwetn3giedb8i2g7em2ykir/templates"},"meta":{"created":"2020-01-15
        05:32:40","summary":"No summary","updated":"2020-01-15 05:32:41","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"DailyUse
        Project for gooddata-ruby integration tests - DO NOT DELETE","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Wed, 15 Jan 2020 04:33:13 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ckggg1kn1hwetn3giedb8i2g7em2ykir/dataload/processes
    body:
      encoding: UTF-8
      string: '{"process":{"name":"gd_ruby_cmd_test_xx","type":"etl","component":{"name":"gdc-etl-sql-executor","version":"1"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":MwjbPOrfC05hdwqUT9cVfA:04-_KrGILcJg2nrU5pOY4w"
      Stats-On:
  [...]
