---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lw55fcac8shxgujw8z385uv3ylyrdu6a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:fwinz98HBEpmM_tVAaJIXg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:fwinz98HBEpmM_tVAaJIXg:W28UxlvtbxTVsCCI"
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"vertica","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/lw55fcac8shxgujw8z385uv3ylyrdu6a/ldm?thumbnail=1","self":"/gdc/projects/lw55fcac8shxgujw8z385uv3ylyrdu6a","clearCaches":"/gdc/projects/lw55fcac8shxgujw8z385uv3ylyrdu6a/clearCaches","invitations":"/gdc/projects/lw55fcac8shxgujw8z385uv3ylyrdu6a/invitations","users":"/gdc/projects/lw55fcac8shxgujw8z385uv3ylyrdu6a/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/lw55fcac8shxgujw8z385uv3ylyrdu6a/checkXaeCompatibility","uploads":"/gdc/projects/lw55fcac8shxgujw8z385uv3ylyrdu6a/uploads/","ldm":"/gdc/projects/lw55fcac8shxgujw8z385uv3ylyrdu6a/ldm","metadata":"/gdc/md/lw55fcac8shxgujw8z385uv3ylyrdu6a","publicartifacts":"/gdc/projects/lw55fcac8shxgujw8z385uv3ylyrdu6a/publicartifacts","roles":"/gdc/projects/lw55fcac8shxgujw8z385uv3ylyrdu6a/roles","userRoles":"/gdc/projects/lw55fcac8shxgujw8z385uv3ylyrdu6a/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/lw55fcac8shxgujw8z385uv3ylyrdu6a/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/lw55fcac8shxgujw8z385uv3ylyrdu6a/dataload","connectors":"/gdc/projects/lw55fcac8shxgujw8z385uv3ylyrdu6a/connectors","execute":"/gdc/projects/lw55fcac8shxgujw8z385uv3ylyrdu6a/execute","config":"/gdc/projects/lw55fcac8shxgujw8z385uv3ylyrdu6a/config","projectFeatureFlags":"/gdc/projects/lw55fcac8shxgujw8z385uv3ylyrdu6a/projectFeatureFlags","schedules":"/gdc/projects/lw55fcac8shxgujw8z385uv3ylyrdu6a/schedules","templates":"/gdc/md/lw55fcac8shxgujw8z385uv3ylyrdu6a/templates"},"meta":{"created":"2018-06-08
        05:28:44","summary":"No summary","updated":"2019-04-04 18:13:28","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"TienMasterProject
        HLL do not delete","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 18 Apr 2019 11:09:48 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/s9495f2zb5o0tx4qw9ftrez9seboati9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:TF-BTFh-6IwzXmXzSI9oMg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/nesqbjw197lnx4fcgsiytbm1vun0w0sj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:mYmrUQOhvuDetix_TrCbfQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/veapz199v72dapnpyx43p59593hxmfn7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:wRSEycRwiQ0GYv7fKzp5Uw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/s665ttyykzay9dix4r4cu5gc5fz6utes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:SKYXLPP4ld7ZYN0QBPWDtw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/zyoflmgyrszp8cjur3x271h18fgu8ikz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:dng9TZgh7NmDEJ8xB-I-OQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ei2lfngc1dxxypyd1sg10yv1xjoojvhx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:FqobEXxbCJDYhGi6sSxHMQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/evx5vzygzfx08ojq10ivtdnb741fh8gy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:zqCWOj53Mr8wh8bHj9---g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/mcvh1uvnm74ga25bwf2c5lo2c90un8ye
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:MPBQhdEEt4w39HyNWxfW4Q"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/vtkip7z4c84l9go5cjp5a1yx7z3qvwlm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:r7BPfPCdeEeZ7XGETI7JgA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ev1kh9vruaww7uzn9j6stmflvpyp99w0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:aGAYCVGygnpiDl_8KUCukg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/qmgdy00hv6dqijd72wrczllwcca25l0j
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:kZwsMBBBOmgVeBMrWh6LvQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/r4imf7akf5548um9764nh6csq4x5b21y
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:BaMGtSXtg-riwka-NADogg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/fuyanv04f80msxgg6dtkx2mfz3yk0l5k
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:gyKvqhBJfmmzUWeVRcgeqw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/j4iuwbkdebhi5czm8yicjh3yioid5ivi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:wFUAqcWAqvd6CUNKsB1xVA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/sasjrv0uwxauy0bbwmihldahenbze8ot
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:0bRQTD5G8nM-quHR6Z3uXA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/jgem7d0jkpz9la139ms8gu41i5prybn8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:rxnwIPCz50INEK1SqnsWTg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/u605edlml41xi2exnxv8m15mgpdmkmn5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:XMVNIEjcm0jRqXNlJ1P3rg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/g5r0j6yjyofi5zy91k1k3983ldyesimk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:fT7IPM8Gblvw6c-JwYgUKQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/seg24nvbiljmwu3m9xo4v3tfqq9jms3f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:Ug6dXLO9y7AWbQ-Lf3f-3w"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/psco3ynmaz759lifpzxlwgqy2zzgchyo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:eM4f0iog56T1QtVUjKrh0g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rvim7zwnurdxpr2jq7ex04ab0h9nabef
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:EzxU2e9YoKl6uOOv8bprSA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/fdn4rupsd18j774egh4bnm7zj9ota7bt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:1skxp0U0QT8a5wlyIiRhvQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/fspedv76tb9i07r7ongeynfun4x2h0ya
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:I-ng82Bd4rGRnkNeLZJbww"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/k5mna8o1cvhsf9cbzqsxxwo4sef5n3et
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:ztTaq2SatOAT9zQ11AHNqQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/v9lfm5ooktxtskbucgnik8a9ayo9wuto
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:ru4SKnr7YT0EFLEx37sq9Q"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/i5qvx200wvjcera9w0rflsumy085mshx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:EYZ36fcsI_3eKpfG59F0kA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ku8u9qwsldesz25p6tkrayjo7t1dhm99
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:gKSV141xVGeSx5bdNwRSSw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/a47322i2ilm4ixlk96ciprxl4ej5c8o3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:JVJGXZYwLGtTSAuf9F4Ddw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/osthpxyagcjpcyawr5hw8uxa2pokjh4g
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:TalwjKZ3v_McZ642fctmSQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/zdq40oou0y4s76zu5b1pf0m2by3skh88
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:IqmmRdiZeQvYWU0tZ3qixw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/jazqsndwixr1nl2avx3sxybu00226lrf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:Ya97wAOTzBwusXT7vdWZcw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/e5rq4kqgnmx2mnrn5lbz1cilqcp7d0sl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:kGZe6nJeNvut0o6Crwtq8Q"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ui3089v9qjw3bcrjlj4lie60osy9pwqa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:owR4pNrWWBFLrHhxCxFTyg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/jasmacee4dcce2cn3w1u5nh9ueqsriwj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:e6zy_iPnxFrsEvc-ASyrJQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/x61hr057hl6zofam5vsgltg92ozkbtyc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:3S-V2e8RNmj4313EQuokNA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/dqrb6q01t56p23fvlz63anjxffult2vx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:--p9abnG6ljVWBRBgNR6_g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/jiqvivoi7rwooubnnrp4s0fexs5z5elp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:rtRVxvLO7Erlumsw8pVMlA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/hrg94dv01m8wl6ili88sq0te7428c7rk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:gLaQ_nsKSSYkx4TVpLAYmw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lqd3r1qeq5jnf1bhzf54tzjwha60hklj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:qXTtLq0MhUyoqvHV1lnK_A"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/mbi2nbwlbjfyembx016oqwfltfebsbh4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:t10cohQHhksPMRHaP5j9TA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/xvefu13tle5ttrkvuijyq23n7uqmy7xl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:WKqUw6yqdaGh9aA3rWGRRg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/bp5b6ocv4fgl3rwujk2qpa6r8tayotz9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:MCWDZRKUz0rC3Poqq70x_g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/jhhfol0gegba42kgiwn5nftdac30880y
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:hNkNxFGHp9Ng1VzWLbAgBQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/p8bed224yscfe2038l1j5vd9uljzou4b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:2tY--f-e4Dcuq-qiQcH2CQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/vvnbz6q8gcy8tl32iym9c2jduzi4cits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:77lOUCBafqYX9_Oo_Rkp-Q"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/t4jgm4m957f4ym80b3qkb6ns16p0wu7z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:E9-KVzYUXFcFPEAlKDISKA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/gap69xucbfha0a91dat5p6puqnx23rva
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:1hVwZXItN-ogxHuTBFkFGA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/rizxub81obsihr8d2fwzm1omsiewaoo5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:wWrbmGk1pC7fXNlojaOGPQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ms3vfr86awqx3duislihho4psit3jm9o
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:S4UPlqe8oSAtqBTDA6YHcw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/z30wnn7krttjc7ikc42gx42k3of3x2lb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:DR3YnHdLnVrYNTA3h35lEg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/sfl7fcqwgstk2qvs26lj5t5hraf1kcnp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:Ef6ibNxOswMpdy9XpsXYow"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/bamppo2ls53de7rkqspgp11gdj4io5qv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:ieAU6_BE6UTH10qR9MYJtw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/o6u6db27qcjx7kxsp3c8x4620tt0m32h
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:yT1xjTSe05udDzg077PfiA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/bxvkm22zt5yvzo1qqwlgidtio8sbz2o0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":J8wR3UELESieZADrbGpV-g:bfsI5g2bCVbWRxiRqrxy1w"
      Stats-On:
[...]
