---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bLUrfsF7kWLeDzHZvQr3tCg/modifyMembers
    body:
      encoding: UTF-8
      string: '{"modifyMembers":{"operation":"SET","items":["/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:AkPw6aIPGneufbCmbl2uMQ
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '12'
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:AkPw6aIPGneufbCmbl2uMQ:4i25xqp4tR6Hc9PX
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 31 May 2018 15:21:00 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bLUrfsF7kWLeDzHZvQr3tCg/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:VUMCDhvtLjnP8zAMdcuuqg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - z6soLuZrsqfjtFgf9TqXKQ:VUMCDhvtLjnP8zAMdcuuqg:Fidzd3p6AbxrbcV9
      X-Gdc-Request-Time:
      - '14'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroupMembers":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"user":{"content":{"firstName":"the","lastName":"1"},"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Thu, 31 May 2018 15:21:01 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bYht_3jsC3p73mhemtw3L-Q/modifyMembers
    body:
      encoding: UTF-8
      string: '{"modifyMembers":{"operation":"SET","items":["/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Ti3R5nc8b1s2KH2uRjMqrA:YRY4Pa0bOV9OoeZCeFsvHA
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '19'
      X-Gdc-Request:
      - Ti3R5nc8b1s2KH2uRjMqrA:YRY4Pa0bOV9OoeZCeFsvHA:2ySVsSiReJZpNs19
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 09:04:35 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bYht_3jsC3p73mhemtw3L-Q/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Ti3R5nc8b1s2KH2uRjMqrA:l84QZPB-NwjL_oQNqEBw4w
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Ti3R5nc8b1s2KH2uRjMqrA:l84QZPB-NwjL_oQNqEBw4w:UrIBuNIIdqhbsSKT
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroupMembers":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"user":{"content":{"firstName":"the","lastName":"1"},"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Wed, 10 Oct 2018 09:04:36 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bhxOVVNgzAPW9jUtv-eJmTA/modifyMembers
    body:
      encoding: UTF-8
      string: '{"modifyMembers":{"operation":"SET","items":["/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - IVWNGeM56YxdR03xNdm9uQ:2HjBBoZj7kVxI98bzbhwOg
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '21'
      X-Gdc-Request:
      - IVWNGeM56YxdR03xNdm9uQ:2HjBBoZj7kVxI98bzbhwOg:Vven705MPo7Y7UKE
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Oct 2018 11:54:12 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bhxOVVNgzAPW9jUtv-eJmTA/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - IVWNGeM56YxdR03xNdm9uQ:wyC41ZQ94TeZPIeljz_zOw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - IVWNGeM56YxdR03xNdm9uQ:wyC41ZQ94TeZPIeljz_zOw:bYdfHHXtIBmSS3ME
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroupMembers":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"user":{"content":{"firstName":"the","lastName":"1"},"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Wed, 10 Oct 2018 11:54:13 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bPzgfviBztA-U8ztc0aKuew/modifyMembers
    body:
      encoding: UTF-8
      string: '{"modifyMembers":{"operation":"SET","items":["/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":wMIPo2Igg4Z8Ex-_svFoTA:2iQ8dx4ox5J8mz8hbzOs5A"
      Stats-On:
      - ''
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '20'
      X-Gdc-Request:
      - ":wMIPo2Igg4Z8Ex-_svFoTA:2iQ8dx4ox5J8mz8hbzOs5A:PGlnHV8ItUc4jyvl"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Jan 2019 13:42:35 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bPzgfviBztA-U8ztc0aKuew/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":wMIPo2Igg4Z8Ex-_svFoTA:Hh2qrprGIZpchsUaLJRI1w"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":wMIPo2Igg4Z8Ex-_svFoTA:Hh2qrprGIZpchsUaLJRI1w:lHHhWqw96xa0dF7c"
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroupMembers":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"user":{"content":{"firstName":"the","lastName":"1"},"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Thu, 24 Jan 2019 13:42:35 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bw1TZSB3oV5NqSMeQ7PwfPA/modifyMembers
    body:
      encoding: UTF-8
      string: '{"modifyMembers":{"operation":"SET","items":["/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":9ayKUMlzPr99oJjqtlKSVA:v0II7rW9r8queIkvRHtwag"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '20'
      X-Gdc-Request:
      - ":9ayKUMlzPr99oJjqtlKSVA:v0II7rW9r8queIkvRHtwag:nuTqGDz3Lw0RzLs5"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 15 Jan 2020 06:37:56 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bw1TZSB3oV5NqSMeQ7PwfPA/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":9ayKUMlzPr99oJjqtlKSVA:rFbA5nOoEpzrrnsf4EqRUg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '19'
      X-Gdc-Request:
      - ":9ayKUMlzPr99oJjqtlKSVA:rFbA5nOoEpzrrnsf4EqRUg:mWc1EyhBN2uXd59T"
    body:
      encoding: ASCII-8BIT
      string: '{"userGroupMembers":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"user":{"content":{"firstName":"the","lastName":"1"},"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Wed, 15 Jan 2020 06:37:56 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":9ayKUMlzPr99oJjqtlKSVA:cmClAdGykU9UGH7ZQP5QEw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '12'
      X-Gdc-Request:
      - ":9ayKUMlzPr99oJjqtlKSVA:cmClAdGykU9UGH7ZQP5QEw:S3iVCdhFpitIGUfK"
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2019-03-15 10:00:00","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Wed, 15 Jan 2020 06:37:57 GMT
recorded_with: VCR 5.0.0
