name: build
on:
  push:
    branches: [master]
jobs:
  jruby-gem-release:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: jruby-9.4.1
          bundler-cache: true
      - uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'adopt'
      - uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Run gem release
        run: bundle exec rake gem:release
        env:
          GEM_HOST_API_KEY: ${{ secrets.RUBYGEMS_API_KEY }}
  rubygems-release:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2.1
          bundler-cache: true
      - name: Run gem release
        run: bundle exec rake gem:release
        env:
          GEM_HOST_API_KEY: ${{ secrets.RUBYGEMS_API_KEY }}
  gem-smoke-test:
    runs-on: ubuntu-22.04
    needs: [jruby-gem-release, rubygems-release]
    strategy:
      matrix:
        ruby-version: [3.2.1, jruby-9.4.1]
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - run: |
          gem install gooddata
          ruby -e "require 'gooddata';GoodData.version"
