name: pre-merge
on:
  pull_request:
    branches:
      - develop
      - master
jobs:
  unit-tests:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        ruby-version: [2.5, 2.6, 2.7.6, 3.2.1, jruby-9.2.21, jruby-9.3.14, jruby-9.4.1]
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - run: bundle exec rake test:unit
      - run: bundle exec rake test:unit
        continue-on-error: true
  # pronto-code-review:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: ruby/setup-ruby@v1
  #       with:
  #         ruby-version: 3.2
  #         bundler-cache: true
  #     - name: run pronto-code-review
  #       run: |
  #         set -x
  #         git remote add upstream https://github.com/gooddata/gooddata-ruby.git
  #         git fetch upstream $GITHUB_BASE_REF
  #         failed=0
  #         PRONTO_FLAY_MASS_THRESHOLD=50 bundle exec pronto run -c upstream/$GITHUB_BASE_REF --exit-code lib || failed=1
  #         PRONTO_FLAY_MASS_THRESHOLD=100 bundle exec pronto run -c upstream/$GITHUB_BASE_REF --exit-code spec || failed=1
  #         if [ "$failed" -ne 0 ] ; then
  #             exit 1
  #         fi
  #       shell: bash
