name: tmp.yaml
on: pull_request

jobs:
  promote-images:
    uses: ./.github/workflows/promote-to-stable.yaml
    with:
      images: '["lcm-bricks", "lcm-bricks-nextversion"]'
      charts: '{}'
      image_tag: "M3"
    secrets: inherit
