---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:B8bwQjl1027veKLW8ZHRmQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:B8bwQjl1027veKLW8ZHRmQ:guTdWYswgMuDLi1a"
      X-Gdc-Request-Time:
      - '56'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/ldm?thumbnail=1","self":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn","clearCaches":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/clearCaches","invitations":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/invitations","users":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/checkXaeCompatibility","uploads":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/uploads/","ldm":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/ldm","metadata":"/gdc/md/uo936nolw6v5bbk89e2cyxv3bhns2frn","publicartifacts":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/publicartifacts","roles":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/roles","userRoles":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/dataload","connectors":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/connectors","execute":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/execute","config":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/config","projectFeatureFlags":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/projectFeatureFlags","schedules":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/schedules","templates":"/gdc/md/uo936nolw6v5bbk89e2cyxv3bhns2frn/templates"},"meta":{"created":"2019-04-18
        16:53:16","summary":"No summary","updated":"2019-04-18 16:53:18","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"DailyUse
        Project for gooddata-ruby integration tests - DO NOT DELETE","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 18 Apr 2019 14:53:18 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:J6GK4RABv_uxTZJcNAhRRQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:J6GK4RABv_uxTZJcNAhRRQ:TKR2xiXi1LecNE8Z"
      X-Gdc-Request-Time:
      - '46'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/ldm?thumbnail=1","self":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn","clearCaches":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/clearCaches","invitations":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/invitations","users":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/uo9[...]
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/f531dfb43f7390967f1d6e098cb92820
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:ojc9vWZwKkGBvg-vgjpAdw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '108'
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:ojc9vWZwKkGBvg-vgjpAdw:eCZuVVydijoBbvE5"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 18 Apr 2019 15:03:01 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/op24jzavrcslcsr2mb7gwaqwqlbpxsu8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:32EvEkDKHpDNulW3g_CQ8g"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '58'
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:32EvEkDKHpDNulW3g_CQ8g:MRaM9JFX2XHWhO4K"
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"li[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":j-puMCLbjck-2hCYvC-cJw:bgH4qA2LDJJH0Tfr5qLOUw"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      Content-Type:
      - application/json
      X-Gdc-Request-Time:
      - '130'
      X-Gdc-Request:
      - ":j-puMCLbjck-2hCYvC-cJw:bgH4qA2LDJJH0Tfr5qLOUw:bLe76xTsx4WTqxI8"
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Thu, 11 Aug 2022 11:09:52 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":j-puMCLbjck-2hCYvC-cJw:GzNM6vk-NawRyDjVdKKtFw"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      Content-Type:
      - application/json
      X-Gdc-Request-Time:
      - '32'
      X-Gdc-Request:
      - ":j-puMCLbjck-2hCYvC-cJw:GzNM6vk-NawRyDjVdKKtFw:lVD3ej5EI685YijP"
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 11 Aug 2022 11:09:53 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":j-puMCLbjck-2hCYvC-cJw:4WDTAOyYcUcbXoCe9MBOzw"
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Gdc-Request-Time:
      - '19'
      X-Gdc-Request:
      - ":j-puMCLbjck-2hCYvC-cJw:4WDTAOyYcUcbXoCe9MBOzw:t4KuREnReyVu9Rxy"
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"ssoProvider":"test-ruby","updated":"2019-03-15
        10:00:00","timezone":null,"position":null,"phoneNumber":"","login":"rubydev+admin@gooddata.com","lastName":"1","firstName":"the","created":"2017-02-10
        12:18:01","country":null,"companyName":"","email":"rubydev+admin@gooddata.com","authenticationModes":["PASSWORD","SSO"],"language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null,"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","domain":"/gdc/domains/staging2-lcm-prod","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents"}}}'
  recorded_at: Thu, 11 Aug 2022 11:09:55 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":j-puMCLbjck-2hCYvC-cJw:0so2ZoOcvTMFcXPlu3Mlbw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '48'
      X-Gdc-Request:
      - ":j-puMCLbjck-2hCYvC-cJw:0so2ZoOcvTMFcXPlu3Mlbw:TWXleVRqn3g7PA8y"
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"links":[{"summary":"","category":"home","link":"/gdc/","title":"home"},{"title":"token","link":"/gdc/account/token","category":"token","summary":"Temporary
        token generator."},{"link":"/gdc/account/login","title":"login","category":"login","summary":"Authentication
        service."},{"title":"metadata","link":"/gdc/md","summary":"Metadata resources.","category":"md"},{"link":"/gdc/xtab2","title":"xtab","category":"xtab","summary":"Report
        execution resource."},{"summary":"Report exporting resource.","category":"report-exporter","link":"/gdc/exporter","title":"exporter"},{"category":"account","summary":"Resource
        for logged in account manipulation.","title":"account","link":"/gdc/account"},{"title":"projects","link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects"},{"category":"tool","summary":"Miscellaneous
        resources.","link":"/gdc/tool","title":"tool"},{"summary":"Release information.","category":"releaseInfo","title":"releaseInfo","link":"/gdc/releaseInfo"},{"title":"user-uploads","link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads"}],"category":"GoodData API root","summary":"Use
        links to navigate the services."}}'
  recorded_at: Thu, 11 Aug 2022 11:09:56 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"DailyUse Project
        for gooddata-ruby integration tests - DO NOT DELETE"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":j-puMCLbjck-2hCYvC-cJw:D5dSeInhRZD41cycb04Nbg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '197'
      X-Gdc-Request:
      - ":j-puMCLbjck-2hCYvC-cJw:D5dSeInhRZD41cycb04Nbg:h78RfFjGSMqwZMGj"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/efqh4uj0r95jp0dh9qh4exucsu3dklu3"}'
  recorded_at: Thu, 11 Aug 2022 11:09:57 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/efqh4uj0r95jp0dh9qh4exucsu3dklu3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":j-puMCLbjck-2hCYvC-cJw:9m32LSU7KKxkqvYnIPWB4g"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Typ[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users?login=gemtest-adding%2Buser%2Bwith%2Bdomain%2Bshould%2Bbe%2Badded%2Bto%2Ba%2Bproject-0@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":j-puMCLbjck-2hCYvC-cJw:yg4RQ82obN78VeBqMHqvbA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Gdc-Request-Time:
      - '13'
      X-Gdc-Request:
      - ":j-puMCLbjck-2hCYvC-cJw:yg4RQ82obN78VeBqMHqvbA:PI40tWI26WJwoWWF"
    body:
      encoding: ASCII-8BIT
      string: '{"accountSettings":{"paging":{"offset":0,"count":1},"items":[{"accountSetting":{"ssoProvider":null,"updated":"2022-08-11
        13:10:52","timezone":null,"position":null,"phoneNumber":null,"login":"gemtest-adding+user+with+domain+should+be+added+to+a+project-0@gooddata.com","lastName":"gemtest-Adding+user+with+domain+should+be+added+to+a+project-0","firstName":"the","created":"2022-08-11
        13:10:52","country":null,"companyName":null,"email":"gemtest-adding+user+with+domain+should+be+added+to+a+project-0@gooddata.com","authenticationModes":[],"language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null,"links":{"self":"/gdc/account/profile/7907d51de1b2823ad050d88440fd8a0a","projects":"/gdc/account/profile/7907d51de1b2823ad050d88440fd8a0a/projects","domain":"/gdc/domains/staging2-lcm-prod","auditEvents":"/gdc/account/profile/7907d51de1b2823ad050d88440fd8a0a/auditEvents"}}}]}}'
  recorded_at: Thu, 11 Aug 2022 11:31:48 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users?login=gemtest-should%2Badd%2Buser%2Bwhich%2Blogin%2Bcontains%2Ba%2Bpart%2Bof%2Bwhitelists-0@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":j-puMCLbjck-2hCYvC-cJw:67Da3lZ3aoXr1A2vDlXoRQ"
      Stats-On:
      - ''
      X-Gdc-Versio[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users?login=gemtest-should%2Bbe%2Bable%2Bto%2Benable%2Band%2Bdisable%2Ba%2Buser-0@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":j-puMCLbjck-2hCYvC-cJw:-pcE6Mk6GG1m4zZbqu2fXg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
 [...]
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/22e4e84e04381b0797a29c91e5374290
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":j-puMCLbjck-2hCYvC-cJw:lLS2OIntnFD38c5TnSRUKg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request-Time:
      - '40'
      X-Gdc-Request:
      - ":j-puMCLbjck-2hCYvC-cJw:lLS2OIntnFD38c5TnSRUKg:ggP9QzfBx98ZKK97"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 11 Aug 2022 11:31:53 GMT
recorded_with: VCR 5.0.0
