---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:TvPuRmoNoluj51RHmPuGxA
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:TvPuRmoNoluj51RHmPuGxA:Bs3gXGwaEUr44kvM
      X-Gdc-Request-Time:
      - '54'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Tue, 05 Jun 2018 09:14:05 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:vqqdsR9_2uK5FlwGmdQZYg
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:vqqdsR9_2uK5FlwGmdQZYg:z2BVttCwYef3ap9g
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Tue, 05 Jun 2018 09:14:05 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:tT0Ly4rdbtjWM5rJHuRSQA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:tT0Ly4rdbtjWM5rJHuRSQA:5e5WFnOZttVzqG6i
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-06-05
        11:07:28","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","timezone":null,"language":"en-US","ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Tue, 05 Jun 2018 09:14:06 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:wJP1kzdHpqA-pJlE8Juz6A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:wJP1kzdHpqA-pJlE8Juz6A:Qn7G4f8SG1kGywnF
      X-Gdc-Request-Time:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Tue, 05 Jun 2018 09:14:06 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"GoodTravis"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:6FF5MDIczsw-S0SGDzbRDw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:6FF5MDIczsw-S0SGDzbRDw:a0D4DkPQ9MhrjJMs
      X-Gdc-Request-Time:
      - '433'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp"}'
  recorded_at: Tue, 05 Jun 2018 09:14:08 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:A75Tm3_L8D1jHGdIxHhMpA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:A75Tm3_L8D1jHGdIxHhMpA:RSEJITS90G0ogM3J
      X-Gdc-Request-Time:
      - '54'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/ldm?thumbnail=1","self":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp","clearCaches":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/clearCaches","invitations":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/invitations","users":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/uploads/","ldm":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/ldm","metadata":"/gdc/md/lq82awsu0rql6v3zb6eq1oin0n6otxdp","publicartifacts":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/publicartifacts","roles":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/roles","userRoles":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/dataload","connectors":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/connectors","execute":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/execute","config":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/config","projectFeatureFlags":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/projectFeatureFlags","schedules":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/schedules","templates":"/gdc/md/lq82awsu0rql6v3zb6eq1oin0n6otxdp/templates","eventstores":"/gdc/projects/lq82awsu0rql6v3zb6eq1oin0n6otxdp/dataload/eventstore/stores"},"meta":{"created":"2018-06-05
        11:14:07","summary":"No summary","updated":"2018-06-05 11:14:07","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"GoodTravis","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Tue, 05 Jun 2018 09:14:08 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users?login=gemtest-adding%2Buser%2Bwith%2Bdomain%2Bshould%2Bbe%2Badded%2Bto%2Ba%2Bproject-0@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:1p5PFhBapV4jIJIvyCNLEA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:1p5PFhBapV4jIJIvyCNLEA:Lj59co0wL3iO2Dhj
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSettings":{"paging":{"offset":0,"count":1},"items":[{"accountSetting":{"links":{"self":"/gdc/account/profile/75d55b8ccbf2bd0291c347a600713f8e","projects":"/gdc/account/profile/75d55b8ccbf2bd0291c347a600713f8e/projects"},"firstName":"the","lastName":"gemtest-Adding+user+with+domain+should+be+added+to+a+project-0","companyName":null,"position":null,"created":"2018-06-05
        11:00:06","updated":"2018-06-05 11:14:56","country":null,"phoneNumber":null,"authenticationModes":[],"login":"gemtest-adding+user+with+domain+should+be+added+to+a+project-0@gooddata.com","timezone":null,"email":"gemtest-adding+user+with+domain+should+be+added+to+a+project-0@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}]}}'
  recorded_at: Tue, 05 Jun 2018 09:30:11 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users?login=gemtest-should%2Badd%2Buser%2Bwhich%2Blogin%2Bcontains%2Ba%2Bpart%2Bof%2Bwhitelists-0@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:EBcp6tEy_xcLZs6GrmYsZw
  response:
    status:
      code: 200
      me[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users?login=gemtest-should%2Bbe%2Bable%2Bto%2Benable%2Band%2Bdisable%2Ba%2Buser-0@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - cFVb5ocGN2PTk0zsOuFHPQ:7jYyYcIhU9GHRg5Jcfxr7Q
  response:
    status:
      code: 200
      message: OK
    he[...]
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - HJu434XwNiYfBMuu3ii-Hg:7PJQqQQpSuh4dJOip4zSrQ
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '26'
      X-Gdc-Request:
      - HJu434XwNiYfBMuu3ii-Hg:7PJQqQQpSuh4dJOip4zSrQ:hevRIh24qmSek1Sl
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 09:30:15 GMT
recorded_with: VCR 4.0.0
