---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:B8bwQjl1027veKLW8ZHRmQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:B8bwQjl1027veKLW8ZHRmQ:guTdWYswgMuDLi1a"
      X-Gdc-Request-Time:
      - '56'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/ldm?thumbnail=1","self":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn","clearCaches":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/clearCaches","invitations":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/invitations","users":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/checkXaeCompatibility","uploads":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/uploads/","ldm":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/ldm","metadata":"/gdc/md/uo936nolw6v5bbk89e2cyxv3bhns2frn","publicartifacts":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/publicartifacts","roles":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/roles","userRoles":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/dataload","connectors":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/connectors","execute":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/execute","config":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/config","projectFeatureFlags":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/projectFeatureFlags","schedules":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/schedules","templates":"/gdc/md/uo936nolw6v5bbk89e2cyxv3bhns2frn/templates"},"meta":{"created":"2019-04-18
        16:53:16","summary":"No summary","updated":"2019-04-18 16:53:18","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"DailyUse
        Project for gooddata-ruby integration tests - DO NOT DELETE","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 18 Apr 2019 14:53:18 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:J6GK4RABv_uxTZJcNAhRRQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:J6GK4RABv_uxTZJcNAhRRQ:TKR2xiXi1LecNE8Z"
      X-Gdc-Request-Time:
      - '46'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/ldm?thumbnail=1","self":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn","clearCaches":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/clearCaches","invitations":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/invitations","users":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/uo9[...]
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/f531dfb43f7390967f1d6e098cb92820
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:ojc9vWZwKkGBvg-vgjpAdw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '108'
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:ojc9vWZwKkGBvg-vgjpAdw:eCZuVVydijoBbvE5"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 18 Apr 2019 15:03:01 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:gSKRXuD-aC0uv39qTgWSPw"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '90'
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:gSKRXuD-aC0uv39qTgWSPw:U4x4USGgrteZQ33U"
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Thu, 07 May 2020 09:38:30 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:uTK6_LD8M-uqZ3UIdb7YVw"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request-Time:
      - '54'
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:uTK6_LD8M-uqZ3UIdb7YVw:DqZGyACB6nkZZUTb"
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 07 May 2020 09:38:30 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:m7AXVh804pFrpRuLJTu4SA"
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '17'
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:m7AXVh804pFrpRuLJTu4SA:egBC3vKsVXiEGldF"
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2019-03-15 10:00:00","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Thu, 07 May 2020 09:38:31 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:I1dR4YTpvsRGYvfDpKJeFg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '35'
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:I1dR4YTpvsRGYvfDpKJeFg:Go0ZnRq3f330oR4g"
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Thu, 07 May 2020 09:38:32 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"DailyUse Project
        for gooddata-ruby integration tests - DO NOT DELETE"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:KxipOwiPzAj59aYgmmtGdw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '492'
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:KxipOwiPzAj59aYgmmtGdw:I2mbYwEix8AzGJEd"
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/op24jzavrcslcsr2mb7gwaqwqlbpxsu8"}'
  recorded_at: Thu, 07 May 2020 09:38:34 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/op24jzavrcslcsr2mb7gwaqwqlbpxsu8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:32EvEkDKHpDNulW3g_CQ8g"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-H[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users?login=gemtest-adding%2Buser%2Bwith%2Bdomain%2Bshould%2Bbe%2Badded%2Bto%2Ba%2Bproject-0@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:VZdPW2-58ky2EoXwF4l-SA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '26'
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:VZdPW2-58ky2EoXwF4l-SA:zX15m7h1GbFHmwSz"
    body:
      encoding: ASCII-8BIT
      string: '{"accountSettings":{"paging":{"offset":0,"count":1},"items":[{"accountSetting":{"links":{"self":"/gdc/account/profile/405ed14ddff263721e99b4895ff1e298","projects":"/gdc/account/profile/405ed14ddff263721e99b4895ff1e298/projects","auditEvents":"/gdc/account/profile/405ed14ddff263721e99b4895ff1e298/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"gemtest-Adding+user+with+domain+should+be+added+to+a+project-0","companyName":null,"position":null,"created":"2020-05-07
        11:39:04","updated":"2020-05-07 11:39:04","country":null,"phoneNumber":null,"authenticationModes":[],"login":"gemtest-adding+user+with+domain+should+be+added+to+a+project-0@gooddata.com","timezone":null,"ssoProvider":null,"email":"gemtest-adding+user+with+domain+should+be+added+to+a+project-0@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}]}}'
  recorded_at: Thu, 07 May 2020 09:53:25 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users?login=gemtest-should%2Badd%2Buser%2Bwhich%2Blogin%2Bcontains%2Ba%2Bpart%2Bof%2Bwhitelists-0@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:7uaHbDSAEeZelYiE3zn-cg"
      Stats-On:
      - ''
      X-Gdc-Versio[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users?login=gemtest-should%2Bbe%2Bable%2Bto%2Benable%2Band%2Bdisable%2Ba%2Buser-0@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:RTcEUW8TH9nY51XMv1kBiQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
 [...]
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/a5f993cbd0bc718efe97729445aafa8d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:TuRL7HcmeMK3KCLdtPF4pA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '81'
      X-Gdc-Request:
      - ":0sfaD6lDkfWrXVCqJDGd8g:TuRL7HcmeMK3KCLdtPF4pA:9KsFioQeUaoPKgqH"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 07 May 2020 09:53:30 GMT
recorded_with: VCR 5.1.0
