---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:fBc7ag93WsEURxUYHqzkfQ"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:fBc7ag93WsEURxUYHqzkfQ:Ua0XkuLLGAJ4QpSo"
      X-Gdc-Request-Time:
      - '80'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Thu, 18 Apr 2019 14:53:13 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:GAZbT6R0sdgrQNwpxMrebw"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:GAZbT6R0sdgrQNwpxMrebw:4CiqjRCbkoi11AEW"
      X-Gdc-Request-Time:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 18 Apr 2019 14:53:14 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:xaeoNKSFLBeo-_ci0kPIKg"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:xaeoNKSFLBeo-_ci0kPIKg:uGMVwGBd1NmbFL1i"
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2019-03-15 10:00:00","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Thu, 18 Apr 2019 14:53:15 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:57lB7NZTkEwRZyIc1HcMnw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:57lB7NZTkEwRZyIc1HcMnw:wZygM2goIglZ0Izd"
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Thu, 18 Apr 2019 14:53:15 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"DailyUse Project
        for gooddata-ruby integration tests - DO NOT DELETE"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:bAXxKqUHh7_48eS7Yv3tMw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:bAXxKqUHh7_48eS7Yv3tMw:feqNaozg41ozrdGZ"
      X-Gdc-Request-Time:
      - '1559'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn"}'
  recorded_at: Thu, 18 Apr 2019 14:53:18 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:B8bwQjl1027veKLW8ZHRmQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:B8bwQjl1027veKLW8ZHRmQ:guTdWYswgMuDLi1a"
      X-Gdc-Request-Time:
      - '56'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/ldm?thumbnail=1","self":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn","clearCaches":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/clearCaches","invitations":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/invitations","users":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/users?link=1&offset=0&limit=100","checkXaeCompatibility":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/checkXaeCompatibility","uploads":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/uploads/","ldm":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/ldm","metadata":"/gdc/md/uo936nolw6v5bbk89e2cyxv3bhns2frn","publicartifacts":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/publicartifacts","roles":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/roles","userRoles":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/dataload","connectors":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/connectors","execute":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/execute","config":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/config","projectFeatureFlags":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/projectFeatureFlags","schedules":"/gdc/projects/uo936nolw6v5bbk89e2cyxv3bhns2frn/schedules","templates":"/gdc/md/uo936nolw6v5bbk89e2cyxv3bhns2frn/templates"},"meta":{"created":"2019-04-18
        16:53:16","summary":"No summary","updated":"2019-04-18 16:53:18","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"DailyUse
        Project for gooddata-ruby integration tests - DO NOT DELETE","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 18 Apr 2019 14:53:18 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users?login=gemtest-adding%2Buser%2Bwith%2Bdomain%2Bshould%2Bbe%2Badded%2Bto%2Ba%2Bproject-0@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:jB5lpKURrSwtwPsKqwbsuw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:jB5lpKURrSwtwPsKqwbsuw:R5A8eZYIuHobQGOk"
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSettings":{"paging":{"offset":0,"count":1},"items":[{"accountSetting":{"links":{"self":"/gdc/account/profile/f531dfb43f7390967f1d6e098cb92820","projects":"/gdc/account/profile/f531dfb43f7390967f1d6e098cb92820/projects","auditEvents":"/gdc/account/profile/f531dfb43f7390967f1d6e098cb92820/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"gemtest-Adding+user+with+domain+should+be+added+to+a+project-0","companyName":null,"position":null,"created":"2019-04-18
        16:53:38","updated":"2019-04-18 16:53:38","country":null,"phoneNumber":null,"authenticationModes":[],"login":"gemtest-adding+user+with+domain+should+be+added+to+a+project-0@gooddata.com","timezone":null,"ssoProvider":null,"email":"gemtest-adding+user+with+domain+should+be+added+to+a+project-0@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}]}}'
  recorded_at: Thu, 18 Apr 2019 15:02:58 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users?login=gemtest-should%2Badd%2Buser%2Bwhich%2Blogin%2Bcontains%2Ba%2Bpart%2Bof%2Bwhitelists-0@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:win7y7u8rg07QGRgc0qhzw"
      Stats-On:
      - ''
  response:
    st[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users?login=gemtest-should%2Bbe%2Bable%2Bto%2Benable%2Band%2Bdisable%2Ba%2Buser-0@gooddata.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:SZJiY6ARCyG_mVJLzhdC_A"
      Stats-On:
      - ''
  response:
    status:
      code[...]
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/dd76f622c7fb925f7ab819566c7699bd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:ZSRuDmCwtDKFDbWiwWRngw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '113'
      X-Gdc-Request:
      - ":sdRWXFs-hIs71yLttk0KJA:ZSRuDmCwtDKFDbWiwWRngw:5VrLqEH9XufkPgPj"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 18 Apr 2019 15:03:03 GMT
recorded_with: VCR 4.0.0
