---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/voyb6fcvdngwfyf722vn9cmbv7sq6mf6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:D-t5lg0Vm8MP9spdkqX8Kw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 4_nOXTbOQuIAKhXmc8B--g:D-t5lg0Vm8MP9spdkqX8Kw:0elBbhAPcN4Kw2xJ
      X-Gdc-Request-Time:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"ENABLED"},"links":{"ldm_thumbnail":"/gdc/projects/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/ldm?thumbnail=1","self":"/gdc/projects/voyb6fcvdngwfyf722vn9cmbv7sq6mf6","clearCaches":"/gdc/projects/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/clearCaches","invitations":"/gdc/projects/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/invitations","users":"/gdc/projects/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/uploads/","ldm":"/gdc/projects/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/ldm","metadata":"/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6","publicartifacts":"/gdc/projects/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/publicartifacts","roles":"/gdc/projects/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/roles","userRoles":"/gdc/projects/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/dataload","connectors":"/gdc/projects/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/connectors","execute":"/gdc/projects/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/execute","config":"/gdc/projects/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/config","projectFeatureFlags":"/gdc/projects/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/projectFeatureFlags","schedules":"/gdc/projects/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/schedules","templates":"/gdc/md/voyb6fcvdngwfyf722vn9cmbv7sq6mf6/templates"},"meta":{"created":"2018-04-11
        11:11:20","summary":"Ruby SDK test cornerstone","updated":"2018-04-11 11:11:27","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"Ruby
        SDK test cornerstone","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Fri, 07 Sep 2018 08:29:31 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/zyoflmgyrszp8cjur3x271h18fgu8ikz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - RTtYVDo0e7zVQqjXh6rkLQ:Eiap1lJWj2kt-6tkUX00WA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - RTtYVDo0e7zVQqjXh6rkLQ:Eiap1lJWj2kt-6tkUX00WA:vzlnRRPI5bVRXINh
      X-Gdc-Request-Time:
      - '54'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/x61hr057hl6zofam5vsgltg92ozkbtyc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - GDNKUMmSE7CBKcSRg1IUdw:W-Q4v49gbW6tZZhf3dr2mA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - GDNKUMmSE7CBKcSRg1IUdw:W-Q4v49gbW6tZZhf3dr2mA:8RiLCnNv7FS5lcCz
      X-Gdc-Request-Time:
      - '61'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"PRODUCTION","cluster":"","authorizationToken":"<AUTHORIZATION_TOKEN>","guidedNavigation":"1[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":-0bZIKBRwtOXrs9u5XyGCA:iocnVZTdBZzpFvUHFZ_8wQ"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - GoodData realm="GoodData API" cookie=GDCAuthSST location=/gdc/account/login
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - ":-0bZIKBRwtOXrs9u5XyGCA:iocnVZTdBZzpFvUHFZ_8wQ:TQOB3HOYC2GiNwHU"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 24 Jan 2019 12:31:08 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - ":gLwffmVb_uYoOpdD0286Qg:baz-CXgk4R_T3L-tXmQnjw"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":gLwffmVb_uYoOpdD0286Qg:baz-CXgk4R_T3L-tXmQnjw:Ivr4hwiuy9Nvyz6B"
      X-Gdc-Request-Time:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Thu, 24 Jan 2019 13:12:48 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":gLwffmVb_uYoOpdD0286Qg:McLmhz6XQooVXmNbnR-_Bw"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - ":gLwffmVb_uYoOpdD0286Qg:McLmhz6XQooVXmNbnR-_Bw:JMnn0EJSFUJAZkma"
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 24 Jan 2019 13:12:48 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":gLwffmVb_uYoOpdD0286Qg:jh9IJ8q4YS2AscyYSAtVdg"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":gLwffmVb_uYoOpdD0286Qg:jh9IJ8q4YS2AscyYSAtVdg:1Dio7SIvWAU3ty4k"
      X-Gdc-Request-Time:
      - '11'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod"},"firstName":"the","lastName":"1","companyName":"","position":null,"created":"2017-02-10
        12:18:01","updated":"2018-12-03 11:09:12","country":null,"phoneNumber":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","timezone":null,"ssoProvider":"test-ruby","email":"rubydev+admin@gooddata.com","language":"en-US","ipWhitelist":null,"effectiveIpWhitelist":null}}'
  recorded_at: Thu, 24 Jan 2019 13:12:49 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":gLwffmVb_uYoOpdD0286Qg:yKchBNcDABPmUpr4I8pmLQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":gLwffmVb_uYoOpdD0286Qg:yKchBNcDABPmUpr4I8pmLQ:F0s0xBQqzmqtolN1"
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Thu, 24 Jan 2019 13:12:50 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/fanw3gqnpv87lmocwqj0x79k8i9zfepd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":gLwffmVb_uYoOpdD0286Qg:jMt-tK7EozhGP_l9t2HEJw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-T[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":7qcVBPNxZUPnW9uzDwNT2Q:CEoDH-AoVW6oe3Iv_2TVHQ"
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '39'
      X-Gdc-Request:
      - ":7qcVBPNxZUPnW9uzDwNT2Q:CEoDH-AoVW6oe3Iv_2TVHQ:s3rRhD0XS9E4JnHV"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Jan 2019 13:14:13 GMT
recorded_with: VCR 4.0.0
